@model HS.Entities.WebsiteLocationOperation
@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script>
    var type = '@ViewBag.type';
    var SaveHoursOpt = function () {
        var url = "/Website/SaveHoursOperation";
        if (type == "store") {
            var param = JSON.stringify({
            Id: $("#hoursopt_id").val(),
            SiteLocationId: $("#hoursopt_locid").val(),
            HoursofOperation: $("#HoursofOperation_opt").val(),
            OperationStartTime: $("#OperationStartTime_opt").val(),
            OperationEndTime: $("#OperationEndTime_opt").val(),
            StoreOperationStartTime: $("#OperationStartTime_opt").val(),
            StoreOperationEndTime: $("#OperationEndTime_opt").val(),
                IsAdditional: true,
                CompanyId: $("#hours_com_id").val()
        });
        }
        else {
            var param = JSON.stringify({
            Id: $("#hoursopt_id").val(),
            SiteLocationId: $("#hoursopt_locid").val(),
            HoursofOperation: $("#HoursofOperation_opt").val(),
            OperationStartTime: $("#OperationStartTime_opt").val(),
                OperationEndTime: $("#OperationEndTime_opt").val(),
            CompanyId: $("#hours_com_id").val()
        });
        }
        
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.result) {
                    OpenRightToLeftModal(false);
                    OpenSuccessMessageNew("Success", "Hours of operation saved successfully", function () {
                        $(".load_hours_opt_data").load("/Website/LoadHoursOfOPt?locid=" + data.locid);
                        $(".load_order_hours_opt_data").load("/Website/LoadOnlineOrderHoursOfOPt?locid=" + data.locid);
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        })
    }
    $(document).ready(function () {
        $(".add_hoursopt_inner_height").height(window.innerHeight - 105);
        $("#SaveWebLocationopt").click(function () {
            SaveHoursOpt();
        })
    })
    $(window).resize(function () {
        $(".add_hoursopt_inner_height").height(window.innerHeight - 105);
    });
</script>
<style>
    .add_hoursopt_container {
        width:100%;
        float:left;
    }
    .add_hoursopt_header {
        width: 100%;
    font-size: 2rem;
    background-color: #f4f5f8;
    padding: 10px 15px;
    }
    .add_hoursopt_inner_height {
         width:100%;
        float:left;
        padding:5px 15px;
        overflow-x:hidden;
        overflow-y:auto;
    }
    .add_hoursopt_inner_height .form-group {
        margin-bottom:10px;
    }
    .add_hoursopt_footer {
         width:100%;
        float:left;
        padding:5px 15px;
        text-align:right;
    }
</style>
@Html.HiddenFor(x => x.Id, new { id = "hoursopt_id" })
@Html.HiddenFor(x => x.SiteLocationId, new { id = "hoursopt_locid" })
@Html.HiddenFor(x => x.CompanyId, new { id = "hours_com_id"})
<div class="add_hoursopt_container">
    <div class="add_hoursopt_header">
        @Localize.T("Edit Hours of Operation")
    </div>
    <div class="add_hoursopt_inner_height">
        <div class="add_hoursopt_inner">
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Hours of Opration")</span>
                @Html.TextBoxFor(x => x.HoursofOperation, new { @class = "form-control", id = "HoursofOperation_opt", placeholder = Localize.T("Hours of opration"), @readonly = "readonly" })
            </div>
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Operation Start Time")</span>
                @Html.DropDownListFor(x => x.OperationStartTime, ViewBag.timeAvailable as List<SelectListItem>, new { @class = "form-control", id = "OperationStartTime_opt" })
            </div>
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Operation End Time")</span>
                @Html.DropDownListFor(x => x.OperationEndTime, ViewBag.timeAvailable as List<SelectListItem>, new { @class = "form-control", id = "OperationEndTime_opt" })
            </div>
        </div>
    </div>
    <div class="add_hoursopt_footer">
        <button class="btn btn-default green_button" id="SaveWebLocationopt"><i class="fa fa-save" aria-hidden="true"></i> @Localize.T("Save")</button>
    </div>
</div>
