@{
    Layout = null;
}
@model HS.Entities.SiteContact
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/CityStateZipAutoFill.css" rel="stylesheet" />
<script src="~/Content/Js/CityStateZipAutoFill.js"></script>
@Styles.Render("~/styles/AddCustomer")
<link href="~/Content/Css/AddFile/AddFile.css" rel="stylesheet" />
<style>
    #SaveSiteContact{
    float: right;
    background-color: #2ca01c;
    color: white;
    border-color: #2ca01c;
}
</style>
<script>
    function FormatCellNumber(svalue) {
    var ValueCleanSecondary = "";
    if (svalue != undefined && svalue != "" && svalue != null) {
        svalue = svalue.replace(/[-  ]/g, '');
        if (svalue.length == 10) {
            ValueCleanSecondary = svalue.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
            $("#CellPhone").css({ "border": "1px solid #babec5" });
        }
        else if (svalue.length > 10) {
            ValueCleanSecondary = svalue;
            $("#CellPhone").css({ "border": "1px solid red" });
        }
        else {
            $("#CellPhone").css({ "border": "1px solid red" });
            ValueCleanSecondary = svalue;
        }
    }
    return ValueCleanSecondary;
    }
    function FormatWorkNumber(svalue) {
    var ValueCleanSecondary = "";
    if (svalue != undefined && svalue != "" && svalue != null) {
        svalue = svalue.replace(/[-  ]/g, '');
        if (svalue.length == 10) {
            ValueCleanSecondary = svalue.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
            $("#WorkPhone").css({ "border": "1px solid #babec5" });
        }
        else if (svalue.length > 10) {
            ValueCleanSecondary = svalue;
            $("#WorkPhone").css({ "border": "1px solid red" });
        }
        else {
            $("#WorkPhone").css({ "border": "1px solid red" });
            ValueCleanSecondary = svalue;
        }
    }
    return ValueCleanSecondary;
}
    $(document).ready(function () {
        $(".add_site_location_inner_height").height(window.innerHeight - 94);
        $(".add_site_config_inner_height").height(window.innerHeight - 94);
        $("#SaveSiteContact").click(function () {
            var url = domainurl + "/Website/AddSiteContact";
            var param = JSON.stringify({
                Id: $("#site_contact_id").val(),
                ContactId: $("#site_contactId").val(),
                FirstName: $("#FirstName").val(),
                LastName: $("#LastName").val(),
                CellPhone: $("#CellPhone").val(),
                WorkPhone: $("#WorkPhone").val(),
                Email: $("#Email").val(),
                IsEmail: $("#IsEmail").prop("checked"),
                IsText: $("#IsText").prop("checked"),
            })
            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: url,
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data.result) {
                        OpenIeateryPopupModal("Success", "Site contact saved successfully")
                        OpenTopToBottomModal(domainurl + "/Website/AddSiteContact?id=" + data.id);
                            LoadSiteContactTab(1, null);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })
        })
        $("#SaveSiteContactAndClose").click(function () {
            var url = domainurl + "/Website/AddSiteContact";
            var param = JSON.stringify({
                Id: $("#site_contact_id").val(),
                ContactId: $("#site_contactId").val(),
                FirstName: $("#FirstName").val(),
                LastName: $("#LastName").val(),
                CellPhone: $("#CellPhone").val(),
                WorkPhone: $("#WorkPhone").val(),
                Email: $("#Email").val(),
                IsEmail: $("#IsEmail").prop("checked"),
                IsText: $("#IsText").prop("checked"),
            })
            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: url,
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data) {
                        OpenIeateryPopupModal("Success", "Site contact saved successfully")
                        CloseTopToBottomModal();
                            LoadSiteContactTab(1, null);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })
        })
        $("#CellPhone").keyup(function () {
        var sPhoneNumber = $(this).val();
        if (sPhoneNumber != undefined && sPhoneNumber != null && sPhoneNumber != "") {
            var scleanPhoneNumber = FormatCellNumber(sPhoneNumber);
            $(this).val(scleanPhoneNumber);
        }
        });
        $("#WorkPhone").keyup(function () {
        var sPhoneNumber = $(this).val();
        if (sPhoneNumber != undefined && sPhoneNumber != null && sPhoneNumber != "") {
            var scleanPhoneNumber = FormatWorkNumber(sPhoneNumber);
            $(this).val(scleanPhoneNumber);
        }
        });

    })
    $(window).resize(function () {
        $(".add_site_location_inner_height").height(window.innerHeight - 94);
    });
</script>

@Html.HiddenFor(m => m.Id, new { id = "site_contact_id" })
@Html.HiddenFor(m => m.ContactId, new { id = "site_contactId" })
<div class="hidden" style="display:none;visibility:hidden;height:0px;">

</div>
<div class="add_site_location_container">
    <div class="add_site_location_header">
        @Localize.T("Site Contact")
    </div>
    <div class="add_site_location_inner_height">
        <div class="add_site_location_inner">
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("First Name")</span>
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", id = "FirstName", placeholder = Localize.T("First Name") })
            </div>
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Last Name")</span>
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", id = "LastName", placeholder = Localize.T("Last Name") })
            </div>
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Cell Phone")</span>
                @Html.TextBoxFor(x => x.CellPhone, new { @class = "form-control", id = "CellPhone", placeholder = Localize.T("Cell Phone") })
            </div>
            @*<div class="form-group clearfix">
                <span class="span-style">@Localize.T("Work Phone")</span>
                @Html.TextBoxFor(x => x.WorkPhone, new { @class = "form-control", id = "WorkPhone", placeholder = Localize.T("Work Phone") })
            </div>*@
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Email")</span>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "Email", placeholder = Localize.T("Email") })
            </div>
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Notification Method")</span>
                <div class="col-md-3" style="padding-left:0px;">
                    <input type="checkbox" @(Model.IsEmail.HasValue && Model.IsEmail.Value == true ? "checked" : "") id="IsEmail" /> Email
                </div>
                <div class="col-md-6" style="padding-left:0px;">
                    <input type="checkbox" @(Model.IsText.HasValue && Model.IsText.Value == true ? "checked" : "") id="IsText" /> Text Message
                </div>
            </div>
        </div>
    </div>
    <div class="add_site_location_footer">
        <button onclick="CloseTopToBottomModal()" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> @Localize.T("Close")</button>

        <button class="btn btn-default" id="SaveSiteContact"><i class="fa fa-save" aria-hidden="true"></i> @Localize.T("Save")</button>
        <button class="btn btn-default" id="SaveSiteContactAndClose"> @Localize.T("Save and Close")</button>
    </div>
</div>
