@model HS.Entities.SocialMediaContent
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script>
    var SaveSocialMedia = function () {
        var url = "/Website/SaveSocialMedia";
        var param = JSON.stringify({
            Id: $("#social_id").val(),
            CompanyId: $("#social_com_id").val(),
            Name: $("#social_Name").val(),
            FollowUpLink: $("#social_FollowUpLink").val(),
            ShareLink: $("#social_ShareLink").val(),
        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data) {
                    OpenRightToLeftModal(false);
                    parent.$(".social_media_left_content").load("/Website/LoadSocialMediaContent?comid=" + comid);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        })
    }
    $(document).ready(function () {
        $(".add_hoursopt_inner_height").height(window.innerHeight - 105);
        $("#savesocialmediacontent").click(function () {
            if (CommonUiValidation()) {
                SaveSocialMedia();
            }
        })
        $("#social_Name").change(function () {
            console.log($("#social_Name").val());
            if ($("#social_Name").val() == "Facebook") {
                $("#social_ShareLink").attr("placeholder", "e.g http://www.facebook.com/sharer/sharer.php?u=app.ieatery.com");
            }
            else if ($("#social_Name").val() == "Twitter") {
                $("#social_ShareLink").attr("placeholder", "e.g https://twitter.com/intent/tweet?original_referer=app.ieatery.com&url=app.ieatery.com");
            }
            else {
                $("#social_ShareLink").attr("placeholder", "Share Link");
            }
        })
    })
    $(window).resize(function () {
        $(".add_hoursopt_inner_height").height(window.innerHeight - 105);
    });
</script>
<style>
    .add_hoursopt_container {
        width: 100%;
        float: left;
    }

    .add_hoursopt_header {
        width: 100%;
        font-size: 2rem;
        background-color: #f4f5f8;
        padding: 10px 15px;
    }

    .add_hoursopt_inner_height {
        width: 100%;
        float: left;
        padding: 5px 15px;
        overflow-x: hidden;
        overflow-y: auto;
    }

        .add_hoursopt_inner_height .form-group {
            margin-bottom: 10px;
        }

    .add_hoursopt_footer {
        width: 100%;
        float: left;
        padding: 5px 15px;
        text-align: right;
    }
</style>
@Html.HiddenFor(x => x.Id, new { id = "social_id" })
@Html.HiddenFor(x => x.CompanyId, new { id = "social_com_id" })
<div class="add_hoursopt_container">
    <div class="add_hoursopt_header">
        @Localize.T("Add Social Media")
    </div>
    <div class="add_hoursopt_inner_height">
        <div class="add_hoursopt_inner">
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Social Media")</span>
                @Html.DropDownListFor(m => m.Name, ViewBag.socialmediatype as List<SelectListItem>, new { @class = "form-control", id = "social_Name", datarequired = "true" })
            </div>
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Follow Link")</span>
                @Html.TextBoxFor(m => m.FollowUpLink, new { @class = "form-control", placeholder = "Follow Link", id = "social_FollowUpLink", datarequired = "true" })
            </div>
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Share  Link")</span>
                @Html.TextBoxFor(m => m.ShareLink, new { @class = "form-control", id = "social_ShareLink", placeholder = "Share Link" })
            </div>
        </div>
    </div>
    <div class="add_hoursopt_footer">
        <button class="btn btn-default green_button" id="savesocialmediacontent"><i class="fa fa-save"></i> @Localize.T("Save")</button>
    </div>
</div>
