@model HS.Entities.TrackingNumberSetting
@{
    Layout = null;
}
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script src="~/Content/Js/Site/Validation.js"></script>
<style>
    .add_tracking_header {
        width: 100%;
        font-size: 2rem;
        background-color: #f4f5f8;
        padding: 10px 15px;
    }

    .span-style {
        font-weight: 600;
        color: #615b5b;
        display: block;
        font-size: 14px;
        -webkit-tap-highlight-color: transparent;
        position: relative;
    }

    .add_tracking_footer {
        width: 100%;
        float: left;
        padding: 5px 15px;
        text-align: right;
    }

    #SaveTrackingNumber {
        background-color: #2ca01c !important;
        color: #fff !important;
        border-color: #2ca01c !important;
    }

    .add_tracking_inner_height {
        width: 100%;
        float: left;
        padding: 5px 15px;
        overflow-x: hidden;
        overflow-y: auto;
    }

        .add_tracking_inner_height .form-group {
            margin-bottom: 10px;
        }

    .tt-menu {
        background: white;
        min-width: 320px;
        font-size: 12px;
        max-height: 230px;
        -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
        box-shadow: 0 5px 20px rgba(0,0,0,0.3);
        margin-top: 0px;
        position: absolute;
        z-index: 100;
        display: none;
        overflow-y: scroll;
    }

    .tt-dataset-autocomplete {
        margin-top: -5px;
    }

    .tt-suggestion {
        min-height: 36px;
        display: block;
        padding: 10px 10px 9px 15px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        border-bottom: 1px solid #ccc;
    }

        .tt-suggestion span {
            width: 85%;
            float: left;
            display: inline;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 12px;
            display: block !important;
        }

    .tt-sug-text {
        width: 100%;
        font-size: 14px;
        text-overflow: ellipsis;
    }

    .tt-suggestion.active {
        background-color: #f2f2f2;
    }
</style>
<script>
    $(document).ready(function () {
        $(".add_tracking_inner_height").height(window.innerHeight - 105);
    })
    $(window).resize(function () {
        $(".add_tracking_inner_height").height(window.innerHeight - 105);
    });
</script>
<div class="add_tracking_container">
    <div class="add_tracking_header">
        @Localize.T("Call Record")
    </div>
    <div class="add_tracking_inner_height">
        <div class="add_tracking_inner">
            <div class="form-group clearfix customer_name_insert_div">
                <span class="span-style">@Localize.T("Tracking Number")</span>
                @Html.TextBoxFor(x => x.TrackingNumber, new { @class = "form-control", id = "TrackingNumber", placeholder = Localize.T("Tracking Number"), @readonly = "readonly" })
            </div>
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Forwarding To")</span>
                @Html.DropDownList("customerslist", ViewBag.customerlist as List<SelectListItem>, new { @class = "form-control" })
            </div>
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Comment")</span>
                @Html.TextAreaFor(x => x.Comments, new { @class = "form-control", id = "Comments", placeholder = Localize.T("Comment") })
            </div>
        </div>
    </div>
    <div class="add_tracking_footer">
        <button class="btn btn-default" id="SaveTrackingNumber"> @Localize.T("Save")</button>
    </div>
</div>

