@model List<HS.Entities.SocialMediaContent>
@{
    Layout = null;
}
<style>
    .load_social{
        margin-top:10px;
    }
</style>
<script>
    var DeleteSocialMedia = function (id, comid) {
        var url = "/Website/DeleteSocialMedia";
        var param = JSON.stringify({
            id: id,
            comid: comid
        });
        $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: url,
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
            success: function (data) {
                if (data) {
                    parent.$(".social_media_left_content").load("/Website/LoadSocialMediaContent?comid=" + data.comid);
                }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })
    }
</script>
    <div class="load_social">
        <table class="table table-bordered" id="tblwlo">
            <thead>
                <tr>
                    <th>Social Media</th>
                    <th>Follow Link</th>
                    <th>Share Link</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.FollowUpLink</td>
                        <td>@item.ShareLink</td>
                        <td>
                            <a class="item-edit" href="javascript:void(0)" onclick="OpenRightToLeftModal('/Website/AddSocialMediaContent?id=@item.Id&comid=@item.CompanyId')" data-id="@item.Id"><i class="fa fa-edit"></i></a>
                            <a class="item-del" href="javascript:void(0)" data-id="@item.Id" onclick="DeleteSocialMedia(@item.Id, '@item.CompanyId')"> <i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

