@model List<HS.Entities.TrackingNumberSetting>
@{
    Layout = null;
}
<link href="~/Content/Css/Menu/MenuListPartial.css" rel="stylesheet" />
<style>
    .track_setting_anchor {
        cursor: pointer;
        color: #2ca01c;
    }
    .track_number_header_container button{
        float:right;
        background-color:#2ca01c;
        border-color:#2ca01c;
        color:white;
    }
    #btntrackingphnnumber{
        background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
    }
</style>
<script>
    var DeleteTrackNumber = function (id) {
        var url = "/Website/DeleteTrackNumber";
        var param = JSON.stringify({
            id: id
        })
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data) {
                    LoadTrackingSetting();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        })
    }
    $(document).ready(function () {
        $(".track-del").click(function () {
            var idval = $(this).attr("data-id");
            OpenConfirmationMessageNew("Confirmation", "Are you sure, you want to delete this item?", function () { DeleteTrackNumber(idval) });
        })
    })
</script>
<div class="track_number_header_container">
    <button class="btn" id="btn_tracknumber" onclick="OpenRightToLeftModal('/Website/AddTrackingNumber?id=0')"><i class="fa fa-plus"></i> New</button>
</div>

<div class="">
    <table class="display all_menu menu_list_partial_info" id="tblMenu">
        <thead>
            <tr>
                <th>Tracking Number</th>
                <th>Forwarding Number</th>
                <th>Location</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                                    <td>
                                        @if (item.IsActive == true)
                                        {
                                            <a class="track_setting_anchor" href="javascript:void(0)" onclick="OpenRightToLeftModal('/Website/AddTrackingNumber?id=@item.Id')">@item.TrackingNumber </a><span style="color: green;" title="Active"><i class="fa fa-check"></i></span>
                                        }
                                        else
                                        {
                                            <a class="track_setting_anchor" href="javascript:void(0)" onclick="OpenRightToLeftModal('/Website/AddTrackingNumber?id=@item.Id')">@item.TrackingNumber </a><span style="color:red;" title="InActive"><i class="fa fa-close"></i></span>
                                        }
                                    </td>
                        <td>@item.ForwardingNumber</td>
                        <td>@item.CompanyName</td>
                        <td>@item.Comments</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
