@model List<HS.Entities.WebsiteLocationOperation>
@{
    Layout = null;
}
<style>
    .container-hoursofopt {
        width: 100%;
        float: left;
        padding: 10px 10px;
    }

    .hoursofopt_header {
        font-weight: 600;
        font-size: 15px;
    }
    .item-edit, .item-del{
        padding:2px !important;
    }
</style>
<script>
    var sttime = '@ViewBag.StartTime';
    var endtime = '@ViewBag.EndTime';
    var DeleteHoursOpt = function(id){
        var url = "/Website/DeleteHoursOpt";
        var param = JSON.stringify({
            id: id
        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.result) {
                    parent.$(".load_hours_opt_data").load("/Website/LoadHoursOfOPt?locid=" + data.locid);
                    parent.$(".load_order_hours_opt_data").load("/Website/LoadOnlineOrderHoursOfOPt?locid=" + data.locid);
                    parent.$(".load_hours_operation").load("/Website/LoadHoursOperation?daylist=" + String(parent.$("#selectDaysAvailable_loc").val()) + "&locid=" + data.locid);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        })
    }
    $(document).ready(function () {
        $(".item-edit").click(function () {
            var idval = $(this).attr('data-id');
            OpenRightToLeftModal("/Website/AddHoursofOpt?id=" + idval + "&starttime=" + optsttime + "&endtime=" + optendtime);
        })
        $(".item-del").click(function () {
            var idval = $(this).attr('data-id');
            OpenConfirmationMessageNew("Confirmation", "Are you sure, you want to delete this item?", function () {
                DeleteHoursOpt(idval);
            });
        })
    })
</script>
<div class="container-fluid">
    <div class="container-hoursofopt">
        <div class="hoursofopt_header">
            Online Ordering Hours of Operation
        </div>
        <table class="table table-bordered" id="tblwlo">
            <thead>
                <tr>
                    <th>Operation Day</th>
                    <th>Operation Duration</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    var Monobj = Model.Where(x => x.HoursofOperation.ToLower() == "mon" && x.IsAdditional == false).FirstOrDefault();
                    if (Monobj != null)
                    {
                        <tr>
                            <td>@Monobj.HoursofOperation</td>
                            <td>@HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.ForHoursStringSingleFormat(Monobj.OperationStartTimeVal) - @HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.ForHoursStringSingleFormat(Monobj.OperationEndTimeVal)</td>
                            <td>
                                <a class="item-edit" href="javascript:void(0)" data-id="@Monobj.Id"><i class="fa fa-edit"></i></a>
                                <a class="item-del" href="javascript:void(0)" data-id="@Monobj.Id"> <i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }

                    var Tueobj = Model.Where(x => x.HoursofOperation.ToLower() == "tue" && x.IsAdditional == false).FirstOrDefault();
                    if (Tueobj != null)
                    {
                        <tr>
                            <td>@Tueobj.HoursofOperation</td>
                            <td>@HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.ForHoursStringSingleFormat(Tueobj.OperationStartTimeVal) - @HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.ForHoursStringSingleFormat(Tueobj.OperationEndTimeVal)</td>
                            <td>
                                <a class="item-edit" href="javascript:void(0)" data-id="@Tueobj.Id"><i class="fa fa-edit"></i></a>
                                <a class="item-del" href="javascript:void(0)" data-id="@Tueobj.Id"> <i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }

                    var Wedobj = Model.Where(x => x.HoursofOperation.ToLower() == "wed" && x.IsAdditional == false).FirstOrDefault();
                    if (Wedobj != null)
                    {
                        <tr>
                            <td>@Wedobj.HoursofOperation</td>
                            <td>@HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.ForHoursStringSingleFormat(Wedobj.OperationStartTimeVal) - @HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.ForHoursStringSingleFormat(Wedobj.OperationEndTimeVal)</td>
                            <td>
                                <a class="item-edit" href="javascript:void(0)" data-id="@Wedobj.Id"><i class="fa fa-edit"></i></a>
                                <a class="item-del" href="javascript:void(0)" data-id="@Wedobj.Id"> <i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }

                    var Thuobj = Model.Where(x => x.HoursofOperation.ToLower() == "thu" && x.IsAdditional == false).FirstOrDefault();
                    if (Thuobj != null)
                    {
                        <tr>
                            <td>@Thuobj.HoursofOperation</td>
                            <td>@HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.ForHoursStringSingleFormat(Thuobj.OperationStartTimeVal) - @HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.ForHoursStringSingleFormat(Thuobj.OperationEndTimeVal)</td>
                            <td>
                                <a class="item-edit" href="javascript:void(0)" data-id="@Thuobj.Id"><i class="fa fa-edit"></i></a>
                                <a class="item-del" href="javascript:void(0)" data-id="@Thuobj.Id"> <i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }

                    var Friobj = Model.Where(x => x.HoursofOperation.ToLower() == "fri" && x.IsAdditional == false).FirstOrDefault();
                    if (Friobj != null)
                    {
                        <tr>
                            <td>@Friobj.HoursofOperation</td>
                            <td>@HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.ForHoursStringSingleFormat(Friobj.OperationStartTimeVal) - @HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.ForHoursStringSingleFormat(Friobj.OperationEndTimeVal)</td>
                            <td>
                                <a class="item-edit" href="javascript:void(0)" data-id="@Friobj.Id"><i class="fa fa-edit"></i></a>
                                <a class="item-del" href="javascript:void(0)" data-id="@Friobj.Id"> <i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }

                    var Satobj = Model.Where(x => x.HoursofOperation.ToLower() == "sat" && x.IsAdditional == false).FirstOrDefault();
                    if (Satobj != null)
                    {
                        <tr>
                            <td>@Satobj.HoursofOperation</td>
                            <td>@HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.ForHoursStringSingleFormat(Satobj.OperationStartTimeVal) - @HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.ForHoursStringSingleFormat(Satobj.OperationEndTimeVal)</td>
                            <td>
                                <a class="item-edit" href="javascript:void(0)" data-id="@Satobj.Id"><i class="fa fa-edit"></i></a>
                                <a class="item-del" href="javascript:void(0)" data-id="@Satobj.Id"> <i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }

                    var Sunobj = Model.Where(x => x.HoursofOperation.ToLower() == "sun" && x.IsAdditional == false).FirstOrDefault();
                    if (Sunobj != null)
                    {
                        <tr>
                            <td>@Sunobj.HoursofOperation</td>
                            <td>@HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.ForHoursStringSingleFormat(Sunobj.OperationStartTimeVal) - @HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.ForHoursStringSingleFormat(Sunobj.OperationEndTimeVal)</td>
                            <td>
                                <a class="item-edit" href="javascript:void(0)" data-id="@Sunobj.Id"><i class="fa fa-edit"></i></a>
                                <a class="item-del" href="javascript:void(0)" data-id="@Sunobj.Id"> <i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

