@model List<HS.Entities.SiteContact>
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using HtmlAgilityPack;
@*@Styles.Render("~/styles/MenuListPartial")*@
@*@Scripts.Render("~/scripts/MenuList")*@
<link href="~/Content/Css/Menu/MenuListPartial.css" rel="stylesheet" />
<script>
    var OpenSiteLocById = function (id) {
        OpenTopToBottomModal(domainurl + "/Website/AddSiteContact?id=" + id);
    }
    var FilterSiteLoc = function () {
        pageno = 1;

        var searchtext = $("#txt_search_sitecontacts").val();
        $(".Load_Contacts").html(TabsLoaderText);
        $(".Load_Contacts").load(domainurl + "/Website/SiteContact?PageNo=" + pageno + "&PageSize=50" + "&SearchText=" + encodeURI(searchtext));
    }
    
    $(document).ready(function () {
        $("#btnAddNewSiteContact").click(function () {
            OpenTopToBottomModal(domainurl + "/Website/AddSiteContact?id=0");
        })
          $(".icon_sort_timeclock").click(function () {
            var searchtext = $("#txt_search_sitecontacts").val();
            var orderval = $(this).attr('data-val');
            $(".Load_Contacts").html(TabsLoaderText);
            $(".Load_Contacts").load(domainurl + "/Website/SiteContact?PageNo=" + 1 + "&PageSize=50" + "&SearchText=" + encodeURI(searchtext) + "&order=" + encodeURI(orderval));
        })
       
        $(".item-del").click(function () {
            var idval = $(this).attr('data-id');
            OpenConfirmationMessageNew("Confirmation", "Are you sure, you want to delete this item?", function () {
                var url = domainurl + "/Website/DeleteSiteContact";
                var param = JSON.stringify({
                    id: idval
                })
                $.ajax({
                    type: "POST",
                    ajaxStart: $(".loader-div").show(),
                    url: url,
                    data: param,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function (data) {
                        if (data) {
                            LoadSiteContactTab(1, null);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                })
            })
        })
    })
</script>
<div class="menulist_container">
    <div class="menulist_search_filter">
        <div class="input-group add-on">
            @*<input value="@Model.Searchtext" class="form-control filterinput border_radius_0 menu_search_text" placeholder="Search">*@
            <input value="@TempData["data"]" class="form-control filterinput border_radius_0 menu_search_text" placeholder="Search" id="txt_search_sitecontacts">
            <div class="input-group-btn"><button title="Search" class="btn search_menu_btn" onclick="FilterSiteLoc()" id="btnsearchtext"><i class="glyphicon glyphicon-search"></i></button></div>
        </div>
        <button title="@Localize.T("Create Contact")" class="btn create_menu_btn btnAddNewSiteContact" id="btnAddNewSiteContact"><i class="fa fa-plus"></i>@Localize.T(" New")</button>
    </div>


    <div class="menu-table">
        <table class="display all_menu menu_list_partial_info" id="tblSiteLoc">
            <thead class="table-head-border">
                <tr>
                    <th class="thead-th-style">
                        <div>@Localize.T("Name")</div>
                        @if (ViewBag.order == "ascending/contactname" || ViewBag.order == "descending/contactname")
                        {
                            <div><i style="color:darkred;font-weight: bold" class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/contactname"></i> <i style="color:darkred;font-weight: bold" class="fa fa-angle-down icon_sort_timeclock" data-val="descending/contactname"></i></div>
                        }
                        else
                        {
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/contactname"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/contactname"></i></div>

                        }
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Cell Phone")</div>
                        @if (ViewBag.order == "ascending/cellphone" || ViewBag.order == "descending/cellphone")
                        {
                            <div><i style="color:darkred;font-weight: bold" class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/cellphone"></i> <i style="color:darkred;font-weight: bold" class="fa fa-angle-down icon_sort_timeclock" data-val="descending/cellphone"></i></div>
                        }
                        else
                        {
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/cellphone"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/cellphone"></i></div>

                        }
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Email")</div>
                        @if (ViewBag.order == "ascending/email" || ViewBag.order == "descending/email")
                        {
                            <div><i style="color:darkred;font-weight: bold" class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/email"></i> <i style="color:darkred;font-weight: bold" class="fa fa-angle-down icon_sort_timeclock" data-val="descending/email"></i></div>

                        }
                        else
                        {
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/email"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/email"></i></div>

                        }
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Action")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="tr-style">
                        <td class="table-body-td-style" valign="top">
                            <div class="menu_list_partial_device_header">@Localize.T("Name")<span>:</span></div>
                            <div class="menu_list_partial_device_info">
                                <a class="cus-anchor" onclick="OpenSiteLocById(@item.Id)" href="javascript:void(0)">@item.FirstName @item.LastName</a> 
                                @if (item.IsEmail.HasValue && item.IsEmail.Value == true){ <span title="Email" style="float:right;padding-left:10px;"><i class="fa fa-envelope"></i></span>} 
                                @if (item.IsText.HasValue && item.IsText.Value == true){ <span title="Text Message" style="float:right;"><i class="fa fa-phone"></i></span>}
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="menu_list_partial_device_header">@Localize.T("Cell Phone")<span>:</span></div>
                            <div class="menu_list_partial_device_info"> <span>@item.CellPhone</span></div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="menu_list_partial_device_header">@Localize.T("Email")<span>:</span></div>
                            <div class="menu_list_partial_device_info"><span>@item.Email</span></div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="menu_list_partial_device_header">@Localize.T("Action")<span>:</span></div>
                            <div class="menu_list_partial_device_info"> <a class="cus-anchor item-del" href="javascript:void(0)" id="item-del" data-id="@item.Id" title="@Localize.T("Delete")"><i class="fa fa-trash-o"></i></a></div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="LoadLocationsTab(@(ViewBag.PageNumber),'@(ViewBag.order)')">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="LoadLocationsTab(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="LoadLocationsTab(1, '@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="LoadLocationsTab(2,'@(ViewBag.order)')">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="LoadLocationsTab(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""),'@(ViewBag.order)')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="LoadLocationsTab(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="LoadLocationsTab(1,'@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="LoadLocationsTab(2,'@(ViewBag.order)''@(ViewBag.order)')">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="LoadLocationsTab(3,'@(ViewBag.order)')">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="LoadLocationsTab(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""),'@(ViewBag.order)')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="LoadLocationsTab(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadLocationsTab(@(ViewBag.PageNumber-2),'@(ViewBag.order)')">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadLocationsTab(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="LoadLocationsTab(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="LoadLocationsTab()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="LoadLocationsTab(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadLocationsTab(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadLocationsTab(@(ViewBag.PageNumber + 2),'@(ViewBag.order)')">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="LoadLocationsTab(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="LoadLocationsTab(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadLocationsTab(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadLocationsTab(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="LoadLocationsTab(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="LoadLocationsTab(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadLocationsTab(@(ViewBag.PageNumber - 1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="LoadLocationsTab(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadLocationsTab(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="LoadLocationsTab(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
        }
    </div>
</div>