@model HS.Entities.EmailTextTemplate
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<style>
    .templatetxt-design {
        font-size: 2rem;
        font-weight: 400;
        color: #393a3d;
        padding-bottom: 20px;
    }

    .content-design {
        font-size: 16px;
        font-weight: 600;
        color: #393a3d;
        margin-top: 30px;
    }

    .SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }

    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }

    .btn-mailtext {
        float: right;
        background-color: green;
        color: white;
    }

        .btn-mailtext:hover {
            color: white;
        }

    #TxtContent {
        margin-top: 7px !important;
    }
</style>

<script>
    var SaveTextTemplate = function () {
        if (CommonUiValidation()) {

            var url = domainurl + "/Customer/AddCustomerEmailTextTemplate";

            var param = {
                Id: $("#idval").val(),
                TextContent: $("#TxtContent").val()
            };

            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: url,
                data: JSON.stringify(param),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    $('.close').trigger('click');
                    setTimeout(function () {
                        OpenSuccessMessageNew("Success!", "Email template successfully added");
                    }, 600);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })
        }
    }
    $(document).ready(function () {

        $("#SaveTextEmail").click(function () {
            SaveTextTemplate();
        })

    });
</script>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(x => x.Id, new { id = "idval" })
            <h4>@Localize.T("Add Email Template")</h4>
        </div>

        <div class="col-md-12">
            <span>@Localize.T("Email Template Text")</span>
            @Html.TextAreaFor(x => x.TextContent, new { @class = "form-control", id = "TxtContent" })
        </div>
    </div>
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn btn-mailtext" id="SaveTextEmail"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
        </div>
    </footer>
</section>
