@{
    Layout = null;
}
@model HS.Entities.EquipmentType

@using Localize = HS.Web.UI.Helper.LanguageHelper



    @Styles.Render("~/styles/AddProductCategory")
    @Scripts.Render("~/scripts/AddProductCategory")
    <script>
        var parentId = '@Model.ParentId';
        $(document).ready(function () {
            if (parentId != '') {
                $("#ParentId").val(parentId);
                $('#cbx').prop("checked", true);
                $("#ParentId").fadeIn();
            }
        });

    </script>

    <div class="add_prod_cat_header">
        <div>@Localize.T("Category Information")</div>
    </div>
    <div class="apc_container">

        @Html.HiddenFor(x => x.Id)
       
        <div class="form-group clearfix">   
            <span class="content-type">@Localize.T("Name")<span class="red">*</span></span> 
            <div class="txt-form">
                @Html.TextBoxFor(x => x.Name, new { @class = "content-text form-control", datarequired = "true" ,placeholder = "Name" })
                <label rel="Name" class="label hidden red position-absolute">*@Localize.T("Name Required")</label>
            </div>     
            <div class="row add_prod_cat_margin_top">
                <div class="col-md-12 col-cus">
                    @*<input class="item-check" type="checkbox" id="chkStatus" />*@

                    <label for="cbx" class="label-cbx">
                        <input id="cbx" type="checkbox" class="invisible item-check">
                        <div class="checkbox manual_left">
                            <svg width="20px" height="20px" viewBox="0 0 20 20">
                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                <polyline points="4 11 8 15 16 6"></polyline>
                            </svg>
                        </div>
                    </label>
                    <span class="txt-check">@Localize.T("Is a sub category")</span>
                </div> 
            </div>
            <div class="drop-control add_prod_cat_margin_top">
                @Html.DropDownListFor(x => x.ParentId, (List<SelectListItem>)ViewBag.EquipmentTypeList, new { @id = "ParentId", @class = "form-control"})
            </div>  
        </div> 
    </div>

    
    <section class="footer-section">
        <footer class="footer">
            <div class="SaveCancelDiv">
                <button class="btn" id="SaveProductCategory"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
            </div>
        </footer>
    </section>
