@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.CustomerSystemNo
<link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/Css/Layout/Loader.css" rel="stylesheet" />
<link href="~/Content/Css/CustomerNo/AddCustomerSystemNo.css" rel="stylesheet" />
<script src="~/Content/JQuery/jquery-3.2.1.min.js"></script>
<script src="~/Content/Js/Customer/AddCustomerSystemNo/AddCustomerSystemNo.js"></script>
<script src="~/Content/Js/Login/domainurl.js"></script>
<div class="">
    <div class="LoaderWorkingDiv1" style="margin-top:0px">
        <div style='position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;'>
            <div class="lds-css ng-scope">
                <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
            </div>
        </div>
    </div>

    <div class="generate_system_no_container">
       <div class="generate_system_no_header">
           @Localize.T("Generate System No.")
       </div>
        <div class="generate_system_no_inner_height">
            <div class="generate_system_no_inner">
                <div class="generate_system_no_inner_content">
                    @Html.HiddenFor(x => x.Id, new { id = "id" })
                    <div class="generate_system_no_inner_block">
                        <span class="span-style">@Localize.T("Number Prefix")</span>
                        @Html.DropDownListFor(x => x.Prefix, (List<SelectListItem>)ViewBag.CustomerNoPrefixList, new { @class = "form-control", id = "Prefix" })
                    </div>
                    <div class="generate_system_no_inner_block">
                        <span class="span-style">@Localize.T("Starting Number")</span>
                        @Html.TextBoxFor(x => x.StartingNumber, new { @class = "form-control", id = "StartingNumber", @type = "number" })
                    </div>
                    <div class="generate_system_no_inner_block">
                        <span class="span-style">@Localize.T("Total Number")</span>
                        @Html.TextBoxFor(x => x.TotalNumber, new { @class = "form-control", id = "TotalNumber", @type = "number" })
                    </div>

                </div>



                <div class="resultDiv">

                </div>

            </div>
        </div>
      

     
            <div class="generate_system_no_footer">
                <button type="button" onclick="parent.ClosePopup()" class="btn btn-cancel-genarare red_button">@Localize.T("Cancel")</button>
                <button type="button" class="btn btn-genrate-number green_button">@Localize.T("Generate")</button>
            </div>
       
    </div>
</div>


<div class="CloseButtonDiv" onclick="parent.ClosePopup()">
    <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png" />
</div>
