@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.CustomerNoPrefix
<script src="~/Content/Js/CustomerNoPrefix/AddCustomerNoPrefix.js"></script>
<link href="~/Content/Css/CustomerNo/AddCustomerSystemNoPrefix.css" rel="stylesheet" />
<script>
    var centralStationSelectedValue = '@Model.CentralstationName';
    $(document).ready(function () {
        console.log("test");
        if (centralStationSelectedValue != null && centralStationSelectedValue != "")
        {
            $("#CentralstationName").val(centralStationSelectedValue);
        }
    });
</script>
<div class="acsnp_header">
    @Localize.T("Customer System No Prefix")
</div>
<div class="container-fluid acsnp_inner">
    @Html.HiddenFor(x => x.Id)
    <div class="form-group clearfix">
        <span class="content-type">@Localize.T("Central Station Name")<span class="red">*</span></span>
        <div class="txt-form">
            @Html.DropDownListFor(x => x.CentralstationName, ViewBag.CentralStationName as List<SelectListItem>, new { @class = "form-control", datarequired = "true" })
            <label rel="Name" class="label hidden red position-absolute">*@Localize.T("Central Station Name Required")</label>
        </div>
    </div>
    <div class="form-group clearfix">
        <span class="content-type">@Localize.T("Number Prefix")<span class="red">*</span></span>
        <div class="txt-form">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control content-text", datarequired = "true" ,placeholder ="Number Prefix" })
            <label rel="Name" class="label hidden red position-absolute">*@Localize.T("Number prefix Required")</label>
        </div>
    </div>
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn" id="SaveNoPrefix"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
        </div>
    </footer>
</section>
