@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.CustomerSnapshot>
<link href="~/Content/Css/CustomerDetails/CustomerInvoiceHistoriesPartial.css" rel="stylesheet" />
<style>
    .header_font_estimate{
        background-color: #e6e3e3;
        padding:5px;
    }
</style>
@{
    if (Model.Count > 0)
    {
        <div class="customer_created_histories_row">

            @{foreach (var item in Model)
                {
                    <div class="header_font_estimate">@Html.Raw(item.Description) @Localize.T("created by ") <b>@item.Updatedby</b> @Localize.T("on") <b>@HS.Framework.DateTimeExtension.UTCToClientTime(item.Logdate).ToString("MM/dd/yy") @HS.Framework.DateTimeExtension.UTCToClientTime(item.Logdate).ToString("hh:mm tt")</b></div>
                }
            }
        </div>
                }
}
