@model List<HS.Entities.CustomerNote>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

@*<script src="~/Content/Js/Lead/LeadFollowUpTab/LeadFollowUpTab.js"></script>*@
<link href="~/Content/Css/Lead/LeadFollowUpTab/LeadFollowUpTab.css" rel="stylesheet" />
<script src="~/Content/Js/Customer/CustomerFollowUpTab/CustomerFollowUpTab.js"></script>

<input type="hidden" id="AddReminderLeadId" value="@ViewBag.CustomerFollowUpPartialCustomerId" />
<div class="page-content-wrap">
    <div class="">
        <div class="header-section">
            <div class="row">
                <div class="col-md-12">
                    @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerFollowUpAdd))
                    {
                        <button class="btn btn-note AddReminder" @*id="AddReminder"*@ type="button">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
                        </button>
                    }
                </div>
            </div>
        </div>
        <div class="notes-table">
            <table class="display" id="tblFollowUpNotes">
                <thead class="table-head-border FollowUpNotes_header_hide_for_device">
                    <tr>
                        <th class="thead-th-style sorting">
                            @Localize.T("Reminder On")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Reminder Note")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Reminder Method")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Assigned to")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Created By")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Created On")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Actions")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-style FollowUpNotes_device_row">
                            <td class="table-body-td-style" valign="top">
                                <div class="FollowUpNotes_device_header">@Localize.T("Reminder On")</div>
                                <div class="FollowUpNotes_device_info">
                                    <span>@item.ReminderDate.Value.ToString("MM/dd/yy")</span>
                                </div>
                            </td>
                            <td class="table-body-td-style FollowUpNotes_device_row" valign="top">
                                <div class="FollowUpNotes_device_header">@Localize.T("Reminder Note")</div>
                                <div class="FollowUpNotes_device_info">
                                    <span>@item.Notes</span>
                                </div>
                            </td>
                            <td class="table-body-td-style FollowUpNotes_device_row" valign="top">
                                <div class="FollowUpNotes_device_header">@Localize.T("Reminder Method")</div>
                                <div class="FollowUpNotes_device_info">
                                    @{ var ReminderMethod = "";
                                        if (item.IsEmail.Value == true)
                                        {
                                            ReminderMethod = "Email";
                                        }
                                        if (item.IsText.Value == true)
                                        {
                                            ReminderMethod = "Text";
                                        }
                                        if (item.IsEmail.Value == true && item.IsText.Value == true)
                                        {
                                            ReminderMethod = "Email , Text";
                                        }
                                        <span>@ReminderMethod</span>
                                    }
                                </div>
                               
                            </td>
                            <td class="table-body-td-style FollowUpNotes_device_row" valign="top">
                                <div class="FollowUpNotes_device_header">@Localize.T("Assigned to")</div>
                                <div class="FollowUpNotes_device_info">
                                    <span>@item.AssignName</span>
                                </div>
                            </td>
                            <td class="table-body-td-style FollowUpNotes_device_row" valign="top">
                                <div class="FollowUpNotes_device_header">@Localize.T("Created By")</div>
                                <div class="FollowUpNotes_device_info">
                                    <span>@item.CreatedBy</span>
                                </div>
                            </td>
                            <td class="table-body-td-style FollowUpNotes_device_row" valign="top">
                                <div class="FollowUpNotes_device_header">@Localize.T("Created On")</div>
                                <div class="FollowUpNotes_device_info">
                                    <span>@item.CreatedDate.ToString("MM/dd/yy") @item.CreatedDate.ToString("hh:mm tt")</span>
                                </div>
                            </td>

                            <td class="table-body-td-style FollowUpNotes_device_row" valign="top">
                                <div class="FollowUpNotes_device_header">@Localize.T("Actions")</div>
                                <div class="FollowUpNotes_device_info">
                                    @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerFollowUpEdit))
                                    {
                                        <a href="javascript:void(0)" class="follow-up-edit" data-id="@item.Id">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            @Localize.T("Edit")
                                        </a>
                                    }
                                    @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerFollowUpDelete))
                                    {
                                        <a href="javascript:void(0)" class="follow-up-delete" data-id="@item.Id" title="@Localize.T("Delete")">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    }
                                </div>
                              
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

