@{
    ViewBag.Title = "Customer";
    Layout = null;
}
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using AppConfig = HS.Framework.Utils.AppConfig;

@using Localize = HS.Web.UI.Helper.LanguageHelper

@Styles.Render("~/styles/customer")
@Scripts.Render("~/scripts/customer")
<script>
    var firstdate = '@ViewBag.firstdate';
    var lastdate = '@ViewBag.lastdate';
    var CustomerLeadImportFile = function () {
        OpenRightToLeftModal("@(AppConfig.DomainSitePath)/File/AddCustomerLeadImportFile/?isCustomer=true");
    }
    $(document).ready(function () {
        
        if (window.innerWidth < 421) {
            $(".fixed_header").width(window.innerWidth - 30);
        }
        else if (window.innerWidth < 769) {
            $(".fixed_header").width(window.innerWidth - $(".sidebar").width() - 29);
        }
        else {
            $(".fixed_header").width(window.innerWidth - $(".sidebar").width() - 47);
    }
       
    });
    $(window).resize(function () {
        setTimeout(function () {
            if (window.innerWidth < 421) {
                $(".fixed_header").width(window.innerWidth - 30);
            }
            else if (window.innerWidth < 769) {
                $(".fixed_header").width(window.innerWidth - $(".sidebar").width() - 29);
            }
            else {
                $(".fixed_header").width(window.innerWidth - $(".sidebar").width() - 47);
            }
        }, 50);
       
    })
</script>
<div class="content-wrap custom-head">
    <div class="container-fluid customer_container">
        <div class="row less_padding position-relative">
            <div class="clearfix fixed_header manual_top">
                <div class="customer_header_left_custom">
                    <h2 class="header_text_position">@Localize.T("Customers")</h2>
                </div>
                <div class="customer_header_right_custom">
                   
                    <div class="AddNewBtnDiv customer_add_btn_div"> 
                       
                        @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.ExportCustomerList))
                        {
                            <button id="CustomerReport" class="btn customer_report_btn" title="Download">
                                <i class="glyphicon glyphicon-download-alt"></i>
                            </button>
                        }
                       
                      
                        <div class="btn-group">
                             @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerCreate))
                             {
                                <button class="btn customer-new" id="AddNewCustomerList" type="button" title="@Localize.T("Add Customer")">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" Customer")
                                </button>
                             }

                             @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerImport))
                            {
                                <button data-toggle="dropdown" class="btn dropdown-toggle customer-btn-dropdown" type="button" aria-expanded="false" title="@Localize.T("Import Customers")">
                                    <span class="caret"></span>
                                </button>
                                    <ul class="dropdown-menu customer-dropdown-ul-style import_leads_dropdown">
                                        <li><a href="javascript:void(0)" onclick="CustomerLeadImportFile()">@Localize.T("Import Customers")</a></li>
                                    </ul>

                            }




                            @*<button data-toggle="dropdown" class="btn dropdown-toggle customer-btn-dropdown" type="button">
                                <span class="caret caret-style"></span>
                            </button>
                            <ul class="dropdown-menu cus-dropdown-ul " @*customer-dropdown-ul-style* @>
                                <li><a href="javascript:void(0)">@Localize.T("Import Customer")</a></li>
                            </ul>*@
                        </div>
                       
                        
                      
                    </div>
                    <div class="dateviewed">
                        @{Html.RenderAction("DateViewPartial", "Customer");}
                    </div>
                </div>
           
                <div style="position:fixed">
                     <ul class="dropdown-menu customer-dropdown-ul-style import_leads_dropdown">
                        <li><a href="javascript:void(0)" onclick="CustomerLeadImportFile()">@Localize.T("Import Customers")</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ListContents">

        </div>
    </div>
</div>

<div class="ListViewLoader">
    <div>
        <div class="lds-css ng-scope">
            <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
        </div>
    </div>
    @*<div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div>*@
</div>
<div class="displayNone">
    <a href="@(AppConfig.DomainSitePath)/Customer/AddCustomer" class="addManufacturerMagnific">@Localize.T("Add New Customer")</a>
</div>
