@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.CustomerSnapshot

<style>
    .customer-convert-history-content p {
        line-height: 17px;
        margin: 0;
        font-size: 13px;
    }
</style>

<div class="customer-convert-history-content">
    @{
        if (Model == null)
        {
            <p><span style="font-weight:600">@Localize.T("Added as customer")</span></p>
        }
        else
        {
            <p>
                <span>@Localize.T("Converted from Lead at ")</span>
                <span style="font-weight:600">@Model.Logdate</span>
            </p>
            <p>
                <span>@Localize.T("By : ")</span>
                <span style="font-weight:600">@Model.Updatedby</span>
            </p>
        }
    }
</div>