@model List<HS.Entities.CustomerSnapshot>
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

@Styles.Render("~/styles/CustomerSnapshot")
@Scripts.Render("~/scripts/CustomerSnapshot")

<div class="snap-content">
    <table id="tblSnapshot">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="tr-style">
                    <td class="table-body-td-style" valign="top">
                        <span>@item.Logdate.ToString("MM/dd/yy")</span>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <span><a class="appoinmenttype-event" href="javascript:void(0)" id="@item.Description">@item.Description</a> @Localize.T("Call By") @item.Updatedby</span>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>
