@model HS.Entities.CustomerPaging

@{
    Layout = null;
    int pagecount =Model.PageCount;
    int currentNumber = Model.CurrentNumber;
    int pageNumber = Model.PageNumber;
    int OutOfNumber = Model.OutOfNumber;
    string CallingFunctionName = "CustomerSearchKeyUp";
    if(Model.IsLead)
    {
        CallingFunctionName = "LeadSearchKeyUp";
    }
}
    <div class="paginationContainer">
        @if (currentNumber > 0)
        {
        <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(currentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(OutOfNumber)</span></div>
        }
        @if (pagecount == 1)
        {
        <div class="paginationMiddleButtondv">
            <button class="PaginationButtons disabledBtn">Previous</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton activeBtn" onclick="@(CallingFunctionName)(@(pageNumber))">1</button>
        </div>
        <div class="paginationRightButtondv">
            <button class="PaginationButtons disabledBtn">Next</button>
        </div>
        }
        else if (pagecount == 2)
        {
        <div class="paginationMiddleButtondv">
            <button class="PaginationButtons @(pageNumber==1?" disabledBtn":"")" onclick="@(CallingFunctionName)(@(pageNumber!=1?(pageNumber-1).ToString():" "))">Previous</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton @(pageNumber==1?" activeBtn":"")" onclick="@(CallingFunctionName)(1)">1</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton @(pageNumber==2?" activeBtn":"")" onclick="@(CallingFunctionName)(2)">2</button>
        </div>
        <div class="paginationRightButtondv">
            <button class="PaginationButtons @(pageNumber==2? " disabledBtn" : "" )" onclick="@(CallingFunctionName)(@(pageNumber!=2?(pageNumber+1).ToString():" "))">Next</button>
        </div>
        }
        else if (pagecount == 3 || (pageNumber == 1 && pagecount == 3))
        {
        <div class="paginationMiddleButtondv">
            <button class="PaginationButtons @(pageNumber==1?" disabledBtn":"")" onclick="@(CallingFunctionName)(@(pageNumber!=1?(pageNumber-1).ToString():" "))">Previous</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton @(pageNumber==1?" activeBtn":"")" onclick="@(CallingFunctionName)(1)">1</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton @(pageNumber==2?" activeBtn":"")" onclick="@(CallingFunctionName)(2)">2</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton @(pageNumber==3?" activeBtn":"")" onclick="@(CallingFunctionName)(3)">3</button>
        </div>
        <div class="paginationRightButtondv">
            <button class="PaginationButtons @(pageNumber==3?" disabledBtn":"")" onclick="@(CallingFunctionName)(@(pageNumber!=3?(pageNumber+1).ToString():" "))">Next</button>
        </div>
        }
        else if (pagecount > 3)
        {
        if (pageNumber == pagecount)
        {
        <div class="paginationMiddleButtondv">
            <button class="PaginationButtons" onclick="@(CallingFunctionName)(@(pageNumber-1))">Previous</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton" onclick="@(CallingFunctionName)(@(pageNumber-2))">@(pageNumber - 2)</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton" onclick="@(CallingFunctionName)(@(pageNumber-1))">@(pageNumber - 1)</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton activeBtn" onclick="@(CallingFunctionName)(@(pageNumber))">@(pageNumber)</button>
        </div>
        <div class="paginationRightButtondv">
            <button class="PaginationButtons disabledBtn" onclick="@(CallingFunctionName)()">Next</button>
        </div>
        }
        else if (pageNumber == 1)
        {
        <div class="paginationMiddleButtondv">
            <button class="PaginationButtons" onclick="@(CallingFunctionName)(@(pageNumber-1))">Previous</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton activeBtn">@(pageNumber)</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton" onclick="@(CallingFunctionName)(@(pageNumber+1))">@(pageNumber + 1)</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton" onclick="@(CallingFunctionName)(@(pageNumber + 2))">@(pageNumber + 2)</button>
        </div>
        <div class="paginationRightButtondv">
            <button class="PaginationButtons" onclick="@(CallingFunctionName)(@(pageNumber+1))">Next</button>
        </div>
        }
        else if (pageNumber == 2)
        {
        <div class="paginationMiddleButtondv">
            <button class="PaginationButtons" onclick="@(CallingFunctionName)(@(pageNumber-1))">Previous</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton" onclick="@(CallingFunctionName)(@(pageNumber-1))">@(pageNumber - 1)</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton activeBtn">@(pageNumber)</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton" onclick="@(CallingFunctionName)(@(pageNumber + 1))">@(pageNumber + 1)</button>
        </div>
        <div class="paginationRightButtondv">
            <button class="PaginationButtons" onclick="@(CallingFunctionName)(@(pageNumber+1))">Next</button>
        </div>
        }
        else
        {
        <div class="paginationMiddleButtondv">
            <button class="PaginationButtons" onclick="@(CallingFunctionName)(@(pageNumber-1))">Previous</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton" onclick="@(CallingFunctionName)(@(pageNumber - 1))">@(pageNumber - 1)</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton activeBtn" onclick="@(CallingFunctionName)(@(pageNumber))">@(pageNumber)</button>
        </div>
        <div class="NavigatonButtonsDiv">
            <button class="NavigationButton" onclick="@(CallingFunctionName)(@(pageNumber + 1))">@(pageNumber + 1)</button>
        </div>
        <div class="paginationRightButtondv">
            <button class="PaginationButtons" onclick="@(CallingFunctionName)(@(pageNumber+1))">Next</button>
        </div>
        }
        }
    </div>