@model HS.Entities.CustomerHeaderMoneyBar

@{
    Layout = null;
    var currentuser = ((HS.Web.UI.Helper.CustomPrincipal)(User));
}
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using AppConfig = HS.Framework.Utils.AppConfig;
@using Localize = HS.Web.UI.Helper.LanguageHelper
    <div class="money-bar width-100p List_color_div">
        @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerSummmery))
        {

            <div class="money-bar-left-content">

                <div class="estimate active_customer_filter">
                    @{
                        int CustomerCount = 0;
                        int.TryParse(Model.CustomerCount, out CustomerCount);
                    }

                    <span class="cl_amount spnCustomerCount">@HS.Web.UI.Helper.LabelHelper.NumberFormat(CustomerCount)</span>
                    <div class="sub-content">
                        <span>@Localize.T("Customer")</span>
                    </div>
                </div>


            </div>

            if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerBarTotalRMRCount))
            {
                <div class="money-bar-right-content">
                    <div class="activity totalrmr_customer_filter">
                        <span class="cl_amount spnTotalRMRCount">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Double.Parse(Model.TotalRMR))</span>
                        <span class="cl_amount spnDifferentiate">@Localize.T("/")</span>
                        <span class="cl_amount spnTotalRMRValue">@HS.Web.UI.Helper.LabelHelper.NumberFormat(Int32.Parse(Model.TotalRMRCount)) </span>
                        <div class="sub-content">
                            <span>@Localize.T("Total RMR")</span>
                        </div>
                    </div>
                </div>
            }

            if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerBarEstimateAmount))
            {
                <div class="money-bar-left-content">
                    <div class="overdue openinvoice_customer_filter">
                        <span class="cl_amount spnOpenInvoice">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Double.Parse(Model.EstimateAmount))</span>
                        <div class="sub-content">
                            <span>@Localize.T("Open Invoices")</span>
                        </div>
                    </div>
                </div>
            }

            if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerBarDueAmount))
            {
                <div class="money-bar-right-content">

                    <div class="invoice dueinvoice_customer_filter">
                        <span class="cl_amount spnDueInvoice">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Double.Parse(Model.DueAmount))</span>
                        <div class="sub-content">
                            <span>@Localize.T("Due Amount")</span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
