@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
@using AppConfig = HS.Framework.Utils.AppConfig;
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />

<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>

<script src="~/Content/momentJs/moment.min.js"></script>
@Styles.Render("~/styles/CustomerFile")
@*@Scripts.Render("~/scripts/CustomerFile")*@
<style>
    .item-send {
        color: #2ca01c;
    }

    .customer_file_container {
        width: 100%;
        float: left;
        padding-left: 0px;
        padding-right: 0px;
    }

    #myFileTab > li.active {
        background-color: #2ca01c !important;
        border: 1px solid #2ca01c;
    }

    ul#myFileTab {
        margin-top: 10px;
    }

    #myFileTab > li {
        border: 1px solid #ccc;
    }
</style>
@*<script src="~/Content/Js/FileDownload/jquery.fileDownload.js"></script>*@
<script>
    var CustomerId = '@ViewBag.CustomerId';
    var LoadCustomerDiv = "#customer_tab_" + CustomerLoadId + " ";
    //var url = $("#down-file").attr('data-id');
    var QA1Load = function () {
        var SearchText = $("#srch-term").val();
        $(LoadCustomerDiv + ".LoadCustomerQA").load("/Customer/LoadQA1?id=" + CustomerId)
    }
    var QA2Load = function () {
         var SearchText = $("#srch-term").val();
        $(LoadCustomerDiv + ".LoadCustomerQA").load("/Customer/LoadQA2?id=" + CustomerId)
    }
    var QAFinanceLoad = function () {
         var SearchText = $("#srch-term").val();
        $(LoadCustomerDiv + ".LoadCustomerQA").load("/Customer/LoadQAFinance?id=" + CustomerId)
    }
    $(document).ready(function () {

        $(LoadCustomerDiv + ".LoadCustomerQA").load("/Customer/LoadQA1?id=" + CustomerId)


    })
</script>
<div class="invoices_tabs_header">
    <ul class="nav nav-tabs invoices-tabs" id="myFileTab">
        <li class="active AllFunding" onclick="QA1Load()">
            <a data-target=".QA1_Load" data-toggle="tab">@Localize.T("QA1")</a>
        </li>
        <li class="AllExpense" onclick="QA2Load()">
            <a data-target=".QA2_Load" data-toggle="tab">@Localize.T("QA2")</a>
        </li>
        <li class="AllExpense" onclick="QAFinanceLoad()">
            <a data-target=".QAFinance_Load" data-toggle="tab">@Localize.T("QA Finance")</a>
        </li>
    </ul>
   
</div>
<div class="LoadCustomerQA">

</div>

