@{
    Layout = null;
}
<script>
    $(document).ready(function () {
        $(".get_update_det_height").height(window.innerHeight - 50);
    });
      $(window).resize(function () {
         $(".get_update_det_height").height(window.innerHeight - 50);
    })

</script>
    <div class="get_update_det_container">
        <div class="get_update_det_header">
            Latest Update Details
        </div>
        <div class="get_update_det_height">
            <div class="get_update_det_inner">
                <ol>
                    @if (!String.IsNullOrEmpty(ViewBag.ResultEmail))
                    {


                        <li>
                            @ViewBag.ResultEmail
                        </li>
                    }

                    @if (!String.IsNullOrEmpty(ViewBag.ResultSSN))
                    {
                        <li>
                            @ViewBag.ResultSSN
                        </li>
                    }

                    @if (!String.IsNullOrEmpty(ViewBag.ResultTitle))
                    {
                        <li>
                            @ViewBag.ResultTitle
                        </li>
                    }


                    @if (!String.IsNullOrEmpty(ViewBag.ResultCusNo))
                    {
                        <li>
                            @ViewBag.ResultCusNo
                        </li>
                    }

                    @if (!String.IsNullOrEmpty(ViewBag.resfirstname))
                    {
                        <li>
                            @ViewBag.resfirstname
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.reslastname))
                    {
                        <li>
                            @ViewBag.reslastname
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.restype))
                    {
                        <li>
                            @ViewBag.restype
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resbussinessname))
                    {
                        <li>
                            @ViewBag.resbussinessname
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resdateofbirth))
                    {
                        <li>
                            @ViewBag.resdateofbirth
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resprimaryphone))
                    {
                        <li>
                            @ViewBag.resprimaryphone
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.ressecondaryphone))
                    {
                        <li>
                            @ViewBag.ressecondaryphone
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.rescellno))
                    {
                        <li>
                            @ViewBag.rescellno
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resfax))
                    {
                        <li>
                            @ViewBag.resfax
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.rescallingtime))
                    {
                        <li>
                            @ViewBag.rescallingtime
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resaddress))
                    {
                        <li>
                            @ViewBag.resaddress
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resstreet))
                    {
                        <li>
                            @ViewBag.resstreet
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.rescity))
                    {
                        <li>
                            @ViewBag.rescity
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resstate))
                    {
                        <li>
                            @ViewBag.resstate
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.reszipcode))
                    {
                        <li>
                            @ViewBag.reszipcode
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.rescreditscore))
                    {
                        <li>
                            @ViewBag.rescreditscore
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.rescontactterm))
                    {
                        <li>
                            @ViewBag.rescontactterm
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resfundingcompany))
                    {
                        <li>
                            @ViewBag.resfundingcompany
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resmonthlymonitoringfee))
                    {
                        <li>
                            @ViewBag.resmonthlymonitoringfee
                        </li>
                    }

                    @if (!String.IsNullOrEmpty(ViewBag.rescellularbackup))
                    {
                        <li>
                            @ViewBag.rescellularbackup
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resleadsource))
                    {
                        <li>
                            @ViewBag.resleadsource
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.rescustomerfunded))
                    {
                        <li>
                            @ViewBag.rescustomerfunded
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resmaintanence))
                    {
                        <li>
                            @ViewBag.resmaintanence
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resnote))
                    {
                        <li>
                            @ViewBag.resnote
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.ressalesdate))
                    {
                        <li>
                            @ViewBag.ressalesdate
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resinstalldate))
                    {
                        <li>
                            @ViewBag.resinstalldate
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resinstaller))
                    {
                        <li>
                            @ViewBag.resinstaller
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.ressoldby))
                    {
                        <li>
                            @ViewBag.ressoldby
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resfundingdate))
                    {
                        <li>
                            @ViewBag.resfundingdate
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resjoindate))
                    {
                        <li>
                            @ViewBag.resjoindate
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resqa1))
                    {
                        <li>
                            @ViewBag.resqa1
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resqa2))
                    {
                        <li>
                            @ViewBag.resqa2
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resqa1date))
                    {
                        <li>
                            @ViewBag.resqa1date
                        </li>
                    }

                    @if (!String.IsNullOrEmpty(ViewBag.resqa2date))
                    {
                        <li>
                            @ViewBag.resqa2date
                        </li>
                    }

                    @if (!String.IsNullOrEmpty(ViewBag.resstatus))
                    {
                        <li>
                            @ViewBag.resstatus
                        </li>
                    }

                    @if (!String.IsNullOrEmpty(ViewBag.resbillamount))
                    {
                        <li>
                            @ViewBag.resbillamount
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.respaymentmethod))
                    {
                        <li>
                            @ViewBag.respaymentmethod
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resbillcycle))
                    {
                        <li>
                            @ViewBag.resbillcycle
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resbilltax))
                    {
                        <li>
                            @ViewBag.resbilltax
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resbilloutstanding))
                    {
                        <li>
                            @ViewBag.resbilloutstanding
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resservicedate))
                    {
                        <li>
                            @ViewBag.resservicedate
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resisactive))
                    {
                        <li>
                            @ViewBag.resisactive
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resdba))
                    {
                        <li>
                            @ViewBag.resdba
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resbussinessacounttype))
                    {
                        <li>
                            @ViewBag.resbussinessacounttype
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resrefferingcustomer))
                    {
                        <li>
                            @ViewBag.resrefferingcustomer
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resownership))
                    {
                        <li>
                            @ViewBag.resownership
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.respurchaseprice))
                    {
                        <li>
                            @ViewBag.respurchaseprice
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.reschildof))
                    {
                        <li>
                            @ViewBag.reschildof
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resestclosedate))
                    {
                        <li>
                            @ViewBag.resestclosedate
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resdonotcall))
                    {
                        <li>
                            @ViewBag.resdonotcall
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.rescsprovider))
                    {
                        <li>
                            @ViewBag.rescsprovider
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.ressoldby2))
                    {
                        <li>
                            @ViewBag.ressoldby2
                        </li>
                    }

                    @if (!String.IsNullOrEmpty(ViewBag.ressoldby3))
                    {
                        <li>
                            @ViewBag.ressoldby3
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resmovingdate))
                    {
                        <li>
                            @ViewBag.resmovingdate
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resfollowupdate))
                    {
                        <li>
                            @ViewBag.resfollowupdate
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resbuyoutamountbyads))
                    {
                        <li>
                            @ViewBag.resbuyoutamountbyads
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resbuyoutamountbysalesrep))
                    {
                        <li>
                            @ViewBag.resbuyoutamountbysalesrep
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resfinancedterm))
                    {
                        <li>
                            @ViewBag.resfinancedterm
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resfinancedamount))
                    {
                        <li>
                            @ViewBag.resfinancedamount
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.ressoldamount))
                    {
                        <li>
                            @ViewBag.ressoldamount
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.resleadsourcetype))
                    {
                        <li>
                            @ViewBag.resleadsourcetype
                        </li>
                    }
                </ol>
            </div>
        </div>
    </div>
           