@{
    Layout = null;
    var CurrentLoggedInUser = ((HS.Web.UI.Helper.CustomPrincipal)(User));
}
@model List<HS.Entities.QA1Script>
@using Localize = HS.Web.UI.Helper.LanguageHelper


<script>
    var CustomerId = '@ViewBag.CustomerId';
     var OpenQA1ById = function (invId) {
    if (typeof (invId) != "undefined" && invId > 0) {
        OpenTopToBottomModal(domainurl + "/Customer/AddQA1/?id="+ CustomerId+"&qa1Id="+invId);
    }
}
    var AddQA1 = function () {
        OpenTopToBottomModal(domainurl + "/Customer/AddQA1/?id="+ CustomerId);
    }
    $(document).ready(function () {

    })
</script>
<div class="Inventory-Page-wrap">
    <div class="container-fluid customer_file_container">
        <div id="page-slide" class="page-header1 slide">
            <div class="customer_file_search">
                <button class="btn btn_cf add_customer_file" onclick="AddQA1()" type="button">
                    <i class="fa fa-plus" aria-hidden="true"></i> @Localize.T("Create QA1")
                </button>
            </div>
        </div>
        <div class="custom-table">
            <table class="display ld_act_customer_file_table">
                <thead class="table-head-border">
                    <tr>
                        <th class="thead-th-style sorting">
                            @Localize.T("QA1")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Created By")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Created Date")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Status")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-style">

                            <td valign="top">
                                <div class="lacf_device">@Localize.T("QA1") <span>:</span></div>
                                <div class="lacf_info">
                                    <a class="fileDownloadCustom cus-anchor" onclick="OpenQA1ById(@item.Id)" data-toggle="tooltip" data-id="@item.Id">@item.Id</a>
                                </div>
                            </td>

                            <td valign="top">
                                <div class="lacf_device">@Localize.T("Created By") <span>:</span></div>
                                <div class="lacf_info">
                                    <span>@item.CreatedBy</span>
                                </div>

                            </td>
                            <td valign="top">
                                <div class="lacf_device">@Localize.T("Created Date") <span>:</span></div>
                                <div class="lacf_info">
                                    <span>@item.CreatedDate.ToString("MM/dd/yy")</span>
                                </div>
                            </td>

                            <td>
                                <div class="lacf_device">@Localize.T("Status") <span>:</span></div>
                                <div class="lacf_info">
                                    <span>@(item.IsCompleted ? "Completed" : "Incompleted")</span>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
