@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/Report/RecurringBillingReportPartial.css" rel="stylesheet" />
<script>
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var FilterCategoryResult = function () {
        var pageno = $("#CategoryPageNumber").val();
        var orderby = $("#CategoryOrderBy").val();
        var searchtext = $("#product_category_search_text").val();
        $("#loadProductCategoryList").load(domainurl + "/Customer/ProductCategoryListLoadPartial?SearchText=" + encodeURI(searchtext) + "&PageNo=" + pageno + "&OrderBy=" + orderby);
    }
    var PaginationFilterCategoryResult = function (pageno) {
        $("#CategoryPageNumber").val(pageno);
        FilterCategoryResult();
    }
    var SearchFilterCategoryResult = function (pageno) {
        $("#CategoryPageNumber").val(1);
        FilterCategoryResult();
    }
    var SortFilterCategoryResult = function (val) {
        $("#CategoryPageNumber").val(1);
        $("#CategoryOrderBy").val(val);
        FilterCategoryResult();
    }
    $(document).ready(function () {
        FilterCategoryResult();
    });
</script>

    <div class="container-fluid">

        <div id="page-slide" class="page-header slide">
            <div class="row margin_less">
                <div class="left_div_contain">
                    <span class="page-title"> @Localize.T("Categories")</span>
                    <div class="back-link"> <a href="javascript:void(0)" id="LoadBack"> @Localize.T("Go to Inventory")</a> </div>
                </div>
                <div class="right_div_contain">
                    <button class="btn btn-primary" id="AddNewProduct" type="button" data-toggle="modal" data-target="#myModal2">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
                    </button>
                </div>
            </div>
            <div class="popup-win">
                <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            </div>

                            <div class="modal-body">
                                <div id="NewProductCategory">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sales_summery_report_top_bar">
            <div class="input-group add-on">
                @if (ViewBag.searchtext != "" && ViewBag.searchtext != "undefined")
                {
                    <input class="form-control" placeholder="Search By Name" value="@ViewBag.searchtext" id="product_category_search_text" />
                }
                else
                {
                    <input class="form-control" placeholder="Search By Name" value="" id="product_category_search_text" />
                }

                <div class="input-group-btn"> <button class="btn green_button" onclick="SearchFilterCategoryResult()" id="btn_product_category_search" title="@Localize.T("Search")"><i class="fa fa-search"></i></button></div>
            </div>
        </div>
        <div class="col-md-12">
            <input type="hidden" id="CategoryPageNumber" value="1" />
            <input type="hidden" id="CategoryOrderBy" value="asc" />
            &nbsp;
        </div>
        <div id="loadProductCategoryList">

        </div>
    </div>