@{ 
    Layout = null;
}
@model HS.Entities.Customer
<html>
<head>
    <link href="~/Content/Css/Shared/Header.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/Shared/Layout.css" rel="stylesheet" />
    @*<link href="~/Content/MagnificPopUp/magnific-popup.css" rel="stylesheet" />*@
    <style>
        .left-contents{
            padding-left:10px;
            padding-right:10px;
        }

        .right-contents{
            padding-left:10px;
            padding-right:10px;
        }
        .subscribe_btn{
            background-color: #2ca01c;
            color: #ffffff;
             -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
            box-shadow: none;
            border-right: none;
            border: 1px solid #8d9096;
            outline: none;
            padding: 0 15px;
            position: relative;
            font-weight: 600;
            min-width: 80px;
            cursor: pointer;
            font-size: 1.4rem;
            height: 34px;
            line-height: 34px;
            overflow: visible;
            text-align: center;
        }
    </style>
    
    <script src="~/Content/Jquery-ui/jquery.js"></script>
    <script src="~/Content/Js/Layout/utils.js"></script>
    @*<script src="~/Content/MagnificPopUp/jquery.magnific-popup.js"></script>*@

    <script>
        var Subscribe = function () {
            var url = domainurl + "/Customer/SubscribeToAuthorize/";
            var param = JSON.stringify({
                'FirstName': $("#FirstName").val(),
                'LastName': $("#LastName").val(),
                'CardNumber': $("#FirstName").val(),
                'CardPassword': $("#FirstName").val(),
                'Address': $("#FirstName").val(),
                'Zip': $("#FirstName").val(),
                'Country': $("#FirstName").val(),
                'CompanyName': $("#FirstName").val(),
                'SubscritptionAmount': $("#FirstName").val(),
                'TotalOccurrences': $("#FirstName").val(),
                'TrialAmount': $("#FirstName").val(),
                'TrialOccurrences': $("#FirstName").val(),
                'CustomerId': $("#CustomerId").val()
            });
            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: url,
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                     
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $(".loader-div").hide();
                    console.log(errorThrown);
                }
            });
        }
        $(document).ready(function () {
            $("#SubscribeBtn").click(function () {

            });

        });
    </script>
</head>
<body>

</body>
</html>

<div>
    <input type="hidden" id="CustomerId" value="@Model.Id" />
    <h3>ARB Subscription Form</h3>
    <div>     
        <div class="width-50p left-contents">
            <!-- Card info-->
            <div>
                <div>First Name</div>
                <div>
                    @Html.TextBoxFor(x => x.FirstName)
                </div>
            </div>

            <div>
                <div>Last Name</div>
                <div>
                    @Html.TextBoxFor(x => x.LastName)
                </div>
            </div>

            <div>
                <div>CardNumber</div>
                <div>
                    <input type="text" id="CardNumber" placeholder="Card Number" />
                </div>
            </div>

            <div>
                <div>CVV Number</div>
                <div>
                    <input type="text" id="CCVNumber" placeholder="CVV Number" />
                </div>
            </div>

            <div>
                <div>Expiration Date</div>
                <div>
                    <input type="text" id="ExpirationDate" placeholder="MMYY" />
                </div>
            </div>

            <!-- Card info end-->
            <!--Amount info-->
            <div>
                <div>Subscritption Amount</div>
                <div>
                    @Html.TextBoxFor(x => x.BillAmount)
                </div>
            </div>

            <div>
                <div>Total Occurrences</div>
                <div><input type="text" id="TotalOccurences" /></div>
            </div>

            <div>
                <div>TrialAmount</div>
                <div><input type="text" id="TrialAmount" /></div>
            </div>
        </div>
        

        <div class="width-50p right-contents">
            <div>
                <div>TrialOccurrences</div>
                <div><input type="text" id="TrialOccurrences" /></div>
            </div>
            <!--Amount info  end-->
            <!--Address info -->
            <div>
                <div>Address</div>
                <div>
                    @Html.TextBoxFor(x => x.Street)
                </div>
            </div>

            <div>
                <div>City</div>
                <div>
                    @Html.TextBoxFor(x => x.City)
                </div>
            </div>

            <div>
                <div>State</div>
                <div>
                    @Html.TextBoxFor(x => x.State)
                </div>
            </div>

            <div>
                <div>Country</div>
                <div>
                    @Html.TextBoxFor(x => x.Country)
                </div>
            </div>

            <div>
                <div>Zip Code</div>
                <div>
                    @Html.TextBoxFor(x => x.ZipCode)
                </div>
            </div>
            <!-- Address end-->
            <!--Others info-->
            <div>
                <div>Description</div>
                <div><input type="text" id="Description" placeholder="Description" /></div>
            </div>

            <div>
                <div>Company Name</div>
                <div><input type="text" id="CompanyName" placeholder="Customer company name" /></div>
            </div>
            <!--Others info end-->

        </div> 
    </div>
    <div>
        <div>
            <input type="checkbox" />
            <label>I agree to all terms and conditions.</label>
        </div>
        <div>
            <button class="subscribe_btn" id="SubscribeBtn">Subscribe</button>
        </div>
    </div>
</div>
