@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
@model HS.Entities.CreditScoreGrade
<link href="~/Content/Css/PackageSettings/AddPackageInclude.css" rel="stylesheet" />
@*<script src="~/Content/Js/PackageSetup/AddNewPackageInclude.js"></script>*@
<style>
    .DropLoader {
        width: 91%;
        height: 13%;
        margin-right: 20px;
        position: absolute;
        top: 150px;
        background-color: gray;
        opacity: .6;
        z-index: 10;
    }

        .DropLoader span {
            padding: 25%;
            color: #fff;
        }
</style>
<script>

    var saveCreditScoreGrade = function () {
        console.log("hiiii5");
        var url = domainurl + "/Customer/SaveCreditGrade/";
        var param = JSON.stringify({
            id: $("#Id").val(),
            MaxScore: $("#MaxScore").val(),
            MinScore: $("#MinScore").val(),
            Grade: $("#Grade").val(),
        
        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data == false) {
                    OpenErrorMessageNew("Error!", "Something Wrong!!!");
                }
                else {
                    $(".close").click();
                    $(".CustomerCreditScore").load("/Customer/LoadCreditGrades");
             
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }
    $(document).ready(function () {
        parent.$('.close').click(function () {
            parent.$(".modal-body").html('');
        })
        $("#SaveCreditScoreGrade").click(function () {
            if (CommonUiValidation()) {
                saveCreditScoreGrade();
            }
        })

        /*$(".PackageId_select2").select2({})
        $(".EquipmentId_select2").select2({})*/
    })
</script>
<div class="add_package_include_header">
    @Localize.T("Credit Score Grade")
</div>
<div class="container-fluid">
    <input type="hidden" value="@Model.ID" id="Id"/>
    <div class="form-group clearfix">
        <label>@Localize.T("Min Score")<span class="red">*</span></label>
        <input type="number" id="MinScore" value="@Model.MinScore" placeholder="Min Score" class="form-control" datarequired="true" name="MinScore" />

        <label rel="MinScore" class="label hidden red position-absolute">*@Localize.T("Please enter min score")</label>
    </div>

    <div class="form-group clearfix">
        <label>@Localize.T("Max Score")<span class="red">*</span></label>
        <input type="number" id="MaxScore" placeholder="Max Score"  value="@Model.MaxScore" class="form-control" datarequired = "true" name = "MaxScore"/>

        <label rel="MaxScore"  class="label hidden red position-absolute">*@Localize.T("Please enter max score")</label>
    </div>

 

    <div class="form-group clearfix">
        <label>@Localize.T("Grade")<span class="red">*</span></label>
        <input type="text" id="Grade" placeholder="Grade" value="@Model.Grade" class="form-control" datarequired="true" name="Grade" />

        <label rel="Grade" class="label hidden red position-absolute">*@Localize.T("Please enter a grade")</label>
    </div>
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="save-package-div">
            <button class="btn-save-package-include" id="SaveCreditScoreGrade">@Localize.T("Save")</button>
        </div>
    </footer>
</section>


