@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
}

<script src="~/Content/Js/CustomerTechCall/AddEquipmentTechCall.js"></script>
@*<link href="~/Content/Css/CustomerTechCall/AddEquipmentTechCall.css" rel="stylesheet" />*@
<link href="~/Content/Css/LeadEquipment/LeadEquipment.css" rel="stylesheet" />


<style>
    #SaveEquipmentTechcallSetup{
        margin-top : 20px;
    }
</style>

<script>

    var CustomerIdAddEqp = "@ViewBag.AddEqpTechCallPartialCustomerId"

    var AddNewEquipmentTechCall = function () {
        TechCallEqpList = [];

        $(".HasItem").each(function () {
            TechCallEqpList.push({
                EquipmentId: $(this).attr('data-id'),
                Quantity: $(this).find('.txtProductQuantity').val(),
                UnitPrice: $(this).find('.txtProductRate').val(),
                TotalPrice: $(this).find('.txtYourAmount').val(),
            });
        });
        var url = domainurl + "/Customer/AddEquipmentTechCall";
        var EquipmentParam = {
            CustomerID: CustomerIdAddEqp,
            AddedEquipmetList: TechCallEqpList
        };
        var param = JSON.stringify({
            'AddedEquipmentsList': EquipmentParam
        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data == true) {
                    parent.$(".TechCallAddEquipment").hide();
                    parent.LoadTechcallEqpListLoad();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        })

    }


    $(document).ready(function () {
        $("#SaveEquipmentTechcallSetup").click(function () {

            if ($(".HasItem").length == 0) {
                OpenErrorMessageNew("Error!", "You must need to select at least equipment to proceed", "");
            }
            if ($(".HasItem").length > 0) {
                AddNewEquipmentTechCall();
            }
        })
    })
</script>


<div class="">
    <table class="LeadEquipmentTab" id="LeadEquipmentTab" style="width:100% !important">
        <thead>
            <tr>
                <th class="thead-th-style1 tab-index">
                    <span>

                    </span>
                </th>
                <th class="thead-th-style1 tab-Product">
                    <span>
                        @Localize.T("Product/Service")
                    </span>
                </th>
                <th class="thead-th-style1 tab-Quantity">
                    <span>
                        @Localize.T("Quantity")
                    </span>
                </th>
                <th class="thead-th-style1 tab-Rate">
                    <span>
                        @Localize.T("Rate")
                    </span>
                </th>
                <th class="thead-th-style1 tab-Amount">
                    <span>
                        @Localize.T("Retail Price")
                    </span>
                </th>
                <th class="thead-th-style1 tab-Amount">
                    <span>
                        @Localize.T("Your Cost")
                    </span>
                </th>
                <th class="thead-th-style1 tab-Action">

                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td valign="top"></td>
                <td valign="top">
                    <input type="text" class="ProductName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                    <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                    <span class="spnProductName"></span>
                </td>
                <td valign="top">
                    <input type="number" class="txtProductQuantity" />
                    <span class="spnProductQuantity"></span>
                </td>
                <td valign="top">
                    <input type="text" class="txtProductRate" />
                    <span class="spnProductRate"></span>
                </td>
                <td valign="top">
                    <input type="text" class="txtProductAmount" />
                    <span class="spnProductAmount"></span>
                </td>
                <td valign="top">
                    <input type="text" class="txtYourAmount" />
                    <span class="spnYourAmount"></span>
                </td>
                <td valign="top" class="tableActions">
                    <i class="fa fa-trash-o" aria-hidden="true" title="@Localize.T("Delete")"></i>
                </td>
            </tr>
            <tr>
                <td valign="top"></td>
                <td valign="top">
                    <input type="text" class="ProductName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                    <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                    <span class="spnProductName"></span>
                </td>
                <td valign="top">
                    <input type="number" class="txtProductQuantity" />
                    <span class="spnProductQuantity"></span>
                </td>
                <td valign="top">
                    <input type="text" class="txtProductRate" />
                    <span class="spnProductRate"></span>
                </td>
                <td valign="top">
                    <input type="text" class="txtProductAmount" />
                    <span class="spnProductAmount"></span>
                </td>
                <td valign="top">
                    <input type="text" class="txtYourAmount" />
                    <span class="spnYourAmount"></span>
                </td>
                <td valign="top" class="tableActions">
                    <i class="fa fa-trash-o" aria-hidden="true" title="@Localize.T("Delete")"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <button class="btn btn-default" id="SaveEquipmentTechcallSetup" >@Localize.T("Save Equipment")</button>
    </div>

</div>
