@model HS.Entities.CreateQA2Model

@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/Lead/EmergencyContactListPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Customer/AddQA.css" rel="stylesheet" />
<script>
    @*var addressChk = '@ViewBag.AddressIsCorrect';
    if (typeof (addressChk) != "undefined" && addressChk != null && addressChk != "") {
        if (addressChk == "Yes") {
            $(".radBtnAddressIsCorrect_cls").prop('checked', true);
            $(".add_address").attr('style','pointer-events:none;');
        }
        else {
            $(".radBtnAddressIsCorrect_cls").prop('checked', false);
            $(".add_address").attr('style','pointer-events:auto;');
        }
    }
    else {
        $(".add_address").attr('style','pointer-events:none;');
    }
    var MonFeeAndConChk = '@ViewBag.MonAndConIsCorrect';
    if (typeof (MonFeeAndConChk) != "undefined" && MonFeeAndConChk != null && MonFeeAndConChk != "") {
        if (MonFeeAndConChk == "Yes") {
            $(".radBtnMonFeeAndConIsCorrect_cls").prop('checked', true);
            $(".two_part").attr('style','pointer-events:none;');
        }
        else {
            $(".radBtnMonFeeAndConIsCorrect_cls").prop('checked', false);
            $(".two_part").attr('style','pointer-events:auto;');
        }
    }
    else {
        $(".two_part").attr('style','pointer-events:none;');
    }
    var phoneChk = '@ViewBag.PhoneIsCorrect';
    if (typeof (phoneChk) != "undefined" && phoneChk != null && phoneChk != "") {
        if (phoneChk == "Yes") {
            $(".radBtnPhoneIsCorrect_cls").prop('checked', true);
            $("#cusPrimaryPhone").attr('disabled','disabled');
        }
        else {
            $(".radBtnPhoneIsCorrect_cls").prop('checked', false);
            $("#cusPrimaryPhone").removeAttr('disabled');
        }
    }
    else {
         $("#cusPrimaryPhone").attr('disabled','disabled');
    }
    var passcodeChk = '@ViewBag.PasscodeIsCorrect';
    if (typeof (passcodeChk) != "undefined" && passcodeChk != null && passcodeChk != "") {
        if (passcodeChk == "Yes") {
            $(".radBtnPasscodeIsCorrect_cls").prop('checked', true);
            $("#cusPasscode").attr('disabled','disabled');
        }
        else {
            $(".radBtnPasscodeIsCorrect_cls").prop('checked', false);
            $("#cusPasscode").removeAttr('disabled');
        }
    }
    else {
         $("#cusPasscode").attr('disabled','disabled');
    }
    var textCallChk = '@ViewBag.IsTextOrCall';
    if (typeof (textCallChk) != "undefined" && textCallChk != null && textCallChk != "") {
        if (textCallChk == "Yes") {
            $(".radBtnIsTextOrCallCorrect_cls").prop('checked', true);
        }
        else {
            $(".radBtnIsTextOrCallCorrect_cls").prop('checked', false);
        }
    }
    var installChk = '@ViewBag.IsInstall';
    if (typeof (installChk) != "undefined" && installChk != null && installChk != "") {
        if (installChk == "Yes") {
            $(".radBtnIsInstallCorrect_cls").prop('checked', true);
        }
        else {
            $(".radBtnIsInstallCorrect_cls").prop('checked', false);
        }
    }
    var showSystemChk = '@ViewBag.IsShowSystem';
    if (typeof (showSystemChk) != "undefined" && showSystemChk != null && showSystemChk != "") {
        if (showSystemChk == "Yes") {
            $(".radBtnIsShowSystemCorrect_cls").prop('checked', true);
        }
        else {
            $(".radBtnIsShowSystemCorrect_cls").prop('checked', false);
        }
    }
    var cleanChk = '@ViewBag.IsClean';
    if (typeof (cleanChk) != "undefined" && cleanChk != null && cleanChk != "") {
        if (cleanChk == "Yes") {
            $(".radBtnIsCleanCorrect_cls").prop('checked', true);
        }
        else {
            $(".radBtnIsCleanCorrect_cls").prop('checked', false);
        }
    }
    var discussChk = '@ViewBag.IsDiscuss';
    if (typeof (discussChk) != "undefined" && discussChk != null && discussChk != "") {
        if (discussChk == "Yes") {
            $(".radBtnIsDiscussCorrect_cls").prop('checked', true);
        }
        else {
            $(".radBtnIsDiscussCorrect_cls").prop('checked', false);
        }
    }
    var satisfiedChk = '@ViewBag.IsSatisfied';
    if (typeof (satisfiedChk) != "undefined" && satisfiedChk != null && satisfiedChk != "") {
        if (satisfiedChk == "Yes") {
            $(".radBtnIsSatisfiedCorrect_cls").prop('checked', true);
        }
        else {
            $(".radBtnIsSatisfiedCorrect_cls").prop('checked', false);
        }
    }*@
    var SaveQA2 = function (IsComplete) {
    var url = domainurl + "/Customer/AddQA2";
        var param = JSON.stringify({
            Id: $("#qa2Id").val(),
            CreatedBy:$("#createdBy").val(),
            CustomerId: CustomerLoadGuid,
            Street:$("#cusStreet").val(),
            City:$("#cusCity").val(),
            State:$("#cusState").val(),
            ZipCode: $("#cusZip").val(),
            AddressIsCorrect: $(".radBtnAddressIsCorrectYes").prop('checked')? "Yes" : $(".radBtnAddressIsCorrectNo").prop('checked')? "No" : "",
            PrimaryPhone: $("#cusPrimaryPhone").val(),
            PrimaryPhoneIsCorrect: $(".radBtnPhoneIsCorrectYes").prop('checked') ? "Yes" : $(".radBtnPhoneIsCorrectNo").prop('checked') ?"No":"",
            Passcode:$("#cusPasscode").val(),
            PasscodeIsCorrect:$(".radBtnPasscodeIsCorrectYes").prop('checked') ? "Yes" : $(".radBtnPasscodeIsCorrectNo").prop('checked')?"No":"",
            ContractTerm:$("#cusContractTerm").val(),
            MonitoringFee:$("#cusMonthFee").val(),
            TermAndFeeIsCorrect:$(".radBtnMonFeeAndConIsCorrectYes").prop('checked') ? "Yes" : $(".radBtnMonFeeAndConIsCorrectNo").prop('checked')?"No":"",
            IsReceiveCallOrText:$(".radBtnIsTextOrCallCorrectYes").prop('checked') ? "Yes" : $(".radBtnIsTextOrCallCorrectNo").prop('checked')?"No":"",
            IsInstallThatPromised:$(".radBtnIsInstallCorrectYes").prop('checked') ? "Yes" : $(".radBtnIsInstallCorrectNo").prop('checked')?"No":"",
            IsShowSystem:$(".radBtnIsShowSystemCorrectYes").prop('checked') ? "Yes" : $(".radBtnIsShowSystemCorrectNo").prop('checked')?"No":"",
            IsCleanUpAfterInstallation:$(".radBtnIsCleanCorrectYes").prop('checked') ? "Yes" : $(".radBtnIsCleanCorrectNo").prop('checked')?"No":"",
            ExperienceRate: $(".radBtnExperienceRate1").prop('checked') ? "1"
                : $(".radBtnExperienceRate2").prop('checked') ? "2"
                : $(".radBtnExperienceRate3").prop('checked') ? "3"
                    : $(".radBtnExperienceRate4").prop('checked') ? "4"
                        : $(".radBtnExperienceRate5").prop('checked') ? "5" : "",
            ManualNote: $("#manualNote").val(),
            CompletedBy: $("#CompletedBy").val(),
            GallantFew: $(".radBtnGallantFewYes").prop('checked') ? "Yes" : "",
            TextLinkForTremendously: $(".radBtnTextLinkForTremendouslyYes").prop('checked') ? "Yes" : "",
            AccountOnline: $(".radBtnAccountOnlineYes").prop('checked') ? "Yes" : "",
            AgreementSigned: $(".radBtnAgreementSignedYes").prop('checked') ? "Yes" : "",
            FirstMonthSetup: $(".radBtnFirstMonthSetupYes").prop('checked') ? "Yes" : "",
            IsCompletelySatisfied: $(".radBtnIsSatisfiedCorrectYes").prop('checked') ? "Yes" : $(".radBtnIsSatisfiedCorrectNo").prop('checked') ? "No" : $(".radBtnIsSatisfiedCorrectNA").prop('checked') ? "NA" : "",
            FinanceCompletelySatisfied:$(".radBtnFinanceCompletelySatisfiedYes").prop('checked') ? "Yes" : $(".radBtnFinanceCompletelySatisfiedNo").prop('checked') ? "No" : $(".radBtnFinanceCompletelySatisfiedNA").prop('checked') ? "NA" :"",
            DiscussionIsOkay:$(".radBtnIsDiscussCorrectYes").prop('checked') ? "Yes" : $(".radBtnIsDiscussCorrectNo").prop('checked')?"No":"",
            IsCompleted:IsComplete
    })
    $.ajax({
        type: "POST",
        ajaxStart: $(".loader-div").show(),
        url: url,
        data: param,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        cache: false,
        success: function (data) {
            if (data.result == true) {
                OpenSuccessMessageNew("Success!", "QA2 saved successfully", function () {
                    CloseTopToBottomModal();
                    QA2Load();
                });
            }
            else {
                OpenErrorMessageNew('Error!', "QA2 saved failed", "");
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        }
    });
}
    $(document).ready(function () {
        $(".qa_inner_height").height(window.innerHeight - 86);
        $(".radBtnAddressIsCorrect_cls").change(function () {
            if ($(".radBtnAddressIsCorrect_cls").prop('checked')) {
                $(".add_address").attr('style','pointer-events:none;');
            }
            else {
               $(".add_address").attr('style','pointer-events:auto;');
            }
        });
        $(".radBtnMonFeeAndConIsCorrect_cls").change(function () {
            if ($(".radBtnMonFeeAndConIsCorrect_cls").prop('checked')) {
                $(".two_part").attr('style','pointer-events:none;');
            }
            else {
               $(".two_part").attr('style','pointer-events:auto;');
            }
        });
        $(".radBtnPhoneIsCorrect_cls").change(function () {
            if ($(".radBtnPhoneIsCorrect_cls").prop('checked')) {
                $("#cusPrimaryPhone").attr('disabled','disabled');
            }
            else {
               $("#cusPrimaryPhone").removeAttr('disabled');
            }
        });
        $(".radBtnPasscodeIsCorrect_cls").change(function () {
            if ($(".radBtnPasscodeIsCorrect_cls").prop('checked')) {
                $("#cusPasscode").attr('disabled','disabled');
            }
            else {
               $("#cusPasscode").removeAttr('disabled');
            }
        });
        $("#CustomerACHQATab").load(domainurl + "/Customer/LoadCustomerACHPaymentInfo?customerid=" + CustomerLoadGuid);
        $("#CustomerCCQATab").load(domainurl + "/Customer/LoadCustomerCCPaymentInfo?customerid=" + CustomerLoadGuid);
        $("#btn_addachpaymentcustomerQA").click(function () {
        OpenRightToLeftModal("/SmartLeads/ACHAddViewPaymentMethod?customerid=" + CustomerLoadGuid + "&type=Customer");
        });
        $("#btn_addccpaymentcustomerQA").click(function () {
        OpenRightToLeftModal("/SmartLeads/CCAddViewPaymentMethod?customerid=" + CustomerLoadGuid + "&type=Customer");
        });

        $("#SaveQA2").click(function () {
            if ($("#isCompleted").prop('checked') != true) {
                SaveQA2(false);
            }
            else {
                OpenErrorMessageNew("Error!", "This QA is completed", "");
            }
        });
        $("#FinishQA2").click(function () {
            if ($("#isCompleted").prop('checked') != true) {
                OpenConfirmationMessageNew("Confirm?", "Are you sure you want to complete this QA?", function () {
                 SaveQA2(true);
            });

            }
            else {
                OpenErrorMessageNew("Error!", "This QA is completed", "");
            }
    });
    });
    $(window).resize(function () {
        $(".qa_inner_height").height(window.innerHeight - 86);
    })
</script>
<link href="~/Content/Css/Lead/EmergencyContactListPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Customer/AddQA.css" rel="stylesheet" />

<div class="qa_container">
    <div class="qa_header">
        QA2 Script
    </div>
    <div class="qa_inner_height">
        <input hidden id="qa2Id" value="@(Model.qa2Script!=null && Model.qa2Script.Id>0?Model.qa2Script.Id:0)" />
        <input hidden id="createdBy" value="@(Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.CreatedBy) ? Model.qa2Script.CreatedBy : Model.UserName)" />
        <input hidden id="isCompleted" type="checkbox" @(Model.qa2Script != null && Model.qa2Script.IsCompleted ? "checked=\"checked\"" : "") value="true" />
        <div class="qa_inner">
            @*<div class="qa_inner_content">
                    Hello, Mr/Ms (<span class="qa_content_space">@(Model.customer != null ? Model.customer.FirstName + " " + Model.customer.LastName : "")</span>), this is<span class="qa_content_space">@(Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.CreatedBy) ? Model.qa2Script.CreatedBy : Model.UserName)</span>with Onit Smart Home. Congratulations on your new smart home systeml I just
                    have a few quick questions to verify your Information and make sure we have everything we need to get your account online.
                </div>*@
            <div class="qa_inner_content">
                <ol>
                    <li>
                        Customer Name <span class="qa_red_color">*</span>
                        <div class="input-group add-on">
                            <input type="text" id="" disabled="disabled" value="@(Model.customer != null ? Model.customer.FirstName + " " + Model.customer.LastName : "")" class="form-control" placeholder="Customer Name">
                        </div>
                    </li>
                    <li>
                        Tech Name <span class="qa_red_color">*</span>
                        <div class="input-group add-on">
                            <input type="text" id="TicketTech" disabled="disabled" value="@(Model.TicketTech != null ? Model.TicketTech.EMPNAME : "")" class="form-control" placeholder="Tech Name">
                        </div>
                    </li>
                    <li>
                        Hello, Mr/Ms (<span class="qa_content_space">@(Model.customer != null ? Model.customer.FirstName + " " + Model.customer.LastName : "")</span>), this is <span class="qa_content_space">@(Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.CreatedBy) ? Model.qa2Script.CreatedBy : Model.UserName)</span>  with Onit Smart Home. Congratulations on your new smart home system! The reason for my call today is to verify we have everything we need to get your account online and that you are completely satisfied. Did you receive a call or text when the technician was on the way?
                        <span class="qa_red_color">*</span>
                        <div class="width_100p">
                            @{
                                if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.IsReceiveCallOrText) && Model.qa2Script.IsReceiveCallOrText == "Yes")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsTextOrCallCorrect", true, new { @class = "radBtnIsTextOrCallCorrect_cls radBtnIsTextOrCallCorrectYes", @checked = "checked" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsTextOrCallCorrect", false, new { @class = "radBtnIsTextOrCallCorrect_cls radBtnIsTextOrCallCorrectNo" })@Localize.T("No")</label>
                                }
                                else if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.IsReceiveCallOrText) && Model.qa2Script.IsReceiveCallOrText == "No")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsTextOrCallCorrect", true, new { @class = "radBtnIsTextOrCallCorrect_cls radBtnIsTextOrCallCorrectYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsTextOrCallCorrect", false, new { @class = "radBtnIsTextOrCallCorrect_cls radBtnIsTextOrCallCorrectNo", @checked = "checked" })@Localize.T("No")</label>
                                }
                                else
                                {
                                    <label class="qa_green_check">@Html.RadioButton("radBtnIsTextOrCallCorrect", true, new { @class = "radBtnIsTextOrCallCorrect_cls radBtnIsTextOrCallCorrectYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsTextOrCallCorrect", false, new { @class = "radBtnIsTextOrCallCorrect_cls radBtnIsTextOrCallCorrectNo" })@Localize.T("No")</label>
                                }
                            }
                            @*<label>@Html.RadioButton("radBtnIsTextOrCallCorrect", true, new { @class = "radBtnIsTextOrCallCorrect_cls" })@Localize.T("Yes")</label>
                                <label>@Html.RadioButton("radBtnIsTextOrCallCorrect", false, new { @class = "radBtnIsTextOrCallCorrect_cls" })@Localize.T("No")</label>*@
                        </div>

                    </li>
                    <li>
                        Did the technician install everything that was promised? (If not: What, why, and, schedule)<span class="qa_red_color">*</span>
                        <div class="width_100p">
                            @{
                                if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.IsInstallThatPromised) && Model.qa2Script.IsInstallThatPromised == "Yes")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsInstallCorrect", true, new { @class = "radBtnIsInstallCorrect_cls radBtnIsInstallCorrectYes", @checked = "checked" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsInstallCorrect", false, new { @class = "radBtnIsInstallCorrect_cls radBtnIsInstallCorrectNo" })@Localize.T("No")</label>
                                }
                                else if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.IsInstallThatPromised) && Model.qa2Script.IsInstallThatPromised == "No")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsInstallCorrect", true, new { @class = "radBtnIsInstallCorrect_cls radBtnIsInstallCorrectYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsInstallCorrect", false, new { @class = "radBtnIsInstallCorrect_cls radBtnIsInstallCorrectNo", @checked = "checked" })@Localize.T("No")</label>
                                }
                                else
                                {
                                    <label class="qa_green_check">@Html.RadioButton("radBtnIsInstallCorrect", true, new { @class = "radBtnIsInstallCorrect_cls radBtnIsInstallCorrectYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsInstallCorrect", false, new { @class = "radBtnIsInstallCorrect_cls radBtnIsInstallCorrectNo" })@Localize.T("No")</label>
                                }
                            }
                            @*<label>@Html.RadioButton("radBtnIsInstallCorrect", true, new { @class = "radBtnIsInstallCorrect_cls" })@Localize.T("Yes")</label>
                                <label>@Html.RadioButton("radBtnIsInstallCorrect", false, new { @class = "radBtnIsInstallCorrect_cls" })@Localize.T("No")</label>*@
                        </div>

                    </li>
                    <li>
                        After testing the system, did the technician show you how to use your system? <span class="qa_red_color">*</span>
                        <div class="width_100p">
                            @{
                                if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.IsShowSystem) && Model.qa2Script.IsShowSystem == "Yes")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsShowSystemCorrect", true, new { @class = "radBtnIsShowSystemCorrect_cls radBtnIsShowSystemCorrectYes", @checked = "checked" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsShowSystemCorrect", false, new { @class = "radBtnIsShowSystemCorrect_cls radBtnIsShowSystemCorrectNo" })@Localize.T("No")</label>
                                }
                                else if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.IsShowSystem) && Model.qa2Script.IsShowSystem == "No")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsShowSystemCorrect", true, new { @class = "radBtnIsShowSystemCorrect_cls radBtnIsShowSystemCorrectYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsShowSystemCorrect", false, new { @class = "radBtnIsShowSystemCorrect_cls radBtnIsShowSystemCorrectNo", @checked = "checked" })@Localize.T("No")</label>
                                }
                                else
                                {
                                    <label class="qa_green_check">@Html.RadioButton("radBtnIsShowSystemCorrect", true, new { @class = "radBtnIsShowSystemCorrect_cls radBtnIsShowSystemCorrectYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsShowSystemCorrect", false, new { @class = "radBtnIsShowSystemCorrect_cls radBtnIsShowSystemCorrectNo" })@Localize.T("No")</label>
                                }
                            }
                            @*<label>@Html.RadioButton("radBtnIsShowSystemCorrect", true, new { @class = "radBtnIsShowSystemCorrect_cls" })@Localize.T("Yes")</label>
                                <label>@Html.RadioButton("radBtnIsShowSystemCorrect", false, new { @class = "radBtnIsShowSystemCorrect_cls" })@Localize.T("No")</label>*@
                        </div>
                    </li>
                    <li>
                        On a scale of 1-5 what would you rate your experience? What, if anything, could we have done to make your experience even better?
                        <span class="qa_red_color">*</span>
                        <div class="width_100p">
                            @{
                                if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.ExperienceRate) && Model.qa2Script.ExperienceRate == "1")
                                {
                                    <label class="qa_black_check predefine_check">@Html.RadioButton("radBtnExperienceRate", true, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate1", @checked = "checked" })@Localize.T("1 (Notify management)")</label>
                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate2" })@Localize.T("2 (Notify management)")</label>

                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate3" })@Localize.T("3 (Notify management)")</label>

                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate4" })@Localize.T("4")</label>
                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate5" })@Localize.T("5")</label>

                                }
                                else if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.ExperienceRate) && Model.qa2Script.ExperienceRate == "2")
                                {

                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", true, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate1" })@Localize.T("1 (Notify management)")</label>

                                    <label class="qa_black_check predefine_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate2", @checked = "checked" })@Localize.T("2 (Notify management)")</label>

                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate3" })@Localize.T("3 (Notify management)")</label>

                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate4" })@Localize.T("4")</label>
                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate5" })@Localize.T("5")</label>

                                }
                                else if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.ExperienceRate) && Model.qa2Script.ExperienceRate == "3")
                                {
                                    <
                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", true, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate1" })@Localize.T("1 (Notify management)")</label>

                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate2" })@Localize.T("2 (Notify management)")</label>

                                    <label class="qa_black_check predefine_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate3", @checked = "checked" })@Localize.T("3 (Notify management)")</label>

                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate4" })@Localize.T("4")</label>
                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate5" })@Localize.T("5")</label>

                                }
                                else if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.ExperienceRate) && Model.qa2Script.ExperienceRate == "4")
                                {

                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", true, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate1" })@Localize.T("1 (Notify management)")</label>

                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate2" })@Localize.T("2 (Notify management)")</label>


                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate3" })@Localize.T("3 (Notify management)")</label>

                                    <label class="qa_black_check predefine_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate4", @checked = "checked" })@Localize.T("4")</label>
                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate5" })@Localize.T("5")</label>

                                }
                                else if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.ExperienceRate) && Model.qa2Script.ExperienceRate == "5")
                                {

                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", true, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate1" })@Localize.T("1 (Notify management)")</label>

                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate2" })@Localize.T("2 (Notify management)")</label>


                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate3" })@Localize.T("3 (Notify management)")</label>

                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate4" })@Localize.T("4")</label>
                                    <label class="qa_black_check predefine_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate5", @checked = "checked" })@Localize.T("5")</label>

                                }
                                else
                                {

                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", true, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate1" })@Localize.T("1 (Notify management)")</label>

                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate2" })@Localize.T("2 (Notify management)")</label>

                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate3" })@Localize.T("3 (Notify management)")</label>

                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate4" })@Localize.T("4")</label>
                                    <label class="qa_black_check">@Html.RadioButton("radBtnExperienceRate", false, new { @class = "radBtnExperienceRate_cls radBtnExperienceRate5" })@Localize.T("5")</label>

                                }
                            }
                            @*<label class="qa_black_check predefine_check">@Html.RadioButton("radBtnIsTextOrCallCorrect", true, new { @class = "radBtnIsTextOrCallCorrect_cls radBtnIsTextOrCallCorrectYes" })@Localize.T("1 (Notify management)")</label>
                                <label class="qa_black_check">@Html.RadioButton("radBtnIsTextOrCallCorrect", false, new { @class = "radBtnIsTextOrCallCorrect_cls radBtnIsTextOrCallCorrectNo", @checked = "checked" })@Localize.T("2 (Notify management)")</label>
                                <label class="qa_black_check">@Html.RadioButton("radBtnIsTextOrCallCorrect", false, new { @class = "radBtnIsTextOrCallCorrect_cls radBtnIsTextOrCallCorrectNo", @checked = "checked" })@Localize.T("3 (Notify management)")</label>
                                <label class="qa_black_check">@Html.RadioButton("radBtnIsTextOrCallCorrect", false, new { @class = "radBtnIsTextOrCallCorrect_cls radBtnIsTextOrCallCorrectNo", @checked = "checked" })@Localize.T("4")</label>
                                <label class="qa_black_check">@Html.RadioButton("radBtnIsTextOrCallCorrect", false, new { @class = "radBtnIsTextOrCallCorrect_cls radBtnIsTextOrCallCorrectNo", @checked = "checked" })@Localize.T("5")</label>*@
                        </div>

                    </li>
                    @if (Model.customer != null &&  !string.IsNullOrWhiteSpace(Model.customer.BrinksRefId))
                    {
                        <li>
                            The company that will be handling the monitoring of your system, Brinks Home Security, will be calling you to do an additional verification call of their own. They will ask a couple questions about your experience to make sure we took great care of you. They require you to be completely satisfied. Is there anything that would prevent you from giving us a rating of “completely satisfied”?
                            <span class="qa_red_color">*</span>
                            <div class="width_100p">
                                @{
                                    if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.IsCompletelySatisfied) && Model.qa2Script.IsCompletelySatisfied == "Yes")
                                    {
                                        <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", true, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectYes", @checked = "checked" })@Localize.T("Yes (Resolve)")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", false, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectNo" })@Localize.T("No")</label>
                                        <label class="qa_black_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", false, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectNA" })@Localize.T("N/A Finance Account")</label>
                                    }
                                    else if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.IsCompletelySatisfied) && Model.qa2Script.IsCompletelySatisfied == "No")
                                    {
                                        <label class="qa_green_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", true, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectYes" })@Localize.T("Yes (Resolve)")</label>
                                        <label class="qa_red_check predefine_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", false, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectNo", @checked = "checked" })@Localize.T("No")</label>
                                        <label class="qa_black_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", false, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectNA" })@Localize.T("N/A Finance Account")</label>
                                    }
                                    else if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.IsCompletelySatisfied) && Model.qa2Script.IsCompletelySatisfied == "NA")
                                    {
                                        <label class="qa_green_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", true, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectYes" })@Localize.T("Yes (Resolve)")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", false, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectNo" })@Localize.T("No")</label>
                                        <label class="qa_black_check predefine_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", false, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectNA", @checked = "checked" })@Localize.T("N/A Finance Account")</label>
                                    }
                                    else
                                    {
                                        <label class="qa_green_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", true, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectYes" })@Localize.T("Yes (Resolve)")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", false, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectNo" })@Localize.T("No")</label>
                                        <label class="qa_black_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", false, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectNA" })@Localize.T("N/A Finance Account")</label>
                                    }
                                }
                                @*<label class="qa_black_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", false, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectNo" })@Localize.T("N/A Finance Account")</label>*@


                                @*<label>@Html.RadioButton("radBtnIsSatisfiedCorrect", true, new { @class = "radBtnIsSatisfiedCorrect_cls" })@Localize.T("Yes")</label>
                                    <label>@Html.RadioButton("radBtnIsSatisfiedCorrect", false, new { @class = "radBtnIsSatisfiedCorrect_cls" })@Localize.T("No")</label>*@
                            </div>
                            @*<div class="width_100p">
                                    <div class="qa_textarea_block">
                                        <textarea class="form-control" placeholder=""> </textarea>

                                        <button class="btn green_button">
                                            Save
                                        </button>

                                    </div>
                                </div>*@
                        </li>
                    }
                    @if (Model.cusextnd != null && ((!string.IsNullOrWhiteSpace(Model.cusextnd.IsPcAppStatus) && Model.cusextnd.IsPcAppStatus.ToLower() == "approved") || (!string.IsNullOrWhiteSpace(Model.cusextnd.PowerPayAppStatus) && Model.cusextnd.PowerPayAppStatus.ToLower() == "approved")))
                    {
                        <li>
                            The company that handles the billing for your equipment, <span class="qa_content_space">@(Model.cusextnd.IsPcAppStatus.ToLower() == "approved" ? "ISPC" : Model.cusextnd.PowerPayAppStatus.ToLower() == "approved" ? "Power pay" : "")</span>, will be calling you to do an additional verification call of their own. They will ask a couple questions about your experience to make sure we took great care of you. They require you to be completely satisfied. Is there anything that would prevent you from giving us a rating of “completely satisfied”? (If so, resolve)
                            <span class="qa_red_color">*</span>
                            <div class="width_100p">
                                @{
                                    if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.FinanceCompletelySatisfied) && Model.qa2Script.FinanceCompletelySatisfied == "Yes")
                                    {
                                        <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnFinanceCompletelySatisfied", true, new { @class = "radBtnFinanceCompletelySatisfied_cls radBtnFinanceCompletelySatisfiedYes", @checked = "checked" })@Localize.T("Yes (Resolve)")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnFinanceCompletelySatisfied", false, new { @class = "radBtnFinanceCompletelySatisfied_cls radBtnFinanceCompletelySatisfiedNo" })@Localize.T("No")</label>
                                        <label class="qa_black_check">@Html.RadioButton("radBtnFinanceCompletelySatisfied", false, new { @class = "radBtnFinanceCompletelySatisfied_cls radBtnFinanceCompletelySatisfiedNA" })@Localize.T("N/A Brinks Account")</label>
                                    }
                                    else if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.FinanceCompletelySatisfied) && Model.qa2Script.FinanceCompletelySatisfied == "No")
                                    {
                                        <label class="qa_green_check">@Html.RadioButton("radBtnFinanceCompletelySatisfied", true, new { @class = "radBtnFinanceCompletelySatisfied_cls radBtnFinanceCompletelySatisfiedYes" })@Localize.T("Yes (Resolve)")</label>
                                        <label class="qa_red_check predefine_check">@Html.RadioButton("radBtnFinanceCompletelySatisfied", false, new { @class = "radBtnFinanceCompletelySatisfied_cls radBtnFinanceCompletelySatisfiedNo", @checked = "checked" })@Localize.T("No")</label>
                                        <label class="qa_black_check">@Html.RadioButton("radBtnFinanceCompletelySatisfied", false, new { @class = "radBtnFinanceCompletelySatisfied_cls radBtnFinanceCompletelySatisfiedNA" })@Localize.T("N/A Brinks Account")</label>
                                    }
                                    else if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.FinanceCompletelySatisfied) && Model.qa2Script.FinanceCompletelySatisfied == "NA")
                                    {
                                        <label class="qa_green_check">@Html.RadioButton("radBtnFinanceCompletelySatisfied", true, new { @class = "radBtnFinanceCompletelySatisfied_cls radBtnFinanceCompletelySatisfiedYes" })@Localize.T("Yes (Resolve)")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnFinanceCompletelySatisfied", false, new { @class = "radBtnFinanceCompletelySatisfied_cls radBtnFinanceCompletelySatisfiedNo" })@Localize.T("No")</label>
                                        <label class="qa_black_check predefine_check">@Html.RadioButton("radBtnFinanceCompletelySatisfied", false, new { @class = "radBtnFinanceCompletelySatisfied_cls radBtnFinanceCompletelySatisfiedNA", @checked = "checked" })@Localize.T("N/A Brinks Account")</label>
                                    }
                                    else
                                    {
                                        <label class="qa_green_check">@Html.RadioButton("radBtnFinanceCompletelySatisfied", true, new { @class = "radBtnFinanceCompletelySatisfied_cls radBtnFinanceCompletelySatisfiedYes" })@Localize.T("Yes (Resolve)")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnFinanceCompletelySatisfied", false, new { @class = "radBtnFinanceCompletelySatisfied_cls radBtnFinanceCompletelySatisfiedNo" })@Localize.T("No")</label>
                                        <label class="qa_black_check">@Html.RadioButton("radBtnFinanceCompletelySatisfied", false, new { @class = "radBtnFinanceCompletelySatisfied_cls radBtnFinanceCompletelySatisfiedNA" })@Localize.T("N/A Brinks Account")</label>
                                    }
                                }
                                @*<label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", true, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectYes", @checked = "checked" })@Localize.T("Yes (Resolve)")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", false, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectNo" })@Localize.T("No")</label>

                                    <label class="qa_black_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", false, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectNo" })@Localize.T("N/A Brinks Account")</label>*@
                            </div>
                        </li>
                    }

                    <li>
                        As a member of the ONIT concierge family you are eligible for special offers from a number of our other home services such as solar, insurance, and water softening. We also have a great referral program and work with a veteran’s charity called GallantFew
                        <span class="qa_red_color">*</span>
                        <div class="width_100p">
                            @{
                                if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.GallantFew) && Model.qa2Script.GallantFew == "Yes")
                                {
                                    <label class="qa_black_check predefine_check">@Html.RadioButton("radBtnGallantFew", true, new { @class = "radBtnGallantFew_cls radBtnGallantFewYes", @checked = "checked" })@Localize.T("Confirmed")</label>
                                }
                                else
                                {
                                    <label class="qa_black_check">@Html.RadioButton("radBtnGallantFew", true, new { @class = "radBtnGallantFew_cls radBtnGallantFewYes" })@Localize.T("Confirmed")</label>
                                }
                            }
                            @*<label class="qa_black_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", false, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectNo" })@Localize.T("Confirmed")</label>*@
                        </div>
                    </li>
                    <li>
                        Awesome, thank you so much, I’ll be sending you a text with a link to give us an online review. The link will only take you a few seconds to complete and helps us tremendously. Thanks again Mr/Mrs (<span class="qa_content_space">@(Model.customer != null ? Model.customer.FirstName + " " + Model.customer.LastName : "")</span>), and welcome to the Onit family!
                        <span class="qa_red_color">*</span>
                        <div class="width_100p">
                            @{
                                if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.TextLinkForTremendously) && Model.qa2Script.TextLinkForTremendously == "Yes")
                                {
                                    <label class="qa_black_check predefine_check">@Html.RadioButton("radBtnTextLinkForTremendously", true, new { @class = "radBtnTextLinkForTremendously_cls radBtnTextLinkForTremendouslyYes", @checked = "checked" })@Localize.T("Confirmed")</label>
                                }
                                else
                                {
                                    <label class="qa_black_check">@Html.RadioButton("radBtnTextLinkForTremendously", true, new { @class = "radBtnTextLinkForTremendously_cls radBtnTextLinkForTremendouslyYes" })@Localize.T("Confirmed")</label>
                                }
                            }
                            @*<label class="qa_black_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", false, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectNo" })@Localize.T("Confirmed")</label>*@
                        </div>
                    </li>
                    <li>
                        Account Online
                        <span class="qa_red_color">*</span>
                        <div class="width_100p">
                            @{
                                if ((Model.customer != null && (!string.IsNullOrWhiteSpace(Model.customer.AlarmRefId) || !string.IsNullOrWhiteSpace(Model.customer.BrinksRefId) || !string.IsNullOrWhiteSpace(Model.customer.UCCRefId))) || (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.AccountOnline) && Model.qa2Script.AccountOnline == "Yes"))
                                {
                                    <label class="qa_black_check predefine_check">@Html.RadioButton("radBtnAccountOnline", true, new { @class = "radBtnAccountOnline_cls radBtnAccountOnlineYes", @checked = "checked" })@Localize.T("Confirmed")</label>
                                }
                                else
                                {
                                    <label class="qa_black_check">@Html.RadioButton("radBtnAccountOnline", true, new { @class = "radBtnAccountOnline_cls radBtnAccountOnlineYes" })@Localize.T("Confirmed")</label>
                                }
                            }
                            @*<label class="qa_black_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", false, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectNo" })@Localize.T("Confirmed")</label>*@
                        </div>
                    </li>
                    <li>
                        Agreement Signed
                        <span class="qa_red_color">*</span>
                        <div class="width_100p">
                            @{
                                if ((Model.customer != null && Model.customer.IsAgreement == true) || (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.AgreementSigned) && Model.qa2Script.AgreementSigned == "Yes"))
                                {
                                    <label class="qa_black_check predefine_check">@Html.RadioButton("radBtnAgreementSigned", true, new { @class = "radBtnAgreementSigned_cls radBtnAgreementSignedYes", @checked = "checked" })@Localize.T("Confirmed")</label>
                                }
                                else
                                {
                                    <label class="qa_black_check">@Html.RadioButton("radBtnAgreementSigned", true, new { @class = "radBtnAgreementSigned_cls radBtnAgreementSignedYes" })@Localize.T("Confirmed")</label>
                                }
                            }
                            @*<label class="qa_black_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", false, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectNo" })@Localize.T("Confirmed")</label>*@
                        </div>
                    </li>
                    <li>
                        First month/Activation/Equipment/Subscription collected/set up
                        <span class="qa_red_color">*</span>
                        <div class="width_100p">
                            @{
                                if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.FirstMonthSetup) && Model.qa2Script.FirstMonthSetup == "Yes")
                                {
                                    <label class="qa_black_check predefine_check">@Html.RadioButton("radBtnFirstMonthSetup", true, new { @class = "radBtnFirstMonthSetup_cls radBtnFirstMonthSetupYes", @checked = "checked" })@Localize.T("Confirmed")</label>
                                }
                                else
                                {
                                    <label class="qa_black_check">@Html.RadioButton("radBtnFirstMonthSetup", true, new { @class = "radBtnFirstMonthSetup_cls radBtnFirstMonthSetupYes" })@Localize.T("Confirmed")</label>
                                }
                            }
                            @*<label class="qa_black_check">@Html.RadioButton("radBtnIsSatisfiedCorrect", false, new { @class = "radBtnIsSatisfiedCorrect_cls radBtnIsSatisfiedCorrectNo" })@Localize.T("Confirmed")</label>*@
                        </div>
                    </li>
                    <li>
                        Form completed by
                        <span class="qa_red_color">*</span>
                        <div class="width_100p">
                            <select id="CompletedBy" class=" form-control qa_inner_dropdown">
                                @if (ViewBag.CurrentEmployeeList != null)
                                {
                                    foreach (var Item in (List<HS.Entities.Employee>)ViewBag.CurrentEmployeeList)
                                    {
                                        <option @(Model.qa2Script != null && Model.qa2Script.CompletedBy.ToString() != "00000000-0000-0000-0000-000000000000" && Model.qa2Script.CompletedBy.ToString() == Item.UserId.ToString() ? "selected" : (ViewBag.CurrentUserId == Item.UserId.ToString() ? "selected" : "")) value="@Item.UserId">@Item.FirstName @Item.LastName</option>
                                    }
                                }
                            </select>
                        </div>
                    </li>





















                    @*<li>
                            We show the address where the system is located as <span class="qa_content_space">@(Model.customer != null ? Model.customer.Address : "")</span> Is this correct? (Make any updates)
                            <div class="width_100p">
                                @{
                                    if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.AddressIsCorrect) && Model.qa2Script.AddressIsCorrect == "Yes")
                                    {
                                        <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnAddressIsCorrect", true, new { @class = "radBtnAddressIsCorrect_cls radBtnAddressIsCorrectYes", @checked = "checked" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnAddressIsCorrect", false, new { @class = "radBtnAddressIsCorrect_cls radBtnAddressIsCorrectNo" })@Localize.T("No")</label>
                                    }
                                    else if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.AddressIsCorrect) && Model.qa2Script.AddressIsCorrect == "No")
                                    {
                                        <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnAddressIsCorrect", true, new { @class = "radBtnAddressIsCorrect_cls radBtnAddressIsCorrectYes" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnAddressIsCorrect", false, new { @class = "radBtnAddressIsCorrect_cls radBtnAddressIsCorrectNo", @checked = "checked" })@Localize.T("No")</label>
                                    }
                                    else
                                    {
                                        <label class="qa_green_check">@Html.RadioButton("radBtnAddressIsCorrect", true, new { @class = "radBtnAddressIsCorrect_cls radBtnAddressIsCorrectYes" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnAddressIsCorrect", false, new { @class = "radBtnAddressIsCorrect_cls radBtnAddressIsCorrectNo" })@Localize.T("No")</label>
                                    }
                                }
                            </div>
                            <div class="input-group add-on add_address" style="pointer-events:none;">
                                <input type="text" id="cusStreet" value="@(Model.qa2Script!=null && !string.IsNullOrWhiteSpace(Model.qa2Script.Street)?Model.qa2Script.Street:Model.customer!=null?Model.customer.Street:"")" class="form-control" placeholder="Street">
                                <input type="text" id="cusCity" value="@(Model.qa2Script!=null && !string.IsNullOrWhiteSpace(Model.qa2Script.City)?Model.qa2Script.City:Model.customer!=null?Model.customer.City:"")" class="form-control" placeholder="City">
                                <input type="text" id="cusState" value="@(Model.qa2Script!=null && !string.IsNullOrWhiteSpace(Model.qa2Script.State)?Model.qa2Script.State:Model.customer!=null?Model.customer.State:"")" class="form-control" placeholder="State">
                                <input type="text" id="cusZip" value="@(Model.qa2Script!=null && !string.IsNullOrWhiteSpace(Model.qa2Script.ZipCode)?Model.qa2Script.ZipCode:Model.customer!=null?Model.customer.ZipCode:"")" class="form-control" placeholder="Zip Code">
                            </div>
                        </li>*@
                    @*<li>
                            We have your primary phone number as <span class="qa_content_space">@(Model.customer != null ? Model.customer.PrimaryPhone : "")</span> Is that correct?
                            <div class="width_100p">

                                @{
                                    if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.PrimaryPhoneIsCorrect) && Model.qa2Script.PrimaryPhoneIsCorrect == "Yes")
                                    {
                                        <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnPhoneIsCorrect", true, new { @class = "radBtnPhoneIsCorrect_cls radBtnPhoneIsCorrectYes", @checked = "checked" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnPhoneIsCorrect", false, new { @class = "radBtnPhoneIsCorrect_cls radBtnPhoneIsCorrectNo" })@Localize.T("No")</label>
                                    }
                                    else if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.PrimaryPhoneIsCorrect) && Model.qa2Script.PrimaryPhoneIsCorrect == "No")
                                    {
                                        <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnPhoneIsCorrect", true, new { @class = "radBtnPhoneIsCorrect_cls radBtnPhoneIsCorrectYes" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnPhoneIsCorrect", false, new { @class = "radBtnPhoneIsCorrect_cls radBtnPhoneIsCorrectNo", @checked = "checked" })@Localize.T("No")</label>
                                    }
                                    else
                                    {
                                        <label class="qa_green_check">@Html.RadioButton("radBtnPhoneIsCorrect", true, new { @class = "radBtnPhoneIsCorrect_cls radBtnPhoneIsCorrectYes" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnPhoneIsCorrect", false, new { @class = "radBtnPhoneIsCorrect_cls radBtnPhoneIsCorrectNo" })@Localize.T("No")</label>
                                    }
                                }
                            </div>
                            <div class="input-group add-on">
                                <input type="text" id="cusPrimaryPhone" disabled="disabled" value="@(Model.qa2Script!=null && !string.IsNullOrWhiteSpace(Model.qa2Script.PrimaryPhone)?Model.qa2Script.PrimaryPhone:Model.customer!=null?Model.customer.PrimaryPhone:"")" class="form-control" placeholder="Primary Phone Number">
                            </div>
                        </li>*@
                    @*<li>
                            We have your verbal passcode, to verify a false alarm, as <span class="qa_content_space">@(Model.customer != null ? Model.customer.Passcode : "")</span> correct?
                            <div class="width_100p">
                                @{
                                    if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.PasscodeIsCorrect) && Model.qa2Script.PasscodeIsCorrect == "Yes")
                                    {
                                        <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnPasscodeIsCorrect", true, new { @class = "radBtnPasscodeIsCorrect_cls radBtnPasscodeIsCorrectYes", @checked = "checked" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnPasscodeIsCorrect", false, new { @class = "radBtnPasscodeIsCorrect_cls radBtnPasscodeIsCorrectNo" })@Localize.T("No")</label>
                                    }
                                    else if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.PasscodeIsCorrect) && Model.qa2Script.PasscodeIsCorrect == "No")
                                    {
                                        <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnPasscodeIsCorrect", true, new { @class = "radBtnPasscodeIsCorrect_cls radBtnPasscodeIsCorrectYes" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnPasscodeIsCorrect", false, new { @class = "radBtnPasscodeIsCorrect_cls radBtnPasscodeIsCorrectNo", @checked = "checked" })@Localize.T("No")</label>
                                    }
                                    else
                                    {
                                        <label class="qa_green_check">@Html.RadioButton("radBtnPasscodeIsCorrect", true, new { @class = "radBtnPasscodeIsCorrect_cls radBtnPasscodeIsCorrectYes" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnPasscodeIsCorrect", false, new { @class = "radBtnPasscodeIsCorrect_cls radBtnPasscodeIsCorrectNo" })@Localize.T("No")</label>
                                    }
                                }
                            </div>
                            <div class="input-group add-on">
                                <input type="text" id="cusPasscode" disabled="disabled" value="@(Model.qa2Script!=null && !string.IsNullOrWhiteSpace(Model.qa2Script.Passcode)?Model.qa2Script.Passcode:Model.customer!=null?Model.customer.Passcode:"")" class="form-control" placeholder="****">
                            </div>
                        </li>*@
                    @*<li>
                            And I have you on a <span class="qa_content_space">@(Model.customer != null && !string.IsNullOrWhiteSpace(Model.customer.ContractTeam) && Model.customer.ContractTeam != "-1" && Model.customer.ContractTeam != "Month to Month" ? (Convert.ToInt32(Model.customer.ContractTeam) * 12).ToString() : Model.customer != null && Model.customer.ContractTeam == "Month to Month" ? Model.customer.ContractTeam : "0")</span> month agreement at <span class="qa_content_space">@(Model.customer != null && !string.IsNullOrWhiteSpace(Model.customer.MonthlyMonitoringFee) ? "$" + Model.customer.MonthlyMonitoringFee : "$0")</span> -per month, correct?
                            <div class="width_100p">
                                @{
                                    if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.TermAndFeeIsCorrect) && Model.qa2Script.TermAndFeeIsCorrect == "Yes")
                                    {
                                        <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnMonFeeAndConIsCorrect", true, new { @class = "radBtnMonFeeAndConIsCorrect_cls radBtnMonFeeAndConIsCorrectYes", @checked = "checked" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnMonFeeAndConIsCorrect", false, new { @class = "radBtnMonFeeAndConIsCorrect_cls radBtnMonFeeAndConIsCorrectNo" })@Localize.T("No")</label>
                                    }
                                    else if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.TermAndFeeIsCorrect) && Model.qa2Script.TermAndFeeIsCorrect == "No")
                                    {
                                        <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnMonFeeAndConIsCorrect", true, new { @class = "radBtnMonFeeAndConIsCorrect_cls radBtnMonFeeAndConIsCorrectYes" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnMonFeeAndConIsCorrect", false, new { @class = "radBtnMonFeeAndConIsCorrect_cls radBtnMonFeeAndConIsCorrectNo", @checked = "checked" })@Localize.T("No")</label>
                                    }
                                    else
                                    {
                                        <label class="qa_green_check">@Html.RadioButton("radBtnMonFeeAndConIsCorrect", true, new { @class = "radBtnMonFeeAndConIsCorrect_cls radBtnMonFeeAndConIsCorrectYes" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnMonFeeAndConIsCorrect", false, new { @class = "radBtnMonFeeAndConIsCorrect_cls radBtnMonFeeAndConIsCorrectNo" })@Localize.T("No")</label>
                                    }
                                }
                            </div>
                            <div class="input-group add-on two_part" style="pointer-events:none;">
                                @if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.ContractTerm))
                                {
                                    @Html.DropDownListFor(x => x.qa2Script.ContractTerm, (List<SelectListItem>)ViewBag.ContractTerm, new { @class = "form-control", id = "cusContractTerm" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(x => x.customer.ContractTeam, (List<SelectListItem>)ViewBag.ContractTerm, new { @class = "form-control", id = "cusContractTerm" })
                                }

                                <input type="text" id="cusMonthFee" value="@(Model.qa2Script!=null && !string.IsNullOrWhiteSpace(Model.qa2Script.MonitoringFee)?Model.qa2Script.MonitoringFee:Model.customer!=null?Model.customer.MonthlyMonitoringFee:"")" class="form-control" placeholder="Amount">
                            </div>
                        </li>*@



                    @*<li>
                            Old your technician clean up after the installation?
                            <div class="width_100p">
                                @{
                                    if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.IsCleanUpAfterInstallation) && Model.qa2Script.IsCleanUpAfterInstallation == "Yes")
                                    {
                                        <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsCleanCorrect", true, new { @class = "radBtnIsCleanCorrect_cls radBtnIsCleanCorrectYes", @checked = "checked" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnIsCleanCorrect", false, new { @class = "radBtnIsCleanCorrect_cls radBtnIsCleanCorrectNo" })@Localize.T("No")</label>
                                    }
                                    else if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.IsCleanUpAfterInstallation) && Model.qa2Script.IsCleanUpAfterInstallation == "No")
                                    {
                                        <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsCleanCorrect", true, new { @class = "radBtnIsCleanCorrect_cls radBtnIsCleanCorrectYes" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnIsCleanCorrect", false, new { @class = "radBtnIsCleanCorrect_cls radBtnIsCleanCorrectNo", @checked = "checked" })@Localize.T("No")</label>
                                    }
                                    else
                                    {
                                        <label class="qa_green_check">@Html.RadioButton("radBtnIsCleanCorrect", true, new { @class = "radBtnIsCleanCorrect_cls radBtnIsCleanCorrectYes" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnIsCleanCorrect", false, new { @class = "radBtnIsCleanCorrect_cls radBtnIsCleanCorrectNo" })@Localize.T("No")</label>
                                    }
                                }
                            </div>
                        </li>*@
                    @*<li>
                            On a scale of 1-10 how would you rate your experience so far?
                            <br>
                            <div class="input-group add-on">
                                <input type="text" id="experienceRate" value="@(Model.qa2Script!=null && !string.IsNullOrWhiteSpace(Model.qa2Script.ExperienceRate)?Model.qa2Script.ExperienceRate:"")" class="form-control" placeholder="Experience :">
                            </div>
                        </li>*@
                    @*<li>
                            I Just need to confirm your banking Information Is as follows, Is this correct?
                            <div class="width_100p">
                                <div class="qa_block qa_block_width">
                                    <div class="qa_block_header">Payment Methods</div>
                                    <div class="qa_block_info">
                                        <div class=" qa_block">
                                            <div class="qa_block_header">
                                                ACH
                                                <button class="btn green_button" id="btn_addachpaymentcustomerQA" title="Add ACH"><i class="fa fa-plus"></i></button>
                                            </div>
                                            <div class="qa_block_info">


                                                <div id="CustomerACHQATab"></div>
                                            </div>
                                        </div>
                                        <div class=" qa_block">
                                            <div class="qa_block_header">
                                                CC
                                                <button class="btn green_button" id="btn_addccpaymentcustomerQA" title="Add ACH"><i class="fa fa-plus"></i></button>
                                            </div>
                                            <div class="qa_block_info">
                                                <div class="payment_container">

                                        <div class="payment_info_overview_container">
                                            <div class="payment_info_overview_container">


                                                <button id-val="1127" class="btn p_info_delete_btn_CC" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button>



                                                <div class="width_100p">
                                                    <div class="payment_info_overview_header" onclick="editcc('1127')"><a class="cus-anchor">Card Number</a><span>:</span></div>
                                                    <div class="payment_info_overview_info">
                                                        ************1111 <strong>(VISA)</strong>
                                                    </div>

                                                </div>
                                                <div class="width_100p"><div class="payment_info_overview_header">Expire Date<span>:</span></div> <div class="payment_info_overview_info">12/23</div></div>
                                                <div class="width_100p"><div class="payment_info_overview_header">Security Code<span>:</span></div> <div class="payment_info_overview_info">**6</div></div>
                                                <div class="width_100p"><div class="payment_info_overview_header">Account Name<span>:</span></div><div class="payment_info_overview_info"> dfghjk</div></div>
                                            </div>
                                        </div>


                                    </div>

                                                <div id="CustomerCCQATab"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>*@
                    @*<li>
                            Thanks, so your first month of monitoring Is  <span class="qa_content_space">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.MonthlyRate)</span>   your activation Is  <span class="qa_content_space">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.ActivationFee)</span>  and your equipment amount is <span class="qa_content_space">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.EquipmentFee)</span>
                            (any that are zero say, "i show that we waived <span class="qa_content_space"></span>"), so you total we have today is <span class="qa_content_space">$</span>  do I have your
                            permission to go ahead and process that amount (If already collected, verify what has already been processed)?

                        </li>*@
                    @*<li>
                            Great, thank you so much. Now, some areas may require a permit in order to respond to emergencies, so please be
                            sure you check with your city to see if that is required in your area.

                        </li>*@


                    @*<li>
                            Perfect, they will be contacting you within the next couple days, usually from an 800#. Please do me a favor and be
                            on the look-out for that cail and let them know how happy you are with your new system.

                        </li>*@
                    @*<li>
                            Before, I let you go, I wanted to let you know, In addition to smart home systems, we offer a number of other home
                            services such as roofing, solar and water softening. We also have a great referral program and work with a veteran's
                            charity called GallantFew. With your permission, we'd like to reach back out In the future to discuss those with you.
                            Would that be okay?
                            <div class="width_100p">
                                @{
                                    if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.DiscussionIsOkay) && Model.qa2Script.DiscussionIsOkay == "Yes")
                                    {
                                        <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsDiscussCorrect", true, new { @class = "radBtnIsDiscussCorrect_cls radBtnIsDiscussCorrectYes", @checked = "checked" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnIsDiscussCorrect", false, new { @class = "radBtnIsDiscussCorrect_cls radBtnIsDiscussCorrectNo" })@Localize.T("No")</label>
                                    }
                                    else if (Model.qa2Script != null && !string.IsNullOrWhiteSpace(Model.qa2Script.DiscussionIsOkay) && Model.qa2Script.DiscussionIsOkay == "No")
                                    {
                                        <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsDiscussCorrect", true, new { @class = "radBtnIsDiscussCorrect_cls radBtnIsDiscussCorrectYes" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnIsDiscussCorrect", false, new { @class = "radBtnIsDiscussCorrect_cls radBtnIsDiscussCorrectNo", @checked = "checked" })@Localize.T("No")</label>
                                    }
                                    else
                                    {
                                        <label class="qa_green_check">@Html.RadioButton("radBtnIsDiscussCorrect", true, new { @class = "radBtnIsDiscussCorrect_cls radBtnIsDiscussCorrectYes" })@Localize.T("Yes")</label>
                                        <label class="qa_red_check">@Html.RadioButton("radBtnIsDiscussCorrect", false, new { @class = "radBtnIsDiscussCorrect_cls radBtnIsDiscussCorrectNo" })@Localize.T("No")</label>
                                    }
                                }

                            </div>

                        </li>*@
                    @*<li>
                            Awesome, thank you so much, I'll be sending you a text with a link to give us an online review. The link will only take
                            you a few seconds to complete and helps us tremendously.

                        </li>*@
                    @*<li>
                            Thanks again - have a great day!

                        </li>*@

                </ol>
            </div>
            @*<div class="qa_inner_content">
                    <b>
                        Make sure account is online, payment is collected, agreement is complete and, in notes, place a note that states:
                        "qa Complete, Install complete, (Ilst equipment installed), (list existing equipment or anything that was
                        provided by rep or tech, rather than Onit), account is online, payment collected for (total amount, breaking
                        down 1st month and other costs), confirmed equipment list, contract is good, sent podium review, photo of
                        business (if applicable) Is uploaded, ready for funding. "Add "service is scheduled for (date) for (reason and
                        equipment list)" if applicable***
                    </b>
                </div>*@


            @*<div class="width_100p">
                    <div class="qa_block">
                        <div class="qa_block_header">Notes</div>
                        <div class="qa_block_info">
                            <ul>
                                @if (Model.NoteList != null && Model.NoteList.Count() > 0)
                                {
                                    foreach (var item in Model.NoteList)
                                    {
                                        <li>@item</li>
                                    }
                                }
                                <li>
                                    @Html.TextBoxFor(x => x.qa2Script.ManualNote, new { @class = "form-control", placeholder = "Add Note", id = "manualNote" })
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>*@

        </div>
    </div>
    <div class="qa_footer">
        @if (Model.qa2Script == null || (Model.qa2Script != null && Model.qa2Script.IsCompleted == false))
        {
            <button class="btn green_button" id="SaveQA2">
                @Localize.T("Save")
            </button>
            <button class="btn green_button" id="FinishQA2">
                @Localize.T("Finish")
            </button>
        }
    </div>



</div>




