@model HS.Entities.CreateQAFinanceModel
@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<link href="~/Content/Css/Lead/EmergencyContactListPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Customer/AddQA.css" rel="stylesheet" />
<script src="~/Content/PikDay/js/pikaday.js"></script>
<script>
    var SaveQAFinance = function (IsComplete) {
    var url = domainurl + "/Customer/AddQAFinance";
        var param = JSON.stringify({
            Id: $("#qaFinanceId").val(),
            CreatedBy:$("#createdBy").val(),
            CustomerId: CustomerLoadGuid,
            IsUnderstandTwoPayment:$(".radBtnIsUnderstandTwoPaymentYes").prop('checked')? "Yes" : $(".radBtnIsUnderstandTwoPaymentNo").prop('checked')? "No" : "",
            UnderstandPaymentReasonNote:$("#understandPaymentReasonNoteText").val(),
            IsUnderstandSmartHomeInstall: $(".radBtnIsUnderstandSmartHomeInstallYes").prop('checked') ? "Yes" : $(".radBtnIsUnderstandSmartHomeInstallNo").prop('checked') ? "No" : "",
            FinancedAmount: $("#financedAmount").val(),
            FinancedAmountIsCorrect: $(".radBtnFinancedAmountIsCorrectYes").prop('checked') ? "Yes" : $(".radBtnFinancedAmountIsCorrectNo").prop('checked') ? "No" : "",
            IsUnderstandServicePayment: $(".radBtnIsUnderstandServicePaymentYes").prop('checked') ? "Yes" : $(".radBtnIsUnderstandServicePaymentNo").prop('checked') ? "No" : "",
            IsMinimumEquipmentMonthlyPayment: $(".radBtnIsMinimumEquipmentMonthlyPaymentYes").prop('checked') ? "Yes" : $(".radBtnIsMinimumEquipmentMonthlyPaymentNo").prop('checked') ? "No" : "",
            IsUnderstandMinimumMonthlyPayment: $(".radBtnIsUnderstandMinimumMonthlyPaymentYes").prop('checked') ? "Yes" : $(".radBtnIsUnderstandMinimumMonthlyPaymentNo").prop('checked') ? "No" : "",
            IsUnderstandSameAsCash: $(".radBtnIsUnderstandSameAsCashYes").prop('checked') ? "Yes" : $(".radBtnIsUnderstandSameAsCashNo").prop('checked') ? "No" : "",
            IsUnderstandInterestAccrues: $(".radBtnIsUnderstandInterestAccruesYes").prop('checked') ? "Yes" : $(".radBtnIsUnderstandInterestAccruesNo").prop('checked') ? "No" : "",
            IsAnyQuestion: $(".radBtnIsAnyQuestionYes").prop('checked') ? "Yes" : $(".radBtnIsAnyQuestionNo").prop('checked') ? "No" : "",
            ManualNote:$("#manualNote").val(),
            IsCompleted:IsComplete
    })
    $.ajax({
        type: "POST",
        ajaxStart: $(".loader-div").show(),
        url: url,
        data: param,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        cache: false,
        success: function (data) {
            if (data.result == true) {
                OpenSuccessMessageNew("Success!", "QA Finance saved successfully", function () {
                    CloseTopToBottomModal();
                    QAFinanceLoad();
                });
            }
            else {
                OpenErrorMessageNew('Error!', "QA Finance saved failed", "");
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        }
    });
    }
    $(document).ready(function () {
        $(".qa_inner_height").height(window.innerHeight - 86);

        $(".radBtnIsUnderstandTwoPayment_cls").change(function () {
            if ($(".radBtnIsUnderstandTwoPayment_cls").prop('checked')) {
                $(".isunderstandtwopayment_div").hide();
            }
            else {
                $(".isunderstandtwopayment_div").show();
            }
        });
        $(".radBtnFinancedAmountIsCorrect_cls").change(function () {
            if ($(".radBtnFinancedAmountIsCorrect_cls").prop('checked')) {
                $("#financedAmount").attr('disabled','disabled');
            }
            else {
               $("#financedAmount").removeAttr('disabled');
            }
        });
        $(".radBtnIsUnderstandServicePayment_cls").change(function () {
            if ($(".radBtnIsUnderstandServicePayment_cls").prop('checked')) {
                $(".isUnderstandServicePayment_div").hide();
            }
            else {
                $(".isUnderstandServicePayment_div").show();
            }
        });
        $(".radBtnIsMinimumEquipmentMonthlyPayment_cls").change(function () {
            if ($(".radBtnIsMinimumEquipmentMonthlyPayment_cls").prop('checked')) {
                $(".isMinimumEquipmentMonthlyPayment_div").hide();
            }
            else {
                $(".isMinimumEquipmentMonthlyPayment_div").show();
            }
        });
        $("#SaveQAFinance").click(function () {
            if ($("#isCompleted").prop('checked') != true) {
                SaveQAFinance(false);
            }
            else {
                OpenErrorMessageNew("Error!", "This QA is completed", "");
            }
        });
        $("#FinishQAFinance").click(function () {
            if ($("#isCompleted").prop('checked') != true) {
                OpenConfirmationMessageNew("Confirm?", "Are you sure you want to complete this QA?", function () {
                 SaveQAFinance(true);
            });

            }
            else {
                OpenErrorMessageNew("Error!", "This QA is completed", "");
            }
    });
    });
    $(window).resize(function () {
        $(".qa_inner_height").height(window.innerHeight - 86);
    })
</script>

<div class="qa_container">
    <div class="qa_header">
        QA1 Script
    </div>
    <div class="qa_inner_height">
        <input hidden id="qaFinanceId" value="@(Model.qAFinance != null && Model.qAFinance.Id > 0 ? Model.qAFinance.Id : 0)" />
        <input hidden id="createdBy" value="@(Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.CreatedBy) ? Model.qAFinance.CreatedBy : Model.UserName)" />
        <input hidden id="isCompleted" type="checkbox" @(Model.qAFinance != null && Model.qAFinance.IsCompleted ? "checked=\"checked\"" : "") value="true" />

        <div class="qa_inner">
            <div class="qa_inner_content">
                <ol>
                    <li>
                        “Do you understand there will be two separate monthly payments. One is for consumer finance option of the equipment buydown and the second is for monthly SERVICE?”
                        <span class="red">If NO, explain the reason.</span>
                        <div class="width_100p">
                            @*<label class="qa_green_check predefine_check">@Html.RadioButton("radBtnNameIsCorrect", true, new { @class = "radBtnNameIsCorrect_cls radBtnNameIsCorrectYes", @checked = "checked" })@Localize.T("Yes")</label>
                            <label class="qa_red_check">@Html.RadioButton("radBtnNameIsCorrect", false, new { @class = "radBtnNameIsCorrect_cls radBtnNameIsCorrectNo" })@Localize.T("No")</label>*@
                            @{
                                if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsUnderstandTwoPayment) && Model.qAFinance.IsUnderstandTwoPayment == "Yes")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsUnderstandTwoPayment", true, new { @class = "radBtnIsUnderstandTwoPayment_cls radBtnIsUnderstandTwoPaymentYes", @checked = "checked" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandTwoPayment", false, new { @class = "radBtnIsUnderstandTwoPayment_cls radBtnIsUnderstandTwoPaymentNo" })@Localize.T("No")</label>
                                }
                                else if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsUnderstandTwoPayment) && Model.qAFinance.IsUnderstandTwoPayment == "No")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsUnderstandTwoPayment", true, new { @class = "radBtnIsUnderstandTwoPayment_cls radBtnIsUnderstandTwoPaymentYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandTwoPayment", false, new { @class = "radBtnIsUnderstandTwoPayment_cls radBtnIsUnderstandTwoPaymentNo", @checked = "checked" })@Localize.T("No")</label>
                                }
                                else
                                {
                                    <label class="qa_green_check">@Html.RadioButton("radBtnIsUnderstandTwoPayment", true, new { @class = "radBtnIsUnderstandTwoPayment_cls radBtnIsUnderstandTwoPaymentYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandTwoPayment", false, new { @class = "radBtnIsUnderstandTwoPayment_cls radBtnIsUnderstandTwoPaymentNo" })@Localize.T("No")</label>
                                }
                            }
                        </div>

                        <div class="input-group add-on isunderstandtwopayment_div" @(Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsUnderstandTwoPayment) && Model.qAFinance.IsUnderstandTwoPayment == "No" ? "" : "hidden=\"hidden\"")>
                            <input type="text" id="understandPaymentReasonNoteText" value="@(Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.UnderstandPaymentReasonNote) ? Model.qAFinance.UnderstandPaymentReasonNote : "")" class="form-control" placeholder="" />
                        </div>
                    </li>
                    <li>
                        Do you understand that your Smart Home System will be installed, serviced and monitored through @(Model.customer != null && !string.IsNullOrWhiteSpace(Model.customer.EcontractId) ? "Brinks" : "ONIT Smart Home") ?
                        <div class="width_100p">
                            @*<label class="qa_green_check predefine_check">@Html.RadioButton("radBtnNameIsCorrect", true, new { @class = "radBtnNameIsCorrect_cls radBtnNameIsCorrectYes", @checked = "checked" })@Localize.T("Yes")</label>
                            <label class="qa_red_check">@Html.RadioButton("radBtnNameIsCorrect", false, new { @class = "radBtnNameIsCorrect_cls radBtnNameIsCorrectNo" })@Localize.T("No")</label>*@
                            @{
                                if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsUnderstandSmartHomeInstall) && Model.qAFinance.IsUnderstandSmartHomeInstall == "Yes")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsUnderstandSmartHomeInstall", true, new { @class = "radBtnIsUnderstandSmartHomeInstall_cls radBtnIsUnderstandSmartHomeInstallYes", @checked = "checked" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandSmartHomeInstall", false, new { @class = "radBtnIsUnderstandSmartHomeInstall_cls radBtnIsUnderstandSmartHomeInstallNo" })@Localize.T("No")</label>
                                }
                                else if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsUnderstandSmartHomeInstall) && Model.qAFinance.IsUnderstandSmartHomeInstall == "No")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsUnderstandSmartHomeInstall", true, new { @class = "radBtnIsUnderstandSmartHomeInstall_cls radBtnIsUnderstandSmartHomeInstallYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandSmartHomeInstall", false, new { @class = "radBtnIsUnderstandSmartHomeInstall_cls radBtnIsUnderstandSmartHomeInstallNo", @checked = "checked" })@Localize.T("No")</label>
                                }
                                else
                                {
                                    <label class="qa_green_check">@Html.RadioButton("radBtnIsUnderstandSmartHomeInstall", true, new { @class = "radBtnIsUnderstandSmartHomeInstall_cls radBtnIsUnderstandSmartHomeInstallYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandSmartHomeInstall", false, new { @class = "radBtnIsUnderstandSmartHomeInstall_cls radBtnIsUnderstandSmartHomeInstallNo" })@Localize.T("No")</label>
                                }
                            }
                        </div>

                        @*<div class="input-group add-on">
                            <input type="text" id="" value="" class="form-control" placeholder="" />
                        </div>*@
                    </li>
                    <li>
                        “Your Smart Home EQUIPMENT loan will be administered through Pinnacle Finance or AQUA Finance or ISPC.  I want to verify with you that the amount financed for the Smart Home equipment is
                        <span class="qa_content_space">@Currency@(HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.FinancedAmount))</span>”
                        <div class="width_100p">
                            @*<label class="qa_green_check predefine_check">@Html.RadioButton("radBtnNameIsCorrect", true, new { @class = "radBtnNameIsCorrect_cls radBtnNameIsCorrectYes", @checked = "checked" })@Localize.T("Yes")</label>
                            <label class="qa_red_check">@Html.RadioButton("radBtnNameIsCorrect", false, new { @class = "radBtnNameIsCorrect_cls radBtnNameIsCorrectNo" })@Localize.T("No")</label>*@
                            @{
                                if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.FinancedAmountIsCorrect) && Model.qAFinance.FinancedAmountIsCorrect == "Yes")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnFinancedAmountIsCorrect", true, new { @class = "radBtnFinancedAmountIsCorrect_cls radBtnFinancedAmountIsCorrectYes", @checked = "checked" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnFinancedAmountIsCorrect", false, new { @class = "radBtnFinancedAmountIsCorrect_cls radBtnFinancedAmountIsCorrectNo" })@Localize.T("No")</label>
                                }
                                else if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.FinancedAmountIsCorrect) && Model.qAFinance.FinancedAmountIsCorrect == "No")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnFinancedAmountIsCorrect", true, new { @class = "radBtnFinancedAmountIsCorrect_cls radBtnFinancedAmountIsCorrectYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnFinancedAmountIsCorrect", false, new { @class = "radBtnFinancedAmountIsCorrect_cls radBtnFinancedAmountIsCorrectNo", @checked = "checked" })@Localize.T("No")</label>
                                }
                                else
                                {
                                    <label class="qa_green_check">@Html.RadioButton("radBtnFinancedAmountIsCorrect", true, new { @class = "radBtnFinancedAmountIsCorrect_cls radBtnFinancedAmountIsCorrectYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnFinancedAmountIsCorrect", false, new { @class = "radBtnFinancedAmountIsCorrect_cls radBtnFinancedAmountIsCorrectNo" })@Localize.T("No")</label>
                                }
                            }
                        </div>

                        <div class="input-group add-on">
                            <input type="text" id="financedAmount" disabled="disabled" value="@(Model.qAFinance!=null && Model.qAFinance.FinancedAmount!=null?Model.qAFinance.FinancedAmount:Model.FinancedAmount)" class="form-control" placeholder="Finance Amount" />
                        </div>
                    </li>
                    <li>
                        Do you understand that your monthly SERVICE payment is
                        <span class="qa_content_space">(@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.MonthlyRate))</span> and the first monthly payment is due
                        <span class="qa_content_space"> {@(Model.customerExtend != null && Model.customerExtend.InstallFinishDate != null && Model.customerExtend.InstallFinishDate != new DateTime() ? Model.customerExtend.InstallFinishDate.Value.ToString("MM/dd/yy") : "")}</span>
                        and will be automatically deducted from the checking account you provided on the
                        <span class="qa_content_space">(@(Model.customerExtend != null && Model.customerExtend.InstallFinishDate != null && Model.customerExtend.InstallFinishDate != new DateTime() ? Model.customerExtend.InstallFinishDate.Value.ToString("MM/dd/yy") : ""))</span>
                        of each month?” The initial term is either month to month or
                        <span class="qa_content_space">(@(Model.customer != null && !string.IsNullOrWhiteSpace(Model.customer.ContractTeam) && Model.customer.ContractTeam != "-1" && Model.customer.ContractTeam != "Month to Month" ? (Convert.ToInt32(Model.customer.ContractTeam) * 12).ToString() : Model.customer != null && Model.customer.ContractTeam == "Month to Month" ? Model.customer.ContractTeam : "0"))</span>
                        <div class="width_100p">
                            @*<label class="qa_green_check predefine_check">@Html.RadioButton("radBtnNameIsCorrect", true, new { @class = "radBtnNameIsCorrect_cls radBtnNameIsCorrectYes", @checked = "checked" })@Localize.T("Yes")</label>
                            <label class="qa_red_check">@Html.RadioButton("radBtnNameIsCorrect", false, new { @class = "radBtnNameIsCorrect_cls radBtnNameIsCorrectNo" })@Localize.T("No")</label>*@
                            @{
                                if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsUnderstandServicePayment) && Model.qAFinance.IsUnderstandServicePayment == "Yes")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsUnderstandServicePayment", true, new { @class = "radBtnIsUnderstandServicePayment_cls radBtnIsUnderstandServicePaymentYes", @checked = "checked" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandServicePayment", false, new { @class = "radBtnIsUnderstandServicePayment_cls radBtnIsUnderstandServicePaymentNo" })@Localize.T("No")</label>
                                }
                                else if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsUnderstandServicePayment) && Model.qAFinance.IsUnderstandServicePayment == "No")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsUnderstandServicePayment", true, new { @class = "radBtnIsUnderstandServicePayment_cls radBtnIsUnderstandServicePaymentYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandServicePayment", false, new { @class = "radBtnIsUnderstandServicePayment_cls radBtnIsUnderstandServicePaymentNo", @checked = "checked" })@Localize.T("No")</label>
                                }
                                else
                                {
                                    <label class="qa_green_check">@Html.RadioButton("radBtnIsUnderstandServicePayment", true, new { @class = "radBtnIsUnderstandServicePayment_cls radBtnIsUnderstandServicePaymentYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandServicePayment", false, new { @class = "radBtnIsUnderstandServicePayment_cls radBtnIsUnderstandServicePaymentNo" })@Localize.T("No")</label>
                                }
                            }
                        </div>
                        <div class="width_100p isUnderstandServicePayment_div" @(Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsUnderstandServicePayment) && Model.qAFinance.IsUnderstandServicePayment == "No" ? "" : "hidden=\"hidden\"")>
                            <span class="red">(To update billing & installation information, go to customer form)</span>
                        </div>

                    </li>
                    <li>
                        Your minimum EQUIPMENT monthly payment through Pinnacle/AQUA/ISPC Finance is
                        <span class="qa_content_space">{@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.MonthlyRate)}</span>
                        and your first payment is due
                        <span class="qa_content_space"> {@(Model.customerExtend != null && Model.customerExtend.PaymentEffectiveDate != null && Model.customerExtend.PaymentEffectiveDate != new DateTime() ? Model.customerExtend.PaymentEffectiveDate.Value.ToString("MM/dd/yy") : "")}</span>
                        <div class="width_100p">
                            @*<label class="qa_green_check predefine_check">@Html.RadioButton("radBtnNameIsCorrect", true, new { @class = "radBtnNameIsCorrect_cls radBtnNameIsCorrectYes", @checked = "checked" })@Localize.T("Yes")</label>
                            <label class="qa_red_check">@Html.RadioButton("radBtnNameIsCorrect", false, new { @class = "radBtnNameIsCorrect_cls radBtnNameIsCorrectNo" })@Localize.T("No")</label>*@
                            @{
                                if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsMinimumEquipmentMonthlyPayment) && Model.qAFinance.IsMinimumEquipmentMonthlyPayment == "Yes")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsMinimumEquipmentMonthlyPayment", true, new { @class = "radBtnIsMinimumEquipmentMonthlyPayment_cls radBtnIsMinimumEquipmentMonthlyPaymentYes", @checked = "checked" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsMinimumEquipmentMonthlyPayment", false, new { @class = "radBtnIsMinimumEquipmentMonthlyPayment_cls radBtnIsMinimumEquipmentMonthlyPaymentNo" })@Localize.T("No")</label>
                                }
                                else if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsMinimumEquipmentMonthlyPayment) && Model.qAFinance.IsMinimumEquipmentMonthlyPayment == "No")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsMinimumEquipmentMonthlyPayment", true, new { @class = "radBtnIsMinimumEquipmentMonthlyPayment_cls radBtnIsMinimumEquipmentMonthlyPaymentYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsMinimumEquipmentMonthlyPayment", false, new { @class = "radBtnIsMinimumEquipmentMonthlyPayment_cls radBtnIsMinimumEquipmentMonthlyPaymentNo", @checked = "checked" })@Localize.T("No")</label>
                                }
                                else
                                {
                                    <label class="qa_green_check">@Html.RadioButton("radBtnIsMinimumEquipmentMonthlyPayment", true, new { @class = "radBtnIsMinimumEquipmentMonthlyPayment_cls radBtnIsMinimumEquipmentMonthlyPaymentYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsMinimumEquipmentMonthlyPayment", false, new { @class = "radBtnIsMinimumEquipmentMonthlyPayment_cls radBtnIsMinimumEquipmentMonthlyPaymentNo" })@Localize.T("No")</label>
                                }
                            }
                        </div>
                        <div class="width_100p isMinimumEquipmentMonthlyPayment_div" @(Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsMinimumEquipmentMonthlyPayment) && Model.qAFinance.IsMinimumEquipmentMonthlyPayment == "No" ? "" : "hidden=\"hidden\"")>
                            <span class="red">(To update billing & installation information, go to customer form)</span>
                        </div>

                    </li>
                    <li>
                        “With the EQUIPMENT FINANCING you have qualified for the twelve months Same-as-Cash promotion.  Do you understand you are required to make the minimum monthly payment each month?
                        <div class="width_100p">
                            @{
                                if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsUnderstandMinimumMonthlyPayment) && Model.qAFinance.IsUnderstandMinimumMonthlyPayment == "Yes")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsUnderstandMinimumMonthlyPayment", true, new { @class = "radBtnIsUnderstandMinimumMonthlyPayment_cls radBtnIsUnderstandMinimumMonthlyPaymentYes", @checked = "checked" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandMinimumMonthlyPayment", false, new { @class = "radBtnIsUnderstandMinimumMonthlyPayment_cls radBtnIsUnderstandMinimumMonthlyPaymentNo" })@Localize.T("No")</label>
                                }
                                else if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsUnderstandMinimumMonthlyPayment) && Model.qAFinance.IsUnderstandMinimumMonthlyPayment == "No")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsUnderstandMinimumMonthlyPayment", true, new { @class = "radBtnIsUnderstandMinimumMonthlyPayment_cls radBtnIsUnderstandMinimumMonthlyPaymentYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandMinimumMonthlyPayment", false, new { @class = "radBtnIsUnderstandMinimumMonthlyPayment_cls radBtnIsUnderstandMinimumMonthlyPaymentNo", @checked = "checked" })@Localize.T("No")</label>
                                }
                                else
                                {
                                    <label class="qa_green_check">@Html.RadioButton("radBtnIsUnderstandMinimumMonthlyPayment", true, new { @class = "radBtnIsUnderstandMinimumMonthlyPayment_cls radBtnIsUnderstandMinimumMonthlyPaymentYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandMinimumMonthlyPayment", false, new { @class = "radBtnIsUnderstandMinimumMonthlyPayment_cls radBtnIsUnderstandMinimumMonthlyPaymentNo" })@Localize.T("No")</label>
                                }
                            }
                        </div>
                    </li>
                    <li>
                        Do you understand details on the Same-as-Cash financing will be provided on your billing statement as long as it is active?
                        <div class="width_100p">
                            @{
                                if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsUnderstandSameAsCash) && Model.qAFinance.IsUnderstandSameAsCash == "Yes")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsUnderstandSameAsCash", true, new { @class = "radBtnIsUnderstandSameAsCash_cls radBtnIsUnderstandSameAsCashYes", @checked = "checked" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandSameAsCash", false, new { @class = "radBtnIsUnderstandSameAsCash_cls radBtnIsUnderstandSameAsCashNo" })@Localize.T("No")</label>
                                }
                                else if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsUnderstandSameAsCash) && Model.qAFinance.IsUnderstandSameAsCash == "No")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsUnderstandSameAsCash", true, new { @class = "radBtnIsUnderstandSameAsCash_cls radBtnIsUnderstandSameAsCashYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandSameAsCash", false, new { @class = "radBtnIsUnderstandSameAsCash_cls radBtnIsUnderstandSameAsCashNo", @checked = "checked" })@Localize.T("No")</label>
                                }
                                else
                                {
                                    <label class="qa_green_check">@Html.RadioButton("radBtnIsUnderstandSameAsCash", true, new { @class = "radBtnIsUnderstandSameAsCash_cls radBtnIsUnderstandSameAsCashYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandSameAsCash", false, new { @class = "radBtnIsUnderstandSameAsCash_cls radBtnIsUnderstandSameAsCashNo" })@Localize.T("No")</label>
                                }
                            }
                        </div>
                    </li>
                    <li>
                        Do you also understand that interest accrues from day one, however all interest is forgiven if the total financed amount is paid in full before the twelve-month promotion ends?
                        <div class="width_100p">
                            @{
                                if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsUnderstandInterestAccrues) && Model.qAFinance.IsUnderstandInterestAccrues == "Yes")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsUnderstandInterestAccrues", true, new { @class = "radBtnIsUnderstandInterestAccrues_cls radBtnIsUnderstandInterestAccruesYes", @checked = "checked" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandInterestAccrues", false, new { @class = "radBtnIsUnderstandInterestAccrues_cls radBtnIsUnderstandInterestAccruesNo" })@Localize.T("No")</label>
                                }
                                else if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsUnderstandInterestAccrues) && Model.qAFinance.IsUnderstandInterestAccrues == "No")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsUnderstandInterestAccrues", true, new { @class = "radBtnIsUnderstandInterestAccrues_cls radBtnIsUnderstandInterestAccruesYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandInterestAccrues", false, new { @class = "radBtnIsUnderstandInterestAccrues_cls radBtnIsUnderstandInterestAccruesNo", @checked = "checked" })@Localize.T("No")</label>
                                }
                                else
                                {
                                    <label class="qa_green_check">@Html.RadioButton("radBtnIsUnderstandInterestAccrues", true, new { @class = "radBtnIsUnderstandInterestAccrues_cls radBtnIsUnderstandInterestAccruesYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsUnderstandInterestAccrues", false, new { @class = "radBtnIsUnderstandInterestAccrues_cls radBtnIsUnderstandInterestAccruesNo" })@Localize.T("No")</label>
                                }
                            }
                        </div>
                    </li>
                    <li>
                        “Do you have any other questions or concerns regarding your service and financing obligation?”
                        <div class="width_100p">
                            @{
                                if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsAnyQuestion) && Model.qAFinance.IsAnyQuestion == "Yes")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsAnyQuestion", true, new { @class = "radBtnIsAnyQuestion_cls radBtnIsAnyQuestionYes", @checked = "checked" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsAnyQuestion", false, new { @class = "radBtnIsAnyQuestion_cls radBtnIsAnyQuestionNo" })@Localize.T("No")</label>
                                }
                                else if (Model.qAFinance != null && !string.IsNullOrWhiteSpace(Model.qAFinance.IsAnyQuestion) && Model.qAFinance.IsAnyQuestion == "No")
                                {
                                    <label class="qa_green_check predefine_check">@Html.RadioButton("radBtnIsAnyQuestion", true, new { @class = "radBtnIsAnyQuestion_cls radBtnIsAnyQuestionYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsAnyQuestion", false, new { @class = "radBtnIsAnyQuestion_cls radBtnIsAnyQuestionNo", @checked = "checked" })@Localize.T("No")</label>
                                }
                                else
                                {
                                    <label class="qa_green_check">@Html.RadioButton("radBtnIsAnyQuestion", true, new { @class = "radBtnIsAnyQuestion_cls radBtnIsAnyQuestionYes" })@Localize.T("Yes")</label>
                                    <label class="qa_red_check">@Html.RadioButton("radBtnIsAnyQuestion", false, new { @class = "radBtnIsAnyQuestion_cls radBtnIsAnyQuestionNo" })@Localize.T("No")</label>
                                }
                            }
                        </div>
                    </li>

                </ol>
                <div class="width_100p">
                    <div class="qa_block">
                        <div class="qa_block_header">Notes</div>
                        <div class="qa_block_info">
                            <ul>
                                @if (Model.NoteList != null && Model.NoteList.Count() > 0)
                                {
                                    foreach (var item in Model.NoteList)
                                    {
                                        <li>@item</li>
                                    }
                                }
                                <li>
                                    @Html.TextBoxFor(x => x.qAFinance.ManualNote, new { @class = "form-control", placeholder = "Add Note", id = "manualNote" })
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="qa_footer">
        @if (Model.qAFinance == null || (Model.qAFinance != null && Model.qAFinance.IsCompleted == false))
        {
            <button class="btn green_button" id="SaveQAFinance">
                @Localize.T("Save")
            </button>
            <button class="btn green_button" id="FinishQAFinance">
                @Localize.T("Finish")
            </button>
        }
    </div>

</div>






