@{
    Layout = null;

}
@model HS.Entities.GeeseRoute
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>
    var SaveRoute = function () {
        if (CommonUiValidation()) {
            var url = "/Customer/SaveRoute";
            var param = JSON.stringify({ Name: $("#RouteName").val(), Id: $("#RouteId").val() })

            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: url,
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    CloseRightToLeftModal();
                    location.reload();
                },

                error: function (jqXHR, textStatus, errorThrown) {
                    $(".loader-div").hide();
                    console.log(errorThrown);
                }
            });
        }
    };

    $(document).ready(function () {
        $("#btnsaveRoute").click(function () {
            SaveRoute();
        });
    });
</script>

@Styles.Render("~/styles/CCAddViewPaymentMethodCSS")
<script src="~/Content/Js/SmartLeads/CCAddViewPaymentMethod.js"></script>
<link href="~/Content/Css/CityStateZipAutoFill.css" rel="stylesheet" />
<script src="~/Content/Js/CityStateZipAutoFill.js"></script>
<div>
    @Html.HiddenFor(x => x.Id, new { id = "RouteId" })
    <div class="alarm_head_container">
        <span class="alarm_head_text header_txt_style_ERP">@Localize.T("Add Route")</span>
    </div>
    <div class="AddCardInnerContents">
        <div class="container-fluid">
            <div class="form-group clearfix">
                <span class="text-custom">@Localize.T("Name")</span>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "RouteName", datarequired = "true", placeholder = "Route Name" })
                <label class="label hidden red absolute" id="CardNumberError">*@Localize.T("Please enter Route Name"). </label>
            </div>
        </div>
    </div>
    <section class="footer-section">
        <footer class="footer">
            <div class="SaveCancelDiv">
                <button type="button" class="btn green_button" id="btnsaveRoute"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;@Localize.T("Save")</button>
            </div>
        </footer>
    </section>

</div>
