@model HS.Entities.Customer
@{
    Layout = null;
}
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/CustomerDetails/CustomerAccountActivityDetails.css" rel="stylesheet" />
@*<script>
        $(document).ready(function () {
            $("#btn-activity").click(function () {
                OpenTopToBottomModal("/Customer/AddCustomer?id=@ViewBag.id&IsAccountActivity=true");
            })
        })
    </script>*@

<div class="">
    @{
        if (Model != null)
        {
            if ((Model.SalesDate.HasValue && Model.SalesDate != new DateTime())
                || (Model.InstallDate.HasValue && Model.InstallDate != new DateTime())
                || (Model.CutInDate.HasValue && Model.CutInDate != new DateTime())
                || Model.Installer != "" || Model.Soldby != ""
                || (Model.FundingDate.HasValue && Model.FundingDate != new DateTime())
                || Model.QA1 != ""
                || (Model.QA1Date.HasValue && Model.QA1Date != new DateTime())
                || Model.QA2 != ""
                || (Model.IsFireAccount.HasValue && Model.IsFireAccount.Value)
                || (Model.QA2Date.HasValue && Model.QA2Date != new DateTime())
                || (Model.JoinDate.HasValue && Model.JoinDate.Value != new DateTime()))
            {
                if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerDetailsAccountActivity))
                {
                    <div class="ci_block ci_margin_top">
                        <div class="ci_header">
                            @Localize.T("Customer Account Activity Detail")
                        <i class="fa fa-briefcase" style="float:right;cursor: pointer;" onclick="OpenCustomerEditActivity('@Model.Id')" @*id="btn-activity"*@></i>
                    </div>
                    <div class="ci_info">
                        @{
                            <div class="add_container clearfix">
                                <div class="caad_text_bold">@Localize.T("Created On") <span>:</span></div>
                                <div class="text_normal_caad">@Model.CreatedByVal @HS.Framework.DateTimeExtension.UTCToClientTime(Model.JoinDate.Value).ToString("MM/dd/yyyy") @Localize.T("at") @HS.Framework.DateTimeExtension.UTCToClientTime(Model.JoinDate.Value).ToString("hh:mm tt")</div>
                            </div>
                            if (Model.IsFireAccount.HasValue && Model.IsFireAccount.Value)
                            {
                                <div class="add_container clearfix">
                                    <div class="caad_text_bold">@Localize.T("Fire Account") <span>:</span></div>
                                    <div class="text_normal_caad">@Localize.T("Yes")</div>
                                </div>
                            }
                            @*if (!string.IsNullOrWhiteSpace(Model.Soldby) && Model.Soldby != "-1")
                                {
                                    <div class="add_container clearfix">
                                        <div class="caad_text_bold">@Localize.T("Sold by") <span>:</span></div>
                                        <div class="text_normal_caad">@Model.SellerName</div>
                                    </div>
                                }*@
                            if (Model.SalesDate.HasValue && Model.SalesDate != new DateTime())
                            {
                                <div class="add_container clearfix">
                                    <div class="caad_text_bold">@Localize.T("Sales Date") <span>:</span></div>
                                    <div class="text_normal_caad">@Model.SalesDate.Value.ToString("MM/dd/yy") </div>
                                </div>
                            }
                            if (!string.IsNullOrWhiteSpace(Model.Installer) && Model.Installer != "-1")
                            {
                                <div class="add_container clearfix">
                                    <div class="caad_text_bold">@Localize.T("Installer") <span>:</span></div>
                                    <div class="text_normal_caad">@Model.InstallerName</div>
                                </div>
                            }
                            if (Model.InstallDate.HasValue && Model.InstallDate != new DateTime())
                            {
                                <div class="add_container clearfix">
                                    <div class="caad_text_bold">@Localize.T("Install Date") <span>:</span></div>
                                    <div class="text_normal_caad">@Model.InstallDate.Value.ToString("MM/dd/yy")</div>
                                </div>
                            }
                            if (Model.CutInDate.HasValue && Model.CutInDate != new DateTime())
                            {
                                <div class="add_container clearfix">
                                    <div class="caad_text_bold">@Localize.T("Cut in Date") <span>:</span></div>
                                    <div class="text_normal_caad">@HS.Framework.DateTimeExtension.UTCToClientTime(Model.CutInDate.Value).ToString("MM/dd/yy")</div>
                                </div>
                            }
                            if (Model.FundingDate.HasValue && Model.FundingDate != new DateTime())
                            {
                                <div class="add_container clearfix">
                                    <div class="caad_text_bold">@Localize.T("Funding Date") <span>:</span></div>
                                    <div class="text_normal_caad">@HS.Framework.DateTimeExtension.UTCToClientTime(Model.FundingDate.Value).ToString("MM/dd/yy")</div>
                                </div>
                            }
                            if (!string.IsNullOrWhiteSpace(Model.QualityAssurance1) && Model.QA1 != "-1")
                            {
                                <div class="add_container clearfix">
                                    <div class="caad_text_bold">@Localize.T("QA1") <span>:</span></div>
                                    <div class="text_normal_caad">@Model.QualityAssurance1</div>
                                </div>
                            }
                            if (Model.QA1Date.HasValue && Model.QA1Date.Value != new DateTime())
                            {
                                <div class="add_container clearfix">
                                    <div class="caad_text_bold">@Localize.T("QA1 Date") <span>:</span></div>
                                    <div class="text_normal_caad">@Model.QA1Date.Value.ToString("MM/dd/yy")</div>
                                </div>
                            }
                            if (!string.IsNullOrWhiteSpace(Model.QualityAssurance2) && Model.QA2 != "-1")
                            {
                                <div class="add_container clearfix">
                                    <div class="caad_text_bold">@Localize.T("QA2") <span>:</span></div>
                                    <div class="text_normal_caad">@Model.QualityAssurance2</div>
                                </div>
                            }
                            if (Model.QA2Date.HasValue && Model.QA2Date.Value != new DateTime())
                            {
                                <div class="add_container clearfix">
                                    <div class="caad_text_bold">@Localize.T("QA2 Date") <span>:</span></div>
                                    <div class="text_normal_caad">@Model.QA2Date.Value.ToString("MM/dd/yy")</div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }

        }
    }
    }
</div>