@model HS.Entities.CustomerCancellationQueue
@{ var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;
                Layout = null; }
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using UserTypes = HS.Web.UI.Helper.LabelHelper.UserTypes
@Styles.Render("~/styles/CancellationConfirm")

@Scripts.Render("~/scripts/CancellationConfirm")

<script>
    var CustomerId = '@ViewBag.CustomerId';
</script>
<div class="ccc_container">
    <div class="ccc_header">Customer Cancellation</div>
    <div class="ccc_inner">
        <div class="form-group">
            <span class="ccc_inner_header">Cancellation Date*</span>
            <div class="input_group_for_date add-on" id="CancellationDate_custom">
                <input type="text" id="CancellationDate" name="CancellationDate" class="form-control cancel-datepicker" placeholder="Cancellation Date" datarequired="true" />

                <div class="input-group-btn">
                    <btn class="btn">
                        <i class="fa fa-calendar" aria-hidden="true" style="cursor:pointer;"></i>
                    </btn>
                </div>

            </div>
            <label rel="CancellationDate" class="label hidden red" id="CancellationDatemsg">*@Localize.T("Cancellation Date Required")</label>

        </div>
        @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.ShowCancellationRemainingBalance))
        {
<div class="form-group">
    <span class="ccc_inner_header">Remaining Balance*</span>
    <input class="form-control" type="number" id="remainingbalance" value="@ViewBag.RemainingBalance" name="remainingbalance" placeholder="Remaining Balance" datarequired="true" />
    <label rel="remainingbalance" class="label hidden red">*@Localize.T("Remaining Balance Required")</label>
</div>}

        @if (ViewBag.CancellationEmployeeReason == true)
        {
<div class="form-group">
    <span class="ccc_inner_header">Contract Cancellation Reason*</span>
    @Html.DropDownList("CacellationReasons", ViewBag.DFWCancelReasonList as List<SelectListItem>, new { @class = "form-control selectpicker", datarequired = "true", name = "CacellationReasons" })
    <label class="label hidden red" rel="CacellationReasons" id="CacellationReasonsmsg">*@Localize.T("Cacellation Reason Required"). </label>
</div>}


        @if (ViewBag.CancellationReasonFillByEmployee == true)
        {
<div class="form-group">
    <span class="ccc_inner_header">Cancellation Reason</span>
    @Html.DropDownList("CacellationReasonList", ViewBag.CancelReasonList as List<SelectListItem>, new { @class = "form-control selectpicker", @multiple = "multiple" })
</div>}
        <br></br><br></br>
        <div class="form-group">
            <span class="ccc_inner_header">Cancellation Note</span>
            <textarea id="CacellationReason" rows="5" cols="20" input class="form-control" name="Reason" placeholder="Cancellation Reason"></textarea>
        </div>
        @if (CurrentUser.UserRole == UserTypes.Admin || CurrentUser.UserRole == UserTypes.SysAdmin)
        {
        <div class="form-group">
            <span class="ccc_inner_header">Expiration Days</span>
            <input class="form-control" type="number" id="ExpirationDays" name="expirationDays" value="@(Model != null && Model.ExpirationDays != null ? Model.ExpirationDays : 30)" />
        </div> 
        }
        else
        {
            <div class="form-group">
                <span class="ccc_inner_header">Expiration Days</span>
                <input class="form-control" style="cursor:text;" disabled type="number" id="ExpirationDays" name="expirationDays" value="@(Model != null && Model.ExpirationDays != null ? Model.ExpirationDays : 30)" />
            </div>
        }

    </div>
    @*<div class="ccc_footer">
            <button class="btn" id="SaveCancel">Save & Review</button>
        </div>*@
    <div class="ccc_footer">
        <button class="btn" id="SaveCancel">Add to Cancellation Queue</button>
    </div>
    <div class="hidden">
        <a class="LoadCancellationPopUp" style="display:none;" id="CancellationAgreement" href="@(AppConfig.DomainSitePath)/Customer/GetCancellationPopUp?CustomerId=@ViewBag.CustomerId">@Localize.T("Save & Done ")</a>
    </div>
</div>