@model HS.Entities.CustomerSystemInfo
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/CustomerDetails/CustomerSystemInfoDetails.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $("#btn-system").click(function () {
            OpenTopToBottomModal(domainurl + "/Customer/AddCustomer?id=@ViewBag.cusid&IsSystemInfo=true");
        })
    })
</script>
<div class="">
    @{
        if (Model != null)
        {
            if ((!string.IsNullOrWhiteSpace(Model.PanelType) && Model.PanelType != "-1") || (!string.IsNullOrWhiteSpace(Model.InstallType) && Model.InstallType != "-1") || (!string.IsNullOrWhiteSpace(Model.CellularBackup) &&  Model.CellularBackup != "-1") || Model.Zone1 != "" || Model.Zone2 != "" || Model.Zone3 != "" || Model.Zone4 != "" || Model.Zone5 != "" || Model.Zone6 != "" || Model.Zone7 != "" || Model.Zone8 != "" || Model.Zone9 != "")
            {
                <div class="ci_block ci_margin_top">
                    <div class="ci_header">@Localize.T("Customer System Info Details")<i class="fa fa-info" style="float:right;cursor: pointer;" id="btn-system" title="@Localize.T("Customer system info details")"></i></div>

                    <div class="ci_info">
                        @{
                            if (!string.IsNullOrWhiteSpace(Model.PanelType) &&  Model.PanelType != "-1")
                            {
                                <div class="data_row">
                                    <div class="customer_system_deatils_header">@Localize.T("Panel Type")</div>
                                    <div class="customer_system_deatils_info">: @Model.PanelType</div>
                                </div>

                            }
                            if (!string.IsNullOrWhiteSpace(Model.InstallType) &&  Model.InstallType != "-1")
                            {
                                <div class="data_row">
                                    <div class="customer_system_deatils_header">@Localize.T("Lead Type")</div>
                                    @if (!string.IsNullOrWhiteSpace(Model.InstallTypeVal))
                                    {
                                        <div class="customer_system_deatils_info">: @Model.InstallTypeVal</div>
                                    }
                                    else if (!string.IsNullOrWhiteSpace(Model.LeadInstallTypeVal))
                                    {
                                        <div class="customer_system_deatils_info">: @Model.LeadInstallTypeVal</div>
                                    }
                                    else
                                    {
                                        <div class="customer_system_deatils_info">: @Model.InstallType</div>
                                    }
                                    
                                </div>

                            }
                            if (!string.IsNullOrWhiteSpace(Model.CellularBackup) &&  Model.CellularBackup != "-1")
                            {
                                <div class="data_row">
                                    <div class="customer_system_deatils_header">@Localize.T("Cellular Backup")</div>
                                    <div class="customer_system_deatils_info">: @Model.CellularBackup</div>
                                </div>

                            }
                            if (!string.IsNullOrWhiteSpace(Model.Zone1))
                            {
                                <div class="data_row">
                                    <div class="customer_system_deatils_header">@Localize.T("Zone1")</div>
                                    <div class="customer_system_deatils_info">: @Model.Zone1</div>
                                </div>

                            }
                            if (!string.IsNullOrWhiteSpace(Model.Zone2))
                            {
                                <div class="data_row">
                                    <div class="customer_system_deatils_header">@Localize.T("Zone2")</div>
                                    <div class="customer_system_deatils_info">: @Model.Zone2</div>
                                </div>

                            }
                            if (!string.IsNullOrWhiteSpace(Model.Zone3))
                            {
                                <div class="data_row">
                                    <div class="customer_system_deatils_header">@Localize.T("Zone3")</div>
                                    <div class="customer_system_deatils_info">: @Model.Zone3</div>
                                </div>
                            }
                            if (!string.IsNullOrWhiteSpace(Model.Zone4))
                            {
                                <div class="data_row">
                                    <div class="customer_system_deatils_header">@Localize.T("Zone4")</div>
                                    <div class="customer_system_deatils_info">: @Model.Zone4</div>
                                </div>
                            }
                            if (!string.IsNullOrWhiteSpace(Model.Zone5))
                            {
                                <div class="data_row">
                                    <div class="customer_system_deatils_header">@Localize.T("Zone5")</div>
                                    <div class="customer_system_deatils_info">: @Model.Zone5</div>
                                </div>
                            }
                            if (!string.IsNullOrWhiteSpace(Model.Zone6))
                            {
                                <div class="data_row">
                                    <div class="customer_system_deatils_header">@Localize.T("Zone6")</div>
                                    <div class="customer_system_deatils_info">: @Model.Zone6</div>
                                </div>
                            }
                            if (!string.IsNullOrWhiteSpace(Model.Zone7))
                            {
                                <div class="data_row">
                                    <div class="customer_system_deatils_header">@Localize.T("Zone7")</div>
                                    <div class="customer_system_deatils_info">: @Model.Zone7</div>
                                </div>
                            }
                            if (!string.IsNullOrWhiteSpace(Model.Zone8) )
                            {
                                <div class="data_row">
                                    <div class="customer_system_deatils_header">@Localize.T("Zone8")</div>
                                    <div class="customer_system_deatils_info">: @Model.Zone8</div>
                                </div>
                            }
                            if (!string.IsNullOrWhiteSpace(Model.Zone9))
                            {
                                <div class="data_row">
                                    <div class="customer_system_deatils_header">@Localize.T("Zone9")</div>
                                    <div class="customer_system_deatils_info">: @Model.Zone9</div>
                                </div>
                            }
                        }
                    </div>
                </div>
             }
        }
    }
</div>
