@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
 <link href="~/Content/Css/Customer/CustomerMediaNoteDetails.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $(".cmnd_inner_height").height(window.innerHeight - 44);
    });
    $(window).resize(function () {
        $(".cmnd_inner_height").height(window.innerHeight - 44);
    })
</script>
 <div class="cmnd_container">
     <div class="cmnd_header">
         @Localize.T("Media / Note for") <a href="/Customer/CustomerDetail/?id=@ViewBag.CustomerId" target="_blank">@ViewBag.CustomerName</a>
     </div>
     <div class="cmnd_inner_height">
         <div class="cmnd_inner">
             <div class="cmnd_inner_left">
                 <div class="cmnd_block">
                     <div class="cmnd_block_header">@Localize.T("Media")</div>
                     <div class="cmnd_block_info">
                         <table class="MediaTble table">
                             @if (Model.GeeseMediaList != null)
                             {

                                 <thead class="table-head-border">
                                     <tr>
                                         <th class="th_timeclock_pre">
                                             <div>@Localize.T("Image")</div>
                                         </th>
                                         <th class="th_timeclock_pre">
                                             <div>@Localize.T("Uploaded By")</div>
                                         </th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                     @foreach (var item in Model.GeeseMediaList)
                                     {
                                         if (item.Url != "")
                                         {
                                            <tr>
                                                <td class="table-body-td-style">
                                                    <div class="cmnd_full">
                                                        <div class="cmnd_pic">
                                                            <img src="@item.Url" alt="Alternate Text" />
                                                        </div>
                                                    </div>
                                                    <div><div class="cmnd_small_header">@Localize.T("Caption:")</div>@item.Notes</div>
                                                    <div><div class="cmnd_small_header">@Localize.T("Address: ")</div>@item.Address</div>
                                                </td>

                                                <td class="table-body-td-style">
                                                    <div><span title="@Localize.T("Uploaded By")">@item.Assigner</span></div>
                                                    <div><span title="@Localize.T("Upload Date")">@item.UploadDate.ToString("MM/dd/yyyy")</span></div>
                                                </td>
                                            </tr>
                                         }
                                     }
                                 </tbody>
                             }
                         </table>
                     </div>
                 </div>
             </div>
             <div class="cmnd_inner_right">
                 <div class="cmnd_block">
                     <div class="cmnd_block_header">@Localize.T("Note")</div>
                     <div class="cmnd_block_info">
                         <table class="NoteTable table">
                             @if (Model.GeeseNoteList != null)
                             {

                                 <thead class="table-head-border">
                                     <tr>
                                         <th class="th_timeclock_pre">
                                             <div>@Localize.T("Note")</div>
                                         </th>
                                         <th class="th_timeclock_pre">
                                             <div>@Localize.T("Uploaded By")</div>
                                         </th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                     @foreach (var item in Model.GeeseNoteList)
                                     {
                                         if (item.Notes != "")
                                         {
                                            <tr>
                                                <td class="table-body-td-style">
                                                    <div>@item.Notes</div>
                                                </td>

                                                <td class="table-body-td-style">
                                                    <div><span title="@Localize.T("Uploaded By")">@item.Assigner</span></div>
                                                    <div><span title="@Localize.T("Upload Date")">@item.Date.ToString("MM/dd/yyyy")</span></div>
                                                </td>
                                            </tr>
                                         }

                                     }
                                 </tbody>
                             }
                         </table>
                     </div>
                 </div>
             </div>
             
         </div>
     </div>
 </div>

