@model List<HS.Entities.Customer>
@{
    Layout = null;

}

<html>
<head>
    <script>
        @*var viewdata=@Html.Raw(ViewBag.Cus);*@
    </script>
</head>

<body style="font-family:sans-serif;">
    
        <div class="div-content-page" style="padding-top:10px; padding-left:60px;padding-right:60px;">
            <div style="width:100%;">
                <h2 style="margin-bottom:0px;"></h2>

            </div>
            <div>
                <h2 style="color:#36aed4">Customer List</h2>
            </div>
            <span>&nbsp;</span>
            <br />
            <br />
            <div style="margin-top:20px;width:100%;">
                <table style="width:100%;">
                    <thead>
                        <tr style="background-color:#d3d3d3; color:#4c3a34">
                            <th>Customer Name</th>
                            <th>Primary Phone</th>
                            <th>Date of Birth</th>
                            <th>Email Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="padding-left:20px;">@item.FirstName @item.LastName</td>
                                <td style="text-align:center">@item.PrimaryPhone</td>
                                <td style="text-align:center">@item.DateofBirth</td>
                                <td style="text-align:center">@item.EmailAddress</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div style="width:100%;height:50px;border-bottom:1px dotted;position:relative;">
            </div>

        </div>
    
</body>
</html>
