@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
@model IEnumerable<HS.Entities.CustomerAppointmentEquipment>
<div class="ReportsTitle_customer_equipment">
    @Localize.T("Installed Equipment List")
</div>

<div class="ReportsTitle_customer_equipment_container">
    <table class="table" id="EquipmentDetailList">
        <thead class="table-head-border">
            <tr>
                <th class="th_timeclock_pre">
                    @Localize.T("Ticket ID")
                </th>
                <th class="th_timeclock_pre">
                    @Localize.T("Equipment Name")
                </th>
                <th class="th_timeclock_pre">
                    @Localize.T("Install")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="table-body-td-style cotl_header_row" valign="top">
                        <div><a href="javascript:void(0);" class="cus-anchor" onclick="OpenTicketById(@item.TicketIntId)">@item.TicketIntId</a></div>
                    </td>
                    <td class="table-body-td-style cotl_header_row" valign="top">
                        <div> @item.EquipName</div>
                    </td>

                    <td class="table-body-td-style cotl_header_row" valign="top">
                        <div> @item.QuantityLeftEquipment</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>