@model IEnumerable<HS.Entities.Opportunity>
@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

@if (ViewBag.Opportunity != null)
{
    <table class="table">
        <tr>
            <th>
                @Localize.T("Opportunity")

            </th>
            <th>
                @Localize.T("Type")
            </th>
            <th>
                @Localize.T("Status")
            </th>
            <th>
                @Localize.T("Account Owner") 
            </th> 
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr> 
                <td>
                    @Html.DisplayFor(modelItem => item.OpportunityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeVal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusVal)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AccountOwnerName)
                </td>

            </tr>
        }

    </table>
}
else
{
    <span>No opportunity available.</span>
}

