
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@model List<HS.Entities.LeadEmergencyDetail>
@Styles.Render("~/styles/UserList")
<link href="~/Content/Css/Lead/EmergencyContactListPartial.css" rel="stylesheet" />
<script>
    @*$(document).ready(function () {
        $("#btn-emeregency").click(function () {
            OpenTopToBottomModal("/Customer/AddCustomer?id=@ViewBag.id&IsEmergency=true");
        })
    })*@
</script>
@{
    if (Model.Count > 0)
    {
        <div class="ci_block ci_margin_top">
            <div class="ci_header">@Localize.T("Emergency Contacts")<i title="@Localize.T("Emergency contacts details")" class="fa fa-address-book-o" style="float:right;cursor: pointer;" onclick="OpenCustomerEmergency('@ViewBag.CustomerId')" @*id="btn-emeregency"*@></i></div>
            <div class="ci_info">
                @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerDetailsAccountActivity))
                {
                    <table id="TblEmergencyContactList">
                        <thead class="table-head-border eg_contact_hide">
                            <tr>
                                <th class="thead-th-style">
                                    @Localize.T("Name")
                                </th>
                                @*<th class="thead-th-style">
                                        @Localize.T("Cross Street")
                                    </th>*@
                                <th class="thead-th-style">
                                    @Localize.T("Relationship")
                                </th>
                                <th class="thead-th-style">
                                    @Localize.T("Phone No")
                                </th>
                                @*<th class="thead-th-style">
                                    @Localize.T("Has Key")
                                </th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="tr-style">
                                    <td class="table-body-td-style eg_contact_header_row" valign="top">
                                        <label class="eg_contact_device_header">@Localize.T("Name")</label>
                                        @item.ContactName
                                    </td>

                                    <td class="table-body-td-style eg_contact_header_row" valign="top">
                                        <label class="eg_contact_device_header">@Localize.T("Relationship")</label>
                                        @if (item.ContactRelation != "")
                                        {
                                            <span> @item.ContactRelation </span>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </td>
                                    <td class="table-body-td-style eg_contact_header_row" valign="top">
                                        <label class="eg_contact_device_header">@Localize.T("Phone No")</label>
                                        @if (item.ContactPhone != "")
                                        {
                                            <span>@HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(@item.ContactPhone)</span>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    @*<td class="table-body-td-style eg_contact_header_row" valign="top">
                                        <label class="eg_contact_device_header">@Localize.T("Verbal Password")</label>
                                        @if (item.ContactHaskey != "")
                                        {
                                            if (item.ContactHaskey == "True")
                                            {
                                                <span>@Localize.T("Yes")</span>
                                            }
                                            else
                                            {
                                                <span>@Localize.T("No")</span>
                                            }
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </td>*@
                                </tr>


                            }
                        </tbody>
                    </table>
                }

            </div>
        </div>
    }
}
