

@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@model List<HS.Entities.Activity>
@Styles.Render("~/styles/UserList")
<link href="~/Content/Css/Lead/EmergencyContactListPartial.css" rel="stylesheet" />
<script>
    //$(document).ready(function () {
    //   $("#btnAddActivity").click(function () {
    //        OpenTopToBottomModal("/Activity/AddActivity?CustomerId="+CustomerId);
    //    });
    //})

</script>
@{
    if (Model.Count > 0)
    {
        <div class="ci_block ci_margin_top">
            <div class="ci_header clearfix">@Localize.T("Activities")
                <button class="btn customer_contact_add green_button" onclick="OpenCustomerActivity('@ViewBag.CustomerId')" title="@Localize.T("Add Activities")"><i class="fa fa-plus" @*id="btn-emeregency"*@></i></button>
            </div>
            <div class="ci_info">

                <table id="TblEmergencyContactList">
                    <thead class="table-head-border eg_contact_hide">
                        <tr>
                            <th class="thead-th-style">
                                @Localize.T("Activity Type")
                            </th>
                            @*<th class="thead-th-style">
                                    @Localize.T("Cross Street")
                                </th>*@
                            <th class="thead-th-style">
                                @Localize.T("Assign To")
                            </th>
                            <th class="thead-th-style">
                                @Localize.T("Status")
                            </th>
                            @*<th class="thead-th-style">
                                    @Localize.T("Has Key")
                                </th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="tr-style">
                                <td class="table-body-td-style eg_contact_header_row" valign="top">
                                    <label class="eg_contact_device_header">@Localize.T("Activiy Type") <span>:</span> </label>
                                    @item.ActivityTypeVal
                                </td>

                                <td class="table-body-td-style eg_contact_header_row" valign="top">
                                    <label class="eg_contact_device_header">@Localize.T("Assign To") <span>:</span> </label>
                                   
                                        <span> @item.AssignedToVal </span>
                                    
                                   
                                </td>
                                <td class="table-body-td-style eg_contact_header_row" valign="top">
                                    <label class="eg_contact_device_header">@Localize.T("Status") <span>:</span> </label>
                                   
                                    @if (item.Status != "" && item.Status != "-1")
                                    {
                                        <span> @item.Status </span>
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }

                            </tr>


                        }
                    </tbody>
                </table>


            </div>
        </div>
    }
}

