@model HS.Entities.CustomerSystemInfo
@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper


@Html.HiddenFor(x => x.Id, new { id = "Idval"})

<input type="hidden" value="@ViewBag.CustomerId" id="ValCustomerId" />

<span class="width-100p sub-header">
    @Localize.T("System Information")
    
</span>
<div class="customer_info_container">
    <div class="form-group clearfix width-33p">
        <span class="span-style">@Localize.T("Panel Type")</span>
        @Html.DropDownListFor(x => x.PanelType, (List<SelectListItem>)ViewBag.Panel, new { @class = "form-control select_system", id = "panelType", style = "width:100%", tabindex = "1" })
    </div>
    <div class="form-group clearfix width-33p">
        <span class="span-style">@Localize.T("Lead Type")</span>
        @Html.DropDownListFor(x => x.InstallType, (List<SelectListItem>)ViewBag.Install, new { @class = "form-control select_system", id = "installType", style = "width:100%", tabindex = "2" })
    </div>
    <div class="form-group clearfix width-33p">
        <span class="span-style">@Localize.T("Cellular Backup")</span>
        @Html.DropDownListFor(x => x.CellularBackup, (List<SelectListItem>)ViewBag.Cellular, new { @class = "form-control select_system", id = "cellularBackup", style = "width:100%", tabindex = "3" })
    </div>
    <div class="form-group clearfix width-33p">
        <span class="span-style">@Localize.T("Zone 1")</span>
        @Html.TextBoxFor(x => x.Zone1, new { @class = "form-control", id = "zone1", tabindex = "4" })
    </div>
    <div class="form-group clearfix width-33p">
        <span class="span-style">@Localize.T("Zone 2")</span>
        @Html.TextBoxFor(x => x.Zone2, new { @class = "form-control", id = "zone2", tabindex = "5" })
    </div>
    <div class="form-group clearfix width-33p">
        <span class="span-style">@Localize.T("Zone 3")</span>
        @Html.TextBoxFor(x => x.Zone3, new { @class = "form-control", id = "zone3", tabindex = "6" })
    </div>
    <div class="form-group clearfix width-33p">
        <span class="span-style">@Localize.T("Zone 4")</span>
        @Html.TextBoxFor(x => x.Zone4, new { @class = "form-control", id = "zone4", tabindex = "7" })
    </div>
    <div class="form-group clearfix width-33p">
        <span class="span-style">@Localize.T("Zone 5")</span>
        @Html.TextBoxFor(x => x.Zone5, new { @class = "form-control", id = "zone5", tabindex = "8" })
    </div>
    <div class="form-group clearfix width-33p">
        <span class="span-style">@Localize.T("Zone 6")</span>
        @Html.TextBoxFor(x => x.Zone6, new { @class = "form-control", id = "zone6", tabindex = "9" })
    </div>
    <div class="form-group clearfix width-33p">
        <span class="span-style">@Localize.T("Zone 7")</span>
        @Html.TextBoxFor(x => x.Zone7, new { @class = "form-control", id = "zone7", tabindex = "10" })
    </div>
    <div class="form-group clearfix width-33p">
        <span class="span-style">@Localize.T("Zone 8")</span>
        @Html.TextBoxFor(x => x.Zone8, new { @class = "form-control", id = "zone8", tabindex = "11" })
    </div>
    <div class="form-group clearfix width-33p">
        <span class="span-style">@Localize.T("Zone 9")</span>
        @Html.TextBoxFor(x => x.Zone9, new { @class = "form-control", id = "zone9", tabindex = "12" })
    </div>
</div>