@{
    ViewBag.Title = "Customer System NO";
    Layout = null;
}
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

@using Localize = HS.Web.UI.Helper.LanguageHelper

<script src="~/Content/Js/CustomerNo/CustomerNoPartial.js"></script>
<link href="~/Content/Css/CustomerNo/CustomerNoPartial.css" rel="stylesheet" />
<script>
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
     
    var CustomerSystemNumberKeyUp = function (pageNumber) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
        var filter = $("#CustomerNoStatus").val();
        var prefix = $("#CustomerNoPrefix").val();
        parent.$(".CustomerNoList.ListContents").html(TabsLoaderText);
        var Searchtxt = encodeURI($("#srch-term").val());
        parent.$(".CustomerNoList.ListContents").load(domainurl + "/Customer/CustomerSystemNoListPartial/?PageNo=" + pageNumber
            + "&SearchText=" + Searchtxt + "&filter=" + filter + "&prefix=" + prefix);
    }
    
    var DeleteCustomerSystemNo = function (delitem) {
        var url = domainurl + "/Customer/DeleteCustomerSystemNo/";
        $.ajax({
            url: url,
            data: { id: delitem },
            type: "Post",
            dataType: "Json",
            success: function (data) {
                if (data.result == true) {
                    parent.$(".ListContents").html(TabsLoaderText);
                    CustomerSystemNumberKeyUp(1);
                }
                else {
                    OpenErrorMessageNew("Error!", data.message, "");
                }
            },

            error: function () {
            }

        });
    }
    var UnassociateCustomerSystemNo = function (delitem) {
        var url = domainurl + "/Customer/UnassociateCustomerSystemNo/";
        $.ajax({
            url: url,
            data: { id: delitem },
            type: "Post",
            dataType: "Json",
            success: function (data) {
                if (data.result == true) {
                    parent.$(".ListContents").html(TabsLoaderText);
                    CustomerSystemNumberKeyUp(1);
                }
                else {
                    OpenErrorMessageNew("Error!", data.message, "");
                }
            },

            error: function () {
            }

        });
    }
    var StatusChangeCustomerSystemNo = function (delitem) {
        var url = domainurl + "/Customer/StatusChangeCustomerSystemNo/";
        $.ajax({
            url: url,
            data: { id: delitem },
            type: "Post",
            dataType: "Json",
            success: function (data) {
                if (data.result == true) {
                    OpenSuccessMessageNew("Success!", data.message, function () {
                        parent.$(".ListContents").html(TabsLoaderText);
                        CustomerSystemNumberKeyUp(1);
                    });
                }
                else {
                    OpenErrorMessageNew("Error!", data.message, "");
                }
            },

            error: function () {
            }

        });
    }

    var ConfirmDeleteCustomerNo = function (Id) {
        OpenConfirmationMessageNew("Confirm?", "Are you sure you want to delete this item?", function () {
            console.log(Id);
            DeleteCustomerSystemNo(Id)
        });
    }

    var ConfirmUnassociateCustomerNo = function (Id) {
        OpenConfirmationMessageNew("Confirm?", "Are you want to unassociate this number?", function () {
            console.log(Id);
            UnassociateCustomerSystemNo(Id)
        });
    }
    var StatusChange = function (Id) {
            StatusChangeCustomerSystemNo(Id)
    }
    $(document).ready(function () {
        $("#srch-term").keyup(function (e) {
            if (e.keyCode == 13) {
                CustomerSystemNumberKeyUp(1);
            }
        });
        $("#SearchSystemNoBtn").click(function () {
            CustomerSystemNumberKeyUp(1);
        });

        $("#CustomerNoStatus").change(function () {
            CustomerSystemNumberKeyUp(1);
        });
        $("#CustomerNoPrefix").change(function () {
            CustomerSystemNumberKeyUp(1);
        });

    });
</script>
<div class="customer_system_no_partial_container">    
        <div class="width-100p">
            <div class="header_container">
                <div class="header_custom">@Localize.T("Customers System No.")</div>
            </div>
            <div class="button_container">
                @if (PermissionChekcer.IsPermitted(Permissions.ToolsPermissions.CustomerSystemNoAdd))
                {
                    <button class="btn left_custom" id="AddCustomerSystemNoPrefix" type="button" title="@Localize.T("Add Number Prefix")">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" Number Prefix")
                    </button>
                    <button class="btn" id="AddCustomerSystemNo" type="button" title="@Localize.T("Generate System No.")">@Localize.T("Generate System No.")</button>
                }
            </div>
        </div>
                
        <div class="customer_sys_no_searchbar_div">
            @Html.DropDownList("CustomerNoStatus", ViewBag.Status as List<SelectListItem>, new { @class = "form-control" })

            @Html.DropDownList("CustomerNoPrefix", ViewBag.Prefix as List<SelectListItem>, new { @class = "form-control" })
            <div class="input-group add-on">
                <input class="form-control" placeholder="Search By prefix" name="srch-term" id="srch-term" type="text">
                <div class="input-group-btn">
                    <button class="btn custom-btn green_button" id="SearchSystemNoBtn" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>



        </div>
       
        <div class="CustomerNoList ListContents">

        </div>   
</div>

<div class="ListViewLoader displayNone">
    <div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div>
</div>

<div class="displayNone">
    <a href="@(AppConfig.DomainSitePath)/Customer/AddCustomerSystemNo" class="addManufacturerMagnific">@Localize.T("Add New Customer System No")</a>
</div>
@using AppConfig = HS.Framework.Utils.AppConfig; 