@model List<HS.Entities.CustomerView>
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<style>
    .th2-style {
        padding-left: 30px;
    }

    .no-history-div {
        text-align: center;
        font-weight: 600;
    }
    /*.customer_view_list_container {
        width:100%;
        float:left;
        padding:10px 25px;
    }*/
</style>

<script>
    var CloseViewedCustomer = function(id, visitdate)
    {
        console.log(id);
        $.ajax({
            type: "POST",
            ajaxStart: function () { },
            url: "/Customer/CloseViewedCustomerRecent",
            data: JSON.stringify({viewid: id, visitdate: visitdate}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if(data){
                    $(".logItem_" + id).hide();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        })
    }
    $(document).ready(function () {

        $(".viewlist-anchor").click(function () {
            var valueid = $(this).attr('id');
            LoadCustomerDetail(valueid);
        })

     
    })
</script>
<div class="customer_view_list_container">
    @{
        if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <div  class="customer-log logItem_@item.CustomerViewid">

                    <div title="Close" class="tab_close_style tabCloseCustomer" onclick="CloseViewedCustomer(@item.CustomerViewid, '@item.LastVistited')" data-id="@item.CustomerViewid"></div>
                    <a class="viewlist-anchor" href="/Customer/Customerdetail/?id=@item.CustomerViewid" id="@item.CustomerViewid">
                        @if (item.CustomerViewBussiness != "")
                        {
                            <span>@item.CustomerViewBussiness</span>
                        }
                        else
                        {
                            <span>@item.CustomerViewName</span>
                        }
                    </a><br /><span class="viewlist-snap">@item.LastVisitDate</span>  
                </div>
            }
        }
        @*else
        {
            <div class="no-history-div">@Localize.T("No History")</div>
        }*@
    }
</div>
