@model List<HS.Entities.CustomerApiSetting>
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/CustomerDetails/CustomerApiSettingDetail.css" rel="stylesheet" />
<div class="">
    @{
        if ((ViewBag.AlarmUrl != "" && ViewBag.AlarmUrl != null) || (ViewBag.AlarmUser != "" && ViewBag.AlarmUser != null) || (ViewBag.AlarmPass != "" && ViewBag.AlarmPass != null) || (ViewBag.MoniUrl != "" && ViewBag.MoniUrl != null) || (ViewBag.MoniUser != "" && ViewBag.MoniUser != null) || (ViewBag.MoniPass != "" && ViewBag.MoniPass != null) || (ViewBag.CenUrl != "" && ViewBag.CenUrl != null) || (ViewBag.CenUser != "" && ViewBag.CenUser != null) || (ViewBag.CenPass != "" && ViewBag.CenPass != null))
        {
            <div class="casd_block casd_margin_top_block">
                <div class="casd_header_block">@Localize.T("Customer ApiSetting Detail")</div>
                <div class="casd_info_block">
                    @{
                        if (ViewBag.AlarmUrl != "" || ViewBag.AlarmUrl == null || ViewBag.AlarmUser != "" || ViewBag.AlarmUser == null || ViewBag.AlarmPass != "" || ViewBag.AlarmPass == null)
                        {
                            <div class="casd_block">
                                <div class="casd_header_block">@Localize.T("Alarm ApiSetting")</div>
                                <div class="casd_info_block">

                                    @{
                                        if (ViewBag.AlarmUrl != "" || ViewBag.AlarmUrl == null)
                                        {
                                            <div class="casd_row_style">
                                                <div class="casd_header">@Localize.T("Url")</div>
                                                <div class="casd_info">@ViewBag.AlarmUrl</div>
                                            </div>
                                        }
                                        if (ViewBag.AlarmUser != "" || ViewBag.AlarmUser == null)
                                        {
                                            <div class="casd_row_style">
                                                <div class="casd_header">@Localize.T("Username")</div>
                                                <div class="casd_info">@ViewBag.AlarmUser</div>
                                            </div>
                                        }
                                        if (ViewBag.AlarmPass != "" || ViewBag.AlarmPass == null)
                                        {
                                            <div class="casd_row_style">
                                                <div class="casd_header">@Localize.T("Password")</div>
                                                <div class="casd_info">@ViewBag.AlarmPass</div>
                                            </div>

                                        }
                                    }
                                </div>
                            </div>

                                        }
                    }

                    @{
                        if (ViewBag.MoniUrl != "" || ViewBag.MoniUrl == null || ViewBag.MoniUser != "" || ViewBag.MoniUser == null || ViewBag.MoniPass != "" || ViewBag.MoniPass == null)
                        {

                            <div class="casd_block casd_margin_top_block">
                                <div class="casd_header_block">@Localize.T("Monitronics ApiSetting")</div>
                                <div class="casd_info_block">

                                    @{
                                        if (ViewBag.MoniUrl != "" || ViewBag.MoniUrl == null)
                                        {
                                            <div class="casd_row_style">
                                                <div class="casd_header">@Localize.T("Url")</div>
                                                <div class="casd_info">@ViewBag.MoniUrl</div>
                                            </div>

                                        }
                                        if (ViewBag.MoniUser != "" || ViewBag.MoniUser == null)
                                        {
                                            <div class="casd_row_style">
                                                <div class="casd_header">@Localize.T("Username")</div>
                                                <div class="casd_info">@ViewBag.MoniUser</div>
                                            </div>

                                        }
                                        if (ViewBag.MoniPass != "" || ViewBag.MoniPass == null)
                                        {
                                            <div class="casd_row_style">
                                                <div class="casd_header">@Localize.T("Password")</div>
                                                <div class="casd_info">@ViewBag.MoniPass</div>
                                            </div>

                                        }
                                    }

                                </div>
                            </div>

                                        }
                    }


                    @{
                        if (ViewBag.CenUrl != "" || ViewBag.CenUrl == null || ViewBag.CenUser != "" || ViewBag.CenUser == null || ViewBag.CenPass != "" || ViewBag.CenPass == null)
                        {
                            <div class="casd_block casd_margin_top_block">
                                <div class="casd_header_block">@Localize.T("Central ApiSetting")</div>
                                <div class="casd_info_block">
                                    @{
                                        if (ViewBag.CenUrl != "" || ViewBag.CenUrl == null)
                                        {
                                            <div class="casd_row_style">
                                                <div class="casd_header">@Localize.T("Url")</div>
                                                <div class="casd_info">@ViewBag.CenUrl</div>
                                            </div>

                                        }
                                        if (ViewBag.CenUser != "" || ViewBag.CenUser == null)
                                        {
                                            <div class="casd_row_style">
                                                <div class="casd_header">@Localize.T("Username")</div>
                                                <div class="casd_info">@ViewBag.CenUser</div>
                                            </div>
                                        }
                                        if (ViewBag.CenPass != "" || ViewBag.CenPass == null)
                                        {
                                            <div class="casd_row_style">
                                                <div class="casd_header">@Localize.T("Password")</div>
                                                <div class="casd_info">@ViewBag.CenPass</div>
                                            </div>
                                        }
                                    }
                                    </div>
                                </div>
                                        }
                                        }
                                </div>
                            </div>
                                            }
                    }
                </div>



