@using System.Configuration
@{
    Layout = null;
    bool IsDFW =false;
    string IsDFWS = ConfigurationManager.AppSettings["IsDFW"];
    if (IsDFWS == "true")
    {
        IsDFW = true;
    }
    double ContractTerm = 0;
}
@model HS.Entities.Customer
@using Localize = HS.Web.UI.Helper.LanguageHelper





        @if (Model != null)
        {
            if (Model.BillAmount > 0
                || (Model.BillCycle != "-1" && Model.BillCycle != "")
                || (Model.PaymentMethod != "-1" && Model.PaymentMethod != "")
                || Model.BillNotes != ""
                || ((Model.FirstBilling != new DateTime())
                && (Model.FirstBilling != DateTime.Today.AddDays(-2)))
                || (Model.ContractTeam != "-1" && Model.ContractTeam != "")
                || (Model.CreditScore != "-1" && Model.CreditScore != "")
                || Model.CustomerFunded != false
                || (Model.MonthlyMonitoringFee != "-1" && Model.MonthlyMonitoringFee != "")
                || (Model.FundingCompany != "-1" && Model.FundingCompany != "")
                || Model.Maintenance != false
                || Model.BillOutStanding != 0
                || Model.BillTax != false)
            {


                if (!string.IsNullOrWhiteSpace(Model.MonthlyMonitoringFee) && Model.MonthlyMonitoringFee != "-1")
                {


                      
                    <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("Monitoring Fee") <span>:</span></td>
                        <td class="tr-data">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Convert.ToDouble(Model.MonthlyMonitoringFee))</td>
                    </tr>
                }
                if (Model.BillAmount > 0)
                {
                   
                    <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("Bill Amount")<span>:</span></td>
                        <td class="tr-data"> @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.BillAmount.Value)</td>
                    </tr>

                }
                if (!string.IsNullOrWhiteSpace(Model.BillCycle) && Model.BillCycle != "-1")
                {
                   
                   <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("Billing Cycle")<span>:</span></td>
                        <td class="tr-data">
                            @Model.BillCycle
                            @if (Model.BillDay > 0)
                            {
                                <span>(@Model.BillDay of the Month)</span>
                            }
                        </td>
                    </tr>
                }
                if (!string.IsNullOrWhiteSpace(Model.PaymentMethodVal) && Model.PaymentMethodVal != "-1")
                {
                  
                  <tr class="info-table-tr">
                  <td class="tr-title">@Localize.T("Payment method")<span>:</span></td>
                  @*<td class="tr-data">@Model.PaymentMethod</td>*@
                  <td class="tr-data">@Model.PaymentMethodVal</td>

                 </tr>
                }
                if (!string.IsNullOrWhiteSpace(Model.PayAccountName) && !string.IsNullOrWhiteSpace(Model.PayCardNumber) && !string.IsNullOrWhiteSpace(Model.PayCardExpireDate) && Model.PaymentMethod == "Credit Card")
                {
                   
                   <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("Account Name")<span>:</span></td>
                        <td class="tr-data"> @Model.PayAccountName</td>
                   </tr>
                  
                        <tr class="info-table-tr">
                            <td class="tr-title">@Localize.T("Card Number")<span>:</span></td>
                            <td class="tr-data"> @string.Concat("".PadLeft(12, '*'), Model.PayCardNumber.Substring(Model.PayCardNumber.Length - 4))</td>
                        </tr>
                   
                        <tr class="info-table-tr">
                            <td class="tr-title">@Localize.T("Card Expire Date")<span>:</span></td>
                            <td class="tr-data"> @Model.PayCardExpireDate</td>
                        </tr>
                }
                if (Model.PayBAccountType != "-1" && !string.IsNullOrWhiteSpace(Model.PayAccountNo) && Model.PaymentMethod == "ACH")
                {
                   
                    <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("Account Name")<span>:</span></td>
                        <td class="tr-data">@Model.PayAccountName</td>
                    </tr>
                   
                    <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("Bank Account Type")<span>:</span></td>
                        <td class="tr-data">@Model.PayBAccountType</td>
                    </tr>
                  
                    <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("Bank Account Number")<span>:</span></td>
                        <td class="tr-data">@string.Concat("".PadLeft(7, '*'), Model.PayAccountNo.Substring(Model.PayAccountNo.Length - 2))</td>
                    </tr>
                  
                    <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("ABA Routing Number")<span>:</span></td>
                        <td class="tr-data">@string.Concat("".PadLeft(7, '*'), Model.PayRoutingNo.Substring(Model.PayRoutingNo.Length - 2))</td>
                    </tr>
                }
                if (!string.IsNullOrWhiteSpace(Model.BillNotes))
                {
                  
                    <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("Bill notes")<span>:</span></td>
                        <td class="tr-data">@Model.BillNotes</td>
                    </tr>
                }
                if (!string.IsNullOrWhiteSpace(Model.ContractTeam) && Model.ContractTeam != "-1" && Double.TryParse(Model.ContractTeam, out ContractTerm) && ContractTerm > 0)
                {
                   
                    <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("Contract Term")<span>:</span></td>
                        <td class="tr-data">
                            @if (IsDFW)
                            {
                                if (Math.Round(ContractTerm, 3) == 0.083)
                                {
                                    @Localize.T("1 Month")
                                }
                                else
                                {
                                    @Math.Round(ContractTerm * 12, 0) @Localize.T(" Months")
                                }
                            }
                            else
                            {
                                if (Model.ContractTeam == "0.083")
                                {
                                    @(Convert.ToInt32(Math.Round(Convert.ToDouble(Model.ContractTeam) * 12)))  @Localize.T(" month")
                                }
                                else if (Model.ContractTeam == "1")
                                {
                                    @Model.ContractTeam  @Localize.T(" year")
                                }
                                else
                                {
                                    @Model.ContractTeam  @Localize.T(" years")
                                }
                            }
                        </td>
                    </tr>
                }
                @*if (!string.IsNullOrWhiteSpace(Model.CreditScore) && Model.CreditScore != "-1")
                {
                  
                    <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("Credit Score")<span>:</span></td>
                        <td class="tr-data"> @Model.CreditScore</td>
                    </tr>
                }*@
                if (Model.CustomerFunded == true)
                {
                   
                    <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("Customer Funded")<span>:</span></td>
                        <td class="tr-data">
                            @Localize.T("Yes")
                        </td>
                    </tr>

                }
                if (!string.IsNullOrWhiteSpace(Model.FundingCompany) && Model.FundingCompany != "-1")
                {
                    
                    <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("Funding")<span>:</span></td>
                        <td class="tr-data"> @Model.FundingCompany</td>
                    </tr>
                }
                if (Model.BillOutStanding != 0.0)
                {
                   
                    <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("Bill OutStanding")<span>:</span></td>
                        <td class="tr-data"> @Model.BillOutStanding</td>
                    </tr>
                }
                if (Model.Maintenance == true)
                {
                   
                    <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("Maintenance")<span>:</span></td>
                        <td class="tr-data">
                            @Localize.T("Yes")
                        </td>
                    </tr>
                }
                @*if (Model.BillTax == true)
                {
                   
                    <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("Taxable")<span>:</span></td>
                        <td class="tr-data">
                            @Localize.T("Yes")

                        </td>
                    </tr>
                }*@
                if (!string.IsNullOrWhiteSpace(Model.AuthorizeRefId))
                {
                   
                    <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("Subscription ID")<span>:</span></td>
                        <td class="tr-data">
                            @Model.AuthorizeRefId

                        </td>
                    </tr>
                }
                if (!string.IsNullOrWhiteSpace(Model.SubscriptionStatus))
                {
                    
                    <tr class="info-table-tr">
                        <td class="tr-title">@Localize.T("Subscription Status")<span>:</span></td>
                        <td class="tr-data">
                            @Model.SubscriptionStatus
                        </td>
                    </tr>
                }

            }
        }


