@model HS.Entities.Customer
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;

@Styles.Render("~/styles/GetInvoice")
@Styles.Render("~/styles/CancellationPopup")

@Scripts.Render("~/scripts/CancellationPopup")

<script>
    var globalval = parseInt('@ViewBag.AgreementDocumentHeight');
    var LeadConvertId = "@ViewBag.LeadId";
    var LeadIdInt = '@ViewBag.LeadIdInt';
</script>

<div id="body_id">
    <div class="hidden LoadImgDiv">
        <input type="hidden" value="@Model.Street" id="street" />
        <input type="hidden" value="@Model.City" id="city" />
        <input type="hidden" value="@Model.State" id="state" />
        <input type="hidden" value="@Model.ZipCode" id="zipcode" />
        <div class="lds-css ng-scope">
            <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
        </div>
    </div>
    <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
        <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png">
    </div>
    <div class="HeadContents">
        <h4>@Localize.T("Print preview")</h4>
        <span>@Localize.T("To print, right-click the preview and select Print. Or, click the Print icon if you see one below.")</span>
    </div>
    <div style="float:left;margin-bottom:10px;margin-left:30px; margin-top:10px;">
        <button class="btnPrint all_button" onclick="printFrame('iframePdf')"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;@Localize.T(" Print")</button>
    </div>
    @*<div style="float:right;margin-top:10px;margin-right:35px;">
            <button class="btnSign"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;@Localize.T("Sign Document")</button>
        </div>*@
    <div class="bodyConentsDiv" id="AggrementDiv">
        <iframe name="iframe" class="pdf-styles cus-pdf-style" id="iframePdf" src="@(AppConfig.DomainSitePath)/Customer/CustomerCancellationAgreement/?CustomerId=@ViewBag.LeadId"></iframe>
    </div>
    <div class="sign-document hidden">
        <div class="wrapper">
            <canvas id="signature-pad" class="signature-pad" width=300 height=100 style="float:left;"></canvas>
        </div>
        <button class="btn all_button" id="save-png"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;@Localize.T(" Save")</button>
        <button class="btn all_button" id="clear"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;@Localize.T(" Clear")</button>
    </div>
    <div class="footerContents" style="float:right;">
        @*<div style="float:right; display:table;">
                <button class="btnIAgree all_button" @*onclick="IAgree();><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;@Localize.T(" I Agree")</button>
            </div>*@

    </div>
    <div class="gcpu_footer">
        <div class="gcpu_footer_inner">
            <div class="input-group add-on">
                <input type="text" value="@Model.EmailAddress" id="EmailAddress" placeholder="ex@mail.com;ex2@mail.com" class="form-control" />
                <div class="input-group-btn"><button class="btn green_button" id="btnSendMail" title="@Localize.T("Send Email")"><i class="fa fa-envelope" aria-hidden="true"></i> @Localize.T("Send Email")</button></div>
            </div>

            <div class="input-group add-on">
                <input type="text" value="@Model.PrimaryPhone" id="Phone_no" placeholder="xxx-xxx-xxxx" class="form-control input-phone-format" />
                <div class="input-group-btn">
                    <button class="btn green_button" id="btnSendSMS" title="@Localize.T("Send SMS")"><i class="fa fa-commenting-o" aria-hidden="true"></i>@Localize.T("Send SMS")</button>
                </div>
            </div>
            <div class="input-group add-on">
                <input type="text" value="" id="" placeholder="ex@mail.com;ex2@mail.com" class="form-control hidden" />
                <button class="btn green_button" id="btnSendMailAndSMS">@Localize.T("Send To Both")</button>
            </div>

        </div>
    </div>
</div>

