@{
    Layout = null;
}
@model List<HS.Entities.Customer>


<html>
<head>
    @Styles.Render("~/styles/GetInvoice")

    <script src="~/Content/JQuery/jquery-3.1.1.min.js"></script>
    <script src="~/Content/Js/Customer/SaveCustomerListPdf.js"></script>
    <script>
        
    </script>
</head>


<body>
    <input type="hidden" id="User" value="@ViewBag.User" />
    <input type="hidden" id="Source" value="@ViewBag.Source" />
    <input type="hidden" id="First" value="@ViewBag.First" />
    <input type="hidden" id="Last" value="@ViewBag.Last" />

    <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
        <img title="Close" src="~/Content/Icons/cross_update.png">
    </div>
    <div class="HeadContents">
        <h4>Print preview</h4>
        <span>To print, right-click the preview and select Print. Or, click the Print icon if you see one below.</span>

    </div>
    <div class="bodyConentsDiv">
        <iframe class="pdf-styles" id="iframePdf" src=""></iframe>
    </div>
    <div class="footerContents">
        <button onclick="parent.ClosePopup()" class="btnCancel">Cancel</button>
        <button onclick="printFrame('iframePdf')" class="btnPrint">Print</button>
    </div>
</body>
</html>


