@model IEnumerable<HS.Entities.CreditScoreGrade>
@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var AddCreditGrade = function (id) {
        OpenRightToLeftModal("Customer/AddCreditGrade?Id="+id);
    }
    var DeleteCreditGradesById = function(EmConId){
        $.ajax({
            url: domainurl + "/Customer/DeleteCreditScoreGrade",
            data: { Id: EmConId },
            type: "Post",
            dataType: "Json",
            success: function (data) {
                if (data.result) {
                    OpenSuccessMessageNew ("Success!", data.message, function () {
                        $(".CustomerCreditScore").load("/Customer/LoadCreditGrades");
                    })
                } else {
                    OpenErrorMessageNew("Error!", data.message)
                }
            }
        });
    }

    var DeleteCreditGrades = function(DeleteId){
        OpenConfirmationMessageNew("Confirm?","Do you want to delete this Credit Grade from the list?",function(){
            DeleteCreditGradesById(DeleteId);
        })
    }
    $(document).ready(function () {

    })
</script>
<table class="table credit_score_grade_table">
    <thead class="table-head-border">
        <tr>
            <th class="thead-th-style">
                @Localize.T("ID")
            </th>
            <th class="thead-th-style">
                @Html.DisplayNameFor(model => model.MinScore)
            </th>
            <th class="thead-th-style">
                @Html.DisplayNameFor(model => model.MaxScore)
            </th>
            <th class="thead-th-style">
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th class="thead-th-style">
                <div>@Localize.T("Action")</div>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
    {
        <tr class="tr-style">
            <td class="table-body-td-style">
                <div>@Localize.T("ID") <span>:</span></div>
                <div><a class="cus-anchor" onclick="AddCreditGrade('@item.ID')">@item.ID</a></div>
            </td>
            <td class="table-body-td-style">
                <div>@Html.DisplayNameFor(model => model.MinScore) <span>:</span></div>
                <div> @Html.DisplayFor(modelItem => item.MinScore)</div>
            </td>
            <td class="table-body-td-style">
                <div>@Html.DisplayNameFor(model => model.MaxScore) <span>:</span></div>
                <div> @Html.DisplayFor(modelItem => item.MaxScore)</div>
            </td>
            <td class="table-body-td-style">
                <div>@Html.DisplayNameFor(model => model.Grade) <span>:</span></div>
                <div> @Html.DisplayFor(modelItem => item.Grade)</div>
            </td>
            <td class="table-body-td-style">
                <div>@Localize.T("Action") <span>:</span></div>
                <div> <a data-toggle="tooltip" title="@Localize.T("Delete")" onclick="DeleteCreditGrades(@item.ID)" data-original-title="Delete"><i class="fa fa-trash-o"></i></a></div>
            </td>
        </tr>
    }
</tbody>

</table>
