@model HS.Entities.ListQuestionAnswer
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using System.Collections;
<script src="~/Content/Js/QuestionaireSetup/QuestionaireSetup2Customer.js"></script>
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 54px;
        height: 27px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2ca01c;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2ca01c;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
         -webkit-border-radius: 34px;
-moz-border-radius: 34px;
border-radius: 34px;
    }

        .slider.round:before {
             -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
        }

    .txt-pattern {
        margin-top: 13px;
        font-size: 13px;
        font-weight: bold;
    }

    .col-pattern {
        padding-left: 0;
        padding-right: 0;
    }

    .title-pattern {
        font-size: 13px;
        padding-left: 3%;
        margin-top: 10px;
    }

    .ques-pattern {
        padding-top: 10px;
    }

    .upper_title {
        font-size: 15px;
        margin-top: 3%;
        /*font-weight: bold;*/
    }

    .QuesBtn2 {
        background-color: #393a3d;
        padding: 8px 15px;
        position: absolute;
        bottom: 0px;
        width: 100% !important;
    }

    #SaveBtnQues2 {
        padding-top: 8px;
        float: right;
        background-color: white;
        border: 1px solid;
         -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
        width: 80px;
        padding-bottom: 8px;
        font-weight: 500;
    }
</style>
<script>
    var IDLEADVal = '@ViewBag.LeadIDForQuestionarie';
</script>
@{
    Hashtable dataTemplate = new Hashtable();
    dataTemplate.Add("CompanyName", ViewBag.ComName);
}
<div class="container">
    <div class="upper_title">@Localize.T("Hi, is this Mr./Mrs. ")<b>@ViewBag.LogName</b> @Localize.T("? Great! My name is ")<b>@ViewBag.LogUser</b> @Localize.T("and I work for ")<b>@ViewBag.ComName</b>.</div>
    <div class="">
        <div class="txt-pattern">@ViewBag.HeaderData</div>
        <div class="ques-pattern">
            <input type="hidden" value="@ViewBag.LeadCustomerIdForQuestionaire" id="cusID" />

            @foreach (var item1 in Model.ListQa2Question)
            {

                if (Model.ListQa2Answer.Count > 0)
                {

                }
                else
                {
                    <div class="row">
                        <div class="col-md-8">
                            <div class="title-pattern">@Html.Raw(HS.Web.UI.Helper.LabelHelper.ParserHelper(item1.Title, dataTemplate))</div>
                        </div>
                        <div class="col-md-4 col-pattern">
                            <label class="switch">
                                <input type="checkbox" class="test-ans" idval-qustionId="@item1.Id">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                } 
            }
        </div>
        <div class="ans-pattern">
            @if (Model.ListQa2Answer != null)
            {
                foreach (var list2 in Model.ListQa2Answer)
                {
                    <div class="row">
                        <div class="col-md-8">
                            <div class="title-pattern" id="TitleItem">@*@Localize.T("Question Id :")*@@Html.Raw(HS.Web.UI.Helper.LabelHelper.ParserHelper(list2.QuestionTitle, dataTemplate))</div>
                        </div>
                        <div class="col-md-4 col-pattern">
                            @if (list2.Answer == "true")
                            {
                                <span>@Localize.T("Yes")</span>
                            }
                            else
                            {
                                <span>@Localize.T("No")</span>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div class="QuesBtn2">
    <button type="button" id="SaveBtnQues2">Save</button>
</div>
