@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@model HS.Entities.RMROverviewModel
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<table class="table geeseactivitylog_table">
    <tr>
        <td>
            <span>RMR</span> <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.RMROverview</span>
        </td>

        <td>
            <span>Amount Due</span> <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.AmountDue</span>
        </td>

        <td>
            <span>Payment Method</span> <span>@Model.PaymentMethod</span>
        </td>

        <td>
            <span>Open Invoice</span> <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.OpenInvoice</span>
        </td>

        <td>
            @if (@Model.LastPayment == new DateTime())
            {
                <span>Day Of Past Due</span> <span>0</span>
            }
            else
            {
                <span>Day Of Past Due</span> <span>@ViewBag.DayOfPastDue</span>
            }
        </td>

        <td>
            <span>Open Credit</span> <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.OpenCredit</span>
        </td>

        <td>
            <span>Bill On Date</span> <span>@Model.BillOnDate</span>
        </td>

        <td>
            @if (@Model.LastPayment == new DateTime())
            {
                <span>Last Payment</span> <span>-</span>
            }
            else
            {
                <span>Last Payment</span> <span>@Model.LastPayment.ToString("MM/dd/yy")</span>
            }
        </td>
    </tr>
</table>



