@{
    Layout = null;

}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@model HS.Entities.RouteCustomerListModel

<link href="~/Content/Css/Inventory/PurchaseOrderPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";
    var pageno = '@ViewBag.PageNumber';


    $(document).ready(function () {
        $('.route_customer_list_height').height(window.innerHeight - 52);
    });
    $(window).resize(function () {
        $('.route_customer_list_height').height(window.innerHeight - 52);
    });
</script>
<div class="">
    <div class="route_customer_list_header">@Localize.T("Customers")</div>
    <div class="route_customer_list_height">
        <div class="route_customer_list_container">
            <table class="table" id="AllRouteTable">
                <thead class="table-head-border">
                    <tr>
                        <th class="th_timeclock_pre">
                            <div>@Localize.T("Name")</div>
                        </th>
                        <th class="th_timeclock_pre arpl_size">
                            <div>@Localize.T("Route")</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.RouteCustomerList)
                    {
                        <tr>
                            <td class="table-body-td-style">
                                <div class="ticket_list_partial_device_header"> @Localize.T("Name") <span>:</span></div>
                                <div class="rws_mb_info">
                                    @if (item.CustomerName != null)
                                    {
                                        <div><a class="cus-anchor" href="/Customer/Customerdetail/?id=@item.Id" target="_blank">@item.CustomerName</a></div>
                                    }
                                </div>
                            </td>
                            <td class="table-body-td-style">
                                <div class="ticket_list_partial_device_header">@Localize.T("Route")  <span>:</span></div>
                                <div class="rws_mb_info">
                                    <div class="rws_mb_info">
                                        <div>@item.Name</div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
