@model HS.Entities.CreateCustomerShareInfo
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

@{
    Layout = null;

}
@using System.Collections;

    @Styles.Render("~/styles/SendEmailInvoiceCS")
    @*<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>*@
    <script>
        
    var PdfLocation = '@ViewBag.PdfLocation';
    var CustomerGuid = '@Model.Customer.CustomerId';
    </script>
    @Scripts.Render("~/scripts/CustomerInfoJS")
    <script src="~/Content/Tiny/jquery.tinymce.min.js"></script>
    <script src="~/Content/Tiny/tinymce.min.js"></script>
    <script src="~/Content/Tiny/tiny.js"></script>


@{
    Hashtable datatemplate = new Hashtable();
    datatemplate.Add("CustomerName", Model.CustomerName);
    datatemplate.Add("SalesPhone Number", ViewBag.SalesPhone);
    datatemplate.Add("CompanyName", Model.CompanyName);
    datatemplate.Add("SalesGuy", ViewBag.SalesGuy);
    datatemplate.Add("TemplateMessage", ViewBag.emailtemplate);

    datatemplate.Add("url", ViewBag.url);
    string emailtemplate = HS.Web.UI.Helper.LabelHelper.ParserHelper(Model.EmailTemplate.BodyContent, datatemplate);
}

    <div class="share_customer_container">

        <div class="share_customer_header">
            @Localize.T("Share Information")
            <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
                <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png">
            </div>
        </div>


        <div class="share_customer_height">
            <div class="share_customer_inner">
                <div class="shci_block">
                    <div class="shci_header">
                        @Localize.T("Email")
                    </div>
                    <div class="shci_info">
                        <div class="form-group shci_info_half">
                            <label> @Localize.T("To") </label>
                            <input type="text" placeholder="Email address" class="form-control" value="@Model.Customer.EmailAddress" id="Customer_EmailAddress">
                        </div>
                        <div class="form-group shci_info_half">
                            <label> @Localize.T("Cc") </label>
                            <input type="text" value="" class="form-control" placeholder="Add cc email by ';' separator" id="CCEmail">
                        </div>
                        <div class="form-group">
                            <label> @Localize.T("Subject") </label>
                            <input type="text" value="Customer Info: #@Model.Customer.Id from @Model.CompanyName " class="form-control" placeholder="Subject" id="EmailSubject">
                        </div>
                        <div class="form-group">
                            <label> @Localize.T("Body") </label>
                            <textarea class="form-control tinymce" id="Description" name="Description">@emailtemplate</textarea>
                        </div>
                    </div>
                </div>
                <div class="shci_block">
                    <div class="shci_header">
                        @Localize.T("Send TEXT MSG")
                    </div>
                    <div class="shci_info">
                        <div class="form-group">
                            <label>
                                @Localize.T("Contact Number")
                            </label>
                            <input class="form-control customercontactnumber" type="text" value="@Model.CustomerContactNumber" placeholder="Contact Number" />
                        </div>
                        <div class="form-group">
                            <label>
                                @Localize.T("TEXT MSG Body")
                            </label>
                            <textarea class="form-control" rows="6" id="SMSDescription" name="SMSDescription">@Model.SMSBody</textarea>
                            <label class="label black">*@Localize.T("'##url##' will be replaced by actual url.")</label>
                        </div>
                    </div>
                    </div>

                      
                    </div>
                </div>

                @*@if (Request.Browser.IsMobileDevice)
        {
            <object data='@ViewBag.PdfLocation'>
                <p class="">Oops! You don't support PDFs!</p>
                <button class="btn btnPdfDownLoadForMo"><a href="@ViewBag.PdfLocation" id="PdfDownLoadForPhone" download>Download Instead</a></button>
            </object>
        }
        else
        {
            <div class="width_50p_pdf" id="pdfView">
                <iframe class="pdf_styles_send_mail_invoice @(string.IsNullOrWhiteSpace(ViewBag.PdfLocation)?"hidden":"")" id="iframePdf" src="@ViewBag.PdfLocation"></iframe>
            </div>
        }*@





    <div class="share_customer_footer">
        <button onclick="parent.ClosePopup()" class="btn red_button">@Localize.T("Cancel")</button>
        <button class="btn green_button btncusinfoSendToBoth" @*style="margin-right:880px;"*@>@Localize.T("Send To Both")</button>
        <button class="btn green_button btnsendcusinfosms">@Localize.T("Send TEXT MSG")</button>
        <button class="btn green_button btnsendcusinfoemail" @*style="margin-left:300px;"*@>@Localize.T("Send Email")</button>
    </div>
            </div>


