@{ 
    Layout = null;
}

@model IEnumerable<HS.Entities.Customer>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondaryPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CellNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CallingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetPrevious)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityPrevious)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatePrevious)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCodePrevious)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryPrevious)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAlarmCom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditScoreValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FundingCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyMonitoringFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CellularBackup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeadSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerFunded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maintenance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstallDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutInDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Installer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soldby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FundingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReminderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QA1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QA1Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QA2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QA2Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillCycle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillOutStanding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appartment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latlng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondCustomerNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalCustomerNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTechCallPassed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDirect)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorizeRefId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorizeCusProfileId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorizeCusPaymentProfileId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorizeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRequiredCsvSync)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivationFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstBilling)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivationFeePaymentMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastGeneratedInvoice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Singature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrossStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DBA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlarmRefId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransunionRefId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonitronicsRefId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CentralStationRefId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CmsRefId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferedEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferedSms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAgreement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFireAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByUid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdatedByUid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessAccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carrier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferringCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EsistingPanel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ownership)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByVal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerSystemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerSystemCustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerSystemCompanyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerTotalRevenue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstallerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualityAssurance1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualityAssurance2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMonitronics)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCentral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeadName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsQA1Done)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsQA2Done)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QA1GlobalSettings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TechCallGlobalSettings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QA2GlobalSettings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstallerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TechnicianName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonSales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPNUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayAccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayCardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayCardExpireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayBAccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayAccountNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalActiveCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalRMRCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnpaidInvoiceTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletionDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondaryPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CellNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CallingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetPrevious)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityPrevious)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatePrevious)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCodePrevious)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryPrevious)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAlarmCom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditScoreValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FundingCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlyMonitoringFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CellularBackup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeadSource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerFunded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maintenance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstallDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CutInDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Installer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soldby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FundingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoinDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReminderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QA1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QA1Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QA2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QA2Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillCycle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillOutStanding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Appartment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latlng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondCustomerNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalCustomerNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTechCallPassed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDirect)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorizeRefId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorizeCusProfileId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorizeCusPaymentProfileId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorizeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRequiredCsvSync)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Passcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivationFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstBilling)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivationFeePaymentMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastGeneratedInvoice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Singature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CrossStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DBA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlarmRefId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransunionRefId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonitronicsRefId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CentralStationRefId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CmsRefId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferedEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferedSms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAgreement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFireAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByUid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdatedByUid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessAccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carrier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferringCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EsistingPanel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ownership)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchasePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByVal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerSystemId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerSystemCustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerSystemCompanyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerTotalRevenue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstallerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QualityAssurance1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QualityAssurance2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsMonitronics)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCentral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeadName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsQA1Done)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsQA2Done)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QA1GlobalSettings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TechCallGlobalSettings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QA2GlobalSettings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstallerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameFile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TechnicianName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonSales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPNUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayAccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayCardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayCardExpireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayBAccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayAccountNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalActiveCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalRMRCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnpaidInvoiceTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletionDate)
        </td>
        
    </tr>
}

</table>
