@model IEnumerable<HS.Entities.HomeOwnerHistory>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
@{
    Layout = null;
}
<link href="~/Content/Css/Customer/ShowHomeOwnerHistoryList.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        var height = window.innerHeight - 50;
        $(".shoh_inner").height(height);
    });
</script>
<div class="shoh_container">
    <div class="shoh_header">
        @Localize.T("Home Owner History")
    </div>
    <div class="shoh_inner">
        <table class="table shoh_table">
            <thead>
                <tr>

                    <th>
                        Home Owner Name
                    </th>
                    <th>
                        Owner Address
                    </th>
                    <th>
                        Customer Name
                    </th>
                    <th>
                        Requested Date
                    </th>

                    <th>
                        Requested By
                    </th>
                   
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.HomeOwnerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>

                            @item.RequestedDate.Value.UTCToClientTime().ToString("MM/dd/yy hh:mm tt")


                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.RequestedByVal)
                        </td>

                    </tr>
                }
               
            </tbody>

        </table>
    </div>
</div>
