@{
    Layout = null;   
}
@model HS.Entities.Manufacturer
@using Localize = HS.Web.UI.Helper.LanguageHelper


<script src="~/Content/Js/Popups/AddManufacturer.js"></script>
<link href="~/Content/Css/App/AddManufacturer.css" rel="stylesheet" />

<div class="add_manufacturer_header">
    <div>Add Manufacturer</div>
</div> 
<div class="contents addmanufacturercontents">
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.ManufacturerId)
   
    <div class="form-group clearfix">
        <div class="width-100p">
            <label>@Localize.T("Name")</label>
        </div>
        <div class="width-100p">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", datarequired = "true" , placeholder="Name"}) 
            <label rel="Name" class="label hidden red position-absolute">*@Localize.T("Name Required")</label>
        </div>
    </div> 
    <div>
        &nbsp;
    </div>
     
    <div class="SaveCancelDiv">
        <button class="btn btn-success SaveManufacturer" id="SaveManufacturer"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button> 
    </div>
</div>
  