@model HS.Entities.UserActivity
@{ 
    Layout = null;
}
@Styles.Render("~/styles/dashboard")
@Scripts.Render("~/scripts/dashboard") 
@using Localize = HS.Web.UI.Helper.LanguageHelper

@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
@using LabelHelper = HS.Web.UI.Helper.LabelHelper;

<div class="MainContentDiv dashboard_container">
    <div class="row custom_padding_dash_row">
        <div class="col-lg-12">
            <h1 class="page-header">@Localize.T("Dashboard")</h1>

            @if (ViewBag.ShowReport == true)
            {
                <span onclick="OpenDashboardReport();" class="dashboard_icon" title="@Localize.T("Dashboard Report")">
                    <svg xmlns="" x="0px" y="0px"
                         width="30" height="30"
                         viewBox="0 0 172 172"
                         style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#2ca01c"><path d="M14.33333,14.33333v7.16667v71.66667h64.5v-78.83333zM93.16667,14.33333v7.16667v43h64.5v-50.16667zM28.66667,28.66667h35.83333v50.16667h-35.83333zM107.5,28.66667h35.83333v21.5h-35.83333zM93.16667,78.83333v7.16667v71.66667h64.5v-78.83333zM107.5,93.16667h35.83333v50.16667h-35.83333zM14.33333,107.5v7.16667v43h64.5v-50.16667zM28.66667,121.83333h35.83333v21.5h-35.83333z"></path></g></g>
                    </svg>
                </span>
            
            }


            @{
                if (Model != null && Model.StatsDate != null && Model.StatsDate != new DateTime())
                {

                    <div class="log_style">@Localize.T("Last logged in - ") @HS.Framework.DateTimeExtension.UTCToClientTime(Model.StatsDate).ToString("MM/dd/yyyy") @Localize.T("at") @HS.Framework.DateTimeExtension.UTCToClientTime(Model.StatsDate).ToString("hh:mm tt")</div>

                }
            }
        </div>


        
        <!-- /.col-lg-12 -->
    </div>
    @{ 
        var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;
      
    }
    @if (CurrentUser.UserTags != null && CurrentUser.UserTags.ToLower().IndexOf(LabelHelper.UserTags.Customer.ToLower())>-1 && CurrentUser.UserTags.ToLower().IndexOf(LabelHelper.UserTags.Admin.ToLower()) != 0)
    {
        Html.RenderAction("CustomerDashboard", "app");
    }
    else if (CurrentUser.UserTags != null && CurrentUser.UserTags.ToLower().IndexOf(LabelHelper.UserTags.Technicians.ToLower()) > -1 && CurrentUser.UserTags.ToLower().IndexOf(LabelHelper.UserTags.Admin.ToLower()) != 0)
    {
        Html.RenderAction("TechnicianDashboard", "app");
    }
    else
    {
        Html.RenderAction("EmployeeDashboard", "app");
    }
</div>
