@model List<HS.Entities.DashboardServiceBoardListViewModel>
@using Localize = HS.Web.UI.Helper.LanguageHelper

<style>
    .ServiceBoard-container {
        width: 100%;
    }

    .ServiceBoard-List-container {
        width: 95%;
        margin: auto;
    }

    .ServiceBoard-List-header-contents-style {
        width: 20%;
        float: left;
    }

    .ServiceBoard-List-Body-contents-style {
        width: 20%;
        float: left;
    }
</style>

<script>
    $(document).ready(function () {
        parent.$(".service-board-loader").addClass('hidden');
        parent.$(".dashboard-service-board-list").removeClass('hidden');
    });
</script>


<div class="ServiceBoard-container">
    @if (Model.Count > 0 && Model != null)
    {
        <div class="ServiceBoard-List-container">
            <div class="ServiceBoard-List-header">
                <div class="ServiceBoard-List-header-contents-style">
                    @Localize.T("Date")
                </div>
                <div class="ServiceBoard-List-header-contents-style">
                    @Localize.T("Customer")
                </div>
                <div class="ServiceBoard-List-header-contents-style">
                    @Localize.T("Service Person")
                </div>
                <div class="ServiceBoard-List-header-contents-style">
                    @Localize.T("Time")
                </div>
                <div class="ServiceBoard-List-header-contents-style">
                    @Localize.T("Event")
                </div>
            </div>

            @foreach (var item in Model)
            {
                <div class="ServiceBoard-List-Body">
                    <div class="ServiceBoard-List-Body-contents-style">
                        @item.AppointmentDate.ToString("MM/dd/yy")
                    </div>
                    @{
                        var FormattedName = item.CustomerFirstName + " " + item.CustomerLastName;
                        if (!string.IsNullOrEmpty(item.CustomerMiddleName))
                        {
                            FormattedName = item.CustomerFirstName + " " + item.CustomerMiddleName + " " + item.CustomerLastName;
                        }
                    }
                    <div class="ServiceBoard-List-Body-contents-style">
                        @FormattedName
                    </div>
                    <div class="ServiceBoard-List-Body-contents-style">
                        @item.EmployeeName
                    </div>
                    <div class="ServiceBoard-List-Body-contents-style">
                        @item.AppointmentTime
                    </div>
                    <div class="ServiceBoard-List-Body-contents-style">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>
                        }
        </div>
                        }
                        else
                        {
                            @Localize.T("No data found")
                        }
</div>
