@model List<HS.Entities.DashBoardReminderFollowUpsModel>
@using Localize = HS.Web.UI.Helper.LanguageHelper
<style>
    .reminder-important {
        text-align: justify;
    }

    .reminder-contents {
        background-color: #e6e3e3;
        padding: 5px;
    }

    .customertab_click {
        font-weight: 600;
        text-decoration: none !important;
        color: #2ca01c;
    }

    .leadtab_click {
        font-weight: 600;
        text-decoration: none !important;
        color: #2ca01c;
    }

        .customertab_click:hover,
        .leadtab_click:hover {
            color: #2ca01c;
        }

    .reminder-contents-even {
        padding: 5px;
        background-color: #f9f8f8;
    }

    .note-style {
        color: red;
    }
</style>
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var selectreminder = '@Html.Raw(Json.Encode(@ViewBag.selectreminder))';
    var totalreminder = '@ViewBag.totaluserreminder';
    totalreminder = JSON.parse(totalreminder);
    selectreminder = JSON.parse(selectreminder);
    $(document).ready(function () {
        if (selectreminder.length != 0) {
            $("#ReminderActiveInactive").selectpicker('val', selectreminder);
        }
        else {
            $("#ReminderActiveInactive").selectpicker('val', '1');
        }
        parent.$(".totaluserreminder").text('(' + totalreminder + ')');
        $("#applyReminderActiveInactive").click(function () {
            var selectedactive = encodeURI(($("#ReminderActiveInactive").val()));
            parent.$(".currentuserreminder-followup-div").load(domainurl + "/App/DashBoardCurrentUserFollowupReminder", { SelectedActiveInactive: selectedactive });
            parent.$(".totaluserreminder").text('(' + totalreminder + ')');
        });
        $(".dashboard-note").text(function (index, currentText) {
            return currentText.substr(0, 109) + '....';
        });
        $(".customertab_click").click(function () {
            console.log("clicked");
            var idval = $(this).attr('data-id');
            var noteval = $(this).attr('idval');
            var typeval = $(this).attr('data-val');
            var dateval = $(this).attr('data-date');
            window.open(domainurl + "/Customer/Customerdetail/?id=" + idval + "&Tablink=" + typeval + "&noteid=" + noteval + "&timeval=" + dateval + "&IsComplete=" + "true", "_blank");
        })
        $(".leadtab_click").click(function () {
            var idval = $(this).attr('data-id');
            var noteval = $(this).attr('idval');
            var typeval = $(this).attr('data-val');
            var dateval = $(this).attr('data-date');
            window.open("/Lead/Leadsdetail/?id=" + idval + "&Tablink=" + typeval + "&noteid=" + noteval + "&timeval=" + dateval + "&IsComplete=" + "true", "_blank");
        })
    })
</script>
<div class="filterArea_dropdown" style="width:50%;margin-bottom:10px;">
    <div class="input-group add-on">
        @Html.DropDownList("ReminderActiveInactive", ViewBag.ReminderActiveInActiveList as List<SelectListItem>, new { @class = "form-control", id = "ReminderActiveInactive", @multiple = "multiple" })
        <div class="input-group-btn"><button title="Apply" class="btn green_button" id="applyReminderActiveInactive"><i class="fa fa-check fa-fw" aria-hidden="true"></i></button></div>
    </div>
</div>

@if (Model != null && Model.Count > 0)
{

    <div class="panel panel-default" style="padding-bottom: 5px;">
        @{
            var counter = 1;
            foreach (var item in Model)
            {
                if (counter % 2 == 0)
                {
                    <div class="reminder-contents-even">
                        @{
                            if (item.UserType == false)
                            {
                                if (item.ReminderType == "Reminder")
                                {
                                    if (item.ReminderDate < DateTime.Today)
                                    {
                                        <div class="reminder-important"><i class="fa fa-user fa-fw"></i> <a class="customertab_click" href="javascript:void(0)" data-id="@item.Customerid" idval="@item.noteid" data-val="@item.ReminderType" data-date="@item.ReminderDate.ToString("hh:mmtt")">@(!string.IsNullOrWhiteSpace(item.BusinessName) ? item.BusinessName : item.CustomerName)</a><br /> <i class="fa fa-clock-o"></i> @Localize.T("Reminder Date") @item.ReminderDate.ToString("MM/dd/yy") @HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.For12Hours(item.ReminderDate) @Localize.T("Completed By") @item.ReminderEndDate.ToString("MM/dd/yy") <b>@Localize.T("Assigned to")</b> @item.AssignUser</div>
                                        <div class="reminder-important dashboard-note note-style"> @item.Note</div>
                                    }
                                    else
                                    {
                                        <div class="reminder-important"><i class="fa fa-user fa-fw"></i> <a class="customertab_click" href="javascript:void(0)" data-id="@item.Customerid" idval="@item.noteid" data-val="@item.ReminderType" data-date="@item.ReminderDate.ToString("hh:mmtt")">@(!string.IsNullOrWhiteSpace(item.BusinessName) ? item.BusinessName : item.CustomerName)</a><br /> <i class="fa fa-clock-o"></i> @Localize.T("Reminder Date") @item.ReminderDate.ToString("MM/dd/yy") @HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.For12Hours(item.ReminderDate) @Localize.T("Completed By") @item.ReminderEndDate.ToString("MM/dd/yy") <b>@Localize.T("Assigned to")</b> @item.AssignUser</div>
                                        <div class="reminder-important dashboard-note"> @item.Note</div>
                                    }

                                }
                            }
                            else
                            {
                                if (item.ReminderType == "Reminder")
                                {
                                    if (item.ReminderDate < DateTime.Today)
                                    {
                                        <div class="reminder-important-lead">
                                            <i class="fa fa-users"></i> <a class="leadtab_click" href="javascript:void(0)" data-id="@item.Customerid" data-val="@item.ReminderType" data-date="@item.ReminderDate.ToString("hh:mm")" idval="@item.noteid">
                                                @if (!string.IsNullOrWhiteSpace(item.CustomerName))
                                                {
                                                    if (!string.IsNullOrWhiteSpace(item.BusinessName))
                                                    {
                                                        @item.BusinessName
                                                    }
                                                    else
                                                    {
                                                        @item.CustomerName
                                                    }
                                                }
                                                else
                                                {
                                                    if (!string.IsNullOrWhiteSpace(item.BusinessName))
                                                    {
                                                        @item.BusinessName
                                                    }
                                                    else
                                                    {
                                                        @Localize.T("Lead#")@item.Customerid




                                                    }
                                                }
                                                <
                                                <
                                            </a><br /> <i class="fa fa-clock-o"></i>@Localize.T("Reminder Date") @item.ReminderDate.ToString("MM/dd/yy") @HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.For12Hours(item.ReminderDate) @Localize.T("Completed By") @item.ReminderEndDate.ToString("MM/dd/yy")<b>@Localize.T("Assigned to")</b> @item.AssignUser
                                        </div>
                                        <div class="reminder-important dashboard-note note-style"> @item.Note</div>
                                    }
                                    else
                                    {
                                        <div class="reminder-important-lead">
                                            <i class="fa fa-users"></i> <a class="leadtab_click" href="javascript:void(0)" data-id="@item.Customerid" data-val="@item.ReminderType" data-date="@HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.For12Hours(item.ReminderDate)" idval="@item.noteid">
                                                @if (!string.IsNullOrWhiteSpace(item.CustomerName))
                                                {
                                                    if (!string.IsNullOrWhiteSpace(item.BusinessName))
                                                    {
                                                        @item.BusinessName
                                                    }
                                                    else
                                                    {
                                                        @item.CustomerName
                                                    }
                                                }
                                                else
                                                {
                                                    if (!string.IsNullOrWhiteSpace(item.BusinessName))
                                                    {
                                                        @item.BusinessName
                                                    }
                                                    else
                                                    {
                                                        @Localize.T("Lead#")@item.Customerid
                                                    }
                                                }
                                            </a><br /> <i class="fa fa-clock-o"></i>@Localize.T("Reminder Date") @item.ReminderDate.ToString("MM/dd/yy") @HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.For12Hours(item.ReminderDate) @Localize.T("Completed By") @item.ReminderEndDate.ToString("MM/dd/yy")<b>@Localize.T("Assigned to")</b> @item.AssignUser
                                        </div>
                                        <div class="reminder-important dashboard-note"> @item.Note</div>
                                    }

                                }
                            }
                        }
                    </div>
                    counter = counter + 1;
                }
                else
                {
                    <div class="reminder-contents">
                        @{
                            if (item.UserType == false)
                            {
                                if (item.ReminderType == "Reminder")
                                {
                                    if (item.ReminderDate < DateTime.Today)
                                    {
                                        <div class="reminder-important"><i class="fa fa-user fa-fw"></i> <a class="customertab_click" href="javascript:void(0)" data-id="@item.Customerid" idval="@item.noteid" data-val="@item.ReminderType" data-date="@item.ReminderDate.ToString("hh:mmtt")">@(!string.IsNullOrWhiteSpace(item.BusinessName) ? item.BusinessName : item.CustomerName)</a><br /> <i class="fa fa-clock-o"></i> @Localize.T("Reminder Date") @item.ReminderDate.ToString("MM/dd/yy") @HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.For12Hours(item.ReminderDate) @Localize.T("Completed By") @item.ReminderEndDate.ToString("MM/dd/yy") <b>@Localize.T("Assigned to")</b> @item.AssignUser</div>
                                        <div class="reminder-important dashboard-note note-style"> @item.Note</div>
                                    }
                                    else
                                    {
                                        <div class="reminder-important"><i class="fa fa-user fa-fw"></i> <a class="customertab_click" href="javascript:void(0)" data-id="@item.Customerid" idval="@item.noteid" data-val="@item.ReminderType" data-date="@item.ReminderDate.ToString("hh:mmtt")">@(!string.IsNullOrWhiteSpace(item.BusinessName) ? item.BusinessName : item.CustomerName)</a><br /> <i class="fa fa-clock-o"></i> @Localize.T("Reminder Date") @item.ReminderDate.ToString("MM/dd/yy") @HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.For12Hours(item.ReminderDate) @Localize.T("Completed By") @item.ReminderEndDate.ToString("MM/dd/yy") <b>@Localize.T("Assigned to")</b> @item.AssignUser</div>
                                        <div class="reminder-important dashboard-note"> @item.Note</div>
                                    }

                                }
                            }
                            else
                            {
                                if (item.ReminderType == "Reminder")
                                {
                                    if (item.ReminderDate < DateTime.Today)
                                    {
                                        <div class="reminder-important-lead">
                                            <i class="fa fa-users"></i> <a class="leadtab_click" href="javascript:void(0)" data-id="@item.Customerid" data-val="@item.ReminderType" data-date="@item.ReminderDate.ToString("hh:mm")" idval="@item.noteid">
                                                @if (!string.IsNullOrWhiteSpace(item.CustomerName))
                                                {
                                                    if (!string.IsNullOrWhiteSpace(item.BusinessName))
                                                    {
                                                        @item.BusinessName
                                                    }
                                                    else
                                                    {
                                                        @item.CustomerName
                                                    }
                                                }
                                                else
                                                {
                                                    if (!string.IsNullOrWhiteSpace(item.BusinessName))
                                                    {
                                                        @item.BusinessName
                                                    }
                                                    else
                                                    {
                                                        @Localize.T("Lead#")@item.Customerid

                                                    }
                                                }

                                            </a><br /> <i class="fa fa-clock-o"></i> @Localize.T("Reminder Date") @item.ReminderDate.ToString("MM/dd/yy") @HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.For12Hours(item.ReminderDate) @Localize.T("Completed By") @item.ReminderEndDate.ToString("MM/dd/yy") <b>@Localize.T("Assigned to")</b> @item.AssignUser
                                        </div>
                                        <div class="reminder-important dashboard-note note-style"> @item.Note</div>
                                    }
                                    else
                                    {
                                        <div class="reminder-important-lead">
                                            <i class="fa fa-users"></i> <a class="leadtab_click" href="javascript:void(0)" data-id="@item.Customerid" data-val="@item.ReminderType" data-date="@item.ReminderDate.ToString("hh:mm")" idval="@item.noteid">
                                                @if (!string.IsNullOrWhiteSpace(item.CustomerName))
                                                {
                                                    if (!string.IsNullOrWhiteSpace(item.BusinessName))
                                                    {
                                                        @item.BusinessName
                                                    }
                                                    else
                                                    {
                                                        @item.CustomerName
                                                    }
                                                }
                                                else
                                                {
                                                    if (!string.IsNullOrWhiteSpace(item.BusinessName))
                                                    {
                                                        @item.BusinessName
                                                    }
                                                    else
                                                    {
                                                        @Localize.T("Lead#")@item.Customerid




                                                    }
                                                }

                                                <

                                            </a><br /> <i class="fa fa-clock-o"></i> @Localize.T("Reminder Date") @item.ReminderDate.ToString("MM/dd/yy") @HS.Web.UI.Helper.LabelHelper.TimeFormatUsingDateTime.For12Hours(item.ReminderDate) @Localize.T("Completed By") @item.ReminderEndDate.ToString("MM/dd/yy") <b>@Localize.T("Assigned to")</b> @item.AssignUser
                                        </div>
                                        <div class="reminder-important dashboard-note"> @item.Note</div>
                                    }

                                }
                            }
                        }
                    </div>
                    counter = counter + 1;
                }

            }
        }
    </div>

}
