@{
    Layout = null;
}
@using AppConfig = HS.Framework.Utils.AppConfig;
@model HS.Entities.GlobalSearchViewModel
@using Localize = HS.Web.UI.Helper.LanguageHelper

@if (Model.Invoices != null && Model.Invoices.Count > 0)
{
    <div class="gsr_header">Invoice result</div>

    <div class="invoice-table">
        <table class="display invoice_result" id="tblInvoice">
            <thead class="table-head-border">
                <tr>
                    <th class="thead-th-style">
                        @Localize.T("Created On")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Invoice No")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Customer Name")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Description")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Due Date")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Total")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Balance")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Status")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Actions")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Print/Email")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Invoices)
                {
                    <tr class="tr-style">
                        <td class="table-body-td-style invoice_device_row" valign="top">

                            @{
                                if (item.Status == "Open")
                                {
                                    <div class="invoice_device_header">@Localize.T("Created On")</div>
                                    <div class="invoice_device_info">
                                        <span style="color:red">@item.CreatedDate.ToString("MM/dd/yy") at @item.CreatedDate.ToString("hh:mm tt")</span>
                                    </div>

                                }
                                else
                                {
                                    <div class="invoice_device_header">@Localize.T("Created On")</div>
                                    <div class="invoice_device_info">
                                        <span>@item.CreatedDate.ToString("MM/dd/yy") at @item.CreatedDate.ToString("hh:mm tt")</span>
                                    </div>
                                }
                            }
                        </td>

                        <td class="table-body-td-style invoice_device_row" valign="top">
                            <div class="invoice_device_header">@Localize.T("Invoice No")</div>
                            <div class="invoice_device_info">
                                <a class="cus-anchor" href="javascript:void(0)" onclick="OpenInvById(@item.Id)">@item.InvoiceId</a>
                            </div>
                        </td>
                        <td class="table-body-td-style invoice_device_row" valign="top">
                            <div class="invoice_device_header">@Localize.T("Customer Name")</div>
                            <div class="invoice_device_info">
                                <a class="cus-anchor" href="@(AppConfig.DomainSitePath)/Customer/Customerdetail/?id=@item.CustomerIntId">@item.CustomerName</a>
                            </div>
                        </td>
                        <td class="table-body-td-style invoice_device_row" valign="top">
                            <div class="invoice_device_header">@Localize.T("Description")</div>
                            <div class="invoice_device_info">
                                @item.Description
                            </div>
                        </td>
                        <td class="table-body-td-style invoice_device_row" valign="top">
                            @if (item.DueDate.HasValue)
                            {
                                if (item.Status == "Open")
                                {
                                    <div class="invoice_device_header">@Localize.T("Due Date")</div>
                                    <div class="invoice_device_info">
                                        <span class="color_red_style">@item.DueDate.Value.ToString("MM/dd/yy")</span>
                                    </div>

                                }
                                else
                                {
                                    <div class="invoice_device_header">@Localize.T("Due Date")</div>
                                    <div class="invoice_device_info">
                                        <span>@item.DueDate.Value.ToString("MM/dd/yy")</span>
                                    </div>
                                }

                            }
                        </td>
                        <td class="table-body-td-style invoice_device_row" valign="top">
                            @{
                                if (item.Status == "Open")
                                {
                                    <div class="invoice_device_header">@Localize.T("Total")</div>
                                    <div class="invoice_device_info">
                                        <span class="color_red_style">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.TotalAmount.Value.ToString("#,##0.00")</span>
                                    </div>

                                }
                                else
                                {
                                    <div class="invoice_device_header">@Localize.T("Total")</div>
                                    <div class="invoice_device_info">
                                        <span class="color_red_style">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.TotalAmount.Value.ToString("#,##0.00")</span>
                                    </div>

                                }
                            }
                        </td>
                        <td class="table-body-td-style invoice_device_row" valign="top">
                            @{
                                if (item.Status == "Open")
                                {
                                    <div class="invoice_device_header">@Localize.T("Balance")</div>
                                    <div class="invoice_device_info">
                                        <span class="color_red_style">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.BalanceDue.Value.ToString("#,##0.00")</span>
                                    </div>

                                }
                                else
                                {
                                    <div class="invoice_device_header">@Localize.T("Balance")</div>
                                    <div class="invoice_device_info">
                                        <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.BalanceDue.Value.ToString("#,##0.00")</span>
                                    </div>

                                }
                            }

                        </td>
                        <td class="table-body-td-style invoice_device_row" valign="top">
                            <div class="invoice_device_header">@Localize.T("Status")</div>
                            <div class="invoice_device_info">
                                @{
                                    string status = item.Status;
                                    if (status != "Cancel" && status != "Paid" && status != "Partial" && item.DueDate.HasValue)
                                    {
                                        status = item.DueDate.Value < DateTime.Today ? "Due" : status;
                                    }

                                    if (status == "Open")
                                    {
                                        <span class="color_red_style_bold">@status</span>
                                    }
                                    else if (status == "Partial")
                                    {
                                        <span class="color_red_style_bold">@status</span>
                                    }
                                    else if (status == "Paid")
                                    {
                                        <span class="color_red_style_bold">@status</span>
                                    }
                                    else if (status == "Cancel")
                                    {
                                        <span class="color_red_style_bold">@status</span>
                                    }
                                    else
                                    {
                                        <span class="color_red_style_bold">@status</span>
                                    }
                                }
                            </div>

                        </td>
                        <td class="table-body-td-style invoice_device_row" valign="top">
                            <div class="invoice_device_header">@Localize.T("Actions")</div>
                            <div class="invoice_device_info">
                                <a class="cus-anchor" onclick="ReceivePaymentByInv(@item.Id)" href="javascript:void(0)">@Localize.T("Receive Payment")</a>
                            </div>
                        </td>
                        <td class="table-body-td-style invoice_device_row" valign="top">
                            <div class="invoice_device_header">@Localize.T("Print / Email")</div>
                            <div class="invoice_device_info">
                                <a class="InvEstPreviewPartial" href="@(AppConfig.DomainSitePath)/Invoice/GetInvoicePartial?Id=@item.Id" style=""><i class="fa fa-print" aria-hidden="true"></i></a>
                                @Localize.T(" / ")
                                <a href="@(AppConfig.DomainSitePath)/Invoice/SendEmailInvoicePartial?id=@item.Id" id="InvoicePrintAndSend" class="InvEstPreviewPartial" style=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@if (Model.Estimates != null && Model.Estimates.Count > 0)
{
    <div class="gsr_header">Estimate result</div>
    <div class="Estimate-table">
        <table class="display estimate_result" id="tblEstimate">
            <thead class="table-head-border">
                <tr>
                    @*<th class="thead-th-style">
                        </th>*@
                    <th class="thead-th-style">
                        @Localize.T("Estimate")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Created By")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Creation Date")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Last Note Added")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Actions")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Estimates)
                {
                    <tr class="tr-style">
                        @*<td class="table-body-td-style" valign="top">
                                <input idval="@(item.Id)" id="checkbox-@(item.Id)" class="checkbox-custom" name="checkbox-@(item.Id)" type="checkbox">
                                <label for="checkbox-@(item.Id)" class="checkbox-custom-label"></label>
                            </td>*@
                        <td class="table-body-td-style" valign="top">
                            <a href="javascript:void(0)" onclick="OpenEstById(@item.Id)">@item.InvoiceId</a>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <span>@item.UserNum</span>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <span>@item.LastUpdatedDate.ToString("MM/dd/yy")</span>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            @if (item.NoteAddedDate != null)
                            {
                                if (item.NoteAddedDate == Convert.ToDateTime("01/01/0001"))
                                {
                                    <div class="ep_device_header">@Localize.T("Last Note Added")</div>
                                    <div class="ep_device_info">
                                        <span>@Localize.T("-")</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="ep_device_header">@Localize.T("Last Note Added")</div>
                                    <div class="ep_device_info">
                                        <span>@item.NoteAddedDate.ToString("MM/dd/yy") @Localize.T("at") @item.NoteAddedDate.ToString("HH:mm tt")</span>
                                    </div>
                                }
                            }
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn GlobalConvert-EstimeteToInvoice" data-id="@item.Id" id="@item.CreatedBy" type="button"> @Localize.T("Convert To Invoice")</button>
                                <button data-toggle="dropdown" class="btn dropdown-toggle Estimate-btn-dropdown" type="button">
                                    <span class="caret caret-style"></span>
                                </button>
                                <ul class="dropdown-menu cus-dropdown-ul ep_action_dropdown">
                                    <li><button class="btn GlobalConvertEstimateToOrder" type="button" data-id="@item.CustomerId" idval="@item.InstallDate" idval1="@item.InvoiceId" id="ConvertEstimateToOrder">@Localize.T("Convert to work or service order")</button></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@if (Model.Opportunities != null && Model.Opportunities.Count > 0)
{
    <div class="gsr_header">Opportunities result</div>
    <table class="opportunities_table">
        <thead>
            <tr>
                <th>
                    <div>@Localize.T("Opportunity")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/opportunityname"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/opportunityname"></i></div>
                </th>
                <th>
                    <div>@Localize.T("Revenue")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/revenue"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/revenue"></i></div>
                </th>

                <th>
                    <div>@Localize.T("Status")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/status"></i></div>
                </th>
                <th>
                    <div>@Localize.T("Campaign")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/competitors"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/competitors"></i></div>
                </th>
                <th>
                    <div>@Localize.T("Close Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/closedate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/closedate"></i></div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Opportunities)
            {

                <tr class="PrintItem" data-id="@item.Id">

                    <td>
                        <div class="opp_header">@Localize.T("Name") <span>:</span></div>
                        <div class="opp_info">

                            <div> <a class="cus-anchor" onclick="ShowOpportunityDetails(@item.Id,this)" id="@(item.Id)" id-val="@item.OpportunityId">@item.OpportunityName</a></div>
                            @if (item.TypeVal != "-" && !string.IsNullOrEmpty(item.TypeVal))
                            {
                                <br /> @Localize.T("Type: ")
                                <span>@item.TypeVal</span>
                            }
                            @if (!string.IsNullOrEmpty(item.CustomerName))
                            {
                                <br /> @Localize.T("Account Name: ")
                                <span>@item.CustomerName</span>
                            }
                            @if (!string.IsNullOrEmpty(item.Competitors))
                            {
                                <div>
                                    @Localize.T("Competitors: ")
                                    <span>@item.Competitors</span>
                                </div>
                            }
                        </div>

                    </td>
                    <td>
                        <div class="opp_header">@Localize.T("Revenue") <span>:</span></div>
                        <div class="opp_info">
                            @if (!string.IsNullOrEmpty(item.Revenue))
                            {
                                double Revenue = 0;
                                double.TryParse(item.Revenue, out Revenue);
                                <div>
                                    @Localize.T("Revenue: ")
                                    <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Revenue)</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.ProjectedGP))
                            {
                                double ProjectedGP = 0;
                                double.TryParse(item.ProjectedGP, out ProjectedGP);
                                <div>
                                    @Localize.T("Projected GP: ")
                                    <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(ProjectedGP)</span>
                                </div>

                            }
                            @if (!string.IsNullOrEmpty(item.Points))
                            {
                                double Points = 0;
                                double.TryParse(item.Points, out Points);
                                <div>
                                    @Localize.T("Points: ")
                                    <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Points)</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.TotalProjectedGP))
                            {
                                <div>
                                    @Localize.T("Total Projected GP: ")
                                    <span>@item.TotalProjectedGP</span>
                                </div>
                            }
                        </div>
                    </td>


                    <td>
                        <div class="opp_header">@Localize.T("Status") <span>:</span></div>
                        <div class="opp_info">
                            @if (item.StatusVal != "-")
                            {
                                @Localize.T("Status: ")
                                <span>@item.StatusVal</span>
                            }
                            @if (item.ProbabilityVal != "-")
                            {
                                <div>
                                    @Localize.T("Probability: ")
                                    <span>@item.ProbabilityVal</span>
                                </div>
                            }
                            @if (item.DealReasonVal != "-")
                            {
                                <div>
                                    @Localize.T("Deal Reason: ")
                                    <span>@item.DealReasonVal</span>
                                </div>
                            }
                            @if (item.DeliveryDaysVal != "-")
                            {
                                <div>
                                    @Localize.T("Delivery Days: ")
                                    <span>@item.DeliveryDaysVal</span>
                                </div>

                            }
                        </div>
                    </td>

                    <td>
                        <div class="opp_header">@Localize.T("Campaign") <span>:</span></div>
                        <div class="opp_info">

                            @if (item.CampaignSourceVal != "-")
                            {
                                <div>
                                    @Localize.T("Campaign Source: ")
                                    <span>@item.CampaignSourceVal</span>
                                </div>
                            }
                            @if (item.LeadSourceVal != "-" && !string.IsNullOrEmpty(item.LeadSourceVal))
                            {
                                <div>
                                    @Localize.T("Lead Source: ")
                                    <span>@item.LeadSourceVal</span>
                                </div>
                            }

                        </div>

                    </td>

                    @if (item.CloseDate.HasValue && item.CloseDate != new DateTime())
                    {
                        <td>
                            <div class="opp_header">@Localize.T("Close Date") <span>:</span></div>
                            <div class="opp_info">@item.CloseDate.Value.ToString("MM/dd/yy")</div>
                            @if (!string.IsNullOrEmpty(item.AccountOwnerName))
                            {
                                <div>
                                    @Localize.T("Account Owner: ")
                                    <span>@item.AccountOwnerName</span>
                                </div>

                            }
                        </td>
                    }


                </tr>

            }
        </tbody>
    </table>
}
@if (Model.Contacts != null && Model.Contacts.Count > 0)
{
    <div class="gsr_header">Contacts result</div>
    <table class="Contacts_table">
        <thead>
            <tr>
                <th>
                    <div>@Localize.T("Name")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/name"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/name"></i></div>
                </th>

                <th>
                    <div>@Localize.T("Work")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/work"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/work"></i></div>
                </th>
                <th>
                    <div>@Localize.T("Mobile")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/mobile"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/mobile"></i></div>
                </th>

                <th>
                    <div>@Localize.T("Email")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/email"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/email"></i></div>
                </th>

                <th>
                    <div>@Localize.T("Created By")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/createdby"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/createdby"></i></div>
                </th>

                <th>
                    <div>@Localize.T("Created Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/createddate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/createddate"></i></div>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Contacts)
            {
                <tr class="PrintItem" data-id="@item.Id">
                    <td>
                        <div>@Localize.T("Name") <span>:</span></div>
                        <div> <a class="cus-anchor name-anchor-style" onclick="ShowContactDetails(@item.Id,this)" id="@(item.Id)" id-val="@item.ContactId">@item.Name</a></div>

                    </td>

                    <td>
                        <div>@Localize.T("Work") <span>:</span></div>
                        <div>@item.Work</div>
                    </td>
                    <td>
                        <div>@Localize.T("Mobile") <span>:</span></div>
                        <div>@item.Mobile</div>
                    </td>
                    <td>
                        <div>@Localize.T("Email") <span>:</span></div>
                        <div title="@item.Email">@item.Email</div>
                    </td>
                    <td>
                        <div>@Localize.T("Created By") <span>:</span></div>
                        <div>@item.CreatedByName</div>
                    </td>
                    <td>
                        <div>@Localize.T("Created Date") <span>:</span></div>
                        <div>@HS.Framework.DateTimeExtension.UTCToClientTime(item.CreatedDate)</div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
@if (Model.Tickets != null && Model.Tickets.Count > 0)
{
    <div class="gsr_header">Ticket result</div>

    <div class="TicketTable">
        <table class="display Ticket_result" id="tblTicket">
            <thead class="table-head-border">
                <tr>
                    <th class="thead-th-style">
                        @Localize.T("Ticket Id")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Customer Name")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Phone")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Ticket Status")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Ticket Type")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Created Date")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Completion Date")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Assigned To")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tickets)
                {
                    <tr class="tr-style">


                        <td class="table-body-td-style Ticket_device_row" valign="top">
                            @*<div class="Ticket_device_header">@Localize.T("Ticket Id")</div>*@
                            <div class="Ticket_device_info">
                                <a class="cus-anchor" href="javascript:void(0)" onclick="OpenTicketById(@item.Id)">@item.Id</a>
                            </div>
                        </td>
                        <td class="table-body-td-style Ticket_device_row" valign="top">
                            @*<div class="Ticket_device_header">@Localize.T("Customer Name")</div>*@
                            @if (string.IsNullOrWhiteSpace(item.BusinessName))
                            {
                                <div class="Ticket_device_info">
                                    <a class="cus-anchor" href="@(AppConfig.DomainSitePath)/Customer/Customerdetail/?id=@item.CusIdInt">@item.CustomerName</a>
                                </div>
                            }
                            else
                            {
                                <div class="Ticket_device_info">
                                    <a class="cus-anchor" href="@(AppConfig.DomainSitePath)/Customer/Customerdetail/?id=@item.CusIdInt">@item.BusinessName</a>
                                </div>
                            }

                        </td>
                        <td class="table-body-td-style Ticket_device_row" valign="top">
                            @*<div class="Ticket_device_header">@Localize.T("Phone")</div>*@
                            <div class="Ticket_device_info">
                                @item.PrimaryPhone
                            </div>
                        </td>
                        <td class="table-body-td-style Ticket_device_row" valign="top">
                            @*<div class="Ticket_device_header">@Localize.T("Status")</div>*@
                            <div class="Ticket_device_info">
                                @item.Status
                            </div>
                        </td>
                        <td class="table-body-td-style Ticket_device_row" valign="top">
                            @*<div class="Ticket_device_header">@Localize.T("Ticket Type")</div>*@
                            <div class="Ticket_device_info">
                                @item.TicketType
                            </div>
                        </td>
                        <td class="table-body-td-style Ticket_device_row" valign="top">
                            @*<div class="Ticket_device_header">@Localize.T("Created Date")</div>*@
                            <div class="Ticket_device_info">
                                @HS.Framework.DateTimeExtension.UTCToClientTime(item.CreatedDate).ToString("MM/dd/yy") @HS.Framework.DateTimeExtension.UTCToClientTime(item.CreatedDate).ToString("hh:mm tt")
                            </div>
                        </td>
                        <td class="table-body-td-style Ticket_device_row" valign="top">
                            @*<div class="Ticket_device_header">@Localize.T("Completion Date")</div>*@
                            <div class="Ticket_device_info">
                                @HS.Framework.DateTimeExtension.UTCToClientTime(item.CompletionDate).ToString("MM/dd/yy") @HS.Framework.DateTimeExtension.UTCToClientTime(item.CompletionDate).ToString("hh:mm tt")
                            </div>
                        </td>
                        <td class="table-body-td-style Ticket_device_row" valign="top">
                            @*<div class="Ticket_device_header">@Localize.T("Assigned To")</div>*@


                            @if (item.AssignedTo != "System UserM")
                            {
                                <div class="Ticket_device_info">
                                    @item.AssignedTo
                                </div>
                            }
                            else
                            {
                                <div class="Ticket_device_info">-</div>
                            }



                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}