@{
    ViewBag.Title = "Inventory";
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

@Styles.Render("~/styles/Inventory")
@Scripts.Render("~/scripts/Inventory")

<style>
    .nav-tabs > li > a {
        background-color: transparent !important;
    }

    .nav-tabs > li > a {
        background-color: transparent !important;
        color: #454545;
        border: none !important;
    }

    .nav-tabs > li {
        border: 1px solid #ccc !important;
    }

        .nav-tabs > li.active {
            background-color: #2ca01c !important;
        }

    .nav-tabs > li {
        border: 1px solid #ccc !important;
    }

        .nav-tabs > li.active > a {
            color: white !important;
        }

    .inventory_fixed_header {
    }

    .product-action {
        margin: 0px !important;
    }

    .inventory_tab_content .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    .Inventory-Page-wrap h3 {
        margin-top: 0px;
    }
</style>

<script>
    var LoaderAnimation = "<div class='ListViewLoader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var EstimatorId = '@ViewBag.Id';
    var LoadProductList = function () {
        $('#InventoryProductList').html(LoaderAnimation);
        setTimeout(function () {
            $("#InventoryProductList").load(domainurl + "/Inventory/ProductListPartial");
        }, 500);
    }

    var ProductSearchKeyUp = function (pageNumber) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
        var ActiveStatus = 1/*$("#ActiveStatus").val()*/;
        var EquipmentClass = $("#EquipmentClass").val();
        var EquipmentCategory = $("#EquipmentCategory").val();
        var StockStatus = $("#StockStatus").val();
        var searchtext = $('#srch-term').val();
        if (typeof (LoaderAnimation) != "undefined") {
            $('#InventoryProductList').html(LoaderAnimation);
        } else {
            $('#InventoryProductList').html('');
        }
        /*&EquipmentClass=" + EquipmentClass + "&EquipmentCategory=" + EquipmentCategory + "&StockStatus=" + StockStatus + */
        $('#InventoryProductList').load(domainurl + "/Inventory/ProductListPartial/?ActiveStatus=" + ActiveStatus + "&PageNo=" + pageNumber + "&SearchText=" + searchtext);
    }
    var SetAllTimeClockTabsEmpty = function () {
        $(".ListContents").html(LoaderAnimation);
        $(".ListContentsService").html(LoaderAnimation);
        $("#poTab").html(LoaderAnimation);
        $("#branchInventory").html(LoaderAnimation);
        $("#BranchpoTab").html(LoaderAnimation);
        $("#DoTab").html(LoaderAnimation);
        $("#technicianInventory").html(LoaderAnimation);
        $("#TechpoTab").html(LoaderAnimation);
        $("#TechReceiveTab").html(LoaderAnimation);
        $("#TransferLogTab").html(LoaderAnimation);
        $("#EquipHistoryTab").html(LoaderAnimation);
        $("#WH_HistoryTab").html(LoaderAnimation);
        
    }
    var OpenInventoryTab = function () {
        location.hash = "#InventoryTab";
        SetAllTimeClockTabsEmpty();
        $(".ListContents").load(domainurl + "/Inventory/EquipmentsListPartial");
    }
    var OpenServiceTab = function () {
        SetAllTimeClockTabsEmpty();
        $(".ListContentsService").load(domainurl + "/Inventory/ServiceListPartial");
    }

    var OpenPurchaseOrderTab = function () {
        location.hash = "#PurchaseOrderTab";
        SetAllTimeClockTabsEmpty();
        if (EstimatorId != null) {
            $("#poTab").load(domainurl + "/PurchaseOrder/PurchaseOrderPartial/?EstimatorId=" + EstimatorId);
        }
        else {
            $("#poTab").load(domainurl + "/PurchaseOrder/PurchaseOrderPartial");
        }

    }


    //var OpenPurchaseOrderTabByEstimatorId = function (EstimatorId) {
    //    console.log(EstimatorId);
    //    location.hash = "#PurchaseOrderTab";
    //    SetAllTimeClockTabsEmpty();
    //    $("#poTab").load(domainurl + "/PurchaseOrder/PurchaseOrderPartial/?EstimatorId=" + EstimatorId);
    //}
    var OpenBranchInventory = function () {
        SetAllTimeClockTabsEmpty();
        $("#branchInventory").load(domainurl + "/Inventory/BranchInventoryPartial");
    }
    var OpenBranchPurchaseOrderTab = function () {
        SetAllTimeClockTabsEmpty();
        $("#BranchpoTab").load(domainurl + "/PurchaseOrder/BranchPurchaseOrderPartial");
    }
    var OpenDemandBranchOrderTab = function () {
        location.hash = "#DemandOrderTab";
        SetAllTimeClockTabsEmpty();
        $("#DoTab").load(domainurl + "/PurchaseOrder/BranchDemandOrderPartial");
    }
    var OpenTechInventory = function () {
        location.hash = "#TechnInventoryTab";
        SetAllTimeClockTabsEmpty();
        $("#technicianInventory").load(domainurl + "/Inventory/TechnicianInventoryPartial");
    }
    var OpenTechPurchaseOrderTab = function () {
        location.hash = "#TechDOTab";
        SetAllTimeClockTabsEmpty();
        $("#TechpoTab").load(domainurl + "/PurchaseOrder/TechPurchaseOrderPartial");
    }
    var OpenTechReceiveOrderTab = function () {
        location.hash = "#TechReceiveTab";
        SetAllTimeClockTabsEmpty();
        /*$("#TechReceiveTab").load(domainurl + "/Inventory/InventoryTechReceivePartial");*/
        $("#TechReceiveTab").load(domainurl + "/Inventory/TechTransferPartial");
    }
    var OpenBadInventoryTab = function () {
        location.hash = "#BadInventoryTab";
        SetAllTimeClockTabsEmpty();
        $("#BadInventoryTab").load(domainurl + "/PurchaseOrder/BadInventoryPartial");
    }
    var OpenEquipHistoryTab = function () {
        location.hash = "#EquipHistoryTab";
        SetAllTimeClockTabsEmpty();
        //console.log(domainurl + "/Inventory/TechTransferLogPartial");
        $("#EquipHistoryTab").load(domainurl + "/Inventory/DetailedHistoryPartial");
    }
    var OpenWH_HistoryTab = function () {
        location.hash = "#WH_HistoryTab";
        SetAllTimeClockTabsEmpty();
        //console.log(domainurl + "/Inventory/TechTransferLogPartial");
        $("#WH_HistoryTab").load(domainurl + "/Inventory/WH_HistoryPartial");
    }
    var OpenTransferLogTab = function () {
        location.hash = "#TransferLogTab";
        SetAllTimeClockTabsEmpty();
        //console.log(domainurl + "/Inventory/TechTransferLogPartial");
        $("#TransferLogTab").load(domainurl + "/Inventory/InventoryTransfferLogTab");
        //$("#TransferLogTab").load(domainurl + "/Inventory/TechTransferLogPartial");
        //$("#TransferLogTab").load(domainurl + "/Inventory/InventoryTransfferLogTab");
    }

    var OpenEquipmentHistoryTab = function () {
        location.hash = "#EquipmentHistoryTab";
        SetAllTimeClockTabsEmpty();
        //console.log(domainurl + "/Inventory/TechTransferLogPartial");
        $("#EquipmentHistoryTab").load(domainurl + "/Inventory/EquipmentHistoryPartial");
    }

    var windowHashChange = function () {
        /*This one is used for loading tab from url*/
        if ($("[tabname='" + top.location.hash + "']").length > 0) {
            TabPopStateCheck = true;
            //$("[tabname='" + top.location.hash + "']").click();
        }
    }

    $(document).ready(function () {
        //if (EstimatorId != null) {
        //    OpenPurchaseOrderTabByEstimatorId(EstimatorId);
        //}
        $(".LoaderWorkingDiv").hide();
        $('ul#InventoryTable li a').click(function (e) {
            if (!TabPopStateCheck) {
                window.history.pushState({ urlPath: window.location.pathname }, "", $(e.target).attr('tabname'));
            }
            TabPopStateCheck = false;
        });
        if (top.location.hash != '') {
            windowHashChange();
        } else {
            OpenInventoryTab();
        }

        $("#ErrorPage").load(domainurl + "/Inventory/ErrorPage");
        $(".InventoryProductList").click(function () {
            LoadProductList();
        });
    });
    $(window).on('hashchange', function (e) {
        windowHashChange();
    });
</script>



@{
    var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;

}


<div class="Inventory-Page-wrap">
    <div class="container-fluid">
        <h3>@Localize.T("Inventory Items")</h3>
        <div>
            <ul class="nav nav-tabs" id="InventoryTable">
                <li class="active">
                    @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.InventoryWareHouseTab))
                    {
                        <a tabname="#InventoryTab" data-target="#companyInventory" onclick="OpenInventoryTab()" data-toggle="tab">@Localize.T("Inventory")</a>
                    }
                    else
                    {
                        <a tabname="#InventoryTab" data-target="#ErrorPage" data-toggle="tab">@Localize.T("Inventory")</a>
                    }
                </li>
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.BadInventoryTab))
                {
                    <li>
                        <a tabname="#BadInventoryTab" data-target="#BadInventoryTab" onclick="OpenBadInventoryTab()" data-toggle="tab">@Localize.T("Bad Inventory")</a>
                    </li>
                }

                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.PurchaseOrderWareHouseTab))
                {
                    <li>
                        <a tabname="#PurchaseOrderTab" data-target="#poTab" onclick="OpenPurchaseOrderTab()" data-toggle="tab">@Localize.T("Purchase Order")</a>
                    </li>
                }
                @*else
                {
                    <li>
                        <a tabname="#PurchaseOrderTab" data-target="#ErrorPage" data-toggle="tab">@Localize.T("Purchase Order")</a>
                    </li>
                }*@
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.DemandOrderTab))
                {
                    <li>
                        <a tabname="#DemandOrderTab" data-target="#DoTab" onclick="OpenDemandBranchOrderTab()" data-toggle="tab">@Localize.T("Demand Order")</a>
                    </li>
                }
                @if (ViewBag.BranchCount > 1)
                {
                    @*<li>
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.InventoryBranchTab))
                {
                    <a data-target="#branchInventory" onclick="OpenBranchInventory()" data-toggle="tab">@Localize.T("Branch Inventory")</a>
                }
                else
                {
                    <a data-target="#ErrorPage" data-toggle="tab">@Localize.T("Branch Inventory")</a>
                }
            </li>
            <li>
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.PurchaseOrderBranchTab))
                {
                    <a data-target="#BranchpoTab" onclick="OpenBranchPurchaseOrderTab()" data-toggle="tab">@Localize.T("Branch Purchase Order")</a>
                }
                else
                {
                    <a data-target="#ErrorPage" data-toggle="tab">@Localize.T("Branch Purchase Order")</a>
                }
            </li>*@
                }
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.InventoryTechTab))
                {
                    <li>
                        <a tabname="#TechnInventoryTab" data-target="#technicianInventory" onclick="OpenTechInventory()" data-toggle="tab">@Localize.T("Tech Inventory")</a>
                    </li>
                }
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.PurchaseOrderTechTab))
                {
                    <li>
                        <a tabname="#TechDOTab" data-target="#TechpoTab" onclick="OpenTechPurchaseOrderTab()" data-toggle="tab">@Localize.T("Tech Demand Order")</a>
                    </li>
                }
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.ShowInventoryTechReceiveTab))
                {
                    <li>
                        <a tabname="#TechReceiveTab" data-target="#TechReceiveTab" onclick="OpenTechReceiveOrderTab()" data-toggle="tab">@Localize.T("Transfer")</a>
                    </li>
                }
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.ShowTransferLog))
                {
                    <li>
                        <a tabname="#TransferLogTab" data-target="#TransferLogTab" onclick="OpenTransferLogTab()" data-toggle="tab">@Localize.T("Transfer Log")</a>
                    </li>
                }
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.ShowInventoryTechReceiveTab)) //ShowInventoryEquipHistoryTab
                {
                    <li>
                        <a tabname="#EquipHistoryTab" data-target="#EquipHistoryTab" onclick="OpenEquipHistoryTab()" data-toggle="tab">@Localize.T("Equipment History")</a>
                    </li>
                }
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.ShowWarehouseHistory)) //ShowInventoryEquipHistoryTab
                {
                    <li>
                        <a tabname="#WH_HistoryTab" data-target="#WH_HistoryTab" onclick="OpenWH_HistoryTab()" data-toggle="tab">@Localize.T("Warehouse History")</a>
                    </li>
                }

                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.DevPermissions)) //ShowInventoryEquipHistoryTab
                {
                    <li>
                        <a tabname="#EquipmentHistoryTab" data-target="#EquipmentHistoryTab" onclick="OpenEquipmentHistoryTab()" data-toggle="tab">@Localize.T("Equipment History")</a>
                    </li>
                }

            </ul>

            <div class="tab-content inventory_tab_content">

                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.InventoryWareHouseTab))
                {
                    <div class="tab-pane active" id="companyInventory">
                        @*Company Inventory*@
                        <div class="container-fluid">
                            <div class="product-action" id="anchor">
                                @{
                                    <div class="inventory_right_container">
                                        <div class="btn-group inventory_dropdown">
                                            @if (true)
                                            {
                                                <button class="btn equipment-new AddNewEquipment" onclick="OpenAddEquipment()" type="button"> @Localize.T("New Equipment")</button>

                                                <button data-toggle="dropdown" class="btn dropdown-toggle eqipment-btn-dropdown" type="button">
                                                    <span class="caret "></span>
                                                </button>
                                            }
                                            <ul class="dropdown-menu">
                                                <li><a href="/ProductCategory" @*id="LoadProductCategory"*@>@Localize.T("Manage Category")</a></li>
                                                @*<li><a href="javascript:void(0)" id="LoadProductClass"> @Localize.T("Manage Equipment Class") </a></li>*@
                                                @*<li><a href="javascript:void(0)"> @Localize.T("Run Report") </a></li>*@
                                            </ul>
                                            @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.InventoryTabImport))
                                            {
                                                <ul class="dropdown-menu equipment-dropdown-ul-style upload-excel-file">
                                                    <li><a class="Upload-excel" id="open-excel-dialog" accept=".xls"> @Localize.T("Import")</a></li>
                                                </ul>
                                            }


                                        </div>
                                        @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.TechReorderPoint))
                                        {
                                            <a target="_blank" class="btn equipment-new mass-stockbutton" href="/TechReorderPoint">@Localize.T("Tech Reorder Point")</a>
                                        }
                                        @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.MassRestock))
                                        {
                                            <a target="_blank" class="btn equipment-new mass-stockbutton" href="/MassRestock">@Localize.T("Mass Restock")</a>
                                        }

                                        @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.InventoryTabMassPO))
                                        {
                                            <a target="_blank" class="btn equipment-new mass-stockbutton" href="/MassPO">@Localize.T("Mass PO")</a>
                                        }

                                        <div class="dropdown right button_position inventory_dropdown_more">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                More<span class="caret custom_left"></span>
                                            </button>
                                            <ul class="dropdown-menu ">
                                                <li><a href="/ProductCategory" @*id="LoadProductCategory"*@>@Localize.T("Manage Category")</a></li>
                                                <li><a href="javascript:void(0)" id="load_equipments_import">@Localize.T("Import")</a></li>
                                                @*<li><a href="javascript:void(0)" id="LoadProductClass"> @Localize.T("Manage Equipment Class") </a></li>*@
                                                @*<li><a href="javascript:void(0)"> @Localize.T("Run Report") </a></li>*@
                                            </ul>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="ListContents">

                            </div>
                        </div>
                    </div>
                }
                <div class="tab-pane" id="BadInventoryTab">

                </div>
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.InventoryWareHouseTab))
                {
                    <div class="tab-pane" id="companyService">
                        @*Company Inventory*@
                        <div class="container-fluid">
                            <div class="product-action" id="anchor">
                                <div class="inventory_fixed_header">
                                    @*<div class="inventory_left_container">
                                <h2>@Localize.T("Product and Services")</h2>
                            </div>*@
                                    <div class="inventory_right_container">

                                        <div class="AddNewBtnDiv">
                                            <div class="btn-group">
                                                <button class="btn equipment-new" id="AddNewService" type="button"> @Localize.T("New Service")</button>
                                                <button data-toggle="dropdown" class="btn dropdown-toggle eqipment-btn-dropdown" type="button">
                                                    <span class="caret "></span>
                                                </button>
                                                <ul class="dropdown-menu ">
                                                    <li><a href="/ProductCategory" @*id="LoadProductCategory"*@>@Localize.T("Manage Category")</a></li>
                                                    @*<li><a href="javascript:void(0)" id="LoadProductClass"> @Localize.T("Manage Equipment Class") </a></li>*@
                                                    @*<li><a href="javascript:void(0)"> @Localize.T("Run Report") </a></li>*@
                                                </ul>
                                                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.InventoryTabImport))
                                                {
                                                    <ul class="dropdown-menu equipment-dropdown-ul-style upload-excel-file">
                                                        <li><a class="Upload-excel" id="open-excel-dialog" accept=".xls"> @Localize.T("Import")</a></li>
                                                    </ul>
                                                }

                                            </div>

                                        </div>
                                        <div class="dropdown right button_position">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                More<span class="caret custom_left"></span>
                                            </button>
                                            <ul class="dropdown-menu ">
                                                <li><a href="/ProductCategory" @*id="LoadProductCategory"*@>@Localize.T("Manage Category")</a></li>
                                                <li><a href="javascript:void(0)" id="load_equipments_import">@Localize.T("Import")</a></li>
                                                @*<li><a href="javascript:void(0)" id="LoadProductClass"> @Localize.T("Manage Equipment Class") </a></li>*@
                                                @*<li><a href="javascript:void(0)"> @Localize.T("Run Report") </a></li>*@
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ListContentsService">

                            </div>
                        </div>
                    </div>
                }
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.PurchaseOrderWareHouseTab))
                {
                    <div class="tab-pane" id="poTab">

                    </div>
                }
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.InventoryBranchTab))
                {
                    <div class="tab-pane" id="branchInventory">

                    </div>
                }
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.PurchaseOrderBranchTab))
                {
                    <div class="tab-pane" id="BranchpoTab">

                    </div>
                }
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.InventoryTechTab))
                {
                    <div class="tab-pane" id="technicianInventory">

                    </div>
                }
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.PurchaseOrderTechTab))
                {
                    <div class="tab-pane" id="TechpoTab">

                    </div>
                }

                <div class="tab-pane" id="TransferLogTab">

                </div>

                <div class="tab-pane" id="EquipHistoryTab">

                </div>

                <div class="tab-pane" id="WH_HistoryTab">

                </div>

                <div class="tab-pane" id="DoTab">

                </div>
                <div class="tab-pane @(!PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.InventoryWareHouseTab)?"active":"")" id="ErrorPage">
                </div>
                <div class="tab-pane" id="TechReceiveTab">

                </div>
                <div class="tab-pane" id="EquipmentHistoryTab">

                </div>
            </div>
        </div>
    </div>

</div>

@*<div class='ListViewLoader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>*@

<div class="hidden">
    <input type="hidden" id="UploadedPath" value="" />
    <input type="file" name="InventoryFile" class="hidden" id="UploadedExcelFile" accept=".Xlsx" />
</div>