@{
    Layout = null;
}
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig; 
<link href="~/Content/Css/App/Manufacturers.css" rel="stylesheet" />

<script>
    var ClosePopup = function () {
        $.magnificPopup.close();
    }
    var ClosePopupGiveError = function () {
        $.magnificPopup.close();
        $("#OpenError").click();
    }
    var ClosePopupGiveSuccess = function () {
        $.magnificPopup.close();
        //$("#OpenSuccess").click();
        setTimeout(function () {
            $(".ListContents").load("@(AppConfig.DomainSitePath)/App/ManufaturersListPartial");
        }, 200);
    }
    $(document).ready(function () {
        parent.$('.close').click(function () {
            parent.$(".modal-body").html('');
        })
        $(".LoaderWorkingDiv").hide();

        $("#AddNewManufacturer").click(function () {
            OpenRightToLeftModal("@(AppConfig.DomainSitePath)/app/AddManufacturer");
        });
        $(".ListViewLoader").show();
        $("#successmessageClose").click(function () {
            setTimeout(function () {
                $(".ListContents").load("@(AppConfig.DomainSitePath)/App/ManufaturersListPartial");
            }, 200);
        });
        setTimeout(function () {
            $(".ListContents").load("@(AppConfig.DomainSitePath)/App/ManufaturersListPartial");
        }, 500);
    })
</script>

<div class="content-wrap manufacturers_container">
    <div class="container-fluid">
        <div class="row"> 
            <div class="manufac_header_left"><span class="manufacture_header">@Localize.T("Manufacturers")</span></div>
            <div class="manufac_header_right">
                <div class="btn-group AddNewBtnDiv">
                    @if (PermissionChekcer.IsPermitted(Permissions.ProductsPermissions.ManufacturersAdd))
                    {
                        <button class="btn customer-new" id="AddNewManufacturer" type="button">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;@Localize.T("New")
                        </button>
                    }
                    @*<button data-toggle="dropdown" class="btn dropdown-toggle customer-btn-dropdown" type="button" title="@Localize.T("Import Manufacturer")">
                        <span class="caret caret-style"></span>
                    </button>
                    <ul class="dropdown-menu customer-dropdown-ul-style">
                        <li><a href="javascript:void(0)">@Localize.T("Import Manufacturer")</a></li>
                    </ul>*@
                </div>
                
            </div>
        </div>
        <div class="ListContents" style="display:none;">

        </div>
    </div> 
</div>
<div class="ListViewLoader">
    <div>
        <div class="lds-css ng-scope">
            <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
        </div>
    </div>
    @*<div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div>*@
</div>
<div style="display:none">
    <a href="@(AppConfig.DomainSitePath)/App/AddManufacturer" class="addManufacturerMagnific">Add New Manufacturer</a> 
</div> 
 







