@{
    Layout = null;
}
@model List<HS.Entities.Marchant>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
 
<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    })
</script>

<link href="~/Content/datatable/dataTables.bootstrap.css" rel="stylesheet" /> 
<script src="~/Content/datatable/jquery.dataTables.min.js"></script>
<script src="~/Content/datatable/dataTables.bootstrap.js"></script>

<script>
    var DataTablePageSize = 50;
    var ClosePopup = function () {
        $.magnificPopup.close();
    }
    var ClosePopupGiveError = function () {
        $.magnificPopup.close();
        $("#OpenError").click();
    }
    var ClosePopupGiveSuccess = function () {
        $.magnificPopup.close();
        $("#OpenSuccess").click();
    }
    $(document).ready(function () {
        var idlist = [{ id: ".addManufacturerMagnific", type: 'iframe', width: 400, height: 275 }
        ];
        jQuery.each(idlist, function (i, val) {
            magnificPopupObj(val);
        });
        var table = $('#tblVideo').DataTable({
            "pageLength": DataTablePageSize,
            "language": {
                "emptyTable": "No data available"
            }});

        $('#tblVideo tbody').on('click', 'tr', function () {

            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        $("#txtsearch").keyup(function () {
            $("#tblVideo_filter input").val($("#txtsearch").val());
            $("#tblVideo_filter input").trigger('keyup');
        });
        $("#AddNewManufacturer").click(function () {
            $(".addManufacturerMagnific").click();
        });
        $("#successmessageClose").click(function () {
            setTimeout(function () {
                LoadMarchents(true);
            }, 200);
        });
        $(".content-wrap").slideDown()
    });
</script>
<style>
   .customer-new {
        background-color: green;
        height: 35px;
         -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
        padding-left: 10px;
        padding-right: 13px;
    }
    .AddNewBtnDiv {
        margin-top: 23px;
        float: right;
        color: white;
    }
    .custom-head {
        font-family: 'Play', sans-serif;
        margin-top: 30px;
    }
</style>

<div class="content-wrap custom-head">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10"><h2>Marchants</h2></div>
            <div class="col-md-2">
                <div class="AddNewBtnDiv">
                    <select class="customer-new" id="AddNewManufacturer">
                        <option value="new" class="AddNewManufacturer" href="javascript:void(0)" data-toggle="modal" data-target="#myModal">New Marchant</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="ListContents" style="display:none;">

        </div>
    </div>
    @*<table class="display" cellspacing="0" id="tblVideo">
       <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Localize.T("Name")
                </th>
                <th>
                    @Localize.T("Order By")
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="fetured-properties-img">
                        <input idval="@(item.Id)" id="checkbox-@(item.Id)" class="checkbox-custom" name="checkbox-@(item.Id)" type="checkbox">
                        <label for="checkbox-@(item.Id)" class="checkbox-custom-label"></label>
                    </div>
                </td>
                <td valign="top">
                    <span>@item.Name</span>
                </td>
                <td valign="top">
                    <span>@item.OrderBy</span>
                </td>
            </tr>
        }

    </table>*@

</div>
<div style="display:none">
    <a href="@(AppConfig.DomainSitePath)/App/AddMarchant" class="addManufacturerMagnific">Add New Marchant</a>
    <button type="button" id="OpenError" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
    <button type="button" id="OpenSuccess" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalSuccess">Open Modal</button>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error!</h4>
            </div>
            <div class="modal-body">
                <p>Some thing wrong. Please Contact System Admin.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalSuccess" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Done!</h4>
            </div>
            <div class="modal-body">
                <p>Manufacturer Saved Successfully.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="successmessageClose"  data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

 