@{
    Layout = null;
    DateTime EndDate = DateTime.Now;
    DateTime StartDate = DateTime.Now;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency();
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@model HS.Entities.DashboardModelTechnician
@using AppConfig = HS.Framework.Utils.AppConfig;

@Styles.Render("~/styles/TechnicianDashboardCS")

<script>
    var AppConfigDomainSitePath = "@(AppConfig.DomainSitePath)";
    var Currency = '@Currency';


    var StartDateTicket = "@ViewBag.StartDate";
    var EndDateTicket = "@ViewBag.EndDate";
    @*var StartDateJobTicket = "@ViewBag.StartDate1";
    var EndDateJobTicket = "@ViewBag.EndDate1";*@
</script>
@Scripts.Render("~/scripts/TechnicianDashboardJS")

<div class="row custom_padding_for_row">

    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.ShowTechnicianOpenTicketBlock))
    {
        <div class="col-lg-3 col-md-4 dashboard_report">
            <div class="panel panel-primary">
                <div class="panel-heading lead_filter_list" style="cursor:pointer;" onclick="ShowTechOpenTicket()">
                    <div class="row">
                        <div class="col-xs-12 text-right monthly_lead">
                            <div class="header_txt_style_tb monthly_lead_Total">
                                @Localize.T("Total Open Ticket : ") @(Model.OpenServiceTicket + Model.OpenInstallationTicket)
                            </div>
                            <div class="panel-sub-body-contents monthly_lead_thisday_body">Installation Ticket: @Model.OpenInstallationTicket</div>
                            <div class="panel-sub-body-contents monthly_lead_lastday_body">Service Ticket: @Model.OpenServiceTicket</div>
                        </div>
                        <div class="col-xs-12 text-right daily_lead hidden">
                            <div class="header_txt_style_tb daily_lead_Total">@Localize.T("Total Open Ticket : ")</div>
                            <div class="panel-sub-body-contents daily_lead_thisday_body"></div>
                            <div class="panel-sub-body-contents daily_lead_lastday_body"></div>
                        </div>
                        <div class="col-xs-12 text-right weekly_lead hidden">
                            <div class="header_txt_style_tb weekly_lead_Total">@Localize.T("Total Open Ticket : ")</div>
                            <div class="panel-sub-body-contents weekly_lead_thisday_body"></div>
                            <div class="panel-sub-body-contents weekly_lead_lastday_body"></div>
                        </div>
                        <div class="col-xs-12 text-right yearly_lead hidden">
                            <div class="header_txt_style_tb yearly_lead_Total">@Localize.T("Total Open Ticket : ")</div>
                            <div class="panel-sub-body-contents yearly_lead_thisday_body"></div>
                            <div class="panel-sub-body-contents yearly_lead_lastday_body"></div>
                        </div>

                    </div>
                </div>
                <div class="panel-footer">
                    <a href="/" onclick="return false" class="btnTotalOpenTicketdaily">@Localize.T("Daily")</a>
                    <a href="/" onclick="return false" class="btnTotalOpenTicketweekly">@Localize.T("Weekly")</a>
                    <a href="/" onclick="return false" class="btnTotalOpenTicketmonthly">@Localize.T("Monthly")</a>
                    <a href="/" onclick="return false" class="btnTotalOpenTicketyearly">@Localize.T("Yearly")</a>
                    @*<span class="pull-right lead_filter_list" title="@Localize.T("Filter Ticket List")"><i class="fa fa-arrow-circle-right"></i></span>*@
                    <div class="clearfix"></div>
                </div>


            </div>
        </div>
    }

    
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.ShowTechnicianCloseTicketBlock))
    {
        <div class="col-lg-3 col-md-4 dashboard_report">
            <div class="panel panel-green">
                <div class="panel-heading Total_Closed_filter_list" style="cursor:pointer;" onclick="ShowTechClosedTicket()">
                    <div class="row">
                        <div class="col-xs-12 text-right monthly_Total_Closed">
                            <div class="header_txt_style monthly_Total_Closed_Total">@Localize.T("Total Closed Ticket ") @(Model.ClosedServiceTicket + Model.ClosedPickTicket + Model.ClosedDropTicket)</div>
                            <div class="panel-sub-body-contents monthly_Total_Closed_thisday_body">Installation Ticket: @Model.ClosedInstallationTicket</div>
                            <div class="panel-sub-body-contents monthly_Total_Closed_lastday_body">Service Ticket: @Model.ClosedServiceTicket</div>
                        </div>

                        <div class="col-xs-12 text-right daily_Total_Closed hidden">
                            <div class="header_txt_style daily_Total_Closed_Total">@Localize.T("Total Closed Ticket ")</div>
                            <div class="panel-sub-body-contents daily_Total_Closed_thisday_body"></div>
                            <div class="panel-sub-body-contents daily_Total_Closed_lastday_body"></div>
                        </div>
                        <div class="col-xs-12 text-right weekly_Total_Closed hidden">
                            <div class="header_txt_style weekly_Total_Closed_Total">@Localize.T("Total Closed Ticket ")</div>
                            <div class="panel-sub-body-contents weekly_Total_Closed_thisday_body"></div>
                            <div class="panel-sub-body-contents weekly_Total_Closed_lastday_body"></div>
                        </div>
                        <div class="col-xs-12 text-right yearly_Total_Closed hidden">
                            <div class="header_txt_style yearly_Total_Closed_Total">@Localize.T("Total Closed Ticket ")</div>
                            <div class="panel-sub-body-contents yearly_Total_Closed_thisday_body"></div>
                            <div class="panel-sub-body-contents yearly_Total_Closed_lastday_body"></div>
                        </div>



                    </div>
                </div>
                <div class="panel-footer">
                    <a href="/" onclick="return false" class="btnTotalClosedTicketdaily">@Localize.T("Daily")</a>
                    <a href="/" onclick="return false" class="btnTotalClosedTicketweekly">@Localize.T("Weekly")</a>
                    <a href="/" onclick="return false" class="btnTotalClosedTicketmonthly">@Localize.T("Monthly")</a>
                    <a href="/" onclick="return false" class="btnTotalClosedTicketyearly">@Localize.T("Yearly")</a>
                    @*<span class="pull-right lead_filter_list" title="@Localize.T("Filter Ticket List")"><i class="fa fa-arrow-circle-right"></i></span>*@
                    <div class="clearfix"></div>
                </div>



            </div>
        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.ShowUpsoldBlock))
    {
        <div class="col-lg-3 col-md-4 dashboard_report">
            <div class="panel panel-yellow">
                <div class="panel-heading TotalUpsold_filter_list" style="cursor:pointer;"  onclick="LoadTechUpsoldtList()">
                    <div class="row">
                        <div class="col-xs-12 text-right monthly_TotalUpsold">
                            <div class="header_txt_style monthly_TotalUpsold_Total">@Localize.T("Total Upsold Cost : ")@Currency@LabelHelper.FormatAmount(Model.CustomerAppointmentEquipment.UpsoldServicesTotalPrice + Model.CustomerAppointmentEquipment.UpsoldEquipmentsTotalPrice)</div>
                            <div class="panel-sub-body-contents monthly_TotalUpsold_thisday_body">@Localize.T("Services: ")@Currency@LabelHelper.FormatAmount(Model.CustomerAppointmentEquipment.UpsoldServicesTotalPrice)</div>
                            <div class="panel-sub-body-contents monthly_TotalUpsold_lastday_body">@Localize.T("Equipment: ")@Currency@LabelHelper.FormatAmount(Model.CustomerAppointmentEquipment.UpsoldEquipmentsTotalPrice)</div>
                        </div>
                        <div class="col-xs-12 text-right daily_TotalUpsold hidden">
                            <div class="header_txt_style daily_TotalUpsold_Total">@Localize.T("Total Upsold Cost : ")</div>
                            <div class="panel-sub-body-contents daily_TotalUpsold_thisday_body"></div>
                            <div class="panel-sub-body-contents daily_TotalUpsold_lastday_body"></div>
                        </div>
                        <div class="col-xs-12 text-right weekly_TotalUpsold hidden">
                            <div class="header_txt_style weekly_TotalUpsold_Total">@Localize.T("Total Upsold Cost : ")</div>
                            <div class="panel-sub-body-contents weekly_TotalUpsold_thisday_body"></div>
                            <div class="panel-sub-body-contents weekly_TotalUpsold_lastday_body"></div>
                        </div>
                        <div class="col-xs-12 text-right yearly_TotalUpsold hidden">
                            <div class="header_txt_style yearly_TotalUpsold_Total">@Localize.T("Total Upsold Cost : ")</div>
                            <div class="panel-sub-body-contents yearly_TotalUpsold_thisday_body"></div>
                            <div class="panel-sub-body-contents yearly_TotalUpsold_lastday_body"></div>
                        </div>


                    </div>
                </div>
                <div class="panel-footer">
                    <a href="/" onclick="return false" class="btnTotalUpsolddaily">@Localize.T("Daily")</a>
                    <a href="/" onclick="return false" class="btnTotalUpsoldweekly">@Localize.T("Weekly")</a>
                    <a href="/" onclick="return false" class="btnTotalUpsoldmonthly">@Localize.T("Monthly")</a>
                    <a href="/" onclick="return false" class="btnTotalUpsoldyearly">@Localize.T("Yearly")</a>
                    @*<span class="pull-right lead_filter_list" title="@Localize.T("Filter Ticket List")"><i class="fa fa-arrow-circle-right"></i></span>*@
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    }
</div>


<div class="money-bar width-100p List_color_div lead_list_colorfull_bar">
    
            @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.TechnicianLastWeekPay))
            {
                <div class="money-bar-left-content">
                    <div class="last_week_pay openinvoice_customer_filter">
                        <div class="sub-content" @*onclick="LoadLeadThisMonthList()"*@ @*style="cursor:pointer;"*@>
                            <span>@Localize.T("Last week's pay")</span>
                        </div>
                        <span class="spnthiscount">@Currency@LabelHelper.FormatAmount(Model.DashboardBarModelTechnician.AllTotalCommission)</span>
                    </div>
                </div>
            }
            @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.TechnicianUpsoldRMR))
            {
                <div class="money-bar-left-content">
                    <div class="upsold_rmr dueinvoice_customer_filter" onclick="LoadTechServiceList()">
                        <div class="sub-content">
                            <span>@Localize.T("Monthly Upsold RMR")</span>
                        </div>
                        <span class="spnthiscount">@Currency@LabelHelper.FormatAmount(Model.CustomerAppointmentEquipment.UpsoldServicesTotalPrice)</span>
                    </div>
                </div>
            }
      
   
            @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.TechnicianUpsoldPieces))
            {
                <div class="money-bar-left-content">
                    <div class="upsold_pcs openinvoice_customer_filter">
                        <div class="sub-content" onclick="LoadTechEquipmentList()" style="cursor:pointer;">
                            <span>@Localize.T("Monthly Upsold Equipment")</span>
                        </div>
                        <span class="spnthiscount">@Model.CustomerAppointmentEquipment.UpsoldServicesTotalQuantity</span>
                    </div>
                </div>
            }
            @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.Technician90DaysGoBack))
            {
                <div class="money-bar-left-content">
                    <div class="day_go_back dueinvoice_customer_filter" onclick="LoadTotal90GoBackList()">
                        <div class="sub-content">
                            <span>@Localize.T("90 Day Go Back")</span>
                        </div>
                        <span class="spnthiscount">@Model.DashboardBarModelTechnician.Total90GoBack</span>
                    </div>
                </div>
            }
       

</div>



















<div class="row technician_dboard">

    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.ShowTechnicianSalesReport))
    {
        <div class="col-lg-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i><span class="spngraphlabel">@Localize.T("Sales Report")</span>
                    <div class="pull-right" style="margin-right:10px;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle sales_report_value"
                                    data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right filter_menu_list" role="menu">
                                <li class="show-sales-report" id-val="today">
                                    <a> @Localize.T("Today")</a>
                                </li>
                                <li class="show-sales-report" id-val="weekly">
                                    <a>@Localize.T("Weekly")</a>
                                </li>
                                <li class="show-sales-report" id-val="monthly">
                                    <a>@Localize.T("Monthly")</a>
                                </li>
                                <li class="show-sales-report" id-val="yearly">
                                    <a>@Localize.T("Yearly")</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body Customer_Lead_Graph_panel_body">
                    <div class="hidden Customer_Lead_Graph_loader">
                        <div>
                            <div class="lds-css ng-scope">
                                <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
                            </div>
                        </div>
                      
                    </div>

                    <div class="panel panel-default Customer_Lead_Graph">

                    </div>
                </div>
            </div>
        </div>
    }




<div class="db_ticket_container">
    @{
        if (PermissionChecker.IsPermitted(PermissionList.Dashboard.ShowJobInDashboard))
        {
            <div class="db_ticket_inner">
                <div class="panel-heading TechTicket">
                    <div class="TicketTitle">
                        <i class="fa fa-bell fa-fw"></i> @Localize.T("Jobs")
                    </div>

                </div>

                <div class="panel-body">
                    <div class="filterArea">
                        <div class="filterArea_dropdown">
                            @Html.DropDownList("OtherAssignedStatus", ViewBag.AssignTicketStatus as List<SelectListItem>, new { @class = "form-control" })
                            @Html.DropDownList("OtherTicketType", ViewBag.TicketTypeTaskList as List<SelectListItem>, new { @class = "form-control" })
                            
                        </div>

                        <div class="ttldateviewed">

                            <input type="text" value="" placeholder="Start Date" class="form-control border-radius-0 OtherTicketStartDate" />

                            <div class="input-group add-on">
                                <input type="text" value="" placeholder="End Date" class="form-control border-radius-0 OtherTicketEndDate" />

                                <div class="input-group-btn"><button title="Apply" class="btn" id="OtherDateFilter"><i class="fa fa-check fa-fw" aria-hidden="true"></i></button></div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="panel panel-default Other-Ticket-list-panel">

                    </div>
                </div>
            </div>
        }
        if (PermissionChecker.IsPermitted(PermissionList.Dashboard.ShowTaskInDashboard))
        {
            <div class="db_ticket_inner">
                
                <div class="panel-heading TechTicket">
                    <div class="TicketTitle">
                        <i class="fa fa-bell fa-fw"></i> @Localize.T("Reminder/Follow Up")
                    </div>
                </div>
                <div class="panel-body">
                    <div class="filterArea">

                        <div class="filterArea_dropdown">
                            ..
                        </div>
                        <div class="ttldateviewed">
                            
                        </div>
                    </div>

                    <div class="panel panel-default reminder-followup-div ">

                    </div>
                </div>


            </div>
        }
        @*if (PermissionChecker.IsPermitted(PermissionList.Dashboard.ShowTaskInDashboard))
        {
            <div class="db_ticket_inner">

                <div class="panel-heading TechTicket">
                    <div class="TicketTitle">
                        <i class="fa fa-bell fa-fw"></i> @Localize.T("Tasks")
                    </div>

                </div>

                <div class="panel-body">
                    <div class="filterArea">

                        <div class="filterArea_dropdown">
                            @Html.DropDownList("AssignedStatus", ViewBag.AssignTicketStatus as List<SelectListItem>, new { @class = "form-control" })
                            @Html.DropDownList("InstallationTicketType", ViewBag.TicketTypeTaskList as List<SelectListItem>, new { @class = "form-control" })
                        </div>
                        <div class="ttldateviewed">

                            <input type="text" value="" placeholder="Start Date" class="form-control border-radius-0 TicketStartDate" />

                            <div class="input-group add-on">
                                <input type="text" value="" placeholder="End Date" class="form-control border-radius-0 TicketEndDate" />
                                <div class="input-group-btn">

                                    <button title="Apply" class="btn" id="InstallDateFilter"><i class="fa fa-check fa-fw" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default Install-Ticket-list-panel">

                    </div>
                </div>



            </div>
        }*@
    }
</div>
</div>
<script>
    $(document).ready(function () {
        @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.ShowTaskInDashboard))
        {
            <text>$(".reminder-followup-div").load(domainurl + "/App/DashBoardFollowupReminder");</text>
        }
    });
</script>

