@{ 
 Layout = null; }
@model HS.Entities.BuildLog
@using Localize = HS.Web.UI.Helper.LanguageHelper

<link href="~/Content/Css/PackageSettings/AddPackageDevice.css" rel="stylesheet" />
<script src="~/Content/Js/Site/Validation.js"></script>
<script>
    
    var SaveBuildLog = function () {
        var url = "/App/SaveBuildLog";
        var param = JSON.stringify({
            Id: $("#buildlog_Id").val(),
            Version: $("#Version").val(),
            BuildDate: $('#BuildDate').val(),
        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data) { 
                    OpenSuccessMessageNew("Success!", "", function () { 
                        window.location.reload();
                        OpenRightToLeftModal(false);
                        LoadBuildVersion(true);
                    });
                   
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    $(document).ready(function () {

        var BuildDate = new Pikaday({
            format: 'M/D/YY',
            field: $('.Build_Date')[0],
            trigger: $('#Build_Date_custom')[0],
            firstDay: 1
        });
         

        $("#SaveBuildLog").click(function () {
            if (CommonUiValidation()) {
                SaveBuildLog();
            }
        }) 
    })
</script>
<div class="add_package_device_header">
    @{ if (Model.Id > 0)
        {
@Localize.T("Edit Build Version") }
else
{
@Localize.T("Add Build Version") } }

</div>
<div class="container-fluid">
    @Html.HiddenFor(x => x.Id, new { Id = "buildlog_Id" })
    @*@Html.HiddenFor(x => x.TagIdentifier, new { Id = "TagIdentifier" })*@

    <div class="form-group clearfix">
        <label>@Localize.T("Version")<span class="red">*</span></label>
        @Html.TextBoxFor(x => x.Version, new { @type = "text", @class = "form-control", datarequired = "true" })
        <label rel="Version" class="label hidden red position-absolute">*@Localize.T("Please enter version")</label>
    </div>
   
    <div class="form-group clearfix">
        <label>@Localize.T("Build Date")</label>
        <div class="input_group_for_date add-on" id="Build_Date_custom">
            @if (Model.BuildDate == null || Model.BuildDate == new DateTime())
            {
                Model.BuildDate = DateTime.Today;
            }  
            @Html.TextBoxFor(model => model.BuildDate, "{0:MM/dd/yy}", new { @class = "form-control Build_Date", id = "BuildDate", daterequired = "true" })
            <div class="input-group-btn">
                <btn class="btn">
                    <i class="fa fa-calendar" aria-hidden="true" style="cursor:pointer;"></i>
                </btn>
            </div>
        </div>
    </div>
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="save-package-div">
            <button class="btn-save-package-device" id="SaveBuildLog">@Localize.T("Save")</button>
        </div>
    </footer>
</section>



