@using AppConfig = HS.Framework.Utils.AppConfig;
@{ Layout = null;
string DomainURL = AppConfig.DomainSitePath; }
@using Localize = HS.Web.UI.Helper.LanguageHelper

<link href="~/Content/Css/Contacts/contactlist.css" rel="stylesheet" />
<script>
    var FilterVersion = function (order) {
        var searchval = $("#buildlog_search").val(); 
        $("#LoadBuilLog").load("/App/FilterBuildVersionList?search=" + encodeURI(searchval) + "&order=" + order);
    }
    $(document).ready(function () {
        $("#btnAddBuildLog").click(function () {
            OpenRightToLeftModal("/App/AddBuilLog?id=0");
        })
        FilterVersion();
        $("#rmr_buildlog_search").click(function () {
            FilterVersion();
        })
        $(".srch-term").keyup(function (e) {
            if (e.keyCode == 13) {
                FilterVersion();
            }
        });
    })</script>
<style>
    .bvp_header {
        width:100%;
        float:left;
    }  .bvp_header h2 {
       margin-top:0px;
       margin-bottom:0px;
    }
    .bvp_srch_box {
        width: 100%;
        float: left;
        padding:10px 0px;
    }
</style>
<div class="contact_list_container contact_container_main">
    <div class="bvp_header">
        <h2>@Localize.T("Build Version")</h2>
    </div>
    <div id="buildlog_search_container" class="bvp_srch_box">
        <div class="input-group add-on inputdiv">

            <input class="form-control srch-term"  placeholder="Find Version" type="text" id="buildlog_search">

            <div class="input-group-btn"><button class="btn btn-default custom-btn SearchContact" id="rmr_buildlog_search" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search green-tooltip" data-toggle="tooltip" title="@Localize.T("Search")" data-placement="bottom"></i></button></div>

        </div>
        <button id="btnAddBuildLog" class="btn btn_addPTO float_right"><i class="fa fa-plus-circle green-tooltip" aria-hidden="true" data-toggle="tooltip" title="@Localize.T("Add Tag")" data-placement="bottom"></i> @Localize.T("New")</button>

    </div>

    <div id="LoadBuilLog">

    </div>
</div>
