

@{
    Layout = null;
}
@model HS.Entities.EstimatorDashboard
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
@using AppConfig = HS.Framework.Utils.AppConfig;
@*<link href="~/Content/Css/App/DashBoardAssignedTicket.css" rel="stylesheet" />*@
<link href="~/Content/Select2/select2.css" rel="stylesheet" />

<script src="~/Content/Select2/Select2.min.js"></script>
<script>
     //var pageno = '@ViewBag.PageNumber';

    $(document).ready(function () {
        //$(".EstimatorFilterBtn").click(function () {

 
        //   EstimatorPagination(1, null);

        //})

        //new Pikaday({ format: 'MM/DD/YYYY', field: $('#install_goback_min_date')[0] });
        //new Pikaday({ format: 'MM/DD/YYYY', field: $('#install_goback_max_date')[0] });
    })

</script>
<div class="dashboard_estimator_container">
    @*<div class="estimator_partial_searchbar">

        <div class="form-group clearfix">
            <input class="form-control EstimateFilterStartDate" placeholder="Start Date" id="install_goback_min_date" />
        </div>
        <div class="form-group clearfix">
            <input class="form-control EstimateFilterEndDate" placeholder="End Date" id="install_goback_max_date" />
        </div>

        <input type="text" value="@ViewBag.Price" placeholder="Over X Price" id="overxprice" class="form-control border-radius-0 overxprice" />


        <div class="input-group add-on">
            @Html.DropDownList("Estimatorstatus", (List<SelectListItem>)ViewBag.StatussList, new { @class = "form-control PTOFilter", @placeholder = "select status" })

            <div class="input-group-btn">
                <button class="btn EstimatorFilterBtn green_button" title="@Localize.T("Search")">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </div>*@
    <table class="table dashboard_estimator_table">
        <thead>
            <tr>
                <th>
                    @Localize.T("Estimator ID")
                </th>
                <th>
                    @Localize.T("Customer")
                </th>
                <th>
                    @Localize.T("Description")
                </th>
                <th>
                    @Localize.T("Total Price")
                </th>
                <th>
                    @Localize.T("Status")
                </th>
                <th>
                    @Localize.T("Estimator Date")
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EstimatorList)
            {
                <tr>
                    <td>
                        <div>
                            @*<div class="dbat_device_header">@Localize.T("Estimator ID") <span>:</span></div>*@
                            <div class="dbat_device_info">
                                <a title="@Html.DisplayFor(modelItem => item.EstimatorId)" @*href="@(AppConfig.DomainSitePath)/Customer/Customerdetail/?id=@item.CustomerId"*@ onclick="OpenEstimatorById('@item.Id')"  class="cus-anchor">
                                    @Html.DisplayFor(modelItem => item.EstimatorId)
                                </a>
                            </div>
                        </div>


                    </td>
                    <td>
                        <div>
                            @*<div class="dbat_device_header">@Localize.T("Projects") <span>:</span></div>*@
                            <div class="dbat_device_info" title="@item.CustomerName">@item.CustomerName</div>
                        </div>
                    </td>
                    <td>
                        <div>
                            @*<div class="dbat_device_header">@Localize.T("Description") <span>:</span></div>*@
                            <div class="dbat_device_info" title="@item.Description">@item.Description</div>
                        </div>
                    </td>
                    <td>
                        @*<div class="dbat_device_header">@Localize.T("Total Price") <span>:</span></div>*@
                        <div class="dbat_device_info"> <span>$@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.TotalPrice)</span></div>
                    </td>
                    <td>
                        @*<div class="dbat_device_header">@Localize.T("Status") <span>:</span></div>*@
                        <div class="dbat_device_info" title="@item.Status">@item.Status</div>

                    </td>
                    <td>
                        @*<div class="dbat_device_header">@Localize.T("Estimator Date") <span>:</span></div>*@
                        @if (item.EstimateDate != null)
                        {
                            <div class="dbat_device_info"><span>@item.EstimateDate.Value.ToString("MM/dd/yy")</span></div>

                        }
                        else
                        {
                            <div class="dbat_device_info"><span></span></div>

                        }

                    </td>

                </tr>
            }

        </tbody>

    </table>
    <div class="AgentListPagination">
        <div class="paginationContainer">
            @if (ViewBag.PageCount > 0)
            {
                <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
            }
            @if (ViewBag.PageCount == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons disabledBtn">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="EstimatorPagination(@(ViewBag.PageNumber))">1</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="EstimatorPagination(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="EstimatorPagination(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="EstimatorPagination(2)">2</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="EstimatorPagination(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="EstimatorPagination(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="EstimatorPagination(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="EstimatorPagination(2)">2</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="EstimatorPagination(3)">3</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="EstimatorPagination(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount > 3)
            {
                if (ViewBag.PageNumber == ViewBag.PageCount)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="EstimatorPagination(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="EstimatorPagination(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="EstimatorPagination(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="EstimatorPagination(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons disabledBtn" onclick="EstimatorPagination()">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 1)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="EstimatorPagination(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="EstimatorPagination(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="EstimatorPagination(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="EstimatorPagination(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 2)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="EstimatorPagination(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="EstimatorPagination(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="EstimatorPagination(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="EstimatorPagination(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="EstimatorPagination(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="EstimatorPagination(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="EstimatorPagination(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="EstimatorPagination(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="EstimatorPagination(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
            }
        </div>
    </div>
</div>




