

@{
    Layout = null;
}
@model IEnumerable<HS.Entities.AssignTicket>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
@using AppConfig = HS.Framework.Utils.AppConfig;
<link href="~/Content/Css/App/DashBoardAssignedTicket.css" rel="stylesheet" />

<div class="dashboard_assign_ticket_container">

    <table class="table dashboard_assign_ticket_table">
        <thead>
            <tr>
                <th>
                    @Localize.T("Customer")
                </th>
                <th>
                    @Localize.T("Assigned")
                </th>
                <th>
                    @Localize.T("Status")
                </th>
                <th>
                    @Localize.T("Assigned Date")
                </th>
                <th>
                    @Localize.T("Created By")
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.IsPrimary == true && item.NotificationOnly == false)
                {
                    <tr style="background-color:#e4e7eb" >
                        <td>
                            <div>
                                <div class="dbat_device_header">@Localize.T("Name") <span>:</span></div>
                                <div class="dbat_device_info">
                                    <a title="@Html.DisplayFor(modelItem => item.CustomerName)" href="@(AppConfig.DomainSitePath)/Customer/Customerdetail/?id=@item.CustomerId" target="" class="cus-anchor">
                                        @Html.DisplayFor(modelItem => item.CustomerName)
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="dbat_device_header">@Localize.T("ID") <span>:</span></div>
                                <div class="dbat_device_info">
                                    <a title="@Localize.T("Ticket ID")" href="javascript:void(0)" class="cus-anchor" onclick="OpenTicketById(@item.TicketId)">
                                        @item.TicketId
                                    </a>
                                </div>
                                <div>
                                    <div class="dbat_device_header">@Localize.T("Ticket Type") <span>:</span></div>
                                    <div class="dbat_device_info"> <span title="@item.TicketType">@Html.DisplayFor(modelItem => item.TicketType)</span></div>
                                </div>
                            </div>
                        
                        </td>
                        <td>
                            <div>
                                <div class="dbat_device_header">@Localize.T("Assigned") <span>:</span></div>
                                <div class="dbat_device_info" title="@item.AssignedUserName">@item.AssignedUserName</div>
                            </div>
                        </td>
                        <td>
                            <div class="dbat_device_header">@Localize.T("Status") <span>:</span></div>
                            <div class="dbat_device_info"><span>@item.TicketStatus</span></div>
                        </td>
                        <td>
                            <div class="dbat_device_header">@Localize.T("Assign Date") <span>:</span></div>
                            <div class="dbat_device_info">
                                <span>@item.CompletionDate.ToString("MM/dd/yy")</span><br />
                                @if (!string.IsNullOrEmpty(item.AppointmentStartTime) && !string.IsNullOrEmpty(item.AppointmentEndTime) && item.AppointmentStartTime != "-1" && item.AppointmentEndTime != "-1")
                                {
                                    <span>@item.AppointmentStartTime - @item.AppointmentEndTime</span>
                                }
                            </div>
                        </td>
                        <td>
                            <div class="dbat_device_header">@Localize.T("Created By") <span>:</span></div>
                            <div class="dbat_device_info" title="@Html.DisplayFor(modelItem => item.CreatedBy)">
                                <div class="user_profile_pic_div">
                                    <img src="/Content/img/profile_pic_dami.png">
                                </div>
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </div>
                        </td>

                    </tr>
                }
                else if (item.IsPrimary == false && item.NotificationOnly == false)
                {
                    <tr style="background-color:#b0c4de7d">
                        <td>
                            <div>
                                <div class="dbat_device_header">@Localize.T("Name") <span>:</span></div>
                                <div class="dbat_device_info">
                                    <a title="@Html.DisplayFor(modelItem => item.CustomerName)" href="@(AppConfig.DomainSitePath)/Customer/Customerdetail/?id=@item.CustomerId" target="" class="cus-anchor">
                                        @Html.DisplayFor(modelItem => item.CustomerName)
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="dbat_device_header">@Localize.T("ID") <span>:</span></div>
                                <div class="dbat_device_info">
                                    <a title="@Localize.T("Ticket ID")" href="javascript:void(0)" class="cus-anchor" onclick="OpenTicketById(@item.TicketId)">
                                        @item.TicketId
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="dbat_device_header">@Localize.T("Ticket Type") <span>:</span></div>
                                <div class="dbat_device_info"> <span title="@Localize.T("Ticket Type")">@Html.DisplayFor(modelItem => item.TicketType)</span></div>
                            </div>

                        </td>
                        <td>
                            <div>
                                <div class="dbat_device_header">@Localize.T("Assigned") <span>:</span></div>
                                <div class="dbat_device_info" title="@item.AssignedUserName">@item.AssignedUserName</div>
                            </div>
                        </td>
                        <td>
                            <div class="dbat_device_header">@Localize.T("Created Date") <span>:</span></div>
                            <div class="dbat_device_info"><span>@item.CreatedDate.UTCToClientTime().ToString("MM/dd/yy")</span></div>
                        </td>
                        <td>
                            <div class="dbat_device_header">@Localize.T("Assign Date") <span>:</span></div>
                            <div class="dbat_device_info">
                                <span>@item.CompletionDate.ToString("MM/dd/yy")</span><br />
                                @if (!string.IsNullOrEmpty(item.AppointmentStartTime) && !string.IsNullOrEmpty(item.AppointmentEndTime) && item.AppointmentStartTime != "-1" && item.AppointmentEndTime != "-1")
                                {
                                    <span>@item.AppointmentStartTime - @item.AppointmentEndTime</span>
                                }
                            </div>
                        </td>
                        <td>
                            <div class="dbat_device_header">@Localize.T("Created By") <span>:</span></div>
                            <div class="dbat_device_info" title="@Html.DisplayFor(modelItem => item.CreatedBy)">
                                <div class="user_profile_pic_div">
                                    <img src="/Content/img/profile_pic_dami.png">
                                </div>
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </div>
                        </td>

                    </tr>
                }
                else if (item.IsPrimary == false && item.NotificationOnly == true)
                {
                    <tr>
                        <td>
                            <div>
                                <div class="dbat_device_header">@Localize.T("Name") <span>:</span></div>
                                <div class="dbat_device_info">
                                    <a title="@Html.DisplayFor(modelItem => item.CustomerName)" href="@(AppConfig.DomainSitePath)/Customer/Customerdetail/?id=@item.CustomerId" target="" class="cus-anchor">
                                        @Html.DisplayFor(modelItem => item.CustomerName)
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="dbat_device_header">@Localize.T("ID") <span>:</span></div>
                                <div class="dbat_device_info">
                                    <a title="@Localize.T("Ticket ID")" href="javascript:void(0)" class="cus-anchor" onclick="OpenTicketById(@item.TicketId)">
                                        @item.TicketId
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="dbat_device_header">@Localize.T("Ticket Type") <span>:</span></div>
                                <div class="dbat_device_info"> <span title="@Localize.T("Ticket Type")">@Html.DisplayFor(modelItem => item.TicketType)</span></div>
                            </div>

                        </td>
                        <td>
                            <div>
                                <div class="dbat_device_header">@Localize.T("Assigned") <span>:</span></div>
                                <div class="dbat_device_info" title="@item.AssignedUserName">@item.AssignedUserName</div>
                            </div>
                        </td>
                        <td>
                            <div class="dbat_device_header">@Localize.T("Created Date") <span>:</span></div>
                            <div class="dbat_device_info"><span>@item.CreatedDate.UTCToClientTime().ToString("MM/dd/yy")</span></div>
                        </td>
                        <td>
                            <div class="dbat_device_header">@Localize.T("Assign Date") <span>:</span></div>
                            <div class="dbat_device_info">
                                <span>@item.CompletionDate.ToString("MM/dd/yy")</span><br />
                                @if (!string.IsNullOrEmpty(item.AppointmentStartTime) && !string.IsNullOrEmpty(item.AppointmentEndTime) && item.AppointmentStartTime != "-1" && item.AppointmentEndTime != "-1")
                                {
                                    <span>@item.AppointmentStartTime - @item.AppointmentEndTime</span>
                                }
                            </div>
                        </td>
                        <td>
                            <div class="dbat_device_header">@Localize.T("Created By") <span>:</span></div>
                            <div class="dbat_device_info" title="@Html.DisplayFor(modelItem => item.CreatedBy)">
                                <div class="user_profile_pic_div">
                                    <img src="/Content/img/profile_pic_dami.png">
                                </div>
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </div>
                        </td>

                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            <div>
                                <div class="dbat_device_header">@Localize.T("Name") <span>:</span></div>
                                <div class="dbat_device_info">
                                    <a title="@Html.DisplayFor(modelItem => item.CustomerName)" href="@(AppConfig.DomainSitePath)/Customer/Customerdetail/?id=@item.CustomerId" target="" class="cus-anchor">
                                        @Html.DisplayFor(modelItem => item.CustomerName)
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="dbat_device_header">@Localize.T("ID") <span>:</span></div>
                                <div class="dbat_device_info">
                                    <a title="@Localize.T("Ticket ID")" href="javascript:void(0)" class="cus-anchor" onclick="OpenTicketById(@item.TicketId)">
                                        @item.TicketId
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="dbat_device_header">@Localize.T("Ticket Type") <span>:</span></div>
                                <div class="dbat_device_info"> <span title="@Localize.T("Ticket Type")">@Html.DisplayFor(modelItem => item.TicketType)</span></div>
                            </div>

                        </td>
                        <td>
                            <div>
                                <div class="dbat_device_header">@Localize.T("Assigned") <span>:</span></div>
                                <div class="dbat_device_info" title="@item.AssignedUserName">@item.AssignedUserName</div>
                            </div>
                        </td>
                        <td>
                            <div class="dbat_device_header">@Localize.T("Created Date") <span>:</span></div>
                            <div class="dbat_device_info"><span>@item.CreatedDate.UTCToClientTime().ToString("MM/dd/yy")</span></div>
                        </td>
                        <td>
                            <div class="dbat_device_header">@Localize.T("Assign Date") <span>:</span></div>
                            <div class="dbat_device_info">
                                <span>@item.CompletionDate.ToString("MM/dd/yy")</span><br />
                                @if (!string.IsNullOrEmpty(item.AppointmentStartTime) && !string.IsNullOrEmpty(item.AppointmentEndTime) && item.AppointmentStartTime != "-1" && item.AppointmentEndTime != "-1")
                                {
                                    <span>@item.AppointmentStartTime - @item.AppointmentEndTime</span>
                                }
                            </div>
                        </td>
                        <td>
                            <div class="dbat_device_header">@Localize.T("Created By") <span>:</span></div>
                            <div class="dbat_device_info" title="@Html.DisplayFor(modelItem => item.CreatedBy)">
                                <div class="user_profile_pic_div">
                                    <img src="/Content/img/profile_pic_dami.png">
                                </div>
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </div>
                        </td>

                    </tr>
                }
            }
        </tbody>

    </table>

</div>