@{ 
    Layout = null;
}
@model List<HS.Entities.RMRTag>
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/Contacts/contactlist.css" rel="stylesheet" />
<style>
    .tag_edit, .tag_edit:hover, .tag_delete, tag_delete:hover{
        color:#2ca01c;
        cursor:pointer;
    }
</style>
<script>
    $(document).ready(function () {
        $(".tag_edit").click(function () {
            var idval = $(this).attr('data-id');
            OpenRightToLeftModal("/App/AddRMRTag?id=" + idval);
        })
        $(".tag_delete").click(function () {
            var idval = $(this).attr('data-id');
            OpenConfirmationMessageNew("Confirmation", "Are you sure, you want to delete this item", function () {
                var url = "/App/KnowledgebaseRMRTag";
                var param = JSON.stringify({
                    Id: idval
                })
                $.ajax({
                    type: "POST",
                    ajaxStart: $(".loader-div").show(),
                    url: url,
                    data: param,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function (data) {
                        if (data) {
                            LoadTagManager(true);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });
            })
        })
    })
</script>
<div class="custom_table">
    <table class="Contacts_table">
        <thead>
            <tr>
                <td><div>@Localize.T("Name")</div></td>
                <td><div>@Localize.T("Created On")</div></td>
                <td><div>@Localize.T("Created User")</div></td>
                <td><div>@Localize.T("Action")</div></td>
            </tr>
        </thead>
        <tbody>
            @{ 
                if (Model != null && Model.Count > 0)
                {
                    foreach(var item in Model)
                    {
                        <tr>
                            <td><div>@Localize.T("Name")</div><div><a class="tag_edit" data-id="@item.Id">@item.TagName</a></div></td>
                            <td><div>@Localize.T("Created On")</div><div>@HS.Framework.DateTimeExtension.UTCToClientTime(item.CreatedDate).ToString("MM/dd/yy") @HS.Framework.DateTimeExtension.UTCToClientTime(item.CreatedDate).ToString("hh:mm tt")</div></td>
                            <td><div>@Localize.T("Created User")</div><div>@item.CreatedUser</div></td>
                            <td><div>@Localize.T("Action")</div><div><a class="tag_delete" data-id="@item.Id"><i class="fa fa-trash"></i></a></div></td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
