@{
    Layout = null;
}
@model HS.Entities.GeeseActivityLogModel
    <table class="table geeseactivitylog_table">
            <tr>
                <td>
                    <span>Total Number Of Customer(s)</span> <span>@(Model.TotalCoustomer)</span>
                </td>

                <td>
                    <span>Total Number Of User</span> <span>@(Model.TotalEmployee)</span>
                </td>

                <td>
                    <span>Total Number Of Route</span> <span>@(Model.TotalRoute)</span>
                </td>

                <td>
                    <span>Checkins In The Last 30 Days</span> <span>@(Model.TotalCheckIn)</span>
                </td>

                <td>
                    <span>Number Of Geese Seen In The Last 30 Days</span> <span>@(Model.TotalGeese)</span>
                </td>
            </tr>
    </table>



