@model HS.Entities.CustomerDashboardReportModel
@{
    Layout = null;
}
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/Survey/ShowAllAssignSurveyUser.css" rel="stylesheet" />
<script>
</script>
<div class="AllAssignSurveyUser_container">

    <div class="AllAssignSurveyUser_table">
   
        <div class="dash_report_block">
            <div class="dash_report_block_header">
                @Localize.T("Sales Report")
            </div>
            <div class="dash_report_block_info">
                <table class="table">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                @Localize.T("Leads")
                            </th>
                            <th>
                                @Localize.T("Good")
                            </th>
                            <th>
                                @Localize.T("Good%")
                            </th>
                            <th>
                                @Localize.T("Removed")
                            </th>
                            <th>
                                @Localize.T("Removed%")
                            </th>
                            <th>
                                @Localize.T("Sales")
                            </th>
                            <th>
                                @Localize.T("Good Lead%")
                            </th>
                            <th>
                                @Localize.T("Overall%")
                            </th>
                            <th>
                                @Localize.T("First Call")
                            </th>
                            <th>
                                @Localize.T("First Call%")
                            </th>
                            <th>
                                @Localize.T("Apt Set")
                            </th>
                            <th>
                                @Localize.T("Apt Set%")
                            </th>
                        </tr>
                    </thead>
                    <tbody>


                        <tr>
                            <td>
                                <div>@Localize.T("Today")</div>
                                <div>Today</div>
                            </td>
                            <td>
                                <div>@Localize.T("Leads")</div>
                                <div>@Model.ReportToday.Leads</div>
                            </td>
                            <td>
                                <div>@Localize.T("Good")</div>
                                <div>@Model.ReportToday.GoodLeads</div>
                            </td>
                            <td>
                                <div>@Localize.T("Good%")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportToday.GoodLeadsPercentage)%</div>
                            </td>

                            <td>
                                <div>@Localize.T("Removed")</div>
                                <div>@Model.ReportToday.BadLeads</div>
                            </td>
                            <td>
                                <div>@Localize.T("Removed%")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportToday.BadLeadsPercentage)%</div>
                            </td>
                            <td>
                                <div>@Localize.T("Sales")</div>
                                <div>@Model.ReportToday.Sales</div>
                            </td>
                            <td>
                                <div>@Localize.T("Good Lead%")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportToday.GoodSalesPercentage)%</div>
                            </td>
                            <td>
                                <div>@Localize.T("Overall%")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportToday.OverallSalesPercentage)%</div>
                            </td>

                            <td>
                                <div>@Localize.T("First Call")</div>
                                <div>@Model.ReportToday.FirstCall</div>
                            </td>
                            <td>
                                <div>@Localize.T("First Call %")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportToday.FirstCallPercentage)%</div>
                            </td>
                            <td>
                                <div>@Localize.T("Apt Set")</div>
                                <div>@Model.ReportToday.AppointmentSet</div>
                            </td>
                            <td>
                                <div>@Localize.T("Apt Set %")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportToday.AptSetPercentage)%</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>@Localize.T("Week")</div>
                                <div>Week</div>
                            </td>
                            <td>
                                <div>@Localize.T("Leads")</div>
                                <div>@Model.ReportThisWeek.Leads</div>
                            </td>
                            <td>
                                <div>@Localize.T("Good")</div>
                                <div>@Model.ReportThisWeek.GoodLeads</div>
                            </td>
                            <td>
                                <div>@Localize.T("Good%")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisWeek.GoodLeadsPercentage)%</div>
                            </td>

                            <td>
                                <div>@Localize.T("Removed")</div>
                                <div>@Model.ReportThisWeek.BadLeads</div>
                            </td>
                            <td>
                                <div>@Localize.T("Removed%")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisWeek.BadLeadsPercentage)%</div>
                            </td>
                            <td>
                                <div>@Localize.T("Sales")</div>
                                <div>@Model.ReportThisWeek.Sales</div>
                            </td>
                            <td>
                                <div>@Localize.T("Good Lead%")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisWeek.GoodSalesPercentage)%</div>
                            </td>
                            <td>
                                <div>@Localize.T("Overall%")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisWeek.OverallSalesPercentage)%</div>
                            </td>

                            <td>
                                <div>@Localize.T("First Call")</div>
                                <div>@Model.ReportThisWeek.FirstCall</div>
                            </td>
                            <td>
                                <div>@Localize.T("First Call %")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisWeek.FirstCallPercentage)%</div>
                            </td>
                            <td>
                                <div>@Localize.T("Apt Set")</div>
                                <div>@Model.ReportThisWeek.AppointmentSet</div>
                            </td>
                            <td>
                                <div>@Localize.T("Apt Set %")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisWeek.AptSetPercentage)%</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>@Localize.T("Month")</div>
                                <div>Month</div>
                            </td>
                            <td>
                                <div>@Localize.T("Leads")</div>
                                <div>@Model.ReportThisMonth.Leads</div>
                            </td>
                            <td>
                                <div>@Localize.T("Good")</div>
                                <div>@Model.ReportThisMonth.GoodLeads</div>
                            </td>
                            <td>
                                <div>@Localize.T("Good%")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisMonth.GoodLeadsPercentage)%</div>
                            </td>

                            <td>
                                <div>@Localize.T("Removed")</div>
                                <div>@Model.ReportThisMonth.BadLeads</div>
                            </td>
                            <td>
                                <div>@Localize.T("Removed%")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisMonth.BadLeadsPercentage)%</div>
                            </td>
                            <td>
                                <div>@Localize.T("Sales")</div>
                                <div>@Model.ReportThisMonth.Sales</div>
                            </td>
                            <td>
                                <div>@Localize.T("Good Lead%")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisMonth.GoodSalesPercentage)%</div>
                            </td>
                            <td>
                                <div>@Localize.T("Overall%")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisMonth.OverallSalesPercentage)%</div>
                            </td>

                            <td>
                                <div>@Localize.T("First Call")</div>
                                <div>@Model.ReportThisMonth.FirstCall</div>
                            </td>
                            <td>
                                <div>@Localize.T("First Call %")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisMonth.FirstCallPercentage)%</div>
                            </td>
                            <td>
                                <div>@Localize.T("Apt Set")</div>
                                <div>@Model.ReportThisMonth.AppointmentSet</div>
                            </td>
                            <td>
                                <div>@Localize.T("Apt Set%")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisMonth.AptSetPercentage)%</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>@Localize.T("Year")</div>
                                <div>Year</div>
                            </td>
                            <td>
                                <div>@Localize.T("Leads")</div>
                                <div>@Model.ReportThisYear.Leads</div>
                            </td>
                            <td>
                                <div>@Localize.T("Good")</div>
                                <div>@Model.ReportThisYear.GoodLeads</div>
                            </td>
                            <td>
                                <div>@Localize.T("Good%")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisYear.GoodLeadsPercentage)%</div>
                            </td>

                            <td>
                                <div>@Localize.T("Removed")</div>
                                <div>@Model.ReportThisYear.BadLeads</div>
                            </td>
                            <td>
                                <div>@Localize.T("Removed%")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisYear.BadLeadsPercentage)%</div>
                            </td>
                            <td>
                                <div>@Localize.T("Sales")</div>
                                <div>@Model.ReportThisYear.Sales</div>
                            </td>
                            <td>
                                <div>@Localize.T("Good Lead%")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisYear.GoodSalesPercentage)%</div>
                            </td>
                            <td>
                                <div>@Localize.T("Overall%")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisYear.OverallSalesPercentage)%</div>
                            </td>

                            <td>
                                <div>@Localize.T("First Call")</div>
                                <div>@Model.ReportThisYear.FirstCall</div>
                            </td>
                            <td>
                                <div>@Localize.T("First Call %")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisYear.FirstCallPercentage)%</div>
                            </td>
                            <td>
                                <div>@Localize.T("Apt Set")</div>
                                <div>@Model.ReportThisYear.AppointmentSet</div>
                            </td>
                            <td>
                                <div>@Localize.T("Apt Set %")</div>
                                <div>@LabelHelper.FormatAmount(Model.ReportThisYear.AptSetPercentage)%</div>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        
        
    </div>
</div>


