@model HS.Entities.CustomerFinancedReportModel
@{
    Layout = null;
}
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/Survey/ShowAllAssignSurveyUser.css" rel="stylesheet" />
<script>
</script>
<div class="AllAssignSurveyUser_container">

    <div class="AllAssignSurveyUser_table">
       
            <div class="dash_report_block">
                <div class="dash_report_block_header">
                    @Localize.T("Financed Report")
                </div>
                <div class="dash_report_block_info">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    @Localize.T("RMR")
                                </th>
                                <th>
                                    @Localize.T("CC #")
                                </th>
                                <th>
                                    @Localize.T("CC %")
                                </th>
                                <th>
                                    @Localize.T("CC $")
                                </th>
                                <th>
                                    @Localize.T("Financed")
                                </th>
                                <th>
                                    @Localize.T("Financed %")
                                </th>
                                <th>
                                    @Localize.T("Financed $")
                                </th>
                                <th>
                                    @Localize.T("Upfront #")
                                </th>
                                <th>
                                    @Localize.T("Upfront %")
                                </th>
                                <th>
                                    @Localize.T("Upfront $")
                                </th>
                               
                            </tr>
                        </thead>
                        <tbody>


                            <tr>
                                <td>
                                    <div>@Localize.T("Today")</div>
                                    <div>Today</div>
                                </td>
                                <td>
                                    <div>@Localize.T("RMR")</div>
                                    <div>$@LabelHelper.FormatAmount(Model.ReportToday.RMR)</div>
                                </td>
                                <td>
                                    <div>@Localize.T("CC")</div>
                                    <div>@Model.ReportToday.CC</div>
                                </td>
                                <td>
                                    <div>@Localize.T("CC %")</div>
                                    <div>@LabelHelper.FormatAmount(Model.ReportToday.CCPercentage)%</div>
                                </td>

                                <td>
                                    <div>@Localize.T("CC $")</div>
                                    <div>$@LabelHelper.FormatAmount(Model.ReportToday.CCAmount)</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Financed")</div>
                                    <div>@Model.ReportToday.Financed</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Financed%")</div>
                                    <div>@LabelHelper.FormatAmount(Model.ReportToday.FinancedPercentage)%</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Financed $")</div>
                                    <div>$@LabelHelper.FormatAmount(Model.ReportToday.FinancedAmount)</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Upfront #")</div>
                                    <div>@Model.ReportToday.Upfront</div>
                                </td>

                                <td>
                                    <div>@Localize.T("Upfront %")</div>
                                    <div>@LabelHelper.FormatAmount(Model.ReportToday.UpfrontPercentage)%</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Upfront $")</div>
                                    <div>$@LabelHelper.FormatAmount(Model.ReportToday.UpfrontAmount)</div>
                                </td>
                               
                            </tr>
                            <tr>
                                <td>
                                    <div>@Localize.T("Week")</div>
                                    <div>Week</div>
                                </td>
                                <td>
                                    <div>@Localize.T("RMR")</div>
                                    <div>$@LabelHelper.FormatAmount(Model.ReportThisWeek.RMR)</div>
                                </td>
                                <td>
                                    <div>@Localize.T("CC")</div>
                                    <div>@Model.ReportThisWeek.CC</div>
                                </td>
                                <td>
                                    <div>@Localize.T("CC %")</div>
                                    <div>@LabelHelper.FormatAmount(Model.ReportThisWeek.CCPercentage)%</div>
                                </td>

                                <td>
                                    <div>@Localize.T("CC $")</div>
                                    <div>$@LabelHelper.FormatAmount(Model.ReportThisWeek.CCAmount)</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Financed")</div>
                                    <div>@Model.ReportThisWeek.Financed</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Financed%")</div>
                                    <div>@LabelHelper.FormatAmount(Model.ReportThisWeek.FinancedPercentage)%</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Financed $")</div>
                                    <div>$@LabelHelper.FormatAmount(Model.ReportThisWeek.FinancedAmount)</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Upfront #")</div>
                                    <div>@Model.ReportThisWeek.Upfront</div>
                                </td>

                                <td>
                                    <div>@Localize.T("Upfront %")</div>
                                    <div>@LabelHelper.FormatAmount(Model.ReportThisWeek.UpfrontPercentage)%</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Upfront $")</div>
                                    <div>$@LabelHelper.FormatAmount(Model.ReportThisWeek.UpfrontAmount)</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>@Localize.T("Month")</div>
                                    <div>Month</div>
                                </td>
                                <td>
                                    <div>@Localize.T("RMR")</div>
                                    <div>$@LabelHelper.FormatAmount(Model.ReportThisMonth.RMR)</div>
                                </td>
                                <td>
                                    <div>@Localize.T("CC")</div>
                                    <div>@Model.ReportThisMonth.CC</div>
                                </td>
                                <td>
                                    <div>@Localize.T("CC %")</div>
                                    <div>@LabelHelper.FormatAmount(Model.ReportThisMonth.CCPercentage)%</div>
                                </td>

                                <td>
                                    <div>@Localize.T("CC $")</div>
                                    <div>$@LabelHelper.FormatAmount(Model.ReportThisMonth.CCAmount)</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Financed")</div>
                                    <div>@Model.ReportThisMonth.Financed</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Financed%")</div>
                                    <div>@LabelHelper.FormatAmount(Model.ReportThisMonth.FinancedPercentage)%</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Financed $")</div>
                                    <div>$@LabelHelper.FormatAmount(Model.ReportThisMonth.FinancedAmount)</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Upfront #")</div>
                                    <div>@Model.ReportThisMonth.Upfront</div>
                                </td>

                                <td>
                                    <div>@Localize.T("Upfront %")</div>
                                    <div>@LabelHelper.FormatAmount(Model.ReportThisMonth.UpfrontPercentage)%</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Upfront $")</div>
                                    <div>$@LabelHelper.FormatAmount(Model.ReportThisMonth.UpfrontAmount)</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>@Localize.T("Year")</div>
                                    <div>Year</div>
                                </td>
                                <td>
                                    <div>@Localize.T("RMR")</div>
                                    <div>$@LabelHelper.FormatAmount(Model.ReportThisYear.RMR)</div>
                                </td>
                                <td>
                                    <div>@Localize.T("CC")</div>
                                    <div>@Model.ReportThisYear.CC</div>
                                </td>
                                <td>
                                    <div>@Localize.T("CC %")</div>
                                    <div>@LabelHelper.FormatAmount(Model.ReportThisYear.CCPercentage)%</div>
                                </td>

                                <td>
                                    <div>@Localize.T("CC $")</div>
                                    <div>$@LabelHelper.FormatAmount(Model.ReportThisYear.CCAmount)</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Financed")</div>
                                    <div>@Model.ReportThisYear.Financed</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Financed%")</div>
                                    <div>@LabelHelper.FormatAmount(Model.ReportThisYear.FinancedPercentage)%</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Financed $")</div>
                                    <div>$@LabelHelper.FormatAmount(Model.ReportThisYear.FinancedAmount)</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Upfront #")</div>
                                    <div>@Model.ReportThisYear.Upfront</div>
                                </td>

                                <td>
                                    <div>@Localize.T("Upfront %")</div>
                                    <div>@LabelHelper.FormatAmount(Model.ReportThisYear.UpfrontPercentage)%</div>
                                </td>
                                <td>
                                    <div>@Localize.T("Upfront $")</div>
                                    <div>$@LabelHelper.FormatAmount(Model.ReportThisYear.UpfrontAmount)</div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
       
        
    </div>
</div>



