@model HS.Entities.DashboardReportModel
@{
    Layout = null;
}
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
<link href="~/Content/Css/Survey/ShowAllAssignSurveyUser.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    })
</script>
@if (PermissionChecker.IsPermitted(PermissionList.Dashboard.DashboardSalesReport))
{

<div class="dash_report_block_info">
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.Lead))
    {
        <div class="salesreportcart_container green_report_bg">
            <span class="salesreportcart_Head">@Localize.T("Leads")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        Leads
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        Difference
                    </th>

                </tr>
                <tr>

                    <td>
                        Today
                    </td>
                    <td class="@(Model.reoportList.ReportToday.Leads >
Model.reoportList.ReportToday.PriodLeads ? "green" : "red")">
                        <span>@Model.reoportList.ReportToday.Leads</span>
                    </td>
                    <td>
                        @Model.reoportList.ReportToday.PriodLeads
                    </td>
                    <td>
                        @{
                            double difftoday = 0.0;
                            try
                            {
                                if(Model.reoportList.ReportToday.PriodLeads > 0)
                                {
                                      difftoday = ((double)Model.reoportList.ReportToday.Leads / (double)Model.reoportList.ReportToday.PriodLeads) * 100;
                                }
                              
                            }catch(Exception ex)
                            {

                            }

                        }
                        @LabelHelper.FormatAmount(difftoday)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>
                    <td class="@(Model.reoportList.ReportThisWeek.Leads >
Model.reoportList.ReportThisWeek.PriodLeads ? "green" : "red")">
                        <span> @Model.reoportList.ReportThisWeek.Leads</span>
                    </td>
                    <td>
                        @Model.reoportList.ReportThisWeek.PriodLeads
                    </td>
                    <td>
                        @{
                            double diffweek = 0.0;
                            try
                            {
                                if(Model.reoportList.ReportThisWeek.PriodLeads > 0)
                                {
                                    diffweek = ((double)Model.reoportList.ReportThisWeek.Leads / (double)Model.reoportList.ReportThisWeek.PriodLeads) * 100;
                                }
                                
                            }catch(Exception ex)
                            {

                            }
                        }
                        @LabelHelper.FormatAmount(diffweek)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.reoportList.ReportThisMonth.Leads >
Model.reoportList.ReportThisMonth.PriodLeads ? "green" : "red")">
                        <span> @Model.reoportList.ReportThisMonth.Leads</span>
                    </td>
                    <td>
                        @Model.reoportList.ReportThisMonth.PriodLeads
                    </td>
                    <td>
                        @{
                            double diffmonth = 0.0;
                            try
                            {
                                if(Model.reoportList.ReportThisMonth.PriodLeads > 0)
                                {
                                      diffmonth = ((double)Model.reoportList.ReportThisMonth.Leads /(double) Model.reoportList.ReportThisMonth.PriodLeads) * 100;
                                }
                              
                            }catch(Exception ex)
                            {

                            }
                        }
                        @LabelHelper.FormatAmount(diffmonth)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>
                    <td class="@(Model.reoportList.ReportThisYear.Leads >
Model.reoportList.ReportThisYear.PriodLeads ? "green" : "red")">
                        <span>@Model.reoportList.ReportThisYear.Leads</span>
                    </td>
                    <td>
                        @Model.reoportList.ReportThisYear.PriodLeads
                    </td>
                    <td>
                        @{
                            double diffyear = 0.0;
                            try
                            {
                                if(Model.reoportList.ReportThisYear.PriodLeads > 0)
                                {
                                     diffyear = ((double)Model.reoportList.ReportThisYear.Leads /(double) Model.reoportList.ReportThisYear.PriodLeads)*100;
                                }
                               
                            }catch(Exception ex)
                            {

                            }
                        }
                        @LabelHelper.FormatAmount(diffyear)%
                    </td>
                </tr>
            </table>
        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.Remove))
    {
        <div class="salesreportcart_container red_report_bg">
            <span class="salesreportcart_Head">@Localize.T("Removed")</span>
            <table class="salesreportcart">
                <tr>
                    <th>

                    </th>
                    <th>
                        Removed
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        From Leads
                    </th>
                    <th>
                        Prior
                    </th>

                </tr>
                <tr>

                    <td>
                        Today
                    </td>
                    <td class="@(Model.reoportList.ReportToday.BadLeads >
     Model.reoportList.ReportToday.PriodBadLeads ? "green" : "red")">
                        <span>@Model.reoportList.ReportToday.BadLeads</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportToday.PriodBadLeads
                    </td>
                    <td class="@(Model.reoportList.ReportToday.BadLeadsPercentage >
     Model.reoportList.ReportToday.PriodBadLeadsPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportToday.BadLeadsPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportToday.PriodBadLeadsPercentage)%</td>
                </tr>
                <tr>


                    <td>
                        Week
                    </td>
                    <td class="@(Model.reoportList.ReportThisWeek.BadLeads >
     Model.reoportList.ReportThisWeek.PriodBadLeads ? "green" : "red")">
                        <span>@Model.reoportList.ReportThisWeek.BadLeads</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportThisWeek.PriodBadLeads
                    </td>
                    <td class="@(Model.reoportList.ReportThisWeek.BadLeadsPercentage >
     Model.reoportList.ReportThisWeek.PriodBadLeadsPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportThisWeek.BadLeadsPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisWeek.PriodBadLeadsPercentage)%</td>
                </tr>
                <tr>


                    <td>
                        Month
                    </td>
                    <td class="@(Model.reoportList.ReportThisMonth.BadLeads >
     Model.reoportList.ReportThisMonth.PriodBadLeads ? "green" : "red")">
                        <span>@Model.reoportList.ReportThisMonth.BadLeads</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportThisMonth.PriodBadLeads
                    </td>
                    <td class="@(Model.reoportList.ReportThisMonth.BadLeadsPercentage >
     Model.reoportList.ReportThisMonth.PriodBadLeadsPercentage ? "green" : "red")">
                        <span> @LabelHelper.FormatAmount(Model.reoportList.ReportThisMonth.BadLeadsPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisMonth.PriodBadLeadsPercentage)%</td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>
                    <td class="@(Model.reoportList.ReportThisYear.BadLeads >
     Model.reoportList.ReportThisYear.PriodBadLeads ? "green" : "red")">
                        <span> @Model.reoportList.ReportThisYear.BadLeads</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportThisYear.PriodBadLeads
                    </td>
                    <td class="@(Model.reoportList.ReportThisYear.BadLeadsPercentage >
     Model.reoportList.ReportThisYear.PriodBadLeadsPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportThisYear.BadLeadsPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisYear.PriodBadLeadsPercentage)%</td>
                </tr>
            </table>
        </div>
    }

    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.GoodLead))
    {
        <div class="salesreportcart_container darkgreen_report_bg">
            <span class="salesreportcart_Head">@Localize.T("Good Leads")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        Good
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        From Leads
                    </th>
                    <th>
                        Prior
                    </th>

                </tr>
                <tr>

                    <td>
                        Today
                    </td>
                    <td class="@(Model.reoportList.ReportToday.GoodLeads >
     Model.reoportList.ReportToday.PriodGoodLeads ? "green" : "red")">
                        <span> @Model.reoportList.ReportToday.GoodLeads</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportToday.PriodGoodLeads
                    </td>
                    <td class="@(Model.reoportList.ReportToday.GoodLeadsPercentage >
     Model.reoportList.ReportToday.PriodGoodLeadsPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportToday.GoodLeadsPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportToday.PriodGoodLeadsPercentage)%</td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>
                    <td class="@(Model.reoportList.ReportThisWeek.GoodLeads >
     Model.reoportList.ReportThisWeek.PriodGoodLeads ? "green" : "red")">
                        <span>@Model.reoportList.ReportThisWeek.GoodLeads</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportThisWeek.PriodGoodLeads
                    </td>
                    <td class="@(Model.reoportList.ReportThisWeek.GoodLeadsPercentage >
     Model.reoportList.ReportThisWeek.PriodGoodLeadsPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportThisWeek.GoodLeadsPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisWeek.PriodGoodLeadsPercentage)%</td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.reoportList.ReportThisMonth.GoodLeads >
     Model.reoportList.ReportThisMonth.PriodGoodLeads ? "green" : "red")">
                        <span> @Model.reoportList.ReportThisMonth.GoodLeads</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportThisMonth.PriodGoodLeads
                    </td>
                    <td class="@(Model.reoportList.ReportThisMonth.GoodLeadsPercentage >
     Model.reoportList.ReportThisMonth.PriodGoodLeadsPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportThisMonth.GoodLeadsPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisMonth.PriodGoodLeadsPercentage)%</td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>
                    <td class="@(Model.reoportList.ReportThisYear.GoodLeads >
     Model.reoportList.ReportThisYear.PriodGoodLeads ? "green" : "red")">
                        <span>@Model.reoportList.ReportThisYear.GoodLeads</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportThisYear.PriodGoodLeads
                    </td>
                    <td class="@(Model.reoportList.ReportThisYear.GoodLeadsPercentage >
     Model.reoportList.ReportThisYear.PriodGoodLeadsPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportThisYear.GoodLeadsPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisYear.PriodGoodLeadsPercentage)%</td>
                </tr>
            </table>
        </div>
    }

    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.Sales))
    {
        <div class="salesreportcart_container blue_report_bg seven_col_table">
            <span class="salesreportcart_Head">@Localize.T("Sales")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        Overall
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        Closing Ratio
                    </th>
                    <th>
                        Prior
                    </th>

                    <th>
                        True Overall
                    </th>
                    <th>
                        Prior
                    </th>

                </tr>
                <tr>

                    <td>
                        Today
                    </td>
                    <td class="@(Model.reoportList.ReportToday.Sales >
     Model.reoportList.ReportToday.PriodSales ? "green" : "red")">
                        <span> @Model.reoportList.ReportToday.Sales</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportToday.PriodSales
                    </td>
                    <td class="@(Model.reoportList.ReportToday.GoodSalesPercentage >
     Model.reoportList.ReportToday.PriodGoodSalesPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportToday.GoodSalesPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportToday.PriodGoodSalesPercentage)%</td>
                    <td class="@(Model.reoportList.ReportToday.OverallSalesPercentage >
     Model.reoportList.ReportToday.PriodOverallSalesPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportToday.OverallSalesPercentage)%</span>
                    </td>

                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportToday.PriodOverallSalesPercentage)%</td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>
                    <td class="@(Model.reoportList.ReportThisWeek.Sales >
     Model.reoportList.ReportThisWeek.PriodSales ? "green" : "red")">
                        <span>@Model.reoportList.ReportThisWeek.Sales</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportThisWeek.PriodSales
                    </td>
                    <td class="@(Model.reoportList.ReportThisWeek.GoodSalesPercentage >
     Model.reoportList.ReportThisWeek.PriodGoodSalesPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportThisWeek.GoodSalesPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisWeek.PriodGoodSalesPercentage)%</td>
                    <td class="@(Model.reoportList.ReportThisWeek.OverallSalesPercentage >
     Model.reoportList.ReportThisWeek.PriodOverallSalesPercentage ? "green" : "red")">
                        <span> @LabelHelper.FormatAmount(Model.reoportList.ReportThisWeek.OverallSalesPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisWeek.PriodOverallSalesPercentage)%</td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.reoportList.ReportThisMonth.Sales >
     Model.reoportList.ReportThisMonth.PriodSales ? "green" : "red")">
                        <span> @Model.reoportList.ReportThisMonth.Sales</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportThisMonth.PriodSales
                    </td>
                    <td class="@(Model.reoportList.ReportThisMonth.GoodSalesPercentage >
     Model.reoportList.ReportThisWeek.PriodGoodSalesPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportThisMonth.GoodSalesPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisMonth.PriodGoodSalesPercentage)%</td>
                    <td class="@(Model.reoportList.ReportThisMonth.OverallSalesPercentage >
     Model.reoportList.ReportThisMonth.PriodOverallSalesPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportThisMonth.OverallSalesPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisMonth.PriodOverallSalesPercentage)%</td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>
                    <td class="@(Model.reoportList.ReportThisYear.Sales >
     Model.reoportList.ReportThisYear.PriodSales ? "green" : "red")">
                        <span>@Model.reoportList.ReportThisYear.Sales</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportThisYear.PriodSales
                    </td>
                    <td class="@(Model.reoportList.ReportThisYear.GoodSalesPercentage >
     Model.reoportList.ReportThisWeek.PriodGoodSalesPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportThisYear.GoodSalesPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisYear.PriodGoodSalesPercentage)%</td>
                    <td class="@(Model.reoportList.ReportThisYear.OverallSalesPercentage >
     Model.reoportList.ReportThisYear.PriodOverallSalesPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportThisYear.OverallSalesPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisYear.PriodOverallSalesPercentage)%</td>
                </tr>
            </table>
        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.FirstCall))
    {
        <div class="salesreportcart_container yellow_report_bg">
            <span class="salesreportcart_Head">@Localize.T("First Call")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        First Call
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        From Leads
                    </th>
                    <th>
                        Prior
                    </th>

                </tr>
                <tr>


                    <td>
                        Today
                    </td>
                    <td class="@(Model.reoportList.ReportToday.FirstCall >
     Model.reoportList.ReportToday.PriodFirstCall ? "green" : "red")">
                        <span>@Model.reoportList.ReportToday.FirstCall</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportToday.PriodFirstCall
                    </td>
                    <td class="@(Model.reoportList.ReportToday.FirstCallPercentage >
     Model.reoportList.ReportToday.PriodFirstCallPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportToday.FirstCallPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportToday.PriodFirstCallPercentage)%</td>
                </tr>
                <tr>


                    <td>
                        Week
                    </td>
                    <td class="@(Model.reoportList.ReportThisWeek.FirstCallPercentage >
     Model.reoportList.ReportThisWeek.PriodFirstCallPercentage ? "green" : "red")">
                        <span>@Model.reoportList.ReportThisWeek.FirstCall</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportThisWeek.PriodFirstCall
                    </td>
                    <td class="@(Model.reoportList.ReportThisWeek.FirstCallPercentage >
     Model.reoportList.ReportThisWeek.PriodFirstCallPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportThisWeek.FirstCallPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisWeek.PriodFirstCallPercentage)%</td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.reoportList.ReportThisMonth.FirstCall >
     Model.reoportList.ReportThisMonth.PriodFirstCall ? "green" : "red")">
                        <span>@Model.reoportList.ReportThisMonth.FirstCall</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportThisMonth.PriodFirstCall
                    </td>
                    <td class="@(Model.reoportList.ReportThisMonth.FirstCallPercentage >
     Model.reoportList.ReportThisMonth.PriodFirstCallPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportThisMonth.FirstCallPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisMonth.PriodFirstCallPercentage)%</td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>
                    <td class="@(Model.reoportList.ReportThisYear.FirstCall >
     Model.reoportList.ReportThisYear.PriodFirstCall ? "green" : "red")">
                        <span> @Model.reoportList.ReportThisYear.FirstCall</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportThisYear.PriodFirstCall
                    </td>
                    <td class="@(Model.reoportList.ReportThisYear.FirstCallPercentage >
     Model.reoportList.ReportThisYear.PriodFirstCallPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportThisYear.FirstCallPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisYear.PriodFirstCallPercentage)%</td>
                </tr>
            </table>
        </div>
    }

    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.Appointment))
    {
        <div class="salesreportcart_container orange_report_bg">
            <span class="salesreportcart_Head">@Localize.T("Appointments")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        Appts
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        From Leads
                    </th>
                    <th>
                        Prior
                    </th>

                </tr>
                <tr>

                    <td>
                        Today
                    </td>
                    <td class="@(Model.reoportList.ReportToday.AppointmentSet >
     Model.reoportList.ReportToday.PriodAppointmentSet ? "green" : "red")">
                        <span> @Model.reoportList.ReportToday.AppointmentSet</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportToday.PriodAppointmentSet
                    </td>
                    <td class="@(Model.reoportList.ReportToday.AptSetPercentage >
     Model.reoportList.ReportToday.PriodAptSetPercentage ? "green" : "red")">
                        <span> @LabelHelper.FormatAmount(Model.reoportList.ReportToday.AptSetPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportToday.PriodAptSetPercentage)%</td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>
                    <td class="@(Model.reoportList.ReportThisWeek.AppointmentSet >
     Model.reoportList.ReportThisWeek.PriodAppointmentSet ? "green" : "red")">
                        <span>@Model.reoportList.ReportThisWeek.AppointmentSet</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportThisWeek.PriodAppointmentSet
                    </td>
                    <td class="@(Model.reoportList.ReportThisWeek.AptSetPercentage >
     Model.reoportList.ReportThisWeek.PriodAptSetPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.reoportList.ReportThisWeek.AptSetPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisWeek.PriodAptSetPercentage)%</td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.reoportList.ReportThisMonth.AppointmentSet >
     Model.reoportList.ReportThisMonth.PriodAppointmentSet ? "green" : "red")">
                        <span>@Model.reoportList.ReportThisMonth.AppointmentSet</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportThisMonth.PriodAppointmentSet
                    </td>
                    <td class="@(Model.reoportList.ReportThisMonth.AptSetPercentage >
     Model.reoportList.ReportThisMonth.PriodAptSetPercentage ? "green" : "red")">
                        <span> @LabelHelper.FormatAmount(Model.reoportList.ReportThisMonth.AptSetPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisMonth.PriodAptSetPercentage)%</td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>
                    <td class="@(Model.reoportList.ReportThisYear.AppointmentSet >
     Model.reoportList.ReportThisYear.PriodAppointmentSet ? "green" : "red")">
                        <span>@Model.reoportList.ReportThisYear.AppointmentSet</span>
                    </td>

                    <td>
                        @Model.reoportList.ReportThisYear.PriodAppointmentSet
                    </td>
                    <td class="@(Model.reoportList.ReportThisYear.AptSetPercentage >
     Model.reoportList.ReportThisYear.PriodAptSetPercentage ? "green" : "red")">
                        <span> @LabelHelper.FormatAmount(Model.reoportList.ReportThisYear.AptSetPercentage)%</span>
                    </td>
                    <td>@LabelHelper.FormatAmount(Model.reoportList.ReportThisYear.PriodAptSetPercentage)%</td>
                </tr>
            </table>
        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.RMR))
    {
        <div class="salesreportcart_container orange_report_bg">
            <span class="salesreportcart_Head">@Localize.T("RMR")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>

                    </th>
                    <th>
                        RMR
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        Defference
                    </th>
                </tr>
                <tr>

                    <td>
                        Today
                    </td>
                    <td></td>

                    <td class="@(Model.reoportList.ReportToday.RMR >
     Model.reoportList.ReportToday.PriorRMR ? "green" : "red")">
                        <span>$@LabelHelper.FormatAmount(Model.reoportList.ReportToday.RMR)</span>
                    </td>

                    <td>
                        $@LabelHelper.FormatAmount(Model.reoportList.ReportToday.PriorRMR)

                    </td>
                    <td>
                        @{
                            double difftoday = 0.0;
                            try
                            {
                                if(Model.reoportList.ReportToday.PriorRMR > 0)
                                {
                                     difftoday = (Model.reoportList.ReportToday.RMR / Model.reoportList.ReportToday.PriorRMR) * 100;
                                }
                               
                            }catch(Exception ex)
                            {

                            }

                        }
                        @LabelHelper.FormatAmount(difftoday)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>
                    <td></td>

                    <td class="@(Model.reoportList.ReportThisWeek.RMR >
     Model.reoportList.ReportThisWeek.PriorRMR ? "green" : "red")">
                        <span>$@LabelHelper.FormatAmount(Model.reoportList.ReportThisWeek.RMR)</span>
                    </td>

                    <td>
                        $@LabelHelper.FormatAmount(Model.reoportList.ReportThisWeek.PriorRMR)

                    </td>
                    <td>
                        @{
                            double diffweek = 0.0;
                            try
                            {
                                if(Model.reoportList.ReportThisWeek.PriorRMR> 0)
                                {
                                     diffweek = (Model.reoportList.ReportThisWeek.RMR / Model.reoportList.ReportThisWeek.PriorRMR) * 100;
                                }
                               
                            }catch(Exception ex)
                            {

                            }
                        }
                        @LabelHelper.FormatAmount(diffweek)%
                    </td>
                <tr>

                    <td>
                        Month
                    </td>
                    <td></td>

                    <td class="@(Model.reoportList.ReportThisMonth.RMR >
     Model.reoportList.ReportThisMonth.PriorRMR ? "green" : "red")">
                        <span>$@LabelHelper.FormatAmount(Model.reoportList.ReportThisMonth.RMR)</span>
                    </td>

                    <td>
                        $@LabelHelper.FormatAmount(Model.reoportList.ReportThisMonth.PriorRMR)

                    </td>
                    <td>
                        @{
                            double diffmonth = 0.0;
                            try
                            {
                                if(Model.reoportList.ReportThisMonth.PriorRMR > 0)
                                {

                                }
                                diffmonth = (Model.reoportList.ReportThisMonth.RMR / Model.reoportList.ReportThisMonth.PriorRMR) * 100;
                            }catch(Exception ex)
                            {

                            }
                        }
                        @LabelHelper.FormatAmount(diffmonth)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>
                    <td></td>

                    <td class="@(Model.reoportList.ReportThisYear.RMR >
                                                 Model.reoportList.ReportThisYear.PriorRMR ? "green" : "red")">
                        <span>$@LabelHelper.FormatAmount(Model.reoportList.ReportThisYear.RMR)</span>
                    </td>

                    <td>
                        $@LabelHelper.FormatAmount(Model.reoportList.ReportThisYear.PriorRMR)

                    </td>
                    <td>
                        @{
                            double diffyear = 0.0;
                            try
                            {
                                if(Model.reoportList.ReportThisYear.PriorRMR > 0)
                                {
                                     diffyear = (Model.reoportList.ReportThisYear.RMR / Model.reoportList.ReportThisYear.PriorRMR) * 100;
                                }
                               
                            }catch(Exception ex)
                            {

                            }
                        }
                        @LabelHelper.FormatAmount(diffyear)%
                    </td>

                </tr>
            </table>
        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.Cellular))
    {
        <div class="salesreportcart_container darkgreen_report_bg">
            <span class="salesreportcart_Head">@Localize.T("Cellular")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        Cellular
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        From Sales
                    </th>
                    <th>
                        Prior
                    </th>
                </tr>
                <tr>

                    <td>
                        Today
                    </td>

                    <td class="@(Model.packageReoportList.ReportToday.Cellular >
     Model.packageReoportList.ReportToday.PriorCellular ? "green" : "red")">
                        <span>@Model.packageReoportList.ReportToday.Cellular</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportToday.PriorCellular
                    </td>


                    <td class="@(Model.packageReoportList.ReportToday.CellularPercentage >
     Model.packageReoportList.ReportToday.PriorCellularPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.packageReoportList.ReportToday.CellularPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportToday.PriorCellularPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisWeek.Cellular >
     Model.packageReoportList.ReportThisWeek.PriorCellular ? "green" : "red")">
                        <span> @Model.packageReoportList.ReportThisWeek.Cellular</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportThisWeek.PriorCellular
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisWeek.CellularPercentage >
     Model.packageReoportList.ReportThisWeek.PriorCellularPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisWeek.CellularPercentage)% </span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisWeek.PriorCellularPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.packageReoportList.ReportThisMonth.Cellular >
     Model.packageReoportList.ReportThisMonth.PriorCellular ? "green" : "red")">
                        <span> @Model.packageReoportList.ReportThisMonth.Cellular</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportThisMonth.PriorCellular
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisMonth.CellularPercentage >
     Model.packageReoportList.ReportThisMonth.PriorCellularPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisMonth.CellularPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisMonth.PriorCellularPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisYear.Cellular >
     Model.packageReoportList.ReportThisYear.PriorCellular ? "green" : "red")">
                        <span> @Model.packageReoportList.ReportThisYear.Cellular</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportThisYear.PriorCellular
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisYear.CellularPercentage >
     Model.packageReoportList.ReportThisYear.PriorCellularPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.packageReoportList.ReportThisYear.CellularPercentage)%</span>
                    </td>
                    <td>
                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisYear.PriorCellularPercentage)%
                    </td>
                </tr>
            </table>

        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.Smart))
    {
        <div class="salesreportcart_container yellow_report_bg">
            <span class="salesreportcart_Head">@Localize.T("Smart")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        Smart
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        From Sales
                    </th>
                    <th>
                        Prior
                    </th>
                </tr>
                <tr>

                    <td>
                        Today
                    </td>

                    <td class="@(Model.packageReoportList.ReportToday.Smart >
     Model.packageReoportList.ReportToday.PriorSmart ? "green" : "red")">
                        <span>@Model.packageReoportList.ReportToday.Smart</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportToday.PriorSmart
                    </td>


                    <td class="@(Model.packageReoportList.ReportToday.SmartPercentage >
     Model.packageReoportList.ReportToday.PriorSmartPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.packageReoportList.ReportToday.SmartPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportToday.PriorSmartPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisWeek.Smart >
     Model.packageReoportList.ReportThisWeek.PriorSmart ? "green" : "red")">
                        <span> @Model.packageReoportList.ReportThisWeek.Smart</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportThisWeek.PriorSmart
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisWeek.SmartPercentage >
     Model.packageReoportList.ReportThisWeek.PriorSmartPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisWeek.SmartPercentage)% </span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisWeek.PriorSmartPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.packageReoportList.ReportThisMonth.Smart >
     Model.packageReoportList.ReportThisMonth.PriorSmart ? "green" : "red")">
                        <span> @Model.packageReoportList.ReportThisMonth.Smart</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportThisMonth.PriorSmart
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisMonth.SmartPercentage >
     Model.packageReoportList.ReportThisMonth.PriorSmartPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisMonth.SmartPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisMonth.PriorSmartPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisYear.Smart >
     Model.packageReoportList.ReportThisYear.PriorSmart ? "green" : "red")">
                        <span> @Model.packageReoportList.ReportThisYear.Smart</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportThisYear.PriorSmart
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisYear.SmartPercentage >
     Model.packageReoportList.ReportThisYear.PriorSmartPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.packageReoportList.ReportThisYear.SmartPercentage)%</span>
                    </td>
                    <td>
                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisYear.PriorSmartPercentage)%
                    </td>
                </tr>
            </table>
        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.LandLine))
    {
        <div class="salesreportcart_container green_report_bg">
            <span class="salesreportcart_Head">@Localize.T("Land Line")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        Land Line
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        From Sales
                    </th>
                    <th>
                        Prior
                    </th>
                </tr>
                <tr>

                    <td>
                        Today
                    </td>

                    <td class="@(Model.packageReoportList.ReportToday.Standard >
     Model.packageReoportList.ReportToday.Standard ? "green" : "red")">
                        <span>@Model.packageReoportList.ReportToday.Standard</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportToday.PriorStandard
                    </td>


                    <td class="@(Model.packageReoportList.ReportToday.StandardPercentage >
     Model.packageReoportList.ReportToday.PriorStandardPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.packageReoportList.ReportToday.StandardPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportToday.PriorStandardPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisWeek.Standard >
     Model.packageReoportList.ReportThisWeek.PriorStandard ? "green" : "red")">
                        <span> @Model.packageReoportList.ReportThisWeek.Standard</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportThisWeek.PriorStandard
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisWeek.StandardPercentage >
     Model.packageReoportList.ReportThisWeek.PriorStandardPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisWeek.StandardPercentage)% </span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisWeek.PriorStandardPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.packageReoportList.ReportThisMonth.Standard >
     Model.packageReoportList.ReportThisMonth.PriorStandard ? "green" : "red")">
                        <span> @Model.packageReoportList.ReportThisMonth.Standard</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportThisMonth.PriorStandard
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisMonth.StandardPercentage >
     Model.packageReoportList.ReportThisMonth.PriorStandardPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisMonth.StandardPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisMonth.PriorStandardPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisYear.Standard >
     Model.packageReoportList.ReportThisYear.PriorStandard ? "green" : "red")">
                        <span> @Model.packageReoportList.ReportThisYear.Standard</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportThisYear.PriorStandard
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisYear.StandardPercentage >
     Model.packageReoportList.ReportThisYear.PriorStandardPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.packageReoportList.ReportThisYear.StandardPercentage)%</span>
                    </td>
                    <td>
                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisYear.PriorStandardPercentage)%
                    </td>
                </tr>
            </table>
        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.PSP))
    {
        <div class="salesreportcart_container orange_report_bg">
            <span class="salesreportcart_Head">@Localize.T("PSP")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        PSP
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        From Sales
                    </th>
                    <th>
                        Prior
                    </th>
                </tr>
                <tr>

                    <td>
                        Today
                    </td>

                    <td class="@(Model.packageReoportList.ReportToday.PSP >
     Model.packageReoportList.ReportToday.PSP ? "green" : "red")">
                        <span>@Model.packageReoportList.ReportToday.PSP</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportToday.PriorPSP
                    </td>


                    <td class="@(Model.packageReoportList.ReportToday.PSPPercentage >
     Model.packageReoportList.ReportToday.PriorPSPPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.packageReoportList.ReportToday.PSPPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportToday.PriorPSPPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisWeek.PSP >
     Model.packageReoportList.ReportThisWeek.PriorPSP ? "green" : "red")">
                        <span> @Model.packageReoportList.ReportThisWeek.PSP</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportThisWeek.PriorPSP
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisWeek.PSPPercentage >
     Model.packageReoportList.ReportThisWeek.PriorPSPPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisWeek.PSPPercentage)% </span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisWeek.PriorPSPPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.packageReoportList.ReportThisMonth.PSP >
     Model.packageReoportList.ReportThisMonth.PriorPSP ? "green" : "red")">
                        <span> @Model.packageReoportList.ReportThisMonth.PSP</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportThisMonth.PriorPSP
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisMonth.PSPPercentage >
     Model.packageReoportList.ReportThisMonth.PriorPSPPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisMonth.PSPPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisMonth.PriorPSPPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisYear.PSP >
     Model.packageReoportList.ReportThisYear.PriorPSP ? "green" : "red")">
                        <span> @Model.packageReoportList.ReportThisYear.PSP</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportThisYear.PriorPSP
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisYear.PSPPercentage >
     Model.packageReoportList.ReportThisYear.PriorPSPPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.packageReoportList.ReportThisYear.PSPPercentage)%</span>
                    </td>
                    <td>
                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisYear.PriorPSPPercentage)%
                    </td>
                </tr>
            </table>
        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.GSP))
    {
        <div class="salesreportcart_container red_report_bg">
            <span class="salesreportcart_Head">@Localize.T("GSP")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        GSP
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        From Sales
                    </th>
                    <th>
                        Prior
                    </th>
                </tr>
                <tr>

                    <td>
                        Today
                    </td>

                    <td class="@(Model.packageReoportList.ReportToday.GSP >
     Model.packageReoportList.ReportToday.GSP ? "green" : "red")">
                        <span>@Model.packageReoportList.ReportToday.GSP</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportToday.PriorGSP
                    </td>


                    <td class="@(Model.packageReoportList.ReportToday.GSPPercentage >
     Model.packageReoportList.ReportToday.PriorGSPPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.packageReoportList.ReportToday.GSPPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportToday.PriorGSPPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisWeek.GSP >
     Model.packageReoportList.ReportThisWeek.PriorGSP ? "green" : "red")">
                        <span> @Model.packageReoportList.ReportThisWeek.GSP</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportThisWeek.PriorGSP
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisWeek.GSPPercentage >
     Model.packageReoportList.ReportThisWeek.PriorGSPPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisWeek.GSPPercentage)% </span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisWeek.PriorGSPPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.packageReoportList.ReportThisMonth.GSP >
     Model.packageReoportList.ReportThisMonth.PriorGSP ? "green" : "red")">
                        <span> @Model.packageReoportList.ReportThisMonth.GSP</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportThisMonth.PriorGSP
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisMonth.GSPPercentage >
     Model.packageReoportList.ReportThisMonth.PriorGSPPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisMonth.GSPPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisMonth.PriorGSPPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisYear.GSP >
     Model.packageReoportList.ReportThisYear.PriorGSP ? "green" : "red")">
                        <span> @Model.packageReoportList.ReportThisYear.GSP</span>
                    </td>
                    <td>
                        @Model.packageReoportList.ReportThisYear.PriorGSP
                    </td>

                    <td class="@(Model.packageReoportList.ReportThisYear.GSPPercentage >
     Model.packageReoportList.ReportThisYear.PriorGSPPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.packageReoportList.ReportThisYear.GSPPercentage)%</span>
                    </td>
                    <td>
                        @LabelHelper.FormatAmount(Model.packageReoportList.ReportThisYear.PriorGSPPercentage)%
                    </td>
                </tr>
            </table>
        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.CreditCard))
    {
        <div class="salesreportcart_container darkgreen_report_bg seven_col_table">
            <span class="salesreportcart_Head">@Localize.T("Credit Card")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        Credit Card
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        From TotalUpfront
                    </th>
                    <th>
                        Prior
                    </th>

                    <th>
                        Amount
                    </th>
                    <th>
                        Prior
                    </th>
                </tr>
                <tr>

                    <td>
                        Today
                    </td>

                    <td class="@(Model.paymentReoportList.ReportToday.CreditCard >
     Model.paymentReoportList.ReportToday.PriorCreditCard ? "green" : "red")">
                        <span>@Model.paymentReoportList.ReportToday.CreditCard</span>
                    </td>
                    <td>
                        @Model.paymentReoportList.ReportToday.PriorCreditCard
                    </td>


                    <td class="@(Model.paymentReoportList.ReportToday.CreditCardPercentage >
     Model.paymentReoportList.ReportToday.PriorCreditCardPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.paymentReoportList.ReportToday.CreditCardPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.paymentReoportList.ReportToday.PriorCreditCardPercentage)%
                    </td>

                    <td class="@(Model.paymentReoportList.ReportToday.CreditCardAmount >
     Model.paymentReoportList.ReportToday.PriorCreditCardAmount ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.paymentReoportList.ReportToday.CreditCardAmount)</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.paymentReoportList.ReportToday.PriorCreditCardAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisWeek.CreditCard >
     Model.paymentReoportList.ReportThisWeek.PriorCreditCard ? "green" : "red")">
                        <span> @Model.paymentReoportList.ReportThisWeek.CreditCard</span>
                    </td>
                    <td>
                        @Model.paymentReoportList.ReportThisWeek.PriorCreditCard
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisWeek.CreditCardPercentage >
     Model.paymentReoportList.ReportThisWeek.PriorCreditCardPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisWeek.CreditCardPercentage)% </span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisWeek.PriorCreditCardPercentage)%
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisWeek.CreditCardAmount >
     Model.paymentReoportList.ReportThisWeek.PriorCreditCardAmount ? "green" : "red")">
                        <span>  $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisWeek.CreditCardAmount) </span>
                    </td>
                    <td>

                        $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisWeek.PriorCreditCardAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.paymentReoportList.ReportThisMonth.CreditCard >
     Model.paymentReoportList.ReportThisMonth.PriorCreditCard ? "green" : "red")">
                        <span> @Model.paymentReoportList.ReportThisMonth.CreditCard</span>
                    </td>
                    <td>
                        @Model.paymentReoportList.ReportThisMonth.PriorCreditCard
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisMonth.CreditCardPercentage >
     Model.paymentReoportList.ReportThisMonth.PriorCreditCardPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisMonth.CreditCardPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisMonth.PriorCreditCardPercentage)%
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisMonth.CreditCardAmount >
     Model.paymentReoportList.ReportThisMonth.PriorCreditCardAmount ? "green" : "red")">
                        <span>  $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisMonth.CreditCardAmount)</span>
                    </td>
                    <td>

                        $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisMonth.PriorCreditCardAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisYear.CreditCard >
     Model.paymentReoportList.ReportThisYear.PriorCreditCard ? "green" : "red")">
                        <span> @Model.paymentReoportList.ReportThisYear.CreditCard</span>
                    </td>
                    <td>
                        @Model.paymentReoportList.ReportThisYear.PriorCreditCard
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisYear.CreditCardPercentage >
     Model.paymentReoportList.ReportThisYear.PriorCreditCardPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisYear.CreditCardPercentage)%</span>
                    </td>
                    <td>
                        @LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisYear.PriorCreditCardPercentage)%
                    </td>
                    <td class="@(Model.paymentReoportList.ReportThisYear.CreditCardAmount >
     Model.paymentReoportList.ReportThisYear.PriorCreditCardPercentage ? "green" : "red")">
                        <span>$@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisYear.CreditCardAmount)</span>
                    </td>
                    <td>
                        $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisYear.PriorCreditCardAmount)
                    </td>
                </tr>
            </table>

        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.Financed))
    {
        <div class="salesreportcart_container yellow_report_bg seven_col_table">
            <span class="salesreportcart_Head">@Localize.T("Financed")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        Financed
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        From TotalUpfront
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Prior
                    </th>
                </tr>
                <tr>

                    <td>
                        Today
                    </td>

                    <td class="@(Model.paymentReoportList.ReportToday.Financed >
     Model.paymentReoportList.ReportToday.PriorFinanced ? "green" : "red")">
                        <span>@Model.paymentReoportList.ReportToday.Financed</span>
                    </td>
                    <td>
                        @Model.paymentReoportList.ReportToday.PriorFinanced
                    </td>


                    <td class="@(Model.paymentReoportList.ReportToday.FinancedPercentage >
     Model.paymentReoportList.ReportToday.PriorFinancedPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.paymentReoportList.ReportToday.FinancedPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.paymentReoportList.ReportToday.PriorFinancedPercentage)%
                    </td>

                    <td class="@(Model.paymentReoportList.ReportToday.FinancedAmount >
     Model.paymentReoportList.ReportToday.PriorFinancedPercentage ? "green" : "red")">
                        <span>  $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportToday.FinancedAmount)</span>
                    </td>
                    <td>

                        $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportToday.PriorFinancedAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisWeek.Financed >
     Model.paymentReoportList.ReportThisWeek.PriorFinanced ? "green" : "red")">
                        <span> @Model.paymentReoportList.ReportThisWeek.Financed</span>
                    </td>
                    <td>
                        @Model.paymentReoportList.ReportThisWeek.PriorFinanced
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisWeek.FinancedPercentage >
     Model.paymentReoportList.ReportThisWeek.PriorFinancedPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisWeek.FinancedPercentage)% </span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisWeek.PriorFinancedPercentage)%
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisWeek.FinancedAmount >
     Model.paymentReoportList.ReportThisWeek.PriorFinancedAmount ? "green" : "red")">
                        <span>  $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisWeek.FinancedAmount)</span>
                    </td>
                    <td>

                        $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisWeek.PriorFinancedAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.paymentReoportList.ReportThisMonth.Financed >
     Model.paymentReoportList.ReportThisMonth.PriorFinanced ? "green" : "red")">
                        <span> @Model.paymentReoportList.ReportThisMonth.Financed</span>
                    </td>
                    <td>
                        @Model.paymentReoportList.ReportThisMonth.PriorFinanced
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisMonth.FinancedPercentage >
     Model.paymentReoportList.ReportThisMonth.PriorFinancedPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisMonth.FinancedPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisMonth.PriorFinancedPercentage)%
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisMonth.FinancedAmount >
     Model.paymentReoportList.ReportThisMonth.PriorFinancedPercentage ? "green" : "red")">
                        <span>  $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisMonth.FinancedAmount)</span>
                    </td>
                    <td>

                        $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisMonth.PriorFinancedAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisYear.Financed >
     Model.paymentReoportList.ReportThisYear.PriorFinanced ? "green" : "red")">
                        <span> @Model.paymentReoportList.ReportThisYear.Financed</span>
                    </td>
                    <td>
                        @Model.paymentReoportList.ReportThisYear.PriorFinanced
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisYear.FinancedPercentage >
     Model.paymentReoportList.ReportThisYear.PriorFinancedPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisYear.FinancedPercentage)%</span>
                    </td>
                    <td>
                        @LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisYear.PriorFinancedPercentage)%
                    </td>
                    <td class="@(Model.paymentReoportList.ReportThisYear.FinancedAmount >
     Model.paymentReoportList.ReportThisYear.PriorFinancedPercentage ? "green" : "red")">
                        <span>$@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisYear.FinancedAmount)</span>
                    </td>
                    <td>
                        $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisYear.PriorFinancedAmount)
                    </td>
                </tr>
            </table>
        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.TotalUpfront))
    {
        <div class="salesreportcart_container green_report_bg seven_col_table">
            <span class="salesreportcart_Head">@Localize.T("Total Upfront")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        Total Upfront
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        From Sales
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Prior
                    </th>
                </tr>
                <tr>

                    <td>
                        Today
                    </td>

                    <td class="@(Model.paymentReoportList.ReportToday.TotalUpfront >
     Model.paymentReoportList.ReportToday.TotalUpfront ? "green" : "red")">
                        <span>@Model.paymentReoportList.ReportToday.TotalUpfront</span>
                    </td>
                    <td>
                        @Model.paymentReoportList.ReportToday.PriorTotalUpfront
                    </td>


                    <td class="@(Model.paymentReoportList.ReportToday.TotalUpfrontPercentage >
     Model.paymentReoportList.ReportToday.PriorTotalUpfrontPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.paymentReoportList.ReportToday.TotalUpfrontPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.paymentReoportList.ReportToday.PriorTotalUpfrontPercentage)%
                    </td>

                    <td class="@(Model.paymentReoportList.ReportToday.TotalUpfrontPercentage >
     Model.paymentReoportList.ReportToday.PriorTotalUpfrontPercentage ? "green" : "red")">
                        <span>  $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportToday.TotalUpfrontAmount)</span>
                    </td>
                    <td>

                        $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportToday.PriorTotalUpfrontAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisWeek.TotalUpfront >
     Model.paymentReoportList.ReportThisWeek.PriorTotalUpfront ? "green" : "red")">
                        <span> @Model.paymentReoportList.ReportThisWeek.TotalUpfront</span>
                    </td>
                    <td>
                        @Model.paymentReoportList.ReportThisWeek.PriorTotalUpfront
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisWeek.TotalUpfrontPercentage >
     Model.paymentReoportList.ReportThisWeek.PriorTotalUpfrontPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisWeek.TotalUpfrontPercentage)% </span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisWeek.PriorTotalUpfrontPercentage)%
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisWeek.TotalUpfrontAmount >
     Model.paymentReoportList.ReportThisWeek.PriorTotalUpfrontPercentage ? "green" : "red")">
                        <span>  $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisWeek.TotalUpfrontAmount) </span>
                    </td>
                    <td>

                        $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisWeek.PriorTotalUpfrontAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.paymentReoportList.ReportThisMonth.TotalUpfront >
     Model.paymentReoportList.ReportThisMonth.PriorTotalUpfront ? "green" : "red")">
                        <span> @Model.paymentReoportList.ReportThisMonth.TotalUpfront</span>
                    </td>
                    <td>
                        @Model.paymentReoportList.ReportThisMonth.PriorTotalUpfront
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisMonth.TotalUpfrontPercentage >
     Model.paymentReoportList.ReportThisMonth.PriorTotalUpfrontPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisMonth.TotalUpfrontPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisMonth.PriorTotalUpfrontPercentage)%
                    </td>
                    <td class="@(Model.paymentReoportList.ReportThisMonth.TotalUpfrontAmount >
     Model.paymentReoportList.ReportThisMonth.PriorTotalUpfrontAmount ? "green" : "red")">
                        <span>  $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisMonth.TotalUpfrontAmount)</span>
                    </td>
                    <td>

                        $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisMonth.PriorTotalUpfrontAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisYear.TotalUpfront >
     Model.paymentReoportList.ReportThisYear.PriorTotalUpfront ? "green" : "red")">
                        <span> @Model.paymentReoportList.ReportThisYear.TotalUpfront</span>
                    </td>
                    <td>
                        @Model.paymentReoportList.ReportThisYear.PriorTotalUpfront
                    </td>

                    <td class="@(Model.paymentReoportList.ReportThisYear.TotalUpfrontPercentage >
     Model.paymentReoportList.ReportThisYear.PriorTotalUpfrontPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisYear.TotalUpfrontPercentage)%</span>
                    </td>
                    <td>
                        @LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisYear.PriorTotalUpfrontPercentage)%
                    </td>
                    <td class="@(Model.paymentReoportList.ReportThisYear.TotalUpfrontAmount >
     Model.paymentReoportList.ReportThisYear.PriorTotalUpfrontAmount ? "green" : "red")">
                        <span>$@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisYear.TotalUpfrontAmount)</span>
                    </td>
                    <td>
                        $@LabelHelper.FormatAmount(Model.paymentReoportList.ReportThisYear.PriorTotalUpfrontAmount)
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
}