@model HS.Entities.CustomerPaymentDashboardReportModel
@{
    Layout = null;
}
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
<link href="~/Content/Css/Survey/ShowAllAssignSurveyUser.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    })
</script>
<div class="dash_report_block_info">
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.Cellular))
    {
        <div class="salesreportcart_container darkgreen_report_bg">
            <span class="salesreportcart_Head">@Localize.T("Credit Card")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        #
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        %
                    </th>
                    <th>
                        Prior
                    </th>

                    <th>
                      $
                    </th>
                    <th>
                        Prior
                    </th>
                </tr>
                <tr>

                    <td>
                        Today
                    </td>

                    <td class="@(Model.ReportToday.CreditCard >
     Model.ReportToday.PriorCreditCard ? "green" : "red")">
                        <span>@Model.ReportToday.CreditCard</span>
                    </td>
                    <td>
                        @Model.ReportToday.PriorCreditCard
                    </td>


                    <td class="@(Model.ReportToday.CreditCardPercentage >
     Model.ReportToday.PriorCreditCardPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportToday.CreditCardPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportToday.PriorCreditCardPercentage)%
                    </td>

                    <td class="@(Model.ReportToday.CreditCardAmount >
     Model.ReportToday.PriorCreditCardAmount ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportToday.CreditCardAmount)</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportToday.PriorCreditCardAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>

                    <td class="@(Model.ReportThisWeek.CreditCard >
     Model.ReportThisWeek.PriorCreditCard ? "green" : "red")">
                        <span> @Model.ReportThisWeek.CreditCard</span>
                    </td>
                    <td>
                        @Model.ReportThisWeek.PriorCreditCard
                    </td>

                    <td class="@(Model.ReportThisWeek.CreditCardPercentage >
     Model.ReportThisWeek.PriorCreditCardPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportThisWeek.CreditCardPercentage)% </span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportThisWeek.PriorCreditCardPercentage)%
                    </td>

                    <td class="@(Model.ReportThisWeek.CreditCardAmount >
     Model.ReportThisWeek.PriorCreditCardAmount ? "green" : "red")">
                        <span>  $@LabelHelper.FormatAmount(Model.ReportThisWeek.CreditCardAmount) </span>
                    </td>
                    <td>

                        $@LabelHelper.FormatAmount(Model.ReportThisWeek.PriorCreditCardAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.ReportThisMonth.CreditCard >
     Model.ReportThisMonth.PriorCreditCard ? "green" : "red")">
                        <span> @Model.ReportThisMonth.CreditCard</span>
                    </td>
                    <td>
                        @Model.ReportThisMonth.PriorCreditCard
                    </td>

                    <td class="@(Model.ReportThisMonth.CreditCardPercentage >
     Model.ReportThisMonth.PriorCreditCardPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportThisMonth.CreditCardPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportThisMonth.PriorCreditCardPercentage)%
                    </td>

                    <td class="@(Model.ReportThisMonth.CreditCardAmount >
     Model.ReportThisMonth.PriorCreditCardAmount ? "green" : "red")">
                        <span>  $@LabelHelper.FormatAmount(Model.ReportThisMonth.CreditCardAmount)</span>
                    </td>
                    <td>

                        $@LabelHelper.FormatAmount(Model.ReportThisMonth.PriorCreditCardAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>

                    <td class="@(Model.ReportThisYear.CreditCard >
     Model.ReportThisYear.PriorCreditCard ? "green" : "red")">
                        <span> @Model.ReportThisYear.CreditCard</span>
                    </td>
                    <td>
                        @Model.ReportThisYear.PriorCreditCard
                    </td>

                    <td class="@(Model.ReportThisYear.CreditCardPercentage >
     Model.ReportThisYear.PriorCreditCardPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.ReportThisYear.CreditCardPercentage)%</span>
                    </td>
                    <td>
                        @LabelHelper.FormatAmount(Model.ReportThisYear.PriorCreditCardPercentage)%
                    </td>
                    <td class="@(Model.ReportThisYear.CreditCardAmount >
     Model.ReportThisYear.PriorCreditCardPercentage ? "green" : "red")">
                        <span>$@LabelHelper.FormatAmount(Model.ReportThisYear.CreditCardAmount)</span>
                    </td>
                    <td>
                        $@LabelHelper.FormatAmount(Model.ReportThisYear.PriorCreditCardAmount)
                    </td>
                </tr>
            </table>

        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.Smart))
    {
        <div class="salesreportcart_container yellow_report_bg">
            <span class="salesreportcart_Head">@Localize.T("Financed")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        #
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        %
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        $
                    </th>
                    <th>
                        Prior
                    </th>
                </tr>
                <tr>

                    <td>
                        Today
                    </td>

                    <td class="@(Model.ReportToday.Financed >
     Model.ReportToday.PriorFinanced ? "green" : "red")">
                        <span>@Model.ReportToday.Financed</span>
                    </td>
                    <td>
                        @Model.ReportToday.PriorFinanced
                    </td>


                    <td class="@(Model.ReportToday.FinancedPercentage >
     Model.ReportToday.PriorFinancedPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportToday.FinancedPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportToday.PriorFinancedPercentage)%
                    </td>

                    <td class="@(Model.ReportToday.FinancedAmount >
     Model.ReportToday.PriorFinancedPercentage ? "green" : "red")">
                        <span>  $@LabelHelper.FormatAmount(Model.ReportToday.FinancedAmount)</span>
                    </td>
                    <td>

                       $@LabelHelper.FormatAmount(Model.ReportToday.PriorFinancedAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>

                    <td class="@(Model.ReportThisWeek.Financed >
     Model.ReportThisWeek.PriorFinanced ? "green" : "red")">
                        <span> @Model.ReportThisWeek.Financed</span>
                    </td>
                    <td>
                        @Model.ReportThisWeek.PriorFinanced
                    </td>

                    <td class="@(Model.ReportThisWeek.FinancedPercentage >
     Model.ReportThisWeek.PriorFinancedPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportThisWeek.FinancedPercentage)% </span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportThisWeek.PriorFinancedPercentage)%
                    </td>

                    <td class="@(Model.ReportThisWeek.FinancedAmount >
     Model.ReportThisWeek.PriorFinancedAmount ? "green" : "red")">
                        <span>  $@LabelHelper.FormatAmount(Model.ReportThisWeek.FinancedAmount)</span>
                    </td>
                    <td>

                        $@LabelHelper.FormatAmount(Model.ReportThisWeek.PriorFinancedAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.ReportThisMonth.Financed >
     Model.ReportThisMonth.PriorFinanced ? "green" : "red")">
                        <span> @Model.ReportThisMonth.Financed</span>
                    </td>
                    <td>
                        @Model.ReportThisMonth.PriorFinanced
                    </td>

                    <td class="@(Model.ReportThisMonth.FinancedPercentage >
     Model.ReportThisMonth.PriorFinancedPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportThisMonth.FinancedPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportThisMonth.PriorFinancedPercentage)%
                    </td>

                    <td class="@(Model.ReportThisMonth.FinancedAmount >
     Model.ReportThisMonth.PriorFinancedPercentage ? "green" : "red")">
                        <span>  $@LabelHelper.FormatAmount(Model.ReportThisMonth.FinancedAmount)</span>
                    </td>
                    <td>

                        $@LabelHelper.FormatAmount(Model.ReportThisMonth.PriorFinancedAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>

                    <td class="@(Model.ReportThisYear.Financed >
     Model.ReportThisYear.PriorFinanced ? "green" : "red")">
                        <span> @Model.ReportThisYear.Financed</span>
                    </td>
                    <td>
                        @Model.ReportThisYear.PriorFinanced
                    </td>

                    <td class="@(Model.ReportThisYear.FinancedPercentage >
     Model.ReportThisYear.PriorFinancedPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.ReportThisYear.FinancedPercentage)%</span>
                    </td>
                    <td>
                        @LabelHelper.FormatAmount(Model.ReportThisYear.PriorFinancedPercentage)%
                    </td>
                    <td class="@(Model.ReportThisYear.FinancedAmount >
     Model.ReportThisYear.PriorFinancedPercentage ? "green" : "red")">
                        <span>$@LabelHelper.FormatAmount(Model.ReportThisYear.FinancedAmount)</span>
                    </td>
                    <td>
                        $@LabelHelper.FormatAmount(Model.ReportThisYear.PriorFinancedAmount)
                    </td>
                </tr>
            </table>
        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.LandLine))
    {
        <div class="salesreportcart_container green_report_bg">
            <span class="salesreportcart_Head">@Localize.T("TotalUpfront")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        #
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        %
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        $
                    </th>
                    <th>
                        Prior
                    </th>
                </tr>
                <tr>

                    <td>
                        Today
                    </td>

                    <td class="@(Model.ReportToday.TotalUpfront >
     Model.ReportToday.TotalUpfront ? "green" : "red")">
                        <span>@Model.ReportToday.TotalUpfront</span>
                    </td>
                    <td>
                        @Model.ReportToday.PriorTotalUpfront
                    </td>


                    <td class="@(Model.ReportToday.TotalUpfrontPercentage >
     Model.ReportToday.PriorTotalUpfrontPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportToday.TotalUpfrontPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportToday.PriorTotalUpfrontPercentage)%
                    </td>

                    <td class="@(Model.ReportToday.TotalUpfrontPercentage >
     Model.ReportToday.PriorTotalUpfrontPercentage ? "green" : "red")">
                        <span>  $@LabelHelper.FormatAmount(Model.ReportToday.TotalUpfrontAmount)</span>
                    </td>
                    <td>

                        $@LabelHelper.FormatAmount(Model.ReportToday.PriorTotalUpfrontAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>

                    <td class="@(Model.ReportThisWeek.TotalUpfront >
     Model.ReportThisWeek.PriorTotalUpfront ? "green" : "red")">
                        <span> @Model.ReportThisWeek.TotalUpfront</span>
                    </td>
                    <td>
                        @Model.ReportThisWeek.PriorTotalUpfront
                    </td>

                    <td class="@(Model.ReportThisWeek.TotalUpfrontPercentage >
     Model.ReportThisWeek.PriorTotalUpfrontPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportThisWeek.TotalUpfrontPercentage)% </span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportThisWeek.PriorTotalUpfrontPercentage)%
                    </td>

                    <td class="@(Model.ReportThisWeek.TotalUpfrontAmount >
     Model.ReportThisWeek.PriorTotalUpfrontPercentage ? "green" : "red")">
                        <span>  $@LabelHelper.FormatAmount(Model.ReportThisWeek.TotalUpfrontAmount) </span>
                    </td>
                    <td>

                        $@LabelHelper.FormatAmount(Model.ReportThisWeek.PriorTotalUpfrontAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.ReportThisMonth.TotalUpfront >
     Model.ReportThisMonth.PriorTotalUpfront ? "green" : "red")">
                        <span> @Model.ReportThisMonth.TotalUpfront</span>
                    </td>
                    <td>
                        @Model.ReportThisMonth.PriorTotalUpfront
                    </td>

                    <td class="@(Model.ReportThisMonth.TotalUpfrontPercentage >
     Model.ReportThisMonth.PriorTotalUpfrontPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportThisMonth.TotalUpfrontPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportThisMonth.PriorTotalUpfrontPercentage)%
                    </td>
                    <td class="@(Model.ReportThisMonth.TotalUpfrontAmount >
     Model.ReportThisMonth.PriorTotalUpfrontAmount ? "green" : "red")">
                        <span>  $@LabelHelper.FormatAmount(Model.ReportThisMonth.TotalUpfrontAmount)</span>
                    </td>
                    <td>

                        $@LabelHelper.FormatAmount(Model.ReportThisMonth.PriorTotalUpfrontAmount)
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>

                    <td class="@(Model.ReportThisYear.TotalUpfront >
     Model.ReportThisYear.PriorTotalUpfront ? "green" : "red")">
                        <span> @Model.ReportThisYear.TotalUpfront</span>
                    </td>
                    <td>
                        @Model.ReportThisYear.PriorTotalUpfront
                    </td>

                    <td class="@(Model.ReportThisYear.TotalUpfrontPercentage >
     Model.ReportThisYear.PriorTotalUpfrontPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.ReportThisYear.TotalUpfrontPercentage)%</span>
                    </td>
                    <td>
                        @LabelHelper.FormatAmount(Model.ReportThisYear.PriorTotalUpfrontPercentage)%
                    </td>
                    <td class="@(Model.ReportThisYear.TotalUpfrontAmount >
     Model.ReportThisYear.PriorTotalUpfrontAmount ? "green" : "red")">
                        <span>$@LabelHelper.FormatAmount(Model.ReportThisYear.TotalUpfrontAmount)</span>
                    </td>
                    <td>
                        $@LabelHelper.FormatAmount(Model.ReportThisYear.PriorTotalUpfrontAmount)
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
