@model HS.Entities.CustomerFundedDashboardReport
@{
    Layout = null;
}
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
@*<link href="~/Content/Css/Survey/ShowAllAssignSurveyUser.css" rel="stylesheet" />*@
<script>
</script>



@if (PermissionChecker.IsPermitted(PermissionList.Dashboard.SalesFunded))
{



    <table class="salesreportcart salesreportcart_four">
        <thead>
            <tr>
                <th>
                    @Localize.T("Sales")
                </th>
                <th>
                    @Localize.T("Funded")
                </th>
                <th>
                    @Localize.T("Funded %")
                </th>
                <th>
                    @Localize.T("UserX")
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Sales
                </td>
                <td>
                    @LabelHelper.FormatAmount(@Model.Funded)
                </td>
                <td>
                    $@LabelHelper.FormatAmount(Model.FundedPercentage)%
                </td>

                <td>
                    @{
                        double UserX = new double();
                        Double.TryParse(Model.UserX, out UserX);
                    }

                    @LabelHelper.FormatAmount(UserX)
                </td>
            </tr>
        </tbody>
    </table>
}









