@model HS.Entities.CustomerPackageDashboardReportModel
@{
    Layout = null;
}
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
<link href="~/Content/Css/Survey/ShowAllAssignSurveyUser.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    })
</script>
<div class="dash_report_block_info">
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.Cellular))
    {
        <div class="salesreportcart_container darkgreen_report_bg">
            <span class="salesreportcart_Head">@Localize.T("Cellular")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        #
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        %
                    </th>
                    <th>
                        Prior
                    </th>
                </tr>
                <tr>

                    <td>
                        Today
                    </td>

                    <td class="@(Model.ReportToday.Cellular >
     Model.ReportToday.PriorCellular ? "green" : "red")">
                        <span>@Model.ReportToday.Cellular</span>
                    </td>
                    <td>
                        @Model.ReportToday.PriorCellular
                    </td>


                    <td class="@(Model.ReportToday.CellularPercentage >
     Model.ReportToday.PriorCellularPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportToday.CellularPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportToday.PriorCellularPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>

                    <td class="@(Model.ReportThisWeek.Cellular >
     Model.ReportThisWeek.PriorCellular ? "green" : "red")">
                        <span> @Model.ReportThisWeek.Cellular</span>
                    </td>
                    <td>
                        @Model.ReportThisWeek.PriorCellular
                    </td>

                    <td class="@(Model.ReportThisWeek.CellularPercentage >
     Model.ReportThisWeek.PriorCellularPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportThisWeek.CellularPercentage)% </span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportThisWeek.PriorCellularPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.ReportThisMonth.Cellular >
     Model.ReportThisMonth.PriorCellular ? "green" : "red")">
                        <span> @Model.ReportThisMonth.Cellular</span>
                    </td>
                    <td>
                        @Model.ReportThisMonth.PriorCellular
                    </td>

                    <td class="@(Model.ReportThisMonth.CellularPercentage >
     Model.ReportThisMonth.PriorCellularPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportThisMonth.CellularPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportThisMonth.PriorCellularPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>

                    <td class="@(Model.ReportThisYear.Cellular >
     Model.ReportThisYear.PriorCellular ? "green" : "red")">
                        <span> @Model.ReportThisYear.Cellular</span>
                    </td>
                    <td>
                        @Model.ReportThisYear.PriorCellular
                    </td>

                    <td class="@(Model.ReportThisYear.CellularPercentage >
     Model.ReportThisYear.PriorCellularPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.ReportThisYear.CellularPercentage)%</span>
                    </td>
                    <td>
                        @LabelHelper.FormatAmount(Model.ReportThisYear.PriorCellularPercentage)%
                    </td>
                </tr>
            </table>

        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.Smart))
    {
        <div class="salesreportcart_container yellow_report_bg">
            <span class="salesreportcart_Head">@Localize.T("Smart")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        #
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        %
                    </th>
                    <th>
                        Prior
                    </th>
                </tr>
                <tr>

                    <td>
                        Today
                    </td>

                    <td class="@(Model.ReportToday.Smart >
     Model.ReportToday.PriorSmart ? "green" : "red")">
                        <span>@Model.ReportToday.Smart</span>
                    </td>
                    <td>
                        @Model.ReportToday.PriorSmart
                    </td>


                    <td class="@(Model.ReportToday.SmartPercentage >
     Model.ReportToday.PriorSmartPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportToday.SmartPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportToday.PriorSmartPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>

                    <td class="@(Model.ReportThisWeek.Smart >
     Model.ReportThisWeek.PriorSmart ? "green" : "red")">
                        <span> @Model.ReportThisWeek.Smart</span>
                    </td>
                    <td>
                        @Model.ReportThisWeek.PriorSmart
                    </td>

                    <td class="@(Model.ReportThisWeek.SmartPercentage >
     Model.ReportThisWeek.PriorSmartPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportThisWeek.SmartPercentage)% </span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportThisWeek.PriorSmartPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.ReportThisMonth.Smart >
     Model.ReportThisMonth.PriorSmart ? "green" : "red")">
                        <span> @Model.ReportThisMonth.Smart</span>
                    </td>
                    <td>
                        @Model.ReportThisMonth.PriorSmart
                    </td>

                    <td class="@(Model.ReportThisMonth.SmartPercentage >
     Model.ReportThisMonth.PriorSmartPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportThisMonth.SmartPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportThisMonth.PriorSmartPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>

                    <td class="@(Model.ReportThisYear.Smart >
     Model.ReportThisYear.PriorSmart ? "green" : "red")">
                        <span> @Model.ReportThisYear.Smart</span>
                    </td>
                    <td>
                        @Model.ReportThisYear.PriorSmart
                    </td>

                    <td class="@(Model.ReportThisYear.SmartPercentage >
     Model.ReportThisYear.PriorSmartPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.ReportThisYear.SmartPercentage)%</span>
                    </td>
                    <td>
                        @LabelHelper.FormatAmount(Model.ReportThisYear.PriorSmartPercentage)%
                    </td>
                </tr>
            </table>
        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.LandLine))
    {
        <div class="salesreportcart_container green_report_bg">
            <span class="salesreportcart_Head">@Localize.T("Land Line")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        #
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        %
                    </th>
                    <th>
                        Prior
                    </th>
                </tr>
                <tr>

                    <td>
                        Today
                    </td>

                    <td class="@(Model.ReportToday.Standard >
     Model.ReportToday.Standard ? "green" : "red")">
                        <span>@Model.ReportToday.Standard</span>
                    </td>
                    <td>
                        @Model.ReportToday.PriorStandard
                    </td>


                    <td class="@(Model.ReportToday.StandardPercentage >
     Model.ReportToday.PriorStandardPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportToday.StandardPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportToday.PriorStandardPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>

                    <td class="@(Model.ReportThisWeek.Standard >
     Model.ReportThisWeek.PriorStandard ? "green" : "red")">
                        <span> @Model.ReportThisWeek.Standard</span>
                    </td>
                    <td>
                        @Model.ReportThisWeek.PriorStandard
                    </td>

                    <td class="@(Model.ReportThisWeek.StandardPercentage >
     Model.ReportThisWeek.PriorStandardPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportThisWeek.StandardPercentage)% </span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportThisWeek.PriorStandardPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.ReportThisMonth.Standard >
     Model.ReportThisMonth.PriorStandard ? "green" : "red")">
                        <span> @Model.ReportThisMonth.Standard</span>
                    </td>
                    <td>
                        @Model.ReportThisMonth.PriorStandard
                    </td>

                    <td class="@(Model.ReportThisMonth.StandardPercentage >
     Model.ReportThisMonth.PriorStandardPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportThisMonth.StandardPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportThisMonth.PriorStandardPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>

                    <td class="@(Model.ReportThisYear.Standard >
     Model.ReportThisYear.PriorStandard ? "green" : "red")">
                        <span> @Model.ReportThisYear.Standard</span>
                    </td>
                    <td>
                        @Model.ReportThisYear.PriorStandard
                    </td>

                    <td class="@(Model.ReportThisYear.StandardPercentage >
     Model.ReportThisYear.PriorStandardPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.ReportThisYear.StandardPercentage)%</span>
                    </td>
                    <td>
                        @LabelHelper.FormatAmount(Model.ReportThisYear.PriorStandardPercentage)%
                    </td>
                </tr>
            </table>
        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.PSP))
    {
        <div class="salesreportcart_container orange_report_bg">
            <span class="salesreportcart_Head">@Localize.T("PSP")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        #
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        %
                    </th>
                    <th>
                        Prior
                    </th>
                </tr>
                <tr>

                    <td>
                        Today
                    </td>

                    <td class="@(Model.ReportToday.PSP >
     Model.ReportToday.PSP ? "green" : "red")">
                        <span>@Model.ReportToday.PSP</span>
                    </td>
                    <td>
                        @Model.ReportToday.PriorPSP
                    </td>


                    <td class="@(Model.ReportToday.PSPPercentage >
     Model.ReportToday.PriorPSPPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportToday.PSPPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportToday.PriorPSPPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>

                    <td class="@(Model.ReportThisWeek.PSP >
     Model.ReportThisWeek.PriorPSP ? "green" : "red")">
                        <span> @Model.ReportThisWeek.PSP</span>
                    </td>
                    <td>
                        @Model.ReportThisWeek.PriorPSP
                    </td>

                    <td class="@(Model.ReportThisWeek.PSPPercentage >
     Model.ReportThisWeek.PriorPSPPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportThisWeek.PSPPercentage)% </span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportThisWeek.PriorPSPPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.ReportThisMonth.PSP >
     Model.ReportThisMonth.PriorPSP ? "green" : "red")">
                        <span> @Model.ReportThisMonth.PSP</span>
                    </td>
                    <td>
                        @Model.ReportThisMonth.PriorPSP
                    </td>

                    <td class="@(Model.ReportThisMonth.PSPPercentage >
     Model.ReportThisMonth.PriorPSPPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportThisMonth.PSPPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportThisMonth.PriorPSPPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>

                    <td class="@(Model.ReportThisYear.PSP >
     Model.ReportThisYear.PriorPSP ? "green" : "red")">
                        <span> @Model.ReportThisYear.PSP</span>
                    </td>
                    <td>
                        @Model.ReportThisYear.PriorPSP
                    </td>

                    <td class="@(Model.ReportThisYear.PSPPercentage >
     Model.ReportThisYear.PriorPSPPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.ReportThisYear.PSPPercentage)%</span>
                    </td>
                    <td>
                        @LabelHelper.FormatAmount(Model.ReportThisYear.PriorPSPPercentage)%
                    </td>
                </tr>
            </table>
        </div>
    }
    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.GSP))
    {
        <div class="salesreportcart_container red_report_bg">
            <span class="salesreportcart_Head">@Localize.T("GSP")</span>
            <table class="salesreportcart">
                <tr>

                    <th>

                    </th>
                    <th>
                        #
                    </th>
                    <th>
                        Prior
                    </th>
                    <th>
                        %
                    </th>
                    <th>
                        Prior
                    </th>
                </tr>
                <tr>

                    <td>
                        Today
                    </td>

                    <td class="@(Model.ReportToday.GSP >
     Model.ReportToday.GSP ? "green" : "red")">
                        <span>@Model.ReportToday.GSP</span>
                    </td>
                    <td>
                        @Model.ReportToday.PriorGSP
                    </td>


                    <td class="@(Model.ReportToday.GSPPercentage >
     Model.ReportToday.PriorGSPPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportToday.GSPPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportToday.PriorGSPPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Week
                    </td>

                    <td class="@(Model.ReportThisWeek.GSP >
     Model.ReportThisWeek.PriorGSP ? "green" : "red")">
                        <span> @Model.ReportThisWeek.GSP</span>
                    </td>
                    <td>
                        @Model.ReportThisWeek.PriorGSP
                    </td>

                    <td class="@(Model.ReportThisWeek.GSPPercentage >
     Model.ReportThisWeek.PriorGSPPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportThisWeek.GSPPercentage)% </span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportThisWeek.PriorGSPPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Month
                    </td>
                    <td class="@(Model.ReportThisMonth.GSP >
     Model.ReportThisMonth.PriorGSP ? "green" : "red")">
                        <span> @Model.ReportThisMonth.GSP</span>
                    </td>
                    <td>
                        @Model.ReportThisMonth.PriorGSP
                    </td>

                    <td class="@(Model.ReportThisMonth.GSPPercentage >
     Model.ReportThisMonth.PriorGSPPercentage ? "green" : "red")">
                        <span>  @LabelHelper.FormatAmount(Model.ReportThisMonth.GSPPercentage)%</span>
                    </td>
                    <td>

                        @LabelHelper.FormatAmount(Model.ReportThisMonth.PriorGSPPercentage)%
                    </td>
                </tr>
                <tr>

                    <td>
                        Year
                    </td>

                    <td class="@(Model.ReportThisYear.GSP >
     Model.ReportThisYear.PriorGSP ? "green" : "red")">
                        <span> @Model.ReportThisYear.GSP</span>
                    </td>
                    <td>
                        @Model.ReportThisYear.PriorGSP
                    </td>

                    <td class="@(Model.ReportThisYear.GSPPercentage >
     Model.ReportThisYear.PriorGSPPercentage ? "green" : "red")">
                        <span>@LabelHelper.FormatAmount(Model.ReportThisYear.GSPPercentage)%</span>
                    </td>
                    <td>
                        @LabelHelper.FormatAmount(Model.ReportThisYear.PriorGSPPercentage)%
                    </td>
                </tr>
            </table>
        </div>
    }
</div>