@model List<HS.Entities.Knowledgebase>
@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/RecurringBillingReportPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/SalesByUser.css" rel="stylesheet" />
<script>
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";
    var Tag = '@ViewBag.Tag';
    var ShowFullMessage = function (Fullurl) {
        window.open(Fullurl, '_blank');
    };
    $(document).ready(function () {
        $('.HeaderText').html("Tag: " + Tag);
        $(".ssrt_inner_height").height(window.innerHeight - 84);

        $(".icon_sort_timeclock3").click(function () {
            var orderval = $(this).attr('data-val');
            parent.Sortknowledgebaselist(Tag, orderval);
        });
        $("#NumberOfItemDownload").click(function () {
            window.location.href = domainurl + "/Reports/NumberOfItemList?UserId=" + UserId + "&GetReport=true";
        });
    });
    $(window).resize(function() {
   $(".ssrt_inner_height").height(window.innerHeight - 84);
});
</script>
<div class="ssrt_header">
    <span class="HeaderText"></span>
</div>
<div class="ssrt_inner_height">
    <div class="ssrt_inner">
        <table class="table tablesize tklist_table">
            <thead class="table-head-border">
                <tr>
                    <th class="thead-th-style new_header_customer">
                        <div>@Localize.T("Articles")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock3" data-val="ascending/article"></i> <i class="fa fa-angle-down icon_sort_timeclock3" data-val="descending/article"></i></div>
                    </th>
                    <th class="thead-th-style new_header">
                        <div>@Localize.T("Tag")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock3" data-val="ascending/tag"></i> <i class="fa fa-angle-down icon_sort_timeclock3" data-val="descending/tag"></i></div>
                    </th>
                    <th class="thead-th-style new_header">
                        <div>@Localize.T("Type")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock3" data-val="ascending/type"></i> <i class="fa fa-angle-down icon_sort_timeclock3" data-val="descending/type"></i></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string fullurl = string.Empty;
                    if (item.IsDocumentLibrary)
                    {
                        fullurl = string.Concat(AppConfig.SiteDomain, "/documentlibrary/Id=" + item.Id);
                    }
                    else
                    {
                        fullurl = string.Concat(AppConfig.SiteDomain, "/knowledgebase/Id=" + item.Id);
                    }
                    <tr class="tr-style">
                        <td class="table-body-td-style" valign="top">
                            @if (item.AttachmentCount > 0)
                            {
                                <span title="Has @item.AttachmentCount attachment(s)" class="hasattach"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
                            }
                            <a class="cus-anchor kn_ques" onclick="ShowFullMessage('@fullurl')">@item.Title</a>

                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="knowledge_react">
                                @{
                                    if (!string.IsNullOrWhiteSpace(item.Tags))
                                    {
                                        var NameFile = item.Tags.Split(',');
                                        foreach (var tag in NameFile)
                                        {
                                            <span class="rect_block">@tag.Replace("&amp;", "&")</span>
                                        }
                                    }
                                }
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="">
                                @if (item.IsDocumentLibrary)
                                {
                                    <span>Document</span>
                                }
                                else
                                {
                                    <span>Knowledgebase</span>
                                }
                            </div>
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>
</div>
<div class="ssrt_footer">
    <span class="table_total_info">Total: @Model.Count</span>
</div>
