@using AppConfig = HS.Framework.Utils.AppConfig;
@{
    Layout = null;
    string DomainURL = AppConfig.DomainSitePath;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<link href="~/Content/Css/Contacts/contactlist.css" rel="stylesheet" />
<script>
    var FilterTag = function (order) {
        var searchval = $("#tag_search").val();
        /*$("#LoadTagList").load("/App/FilterRMRTagList?search=" + encodeURI(searchval));*/
        $("#LoadTagList").load("/App/FilterKnowledgebaseRMRTagList?search=" + encodeURI(searchval) + "&order=" + order);
    }
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $("#btnAddtags").click(function () {
            OpenRightToLeftModal("/App/AddRMRTag?id=0");
        })
        FilterTag();
        $("#rmr_tag_search").click(function () {
            FilterTag();
        })
    })
</script>

<div class="contact_list_container contact_container_main">
    <div class="contact_fixed_header">
        <div class="contact_main_header">@Localize.T("Tags")</div>
    </div>
    <div>
        <button id="btnAddtags" class="btn btn_addPTO"><i class="fa fa-plus-circle green-tooltip" aria-hidden="true" data-toggle="tooltip" title="@Localize.T("Add Tag")" data-placement="bottom"></i> @Localize.T("New")</button>
    </div>
    <div id="tag_search_container">
        <div class="input-group add-on inputdiv">
            
                <input class="form-control srch-term" placeholder="Find Tags" type="text" id="tag_search">
          
            <div class="input-group-btn"><button class="btn btn-default custom-btn SearchContact" id="rmr_tag_search" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search green-tooltip" data-toggle="tooltip" title="@Localize.T("Search")" data-placement="bottom"></i></button></div>
           
        </div>
    </div>
    
    <div id="LoadTagList">

    </div>
</div>