@{ 
    Layout = null;
}
@model List<HS.Entities.RecruitmentFormEmployee> 
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/UserList")
<link href="~/Content/Css/UserManagement/UserList.css" rel="stylesheet" />
<style>
    .table-body-td-style {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.4rem;
        padding: 10px;
    }
    .no-footer {
        min-width: 100% !important;
    }
</style>
<script>
    /*//KeyWords
    1.W9 Form
    2.W4 Form
    3.I9 Form
    4.Driving License
    5.State License TX
    */
    var DataTablePageSize = 50;
    var LoadW9Form = function (IsPdf) {
        if (typeof (IsPdf) != 'undefined' && IsPdf == true) {
            var win = window.open(domainurl + '/Recruit/W9Form/?IsPdf=true', '_blank');
        } else {
            var reload = true;
            var loadurl = domainurl + "/Recruit/W9Form";
            var seturl = domainurl + "/Recruitment/W9Form";
            LoadUrlContents(loadurl, seturl, reload);
        } 
    }

    var LoadW4Form = function (IsPdf) {
        if (typeof (IsPdf) != 'undefined' && IsPdf == true) {
            var win = window.open(domainurl + '/Recruit/W4Form/?IsPdf=true', '_blank');
        } else {
            var reload = true;
            var loadurl = domainurl + "/Recruit/W4Form";
            var seturl =domainurl +  "/Recruitment/W4Form";
            LoadUrlContents(loadurl, seturl, reload);
        }
    }
    var LoadI9Form = function (IsPdf) {
        if (typeof (IsPdf) != 'undefined' && IsPdf == true) {
            var win = window.open(domainurl + '/Recruit/I9Form/?IsPdf=true', '_blank');
        } else {
            var reload = true;
            var loadurl = domainurl + "/Recruit/I9Form";
            var seturl = domainurl + "/Recruitment/I9Form";
            LoadUrlContents(loadurl, seturl, reload);
        }
    }
    var LoadDrivingLicenseForm = function (IsPdf) {
        if (typeof (IsPdf) != 'undefined' && IsPdf == true) {
            var win = window.open(domainurl + '/Recruit/I9Form/?IsPdf=true', '_blank');
        } else {
            var reload = true;
            var loadurl = domainurl + "/Recruit/I9Form";
            var seturl = domainurl + "/Recruitment/I9Form";
            LoadUrlContents(loadurl, seturl, reload);
        }
    }
    var LoadDrivingLicenseForm = function (IsPdf) {
        if (typeof (IsPdf) != 'undefined' && IsPdf == true) {
            var win = window.open(domainurl + '/Recruit/UploadDocuments/?IsPdf=true&&IsDrivingLicnese=true', '_blank');
        } else {
            OpenRightToLeftModal(domainurl + "/Recruit/UploadDocuments/?IsDrivingLicnese=true");
        }
    }

    var LoadStateLicenseTXForm = function (IsPdf) {
        if (typeof (IsPdf) != 'undefined' && IsPdf == true) {
            var win = window.open(domainurl + '/Recruit/UploadDocuments/?IsPdf=true&&IsStateLicTx=true', '_blank');
        } else {
            OpenRightToLeftModal(domainurl + "/Recruit/UploadDocuments/?IsStateLicTx=true")
        }
    }
    var SubmitForm = function (FormName) {
        /*FormName Has to be same as RecruitmentForm tab*/
        var url = domainurl + "/Recruit/SubmitForm";
         var param = JSON.stringify({
             FormName: FormName
         });
         $.ajax({
             url: url,
             data: param,
             method: "POST",
             contentType: "application/json; charset=utf-8",
             dataType: "json",
             success: function (data) {
                 if (data.result) {
                     OpenSuccessMessageNew ("Success!", FormName+ " submited successfully.", function () {
                         LoadRecruit(true);
                     });
                 } else {
                     OpenErrorMessageNew("Error!", data.message);
                 }
             }
         });
    }
    var SubmitW9Form = function () {
        OpenConfirmationMessageNew("Confirm?", "Once you submit, you won't able to make any changes, do you agree?", function () {
            SubmitForm("W9 Form");
        });
    }
    var SubmitW4Form = function () {
        OpenConfirmationMessageNew("Confirm?", "Once you submit, you won't able to make any changes, do you agree?", function () {
            SubmitForm("W4 Form");
        });
    }
    var SubmitI9Form = function () {
        OpenConfirmationMessageNew("Confirm?", "Once you submit, you won't able to make any changes, do you agree?", function () {
            SubmitForm("I9 Form");
        });
    }
    var SubmitDrivingLicenseForm = function(){
        OpenConfirmationMessageNew("Confirm?", "Once you submit, you won't able to make any changes, do you agree?", function () {
            SubmitForm("Driving License");
        });
    }
    var SubmitStateLicenseTXForm = function(){
        OpenConfirmationMessageNew("Confirm?", "Once you submit, you won't able to make any changes, do you agree?", function () {
            SubmitForm("State License TX");
        });
    }
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        var RecruitmentTable = $('#tblEstimate').DataTable({
            "pageLength": DataTablePageSize,
            "destroy": true,
            "language": {
                "emptyTable": "No data available"
            }
        });
    });
</script>


<div>
    <div class="row">
        <div class="col-xs-6 heading_left">
            <h2 class="heading_text">@Localize.T("Recruitment Forms")</h2>
        </div>
        <div class="col-xs-6">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 serch_bar_width">
            <div class="arrow_div">
                <div class="down_arrow_style">
                    <img src="~/Content/img/down_arrow.png">
                </div>
            </div>
            <div class="searchbardiv_mgmt">
                <div class="input-group add-on search_allign">
                    <input class="form-control" placeholder="Find a Form" name="srch-term" id="srch-term" type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-default custom-btn green_button" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-xs-4 custom_icon_mgmt">
        <a href="javascript:void(0)"><i class="fa fa-print cus-print" aria-hidden="true"></i></a>
        <a href="javascript:void(0)"><i class="fa fa-file-excel-o cus-cecel" aria-hidden="true"></i></a>
        <a href="javascript:void(0)"><i class="fa fa-cog cus-setting" aria-hidden="true"></i></a>
    </div>*@
    </div>
    <div>
        <table class="display" id="tblEstimate">
            <thead class="table-head-border ep_hide_for_device">
                <tr>
                    <th class="thead-th-style">@Localize.T("Form Name")</th>
                    <th class="thead-th-style">@Localize.T("Fill Up")</th>
                    <th class="thead-th-style">@Localize.T("Submit")</th>
                    <th class="thead-th-style">@Localize.T("Download")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string Form = "";
                    string Submit = "";
                    string FormPdf = "";
                    string EditBtnText = "Fill Up Form";
                    if (item.FormName == HS.Web.UI.Helper.LabelHelper.RecruitmentForms.W9Form)
                    {
                        Form = "LoadW9Form()";
                        Submit = "SubmitW9Form()";
                        FormPdf = "LoadW9Form(true)";
                    }
                    else if (item.FormName == HS.Web.UI.Helper.LabelHelper.RecruitmentForms.W4Form)
                    {
                        Form = "LoadW4Form()";
                        Submit = "SubmitW4Form()";
                        FormPdf = "LoadW4Form(true)";
                    }
                    else if (item.FormName == HS.Web.UI.Helper.LabelHelper.RecruitmentForms.I9Form)
                    {
                        Form = "LoadI9Form()";
                        Submit = "SubmitI9Form()";
                        FormPdf = "LoadI9Form(true)";
                    }
                    else if (item.FormName == HS.Web.UI.Helper.LabelHelper.RecruitmentForms.DrivingLicense)
                    {
                        Form = "LoadDrivingLicenseForm()";
                        Submit = "SubmitDrivingLicenseForm()";
                        FormPdf = "LoadDrivingLicenseForm(true)";
                        EditBtnText = "Upload";
                    }
                    else if (item.FormName == HS.Web.UI.Helper.LabelHelper.RecruitmentForms.StateLicenseTX)
                    {
                        Form = "LoadStateLicenseTXForm()";
                        Submit = "SubmitStateLicenseTXForm()";
                        FormPdf = "LoadStateLicenseTXForm(true)";
                        EditBtnText = "Upload";
                    }
                    <tr class="tr-style">
                        <td class="table-body-td-style ep_device_row" valign="top">
                            <a>@item.FormName</a>
                        </td>
                        <td class="table-body-td-style ep_device_row" valign="top">
                            @if (!item.IsSubmitted)
                            {
                                <button onclick="@Form"><i class="fa fa-edit"></i> @Localize.T(EditBtnText)</button>
                            }
                            else
                            {
                                <span class="cus-anchor">Completed</span>
                            }
                        </td>
                        <td class="table-body-td-style ep_device_row" valign="top">
                            @if (item.IsFillUp && !item.IsSubmitted)
                            {
                                <button onclick="@Submit"><i class="fa fa-check" aria-hidden="true"></i> @Localize.T("Submit Form")</button>
                            }
                            @if (item.IsSubmitted)
                            {
                                <span class="cus-anchor">Completed</span>
                            }
                            else if(!item.IsFillUp)
                            {
                                <span>Pending</span>
                            }
                        </td>
                        <td class="table-body-td-style ep_device_row" valign="top">
                            @if (item.IsSubmitted)
                            {
                                <button onclick="@FormPdf"><i class="fa fa-download"></i> @Localize.T("Download Form")</button>
                            }else
                            {
                                <span>Pending</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

