@{
    Layout = null;
}
@model List<HS.Entities.UserMgmtList> 
@using AppConfig = HS.Framework.Utils.AppConfig; 
@using Localize = HS.Web.UI.Helper.LanguageHelper;
@using Permissions = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
@Styles.Render("~/styles/UserList")
@Scripts.Render("~/scripts/UserList")

<script>
    $(document).ready(function () {
        //var addmanufacpopwinowwith = 600;
        //var addmanufacpopwinowheight = 575;
        //if (Device.MobileGadget()) {
        //    addmanufacpopwinowwith = window.innerWidth;
        //    addmanufacpopwinowheight = window.innerHeight;
        //}
        //var idlist = [{ id: ".addManufacturerMagnific", type: 'iframe', width: addmanufacpopwinowwith, height: addmanufacpopwinowheight }
        //];
        //jQuery.each(idlist, function (i, val) {
        //    magnificPopupObj(val);
        //});
        $(".LoaderWorkingDiv").hide();

        $("#AddNewRecruitUser").click(function () {
            OpenRightToLeftModal(domainurl + "/UserMgmt/AddUser/?IsRecruitUser=true");
        });
        $(".activate_user_recruit").click(function () {
            var id = $(".activate_user_recruit").attr('data-id');
            OpenRightToLeftModal(domainurl + "/UserMgmt/ActiveUserRecruit/?userid=" + id);
        })
        $(".ContactNameAnchor").click(function () {
            var anchorval = $("#ContactNameAnchor").attr('data-id');
            LoadRecruitUserInfo(anchorval, true);
        })
        $("#user-filter").click(function () {
            var sval = $("#Status").val();
            if (sval != "") {
                $("#recruitusertable").hide();
                $(".Filtertabadmin").load(domainurl + "/Recruit/FilterRecruitTabUser?UserStatus=" + sval);
            }
        })
    })
</script>

<link href="~/Content/Css/UserManagement/UserList.css" rel="stylesheet" />
<div class="content-wrap custom-head">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 heading_left"><div class="rta_heading_text">@Localize.T("Manage Recruited Users")</div></div>
            <div class="col-sm-4">
                <div class="rta_AddNewBtnDiv">
                    <div class="btn-group">
                        @if (PermissionChecker.IsPermitted(Permissions.UserMgmtPermissions.AddUser))
                        {
                            <button class="btn customer-new" id="AddNewRecruitUser" type="button">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
                            </button>
                        }
                        <button data-toggle="dropdown" class="btn dropdown-toggle customer-btn-dropdown" type="button">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu customer-dropdown-ul-style">
                            <li><a href="javascript:void(0)">@Localize.T("Import User")</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="ListContents" style="display:none;">
            <div class="header_content_mgmt">
                <div class="row">
                    <div class="col-xs-8 serch_bar_width">
                        <div class="arrow_div">
                            <div class="down_arrow_style">

                                <img src="~/Content/img/down_arrow.png">
                            </div>
                        </div>
                        <div class="searchbardiv_mgmt recruit_tab_admin_search_bar">
                            <div class="input-group add-on search_allign">
                                <input class="form-control" placeholder="Find a User" name="srch-term" id="srch-term" type="text">
                                <div class="input-group-btn">
                                    <button class="btn btn-default custom-btn green_button" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 custom_icon_mgmt">
                        <div class="input-group add-on">
                            <select class="form-control" id="Status">
                                <option value="Recruit">Recruit</option>
                                <option value="Progressing">Progressing</option>
                                <option value="Signature">Signature</option>
                                <option value="Pending">Pending</option>
                                <option value="Signed">Signed</option>
                                <option value="Dropped">Dropped</option>
                            </select>
                            <div class="input-group-btn">
                                <button class="btn btn-default" id="user-filter"><i class="fa fa-filter"></i> @Localize.T("Filter")</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="custom-top-padding">
                </div>

                <div class="custom-table" id="recruitusertable">
                    <table class="display recruit_tab_admin_table" id="tblVideo">
                        <thead class="table-head-border rta_header_hide">
                            <tr>
                                <th class="thead-th-style">
                                    @Localize.T("Name")
                                </th>
                                <th class="thead-th-style">
                                    @Localize.T("DateStamp")
                                </th>
                                <th class="thead-th-style">
                                    @Localize.T("Phone / Email")
                                </th>
                                @*<th class="thead-th-style">
                                    @Localize.T("Email")
                                </th>*@
                                <th class="thead-th-style">
                                    @Localize.T("Branch Location")
                                </th>
                                <th class="thead-th-style">
                                    @Localize.T("status")
                                </th>
                                <th class="thead-th-style">
                                    @Localize.T("Last Update")
                                </th>
                                <th class="thead-th-style">
                                    @Localize.T("Actions")
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
            {
                            <tr class="tr-style">

                                <td class="table-body-td-style rta_device_row" valign="top">
                                    <div class="rta_device_header">@Localize.T("Name")</div>
                                    <a class="name-anchor-style rta_device_info" id="@item.Id" onclick="LoadRecruitUserInfo(@item.Id, true)" >
                                        <span>@item.ContactName</span>
                                    </a>
                                </td>
                                <td class="table-body-td-style rta_device_row" valign="top">
                                    <div class="rta_device_header">@Localize.T("DateStamp")</div>
                                    @if (item.Datestamp != new DateTime())
                                    {
                                        <div class="rta_device_info">@item.Datestamp.ToString("MM/dd/yy") @Localize.T("at") @item.Datestamp.ToString("hh:mm tt")</div>
                                    }
                                </td>
                                <td class="table-body-td-style rta_device_row" valign="top">
                                    <div class="rta_device_header">@Localize.T("Phone / Email")</div>
                                    <div class="rta_device_info">@item.EmpPhone 
                                        @if (item.Email.Length.ToString() != "36")
                                        {
                                            <b>/</b> @item.Email
                                        }
                                    </div>
                                </td>
                                @*<td class="table-body-td-style device_style_info" valign="top">
                                    <div class="device_header">@Localize.T("Email")</div>
                                    <span class="info_style_device">
                                       
                                    </span>
                                </td>*@
                                <td class="table-body-td-style rta_device_row" valign="top">
                                    <div class="rta_device_header">@Localize.T("Branch Location")</div>
                                    <div class="rta_device_info">@Html.Raw(string.Format("{0}, {1}", item.UserStreet, item.UserLocation))</div>
                                </td>
                                <td class="table-body-td-style rta_device_row" valign="top">
                                    <div class="rta_device_header">@Localize.T("Status")</div>
                                    <div class="rta_device_info">
                                        @{
                                            if (item.IsActive)
                                            {
                                                if (string.IsNullOrWhiteSpace(item.EmpStatus))
                                                {
                                                    <span style="color:#2ca01c;font-weight:600">@Localize.T("Active")</span>
                                                }
                                                else
                                                {
                                                    <span style="color:#2ca01c;font-weight:600">@item.EmpStatus</span>
                                                }
                                            }
                                            else
                                            {
                                                <span style="color:#c9c90d;font-weight:600">@Localize.T("Invited") &nbsp;&nbsp;</span>

                                                <button class="btn btn-success activate_user_recruit" data-id="@item.Id"><i class="fa fa-check" aria-hidden="true"></i>@Localize.T(" Activate")</button>

                                            }
                                        }
                                    </div>
                                </td>
                                <td class="table-body-td-style rta_device_row" valign="top">
                                    <div class="rta_device_header">@Localize.T("Last Update")</div>
                                    <div class="rta_device_info">@item.LastUpdate.ToString("MM/dd/yy")</div>
                                </td>
                                <td class="table-body-td-style rta_device_row" valign="top">
                                    <div class="rta_device_header">@Localize.T("Actions")</div>
                                    <div class="rta_device_info">
                                        @if (!item.IsActive)
                                        {
                                            if (PermissionChecker.IsPermitted(Permissions.UserMgmtPermissions.UserResendEmail))
                                            {
                                                <button class="btn btn-success" onclick="ResendInvitationMail(@item.Id)"><i class="fa fa-envelope" aria-hidden="true"></i>@Localize.T(" Resend Email")</button>
                                            }
                                        }
                                        else
                                        {
                                            if (PermissionChecker.IsPermitted(Permissions.UserMgmtPermissions.DeactivateUser))
                                            {
                                                <button class="btn btn-danger activate_user deactivate_btn" onclick="DeactivateUser(@item.Id)"><i class="fa fa-ban" aria-hidden="true"></i>@Localize.T(" Deactivate")</button>
                                            }
                                            if (item.Tags.ToLower().IndexOf(HS.Web.UI.Helper.LabelHelper.UserTags.Recruit.ToLower()) > -1)
                                            {
                                                <span class="cus-anchor assign_forms" onclick="AssignForms(@item.Id)">@Localize.T("Assign Forms")</span>
                                            }
                                        }
                                    </div>
                                   
                                </td>
                            </tr>
                                            }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ListViewLoader">
    <div>
        <div class="lds-css ng-scope">
            <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
        </div>
    </div>
    @*<div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div>*@
</div>
<div style="display:none">
    <a href="@(AppConfig.DomainSitePath)/UserMgmt/AddUser" class="addManufacturerMagnific">@Localize.T("Add New Manufacturer")</a>
</div> 
<div class="Filtertabadmin"></div>