@{
    Layout = null;
}
@model HS.Entities.Recruitmenti9Form
<script src="~/Content/Js/SignaturePad/SignaturePad.js"></script>

@if (!Model.IsPdf)
{
    <link href="~/Content/Css/Recruit/I9Form.css" rel="stylesheet" />
    <script src="~/Content/Js/Recruit/I9Form.js" ></script>
}
@Html.HiddenFor(x=>x.Id)
@Html.HiddenFor(x=>x.FormId)
@Html.HiddenFor(x=>x.Signature)

<div class="RecruitmentForm" style="width:100%; font-family:Verdana, Geneva, Tahoma, sans-serif;">
    @*Part-1 app -> _TimeAttendance.cshtml*@
    <div class="RecruitmentFormI9-div">
        <table style="border-bottom:8px solid #000; width:100%; border-collapse:collapse;border-spacing:0; padding:0px 0px 5px 0px;;">
            <tr>
                <td style="width:50%; text-align:left;" valign="bottom">
                    <div style="width:100%; text-align:left; font-size:14px; font-weight:600;">Department of Homeland Security</div>
                    <div style="width:100%; text-align:left; font-size:14px;">U.S. Citizenship and Immigration Services</div>
                </td>
                <td style="width:50%; text-align:right;" valign="middle">
                    <div style="width:100%; text-align:right; font-size:13px;">OMB No. 1615-0047; Expires 08/31/12</div>
                    <div style="width:100%; text-align:right; font-size:22px; font-weight:600;">Form I-9, Employment</div>
                    <div style="width:100%; text-align:right; font-size:22px; font-weight:600;">Eligibility Verification</div>
                </td>
            </tr>
        </table>
        <table style="border-bottom:4px solid #000; border-top:1px solid #000; width:100%; border-collapse:collapse;border-spacing:0; margin-top:3px;">
            <tr>
                <td style="width:50%; text-align:left;" valign="bottom">
                    <div style="width:100%; text-align:left; font-size:13px; padding:10px 0px;">Read instructions carefully before completing this form. The instructions must be available during completion of this form.</div>
                    <div style="width:100%; text-align:justify; font-size:14px; font-weight:600; margin-top:10px; padding-bottom:5px; letter-spacing:0px;">
                        <b style="font-size:15px; margin-right:12px;">ANTI-DISCRIMINATION NOTICE:</b>
                        It is illegal to discriminate against work-authorized individuals. Employers CANNOT
                        specify which document(s) they will accept from an employee. The refusal to hire an individual because the documents have a
                        future expiration date may also constitute illegal discrimination.

                    </div>
                </td>
            </tr>
        </table>
        <table style="width:100%; border-collapse:collapse;border-spacing:0; font-size:12px;">
            <tr>
                <td colspan="4" style="text-align:left;" valign="middle">

                    <div style="width:100%; font-size:14px; padding:5px 0px;"> <b>Section 1. Employee Information and Verification</b> <i>(To be completed and signed by employee at the time employment begins.)</i></div>

                </td>
            </tr>
            <tr style="border-top:1px solid #000; border-bottom:1px solid #000; height:32px;">
                <td style="width:30%; text-align:left;" valign="top">
                    <div style="width:100%;">Print Name: Last</div>
                    <div style="width:100%; float:left; font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.LastName</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.LastName" id="LastName" />
                        }
                    </div>
                </td>
                <td style="width:15%; text-align:left;" valign="top">
                    <div style="width:100%;">First</div>
                    <div style="width:100%; float:left;font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.FirstName</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.FirstName" id="FirstName" />
                        }
                    </div>
                </td>
                <td style="width:15%; text-align:right; padding-right:10px;" valign="top">
                    <div style="width:100%;">Middle Initial</div>
                    <div style="width:100%; float:left; font-style:italic; text-align:right; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.MiddleInitial</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.MiddleInitial" id="MiddleInitial" />
                        }
                    </div>
                </td>
                <td style="width:40%; text-align:left; border-left:1px solid #000; padding-left:10px;" valign="top">
                    <div style="width:100%;">Maiden Name</div>
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.MaidenName</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.MaidenName" id="MaidenName" />
                        }
                    </div>
                </td>
            </tr>

            <tr style="border-top:1px solid #000; border-bottom:1px solid #000; height:32px;">
                <td style="text-align:left;" valign="top">
                    <div style="width:100%;">Address <i>(Street Name and Number)</i></div>
                    <div style="width:100%; float:left; font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.Address</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.Address" id="Address" />
                        }
                    </div>
                </td>
                <td style="text-align:left;" valign="top"></td>
                <td style="text-align:left; padding-right:10px;" valign="top">
                    <div style="width:100%;">Apt. #</div>
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.Apartment</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.Apartment" id="Apartment" />
                        }
                    </div>
                </td>
                <td style="text-align:left; border-left:1px solid #000; padding-left:10px;" valign="top">
                    <div style="width:100%;">Date of Birth <i>(month/day/year)</i></div>

                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf && Model.DOB.HasValue && Model.DOB.Value != new DateTime())
                        {
                            <span>@Model.DOB.Value.ToString("MM/dd/yy")</span>
                        }
                        else if (!Model.IsPdf && Model.DOB.HasValue && Model.DOB.Value != new DateTime())
                        {
                            <input type="text" value="@Model.DOB.Value.ToString("MM/dd/yy")" id="DOB" />
                        }
                        else if (!Model.IsPdf && Model.DOB.HasValue && Model.DOB.Value == new DateTime())
                        {
                            <input type="text" value="" id="DOB" />
                        }
                    </div>
                </td>
            </tr>

            <tr style="border-top:1px solid #000; border-bottom:1px solid #000; height:32px;">
                <td style="text-align:left;" valign="top">
                    <div style="width:100%;">City</div>
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.City</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.City" id="City" />
                        }
                    </div>
                </td>
                <td style="text-align:left;" valign="top">
                    <div style="width:100%;">State</div>
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.State</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.State" id="State" />
                        }
                    </div>
                </td>
                <td style="text-align:left; padding-right:10px;" valign="top">
                    <div style="width:100%;">Zip Code</div>
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.ZipCode</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.ZipCode" id="ZipCode" />
                        }
                    </div>
                </td>
                <td style="text-align:left; border-left:1px solid #000; padding-left:10px;" valign="top">
                    <div style="width:100%;">Social Security #</div>
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.SSN</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.SSN" id="SSN" />
                        }
                    </div>
                </td>
            </tr>
        </table>
        <table style="width:100%; border-collapse:collapse;border-spacing:0; font-size:12px;">
            <tr style="border-top:1px solid #000; border-bottom:1px solid #000;">
                <td style="width:50%; text-align:left; padding-right:100px;" valign="middle">
                    <div style="width:100%; font-weight:600; font-size:14px;">
                        I am aware that federal law provides for
                        imprisonment and/or fines for false statements or
                        use of false documents in connection with the
                        completion of this form.

                    </div>
                </td>
                <td style="width:50%; text-align:left; border-left:1px solid #000; padding-bottom:10px;" valign="top">
                    @if (Model.IsPdf)
                    {
                        <div style="width:100%; float:left; padding-left:10px; padding-top:10px; height:20px;">I attest, under penalty of perjury, that I am (check one of the following):</div>
                        <div style="width:100%; float:left; padding-left:10px; padding-top:5px; height:20px;">
                            <input style="margin-right:5px;" @(Model.USCitizen.Value ? "checked" : "") type="checkbox" />
                            <span>A citizen of the United States</span>
                        </div>
                        <div style="width:100%; float:left; padding-left:10px; padding-top:5px; height:20px;">
                            <input style="margin-right:5px;" @(Model.NoncitizenNational.Value ? "checked" : "") type="checkbox" />
                            <span>A noncitizen national of the United States (see instructions)</span>
                        </div>
                        <div style="width:100%; float:left; padding-left:10px; padding-top:5px; height:20px;">
                            <input style="margin-right:5px;" @(Model.LawfulPermanentResident.Value ? "checked" : "") type="checkbox" />
                            <span>A lawful permanent resident (Alien #)</span>
                        </div>
                        <div style="width:100%; float:left; padding-left:10px; padding-top:5px; height:20px;">
                            <input style="margin-right:5px;" @(Model.AlienAuthorizedToWork.Value ? "checked" : "") type="checkbox" />
                            <span>An alien authorized to work (Alien # or Admission #)</span>
                        </div>
                        <div style="width:100%; float:left; padding-left:10px; padding-top:5px; height:20px; padding-bottom:10px;">
                            <input style="margin-right:5px;" @(Model.UntilExp.Value ? "checked" : "") type="checkbox" />
                            <span>until (expiration date, if applicable - month/day/year)</span>
                        </div>
                    }
                    else
                    {
                        <div style="width:100%; float:left; padding-left:10px; padding-top:10px; height:20px;">I attest, under penalty of perjury, that I am (check one of the following):</div>
                        <div style="width:100%; float:left; padding-left:10px; padding-top:5px; height:20px;">
                            <input style="margin-right:5px;" @(Model.USCitizen.Value ? "checked" : "") type="radio" />
                            <span>A citizen of the United States</span>
                        </div>
                        <div style="width:100%; float:left; padding-left:10px; padding-top:5px; height:20px;">
                            <input style="margin-right:5px;" @(Model.NoncitizenNational.Value ? "checked" : "") type="radio" />
                            <span>A noncitizen national of the United States (see instructions)</span>
                        </div>
                        <div style="width:100%; float:left; padding-left:10px; padding-top:5px; height:20px;">
                            <input style="margin-right:5px;" @(Model.LawfulPermanentResident.Value ? "checked" : "") type="radio" />
                            <span>A lawful permanent resident (Alien #)</span>
                        </div>
                        <div style="width:100%; float:left; padding-left:10px; padding-top:5px; height:20px;">
                            <input style="margin-right:5px;" @(Model.AlienAuthorizedToWork.Value ? "checked" : "") type="radio" />
                            <span>An alien authorized to work (Alien # or Admission #)</span>
                        </div>
                        <div style="width:100%; float:left; padding-left:10px; padding-top:5px; height:20px; padding-bottom:10px;">
                            <input style="margin-right:5px;" @(Model.UntilExp.Value ? "checked" : "") type="radio" />
                            <span>until (expiration date, if applicable - <input type="text" placeholder="mm/dd/yy (need to add)" /></span>
                        </div>
                    }
                </td>
            </tr>
            <tr style="border-bottom:3px solid #000; height:35px;">
                <td style="width:50%; text-align:left;" valign="top">
                    <div style="width:50%; float:left;">Employee's Signature</div>
                    <div class="SignatureDiv" style="width:50%; float:left; background-color:#f4f5f8; font-style:italic">
                        @if (!string.IsNullOrWhiteSpace(Model.Signature))
                        {
                            <img src="@(HS.Framework.Utils.AppConfig.SiteDomain + Model.Signature)" />
                        }
                    </div>
                </td>
                <td style="width:50%; text-align:left;" valign="top">
                    <div style="width:100%; float:left; padding-left:10px;">Date (month/day/year)</div>
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf && Model.SignatureDate.HasValue && Model.SignatureDate != new DateTime())
                        {
                            <span>@Model.SignatureDate.Value.ToString("MM/dd/yy")</span>
                        }
                        else if (!Model.IsPdf && Model.SignatureDate != null && Model.SignatureDate != new DateTime())
                        {
                            <input type="text" value="@Model.SignatureDate.Value.ToString("MM/dd/yy")" id="SignatureDate" />
                        }
                        else if (!Model.IsPdf && Model.SignatureDate != null && Model.SignatureDate == new DateTime())
                        {
                            <input type="text" value="" id="SignatureDate" />
                        }
                    </div>
                </td>
            </tr>
        </table>
        <div style="width:100%; text-align:left; font-size:12px; padding:5px 0px;">
            <b style="font-size:14px;margin-right:5px;">Preparer and/or Translator Certification</b>
            <i>
                (To be completed and signed if Section 1 is prepared by a person other than the employee.) I attest, under
                penalty of perjury, that I have assisted in the completion of this form and that to the best of my knowledge the information is true and correct.
            </i>

        </div>
        <table style="width:100%; border-collapse:collapse;border-spacing:0; font-size:12px; margin-top:5px;">
            <tr style="border-bottom:1px solid #000;border-top:1px solid #000; height:32px">
                <td colspan="2" valign="top">
                    <div style="width:50%; float:left;">Preparer's/Translator's Signature</div>
                    <div style="width:50%; height:30px; float:left; background-color:#f4f5f8; font-style:italic"><img /></div>
                </td>
                <td colspan="2" style="border-left:1px solid #000; padding-left:10px;" valign="top">
                    <div style="width:100%;">Print Name</div>
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.TransPrintName</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.TransPrintName" id="TransPrintName" />
                        }
                    </div>
                </td>
            </tr>
            <tr style="height:32px" valign="top">
                <td colspan="3" valign="top">
                    <div style="width:100%;">Address <i>(Street Name and Number, City, State, Zip Code)</i></div>
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.TransAddress</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.TransAddress" id="TransAddress" />
                        }
                    </div>
                </td>

                <td style="border-left:1px solid #000; padding-left:10px;" valign="top">
                    <div style="width:100%;">Date <i>(month/day/year)</i></div>
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf && Model.TransSignaturedate.HasValue && Model.TransSignaturedate.Value != new DateTime())
                        {
                            <span>@Model.TransSignaturedate.Value.ToString("MM/dd/yy")</span>
                        }
                        else if (!Model.IsPdf && Model.TransSignaturedate.HasValue && Model.TransSignaturedate.Value != new DateTime())
                        {
                            <input type="text" value="@Model.TransSignaturedate.Value.ToString("MM/dd/yy")" id="TransSignaturedate" />
                        }
                        else if (!Model.IsPdf && Model.TransSignaturedate.HasValue && Model.TransSignaturedate.Value == new DateTime())
                        {
                            <input type="text" value="" id="TransSignaturedate" />
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td width="25%"></td>
                <td width="25%"></td>
                <td width="25%"></td>
                <td width="25%"></td>
            </tr>


        </table>
        <div style="width:100%; text-align:left; font-size:12px; border-top:3px solid #000; padding:5px 0px;">
            <b style="font-size:14px;margin-right:5px;">Section 2.</b>
            <i>
                Employer Review and Verification (To be completed and signed by employer. Examine one document from List A OR
                examine one document from List B and one from List C, as listed on the reverse of this form, and record the title, number, and
                expiration date, if any, of the document(s).)
            </i>

        </div>


        @*Part-2 app-> _Vendor.cshtml*@
        <table style="width:100%; border-collapse:collapse; border-spacing:0; font-size:12px; margin-top:5px; border-top:1px solid #000; border-bottom:1px solid #000;">
            <tr style="font-size:16px; font-weight:600; text-align:center;">
                <td width="35%">List A</td>
                <td width="3%">OR</td>
                <td width="26%">List B</td>
                <td width="10%">AND</td>
                <td width="26%">List C</td>
            </tr>
            <tr style="height:30px;">
                <td style="border-bottom:1px solid #808080;">
                    <div style="float:left;">Document title:</div>
                    <div style="float:left; padding-left:10px; font-style:italic;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.DocTitleListA</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.DocTitleListA" id="DocTitleListA" />
                        }
                    </div>
                </td>
                <td rowspan="6" style="background-color:#ccc;"></td>
                <td style="border-bottom:1px solid #808080; text-align:center;">
                    @if (Model.IsPdf)
                    {
                        <span>@Model.DoctTitleListB</span>
                    }
                    else
                    {
                        <input type="text" value="@Model.DoctTitleListB" id="DoctTitleListB" />
                    }
                </td>
                <td rowspan="6"></td>
                <td style="border-bottom:1px solid #808080; text-align:center;">
                    @if (Model.IsPdf)
                    {
                        <span>@Model.DoctTitleListC</span>
                    }
                    else
                    {
                        <input type="text" value="@Model.DoctTitleListC" id="DoctTitleListC" />
                    }
                </td>
            </tr>
            <tr style="height:30px;">
                <td style="border-bottom:1px solid #808080;">
                    <div style="float:left;">Issuing authority:</div>
                    <div style="float:left; padding-left:10px; font-style:italic;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.IssuingAuthorityListA</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.IssuingAuthorityListA" id="IssuingAuthorityListA" />
                        }
                    </div>
                </td>

                <td style="border-bottom:1px solid #808080; text-align:center;">
                    @if (Model.IsPdf)
            {
                        <span>@Model.IssuingAuthorityListB</span>
                    }
                    else
                    {
                        <input type="text" value="@Model.IssuingAuthorityListB" id="IssuingAuthorityListB" />
                    }
                </td>

                <td style="border-bottom:1px solid #808080; text-align:center;">
                    @if (Model.IsPdf)
            {
                        <span>@Model.IssuingAuthorityListC</span>
                    }
                    else
                    {
                        <input type="text" value="@Model.IssuingAuthorityListC" id="IssuingAuthorityListC" />
                    }
                </td>
            </tr>
            <tr style="height:30px;">
                <td style="border-bottom:1px solid #808080;">
                    <div style="float:left;">Document #:</div>
                    <div style="float:left; padding-left:10px; font-style:italic;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.Doc1ListA</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.Doc1ListA" id="Doc1ListA" />
                        }
                    </div>
                </td>

                <td style="border-bottom:1px solid #808080; text-align:center;">
                    @if (Model.IsPdf)
            {
                        <span>@Model.Doc1ListB</span>
                    }
                    else
                    {
                        <input type="text" value="@Model.Doc1ListB" id="Doc1ListB" />
                    }
                </td>

                <td style="border-bottom:1px solid #808080; text-align:center;">
                    @if (Model.IsPdf)
            {
                        <span>@Model.Doc1ListC</span>
                    }
                    else
                    {
                        <input type="text" value="@Model.Doc1ListC" id="Doc1ListC" />
                    }
                </td>
            </tr>
            <tr style="height:30px;">
                <td style="padding-left:20px; border-bottom:1px solid #808080;">
                    <div style="float:left">Expiration Date (if any):</div>
                    <div style="float:left; padding-left:10px; font-style:italic;">
                        @if (Model.Exp1ListA.HasValue && Model.IsPdf && Model.Exp1ListA.Value != new DateTime())
                        {
                            <span>@Model.Exp1ListA.Value.ToString("MM/dd/yy")</span>
                        }
                        else if (!Model.IsPdf && Model.Exp1ListA.HasValue && Model.Exp1ListA.Value != new DateTime())
                        {
                            <input type="text" value="@Model.Exp1ListA.Value.ToString("MM/dd/yy")" id="Exp1ListA" />
                        }
                        else if (!Model.IsPdf && Model.Exp1ListA.HasValue && Model.Exp1ListA.Value == new DateTime())
                        {
                            <input type="text" value="" id="Exp1ListA" />
                        }
                    </div>
                </td>

                <td style="border-bottom:1px solid #808080; text-align:center;">
                    @if (Model.Exp1ListB.HasValue && Model.IsPdf && Model.Exp1ListB.Value != new DateTime())
                    {
                        <span>@Model.Exp1ListB.Value.ToString("MM/dd/yy")</span>
                    }
                    else if (Model.Exp1ListB.HasValue && Model.Exp1ListB.Value != new DateTime())
                    {
                        <input type="text" value="@Model.Exp1ListB.Value.ToString("MM/dd/yy")" id="Exp1ListB" />
                    }
                    else if (Model.Exp1ListB.HasValue && Model.Exp1ListB.Value == new DateTime())
                    {
                        <input type="text" value="" id="Exp1ListB" />
                    }
                </td>

                <td style="border-bottom:1px solid #808080; text-align:center;">
                    @if (Model.Exp1ListC.HasValue && Model.IsPdf && Model.Exp1ListC.Value != new DateTime())
                    {
                        <span>@Model.Exp1ListC.Value.ToString("MM/dd/yy")</span>
                    }
                    else if (Model.Exp1ListC.HasValue && Model.Exp1ListC.Value != new DateTime())
                    {
                        <input type="text" value="@Model.Exp1ListC.Value.ToString("MM/dd/yy")" id="Exp1ListC" />
                    }
                    else if (Model.Exp1ListC.HasValue && Model.Exp1ListC.Value == new DateTime())
                    {
                        <input type="text" value="" id="Exp1ListC" />
                    }
                </td>
            </tr>
            <tr style="height:30px;">
                <td style="border-bottom:1px solid #808080;">
                    <div style="float:left;">Document #:</div>
                    <div style="float:left; padding-left:10px; font-style:italic;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.Doc2ListA</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.Doc2ListA" id="Doc2ListA" />
                        }
                    </div>
                </td>

                <td style="border-bottom:1px solid #808080; text-align:center;">
                    @if (Model.IsPdf)
                    {
                        <span>@Model.Doc2ListB</span>
                    }
                    else
                    {
                        <input type="text" value="@Model.Doc2ListB" id="Doc2ListB" />
                    }
                </td>

                <td style="border-bottom:1px solid #808080; text-align:center;">
                    @if (Model.IsPdf)
            {
                        <span>@Model.Doc2ListC</span>
                    }
                    else
                    {
                        <input type="text" value="@Model.Doc2ListC" id="Doc2ListC" />
                    }
                </td>
            </tr>
            <tr style="height:30px;">
                <td style="padding-left:20px; border-bottom:1px solid #808080;">
                    <div style="float:left">Expiration Date (if any):</div>
                    <div style="float:left; padding-left:10px; font-style:italic;">
                        @if (Model.Exp2ListA.HasValue && Model.IsPdf && Model.Exp2ListA.Value != new DateTime())
                        {
                            <span>@Model.Exp2ListA.Value.ToString("MM/dd/yy")</span>
                        }
                        else if (Model.Exp2ListA.HasValue && Model.Exp2ListA.Value != new DateTime())
                        {
                            <input type="text" value="@Model.Exp2ListA.Value.ToString("MM/dd/yy")" id="Exp2ListA" />
                        }
                        else if (Model.Exp2ListA.HasValue && Model.Exp2ListA.Value == new DateTime())
                        {
                            <input type="text" value="" id="Exp2ListA" />
                        }
                    </div>
                </td>

                <td style="border-bottom:1px solid #808080; text-align:center;">
                    @if (Model.Exp2ListB.HasValue && Model.IsPdf && Model.Exp2ListB.Value != new DateTime())
                    {
                        <span>@Model.Exp2ListB.Value.ToString("MM/dd/yy")</span>
                    }
                    else if (Model.Exp2ListB.HasValue && Model.Exp2ListB.Value != new DateTime())
                    {
                        <input type="text" value="@Model.Exp2ListB.Value.ToString("MM/dd/yy")" id="Exp2ListB" />
                    }
                    else if (Model.Exp2ListB.HasValue && Model.Exp2ListB.Value == new DateTime())
                    {
                        <input type="text" value="" id="Exp2ListB" />
                    }
                </td>

                <td style="border-bottom:1px solid #808080; text-align:center;">
                    @if (Model.Exp2ListC.HasValue && Model.IsPdf && Model.Exp2ListC.Value != new DateTime())
                    {
                        <span>@Model.Exp2ListC.Value.ToString("MM/dd/yy")</span>
                    }
                    else if (Model.Exp2ListC.HasValue && Model.Exp2ListC.Value != new DateTime())
                    {
                        <input type="text" value="@Model.Exp2ListC.Value.ToString("MM/dd/yy")" id="Exp2ListC" />
                    }
                    else if (Model.Exp2ListC.HasValue && Model.Exp2ListC.Value == new DateTime())
                    {
                        <input type="text" value="" id="Exp2ListC" />
                    }
                </td>
            </tr>
        </table>
        <div style="width:100%; text-align:left; font-size:12px; padding:5px 0px;">
            <b style="font-size:14px;margin-right:5px;">CERTIFICATION:</b>
            <b>
                I attest, under penalty of perjury, that I have examined the document(s) presented by the above-named employee, that
                the above-listed document(s) appear to be genuine and to relate to the employee named, that the employee began employment on
                <i style="font-weight:normal;">(month/day/year)</i><span style="font-weight:normal;">
                    @if (Model.BeganEmploymentOn.HasValue && Model.IsPdf && Model.BeganEmploymentOn.Value != new DateTime())
                    {
                        <span style="text-decoration:underline;">@Model.BeganEmploymentOn.Value.ToString("MM/dd/yy")</span>
                    }
                    else if (Model.BeganEmploymentOn.HasValue && Model.BeganEmploymentOn.Value != new DateTime())
                    {
                        <input type="text" value="@Model.BeganEmploymentOn.Value.ToString("MM/dd/yy")" id="BeganEmploymentOn" />
                    }
                </span> and that to the best of my knowledge the employee is authorized to work in the United States. (State
                employment agencies may omit the date the employee began employment.)
            </b>
        </div>
        <table style="width:100%; border-collapse:collapse;border-spacing:0; font-size:12px; margin-top:5px;">
            <tr style="border-bottom:1px solid #000;border-top:1px solid #000; height:32px">
                <td valign="top">
                    <div style="width:50%; float:left;">Signature of Employer or Authorized Representative</div>
                    <div style="width:50%; height:30px; float:left; background-color:#f4f5f8; font-style:italic"><img /></div>
                </td>
                <td style="border-left:1px solid #000; padding-left:10px;" valign="top">

                    <div style="width:100%;">Print Name</div>
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span style="">@Model.AuthRepresentativeName</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.AuthRepresentativeName" id="BeganEmploymentOn" />
                        }
                    </div>

                </td>
                <td style="border-left:1px solid #000; padding-left:10px;" valign="top">
                    <div style="width:100%;">Title</div>
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span style="">@Model.AuthRepresentativeTitle</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.AuthRepresentativeTitle" id="AuthRepresentativeTitle" />
                        }
                    </div>
                </td>
            </tr>
            <tr style="border-bottom:3px solid #000; height:32px" valign="top">
                <td colspan="2" valign="top">
                    <div style="width:100%;">Business or Organization Name and Address <i>(Street Name and Number, City, State, Zip Code)</i></div>
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span style="">@Model.OrgNameAndAddress</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.OrgNameAndAddress" id="OrgNameAndAddress" />
                        }
                    </div>
                </td>
                <td style="border-left:1px solid #000; padding-left:10px;" valign="top">

                    <div style="width:100%;">Date <i>(month/day/year)</i></div>
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf && Model.AuthRepSignatureDate != null)
                        {
                            <span style="">@Model.AuthRepSignatureDate.Value.ToString("MM/dd/yy")</span>
                        }
                        else if (!Model.IsPdf && Model.AuthRepSignatureDate.HasValue && Model.AuthRepSignatureDate.Value != new DateTime())
                        {
                            <input type="text" value="@Model.AuthRepSignatureDate.Value.ToString("MM/dd/yy")" id="AuthRepSignatureDate" />
                        }
                        else if (!Model.IsPdf && Model.AuthRepSignatureDate.HasValue && Model.AuthRepSignatureDate.Value == new DateTime())
                        {
                            <input type="text" value="" id="AuthRepSignatureDate" />
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td width="50%"></td>
                <td width="25%"></td>
                <td width="25%"></td>
            </tr>
        </table>
        <div style="width:100%; text-align:left; font-size:12px; padding:5px 0px;">
            <b style="font-size:14px;margin-right:5px;">Section 3. Updating and Reverification </b>
            <i>
                (To be completed and signed by employer.)
            </i>
        </div>
        <div style="width:100%; border-top: 1px solid #000; font-size:11px;">
            <div style="width:65%; float:left; text-align:left; height:32px; vertical-align:top;">
                <div style="width:100%;">A. New Name (if applicable)</div>
                <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                    @if (Model.IsPdf)
                    {
                        <span style="">@Model.NewName</span>
                    }
                    else
                    {
                        <input type="text" value="@Model.NewName" id="NewName" />
                    }
                </div>
            </div>
            <div style="width:35%; float:left; text-align:left; height:32px; vertical-align:top; border-left:1px solid #000;">

                <div style="width:100%;">B. Date of Rehire (month/day/year) (if applicable)</div>
                <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                    @if (Model.DateOfRehire.HasValue && Model.IsPdf && Model.DateOfRehire.Value != new DateTime())
                    {
                        <span style="">@Model.DateOfRehire.Value.ToString("MM/dd/yy")</span>
                    }
                    else if (!Model.IsPdf && Model.DateOfRehire.HasValue && Model.DateOfRehire.Value != new DateTime())
                    {
                        <input type="text" value="@Model.DateOfRehire.Value.ToString("MM/dd/yy")" id="DateOfRehire" />
                    }
                    else if (!Model.IsPdf && Model.DateOfRehire.HasValue && Model.DateOfRehire.Value == new DateTime())
                    {
                        <input type="text" value="" id="DateOfRehire" />
                    }
                </div>
            </div>
        </div>
        <table style="width:100%; border-collapse:collapse;border-spacing:0; font-size:11px; border-top:1px solid #000;">
            <tr>
                <td colspan="6" style="text-align:justify;">C. If employee's previous grant of work authorization has expired, provide the information below for the document that establishes current employment authorization.</td>
            </tr>
            <tr style="height:20px;">
                <td style="width:12%;">Document Title:</td>
                <td style="width:20%; border-bottom:1px solid #000;">
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span style="">@Model.PrevDocTitle</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.PrevDocTitle" id="PrevDocTitle" />
                        }
                    </div>
                </td>
                <td style="width:9%;">Document #:</td>
                <td style="width:20%; border-bottom:1px solid #000;">
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span style="">@Model.PrevDocNo</span>
                        }
                        else
                        {
                            <input type="text" value="@Model.PrevDocNo" id="PrevDocNo" />
                        }
                    </div>
                </td>
                <td style="width:19%;">Expiration Date (if any):</td>
                <td style="width:20%; border-bottom:1px solid #000;">
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.PrevDocExp.HasValue && Model.IsPdf && Model.PrevDocExp.Value != new DateTime())
                        {
                            <span style="">@Model.PrevDocExp.Value.ToString("MM/dd/yy")</span>
                        }
                        else if (!Model.IsPdf && Model.PrevDocExp.HasValue && Model.PrevDocExp.Value != new DateTime())
                        {
                            <input type="text" value="@Model.PrevDocExp.Value.ToString("MM/dd/yy")" id="PrevDocExp" />
                        }
                        else if (!Model.IsPdf && Model.PrevDocExp.HasValue && Model.PrevDocExp.Value == new DateTime())
                        {
                            <input type="text" value="" id="PrevDocExp" />
                        }
                    </div>
                </td>
            </tr>

        </table>
        <div style="width:100%; text-align:justify; font-size:12px; font-weight:600; border-top:1px solid #000; margin-top:5px; padding:5px 0px;">
            l attest, under penalty of perjury, that to the best of my knowledge, this employee is authorized to work in the United States, and if the employee presented
            document(s), the document(s) l have examined appear to be genuine and to relate to the individual.
        </div>
        <table style="width:100%; border-collapse:collapse;border-spacing:0; font-size:11px; border-top:1px solid #000;">
            <tr style="height:35px;">
                <td style="width:65%;" valign="top">
                    <div style="width:50%; float:left;">Signature of Employer or Authorized Representative</div>
                    <div style="width:50%; height:30px; float:left; background-color:#f4f5f8; font-style:italic"><img /></div>
                </td>
                <td style="width:35%; border-left:1px solid #000;padding-left:10px;" valign="top">
                    <div style="width:100%;">Date <i>(month/day/year)</i></div>
                    <div style="width:100%; float:left;  font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf && Model.AuthRepSignatureDate2.HasValue && Model.AuthRepSignatureDate2.Value != new DateTime())
                        {
                            <span style="">@Model.AuthRepSignatureDate2.Value.ToString("MM/dd/yy")</span>
                        }
                        else if (!Model.IsPdf && Model.AuthRepSignatureDate2.HasValue && Model.AuthRepSignatureDate2.Value != new DateTime())
                        {
                            <input type="text" value="@Model.AuthRepSignatureDate2.Value.ToString("MM/dd/yy")" id="AuthRepSignatureDate2" />
                        }
                        else if (!Model.IsPdf && Model.AuthRepSignatureDate2.HasValue && Model.AuthRepSignatureDate2.Value == new DateTime())
                        {
                            <input type="text" value="" id="AuthRepSignatureDate2" />
                        }
                    </div>

                </td>
            </tr>
        </table>
        @if (Model.IsPdf)
        {
            <table style="width:100%;margin-top:15px; border-collapse:collapse;border-spacing:0;">
                <tr>
                    <td style="width:33%; text-align:left; padding-left:15px;">
                        IP Address<br />@Model.Ipadd
                    </td>
                    <td style="width:33%;">
                        User Agent<br />@Model.UserAg
                    </td>
                    <td style="width:33%;">
                        Timestamp<br />@Model.Tstamp
                    </td>
                </tr>
            </table>
        }
        
    </div>
    
    @if (!Model.IsPdf)
    {
        <div class="sign-document hidden">
            <div class="wrapper">
                <canvas id="signature-pad" class="signature-pad" width=300 height=100 style="float:left;"></canvas>
            </div>
            <button class="btn all_button" id="save-png" data-id="@Model.Id"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn all_button" id="clear"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Clear</button>
        </div>
    }
</div>
@if (!Model.IsPdf)
{
    <table style="width:100%;margin-top:15px; border-collapse:collapse;border-spacing:0;">
        <tr>
            <td style="width:50%; text-align:left; padding-left:15px;">
                <button class="form-control btn-SaveSignature" style="float:left;margin-right:20px; width:150px;">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Save Signature
                </button>
            </td>
            <td style="width:50%; text-align:right">
                <button class="btn btn-success" @*@(string.IsNullOrWhiteSpace(Model.Signature)? "disabled='disabled'":"")*@  style="float:right;margin-right:20px; width:150px;" onclick="SaveI9Form()">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Save I9 Form
                </button>
            </td>
        </tr>
    </table>
    @*<div style="height:70px; width:100%; padding-top:15px;float:left;">
        <button class="form-control btn-success" style="float:right;margin-right:20px; width:150px;" onclick="SaveI9Form()">
            <i class="fa fa-check" aria-hidden="true"></i>
            Submit I9 Form
        </button>
    </div>*@
}
