@{
    Layout = null;
}
@model HS.Entities.RecruitmentW4Form
<script src="~/Content/Js/SignaturePad/SignaturePad.js"></script>

@if (!Model.IsPdf)
{
    <style>
    .RecruitmentW4Form input[type=text] {
        padding: 0px;
        width: unset;
    }

    .RecruitmentW4Form {
        margin: 20px;
    }
    .wrapper {
        border: 1px solid #ccc;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 9px 9px 9px 0px;
        position: relative;
        width: 935px;
        height: 350px;
        margin-right:35px;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .signature-pad {
        position: absolute;
        left: 0;
        top: 0;
        width: 300px;
        height: 100px;
        background-color:#ccc;
    }
    </style>

    <script src="~/Content/Js/Recruit/W4Form.js"></script>
}

@Html.HiddenFor(x=>x.Signature)

<div class="RecruitmentW4Form" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">
    <input type="hidden" id="FormId" value="@Model.FormId" />
    <input type="hidden" id="ThisId" value="@Model.Id" />
       @*File part 1 app-> _Vendor.cshtml*@
<div class="RecruitmentW4Form-div">
        <div style="border:6px solid #000; padding:25px 25px 30px 25px;">
            <div style="height:270px; text-align:center;">
                <img style="width:180px; margin-top:65px;" src="~/Content/img/RecruitmentW4.png" />
            </div>
            <div style="color:#ff0000; text-align:center; font-size:40px; font-weight:600;">Caution: <i>DRAFT—NOT FOR FILING</i></div>
            <div style="font-size:23px; color:#000; text-align:justify; margin-top:12px; line-height:35px;">
                &nbsp; &nbsp; This an early release draft of an IRS tax form, instructions, or
                publication, which the IRS is providing for your information as a courtesy.
                <b>Do not file draft forms.</b> Also, do <b>not</b> rely on draft forms, instructions, and
                publications for filing. We generally do not release drafts of forms until we
                believe we have incorporated all changes. However, unexpected issues
                sometimes arise, or legislation is passed, necessitating a change to a draft
                form. In addition, forms generally are subject to OMB approval before they
                can be officially released. Drafts of instructions and publications usually
                have at least some changes before being officially released.
                Early release drafts are at <a href="javascript:void(0)">IRS.gov/DraftForms</a>, and may remain there
                even after the final release is posted at <a href="javascript:void(0)">IRS.gov/DownloadForms</a>. All
                information about all forms, instructions, and pubs is at <a href="javascript:void(0)">IRS.gov/Forms</a>.
                Almost every form and publication also has its own page on IRS.gov. For
                example, the Form 1040 page is at <a href="javascript:void(0)">IRS.gov/Form1040</a>; the Publication 17
                page is at <a href="javascript:void(0)">IRS.gov/Pub17</a>; the Form W-4 page is at <a href="javascript:void(0)">IRS.gov/W4</a>; and the
                Schedule A (Form 1040) page is at <a href="javascript:void(0)">IRS.gov/ScheduleA</a>. If typing in a link
                above instead of clicking on it, be sure to type the link into the address bar
                of your browser, not in a Search box. Note that these are friendly shortcut
                links that will automatically go to the actual link for the page.
                If you wish, you can submit comments about draft or final forms,
                instructions, or publications at <a href="javascript:void(0)">IRS.gov/FormsComments</a>. We cannot
                respond to all comments due to the high volume we receive. Please note that
                we may not be able to consider many suggestions until the subsequent
                revision of the product.
            </div>
        </div>
        <div style="padding:0px; margin-top:50px; font-size:11px; display:table;">
            <div style="width:33%; float:left;">
                <div style="border-bottom:4px solid #000;">
                    <span style="font-size:30px; font-weight:600;">Form W-4 (2018)</span>
                </div>
                <div style="margin-top:5px; letter-spacing:1px;">
                    <b> Purpose.</b> Complete Form W-4 so that your
                    employer can withhold the correct federal income
                    tax from your pay. Consider completing a new Form
                    W-4 each year and when your personal or financial
                    situation changes.
                </div>
                <div style="margin-top:5px; letter-spacing:1px;">
                    <b>Exemption from withholding.</b> If you are exempt,
                    complete only lines 1, 2, 3, 4, and 7 and sign the
                    form to validate it. Your exemption for 2018 expires
                    February 15, 2019. See Pub. 505, Tax Withholding
                    and Estimated Tax.
                </div>
                <div style="margin-top:5px; letter-spacing:1px;">
                    <b> Note:</b> If another person can claim you as a dependent
                    on his or her tax return, you can’t claim exemption
                    from withholding if your total income exceeds $X,XXX
                    and includes more than $XXX of unearned income (for
                    example, interest and dividends).
                </div>
                <div style="margin-top:5px; letter-spacing:1px;">
                    <b>Exceptions.</b> An employee may be able to claim
                    exemption from withholding even if the employee is
                    a dependent, if the employee:
                    <ul style="margin-left: -10px; margin-top: 0px;margin-bottom: 0px;">
                        <li>
                            Is age 65 or older,
                        </li>
                        <li>
                            Is blind, or
                        </li>
                        <li>
                            Will claim adjustments to income; tax credits; or
                            itemized deductions, on his or her tax return.
                        </li>
                    </ul>
                    The exceptions don’t apply to supplemental wages
                    greater than $1,000,000.
                </div>
            </div>
            <div style="width:33%; float:left; margin-left:5px;">
                <div style="margin-top:5px; letter-spacing:1px;">
                    <b>Basic instructions.</b> If you aren’t exempt, complete
                    the Personal Allowances Worksheet below. The
                    worksheets on page 2 further adjust your
                    withholding allowances based on itemized
                    deductions, certain credits, adjustments to income,
                    or two-earners/multiple jobs situations.
                    Complete all worksheets that apply. However, you
                    may claim fewer (or zero) allowances. For regular
                    wages, withholding must be based on allowances
                    you claimed and may not be a flat amount or
                    percentage of wages.
                </div>
                <div style="margin-top:5px; letter-spacing:1px;">
                    <b>Head of household.</b> Generally, you can claim head
                    of household filing status on your tax return only if
                    you are unmarried and pay more than 50% of the
                    costs of keeping up a home for yourself and your
                    dependent(s) or other qualifying individuals. See
                    Pub. 501, Exemptions, Standard Deduction, and
                    Filing Information, for information.
                </div>
                <div style="margin-top:5px; letter-spacing:1px;">
                    <b> Tax credits.</b> You can take projected tax credits into
                    account in figuring your allowable number of
                    withholding allowances. Credits for child or dependent
                    care expenses and the child tax credit may be claimed
                    using the Personal Allowances Worksheet below.
                    See Pub. 505 for information on converting your other
                    credits into withholding allowances.
                </div>
            </div>
            <div style="width:33%; float:right;">
                <div style="margin-top:5px; letter-spacing:1px;">
                    <b>Nonwage income.</b> If you have a large amount of
                    nonwage income, such as interest or dividends,
                    consider making estimated tax payments using Form
                    1040-ES, Estimated Tax for Individuals. Otherwise,
                    you may owe additional tax. If you have pension or
                    annuity income, see Pub. 505 to find out if you should
                    adjust your withholding on Form W-4 or W-4P.

                </div>
                <div style="margin-top:5px; letter-spacing:1px;">
                    <b>Two earners or multiple jobs.</b> If you have a
                    working spouse or more than one job, figure the
                    total number of allowances you are entitled to claim
                    on all jobs using worksheets from only one Form
                    W-4. Your withholding usually will be most accurate
                    when all allowances are claimed on the Form W-4
                    for the highest paying job and zero allowances are
                    claimed on the others. See Pub. 505 for details.
                </div>
                <div style="margin-top:5px; letter-spacing:1px;">
                    <b>Nonresident alien.</b> If you are a nonresident alien, see
                    Notice 1392, Supplemental Form W-4 Instructions for
                    Nonresident Aliens, before completing this form.
                </div>
                <div style="margin-top:5px; letter-spacing:1px;">
                    <b> Check your withholding.</b> After your Form W-4 takes
                    effect, use Pub. 505 to see how the amount you are
                    having withheld compares to your projected total tax
                    for 2018. See Pub. 505, especially if your earnings
                    exceed $XXX,XXX (Single) or $XXX,XXX (Married).
                </div>
                <div style="margin-top:5px; letter-spacing:1px;">
                    <b>Future developments.</b> Information about any future
                    developments affecting Form W-4 (such as
                    legislation enacted after we release it) will be posted
                    at www.irs.gov/FormW4.
                </div>
            </div>
        </div>
        <div style="border-top:2px solid #000; border-bottom:2px solid #ccc; font-size:20px; text-align:center;">
            <span>Personal Allowances Worksheet (Keep for your records.)</span>
        </div>
        <table style="width:100%; font-size:12px; border-bottom:2px solid #000;">
            <tr>
                <td width="3%;" valign="top"><b>A</b></td>
                <td width="85%" valign="top">Enter “1” for <b>yourself</b> if no one else can claim you as a dependent . . . . . . . . . . . . . . . </td>
                <td width="12%" valign="top" style="text-align:right">
                    <div style="width:20%; float:left; font-weight:600;">A</div>
                    <div style="width:80%; float:right; border-bottom:1px solid #000; font-style:italic; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.AllowanceWorksheetA</span>
                        }
                        else
                        {
                            <input style="width:100px;" type="text" id="AllowanceWorksheetA" value="@Model.AllowanceWorksheetA" placeholder="" maxlength="1" />
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td width="3%;" valign="top"><b>B</b></td>
                <td width="85%" valign="top">
                    <div style="width:100%">
                        <div style="width:15%; float:left;">Enter “1” for</div>
                        <div style="width:85%; float:left;">
                            <ul style="margin-top:0px; margin-bottom:0px; margin-left:-25px;">
                                <li>You’re single and have only one job; or</li>
                                <li>You’re married, have only one job, and your spouse doesn’t work; or</li>
                                <li>Your wages from a second job or your spouse’s wages (or the total of both) are $X,XXX or less</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td width="12%" valign="bottom" style="text-align:right">
                    <div style="width:20%; float:left; font-weight:600;">B</div>
                    <div style="width:80%; float:right; border-bottom:1px solid #000; font-style:italic; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.AllowanceWorksheetB</span>
                        }
                        else
                        {
                            <input style="width:100px;" type="text" id="AllowanceWorksheetB" value="@Model.AllowanceWorksheetB" placeholder="" maxlength="1" />
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td width="3%;" valign="top"><b>C</b></td>
                <td width="85%" valign="top">Enter “1” for your <b>spouse</b>. But, you may choose to enter “-0-” if you are married and have either a working spouse or more than one job. (Entering “-0-” may help you avoid having too little tax withheld.) . . . . . . . . . . . . .</td>
                <td width="12%" valign="bottom" style="text-align:right">
                    <div style="width:20%; float:left; font-weight:600;">C</div>
                    <div style="width:80%; float:right; border-bottom:1px solid #000; font-style:italic; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.AllowanceWorksheetC</span>
                        }
                        else
                        {
                            <input style="width:100px;" type="text" id="AllowanceWorksheetC" value="@Model.AllowanceWorksheetC" placeholder="" maxlength="50" />
                        }
                    </div>
                </td>

            </tr>
            <tr>
                <td width="3%;" valign="top"><b>D</b></td>
                <td width="85%" valign="top">Enter number of <b>dependents</b> (other than your spouse or yourself) you will claim on your tax return . . . . . . </td>
                <td width="12%" valign="bottom" style="text-align:right">
                    <div style="width:20%; float:left; font-weight:600;">D</div>
                    <div style="width:80%; float:right; border-bottom:1px solid #000; font-style:italic; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.AllowanceWorksheetD</span>
                        }
                        else
                        {
                            <input style="width:100px;" type="text" id="AllowanceWorksheetD" value="@Model.AllowanceWorksheetD" placeholder="" maxlength="1" />
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td width="3%;" valign="top"><b>E</b></td>
                <td width="85%" valign="top">Enter “1” if you will file as <b>head of household</b> on your tax return (see conditions under Head of household above) . .</td>
                <td width="12%" valign="bottom" style="text-align:right">
                    <div style="width:20%; float:left; font-weight:600;">E</div>
                    <div style="width:80%; float:right; border-bottom:1px solid #000; font-style:italic; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.AllowanceWorksheetE</span>
                        }
                        else
                        {
                            <input style="width:100px;" type="text" id="AllowanceWorksheetE" value="@Model.AllowanceWorksheetE" placeholder="" maxlength="1" />
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td width="3%;" valign="top"><b>F</b></td>
                <td width="85%" valign="top">
                    <div style="width:100%;">Enter “1” if you have at least $ X,XXX of <b>child or dependent care expenses</b> for which you plan to claim a credit . . .</div>
                    (<b>Note:</b>Do not include child support payments. See Pub. 503, Child and Dependent Care Expenses, for details.)
                </td>
                <td width="12%" valign="top" style="text-align:right">
                    <div style="width:20%; float:left; font-weight:600;">F</div>
                    <div style="width:80%; float:right; border-bottom:1px solid #000; font-style:italic; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.AllowanceWorksheetF</span>
                        }
                        else
                        {
                            <input style="width:100px;" type="text" id="AllowanceWorksheetF" value="@Model.AllowanceWorksheetF" placeholder="" maxlength="1" />
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td width="3%;" valign="top"><b>G</b></td>
                <td width="85%" valign="top">
                    <b>Child Tax Credit</b> (including additional child tax credit). See Pub. 972, Child Tax Credit, for more information.<br />
                    • If your total income will be less than $XX,XXX ($XXX,XXX if married), enter “2” for each eligible child; then less “1” if you have two to four eligible children or less “2” if you have five or more eligible children.<br />
                    • If your total income will be between $XX,XXX and $XX,XXX ($XXX,XXX and $XXX,XXX if married), enter “1” for each eligible child . . . . . .
                </td>
                <td width="12%" valign="bottom" style="text-align:right">
                    <div style="width:20%; float:left; font-weight:600;">G</div>
                    <div style="width:80%; float:right; border-bottom:1px solid #000; font-style:italic; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.AllowanceWorksheetG</span>
                        }
                        else
                        {
                            <input style="width:100px;" type="text" id="AllowanceWorksheetG" value="@Model.AllowanceWorksheetG" placeholder="" maxlength="50" />
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td width="3%;" valign="top"><b>H</b></td>
                <td width="85%" valign="top">
                    <div style="width:100%;">
                        Add lines A through G and enter total here. (Note: This may be different from the number of exemptions you claim on your tax return.) ▶
                    </div>
                    <div style="width:10%; float:left; border:1px solid #ccc; padding:5px; font-size:12px;">
                        For accuracy, <b>complete all worksheets that apply</b>.
                    </div>
                    <div style="width:88%; float:right;">
                        • If you plan to itemize or claim adjustments to income and want to reduce your withholding, see the Deductions and Adjustments Worksheet on page 2. <br />
                        • If  you are single and have more than one job or are married and you and your spouse both work and the combined earnings from all jobs exceed $XX,XXX ($XX,XXX if  married), see the Two-Earners/Multiple Jobs Worksheet on page 2 to avoid having too little tax withheld. <br />
                        • If neither of the above situations applies, stop here and enter the number from line H on line 5 of Form W-4 below.
                    </div>
                </td>
                <td width="12%" valign="top" style="text-align:right">
                    <div style="width:20%; float:left; font-weight:600;">H</div>
                    <div style="width:80%; float:right; border-bottom:1px solid #000; font-style:italic; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.AllowanceWorksheetH</span>
                        }
                        else
                        {
                            <input type="text" style="width:100px;" id="AllowanceWorksheetH" value="@Model.AllowanceWorksheetH" placeholder="" maxlength="50" />
                        }
                    </div>
                </td>
            </tr>
        </table>
        <div style="text-align:center;">
            ----------Separate here and give Form W-4 to your employer. Keep the top part for your records.----------
        </div>
        <table style="border-bottom:2px solid #000; width:100%; border-collapse:collapse;border-spacing:0;">
            <tr>
                <td style="width:15%; border-right: 2px solid #000;">
                    <div style="width:100%; display:table;">
                        <div style="width:30%; float: left; font-size:14px; margin-top: 22px;">From</div>
                        <div style="width:70%; float: left; font-size:30px; font-weight:bolder;">W-4</div>
                    </div>
                    <div style="width:100%; display:table; font-size:10px;">Department of the Treasury Internal Revenue Service </div>
                </td>
                <td style="width:64%; border-right: 2px solid #000;">
                    <div style="font-size:18px; width:100%; text-align:center; font-weight:bold;">Employee’s Withholding Allowance Certificate</div>
                    <div style="text-align:center; width:100%; font-size:10px; margin-top:5px;">
                        ▶ Whether you are entitled to claim a certain number of allowances or exemption from withholding is
                        subject to review by the IRS. Your employer may be required to send a copy of this form to the IRS.
                    </div>
                </td>
                <td style="width:17%;">
                    <div style="text-align:center; font-size:14px;">OMB No. 1545-0074</div>
                    <div style="font-size: 30px; font-weight:bold;text-align:center;">2018</div>

                </td>
            </tr>
        </table>
        <table style="width:100%; font-size:13px; border-collapse:collapse;border-spacing:0;">
            <tr style="height:30px">
                <td style="width:3%; text-align:center; border-bottom:1px solid #000;" valign="top">
                    <b> 1</b>
                </td>
                <td style="width:35%; text-align:left; border-right:1px solid #000; border-bottom:1px solid #000;" valign="top">
                    <div style="width:100%;">Your first name and middle initial</div>
                    <div style="width:100%; float:left; font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.FirstName</span>
                        }
                        else
                        {
                            <input style="width:200px;" type="text" id="FirstName" value="@Model.FirstName" placeholder="First Name" />
                        }
                    </div>
                </td>
                <td style="width:25%; text-align:left; border-right:1px solid #000; border-bottom:1px solid #000;" valign="top">
                    <div style="width:100%;">Last Name</div>
                    <div style="width:100%; float:left; font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.LastName</span>
                        }
                        else
                        {
                            <input style="width:200px;" type="text" id="LastName" value="@Model.LastName" placeholder="Last Name" />
                        }
                    </div>
                </td>
                <td style="width:25%; text-align:left; border-bottom:1px solid #000;" valign="top">
                    <div style="width:100%;"><b style="margin-right:20px;">2</b> Your social security number</div>
                    <div style="width:100%; float:left; font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.SSN</span>
                        }
                        else
                        {
                            <input style="width:200px;" type="text" id="SSN" value="@Model.SSN" placeholder="SSN" />
                        }
                    </div>
                </td>
            </tr>
        </table>
        <table style="width:100%; font-size:13px; border-collapse:collapse;border-spacing:0;">
            <tr style="height:40px">
                <td style="width:50%; text-align:left; border-right:1px solid #000; border-bottom:1px solid #000;" valign="top">
                    <div style="width:100%; margin-left:30px;">Home address (number and street or rural route)</div>
                    <div style="width:88%; float:left; font-style:italic; text-align:left; background-color:#f4f5f8; margin-left:30px;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.Address</span>
                        }
                        else
                        {
                            <input style="width:200px;" type="text" id="Address" value="@Model.Address" placeholder="Address" />
                        }
                    </div>
                </td>
                <td style="width:50%; text-align:left; border-bottom:1px solid #000;" valign="top">
                    <div style="width:100%; float:left; font-size:11px;">
                        <b style="margin-right:5px; font-size:13px;"> 3</b>
                        @if (Model.IsPdf)
                        {
                            <input type="checkbox" @(Model.Single.Value ? "checked" : "") /> <span>Single</span>
                            <input type="checkbox" @(Model.Married.Value ? "checked" : "") /> <span>Married </span>
                            <input type="checkbox" @(Model.MarriadButSeparated.Value ? "checked" : "") /> <span>Married, but withhold at higher Single rate.</span>
                        }
                        else
                        {
                            <input name="RelationShipStatus" id="Single" type="radio" @(Model.Single.Value ? "checked" : "") /> <span>Single</span>
                            <input name="RelationShipStatus" id="Married" type="radio" @(Model.Married.Value ? "checked" : "") /> <span>Married </span>
                            <input name="RelationShipStatus" id="MarriadButSeparated" type="radio" @(Model.MarriadButSeparated.Value ? "checked" : "") /> <span>Married, but withhold at higher Single rate.</span>
                        }

                    </div>
                    <div style="width:100%; float:left; font-size:10px;"><b> Note:</b>If married, but legally separated, or spouse is a nonresident alien, check the “Single” box.</div>
                </td>
            </tr>
        </table>
        <table style="width:100%; font-size:13px; border-collapse:collapse;border-spacing:0;">
            <tr style="height:40px">
                <td style="width:50%; text-align:left; border-right:1px solid #000; border-bottom:1px solid #000;" valign="top">
                    <div style="width:100%; margin-left:30px;">City or town, state, and ZIP code</div>
                    <div style="width:88%; float:left; font-style:italic; text-align:left; background-color:#f4f5f8; margin-left:30px;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.City, @Model.State, @Model.Zipcode</span>
                        }
                        else
                        {
                            <input style="width:120px;" type="text" value="@Model.City" id="City" placeholder="City" />
                            <input style="width:120px;" type="text" value="@Model.State" id="State" placeholder="State" />
                            <input style="width:120px;" type="text" value="@Model.Zipcode" id="ZipCode" placeholder="Zipcode" />
                        }
                    </div>

                </td>
                <td style="width:50%; text-align:left; border-bottom:1px solid #000;" valign="top">
                    <div style="width:100%; float:left; font-size:11px;"><b style="margin-right:5px; font-size:13px;"> 4</b> If your last name differs from that shown on your social security card,</div>
                    <div style="width:100%; float:left; font-size:10px;">
                        <b style="margin-left:30px;">check here. You must call 1-800-772-1213 for a replacement card.▶</b>
                        @if (Model.IsPdf)
                        {
                            <input type="checkbox" @(Model.ReplaceSSNCard4.Value ? "checked" : "") />
                        }
                        else
                        {
                            <input type="checkbox" id="ReplaceSSNCard4" @(Model.ReplaceSSNCard4.Value ? "checked" : "") />
                        }
                    </div>
                </td>
            </tr>
        </table>
        <table style="width:100%; font-size:13px;margin-top:-1px; border-collapse:collapse;border-spacing:0;">
            <tr style="height:18px">
                <td style="width:2%; text-align:center;" valign="top">
                    <b> 5</b>
                </td>
                <td style="width:84%; text-align:left;" valign="top">
                    Total number of allowances you are claiming (from line H above or from the applicable worksheet on page 2)
                </td>
                <td style="width:2%; text-align:center; border:1px solid #000;" valign="top"><b> 5</b></td>
                <td style="width:12%; text-align:left; border-bottom:1px solid #000;" valign="top">
                    <div style="width:100%;text-align:center; font-style:italic;background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.TotalAllowance5</span>
                        }
                        else
                        {
                            <span>&nbsp;&nbsp; </span><input style="width:100px;" type="text" id="TotalAllowance5" value="@Model.TotalAllowance5" />
                        }
                    </div>
                </td>
            </tr>
        </table>
        <table style="width:100%; font-size:13px; margin-top:-1px; border-collapse:collapse;border-spacing:0;">
            <tr style="height:18px">
                <td style="width:2%; text-align:center;" valign="top">
                    <b> 6</b>
                </td>
                <td style="width:84%; text-align:left;" valign="top">
                    Additional amount, if any, you want withheld from each paycheck
                </td>
                <td style="width:2%; text-align:center; border:1px solid #000; border-bottom:1px solid #000;" valign="top"><b> 6</b></td>
                <td style="width:12%; text-align:left; border-bottom:1px solid #000;" valign="top">
                    <div style="width:100%;float:left; text-align:center; font-style:italic;background-color:#f4f5f8;">
                        $
                        @if (Model.IsPdf)
                        {
                            <span>@Model.AdditionalAmount6</span>
                        }
                        else
                        {
                            <input style="width:100px;" type="text" id="AdditionalAmount6" value="@Model.AdditionalAmount6" />
                        }
                    </div>
                </td>
            </tr>
        </table>

        @*File part 2 app-> _TimeAttendance.cshtml*@

        <table style="width:100%; font-size:13px; margin-top:-1px; border-collapse:collapse;border-spacing:0;">
            <tr style="height:25px">
                <td style="width:2%; text-align:center;" valign="top">
                    <b> 7</b>
                </td>
                <td style="width:84%; text-align:left;" valign="top">
                    <div style="width:100%; font-size:12px;">
                        I claim exemption from withholding for 2018, and I certify that I meet both of the following conditions for exemption. <br />
                        <div style="font-size:11px;">
                            • Last year I had a right to a refund of all federal income tax withheld because I had no tax liability, <b>and</b><br />
                            • This year I expect a refund of all federal income tax withheld because I expect to have no tax liability. If you meet both conditions, write “Exempt” here.
                        </div>
                    </div>
                </td>
                <td style="width:2%; text-align:center; border:1px solid #000;" valign="top"><b> 7</b></td>
                <td style="width:12%; text-align:left; border-bottom:1px solid #000;" valign="top">
                    <div style="width:100%;float:left; text-align:center; font-style:italic;background-color:#f4f5f8;">
                        $
                        @if (Model.IsPdf)
                        {
                            <span>@Model.NoTaxLiability7</span>
                        }
                        else
                        {
                            <input style="width:100px;" type="text" id="NoTaxLiability7" value="@Model.NoTaxLiability7" />
                        }
                    </div>
                </td>
            </tr>
        </table>

        <div style="width:100%; font-size:11px; border-top:1px solid #000; margin-top:-1px;">
            Under penalties of perjury, I declare that I have examined this certificate and, to the best of my knowledge and belief, it is true, correct, and complete.
        </div>

        <table style="width:100%; font-size:12px; border-collapse:collapse; border-spacing:0;">
            <tr>
                <td width="32%" style="">
                    <div style="font-size:13px; font-weight:bold;">Employee’s signature</div>

                    (This form is not valid unless you sign it.) ▶
                </td>
                <td width="48%" valign="bottom">
                    <div class="W4FromSignature" style="width:100%; float:right; text-align:left; background-color:#f4f5f8; font-style:italic;">
                    @if (!string.IsNullOrWhiteSpace(Model.Signature))
                    {
                        <img src="@(HS.Framework.Utils.AppConfig.SiteDomain + Model.Signature)" />
                    }</div>
                </td>
                <td width="7%" style="" valign="bottom">
                    <b>Date</b> ▶
                </td>
                <td width="13%" style="text-align:left;" valign="bottom">
                    <div style="width:100%; float:right; text-align:left; background-color:#f4f5f8; font-style:italic;">
                        @if (Model.SingatureDate.HasValue && Model.IsPdf && Model.SingatureDate != new DateTime())
                        {
                            <span>(@Model.SingatureDate.Value.ToString("MM/dd/yy"))</span>
                        }
                        else if (!Model.IsPdf && Model.SingatureDate.HasValue && Model.SingatureDate != new DateTime())
                        {
                            <input type="text" id="SingatureDate" value="@Model.SingatureDate.Value.ToString("MM/dd/yy")" />
                        }
                        else if (!Model.IsPdf && Model.SingatureDate.HasValue && Model.SingatureDate == new DateTime())
                        {
                            <input type="text" id="SingatureDate" value="" />
                        }
                    </div>
                </td>
            </tr>
        </table>

        <table style="width:100%;border-bottom:1px solid #000; border-top:1px solid #000; font-size:11px; border-collapse:collapse;border-spacing:0;">
            <tr style="height:38px;">
                <td style="width:23%; vertical-align:top">
                    <div style="width:100%; float:left;"><b>8</b> Employer’s name and address (Employer: Complete boxes 8 and 10 only if sending to the IRS.)</div>
                </td>
                <td style="width:27%; border-right:1px solid #000; vertical-align:top">
                    <div style="width:100%; float:right; text-align:center; height:38px; background-color:#f4f5f8; font-style:italic;">Sample Name & Address.</div>
                </td>
                <td style="width:20%; border-right:1px solid #000; vertical-align:top">
                    <div style="width:100%; float:left;"><b>9</b> Office code (optional)</div>
                    <div style="width:100%; height:25px; float:right; text-align:center; background-color:#f4f5f8; font-style:italic;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.OfficeCode</span>
                        }
                        else
                        {
                            <input type="text" id="OfficeCode" value="@Model.OfficeCode" />
                        }
                    </div>
                </td>
                <td style="width:30%; vertical-align:top">
                    <div style="width:100%; float:left;"><b>10</b> Employer identification number (EIN)</div>
                    <div style="width:100%; height:25px; float:right; text-align:center; background-color:#f4f5f8; font-style:italic;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.EmployerEIN</span>
                        }
                        else
                        {
                            <input type="text" id="EmployerEIN" value="@Model.EmployerEIN" />
                        }
                    </div>
                </td>
            </tr>
        </table>

        <div style="width:100%; font-size:13px;">
            <div style="width:50%; float:left; text-align:left;">Form W-4 (2018)</div>
            <div style="width:50%; float:left; text-align:right;">Page <span style="font-size:16px;font-weight:bold">2</span></div>
        </div>

        <table style="border:2px solid #000; width:100%; font-size:13px; border-collapse:collapse;border-spacing:0;">
            <tr>
                <td colspan="4" style="font-size:18px; font-weight:bold;text-align:center; border-bottom:2px solid #000;">
                    Deductions and Adjustments Worksheet
                </td>
            </tr>
            <tr>
                <td style="width:4%">
                    <b>Note</b>
                </td>
                <td colspan="3" style="width:96%"> Use this worksheet only if you plan to itemize deductions or claim certain credits or adjustments to income</td>

            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>1</b>
                </td>
                <td style="width:82%; text-align:justify;">
                    Enter an estimate of your 2018 itemized deductions. These include qualifying home mortgage interest, charitable
                    contributions, state and local taxes, medical expenses in excess of 10% of your income, and miscellaneous deductions.
                    For 2018, you may have to reduce your itemized deductions if your income is over $XXX,XXX and you’re married filing
                    jointly or you’re a qualifying widow(er); $XXX,XXX if you’re head of household; $XXX,XXX if you’re single, not head of
                    household and not a qualifying widow(er); or $XXX,XXX if you’re married filing separately. See Pub. 505 for details . .
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>1</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $
                            @if (Model.IsPdf)
                            {
                                <span>@Model.AdjustWorkSheet1</span>
                            }
                            else
                            {
                                <input type="text" style="width:100px;" value="@Model.AdjustWorkSheet1" id="AdjustWorkSheet1" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>2</b>
                </td>
                <td style="width:82%; text-align:justify;">
                    <div style="float:left;"> Enter</div>
                    <div style="float:left; margin-left:10px;">
                        • $XX,XXX if married filing jointly or qualifying widow(er)<br />
                        • $X,XXX if head of household <br />
                        • $X,XXX if single or married filing separately <br />
                    </div>
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>2</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $
                            @if (Model.IsPdf)
                            {
                                <span>@Model.AdjustWorkSheet2</span>
                            }
                            else
                            {
                                <input style="width:100px;" type="text" value="@Model.AdjustWorkSheet2" id="AdjustWorkSheet2" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>3</b>
                </td>
                <td style="width:82%; text-align:left;">
                    <b>Subtract</b> line 2 from line 1. If zero or less, enter “- 0 -”   .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>3</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $
                            @if (Model.IsPdf)
                            {
                                <span>@Model.AdjustWorkSheet3</span>
                            }
                            else
                            {
                                <input type="text" style="width:100px;" value="@Model.AdjustWorkSheet3" id="AdjustWorkSheet3" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>4</b>
                </td>
                <td style="width:82%; text-align:left;">
                    Enter an estimate of your 2018 adjustments to income and any additional standard deduction (see Pub. 505)
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>4</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $
                            @if (Model.IsPdf)
                            {
                                <span>@Model.AdjustWorkSheet4</span>
                            }
                            else
                            {
                                <input type="text" style="width:100px;" value="@Model.AdjustWorkSheet4" id="AdjustWorkSheet4" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>5</b>
                </td>
                <td style="width:82%; text-align:left;">
                    <b>Add</b> lines 3 and 4 and enter the total. (Include any amount for credits from the Converting Credits to Withholding Allowances for 2018 Form W-4 worksheet in Pub. 505)
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>5</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $ @if (Model.IsPdf)
                            {
                                <span>@Model.AdjustWorkSheet5</span>
                            }
                            else
                            {
                                <input type="text" style="width:100px;" value="@Model.AdjustWorkSheet5" id="AdjustWorkSheet5" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>6</b>
                </td>
                <td style="width:82%; text-align:left;">
                    Enter an estimate of your 2018 nonwage income (such as dividends or interest)
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>6</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $ @if (Model.IsPdf)
                            {
                                <span>@Model.AdjustWorkSheet6</span>
                            }
                            else
                            {
                                <input style="width:100px;" type="text" value="@Model.AdjustWorkSheet6" id="AdjustWorkSheet6" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>7</b>
                </td>
                <td style="width:82%; text-align:left;">
                    <b>Subtract</b> line 6 from line 5. If zero or less, enter “- 0 -”
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>7</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $ @if (Model.IsPdf)
                            {
                                <span>@Model.AdjustWorkSheet7</span>
                            }
                            else
                            {
                                <input type="text" style="width:100px;" value="@Model.AdjustWorkSheet7" id="AdjustWorkSheet7" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>8</b>
                </td>
                <td style="width:82%; text-align:left;">
                    <b>Divide</b> the amount on line 7 by $X,XXX and enter the result here. Drop any fraction . . . . . . . .
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>8</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $ @if (Model.IsPdf)
                            {
                                <span>@Model.AdjustWorkSheet8</span>
                            }
                            else
                            {
                                <input type="text" style="width:100px;" value="@Model.AdjustWorkSheet8" id="AdjustWorkSheet8" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>9</b>
                </td>
                <td style="width:82%; text-align:left;">
                    Enter the number from the <b>Personal Allowances Worksheet,</b> line H, page 1 . . . . . . . . . .
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>9</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $ @if (Model.IsPdf)
                            {
                                <span>@Model.AdjustWorkSheet9</span>
                            }
                            else
                            {
                                <input type="text" style="width:100px;" value="@Model.AdjustWorkSheet9" id="AdjustWorkSheet9" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>10</b>
                </td>
                <td style="width:82%; text-align:left;">
                    <b>Add</b> lines 8 and 9 and enter the total here. If you plan to use the <b>Two-Earners/Multiple Jobs Worksheet,</b>
                    also enter this total on line 1 below. Otherwise, stop here and enter this total on Form W-4, line 5, page 1
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>10</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $ @if (Model.IsPdf)
                            {
                                <span>@Model.AdjustWorkSheet10</span>
                            }
                            else
                            {
                                <input type="text" style="width:100px;" value="@Model.AdjustWorkSheet10" id="AdjustWorkSheet10" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4" style="font-size:18px; text-align:center; border-bottom:2px solid #000;border-top:2px solid #000;">
                    <b>Two-Earners/Multiple Jobs Worksheet</b> (See Two earners or multiple jobs on page 1.)
                </td>
            </tr>
            <tr>
                <td style="width:4%">
                    <b>Note</b>
                </td>
                <td colspan="3" style="width:96%">  Use this worksheet only if the instructions under line H on page 1 direct you here.</td>

            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>1</b>
                </td>
                <td style="width:82%; text-align:left;">
                    Enter the number from line H, page 1 (or from line 10 above if you used the <b>Deductions and Adjustments Worksheet</b>)
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>1</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $ @if (Model.IsPdf)
                            {
                                <span>@Model.JobWroksheet1</span>
                            }
                            else
                            {
                                <input style="width:100px;" type="text" value="@Model.JobWroksheet1" id="JobWroksheet1" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>2</b>
                </td>
                <td style="width:82%; text-align:left;">
                    Find the number in <b>Table 1</b> below that applies to the <b>LOWEST</b> paying job and enter it here. <b>However,</b> if you
                    are married filing jointly and wages from the highest paying job are $XX,XXX or less, do not enter more than “3”
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>2</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $ @if (Model.IsPdf)
                            {
                                <span>@Model.JobWroksheet2</span>
                            }
                            else
                            {
                                <input style="width:100px;" type="text" value="@Model.JobWroksheet2" id="JobWroksheet2" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>3</b>
                </td>
                <td style="width:82%; text-align:left;">
                    If line 1 is <b>more than or equal to</b> line 2, subtract line 2 from line 1. Enter the result here (if zero, enter “-0-”)
                    and on Form W-4, line 5, page 1. <b>Do not</b> use the rest of this worksheet . . . . . . . . . . . .
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>3</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $ @if (Model.IsPdf)
                            {
                                <span>@Model.JobWroksheet3</span>
                            }
                            else
                            {
                                <input style="width:100px;" type="text" value="@Model.JobWroksheet3" id="JobWroksheet3" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:4%" valign="top">
                    <b>Note</b>
                </td>
                <td style="width:82%">
                    If line 1 is <b>less than</b> line 2, enter “-0-” on Form W-4, line 5, page 1. Complete lines 4 through 9 below to
                    figure the additional withholding amount necessary to avoid a year-end tax bill.
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"></td>
                <td style="width:10%; text-align:left;" valign="bottom"></td>

            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>4</b>
                </td>
                <td style="width:82%; text-align:left;">
                    Enter the number from line 2 of this worksheet . . . . . . . . . . . . . . . . . . . . . .
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>4</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $ @if (Model.IsPdf)
                            {
                                <span>@Model.JobWroksheet4</span>
                            }
                            else
                            {
                                <input style="width:100px;" type="text" value="@Model.JobWroksheet4" id="JobWroksheet4" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>5</b>
                </td>
                <td style="width:82%; text-align:left;">
                    Enter the number from line 1 of this worksheet . . . . . . . . . . .
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>5</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $ @if (Model.IsPdf)
                            {
                                <span>@Model.JobWroksheet5</span>
                            }
                            else
                            {
                                <input style="width:100px;" type="text" value="@Model.JobWroksheet5" id="JobWroksheet5" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>6</b>
                </td>
                <td style="width:82%; text-align:left;">
                    <b>Subtract</b> line 5 from line 4 . . . . . . . . . . . . . . . . . . . . . . . . . .
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>6</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $ @if (Model.IsPdf)
                            {
                                <span>@Model.JobWroksheet6</span>
                            }
                            else
                            {
                                <input style="width:100px;" type="text" value="@Model.JobWroksheet6" id="JobWroksheet6" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>7</b>
                </td>
                <td style="width:82%; text-align:left;">
                    Find the amount in <b>Table 2</b> below that applies to the <b>HIGHEST</b> paying job and enter it here . . . . .
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>7</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $ @if (Model.IsPdf)
                            {
                                <span>@Model.JobWroksheet7</span>
                            }
                            else
                            {
                                <input style="width:100px;" type="text" value="@Model.JobWroksheet7" id="JobWroksheet7" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>8</b>
                </td>
                <td style="width:82%; text-align:left;">
                    <b>Multiply</b> line 7 by line 6 and enter the result here. This is the additional annual withholding needed . . .
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>8</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $ @if (Model.IsPdf)
                            {
                                <span>@Model.JobWroksheet8</span>
                            }
                            else
                            {
                                <input style="width:100px;" type="text" value="@Model.JobWroksheet8" id="JobWroksheet8" />
                            }
                        </i>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:4%; text-align:center;" valign="top">
                    <b>9</b>
                </td>
                <td style="width:82%; text-align:left;">
                    Divide line 8 by the number of pay periods remaining in 2018. For example, divide by 25 if you are paid every two
                    weeks and you complete this form on a date in January when there are 25 pay periods remaining in 2018. Enter
                    the result here and on Form W-4, line 6, page 1. This is the additional amount to be withheld from each paycheck
                </td>
                <td style="width:1%; text-align:right;" valign="bottom"><b>9</b></td>
                <td style="width:10%; text-align:left;" valign="bottom">
                    <div style="width:100%; background-color:#f4f5f8;">
                        <i>
                            $ @if (Model.IsPdf)
                            {
                                <span>@Model.JobWroksheet9</span>
                            }
                            else
                            {
                                <input type="text" style="width:100px;" value="@Model.JobWroksheet9" id="JobWroksheet9" />
                            }
                        </i>
                    </div>
                </td>
            </tr>

        </table>

        @*File part 3 app-> _VendorCredit.cshtml*@

        <table style="border:2px solid #000; width:100%; font-size:11px; margin-top:-2px; border-collapse:collapse;border-spacing:0;">
            <tr style="font-size:18px; font-weight:bold;">
                <td colspan="4" style="text-align:center; border-bottom:2px solid #000; border-right:2px solid #000;">Table 1</td>
                <td colspan="4" style="text-align:center; border-bottom:2px solid #000; border-right:2px solid #000;">Table 2</td>
            </tr>
            <tr style="font-size:16px; font-weight:bold;">
                <td colspan="2" style="text-align:center; border-bottom:1px solid #000; border-right:2px solid #000;">Married Filing Jointly</td>
                <td colspan="2" style="text-align:center; border-bottom:1px solid #000; border-right:2px solid #000;">All Others</td>
                <td colspan="2" style="text-align:center; border-bottom:1px solid #000; border-right:2px solid #000;">Married Filing Jointly</td>
                <td colspan="2" style="text-align:center; border-bottom:1px solid #000; border-right:2px solid #000;">All Others</td>
            </tr>
            <tr>
                <td style="text-align:left; border-bottom:1px solid #000; border-right:1px solid #000; padding:5px;">If wages from <b>LOWEST</b> paying job are — </td>
                <td style="text-align:left; border-bottom:1px solid #000; border-right:2px solid #000; padding:5px;">Enter on line 2 above</td>
                <td style="text-align:left; border-bottom:1px solid #000; border-right:1px solid #000; padding:5px;">If wages from <b>LOWEST</b> paying job are — </td>
                <td style="text-align:left; border-bottom:1px solid #000; border-right:2px solid #000; padding:5px;">Enter on line 2 above</td>
                <td style="text-align:left; border-bottom:1px solid #000; border-right:1px solid #000; padding:5px;">If wages from <b>HIGHEST</b> paying job are — </td>
                <td style="text-align:left; border-bottom:1px solid #000; border-right:2px solid #000; padding:5px;">Enter on line 7 above</td>
                <td style="text-align:left; border-bottom:1px solid #000; border-right:1px solid #000; padding:5px;">If wages from <b>HIGHEST</b> paying job are — </td>
                <td style="text-align:left; border-bottom:1px solid #000; border-right:2px solid #000; padding:5px;">Enter on line 7 above</td>
            </tr>
            <tr>
                <td style="text-align:center; border-right:1px solid #000;">
                    <div style="width:45%; float:left; text-align:right">$X</div>
                    <div style="width:10%; float:left; text-align:center"> - </div>
                    <div style="width:45%; float:left; text-align:left">$X,XXX</div>
                </td>
                <td style="text-align:center; border-right:2px solid #000;">0</td>
                <td style="text-align:center; border-right:1px solid #000;">
                    <div style="width:45%; float:left; text-align:right">$X</div>
                    <div style="width:10%; float:left; text-align:center"> - </div>
                    <div style="width:45%; float:left; text-align:left">$X,XXX</div>
                </td>
                <td style="text-align:center; border-right:2px solid #000;">0</td>
                <td style="text-align:center; border-right:1px solid #000;">
                    <div style="width:45%; float:left; text-align:right">$X</div>
                    <div style="width:10%; float:left; text-align:center"> - </div>
                    <div style="width:45%; float:left; text-align:left">$XX,XXX</div>
                </td>
                <td style="text-align:center; border-right:2px solid #000;">$XXX</td>
                <td style="text-align:center; border-right:1px solid #000;">
                    <div style="width:45%; float:left; text-align:right">$X</div>
                    <div style="width:10%; float:left; text-align:center"> - </div>
                    <div style="width:45%; float:left; text-align:left">$XX,XXX</div>
                </td>
                <td style="text-align:center; border-right:2px solid #000;">$XXX</td>
            </tr>
            <tr>
                <td style="text-align:center; border-right:1px solid #000;">
                    <div style="width:45%; float:left; text-align:right"> X,XXX</div>
                    <div style="width:10%; float:left; text-align:center"> - </div>
                    <div style="width:45%; float:left; text-align:left">XX,XXX</div>
                </td>
                <td style="text-align:center; border-right:2px solid #000;">1</td>
                <td style="text-align:center; border-right:1px solid #000;">
                    <div style="width:45%; float:left; text-align:right">X,XXX</div>
                    <div style="width:10%; float:left; text-align:center"> - </div>
                    <div style="width:45%; float:left; text-align:left">XX,XXX</div>
                </td>
                <td style="text-align:center; border-right:2px solid #000;">1</td>
                <td style="text-align:center; border-right:1px solid #000;">
                    <div style="width:45%; float:left; text-align:right"> XX,XXX</div>
                    <div style="width:10%; float:left; text-align:center"> - </div>
                    <div style="width:45%; float:left; text-align:left">XXX,XXX</div>
                </td>
                <td style="text-align:center; border-right:2px solid #000;">X,XXX</td>
                <td style="text-align:center; border-right:1px solid #000;">
                    <div style="width:45%; float:left; text-align:right"> XX,XXX</div>
                    <div style="width:10%; float:left; text-align:center"> - </div>
                    <div style="width:45%; float:left; text-align:left">XX,XXX</div>
                </td>
                <td style="text-align:center; border-right:2px solid #000;">X,XXX</td>
            </tr>
            <tr>
                <td style="text-align:center; border-right:1px solid #000;">
                    <div style="width:45%; float:left; text-align:right"> XX,XXX</div>
                    <div style="width:10%; float:left; text-align:center"> - </div>
                    <div style="width:45%; float:left; text-align:left">XX,XXX</div>
                </td>
                <td style="text-align:center; border-right:2px solid #000;">2</td>
                <td style="text-align:center; border-right:1px solid #000;">
                    <div style="width:45%; float:left; text-align:right"> XX,XXX</div>
                    <div style="width:10%; float:left; text-align:center"> - </div>
                    <div style="width:45%; float:left; text-align:left">XX,XXX</div>
                </td>
                <td style="text-align:center; border-right:2px solid #000;">2</td>
                <td style="text-align:center; border-right:1px solid #000;">
                    <div style="width:45%; float:left; text-align:right"> XXX,XXX</div>
                    <div style="width:10%; float:left; text-align:center"> - </div>
                    <div style="width:45%; float:left; text-align:left">XXX,XXX</div>
                </td>
                <td style="text-align:center; border-right:2px solid #000;">X,XXX</td>
                <td style="text-align:center; border-right:1px solid #000;">
                    <div style="width:45%; float:left; text-align:right"> XX,XXX</div>
                    <div style="width:10%; float:left; text-align:center"> - </div>
                    <div style="width:45%; float:left; text-align:left">XXX,XXX</div>
                </td>
                <td style="text-align:center; border-right:2px solid #000;">X,XXX</td>
            </tr>
            <tr>
                <td style="text-align:center; border-right:1px solid #000;">
                    <div style="width:45%; float:left; text-align:right"> XX,XXX</div>
                    <div style="width:10%; float:left; text-align:center"> - </div>
                    <div style="width:45%; float:left; text-align:left">XX,XXX</div>
                </td>
                <td style="text-align:center; border-right:2px solid #000;">3</td>
                <td style="text-align:center; border-right:1px solid #000;">
                    <div style="width:45%; float:left; text-align:right"> XX,XXX</div>
                    <div style="width:10%; float:left; text-align:center"> - </div>
                    <div style="width:45%; float:left; text-align:left">XX,XXX</div>
                </td>
                <td style="text-align:center; border-right:2px solid #000;">3</td>
                <td style="text-align:center; border-right:1px solid #000;">
                    <div style="width:45%; float:left; text-align:right"> XXX,XXX</div>
                    <div style="width:10%; float:left; text-align:center"> - </div>
                    <div style="width:45%; float:left; text-align:left">XXX,XXX</div>
                </td>
                <td style="text-align:center; border-right:2px solid #000;">X,XXX</td>
                <td style="text-align:center; border-right:1px solid #000;">
                    <div style="width:45%; float:left; text-align:right"> XXX,XXX</div>
                    <div style="width:10%; float:left; text-align:center"> - </div>
                    <div style="width:45%; float:left; text-align:left">XXX,XXX</div>
                </td>
                <td style="text-align:center; border-right:2px solid #000;">X,XXX</td>
            </tr>
            <tr>
                <td style="text-align:center; border-right:1px solid #000;">XX,XXX - XX,XXX </td>
                <td style="text-align:center; border-right:2px solid #000;">4</td>
                <td style="text-align:center; border-right:1px solid #000;">XX,XXX - XX,XXX</td>
                <td style="text-align:center; border-right:2px solid #000;">4</td>
                <td style="text-align:center; border-right:1px solid #000;">XXX,XXX - XXX,XXX</td>
                <td style="text-align:center; border-right:2px solid #000;">X,XXX</td>
                <td style="text-align:center; border-right:1px solid #000;">XXX,XXX and over</td>
                <td style="text-align:center; border-right:2px solid #000;">X,XXX</td>
            </tr>
            <tr>
                <td style="text-align:center; border-right:1px solid #000;">XX,XXX - XX,XXX </td>
                <td style="text-align:center; border-right:2px solid #000;">5</td>
                <td style="text-align:center; border-right:1px solid #000;">XX,XXX - XX,XXX</td>
                <td style="text-align:center; border-right:2px solid #000;">5</td>
                <td style="text-align:center; border-right:1px solid #000;">XXX,XXX and over</td>
                <td style="text-align:center; border-right:2px solid #000;">X,XXX</td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
            </tr>
            <tr>
                <td style="text-align:center; border-right:1px solid #000;">XX,XXX - XX,XXX </td>
                <td style="text-align:center; border-right:2px solid #000;">6</td>
                <td style="text-align:center; border-right:1px solid #000;">XX,XXX - XX,XXX</td>
                <td style="text-align:center; border-right:2px solid #000;">6</td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
            </tr>
            <tr>
                <td style="text-align:center; border-right:1px solid #000;">XX,XXX - XX,XXX </td>
                <td style="text-align:center; border-right:2px solid #000;">7</td>
                <td style="text-align:center; border-right:1px solid #000;">XX,XXX - XXX,XXX</td>
                <td style="text-align:center; border-right:2px solid #000;">7</td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
            </tr>
            <tr>
                <td style="text-align:center; border-right:1px solid #000;">XX,XXX - XX,XXX </td>
                <td style="text-align:center; border-right:2px solid #000;">8</td>
                <td style="text-align:center; border-right:1px solid #000;">XXX,XXX - XXX,XXX</td>
                <td style="text-align:center; border-right:2px solid #000;">8</td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
            </tr>
            <tr>
                <td style="text-align:center; border-right:1px solid #000;">XX,XXX - XX,XXX </td>
                <td style="text-align:center; border-right:2px solid #000;">9</td>
                <td style="text-align:center; border-right:1px solid #000;">XXX,XXX - XXX,XXX</td>
                <td style="text-align:center; border-right:2px solid #000;">9</td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
            </tr>
            <tr>
                <td style="text-align:center; border-right:1px solid #000;">XX,XXX - XX,XXX </td>
                <td style="text-align:center; border-right:2px solid #000;">10</td>
                <td style="text-align:center; border-right:1px solid #000;">XXX,XXX and over</td>
                <td style="text-align:center; border-right:2px solid #000;">10</td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
            </tr>
            <tr>
                <td style="text-align:center; border-right:1px solid #000;">XX,XXX - XXX,XXX </td>
                <td style="text-align:center; border-right:2px solid #000;">11</td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
            </tr>
            <tr>
                <td style="text-align:center; border-right:1px solid #000;">XXX,XXX - XXX,XXX </td>
                <td style="text-align:center; border-right:2px solid #000;">12</td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
            </tr>
            <tr>
                <td style="text-align:center; border-right:1px solid #000;">XXX,XXX - XXX,XXX </td>
                <td style="text-align:center; border-right:2px solid #000;">13</td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
            </tr>
            <tr>
                <td style="text-align:center; border-right:1px solid #000;">XXX,XXX - XXX,XXX </td>
                <td style="text-align:center; border-right:2px solid #000;">14</td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
            </tr>
            <tr>
                <td style="text-align:center; border-right:1px solid #000;">XXX,XXX and over</td>
                <td style="text-align:center; border-right:2px solid #000;">15</td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
                <td style="text-align:center; border-right:1px solid #000;"></td>
                <td style="text-align:center; border-right:2px solid #000;"></td>
            </tr>
        </table>

        <div style="width:100%;font-size:12px; margin-top:10px;">
            <div style="width:52%; float:left; text-align:justify;">
                <b>Privacy Act and Paperwork Reduction Act Notice.</b> We ask for the information on
                this form to carry out the Internal Revenue laws of the United States. Internal Revenue
                Code sections 3402(f)(2) and 6109 and their regulations require you to provide this
                information; your employer uses it to determine your federal income tax withholding.
                Failure to provide a properly completed form will result in your being treated as a
                single person who claims no withholding allowances; providing fraudulent information
                may subject you to penalties. Routine uses of this information include giving it to the
                Department of Justice for civil and criminal litigation; to cities, states, the District of
                Columbia, and U.S. commonwealths and possessions for use in administering their
                tax laws; and to the Department of Health and Human Services for use in the National
                Directory of New Hires. We may also disclose this information to other countries
                under a tax treaty, to federal and state agencies to enforce federal nontax criminal
                laws, or to federal law enforcement and intelligence agencies to combat terrorism.
            </div>
            <div style="width:45%; float:right; text-align:justify;">

                &nbsp;&nbsp; You are not required to provide the information requested on a form that is
                subject to the Paperwork Reduction Act unless the form displays a valid OMB
                control number. Books or records relating to a form or its instructions must be
                retained as long as their contents may become material in the administration of
                any Internal Revenue law. Generally, tax returns and return information are
                confidential, as required by Code section 6103.<br />

                &nbsp;&nbsp;The average time and expenses required to complete and file this form will vary
                depending on individual circumstances. For estimated averages, see the
                instructions for your income tax return. <br />
                &nbsp;&nbsp;If you have suggestions for making this form simpler, we would be happy to hear
                from you. See the instructions for your income tax return.
            </div>
            @if (Model.IsPdf)
            {
                <table style="width:100%;margin-top:15px; border-collapse:collapse;border-spacing:0;">
                    <tr>
                        <td style="width:33%; text-align:left; padding-left:15px;">
                            IP Address<br />@Model.Ipadd
                        </td>
                        <td style="width:33%;">
                            User Agent<br />@Model.UserAg
                        </td>
                        <td style="width:33%;">
                            Timestamp<br />@Model.Tstamp
                        </td>
                    </tr>
                </table>
            }
            
        </div>
    </div>
    @if (!Model.IsPdf)
    {
        <div class="sign-document hidden">
            <div class="wrapper">
                <canvas id="signature-pad" class="signature-pad" width=300 height=100 style="float:left;"></canvas>
            </div>
            <button class="btn all_button" id="save-png" data-id="@Model.Id"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn all_button" id="clear"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Clear</button>
        </div>
    }
    
</div>


@if (!Model.IsPdf)
{
    <table style="width:100%;margin-top:15px; border-collapse:collapse;border-spacing:0;">
        <tr>
            <td style="width:50%; text-align:left; padding-left:15px;">
                <button class="form-control btn-SaveSignature" style="float:left;margin-right:20px; width:150px;">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Save Signature
                </button>
            </td> 
            <td style="width:50%; text-align:right">
                <button class="btn btn-success" style="float:right;margin-right:20px; width:150px;" onclick="SaveW4Form()">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Submit W4 Form
                </button>
            </td>
        </tr>
    </table>
}



