@{
    Layout = null;
}
@model HS.Entities.RecruitmentW9Form

@if (!Model.IsPdf)
{
    <style>
        .RecruitmentForm input[type=text]{
            padding:0px;
            width:unset;
        }
        .RecruitmentForm{
            margin:20px;
        }
    </style>

    <script>

        var CreateEinVal = function () {
            var EinVal = "";
            
            if ($("#Ein1").val().trim() == '') {
                EinVal += ' ';
            } else {
                EinVal += $("#Ein1").val().trim();
            }
            if ($("#Ein2").val().trim() == '') {
                EinVal += ' ';
            } else {
                EinVal += $("#Ein2").val().trim();
            }
            if ($("#Ein3").val().trim() == '') {
                EinVal += ' ';
            } else {
                EinVal += $("#Ein3").val().trim();
            }
            if ($("#Ein4").val().trim() == '') {
                EinVal += ' ';
            } else {
                EinVal += $("#Ein4").val().trim();
            }
            if ($("#Ein5").val().trim() == '') {
                EinVal += ' ';
            } else {
                EinVal += $("#Ein5").val().trim();
            }
            if ($("#Ein6").val().trim() == '') {
                EinVal += ' ';
            } else {
                EinVal += $("#Ein6").val().trim();
            }
            if ($("#Ein7").val().trim() == '') {
                EinVal += ' ';
            } else {
                EinVal += $("#Ein7").val().trim();
            }
            if ($("#Ein8").val().trim() == '') {
                EinVal += ' ';
            } else {
                EinVal += $("#Ein8").val().trim();
            }
            if ($("#Ein9").val().trim() == '') {
                EinVal += ' ';
            } else {
                EinVal += $("#Ein9").val().trim();
            }
            return EinVal;
        }
        var CreateSSNVal = function () {
            var SSNVal = "";

            if ($("#SSN1").val().trim() == '') {
                SSNVal += ' ';
            } else {
                SSNVal += $("#SSN1").val().trim();
            }

            if ($("#SSN2").val().trim() == '') {
                SSNVal += ' ';
            } else {
                SSNVal += $("#SSN2").val().trim();
            }

            if ($("#SSN3").val().trim() == '') {
                SSNVal += ' ';
            } else {
                SSNVal += $("#SSN3").val().trim();
            }

            if ($("#SSN4").val().trim() == '') {
                SSNVal += ' ';
            } else {
                SSNVal += $("#SSN4").val().trim();
            }

            if ($("#SSN5").val().trim() == '') {
                SSNVal += ' ';
            } else {
                SSNVal += $("#SSN5").val().trim();
            }

            if ($("#SSN6").val().trim() == '') {
                SSNVal += ' ';
            } else {
                SSNVal += $("#SSN6").val().trim();
            }

            if ($("#SSN7").val().trim() == '') {
                SSNVal += ' ';
            } else {
                SSNVal += $("#SSN7").val().trim();
            }

            if ($("#SSN8").val().trim() == '') {
                SSNVal += ' ';
            } else {
                SSNVal += $("#SSN8").val().trim();
            }

            if ($("#SSN9").val().trim() == '') {
                SSNVal += ' ';
            } else {
                SSNVal += $("#SSN9").val().trim();
            }

            return SSNVal;
        }
        
        var SaveW9Form = function () {
            var url = domainurl + "/Recruit/W9Form";
            var param = JSON.stringify({
                Id: $("#Id").val(),
                FormId: $("#FormId").val(),
                BusinessName : $("#BusinessName").val(),
                Name : $("#Name").val() ,
                CCorporation : $("#CCorporation").is(":checked"),
                SCorporation: $("#SCorporation").is(":checked"),
                Individual: $("#Individual").is(":checked"),
                Partnership: $("#Partnership").is(":checked"),
                Trust: $("#Trust").is(":checked"),
                LimitedLiability: $("#LimitedLiability").is(":checked"),
                AccountNumber : $("#AccountNumber").val(),
                Address : $("#Address").val(),
                City: $("#City").val(),
                State : $("#State").val(),
                Zipcode : $("#Zipcode").val(),
                EIN : CreateEinVal(),
                SSN: CreateSSNVal(),
                ExemptPayeeCode : $("#ExemptPayeeCode").val(),
                FATCAReportingCode : $("#FATCAReportingCode").val(),
                FormId : $("#FormId").val(), 
                Other : $("#Other").val(),  
                TaxClassification : $("#TaxClassification").val()
            });
            console.log(param);
            $.ajax({
                url: url,
                data: param,
                method:"POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.result) {
                        OpenSuccessMessageNew("Success!", "W9 Form saved successfully.", function () {
                            LoadRecruit(true);
                        });
                    } else {
                        OpenErrorMessageNew("Error!", data.message);
                    }
                }
            });
        }

        $(document).ready(function () {
            $(".LoaderWorkingDiv").hide();
        });
    </script>
}
<div class="RecruitmentForm">

    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.FormId)
    @Html.HiddenFor(x => x.EIN)
    @Html.HiddenFor(x => x.SSN)
    @{ 
        if (Model.SSN.Length < 9)
        {
            Model.SSN = "         ";
        }
        if(Model.EIN.Length < 9)
        {
            Model.EIN = "         ";
        }
    }
         

    <div style="width:100%; font-family:Verdana, Geneva, Tahoma, sans-serif;">
        <table style="border-bottom:2px solid #000; width:100%; border-collapse:collapse;border-spacing:0;">
            <tr>
                <td style="width:17%; border-right: 2px solid #000;">
                    <div style="width:100%; display:table;">
                        <div style="width:30%; float: left; font-size:14px; margin-top: 22px;">From</div>
                        <div style="width:70%; float: left; font-size:35px; font-weight:bolder;">W-9</div>
                    </div>
                    <div style="width:100%; display:table; font-size:11px;">(Rec. December 2011)</div>
                    <div style="width:100%; display:table; font-size:11px;">Department of the Treasury Internal Revenue Service</div>
                </td>
                <td style="width:62%; border-right: 2px solid #000;">
                    <div style="font-size:22px; width:100%; text-align:center; font-weight:bold;">Request for Taxpayer</div>
                    <div style="font-size:22px; width:100%; text-align:center; font-weight:bold;">Identification Number and Certification</div>

                </td>
                <td style="width:17%;">
                    <div style="text-align:center;">Give Form to the requester. Do not send to the IRS</div>
                </td>
            </tr>
        </table>
        <table style="font-size:12px; border-collapse:collapse;border-spacing:0;">
            <tr>
                <td rowspan="9" style="border-right:1px solid #000; width:5%; border-bottom:1px solid #000; position:relative;">
                    <div style="width:150px; position:absolute; left:-60px; text-align:center;font-weight:bold; -moz-transform: rotate(-90.0deg);-o-transform: rotate(-90.0deg);-webkit-transform: rotate(-90.0deg); z-index:10;">Print or type</div>
                    <div style="width:400px;position:absolute; left:-170px; text-align:center; -moz-transform: rotate(-90.0deg);-o-transform: rotate(-90.0deg);-webkit-transform: rotate(-90.0deg); z-index:11;">See <b> Specific Instructions</b> on page 2.</div>
                </td>
                <td colspan="6" valign="top" style="border-bottom:1px solid #000; height:30px;">
                    <div style="width:100%;">
                        <b style="margin-right:10px;">1</b> Name (as shown on your income tax return). Name is required on this line; do not leave this line blank.
                    </div>
                    <div style="width:100%; float:left; font-style:italic; text-align:left; background-color:#f4f5f8; padding-left:50px">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.Name</span>
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.Name, new { style = "width:400px;" })
                        }
                    </div>
                </td>
            </tr>
            <tr style="height:35px;">
                <td colspan="6" valign="top" style="border-bottom:1px solid #000;">
                    <div style="width:100%;"><b style="margin-right:10px;">2</b> Business name/disregarded entity name, if different from above</div>
                    <div style="width:100%; float:left; font-style:italic; text-align:left; background-color:#f4f5f8; padding-left:50px">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.BusinessName</span>
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.BusinessName, new { style = "width:400px;" })
                        }
                    </div>
                </td>
            </tr>
            <tr style="">
                <td colspan="5" valign="middle" style="height:20px;">
                    <b style="margin-right:10px;">3</b> Check appropriate box for federal tax classification of the person whose name is entered on line 1. Check only <b>one</b> of the
                    following seven boxes.
                </td>
                <td valign="top" style="width:20%; border-left:1px solid #000; padding-top:10px;"><b style="margin-right:10px;">4</b> Exemptions (codes apply only to certain entities, not individuals; see instructions on page 3):</td>
            </tr>
            <tr style="height:30px;">
                <td width="200px;" valign="top">
                    &nbsp;
                    @if (Model.IsPdf)
                    {
                        <input type="checkbox" @(Model.Individual.Value ? "checked" : "") />
                    }
                    else
                    {
                        <input type="radio" @(Model.Individual.Value ? "checked" : "") name="TopCheckBoxes" id="Individual" />
                    }

                    <span>Individual/sole proprietor or &nbsp; &nbsp; &nbsp;&nbsp; single-member LLC</span>
                </td>
                <td valign="top">
                    @if (Model.IsPdf)
                    {
                        <input type="checkbox" @(Model.CCorporation.Value ? "checked" : "") />
                    }
                    else
                    {
                        <input type="radio" @(Model.CCorporation.Value ? "checked" : "") id="CCorporation" name="TopCheckBoxes" />
                    }
                    <span>C Corporation </span>
                </td>
                <td valign="top">
                    @if (Model.IsPdf)
                    {
                        <input type="checkbox" @(Model.SCorporation.Value ? "checked" : "") />
                    }
                    else
                    {
                        <input type="radio" @(Model.SCorporation.Value ? "checked" : "") id="SCorporation" name="TopCheckBoxes" />
                    }

                    <span>S Corporation</span>
                </td>
                <td valign="top">
                    @if (Model.IsPdf)
                    {
                        <input type="checkbox" @(Model.Partnership.Value ? "checked" : "") />
                    }
                    else
                    {
                        <input type="radio" @(Model.Partnership.Value ? "checked" : "") id="Partnership" name="TopCheckBoxes" />
                    }
                    <span>Partnership</span>
                </td>
                <td valign="top">
                    @if (Model.IsPdf)
                    {
                        <input type="checkbox" @(Model.Trust.Value ? "checked" : "") />
                    }
                    else
                    {
                        <input type="radio" @(Model.Trust.Value ? "checked" : "") id="Trust" name="TopCheckBoxes" />
                    }
                    <span>Trust/estate</span>
                </td>
                <td valign="top" style="border-left:1px solid #000;">
                    <div style="width:100%;">Exempt payee code (if any)</div>
                    <div style="width:100%; float:left; font-style:italic; text-align:left; background-color:#f4f5f8; margin-top:5px;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.ExemptPayeeCode</span>
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.ExemptPayeeCode, new { style = "width:200px;" })
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5" valign="top">
                    &nbsp;
                    @if (Model.IsPdf)
                    {
                        <input type="checkbox" @(Model.LimitedLiability.Value ? "checked" : "") />
                    }
                    else
                    {
                        <input type="radio" @(Model.LimitedLiability.Value ? "checked" : "") id="LimitedLiability" name="TopCheckBoxes" />
                    }
                    <span>Limited liability company.</span>
                    <span>Enter the tax classification (C=C corporation, S=S corporation, P=Partnership) ▶</span>
                    <span style="width:200px; background-color:#f4f5f8; font-style:italic; text-align:center;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.TaxClassification</span>
                        }
                        else
                        {
                             @Html.TextBoxFor(x=>x.TaxClassification)
                        }
                    </span>
                    <br />
                    <div style="width:98%; padding:0px 10px;">
                        Note: Check the appropriate box in the line above for the tax classification of the single-member owner. Do not check
                        LLC if the LLC is classified as a single-member LLC that is disregarded from the owner unless the owner of the LLC is
                        another LLC that is not disregarded from the owner for U.S. federal tax purposes. Otherwise, a single-member LLC that
                        is disregarded from the owner should check the appropriate box for the tax classification of its owner.
                    </div>
                </td>
                <td valign="top" style="border-left:1px solid #000; padding-top:10px;">

                    <div style="width:100%;">Exemption from FATCA reporting code (if any)</div>
                    <div style="width:100%; float:left; font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.FATCAReportingCode</span>
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.FATCAReportingCode, new { style = "width:200px;" })
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="1" valign="top" style="border-bottom:1px solid #000;">
                    <input type="checkbox" checked="checked" />Other (see instructions) ▶
                </td>
                <td colspan="4" valign="top" style="border-bottom:1px solid #000;">
                    <div style="width:100%; height:20px; float:left; font-style:italic; text-align:center; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.Other</span>
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.Other, new { style = "float:left; width:400px;" })
                        }
                    </div>
                </td>
                <td valign="top" style="border-left:1px solid #000; border-bottom:1px solid #000;">
                    <div style="width:100%; float:left;font-size:10px; font-style:italic;">Applies to accounts maintained outside the U.S.)</div>

                </td>
            </tr>
            <tr style="height:30px;">
                <td colspan="4" valign="top" style="border-bottom:1px solid #000;">
                    <div style="width:100%;"><b style="margin-right:10px;">5</b> Address (number, street, and apt. or suite no.) See instructions.</div>
                    <div style="width:100%; float:left; font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.Address</span>
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.Address, new { style = "float:left; width:400px;" })
                        }
                    </div>
                </td>
                <td colspan="2" rowspan="2" valign="top" style="border-left:1px solid #000;">
                    <div style="width:100%;">Requester’s name and address (optional)</div>
                    <div style="width:100%; float:left; font-style:italic; text-align:left; background-color:#f4f5f8;">Sample_Text</div>
                </td>
            </tr>
            <tr style="height:30px;">
                <td colspan="4" valign="top" style="border-bottom:1px solid #000;">
                    <div style="width:100%;"><b style="margin-right:10px;">6</b> City, state, and ZIP code</div>
                    <div style="width:100%; float:left; font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.City</span><span>@Model.City</span><span>@Model.Zipcode</span>
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.City, new { placeholder = "City" })
                            @Html.TextBoxFor(x => x.State, new { placeholder = "State" })
                            @Html.TextBoxFor(x => x.Zipcode, new { placeholder = "ZIP Code" })
                        }
                    </div>
                </td>
            </tr>
            <tr style="height:30px;">
                <td colspan="6" valign="top" style="border-bottom:1px solid #000;">
                    <div style="width:100%;"><b style="margin-right:10px;">7</b>List account number(s) here (optional)</div>
                    <div style="width:100%; float:left; font-style:italic; text-align:left; background-color:#f4f5f8;">
                        @if (Model.IsPdf)
                        {
                            <span>@Model.AccountNumber</span>
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.AccountNumber, new { style = "float:left; width:400px;" })
                        }
                    </div>
                </td>
            </tr>
        </table>
        <table style="margin-top:5px; width:100%; border-collapse:collapse;border-spacing:0; border-top:1px solid #000; ">
            <tr>
                <td style="width:11%; background-color:#000; color:#fff; font-size:16px; font-weight:600; text-align:center;" valign="middle">
                    Part 1
                </td>
                <td style="width:89%;font-size:20px; padding-left:16px; font-weight:600;">
                    Taxpayer Identification Number (TIN)
                </td>
            </tr>
        </table>
        <table style="border-collapse:collapse;border-spacing:0; border-top:1px solid #000; font-size:13px;">
            <tr>
                <td style="width:65%; text-align:justify; padding-right:10px;">
                    Enter your TIN in the appropriate box. The TIN provided must match the name given on line 1 to avoid
                    backup withholding. For individuals, this is generally your social security number (SSN). However, for a
                    resident alien, sole proprietor, or disregarded entity, see the instructions for Part I, later. For other
                    entities, it is your employer identification number (EIN). If you do not have a number, see How to get a
                    TIN, later. <br />
                    <b> Note:</b> If the account is in more than one name, see the instructions for line 1. Also see What Name and
                    Number To Give the Requester for guidelines on whose number to enter.
                </td>
                <td style="width:35%; vertical-align:top">
                    <div style="width:96%;float:left; border:1px solid #000; font-weight:600; font-size:14px; text-align:left; margin-top:-2px; padding-left:10px; letter-spacing:1px; padding-top:5px; padding-bottom:5px;">Social security number</div>
                    <div style="width:100%;float:left; margin-top:-1px;">
                        <div style="width:9.1%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">
                            @if (Model.IsPdf)
                            {
                                <span class="ssn1">@Model.SSN[0]</span>
                            }
                            else
                            {
                                <input maxlength="1" id="SSN1" placeholder="x" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.SSN[0].ToString().Trim()" />
                            }
                        </div>
                        <div style="width:9%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">
                            @if (Model.IsPdf)
                            {
                                <span class="ssn2">@Model.SSN[1]</span>
                            }
                            else
                            {
                                <input maxlength="1" id="SSN2" placeholder="x" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.SSN[1].ToString().Trim()" />
                            }
                        </div>
                        <div style="width:9%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">
                            @if (Model.IsPdf)
                            {
                                <span class="ssn3">@Model.SSN[2]</span>
                            }
                            else
                            {
                                <input maxlength="1" id="SSN3" placeholder="x" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.SSN[2].ToString().Trim()" />
                            }
                        </div>
                        <div style="width:7%; float:left;  height:30px; font-weight:600; text-align:center">-</div>
                        <div style="width:9%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">

                            @if (Model.IsPdf)
                            {
                                <span class="ssn4">@Model.SSN[3]</span>
                            }
                            else
                            {
                                <input maxlength="1" id="SSN4" placeholder="x" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.SSN[3].ToString().Trim()" />
                            }

                        </div>
                        <div style="width:9%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">

                            @if (Model.IsPdf)
                            {
                                <span class="ssn5">@Model.SSN[4]</span>
                            }
                            else
                            {
                                <input maxlength="1" id="SSN5" placeholder="x" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.SSN[4].ToString().Trim()" />
                            }

                        </div>
                        <div style="width:7%; float:left;  height:30px; font-weight:600; text-align:center">-</div>
                        <div style="width:9%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">

                            @if (Model.IsPdf)
                            {
                                <span class="ssn6">@Model.SSN[5]</span>
                            }
                            else
                            {
                                <input maxlength="1" id="SSN6" placeholder="x" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.SSN[5].ToString().Trim()" />
                            }
                        </div>
                        <div style="width:9%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">

                            @if (Model.IsPdf)
                            {
                                <span class="ssn7">@Model.SSN[6]</span>
                            }
                            else
                            {
                                <input maxlength="1" id="SSN7" placeholder="x" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.SSN[6].ToString().Trim()" />
                            }

                        </div>
                        <div style="width:9.1%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">
                            @if (Model.IsPdf)
                            {
                                <span class="ssn8">@Model.SSN[7]</span>
                            }
                            else
                            {
                                <input maxlength="1" id="SSN8" placeholder="x" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.SSN[7].ToString().Trim()" />
                            }
                        </div>
                        <div style="width:9.1%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">
                            @if (Model.IsPdf)
                            {
                                <span class="ssn9">@Model.SSN[8]</span>
                            }
                            else
                            {
                                <input maxlength="1" id="SSN9" placeholder="x" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.SSN[8].ToString().Trim()" />
                            }
                        </div>
                    </div>



                    <div style="width:96%; font-weight:600; font-size:16px; text-align:left; float:left;letter-spacing:1px; margin-top:2px; padding-left:20px;">or</div>
                    <div style="width:96%;float:left; border:1px solid #000; font-weight:600; font-size:14px; text-align:left; padding-left:10px;letter-spacing:1px;  margin-top:2px; padding-top:5px; padding-bottom:5px;">Employer identification number</div>
                    <div style="width:100%;float:left; margin-top:-1px;">
                        <div style="width:9.1%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">
                            @if (Model.IsPdf)
                            {
                                <span class="ein1">@Model.EIN[0]</span>
                            }
                            else
                            {
                                <input maxlength="1" placeholder="x" id="Ein1" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.EIN[0].ToString().Trim()" />
                            }
                        </div>
                        <div style="width:9.1%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">
                            @if (Model.IsPdf)
                            {
                                <span class="ein2">@Model.EIN[1]</span>
                            }
                            else
                            {
                                <input maxlength="1" placeholder="x" id="Ein2" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.EIN[1].ToString().Trim()" />
                            }
                        </div>
                        <div style="width:6%; float:left;  height:30px; font-weight:600; text-align:center">-</div>
                        <div style="width:9.1%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">
                            @if (Model.IsPdf)
                            {
                                <span class="ein3">@Model.EIN[2]</span>
                            }
                            else
                            {
                                <input maxlength="1" placeholder="x" id="Ein3" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.EIN[2].ToString().Trim()" />
                            }
                        </div>
                        <div style="width:9.1%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">
                            @if (Model.IsPdf)
                            {
                                <span class="ein4">@Model.EIN[3]</span>
                            }
                            else
                            {
                                <input maxlength="1" placeholder="x" id="Ein4" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.EIN[3].ToString().Trim()" />
                            }
                        </div>
                        <div style="width:9.1%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">
                            @if (Model.IsPdf)
                            {
                                <span class="ein5">@Model.EIN[4]</span>
                            }
                            else
                            {
                                <input maxlength="1" placeholder="x" id="Ein5" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.EIN[4].ToString().Trim()" />
                            }
                        </div>
                        <div style="width:9.1%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">
                            @if (Model.IsPdf)
                            {
                                <span class="ein6">@Model.EIN[5]</span>
                            }
                            else
                            {
                                <input maxlength="1" placeholder="x" id="Ein6" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.EIN[5].ToString().Trim()" />
                            }
                        </div>
                        <div style="width:9.1%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">
                            @if (Model.IsPdf)
                            {
                                <span class="ein7">@Model.EIN[6]</span>
                            }
                            else
                            {
                                <input maxlength="1" placeholder="x" id="Ein7" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.EIN[6].ToString().Trim()" />
                            }
                        </div>
                        <div style="width:9.1%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">
                            @if (Model.IsPdf)
                            {
                                <span class="ein8">@Model.EIN[7]</span>
                            }
                            else
                            {
                                <input maxlength="1" placeholder="x" id="Ein8" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.EIN[7].ToString().Trim()" />
                            }
                        </div>
                        <div style="width:9.1%; float:left; border:1px solid #000; background-color:#f4f5f8; height:30px; text-align:center;">
                            @if (Model.IsPdf)
                            {
                                <span class="ein9">@Model.EIN[8]</span>
                            }
                            else
                            {
                                <input maxlength="1" placeholder="x" id="Ein9" style="height: 100%; padding-top: 2px; padding-left: 10px; width:100%;" type="text" value="@Model.EIN[8].ToString().Trim()" />
                            }
                        </div>
                    </div>


                </td>
            </tr>

        </table>
        <table style="margin-top:5px; width:100%; border-collapse:collapse;border-spacing:0; border-top:1px solid #000; ">
            <tr>
                <td style="width:11%; background-color:#000; color:#fff; font-size:16px; font-weight:600; text-align:center;" valign="middle">
                    Part 2
                </td>
                <td style="width:89%; font-size:20px; padding-left:16px; font-weight:600;">
                    Certification
                </td>
            </tr>
        </table>
        <table style="width:100%; border-collapse:collapse;border-spacing:0; border-top:1px solid #000; font-size:13px;">
            <tr>
                <td style="">
                    Under penalties of perjury, I certify that:
                </td>
            </tr>
            <tr>
                <td style="">
                    <b style="margin-right:10px;"> 1.</b> The number shown on this form is my correct taxpayer identification number (or I am waiting for a number to be issued to me); and
                </td>

            </tr>
            <tr>
                <td style="text-align:justify;">
                    <b style="margin-right:10px;"> 2.</b> I am not subject to backup withholding because: (a) I am exempt from backup withholding, or (b) I have not been notified by the Internal Revenue
                    Service (IRS) that I am subject to backup withholding as a result of a failure to report all interest or dividends, or (c) the IRS has notified me that I am
                    no longer subject to backup withholding; and
                </td>

            </tr>
            <tr>
                <td style="">
                    <b style="margin-right:10px;"> 3.</b>I am a U.S. citizen or other U.S. person (defined below); and
                </td>

            </tr>
            <tr>
                <td style="text-align:justify;">
                    <b style="margin-right:10px;"> 4.</b>4. The FATCA code(s) entered on this form (if any) indicating that I am exempt from FATCA reporting is correct
                </td>

            </tr>
            <tr>
                <td style="">
                    <b style="margin-right:10px;">Certification instructions.</b>
                    You must cross out item 2 above if you have been notified by the IRS that you are currently subject to backup withholding because
                    you have failed to report all interest and dividends on your tax return. For real estate transactions, item 2 does not apply. For mortgage interest paid,
                    acquisition or abandonment of secured property, cancellation of debt, contributions to an individual retirement arrangement (IRA), and generally, payments
                    other than interest and dividends, you are not required to sign the certification, but you must provide your correct TIN. See the instructions for Part II, later.
                </td>

            </tr>
        </table>
        <table style="margin-top:5px; width:100%; border-collapse:collapse;border-spacing:0; border-bottom:1px solid #000; border-top:1px solid #000; letter-spacing:1px;">
            <tr>
                <td style="width:11%; background-color:#000; color:#fff; font-size:16px; font-weight:600; text-align:center;" valign="middle">
                    Sign Here
                </td>
                <td style="width:89%; font-size:16px; padding-left:16px;">
                    Signature of U.S. person ▶
                </td>
            </tr>
        </table>
        <table style="width:100%; border-collapse:collapse;border-spacing:0; font-size:14px; line-height:20px;">
            <tr>
                <td style="width:50%;" valign="middle">

                    <div style="width:100%; float:left; font-size:24px; font-weight:600;">
                        General Instructions
                    </div>
                    <div style="width:100%; float:left;">
                        Section references are to the Internal Revenue Code unless otherwise
                        noted. <br />
                        <b>Future developments.</b> For the latest information about developments
                        related to Form W-9 and its instructions, such as legislation enacted
                        after they were published, go to www.irs.gov/FormW9.
                    </div>
                    <div style="width:100%; float:left; font-size:24px; font-weight:600; margin-top:5px;">
                        Purpose of Form
                    </div>
                    <div style="width:100%; float:left; padding-right:10px;">
                        An individual or entity (Form W-9 requester) who is required to file an
                        information return with the IRS must obtain your correct taxpayer
                        identification number (TIN) which may be your social security number
                        (SSN), individual taxpayer identification number (ITIN), adoption
                        taxpayer identification number (ATIN), or employer identification number
                        (EIN), to report on an information return the amount paid to you, or other
                        amount reportable on an information return. Examples of information
                        returns include, but are not limited to, the following. <br />
                        • Form 1099-INT (interest earned or paid)
                    </div>

                </td>
                <td style="width:50%;">
                    <div style="width:100%; float:left; padding-left:10px;">
                        • Form 1099-DIV (dividends, including those from stocks or mutual
                        funds) <br />
                        • Form 1099-MISC (various types of income, prizes, awards, or gross
                        proceeds)<br />
                        • Form 1099-B (stock or mutual fund sales and certain other
                        transactions by brokers)<br />
                        • Form 1099-S (proceeds from real estate transactions)<br />
                        • Form 1099-K (merchant card and third party network transactions)<br />
                        • Form 1098 (home mortgage interest), 1098-E (student loan interest),
                        1098-T (tuition)<br />
                        • Form 1099-C (canceled debt)<br />
                        • Form 1099-A (acquisition or abandonment of secured property)<br />
                        Use Form W-9 only if you are a U.S. person (including a resident
                        alien), to provide your correct TIN.<br />
                        If you do not return Form W-9 to the requester with a TIN, you might
                        be subject to backup withholding. See What is backup withholding,
                        later.
                    </div>
                </td>
            </tr>
        </table>
        <table style="font-size:11px; border-top:1px solid #000; width:100%;">
            <tr>
                <td style="width:50%; text-align:right">Cat. No. 10231X</td>
                <td style="width:50%; text-align:right;">Form <b style="font-size:18px;">W-9</b> (Rev. 11-2017)</td>

            </tr>
        </table>
    </div>
</div>
@if (!Model.IsPdf)
{
    <div style="height:70px; width:100%; padding-top:15px;float:left;">
        <button class="btn btn-success" style="float:right;margin-right:20px; width:150px;" onclick="SaveW9Form()">
            <i class="fa fa-check" aria-hidden="true"></i>
            Submit W9 Form
        </button>
    </div>
}