
@{
    Layout = null;
}
@model List<HS.Entities.EmployeeReview>
@using Localize = HS.Web.UI.Helper.LanguageHelper
<table class="employee_review_userid_table">
    <thead>
        <tr>
            <th>@Localize.T("Review Of")</th> 
            <th>@Localize.T("Reviewed By")</th>
            <th>@Localize.T("Actions")</th>
        </tr>
    </thead>
    <tbody>
     
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div>@Localize.T("Review Of")<span>:</span></div>
                    <div>@item.CreatedDate.Value.ToString("dd MMMM yyyy")</div>
                </td>
                <td>
                    <div>@Localize.T("Reviewed By")<span>:</span></div>
                    <div>@item.ReviewedByName</div>
                </td>
                <td>
                    <div>@Localize.T("Actions")<span>:</span></div>
                    <div><a href="/Survey/EmployeeSurvey/?ReviewId=@item.ReviewId&CompanyId=@item.CompanyId" target="_blank" @*onclick="OpenEmployeeReviewByReviewId('@item.ReviewId')"*@>Open Review</a></div>
                </td>
            </tr>
        }
    </tbody>
</table>