
@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
}
@model HS.Entities.CustomSurveyQuestion

@*<script src="~/Content/Js/Lead/AddFollowUpReminder/AddFollowUpReminder.js"></script>*@

<div class="Ques_panel_left">
    <label>@Localize.T("Type your question here")</label>
    <textarea class="form-control" rows="4" cols="50"name ="Question" id="Question" placeholder="Enter your question here." datarequired="true"></textarea>
    <label rel="Question"  class="label hidden red position-absolute">*@Localize.T("Question Required")</label>
</div>
<div class="Ques_panel_right">
    <label>@Localize.T("Select question type")</label>
    @Html.DropDownListFor(x => x.QuestionType, ViewBag.QuesTypeList as List<SelectListItem>, new { @class = "form-control" })
    <label rel="QuestionType"  class="label hidden red position-absolute">*@Localize.T("Question Type Required")</label>
    <div class="Survey_SaveCancelDiv">

        <button id="btn-SaveQuestions" onclick="SaveQuestion()" type="button" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save")</button>
      
        <button id="btn-SetQuestions" style="display:none" onclick="SetQuestion('@ViewBag.SurveyId')" type="button" class="btn"><i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("New")</button>
    </div>
</div>

<input type="hidden" id="SurveyId" value="@ViewBag.SurveyId"/>
<input type="hidden" id="QuesId" value="@Model.Id" />
<input type="hidden" id="QuestionId" value="@Model.QuestionId" />


       
  



