@{
    ViewBag.Title = "SurveyUserAnswers";
    Layout = null;
    int Counter = 1;
}
@using QuestionTypes = HS.Web.UI.Helper.LabelHelper.CustomSurveyQuestionTypes
@using HS.Framework.Utils
@model HS.Entities.CustomSurveyViewModel

<style>
    .CustomSurveyMainDiv {
        width:100%;
        float:left;
    }
    .CustomSurveyMainDiv_header {
       width:100%;
        float:left;
        font-size: 2.4rem !important;
        padding: 5px 15px;
    }
    .Question_div {
         width:100%;
        float:left;
        padding: 0px 15px;
    }
    .Question_div_separate {
        width:100%;
        float:left;
        padding:10px 0px;
    }
    .Question_div_separate label {
        margin-bottom:0px;
    }
    .Question_div_separate > label:first-child {
        width:100%;
        float:left;
    }
    .Question_div_separate > div {
        width: 50%;
        float: left;
        padding-left: 15px;
        padding-top: 5px;
   
    }
    .Question_div_separate div label {
        width: 50%;
        float: left;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }
    .Question_div_separate div label span {
        display: contents;
        float: left;
        font-weight: normal;
    }
    .Question_div_separate div label input {
        float: left;
        margin-right: 5px;
    }
    .CustomSurveyMainDiv .Save_div {
        width:100%;
        float:left;
        padding: 0px 15px;
        margin-bottom:15px;
    }
    .CustomSurveyMainDiv .Save_div button {
        background-color:#2ca01c;
        color:#fff;
    }
    .Question_div_separate input[type=text],
    .Question_div_separate textarea {
        width:50%;
        resize:none;
    }
    .Question_div_separate > div div {
        width: 50%;
        float: left;
         overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    } 
</style>
<div class="CustomSurveyMainDiv">
    <div class="CustomSurveyMainDiv_header">
        <label>@Model.CustomSurvey.SurveyName</label>
    </div>
    <div class="Question_div">
        @foreach (var item in Model.SurveyQuestions)
        {
            List<HS.Entities.CustomSurveyUserAnswers> ansList = Model.UserAnswers.Where(x => x.QuestionId == item.QuestionId).ToList();
            if (item.QuestionType != QuestionTypes.CustomerName && item.QuestionType != QuestionTypes.CustomerNumber && item.QuestionType != QuestionTypes.Signature && item.QuestionType != QuestionTypes.AlarmComFooter)
            {
                <div class="Question_div_separate">
                    <label><span>@Counter</span><span>.@item.Question</span></label>

                    @if (item.QuestionType == QuestionTypes.CheckBox
                        || item.QuestionType == QuestionTypes.Radio)
                    {
                        <div>
                            @if (ansList != null && ansList.Count() > 0)
                            {
                                if (item.QuestionType == QuestionTypes.CheckBox || item.QuestionType == QuestionTypes.Radio)
                                {
                                    foreach (var ans in ansList)
                                    {
                                        <div>
                                            <span title="@ans.Answer">@ans.Answer</span>
                                        </div>
                                    }
                                }
                            }
                            else
                            {
                                <div>
                                    <span>-</span>
                                </div>
                            }
                        </div>
                    }
                    else if (item.QuestionType == QuestionTypes.Text
                        || item.QuestionType == QuestionTypes.TextArea
                        || item.QuestionType == QuestionTypes.DropDown)
                    {
                        if (ansList != null && ansList.Count() > 0)
                        {
                            <div>
                                <span title="@ansList.FirstOrDefault().Answer">@ansList.FirstOrDefault().Answer</span>
                            </div>
                        }
                        else
                        {
                            <div>
                                <span>-</span>
                            </div>
                        }
                    }
                </div>
                Counter++;
            }
            else if (item.QuestionType == QuestionTypes.AlarmComFooter)
            {
                <div class="Question_div_separate" style="width:100%; float:left;">
                    <label><span>@Html.Raw(item.Question)</span></label>
                </div>
            }
            else if (item.QuestionType == QuestionTypes.CustomerNumber)
            {
                <div class="Question_div_separate" style="width:100%; float:left;">
                    <b><u>@item.Question: </u> </b> <span class="normal_text">@Model._customer.CustomerNo</span>
                </div>
            }
            else if (item.QuestionType == QuestionTypes.CustomerName)
            {
                <div class="Question_div_separate" style="width:100%; float:left;">
                    <b><u>@item.Question: </u> </b> <span class="normal_text">@Model._customer.FirstName @Model._customer.LastName</span>
                </div>
            }
            else if (item.QuestionType == QuestionTypes.Signature)
            {
    <div class="Question_div_separate">
        <table class="sign_table" style="width: 340px; float:left;">
            <tr>
                <td style="vertical-align: bottom; padding-right: 5px;">
                    <b>@item.Question:</b>
                </td>
                <td style="border-bottom: 1px solid #000;">
                    <div class="survey_signature_container">
                        <img class="survey_signature" src="@AppConfig.SiteDomain@ansList.FirstOrDefault().Answer" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td style="text-align:center;">
                    @ansList.FirstOrDefault().CreatedDate.ToString("MM/dd/yyyy")
                </td>
            </tr>

        </table>






        
    </div>
             
            }
        }
    </div>
</div>

