@model IEnumerable<HS.Entities.CustomSurvey>
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    ShowQusAnsList = function (item) {
        OpenTopToBottomModal(domainurl + "/Survey/ShowQusAnsPanel?SurveyId=" + item)
    }
    var EditSurvey = function (Id) {

        OpenRightToLeftModal(domainurl + "/Survey/AddSurvey?Id=" + Id);
    }
    var DeleteSurvey = function (id) {
        var url = "/Survey/DeleteSurvey";
        var param = JSON.stringify({
            Id: id
        })
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data) {
                    OpenSuccessMessageNew("Success", "Survey deleted successfully");
                    $("#ShowSurveyList").load(domainurl + "/Survey/ShowSurveyList");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }
</script>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>@Localize.T("Survey Name")</label>
            </th>
            <th>
                <label>@Localize.T("Created By")</label>
            </th>
            <th>
                <label>@Localize.T("Created Date")</label>
            </th>
            <th>
                <label>@Localize.T("Action")</label>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <div>@Localize.T("Survey Name")</div>
                    <div><a class="cus-anchor" onclick="ShowQusAnsList('@item.SurveyId')"> @Html.DisplayFor(modelItem => item.SurveyName)</a>(@item.QuesCount)</div>
                </td>
                <td>
                    <div>@Localize.T("Created By")</div>
                    <div><span>@item.CreatedByName</span></div>
                </td>
                <td>
                    <div>@Localize.T("Created Date")</div>
                    <div>@Html.DisplayFor(modelItem => item.CreatedDate)</div>
                </td>
                <td>
                    <div>@Localize.T("Action")</div>
                    <div><i class="fa fa-edit item_edit" data-id="@item.Id" onclick="EditSurvey('@item.Id')"></i></div>
                    <div><i class="fa fa-trash item_del" data-id="@item.Id" onclick="OpenConfirmationMessageNew('Confirmation', 'Are you sure, you want to delete this item?', function () { DeleteSurvey(@item.Id) })"></i></div>
                    @*<button class="btn" id="EditSurvey" onclick="EditSurvey('@item.Id')"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T("Edit")</button>*@
            </td>
            </tr>
        }
    </tbody>

</table>
