
@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/Survey/ShowQusAnsPanel.css" rel="stylesheet" />
<script>
    var SurveyId = '@ViewBag.SurveyId'
    $(document).ready(function () {
        var height = window.innerHeight - $(".QuesEdit_header").height() - 25;
        $(".QuesEditContainer_inner").height(height);
        if (window.innerWidth < 421) {
            $("#QuestionList").css("height", "auto");
        }
        else {
            $("#QuestionList").height(height - 314);
           
        }
       
    });
    $(window).resize(function () {
        var height = window.innerHeight - $(".QuesEdit_header").height() - 25;
        $(".QuesEditContainer_inner").height(height);
        if (window.innerWidth < 421) {
            $("#QuestionList").css("height", "auto");
        }
        else {
            $("#QuestionList").height(height - 314);

        }
    })

</script>
<script src="~/Content/Js/SurveySettings/SurveyQusAnsPanel.js"></script>


<div class="QuesEditContainer">
    <div class="QuesEdit_header">@Localize.T("Survey question and answer panel")</div>
    <div class="QuesEditContainer_inner">
        <div class="QuesList width-60p">
            <div id="AddNewQues">
                @*<button class="btn add-package"  type="button" onclick="AddNewQuestion('@ViewBag.SurveyId')">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
                    </button>*@
            </div>
            <div class="FilterFunding clearfix">
                <div class="show_all_ques_filter">
                        <input class="form-control filterinput searchtext" @*id="searchtext"*@ placeholder="Search by question" />
                </div>
            </div>
            <div id="QuestionList">

            </div>
            @*@foreach(var item in Model)
                {
                    <div class="QuesItem" data-key="@item">@Localize.T(item.Question)</div>
                }*@
        </div>
        <div class="AnsEditModule width-40p">
         
        </div>
    </div>
</div>
