@{ 
    Layout = null;
}
@model HS.Entities.EmployeeReview

<style>
    .employee_per_review_container {
        width: 100%;
        float: left;
        padding: 50px;
        font-family: Arial;
        position: relative;
        box-sizing: border-box;
    }

    .employee_per_review_container div {
        box-sizing: border-box;
    }

    .erp_top_logo {
        width: 200px;
        height: 100px;
        background-color: #ccc;
        position: relative;
    }

    .erp_top_logo img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        margin: auto;
    }

    .employee_per_review_container table {
        width: 100%;
    }

    .employee_per_review_container table tbody tr {
        height: 40px;
    }

    table {
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    table tbody tr {
        border-bottom: 1px solid #ccc;
    }

    table tbody tr td {
        border-left: 1px solid #ccc;
    }

    table tbody tr td:nth-child(1) {
        border: none;
    }

    .employee_info_table tbody tr td:nth-child(1),
    .employee_info_table tbody tr td:nth-child(3) {
        padding: 5px 10px;
        width: 10%;
        font-size: 13px;
        font-weight: 600;
    }

    .verification_review_table tbody tr td:nth-child(1),
    .verification_review_table tbody tr td:nth-child(3) {
        padding: 5px 10px;
        width: 10%;
        font-size: 13px;
        font-weight: 600;
    }

    .verification_review_table tbody tr {
        border-top: 1px solid #ccc;
        height: 40px;
    }

    .epr_header {
        width: 100%;
        float: left;
        font-size: 22px;
        font-weight: 600;
    }

    .epr_header_big {
        width: 100%;
        float: left;
        font-size: 24px;
        font-weight: 600;
        padding: 10px 0px;
    }

    .epr_sub_header {
        width: 100%;
        float: left;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        background-color: #808080;
        text-align: left;
        padding: 5px 10px;
        position: relative;
        margin: 5px 0px 0px 0px;
    }

    .employee_per_review_container input {
        height: 30px;
        padding: 0px 10px;
        width: 100%;
        border: none;
    }

    .employee_per_review_container input:focus,
    textarea:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }

    .employee_per_review_container input[type="radio"]:not(old) {
        width: 15px;
        height: 15px;
        cursor: pointer;
        -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    }

    .ratings_table tbody tr:nth-child(odd) {
        height: 35px;
    }

    .ratings_table tbody tr:nth-child(even) {
        height: 20px;
    }

    .ratings_table tbody tr td {
        padding: 5px 10px;
        font-size: 13px;
        font-weight: 600;
    }

    .ratings_table tbody tr td {
        width: 12%;
        text-align: center;
    }

    .ratings_table tbody tr td:nth-child(1) {
        width: 40%;
        text-align: left;
    }

    .ratings_table tbody .rating_comments td:nth-child(1) {
        width: 10%;
        text-align: left;
        font-weight: normal;
        font-style: italic;
    }

    .epr_normal_text {
        width: 100%;
        float: left;
        text-transform: capitalize;
        padding: 10px 0px;
    }

    textarea {
        width: 100%;
        border: none;
        height: 65px;
        padding: 5px;
    }

    .epr_goals {
        width: 100%;
        float: left;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }

    .epr_goals textarea {
        height: 100px;
    }

    .epr_goals_left {
        width: 15%;
        float: left;
        padding: 5px 0px;
    }

    .epr_goals_left div {
        padding-bottom: 5px;
    }

    .epr_goals_right {
        width: 85%;
        float: left;
    }

    .erp_header_normal {
        width: 100%;
        float: left;
        font-weight: bold;
        padding: 10px 0px;
    }

    .erp_normal_text {
        width: 100%;
        float: left;
    }

    .erp_margin_top {
        margin-top: 20px;
    }

    .erp_top_margin {
        margin-top: 200px;
    }

    .erp_overall_rating_list {
        width: 100%;
        float: left;
    }

    .erp_overall_rating_list ul li {
        padding: 5px 0px;
    }

    .radio_check {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .radio_check input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkmark {
        position: absolute;
        top: -2px;
        left: 45%;
        height: 15px;
        width: 15px;
        border-radius: 2px;
        background-color: #eee;
        border: 1px solid #ddd;
    }

    .radio_check:hover input ~ .checkmark {
        background-color: #ccc;
    }

    .radio_check input:checked ~ .checkmark {
        background-color: #ccc;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .radio_check input:checked ~ .checkmark:after {
        display: block;
    }

    .radio_check .checkmark:after {
        top: 1px;
        left: 5px;
        width: 4px;
        height: 8px;
        border: solid #000;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>

<div class="employee_per_review_container">
    @*<div class="erp_top_logo">
            <img src="C:\Users\Piistech\Desktop\ie_icon.png" />
        </div>*@
    <div class="epr_header"> Employee Performance Review </div>
    <div class="epr_sub_header"> Employee Information </div>
    <table class="employee_info_table">
        <tr>
            <td>Name</td>
            <td><input type="text" id="EmpName" />@Model.EmpName</td>
            <td>Date</td>
            <td><input type="text" id="ReviewDate" />@((Model.ReviewDate.HasValue && Model.ReviewDate != new DateTime()) ? Model.ReviewDate.Value.ToString("MM/dd/yy") : "-")</td>
        </tr>
        <tr>
            <td>Job Title</td>
            <td><input type="text" id="JobTitle" />@Model.JobTitle</td>
            <td>Manager</td>
            <td><input type="text" id="Manager" />@Model.Manager</td>
        </tr>
        <tr>
            <td>Department</td>
            <td><input type="text" id="Department" />@Model.Department</td>
            <td>Next Review</td>
            <td><input type="text" id="NextReview" />@(Model.NextReview.HasValue? Model.NextReview.Value.ToString("MM/dd/yy"):"-")</td>
        </tr>

        <tr>
            <td>Review Period</td>
            <td><input type="text" id="ReviewPeriod" />@Model.ReviewPeriod</td>
            <td colspan="2"></td>
        </tr>
    </table>
    <div class="epr_sub_header"> Ratings </div>
    <table class="ratings_table">
        <tr>
            <td colspan="2"></td>
            <td>1 = Poor</td>
            <td>2 = Fair</td>
            <td>3 = Satisfactory</td>
            <td>4 = Good</td>
            <td>5 = Excellent</td>
        </tr>
        <tr>
            <td colspan="2">Job Knowledge</td>
            <td>
                <label class="radio_check">
                    <input value="1" type="radio" @(Model.JobKnowledge == 1? "checked":"") name="Knowledge" class="Knowledge_radio" />
                    <span class="checkmark"></span>
                </label>
            </td>
            <td>
                <label class="radio_check">
                    <input value="2" type="radio" @(Model.JobKnowledge == 2? "checked":"") name="Knowledge" class="Knowledge_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="3" type="radio"@(Model.JobKnowledge == 3? "checked":"") name="Knowledge" class="Knowledge_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="4" type="radio"@(Model.JobKnowledge == 4? "checked":"") name="Knowledge" class="Knowledge_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="5" type="radio"@(Model.JobKnowledge == 5? "checked":"") name="Knowledge" class="Knowledge_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
        </tr>
        <tr class="rating_comments">
            <td>Comments</td>
            <td colspan="6"><input type="text" id="JobKnowledgeComments" />@Model.JobKnowledgeComments</td>
        </tr>
        <tr>
            <td colspan="2">Work Quality</td>
            <td>
                <label class="radio_check">
                    <input value="1" type="radio"@(Model.WorkQuality == 1? "checked":"") name="WorkQuality" class="WorkQuality_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="2" type="radio"@(Model.WorkQuality == 2? "checked":"") name="WorkQuality" class="WorkQuality_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="3" type="radio"@(Model.WorkQuality == 3? "checked":"") name="WorkQuality" class="WorkQuality_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="4" type="radio"@(Model.WorkQuality == 4? "checked":"") name="WorkQuality" class="WorkQuality_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="5" type="radio"@(Model.WorkQuality == 5? "checked":"") name="WorkQuality" class="WorkQuality_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
        </tr>
        <tr class="rating_comments">
            <td>Comments</td>
            <td colspan="6"><input type="text" id="WorkQualityComments" />@Model.WorkQualityComments</td>
        </tr>
        <tr>
            <td colspan="2">Attendance/Punctuality</td>
            <td>
                <label class="radio_check">
                    <input value="1" type="radio"@(Model.Attendance == 1? "checked":"") name="Attendance" class="Attendance_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="2" type="radio"@(Model.Attendance == 2? "checked":"") name="Attendance" class="Attendance_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="3" type="radio"@(Model.Attendance == 3? "checked":"") name="Attendance" class="Attendance_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="4" type="radio"@(Model.Attendance == 4? "checked":"") name="Attendance" class="Attendance_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="5" type="radio"@(Model.Attendance == 5? "checked":"") name="Attendance" class="Attendance_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
        </tr>
        <tr class="rating_comments">
            <td>Comments</td>
            <td colspan="6"><input type="text" id="AttendanceComments" />@Model.AttendanceComments</td>
        </tr>
        <tr>
            <td colspan="2">Initiative</td>
            <td>
                <label class="radio_check">
                    <input value="1" type="radio"@(Model.Initiative == 1? "checked":"") name="Initiative" class="Initiative_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="2" type="radio"@(Model.Initiative == 2? "checked":"") name="Initiative" class="Initiative_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="3" type="radio"@(Model.Initiative == 3? "checked":"") name="Initiative" class="Initiative_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="4" type="radio"@(Model.Initiative == 4? "checked":"") name="Initiative" class="Initiative_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="5" type="radio"@(Model.Initiative == 5? "checked":"") name="Initiative" class="Initiative_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
        </tr>
        <tr class="rating_comments">
            <td>Comments</td>
            <td colspan="6"><input type="text" id="InitiativeComments" />@Model.InitiativeComments</td>
        </tr>
        <tr>
            <td colspan="2">Communication/Listening Skills</td>
            <td>
                <label class="radio_check">
                    <input value="1" type="radio"@(Model.CommunicationSkills == 1? "checked":"") name="Communication" class="Communication_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="2" type="radio"@(Model.CommunicationSkills == 2? "checked":"") name="Communication" class="Communication_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="3" type="radio"@(Model.CommunicationSkills == 3? "checked":"") name="Communication" class="Communication_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="4" type="radio"@(Model.CommunicationSkills == 4? "checked":"") name="Communication" class="Communication_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="5" type="radio"@(Model.CommunicationSkills == 5? "checked":"") name="Communication" class="Communication_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
        </tr>
        <tr class="rating_comments">
            <td>Comments</td>
            <td colspan="6"><input type="text" id="CommunicationSkillsComments" />@Model.CommunicationSkillsComments</td>
        </tr>
        <tr>
            <td colspan="2">Dependability</td>
            <td>
                <label class="radio_check">
                    <input value="1" type="radio"@(Model.Dependability == 1? "checked":"") name="Dependability" class="Dependability_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="2" type="radio"@(Model.Dependability == 2? "checked":"") name="Dependability" class="Dependability_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="3" type="radio"@(Model.Dependability == 3? "checked":"") name="Dependability" class="Dependability_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="4" type="radio"@(Model.Dependability == 4? "checked":"") name="Dependability" class="Dependability_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>
                <label class="radio_check">
                    <input value="5" type="radio"@(Model.Dependability == 5? "checked":"") name="Dependability" class="Dependability_radio" />
                    <span class="checkmark"></span>
                </label>

            </td>
        </tr>
        <tr class="rating_comments">
            <td>Comments</td>
            <td colspan="6"><input type="text" id="DependabilityComments" />@Model.DependabilityComments</td>
        </tr>
        <tr>
            <td colspan="4">Overall Rating <i>(see next page for directions)</i></td>
            <td colspan="3"><span id="OverAllRating">@Model.OverallRating</span></td>
        </tr>
    </table>
    <div class="epr_sub_header"> Evaluation </div>
    <div class="epr_normal_text">ADDITIONAL COMMENTS</div>
    <textarea>@Model.AdditionalComments</textarea>
    <div class="epr_goals">
        <div class="epr_goals_left">
            <div>GOALS</div>
            <i>(as agreed upon by employee and manager)</i>
        </div>
        <div class="epr_goals_right">
            <textarea>@Model.Goals</textarea>
        </div>
    </div>
    <div class="epr_sub_header"> Verification of Review </div>
    <div class="epr_normal_text"><i>By signing this form, you confirm that you have discussed this review in detail with your supervisor. Signing this form does not necessarily indicate that you agree with this evaluation.</i></div>
    <table class="verification_review_table">
        <tr>
            <td>Employee Signature</td>
            <td>
                @if (!String.IsNullOrWhiteSpace(Model.EmpSignature))
                {
                    <img style="width:300px; height:100px;" src="@Model.EmpSignature" />
                }
            </td>
            <td>Date</td>
            <td>
                @(Model.EmpSignatureDate.HasValue? HS.Framework.DateTimeExtension.UTCToClientTime(Model.EmpSignatureDate.Value).ToString("MM/dd/yyyy"):"")
            </td>
        </tr>
        <tr>
            <td>Manager Signature</td>
            <td>
                @if (!String.IsNullOrWhiteSpace(Model.ManagerSignature))
                {
                    <img style="width:300px; height:100px;" src="@Model.ManagerSignature" />
                }
            </td>
            <td>Date</td>
            <td>
                @(Model.ManagerSignatureDate.HasValue? HS.Framework.DateTimeExtension.UTCToClientTime(Model.ManagerSignatureDate.Value).ToString("MM/dd/yyyy"):"")
            </td>
        </tr>
    </table>
    <div class="epr_header_big">Ratings Categories Defined</div>
    <div class="erp_header_normal">Job Knowledge</div>
    <div class="erp_normal_text">Knowledge of company processes, products, software, etc.… How familiar is the employee with DFW Security? Add comments of strong points and/or areas for improvement.</div>
    <div class="erp_header_normal erp_margin_top">Work Quality</div>
    <div class="erp_normal_text">How well are duties handled? Are adequate/helpful notes being left in accounts accessed, tasks being created when needed, calls being answered in a timely and professional manner, etc.…? </div>
    <div class="erp_header_normal erp_margin_top">Attendance/Punctuality</div>
    <div class="erp_normal_text">Is the employee consistently arriving for work and on time? Is the employee consistently returning from lunch on time?</div>
    <div class="erp_header_normal erp_margin_top">Initiative</div>
    <div class="erp_normal_text">Is the employee a self-starter? Do they take on tasks without being asked because they need to be done? Will they find a solution to a problem before bringing it up?</div>
    <div class="erp_header_normal erp_margin_top">Communication/Listening Skills</div>
    <div class="erp_normal_text">Does the employee effectively communicate with customers and co-workers? Are they listening and retaining information presented to them?</div>
    <div class="erp_header_normal erp_margin_top">Job Dependability</div>
    <div class="erp_normal_text">Is the employee reliable in completing tasks in a timely manner? Can you give the employee a task and know that it will be completed accurately? </div>
    <div class="epr_header_big erp_top_margin">Overall Rating Calculation</div>
    <div class="erp_normal_text">Total ratings above to get a total number of points and use this chart for overall rating</div>
    <div class="erp_overall_rating_list">
        <ul>
            <li><b>Poor (6-11):</b> immediate improvement must be made for employment to continue</li>
            <li><b>Fair (12-17):</b> improvement needed</li>
            <li><b>Average (18-23):</b> performance meets expectations  </li>
            <li><b>Above Average (24-30):</b> performance exceeds expectations</li>
        </ul>
    </div>
</div>