@{
    ViewBag.Title = "SurveyUserAnswers";
    Layout = null;
    int Counter = 1;
}
@using QuestionTypes = HS.Web.UI.Helper.LabelHelper.CustomSurveyQuestionTypes
@model HS.Entities.CustomSurveyViewModel
<link href="~/Content/Css/Survey/RunSurvey.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    })
</script>
<div class="CustomSurveyMainDiv">
    <div class="CustomSurveyMainDiv_header">
        <label>@Model.CustomSurvey.SurveyName</label>
    </div>
    <div class="Question_div">
        @foreach (var item in Model.SurveyQuestions)
        {
            List<HS.Entities.CustomSurveyUserAnswers> ansList = Model.UserAnswers.Where(x => x.QuestionId == item.QuestionId).ToList();
            if (item.QuestionType != QuestionTypes.CustomerName && item.QuestionType != QuestionTypes.CustomerNumber && item.QuestionType != QuestionTypes.Signature && item.QuestionType != QuestionTypes.AlarmComFooter)
            {
                <div class="Question_div_separate">
                    <label><span>@Counter</span><span>.@item.Question</span></label>

                    @if (item.QuestionType == QuestionTypes.CheckBox
                        || item.QuestionType == QuestionTypes.Radio)
                    {
                        <div>
                            @if (ansList != null && ansList.Count() > 0)
                            {
                                if (item.QuestionType == QuestionTypes.CheckBox || item.QuestionType == QuestionTypes.Radio)
                                {
                                    foreach (var ans in ansList)
                                    {
                                        <div>
                                            <span title="@ans.Answer">@ans.Answer</span>
                                        </div>
                                    }
                                }
                            }
                            else
                            {
                                <div>
                                    <span>-</span>
                                </div>
                            }
                        </div>
                    }
                    else if (item.QuestionType == QuestionTypes.Text
                        || item.QuestionType == QuestionTypes.TextArea
                        || item.QuestionType == QuestionTypes.DropDown)
                    {
                        if (ansList != null && ansList.Count() > 0)
                        {
                            <div>
                                <span title="@ansList.FirstOrDefault().Answer">@ansList.FirstOrDefault().Answer</span>
                            </div>
                        }
                        else
                        {
                            <div>
                                <span>-</span>
                            </div>
                        }
                    }
                </div>
                Counter++;
            }
            else if (item.QuestionType == QuestionTypes.AlarmComFooter)
            {
                <div class="Question_div_separate">
                    <label><span>@Html.Raw(item.Question)</span></label>
                </div>
            }
            else if (item.QuestionType == QuestionTypes.CustomerNumber)
            {
                <div class="Question_div_separate">
                    <b><u>@item.Question: </u> </b> <span class="normal_text">@Model._customer.CustomerNo</span>
                </div>
            }
            else if (item.QuestionType == QuestionTypes.CustomerName)
            {
                <div class="Question_div_separate">
                    <b><u>@item.Question: </u> </b> <span class="normal_text">@Model._customer.FirstName @Model._customer.LastName</span>
                </div>
            }
            else if (item.QuestionType == QuestionTypes.Signature)
            {
                <div class="Question_div_separate">
                    <table class="sign_table">
                        <tr>
                            <td>
                                <b>@item.Question:</b>
                            </td>
                            <td>
                                <div class="survey_signature_container">
                                    <img class="survey_signature" src="@ansList.FirstOrDefault().Answer" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               
                            </td>
                            <td>
                                @ansList.FirstOrDefault().CreatedDate.ToString("MM/dd/yyyy")
                            </td>
                        </tr>

                    </table>
                </div>
              
            }
        }
    </div>
</div>



