@{
    Layout = null;
}
@using AppConfig = HS.Framework.Utils.AppConfig; 
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.Employee
@using POStat = HS.Web.UI.Helper.LabelHelper.PurchaseOrderStatus
@Styles.Render("~/styles/AddInvoice")
<script>
    var Currency = '@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)';
    var TechnicianIdr = '@Model.UserId';
    var Idr = '@Model.Id';
    var isService = '@Model.JobTitle';
    
</script>
@Styles.Render("~/styles/TechnicianUpsoldListCS")
@Scripts.Render("~/scripts/TechnicianUpsoldListJS")


<div class="hidden" style="display:none;visibility:hidden;height:0px;">
</div>
<div class="add_mass_restock_container">
    <div class="avb_div_header">
        <div class="header_title_avb">
 

            @Localize.T("Upsold")

        </div>
    </div>
    <div class="panel-group" id="accordion">
      
            <div class="panel panel-default">
                <div id="collapse_@Model.Id" class="panel-collapse ">
                    <div class="panel-body RestockDataClear RestockDataLoad_@Model.Id">
                    </div>
                </div>
            </div>
      
    </div>
</div>
