@model List<HS.Entities.CustomerAppointmentEquipment>
@using Localize = HS.Web.UI.Helper.LanguageHelper

@*<script src=></script>*@

<script>
    var isSer = '@ViewBag.isService';

</script>
@Styles.Render("~/styles/TechnicianUpsoldListPartialCS")
@Scripts.Render("~/scripts/TechnicianUpsoldListPartialJS")


@if (Model != null && Model.Count() > 0)
{
    <div class="add-invoice-container">
        <div class="avp_table_info_container">
            <div class="width-100p margin-top-15">
                <table class="CustomerInvoiceTab" id="CustomerMassRestockTab">
                    <thead>
                        <tr>

                            @if (ViewBag.order == "ascending/equipmentname" || ViewBag.order == "descending/equipmentname")
                            {
                                <th class="th_timeclock">
                                    <div> @Localize.T("Name")</div>
                                    <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/equipmentname" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/equipmentname" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                                </th>
                            }
                            else
                            {
                                <th class="th_timeclock_pre">
                                    <div>@Localize.T("Name")</div>
                                    <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/equipmentname" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/equipmentname" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                                </th>
                            }
                            @if (ViewBag.order == "ascending/quantity" || ViewBag.order == "descending/quantity")
                            {
                                <th class="th_timeclock">
                                    <div> @Localize.T("Quantity")</div>
                                    <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/quantity" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/quantity" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                                </th>
                            }
                            else
                            {
                                <th class="th_timeclock_pre">
                                    <div>@Localize.T("Quantity")</div>
                                    <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/quantity" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/quantity" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                                </th>
                            }
                            @if (ViewBag.order == "ascending/unitprice" || ViewBag.order == "descending/unitprice")
                            {
                                <th class="th_timeclock">
                                    <div> @Localize.T("UnitPrice")</div>
                                    <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/unitprice" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/unitprice" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                                </th>
                            }
                            else
                            {
                                <th class="th_timeclock_pre">
                                    <div>@Localize.T("UnitPrice")</div>
                                    <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/unitprice" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/unitprice" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                                </th>
                            }
                            @if (ViewBag.order == "ascending/totalprice" || ViewBag.order == "descending/totalprice")
                            {
                                <th class="th_timeclock">
                                    <div> @Localize.T("Total Price")</div>
                                    <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/totalprice" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/totalprice" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                                </th>
                            }
                            else
                            {
                                <th class="th_timeclock_pre">
                                    <div>@Localize.T("Total Price")</div>
                                    <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/totalprice" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/totalprice" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                                </th>
                            }

                            @*<th class="thead-th-style2 text-center-important">
                                    <span>
                                        @Localize.T("New")
                                    </span>
                                </th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>

                                    <td valign="top">
                                        <div> @Localize.T("Name") <div>:</div></div>
                                        <div><p>@item.EquipName
                                            
                                            @if (item.IsService == true)
                                            {
                                                @Localize.T("(Service)")
                                            }
                                            else
                                            {
                                                @Localize.T("(Equipment)")
                                            }

                                            </p></div>
                                    </td>
                                    <td valign="top">
                                        <div> @Localize.T("Quantity") <div>:</div></div>
                                        <div><p>@item.Quantity</p></div>
                                    </td>
                                    <td valign="top">
                                        <div> @Localize.T("UnitPrice") <div>:</div></div>
                                        <div><p>@item.UnitPrice</p></div>
                                    </td>
                                    <td valign="top" class="text-center-important">
                                        <div> @Localize.T("Total Price") <div>:</div></div>
                                        <div><p>@item.TotalPrice</p></div>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>
        <div class="AddInvoiceLoader hidden">
            <div class='invoice-loader'><div><div class="lds-css ng-scope"><div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div></div></div></div>
            @*<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>*@
        </div>
    </div>
}
else
{
    <div>
        
            @Localize.T("There is no Upsold for this technician");
        
    </div>
}

