@{
    Layout = null;
}
@using AppConfig = HS.Framework.Utils.AppConfig; 
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.Employee
@using POStat = HS.Web.UI.Helper.LabelHelper.PurchaseOrderStatus
@Styles.Render("~/styles/AddInvoice")
<link href="~/Content/Css/Expense/AddVendorBill.css" rel="stylesheet" />

<script>
    var Currency = '@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)';
    var TechnicianIdr = '@Model.UserId';
    var Idr = '@Model.Id';
    var isService = '@Model.JobTitle';
    var showallr = false;
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var RestockDataLoad = function (techId, Id, order, showall, isService) {
        console.log("RestockDataLoad working");
        var LoadUrl = domainurl + "/App/LoadTechEstimatePartialList?TechnicianId=" + techId + "&Id=" + Id + "&Order=" + order + "&ShowAll=" + showall + "&Searchtext=" + isService;
        //var LoadUrl = domainurl + "/App/LoadTechEstimatePartialList";
        $(".RestockDataLoad_" + Id).html(TabsLoaderText);
        $(".RestockDataLoad_" + Id).load(LoadUrl);
    }
    $(document).ready(function () {
        RestockDataLoad(TechnicianIdr, Idr, "", showallr, '@Model.JobTitle');
        //$(".RestockDataLoadPanelHeading").find("a").click(function () {
        //    $(".ChkShowAllMassRestock").prop("checked", false);
        //    showallr = false;
        //    $(".RestockDataClear").html("");
        //    TechnicianIdr = $(this).attr("data-techid");
        //    Idr = $(this).attr("data-id");
        //    RestockDataLoad(TechnicianIdr, Idr, "", showallr);
        //});
        //$(".RestockDataLoadPanelHeading").find("a").first().trigger("click");
        //$('#accordion').find('.accordion_header').click(function () {
        //    var $this = $(this);
        //    $this.toggleClass("open");
        //});
        //$(".RestockDataLoadPanelHeading").find(".ChkShowAllMassRestock").change(function () {
        //    if ($(this).prop("checked")) {
        //        showallr = true;
        //    }
        //    else {
        //        showallr = false;
        //    }
        //    $(".RestockDataClear").html("");
        //    TechnicianIdr = $(this).attr("data-techid");
        //    Idr = $(this).attr("data-id");
        //    RestockDataLoad(TechnicianIdr, Idr, "", showallr);
        //});
    });
</script>
<style>
    .add_mass_restock_container {
        width: 100%;
        float: left;
    }
    .add_mass_restock_container .accordion_header {
        padding-left:30px;
    }
        .add_mass_restock_container #accordion {
            padding: 15px;
        }

        .add_mass_restock_container .panel-default {
            margin-bottom: 10px;
        }

        .add_mass_restock_container .panel-body {
            padding: 0px;
        }

        .add_mass_restock_container #CustomerMassRestockTab thead tr th:nth-child(5),
        .add_mass_restock_container #CustomerMassRestockTab thead tr th:nth-child(6),
        .add_mass_restock_container #CustomerMassRestockTab thead tr th:nth-child(7),
        .add_mass_restock_container #CustomerMassRestockTab thead tr th:nth-child(8) {
            width: 125px;
        }

        .add_mass_restock_container #CustomerMassRestockTab tbody tr:nth-child(odd) {
            background-color: #f8f8f8;
        }
        .add_mass_restock_container #CustomerMassRestockTab tbody tr:hover {
            background-color: #f4f5f8;
        }
        .add_mass_restock_container #CustomerMassRestockTab tbody tr td {
            padding:5px 10px;
        }

    .add-invoice-container #mceu_15-body,
    .add-invoice-container #mceu_22-body,
    .add-invoice-container #mceu_29-body,
    .add-invoice-container .mce-menubar,
    .add-invoice-container #mceu_54-body,
    .add-invoice-container #mceu_61-body {
        display: none;
    }

    .PoContentScroll {
        overflow-y: scroll;
        height: auto;
    }

    .text-center-important {
        text-align: center !important;
    }

    /*.SaveaButtonsDivMass {
        width: 100%;
        float: left;
        text-align: right;
        margin-top: 15px;
        margin-bottom: 15px;
    }

        .SaveaButtonsDivMass .btn {
            background-color: #2ca01c;
            color: #fff;
        }*/
    #accordion .closed {
        background: url('../../Content/img/primary-collapse-icon.png') no-repeat 0 13px;
        background-position: 1% 50%;
        background-size: 18px 17px;
    }
    #accordion .open {
        background: url('../../Content/img/primary-expand-icon.png') no-repeat 0 13px;
        background-position: 1% 50%;
        background-size: 18px 17px;
    }
   
   .RestockDataLoadPanelHeading .panel-title input {
       float:right;
   }
    .RestockDataLoadPanelHeading .panel-title span {
           float: right;
        font-size: 13px;
        font-weight: bold;
        margin-right: 6px;
        margin-top: 3px;
   }
</style>
<div class="hidden" style="display:none;visibility:hidden;height:0px;">
</div>
<div class="add_mass_restock_container">
    <div class="avb_div_header">
        <div class="header_title_avb">
            @if (@Model.JobTitle == "service")
            {
                @Localize.T("Service")
            }
            else
            {
                @Localize.T("Equipment")
            }

        </div>
    </div>
    <div class="panel-group" id="accordion">
      
            <div class="panel panel-default">
                <div id="collapse_@Model.Id" class="panel-collapse ">
                    <div class="panel-body RestockDataClear RestockDataLoad_@Model.Id">
                    </div>
                </div>
            </div>
      
    </div>
</div>
