@{
    Layout = null;
}
@model List<HS.Entities.HrDoc>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/Mmrs")
@*@Scripts.Render("~/scripts/Mmrs")*@
<script src="~/Content/Js/UserUploadFile/UserUploadFile.js"></script>
<script src="~/Content/Js/FileDownload/jquery.fileDownload.js"></script>
<link href="~/Content/Css/HrDoc/HrDocPartial.css" rel="stylesheet" />
<script>
    var valueuser = '@ViewBag.usernumlist';
    var FilterText = '@ViewBag.FilterText';
    $(document).ready(function () {
        $("#SearchDoc").click(function () {
            var SearchText = $("#srch-doc-item").val();
            var FilterText = $("#Category").val();
            $(".LoadDocInfo").load(domainurl + "/HrDoc/HrDocPartial?usernum=" + usernum + "&SearchText=" + SearchText + "&FilterText=" + FilterText);
        })
        if(FilterText != "")
        {
            $("#Category").val(FilterText);
        }
    })
</script>

<div class="Inventory-Page-wrap" id="page-wrap">
    <div class="container-fluid hr_doc_partial_container">
        <div id="page-slide" class="page-header1 slide">
            <div class="hr_doc_partial_row">
                    <div class="hr_doc_partial_searchbardiv">
                        <input class="form-control" placeholder="Find a file" name="srch-term" id="srch-doc-item" value="@ViewBag.SearchText" type="text">
                        <div class="input-group add-on">
                                @Html.DropDownList("Catagory", ViewBag.DocCategory as List<SelectListItem>, new { @class = "form-control", id = "Category" })
                          <div class="input-group-btn">
                                <button class="btn custom-btn green_button" type="submit" id="SearchDoc" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
                          </div>
                        </div>
                      
                    </div>
                    @*<span class="page-title">@Localize.T("User Files")</span>*@
                    @*<div class="back-link"> <a href="javascript:void(0)" id="LoadBack"> Go Previous Page</a> </div>*@
              
              
                    <button class="btn btn-primary" id="AddNewProduct">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
                    </button>
               
            </div>
        </div>
        

        <div class="custom-table">
            <table class="display uidt_table" id="tblinfo">
                <thead class="table-head-border hr_doc_partial_header_hide">
                    <tr>
                        @*<th class="thead-th-style1" style="width:150px!important;">
                                @Localize.T("File Name")
                            </th>*@
                        <th class="thead-th-style sorting ">
                            @Localize.T("File Description")
                        </th>
                     
                     
                        <th class="thead-th-style sorting">
                            @Localize.T("Category")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Created By")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Created Date")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Actions")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-style">
                            @*<td class="table-body-td-style" valign="top">
                                    <a href="@item.Filename" class="fileNames">@item.Filename</a>
                                </td>*@
                            <td class="table-body-td-style hr_doc_partial_device_row" valign="top">
                                <div class="hrdp_device_header">@Localize.T("File Description")<span>:</span></div>
                                <div class="hrdp_device_info">
                                    <a class="fileDownloadCustom cus-anchor" href="~/UserFileDownload/?@(HttpUtility.UrlEncode( HS.Framework.DESEncryptionDecryption.EncryptPlainTextToCipherText(item.Id.ToString())))" id="down-file" target="_blank" data-id="@item.Id">@item.FileDescription</a>
                                </div>
                            </td>
                         
                          
                            <td class="table-body-td-style hr_doc_partial_device_row" valign="top">
                                <div class="hrdp_device_header">@Localize.T("Category")<span>:</span></div>
                               
                                @if (item.DocCategory != null && item.DocCategory != "-1")
                                {
                                    <div class="hrdp_device_info">@item.DocCategory </div>
                                }

                            </td>
                            <td class="table-body-td-style hr_doc_partial_device_row" valign="top">
                                <div class="hrdp_device_header">@Localize.T("Created By")<span>:</span></div>
                                <div class="hrdp_device_info">@item.CreatedByName</div>
                            </td>
                            <td class="table-body-td-style hr_doc_partial_device_row" valign="top">
                                <div class="hrdp_device_header">@Localize.T("Created Date")<span>:</span></div>

                                @if (item.CreatedDate != new DateTime())
                                {
                                    <div class="hrdp_device_info">@HS.Framework.DateTimeExtension.UTCToClientTime(item.CreatedDate).ToString("MM/dd/yy") </div>
                                }
                            </td>
                            <td class="table-body-td-style hr_doc_partial_device_row" valign="top">
                                <div class="hrdp_device_header">@Localize.T("Actions")<span>:</span></div>
                                <div class="hrdp_device_info">
                                    <a href="javascript:void(0)" class="item-edit" data-id="@item.Id">
                                        <i class="fa fa-sticky-note-o"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="item-delete" data-id="@item.Id" title="@Localize.T("Delete")">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                 </div>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
