@model HS.Entities.TechSchedule
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script src="~/Content/Js/Popups/AddTechScheduleSetting.js"></script>
<link href="~/Content/Css/AddAlarmDotCom/AddAlarmDotCom.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        /*$(".emp-list").select2({})*/
    })
</script>

<div class="container-fluid">
    @Html.HiddenFor(x => x.Id)
    <h3 class="design-txt">@Localize.T("New TechSchedule Setting")</h3>
    <span class="style-span">@Localize.T("Technician Name")</span>
    <div class="txt-form-style">
        @Html.DropDownListFor(x => x.EmployeeId, (List<SelectListItem>)ViewBag.EmployeeList, new { @class = "form-control emp-list" })
    </div>
    <span class="style-span">@Localize.T("Customer Name")</span>
    <div class="txt-form-style">
        @Html.DropDownListFor(x => x.CustomerId, (List<SelectListItem>)ViewBag.CustomerList, new { @class = "form-control emp-list" })
    </div>
</div>
<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn" id="SaveTech"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
        </div>
    </footer>
</section>
