@model List<HS.Entities.TechSchedule>
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/Mmrs")
@*@Scripts.Render("~/scripts/Mmrs")*@
<link href="~/Content/Css/AlarmDotCom/AlarmDotCom.css" rel="stylesheet" />
<script src="~/Content/Js/TechScheduleSetting/TechScheduleSetting.js"></script>
<div class="container-fluid fluid-style">
    <span class="txt-content">@Localize.T("Tech Setting Information")</span>
    <button class="AddTech">@Localize.T("Add New Tech")</button>

    <div class="Tech-table">
        <table id="tblTech">
            <thead class="table-head-border">
                <tr>
                    <th class="thead-th-style sorting">
                        @Localize.T("Technician Name")
                    </th>
                    
                    <th class="thead-th-style sorting">
                        @Localize.T("Action")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="tr-style">
                        <td class="table-body-td-style" valign="top">
                            <span>@item.TechnicianName</span>
                        </td>
                        
                        <td class="table-body-td" valign="top">
                            <a href="javascript:void(0)" class="item-edit-Tech" data-id="@item.Id" style="color:#2ca01c;">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                @Localize.T("Edit")
                            </a>
                            <a href="javascript:void(0)" class="item-delete-Tech" data-id="@item.Id" title="@Localize.T("Delete")">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
