@{
    ViewBag.Title = "New Bill";
    Layout = null;
}
@model HS.Entities.NewBillingOfSuppliers
@using Localize = HS.Web.UI.Helper.LanguageHelper
@*<script src="~/Content/PikDay/js/moment.js"></script>
<script src="~/Content/PikDay/js/pikaday.js"></script>*@
<script src="~/Content/Js/AddSupplierBill/AddSupplierBill.js"></script>

@*<link href="~/Content/PikDay/css/pikaday.css" rel="stylesheet" />*@
<link href="~/Content/Css/AddSupplierBill/AddSupplierBill.css" rel="stylesheet" />
<style>
    .add-newBillinfg-container {
        margin-top: 70px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .div-header {
        position: absolute;
        top: 0;
        padding-top: 10px;
        font-size: 20px;
        padding-left: 15px;
    }

    #SupplierId {
        width: 240px !important;
    }

    .cus-title-span {
        font-weight: 600;
        color: #615b5b;
        display: block;
        font-size: 14px;
        -webkit-tap-highlight-color: transparent;
    }

    .cus-input {
        padding-right: 20px !important;
        width: 250px !important;
        float: left;
    }

    .total-due {
        font-size: 4.8rem;
        height: 4.8rem;
    }

    .billing-item-details{
        width : 100%;
        float : left;
    }
    .billing-account-details{
        width : 100%;
        float : left;
    }
    .item-details-header{
        width : 100%;
        margin-bottom : 20px;
    }
    .cus-right-arrow-item-details{
        font-size : 24px;
        padding-right : 10px;
        cursor : pointer;
    }
    .cus-sub-hearder{
        font-size : 18px;
        font-weight : 600;
    }
    .cus-right-arrow-account-details{
        font-size : 24px;
        padding-right : 10px;
        cursor : pointer;
    }
</style>

<script>
    var PaymentDatepicker;
    var DueDatepicker;

    $(document).ready(function () {

        $(".cus-right-arrow-item-details").click(function () {
            $("#CustomerInvoiceTab").toggle();
        });

        PaymentDatepicker = new Pikaday({
            field: $('#SupplierBillObject_PaymentDate')[0],
            format: 'MM/DD/YYYY'
        });
        DueDatepicker = new Pikaday({
            field: $('#SupplierBillObject_PaymentDueDate')[0],
            format: 'MM/DD/YYYY'
        });

    });


</script>

<div class="add-newBillinfg-container">
    <div class="div-header">
        <div class="header-title">
            <span class="custom-title-span">
                @Localize.T("Bill : ")
            </span>
        </div>
    </div>
    <div style="width:100%">
        <div class="col-md-9">
            <div style="width: 100%">
                <span class="cus-title-span">@Localize.T("Select a supplier")</span>
                @Html.DropDownList("EquipmentCategory", (List<SelectListItem>)ViewBag.SupplierListForBillPartial, new { @class = "form-control", id = "SupplierId" })
            </div>
            <div style="padding-top : 10px">
                <div class="form-group clearfix cus-input">
                    <span class="cus-title-span">@Localize.T("Payment Date")</span>
                    @Html.TextBoxFor(x => x.SupplierBillObject.PaymentDate, "{0:MM/dd/yy}", new { @class = "PaymentDate form-control", @readonly = "readonly" })

                </div>
                <div class="form-group clearfix cus-input ">
                    <span class="cus-title-span">@Localize.T("Due Date")</span>
                    @Html.TextBoxFor(x => x.SupplierBillObject.PaymentDueDate, "{0:MM/dd/yy}", new { @class = "DueDate form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <span class="cus-title-span">@Localize.T("Balance Due")</span>
            <span class="total-due">@Localize.T("@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)")</span>
        </div>
    </div>
    <div class="billing-account-details">
        <div class="item-details-header">
            <span class="fa fa-chevron-right cus-right-arrow-account-details"></span>
            <span class="cus-sub-hearder">@Localize.T("Account Details")</span>
        </div>
        <div class="">
            <table class="AccountDescriptionTab" id="AccountDescriptionTab">
                <thead>
                    <tr>
                        <th class="thead-th-style1 tab-index">
                            <span>

                            </span>
                        </th>
                        <th class="thead-th-style1 tab-Product">
                            <span>
                                @Localize.T("Account")
                            </span>
                        </th>
                        <th class="thead-th-style2 tab-Desc">
                            <span>
                                @Localize.T("Description")
                            </span>
                        </th>
                        <th class="thead-th-style2 tab-Amount">
                            <span>
                                @Localize.T("Amount")
                            </span>
                        </th>
                        <th class="thead-th-style2 tab-Action">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td valign="top"></td>
                        <td valign="top">
                            <input type="text" class="ProductName" onkeydown="SearchKeyDown(this, event)" onkeyup="SearchAccountKeyUp(this, event)" />
                            <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                            <span class="spnProductName"></span>
                        </td>
                        <td valign="top">
                            <input type="text" class="txtProductDesc" />
                            <span class="spnProductDesc"></span>
                        </td>
                        <td valign="top">
                            <input type="text" class="txtProductAmount" />
                            <span class="spnProductAmount"></span>
                        </td>
                        <td valign="top" class="tableActions">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top"></td>
                        <td valign="top">
                            <input type="text" class="ProductName" onkeydown="SearchKeyDown(this, event)" onkeyup="SearchAccountKeyUp(this, event)" />
                            <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                            <span class="spnProductName"></span>
                        </td>
                        <td valign="top">
                            <input type="text" class="txtProductDesc" />
                            <span class="spnProductDesc"></span>
                        </td>
                        <td valign="top">
                            <input type="text" class="txtProductAmount" />
                            <span class="spnProductAmount"></span>
                        </td>
                        <td valign="top" class="tableActions">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="billing-item-details">
        <div class="item-details-header">
            <span class="fa fa-chevron-right cus-right-arrow-item-details"></span>
            <span class="cus-sub-hearder">@Localize.T("Item Details")</span>
        </div>
        <div class="">
            <table class="CustomerInvoiceTab" id="CustomerInvoiceTab">
                <thead>
                    <tr>
                        <th class="thead-th-style1 tab-index">
                            <span>

                            </span>
                        </th>
                        <th class="thead-th-style1 tab-Product">
                            <span>
                                @Localize.T("Product/Service")
                            </span>
                        </th>
                        <th class="thead-th-style2 tab-Desc">
                            <span>
                                @Localize.T("Description")
                            </span>
                        </th>
                        <th class="thead-th-style2 tab-Quantity">
                            <span>
                                @Localize.T("Quantity")
                            </span>
                        </th>
                        <th class="thead-th-style2 tab-Rate">
                            <span>
                                @Localize.T("Rate")
                            </span>
                        </th>
                        <th class="thead-th-style2 tab-Amount">
                            <span>
                                @Localize.T("Amount")
                            </span>
                        </th>
                        <th class="thead-th-style2 tab-Action">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td valign="top"></td>
                        <td valign="top">
                            <input type="text" class="ProductName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                            <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                            <span class="spnProductName"></span>
                        </td>
                        <td valign="top">
                            <input type="text" class="txtProductDesc" />
                            <span class="spnProductDesc"></span>
                        </td>
                        <td valign="top">
                            <input type="number" class="txtProductQuantity" />
                            <span class="spnProductQuantity"></span>
                        </td>
                        <td valign="top">
                            <input type="text" class="txtProductRate" />
                            <span class="spnProductRate"></span>
                        </td>
                        <td valign="top">
                            <input type="text" class="txtProductAmount" />
                            <span class="spnProductAmount"></span>
                        </td>
                        <td valign="top" class="tableActions">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top"></td>
                        <td valign="top">
                            <input type="text" class="ProductName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                            <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                            <span class="spnProductName"></span>
                        </td>
                        <td valign="top">
                            <input type="text" class="txtProductDesc" />
                            <span class="spnProductDesc"></span>
                        </td>
                        <td valign="top">
                            <input type="number" class="txtProductQuantity" />
                            <span class="spnProductQuantity"></span>
                        </td>
                        <td valign="top">
                            <input type="text" class="txtProductRate" />
                            <span class="spnProductRate"></span>
                        </td>
                        <td valign="top">
                            <input type="text" class="txtProductAmount" />
                            <span class="spnProductAmount"></span>
                        </td>
                        <td valign="top" class="tableActions">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

