@{
    ViewBag.Title = "Billing & Expense";
    Layout = null;
}
@using AppConfig = HS.Framework.Utils.AppConfig; 
@using Localize = HS.Web.UI.Helper.LanguageHelper

<style>
    .AddNewBtnDiv {
        float: right;
        color: white;
    }

    .transaction-new {
        background-color: #2ca01c;
        color: #ffffff;
         -webkit-border-radius: 3px 0 0 3px;
-moz-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;
        box-shadow: none;
        border-right: none;
        border: 1px solid #8d9096;
        outline: none;
        padding: 0 15px;
        position: relative;
        font-weight: 600;
        min-width: 80px;
        cursor: pointer;
        font-size: 1.4rem;
        height: 34px;
        line-height: 34px;
        overflow: visible;
        text-align: center;
    }

    .billing-btn-dropdown {
        background-color: #2ca01c;
        color: #ffffff;
         -webkit-border-radius: 0 3px 3px 0;
-moz-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;
        box-shadow: none;
        border-left: 1px solid #108000;
    }

        .billing-btn-dropdown:hover {
            background-color: #2ca01c;
            color: #ffffff;
        }

    .transaction-dropdown-ul-style {
        border: 1px solid #666 !important;
        font-size: 13px;
         -webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
        margin-top: 4px !important;
        width: inherit;
        padding: 4px 0px 4px 0px !important;
    }

    .cus-title {
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        color: #393a3d;
    }
</style>

<script>
    $(document).ready(function () {
        $(".newBill").click(function () {
            OpenTopToBottomModal("@(AppConfig.DomainSitePath)/Expense/NewBillingPartial");
        });
        $(".newExpense").click(function () {
            OpenTopToBottomModal("@(AppConfig.DomainSitePath)/Expense/NewExpensePartial");
        });

    })
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-7">
                <span class="cus-title">@Localize.T("Expense Transactions")</span>
            </div>
            <div class="col-md-5">
                <div class="AddNewBtnDiv">
                    <div class="btn-group">
                        <button class="btn transaction-new" id="AddNewTransaction" type="button">@Localize.T("New transaction")</button>
                        <button data-toggle="dropdown" class="btn dropdown-toggle billing-btn-dropdown" type="button">
                            <span class="caret caret-style"></span>
                        </button>
                        <ul class="dropdown-menu transaction-dropdown-ul-style">
                            <li><a href="javascript:void(0)" class="newBill">@Localize.T("Bill")</a></li>
                            <li><a href="javascript:void(0)" class="newExpense">@Localize.T("Expense")</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>