
@{
    Layout = null;
}
@model HS.Entities.CheckModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Getcheck</title>
</head>
<body>
    <div style="position:relative;">
        <div style="height:375px; width:100%;">
            <div style="position:absolute;">
                <img style="width:100%;" src="~/Content/img/CheckFormat.PNG" />
            </div>
            <div style="width:100%;height:375px;position:absolute;">
                <div style="position:absolute;right:12%;top:23%;">
                    <span style="font-size:14px;font-weight:bold;">@Model.CheckDate.Value.ToString("MM/dd/yy")</span>
                </div>
                <div style="position: absolute; top: 38%; left: 16%; font-size: 20px; font-weight: bold;text-transform:capitalize;">
                    <span>@Model.Name</span>
                </div>
                <div style="position: absolute; top: 47.5%; left: 8%; font-size: 20px; font-weight: bold; text-transform: capitalize;">
                    <span>@Model.AmountInWord</span>
                </div>
                <div style="font-size: 17px; font-weight: bold; position: absolute; top: 79.5%; left: 9%;">
                    <span>@Model.Memo</span>
                </div>
                <div style="font-size: 20px; font-weight: bold; position: absolute; top: 39%; left: 78%;">
                    <span>@Model.Amount</span>
                </div> 
            </div>
        </div>
        <div style="height:375px; width:100%;position:relative;">
            <div style="position:absolute;right:7%;top:21%;">
                <span style="font-size:14px;font-weight:bold;">Date: @Model.CheckDate.Value.ToString("MM/dd/yy")</span>
            </div>
            <div style="position: absolute; top: 34%; left: 8%; font-size: 20px; font-weight: bold;text-transform:capitalize;">
                <div style="font-size:14px; color:#454545 ;width:110px;float:left;">
                    <span>PAY TO THE<br />ORDER OF</span>
                </div>
                <span>@Model.Name</span>
            </div>
            <div style="position: absolute; top: 46%; left: 8%; font-size: 20px; font-weight: bold; text-transform: capitalize;">
                <span>@Model.AmountInWord DOLLARS</span>
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.Memo))
            {
                <div style="font-size: 17px; font-weight: bold; position: absolute; top: 74.5%; left: 8%;">
                    <span>MEMO: @Model.Memo</span>
                </div>
            } 
            <div style="font-size: 20px; font-weight: bold; position: absolute; top: 38.5%; left: 84%;">
                <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.Amount</span>
            </div>
        </div>
        <div style="height:375px; width:100%;position:relative;">
            <div style="position:absolute;right:7%;top:21%;">
                <span style="font-size:14px;font-weight:bold;">Date: @Model.CheckDate.Value.ToString("MM/dd/yy")</span>
            </div>
            <div style="position: absolute; top: 34%; left: 8%; font-size: 20px; font-weight: bold;text-transform:capitalize;">
                <div style="font-size:14px; color:#454545;width:110px;float:left;">
                    <span>PAY TO THE<br />ORDER OF</span> 
                </div>
                <span>@Model.Name</span>
            </div>
            <div style="position: absolute; top: 46%; left: 8%; font-size: 20px; font-weight: bold; text-transform: capitalize;">
                <span>@Model.AmountInWord DOLLARS</span>
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.Memo))
            {
                <div style="font-size: 17px; font-weight: bold; position: absolute; top: 74.5%; left: 8%;">
                    <span>MEMO: @Model.Memo</span>
                </div>
            } 
            <div style="font-size: 20px; font-weight: bold; position: absolute; top: 38.5%; left: 84%;">
                <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.Amount</span>
            </div>
        </div>
    </div>
</body>
</html>
