@model IEnumerable<HS.Entities.BillFile>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@{ 
    Layout = null;
}
<script>

    var DeleteBillFileConfirm = function(Id,BillNo)
    {
        OpenConfirmationMessageNew("", "Are you sure to delete this bill file?", function ()
        {
            DeleteBillFile(Id, BillNo);
        })
    }
    var DeleteBillFile = function (Id,BillNo) {

        var url = "/Expense/DeleteBillFile";
        $.ajax({
            type: "POST",
            ajaxStart: function () { },
            url: url,
            data: JSON.stringify({
                Id: Id,

            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.result) {
                    OpenSuccessMessageNew("Success!", data.message, function () {
                        $(".LoadBillFiles").load("/Expense/LoadBillFiles?BillNo=" + BillNo)
                    });

                }
                else {
                    OpenErrorMessageNew("Error!", data.message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
</script>
<table class="table load_bill_files_table">
    <thead>
        <tr>
            <th>@Localize.T("File")</th>
            <th>
               @Localize.T("File Description")
            </th>


            <th>
                @Localize.T("Order No.")
            </th>

            <th>
                @Localize.T("File Size")
            </th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
    {
        <tr>

            @{
                var NameFile = item.Filename.Split('.');
                if (NameFile[1].ToLower() == "pdf")
                {
                    <td class="table-body-td-style" valign="top">
                        <div>@Localize.T("File") <span>:</span></div>
                        <div>
                            <a class="fileDownloadCustom cus-anchor" href="/File/BillFileDownload/?@(HttpUtility.UrlEncode( HS.Framework.DESEncryptionDecryption.EncryptPlainTextToCipherText(item.Id.ToString())))" id="down-file" target="_blank" data-id="@item.Id"><img class="size-img" src="/Content/Icons/pdf.png" />@item.FileDescription</a>
                        </div>
                    </td>
                }
                else if (NameFile[1].ToLower() == "jpg" || NameFile[1].ToLower() == "png")
                {
                    <td class="table-body-td-style" valign="top">
                        <div>@Localize.T("File") <span>:</span></div>
                        <div>
                            <a class="fileDownloadCustom cus-anchor" href="/File/BillFileDownload/?@(HttpUtility.UrlEncode( HS.Framework.DESEncryptionDecryption.EncryptPlainTextToCipherText(item.Id.ToString())))" id="down-file" target="_blank" data-id="@item.Id"><img class="size-img" src="~/Content/Icons/jpeg.png" />@item.FileDescription</a>
                        </div>
                    </td>
                }
                else if (NameFile[1].ToLower() == "mp4")
                {
                    <td class="table-body-td-style" valign="top">
                        <div>@Localize.T("File") <span>:</span></div>
                        <div>
                            <a class="fileDownloadCustom cus-anchor" href="/File/BillFileDownload/?@(HttpUtility.UrlEncode( HS.Framework.DESEncryptionDecryption.EncryptPlainTextToCipherText(item.Id.ToString())))" id="down-file" target="_blank" data-id="@item.Id"><img class="size-img" src="~/Content/Icons/mp4.png" />@item.FileDescription</a>
                        </div>
                    </td>
                }
                else if (NameFile[1].ToLower() == "mov")
                {
                    <td class="table-body-td-style" valign="top">
                        <div>@Localize.T("File") <span>:</span></div>
                        <div>
                            <a class="fileDownloadCustom cus-anchor" href="/File/BillFileDownload/?@(HttpUtility.UrlEncode( HS.Framework.DESEncryptionDecryption.EncryptPlainTextToCipherText(item.Id.ToString())))" id="down-file" target="_blank" data-id="@item.Id"><img class="size-img" src="~/Content/Icons/mov.png" />@item.FileDescription</a>
                        </div>
                    </td>
                }
                else
                {
                    <td class="table-body-td-style" valign="top">
                        <div>@Localize.T("File") <span>:</span></div>
                        <div>
                            <a class="fileDownloadCustom cus-anchor" href="/File/BillFileDownload/?@(HttpUtility.UrlEncode( HS.Framework.DESEncryptionDecryption.EncryptPlainTextToCipherText(item.Id.ToString())))" id="down-file" target="_blank" data-id="@item.Id"><img class="size-img" src="~/Content/Icons/docx.png" />@item.FileDescription</a>
                        </div>
                    </td>
                }
            }

            <td>
                <div>@Html.DisplayNameFor(model => model.FileDescription) <span>:</span></div>
                <div>@Html.DisplayFor(modelItem => item.FileDescription)</div>
            </td>

            <td>
                <div>@Localize.T("Order No.") <span>:</span></div>
                <div>@Html.DisplayFor(modelItem => item.BillNo)</div>
            </td>


            <td>
                <div>@Html.DisplayNameFor(model => model.FileSize) <span>:</span></div>
                <div>@Html.DisplayFor(modelItem => item.FileSize)</div>
            </td>
            <td>
                <div>Action <span>:</span></div>
                <div><span onclick="DeleteBillFileConfirm('@item.Id','@item.BillNo')"><i class="fa fa-trash-o" aria-hidden="true"></i></span></div>
            </td>

        </tr>
                }
</tbody>

</table>
