@{
    Layout = null;
    var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;
}
@model HS.Entities.TrackingNumberRecorded
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@Styles.Render("~/styles/AddCustomer")
<style>
    .add_site_location_inner .form-group{
        width: 100%;
    float: left;
    padding: 0px 15px;
    margin-top: 10px;
    }
</style>
<script>
    var trackstatus = '@Model.Status';
    var trackid = '@Model.Id';
    var SaveTrackStatus = function () {
        var url = domainurl + "/Order/SaveTrackStatus";
        var param = JSON.stringify({
            id: trackid,
            status: $("#track_number_status").val()
        });
            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: url,
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data) {
                        OpenRightToLeftModal(false);
                        LoadPhoneOrdersTab(1);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })
    }
    $(document).ready(function () {
        if (typeof (trackstatus) != "undefined" && trackstatus != null && trackstatus != "") {
            $("#track_number_status").val(trackstatus);
        }
        $(".add_site_location_inner_height").height(window.innerHeight - 94);
    })
    $(window).resize(function () {
        $(".add_site_location_inner_height").height(window.innerHeight - 94);
    });
</script>
<div class="add_site_location_container">
    <div class="add_site_location_header">
        @Localize.T("Change Status")
    </div>
    <div class="add_site_location_inner_height">
        <div class="add_site_location_inner">
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Location Name")</span>
                <input class="form-control" readonly="readonly" value="@(Model.WebsiteLocation != null ? Model.WebsiteLocation.Name : "")" />
            </div>
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Tracking Number")</span>
                <input class="form-control" readonly="readonly" value="@Model.TrackingNumber" />
            </div>
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Caller Number")</span>
                <input class="form-control" readonly="readonly" value="@Model.CallerNumber" />
            </div>
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Status")</span>
                <select class="form-control" id="track_number_status">
                    <option value="Order">Order</option>
                    <option value="Spam/Sales">Spam/Sales</option>
                    <option value="Customer Service">Customer Service</option>
                    <option value="Missed Call">Missed Call</option>
                </select>
            </div>
        </div>
    </div>
    <div class="add_site_location_footer">
        <button class="btn btn-default" id="SaveWebLocation" onclick="SaveTrackStatus()"><i class="fa fa-save" aria-hidden="true"></i> @Localize.T("Save")</button>
    </div>
</div>