@model HS.Entities.RestaurantRewards
@{
    Layout = null;
}
@Styles.Render("~/styles/MenuListPartial")
<style>
    #btnrewards{
        background-color:#2ca01c;
        border-color: #2ca01c;
        color:white;
    }
</style>
<script>
    var rewardstatus = '@Model.Status';
    var SaveRewards = function () {
        var url = "/Order/SaveRewards";
        var param = JSON.stringify({
            Id: $("#rewardid").val(),
            DollarSpent: $("#DollarVal").attr("data-val"),
            ReedemValue: $("#RedeemVal").val(),
            Status: $("#RewardStatus").val() == 1 ? true : false
        });
        $.ajax({
                type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data) {
                        LoadRewardsTab(1);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })
    }
    $(document).ready(function () {
        if (typeof (rewardstatus) != "undefined" && rewardstatus != null && rewardstatus != "") {
            if (rewardstatus == "True") {
                $("#RewardStatus").val("1");
            }
            else {
                $("#RewardStatus").val("0");
            }
        }
    })
</script>
@Html.HiddenFor(x => x.Id, new { id = "rewardid" })
<table class="display all_menu menu_list_partial_info" id="tblMenu" style="width:100%;">
    <thead>
        <tr>
            <th>Dollar Spent</th>
            <th>Redeem Value</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="DollarVal" data-val="1.00">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)1.00</td>
            <td>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="input-group-text">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)</span>
                    </div>
                    <input type="number" class="form-control" id="RedeemVal" value="@(HS.Web.UI.Helper.LabelHelper.FormatAmount(Model != null && Model.ReedemValue > 0 ? Model.ReedemValue : 0.025))" />
                </div>
            </td>
            <td>
                <select class="form-control" id="RewardStatus">
                    <option value="0">Inactive</option>
                    <option value="1">Active</option>
                </select>
            </td>
            <td><button class="btn" id="btnrewards" onclick="SaveRewards()">Save</button></td>
        </tr>
    </tbody>
</table>
