@model List<HS.Entities.RestaurantCoupons>
@{
    Layout = null;
}
@Styles.Render("~/styles/MenuListPartial")
<style>
    #btnaddcoupon {
        float:right;
        background-color: #2ca01c;
        border-color: #2ca01c;
        color: white;
    }
</style>
<script>
    $(document).ready(function () {
        if (typeof (rewardstatus) != "undefined" && rewardstatus != null && rewardstatus != "") {
            if (rewardstatus == "True") {
                $("#RewardStatus").val("1");
            }
            else {
                $("#RewardStatus").val("0");
            }
        }
    })
</script>
<div class="coupon_header_container">
    <button class="btn" id="btnaddcoupon" onclick="OpenRightToLeftModal('/Order/AddCoupon?id=0')"><i class="fa fa-plus"></i> New</button>
</div>
<table class="display all_menu menu_list_partial_info" id="tblMenu" style="width:100%;">
    <thead>
        <tr>
            <th>Coupon Code</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Discount</th>
            <th>Min Order Val</th>
            <th># of Redeems</th>
            <th>Redeemed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Status == true)
                    {
                        <a href="javascript:void(0)" class="cus-anchor" onclick="OpenRightToLeftModal('/Order/AddCoupon?id=@item.Id')">@item.CouponCode</a>
                    }
                    else
                    {
                        <a href="javascript:void(0)" class="cus-anchor" onclick="OpenRightToLeftModal('/Order/AddCoupon?id=@item.Id')"><strike style="color:red;">@item.CouponCode</strike></a>
                    }
                </td>
                <td>
                    @if(item.Status == true)
                    {
                        <span>Active</span>
                    }
                    else
                    {
                        <span>Inactive</span>
                    }
                </td>
                <td>@item.StartDate.ToString("MM/dd/yyyy")</td>
                <td>@item.EndDate.ToString("MM/dd/yyyy")</td>
                <td>
                    @if (item.DiscountType == "dollar")
                    {
                        @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Convert.ToDouble(item.Discount))
                    }
                    else
                    {
                        <span>@item.Discount</span><span>%</span>
                    }
                </td>
                <td>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Convert.ToDouble(item.MinimumOrder))</td>
                <td>
                    @if (string.IsNullOrWhiteSpace(item.ReedemRequired) || item.ReedemRequired == "0")
                    {
                        <span>Unlimited</span>
                    }
                    else
                    {
                        @item.ReedemRequired
                    }

                </td>
                <td>@HS.Web.UI.Helper.LabelHelper.FormatCount(item.CountRedeem)</td>
            </tr>
        }
    </tbody>
</table>
