@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.CommisionType
@using AppConfig = HS.Framework.Utils.AppConfig;

<script>
    var SaveCommissionType = function () {
        var url = "@(AppConfig.DomainSitePath)/Commission/AddCommissionType";
        var param = JSON.stringify({
            Id: $("#Id").val(),
            Name: $("#Name").val()
        });
        $.ajax({
            type: "POST",
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (result) {
                parent.$('.close').trigger('click');
                setTimeout(function () {
                    parent.$("#CommissionTypeTab").load("@(AppConfig.DomainSitePath)/Commission/CommissionTypePartial");
                }, 600);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        })
    }
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $("#SaveCommissionType").click(function () {
            if (CommonUiValidation()) {
                SaveCommissionType();
            }
        })
    })
</script>

<style>
    .add_commission_type_header {
    width: 100%;
    background-color: #f4f5f8;
    padding: 10px 0px 5px 20px;
    font-size: 2rem;
    font-weight: 400;
    color: #393a3d;
    }
    .SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }
    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }
</style>
<div class="add_commission_type_header">@Localize.T("Add Commission Type")</div>
<div class="container-fluid">
    @Html.HiddenFor(x => x.Id)
    <div class="clearfix">
        <label>@Localize.T("Name")</label>
        <div>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", datarequired = "true" })
        </div>
    </div>
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn btn-snote" id="SaveCommissionType"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
        </div>
    </footer>
</section>
