
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.LocalizeResource
<script src="~/Content/Js/Setup/AddLocalizeResource.js"></script>
<link href="~/Content/Css/Setup/AddLocalizeResource.css" rel="stylesheet" />
<div class="add_localize_resource_container">
    <div class="add_file_header">@Localize.T("Add Language Data")</div>
   <div class="col-md-12">
       <div>
           <label>@Localize.T("Choose language")</label>
           @Html.DropDownList("LanguageId", (List<SelectListItem>)ViewBag.LanguageList, new { @class = "form-control" })
       </div>
       <div>
           <label>@Localize.T("Resource name")</label>
           <input type="text" id="ResourceName" placeholder="Resource Name" datarequired="true" class="form-control" />
       </div>
       <div>
           <label>@Localize.T("Resource value")</label>
           <input type="text" id="ResourceVal" placeholder="Resource Value" datarequired="true" class="form-control" />
       </div>
   </div>

    <div class="footer-section">
        <button class="btn btn_file" id="SaveLocalizeResource"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
    </div>

</div>
