
@{
    Layout = null;
}
@model HS.Entities.MMR

@using Localize = HS.Web.UI.Helper.LanguageHelper

<html>
<head>
    @Styles.Render("~/styles/AddMmr")
    @Scripts.Render("~/scripts/AddMmr")
</head>
<body>
    <div class="container-fluid add_mmrs_container">

        @Html.HiddenFor(x => x.Id)
        @if (Model.Id > 0)
        {
            <div class="add_mmrs_head_container">
                <span class="add_mmrs_head_text">@Localize.T("Edit MMRs")</span>
            </div>
            @*<div class="form-group">
                <h3>@Localize.T("Edit MMRs")</h3>
            </div>*@
        }
        else
        {
            <div class="add_mmrs_head_container">
                <span class="add_mmrs_head_text">@Localize.T("New MMRs")</span>
            </div>
          
        }

        <div class="clearfix">
            &nbsp;
        </div>
        <div class="form-group clearfix">
            <span class="content-type">@Localize.T("Label Name")<span class="red">*</span></span>
            <div class="txt-form">
                @Html.TextBoxFor(x => x.Name, new { @class = "content-text form-control", datarequired = "true" ,placeholder="Label Name"})
                <label rel="Name" class="label hidden red position-absolute">*@Localize.T("Label Name Required")</label>
            </div>
            <div class="middle_pad">
                <span class="content-type">@Localize.T("Value")</span>
                <div class="txt-form">
                    @if (Model.Value.HasValue)
                    {
                        <input class="content-text form-control" id="Value" value="@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.Value.Value)" type="text" placeholder="Value"/>
                    }
                    else
                    {
                        @Html.TextBoxFor(x => x.Value, new { @class = "content-text form-control", id = "Value" ,placeholder="Value"})
                    }
                </div>
            </div>
        </div>
    </div>

    <section class="footer-section">
        <footer class="footer">
            <div class="SaveCancelDiv">
                <button class="btn" id="SaveMMR"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
            </div>
        </footer>
    </section>


</body>
</html>