@{
    Layout = null;
}
@model List<HS.Entities.Lookup>
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script src="~/Content/Js/LookupItem/lookupitem.js"></script>
<style>
    .lookup_item_container {
        border: 1px solid #ccc;
        padding: 10px;
        height: 550px;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .LookupItemsTable {
        width: 100%;
    }

        .LookupItemsTable thead tr th {
            top: -10px;
        }

        .LookupItemsTable thead {
            border-bottom: 2px solid #ccc;
        }

        .LookupItemsTable tbody tr {
            height: 55px;
            border-bottom: 1px solid #ccc;
        }

            .LookupItemsTable tbody tr td {
                text-align: center;
            }

                .LookupItemsTable tbody tr td:nth-child(1) {
                    text-align: left;
                    padding-left: 10px;
                }

        .LookupItemsTable thead th {
            padding: 10px 0px;
            text-align: center;
        }

        .LookupItemsTable tbody tr:nth-child(odd) {
            background-color: #f4f5f8;
        }

    .NewLookupDiv {
        margin-top: 10px;
    }

    .col_10p {
        width: 10%;
    }

    .col_20p {
        width: 20%;
    }

    .col_30p {
        width: 30%;
    }
</style>
<div class="lookup_item_container">
    <div>
        <table class="LookupItemsTable">
            <thead>
                <tr>
                    <th class="hidden">@Localize.T("Data Key")</th>
                    <th class="col_30p">@Localize.T("Value")</th>
                    <th class="col_30p">@Localize.T("Display Text")</th>
                    <th class="col_10p">@Localize.T("Active")</th>
                    <th class="col_10p">@Localize.T("Order")</th>
                    <th class="col_10p">@Localize.T("IsDefault")</th>
                    @if (ViewBag.DataKey == "TicketType" || ViewBag.DataKey == "NoteType")
                    {
                        <th class="DisplayColor">@Localize.T("Color")</th>
                        <th class="DisplayColor">@Localize.T("Calendar")</th>
                    }
                    else
                    {
                        <th class="DisplayColor">@Localize.T("Secondary Text")</th>
                    }
                    <th class="col_20p">@Localize.T("Actions")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-id="@item.Id" class='LookupItem'>
                        <td class="DataKey hidden">@item.DataKey</td>
                        <td class="DataValue">@item.DataValue</td>
                        <td class="DisplayText"><input type="text" value="@item.DisplayText" /></td>
                        <td>
                            <input class="IsActive" type="checkbox" @((item.IsActive.HasValue && item.IsActive.Value) ? "checked" : "") />
                        </td>
                        <td class="DataOrder">@item.DataOrder</td>
                        <td>
                            <input class="IsDefaultItem" name="IsDefaultItem" type="radio" @(item.IsDefaultItem.HasValue && item.IsDefaultItem.Value ? "checked" : "") />
                        </td>
                        @if (item.DataKey == "TicketType" || item.DataKey == "NoteType")
                        {
                            <td class="DisplayColor">
                                <input type="text" class="jscolor" id="ColorDisplay" value="@item.AlterDisplayText" />
                            </td>
                            <td><input class="AlterIsActive" type="checkbox" @((!string.IsNullOrWhiteSpace(item.AlterDisplayText1) && Convert.ToBoolean(item.AlterDisplayText1) == true) ? "checked" : "") /></td>
                        }
                        else
                        {
                            <td class="DisplayColor"><input type="hidden" value="@item.AlterDisplayText" />@item.AlterDisplayText</td>
                        }
                        <td>
                            <a data-toggle="tooltip" title="Delete" onclick='DeleteLookup(@item.Id,"@item.DataKey", this)'><i class="fa fa-trash-o"></i></a>
                            <a class="icon_green" data-toggle="tooltip" title="Update" onclick='UpdateLookup(this)'><i class="fa fa-floppy-o"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row NewLookupDiv">
        <div class="col-md-4">
            <input datarequired="true" type="text" name="NewDataValue" id="NewDataValue" placeholder="Data Value" />
        </div>
        <div class="col-md-4">
            <input datarequired="true" type="text" class="NewDisplayText" placeholder="Display Text" />
        </div>
        <div class="col-md-2">
            <label><input type="checkbox" checked id="NewIsActive" /> @Localize.T("Active")</label>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default green_button" id="AddNewLookup" style="float:right;"><i class="fa fa-save"></i> @Localize.T("Add")</button>
        </div>
    </div>
</div>
<script src="~/Content/Js/jscolor.js"></script>