@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
    var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;
    var UserTags = CurrentUser.UserTags;
}
@model List<HS.Entities.GlobalSetting>

@Styles.Render("~/styles/Setting")
@Scripts.Render("~/scripts/Setting")
@if (Model.Where(x => x.Tag != null && x.Tag.ToLower() == HS.Web.UI.Helper.LabelHelper.GlobalSettingInputTag.CustomerSetting).Count() > 0)
{
    <div class="ci_block setting_div">
        <div class="ci_header clearfix">
            <div style="float:left;">@Localize.T("Customer Setting")</div>
        </div>
        <div class="ci_info">
            <table class="my_style settings_table_info">
                <tr class="border_head thead hidden_for_mobile">
                    <td>@Localize.T("Search Key")</td>
                    <td>@Localize.T("Value")</td>
                    <td>@Localize.T("Actions")</td>
                </tr>
                @foreach (var item in Model.Where(x => x.Tag != null && x.Tag.ToLower() == HS.Web.UI.Helper.LabelHelper.GlobalSettingInputTag.CustomerSetting))
                {
                    <tr class="bor">
                        <td class="custom_style_mobile">
                            <div class="left_header_for_mobile">@Localize.T("Search Key") <span>:</span></div>
                            <div class="name-anchor-style info_style"> @item.SearchKey</div>
                        </td>
                        @if (item.InputType != "Password")
                        {
                            <td class="custom_style_mobile">
                                <div class="left_header_for_mobile">@Localize.T("Value") <span>:</span></div>
                                <div class="info_style pre-wrap">@item.Value</div>
                            </td>
                        }
                        else
                        {
                            if (item.Value != null && item.Value != "")
                            {
                                <td class="custom_style_mobile">
                                    @string.Concat("".PadLeft(@item.Value.Length - 4, '*'), @item.Value.Substring(@item.Value.Length - 4))
                                </td>
                            }
                            else
                            {
                                <td class="custom_style_mobile"></td>
                            }
                        }

                        <td class="custom_style_mobile">
                            <div class="left_header_for_mobile">@Localize.T("Actions") <span>:</span></div>
                            <div class="info_style"><a class="buttonstyle global_settings_btn" id="editSettings" idval="@item.Id" onclick="editGlobalSetting(@item.Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>@Localize.T(" Edit")</a></div>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}
@if (Model.Where(x => x.Tag != null && x.Tag.ToLower() == HS.Web.UI.Helper.LabelHelper.GlobalSettingInputTag.CompanySetting).Count() > 0)
{
    <div class="ci_block setting_div">
        <div class="ci_header clearfix">
            <div style="float:left;">@Localize.T("Company Setting")</div>
        </div>
        <div class="ci_info">
            <table class="my_style settings_table_info">
                <tr class="border_head thead hidden_for_mobile">
                    <td>@Localize.T("Search Key")</td>
                    <td>@Localize.T("Value")</td>
                    <td>@Localize.T("Actions")</td>
                </tr>
                @foreach (var item in Model.Where(x => x.Tag != null && x.Tag.ToLower() == HS.Web.UI.Helper.LabelHelper.GlobalSettingInputTag.CompanySetting))
                {
                    if (UserTags.IndexOf("admin") > -1 || UserTags.IndexOf("staff") > -1)
                    {
                        <tr class="bor">
                            <td class="custom_style_mobile">
                                <div class="left_header_for_mobile">@Localize.T("Search Key") <span>:</span></div>
                                <div class="name-anchor-style info_style"> @item.SearchKey</div>
                            </td>
                            @if (item.InputType == "img" || item.InputType == "imgsignature")
                            {
                                <td class="custom_style_mobile">
                                    <div class="left_header_for_mobile">@Localize.T("Value") <span>:</span></div>
                                    @*<div class="info_style pre-wrap">@item.Value</div>*@
                                    <img src="@item.Value" alt="Alternate Text" style="background-color:blanchedalmond" width="100px" height="50px" />
                                </td>
                            }
                            else
                            {
                                if (item.InputType != "Password")
                                {
                                    <td class="custom_style_mobile">
                                        <div class="left_header_for_mobile">@Localize.T("Value") <span>:</span></div>
                                        <div class="info_style pre-wrap">@item.Value</div>
                                    </td>
                                }
                                else
                                {
                                    if (item.Value != null && item.Value != "")
                                    {
                                        <td class="custom_style_mobile">
                                            @string.Concat("".PadLeft(@item.Value.Length - 4, '*'), @item.Value.Substring(@item.Value.Length - 4))
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="custom_style_mobile"></td>
                                    }
                                }
                            }
                            <td class="custom_style_mobile">
                                <div class="left_header_for_mobile">@Localize.T("Actions") <span>:</span></div>
                                <div class="info_style"><a class="buttonstyle global_settings_btn" id="editSettings" idval="@item.Id" onclick="editGlobalSetting(@item.Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>@Localize.T(" Edit")</a></div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="bor">
                            <td class="custom_style_mobile">
                                <div class="left_header_for_mobile">@Localize.T("Search Key") <span>:</span></div>
                                <div class="name-anchor-style info_style"> @item.SearchKey</div>
                            </td>
                            @if (item.InputType != "Password")
                            {
                                <td class="custom_style_mobile">
                                    <div class="left_header_for_mobile">@Localize.T("Value") <span>:</span></div>
                                    <div class="info_style pre-wrap">@item.Value</div>
                                </td>
                            }
                            else
                            {
                                if (item.Value != null && item.Value != "")
                                {
                                    <td class="custom_style_mobile">
                                        @string.Concat("".PadLeft(@item.Value.Length - 4, '*'), @item.Value.Substring(@item.Value.Length - 4))
                                    </td>
                                }
                                else
                                {
                                    <td class="custom_style_mobile"></td>
                                }
                            }

                            <td class="custom_style_mobile">
                                <div class="left_header_for_mobile">@Localize.T("Actions") <span>:</span></div>
                                <div class="info_style"><a class="buttonstyle global_settings_btn" id="editSettings" idval="@item.Id" onclick="editGlobalSetting(@item.Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>@Localize.T(" Edit")</a></div>
                            </td>
                        </tr>
                    }
                }

            </table>
        </div>
    </div>
}
@if (Model.Where(x => x.Tag != null && x.Tag.ToLower() == HS.Web.UI.Helper.LabelHelper.GlobalSettingInputTag.ThirdPartySetting).Count() > 0)
{
    <div class="ci_block setting_div">
        <div class="ci_header clearfix">
            <div style="float:left;">@Localize.T("Third Party Setting")</div>
        </div>
        <div class="ci_info">
            <table class="my_style settings_table_info">
                <tr class="border_head thead hidden_for_mobile">
                    <td>@Localize.T("Search Key")</td>
                    <td>@Localize.T("Value")</td>
                    <td>@Localize.T("Actions")</td>
                </tr>
                @foreach (var item in Model.Where(x => x.Tag != null && x.Tag.ToLower() == HS.Web.UI.Helper.LabelHelper.GlobalSettingInputTag.ThirdPartySetting))
                {
                    <tr class="bor">
                        <td class="custom_style_mobile">
                            <div class="left_header_for_mobile">@Localize.T("Search Key") <span>:</span></div>
                            <div class="name-anchor-style info_style"> @item.SearchKey</div>
                        </td>
                        @if (item.InputType != "Password")
                        {
                            <td class="custom_style_mobile">
                                <div class="left_header_for_mobile">@Localize.T("Value") <span>:</span></div>
                                <div class="info_style pre-wrap">@item.Value</div>
                            </td>
                        }
                        else
                        {
                            if (item.Value != null && item.Value != "")
                            {
                                <td class="custom_style_mobile">
                                    @string.Concat("".PadLeft(@item.Value.Length - 4, '*'), @item.Value.Substring(@item.Value.Length - 4))
                                </td>
                            }
                            else
                            {
                                <td class="custom_style_mobile"></td>
                            }
                        }
                        <td class="custom_style_mobile">
                            <div class="left_header_for_mobile">@Localize.T("Actions") <span>:</span></div>
                            <div class="info_style"><a class="buttonstyle global_settings_btn" id="editSettings" idval="@item.Id" onclick="editGlobalSetting(@item.Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>@Localize.T(" Edit")</a></div>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}
@if (Model.Where(x => x.Tag != null && x.Tag.ToLower() == HS.Web.UI.Helper.LabelHelper.GlobalSettingInputTag.UtilitySetting).Count() > 0)
{
    <div class="ci_block setting_div">
        <div class="ci_header clearfix">
            <div style="float:left;">@Localize.T("Utility Setting")</div>
        </div>
        <div class="ci_info">
            <table class="my_style settings_table_info">
                <tr class="border_head thead hidden_for_mobile">
                    <td>@Localize.T("Search Key")</td>
                    <td>@Localize.T("Value")</td>
                    <td>@Localize.T("Actions")</td>
                </tr>
                @foreach (var item in Model.Where(x => x.Tag != null && x.Tag.ToLower() == HS.Web.UI.Helper.LabelHelper.GlobalSettingInputTag.UtilitySetting))
                {

                    <tr class="bor">
                        <td class="custom_style_mobile">
                            <div class="left_header_for_mobile">@Localize.T("Search Key") <span>:</span></div>
                            <div class="name-anchor-style info_style"> @item.SearchKey</div>
                        </td>
                        @if (item.InputType != "Password")
                        {
                            <td class="custom_style_mobile">
                                <div class="left_header_for_mobile">@Localize.T("Value") <span>:</span></div>
                                <div class="info_style pre-wrap">@item.Value</div>
                            </td>
                        }
                        else
                        {
                            if (item.Value != null && item.Value != "")
                            {
                                <td class="custom_style_mobile">
                                    @string.Concat("".PadLeft(@item.Value.Length - 4, '*'), @item.Value.Substring(@item.Value.Length - 4))
                                </td>
                            }
                            else
                            {
                                <td class="custom_style_mobile"></td>
                            }
                        }
                        <td class="custom_style_mobile">
                            <div class="left_header_for_mobile">@Localize.T("Actions") <span>:</span></div>
                            <div class="info_style"><a class="buttonstyle global_settings_btn" id="editSettings" idval="@item.Id" onclick="editGlobalSetting(@item.Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>@Localize.T(" Edit")</a></div>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}
@if (Model.Where(x => x.Tag != null && x.Tag.ToLower() == HS.Web.UI.Helper.LabelHelper.GlobalSettingInputTag.JupiterSetting).Count() > 0)
{
    <div class="ci_block setting_div">
        <div class="ci_header clearfix">
            <div style="float:left;">@Localize.T("Jupiter Setting")</div>
        </div>
        <div class="ci_info">
            <table class="my_style settings_table_info">
                <tr class="border_head thead hidden_for_mobile">
                    <td>@Localize.T("Search Key")</td>
                    <td>@Localize.T("Value")</td>
                    <td>@Localize.T("Actions")</td>
                </tr>
                @foreach (var item in Model.Where(x => x.Tag != null && x.Tag.ToLower() == HS.Web.UI.Helper.LabelHelper.GlobalSettingInputTag.JupiterSetting))
                {
                    <tr class="bor">
                        <td class="custom_style_mobile">
                            <div class="left_header_for_mobile">@Localize.T("Search Key") <span>:</span></div>
                            <div class="name-anchor-style info_style"> @item.SearchKey</div>
                        </td>
                        @if (item.InputType != "Password")
                        {
                            <td class="custom_style_mobile">
                                <div class="left_header_for_mobile">@Localize.T("Value") <span>:</span></div>
                                <div class="info_style pre-wrap">@item.Value</div>
                            </td>
                        }
                        else
                        {
                            if (item.Value != null && item.Value != "")
                            {
                                <td class="custom_style_mobile">
                                    @string.Concat("".PadLeft(@item.Value.Length - 4, '*'), @item.Value.Substring(@item.Value.Length - 4))
                                </td>
                            }
                            else
                            {
                                <td class="custom_style_mobile"></td>
                            }
                        }

                        <td class="custom_style_mobile">
                            <div class="left_header_for_mobile">@Localize.T("Actions") <span>:</span></div>
                            <div class="info_style"><a class="buttonstyle global_settings_btn" id="editSettings" idval="@item.Id" onclick="editGlobalSetting(@item.Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>@Localize.T(" Edit")</a></div>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}
@if (Model.Where(x => x.Tag != null && x.Tag.ToLower() == HS.Web.UI.Helper.LabelHelper.GlobalSettingInputTag.RecurringBillingSetting).Count() > 0)
{
    <div class="ci_block setting_div">
        <div class="ci_header clearfix">
            <div style="float:left;">@Localize.T("Recurring Billing Setting")</div>
        </div>
        <div class="ci_info">
            <table class="my_style settings_table_info">
                <tr class="border_head thead hidden_for_mobile">
                    <td>@Localize.T("Search Key")</td>
                    <td>@Localize.T("Value")</td>
                    <td>@Localize.T("Actions")</td>
                </tr>
                @foreach (var item in Model.Where(x => x.Tag != null && x.Tag.ToLower() == HS.Web.UI.Helper.LabelHelper.GlobalSettingInputTag.RecurringBillingSetting))
                {
                    <tr class="bor">
                        <td class="custom_style_mobile">
                            <div class="left_header_for_mobile">@Localize.T("Search Key") <span>:</span></div>
                            <div class="name-anchor-style info_style"> @item.SearchKey</div>
                        </td>
                        @if (item.InputType != "Password")
                        {
                            <td class="custom_style_mobile">
                                <div class="left_header_for_mobile">@Localize.T("Value") <span>:</span></div>
                                <div class="info_style pre-wrap">@item.Value</div>
                            </td>
                        }
                        else
                        {
                            if (item.Value != null && item.Value != "")
                            {
                                <td class="custom_style_mobile">
                                    @string.Concat("".PadLeft(@item.Value.Length - 4, '*'), @item.Value.Substring(@item.Value.Length - 4))
                                </td>
                            }
                            else
                            {
                                <td class="custom_style_mobile"></td>
                            }
                        }

                        <td class="custom_style_mobile">
                            <div class="left_header_for_mobile">@Localize.T("Actions") <span>:</span></div>
                            <div class="info_style"><a class="buttonstyle global_settings_btn" id="editSettings" idval="@item.Id" onclick="editGlobalSetting(@item.Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>@Localize.T(" Edit")</a></div>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}

<div class="background-hide-class">

</div>

<div class="editSettings">

</div>

