@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig; 
<link href="~/Content/Css/Setup/SetupDetails.css" rel="stylesheet" />
<script>
    var CSPages = {
        LoadComDocTab: function () {
            $(".LoadCompanyDocument").html(LoaderDom);
            $(".LoadCompanyDocument").load(domainurl + "/Setup/CompanyDocumentPartial/");
        },
        LoadCusUi: function () {
            $(".LoadCustomerUiSettings").html(LoaderDom);
            $(".LoadCustomerUiSettings").load(domainurl + "/Setup/CustomerUiSettingsPartial/");
        },
        LoadLeadUi: function () {
            $(".LoadLeadUiSettings").html(LoaderDom);
            $(".LoadLeadUiSettings").load(domainurl + "/Setup/LeadUiSettingsPartial/");
        },
        LoadEqupUi: function () {
            $(".LoadEquipmentUiSettings").html(LoaderDom);
            $(".LoadEquipmentUiSettings").load(domainurl + "/Setup/EquipmentUiSettingsPartial/");
        },
    }
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();

        $(".LoadAlarmDotCom").load(domainurl + "/Setup/AlarmDotComSettingPartial/");

        $(".LoadGlobalSettings").load(domainurl + "/Setup/SettingsPartial/");
        $(".LoadTechSchedule").load(domainurl + "/Setup/TechScheduleSettingPartial/");
        $(".LoadAuthorizeDotNet").load(domainurl + "/Setup/AuthorizeDotNetSettingPartial/");

        //$(".LoadCustomerUiSettings").load("/Setup/CustomerUiSettingsPartial/");
        //$(".LoadLeadUiSettings").load("/Setup/LeadUiSettingsPartial/");
        $(".LoadInventoryUiSettings").load(domainurl + "/Setup/InventoryUiSettingsPartial/");
        //$(".LoadEquipmentUiSettings").load("/Setup/EquipmentUiSettingsPartial/");
    })
</script>

<div class="container-fluid fluid-style setup_details_container">
    <h3 class="top_settings">@Localize.T("Company And System Settings")</h3>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-target="#GlobalSettingsTab" data-toggle="tab">@Localize.T("Global Settings")</a></li>
                @*<li><a data-target="#AlarmDotComTab" data-toggle="tab">@Localize.T("Alarm .Com")</a></li>
        <li><a data-target="#AuthorizedotnetTab" data-toggle="tab">@Localize.T("Authorize .Net")</a></li>*@
                <li onclick="CSPages.LoadComDocTab()"><a data-target="#CompanyDocumentTab" data-toggle="tab">@Localize.T("Company Documents")</a></li>
                @*<li onclick="CSPages.LoadCusUi()"><a data-target="#CustomerUiSettingsTab" data-toggle="tab">@Localize.T("Customer UI Settings")</a></li>
                <li onclick="CSPages.LoadLeadUi()"><a data-target="#LeadUiSettingsTab" data-toggle="tab">@Localize.T("Lead UI Settings")</a></li>
                <li onclick="CSPages.LoadEqupUi()"><a data-target="#EquipmentUiSettingsTab" data-toggle="tab">@Localize.T("Equipment UI Settings")</a></li>*@
            </ul>
            <div class="tab-content">
                @*<div class="tab-pane" id="AlarmDotComTab">
                    <div class="LoadAlarmDotCom"></div>
                </div>*@
                <div class="tab-pane active" id="GlobalSettingsTab">
                    <div class="LoadGlobalSettings"></div>
                </div>
                @*<div class="tab-pane" id="AuthorizedotnetTab">
                    <div class="LoadAuthorizeDotNet"></div>
                </div>*@
                <div class="tab-pane" id="CompanyDocumentTab">
                    <div class="LoadCompanyDocument"></div>
                </div>
                @*<div class="tab-pane" id="CustomerUiSettingsTab">
                    <div class="LoadCustomerUiSettings"></div>
                </div>
                <div class="tab-pane" id="LeadUiSettingsTab">
                    <div class="LoadLeadUiSettings"></div>
                </div>
                <div class="tab-pane" id="InventoryUiSettingsTab">
                    <div class="LoadInventoryUiSettings"></div>
                </div>
                <div class="tab-pane" id="EquipmentUiSettingsTab">
                    <div class="LoadEquipmentUiSettings"></div>
                </div>*@
            </div>
        </div>
    </div>
</div>
