@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig; 
<link href="~/Content/Css/Setup/SetupDetails.css" rel="stylesheet" />
<script>
    var CSPages = {
        LoadComDocTab: function () {
            $(".LoadCompanyDocument").html(LoaderDom);
            $(".LoadCompanyDocument").load("@(AppConfig.DomainSitePath)/Setup/CompanyDocumentPartial/");
        },
        LoadCusUi: function () {
            $(".LoadCustomerUiSettings").html(LoaderDom);
            $(".LoadCustomerUiSettings").load("@(AppConfig.DomainSitePath)/Setup/CustomerUiSettingsPartial/");
        },
        LoadLeadUi: function () {
            $(".LoadLeadUiSettings").html(LoaderDom);
            $(".LoadLeadUiSettings").load("@(AppConfig.DomainSitePath)/Setup/LeadUiSettingsPartial/");
        },
        LoadEqupUi: function () {
            $(".LoadEquipmentUiSettings").html(LoaderDom);
            $(".LoadEquipmentUiSettings").load("@(AppConfig.DomainSitePath)/Setup/EquipmentUiSettingsPartial/");
        },
    }
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $(".LoadCustomerUiSettings").load("@(AppConfig.DomainSitePath)/Setup/CustomerUiSettingsPartial/");
    })
</script>

<div class="container-fluid fluid-style setup_details_container">
    <h3 class="top_settings">@Localize.T("UI Settings")</h3>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li onclick="CSPages.LoadCusUi()" class="active"><a data-target="#CustomerUiSettingsTab" data-toggle="tab">@Localize.T("Customer UI Settings")</a></li>
                <li onclick="CSPages.LoadLeadUi()"><a data-target="#LeadUiSettingsTab" data-toggle="tab">@Localize.T("Lead UI Settings")</a></li>
                <li onclick="CSPages.LoadEqupUi()"><a data-target="#EquipmentUiSettingsTab" data-toggle="tab">@Localize.T("Equipment UI Settings")</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="CustomerUiSettingsTab">
                    <div class="LoadCustomerUiSettings"></div>
                </div>
                <div class="tab-pane" id="LeadUiSettingsTab">
                    <div class="LoadLeadUiSettings"></div>
                </div>
                @*<div class="tab-pane" id="InventoryUiSettingsTab">
                    <div class="LoadInventoryUiSettings"></div>
                </div>*@
                <div class="tab-pane" id="EquipmentUiSettingsTab">
                    <div class="LoadEquipmentUiSettings"></div>
                </div>
            </div>
        </div>
    </div>
</div>

