@model HS.Entities.ThirdPartySetting
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script src="~/Content/Js/Popups/AddAuthorizeDotNetSetting.js"></script>
<link href="~/Content/Css/AddAlarmDotCom/AddAlarmDotCom.css" rel="stylesheet" />

    @Html.HiddenFor(x => x.Id)
    @if (Model.Id > 0)
    {
        <div class="alarm_head_container">
            <span class="alarm_head_text">@Localize.T("Edit Setting")</span>
        </div>
    }
    else
    {
        <div class="alarm_head_container">
            <span class="alarm_head_text">@Localize.T("Add Setting")</span>
        </div>
    }
<div class="add_authorize_container">
    <div class="row add_alarm_margin">
        <div class="col-xs-12">
            <span class="style-span">@Localize.T("Name")</span>
            <div class="txt-form-style">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "Name", datarequired = "true" })
            </div>
        </div>
    </div>
    <div class="row add_alarm_margin">
        <div class="col-xs-12">
            <span class="style-span">@Localize.T("Value")</span>
            <div>
                @Html.TextBoxFor(x => x.Value, new { @class = "form-control", id = "Value", datarequired = "true" })
            </div>
        </div>
    </div>

    @*<h3 class="design-txt">@Localize.T("New Authorize.com Setting")</h3>
        <span class="style-span">@Localize.T("Name")</span>
        <div class="txt-form-style">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "Name", datarequired = "true" })
        </div>
        <span class="style-span">@Localize.T("Value")</span>
        <div>
            @Html.TextBoxFor(x => x.Value, new { @class = "form-control", id = "Value", datarequired = "true"})
        </div>*@
</div>
<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn" id="SaveAuthorize"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
        </div>
    </footer>
</section>
