@model List<HS.Entities.ThirdPartySetting>
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/Mmrs")
@*@Scripts.Render("~/scripts/Mmrs")*@
<link href="~/Content/Css/AlarmDotCom/AlarmDotCom.css" rel="stylesheet" />
<script src="~/Content/Js/AlarmDotCom/AlarmDotCom.js"></script>
<script src="~/Content/datatable/jquery.dataTables.min.js"></script>
<script src="~/Content/datatable/dataTables.bootstrap.js"></script>
<style>
    .fluid-style{
        padding-left: 15px;
    padding-right: 15px;
    }
</style>
<div class="fluid-style">
    <div class="row header_margin">
        <div class="alarm_left_container">@*<h3 class="txt-content">@Localize.T("Alarm.com Setting Information")</h3>*@</div>
        <div class="alarm_right_container">
        <button class="AddAlarm">
                                         <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
            </button></div>
    </div>

    <div class="row header_margin Alarm-table">
        <table id="tblAlarm">
            <thead class="table-head-border hidden_class_for_mobile">
                <tr>
                    <th class="thead-th-style sorting">
                        @Localize.T("Name")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Value")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Action")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="tr-style">
                        <td class="table-body-td-style" valign="top">
                            <label class="alarm_header_for_mobile">@Localize.T("Name") </label>
                            <span class="alarm_info_style">
                                <a href="javascript:void(0)" class="item-edit-Alarm name-anchor-style" data-id="@item.Id" style="color:#2ca01c;">
                                   
                                    @item.Name
                            </a>
                        </span>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <label class="alarm_header_for_mobile">@Localize.T("Value")</label>
                        <span class="alarm_info_style">@item.Value</span>
                    </td>
                    <td class="table-body-td-style custom_style_mobile" valign="top">
                        <label class="alarm_header_for_mobile">@Localize.T("Action")</label>

                        <span class="alarm_info_style">
                            <a href="javascript:void(0)" class="item-delete-Alarm name-anchor-style" data-id="@item.Id" title="@Localize.T("Delete")">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </span>
                       
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
