@model List<HS.Entities.CustomerLeadGridModel>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    List<HS.Entities.GridSetting> GroupGridSettings = (List<HS.Entities.GridSetting>)ViewBag.GroupGridSettings;
    List<HS.Entities.GridSetting> LeadGroupGridSettings = (List<HS.Entities.GridSetting>)ViewBag.LeadGroupGridSettings;
}
@Styles.Render("~/styles/CustomerSmartUiSettingPartialCS")

@Scripts.Render("~/scripts/CustomerSmartUiSettingPartialJS")

<div class="customerUiSettingPartial_container">
    @*<div class="ci_header clearfix">
            <div style="float:left;">@Localize.T("Lead UI Settings")</div>
        </div>*@
    @*<div class="row">
    *@
    @*<div class="col-md-12">
            <h4>@Localize.T("Equipment Grid Settings") </h4>
        </div>*@


    <div class="cust_ui_set_container">
        <table class="customerGridSettings">
            <thead>
                <tr>
                    <th class="c_head">@Localize.T("Sl")</th>
                    <th class="">@Localize.T("Name")</th>
                    <th class="c2 settings_border">@Localize.T("Customer")</th>
                    <th class="c1">@Localize.T("Grid")</th>
                    <th class="c1">@Localize.T("Form")</th>
                    <th class="c1">@Localize.T("Filter")</th>
                    <th class="c1">@Localize.T("Req.")</th>
                    <th class="c1">@Localize.T("Label")</th>
                    <th class="c2 settings_border">@Localize.T("Lead")</th>
                    <th class="c1">@Localize.T("Grid")</th>
                    <th class="c1">@Localize.T("Form")</th>
                    <th class="c1">@Localize.T("Filter")</th>
                    <th class="c1">@Localize.T("Req.")</th>
                    <th class="c1">@Localize.T("Label")</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                                <tr data-id="@item.CustomerGridId" data-val="@item.LeadGridId">
                                    <td class="hidden IsActive">@item.ActivateColumn</td>
                                    <td class="orderby">@item.ByOrder</td>
                                    <td class="CustKeyName" data-val="@item.SColumn">@Localize.T(item.SColumn)</td>
                                    @if (item.CustomerKey == "CustomerGrid")
                                    {
                                        var FormChecked = "";
                                        if (item.CustomerFormActive == true)
                                        {
                                            FormChecked = "checked";
                                        }
                                        var GridChecked = "";
                                        if (item.CustomerGridActive == true)
                                        {
                                            GridChecked = "checked";
                                        }
                                        var FilterChecked = "";
                                        if (item.IsCustomerFilter == true)
                                        {
                                            FilterChecked = "checked";
                                        }
                                        var RequiredChacked = "";
                                        if (item.IsCustomerRequired == true)
                                        {
                                            RequiredChacked = "checked";
                                        }
                                        var LabelChacked = "";
                                        if (item.IsCustomerLabel == true)
                                        {
                                            LabelChacked = "checked";
                                        }
                                        <td class="CustColumnGroup">
                                            <script>
                                          if ('@item.CustomerColumnGroup' != '')
                                              $("#CustColumnGroup_@item.CustomerGridId").val('@item.CustomerColumnGroup');
                                            </script>
                                            @Html.DropDownListFor(m => item.CustomerColumnGroup, (List<SelectListItem>)ViewBag.CustomerGroupList, new { @class = "form-control", id = "CustColumnGroup_" + item.CustomerGridId })
                                        </td>
                                        <td class="IsView">
                                            <label for="cbx-Grid@(item.CustomerGridId)" class="label-cbx">
                                                <input id="cbx-Grid@(item.CustomerGridId)" idval="@(item.CustomerGridId)" type="checkbox" name="checkbox-Grid-@(item.CustomerGridId)" class="invisible CustGridValue" @GridChecked>
                                                <div class="checkbox">
                                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                        <polyline points="4 11 8 15 16 6"></polyline>
                                                    </svg>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="IsView">
                                            <label for="cbx@(item.CustomerGridId)" class="label-cbx">
                                                <input id="cbx@(item.CustomerGridId)" idval="@(item.CustomerGridId)" type="checkbox" name="checkbox-Form-@(item.CustomerGridId)" class="invisible CustFormValue" @FormChecked>
                                                <div class="checkbox">
                                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                        <polyline points="4 11 8 15 16 6"></polyline>
                                                    </svg>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="IsView">
                                            <label for="cbx-filter@(item.CustomerGridId)" class="label-cbx">
                                                <input id="cbx-filter@(item.CustomerGridId)" idval="@(item.CustomerGridId)" type="checkbox" name="checkbox-Form-@(item.CustomerGridId)" class="invisible CustFilterValue" @FilterChecked>
                                                <div class="checkbox">
                                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                        <polyline points="4 11 8 15 16 6"></polyline>
                                                    </svg>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="IsView">
                                            <label for="cbx-required@(item.CustomerGridId)" class="label-cbx">
                                                <input id="cbx-required@(item.CustomerGridId)" idval="@(item.CustomerGridId)" type="checkbox" name="checkbox-Form-@(item.CustomerGridId)" class="invisible CustRequiredValue" @RequiredChacked>
                                                <div class="checkbox">
                                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                        <polyline points="4 11 8 15 16 6"></polyline>
                                                    </svg>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="IsView">
                                            <label for="cbx-label@(item.CustomerGridId)" class="label-cbx">
                                                <input id="cbx-label@(item.CustomerGridId)" idval="@(item.CustomerGridId)" type="checkbox" name="checkbox-Form-@(item.CustomerGridId)" class="invisible CustLabelChacked" @LabelChacked>
                                                <div class="checkbox">
                                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                        <polyline points="4 11 8 15 16 6"></polyline>
                                                    </svg>
                                                </div>
                                            </label>
                                        </td>
                                    }
                                    @if (item.LeadKey == "LeadGrid")
                                    {
                                        var FormChecked = "";
                                        if (item.LeadFormActive == true)
                                        {
                                            FormChecked = "checked";
                                        }
                                        var GridChecked = "";
                                        if (item.LeadGridActive == true)
                                        {
                                            GridChecked = "checked";
                                        }
                                        var FilterChecked = "";
                                        if (item.IsLeadFilter == true)
                                        {
                                            FilterChecked = "checked";
                                        }
                                        var RequiredChacked = "";
                                        if (item.IsLeadRequired == true)
                                        {
                                            RequiredChacked = "checked";
                                        }
                                        var LabelChacked = "";
                                        if (item.IsLeadLabel == true)
                                        {
                                            LabelChacked = "checked";
                                        }
                                        <td class="LeadColumnGroup">
                                            <script>
                                                      if ('@item.LeadColumnGroup' != '')
                                                      $("#LeadColumnGroup_@item.LeadGridId").val('@item.LeadColumnGroup');
                                            </script>
                                            @Html.DropDownListFor(m => item.LeadColumnGroup, (List<SelectListItem>)ViewBag.LeadGroupList, new { @class = "form-control",  id = "LeadColumnGroup_" + item.LeadGridId })
                                        </td>
                                        <td class="IsView">
                                            <label for="cbx-Grid@(item.LeadGridId)" class="label-cbx">
                                                <input id="cbx-Grid@(item.LeadGridId)" idval="@(item.LeadGridId)" type="checkbox" name="checkbox-Grid-@(item.LeadGridId)" class="invisible LeadGridValue" @GridChecked>
                                                <div class="checkbox">
                                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                        <polyline points="4 11 8 15 16 6"></polyline>
                                                    </svg>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="IsView">
                                            <label for="cbx@(item.LeadGridId)" class="label-cbx">
                                                <input id="cbx@(item.LeadGridId)" idval="@(item.LeadGridId)" type="checkbox" name="checkbox-Form-@(item.LeadGridId)" class="invisible LeadFormValue" @FormChecked>
                                                <div class="checkbox">
                                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                        <polyline points="4 11 8 15 16 6"></polyline>
                                                    </svg>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="IsView">
                                            <label for="cbx-filter@(item.LeadGridId)" class="label-cbx">
                                                <input id="cbx-filter@(item.LeadGridId)" idval="@(item.LeadGridId)" type="checkbox" name="checkbox-Form-@(item.LeadGridId)" class="invisible LeadFilterValue" @FilterChecked>
                                                <div class="checkbox">
                                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                        <polyline points="4 11 8 15 16 6"></polyline>
                                                    </svg>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="IsView">
                                            <label for="cbx-required@(item.LeadGridId)" class="label-cbx">
                                                <input id="cbx-required@(item.LeadGridId)" idval="@(item.LeadGridId)" type="checkbox" name="checkbox-Form-@(item.LeadGridId)" class="invisible LeadRequiredValue" @RequiredChacked>
                                                <div class="checkbox">
                                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                        <polyline points="4 11 8 15 16 6"></polyline>
                                                    </svg>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="IsView">
                                            <label for="cbx-label@(item.LeadGridId)" class="label-cbx">
                                                <input id="cbx-label@(item.LeadGridId)" idval="@(item.LeadGridId)" type="checkbox" name="checkbox-Form-@(item.LeadGridId)" class="invisible LeadLabelChacked" @LabelChacked>
                                                <div class="checkbox">
                                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                        <polyline points="4 11 8 15 16 6"></polyline>
                                                    </svg>
                                                </div>
                                            </label>
                                        </td>
                                    }
                                </tr>
                    }
                }
            </tbody>
        </table>
        <div id="bottom_anchor">

        </div>
    </div>


    <div class="col-md-12">
        <div class="instructions-container-div">
            <p class="instructions">@Localize.T("Drag rows to up and down for rearranging column order").</p>
        </div>
    </div>

    <div class="col-md-12">
        <h4>@Localize.T("Customer Group Grid Settings") </h4>
    </div>

    <table class="customerGroupGridSettings">
        <thead>
            <tr>
                <th>@Localize.T("Order")</th>
                <th>@Localize.T("Name")</th>
                <th>@Localize.T("Column Group")</th>
                @*<th>@Localize.T("Grid List")</th>
                    <th>@Localize.T("Form Design")</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in GroupGridSettings)
            {
                var FormChecked = "";
                if (item.FormActive != null && item.FormActive == true)
                {
                    FormChecked = "checked";
                }
                var GridChecked = "";
                if (item.GridActive != null && item.GridActive == true)
                {
                    GridChecked = "checked";
                }
                var FilterChecked = "";
                if (item.IsFilter == true)
                {
                    FilterChecked = "checked";
                }
                <tr data-id="@item.Id">
                    <td class="hidden InputType">@item.InputType</td>
                    <td class="hidden IsActive">@item.IsActive</td>
                    <td class="orderby">@item.OrderBy</td>
                    <td class="CustGroupKeyName" data-val="@item.SelectedColumn">@Localize.T(item.SelectedColumn)</td>
                    <td class="hidden CustGroupColumnGroup">
                        <script>
                          $("#CustGroupColumnGroup_@item.Id").val('@item.ColumnGroup');
                        </script>
                        @Html.DropDownListFor(m => item.ColumnGroup, (List<SelectListItem>)ViewBag.CustomerGroupList, new { @class = "form-control", id = "CustGroupColumnGroup_" + item.Id })
                    </td>
                    <td class="IsView">
                        <label for="cbx-Grid@(item.Id)" class="label-cbx">
                            <input id="cbx-Grid@(item.Id)" idval="@(item.Id)" type="checkbox" name="checkbox-Grid-@(item.Id)" class="invisible CustGroupGridValue" @GridChecked>
                            <div class="checkbox">
                                <svg width="20px" height="20px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                        </label>
                    </td>
                    <td class="hidden IsView">
                        <label for="cbx@(item.Id)" class="label-cbx">
                            <input id="cbx@(item.Id)" idval="@(item.Id)" type="checkbox" name="checkbox-Form-@(item.Id)" class="invisible CustGroupFormValue" @FormChecked>
                            <div class="checkbox">
                                <svg width="20px" height="20px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                        </label>
                    </td>
                    <td class="IsView hidden">
                        <label for="cbx-filter@(item.Id)" class="label-cbx">
                            <input id="cbx-filter@(item.Id)" idval="@(item.Id)" type="checkbox" name="checkbox-Form-@(item.Id)" class="invisible CustGroupFilterValue" @FilterChecked>
                            <div class="checkbox">
                                <svg width="20px" height="20px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                        </label>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="col-md-12">
        <div class="instructions-container-div">
            <p class="instructions">@Localize.T("Drag rows to up and down for rearranging column order").</p>
        </div>
    </div>

    <div class="col-md-12">
        <h4>@Localize.T("Lead Group Grid Settings") </h4>
    </div>
    <div class="ci_info">
        <table class="InventoryGroupGridSettings">
            <thead>
                <tr>
                    <th>@Localize.T("Order")</th>
                    <th>@Localize.T("Name")</th>
                    <th>@Localize.T("Column Group")</th>
                    @*<th>@Localize.T("Grid List")</th>
                        <th>@Localize.T("Form Design")</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in LeadGroupGridSettings)
                {
                    var FormChecked = "";
                    if (item.FormActive != null && item.FormActive == true)
                    {
                        FormChecked = "checked";
                    }
                    var GridChecked = "";
                    if (item.GridActive != null && item.GridActive == true)
                    {
                        GridChecked = "checked";
                    }
                    var FilterChecked = "";
                    if (item.IsFilter == true)
                    {
                        FilterChecked = "checked";
                    }
                    <tr data-id="@item.Id">
                        <td class="hidden InputType">@item.InputType</td>
                        <td class="hidden IsActive">@item.IsActive</td>
                        <td class="orderby">@item.OrderBy</td>
                        <td class="GroupKeyName">@item.SelectedColumn</td>
                        <td class="hidden GroupColumnGroup">
                            <script>
                          $("#GroupColumnGroup_@item.Id").val('@item.ColumnGroup');
                            </script>
                            @Html.DropDownListFor(m => item.ColumnGroup, (List<SelectListItem>)ViewBag.LeadGroupList, new { @class = "form-control",   id = "GroupColumnGroup_" + item.Id })
                        </td>
                        <td class="IsView">
                            @*<input class="IsActive" type="checkbox" @(item.IsActive ? "checked"
                                "" ) />*@
                            <label for="cbx-Grid@(item.Id)" class="label-cbx">
                                <input id="cbx-Grid@(item.Id)" idval="@(item.Id)" type="checkbox" name="checkbox-Grid-@(item.Id)" class="invisible LeadGroupGridValue" @GridChecked>
                                <div class="checkbox">
                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </div>
                            </label>
                        </td>
                        <td class="hidden IsView">
                            @*<input class="IsActive" type="checkbox" @(item.IsActive ? "checked"
                                "" ) />*@
                            <label for="cbx@(item.Id)" class="label-cbx">
                                <input id="cbx@(item.Id)" idval="@(item.Id)" type="checkbox" name="checkbox-Form-@(item.Id)" class="invisible LeadGroupFormValue" @FormChecked>
                                <div class="checkbox">
                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </div>
                            </label>
                        </td>
                        <td class="IsView hidden">
                            <label for="cbx-filter@(item.Id)" class="label-cbx">
                                <input id="cbx-filter@(item.Id)" idval="@(item.Id)" type="checkbox" name="checkbox-Form-@(item.Id)" class="invisible LeadGroupFilterValue" @FilterChecked>
                                <div class="checkbox">
                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </div>
                            </label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <div class="instructions-container-div">
            <p class="instructions">@Localize.T("Drag rows to up and down for rearranging column order").</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="instructions-container-div">
            <input type="button" id="BtnCustomerGrid" class="btn btn-lg btn-success" value="Generate Customer List"> &nbsp;
            <input type="button" id="BtnLeadGrid" class="btn btn-lg btn-success" value="Generate Lead List">
        </div>
    </div>
</div>
