@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
}
@model List<HS.Entities.GlobalSetting>

@Styles.Render("~/styles/Setting")
@Scripts.Render("~/scripts/Setting")
<style>
    .ci_block {
        width: 100%;
        float: left;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
    }

    .ci_header {
        width: 100%;
        padding: 5px 10px;
        background-color: #f4f5f8;
        font-size: 15px;
        font-weight: 600;
        border-radius: 4px 4px 0px 0px;
        -webkit-border-radius: 4px 4px 0px 0px;
        -moz-border-radius: 4px 4px 0px 0px;
        border-bottom: 2px solid #ccc;
    }

    .ci_info {
        width: 100%;
        font-size: 13px !important;
        float: left;
        padding: 0px;
    }

    .setting_div {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .settings_table_info tr td:nth-child(1) {
        width: 20%;
    }

    .settings_table_info tr td:nth-child(3) {
        width: 100px;
    }

    .settings_table_info tr td {
        padding: 10px;
    }

    .settings_table_info tr {
        cursor: pointer;
    }

        .settings_table_info tr:hover {
            background-color: #f4f5f8;
        }

        .settings_table_info tr:nth-child(1):hover {
            background: none;
        }
</style>
<div class="ci_block setting_div">
    <div class="ci_header clearfix">
        <div style="float:left;">@Localize.T("Inventory UI Setting")</div>
    </div>
    <div class="ci_info">
        <table class="my_style settings_table_info">
            <tr class="border_head thead hidden_for_mobile">
                <td>@Localize.T("Search Key")</td>
                <td>@Localize.T("Value")</td>
                <td>@Localize.T("Actions")</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr class="bor">
                    <td class="custom_style_mobile">
                        <label class="left_header_for_mobile">@Localize.T("Search Key")</label>
                        <div class="name-anchor-style info_style"> @item.SearchKey</div>
                    </td>
                    <td class="custom_style_mobile">
                        <label class="left_header_for_mobile">@Localize.T("Value")</label>
                        <div class="info_style pre-wrap">@item.Value</div>
                    </td>
                    <td class="custom_style_mobile">
                        <label class="left_header_for_mobile">@Localize.T("Actions")</label>
                        <div class="info_style"><a class="buttonstyle global_settings_btn" id="customeruibtn" idval="@item.Id" onclick="editInventoryUiSetting(@item.Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>@Localize.T(" Edit")</a></div>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="background-hide-class">

</div>

<div class="editSettings">

</div>


