@{
    Layout = null;
    var count = 0;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.Language>
<link href="~/Content/Css/Setup/LocalizeResource.css" rel="stylesheet" />
<script src="~/Content/Js/Setup/LocalizeResource.js"></script>

<div class="localize_resource_container">
    <div class="localize_resource_header">@Localize.T("Language Setup")</div>
    <div class="detail-contents">
        <div class="nav-detail-contents">
            <ul class="nav nav-tabs customer-options-tabs customer_detail_tab_style customer_detail_tab_list" id="myTab">
                @foreach (var item in Model)
                {
                    <li class="LanguageTabs @(count==0?"active":"")" lang-id="@item.Id">
                        <a data-target=".LanguageTabLoad_@item.Id" data-toggle="tab">@item.Name</a>
                    </li>
                    count++;
                }
            </ul>
            
            <div class="tab-content tab_Content_customer_items">
                <div class="SearchBarDiv">
                    <div class="col-md-4">
                        <div class="input-group add-on">
                            <input class="form-control" type="text" id="LocalizeSearchText" />
                            <div class="input-group-btn"> <button class="btn btn-default green_button" id="LocalizeSearchButton" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button></div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <button class="btn btn-default" id="AddNewLocalizeResource"><i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("New")</button>
                    </div>
                    </div>
                @{
                    int i = 0;
                    foreach (var item in Model)
                    {
                        <div class="tab-pane @(i==0?"active": "") LanguageTabLoad_@item.Id" id="LanguageTabLoad_@item.Id">
                            @item.Name
                        </div>
                        i++;
                    }
                }
            </div>
        </div>
    </div>
</div>
