@model List<HS.Entities.MMR>
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@*@Styles.Render("~/styles/DataTableBundles")
@Scripts.Render("~/scripts/DataTableBundles")*@

@Styles.Render("~/styles/Mmrs")
@Scripts.Render("~/scripts/Mmrs")

<div class="Inventory-Page-wrap">
    <div class="container-fluid mmrs_container">
        <div id="page-slide" class="page-header slide margin_bot">
           
               
                    <div class="mmr_search_div_bar">
                        <div class="input-group add-on">
                            <input class="form-control" placeholder="Find a MMR" name="srch-term" id="srch-term" type="text">
                            <div class="input-group-btn">
                                <button class="btn custom-btn green_button" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </div>
               
               
                    <button class="btn btn-primary" id="AddNewMMR">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")</button>
               
          
            @*<div class="inventory-popup">
                <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            </div>

                            <div class="modal-body">
                                <div id="NewMMR">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        <div class="custom-table">
            <table class="display" id="tblMmr">
                <thead class="table-head-border custom_hide_header">
                    <tr>
                        <th class="thead-th-style sorting">
                            @Localize.T("Label Name")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Value")
                        </th>
                        <th class="thead-th-style sorting text-right">
                            @Localize.T("Actions")
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr class="tr-style">

                        <td class="table-body-td-style device_style_info" valign="top">
                            <div class="device_header_mmr">@Localize.T("Label Name") <span>:</span></div>
                            <span class="info_style_device">
                                <a href="javascript:void(0)" class="item-edit-mmr name-anchor-style" data-id="@item.Id" data-toggle="modal" data-target="#myModal2">
                                    @item.Name
                            </a>
                        </span>
                    </td>
                    <td class="table-body-td-style device_style_info" valign="top">
                        <div class="device_header_mmr">@Localize.T("Value") <span>:</span></div>
                        <span class="info_style_device">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.Value.Value)</span>
                    </td>
                    <td class="table-body-td-style device_style_info" valign="top">
                        <div class="device_header_mmr">@Localize.T("Actions") <span>:</span></div>
                        <a href="javascript:void(0)" class="item-delete-MMR info_style_device" data-id="@item.Id" title="@Localize.T("Delete")">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                }

            </table>
        </div>
        <div class="custom-pager hidden">
            <ul class="pager">
                <li><a href="javascript:void(0)">@Localize.T("Previous")</a></li>
                <li><a href="javascript:void(0)">@Localize.T("Next")</a></li>
            </ul>
        </div>



    </div>
</div>
