@{
    Layout = null;
}

@model HS.Entities.EmployeeNote
@using Localize = HS.Web.UI.Helper.LanguageHelper
<style>
    .ChooseUserTypeHeader {
        text-align: left;
        background-color: #e4e4e4;
    }

        .ChooseUserTypeHeader div {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            font-size: 2rem;
        }

    .content-div {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
    }

    .SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }

    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }

    .btn-ennote {
        float: right;
        background-color: green;
        color: white;
    }

        .btn-ennote:hover {
            color: white;
        }

    .label-cbx {
        user-select: none;
        cursor: pointer;
        margin-bottom: 0;
    }

        .label-cbx input:checked + .checkbox_ac {
            border-color: #00c31f;
        }

            .label-cbx input:checked + .checkbox_ac svg path {
                fill: none;
            }

            .label-cbx input:checked + .checkbox_ac svg polyline {
                stroke-dashoffset: 0;
            }

        .label-cbx:hover .checkbox_ac svg path {
            stroke-dashoffset: 0;
            stroke-width: 1;
        }

        .label-cbx .checkbox_ac {
            position: relative;
            top: 5px;
            float: left;
            margin-right: 8px;
            width: 20px;
            height: 20px;
            border: 2px solid #C8CCD4;
            border-radius: 3px;
        }

            .label-cbx .checkbox_ac svg {
                position: absolute;
                top: -3px;
                left: -2px;
            }

                .label-cbx .checkbox_ac svg path {
                    fill: none;
                    stroke: #00c31f;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-dasharray: 71px;
                    stroke-dashoffset: 71px;
                    transition: all 0.6s ease;
                }

                .label-cbx .checkbox_ac svg polyline {
                    fill: none;
                    stroke: #00c31f;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-dasharray: 18px;
                    stroke-dashoffset: 18px;
                    transition: all 0.3s ease;
                }

        .label-cbx > span {
            pointer-events: none;
            vertical-align: middle;
        }

    .invisible {
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
    }
</style>
<script>
    var enrdate = new Pikaday({ format: 'MM/DD/YYYY', field: $('#ReminderDate')[0] });
    var SaveEmployeesch = function () {
        var url = domainurl + "/Notes/AddRecruitUserSchedule";
        var param = JSON.stringify({
            Id: $("#Id").val(),
            EmpId: $("#EmpId").val(),
            Notes: $("#Notes").val(),
            ReminderDate: enrdate.getDate()
        })
        $.ajax({
            type: "POST",
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.result == true) {
                    $('.close').trigger('click');
                    $("#scheduleTab").load(domainurl + "/Notes/RecruitUserSchedule?id=" + data.empid);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }

    $(document).ready(function () {
        $("#SaveEmployeesch").click(function () {
            if ($("#Notes").val() == "" && $("#ReminderDate").val() == "") {
                $("#Notes").css("border-color", "red");
                $("#ReminderDate").css("border-color", "red");
            }
            else {
                $("#Notes").css("border-color", "#ccc");
                $("#ReminderDate").css("border-color", "#ccc");
                SaveEmployeesch();
            }
        })
    })
</script>
@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x => x.EmpId)
<div class="ChooseUserTypeHeader">
    <div>@Localize.T("Add User Reminder")</div>
</div>
<div class="form-group clearfix content-div">
    <label>@Localize.T("Note")</label>
    @Html.TextAreaFor(x => x.Notes, new { @class = "form-control" })
</div>
<div class="form-group clearfix content-div">
    <label>@Localize.T("Reminder Date")</label>
    @Html.TextBoxFor(x => x.ReminderDate, new { @class = "form-control" })
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn btn-ennote" id="SaveEmployeesch"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
        </div>
    </footer>
</section>


