@{
    Layout = null;
}
@model List<HS.Entities.MessageDescriptionTemplate>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<script>
    $(".AddMessage").click(function () {
        OpenRightToLeftModal(domainurl + "/Notes/AddMessage");
    });
    var OpenMessageTemplate = function (templateId) {
        OpenRightToLeftModal("@(AppConfig.DomainSitePath)/Notes/AddMessage/?Id=" + templateId);
    }
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    });

</script>
@if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerMessageAdd))
{
    <button class="btn btn-note AddMessage" type="button" title="@Localize.T("Add Message")" style="margin-right:10px;">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" Message")
    </button>
}
<table class="EmailTemplateTable">
    <thead>
        <tr>
            <th>@Localize.T("Template Name")</th>
            <th>@Localize.T("Template Description")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    <div>@Localize.T("Name") <span>:</span> </div>
                    <div><span class="cus-anchor" onclick="OpenMessageTemplate(@item.Id)">@item.MessageName</span></div>

                    @*<a href="javascript:void(0)" class="item-delete" data-id="@item.Id" style="float:right;cursor:pointer;" title="@Localize.T("Delete")">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>*@
                </td>
                <td>
                    <div>@Localize.T("Description") <span>:</span></div>
                    <div>@item.MessageDetails</div>
                </td>
            </tr>
        }
    </tbody>
</table>

