@{
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}
@model HS.Entities.CustomerChangeField
@using AppConfig = HS.Framework.Utils.AppConfig;
@using HS.Framework
@using Localize = HS.Web.UI.Helper.LanguageHelper
@{ 
  
}


<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $("#CustomerList").load(domainurl + "/Customer/ShowCustomerList?CustomerId=@ViewBag.CustomerId");
    });
    var UpdateChange = function (CustomerId, ColumnName, NewValue) {
        console.log(NewValue);
        $.ajax({

            type: "POST",
            url: "@(AppConfig.DomainSitePath)/CustomerPublic/UpdateCustomerChange",
            data: '{CustomerId: ' + JSON.stringify(CustomerId) + ',ColumnName: ' + JSON.stringify(ColumnName) + ',NewValue: ' + JSON.stringify(NewValue) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.result) {
                    //console.log("df");
                    //$("#CustomerList").load("/Customer/ShowCustomerList?CustomerId=" + CustomerId);
                    OpenSuccessMessageNew("Success!", response.message, function () {
                        parent.location.reload();
                        $("#Right-To-Left-Modal-Body .close").click();
                    });
                }
                else {
                    OpenErrorMessageNew("Error!", response.message);
                }
                //window.location.reload();
            }
        });
    }

    var UpdatePaymentChange = function (CustomerId, ColumnName, NewValue) {
        console.log(NewValue);
        $.ajax({

            type: "POST",
            url: "@(AppConfig.DomainSitePath)/CustomerPublic/UpdateCustomerPaymentChange",
            data: '{CustomerId: ' + JSON.stringify(CustomerId) + ',ColumnName: ' + JSON.stringify(ColumnName) + ',NewValue: ' + JSON.stringify(NewValue) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.result) {
                    //console.log("df");
                    //$("#CustomerList").load("/Customer/ShowCustomerList?CustomerId=" + CustomerId);
                    OpenSuccessMessageNew("Success!", response.message, function () {
                        parent.location.reload();
                        $("#Right-To-Left-Modal-Body .close").click();
                    });
                }
                else {
                    OpenErrorMessageNew("Error!", response.message);
                }
                //window.location.reload();
            }
        });
    }
    var UpdateChangeSysteminfo = function (CustomerId, ColumnName, NewValue) {

        $.ajax({

            type: "POST",
            url: "@(AppConfig.DomainSitePath)/CustomerPublic/UpdateChangeSysteminfo",
            data: '{CustomerId: ' + JSON.stringify(CustomerId) + ',ColumnName: ' + JSON.stringify(ColumnName) + ',NewValue: ' + JSON.stringify(NewValue) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.result) {
                    //console.log("df");
                    //$("#CustomerList").load("/Customer/ShowCustomerList?CustomerId=" + CustomerId);
                    OpenSuccessMessageNew("Success!", response.message, function () {
                        parent.location.reload();
                        $("#Right-To-Left-Modal-Body .close").click();
                    });
                }
                else {
                    OpenErrorMessageNew("Error!", response.message);
                }
                //window.location.reload();
            }
        });
    }
    var UpdateChangeEmergencyContact = function (CustomerId) {

        $.ajax({

            type: "POST",
            url: "@(AppConfig.DomainSitePath)/CustomerPublic/UpdateChangeEmergencyContact",
            data: '{CustomerId: ' + JSON.stringify(CustomerId) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.result) {
                    //console.log("df");
                    //$("#CustomerList").load("/Customer/ShowCustomerList?CustomerId=" + CustomerId);
                    OpenSuccessMessageNew("Success!", response.message, function () {
                        parent.location.reload();
                        $("#Right-To-Left-Modal-Body .close").click();
                    });
                }
                else {
                    OpenErrorMessageNew("Error!", response.message);
                }
                //window.location.reload();
            }
        });
    }
</script>
<style>
    .CustomerChangeContainer {
        width:100%;
        float:left;
        padding: 10px;
    }
    .show_customer_change_header {
        font-size:30px;
        margin-bottom:20px;
    }
    .show_customer_change_table {
        width:100%;
        float:left;
    }
    .show_customer_change_table thead tr {
        border-bottom:2px solid #ccc;
    }
    .show_customer_change_table tbody tr {
         border-bottom:1px solid #ccc;
    }
    .show_customer_change_table thead tr th,
    .show_customer_change_table tbody tr td {
        padding:5px;
    }
</style>

<div class="CustomerChangeContainer">
    <div class="show_customer_change_header">Customer Change</div>
    <table class="show_customer_change_table">
        <thead>
            <tr>
                <th>
                    Titel
                </th>
                <th>
                    Old Value
                </th>
                <th>
                    New Value
                </th>
                <th>
                    Action
                </th>
             
            </tr>
        </thead>
        <tbody>
            @if (Model.Customer.FirstName != Model.CustomerDraft.FirstName && !string.IsNullOrEmpty(Model.CustomerDraft.FirstName))
            {
                <tr>
                    <td>
                        <span>FirstName</span>
                    </td>
                    <td>
                        @Model.Customer.FirstName
                    </td>
                    <td>
                        @Model.CustomerDraft.FirstName
                    </td>
                    <td>
                        <a  onclick="UpdateChange('@Model.Customer.CustomerId','FirstName','@Model.CustomerDraft.FirstName')">Update</a>
                    </td>

                </tr>
            }
            @if (Model.Customer.LastName != Model.CustomerDraft.LastName && !string.IsNullOrEmpty(Model.CustomerDraft.LastName))
            {
                <tr>
                    <td>
                        <span>LastName</span>
                    </td>
                    <td>
                        @Model.Customer.LastName
                    </td>
                    <td>
                        @Model.CustomerDraft.LastName
                    </td>
                    <td>
                        <a onclick="UpdateChange('@Model.Customer.CustomerId','LastName','@Model.CustomerDraft.LastName')">Update</a>
                    </td>
                </tr>
            }
            @if (Model.Customer.Type != Model.CustomerDraft.Type && !string.IsNullOrEmpty(Model.CustomerDraft.Type))
            {
                <tr>
                    <td>
                        <span>Type</span>
                    </td>
                    <td>
                        @Model.Customer.Type
                    </td>
                    <td>
                        @Model.CustomerDraft.Type
                    </td>
                    <td>
                        <a onclick="UpdateChange('@Model.Customer.CustomerId','Type','@Model.CustomerDraft.Type')">Update</a>
                    </td>
                </tr>
            }
            @if (Model.Customer.BusinessName != Model.CustomerDraft.BusinessName && !string.IsNullOrEmpty(Model.CustomerDraft.BusinessName))
            {
                <tr>
                    <td>
                        <span>BusinessName</span>
                    </td>
                    <td>
                        @Model.Customer.BusinessName
                    </td>
                    <td>
                        @Model.CustomerDraft.BusinessName
                    </td>
                    <td>
                        <a onclick="UpdateChange('@Model.Customer.CustomerId','BusinessName','@Model.CustomerDraft.BusinessName')">Update</a>
                    </td>
                </tr>
            }
        
            @if (Model.Customer.DateofBirth != Model.CustomerDraft.DateofBirth)
            {
                <tr>
                    <td>
                        <span>DateofBirth</span>
                    </td>
                    <td>
                        @Model.Customer.DateofBirth
                    </td>
                    <td>
                        @Model.CustomerDraft.DateofBirth
                    </td>
                    <td>
                        <a onclick="UpdateChange('@Model.Customer.CustomerId','DateofBirth','@Model.CustomerDraft.DateofBirth')">Update</a>
                    </td>
                </tr>
            }
           @if (Model.Customer.PrimaryPhone != Model.CustomerDraft.PrimaryPhone && !string.IsNullOrEmpty(Model.CustomerDraft.PrimaryPhone))
           {
            <tr>
                <td>
                    <span>PrimaryPhone</span>
                </td>
                <td>
                    @Model.Customer.PrimaryPhone
                </td>
                <td>
                    @Model.CustomerDraft.PrimaryPhone
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','PrimaryPhone','@Model.CustomerDraft.PrimaryPhone')">Update</a>
                </td>
            </tr>
           }
           @if (Model.Customer.SecondaryPhone != Model.CustomerDraft.SecondaryPhone && !string.IsNullOrEmpty(Model.CustomerDraft.SecondaryPhone))
           {
            <tr>
                <td>
                    <span>SecondaryPhone</span>
                </td>
                <td>
                    @Model.Customer.SecondaryPhone
                </td>
                <td>
                    @Model.CustomerDraft.SecondaryPhone
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','SecondaryPhone','@Model.CustomerDraft.SecondaryPhone')">Update</a>
                </td>
            </tr>
           }

           @if (Model.Customer.CellNo != Model.CustomerDraft.CellNo && !string.IsNullOrEmpty(Model.CustomerDraft.CellNo))
           {
            <tr>
                <td>
                    <span>CellNo</span>
                </td>
                <td>
                    @Model.Customer.CellNo
                </td>
                <td>
                    @Model.CustomerDraft.CellNo
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','CellNo','@Model.CustomerDraft.CellNo')">Update</a>
                </td>
            </tr>
           }
          @if (Model.Customer.Fax != Model.CustomerDraft.Fax && !string.IsNullOrEmpty(Model.CustomerDraft.Fax))
          {
            <tr>
                <td>
                    <span>Fax</span>
                </td>
                <td>
                    @Model.Customer.Fax
                </td>
                <td>
                    @Model.CustomerDraft.Fax
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','CellNo','@Model.CustomerDraft.Fax')">Update</a>
                </td>
            </tr>
          }
            @if (Model.Customer.EmailAddress != Model.CustomerDraft.EmailAddress && !string.IsNullOrEmpty(Model.CustomerDraft.EmailAddress))
            {
                <tr>
                    <td>
                        <span>EmailAddress</span>
                    </td>
                    <td>
                        @Model.Customer.EmailAddress
                    </td>
                    <td>
                        @Model.CustomerDraft.EmailAddress
                    </td>
                    <td>
                        <a onclick="UpdateChange('@Model.Customer.CustomerId','EmailAddress','@Model.CustomerDraft.EmailAddress')">Update</a>
                    </td>
                </tr>
            }
            @if (Model.Customer.Address != Model.CustomerDraft.Address && !string.IsNullOrEmpty(Model.CustomerDraft.Address))
            {
                <tr>
                    <td>
                        <span>Address</span>
                    </td>
                    <td>
                        @Model.Customer.Address
                    </td>
                    <td>
                        @Model.CustomerDraft.Address
                    </td>
                    <td>
                        <a onclick="UpdateChange('@Model.Customer.CustomerId','Address','@Model.CustomerDraft.Address')">Update</a>
                    </td>
                </tr>
            }
            @if (Model.Customer.Address2 != Model.CustomerDraft.Address2 && !string.IsNullOrEmpty(Model.CustomerDraft.Address2))
            {
                <tr>
                    <td>
                        <span>Address2</span>
                    </td>
                    <td>
                        @Model.Customer.Address2
                    </td>
                    <td>
                        @Model.CustomerDraft.Address2
                    </td>
                    <td>
                        <a onclick="UpdateChange('@Model.Customer.CustomerId','Address2','@Model.CustomerDraft.Address2')">Update</a>
                    </td>
                </tr>
            }
           @if (Model.Customer.Street != Model.CustomerDraft.Street && !string.IsNullOrEmpty(Model.CustomerDraft.Street))
           {
            <tr>
                <td>
                    <span>Street</span>
                </td>
                <td>
                    @Model.Customer.Street
                </td>
                <td>
                    @Model.CustomerDraft.Street
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','Street','@Model.CustomerDraft.Street')">Update</a>
                </td>
            </tr>
           }
         @if (Model.Customer.StreetPrevious != Model.CustomerDraft.StreetPrevious && !string.IsNullOrEmpty(Model.CustomerDraft.StreetPrevious))
         {
            <tr>
                <td>
                    <span>StreetPrevious</span>
                </td>
                <td>
                    @Model.Customer.StreetPrevious
                </td>
                <td>
                    @Model.CustomerDraft.StreetPrevious
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','StreetPrevious','@Model.CustomerDraft.StreetPrevious')">Update</a>
                </td>
            </tr>
         }
          @if (Model.Customer.City != Model.CustomerDraft.City && !string.IsNullOrEmpty(Model.CustomerDraft.City))
          {
            <tr>
                <td>
                    <span>City</span>
                </td>
                <td>
                    @Model.Customer.City
                </td>
                <td>
                    @Model.CustomerDraft.City
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','City','@Model.CustomerDraft.City')">Update</a>
                </td>
            </tr>
          }
          @if (Model.Customer.CityPrevious != Model.CustomerDraft.CityPrevious && !string.IsNullOrEmpty(Model.CustomerDraft.CityPrevious))
          {
            <tr>
                <td>
                    <span>CityPrevious</span>
                </td>
                <td>
                    @Model.Customer.CityPrevious
                </td>
                <td>
                    @Model.CustomerDraft.CityPrevious
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','CityPrevious','@Model.CustomerDraft.CityPrevious')">Update</a>
                </td>
            </tr>
          }
          @if (Model.Customer.State != Model.CustomerDraft.State && !string.IsNullOrEmpty(Model.CustomerDraft.State))
           {
            <tr>
                <td>
                    <span>State</span>
                </td>
                <td>
                    @Model.Customer.State
                </td>
                <td>
                    @Model.CustomerDraft.State
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','State','@Model.CustomerDraft.State')">Update</a>
                </td>
            </tr>
           }
          @if (Model.Customer.StatePrevious != Model.CustomerDraft.StatePrevious && !string.IsNullOrEmpty(Model.CustomerDraft.StatePrevious))
          {
            <tr>
                <td>
                    <span>StatePrevious</span>
                </td>
                <td>
                    @Model.Customer.StatePrevious
                </td>
                <td>
                    @Model.CustomerDraft.StatePrevious
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','StatePrevious','@Model.CustomerDraft.StatePrevious')">Update</a>
                </td>
            </tr>
          }
          @if (Model.Customer.ZipCode != Model.CustomerDraft.ZipCode && !string.IsNullOrEmpty(Model.CustomerDraft.ZipCode))
          {
            <tr>
                <td>
                    <span>ZipCode</span>
                </td>
                <td>
                    @Model.Customer.ZipCode
                </td>
                <td>
                    @Model.CustomerDraft.ZipCode
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','ZipCode','@Model.CustomerDraft.ZipCode')">Update</a>
                </td>
            </tr>
          }
          @if (Model.Customer.ZipCodePrevious != Model.CustomerDraft.ZipCodePrevious && !string.IsNullOrEmpty(Model.CustomerDraft.ZipCodePrevious))
          {
            <tr>
                <td>
                    <span>ZipCodePrevious</span>
                </td>
                <td>
                    @Model.Customer.ZipCodePrevious
                </td>
                <td>
                    @Model.CustomerDraft.ZipCodePrevious
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','ZipCodePrevious','@Model.CustomerDraft.ZipCodePrevious')">Update</a>
                </td>
            </tr>
        }
          @if (Model.Customer.Country != Model.CustomerDraft.Country && !string.IsNullOrEmpty(Model.CustomerDraft.Country))
          {
            <tr>
                <td>
                    <span>Country</span>
                </td>
                <td>
                    @Model.Customer.Country
                </td>
                <td>
                    @Model.CustomerDraft.Country
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','Country','@Model.CustomerDraft.Country')">Update</a>
                </td>
            </tr>
         }
          @if (Model.Customer.CountryPrevious != Model.CustomerDraft.CountryPrevious && !string.IsNullOrEmpty(Model.CustomerDraft.CountryPrevious))
          {
            <tr>
                <td>
                    <span>CountryPrevious</span>
                </td>
                <td>
                    @Model.Customer.CountryPrevious
                </td>
                <td>
                    @Model.CustomerDraft.CountryPrevious
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','CountryPrevious','@Model.CustomerDraft.CountryPrevious')">Update</a>
                </td>
            </tr>
        }
          @if (Model.Customer.IsAlarmCom != Model.CustomerDraft.IsAlarmCom)
          {
            <tr>
                <td>
                    <span>IsAlarmCom</span>
                </td>
                <td>
                    @Model.Customer.IsAlarmCom
                </td>
                <td>
                    @Model.CustomerDraft.IsAlarmCom
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','IsAlarmCom','@Model.CustomerDraft.IsAlarmCom')">Update</a>
                </td>
            </tr>
          }
          @*@if (Model.Customer.CreditScore != Model.CustomerDraft.CreditScore || !string.IsNullOrEmpty(Model.CustomerDraft.CreditScore))
         {
            <tr>
                <td>
                    <span>CreditScore</span>
                </td>
                <td>
                    @Model.Customer.CreditScore
                </td>
                <td>
                    @Model.CustomerDraft.CreditScore
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','CreditScore','@Model.CustomerDraft.CreditScore')">Update</a>
                </td>
            </tr>
         }
          @if (Model.Customer.CreditScoreValue != Model.CustomerDraft.CreditScoreValue )
        {
            <tr>
                <td>
                    <span>CreditScoreValue</span>
                </td>
                <td>
                    @Model.Customer.CreditScoreValue
                </td>
                <td>
                    @Model.CustomerDraft.CreditScoreValue
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','CreditScoreValue','@Model.CustomerDraft.CreditScoreValue')">Update</a>
                </td>
            </tr>
        }
          @if (Model.Customer.CreditScoreValue != Model.CustomerDraft.CreditScoreValue)
         {
            <tr>
                <td>
                    <span>ContractTeam</span>
                </td>
                <td>
                    @Model.Customer.ContractTeam
                </td>
                <td>
                    @Model.CustomerDraft.ContractTeam
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','ContractTeam','@Model.CustomerDraft.ContractTeam')">Update</a>
                </td>
            </tr>
         }*@
          @*@if (Model.Customer.FundingCompany != Model.CustomerDraft.FundingCompany)
           {
            <tr>
                <td>
                    <span>FundingCompany</span>
                </td>
                <td>
                    @Model.Customer.FundingCompany
                </td>
                <td>
                    @Model.CustomerDraft.FundingCompany
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','FundingCompany','@Model.CustomerDraft.FundingCompany')">Update</a>
                </td>
            </tr>
           }*@
          @if (Model.Customer.MonthlyMonitoringFee != Model.CustomerDraft.MonthlyMonitoringFee)
      {
        <tr>
            <td>
                <span>MonthlyMonitoringFee</span>
            </td>
            <td>
                @Model.Customer.MonthlyMonitoringFee
            </td>
            <td>
                @Model.CustomerDraft.MonthlyMonitoringFee
            </td>
            <td>
                <a onclick="UpdateChange('@Model.Customer.CustomerId','MonthlyMonitoringFee','@Model.CustomerDraft.MonthlyMonitoringFee')">Update</a>
            </td>
        </tr>
      }
          @if (Model.Customer.CellularBackup != Model.CustomerDraft.CellularBackup)
         {
            <tr>
                <td>
                    <span>CellularBackup</span>
                </td>
                <td>
                    @Model.Customer.CellularBackup
                </td>
                <td>
                    @Model.CustomerDraft.CellularBackup
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','CellularBackup','@Model.CustomerDraft.CellularBackup')">Update</a>
                </td>
            </tr>
         }
           @*@if (Model.Customer.LeadSource != Model.CustomerDraft.LeadSource)
           {
            <tr>
                <td>
                    <span>LeadSource</span>
                </td>
                <td>
                    @Model.Customer.LeadSource
                </td>
                <td>
                    @Model.CustomerDraft.LeadSource
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','LeadSource','@Model.CustomerDraft.LeadSource')">Update</a>
                </td>
            </tr>
           }*@
         @*@if (Model.Customer.CustomerFunded != Model.CustomerDraft.CustomerFunded)
         {
            <tr>
                <td>
                    <span>CustomerFunded</span>
                </td>
                <td>
                    @Model.Customer.CustomerFunded
                </td>
                <td>
                    @Model.CustomerDraft.CustomerFunded
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','CustomerFunded','@Model.CustomerDraft.CustomerFunded')">Update</a>
                </td>
            </tr>
         }*@
         @*@if (Model.Customer.Maintenance != Model.CustomerDraft.Maintenance)
         {
            <tr>
                <td>
                    <span>Maintenance</span>
                </td>
                <td>
                    @Model.Customer.Maintenance
                </td>
                <td>
                    @Model.CustomerDraft.Maintenance
                </td>
                <td>
                    @if (@Model.CustomerDraft.Maintenance == true)
                    {
                        <a onclick="UpdateChange('@Model.Customer.CustomerId','Maintenance',true)">Update</a>
                    }
                    else
                    {
                        <a onclick="UpdateChange('@Model.Customer.CustomerId','Maintenance',false)">Update</a>
                    }
                </td>
            </tr>
         }*@
         @if (Model.Customer.Note != Model.CustomerDraft.Note)
         {
            <tr>
                <td>
                    <span>Note</span>
                </td>
                <td>
                    @Model.Customer.Note
                </td>
                <td>
                    @Model.CustomerDraft.Note
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','Note','@Model.CustomerDraft.Note')">Update</a>
                </td>
            </tr>
         }
            @if (Model.Customer.SalesDate != Model.CustomerDraft.SalesDate)
            {
                <tr>
                    <td>
                        <span>SalesDate</span>
                    </td>
                    <td>
                        @Model.Customer.SalesDate
                    </td>
                    <td>
                        @Model.CustomerDraft.SalesDate
                    </td>
                    <td>
                        <a onclick="UpdateChange('@Model.Customer.CustomerId','SalesDate','@Model.CustomerDraft.SalesDate')">Update</a>
                    </td>
                </tr>
            }
           @if (Model.Customer.InstallDate != Model.CustomerDraft.InstallDate)
           {
            <tr>
                <td>
                    <span>InstallDate</span>
                </td>
                <td>
                    @Model.Customer.InstallDate
                </td>
                <td>
                    @Model.CustomerDraft.InstallDate
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','InstallDate','@Model.CustomerDraft.InstallDate')">Update</a>
                </td>
            </tr>
           }
         @if (Model.Customer.CutInDate != Model.CustomerDraft.CutInDate)
         {
            <tr>
                <td>
                    <span>CutInDate</span>
                </td>
                <td>
                    @Model.Customer.CutInDate
                </td>
                <td>
                    @Model.CustomerDraft.CutInDate
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','CutInDate','@Model.CustomerDraft.CutInDate')">Update</a>
                </td>
            </tr>
         }
        @if (Model.Customer.Installer != Model.CustomerDraft.Installer && !string.IsNullOrEmpty(Model.CustomerDraft.Installer))
        {
            <tr>
                <td>
                    <span>Installer</span>
                </td>
                <td>
                    @Model.Customer.Installer
                </td>
                <td>
                    @Model.CustomerDraft.Installer
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','Installer','@Model.CustomerDraft.Installer')">Update</a>
                </td>
            </tr>
        }

          @if (Model.Customer.Soldby != Model.CustomerDraft.Soldby && !string.IsNullOrEmpty(Model.CustomerDraft.Soldby))
          {
            <tr>
                <td>
                    <span>Soldby</span>
                </td>
                <td>
                    @Model.Customer.Soldby
                </td>
                <td>
                    @Model.CustomerDraft.Soldby
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','Soldby','@Model.CustomerDraft.Soldby')">Update</a>
                </td>
            </tr>
          }
           @if (Model.Customer.FundingDate != Model.CustomerDraft.FundingDate)
           {
            <tr>
                <td>
                    <span>FundingDate</span>
                </td>
                <td>
                    @Model.Customer.FundingDate
                </td>
                <td>
                    @Model.CustomerDraft.FundingDate
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','FundingDate','@Model.CustomerDraft.FundingDate')">Update</a>
                </td>
            </tr>
           }
          @if (Model.Customer.MiddleName != Model.CustomerDraft.MiddleName)
          {
            <tr>
                <td>
                    <span>MiddleName</span>
                </td>
                <td>
                    @Model.Customer.MiddleName
                </td>
                <td>
                    @Model.CustomerDraft.MiddleName
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','MiddleName','@Model.CustomerDraft.MiddleName')">Update</a>
                </td>
            </tr>
          }
           @*@if (Model.Customer.JoinDate != Model.CustomerDraft.JoinDate)
           {
            <tr>
                <td>
                    <span>JoinDate</span>
                </td>
                <td>
                    @Model.Customer.JoinDate
                </td>
                <td>
                    @Model.CustomerDraft.JoinDate
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','JoinDate','@Model.CustomerDraft.JoinDate')">Update</a>
                </td>
            </tr>
           }*@
     @if (Model.Customer.Status != Model.CustomerDraft.Status && !string.IsNullOrEmpty(Model.CustomerDraft.Status))
     {
        <tr>
            <td>
                <span>Status</span>
            </td>
            <td>
                @Model.Customer.Status
            </td>
            <td>
                @Model.CustomerDraft.Status
            </td>
            <td>
                <a onclick="UpdateChange('@Model.Customer.CustomerId','Status','@Model.CustomerDraft.Status')">Update</a>
            </td>
        </tr>
     }
        @if (Model.Customer.BillAmount != Model.CustomerDraft.BillAmount)
        {
            <tr>
                <td>
                    <span>BillAmount</span>
                </td>
                <td>
                    @Model.Customer.BillAmount
                </td>
                <td>
                    @Model.CustomerDraft.BillAmount
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','BillAmount','@Model.CustomerDraft.BillAmount')">Update</a>
                </td>
            </tr>
        }
         @if (Model.Customer.PaymentMethod != Model.CustomerDraft.PaymentMethod)
         {
            <tr>
                <td>
                    <span>PaymentMethod</span>
                </td>
                <td>
                    @Model.Customer.PaymentMethod
                </td>
                <td>
                    @Model.CustomerDraft.PaymentMethod
                </td>
                <td>
                    <a onclick="UpdatePaymentChange('@Model.Customer.CustomerId','PaymentMethod','@Model.CustomerDraft.PaymentMethod')">Update</a>
                </td>
            </tr>
         }
         @if (Model.Customer.BillCycle != Model.CustomerDraft.BillCycle)
         {
            <tr>
                <td>
                    <span>BillCycle</span>
                </td>
                <td>
                    @Model.Customer.BillCycle
                </td>
                <td>
                    @Model.CustomerDraft.BillCycle
                </td>
                <td>
                    <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
                </td>
            </tr>
         }
     @if (Model.Customer.BillDay != Model.CustomerDraft.BillDay)
     {
        <tr>
            <td>
                <span>BillDay</span>
            </td>
            <td>
                @Model.Customer.BillDay
            </td>
            <td>
                @Model.CustomerDraft.BillDay
            </td>
            <td>
                <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
            </td>
        </tr>
     }
    @if (Model.Customer.BillNotes != Model.CustomerDraft.BillNotes)
    {
        <tr>
            <td>
                <span>BillNotes</span>
            </td>
            <td>
                @Model.Customer.BillNotes
            </td>
            <td>
                @Model.CustomerDraft.BillNotes
            </td>
            <td>
                <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
            </td>
        </tr>
    }
        
            @if (Model.Customer.BillOutStanding != Model.CustomerDraft.BillOutStanding)
            {
                <tr>
                    <td>
                        <span>BillOutStanding</span>
                    </td>
                    <td>
                        @Model.Customer.BillOutStanding
                    </td>
                    <td>
                        @Model.CustomerDraft.BillOutStanding
                    </td>
                    <td>
                        <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
                    </td>
                </tr>
            }
      
            @if (Model.Customer.BillTax != Model.CustomerDraft.BillTax)
            {
                <tr>
                    <td>
                        <span>BillTax</span>
                    </td>
                    <td>
                        @Model.Customer.BillTax
                    </td>
                    <td>
                        @Model.CustomerDraft.BillTax
                    </td>
                    <td>
                        <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
                    </td>
                </tr>

            }
    @if (Model.Customer.ServiceDate != Model.CustomerDraft.ServiceDate)
    {
        <tr>
            <td>
                <span>ServiceDate</span>
            </td>
            <td>
                @Model.Customer.ServiceDate
            </td>
            <td>
                @Model.CustomerDraft.ServiceDate
            </td>
            <td>
                <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
            </td>
        </tr>
    }
        @if (Model.Customer.Area != Model.CustomerDraft.Area && !string.IsNullOrEmpty(Model.CustomerDraft.Area))
        {
            <tr>
                <td>
                    <span>Area</span>
                </td>
                <td>
                    @Model.Customer.Area
                </td>
                <td>
                    @Model.CustomerDraft.Area
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','Area','@Model.CustomerDraft.Area')">Update</a>
                </td>
            </tr>
        }
       @if (Model.Customer.StreetType != Model.CustomerDraft.StreetType && !string.IsNullOrEmpty(Model.CustomerDraft.StreetType))
       {
        <tr>
            <td>
                <span>StreetType</span>
            </td>
            <td>
                @Model.Customer.StreetType
            </td>
            <td>
                @Model.CustomerDraft.StreetType
            </td>
            <td>
                <a onclick="UpdateChange('@Model.Customer.CustomerId','StreetType','@Model.CustomerDraft.StreetType')">Update</a>
            </td>
        </tr>
       }
         @*@if (Model.Customer.Latlng != Model.CustomerDraft.Latlng)
         {
            <tr>
                <td>
                    <span>Latlng</span>
                </td>
                <td>
                    @Model.Customer.Latlng
                </td>
                <td>
                    @Model.CustomerDraft.Latlng
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','Latlng','@Model.CustomerDraft.Latlng')">Update</a>
                </td>
            </tr>
         }
      @if (Model.Customer.IsTechCallPassed != Model.CustomerDraft.IsTechCallPassed)
      {
        <tr>
            <td>
                <span>IsTechCallPassed</span>
            </td>
            <td>
                @Model.Customer.IsTechCallPassed
            </td>
            <td>
                @Model.CustomerDraft.IsTechCallPassed
            </td>
            <td>
                <a onclick="UpdateChange('@Model.Customer.CustomerId','IsTechCallPassed','@Model.CustomerDraft.IsTechCallPassed')">Update</a>
            </td>
        </tr>
      }
    @if (Model.Customer.IsDirect != Model.CustomerDraft.IsDirect)
    {
        <tr>
            <td>
                <span>IsDirect</span>
            </td>
            <td>
                @Model.Customer.IsDirect
            </td>
            <td>
                @Model.CustomerDraft.IsDirect
            </td>
            <td>
                <a onclick="UpdateChange('@Model.Customer.CustomerId','IsDirect','@Model.CustomerDraft.IsDirect')">Update</a>
            </td>
        </tr>
    }
         @if (Model.Customer.AuthorizeRefId != Model.CustomerDraft.AuthorizeRefId)
         {
            <tr>
                <td>
                    <span>AuthorizeRefId</span>
                </td>
                <td>
                    @Model.Customer.AuthorizeRefId
                </td>
                <td>
                    @Model.CustomerDraft.AuthorizeRefId
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','AuthorizeRefId','@Model.CustomerDraft.AuthorizeRefId')">Update</a>
                </td>
            </tr>
         }*@
          @*@if (Model.Customer.AuthorizeCusProfileId != Model.CustomerDraft.AuthorizeCusProfileId)
          {
            <tr>
                <td>
                    <span>AuthorizeCusProfileId</span>
                </td>
                <td>
                    @Model.Customer.AuthorizeCusProfileId
                </td>
                <td>
                    @Model.CustomerDraft.AuthorizeCusProfileId
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','AuthorizeCusProfileId','@Model.CustomerDraft.AuthorizeCusProfileId')">Update</a>
                </td>
            </tr>
          }
     @if (Model.Customer.AuthorizeCusPaymentProfileId != Model.CustomerDraft.AuthorizeCusPaymentProfileId)
     {
        <tr>
            <td>
                <span>AuthorizeCusPaymentProfileId</span>
            </td>
            <td>
                @Model.Customer.AuthorizeCusPaymentProfileId
            </td>
            <td>
                @Model.CustomerDraft.AuthorizeCusPaymentProfileId
            </td>
            <td>
                <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
            </td>
        </tr>
     }
         @if (Model.Customer.AuthorizeDescription != Model.CustomerDraft.AuthorizeDescription)
         {
            <tr>
                <td>
                    <span>AuthorizeDescription</span>
                </td>
                <td>
                    @Model.Customer.AuthorizeDescription
                </td>
                <td>
                    @Model.CustomerDraft.AuthorizeDescription
                </td>
                <td>
                    <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
                </td>
            </tr>
         }
            @if (Model.Customer.IsRequiredCsvSync != Model.CustomerDraft.IsRequiredCsvSync)
            {
                <tr>
                    <td>
                        <span>IsRequiredCsvSync</span>
                    </td>
                    <td>
                        @Model.Customer.IsRequiredCsvSync
                    </td>
                    <td>
                        @Model.CustomerDraft.IsRequiredCsvSync
                    </td>
                    <td>
                        <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
                    </td>
                </tr>
            }
            @if (Model.Customer.Passcode != Model.CustomerDraft.Passcode)
            {
                <tr>
                    <td>
                        <span>Passcode</span>
                    </td>
                    <td>
                        @Model.Customer.Passcode
                    </td>
                    <td>
                        @Model.CustomerDraft.Passcode
                    </td>
                    <td>
                        <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
                    </td>
                </tr>
            }
          @if (Model.Customer.ActivationFee != Model.CustomerDraft.ActivationFee)
          {
            <tr>
                <td>
                    <span>ActivationFee</span>
                </td>
                <td>
                    @Model.Customer.ActivationFee
                </td>
                <td>
                    @Model.CustomerDraft.ActivationFee
                </td>
                <td>
                    <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
                </td>
            </tr>
          }
           @if (Model.Customer.FirstBilling != Model.CustomerDraft.FirstBilling)
           {
            <tr>
                <td>
                    <span>FirstBilling</span>
                </td>
                <td>
                    @Model.Customer.FirstBilling
                </td>
                <td>
                    @Model.CustomerDraft.FirstBilling
                </td>
                <td>
                    <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
                </td>
            </tr>
           }
     @if (Model.Customer.ActivationFeePaymentMethod != Model.CustomerDraft.ActivationFeePaymentMethod)
     {
        <tr>
            <td>
                <span>ActivationFeePaymentMethod</span>
            </td>
            <td>
                @Model.Customer.ActivationFeePaymentMethod
            </td>
            <td>
                @Model.CustomerDraft.ActivationFeePaymentMethod
            </td>
            <td>
                <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
            </td>
        </tr>
     }
           @if (Model.Customer.CustomerId != Model.CustomerDraft.CustomerId)
           {
            <tr>
                <td>
                    <span>IsActive</span>
                </td>
                <td>
                    @Model.Customer.IsActive
                </td>
                <td>
                    @Model.CustomerDraft.IsActive
                </td>
                <td>
                    <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
                </td>
            </tr>
           }*@
        @*@if (Model.Customer.LastGeneratedInvoice != Model.CustomerDraft.LastGeneratedInvoice)
        {
            <tr>
                <td>
                    <span>LastGeneratedInvoice</span>
                </td>
                <td>
                    @Model.Customer.LastGeneratedInvoice
                </td>
                <td>
                    @Model.CustomerDraft.LastGeneratedInvoice
                </td>
                <td>
                    <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
                </td>
            </tr>
        }
         @if (Model.Customer.Singature != Model.CustomerDraft.Singature)
         {
            <tr>
                <td>
                    <span>Singature</span>
                </td>
                <td>
                    @Model.Customer.Singature
                </td>
                <td>
                    @Model.CustomerDraft.Singature
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','Singature','@Model.CustomerDraft.Singature')">Update</a>
                </td>
            </tr>
         }*@
     @if (Model.Customer.CrossStreet != Model.CustomerDraft.CrossStreet)
     {
        <tr>
            <td>
                <span>CrossStreet</span>
            </td>
            <td>
                @Model.Customer.CrossStreet
            </td>
            <td>
                @Model.CustomerDraft.CrossStreet
            </td>
            <td>
                <a onclick="UpdateChange('@Model.Customer.CustomerId','CrossStreet','@Model.CustomerDraft.CrossStreet')">Update</a>
            </td>
        </tr>
     }

   @if (Model.Customer.DBA != Model.CustomerDraft.DBA && !string.IsNullOrEmpty(Model.CustomerDraft.DBA))
   {
    <tr>
        <td>
            <span>DBA</span>
        </td>
        <td>
            @Model.Customer.DBA
        </td>
        <td>
            @Model.CustomerDraft.DBA
        </td>
        <td>
            <a onclick="UpdateChange('@Model.Customer.CustomerId','DBA','@Model.CustomerDraft.DBA')">Update</a>
        </td>
    </tr>
   }
        @*@if (Model.Customer.AlarmRefId != Model.CustomerDraft.AlarmRefId)
        {
            <tr>
                <td>
                    <span>AlarmRefId</span>
                </td>
                <td>
                    @Model.Customer.AlarmRefId
                </td>
                <td>
                    @Model.CustomerDraft.AlarmRefId
                </td>
                <td>
                    <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
                </td>
            </tr>
        }*@
           
@*@if (Model.Customer.TransunionRefId != Model.CustomerDraft.TransunionRefId)
{
    <tr>
        <td>
            <span>TransunionRefId</span>
        </td>
        <td>
            @Model.Customer.TransunionRefId
        </td>
        <td>
            @Model.CustomerDraft.TransunionRefId
        </td>
        <td>
            <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
        </td>
    </tr>
}
       @if (Model.Customer.MonitronicsRefId != Model.CustomerDraft.MonitronicsRefId)
       {
        <tr>
            <td>
                <span>MonitronicsRefId</span>
            </td>
            <td>
                @Model.Customer.MonitronicsRefId
            </td>
            <td>
                @Model.CustomerDraft.MonitronicsRefId
            </td>
            <td>
                <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
            </td>
        </tr>
       }
            @if (Model.Customer.CentralStationRefId != Model.CustomerDraft.CentralStationRefId)
            {
                <tr>
                    <td>
                        <span>CentralStationRefId</span>
                    </td>
                    <td>
                        @Model.Customer.CentralStationRefId
                    </td>
                    <td>
                        @Model.CustomerDraft.CentralStationRefId
                    </td>
                    <td>
                        <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
                    </td>
                </tr>
            }
        @if (Model.Customer.CmsRefId != Model.CustomerDraft.CmsRefId)
        {
            <tr>
                <td>
                    <span>CmsRefId</span>
                </td>
                <td>
                    @Model.Customer.CmsRefId
                </td>
                <td>
                    @Model.CustomerDraft.CmsRefId
                </td>
                <td>
                    <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
                </td>
            </tr>
        }*@
          @if (Model.Customer.PreferedEmail != Model.CustomerDraft.PreferedEmail)
          {
            <tr>
                <td>
                    <span>PreferedEmail</span>
                </td>
                <td>
                    @Model.Customer.PreferedEmail
                </td>
                <td>
                    @Model.CustomerDraft.PreferedEmail
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','PreferedEmail','@Model.CustomerDraft.PreferedEmail')">Update</a>
                </td>
            </tr>
          }
           @if (Model.Customer.PreferedSms != Model.CustomerDraft.PreferedSms)
           {
            <tr>
                <td>
                    <span>PreferedSms</span>
                </td>
                <td>
                    @Model.Customer.PreferedSms
                </td>
                <td>
                    @Model.CustomerDraft.PreferedSms
                </td>
                <td>
                    <a onclick="UpdateChange(@Model.Customer.CustomerId)">Update</a>
                </td>
            </tr>
           }
       @if (Model.Customer.IsAgreement != Model.CustomerDraft.IsAgreement)
       {
        <tr>
            <td>
                <span>IsAgreement</span>
            </td>
            <td>
                @Model.Customer.IsAgreement
            </td>
            <td>
                @Model.CustomerDraft.IsAgreement
            </td>
            <td>
                <a onclick="UpdateChange('@Model.Customer.CustomerId','IsAgreement','@Model.CustomerDraft.IsAgreement')">Update</a>
            </td>
        </tr>
       }
        @if (Model.Customer.IsFireAccount != Model.CustomerDraft.IsFireAccount)
        {
            <tr>
                <td>
                    <span>IsFireAccount</span>
                </td>
                <td>
                    @Model.Customer.IsFireAccount
                </td>
                <td>
                    @Model.CustomerDraft.IsFireAccount
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','IsFireAccount','@Model.CustomerDraft.IsFireAccount')">Update</a>
                </td>
            </tr>
        }
         
      
        
           @if (Model.Customer.BusinessAccountType != Model.CustomerDraft.BusinessAccountType)
           {
            <tr>
                <td>
                    <span>BusinessAccountType</span>
                </td>
                <td>
                    @Model.Customer.BusinessAccountType
                </td>
                <td>
                    @Model.CustomerDraft.BusinessAccountType
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','BusinessAccountType','@Model.CustomerDraft.BusinessAccountType')">Update</a>
                </td>
            </tr>
           }
         @if (Model.Customer.PhoneType != Model.CustomerDraft.PhoneType)
         {
            <tr>
                <td>
                    <span>PhoneType</span>
                </td>
                <td>
                    @Model.Customer.PhoneType
                </td>
                <td>
                    @Model.CustomerDraft.PhoneType
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','PhoneType','@Model.CustomerDraft.PhoneType')">Update</a>
                </td>
            </tr>
         }
           @if (Model.Customer.Carrier != Model.CustomerDraft.Carrier)
           {
            <tr>
                <td>
                    <span>Carrier</span>
                </td>
                <td>
                    @Model.Customer.Carrier
                </td>
                <td>
                    @Model.CustomerDraft.Carrier
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','Carrier','@Model.CustomerDraft.Carrier')">Update</a>
                </td>
            </tr>
           }
            @if (Model.Customer.ReferringCustomer != Model.CustomerDraft.ReferringCustomer )
            {
                <tr>
                    <td>
                        <span>ReferringCustomer</span>
                    </td>
                    <td>
                        @Model.Customer.ReferringCustomer
                    </td>
                    <td>
                        @Model.CustomerDraft.ReferringCustomer
                    </td>
                    <td>
                        <a onclick="UpdateChange('@Model.Customer.CustomerId','ReferringCustomer','@Model.CustomerDraft.ReferringCustomer')">Update</a>
                    </td>
                </tr>
            }
           @if (Model.Customer.EsistingPanel != Model.CustomerDraft.EsistingPanel && !string.IsNullOrEmpty(Model.CustomerDraft.EsistingPanel))
           {
            <tr>
                <td>
                    <span>ExistingPanel</span>
                </td>
                <td>
                    @Model.Customer.EsistingPanel
                </td>
                <td>
                    @Model.CustomerDraft.EsistingPanel
                </td>
                <td>
                    <a onclick="UpdateChange('@Model.Customer.CustomerId','EsistingPanel','@Model.CustomerDraft.EsistingPanel')">Update</a>
                </td>
            </tr>
           }
     @if (Model.Customer.Ownership != Model.CustomerDraft.Ownership && !string.IsNullOrEmpty(Model.CustomerDraft.Ownership))
     {
        <tr>
            <td>
                <span>Ownership</span>
            </td>
            <td>
                @Model.Customer.Ownership
            </td>
            <td>
                @Model.CustomerDraft.Ownership
            </td>
            <td>
                <a onclick="UpdateChange('@Model.Customer.CustomerId','Ownership','@Model.CustomerDraft.Ownership')">Update</a>
            </td>
        </tr>
     }
@if (Model.Customer.PurchasePrice != Model.CustomerDraft.PurchasePrice)
{
    <tr>
        <td>
            <span>PurchasePrice</span>
        </td>
        <td>
            @Model.Customer.PurchasePrice
        </td>
        <td>
            @Model.CustomerDraft.PurchasePrice
        </td>
        <td>
            <a onclick="UpdateChange('@Model.Customer.CustomerId','PurchasePrice','@Model.CustomerDraft.PurchasePrice')">Update</a>
        </td>
    </tr>
}
@if (Model.Customer.ContractValue != Model.CustomerDraft.ContractValue)
{
    <tr>
        <td>
            <span>ContractValue</span>
        </td>
        <td>
            @Model.Customer.ContractValue
        </td>
        <td>
            @Model.CustomerDraft.ContractValue
        </td>
        <td>
            <a onclick="UpdateChange('@Model.Customer.CustomerId','ContractValue','@Model.CustomerDraft.ContractValue')">Update</a>
        </td>
    </tr>
}

            @if (Model.customerSysinfo.PanelType != Model.customerSysinfoDraft.PanelType && Model.customerSysinfoDraft.PanelType != "-1")
            {
                <tr>
                    <td>
                        <span>PanelType</span>
                    </td>
                    <td>
                        @Model.customerSysinfo.PanelType
                    </td>
                    <td>
                        @Model.customerSysinfoDraft.PanelType
                    </td>
                    <td>
                        <a onclick="UpdateChangeSysteminfo('@Model.Customer.CustomerId','PanelType','@Model.customerSysinfoDraft.PanelType')">Update</a>
                    </td>
                </tr>
            }

            @if (Model.customerSysinfo.InstallType != Model.customerSysinfoDraft.InstallType && Model.customerSysinfoDraft.InstallType != "-1")
            {
                <tr>
                    <td>
                        <span>InstallType</span>
                    </td>
                    <td>
                        @Model.customerSysinfo.InstallType
                    </td>
                    <td>
                        @Model.customerSysinfoDraft.InstallType
                    </td>
                    <td>
                        <a onclick="UpdateChangeSysteminfo('@Model.Customer.CustomerId','InstallType','@Model.customerSysinfoDraft.InstallType')">Update</a>
                    </td>
                </tr>
            }
            @if (Model.customerSysinfo.CellularBackup != Model.customerSysinfoDraft.CellularBackup && Model.customerSysinfoDraft.CellularBackup != "-1")
            {
                <tr>
                    <td>
                        <span>CellularBackup</span>
                    </td>
                    <td>
                        @Model.customerSysinfo.CellularBackup
                    </td>
                    <td>
                        @Model.customerSysinfoDraft.CellularBackup
                    </td>
                    <td>
                        <a onclick="UpdateChangeSysteminfo('@Model.Customer.CustomerId','CellularBackup','@Model.customerSysinfoDraft.CellularBackup')">Update</a>
                    </td>
                </tr>
            }

            @if (Model.customerSysinfo.Zone1 != Model.customerSysinfoDraft.Zone1 && !string.IsNullOrEmpty(Model.customerSysinfoDraft.Zone1))
            {
                <tr>
                    <td>
                        <span>Zone1</span>
                    </td>
                    <td>
                        @Model.customerSysinfo.Zone1
                    </td>
                    <td>
                        @Model.customerSysinfoDraft.Zone1
                    </td>
                    <td>
                        <a onclick="UpdateChangeSysteminfo('@Model.Customer.CustomerId','Zone1','@Model.customerSysinfoDraft.Zone1')">Update</a>
                    </td>
                </tr>
            }

            @if (Model.customerSysinfo.Zone2 != Model.customerSysinfoDraft.Zone2 && !string.IsNullOrEmpty(Model.customerSysinfoDraft.Zone2))
            {
                <tr>
                    <td>
                        <span>Zone2</span>
                    </td>
                    <td>
                        @Model.customerSysinfo.Zone2
                    </td>
                    <td>
                        @Model.customerSysinfoDraft.Zone2
                    </td>
                    <td>
                        <a onclick="UpdateChangeSysteminfo('@Model.Customer.CustomerId','Zone2','@Model.customerSysinfoDraft.Zone2')">Update</a>
                    </td>
                </tr>
            }


            @if (Model.customerSysinfo.Zone3 != Model.customerSysinfoDraft.Zone3 && !string.IsNullOrEmpty(Model.customerSysinfoDraft.Zone3))
            {
                <tr>
                    <td>
                        <span>Zone3</span>
                    </td>
                    <td>
                        @Model.customerSysinfo.Zone3
                    </td>
                    <td>
                        @Model.customerSysinfoDraft.Zone3
                    </td>
                    <td>
                        <a onclick="UpdateChangeSysteminfo('@Model.Customer.CustomerId','Zone3','@Model.customerSysinfoDraft.Zone3')">Update</a>
                    </td>
                </tr>
            }

            @if (Model.customerSysinfo.Zone4 != Model.customerSysinfoDraft.Zone4 && !string.IsNullOrEmpty(Model.customerSysinfoDraft.Zone4))
            {
                <tr>
                    <td>
                        <span>Zone4</span>
                    </td>
                    <td>
                        @Model.customerSysinfo.Zone4
                    </td>
                    <td>
                        @Model.customerSysinfoDraft.Zone4
                    </td>
                    <td>
                        <a onclick="UpdateChangeSysteminfo('@Model.Customer.CustomerId','Zone4','@Model.customerSysinfoDraft.Zone4')">Update</a>
                    </td>
                </tr>
            }

            @if (Model.customerSysinfo.Zone5 != Model.customerSysinfoDraft.Zone5 && !string.IsNullOrEmpty(Model.customerSysinfoDraft.Zone5))
            {
                <tr>
                    <td>
                        <span>Zone5</span>
                    </td>
                    <td>
                        @Model.customerSysinfo.Zone5
                    </td>
                    <td>
                        @Model.customerSysinfoDraft.Zone5
                    </td>
                    <td>
                        <a onclick="UpdateChangeSysteminfo('@Model.Customer.CustomerId','Zone5','@Model.customerSysinfoDraft.Zone5')">Update</a>
                    </td>
                </tr>
            }


            @if (Model.customerSysinfo.Zone6 != Model.customerSysinfoDraft.Zone6 && !string.IsNullOrEmpty(Model.customerSysinfoDraft.Zone6))
            {
                <tr>
                    <td>
                        <span>Zone6</span>
                    </td>
                    <td>
                        @Model.customerSysinfo.Zone6
                    </td>
                    <td>
                        @Model.customerSysinfoDraft.Zone6
                    </td>
                    <td>
                        <a onclick="UpdateChangeSysteminfo('@Model.Customer.CustomerId','Zone6','@Model.customerSysinfoDraft.Zone6')">Update</a>
                    </td>
                </tr>
            }

            @if (Model.customerSysinfo.Zone7 != Model.customerSysinfoDraft.Zone7 && !string.IsNullOrEmpty(Model.customerSysinfoDraft.Zone7))
            {
                <tr>
                    <td>
                        <span>Zone7</span>
                    </td>
                    <td>
                        @Model.customerSysinfo.Zone7
                    </td>
                    <td>
                        @Model.customerSysinfoDraft.Zone7
                    </td>
                    <td>
                        <a onclick="UpdateChangeSysteminfo('@Model.Customer.CustomerId','Zone7','@Model.customerSysinfoDraft.Zone7')">Update</a>
                    </td>
                </tr>
            }
            @if (Model.customerSysinfo.Zone8 != Model.customerSysinfoDraft.Zone8 && !string.IsNullOrEmpty(Model.customerSysinfoDraft.Zone8))
            {
                <tr>
                    <td>
                        <span>Zone8</span>
                    </td>
                    <td>
                        @Model.customerSysinfo.Zone8
                    </td>
                    <td>
                        @Model.customerSysinfoDraft.Zone8
                    </td>
                    <td>
                        <a onclick="UpdateChangeSysteminfo('@Model.Customer.CustomerId','Zone8','@Model.customerSysinfoDraft.Zone8')">Update</a>
                    </td>
                </tr>
            }

            @if (Model.customerSysinfo.Zone9 != Model.customerSysinfoDraft.Zone9 && !string.IsNullOrEmpty(Model.customerSysinfoDraft.Zone9))
            {
                <tr>
                    <td>
                        <span>Zone9</span>
                    </td>
                    <td>
                        @Model.customerSysinfo.Zone9
                    </td>
                    <td>
                        @Model.customerSysinfoDraft.Zone9
                    </td>
                    <td>
                        <a onclick="UpdateChangeSysteminfo('@Model.Customer.CustomerId','Zone9','@Model.customerSysinfoDraft.Zone9')">Update</a>
                    </td>
                </tr>
            }

        

            @if (ViewBag.NewContact != "Null")
            {
                <tr>
                    <td>
                        <span>Add New Emergency Contact</span>
                    </td>
                    <td>
                       
                    </td>
                    <td>
                       
                    </td>
                    <td>
                        <a onclick="UpdateChangeEmergencyContact('@Model.Customer.CustomerId')">Update</a>
                    </td>
                </tr>
            }

           
           
        </tbody>

    </table>

</div>

