@model IEnumerable<HS.Entities.Announcement>


<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
       
     
    </tr>
}

</table>
