@model IEnumerable<HS.Entities.CustomerRefer>
@using AppConfig = HS.Framework.Utils.AppConfig;
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script>
    $(document).ready(function () {
        $(".btn-add-reffer-customer").click(function () {
            OpenRightToLeftLgModal("@(AppConfig.DomainSitePath)/CustomerPublic/ReferedCustomer?customerId=" + CustomerGuid);
        })
    });

</script>
<div style="float:right">
   
    <button class="btn btn-add-reffer-customer" type="button">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("Add Refer Friend")
    </button>
</div>
<table class="table">
    <tr>
     
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsViewd)
        </th>
      
      
     
        
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @if (item.IsViewd == true)
            {
                <label>Yes</label>
            }
            else
            {
                <label>No</label>
            }
        </td>
      
       
      
       
    </tr>
}

</table>
