@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.CustomerAppointmentDetailWorkOrder
<script src="~/Content/Js/Popups/AddAppoinmentDetail.js"></script>

<div class="container-fluid">

    @Html.HiddenFor(model => model.CustomerAppointmentDetail.Id)
    <input type="hidden" id="AppointmentId" value="@ViewBag.AppointmentId" />
    
    <div class="add-installtype">
        <div class="col-xs-12 clearfix wopi_left_right_pad">
            <div class="col-xs-6 wo_left_pad">
                <span class="text-span">@Localize.T("Install Type")</span>
                <div> @Html.DropDownListFor(model => model.CustomerAppointmentDetail.InstallType, (List<SelectListItem>)ViewBag.InstallType, new { @class = "form-control", id = "InstallType" })</div>
            </div>
            
            <div class="col-xs-6 wo_right_pad">
                <span class="text-span">@Localize.T("Collected Amount from Customer")</span>
                <div>@Html.TextBoxFor(model => model.CustomerAppointmentDetail.CollectedAmount, new { @class = "form-control", id = "CollectedAmount", daterequired = "true" }) </div>
            </div>
        </div>
    </div>
</div>