@model List<HS.Entities.TechSchedule> 

@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

@Styles.Render("~/styles/TechSchedule")
@Scripts.Render("~/scripts/TechSchedule")

<div class="page-content-wrap">
    <div class="container-fluid">
        <div class="header-section">
            <div class="row">
                <div class="col-md-6">
                    @*<h3 class="txt-header">@Localize.T("Schedule Tech")</h3>*@
                </div>
                @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerScheduleAdd))
                {
                    <div class="col-md-6">
                        <button class="btn btn_custom_schedule AddTechSchedule" onclick="TechNewSheduleLoad()" @*id="AddTechSchedule"*@ type="button" @*data-toggle="modal" data-target="#Tech-modal"*@><i class="fa fa-plus-circle" aria-hidden="true"></i>@Localize.T(" New")</button>
                    </div>
                }

            </div>
             
        </div>
        <div class="schedule-table">
            <table class="display" id="tblSchedule">
                <thead class="table-head-border tblSchedule_header_hide_for_device">
                    <tr>
                        <th class="thead-th-style sorting">
                            @Localize.T("Name")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Install Date")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Arrival Time")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Departure Time")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Estimated Arrival")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Actions")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-style tblSchedule_device_row">
                            <td class="table-body-td-style" valign="top">
                                <div class="tblSchedule_device_header">@Localize.T("Name")</div>
                                <div class="tblSchedule_device_info">
                                    <span>@item.TechnicianName</span>
                                </div>
                            </td>
                            <td class="table-body-td-style tblSchedule_device_row" valign="top">
                                <div class="tblSchedule_device_header">@Localize.T("Install Date")</div>
                                <div class="tblSchedule_device_info">
                                    <span>@item.InstallDate.Value.ToString("MM/dd/yy")</span>
                                </div>
                            </td>
                            <td class="table-body-td-style tblSchedule_device_row" valign="top">
                                <div class="tblSchedule_device_header">@Localize.T("Arrival Time")</div>
                                <div class="tblSchedule_device_info">
                                    <span>@item.ArrivalTime</span>
                                </div>
                               
                            </td>
                            <td class="table-body-td-style tblSchedule_device_row" valign="top">
                                <div class="tblSchedule_device_header">@Localize.T("Departure Time")</div>
                                <div class="tblSchedule_device_info">
                                    <span>@item.DepartureTime</span>
                                </div>
                            </td>
                            <td class="table-body-td-style tblSchedule_device_row" valign="top">
                                <div class="tblSchedule_device_header">@Localize.T("Estimated Arrival")</div>
                                <div class="tblSchedule_device_info">
                                    <span>@item.EstimatedArrival</span>
                                </div>
                            </td>
                            <td class="table-body-td-style tblSchedule_device_row" valign="top">
                                <div class="tblSchedule_device_header">@Localize.T("Actions")</div>
                                <div class="tblSchedule_device_info">
                                    <a href="javascript:void(0)" class="item-edit" data-id="@item.Id" id="@item.CustomerId" @*data-toggle="modal" data-target="#Tech-modal"*@>
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        @Localize.T("Edit")
                                    </a>
                                    <a href="javascript:void(0)" class="item-delete" data-id="@item.Id" id="@item.CustomerId" title="@Localize.T("Delete")">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </td>
                           
                        </tr>
                     }
                </tbody>
            </table>
        </div>
@*
    <div class="modal fade" id="ModalSuccessMessage" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content success-content" style="border-radius: 5px;">
                <div class="modal-header" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding: 10px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title success-title" style="margin-right: 514px;">Delete Confirmation Message.!</h4>
                </div>
                <div class="modal-body success-body">
                    <div class="cus-body" style="padding-top: 15px;">
                        <p style="padding-top: 30px;"></p>
                    </div>
                </div>
                <div class="modal-footer success-footer">
                    <button type="button" class="btn btn-no" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-green" onclick="DefaultSuccessfunc(true)" data-dismiss="modal" id="btn_yes">Yes</button>
                </div>
            </div>
        </div>
    </div>
*@
    </div>
</div>
