@model List<HS.Entities.CompanyBranch>
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
 
@Styles.Render("~/styles/Mmrs")
@*@Scripts.Render("~/scripts/Mmrs")*@
@Styles.Render("~/styles/CompanyBranch")
@Scripts.Render("~/scripts/CompanyBranch")
<link href="~/Content/Css/CompanyBranch/CompanyBranchPartial.css" rel="stylesheet" />
<div class="container-fluid cbp_container">
    <div class="style-txt">
        <span class="txt-branch">@Localize.T("Company Branch Information")</span>
        <button class="Addbranch">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
        </button>
    </div>
    <div class="searchBranchdiv">
        <div class="input-group add-on txt-input">
            <input class="form-control" placeholder="Find a Company Branch" name="srch-branch" id="srch-branch" type="text">
            <div class="input-group-btn">
                <button class="btn custom-btn" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>
    <div class="custom-table">
        <table class="display" id="tblBranch">
            <thead class="table-head-border branch_header_hide">
                <tr>
                    <th class="thead-th-style sorting">
                        @Localize.T("B&W Logo")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Colored Logo")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Email Logo")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Division")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Region")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Branch Name")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Location")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Timezone")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Rate")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Is Main Branch")
                    </th>
                    <th class="thead-th-style sorting text-right">
                        @Localize.T("Actions")
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr class="tr-style top_border">
                    <td class="table-body-td-style branch_info_row" valign="top">
                        <label class="branch_header_for_mobile">@Localize.T("B & W Logo")</label>
                        @if (!string.IsNullOrWhiteSpace(item.Logo))
                        {
                            <span class="branch_info_for_mobile"> <img src="@item.Logo" class="img-style" /></span>
                        }
                        else
                        {
                            <span class="branch_info_for_mobile"><img src="~/Content/CompanyBranchLogo/nologo.png" class="logo-style" /></span>
                        }
                    </td>
                    <td class="table-body-td-style branch_info_row" valign="top">
                        <label class="branch_header_for_mobile">@Localize.T("Colored Logo")</label>
                        @if (!string.IsNullOrWhiteSpace(item.ColorLogo))
                        {
                            <span class="branch_info_for_mobile"> <img src="@item.ColorLogo" class="img-style" /></span>
                        }
                        else
                        {
                            <span class="branch_info_for_mobile">
                                <img src="~/Content/CompanyBranchLogo/nologo.png" class="logo-style" />
                            </span>
                        }
                    </td>
                    <td class="table-body-td-style branch_info_row" valign="top">
                        <label class="branch_header_for_mobile">@Localize.T("Email Logo")</label>
                        @if (!string.IsNullOrWhiteSpace(item.EmailLogo))
                        {
                            <img src="@item.EmailLogo" class="img-style" />
                        }
                        else
                        {
                            <img src="~/Content/CompanyBranchLogo/nologo.png" class="logo-style" />
                        }
                    </td>
                    <td class="table-body-td-style branch_info_row" valign="top">
                        <label class="branch_header_for_mobile">@Localize.T("Division")</label>
                        <span class="branch_info_for_mobile sub_padding">@item.Division</span>
                    </td>
                    <td class="table-body-td-style branch_info_row" valign="top">
                        <label class="branch_header_for_mobile">@Localize.T("Region")</label>
                        <span class="branch_info_for_mobile sub_padding">@item.Region</span>
                    </td>
                    <td class="table-body-td-style branch_info_row" valign="top">
                        <label class="branch_header_for_mobile">@Localize.T("Branch Name")</label>
                        <span class="branch_info_for_mobile sub_padding">
                            <a href="javascript:void(0)" class="item-edit-branch name-anchor-style" data-id="@item.Id">

                                @item.Name
                            </a>
                        </span>
                    </td>
                    <td class="table-body-td-style branch_info_row" valign="top">
                        <label class="branch_header_for_mobile">@Localize.T("Location")</label>
                        <span class="branch_info_for_mobile sub_padding">@item.Street, <span class="manual_break"><br></span>@item.City @item.State @item.ZipCode</span>
                    </td>
                    <td class="table-body-td-style branch_info_row" valign="top">
                        <label class="branch_header_for_mobile">@Localize.T("Time Zone")</label>
                        <span class="branch_info_for_mobile sub_padding">@item.TimeZone</span>
                    </td>
                    <td class="table-body-td-style branch_info_row" valign="top">
                        <label class="branch_header_for_mobile">@Localize.T("Rate")</label>
                        <span class="branch_info_for_mobile sub_padding">@item.Tax</span>
                    </td>
                    <td class="table-body-td-style branch_info_row" valign="top">
                        <label class="branch_header_for_mobile">@Localize.T("Is Main Branch")</label>

                        @if (!item.IsMainBranch.HasValue || !item.IsMainBranch.Value)
                        {
                            <span class="branch_info_for_mobile sub_padding">No</span>
                        }
                        else
                        {
                            <span class="branch_info_for_mobile sub_padding">Yes</span>
                        }
                    </td>
                    <td class="table-body-td branch_info_row" valign="top">
                        <label class="branch_header_for_mobile">@Localize.T("Actions")</label>
                        <span class="branch_info_for_mobile sub_padding">
                            <a href="javascript:void(0)" class="item-delete-branch info_style_mobile" data-id="@item.Id" title="@Localize.T("Delete")">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            }

        </table>
    </div>

</div>
