@{
    Layout = null;
}
@model HS.Entities.PayrollAdminFee
@using AppConfig = HS.Framework.Utils.AppConfig;
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/Payroll/AddPayrollSetting.css" rel="stylesheet" />
<script src="~/Content/Js/Funding/AddPayrollSetting.js"></script>
<div class="add_sales_matrix_header">
    <div>@Localize.T("Admin Fee")</div>
</div>
<div class="add_sales_matrix_container">
    @Html.HiddenFor(x => x.Id)

    <div class="clearfix">
        <div class="add_sales_matrix_row">
            <label>@Localize.T("Admin Fee")</label>
            <div class="add_sales_matrix_margin">
                @Html.DropDownListFor(x => x.AdminFee, (List<SelectListItem>)ViewBag.PayrollAdminFee, new { @class = "form-control ", datarequired = "true" })
                <label rel="AdminFee" class="label hidden red position-absolute">*@Localize.T("Admin Fee required")</label>
            </div>
        </div>
        <div class="add_sales_matrix_row">
            <label>@Localize.T("Amount")</label>
            <div class="add_sales_matrix_margin">
                @Html.TextBoxFor(x => x.Amount, new { @class = "form-control", datarequired = "true", placeholder = "Amount" })
                <label rel="Amount" class="label hidden red position-absolute">*@Localize.T("Amount required")</label>
            </div>
        </div>
    </div>
</div>


<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn green_button" id="SaveAdminFee"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
        </div>
    </footer>
</section>




