@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency();
}
@using HS.Framework
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.PayrollAdminFee>
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Payroll/AddPayrollSetting.css" rel="stylesheet" />
<script>
    var DeletedId = 0;
    var AddPayrollAdminFee = function () {
        OpenRightToLeftModal(domainurl + "/Reports/AddPayrollAdminFee");
    }
    var EditPayrollAdminFee = function (Id) {
        OpenRightToLeftModal(domainurl + "/Reports/AddPayrollAdminFee?Id=" + Id);
    }
    var DeletePayrollAdminFeeConfirm = function () {
        var url = domainurl + "/Reports/DeletePayrollAdminFee";
        var param = JSON.stringify({
            Id: DeletedId
        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                OpenSuccessMessageNew("Success!", "", new function () {
                    LoadAdminFeeTab();
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    var DeletePayrollAdminFee = function (Id) {
        DeletedId = Id;
        OpenConfirmationMessageNew("Confirm?", "Are you sure you want to delete?", DeletePayrollAdminFeeConfirm);
    }
</script>
<div class="AdminFee_container">
    <button class="btn green_button" onclick="AddPayrollAdminFee()" title="Add AdminFee"><i class="fa fa-plus"></i> New</button>
    <table class="table">
        <thead>
            <tr>
                <th>@Localize.T("Admin Fee")</th>
                <th>@Localize.T("Amount")  </th>
                <th>@Localize.T("Action")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*<div>@Localize.T("Admin Fee")<span>:</span></div>*@
                        <div>
                            <a class="name_anchor_style" onclick="EditPayrollAdminFee(@item.Id)">@item.AdminFee</a><br />
                        </div>
                    </td>
                    <td>
                        @*<div>@Localize.T("Amount") <span>:</span></div>*@
                        <div>
                            <span>@Currency@LabelHelper.FormatAmount(item.Amount)</span>
                        </div>
                    </td>
                    <td>
                        @*<div>@Localize.T("Action")<span>:</span></div>*@
                        <div>
                            <span title="Delete" onclick="DeletePayrollAdminFee(@item.Id)"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>







