@{
    Layout = null;
    DateTime EndDate = (DateTime)ViewBag.EndDate;
}
@using HS.Framework
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var DataTablePageSize = 50;
    var EndDateDatepicker;
    var LoadAgingNav = function (pageNumber,order) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
        //if (order == "undefined") {
        //    order = "";
        //}
        var SearchText = $("#txtSearchBox").val();
        var reportFor = $("#AllReportFilter").val();
        var Url = String.format(domainurl + "/Reports/AgingPartial?End=" + EndDateDatepicker + "&SearchText=" + encodeURI(SearchText) + "&pageno="+pageNumber+"&pagesize=50&GetReport=false&reportFor=" + reportFor + "&order=" + order);
        //var redirectUrl = Url.replace(" ", "");
        $("#AgingData").html(TabsLoaderText);
        $("#AgingData").load(Url);

        //domainurl + "/Reports/AgingPartial?End=" + EndDateDatepicker + "&SearchText=" + encodeURI(SearchText) + "&reportFor=" + reportFor  + "&pageno=1&pagesize=50&GetReport=false&order=" + order );
    }
    $(document).ready(function () {
        EndDateDatepicker = new Pikaday({
            field: $('#WeeklyEndDate')[0],
            format: 'MM/DD/YYYY'
        });
        LoadAgingNav(1);
        $("#AgingFilterBtn").click(function () {
            LoadAgingNav(1);
        });
        $("#btnAgingDownload").click(function () {
            var SearchText = $("#txtSearchBox").val();
            var reportFor = $("#AllReportFilter").val();
            window.location.href = domainurl + "/Reports/AgingPartial?End=" + EndDateDatepicker + "&SearchText=" + encodeURI(SearchText) + "&pageno=1&pagesize=50&GetReport=true&reportFor=" + reportFor;
        })
    });
</script>
<style>

     .aging_top_bar .input-group {
         width: 300px !important;
         float: left;
     }
        .aging_top_bar .input-group #WeeklyEndDate {
            width: 50% !important;
            float: left;
        }
        .aging_top_bar .input-group .allreportfilter {
            width: 50% !important;
            float: left;
        }
    /*.all_returns_search_div .input-group .input-group-btn {
        width: 10% !important;
        float: left;
    }*/
</style>
<div class="aging_container">
    <div class="aging_top_bar">
        <input type="text" value="@ViewBag.SearchText" id="txtSearchBox" class="form-control" placeholder="Search by customer & sales person" />

        <div class="input-group add-on">
            <input type="text" value="@EndDate.ToString("MM/dd/yy")" placeholder="Search By Date" autocomplete="off" id="WeeklyEndDate" class="form-control border-radius-0" />
            @Html.DropDownList("AllReportFilter", (List<SelectListItem>)ViewBag.Filter, new { @class = "form-control allreportfilter" })
            <div class="input-group-btn">
                <button id="AgingFilterBtn" class="btn PayrollFilterBtn green_button" title="@Localize.T("Search")">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
        <button class="btn green_button" id="btnAgingDownload" title="@Localize.T("Download")"><i class="fa fa-download"></i></button>
    </div>
    <div id="AgingData">

    </div>
</div>

