@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency();
    var DateT = DateTime.Now;
    if (ViewBag.EndDate != null)
    {
        DateT = Convert.ToDateTime(ViewBag.EndDate);
    }
}
@using HS.Framework
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.CustomerListAgingWithCount
@*@model List<HS.Entities.CustomerListAging>*@
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />
<script>
       var pageno = '@ViewBag.PageNumber';
    var OpenInvoiceList = function (customerId, type) {
        /**/
        OpenTopToBottomModal(domainurl + "/Reports/OpenAgingInvoiceList/?CustomerId=" + customerId + "&Type=" + type + "&End=" + EndDateDatepicker);
        /**/
    }
    $(document).ready(function () {

         $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            LoadAgingNav(pageno, orderval);
        });
    })
</script>

<div class="leads_report_table aging_style">
    <div class="aging_partial_company_info">
        <div class="c_name">@ViewBag.CompanyName</div>
        <div class="ag_header">A/R Aging Summary</div>
        <div class="ag_date">As of @DateT.ToString("MMMM dd, yyyy")</div>
    </div>
    <table id="LeadsReportTable" class="table">
        <thead>
            <tr>
                <th>
                    <div>@Localize.T("Name")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/name"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/name"></i></div>

                </th>
                <th>
                    <div>@Localize.T("Sales Person")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/salesperson"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/salesperson"></i></div>

                </th>
                <th>
                    <div>@Localize.T("Current")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/current"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/current"></i></div>

                </th>
                <th>
                    <div>@Localize.T("1 - 30")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/onethirty"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/onethirty"></i></div>

                </th>
                <th>
                    <div>@Localize.T("31 - 60")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/thirtyonesixty"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/thirtyonesixty"></i></div>

                </th>
                <th>
                    <div>@Localize.T("61 - 90")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/sixtyoneninety"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/sixtyoneninety"></i></div>

                </th>
                <th>
                    <div>@Localize.T("> 90")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/greaterninety"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/greaterninety"></i></div>

                </th>
                <th><div>
                <div> @Localize.T("TOTAL")</div>
                @*<div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/total"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/total"></i></div>*@

            </div>
                
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CustomerListAgingList)
            {
                <tr>
                    <td>
                        <div>@Localize.T("Name") <span>:</span></div>
                        <div>
                            <a class="name_anchor_style" href="/Customer/CustomerDetail?id=@item.CustomerIntId" target="_blank">@item.CustomerName</a><br />
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Sales Person") <span>:</span></div>
                        <div>
                            <a @*class="cus-anchor" target="_blank" href="/UserInformation?Id=@item.SalesPersonId"*@>@item.SalesPerson</a>
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Current") <span>:</span></div>
                        <div>
                            @if (item.CurrentValue > 0)
                            {
                                <span class="cus-anchor" onclick="OpenInvoiceList('@item.CustomerId', 'CurrentValue')">@Currency @LabelHelper.FormatAmount(item.CurrentValue)</span>
                            }
                            else
                            {
                                <span>@Currency @LabelHelper.FormatAmount(item.CurrentValue)</span>
                            }
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("1 - 30") <span>:</span></div>
                        <div>
                            @if (item.OneThirtyValue > 0)
                            {
                                <span class="cus-anchor" onclick="OpenInvoiceList('@item.CustomerId', 'OneThirtyValue')">@Currency @LabelHelper.FormatAmount(item.OneThirtyValue)</span>
                            }
                            else
                            {
                                <span>@Currency @LabelHelper.FormatAmount(item.OneThirtyValue)</span>
                            }
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("31 - 60") <span>:</span></div>
                        <div>
                            @if (item.ThirtyOneSixtyValue > 0)
                            {
                                <span class="cus-anchor" onclick="OpenInvoiceList('@item.CustomerId', 'ThirtyOneSixtyValue')">@Currency @LabelHelper.FormatAmount(item.ThirtyOneSixtyValue)</span>
                            }
                            else
                            {
                                <span>@Currency @LabelHelper.FormatAmount(item.ThirtyOneSixtyValue)</span>
                            }
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("61 - 90") <span>:</span></div>
                        <div>
                            @if (item.SixtyOneNinetyValue > 0)
                            {
                                <span class="cus-anchor" onclick="OpenInvoiceList('@item.CustomerId', 'SixtyOneNinetyValue')">@Currency @LabelHelper.FormatAmount(item.SixtyOneNinetyValue)</span>
                            }
                            else
                            {
                                <span>@Currency @LabelHelper.FormatAmount(item.SixtyOneNinetyValue)</span>
                            }
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("> 90") <span>:</span></div>
                        <div>
                            @if (item.NinetyPlusValue > 0)
                            {
                                <span class="cus-anchor" onclick="OpenInvoiceList('@item.CustomerId', 'NinetyPlusValue')">@Currency @LabelHelper.FormatAmount(item.NinetyPlusValue)</span>
                            }
                            else
                            {
                                <span>@Currency @LabelHelper.FormatAmount(item.NinetyPlusValue)</span>
                            }
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("TOTAL") <span>:</span></div>
                        <div>
                            @if (item.TotalValue > 0)
                            {
                                <span class="cus-anchor" onclick="OpenInvoiceList('@item.CustomerId', 'All')">@Currency @LabelHelper.FormatAmount(item.TotalValue)</span>
                            }
                            else
                            {
                                <span>@Currency @LabelHelper.FormatAmount(item.TotalValue)</span>
                            }
                        </div>
                    </td>
                </tr>
            }

            <tr class="table_total_bg">
                <td colspan="2" class="total_bg_none_device">
                    <b class="float_right">
                        @Localize.T("Total")
                    </b>
                </td>
                <td>
                    <b>$ @Model.TotalCurrentValue.ToString("#,##0.00")</b>
                </td>
                <td>
                    <b>$ @Model.TotalOneThirtyValue.ToString("#,##0.00")</b>
                </td>
                <td>
                    <b>$ @Model.TotalThirtyOneSixtyValue.ToString("#,##0.00")</b>
                </td>
                <td>
                    <b>$ @Model.TotalSixtyOneNinetyValue.ToString("#,##0.00")</b>
                </td>
                <td>
                    <b>$ @Model.TotalNinetyPlusValue.ToString("#,##0.00")</b>
                </td>
                <td>
                    <b>$ @Model.TotalTotalValue.ToString("#,##0.00")</b>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="AgentListPagination">
        <div class="paginationContainer">
            @if (ViewBag.PageCount > 0)
            {
                <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
            }
            @if (ViewBag.PageCount == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons disabledBtn">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="LoadAgingNav(@(ViewBag.PageNumber))">1</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?" disabledBtn":"")" onclick="LoadAgingNav(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:" "))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?" activeBtn":"")" onclick="LoadAgingNav(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?" activeBtn":"")" onclick="LoadAgingNav(2)">2</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==2? " disabledBtn": "" )" onclick="LoadAgingNav(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:" "))">
                        Next
                    </button>
                </div>
            }
            else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?" disabledBtn":"")" onclick="LoadAgingNav(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:" "))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?" activeBtn":"")" onclick="LoadAgingNav(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?" activeBtn":"")" onclick="LoadAgingNav(2)">2</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==3?" activeBtn":"")" onclick="LoadAgingNav(3)">3</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==3?" disabledBtn":"")" onclick="LoadAgingNav(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:" "))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount > 3)
            {
                if (ViewBag.PageNumber == ViewBag.PageCount)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="LoadAgingNav(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadAgingNav(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadAgingNav(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="LoadAgingNav(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons disabledBtn" onclick="LoadAgingNav()">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 1)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="LoadAgingNav(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadAgingNav(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadAgingNav(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="LoadAgingNav(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 2)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="LoadAgingNav(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadAgingNav(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadAgingNav(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="LoadAgingNav(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="LoadAgingNav(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadAgingNav(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="LoadAgingNav(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadAgingNav(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="LoadAgingNav(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
            }
        </div>
    </div>
</div>


