@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency();
}
@using HS.Framework
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.PayrollCreditRating>
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Payroll/AddPayrollSetting.css" rel="stylesheet" />
<script>
    var DeletedId = 0;
    var AddPayrollCreditRating = function () {
        OpenRightToLeftModal(domainurl + "/Reports/AddPayrollCreditRating");
    }
    var EditPayrollCreditRating = function (Id) {
        OpenRightToLeftModal(domainurl + "/Reports/AddPayrollCreditRating?Id=" + Id);
    }
    var DeletePayrollCreditRatingConfirm = function () {
        var url = domainurl + "/Reports/DeletePayrollCreditRating";
        var param = JSON.stringify({
            Id: DeletedId
        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                OpenSuccessMessageNew("Success!", "", new function () {
                    LoadCreditRatingTab();
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    var DeletePayrollCreditRating = function (Id) {
        DeletedId = Id;
        OpenConfirmationMessageNew("Confirm?", "Are you sure you want to delete?", DeletePayrollCreditRatingConfirm);
    }
</script>
<div class="CreditRating_container">
    <button class="btn green_button" onclick="AddPayrollCreditRating()" title="Add credit rating"><i class="fa fa-plus"></i> New</button>
    <table class="table">
        <thead>
            <tr>
                <th>@Localize.T("Credit")</th>
                <th>@Localize.T("Multiples")  </th>
                <th>@Localize.T("ACH Bonus Waived")  </th>
                <th>@Localize.T("Action")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div>@Localize.T("Credit")<span>:</span></div>
                        <div>
                            @if (item.MinCredit == 0)
                            {
                                <a class="name_anchor_style" onclick="EditPayrollCreditRating(@item.Id)"><=@item.MaxCredit</a><br />
                            }
                            else if (item.MaxCredit == 725)
                            {
                                <a class="name_anchor_style" onclick="EditPayrollCreditRating(@item.Id)">>=@item.MinCredit</a><br />

                            }
                            else
                            {
                                <a class="name_anchor_style" onclick="EditPayrollCreditRating(@item.Id)">@item.MinCredit - @item.MaxCredit</a><br />
                            }
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Multiples")<span>:</span></div>
                        <div>
                            <span>@item.Point</span>
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("ACH Bonus Waived")<span>:</span></div>
                        <div>
                            <span>@(item.ACHBonusWaived == true ? "Yes" : "No")</span>
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Action")<span>:</span></div>
                        <div>
                            <span title="Delete" onclick="DeletePayrollCreditRating(@item.Id)"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




