@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency();
}
@using HS.Framework
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.PayrollCustomerType>
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Payroll/AddPayrollSetting.css" rel="stylesheet" />
<script>
    var DeletedId = 0;
    var AddPayrollCustomerType = function () {
        OpenRightToLeftModal(domainurl + "/Reports/AddPayrollCustomerType");
    }
    var EditPayrollCustomerType = function (Id) {
        OpenRightToLeftModal(domainurl + "/Reports/AddPayrollCustomerType?Id=" + Id);
    }
    var DeletePayrollCustomerTypeConfirm = function () {
        var url = domainurl + "/Reports/DeletePayrollCustomerType";
        var param = JSON.stringify({
            Id: DeletedId
        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                OpenSuccessMessageNew("Success!", "", new function () {
                    LoadCustomerTypeTab();
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    var DeletePayrollCustomerType = function (Id) {
        DeletedId = Id;
        OpenConfirmationMessageNew("Confirm?", "Are you sure you want to delete?", DeletePayrollCustomerTypeConfirm);
    }
</script>
<div class="CustomerType_container">
    <button class="btn green_button" onclick="AddPayrollCustomerType()" title="Add customer type"><i class="fa fa-plus"></i> New</button>
    <table class="table">
        <thead>
            <tr>
                <th>@Localize.T("Customer Type")</th>
                <th>@Localize.T("Multiples")  </th>
                <th>@Localize.T("Action")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div>@Localize.T("Customer Type")<span>:</span></div>
                        <div>
                            <a class="name_anchor_style" onclick="EditPayrollCustomerType(@item.Id)">@item.CustomerType</a><br />
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Multiples") <span>:</span></div>
                        <div>
                            <span>@item.Point</span>
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Action")<span>:</span></div>
                        <div>
                            <span title="Delete" onclick="DeletePayrollCustomerType(@item.Id)"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>