@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using Permissions = HS.Framework.UserPermissions
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var startTab = '@ViewBag.StartTab'
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";


    $(document).ready(function () {
       /* console.log("SSSSSS");*/
        $(".LoaderWorkingDiv").hide();



        if (startTab == "CustomerReportCustomerTab") {
            $("#CustomerReportTab").html(TabsLoaderText);
            $("#CustomerReportTab").load(domainurl + "/Reports/CustomerReportPartial?pageno=1&pagesize=50");

        }
        else if (startTab == "CustomerReportConvertedCustomerTab") {
            $("#ConvertedCustomerReportTab").addClass('active');
            $(".ConvertedCustomerReportTab").addClass('active');
            $("#ConvertedCustomerReportTab").html(TabsLoaderText);
            $("#ConvertedCustomerReportTab").load(domainurl + "/Reports/ConvertCustomerReportPartial?pageno=1&pagesize=50");
        }
        else if (startTab == "CustomerReportDelinquentCustomerTab") {
            $("#DelinquentReportTab").addClass('active');
            $(".DelinquentReportTab").addClass('active');
            $("#DelinquentReportTab").html(TabsLoaderText);
            $("#DelinquentReportTab").load(domainurl + "/Reports/DelinquentCustomerReportPartial?pageno=1&pagesize=50");
        }
        else if (startTab == "CustomerReportTransferCustomerTab") {
            $("#TransferReportTab").addClass('active');
            $(".TransferReportTab").addClass('active');
            $("#TransferReportTab").html(TabsLoaderText);
            $("#TransferReportTab").load(domainurl + "/Reports/TransferCustomerReportPartial?pageno=1&pagesize=50");
        }
        else if (startTab == "CustomerReportTestAccountTab") {
            $("#TestAccountReportTab").addClass('active');
            $(".TestAccountReportTab").addClass('active');
            $("#TestAccountReportTab").html(TabsLoaderText);
            $("#TestAccountReportTab").load(domainurl + "/Reports/TestAccountReportPartial?pageno=1&pagesize=50");
        }
        else if (startTab == "CustomerReportInactiveCustomerTab") {
            $("#InactiveReportTab").addClass('active');
            $(".InactiveReportTab").addClass('active');
            $("#InactiveReportTab").html(TabsLoaderText);
            $("#InactiveReportTab").load(domainurl + "/Reports/InactiveCustomerReportPartial?pageno=1&pagesize=50");
        }
        else if (startTab == "CustomerReportRWSReportTab") {
            $("#RWSReportTab").addClass('active');
            $(".RWSReportTab").addClass('active');
            $("#RWSReportTab").html(TabsLoaderText);
            $("#RWSReportTab").load(domainurl + "/Reports/RWSReport?pageno=1&pagesize=50");
        }
        else if (startTab == "CustomerReportFinanceReportTab") {
            $("#FinanceReportTab").addClass('active');
            $(".FinanceReportTab").addClass('active');
            $("#FinanceReportTab").html(TabsLoaderText);
            $("#FinanceReportTab").load(domainurl + "/Reports/LoadFinanceDealsReport?pageno=1&pagesize=50");
        }
        else if (startTab == "CustomerFinancedReportTab") {
            $("#CustomerFinancedReportTab").addClass('active');
            $(".CustomerFinancedReportTab").addClass('active');
            $("#CustomerFinancedReportTab").html(TabsLoaderText);
            $("#CustomerFinancedReportTab").load(domainurl + "/Reports/LoadFinancedReport?pageno=1&pagesize=50");
        }
        else if (startTab == "MoveCustomerReportTab") {
            $("#MoveCustomerReportTab").addClass('active');
            $(".MoveCustomerReportTab").addClass('active');
            $("#MoveCustomerReportTab").html(TabsLoaderText);
            $("#MoveCustomerReportTab").load(domainurl + "/Reports/MoveCustomerReportPartial");
        }

        $(".CustomerReportTab").click(function () {
            $("#CustomerReportTab").html(TabsLoaderText);
            $("#CustomerReportTab").load(domainurl + "/Reports/CustomerReportPartial?pageno=1&pagesize=50");
        });

        $(".ConvertedCustomerReportTab").click(function () {
            $("#ConvertedCustomerReportTab").html(TabsLoaderText);
            $("#ConvertedCustomerReportTab").load(domainurl + "/Reports/ConvertCustomerReportPartial?pageno=1&pagesize=50");
        });

        $(".DelinquentReportTab").click(function () {
            $("#DelinquentReportTab").html(TabsLoaderText);
            $("#DelinquentReportTab").load(domainurl + "/Reports/DelinquentCustomerReportPartial?pageno=1&pagesize=50");
        });

        $(".TransferReportTab").click(function () {
            $("#TransferReportTab").html(TabsLoaderText);
            $("#TransferReportTab").load(domainurl + "/Reports/TransferCustomerReportPartial?pageno=1&pagesize=50");
        });
        $(".TestAccountReportTab").click(function () {
            $("#TestAccountReportTab").html(TabsLoaderText);
            $("#TestAccountReportTab").load(domainurl + "/Reports/TestAccountReportPartial?pageno=1&pagesize=50");
        });

        $(".InactiveReportTab").click(function () {
            $("#InactiveReportTab").html(TabsLoaderText);
            $("#InactiveReportTab").load(domainurl + "/Reports/InactiveCustomerReportPartial?pageno=1&pagesize=50");
        });
        $(".RWSReportTab").click(function () {
            $("#RWSReportTab").html(TabsLoaderText);
            $("#RWSReportTab").load(domainurl + "/Reports/RWSReport?pageno=1&pagesize=50");
        });
        $(".FinanceReportTab").click(function () {
            $("#FinanceReportTab").html(TabsLoaderText);
            $("#FinanceReportTab").load(domainurl + "/Reports/LoadFinanceDealsReport?pageno=1&pagesize=50");
        });

        $(".CustomerFinancedReportTab").click(function () {
            $("#CustomerFinancedReportTab").html(TabsLoaderText);
            $("#CustomerFinancedReportTab").load(domainurl + "/Reports/LoadFinancedReport?pageno=1&pagesize=50");
        });
        $(".MoveCustomerReportTab").click(function () {
            $("#MoveCustomerReportTab").html(TabsLoaderText);
            $("#MoveCustomerReportTab").load(domainurl + "/Reports/MoveCustomerReportPartial");
        });
        $('ul.reports-tabs li a').click(function (e) {
            if (!TabPopStateCheck) {
                window.history.pushState({ urlPath: window.location.pathname }, "", $(e.target).attr('tabname'));
            }
            TabPopStateCheck = false;
        });
        if (top.location.hash != '') {
            if ($("[tabname='" + top.location.hash + "']").length > 0) {
                TabPopStateCheck = true;
                $("[tabname='" + top.location.hash + "']").click();
            }
        }

    });

</script>

<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">
    @Localize.T("Reports")
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>
</div>


<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs reports-tabs" id="myTab">

            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerReportCustomerTab))
            {
                <li class="active CustomerReportTab">
                    <a tabname="#CustomerTab" data-target="#CustomerReportTab" data-toggle="tab">@Localize.T("Customer")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerReportConvertedCustomerTab))
            {
                <li class="ConvertedCustomerReportTab">
                    <a tabname="#ConvertedCustomerTab" data-target="#ConvertedCustomerReportTab" data-toggle="tab">@Localize.T("Converted Customer")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerReportDelinquentCustomerTab))
            {
                <li class="DelinquentReportTab">
                    <a tabname="#DelinquentCustomerTab" data-target="#DelinquentReportTab" data-toggle="tab">@Localize.T("Delinquent Customer")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerReportTransferCustomerTab))
            {
                <li class="TransferReportTab">
                    <a tabname="#TransferCustomerTab" data-target="#TransferReportTab" data-toggle="tab">@Localize.T("Transfer Customer")</a>
                </li>
            }

            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerReportInactiveCustomerTab))
            {
                <li class="InactiveReportTab">
                    <a tabname="#InactiveCustomerTab" data-target="#InactiveReportTab" data-toggle="tab">@Localize.T("Inactive Customer")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerReportRWSReportTab))
            {
                <li class="RWSReportTab">
                    <a tabname="#RWSReportTab" data-target="#RWSReportTab" data-toggle="tab">@Localize.T("RWS Report")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerReportFinanceDealsTab))
            {
                <li class="FinanceReportTab">
                    <a tabname="#FinanceReportTab" data-target="#FinanceReportTab" data-toggle="tab">@Localize.T("Finance Deals")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerFinancedReport))
            {
                <li class="CustomerFinancedReportTab">
                    <a tabname="#CustomerFinancedReportTab" data-target="#CustomerFinancedReportTab" data-toggle="tab">@Localize.T("Financed")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerReportTestAccountTab))
            {
                <li class="TestAccountReportTab">
                    <a tabname="#TestAccountReportTab" data-target="#TestAccountReportTab" data-toggle="tab">@Localize.T("Test Account")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.MoveCustomerReportTab))
            {
                <li class="MoveCustomerReportTab">
                    <a tabname="#MoveCustomerReportTab" data-target="#MoveCustomerReportTab" data-toggle="tab">@Localize.T("Move Customer")</a>
                </li>
            }

        </ul>

        <div class="tab-content reports_tab_content">

            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerReportCustomerTab))
            {
                <div class="tab-pane active" id="CustomerReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerReportConvertedCustomerTab))
            {
                <div class="tab-pane" id="ConvertedCustomerReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerReportDelinquentCustomerTab))
            {
                <div class="tab-pane" id="DelinquentReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerReportTransferCustomerTab))
            {
                <div class="tab-pane" id="TransferReportTab">

                </div>
            }

            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerReportInactiveCustomerTab))
            {
                <div class="tab-pane" id="InactiveReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerReportRWSReportTab))
            {
                <div class="tab-pane" id="RWSReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerReportFinanceDealsTab))
            {
                <div class="tab-pane" id="FinanceReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerFinancedReport))
            {
                <div class="tab-pane" id="CustomerFinancedReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CustomerReportTestAccountTab))
            {
                <div class="tab-pane" id="TestAccountReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.MoveCustomerReportTab))
            {
                <div class="tab-pane" id="MoveCustomerReportTab">

                </div>
            }
        </div>
    </div>

</div>
