
@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using HS.Framework
@model HS.Entities.PayrollBrinks

<script>

</script>
<style>
    .net_pay_details_container {
        width: 100%;
        float: left;
    }

    .net_pay_details_header {
        width: 100%;
        float: left;
        padding: 7px 50px 7px 15px;
        border-bottom: 2px solid #ccc;
    }

        .net_pay_details_header span {
            font-size: 20px;
            float: left;
        }

        .net_pay_details_header button {
            float: right;
            margin-left: 10px;
        }

    .report_pagination_container {
        width: 100%;
        float: left;
        margin-top: 20px;
        margin-right: 25px;
        padding-left: 25px;
    }

    #PayrollReportTable {
        width: 100%;
        float: left;
        table-layout: fixed;
    }

        #PayrollReportTable thead tr th,
        #PayrollReportTable tbody tr td {
            border: 1px solid #ccc;
            padding: 10px 5px;
        }

            #PayrollReportTable thead tr th:nth-child(1) {
                width: 200px;
            }

        #PayrollReportTable tbody tr:nth-child(odd) {
            background-color: #f8f8f8;
        }

        #PayrollReportTable tbody tr:hover {
            background-color: #f4f5f8;
        }

    .net_pay_details_height {
        width: 100%;
        float: left;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .net_pay_details_inner {
        width: 100%;
        float: left;
        padding: 15px 15px;
    }
</style>
<div class="net_pay_details_container">
    <div class="net_pay_details_height">
        <div class="net_pay_details_inner">
            <table id="PayrollReportTable">
                <thead>
                    <tr>
                        <th>
                            <div>@Localize.T("Customer")</div>
                        </th>
                        @*<th>
                                <div>@Localize.T("MMR")</div>
                            </th>*@
                        <th>
                            <div>@Localize.T("Equipment Adjustment")</div>
                        </th>
                        <th>
                            <div>@Localize.T("Installation Fee")</div>
                        </th>
                        <th>
                            <div>@Localize.T("Hold Back")</div>
                        </th>
                        <th>
                            <div>@Localize.T("Pass-Thrus")</div>
                        </th>
                        <th>
                            <div>@Localize.T("Total Deduction")</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="rpt_pr_sls_mb">@Localize.T("Customer") <span>:</span></div>
                            @if (Model.CustomerIntId > 0)
                            {
                                <div class="rpt_pr_sls_dtp">
                                    <strong>Customer Id: </strong><a target="_blank" href="/Customer/Customerdetail?id=@Model.CustomerIntId" class="cus-anchor">@Model.CustomerIntId</a>
                                </div>
                            }
                            <div class="rpt_pr_sls_dtp">
                                <strong>Name:</strong> <span>@Model.CustomerName</span>
                            </div>
                        </td>
                        @*<td>
                                <div class="rpt_pr_sls_mb">@Localize.T("MMR") <span>:</span></div>
                                <div class="rpt_pr_sls_dtp">
                                    <span>@Currency@LabelHelper.FormatAmount(Model.MMR)</span>
                                </div>
                            </td>*@
                        <td>
                            <div class="rpt_pr_sls_mb">@Localize.T("Equipment Adjustment") <span>:</span></div>
                            <div class="rpt_pr_sls_dtp">
                                <span title="Equipment Rep Cost - Up Front Collect">(@Currency@LabelHelper.FormatAmount(Model.EquipmentRepCost)-@Currency@LabelHelper.FormatAmount(Model.UpFrontCollect))</span><br />
                                <span>@Currency@LabelHelper.FormatAmount(Model.EquipmentAdjustment)</span><br />
                                @foreach (var item in Model.EquipmentAdjustList)
                                {
                                    <span>@item.EquipmentName</span><span>(@Currency@LabelHelper.FormatAmount(item.Cost))</span><br />
                                }
                            </div>
                        </td>
                        <td>
                            <div class="rpt_pr_sls_mb">@Localize.T("Installation Fee") <span>:</span></div>
                            <div class="rpt_pr_sls_dtp">
                                <span>@Currency@LabelHelper.FormatAmount(Model.InstallationFee)</span>
                            </div>
                        </td>
                        <td>
                            <div class="rpt_pr_sls_mb">@Localize.T("Hold Back") <span>:</span></div>
                            <div class="rpt_pr_sls_dtp">
                                <span>@Currency@LabelHelper.FormatAmount(Model.HoldBack)</span>
                            </div>
                        </td>
                        <td>
                            <div class="rpt_pr_sls_mb">@Localize.T("Pass Thrus") <span>:</span></div>
                            <div class="rpt_pr_sls_dtp">
                                @if (Model.PassThrus > 0)
                                {
                                    <span title="Pass-Thrus*Multiple">(@LabelHelper.FormatAmount(Model.PassThrus)*@LabelHelper.FormatAmount(Model.Multiple))</span><br />
                                }
                                <span>@Currency@LabelHelper.FormatAmount(Model.TotalPassThrus)</span>
                            </div>
                        </td>
                        <td>
                            <div class="rpt_pr_sls_mb">@Localize.T("Total Deduction") <span>:</span></div>
                            <div class="rpt_pr_sls_dtp">
                                <span>@Currency@LabelHelper.FormatAmount(Model.Deductions)</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




