
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

@model List<HS.Entities.Invoice>
<script>
    var DataTablePageSize = 50;
    var EstimateStartDatePicker;
    var EstimateEndDatePicker;
    $(document).ready(function () {
        $("#EstimateReportTab .invoice-loader").hide();
        var table = $('#EstimateReportTable').DataTable({
            "pageLength": DataTablePageSize,
            "destroy": true,
            "language": {
                "emptyTable": "No data available"
            }
        });
        EstimateStartDatePicker = new Pikaday({
            format: 'MM/DD/YYYY',
            yearRange: [2017, (new Date()).getFullYear()],
            field: $('#report_EstimateStartDate')[0]
        });

        EstimateEndDatePicker = new Pikaday({
            format: 'MM/DD/YYYY',
            yearRange: [2017, (new Date()).getFullYear()],
            field: $('#report_EstimateEndDate')[0]
        });

        $("#btnDownloadEstimateReport").click(function () {
            var StartDate = $("#report_EstimateStartDate").val();
            var EndDate = $("#report_EstimateEndDate").val();

            if (StartDate.trim().length == 10 && EndDate.trim().length == 10) {
                StartDate = StartDate.replaceAll('/', '_');
                EndDate = EndDate.replaceAll('/', '_');
                location.href = domainurl + "/Reports/EstimateReportPartial/?Start=" + StartDate + "&End=" + EndDate + "&GetReport=true";
            } else {
                location.href = domainurl + "/Reports/EstimateReportPartial/?GetReport=true";
            }
        });
        $("#EstimateFilterButton").click(function () {
            var StartDate = $("#report_EstimateStartDate").val();
            var EndDate = $("#report_EstimateEndDate").val();
            StartDate = StartDate.replaceAll('/', '_');
            EndDate = EndDate.replaceAll('/', '_');
            $("#EstimateReportTab").html(TabsLoaderText);
            $("#EstimateReportTab").load(domainurl + "/Reports/EstimateReportPartial/?Start=" + StartDate + "&End=" + EndDate);
        });
    });
</script>
<link href="~/Content/Css/Report/EstimateReportListPartial.css" rel="stylesheet" />
<div class="est_report_top_info_bar">
    <div class="col-md-6 erp_total_estimate">
        @Localize.T("Total Estimates :") @ViewBag.TotalEstimates
    </div>
    <div class="col-md-6 erp_total_amount">
        @Localize.T("Total Amount :") @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(ViewBag.TotalAmount)
    </div> 
</div>
@*<div class="col-md-12">
    <a id="DownloadEstimateReport" href="/Reports/EstimateReportPartial/?GetReport=true" target="_blank">Download</a>
</div>*@

<div class="est_ReportTopDiv">
   
    <div class="Est_Report_Filter_Div">
       
            <label class="est_report_margin_top">@Localize.T("Filter by dates")</label>
        
            <input type="text" class="form-control" value="@ViewBag.Start" id="report_EstimateStartDate" placeholder="Start Date" />
      
            <input type="text" class="form-control" value="@ViewBag.End" id="report_EstimateEndDate" placeholder="End Date" />
       
            <button class="est_report_btn est_report_filter_btn" id="EstimateFilterButton"><i class="fa fa-filter" aria-hidden="true"></i>@Localize.T(" Filter")</button>
      
    </div>
    @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.EstimateReportDownload))
    {
       
            <button title="@Localize.T(" Download")" class="est_report_btn lrp_float_right" id="btnDownloadEstimateReport"><i class="fa fa-download" aria-hidden="true"></i></button>
       
    }
    
    @*<div class="col-xs-6">
        <div class="col-xs-2 est_report_right_pad">
            <label class="est_report_margin_top">@Localize.T("Filter by dates")</label>
        </div>
        <div class="col-xs-4 est_report_right_pad est_report_left_pad">
            <input type="text" class="form-control" value="@ViewBag.Start" id="report_EstimateStartDate" placeholder="Start Date" />
        </div>
        <div class="col-xs-4 est_report_right_pad est_report_left_pad">
            <input type="text" class="form-control" value="@ViewBag.End" id="report_EstimateEndDate" placeholder="End Date" />
        </div>
        <div class="col-xs-2 est_report_left_pad">
            <button class="report_btn" id="EstimateFilterButton">@Localize.T("Filter")</button>
        </div>
    </div>

    <div class="col-xs-6">
        <button class="report_btn lrp_float_right" id="btnDownloadEstimateReport">@Localize.T("Download")</button>
    </div>*@
    @*<div class="col-md-3">
        <label>Start Date</label>
        <input type="text" class="form-control" value="@ViewBag.Start" id="report_EstimateStartDate" placeholder="Start Date" />
    </div>
    <div class="col-md-3">
        <label>End Date</label>
        <input type="text" class="form-control" value="@ViewBag.End" id="report_EstimateEndDate" placeholder="End Date" />
    </div>
    <div class="col-md-1 padding-left-0 padding-right-0">
        <button class="report_btn" id="EstimateFilterButton">Filter</button>
    </div>
    <div class="col-md-2 padding-left-0 padding-right-0">
        <button class="report_btn" id="btnDownloadEstimateReport">Download</button>
    </div>*@
  
</div>

    <table id="EstimateReportTable">
        <thead>
            <tr>
                <th>@Localize.T("Estimate Id")</th>
                <th>@Localize.T("Customer Name")</th>
                <th>@Localize.T("Total Amount")</th> 
                <th>@Localize.T("Created On")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.InvoiceId</td>
                    <td>@item.CustomerName</td>
                    <td>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.TotalAmount.Value)</td>
                    <td>@item.CreatedDate.ToString("MM/dd/yy") at @item.CreatedDate.ToString("hh:mm tt")</td>
                </tr>
            }
        </tbody>
    </table>
