@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var pagenumber = '@ViewBag.PageNumber';
    var StartDate = '@ViewBag.Start';
    var EndDate = '@ViewBag.End';
   
    var NavigateFollowUpMemberComListing = function (pagenumber, order) {
        var searchText = $(".FollowUpSearchText").val();
        var followupperson = encodeURI($("#followup_person").val());

        $("#LoadFollowUpCommReport").html(LoaderDom);
        StartDate = $(".min-date").val();
        EndDate = $(".max-date").val();
        $("#LoadFollowUpCommReport").load(domainurl + "/Reports/LoadFollowUpReportList", {
            PageNo: pagenumber,
            SearchText: searchText,
            FollowUpPersonList: followupperson,
            order: order,
            StartDate: StartDate,
            EndDate:EndDate,
            IsPaid: $(".AllpaidFollowUpCommission").hasClass('active')
        });
    }
    var DownLoadNavigateFollowupCommListing = function (pagenumber) {
        var searchText = $(".FollowUpSearchText").val();
        var followupperson = encodeURI($("#followup_person").val());
        //$("#LoadMemberCommReport").html(LoaderDom);
        StartDate = $(".min-date").val();
        EndDate = $(".max-date").val();
        var IsPaid = $(".AllpaidFollowUpCommission").hasClass('active');
        //console.log(techperson);

        location.href = domainurl + "/Reports/LoadFollowUpReportList/?GetReport=true" + "&PageNo=1&SearchText=" + searchText  + "&StartDate=" + StartDate + "&EndDate=" + EndDate + "&FollowUpPersonList=" + followupperson + "&IsPaid=" + IsPaid;

    }
    $(document).ready(function () {
        NavigateFollowUpMemberComListing(1);
        $(".AllUnpaidFollowUpCommission, .AllpaidFollowUpCommission").click(function () {
             $(".FollowUpSearchText").val("");
            setTimeout(function () {
                NavigateFollowUpMemberComListing(1);
            }, 50);
        });

        $("#FollowUpbtnsearchtext").click(function () {
            setTimeout(function () {
                NavigateFollowUpMemberComListing(1);
            }, 50);
        })

        $("#followup_person").selectpicker('val', '');
        $("#btnDownloadPayrollFollowUpCom").click(function () {

            //var orderval = order;
            DownLoadNavigateFollowupCommListing(1);

        });
        $("#btnDownloadPayrollFollowUpCommission").click(function () {


            if (StartDate.trim().length == 10 && EndDate.trim().length == 10) {
                StartDate = StartDate.replaceAll('/', '_');
                EndDate = EndDate.replaceAll('/', '_');
                location.href = domainurl + "/Reports/FollowUpReportPartial/?Start=" + StartDate + "&End=" + EndDate + "&GetReport=true";
            } else {
                location.href = domainurl + "/Reports/FollowUpReportPartial/?GetReport=true";
            }
        });
          $(".FollowUpSearchText").keydown(function (e) {

                if (e.which == 13) {
                    NavigateFollowUpMemberComListing(1);
                }
            });
    });
</script>
<style>
    #btnDownloadPayrollFollowUpCom {
        float: right;
        background-color: #2ca01c;
        color: white;
    }
</style>
<link href="~/Content/Css/Report/PayrollReport.css" rel="stylesheet" />
<div class="payroll_list_container payroll_container_main">
    @*<button title="@Localize.T(" Download")" class="btn" id="btnDownloadPayrollFollowUpCommission"><i class="fa fa-download"></i></button>*@
    <div class="all_invoices_partial_container">
        <div class="invoices_tabs_header">
            <ul class="nav nav-tabs invoices-tabs" id="myInvoicesTab">
                <li class="active AllUnpaidFollowUpCommission">
                    <a data-target="#LoadUnpaidFollowUpCommReport" data-toggle="tab">Not Funded</a>
                </li>
                <li class="AllpaidFollowUpCommission">
                    <a data-target="#LoadFollowUpCommReport" data-toggle="tab">Funded</a>
                </li>
            </ul>
        </div>
        <div class="follow_up_partial_search_div">
            <input class="form-control FollowUpSearchText" type="text" placeholder="Search By Ticket Id or Customer Name" />
            <div class="input-group add-on">
                @Html.DropDownList("followup_person", ViewBag.FollowUpPersonList as List<SelectListItem>, new { @class = "form-control border_radius_0 TicketFor_search Payroll_FollowUpPerson", @multiple = "multiple", @title = "Select Technician" })
                <div class="input-group-btn">
                    <button class="btn search_followup_btn green_button" id="FollowUpbtnsearchtext" title="Search"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
            <button title="Download" class="btn btnBI" id="btnDownloadPayrollFollowUpCom"><i class="fa fa-download" aria-hidden="true"></i></button>
        </div>
        <div class="invoices-tabs">
            <div class="nav-detail-contents">
                <div class="tab-content">
                    <div id="LoadFollowUpCommReport" class="tab-pane active">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









