@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.PayrollReport>

<style>
    .dataTables_length {
        display: none;
    }

    .dataTables_filter {
        display: none;
    }

    .dataTables_info {
        display: none;
    }
    #tblInstall > thead > tr > th {
    padding:10px;
     border-bottom:1px solid #fff;
     border-right:1px solid #fff;
     background-color:#f4f5f8;
}
#tblInstall > tbody > tr > td {
    padding:5px 10px;
    border-bottom:1px solid #ccc;
     border-right:1px solid #ccc;
}
#tblInstall > tbody > tr:hover {
    background-color:#f4f5f8;
}
.bill_left_pad_zero {
    padding-left:0px;
}
.bill_right_pad_zero {
    padding-right:0px;
}
.filter-content{
    margin-top:10px;
    margin-bottom:5px;
}
.btnstaff{
}
.bill_report_float_right {
    float:right;
}
.installation_commission_report_top_bar {
    width: 100%;
    float: left;
    padding-top:10px;
    padding-bottom: 10px;
}
.installation_commission_report_top_bar .installation_commission_report_filter {
    width:auto;
    float:left;
}
.installation_commission_report_top_bar .installation_commission_report_filter label {
    width:100px;
    float:left;
    margin-top:5px;
}
.installation_commission_report_top_bar .installation_commission_report_filter input {
    width:200px;
    float:left;
    margin-right:10px;
}
.installation_commission_report_top_bar .installation_commission_report_filter button {
    width:auto;
    float:left;
}
</style>
<script>
    var DataTablePageSize = 50;
    var startval;
    var endval;
    var len = @Model.Count;
    var installStartDatePicker = new Pikaday({
        format: 'MM/DD/YYYY',
        yearRange: [2017, (new Date()).getFullYear()],
        field: $('#report_installStartDate')[0]
    });

    var installEndDatePicker = new Pikaday({
        format: 'MM/DD/YYYY',
        yearRange: [2017, (new Date()).getFullYear()],
        field: $('#report_installEndDate')[0]
    });
    var installFilterButton = function (s, e) {
        $("#InstallationCommission").load(domainurl + "/Reports/InstallationCommissionReportPartial?start=" + startval + "&end=" + endval);
    }
    $(document).ready(function () {
        var table = $('#tblInstall').DataTable({
            "pageLength": DataTablePageSize,
            "destroy": true,
            "language": {
                "emptyTable": "No data available"
            }
        });
        $("#installFilterButton").click(function () {
            startval = $('#report_installStartDate').val();
            endval = $('#report_installEndDate').val();
            if (startval != "" && endval != "") {
                installFilterButton(startval, endval);
            }
            else {
                OpenErrorMessageNew("Error!", "Start and End date couldn't be empty", "");
            }
        })
        $("#btnDownloadinstallReport").click(function () {
            startval = $('#report_installStartDate').val();
            endval = $('#report_installEndDate').val();
            if (startval != "" && endval != "" && len > 0) {
                location.href =domainurl +  "/Reports/InstallationCommissionReportPartial/?start=" + startval + "&end=" + endval + "&GetPayrollReport=true";
            }
            else if(len > 0) {
                location.href = domainurl + "/Reports/InstallationCommissionReportPartial/?GetPayrollReport=true";
            }
            else{
                OpenErrorMessageNew("Error!", "No data available", "");
            }
        })
    })
</script>

<div class="installation_commission_report_top_bar">
    <div class="installation_commission_report_filter">
            <label class="bill_report_margin_top">@Localize.T("Filter by dates")</label>
            <input class="form-control" type="text" value="@ViewBag.start" id="report_installStartDate" placeholder="Start Date" />
            <input class="form-control" type="text" value="@ViewBag.end" id="report_installEndDate" placeholder="End Date" />
            <button class="report_btn btnstaff" id="installFilterButton"><i class="fa fa-filter" aria-hidden="true"></i>@Localize.T(" Filter")</button>
        </div>
  
  
        <button class="report_btn bill_report_float_right" id="btnDownloadinstallReport"><i class="fa fa-download" aria-hidden="true"></i>@Localize.T(" Download")</button>
   
</div>
<div class="custom-table">
    <table id="tblInstall">
        <thead>
            <tr>
                <th class="thead-th-style">@Localize.T("Employee")</th>
                <th class="thead-th-style">@Localize.T("Week Ending")</th>
                <th class="thead-th-style">@Localize.T("Install")</th>
                <th class="thead-th-style">@Localize.T("Rate")</th>
                <th class="thead-th-style">@Localize.T("Tax Deduction")</th>
                <th class="thead-th-style">@Localize.T("Total")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="tr-style">
                    <td class="table-body-td-style">@item.EmpName</td>
                    <td class="table-body-td-style">@Localize.T("Friday")</td>
                    <td class="table-body-td-style">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null) 70,000.00</td>
                    <td class="table-body-td-style">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null) 100.00</td>
                    <td class="table-body-td-style">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null) 09.75</td>
                    <td class="table-body-td-style">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null) 69,990.25</td>
                </tr>
            }
        </tbody>
    </table>
</div>