@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var startTab = '@ViewBag.StartTab'
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
   
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $(".dateviewed").show();
        if (startTab == "InventoryReportWarehouseInventoryTab") {
            $(".dateviewed").show();
            $("#InventoryReportTab").html(TabsLoaderText);
            //$("#InventoryReportTab").load(domainurl + "/Reports/InventoryReportPartial?pageno=1&pagesize=50");

            $("#InventoryReportTab").load(domainurl + "/Reports/InventoryReportPartial");
        }
        else if (startTab == "InventoryReportBadInventoryTab") {
            $("#BadInventoryReportTab").addClass('active');
            $(".BadInventoryReportTab").addClass('active');
            $("#BadInventoryReportTab").html(TabsLoaderText);
            $("#BadInventoryReportTab").load(domainurl + "/Reports/BadInventoryReportPartial");
        }
        else if (startTab == "InventoryReportTruckInventoryTab") {
            $("#TruckInventoryReportTab").addClass('active');
            $(".TruckInventoryReportTab").addClass('active');
            $("#TruckInventoryReportTab").html(TabsLoaderText);
            $("#TruckInventoryReportTab").load(domainurl + "/Reports/TruckInventoryReportPartial?PageNo=1&PageSize=50");
        }
        else if (startTab == "InventoryReportTransferInventoryTab") {
            $("#TransferInventoryReportTab").addClass('active');
            $(".TransferInventoryReportTab").addClass('active');
            $("#TransferInventoryReportTab").html(TabsLoaderText);
            $("#TransferInventoryReportTab").load(domainurl + "/Reports/TransferInventoryReportPartial?PageNo=1&PageSize=50");
        }
        else if (startTab == "InventoryReportPendingInventoryTab") {
            $("#PendingInventoryReportTab").addClass('active');
            $(".PendingInventoryReportTab").addClass('active');
            $("#PendingInventoryReportTab").html(TabsLoaderText);
            $("#PendingInventoryReportTab").load(domainurl + "/Reports/PendingInventoryReportPartial?PageNo=1&PageSize=50");
        }
        else if (startTab == "CompletedJobInventoryReportTab") {
            var StartDate = $(".min-date").val();
           var EndDate = $(".max-date").val();
            $("#CompletedJobInventoryReportTab").addClass('active');
            $(".CompletedJobInventoryReportTab").addClass('active');
            $("#CompletedJobInventoryReportTab").html(TabsLoaderText);
            $("#CompletedJobInventoryReportTab").load(domainurl + "/Reports/CompletedInventoryReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
        }
        else if (startTab == "InventoryReportSummaryTab") {
            $("#SummaryReportTab").addClass('active');
            $(".SummaryReportTab").addClass('active');
            $("#SummaryReportTab").html(TabsLoaderText);
            $("#SummaryReportTab").load(domainurl + "/Reports/SummaryReportPartial?PageNo=1&PageSize=50");
        }
        else if (startTab == "InventoryReportPOReportTab") {
            $("#POReportTab").addClass('active');
            $(".POReportTab").addClass('active');
            $("#POReportTab").html(TabsLoaderText);
            $("#POReportTab").load(domainurl + "/Reports/POReportPartial?");
        }
        else if (startTab == "InventoryReportPOReportNewTab") {
            $("#POReportNewTab").addClass('active');
            $(".POReportNewTab").addClass('active');
            $("#POReportNewTab").html(TabsLoaderText);
            $("#POReportNewTab").load(domainurl + "/Reports/POReportNew?");
        }
        else if (startTab == "InventoryReportPOReportInventory") {
            $("#POReportInventory").addClass('active');
            $(".POReportInventory").addClass('active');
            $("#POReportInventory").html(TabsLoaderText);
            $("#POReportInventory").load(domainurl + "/Reports/POReportNew?");
        }
        else if (startTab == "InventoryCountReportTab") {
            $("#CountReportTab").addClass('active');
            $(".CountReportTab").addClass('active');
            $("#CountReportTab").html(TabsLoaderText);
            $("#CountReportTab").load(domainurl + "/Reports/InventoryCountReport?");
        }
            else if (startTab == "InventoryTechTruckReportTab") {
            $("#TechTruckInventoryReportTab").addClass('active');
            $(".TechTruckInventoryReportTab").addClass('active');
            $("#TechTruckInventoryReportTab").html(TabsLoaderText);
            $("#TechTruckInventoryReportTab").load(domainurl + "/Reports/InventoryTechTruckReport?");
        }
            else if (startTab == "InventoryTechUsedReportTab") {
            $("#TechUsedReportTab").addClass('active');
            $(".TechUsedReportTab").addClass('active');
            $("#TechUsedReportTab").html(TabsLoaderText);
            $("#TechUsedReportTab").load(domainurl + "/Reports/InventoryTechUsedReport?");
        }
            else if (startTab == "InventoryTechOrderReportTab") {
            $("#TechOrderReportTab").addClass('active');
            $(".TechOrderReportTab").addClass('active');
            $("#TechOrderReportTab").html(TabsLoaderText);
            $("#TechOrderReportTab").load(domainurl + "/Reports/InventoryTechOrderReport?");
        }
        else if (startTab == "InventoryUsagebyAccountTab") {
            $("#UsagebyAccountTab").addClass('active');
            $(".UsagebyAccountTab").addClass('active');
            $("#UsagebyAccountTab").html(TabsLoaderText);
            $("#UsagebyAccountTab").load(domainurl + "/Reports/UsagebyAccountReport?");
        }
        else if (startTab == "InventoryRMAReportTab") {
            $("#RMAReportTab").addClass('active');
            $(".RMAReportTab").addClass('active');
            $("#RMAReportTab").html(TabsLoaderText);
            $("#RMAReportTab").load(domainurl + "/Reports/RMAReport?");
        }
        else if (startTab == "InventoryPurchaseOrderTab") {
            $("#PurchaseOrderTab").addClass('active');
            $(".PurchaseOrderTab").addClass('active');
            $("#PurchaseOrderTab").html(TabsLoaderText);
            $("#PurchaseOrderTab").load(domainurl + "/Reports/PurchaseOrderReport?");
        }


        $(".InventoryReportTab").click(function () {
            $(".dateviewed").show();
            $("#InventoryReportTab").html(TabsLoaderText);
            $("#InventoryReportTab").load(domainurl + "/Reports/InventoryReportPartial?pageno=1&pagesize=50");
        });
        $(".BadInventoryReportTab").click(function () {
            $(".dateviewed").show();
            $("#BadInventoryReportTab").html(TabsLoaderText);
            $("#BadInventoryReportTab").load(domainurl + "/Reports/BadInventoryReportPartial");
        });
        $(".TruckInventoryReportTab").click(function () {
            $(".dateviewed").hide();
            $("#TruckInventoryReportTab").html(TabsLoaderText);
            $("#TruckInventoryReportTab").load(domainurl + "/Reports/TruckInventoryReportPartial?PageNo=1&PageSize=50");
        });
        $(".TransferInventoryReportTab").click(function () {
            $(".dateviewed").show();
            $("#TransferInventoryReportTab").html(TabsLoaderText);
            $("#TransferInventoryReportTab").load(domainurl + "/Reports/TransferInventoryReportPartial?PageNo=1&PageSize=50");
        });
        $(".PendingInventoryReportTab").click(function () {
            $(".dateviewed").show();
            $("#PendingInventoryReportTab").html(TabsLoaderText);
            $("#PendingInventoryReportTab").load(domainurl + "/Reports/PendingInventoryReportPartial?PageNo=1&PageSize=50");
        });
        $(".CompletedJobInventoryReportTab").click(function () {
            $(".dateviewed").show();
            var StartDate = $(".min-date").val();
           var EndDate = $(".max-date").val();
            $("#CompletedJobInventoryReportTab").html(TabsLoaderText);
            $("#CompletedJobInventoryReportTab").load(domainurl + "/Reports/CompletedInventoryReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
        });
        $(".SummaryReportTab").click(function () {
            $(".dateviewed").show();
            $("#SummaryReportTab").html(TabsLoaderText);
            $("#SummaryReportTab").load(domainurl + "/Reports/SummaryReportPartial?PageNo=1&PageSize=50");
        });
        //$(".POReportTab").click(function () {
        //    $(".dateviewed").show();
        //    $("#POReportTab").html(TabsLoaderText);
        //    $("#POReportTab").load(domainurl + "/Reports/POReportPartial?");
        //});
        //$(".POReportNewTab").click(function () {
        //    $(".dateviewed").show();
        //    $("#POReportTab").html(TabsLoaderText);
        //    $("#POReportTab").load(domainurl + "/Reports/POReportNew?");
        //});

        $(".CountReportTab").click(function () {
            $(".dateviewed").show();
            $("#CountReportTab").html(TabsLoaderText);
            $("#CountReportTab").load(domainurl + "/Reports/InventoryCountReport?");
        });
        $(".UsagebyAccountTab").click(function () {
            $(".dateviewed").show();
            $("#UsagebyAccountTab").html(TabsLoaderText);
            $("#UsagebyAccountTab").load(domainurl + "/Reports/UsagebyAccountReport?");
        });
        $(".RMAReportTab").click(function () {
            $(".dateviewed").show();
            $("#RMAReportTab").html(TabsLoaderText);
            $("#RMAReportTab").load(domainurl + "/Reports/RMAReport?");
        });
        $(".POReportTab").click(function () {
            $(".dateviewed").show();
            $("#POReportTab").html(TabsLoaderText);
            $("#POReportTab").load(domainurl + "/Reports/POReportPartial?");
        });
        $(".POReportNewTab").click(function () {
            $(".dateviewed").show();
            $("#POReportNewTab").html(TabsLoaderText);
            $("#POReportNewTab").load(domainurl + "/Reports/POReportNew?");
        });
        $(".POReportInventory").click(function () {
            $(".dateviewed").show();
            $("#POReportInventory").html(TabsLoaderText);
            $("#POReportInventory").load(domainurl + "/Reports/POReportInventory?");
        });


        $(".PurchaseOrderTab").click(function () {
            $(".dateviewed").show();
            $("#PurchaseOrderTab").html(TabsLoaderText);
            $("#PurchaseOrderTab").load(domainurl + "/Reports/PurchaseOrderReport?");
        });
        $(".TechTruckInventoryReportTab").click(function () {
            $(".dateviewed").show();
            $("#TechTruckInventoryReportTab").html(TabsLoaderText);
            $("#TechTruckInventoryReportTab").load(domainurl + "/Reports/InventoryTechTruckReport?");
        });
        $(".TechUsedReportTab").click(function () {
            $(".dateviewed").show();
            $("#TechUsedReportTab").html(TabsLoaderText);
            $("#TechUsedReportTab").load(domainurl + "/Reports/InventoryTechUsedReport?");
        });
        $(".TechOrderReportTab").click(function () {
            $(".dateviewed").show();
            $("#TechOrderReportTab").html(TabsLoaderText);
            $("#TechOrderReportTab").load(domainurl + "/Reports/InventoryTechOrderReport?");
        });
              $('ul.reports-tabs li a').click(function (e) {
        if (!TabPopStateCheck) {
            window.history.pushState({ urlPath: window.location.pathname }, "", $(e.target).attr('tabname'));
        }
        TabPopStateCheck = false;
           });
          if (top.location.hash != '') {
        if ($("[tabname='" + top.location.hash + "']").length > 0) {
            TabPopStateCheck = true;
            $("[tabname='" + top.location.hash + "']").click();
        }
    }
    });

</script>

<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">
    @Localize.T("Reports")
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>
</div>


<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs reports-tabs" id="myTab">
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportWarehouseInventoryTab))
            {
                <li class="active InventoryReportTab">
                    <a tabname="#WarehouseInventoryTab" data-target="#InventoryReportTab" data-toggle="tab">@Localize.T("Warehouse Inventory")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportBadInventoryTab))
            {
                <li class="BadInventoryReportTab">
                    <a tabname="#BadInventoryReportTab" data-target="#BadInventoryReportTab" data-toggle="tab">@Localize.T("Bad Inventory")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportTruckInventoryTab))
            {
                <li class="TruckInventoryReportTab">
                    <a tabname="#TruckInventoryReportTab" data-target="#TruckInventoryReportTab" data-toggle="tab">@Localize.T("Truck Inventory")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportTransferInventoryTab))
            {
                <li class="TransferInventoryReportTab">
                    <a tabname="#TransferInventoryReportTab" data-target="#TransferInventoryReportTab" data-toggle="tab">@Localize.T("Transfer Inventory")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportTransferInventoryTab))
            {
                <li class="PendingInventoryReportTab">
                    <a tabname="#PendingInventoryReportTab" data-target="#PendingInventoryReportTab" data-toggle="tab">@Localize.T("Pending Inventory")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CompletedJobInventoryReportTab))
            {
                <li class="CompletedJobInventoryReportTab">
                    <a tabname="#CompletedJobInventoryReportTab" data-target="#CompletedJobInventoryReportTab" data-toggle="tab">@Localize.T("Completed Job Inventory ")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportSummaryTab))
            {
                <li class="SummaryReportTab">
                    <a tabname="#SummaryReportTab" data-target="#SummaryReportTab" data-toggle="tab">@Localize.T("Summary")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportPOReportTab))
            {
                <li class="POReportTab">
                    <a tabname="#POReportTab" data-target="#POReportTab" data-toggle="tab">@Localize.T("PO Reports")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryCountReportTab))
            {
                <li class="CountReportTab">
                    <a tabname="#CountReportTab" data-target="#CountReportTab" data-toggle="tab">@Localize.T("Inventory Count")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryUsagebyAccountTab))
            {
                <li class="UsagebyAccountTab">
                    <a tabname="#UsagebyAccountTab" data-target="#UsagebyAccountTab" data-toggle="tab">@Localize.T("Usage by Account")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryRMAReportTab))
            {
                <li class="RMAReportTab">
                    <a tabname="#RMAReportTab" data-target="#RMAReportTab" data-toggle="tab">@Localize.T("RMA Report")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryPurchaseOrderTab))
            {
                <li class="PurchaseOrderTab">
                    <a tabname="#PurchaseOrderTab" data-target="#PurchaseOrderTab" data-toggle="tab">@Localize.T("Purchase Order Report")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.TechTruckInventoryReportTab))
            {
                <li class="TechTruckInventoryReportTab">
                    <a tabname="#TechTruckInventoryReportTab" data-target="#TechTruckInventoryReportTab" data-toggle="tab">@Localize.T("Tech Truck Inventory")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.TechUsedReportTab))
            {
                <li class="TechUsedReportTab">
                    <a tabname="#TechUsedReportTab" data-target="#TechUsedReportTab" data-toggle="tab">@Localize.T("Tech Usage")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.TechOrderReportTab))
            {
                <li class="TechOrderReportTab">
                    <a tabname="#TechOrderReportTab" data-target="#TechOrderReportTab" data-toggle="tab">@Localize.T("Tech Order")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportPOReportFinanceTab))
            {
                <li class="POReportNewTab">
                    <a tabname="#POReportNewTab" data-target="#POReportNewTab" data-toggle="tab">@Localize.T("PO Report (Finance)")</a>
                </li>

            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportPOReportInventoryTab))
            {
                <li class="POReportInventory">
                    <a tabname="#POReportInventory" data-target="#POReportInventory" data-toggle="tab">@Localize.T("PO Report (Inventory)")</a>
                </li>
            }
        </ul>
        <div class="tab-content reports_tab_content">

            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportWarehouseInventoryTab))
            {
                <div class="tab-pane active" id="InventoryReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportBadInventoryTab))
            {
                <div class="tab-pane" id="BadInventoryReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportTruckInventoryTab))
            {
                <div class="tab-pane" id="TruckInventoryReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportTransferInventoryTab))
            {
                <div class="tab-pane" id="TransferInventoryReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportTransferInventoryTab))
            {
                <div class="tab-pane" id="PendingInventoryReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CompletedJobInventoryReportTab))
            {
                <div class="tab-pane" id="CompletedJobInventoryReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportSummaryTab))
            {
                <div class="tab-pane" id="SummaryReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportPOReportTab))
            {
                <div class="tab-pane" id="POReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryCountReportTab))
            {
                <div class="tab-pane" id="CountReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryUsagebyAccountTab))
            {
                <div class="tab-pane" id="UsagebyAccountTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryRMAReportTab))
            {
                <div class="tab-pane" id="RMAReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryPurchaseOrderTab))
            {
                <div class="tab-pane" id="PurchaseOrderTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.TechTruckInventoryReportTab))
            {
                <div class="tab-pane" id="TechTruckInventoryReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.TechUsedReportTab))
            {
                <div class="tab-pane" id="TechUsedReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.TechOrderReportTab))
            {
                <div class="tab-pane" id="TechOrderReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportPOReportFinanceTab))
            {
                <div class="tab-pane" id="POReportNewTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InventoryReportPOReportInventoryTab))
            {
                <div class="tab-pane" id="POReportInventory">

                </div>
            }
        </div>
    </div>

</div>

