@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
<script>
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();

        $("#MainLeadReportTab").html(TabsLoaderText);
        $("#MainLeadReportTab").load(domainurl + "/Reports/LoadHudsonLeadsReport?pageno=1&pagesize=50");
        $(".MainLeadReportTab").click(function () {
            $("#MainLeadReportTab").html(TabsLoaderText);
            $("#MainLeadReportTab").load(domainurl + "/Reports/LoadHudsonLeadsReport?pageno=1&pagesize=50");
        });
        $(".LeadfollowupReportTab").click(function () {
            $("#LeadfollowupReportTab").html(TabsLoaderText);
            $("#LeadfollowupReportTab").load(domainurl + "/Reports/LoadHudsonFollowupReport?pageno=1&pagesize=50");
        });
        $(".LeadAllRecordsReportTab").click(function () {
            $("#LeadAllRecordsReportTab").html(TabsLoaderText);
            $("#LeadAllRecordsReportTab").load(domainurl + "/Reports/AllRecordsReport");
        });
        $('ul.reports-tabs li a').click(function (e) {
            if (!TabPopStateCheck) {
                window.history.pushState({ urlPath: window.location.pathname }, "", $(e.target).attr('tabname'));
            }
            TabPopStateCheck = false;
        });
        if (top.location.hash != '') {
            if ($("[tabname='" + top.location.hash + "']").length > 0) {
                TabPopStateCheck = true;
                $("[tabname='" + top.location.hash + "']").click();
            }
        }
    });

</script>

<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="reports_partial_container">
    <div class="ReportsHeading">
        @Localize.T("Reports")
    </div>
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>

    <div class="col-xs-12 Report-Tabs">
        <div class="nav-detail-contents">
            <ul class="nav nav-tabs reports-tabs" id="myTab">
                <li class="active MainLeadReportTab">
                    <a tabname="#LeadTab" data-target="#MainLeadReportTab" data-toggle="tab">@Localize.T("Leads Report")</a>
                </li>
                @*<li class=" MainFollowupReportTab">
                        <a data-target="#MainFollowupReportTab" data-toggle="tab">@Localize.T("Follow Up Report")</a>
                    </li>*@
                @if (PermissionChecker.IsPermitted(PermissionList.CustomerPermissions.FollowupReport))
                {
                    <li class="LeadfollowupReportTab">
                        <a tabname="#FollowupTab" data-target="#LeadfollowupReportTab" data-toggle="tab">@Localize.T("Follow Up Report")</a>
                    </li>
                }
                @if (PermissionChecker.IsPermitted(PermissionList.CustomerPermissions.AllRecordsReportTab))
                {
                    <li class="LeadAllRecordsReportTab">
                        <a tabname="#AllRecordsTab" data-target="#LeadAllRecordsReportTab" data-toggle="tab">@Localize.T("All Records")</a>
                    </li>
                }
            </ul>
            <div class="tab-content reports_tab_content">
                <div class="tab-pane active" id="MainLeadReportTab">

                </div>
                <div class="tab-pane" id="LeadfollowupReportTab">

                </div>
                <div class="tab-pane" id="LeadAllRecordsReportTab">

                </div>
            </div>
        </div>

    </div>
</div>
