@{
    Layout = null;
    var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.EmployeeLeadSource>
@Styles.Render("~/styles/_LeadSourceReportCS")
@Scripts.Render("~/scripts/_LeadSourceReportsJS")


    <link href="~/Content/Css/Report/LeadSourceReports.css" rel="stylesheet" />
  
<script>
    $(document).ready(function () {
        //$(".treeview li>ul").css('display', 'none'); // Hide all 2-level ul
        
        $(".collapsible").click(function (e) {
            e.preventDefault();
            $(this).toggleClass("collapse expand");
            $(this).closest('li').children('ul').slideToggle();
        });

        $(".IsCheckValForPartner").change(function () {
            console.log("hlw");
            if ($(this).is(':checked')) {
                $(this).closest('li').find('.IsCheckValForPartner').each(function () {
                    $(this).prop('checked', true);
                });
            }
            else {
                $(this).closest('li').find('.IsCheckValForPartner').each(function () {
                    $(this).prop('checked', false);
                });
            }
        });



    });
</script>

<div class="ReportsTitle">
    @Localize.T("Reports")
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>
</div>


<div class="col-xs-12 Report-Tabs">
    <div class="col-xs-3 report_tree_container">
        <div class="report_tree_header_container">
            <div class="report_tree_header"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span>@Localize.T("Lead Source List")</div>
            <button class="btn partner_report_emp_list">@Localize.T("View List")</button>
        </div>
        @*@foreach(var item in Model)
        {
            <label data-id="@item.UserId"><input type="radio" /> @item.FirstName @item.LastName</label><br />
        }*@
        <div class="treeview_cont">
            <div class="treeview"> 
                <ul>
                    @foreach (var item in ViewBag.LeadSourcesList as List<SelectListItem>)
                    {
                        <li>
                            <label><input type="checkbox" class="user" checked="checked" value="@item.Value" /> @item.Text</label>
                        </li>
                    } 
                </ul> 
            </div>
            <div class="report_tree_footer"><button class="btn btnLeadSourceFilter">@Localize.T("Apply")</button></div>
        </div>
    </div>
    <div class="nav-detail-contents col-xs-9">

        <div class="tab-content reports_tab_content">
            <div class="LeadSourceReportBarBox">
            </div>
        </div>


        <div class="tab-content reports_tab_content">
            <div class="tab-pane active" id="LeadSourceReportTab">
                <div class="LeadSource_Report">
                </div>
            </div>
        </div>
    </div>
</div>


