@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

@model List<HS.Entities.Customer>
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>
    var DataTablePageSize = 50;
    var LeadsStartDatepicker;
    var LeadsEndDatepicker;

    var my_date_format = function (input) {
        console.log(input+" r");
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    var LeadServiceEquipment = function (idval) {
        //var idval = $(this).attr('data-id');
        var mapLoadurl = domainurl + "/Reports/GetLeadsServiceAndEquipment?customerid=" + idval;
        OpenTopToBottomModal(mapLoadurl);
    }
    var CustomerSearchKeyUp = function (pageno)
    {
      
        $("#MainLeadReportTab").html(TabsLoaderText);
        
        $("#MainLeadReportTab").load(domainurl + "/Reports/LeadsReportPartial/?pageno=" + pageno + "&pagesize=" + DataTablePageSize + "&Status=" + status);
    }
    var pageno = '@ViewBag.PageNumber';

    $(document).ready(function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".LoaderWorkingDiv").hide();
        $("#MainLeadReportTab .invoice-loader").hide();

        //var table = $('#LeadsReportTable').DataTable({
        //    "pageLength": DataTablePageSize,
        //    "destroy": true,
        //    "language": {
        //        "emptyTable": "No data available"
        //    }
        //});
        if (StartDate != "" && EndDate != "")
        {
            StartDate = my_date_format(StartDate);
            EndDate = my_date_format(EndDate);
            console.log(StartDate + " " + EndDate);
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
        }
        else {
            $(".DateFilterContents .date-start").html("All Time");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .dropdown-filter").hide();
        }
        $("#btnDownloadLeadsReport").click(function () {


            if (StartDate.trim().length == 10 && EndDate.trim().length == 10) {
                StartDate = StartDate.replaceAll('/', '_');
                EndDate = EndDate.replaceAll('/', '_');
                location.href = domainurl + "/Reports/LeadsReportPartial/?Start=" + StartDate + "&End=" + EndDate + "&GetReport=true&pageno=" + pageno + "&pagesize=50";
            } else {
                location.href = domainurl + "/Reports/LeadsReportPartial/?GetReport=true&pageno="+pageno+"&pagesize=50";
            }
        });


        //$(".DateFilterContents .btn-apply-Datefilter").unbind().click(function () {
        //    var StartDateVal = $(".min-date").val();
        //    var EndDateVal = $(".max-date").val();
        //    UpdatePtoCookie();
        //    $("#MainLeadReportTab").html(TabsLoaderText);
        //    $("#MainLeadReportTab").load(domainurl + "/Reports/LeadsReportPartial/?Start=" + StartDateVal + "&End=" + EndDateVal + "&pageno=" + pageno + "&pagesize=50");
        //});
        //$(".lead_click_item").click(function () {
            
        //})
    });
</script>
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />


<div class="leads_report_top_info">
    <div class="lrp_bottom_border">
        <div class="lead_total_color"> @Localize.T("Leads:") @string.Format("{0:#,##0}", ViewBag.TotalLeads)</div>
    </div>
    <div class="lrp_bottom_border">
        <div class="lead_total_color"> @Localize.T("Customers: ") @string.Format("{0:#,##0}", ViewBag.TotalCustomer)</div>
    </div>
    <div class="lrp_bottom_border">
        <div class="lead_total_color">
            @Localize.T("Closing%: ") @{
                if (ViewBag.Closing > 0)
                {
                    <span> @string.Format("{0:0.00}", ViewBag.Closing)%</span>
                }
                else
                {
                    <span>0.00%</span>
                }
            }
        </div>
    </div>
</div>

<div class="row leads_report_top_bar">
 
    @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.LeadsReportDownload))
    { 
        <button title="@Localize.T("Download")" class="report_btn lrp_float_right" id="btnDownloadLeadsReport"><i class="fa fa-download" aria-hidden="true"></i></button>
    }
</div>

<div class="leads_report_table">
    <table id="LeadsReportTable">
        <thead>
            <tr>
                <th class="lrp_id">@Localize.T("ID")</th>
                <th>@Localize.T("Lead Name")</th>
                <th>@Localize.T("Phone No.")  </th>
                <th>@Localize.T("Email Address")</th>
                <th>@Localize.T("Address")</th>
                <th class="lrp_cr_on">@Localize.T("Created On")</th>
                <th>@Localize.T("Lead Source")</th>
                <th>@Localize.T("Status")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div>@Localize.T("ID") <span>:</span></div>
                        <div><a target="_blank" href="/Lead/Leadsdetail?id=@item.Id" class="lead_click_item">@item.Id</a></div>
                    </td>
                    <td>
                        <div>@Localize.T("Lead Name") <span>:</span></div>
                        <div><a href="javascript:void(0)" class="lead_click_item" data-id="@item.CustomerId" onclick="LeadServiceEquipment('@item.CustomerId')">@item.Title @item.FirstName @item.LastName</a></div>
                    </td>
                    <td>
                        <div>@Localize.T("Phone No.") <span>:</span></div>
                        <div> @item.PrimaryPhone</div>
                    </td>
                    <td>
                        <div>@Localize.T("Email Address") <span>:</span></div>
                        <div>@item.EmailAddress</div>
                    </td>
                    <td>
                        <div>@Localize.T("Address") <span>:</span></div>
                        <div>@item.Address</div>
                    </td>
                    <td>
                        <div>@Localize.T("Created On") <span>:</span></div>
                        <div>@(item.JoinDate.HasValue ? item.JoinDate.Value.ToString("MM/dd/yy") : "")</div>
                    </td>
                    <td>
                        <div>@Localize.T("Lead Source") <span>:</span></div>
                        @if (item.LeadSource != "-1")
                        {
                            <div>@item.LeadSourceVal</div>
                        }
                      
                    </td>
                    <td>
                        <div>@Localize.T("Status") <span>:</span></div>
                        @if (item.IsLead)
                        {
                            <div>@Localize.T("Lead")</div>
                        }
                        else
                        {
                            <div>@Localize.T("Customer")</div>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="AgentListPagination">
        <div class="paginationContainer">
            @if (ViewBag.PageCount > 0)
            {
                <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
            }
            @if (ViewBag.PageCount == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons disabledBtn">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber))">1</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CustomerSearchKeyUp(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CustomerSearchKeyUp(2)">2</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CustomerSearchKeyUp(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CustomerSearchKeyUp(2)">2</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="CustomerSearchKeyUp(3)">3</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount > 3)
            {
                if (ViewBag.PageNumber == ViewBag.PageCount)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons disabledBtn" onclick="CustomerSearchKeyUp()">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 1)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 2)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
            }
        </div>
    </div>
</div>