@model List<HS.Entities.Customer> 
@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";
    var count = 1;
    var orderval = '@ViewBag.orderval';
    var pagesize;
    var Totalpagesize = '@ViewBag.Totalpagesize';
    var invstatus = '@Html.Raw(Json.Encode(@ViewBag.invstatus))';
    invstatus = JSON.parse(invstatus);
    var CurrentNumber = '@ViewBag.CurrentNumber';
    var PageNumber = '@ViewBag.PageNumber';
    var SearchText = '@ViewBag.searchtxt';
    var TotalBookingIDCount = '@ViewBag.OutOfNumber';


</script>
@Styles.Render("~/styles/_LoadLeadSourceReportPartialCS")
@Scripts.Render("~/scripts/_LoadLeadSourceReportPartialJS")

<div class="sales_container partner_report_load_container">
    <div class="row hidden">
            <div class="col-md-12 no_paddingright_report ">
                <div class="row lrp_bottom_border">
                    <div class="lead_total_color"> @Localize.T("Total Lead Source :") @string.Format("{0:#,###}", ViewBag.OutOfNumber)</div>
                </div>
            </div>
          
        </div>

    <div class="page-content-wrap cus-padding-top10p invoicelist">
        <div class="lprp_top_header">
           
            <div class="input-group add-on">
                <input type="text" class="form-control" id="sales_txt_search" placeholder="Search" />
                <div class="input-group-btn"> <button class="btn green_button" title="@Localize.T("Search")" id="btn_sales" onclick="FilterLeadSourceReport1(1)"><i class="glyphicon glyphicon-search"></i></button></div>
            </div>
                <button title="@Localize.T(" Download")" class="report_btn lrp_float_right" id="btnDownloadSalesReport"><i class="fa fa-download" aria-hidden="true"></i></button>
          
        </div>
        <div class="col-md-12 hidden">&nbsp;</div>
        <div class="invoice-table">
            <table class="loadticketreportlist_table">
                <thead class="table-head-border">
                    <tr>
                        <th class="thead-th-style"> <div>@Localize.T("Name")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/firstname"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/firstname"></i></div></th>
                        <th class="thead-th-style"> <div>@Localize.T("Address")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/street"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/street"></i></div></th>

                        <th class="thead-th-style"> <div>@Localize.T("Type")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/islead"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/islead"></i></div></th>

                        <th class="thead-th-style">
                            <div>@Localize.T("Created On")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/createddate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/createddate"></i></div>
                        </th>
                        <th class="thead-th-style">
                            <div>@Localize.T("Created By")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/createdbyempname"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/createdbyempname"></i></div>
                        </th>
                        <th class="thead-th-style">
                            <div>@Localize.T("Status")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/status"></i></div>
                        </th>
                        @*<th class="thead-th-style">
            <div>@Localize.T("Revenue")</div>
            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/customertotalrevenue"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/customertotalrevenue"></i></div>
        </th>*@

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr class="tr-style">
                        <td class="table-body-td-style" valign="top">
                            <div class="lprp_device_header">@Localize.T("Name")</div>
                            <div class="lprp_device_info">
                                <a style="cursor:pointer;color:#2ca01c;" href="/Customer/CustomerDetail/?id=@item.Id" target="_blank">
                                    @item.FirstName
                            </a>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="lprp_device_header">@Localize.T("Address")</div>
                        <div class="lprp_device_info">
                            @if (!string.IsNullOrWhiteSpace(item.Street))
                            {
                                @item.Street <span>,</span>
                            }
                            @if (!string.IsNullOrWhiteSpace(item.ZipCode))
                            {
                                @item.ZipCode <span>,</span>
                            }
                            @if (!string.IsNullOrWhiteSpace(item.City))
                            {
                                @item.City <span>,</span>
                            }
                            @if (!string.IsNullOrWhiteSpace(item.State))
                            {
                                @item.State
                            }

                        </div>
                    </td>

                    <td class="table-body-td-style" valign="top">
                        <div class="lprp_device_header">@Localize.T("Type")</div>
                        @if (item.IsLead)
                        {
                            <div class="lprp_device_info"> @Localize.T("Lead") </div>
                        }
                        else
                        {
                            <div class="lprp_device_info"> @Localize.T("Customer") </div>
                        }

                    </td>

                    <td class="table-body-td-style" valign="top">
                        <div class="lprp_device_header">@Localize.T("Created On")</div>
                        <div class="lprp_device_info"> @item.CreatedDate</div>

                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="lprp_device_header">@Localize.T("Created By")</div>
                        <div class="lprp_device_info">@item.EMPNUM</div>

                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="lprp_device_header">@Localize.T("Status")</div>
                        <div class="lprp_device_info">
                            @item.Status
                        </div>
                    </td>
                    @*<td class="table-body-td-style" valign="top">
        <div class="lprp_device_header">@Localize.T("Revenue")</div>
        <div class="lprp_device_info">
            @{
                if (item.CustomerTotalRevenue > 0)
                {
                    <span>@Currency@string.Format("{0:#,###.00}", item.CustomerTotalRevenue)</span>
                }
                else
                {
                    <span>@Currency@string.Format("{0:#,###.00}", (0.00))</span>
                }
            }

        </div>
    </td>*@
                    </tr>
                                        }
                </tbody>
            </table>
        </div>
    </div>
   
</div>

