@model HS.Entities.InvoiceReportModel
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>

<link href="~/Content/Select2/select2.css" rel="stylesheet" />

<script src="~/Content/Select2/Select2.min.js"></script>

<style>
    .convert_cus_report_left {
        float: left;
        width: auto;
    }

    .convert_cus_report_filte_innerr {
        width: 100%;
        float: left;
    }

    .convert_cus_report_left .input-group {
        width: 300px;
        float: left;
    }

    .convert_cus_report_left #convert_cus_filterbtn {
        float: left;
        margin-left: 10px;
    }

    .convert_cus_filter_list .convert_cus_filter_button button {
        margin: 5px;
        border-color: #2ca01c;
        background-color: #2ca01c;
        color: white;
    }

    .convert_cus_report_filter {
        width: 100%;
        float: left;
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 10px;
    }

        .convert_cus_report_filter .convert_cus_report_filte_innerr div {
            float: left;
            width: 20%;
            padding-left: 5px;
            padding-right: 5px;
        }

    .convert_cus_report_footer {
        width: 100%;
        float: left;
        background-color: #fff;
        padding: 5px;
        text-align: right;
    }

    @@media (max-width:768px) {
        .convert_cus_report_filter .convert_cus_report_filte_innerr div {
            width: 33.33%;
        }
    }

    @@media (max-width:414px) {
        .convert_cus_report_filter .convert_cus_report_filte_innerr div {
            width: 100%;
        }
    }
</style>
<script>
    var count2 = 1;
    var pagesize;
    var PageNumber = '@ViewBag.PageNumber';
    var orderval = '@ViewBag.orderval';
    var invstatus = '@Html.Raw(Json.Encode(@ViewBag.invstatus))';
    var TotalBookingIDCount = '@ViewBag.OutOfNumber';
    var Totalpagesize = '@ViewBag.Totalpagesize';
    invstatus = JSON.parse(invstatus);
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var FilterEstimateReport2 = function (pageno, order) {
        console.log("report");
        var datemin = $(".min-date").val();
        var datemax = $(".max-date").val();
        var convertmindate = $("#inv_min_date").val();
        var convertmaxdate = $("#inv_max_date").val();
        var createmindate = $("#due_min_date").val();
        var createmaxdate = $("#due_max_date").val();
        pagesize = parseInt($(".estimate_pagesize_val").val()) + 50;
        //$(".invoice-table").html(TabsLoaderText);
        $(".estimate-table").load(domainurl + "/Reports/EstimateListReportList?Start=" + encodeURI(datemin) + "&End=" + encodeURI(datemax) + "&pageno=" + pageno + "&pagesize=" + pagesize + "&searchtxt=" + encodeURI($("#estimate_txt_search").val()) + "&invostatus=" + encodeURI($("#sales_inv_status").val()) + "&order=" + order + "&convertmaxdate=" + encodeURI(convertmaxdate) + "&convertmindate=" + encodeURI(convertmindate) + "&createmindate=" + encodeURI(createmindate) + "&createmaxdate=" + encodeURI(createmaxdate));
    }


    var FilterEstimateReport1 = function (pageno, order) {
        var datemin = $(".min-date").val();
        var datemax = $(".max-date").val();
        var convertmindate = $("#inv_min_date").val();
        var convertmaxdate = $("#inv_max_date").val();
        var createmindate = $("#due_min_date").val();
        var createmaxdate = $("#due_max_date").val();
        pagesize = 50;
        $(".estimate-table").html(TabsLoaderText);
        $(".estimate-table").load(domainurl + "/Reports/EstimateListReportList?Start=" + encodeURI(datemin) + "&End=" + encodeURI(datemax) + "&pageno=" + pageno + "&pagesize=" + pagesize + "&searchtxt=" + encodeURI($("#estimate_txt_search").val()) + "&invostatus=" + encodeURI($("#sales_inv_status").val()) + "&order=" + order + "&convertmaxdate=" + encodeURI(convertmaxdate) + "&convertmindate=" + encodeURI(convertmindate) + "&createmindate=" + encodeURI(createmindate) + "&createmaxdate=" + encodeURI(createmaxdate));
    }

    var OpenTicketEstimate = function (estimateid) {
        if (typeof (estimateid) != "undefined") {
            OpenTopToBottomModal(domainurl + "/Estimate/AddEstimate/?id=" + estimateid);
        }
    }
    var ResetFilterList = function () {
        $(".convert_cus_inp").val("");
        $("#estimate_txt_search").val("");
        $(".convert_cus_inp_drp").val("-1");
        FilterEstimateReport1(1);
    }
    $(document).ready(function () {
        FilterEstimateReport1(1);
        var pageno = PageNumber;
        $(".icon_sort_timeclock").click(function () {
            orderval = $(this).attr('data-val');
            FilterEstimateReport1(pageno, orderval);
        })

        $("#btnDownloadEstimateReport").click(function () {
            var StartDate = $(".min-date").val();
            var EndDate = $(".max-date").val();
            var convertmindate = $("#inv_min_date").val();
            var convertmaxdate = $("#inv_max_date").val();
            var createmindate = $("#due_min_date").val();
            var createmaxdate = $("#due_max_date").val();
            window.location.href = domainurl + "/Reports/EstimateListReportList?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&pageno=1&pagesize=50" + "&GetReport=true" + "&searchtxt=" + encodeURI($("#estimate_txt_search").val() + "&invostatus=" + encodeURI($("#sales_inv_status").val()) + "&convertmaxdate=" + encodeURI(convertmaxdate) + "&convertmindate=" + encodeURI(convertmindate) + "&createmindate=" + encodeURI(createmindate) + "&createmaxdate=" + encodeURI(createmaxdate));
        })
        $("#sales_inv_status").selectpicker('val', invstatus);

        //$("#invoice_txt_search").keydown(function (e) {
        //    if (e.which == 13) {

        //        FilterInvoiceReport1(1, null);

        //    }
        //});
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#inv_min_date')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#inv_max_date')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#due_min_date')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#due_max_date')[0] });
        $(".convert_cus_report_filter").hide();
        $("#convert_cus_filterbtn").click(function () {
            console.log("filter");
            if ($(".convert_cus_report_filter").is(":visible")) {
                $(".convert_cus_report_filter").hide();

            } else {
                $(".convert_cus_report_filter").show();

            }
        });
        $(document).click(function (e) {
            if ($($(e.target).parent().parent()).hasClass('convert_cus_div')
                        || $($(e.target).parent()).hasClass('convert_cus_div')
                        || $($(e.target).parent().parent()).hasClass('convert_cus_div')) {
                return;
            }
            else if ($(".convert_cus_report_filter").is(":visible")) {
                $(".convert_cus_report_filter").hide();
            }
        });
            $("#estimate_txt_search").keydown(function (e) {

                if (e.which == 13) {
                    FilterEstimateReport1(1);
                }
            });
    })

</script>


<input class="hidden estimate_pagesize_val" value="@ViewBag.CurrentNumber" />
<div class="load_invoice_list_report_partial_container">
    <div class="load_sales_report_partial_info_bar">
        <div class="lsrp_info_block lsrp_info_block_count"></div>
        <div class="lsrp_info_block lsrp_info_block_sales"></div>
        @*<div class="lsrp_info_block lsrp_info_block_due"></div>*@
    </div>
    <div class="load_sales_report_partial_top_bar">
        <div class="load_sales_report_partial_top_bar_inner convert_cus_div">
            <div class="input-group add-on">
                <input type="text" class="form-control" id="estimate_txt_search" placeholder="Search By Customer, Estimate Id" title="Search By Customer, Estimate Id , Estimate Date, Due date, Balance Due , Total Amount" />
                <div class="input-group-btn"> <button class="btn green_button" title="@Localize.T("Search")" id="btn_sales" onclick="FilterEstimateReport1(1)"><i class="glyphicon glyphicon-search"></i></button></div>
            </div>
        </div>
        <button class="btn convert_cus_div lilrp_filter_btn" id="convert_cus_filterbtn">
            <span title="Filter" class="glyphicon glyphicon-filter"></span>
        </button>
        <button title="@Localize.T(" Download")" class="report_btn lrp_float_right" id="btnDownloadEstimateReport"><i class="fa fa-download" aria-hidden="true"></i></button>


        <div class="convert_cus_report_filter">
            <div class="convert_cus_report_filte_innerr convert_cus_div">
                @*<div class="form-group clearfix">
                        <label>@Localize.T("Invoice Min Date")</label>
                        <input class="form-control convert_cus_inp" id="inv_min_date" placeholder="@Localize.T("Invoice Min Date")" />
                    </div>
                    <div class="form-group clearfix">
                        <label>@Localize.T("Invoice Max Date")</label>
                        <input class="form-control convert_cus_inp" id="inv_max_date" placeholder="@Localize.T("Invoice Max Date")" />
                    </div>
                    <div class="form-group clearfix">
                        <label>@Localize.T("Due Min Date")</label>
                        <input class="form-control convert_cus_inp" id="due_min_date" placeholder="@Localize.T("Due Min Date")" />
                    </div>
                    <div class="form-group clearfix">
                        <label>@Localize.T("Due Max Date")</label>
                        <input class="form-control convert_cus_inp" id="due_max_date" placeholder="@Localize.T("Due Max Date")" />
                    </div>*@
                <div class="form-group clearfix">
                    @Html.DropDownList("sales_inv_status", ViewBag.statusinv as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", Id="sales_inv_status", @title = "Status" })
                </div>
            </div>
            <div class="convert_cus_report_footer convert_cus_div">
                <button class="btn green_button" id="apply_btn_filter" onclick="FilterEstimateReport1(1)">@Localize.T("Apply")</button>
                <button class="btn red_button" id="reset_btn_filter" onclick="ResetFilterList()">@Localize.T("Reset")</button>
            </div>
        </div>
    </div>

    <div class="estimate-table">

    </div>
</div>

