@model HS.Entities.InvoiceReportModel
@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency();

}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions



<script>

    var PageNumber = '@ViewBag.PageNumber';
    var orderval = '@ViewBag.orderval';
    var invstatus = '@Html.Raw(Json.Encode(@ViewBag.invstatus))';
    var TotalBookingIDCount = '@ViewBag.OutOfNumber';
    var Totalpagesize = '@ViewBag.Totalpagesize';
    invstatus = JSON.parse(invstatus);


</script>

@Styles.Render("~/styles/LoadInvoiceListReportPartial")
@Scripts.Render("~/scripts/LoadInvoiceListReportPartial")

<input class="hidden invoice_pagesize_val" value="@ViewBag.CurrentNumber" />
<div class="load_invoice_list_report_partial_container">
    <table class="loadticketreportlist_table recur_bill_report_table">
        <thead class="table-head-border">
            <tr>
                <th class="thead-th-style">
                    <div>@Localize.T("Customers")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Invoices")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Amount")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Avg Invoice")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Tax")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Invoice Amount")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Open Balance")</div>
                </th>

            </tr>
        </thead>
        <tbody>
            <tr class="tr-style">
                <td class="table-body-td-style" valign="top">
                    <span> @string.Format("{0:#,##0}", Model.TotalInvoiceAmountModel.CustomerCount)</span>
                </td>
                <td class="table-body-td-style" valign="top">
                    <span> @string.Format("{0:#,##0}", Model.TotalInvoiceAmountModel.InvoiceCount)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency @string.Format("{0:#,##0.00}", Model.TotalInvoiceAmountModel.TotalAmount)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency @string.Format("{0:#,##0.00}", Model.TotalInvoiceAmountModel.AveInvoiceAmount)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency @string.Format("{0:#,##0.00}", Model.TotalInvoiceAmountModel.TotalTax)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency @string.Format("{0:#,##0.00}", Model.TotalInvoiceAmountModel.TotalSalesAmount)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency @string.Format("{0:#,##0.00}", Model.TotalInvoiceAmountModel.TotalDueAmount)</span>

                </td>

            </tr>
        </tbody>

    </table>
    @*<div class="load_sales_report_partial_info_bar">
                  <div class="lsrp_info_block lsrp_info_block_count"></div>
                  <div class="lsrp_info_block lsrp_info_block_sales"></div>
                  <div class="lsrp_info_block lsrp_info_block_due"></div>
        </div>*@
    <div class="load_sales_report_partial_top_bar convert_cus_div">
        <div class="load_sales_report_partial_top_bar_inner">
            <div class="input-group add-on">
                <input type="text" class="form-control" id="invoice_txt_search" placeholder="Search By Customer, Invoice Id" title="Search By Customer, Invoice Id , Invoice Date, Due date, Balance Due , Total Amount" />
                <div class="input-group-btn"> <button class="btn green_button" title="@Localize.T("Search")" id="btn_sales" onclick="FilterInvoiceReport1(1)"><i class="glyphicon glyphicon-search"></i></button></div>
            </div>
        </div>
        <button class="btn convert_cus_div lilrp_filter_btn" id="convert_cus_filterbtn">
            <span title="Filter" class="glyphicon glyphicon-filter"></span>
        </button>
        <button title="@Localize.T(" Download")" class="report_btn lrp_float_right" id="btnDownloadInvoiceReport"><i class="fa fa-download" aria-hidden="true"></i></button>


        <div class="convert_cus_report_filter">
            <div class="convert_cus_report_filte_innerr convert_cus_div">
                <div class="form-group clearfix">
                    <label>@Localize.T("Invoice Min Date")</label>
                    <input class="form-control convert_cus_inp" id="inv_min_date" placeholder="@Localize.T("Invoice Min Date")" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Invoice Max Date")</label>
                    <input class="form-control convert_cus_inp" id="inv_max_date" placeholder="@Localize.T("Invoice Max Date")" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Due Min Date")</label>
                    <input class="form-control convert_cus_inp" id="due_min_date" placeholder="@Localize.T("Due Min Date")" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Due Max Date")</label>
                    <input class="form-control convert_cus_inp" id="due_max_date" placeholder="@Localize.T("Due Max Date")" />
                </div>
            </div>
            <div class="convert_cus_report_footer convert_cus_div">
                <button class="btn green_button" id="apply_btn_filter" onclick="FilterInvoiceReport1(1)">@Localize.T("Apply")</button>
                <button class="btn red_button" id="reset_btn_filter" onclick="ResetFilterList()">@Localize.T("Reset")</button>
            </div>
        </div>
    </div>

    <div class="invoice-table">

    </div>
</div>

