@model HS.Entities.PartnerReportBarModel
@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

@Styles.Render("~/styles/_LoadPartnerReportBarPartialCS")






<div class="width-50p">
    <div class="money-bar-contents">
        <div class="money-bar-left-content">

            <div class="estimate active_customer_filter">

                <span class="cl_amount spnCustomerCount">@HS.Web.UI.Helper.LabelHelper.NumberFormat(Model.CustomerCount)</span>
                <div class="sub-content">
                    <span>@Localize.T("Customer")</span>
                </div>
            </div>


        </div>
       
        <div class="money-bar-left-content">
            <div class="overdue openinvoice_customer_filter">
                <span class="cl_amount spnOpenInvoice">@HS.Web.UI.Helper.LabelHelper.NumberFormat(Model.LeadCount)</span>
                <div class="sub-content">
                    <span>@Localize.T("Lead")</span>
                </div>
            </div>
        </div>
        
    </div>
</div>


<div class="width-50p">

    <div class="money-bar-contents">
        @*<div class="money-bar-right-content">
            <div class="activity totalrmr_customer_filter">
                <span class="cl_amount spnTotalRMRCount">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.MonthlyMonitoringFee)</span>
                <div class="sub-content">
                    <span>@Localize.T("Total RMR")</span>
                </div>
            </div>
        </div>*@
       
        <div class="money-bar-right-content">
            <div class="activity totalrmr_customer_filter">
                <span class="cl_amount spnTotalRMRCount">@HS.Web.UI.Helper.LabelHelper.NumberFormat(Model.ScheduledCount)</span>
                <div class="sub-content">
                    <span>@Localize.T("Scheduled")</span>
                </div>
            </div>
        </div>

        @*<div class="money-bar-right-content">
            <div class="invoice dueinvoice_customer_filter">
                <span class="cl_amount spnDueInvoice">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.MonthlyMonitoringFee)</span>
                <div class="sub-content">
                    <span>@Localize.T("Monthly Monitoring Fee")</span>
                </div>
            </div>
        </div>*@

        <div class="money-bar-right-content">
            <div class="invoice dueinvoice_customer_filter">
                <span class="cl_amount spnDueInvoice">@HS.Web.UI.Helper.LabelHelper.NumberFormat(Model.InstalledCount)</span>
                <div class="sub-content">
                    <span>@Localize.T("Installed")</span>
                </div>
            </div>
        </div>
    </div>


</div>