@model HS.Entities.SalesReportModel
@{
    Layout = null;
    double SalesTotal = 0;
    double TaxTotal = 0;
    double TaxSalesTotal = 0;
    double PaidTotal = 0;
    double UnpaidTotal = 0;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions



<script>

    var pageno = 1;
    var invstatus = '@Html.Raw(Json.Encode(@ViewBag.invstatus))';
    invstatus = JSON.parse(invstatus);
    var pagesize = parseInt('@ViewBag.CurrentNumber') + 50;


</script>

@Styles.Render("~/styles/LoadSalesReportPartial")
@Scripts.Render("~/scripts/LoadSalesReportPartial")

<div class="load_sales_report_partial_container">
    <div class="load_sales_report_partial_info_bar">

        <table class="loadticketreportlist_table load_sales_report_partial_table">
            <thead class="table-head-border">
                <tr>
                    <th>
                        <div>@Localize.T("Customers")</div>
                    </th>
                    <th>
                        <div>@Localize.T("Amount")</div>
                    </th>
                    <th>
                        <div>@Localize.T("Avg w/o Tax")</div>
                    </th>
                    <th>
                        <div>@Localize.T("Tax")</div>
                    </th>
                    <th>
                        <div>@Localize.T("After Tax")</div>
                    </th>
                    <th>
                        <div>@Localize.T("Avg w/ Tax")</div>
                    </th>
                    <th>
                        <div>@Localize.T("Total Paid")</div>
                    </th>
                    <th>
                        <div>@Localize.T("Total Unpaid")</div>
                    </th>
                </tr>

            </thead>
            <tbody>
                <tr class="tr-style">
                    <td class="table-body-td-style" valign="top">
                        <span> @string.Format("{0:#,##0}", ViewBag.OutOfNumber)</span>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div>
                            @{
                                if (Model.TotalSalesAmountModel.TotalSalesAmount > 0)
                                {
                                    <span>$@string.Format("{0:#,##0.00}", Model.TotalSalesAmountModel.TotalSalesAmount)</span>
                                }
                                else
                                {
                                    <span>@Localize.T("$0.00")</span>
                                }
                            }

                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div>
                            @{
                                if (Model.TotalSalesAmountModel.AveSaleswoTax > 0)
                                {
                                    <span>$@string.Format("{0:#,##0.00}", Model.TotalSalesAmountModel.AveSaleswoTax)</span>
                                }
                                else
                                {
                                    <span>@Localize.T("$0.00")</span>
                                }
                            }

                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div>
                            @{
                                if (Model.TotalSalesAmountModel.TotalTax > 0)
                                {
                                    <span>$@string.Format("{0:#,##0.00}", Model.TotalSalesAmountModel.TotalTax)</span>
                                }
                                else
                                {
                                    <span>@Localize.T("$0.00")</span>
                                }
                            }

                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">

                        <div>
                            @{
                                if (Model.TotalSalesAmountModel.SalesAfterTax > 0)
                                {
                                    <span>$@string.Format("{0:#,##0.00}", Model.TotalSalesAmountModel.SalesAfterTax)</span>
                                }
                                else
                                {
                                    <span>@Localize.T("$0.00")</span>
                                }
                            }

                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div>
                            @{
                                if (Model.TotalSalesAmountModel.AveSaleswTax > 0)
                                {
                                    <span>$@string.Format("{0:#,##0.00}", Model.TotalSalesAmountModel.AveSaleswTax)</span>
                                }
                                else
                                {
                                    <span>@Localize.T("$0.00")</span>
                                }
                            }

                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div>
                            @{
                                if (Model.TotalSalesAmountModel.TotalPaid > 0)
                                {
                                    <span>$@string.Format("{0:#,##0.00}", Model.TotalSalesAmountModel.TotalPaid)</span>
                                }
                                else
                                {
                                    <span>@Localize.T("$0.00")</span>
                                }
                            }

                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div>
                            @{
                                if (Model.TotalSalesAmountModel.TotalUnpaid > 0)
                                {
                                    <span>$@string.Format("{0:#,##0.00}", Model.TotalSalesAmountModel.TotalUnpaid)</span>
                                }
                                else
                                {
                                    <span>@Localize.T("$0.00")</span>
                                }
                            }

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="load_sales_report_partial_top_bar">

        <div class="load_sales_report_partial_top_bar_inner">
            @*@Html.DropDownList("sales_inv_status", ViewBag.statusinv as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @title = "Status" })*@
            <div class="input-group add-on">
                <input type="text" class="form-control" id="sales_txt_search" placeholder="Search By Customer" value="@ViewBag.searchtext" />
                <div class="input-group-btn"> <button class="btn green_button" id="btn_sales" onclick="FilterSalesReport1(1)" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button></div>
            </div>
        </div>

        <button title="@Localize.T(" Download")" class="report_btn lrp_float_right" id="btnDownloadSalesReport"><i class="fa fa-download" aria-hidden="true"></i></button>

    </div>

    <div class="invoice-table">
        <table class="loadticketreportlist_table load_sales_report_partial_table">
            <thead class="table-head-border">
                <tr>
                    <th class="thead-th-style"> <div>@Localize.T("Customers")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/customername"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/customername"></i></div></th>
                    <th class="thead-th-style lsrp_rs"> <div>@Localize.T("Sales")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/totalsales"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/totalsales"></i></div></th>
                    <th class="thead-th-style lsrp_rs">
                        <div>@Localize.T("Tax")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/totaltax"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/totaltax"></i></div>
                    </th>
                    <th class="thead-th-style lsrp_rs">
                        <div>@Localize.T("Total")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/salesaftertax"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/salesaftertax"></i></div>
                    </th>
                    <th class="thead-th-style lsrp_rs">
                        <div>@Localize.T("Paid")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/totalpaid"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/totalpaid"></i></div>
                    </th>
                    <th class="thead-th-style lsrp_rs">
                        <div>@Localize.T("Unpaid")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/totalunpaid"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/totalunpaid"></i></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListCustomer)
                {
                    SalesTotal += item.TotalSales;
                    TaxTotal += item.TotalTax;
                    TaxSalesTotal += item.SalesAfterTax;
                    PaidTotal += item.TotalPaid;
                    UnpaidTotal += item.TotalUnpaid;
                    <tr class="tr-style">
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Customer")</div>
                            <div class="ticket_list_partial_device_info"> <a style="cursor:pointer;color:#2ca01c;" href="/Customer/CustomerDetail/?id=@item.Id" target="_blank">@item.DisplayName</a></div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Total Sales")</div>
                            <div class="ticket_list_partial_device_info">
                                @{
                                    if (item.TotalSales > 0)
                                    {
                                        <a style="cursor:pointer;color:#2ca01c;" onclick="OpenTopToBottomModal('/Reports/AllSalesReportList?CustomerId=@item.CustomerId')">$@string.Format("{0:#,##0.00}", item.TotalSales)</a>
                                    }
                                    else
                                    {
                                        <span>$0.00</span>
                                    }
                                }

                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Total Tax")</div>
                            <div class="ticket_list_partial_device_info">
                                @{
                                    if (item.TotalTax > 0)
                                    {
                                        <span>$@string.Format("{0:#,##0.00}", item.TotalTax)</span>
                                    }
                                    else
                                    {
                                        <span>$0.00</span>
                                    }
                                }

                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Sales After Tax")</div>
                            <div class="ticket_list_partial_device_info">
                                @{
                                    if (item.SalesAfterTax > 0)
                                    {
                                        <span>$@string.Format("{0:#,##0.00}", item.SalesAfterTax)</span>
                                    }
                                    else
                                    {
                                        <span>$0.00</span>
                                    }
                                }

                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Total Paid")</div>
                            <div class="ticket_list_partial_device_info">
                                @{
                                    if (item.TotalPaid > 0)
                                    {
                                        <span>$@string.Format("{0:#,##0.00}", item.TotalPaid)</span>
                                    }
                                    else
                                    {
                                        <span>$0.00</span>
                                    }
                                }

                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Total Unpaid")</div>
                            <div class="ticket_list_partial_device_info">
                                @{
                                    if (item.TotalUnpaid > 0)
                                    {
                                        <span>$@string.Format("{0:#,##0.00}", item.TotalUnpaid)</span>
                                    }
                                    else
                                    {
                                        <span>$0.00</span>
                                    }
                                }

                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_info">
                            <span style="font-weight:bold;">@Localize.T("Total")</span>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_info">
                            <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(SalesTotal)</span>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_info">
                            <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(TaxTotal)</span>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_info">
                            <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(TaxSalesTotal)</span>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_info">
                            <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(PaidTotal)</span>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_info">
                            <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(UnpaidTotal)</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

