@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";
    var count3 = 1;
    var orderval = '@ViewBag.orderval';
    var pagesize;
    var Totalpagesize = '@ViewBag.Totalpagesize';
    @*var invstatus = '@Html.Raw(Json.Encode(@ViewBag.invstatus))';
    invstatus = JSON.parse(invstatus);*@
    var CurrentNumber = '@ViewBag.CurrentNumber';
    var PageNumber = '@ViewBag.PageNumber';
    var SearchText = '@ViewBag.searchtxt';
    var TotalBookingIDCount = '@ViewBag.OutOfNumber';
</script>

@Styles.Render("~/styles/_LoadCollectionReportPartialCS")
@Scripts.Render("~/scripts/_LoadCollectionReportPartialJS")


<input class="hidden collection_pagesize" value="@ViewBag.CurrentNumber" />
<div class="load_coll_report_partial_container">
    <div class="load_coll_report_partial_top_bar collection_cus_div">
        <div class="load_coll_report_partial_top_bar_inner">
            <div class="input-group add-on">
                <input type="text" class="form-control" id="Collection_txt_search" placeholder="Search By Customer, Invoice Id" title="Search By Customer, Invoice Id , Invoice Date, Due date, Balance Due , Total Amount" />
                <div class="input-group-btn"> <button class="btn green_button" title="@Localize.T("Search")" id="btn_sales" onclick="FilterCollectionReport1(1)"><i class="glyphicon glyphicon-search"></i></button></div>
            </div>
        </div>
        <button class="btn collection_cus_div lcrp_filter_btn green_button" id="collection_cus_filterbtn">
            <span title="Filter" class="glyphicon glyphicon-filter"></span>
        </button>

        <button title="@Localize.T(" Download")" class="report_btn lrp_float_right" id="btnDownloadCollectionReport"><i class="fa fa-download" aria-hidden="true"></i></button>
        <div class="collection_cus_report_filter">
            <div class="collection_cus_report_filte_innerr collection_cus_div">
                <div class="form-group clearfix">
                    <label>@Localize.T("Sales Location")</label>
                    @Html.DropDownList("SalesCommisssion", (IEnumerable<SelectListItem>)ViewBag.SalesCommisssion,
                            new { @class = "form-control", @id = "salesCommissionDropdown" })
                </div>

                <div class="form-group clearfix">
                    <label>@Localize.T("Invoice Min Date")</label>
                    <input class="form-control collection_cus_inp" id="collection_inv_min_date" placeholder="@Localize.T("Invoice Min Date")" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Invoice Max Date")</label>
                    <input class="form-control collection_cus_inp" id="collection_inv_max_date" placeholder="@Localize.T("Invoice Max Date")" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Due Min Date")</label>
                    <input class="form-control collection_cus_inp" id="collection_due_min_date" placeholder="@Localize.T("Due Min Date")" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Due Max Date")</label>
                    <input class="form-control collection_cus_inp" id="collection_due_max_date" placeholder="@Localize.T("Due Max Date")" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Collection Min Date")</label>
                    <input class="form-control collection_cus_inp" id="collection_min_date" placeholder="@Localize.T("Collection Min Date")" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Collection Max Date")</label>
                    <input class="form-control collection_cus_inp" id="collection_max_date" placeholder="@Localize.T("Collection Max Date")" />
                </div>

            </div>
            <div class="collection_cus_report_footer collection_cus_div">
                <button class="btn green_button" id="apply_btn_filter" onclick="FilterCollectionReport1(1)">@Localize.T("Apply")</button>
                <button class="btn red_button" id="reset_btn_filter" onclick="ResetFilterList()">@Localize.T("Reset")</button>
            </div>
        </div>
    </div>

    <div class="collection_invoice-table">

    </div>
</div>

