@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var pagenumber = '@ViewBag.PageNumber';
    var StartDate = '@ViewBag.Start';
    var EndDate = '@ViewBag.End';
    var NavigateMemberComListing = function (pagenumber, order) {
        var searchText = $(".MemberSearchText").val();
        var memberperson = encodeURI($("#member_person").val());
        $("#LoadMemberCommReport").html(LoaderDom);
        StartDate = $(".min-date").val();
        EndDate = $(".max-date").val();
        $("#LoadMemberCommReport").load(domainurl + "/Reports/LoadMemberReportList", {
            PageNo: pagenumber,
            SearchText: searchText,
            order: order,
            StartDate: StartDate,
            MemberPersonList: memberperson,
            EndDate:EndDate,
            IsPaid: $(".AllpaidMemberCommission").hasClass('active'),
            GetReport: false
        });
    }
    var DownLoadNavigateMemberComListing = function (pagenumber, order) {
        var searchText = $(".MemberSearchText").val();
        var memberperson = encodeURI($("#member_person").val());
        //$("#LoadMemberCommReport").html(LoaderDom);
        StartDate = $(".min-date").val();
        EndDate = $(".max-date").val();
        var IsPaid = $(".AllpaidMemberCommission").hasClass('active');
        //console.log(techperson);

        location.href = domainurl + "/Reports/LoadMemberReportList/?GetReport=true" + "&PageNo=1&SearchText=" + searchText + "&order=" + order + "&StartDate=" + StartDate + "&EndDate=" + EndDate + "&MemberPersonList=" + memberperson + "&IsPaid=" + IsPaid;

    }

    $(document).ready(function () {
        NavigateMemberComListing(1);
        $(".AllUnpaidMemberCommission, .AllpaidMemberCommission").click(function () {
            $(".MemberSearchText").val("");
            setTimeout(function () {
                NavigateMemberComListing(1);
            }, 50);
        });
        $("#Memberbtnsearchtext").click(function () {
            setTimeout(function () {
                NavigateMemberComListing(1);
            }, 50);
        })

        $("#member_person").selectpicker('val', '');

        $("#btnDownloadPayrollMemberCommission_Member").click(function () {

            var orderval = order;
            DownLoadNavigateMemberComListing(1, orderval);
    
        });
          $(".MemberSearchText").keydown(function (e) {

                if (e.which == 13) {
                    NavigateMemberComListing(1);
                }
            });
    });
</script>
<style>
    #btnDownloadPayrollMemberCommission_Member {
        float: right;
        background-color: #2ca01c;
        color: white;
    }
</style>
<link href="~/Content/Css/Report/PayrollReport.css" rel="stylesheet" />
<div class="payroll_list_container payroll_container_main">
    @*<button title="@Localize.T(" Download")" class="btn" id="btnDownloadPayrollMemberCommission"><i class="fa fa-download"></i></button>*@
    <div class="payroll_member_report_container">
        <div class="invoices_tabs_header">
            <ul class="nav nav-tabs invoices-tabs" id="myInvoicesTab">
                <li class="active AllUnpaidMemberCommission">
                    <a data-target="#LoadUnpaidSalesCommReport" data-toggle="tab">@Localize.T("Not Funded")</a>
                </li>
                <li class="AllpaidMemberCommission">
                    <a data-target="#LoadSalesCommReport" data-toggle="tab">@Localize.T("Funded")</a>
                </li>
            </ul>
        </div>
        <div class="Payrollmember_partial_search_div">
            <input class="form-control MemberSearchText" type="text" placeholder="Search By Ticket Id or Customer Name" />
            <div class="input-group add-on">
                @Html.DropDownList("member_person", ViewBag.MemberList as List<SelectListItem>, new { @class = "form-control border_radius_0 TicketFor_search Payroll_MemberPerson", @multiple = "multiple", @title = "Select Technician" })
                <div class="input-group-btn">
                    <button class="btn search_Member_btn green_button" id="Memberbtnsearchtext" title="Search"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
            <button title="Download" class="btn btnBI" id="btnDownloadPayrollMemberCommission_Member"><i class="fa fa-download" aria-hidden="true"></i></button>
        </div>
        <div class="invoices-tabs">
            <div class="nav-detail-contents">
                <div class="tab-content">
                    <div id="LoadMemberCommReport" class="tab-pane active">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







