@{
    Layout = null;
    DateTime EndDate = (DateTime)ViewBag.EndDate;
    DateTime StartDate = (DateTime)ViewBag.StartDate;
}
@using HS.Framework
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var DataTablePageSize = 50;
    var StartDateDatepickerNumberOfSales;
    var EndDateDatepickerNumberOfSales;
    var FirstDayOfWeek = '@ViewBag.FirstDayOfWeek';
    var LoadNumberOfSalesNav = function (pageNumber,order) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
        var FirstDayStr = parent.$(".min-date").val();
        var EndDayStr = parent.$(".max-date").val();
        $("#NumberOfSalesData").html(TabsLoaderText);
        $("#NumberOfSalesData").load(domainurl + "/Reports/NumberOfSalesPartial?Start=" + FirstDayStr + "&End=" + EndDayStr + "&pageno=" + pageNumber + "&pagesize=50"+"&order="+order);
    }
    $(document).ready(function () {
        //StartDateDatepickerNumberOfSales = new Pikaday({
        //    field: $('#WeeklyStartDateNumberOfSales')[0],
        //    format: 'MM/DD/YYYY'
        //});
        //EndDateDatepickerNumberOfSales = new Pikaday({
        //    field: $('#WeeklyEndDateNumberOfSales')[0],
        //    format: 'MM/DD/YYYY'
        //});
        LoadNumberOfSalesNav(1);
        //$("#FilterWeeksNumberOfSales").change(function () {
        //    if ($(this).val().split('/').length == 2) {
        //        var StartingDay = getDateOfISOWeek($(this).val().split('/')[1], $(this).val().split('/')[0]);
        //        StartDateDatepickerNumberOfSales.setDate(StartingDay);
        //        var EndingDay = StartingDay.addDays(6);
        //        EndDateDatepickerNumberOfSales.setDate(EndingDay);
        //    }
        //});
        parent.$("#SalesMatrixFilterBtn").click(function () {
            LoadNumberOfSalesNav(1);
        });
    });
</script>
<div>
    @*<div class="filter-data">
        <span id="PayrollStartDate">
            <input type="text" value="@StartDate.ToString("MM/dd/yy")" placeholder="Start Date" autocomplete="off" id="WeeklyStartDateNumberOfSales" class="form-control border-radius-0" />
        </span>
        <span id="PayrollEndDate">
            <input type="text" value="@EndDate.ToString("MM/dd/yy")" placeholder="End Date" autocomplete="off" id="WeeklyEndDateNumberOfSales" class="form-control border-radius-0" />
        </span>
        <div class="input-group add-on">
            @Html.DropDownList("FilterWeeksNumberOfSales", (List<SelectListItem>)ViewBag.WeekList, new { @class = "form-control" })
            <div class="input-group-btn time_clock_filter_btn">
                <button id="SalesMatrixFilterBtnNumberOfSales" class="btn PayrollFilterBtn green_button" title="@Localize.T("Search")">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </div>*@
    <div id="NumberOfSalesData">

    </div>
</div>

