@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency();
}
@using HS.Framework
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.Invoice>
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />

<div class="" style="margin-top: 50px;">
    <table id="LeadsReportTable" class="table">
        <thead>
            <tr>
                <th>@Localize.T("Invoice Id")</th>
                <th>@Localize.T("Created Date")  </th>
                <th>@Localize.T("Due Date")</th>
                <th>@Localize.T("Day")</th>
                <th>@Localize.T("Total Amount")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div>@Localize.T("Invoice Id") <span>:</span></div>
                        <div>
                            <a class="cus-anchor" href="/Customer/Customerdetail/?id=@item.CustomerIntId#InvoiceTab" target="_blank">@item.InvoiceId</a>
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Created Date") <span>:</span></div>
                        <div>
                            <span>@item.CreatedDate.ToString("MM/dd/yy")</span>
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Due Date") <span>:</span></div>
                        <div>
                            <span>@item.DueDate.Value.ToString("MM/dd/yy")</span>
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Day") <span>:</span></div>
                        <div>
                            <span>@(item.Day > 0 ? item.Day : 0)</span>
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Total Amount") <span>:</span></div>
                        <div>
                            <span>@Currency @LabelHelper.FormatAmount(item.TotalAmount)</span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



