@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
@model List<HS.Entities.CustomerAppointmentEquipment>
<script>
    $(document).ready(function () {

    });
</script>
<div class="caep_container">
   
  
        <table id="PayrollReportTable">
            <thead>
                <tr>
                    <th>
                        <div>@Localize.T("Name")</div>
                    </th>
                    <th>
                        <div>@Localize.T("Quantity")</div>
                    </th>
                    <th>
                        <div>@Localize.T("Point")</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.Point != 0)
                    {
                        <tr>
                            <td>
                                <div class="rpt_pr_sls_mb">@Localize.T("Name") <span>:</span></div>
                                <div class="rpt_pr_sls_dtp"><span>@item.EquipName</span></div>
                            </td>
                            <td>
                                <div class="rpt_pr_sls_mb">@Localize.T("Quantity") <span>:</span></div>
                                @if (item.EquipName == "Adjustment")
                                {
                                    <div class="rpt_pr_sls_dtp"><span>-</span></div>
                                }
                                else
                                {
                                    <div class="rpt_pr_sls_dtp"><span>@item.Quantity</span></div>
                                }
                            </td>
                            <td>
                                <div class="rpt_pr_sls_mb">@Localize.T("Point") <span>:</span></div>
                                <div class="rpt_pr_sls_dtp">@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.Point)</div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
   
</div>




