@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency();
    var TotalPercentage = 0.0;
    if (Model.TotalGoodLeads > 0 && Model.TotalClosing > 0)
    {
        TotalPercentage = (double)Model.TotalClosing * 100 / Model.TotalGoodLeads;
    }
}
@using HS.Framework
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.EmployeeListMatrixWithCount
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />
<style>
    #btnDownloadoverallclose {
        float: right;
    }
</style>
<script>
    var pageno = '@ViewBag.PageNumber';

    var DataTablePageSize = 50;
    var LeadsStartDatepicker;
    var LeadsEndDatepicker;

    var ShowFirstCallCustomer = function (EmpId) {
        OpenTopToBottomModal("/Reports/SalesMatrixCustomerListPertial?EmployeeId=" + EmpId);
    }
        var ShowTotalLeads = function (EmpId) {
        OpenTopToBottomModal("/Reports/SalesMatrixCustomerListPertial?EmployeeId=" + EmpId+"&from=TotalLead");
    }
       var ShowBadLeads = function (EmpId) {
        OpenTopToBottomModal("/Reports/SalesMatrixCustomerListPertial?EmployeeId=" + EmpId+"&from=BadLead");
    }
      var ShowGoodLeads = function (EmpId) {
        OpenTopToBottomModal("/Reports/SalesMatrixCustomerListPertial?EmployeeId=" + EmpId+"&from=GoodLead");
    }
      var ShowOverallCloseCustomer = function (EmpId) {
        OpenTopToBottomModal("/Reports/SalesMatrixCustomerListPertial?EmployeeId=" + EmpId+"&from=OverallClose");
    }
      $(document).ready(function () {
          $(".icon_sort_bi").click(function () {
            var orderval = $(this).attr('data-val');
              LoadOverAllCloseNav(pageno, orderval);
          });
    $("#btnDownloadoverallclose").click(function () {
        var FirstDayStr = parent.$(".min-date").val();
        var EndDayStr = parent.$(".max-date").val();

       location.href = (domainurl + "/Reports/OverAllClosePartial/?Start=" + FirstDayStr + "&End=" + EndDayStr + "&GetReport=true&pageno=" + 1 + "&pagesize=50" );


        });
    })
</script>
@if (PermissionChecker.IsPermitted(PermissionList.ReportsPermissions.SalesMatrixDownloadButton))
{
    <div>
        <button title="@Localize.T(" Download")" class="report_btn lrp_float_right btn green_button" id="btnDownloadoverallclose"><i class="fa fa-download" aria-hidden="true"></i></button>

    </div>
}
<div class="leads_report_table">
    <table id="LeadsReportTable" class="can_cue_table">
        <thead>
            <tr>
                <th>
                    <div>@Localize.T("Sales Person")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/salesperson"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/salesperson"></i></div>

                </th>
                <th>
                    <div>@Localize.T("Total Leads")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/leads"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/leads"></i></div>
                </th>
                <th>
                    <div>@Localize.T("Removed")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/leads"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/leads"></i></div>

                </th>
                <th>
                    <div>@Localize.T("Good Leads")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/leads"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/leads"></i></div>

                </th>
                <th>
                    <div>@Localize.T("Overall Close")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/closed"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/closed"></i></div>

                </th>
                <th>
                    <div>@Localize.T("Closing %")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/closing"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/closing"></i></div>

                </th>
                <th>
                    <div>@Localize.T("UserX")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/userx"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/userx"></i></div>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EmployeeListMatrixList)
            {
                <tr>
                    <td>
                        <div>@Localize.T("Sales Person") <span>:</span></div>
                        <div>
                            <a class="name_anchor_style" href="/UserInformation?Id=@item.UserLoginId" target="_blank">@item.EmployeeName</a><br />
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Total") <span>:</span></div>
                        <div>
                            <a class="cus-anchor" onclick="ShowTotalLeads('@item.EmpId')">@item.TotalLeads</a>
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Removed") <span>:</span></div>
                        <div>
                            <a class="cus-anchor" onclick="ShowBadLeads('@item.EmpId')">@item.BadLeads</a>
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Leads") <span>:</span></div>
                        <div>
                            <a class="cus-anchor" onclick="ShowGoodLeads('@item.EmpId')">@item.GoodLeads</a>
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Overall Close") <span>:</span></div>
                        <div>
                            <a href="javascript:void();" class="cus-anchor" onclick="ShowOverallCloseCustomer('@item.EmpId')">@item.Closing</a>

                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Funded %") <span>:</span></div>
                        <div>
                            <span>@LabelHelper.FormatAmount(item.Percentage)%</span>
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("UserX") <span>:</span></div>
                        <div>
                            <span>@LabelHelper.FormatAmount(item.UserX)</span>
                        </div>
                    </td>
                </tr>
            }
            <tr class="table_total_bg">
                <td>
                    <b class="float_right">@Localize.T("Total:")</b>
                </td>
                <td>
                    <div>@Localize.T("Total Leads") <span>:</span></div>
                    <div>
                        <b title="@Localize.T("Total Leads")">@Model.TotalTotalLeads</b>
                    </div>                </td>
                <td>
                    <div>@Localize.T("Total Bad Leads") <span>:</span></div>
                    <div>
                        <b title="@Localize.T("Total Bad Leads")">@Model.TotalBadLeads</b>
                    </div>                </td>
                <td>
                    <div>@Localize.T("Total Good Leads") <span>:</span></div>
                    <div>
                        <b title="@Localize.T("Total Good Leads")">@Model.TotalGoodLeads</b>
                    </div>                </td>
                <td>
                    <div>@Localize.T("Total Closing") <span>:</span></div>
                    <div>
                        <b title="@Localize.T("Total Closing")">@Model.TotalClosing</b>
                    </div>                </td>
                <td>
                    <div>@Localize.T("Avg Percentage") <span>:</span></div>
                    <div>
                        <b title="@Localize.T("Avg Percentage")">@LabelHelper.FormatAmount(TotalPercentage)%</b>
                    </div>                </td>
                <td>
                    <div>@Localize.T("Avg UserX") <span>:</span></div>
                    <div>
                        <b title="@Localize.T("Avg UserX")"></b>
                    </div>                </td>
            </tr>
        </tbody>
    </table>
    <div class="AgentListPagination">
        <div class="paginationContainer">
            @if (ViewBag.PageCount > 0)
            {
                <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
            }
            @if (ViewBag.PageCount == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons disabledBtn">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber))">1</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?" disabledBtn":"")" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:" "))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?" activeBtn":"")" onclick="LoadOverAllCloseNav(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?" activeBtn":"")" onclick="LoadOverAllCloseNav(2)">2</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==2? " disabledBtn": "" )" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:" "))">
                        Next
                    </button>
                </div>
            }
            else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?" disabledBtn":"")" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:" "))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?" activeBtn":"")" onclick="LoadOverAllCloseNav(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?" activeBtn":"")" onclick="LoadOverAllCloseNav(2)">2</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==3?" activeBtn":"")" onclick="LoadOverAllCloseNav(3)">3</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==3?" disabledBtn":"")" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:" "))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount > 3)
            {
                if (ViewBag.PageNumber == ViewBag.PageCount)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons disabledBtn" onclick="LoadOverAllCloseNav()">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 1)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 2)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="LoadOverAllCloseNav(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
            }
        </div>
    </div>
</div>


