@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
<script>
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    var DataTablePageSize = 50;
    var PayrollStartDatepicker;
    var PayrollEndDatepicker;
    var IsFundingTab = '@PermissionChecker.IsPermitted(PermissionList.ReportMenuPermission.FundingTab)';
     var IsFundingBrinksTab = '@PermissionChecker.IsPermitted(PermissionList.ReportMenuPermission.FundingBrinksTab)';
    var IsTimeClockTab = '@PermissionChecker.IsPermitted(PermissionList.ReportMenuPermission.TimeClockTab)';
    var LoadPayrollReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate =  $(".max-date").val();

        $(".Load_payroll_Report").html(TabsLoaderText);
        $(".Load_payroll_Report").load(domainurl + String.format("/TimeClockPto/GetAllEmploployeePayrollReport/?StrStartDate={0}&StrEndDate={1}&pageno={2}&pagesize={3}", encodeURI(StartDate), encodeURI(EndDate), 1, 50));
    }
    var LoadSalesReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        $(".Load_payroll_Report").html(TabsLoaderText);
        $(".Load_payroll_Report").load(domainurl + "/Reports/SalesReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&pageno=1&pagesize=50");
    }
    var LoadTechReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        $(".Load_payroll_Report").html(TabsLoaderText);
        $(".Load_payroll_Report").load(domainurl + "/Reports/TechReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }
    var LoadMemberReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        $(".Load_payroll_Report").html(TabsLoaderText);
        $(".Load_payroll_Report").load(domainurl + "/Reports/MemberReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var LoadServiceCallReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        $(".Load_payroll_Report").html(TabsLoaderText);
        $(".Load_payroll_Report").load(domainurl + "/Reports/ServiceCallReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var LoadFollowUpReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        $(".Load_payroll_Report").html(TabsLoaderText);
        $(".Load_payroll_Report").load(domainurl + "/Reports/FollowUpReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }
    var LoadRescheduleReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        $(".Load_payroll_Report").html(TabsLoaderText);
        $(".Load_payroll_Report").load(domainurl + "/Reports/RescheduleReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var LoadFundedReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        $(".Load_payroll_Report").html(TabsLoaderText);
        $(".Load_payroll_Report").load(domainurl + "/Reports/FundedReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));

    }
    var LoadFundedBrinksTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        $(".Load_payroll_Report").html(TabsLoaderText);
        $(".Load_payroll_Report").load(domainurl + "/Reports/FundedBrinksReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));

    }
    var LoadUserPaymentTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        $(".Load_payroll_Report").html(TabsLoaderText);
        $(".Load_payroll_Report").load(domainurl + "/Reports/UserPaymentPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var LoadPaidCommissionTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        $(".Load_payroll_Report").html(TabsLoaderText);
        $(".Load_payroll_Report").load(domainurl + "/Reports/PaidCommission?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var LoadInsideCommissionTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        $(".Load_payroll_Report").html(TabsLoaderText);
        $(".Load_payroll_Report").load(domainurl + "/Reports/InsideCommission?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var my_date_format = function (input) {
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        console.log(IsTimeClockTab);
        if (IsFundingTab == 'True')
        {
            LoadFundedReportTab();
        }
        else if (IsFundingBrinksTab == 'True')
        {
            LoadFundedBrinksTab();
        }
        else if (IsTimeClockTab == 'True')
        {
            LoadPayrollReportTab();
        }
        else {
            LoadSalesReportTab();
        }



        $(".PayrollReportTab").click(function () {
            $(".dateviewed").show();
            LoadPayrollReportTab();
        });
        $(".SaleCommisionTab").click(function () {
           $(".dateviewed").show();
            LoadSalesReportTab();
        });
        $(".TechCommisionTab").click(function () {
            $(".dateviewed").show();
            LoadTechReportTab();
        });
        $(".MemberCommisionTab").click(function () {
            $(".dateviewed").show();
            LoadMemberReportTab();
        });
        $(".CallCommisionTab").click(function () {
            $(".dateviewed").show();
            LoadServiceCallReportTab();
        });
        $(".FollowupCommisionTab").click(function () {
            $(".dateviewed").show();
            LoadFollowUpReportTab();
        });
        $(".RescheduleCommisionTab").click(function () {
            $(".dateviewed").show();
            LoadRescheduleReportTab();
        });
        $(".FundedCommisionTab").click(function () {
            $(".dateviewed").show();
            LoadFundedReportTab();
        });
        $(".FundedBrinksTab").click(function () {
            $(".dateviewed").hide();
             LoadFundedBrinksTab();
        });
        $(".UserPaymentTab").click(function () {
            $(".dateviewed").show();
            LoadUserPaymentTab();
        });
        $(".PaidCommissionTab").click(function () {
            $(".dateviewed").show();
            LoadPaidCommissionTab();
        });
         $(".InsideCommissionTab").click(function () {
            $(".dateviewed").show();
            LoadInsideCommissionTab();
        });
        $(".DateFilterContents .btn-apply-Datefilter").click(function () {
            UpdatePtoCookie();
            if ($(".SaleCommisionTab").hasClass("active"))
            {
                var pagenumber = 1;
                var searchText = $("#srch-term").val();
                var StartDate = $(".min-date").val();
                var EndDate = $(".max-date").val();
                $("#LoadSalesCommReport").html(LoaderDom);
                $("#LoadSalesCommReport").load(domainurl + "/Reports/LoadSalesReportList", {
                    PageNo: pagenumber,
                    SearchText: searchText,
                    StartDate: StartDate,
                    EndDate: EndDate,
                    IsPaid: $(".AllpaidCommission").hasClass('active')
                });
            }
            else if($(".TechCommisionTab").hasClass("active"))
            {
                var pagenumber = 1;
                var searchText = $("#srch-term").val();
                var StartDate = $(".min-date").val();
                var EndDate = $(".max-date").val();

                $("#LoadTechCommReport").html(LoaderDom);
                $("#LoadTechCommReport").load(domainurl + "/Reports/LoadTechReportList", {
                    PageNo: pagenumber,
                    SearchText: searchText,
                    StartDate: StartDate,
                    EndDate: EndDate,
                    IsPaid: $(".AllpaidTechCommission").hasClass('active')
                });
            }
            else if ($(".MemberCommisionTab").hasClass("active")) {
                var pagenumber = 1;
                var searchText = $("#srch-term").val();
                var StartDate = $(".min-date").val();
                var EndDate = $(".max-date").val();

                $("#LoadMemberCommReport").html(LoaderDom);
                $("#LoadMemberCommReport").load(domainurl + "/Reports/LoadMemberReportList", {
                    PageNo: pagenumber,
                    SearchText: searchText,
                    StartDate: StartDate,
                    EndDate: EndDate,
                    IsPaid: $(".AllpaidMemberCommission").hasClass('active')
                });
            }
            else if ($(".CallCommisionTab").hasClass("active")) {
                var pagenumber = 1;
                var searchText = $("#srch-term").val();
                var StartDate = $(".min-date").val();
                var EndDate = $(".max-date").val();

                $("#LoadCallCommReport").html(LoaderDom);
                $("#LoadCallCommReport").load(domainurl + "/Reports/LoadServiceCallReportList", {
                    PageNo: pagenumber,
                    SearchText: searchText,
                    StartDate: StartDate,
                    EndDate: EndDate,
                    IsPaid: $(".AllpaidCallCommission").hasClass('active')
                });
            }
            else if ($(".FollowupCommisionTab").hasClass("active")) {
                var pagenumber = 1;
                var searchText = $("#srch-term").val();
                var StartDate = $(".min-date").val();
                var EndDate = $(".max-date").val();

                $("#LoadFollowUpCommReport").html(LoaderDom);
                $("#LoadFollowUpCommReport").load(domainurl + "/Reports/LoadFollowUpReportList", {
                    PageNo: pagenumber,
                    SearchText: searchText,
                    StartDate: StartDate,
                    EndDate: EndDate,
                    IsPaid: $(".AllpaidfollowupCommission").hasClass('active')
                });
            }
            else if ($(".RescheduleCommisionTab").hasClass("active")) {
                var pagenumber = 1;
                var searchText = $("#srch-term").val();
                var StartDate = $(".min-date").val();
                var EndDate = $(".max-date").val();

                $("#LoadRescheduleCommReport").html(LoaderDom);
                $("#LoadRescheduleCommReport").load(domainurl + "/Reports/LoadRescheduleReportList", {
                    PageNo: pagenumber,
                    SearchText: searchText,
                    StartDate: StartDate,
                    EndDate: EndDate,
                    IsPaid: $(".AllpaidrescheduleCommission").hasClass('active')
                });
            }
            else if ($(".FundedCommisionTab").hasClass("active")) {
                var pagenumber = 1;
                var searchText = $("#srch-term").val();
                var StartDate = $(".min-date").val();
                var EndDate = $(".max-date").val();

                $("#LoadFundedCommReport").html(LoaderDom);
                $("#LoadFundedCommReport").load(domainurl + "/Reports/LoadFundedReportCluster", {
                    PageNo: pagenumber,
                    SearchText: searchText,
                    StartDate: StartDate,
                    EndDate: EndDate,
                    IsPaid: $(".AllpaidFundedCommission").hasClass('active')
                });
               $("#LoadAdjustmentFundingReport").load(domainurl + "/Reports/LoadAdjustmentFundingList", {
                    PageNo: pagenumber,
                    SearchText: searchText,
                    StartDate: StartDate,
                    EndDate: EndDate,
                    IsPaid: $(".AllpaidFundedCommission").hasClass('active')
                });
            }
            else if ($(".UserPaymentTab").hasClass("active")) {
                var pagenumber = 1;
                var searchText = $("#srch-term").val();
                var StartDate = $(".min-date").val();
                var EndDate = $(".max-date").val();
                filterText = $("#EmpList").val();
                ticketType = encodeURI($("#TicketTypeList").val());
                userGroup = $("#UserGroupDropDownList").val();
                $("#LoadUserPaymentReport").html(LoaderDom);
                $("#LoadUserPaymentReport").load(domainurl + "/Reports/LoadUserPaymentList", {
                    PageNo: pagenumber,
                    SearchText: searchText,
                    StartDate: StartDate,
                    EndDate: EndDate,
                    FilterText: filterText,
                    UserGroup: userGroup,
                    TicketType: encodeURI(ticketType),
                });
            }
            else if ($(".PaidCommissionTab").hasClass("active")) {
                var pagenumber = 1;
                var searchText = $("#srch-term").val();
                var StartDate = $(".min-date").val();
                var EndDate = $(".max-date").val();

                $("#LoadPaidCommission").html(LoaderDom);
                $("#LoadPaidCommission").load(domainurl + "/Reports/PaidCommission", {
                    PageNo: pagenumber,
                    SearchText: searchText,
                    StartDate: StartDate,
                    EndDate: EndDate
                });
            }
            else if ($(".InsideCommissionTab").hasClass("active")) {
                var pagenumber = 1;
                var StartDate = $(".min-date").val();
                var EndDate = $(".max-date").val();
                var searchtext = encodeURI($("#txtInsideCommission").val());
                var SalesRep = encodeURI($("#SalesRep").val());
                var FinRep = encodeURI($("#FinRep").val());
                $(".InsideCommissionReport").html(LoaderDom);
                $(".InsideCommissionReport").load(domainurl + "/Reports/InsideCommissionPartialList", {
                    pageno: pagenumber,
                    pagesize: 20,
                    Start: encodeURI(StartDate),
                    End: encodeURI(EndDate),
                    searchtext: encodeURI(searchtext),
                    SalesRep: SalesRep,
                    FinRep:FinRep
                });
            }
            else {
                LoadPayrollReportTab();
            }


            var StartDate = my_date_format($(".DateFilterContents .min-date").val());
            var EndDate = my_date_format($(".DateFilterContents .max-date").val())
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
            UpdatePtoCookie();
        });

    });
</script>
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="payroll_reports_container">
    <div class="payroll_reports_header">
        @Localize.T("Reports")
    </div>
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>


    <div class="col-xs-12 Report-Tabs">
        <div class="nav-detail-contents">
            <ul class="nav nav-tabs payroll_report_top_nav" id="myTab">
                @if (PermissionChecker.IsPermitted(PermissionList.ReportMenuPermission.FundingTab))
                {
                    <li class="FundedCommisionTab active">
                        <a idval="" data-target="#FundedCommisionReport" data-toggle="tab">Funding</a>
                    </li>
                }
                @if (PermissionChecker.IsPermitted(PermissionList.ReportMenuPermission.FundingBrinksTab))
                {
                    <li class="FundedBrinksTab active">
                        <a idval="" data-target="#FundedBrinksReport" data-toggle="tab">Funding</a>
                    </li>
                }
                @if (PermissionChecker.IsPermitted(PermissionList.ReportMenuPermission.TimeClockTab))
                {
                    <li class="PayrollReportTab">
                        <a idval="" data-target="#PayrollReport" data-toggle="tab">@Localize.T("Time Clock")</a>
                    </li>
                }
                @if (PermissionChecker.IsPermitted(PermissionList.ReportMenuPermission.SalesTab))
                {
                    <li class="SaleCommisionTab">
                        <a idval="" data-target="#SaleCommisionReport" data-toggle="tab">@Localize.T("Sales")</a>
                    </li>
                }
                @if (PermissionChecker.IsPermitted(PermissionList.ReportMenuPermission.TechsTab))
                {
                    <li class="TechCommisionTab">
                        <a idval="" data-target="#TechCommisionReport" data-toggle="tab">@Localize.T("Techs")</a>
                    </li>
                }
                @if (PermissionChecker.IsPermitted(PermissionList.ReportMenuPermission.AddMemberTab))
                {
                    <li class="MemberCommisionTab">
                        <a idval="" data-target="#TechCommisionReport" data-toggle="tab">@Localize.T("Added Members")</a>
                    </li>
                }
                @if (PermissionChecker.IsPermitted(PermissionList.ReportMenuPermission.ServiceCallTab))
                {
                    <li class="CallCommisionTab">
                        <a idval="" data-target="#CallCommisionReport" data-toggle="tab">@Localize.T("Service Calls")</a>
                    </li>
                }
                @if (PermissionChecker.IsPermitted(PermissionList.ReportMenuPermission.FollowUpTab))
                {
                    <li class="FollowupCommisionTab">
                        <a idval="" data-target="#FollowupCommisionTab" data-toggle="tab">@Localize.T("Follow Up")</a>
                    </li>
                }
                @if (PermissionChecker.IsPermitted(PermissionList.ReportMenuPermission.RescheduleTab))
                {
                    <li class="RescheduleCommisionTab">
                        <a idval="" data-target="#RescheduleCommisionTab" data-toggle="tab">@Localize.T("Reschedule Ticket")</a>
                    </li>
                }

                @if (PermissionChecker.IsPermitted(PermissionList.ReportMenuPermission.UserPaymentTab))
                {
                    <li class="UserPaymentTab">
                        <a idval="" data-target="#UserPaymentReport" data-toggle="tab">User Funding</a>
                    </li>
                }
                @*@if (PermissionChecker.IsPermitted(PermissionList.ReportMenuPermission.PaidCommissionTab))
                    <li class="PaidCommissionTab">
                        <a idval="" data-target="#PaidCommissionReport" data-toggle="tab">Paid Commission</a>
                    </li>
                }*@
                @if (PermissionChecker.IsPermitted(PermissionList.ReportsPermissions.PayrollReportInsideCommissionTab))
                {
                    <li class="InsideCommissionTab">
                        <a idval="" data-target="#InsideCommissionReport" data-toggle="tab">Inside Commission</a>
                    </li>
                }
            </ul>
            <div class="tab-content reports_tab_content">
                <div class="tab-pane active" id="PayrollReport">
                    <div class="row leads_report_top_bar">

                        <button title="@Localize.T(" Download")" class="report_btn lrp_float_right hidden" id="btnDownloadLeadsReport"><i class="fa fa-download" aria-hidden="true"></i></button>
                    </div>
                    <div class="Load_payroll_Report">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
