@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper



<script>
    var pagenumber = '@ViewBag.PageNumber';
    var StartDate = '@ViewBag.Start';
    var EndDate = '@ViewBag.End';
    var my_date_format = function (input) {
        console.log(input + " r");
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    var StartDate = $(".min-date").val();
    var EndDate = $(".max-date").val();
    var NavigatePageListing = function (pagenumber, order) {
        var searchText = $("#srch-term").val();
     
        $("#LoadPayrolReport").load(domainurl + "/Reports/LoadPayrollReportList", { PageNo: pagenumber, SearchText: searchText, StartDate: StartDate,EndDate:EndDate });
    }
    $(document).ready(function () {
        var SearchText = $(".srch-term").val();
        $("#LoadPayrolReport").load("/Reports/LoadPayrollReportList", { PageNo: pagenumber, SearchText: SearchText, StartDate: StartDate, EndDate: EndDate });
        if (StartDate != "" && EndDate != "") {
            StartDate = my_date_format(StartDate);
            EndDate = my_date_format(EndDate);
            console.log(StartDate + " " + EndDate);
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
        }
        else {
            $(".DateFilterContents .date-start").html("All Time");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .dropdown-filter").hide();
        }
        $("#btnDownloadTimeClockReport").click(function () {
            if (StartDate.trim().length == 10 && EndDate.trim().length == 10) {
                StartDate = StartDate.replaceAll('/', '_');
                EndDate = EndDate.replaceAll('/', '_');
                location.href = domainurl + "/Reports/GetTimeClockReport/?Start=" + StartDate + "&End=" + EndDate + "&GetReport=true";
            } else {
                location.href = domainurl + "/Reports/GetTimeClockReport/?GetReport=true";
            }
        });
    });
</script>
<style>
    #btnDownloadTimeClockReport {
        float: right;
        background-color: #2ca01c;
        color: white;
    }
</style>
<link href="~/Content/Css/Report/PayrollReport.css" rel="stylesheet" />
<div class="timeclock_report_container">
   
    <div id="payroll_search_container">
        <div class="input-group add-on">
            <input class="form-control srch-term" placeholder="Search" type="text" id="contact_search">
            <div class="input-group-btn">
                <button class="btn btn-default custom-btn SearchContact green_button" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>
    <button title="@Localize.T(" Download")" class="btn" id="btnDownloadTimeClockReport"><i class="fa fa-download"></i></button>
    <div id="LoadPayrolReport">

    </div>
</div>




