@{
    Layout = null;
}
@model HS.Entities.PayrollTermSheet
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>
    var TermSheetId = '@Model.TermSheetId';

    $(document).ready(function () {
        $(".payroll_settings_height").height(window.innerHeight - $(".payroll_settings_nav").height());
});

    $(window).resize(function () {
        $(".payroll_settings_height").height(window.innerHeight - $(".payroll_settings_nav").height());
    })
</script>
<script src="~/Content/Js/Funding/FundingSetting.js"></script>
<div class="sales_matrix_report_container">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs reports-tabs payroll_settings_nav" id="myTab">
            <li class="BaseMultipleNav active">
                <a data-target="#BaseMultipleTab" data-toggle="tab">@Localize.T("Base Multiple")</a>
            </li>
            <li class="CustomerTypeNav">
                <a data-target="#CustomerTypeTab" data-toggle="tab">@Localize.T("Customer Type")</a>
            </li>
            <li class="CreditRatingNav">
                <a data-target="#CreditRatingTab" data-toggle="tab">@Localize.T("Credit Rating")</a>
            </li>
            <li class="AgreementLengthNav">
                <a data-target="#AgreementLengthTab" data-toggle="tab">@Localize.T("Agreement Length")</a>
            </li>
            <li class="CustomerBillingMethodNav">
                <a data-target="#CustomerBillingMethodTab" data-toggle="tab">@Localize.T("Billing Method")</a>
            </li>
            <li class="MonthlyProductionBonusNav">
                <a data-target="#MonthlyProductionBonusTab" data-toggle="tab">@Localize.T("Production Bonus")</a>
            </li>
            <li class="PassThrusNav">
                <a data-target="#PassThrusTab" data-toggle="tab">@Localize.T("Pass-Thrus")</a>
            </li>
            <li class="InstallationFeeNav">
                <a data-target="#InstallationFeeTab" data-toggle="tab">@Localize.T("Installation")</a>
            </li>
            <li class="AdminFeeNav">
                <a data-target="#AdminFeeTab" data-toggle="tab">@Localize.T("Admin")</a>
            </li>
            <li class="HoldBackNav">
                <a data-target="#HoldBackTab" data-toggle="tab">@Localize.T("HoldBack & Service")</a>
            </li>
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.PayrollTermSheetManagerTab))
            {
                <li class="TermSheetManagerNav">
                    <a data-target="#TermSheetManagerTab" data-toggle="tab">@Localize.T("Manager")</a>
                </li>
            }
            @*<li class="SingleSettingsNav">
            <a data-target="#SingleSettingsTab" data-toggle="tab">@Localize.T("Settings")</a>
        </li>*@
        </ul>

        <div class="payroll_settings_height">
            <div class="tab-content reports_tab_content">
                <div class="tab-pane active" id="BaseMultipleTab">

                </div>
                <div class="tab-pane" id="CustomerTypeTab">

                </div>
                <div class="tab-pane" id="CreditRatingTab">

                </div>
                <div class="tab-pane" id="AgreementLengthTab">

                </div>
                <div class="tab-pane" id="CustomerBillingMethodTab">

                </div>
                <div class="tab-pane" id="MonthlyProductionBonusTab">

                </div>
                <div class="tab-pane" id="PassThrusTab">

                </div>
                <div class="tab-pane" id="InstallationFeeTab">

                </div>
                <div class="tab-pane" id="AdminFeeTab">

                </div>
                <div class="tab-pane" id="HoldBackTab">

                </div>
                <div class="tab-pane" id="TermSheetManagerTab">

                </div>
                @*<div class="tab-pane" id="SingleSettingsTab">

                    </div>*@
            </div>
        </div>
    </div>
</div>



