@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script>
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $("#LeadReportTab").html(TabsLoaderText);
        $("#LeadReportTab").load(domainurl + "/Reports/LeadsReportPartial");

        $(".LeadReportTab").click(function () {
            $("#LeadReportTab").html(TabsLoaderText);
            $("#LeadReportTab").load(domainurl + "/Reports/LeadsReportPartial");
        });
        $(".InvoiceReportTab").click(function () {
            $("#InvoiceReportTab").html(TabsLoaderText);
            $("#InvoiceReportTab").load(domainurl + "/Reports/InvoiceReportPartial");
        });
        $(".EstimateReportTab").click(function () {
            $("#EstimateReportTab").html(TabsLoaderText);
            $("#EstimateReportTab").load(domainurl + "/Reports/EstimateReportPartial");
        });
        $(".PaymentReceivedReportTab").click(function () {
            $("#PaymentReceivedReportTab").html(TabsLoaderText);
            $("#PaymentReceivedReportTab").load(domainurl + "/Reports/PaymentReceivedReportPartial");
        });
        $(".BillGeneratedReportTab").click(function () {
            $("#BillGeneratedReportTab").html(TabsLoaderText);
            $("#BillGeneratedReportTab").load(domainurl + "/Reports/BillsReportPartial");
        });
        $(".BillPaidReportTab").click(function () {
            $("#BillPaidReportTab").html(TabsLoaderText);
            $("#BillPaidReportTab").load(domainurl + "/Reports/PaymentReportPartial");
        });
        $(".PayrollReportTab").click(function () {
            $("#PayrollReport").html(TabsLoaderText);
            $("#PayrollReport").load(domainurl + "/Reports/PayrollReportPartial");
        });
    });

</script>

<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">@Localize.T("Reports")</div>

<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs reports-tabs" id="myTab">
            <li class="active LeadReportTab">
                <a data-target="#LeadReportTab" data-toggle="tab">@Localize.T("Leads Report")</a>
            </li>
            <li class="InvoiceReportTab">
                <a data-target="#InvoiceReportTab" data-toggle="tab">@Localize.T("Invoice Report")</a>
            </li>
            <li class="EstimateReportTab">
                <a idval="" data-target="#EstimateReportTab" data-toggle="tab">@Localize.T("Estimate Report")</a>
            </li>
            <li class="PaymentReceivedReportTab">
                <a idval="" data-target="#PaymentReceivedReportTab" data-toggle="tab">@Localize.T("Payment Received Report")</a>
            </li>
            <li class="BillGeneratedReportTab">
                <a idval="" data-target="#BillGeneratedReportTab" data-toggle="tab">@Localize.T("Bills Report")</a>
            </li>
            <li class="BillPaidReportTab">
                <a idval="" data-target="#BillPaidReportTab" data-toggle="tab">@Localize.T("Bill Payment Report")</a>
            </li>
            <li class="PayrollReportTab">
                <a idval="" data-target="#PayrollReport" data-toggle="tab">@Localize.T("Payroll Report")</a>
            </li>

        </ul>
        <div class="tab-content reports_tab_content">
            <div class="tab-pane active" id="LeadReportTab">

            </div>
            <div class="tab-pane" id="InvoiceReportTab">

            </div>
            <div class="tab-pane" id="EstimateReportTab">

            </div>
            <div class="tab-pane" id="PaymentReceivedReportTab">

            </div>
            <div class="tab-pane" id="BillGeneratedReportTab">

            </div>
            <div class="tab-pane" id="BillPaidReportTab">

            </div>
            <div class="tab-pane" id="PayrollReport"></div>
        </div>
    </div>

</div>