@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var pagenumber = '@ViewBag.PageNumber';
    var StartDate = '@ViewBag.Start';
    var EndDate = '@ViewBag.End';
    var NavigateReschedulMemberComListing = function (pagenumber, order) {
        var searchText = $(".RescheduleSearchText").val();
        var RescheduleTech = encodeURI($("#RescheduleTech").val());
        $("#LoadRescheduleCommReport").html(LoaderDom);
       
        StartDate = $(".min-date").val();
        EndDate = $(".max-date").val();
        $("#LoadRescheduleCommReport").load(domainurl + "/Reports/LoadRescheduleReportList", {
            PageNo: pagenumber,
            SearchText: searchText,
            order: order,
            RescheduleTech: RescheduleTech,
            StartDate: StartDate,
            EndDate:EndDate,
            IsPaid: $(".AllpaidRescheduleCommission").hasClass('active')
        });
    }
    var DownLoadNavigateRescheduleCommListing = function (pagenumber) {
        var searchText = $("#Reschedulebtnsearchtext").val();
        var RescheduleTech = encodeURI($("#RescheduleTech").val());
        //$("#LoadMemberCommReport").html(LoaderDom);
        StartDate = $(".min-date").val();
        EndDate = $(".max-date").val();
        var IsPaid = $(".AllpaidRescheduleCommission").hasClass('active');
        //console.log(techperson);

        location.href = domainurl + "/Reports/LoadRescheduleReportList/?GetReport=true" + "&PageNo=1&SearchText=" + searchText  + "&StartDate=" + StartDate + "&EndDate=" + EndDate + "&RescheduleTech=" + RescheduleTech + "&IsPaid=" + IsPaid;

    }
    $(document).ready(function () {
        NavigateReschedulMemberComListing(1);
        $(".AllUnpaidRescheduleCommission, .AllpaidRescheduleCommission").click(function () {
             $(".RescheduleSearchText").val("");
            setTimeout(function () {
                NavigateReschedulMemberComListing(1);
            }, 50);
        });
        $("#Reschedulebtnsearchtext").click(function () {
            setTimeout(function () {
                NavigateReschedulMemberComListing(1);
            }, 50);
        })
        $("#btnDownloadReschedule").click(function () {

            //var orderval = order;
            //DownLoadNavigateRescheduleCommListing(1, orderval);
            DownLoadNavigateRescheduleCommListing(1);
        });
        $("#RescheduleTech").selectpicker('val', '');
        $("#btnDownloadPayrollRescheduleCommission").click(function () {


            if (StartDate.trim().length == 10 && EndDate.trim().length == 10) {
                StartDate = StartDate.replaceAll('/', '_');
                EndDate = EndDate.replaceAll('/', '_');
                location.href = domainurl + "/Reports/RescheduleReportPartial/?Start=" + StartDate + "&End=" + EndDate + "&GetReport=true";
            } else {
                location.href = domainurl + "/Reports/RescheduleReportPartial/?GetReport=true";
            }
        });
          $(".RescheduleSearchText").keydown(function (e) {

                if (e.which == 13) {
                    NavigateReschedulMemberComListing(1);
                }
            });
    });
</script>

<style>
    #btnDownloadReschedule {
        float: right;
        background-color: #2ca01c;
        color: white;
    }
</style>
<link href="~/Content/Css/Report/PayrollReport.css" rel="stylesheet" />
<div class="payroll_list_container payroll_container_main">
    @*<button title="@Localize.T(" Download")" class="btn" id="btnDownloadPayrollFollowUpCommission"><i class="fa fa-download"></i></button>*@
    <div class="all_invoices_partial_container">
        <div class="invoices_tabs_header">
            <ul class="nav nav-tabs invoices-tabs" id="myInvoicesTab">
                <li class="active AllUnpaidRescheduleCommission">
                    <a data-target="#LoadUnpaidFollowUpCommReport" data-toggle="tab">@Localize.T("Not Funded")</a>
                </li>
                <li class="AllpaidRescheduleCommission">
                    <a data-target="#LoadRescheduleCommReport" data-toggle="tab">@Localize.T("Funded")</a>
                </li>
            </ul>
        </div>

        <div class="follow_up_partial_search_div">
            <input class="form-control RescheduleSearchText" type="text" placeholder="Search By Ticket Id or Customer Name" />
            <div class="input-group add-on">
                @Html.DropDownList("RescheduleTech", ViewBag.RescheduleTechList as List<SelectListItem>, new { @class = "form-control border_radius_0 TicketFor_search Payroll_FollowUpPerson", @multiple = "multiple", @title = "Select Technician" })
                <div class="input-group-btn">
                    <button class="btn search_reschedule_btn green_button" id="Reschedulebtnsearchtext" title="Search"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
            <button title="Download" class="btn btnBI" id="btnDownloadReschedule"><i class="fa fa-download" aria-hidden="true"></i></button>
        </div>

        <div class="invoices-tabs">
            <div class="nav-detail-contents">
                <div class="tab-content">
                    <div id="LoadRescheduleCommReport" class="tab-pane active">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










