@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using HS.Framework
@model HS.Entities.EmpSalesPayReport

<script>
    var pageno = '@ViewBag.PageNumber';
    var order = '@ViewBag.order'
     var PayrollSetting = function (termSheetId) {
        OpenTopToBottomModal("Reports/PayrollSetting?TermSheetId=" + termSheetId );
    }
    var NetPayDetails = function (salesPersonId) {
        var StartDate = $("#WeeklyStartDatePayrollBrinks").val();
        var EndDate = $("#WeeklyEndDatePayrollBrinks").val();
        var PayrollBrinksStatus = $("#PayrollBrinksStatus").val();
        var PayrollBrinksFunding = encodeURI($("#PayrollBrinksFunding").val());
        OpenTopToBottomModal("/Reports/NetPayDetails?UserId=" + salesPersonId + "&StartDate=" + StartDate + "&EndDate=" + EndDate + "&PayrollBrinksStatus=" + PayrollBrinksStatus + "&PayrollBrinksFunding=" + PayrollBrinksFunding);
    }
       $(document).ready(function () {
          $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            NavigateSalesPayListing(pageno, orderval);
          });
           $(".ChkAllBrinksFunding").change(function () {
            if ($(this).prop("checked")) {
                $(".ChkBrinksFunding").prop("checked", true);
            }
            else {
                $(".ChkBrinksFunding").prop("checked", false);
            }
        });
    })
</script>
<div class="opportunity_list_container">
    <div class="sales_report_table_container">
        <table id="PayrollReportTable">
            <thead>
                <tr>
                    <th>
                        <div>@Localize.T("Sales Person")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/salesperson"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/salesperson"></i></div>

                    </th>
                    <th>
                        <div>@Localize.T("Total RMR")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/totalrmr"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/totalrmr"></i></div>

                    </th>
                    <th>
                        <div>@Localize.T("Gross Pay")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/grosspay"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/grosspay"></i></div>

                    </th>
                    <th>
                        <div>@Localize.T("Hold Back")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/grosspay"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/grosspay"></i></div>

                    </th>
                    <th>
                        <div>@Localize.T("Pass-Thru")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/grosspay"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/grosspay"></i></div>

                    </th>
                    <th>
                        <div>@Localize.T("Deductions")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/deductions"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/deductions"></i></div>

                    </th>
                    <th>
                        <div>@Localize.T("Adjustments")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/adjustments"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/adjustments"></i></div>

                    </th>
                    <th>
                        <div>@Localize.T("Net Pay")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/netpay"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/netpay"></i></div>

                    </th>
                    <th>
                        <div>@Localize.T("Action")</div>
                        <input type="checkbox" class="ChkAllBrinksFunding" />
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SalesPayList)
                {
                    <tr>
                        <td>
                            <div class="rpt_pr_sls_mb">@Localize.T("Sales Person") <span>:</span></div>
                            <div class="rpt_pr_sls_dtp">
                                <span title="Term Sheet: @item.TermSheetName" target="_blank" class="cus-anchor" onclick="PayrollSetting('@item.TermSheetId')">@item.SalesPerson</span>
                            </div>
                        </td>
                        <td>
                            <div class="rpt_pr_sls_mb">@Localize.T("Total RMR") <span>:</span></div>
                            <div class="rpt_pr_sls_dtp">
                                <span>@Currency@LabelHelper.FormatAmount(item.TotalRMR)</span>
                            </div>
                        </td>
                        <td>
                            <div class="rpt_pr_sls_mb">@Localize.T("Gross Pay") <span>:</span></div>
                            <div class="rpt_pr_sls_dtp">
                                <span>@Currency@LabelHelper.FormatAmount(item.GrossPay)</span>
                            </div>
                        </td>
                        <td>
                            <div class="rpt_pr_sls_mb">@Localize.T("Hold Back") <span>:</span></div>
                            <div class="rpt_pr_sls_dtp">
                                <span>@Currency@LabelHelper.FormatAmount(item.HoldBack)</span>
                            </div>
                        </td>
                        <td>
                            <div class="rpt_pr_sls_mb">@Localize.T("Pass-Thru") <span>:</span></div>
                            <div class="rpt_pr_sls_dtp">
                                <span>@Currency@LabelHelper.FormatAmount(item.PassThrus)</span>
                            </div>
                        </td>
                        <td>
                            <div class="rpt_pr_sls_mb">@Localize.T("Deductions") <span>:</span></div>
                            <div class="rpt_pr_sls_dtp">
                                <span>@Currency@LabelHelper.FormatAmount(item.Deductions)</span>
                            </div>
                        </td>
                        <td>
                            <div class="rpt_pr_sls_mb">@Localize.T("Adjustments") <span>:</span></div>
                            <div class="rpt_pr_sls_dtp">
                                <span>@Currency@LabelHelper.FormatAmount(item.Adjustment)</span>
                            </div>
                        </td>
                        <td>
                            <div class="rpt_pr_sls_mb">@Localize.T("Net Pay") <span>:</span></div>
                            <div class="rpt_pr_sls_dtp">
                                <span class="cus-anchor" onclick="NetPayDetails('@item.SalesPersonId')">@Currency@LabelHelper.FormatAmount(item.NetPay)</span>
                            </div>
                        </td>
                        <td>
                            <div class="rpt_pr_sls_mb">@Localize.T("Action") <span>:</span></div>
                            <div class="rpt_pr_sls_dtp">
                                <input type="checkbox" class="ChkBrinksFunding" data-salespersonid="@item.SalesPersonId" />
                            </div>
                        </td>
                    </tr>
                }
                <tr class="table_total_bg">
                    <td>
                        <b class="float_right">@Localize.T("Total:")</b>
                    </td>
                    <td>
                        <div class="rpt_pr_sls_mb">@Localize.T("Total RMR") <span>:</span></div>
                        <div class="rpt_pr_sls_dtp">
                            <b title="@Localize.T("Total RMR")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@LabelHelper.FormatAmount(Model.TotalTotalRMR)</b>
                        </div>                   
                    </td>
                    <td>
                        <div class="rpt_pr_sls_mb">@Localize.T("Total Gross Pay") <span>:</span></div>
                        <div class="rpt_pr_sls_dtp">
                            <b title="@Localize.T("Total Gross Pay")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@LabelHelper.FormatAmount(Model.TotalGrossPay)</b>
                        </div>                   
                    </td>
                    <td>
                        <div class="rpt_pr_sls_mb">@Localize.T("Total Hold Back") <span>:</span></div>
                        <div class="rpt_pr_sls_dtp">
                            <b title="@Localize.T("Total Hold Back")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@LabelHelper.FormatAmount(Model.TotalHoldBack)</b>
                        </div>                   
                    </td>
                    <td>
                        <div class="rpt_pr_sls_mb">@Localize.T("Total Pass-Thru") <span>:</span></div>
                        <div class="rpt_pr_sls_dtp">
                            <b title="@Localize.T("Total Pass-Thru")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@LabelHelper.FormatAmount(Model.TotalPassThru)</b>
                        </div>                   
                    </td>
                    <td>
                        <div class="rpt_pr_sls_mb">@Localize.T("Total Deductions") <span>:</span></div>
                        <div class="rpt_pr_sls_dtp">
                            <b title="@Localize.T("Total Deductions")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@LabelHelper.FormatAmount(Model.TotalDeductions)</b>
                        </div>                   
                    </td>
                    <td>
                        <div class="rpt_pr_sls_mb">@Localize.T("Total Adjustments") <span>:</span></div>
                        <div class="rpt_pr_sls_dtp">
                            <b title="@Localize.T("Total Adjustments")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@LabelHelper.FormatAmount(Model.TotalAdjustments)</b>
                        </div>                   
                    </td>
                    <td>
                        <div class="rpt_pr_sls_mb">@Localize.T("Total Net Pay") <span>:</span></div>
                        <div class="rpt_pr_sls_dtp">
                            <b title="@Localize.T("Total Net Pay")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@LabelHelper.FormatAmount(Model.TotalNetPay)</b>
                        </div>                    
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="report_pagination_container">
        <div class="report_pagination_inner">
            @if (ViewBag.PageCount == 1)
            {
                <div class="paginationMiddleButtondv" id="pagination">
                    <button class="PaginationButtons disabledBtn">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton activeBtn" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber),'@ViewBag.order')">1</button>
                </div>
                <div class="paginationRightButtondv" id="pagination">
                    <button class="PaginationButtons disabledBtn" disabled>Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 2)
            {
                <div class="paginationMiddleButtondv" id="pagination">
                    <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""),'@ViewBag.order')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigateSalesPayListing(1, '@ViewBag.order')">1</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigateSalesPayListing(2,'@ViewBag.order')">2</button>
                </div>
                <div class="paginationRightButtondv" id="pagination">
                    <button class="PaginationButtons" disabled="@(ViewBag.PageNumber == 2 ? "disabled" : "")" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber != 2 ? ViewBag.PageNumber + 1 : ""),'@ViewBag.order')">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
            {
                <div class="paginationMiddleButtondv" id="pagination">
                    <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""),'@ViewBag.order')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigateSalesPayListing(1,'@ViewBag.order')">1</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigateSalesPayListing(2,'@ViewBag.order')">2</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton @(ViewBag.PageNumber == 3 ? "activeBtn" : "")" onclick="NavigateSalesPayListing(3,'@ViewBag.order')">3</button>
                </div>
                <div class="paginationRightButtondv" id="pagination">
                    <button class="PaginationButtons" disabled="PaginationButtons @(ViewBag.PageNumber == 3 ? "disabled" : "")" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber != 3 ? ViewBag.PageNumber + 1 : ""),'@ViewBag.order')">Next</button>
                </div>
            }
            else if (ViewBag.PageCount > 3)
            {
                if (ViewBag.PageNumber == 1)
                {
                    <div class="paginationMiddleButtondv" id="pagination">
                        <button class="PaginationButtons" disabled onclick="NavigateSalesPayListing()">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton activeBtn" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber),'@ViewBag.order')">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber + 1),'@ViewBag.order')">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber + 2),'@ViewBag.order')">@(ViewBag.PageNumber + 2)</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber + 1),'@ViewBag.order')">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == ViewBag.PageCount)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber - 1),'@ViewBag.order')" id="pagination">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber - 2),'@ViewBag.order')" id="pagination">@(ViewBag.PageNumber - 2)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber - 1),'@ViewBag.order')" id="pagination">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber),'@ViewBag.order')" id="pagination">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons" disabled onclick="NavigateSalesPayListing()">Next</button>
                    </div>
                }
                else
                {
                    <div class="paginationMiddleButtondv" id="pagination">
                        <button class="PaginationButtons" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber - 1),'@ViewBag.order')">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber - 1),'@ViewBag.order')">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton activeBtn" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber),'@ViewBag.order')">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber + 1),'@ViewBag.order')">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons" onclick="NavigateSalesPayListing(@(ViewBag.PageNumber + 1),'@ViewBag.order')">Next</button>
                    </div>

                }
            }
        </div>
        <div class="area_zip_code_pagination_inner">
            @if (ViewBag.PageCount > 0)
            {
                <div class="paginationtextdv">
                    <span>Showing item @ViewBag.CurrentNumber of @ViewBag.OutOfNumber</span>
                </div>
            }
        </div>
    </div>
</div>




