@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var effectiveweektoday = '@ViewBag.SalesMatrixEffectiveWeek';
</script>
<script src="~/Content/Js/SalesMatrix/SalesMatrixReport.js"></script>
<link href="~/Content/Css/Report/SalesMatrixReports.css" rel="stylesheet" />

<div class="sales_matrix_report_container">
    <div class="smr_header">
        @Localize.T("Reports")
        <div class="dateviewed default_date_filter">
            @{Html.RenderAction("DateViewPartial", "Customer");}
        </div>
    </div>
    <div class="nav-detail-contents sales_matrix_report_nav">
        <ul class="nav nav-tabs reports-tabs sales_matrix_report" id="myTab">
            <li class="FirstCallCloseNav">
                <a data-target="#FirstCallCloseTab" href="#tabFirstCallClose" data-toggle="tab">@Localize.T("First Call Close")</a>
            </li>

            <li class="OverAllCloseNav">
                <a data-target="#OverAllCloseTab" href="#tabOverAllClose" data-toggle="tab">@Localize.T("Overall Close")</a>
            </li>

            <li class="SoldToFundedNav">
                <a data-target="#SoldToFundedTab" href="#tabSoldToFunded" data-toggle="tab">@Localize.T("Sold to Funded")</a>
            </li>

            <li class="NumberOfSalesNav">
                <a data-target="#NumberOfSalesTab" href="#tabNumberOfSales" data-toggle="tab">@Localize.T("Number of Sales")</a>
            </li>

            <li class="AppointmentSetNav">
                <a data-target="#AppointmentSetTab" href="#tabAppointmentSet" data-toggle="tab">@Localize.T("Appointment Set by")</a>
            </li>
        </ul>
        <div class="filter-data smr_top_info SoldToFunded_date_filter">

            <input type="text" placeholder="Start Date" value="" autocomplete="off" id="WeeklyStartDate" class="form-control border-radius-0 WeeklyStartDate" />
            <div class="input-group add-on">
                <input type="text" placeholder="End Date" value="" autocomplete="off" id="WeeklyEndDate" class="form-control border-radius-0 WeeklyEndDate" />
                <div class="input-group-btn">
                    <button id="SalesMatrixFilterBtn" class="btn PayrollFilterBtn green_button" title="@Localize.T("Search")">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="tab-content reports_tab_content">
            <div class="tab-pane" id="FirstCallCloseTab">

            </div>
            <div class="tab-pane" id="OverAllCloseTab">

            </div>
            <div class="tab-pane" id="SoldToFundedTab">

            </div>
            <div class="tab-pane" id="NumberOfSalesTab">

            </div>
            <div class="tab-pane" id="AppointmentSetTab">

            </div>
        </div>
    </div>
</div>


