@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var pagenumber = '@ViewBag.PageNumber';
    var StartDate = '@ViewBag.Start';
    var EndDate = '@ViewBag.End';
    var NavigateSrviceCallMemberComListing = function (pagenumber, order) {
        var searchText = $(".ServiceSearchText").val();
        var serviceperson = encodeURI($("#service_person").val());
        $("#LoadCallCommReport").html(LoaderDom);
        StartDate = $(".min-date").val();
        EndDate = $(".max-date").val();
        $("#LoadCallCommReport").load(domainurl + "/Reports/LoadServiceCallReportList", {
            PageNo: pagenumber,
            SearchText: searchText,
            order: order,
            StartDate: StartDate,
            EndDate: EndDate,
            ServicePersonList:serviceperson,
            IsPaid: $(".AllpaidCallCommission").hasClass('active')
        });
    }
    var DownLoadNavigateServiceCall = function (pagenumber) {
        var searchText = $(".ServiceSearchText").val();
        var serviceperson = encodeURI($("#service_person").val());
        //$("#LoadMemberCommReport").html(LoaderDom);
        StartDate = $(".min-date").val();
        EndDate = $(".max-date").val();
        var IsPaid = $(".AllpaidCallCommission").hasClass('active');
        //console.log(techperson);

        location.href = domainurl + "/Reports/LoadServiceCallReportList/?GetReport=true" + "&PageNo=1&SearchText=" + searchText + "&StartDate=" + StartDate + "&EndDate=" + EndDate + "&ServicePersonList=" + serviceperson + "&IsPaid=" + IsPaid;

    }
    $(document).ready(function () {
        NavigateSrviceCallMemberComListing(1);
        $(".AllUnpaidCallCommission, .AllpaidCallCommission").click(function () {
            $(".ServiceSearchText").val("");
            setTimeout(function () {
                NavigateSrviceCallMemberComListing(1);
            }, 50);
        });
        $("#Servicebtnsearchtext").click(function () {
            setTimeout(function () {
                NavigateSrviceCallMemberComListing(1);
            }, 50);
        })

        $("#service_person").selectpicker('val', '');


        $("#btnDownloadPayrollServiceCall").click(function () {

            //var orderval = order;
            DownLoadNavigateServiceCall(1);

        });

        $("#btnDownloadPayrollCallCommission").click(function () {


            if (StartDate.trim().length == 10 && EndDate.trim().length == 10) {
                StartDate = StartDate.replaceAll('/', '_');
                EndDate = EndDate.replaceAll('/', '_');
                location.href = domainurl + "/Reports/ServiceCallReportPartial/?Start=" + StartDate + "&End=" + EndDate + "&GetReport=true";
            } else {
                location.href = domainurl + "/Reports/ServiceCallReportPartial/?GetReport=true";
            }
        });
          $(".ServiceSearchText").keydown(function (e) {

                if (e.which == 13) {
                    NavigateSrviceCallMemberComListing(1);
                }
            });
    });
</script>
<style>
    #btnDownloadPayrollServiceCall {
        float: right;
        background-color: #2ca01c;
        color: white;
    }
</style>
<link href="~/Content/Css/Report/PayrollReport.css" rel="stylesheet" />
<div class="payroll_list_container payroll_container_main">
    @*<button title="@Localize.T(" Download")" class="btn" id="btnDownloadPayrollCallCommission"><i class="fa fa-download"></i></button>*@
    <div class="service_call_report_container">
        <div class="invoices_tabs_header">
            <ul class="nav nav-tabs invoices-tabs" id="myInvoicesTab">
                <li class="active AllUnpaidCallCommission">
                    <a data-target="#LoadUnpaidCallCommReport" data-toggle="tab">@Localize.T("Not Funded")</a>
                </li>
                <li class="AllpaidCallCommission">
                    <a data-target="#LoadCallCommReport" data-toggle="tab">@Localize.T("Funded")</a>
                </li>
            </ul>
        </div>
        <div class="service_call_partial_search_div">
            <input class="form-control ServiceSearchText" type="text" placeholder="Search By Ticket Id or Customer Name" />
            <div class="input-group add-on">
                @Html.DropDownList("service_person", ViewBag.ServicePersonList as List<SelectListItem>, new { @class = "form-control border_radius_0 TicketFor_search Payroll_ServicePerson", @multiple = "multiple", @title = "Select Technician" })
                <div class="input-group-btn">
                    <button class="btn search_Service_btn green_button" id="Servicebtnsearchtext" title="Search"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
            <button title="Download" class="btn btnBI" id="btnDownloadPayrollServiceCall"><i class="fa fa-download" aria-hidden="true"></i></button>
        </div>
        <div class="invoices-tabs">
            <div class="nav-detail-contents">
                <div class="tab-content">
                    <div id="LoadCallCommReport" class="tab-pane active">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








