@{
    Layout = null;
    DateTime EndDate = (DateTime)ViewBag.EndDate;
    DateTime StartDate = (DateTime)ViewBag.StartDate;
}
@using HS.Framework
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var DataTablePageSize = 50;
    var StartDateDatepickerSoldToFunded;
    var EndDateDatepickerSoldToFunded;
    var FirstDayOfWeek = '@ViewBag.FirstDayOfWeek';
    var LoadSoldToFundedNav = function (pageNumber,order) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
       var FirstDayStr = parent.$(".WeeklyStartDate").val();
        var EndDayStr = parent.$(".WeeklyEndDate").val();
        $("#SoldToFundedData").html(TabsLoaderText);
        $("#SoldToFundedData").load(domainurl + "/Reports/SoldToFundedPartial?Start=" + FirstDayStr + "&End=" + EndDayStr + "&pageno=" + pageNumber + "&pagesize=50"+"&order="+order+"&from=CustomerFunded");
    }
    $(document).ready(function () {
        //StartDateDatepickerSoldToFunded = new Pikaday({
        //    field: $('#WeeklyStartDateSoldToFunded')[0],
        //    format: 'MM/DD/YYYY'
        //});
        //EndDateDatepickerSoldToFunded = new Pikaday({
        //    field: $('#WeeklyEndDateSoldToFunded')[0],
        //    format: 'MM/DD/YYYY'
        //});
        LoadSoldToFundedNav(1);
        //$("#FilterWeeksSoldToFunded").change(function () {
        //    if ($(this).val().split('/').length == 2) {
        //        var StartingDay = getDateOfISOWeek($(this).val().split('/')[1], $(this).val().split('/')[0]);
        //        StartDateDatepickerSoldToFunded.setDate(StartingDay);
        //        var EndingDay = StartingDay.addDays(6);
        //        EndDateDatepickerSoldToFunded.setDate(EndingDay);
        //    }
        //});
        parent.$("#SalesMatrixFilterBtn").click(function () {
            LoadSoldToFundedNav(1);
        });
    });
</script>
<div>
    @*<div class="filter-data">
        <span id="PayrollStartDate">
            <input type="text" value="@StartDate.ToString("MM/dd/yy")" placeholder="Start Date" autocomplete="off" id="WeeklyStartDateSoldToFunded" class="form-control border-radius-0" />
        </span>
        <span id="PayrollEndDate">
            <input type="text" value="@EndDate.ToString("MM/dd/yy")" placeholder="End Date" autocomplete="off" id="WeeklyEndDateSoldToFunded" class="form-control border-radius-0" />
        </span>
        <div class="input-group add-on">
            @Html.DropDownList("FilterWeeksSoldToFunded", (List<SelectListItem>)ViewBag.WeekList, new { @class = "form-control" })
            <div class="input-group-btn time_clock_filter_btn">
                <button id="SalesMatrixFilterBtnSoldToFunded" class="btn PayrollFilterBtn green_button" title="@Localize.T("Search")">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </div>*@
    <div id="SoldToFundedData">

    </div>
</div>
