@*@model List<HS.Entities.Equipment>*@
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

@Styles.Render("~/styles/EquipmentList")
@Scripts.Render("~/scripts/EquipmentList")

<link href="~/Content/Css/Report/TechEquipmentListForReport.css" rel="stylesheet" />
@*@Styles.Render("~/styles/DataTableBundles")
    @Scripts.Render("~/scripts/DataTableBundles")*@
<script>
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    //var OpenTechBadInventory = function () {
    //    $("#TechBadInventoryTab").html(TabsLoaderText);
    //    $("#TechBadInventoryTab").load(domainurl + "/Inventory/TechBadInventoryPartial?tab=tech");
    //}
    var InventorySearchKeyUp = function (pageNumber, order) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
        var ActiveStatus = $(".ActiveStatus").val();
        var EquipmentClass = $(".EquipmentClass").val();
        var EquipmentCategory = $(".EquipmentCategory").val();
        var StockStatus = $(".StockStatus").val();
        var searchtext = $(".srch-term-equiptech").val();
        $(".filter-inventory-equipmentstech").html(TabsLoaderText);
        $(".filter-inventory-equipmentstech").load(domainurl + "/Reports/TechFilterEquipmentsListPartialForReport?ActiveStatus=" + ActiveStatus + "&EquipmentClass=" + EquipmentClass + "&EquipmentCategory=" + EquipmentCategory + "&StockStatus=" + StockStatus + "&PageNo=" + pageNumber + "&SearchText=" + encodeURI(searchtext) + "&UserId=" + UserId + "&order=" + order);
    }
    var InventorySearchKeyUp1 = function (pageNumber, order) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
        var ActiveStatus = $(".ActiveStatus").val();
        var EquipmentClass = $(".EquipmentClass").val();
        var EquipmentCategory = $(".EquipmentCategory").val();
        var StockStatus = $(".StockStatus").val();
        var searchtext = $(".srch-term-equiptech").val();
        $(".filter-inventory-equipmentstech").html(TabsLoaderText);
        $(".filter-inventory-equipmentstech").load(domainurl + "/Reports/TechFilterEquipmentsListPartialForReport?ActiveStatus=" + ActiveStatus + "&EquipmentClass=" + EquipmentClass + "&EquipmentCategory=" + EquipmentCategory + "&StockStatus=" + StockStatus + "&PageNo=" + pageNumber + "&SearchText=" + encodeURI(searchtext) + "&UserId=" + UserId + "&order=" + order);
    }
    $("#btnDownloadTechEquipmentReport").click(function () {
        console.log("btnDownloadTechEquipmentReport");
        var StartDate = "";
        var EndDate = "";

        var ActiveStatus = $(".ActiveStatus").val();
        var EquipmentClass = $(".EquipmentClass").val();
        var EquipmentCategory = $(".EquipmentCategory").val();
        var StockStatus = $(".StockStatus").val();
        var searchtext = encodeURI($(".srch-term-equiptech").val());
       // console.log(UserId);
        window.location.href = domainurl + "/Reports/DownloadTechEquipmentReport?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&GetReport=true" + "&searchtxt=" + encodeURI($("#srch-term-equiptech").val() + "&ActiveStatus=" + ActiveStatus + "&EquipmentClass=" + EquipmentClass + "&EquipmentCategory=" + EquipmentCategory + "&StockStatus=" + StockStatus + "&TechnicianId=" + UserId);
    })


    $(document).ready(function () {
        parent.$('.close').click(function () {
            parent.$(".modal-body").html('');
        })
        InventorySearchKeyUp(1, "");
        $(".btn-filter").click(function () {
            $(".fliter-list").toggle();
        });
        $(".srch-term-equiptech").keydown(function (e) {
            if (e.which == 13) {
                InventorySearchKeyUp(1, "");
            }
        });
        $(".btn-apply-filter").click(function () {
            InventorySearchKeyUp(1, "");
            $(".fliter-list").hide();
        })
        $(".equipment-grid-col").click(function () {
            OpenRightToLeftModal(domainurl + "/Inventory/InventoryGridSettings");
        });
    });
</script>

@*<ul class="nav nav-tabs" id="InventoryTechTab">
    <li class="active" id="TechInventoryTabli">
        <a data-target="#TechInventoryTab" data-toggle="tab">@Localize.T("Inventory")</a>
    </li>
    <li id="TechBadInventoryTabli">
        <a onclick="OpenTechBadInventory()" data-target="#TechBadInventoryTab" data-toggle="tab">@Localize.T("Bad Inventory")</a>
    </li>
</ul>*@

<div class="tab-content">
    <div class="tab-pane active" id="TechInventoryTab">
        <div class="header-content">
            <div class="stock-status-partial-view-div">

            </div>
            <div class="ListViewLoader">
                <div>
                    <div class="lds-css ng-scope">
                        <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
                    </div>
                </div>
                @*<div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div>*@
            </div>
            <div class="container-fluid equipment_list_container">
                <div class="row">
                   
                        <div class="tech_equipment_search">
                            <div class="input-group add-on">
                                <input class="form-control srch-term-equiptech" placeholder="Find an Equipment" @*id="srch-term-equip"*@ type="text">
                                <div class="input-group-btn">
                                    <button class="btn btn-default custom-btn green_button" onclick="InventorySearchKeyUp1(1,null)" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="tech_equipment_filter">
                            @if (PermissionChekcer.IsPermitted(Permissions.MenuPermissions.LeftMenuTechInventoryReports))
                            {
                                <button class="btn-filter">
                                    <span class="glyphicon glyphicon-filter"></span>
                                </button>

                                <div class="fliter-list">
                                    <div class="filter-by-status sub-list">
                                        <span>@Localize.T("Status")</span>
                                        @Html.DropDownList("ActiveStatus", (List<SelectListItem>)ViewBag.EquipmentActiveStatus, new { @class = "form-control ActiveStatus", id = "ActiveStatus" })
                                    </div>
                                    <div class="filter-by-equipmentClass sub-list hidden">
                                        <span>@Localize.T("Type")</span>
                                        @Html.DropDownList("EquipmentClass", (List<SelectListItem>)ViewBag.EquipmentClassTypeList, new { @class = "form-control EquipmentClass", id = "EquipmentClass" })
                                    </div>
                                    <div class="filter-by-equipmentType sub-list">
                                        <span>@Localize.T("Category")</span>
                                        @Html.DropDownList("EquipmentCategory", (List<SelectListItem>)ViewBag.EquipmentTypeList, new { @class = "form-control EquipmentCategory", id = "EquipmentCategory" })
                                    </div>
                                    <div class="filter-by-stock-status sub-list">
                                        <span>@Localize.T("Stock Status")</span>
                                        @Html.DropDownList("StockStatus", (List<SelectListItem>)ViewBag.StockStatus, new { @class = "form-control StockStatus", id = "StockStatus" })
                                    </div>

                                    <div class="sub-list-btn">
                                        <button class="btn-reset-filter">
                                            <i class="fa fa-refresh" aria-hidden="true"></i> @Localize.T("Reset")
                                        </button>
                                        <button class="btn-apply-filter">
                                            <i class="fa fa-check" aria-hidden="true"></i>  @Localize.T("Apply")
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                   
                    @if (PermissionChekcer.IsPermitted(Permissions.MenuPermissions.LeftMenuTechInventoryReports) && @ViewBag.UserId != null && @ViewBag.UserId != new Guid())
                    {
                        @*<div class="col-md-7 custom-icon right-items">
                            <button style="border: none; background: #fff;"><i class="fa fa-print cus-print" aria-hidden="true"></i></button>
                            <button style="border: none; background: #fff;"><i class="fa fa-file-excel-o cus-cecel" aria-hidden="true" id="EquipmentReport"></i></button>

                            <button data-toggle="dropdown" style="border: none;background: #fff;"><i class="fa fa-cog cus-setting" aria-hidden="true"></i></button>
                            <ul class="dropdown-menu custom_column_dropdown" style="left:450px;right:15px;">
                                <li class="equipment-grid-col"><a href="javascript:void(0)">@Localize.T("Customize columns")</a></li>
                            </ul>
                        </div>*@

                       
                            <button title="@Localize.T(" Download")" class="report_btn lrp_float_right" id="btnDownloadTechEquipmentReport"><i class="fa fa-download" aria-hidden="true"></i></button>
                       

                    }
                </div>
            </div>
            <div>
                <div class="filter-inventory-equipmentstech">

                </div>
            </div>
        </div>
    </div>
    <div id="TechBadInventoryTab" class="tab-pane">
        
    </div>
</div>
