@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var pagenumber = '@ViewBag.PageNumber';
    var StartDate = '@ViewBag.Start';
    var EndDate = '@ViewBag.End';
    var NavigateTechComListing = function (pagenumber, order) {
    
        var searchText = $(".TechSearchText").val();
        var techperson = encodeURI($("#tech_person").val());
        $("#LoadTechCommReport").html(LoaderDom);
        $("#LoadTechCommReport").load(domainurl + "/Reports/LoadTechReportList", {
            PageNo: pagenumber,
            SearchText: searchText,
            order: order,
            StartDate: StartDate,
            EndDate: EndDate,
            TechPersonList: techperson,
            IsPaid: $(".AllpaidTechCommission").hasClass('active'),
            GetReport: false
        });
    }
    var DownLoadNavigateTechComListing = function (pagenumber, order) {
        var searchText = $(".TechSearchText").val();
        var techperson = encodeURI($("#tech_person").val());
        var IsPaid = $(".AllpaidTechCommission").hasClass('active');
        console.log(techperson);
        
        location.href = domainurl + "/Reports/LoadTechReportList/?GetReport=true" + "&PageNo=1&SearchText=" + searchText + "&order=" + order + "&StartDate=" + StartDate + "&EndDate=" + EndDate + "&TechPersonList=" + techperson + "&IsPaid=" + IsPaid;

    }

    $(document).ready(function () {
        NavigateTechComListing(1);
        $(".AllUnpaidTechCommission, .AllpaidTechCommission").click(function () {
            $(".TechSearchText").val("");
            setTimeout(function () {
                NavigateTechComListing(1);
            }, 50);
        });
        $("#Techbtnsearchtext").click(function () {
            setTimeout(function () {
                NavigateTechComListing(1);
            }, 50);
        })
        $("#tech_person").selectpicker('val', '');
        $("#btnDownloadPayrollTechCommission_Tech").click(function () {
            console.log("ascasc");
            var orderval = order;
            DownLoadNavigateTechComListing(1, orderval);


            //if (StartDate.trim().length == 10 && EndDate.trim().length == 10) {
            //    StartDate = StartDate.replaceAll('/', '_');
            //    EndDate = EndDate.replaceAll('/', '_');
            //    location.href = domainurl + "/Reports/TechReportPartial/?Start=" + StartDate + "&End=" + EndDate + "&GetReport=true";
            //} else {
            //    location.href = domainurl + "/Reports/TechReportPartial/?GetReport=true";
            //}
        });
          $(".TechSearchText").keydown(function (e) {

                if (e.which == 13) {
                    NavigateTechComListing(1);
                }
            });
    });

</script>
<style>
    #btnDownloadPayrollTechCommission_Tech{
        float: right;
    background-color: #2ca01c;
    color: white;
    }
</style>
<link href="~/Content/Css/Report/PayrollReport.css" rel="stylesheet" />
<div class="payroll_list_container payroll_container_main">
    @*<button title="@Localize.T(" Download")" class="btn" id="btnDownloadPayrollTechCommission"><i class="fa fa-download"></i></button>*@
    <div class="payroll_techs_report_container"> 
        <div class="invoices_tabs_header"> 
            <ul class="nav nav-tabs invoices-tabs" id="myInvoicesTab">
                <li class="active AllUnpaidTechCommission">
                    <a data-target="#LoadUnpaidSalesCommReport" data-toggle="tab">@Localize.T("Not Funded")</a>
                </li>
                <li class="AllpaidTechCommission">
                    <a data-target="#LoadSalesCommReport" data-toggle="tab">@Localize.T("Funded")</a>
                </li>
            </ul>
        </div>
        <div class="Payrolltech_partial_search_div">
           
                <input class="form-control TechSearchText" type="text" placeholder="Search By Ticked Id or Customer Name" />
            <div class="input-group add-on">
                @Html.DropDownList("tech_person", ViewBag.TechPersonList as List<SelectListItem>, new { @class = "form-control border_radius_0 TicketFor_search Payroll_TechPerson", @multiple = "multiple", @title = "Select Technician" })
                <div class="input-group-btn">
                    <button class="btn search_Tech_btn green_button" id="Techbtnsearchtext" title="Search"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
            <button title="Download" class="btn btnBI" id="btnDownloadPayrollTechCommission_Tech"><i class="fa fa-download" aria-hidden="true"></i></button>
            @*<button class="btn btnBI" id="TechAddNewBI"><i class="fa fa-plus"></i> New</button>*@
        </div>
        <div class="invoices-tabs">
            <div class="nav-detail-contents">
                <div class="tab-content">
                    <div id="LoadTechCommReport" class="tab-pane active">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






