@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<script>

    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    var DataTablePageSize = 50;
    var PayrollStartDatepicker;
    var PayrollEndDatepicker;

    var LoadTicketReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Ticket_Report").html(TabsLoaderText);
        $(".Load_Ticket_Report").load(domainurl + "/Reports/TechnicianReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var LoadTicketReportTabReference = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Ticket_Report_reference").html(TabsLoaderText);
        $(".Load_Ticket_Report_reference").load(domainurl + "/Reports/TicketReportPartialDateReference?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var LoadTicketReportGoBack = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Ticket_Report_GoBack").html(TabsLoaderText);
        $(".Load_Ticket_Report_GoBack").load(domainurl + "/Reports/TicketReportPartialGoBack?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var LoadTicketReportInstall = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Ticket_Report_install").html(TabsLoaderText);
        $(".Load_Ticket_Report_install").load(domainurl + "/Reports/TicketReportPartialInstall?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }
 
    var LoadTicketReportSummary = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Ticket_Summary_Report").html(TabsLoaderText);
        $(".Ticket_Summary_Report").load(domainurl + "/Reports/TicketSummaryReport?"); //Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var LoadPRReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".PR_Report_Tab").html(TabsLoaderText);
        $(".PR_Report_Tab").load(domainurl + "/Reports/PRReport?"); //Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var my_date_format = function (input) {
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        LoadTicketReportTab();


        $(".TicketReportTab").click(function () {
            LoadTicketReportTab();
        });
        $(".TicketReportTab_reference").click(function () {
            LoadTicketReportTabReference();
        });
        $(".TicketReportTab_GoBack").click(function () {
            LoadTicketReportGoBack();
        });
        $(".TicketReportTab_install").click(function () {
            LoadTicketReportInstall();
        });
  
        $(".TicketReportTab_Summary").click(function () {
            LoadTicketReportSummary();
        });
        $(".TicketReportTab_PRReport").click(function () {
            LoadPRReportTab();
        });
    });
</script>
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">
    @Localize.T("Reports")
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>
</div>


<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs payroll_report_top_nav" id="myTab">
            @{
                if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.RugTicketReport))
                {
                    <li class="TicketReportTab active">
                        <a idval="" data-target="#TicketReport" data-toggle="tab">@Localize.T("Technician")</a>
                    </li>
                }
                else
                {
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.AppointmentDateReport))
                    {
                        <li class="TicketReportTab active">
                            <a idval="" data-target="#TicketReport" data-toggle="tab">@Localize.T("Appointment Date")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.DateReferenceReport))
                    {
                        <li class="TicketReportTab_reference">
                            <a idval="" data-target="#TicketReport_reference" data-toggle="tab">@Localize.T("Date Reference")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.GoBackReport))
                    {
                        <li class="TicketReportTab_GoBack">
                            <a idval="" data-target="#TicketReport_GoBack" data-toggle="tab">@Localize.T("Go Back")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.InstalledEquipmentReport))
                    {
                        <li class="TicketReportTab_install">
                            <a idval="" data-target="#TicketReportTab_install" data-toggle="tab">@Localize.T("Installed Equipmentsss")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.TicketSummaryReport))
                    {
                        <li class="TicketReportTab_Summary">
                            <a idval="" data-target="#TicketReportTab_Summary" data-toggle="tab">@Localize.T("Summary")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.PRReportTab))
                    {
                        <li class="TicketReportTab_PRReport">
                            <a idval="" data-target="#TicketReportTab_PRReport" data-toggle="tab">@Localize.T("PR Report")</a>
                        </li>
                    }
                
                }
            }
        </ul>
        <div class="tab-content reports_tab_content">
            @{
                if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.RugTicketReport))
                {
                    <div class="tab-pane active" id="TicketReport">
                        <div class="row leads_report_top_bar">

                            <div class="Load_Ticket_Report">

                            </div>
                        </div>

                    </div>
                }
                else
                {
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.AppointmentDateReport))
                    {
                        <div class="tab-pane active" id="TicketReport">
                            <div class="row leads_report_top_bar">

                                <div class="Load_Ticket_Report">

                                </div>
                            </div>

                        </div>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.DateReferenceReport))
                    {
                        <div class="tab-pane" id="TicketReport_reference">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="Load_Ticket_Report_reference">

                            </div>

                        </div>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.GoBackReport))
                    {
                        <div class="tab-pane" id="TicketReport_GoBack">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="Load_Ticket_Report_GoBack">

                            </div>

                        </div>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.InstalledEquipmentReport))
                    {
                        <div class="tab-pane" id="TicketReportTab_install">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="Load_Ticket_Report_install">

                            </div>

                        </div>
                    }
               
                    
                        if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.TicketSummaryReport))
                    {
                            < div class="tab-pane" id="TicketReportTab_Summary">
                                <div class="row leads_report_top_bar">


                                </div>
                                <div class="Ticket_Summary_Report">

                                </div>

                            </div>
                        }
                        if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.PRReportTab))
                        {
                            <div class="tab-pane" id="TicketReportTab_PRReport">
                                <div class="row leads_report_top_bar">


                                </div>
                                <div class="PR_Report_Tab">

                                </div>

                            </div>
                        }
                    }
            }
        </div>
    </div>
</div>


