@*@model List<HS.Entities.Equipment>*@
@using AppConfig = HS.Framework.Utils.AppConfig; 
@model HS.Entities.EquipmentListWithCountModel
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using UserTypes = HS.Web.UI.Helper.LabelHelper.UserTypes
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

@{
    int Count = 1;
    var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;

}

@Styles.Render("~/styles/EquipmentList")

<script src="~/Content/Js/FilteredEquipmentList/FilteredEquipmentList.js"></script>
<link href="~/Content/Css/Equipment/FilteredEquipmentList.css" rel="stylesheet" />
<link href="~/Content/Css/Equipment/FilteredEquipmentListCustom.css" rel="stylesheet" />

<link href="~/Content/Css/Report/TechFilteredEquipmentListForReport.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        var customerreportpopwinowwith = 600;
        var customerreportpopwinowheight = 510;
        var customerprintpopwinowwith = 920;
        var customerprintpopwinowheight = 600;

        if (Device.MobileGadget()) {
            customerreportpopwinowwith = window.innerWidth;
            customerreportpopwinowheight = window.innerHeight;
            customerprintpopwinowwith = window.innerWidth;
            customerprintpopwinowheight = window.innerHeight;
        }
        var idlist = [{ id: ".ExportEquipmentReport", type: 'iframe', width: customerreportpopwinowwith, height: customerreportpopwinowheight }];
        jQuery.each(idlist, function (i, val) {
            magnificPopupObj(val);
        });
        $("#EquipmentReport").click(function () {
            var selectedID = [];
            var checkboxs = $('.Export_excel_equipment');
            for (var i = 0; i < checkboxs.length; i++) {
                selectedID.push(parseInt($(checkboxs[i]).attr('data-id')));
            }
            var ColumnName = "";
            $('.eq').each(function () {
                if ($(this).attr('data-info') != "" && $(this).attr('data-info') != undefined && $(this).attr('data-info') != null) {
                    ColumnName += $(this).attr('data-info').trim() + "," + $(this).text().trim() + "-";
                }
            });
            $(".ExportEquipmentReport").attr('href', domainurl + "/Reports/ExportConfirm/?ColumnName=" + ColumnName + "&Ids=" + selectedID + "&ReportFor=Equipment");
            $(".ExportEquipmentReport").click();
        });
        $(".icon_sort_eq").click(function () {
            var orderval = $(this).attr('data-val');
            InventorySearchKeyUp1(pageno, orderval);
        })
    });
</script>
<div class="fql_container techinventory_inventory">
    <table class="display" id="tbleq_filter">
        <thead class="table-head-border fil_eqi_list_header">
            <tr>

                @foreach (var item in (List<HS.Entities.GridSetting>)ViewBag.InventoryGridSettings)
                {
                    if (item.SelectedColumn.Trim() == "Category")
                    {
                        if (ViewBag.order == "ascending/category" || ViewBag.order == "descending/category")
                        {
                            <th class="eq th_timeclock" data-info="Name">
                                <div>@Localize.T("Category")</div>
                                <div><i class="fa fa-angle-up icon_sort_eq" data-val="ascending/category"></i><i class="fa fa-angle-down icon_sort_eq" data-val="descending/category"></i></div>
                            </th>
                        }
                        else
                        {
                            <th class="eq th_timeclock_pre" data-info="Name">
                                <div>@Localize.T("Category")</div>
                                <div><i class="fa fa-angle-up icon_sort_eq" data-val="ascending/category"></i><i class="fa fa-angle-down icon_sort_eq" data-val="descending/category"></i></div>
                            </th>
                        }

                    }
                    else if (item.SelectedColumn == "Manufacturer")
                    {
                        if (ViewBag.order == "ascending/manu" || ViewBag.order == "descending/manu")
                        {
                            <th class="eq th_timeclock" data-info="SKU">
                                <div> @Localize.T("Manufacturer")</div>
                                <div><i class="fa fa-angle-up icon_sort_eq" data-val="ascending/manu"></i><i class="fa fa-angle-down icon_sort_eq" data-val="descending/manu"></i></div>
                            </th>
                        }
                        else
                        {
                            <th class="eq th_timeclock_pre" data-info="SKU">
                                <div>@Localize.T("Manufacturer")</div>
                                <div><i class="fa fa-angle-up icon_sort_eq" data-val="ascending/manu"></i><i class="fa fa-angle-down icon_sort_eq" data-val="descending/manu"></i></div>
                            </th>
                        }

                    }
                    else if (item.SelectedColumn == "Description")
                    {
                        if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                        {
                            <th class="th_timeclock">
                                <div>@Localize.T("Description")</div>
                                <div><i class="fa fa-angle-up icon_sort_eq" data-val="ascending/des"></i><i class="fa fa-angle-down icon_sort_eq" data-val="descending/des"></i></div>
                            </th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre">
                                <div>@Localize.T("Description")</div>
                                <div><i class="fa fa-angle-up icon_sort_eq" data-val="ascending/des"></i><i class="fa fa-angle-down icon_sort_eq" data-val="descending/des"></i></div>
                            </th>
                        }

                    }
                    else if (item.SelectedColumn == "SKU")
                    {
                        if (ViewBag.order == "ascending/sku" || ViewBag.order == "descending/sku")
                        {
                            <th class="th_timeclock">
                                <div>@Localize.T("SKU")</div>
                                <div><i class="fa fa-angle-up icon_sort_eq" data-val="ascending/sku"></i><i class="fa fa-angle-down icon_sort_eq" data-val="descending/sku"></i></div>
                            </th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre">
                                <div>@Localize.T("SKU")</div>
                                <div><i class="fa fa-angle-up icon_sort_eq" data-val="ascending/sku"></i><i class="fa fa-angle-down icon_sort_eq" data-val="descending/sku"></i></div>
                            </th>
                        }

                    }
                    else if (item.SelectedColumn == "Rep Cost")
                    {
                        if (ViewBag.order == "ascending/repcost" || ViewBag.order == "descending/repcost")
                        {
                            <th class="th_timeclock">
                                <div>@Localize.T("Rep Cost")</div>
                                <div><i class="fa fa-angle-up icon_sort_eq" data-val="ascending/repcost"></i><i class="fa fa-angle-down icon_sort_eq" data-val="descending/repcost"></i></div>
                            </th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre">
                                <div>@Localize.T("Rep Cost")</div>
                                <div><i class="fa fa-angle-up icon_sort_eq" data-val="ascending/repcost"></i><i class="fa fa-angle-down icon_sort_eq" data-val="descending/repcost"></i></div>
                            </th>
                        }

                    }

                    else if (item.SelectedColumn == "Type")
                    {
                        if (ViewBag.order == "ascending/type" || ViewBag.order == "descending/type")
                        {
                            <th class="eq th_timeclock" data-info="Retail Price">
                                <div>@Localize.T("Type")</div>
                                <div><i class="fa fa-angle-up icon_sort_eq" data-val="ascending/type"></i><i class="fa fa-angle-down icon_sort_eq" data-val="descending/type"></i></div>
                            </th>
                        }
                        else
                        {
                            <th class="eq th_timeclock_pre" data-info="Retail Price">
                                <div>@Localize.T("Type")</div>
                                <div><i class="fa fa-angle-up icon_sort_eq" data-val="ascending/type"></i><i class="fa fa-angle-down icon_sort_eq" data-val="descending/type"></i></div>
                            </th>
                        }

                    }
                    else if (item.SelectedColumn == "On Hand Qty")
                    {
                        if (ViewBag.order == "ascending/qty" || ViewBag.order == "descending/qty")
                        {
                            <th class="eq th_timeclock" data-info="Wholesale">
                                <div>@Localize.T("Qty")</div>
                                <div><i class="fa fa-angle-up icon_sort_eq" data-val="ascending/qty"></i><i class="fa fa-angle-down icon_sort_eq" data-val="descending/qty"></i></div>
                            </th>
                        }
                        else
                        {
                            <th class="eq th_timeclock_pre" data-info="Wholesale">
                                <div>@Localize.T("Qty")</div>
                                <div><i class="fa fa-angle-up icon_sort_eq" data-val="ascending/qty"></i><i class="fa fa-angle-down icon_sort_eq" data-val="descending/qty"></i></div>
                            </th>
                        }

                    }

                }
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.InventorySetting) && CurrentUser.UserRole.ToLower().IndexOf("technician") != 0 && CurrentUser.UserRole.ToLower().IndexOf("installation") != 0)
                {
                    <th>
                        @Localize.T("Action")
                    </th>
                }
            </tr>
        </thead>

        @foreach (var item in Model.EquipmentList)
        {
            <tr class="tr-style @(Count%2==0?"even-row-style":"") Export_excel_equipment" data-id="@item.Id">


                @foreach (var setting in (List<HS.Entities.GridSetting>)ViewBag.InventoryGridSettings)
                {
                    if (setting.SelectedColumn.Trim() == "Category")
                    {
                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("Category") <span>:</span></div>
                            <div>
                                @if (CurrentUser.UserRole.ToLower().IndexOf("technician") == 0 || CurrentUser.UserRole.ToLower().IndexOf("installation") == 0)
                                {
                                    if (string.IsNullOrWhiteSpace(item.Category))
                                    {
                                        <span>@Localize.T("-")</span>
                                    }
                                    else
                                    {
                                        <span>@item.Category</span>
                                    }

                                }
                                else if (string.IsNullOrWhiteSpace(item.Category))
                                {
                                    <a href="@(AppConfig.DomainSitePath)/Inventory/EquipmentDetail/@item.Id" class="cus-anchor">@Localize.T("-")</a>
                                }
                                else
                                {
                                    <a href="@(AppConfig.DomainSitePath)/Inventory/EquipmentDetail/@item.Id" class="inventory-edit-name cus-anchor" data-id="@item.EquipmentClassId" idval="@item.Id">@item.Category</a>
                                }
                            </div>

                        </td>
                    }
                    else if (setting.SelectedColumn == "Manufacturer")
                    {
                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("Manufacturer") <span>:</span></div>
                            <div>
                                @if (item.ManufacturerName == "")
                                {
                                    <span>@Localize.T("-")</span>
                                }
                                else
                                {
                                    <span>@item.ManufacturerName </span>
                                }
                            </div>

                        </td>
                    }
                    else if (setting.SelectedColumn == "Description")
                    {
                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("Description") <span>:</span></div>
                            <div>

                                @if (CurrentUser.UserRole.ToLower().IndexOf("technician") == 0 || CurrentUser.UserRole.ToLower().IndexOf("installation") == 0)
                                {
                                    if (string.IsNullOrWhiteSpace(item.Name))
                                    {
                                        <span>@Localize.T("-")</span>
                                    }
                                    else
                                    {
                                        <span>@item.Name</span>
                                    }

                                }
                                else if (string.IsNullOrWhiteSpace(item.Name))
                                {
                                    <a href="@(AppConfig.DomainSitePath)/Inventory/EquipmentDetail/@item.Id" class="cus-anchor">@Localize.T("-")</a>
                                }
                                else
                                {
                                    <a href="@(AppConfig.DomainSitePath)/Inventory/EquipmentDetail/@item.Id" class="inventory-edit-name cus-anchor" data-id="@item.EquipmentClassId" idval="@item.Id">@item.Name</a>
                                }
                            </div>

                        </td>
                    }
                    else if (setting.SelectedColumn == "SKU")
                    {
                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("SKU") <span>:</span></div>
                            <div>
                                @if (item.SKU == "")
                                {
                                    <span>@Localize.T("-")</span>
                                }
                                else
                                {
                                    <span>@item.SKU </span>
                                }
                            </div>
                        </td>
                    }
                    else if (setting.SelectedColumn == "Rep Cost")
                    {
                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("Rep Cost") <span>:</span></div>
                            <div>
                                @if (item.RepCost == null)
                                {
                                    <span>@Localize.T("-")</span>
                                }
                                else
                                {
                                    <span>@item.RepCost </span>
                                }
                            </div>
                        </td>
                    }
                    else if (setting.SelectedColumn == "Type")
                    {

                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("Type") <span>:</span></div>
                            <div>
                                @if (item.EquipmentClassId == 1)
                            {
                                <span>Equipment</span>
                            }
                            else if (item.EquipmentClassId == 2)
                            {
                                <span>Service</span>
                            }
                        </div>

                        </td>
                    }
                    else if (setting.SelectedColumn == "On Hand Qty")
                    {
                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("On Hand Qty") <span>:</span></div>
                            <div>
                                @if (item.QtyOnHand == 0)
                                {
                                    <span class="stock-out-span">@item.QtyOnHand </span>
                                }
                                else if (item.QtyOnHand <= item.reorderpoint)
                                {
                                    <span class="stock-low-span">@item.QtyOnHand </span>
                                }
                                @*else if (item.QtyOnHand <= 0)
            {
                <span class="stock-out-span">@item.QtyOnHand </span>
            }*@
                                else
                                {
                                    <span>@item.QtyOnHand </span>
                                }
                            </div>
                        </td>
                    }
                }
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.InventorySetting) && CurrentUser.UserRole.ToLower().IndexOf("technician") != 0 && CurrentUser.UserRole.ToLower().IndexOf("installation") != 0)
                {
                    <td>
                        <div>@Localize.T("Action") <span>:</span></div>
                        <div><span title="Delete" class="equip-delete" data-id="@item.Id"><i class="fa fa-trash-o" aria-hidden="true"></i></span></div>
                    </td>
                }
            </tr>

            Count++;
        }
    </table>
</div>
<div class="AgentListPagination">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber), '@(ViewBag.order)')">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), '@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="InventorySearchKeyUp(1, '@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="InventorySearchKeyUp(2, '@(ViewBag.order)')">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), '@(ViewBag.order)')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), '@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="InventorySearchKeyUp(1, '@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="InventorySearchKeyUp(2, '@(ViewBag.order)')">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="InventorySearchKeyUp(3, '@(ViewBag.order)')">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="EquipmentSearchKeyUp(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), '@(ViewBag.order)')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber-1), '@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber-2), '@(ViewBag.order)')">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber-1), '@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber), '@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="InventorySearchKeyUp()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber-1), '@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber+1), '@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber + 2), '@(ViewBag.order)')">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber+1), '@(ViewBag.order)')">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber-1), '@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber-1), '@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber + 1), '@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber+1), '@(ViewBag.order)')">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber-1), '@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber - 1), '@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber), '@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber + 1), '@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber+1), '@(ViewBag.order)')">Next</button>
                </div>
            }
        }
    </div>
</div>
@*<div class="custom-pager hidden">
        <ul class="pager">
            <li><a href="javascript:void(0)">@Localize.T("Previous")</a></li>
            <li><a href="javascript:void(0)">@Localize.T("Next")</a></li>
        </ul>
    </div>*@
<div class="hidden" style="display:none;">
    <a href="" class="ExportEquipmentReport"></a>
</div>
