@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency();
}
@using HS.Framework
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.PayrollTermSheet>
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Payroll/AddPayrollSetting.css" rel="stylesheet" />
<script>
    var DeletedId = 0;
    var PayrollSetting = function (termSheetId) {
        OpenTopToBottomModal("Reports/PayrollSetting?TermSheetId=" + termSheetId );
    }
    var AddPayrollTermSheet = function () {
        OpenRightToLeftModal(domainurl + "/Reports/AddPayrollTermSheet");
    }
    var EditPayrollTermSheet = function (Id) {
        OpenRightToLeftModal(domainurl + "/Reports/AddPayrollTermSheet?Id=" + Id);
    }
    var DeletePayrollTermSheetConfirm = function () {
        var url = domainurl + "/Reports/DeletePayrollTermSheet";
        var param = JSON.stringify({
            Id: DeletedId
        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                OpenSuccessMessageNew("Success!", "", new function () {
                    LoadTermSheetTab();
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    var DeletePayrollTermSheet = function (Id) {
        DeletedId = Id;
        OpenConfirmationMessageNew("Confirm?", "Are you sure you want to delete?", DeletePayrollTermSheetConfirm);
    }
</script>
<div class="term_sheet_container">
    <button class="btn green_button" onclick="AddPayrollTermSheet()" title="Add term sheet"><i class="fa fa-plus"></i> New</button>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <div>@Localize.T("Name")</div>

                </th>
                <th>
                    <div>@Localize.T("Is Standard")</div>

                </th>
                <th><div>@Localize.T("Action")</div>
                
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <div>@Localize.T("Name") <span>:</span></div>
                    <div>
                        <a class="name_anchor_style" onclick="EditPayrollTermSheet(@item.Id)">@item.Name</a><br />
                    </div>
                </td>
                <td>
                    <div>@Localize.T("Is Standard") <span>:</span></div>
                    <div>
                        @if (item.IsBase)
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </div>
                </td>

                <td class="termSheet_icon">
                    <div>@Localize.T("Action") <span>:</span></div>
                <div>
                    <button onclick="PayrollSetting('@item.TermSheetId')" title="Settings" class="btn green_button"><i class="fa fa-cog" aria-hidden="true"></i></button>
                    <button title="Delete" onclick="DeletePayrollTermSheet(@item.Id)" class="btn red_button"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>




