@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency();
}
@using HS.Framework
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.PayrollTermSheetManager>
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Payroll/AddPayrollSetting.css" rel="stylesheet" />
<script>
    var DeletedId = 0;
    var AddPayrollTermSheetManager = function () {
        OpenRightToLeftModal(domainurl + "/Reports/AddPayrollTermSheetManager");
    }
    var EditPayrollTermSheetManager = function (Id) {
        OpenRightToLeftModal(domainurl + "/Reports/AddPayrollTermSheetManager?Id=" + Id);
    }
    var DeletePayrollTermSheetManagerConfirm = function () {
        var url = domainurl + "/Reports/DeletePayrollTermSheetManager";
        var param = JSON.stringify({
            Id: DeletedId
        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                OpenSuccessMessageNew("Success!", "", new function () {
                    LoadTermSheetManagerTab();
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    var DeletePayrollTermSheetManager = function (Id) {
        DeletedId = Id;
        OpenConfirmationMessageNew("Confirm?", "Are you sure you want to delete?", DeletePayrollTermSheetManagerConfirm);
    }
</script>
<div class="TermSheetManager_container">
    <button class="btn green_button" onclick="AddPayrollTermSheetManager()" title="Add TermSheetManager"><i class="fa fa-plus"></i> New</button>
    <table class="table">
        <thead>
            <tr>
                <th>@Localize.T("Manager")</th>
                <th>@Localize.T("Value")  </th>
                <th>@Localize.T("Action")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div>@Localize.T("Manager")<span>:</span></div>
                        <div>
                            <a class="name_anchor_style" onclick="EditPayrollTermSheetManager(@item.Id)">@item.Name</a><br />
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Value") <span>:</span></div>
                        <div>
                            @if (item.Type == "FlatFee")
                            {
                                <span>@Currency@LabelHelper.FormatAmount(item.Value)</span>
                            }
                            else if (item.Type == "Multiple")
                            {
                                <span>@LabelHelper.FormatAmount(item.Value)</span>
                            }
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Action")<span>:</span></div>
                        <div>
                            <span title="Delete" onclick="DeletePayrollTermSheetManager(@item.Id)"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>







