@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

    <script>

    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    var DataTablePageSize = 50;
    var PayrollStartDatepicker;
    var PayrollEndDatepicker;

    var LoadTicketReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Ticket_Report").html(TabsLoaderText);
        $(".Load_Ticket_Report").load(domainurl + "/Reports/TicketReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var LoadTicketReportTabReference = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Ticket_Report_reference").html(TabsLoaderText);
        $(".Load_Ticket_Report_reference").load(domainurl + "/Reports/TicketReportPartialDateReference?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var LoadTicketReportGoBack = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Ticket_Report_GoBack").html(TabsLoaderText);
        $(".Load_Ticket_Report_GoBack").load(domainurl + "/Reports/TicketReportPartialGoBack?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var LoadTicketReportInstall = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Ticket_Report_install").html(TabsLoaderText);
        $(".Load_Ticket_Report_install").load(domainurl + "/Reports/TicketReportPartialInstall?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }
    var LoadTicketReportAllEquipment = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Ticket_Report_AllEquipment").html(TabsLoaderText);
        $(".Load_Ticket_Report_AllEquipment").load(domainurl + "/Reports/AllEquipmentReport?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }
        var LoadTicketReportServicTracker = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Ticket_Report_servicetracker").html(TabsLoaderText);
        $(".Load_Ticket_Report_servicetracker").load(domainurl + "/Reports/ServiceTrackerReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }
    var LoadTicketReportTaskList = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Ticket_Report_taskreport").html(TabsLoaderText);
        $(".Load_Ticket_Report_taskreport").load(domainurl + "/Reports/TaskReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }
    var LoadTicketReportInstallTracker = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Ticket_Report_installTracker").html(TabsLoaderText);
        $(".Load_Ticket_Report_installTracker").load(domainurl + "/Reports/InstallationTrackerReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }
    var LoadTicketReportUserActivity = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Ticket_Report_userActivity").html(TabsLoaderText);
        $(".Load_Ticket_Report_userActivity").load(domainurl + "/Reports/CSRActivityReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }
    var LoadTicketReportTechnician = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Ticket_Report_technician").html(TabsLoaderText);
        $(".Load_Ticket_Report_technician").load(domainurl + "/Reports/TechnicianReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }
    var LoadTicketReportSummary = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Ticket_Summary_Report").html(TabsLoaderText);
        $(".Ticket_Summary_Report").load(domainurl + "/Reports/TicketSummaryReport?"); //Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var LoadPRReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".PR_Report_Tab").html(TabsLoaderText);
        $(".PR_Report_Tab").load(domainurl + "/Reports/PRReport?"); //Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var LoadInstalledTicketReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".InstalledTicket_Report_Tab").html(TabsLoaderText);
        $(".InstalledTicket_Report_Tab").load(domainurl + "/Reports/InstalledTicketReport"); //Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }
    var LoadTicketReportAppointmentDateTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".NewAppointmentDateReport_Report_Tab").html(TabsLoaderText);
        $(".NewAppointmentDateReport_Report_Tab").load(domainurl + "/Reports/AppointmentDateReport?viewtype=webview"); //Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }
       var LoadTicketReportDateReferenceTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".NewDateReferenceReport_Report_Tab").html(TabsLoaderText);
        $(".NewDateReferenceReport_Report_Tab").load(domainurl + "/Reports/DateReferenceReport?viewtype=webview"); //Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }
       var LoadTicketReportGoBackTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".NewGoBackReport_Report_Tab").html(TabsLoaderText);
        $(".NewGoBackReport_Report_Tab").load(domainurl + "/Reports/GoBackReport?viewtype=webview"); //Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }
    var my_date_format = function (input) {
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        //LoadTicketReportTab();
  

        @if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.RugTicketReport))
        {
        <text>
        LoadTicketReportTab();
        </text>
        }
        else
        {
         <text>

         LoadTicketReportAppointmentDateTab();
         </text>

        }


        $(".TicketReportTab").click(function () {
            LoadTicketReportTab();
        });
        $(".TicketReportTab_reference").click(function () {
            LoadTicketReportTabReference();
        });
        $(".TicketReportTab_GoBack").click(function () {
            LoadTicketReportGoBack();
        });
        $(".TicketReportTab_install").click(function () {
            LoadTicketReportInstall();
        });
        $(".TicketReportTab_AllEquipment").click(function () {
            LoadTicketReportAllEquipment();
        });
        $(".TicketReportTab_servicetracker").click(function () {
            LoadTicketReportServicTracker();
        });
        $(".TicketReportTab_taskreport").click(function () {
            LoadTicketReportTaskList();
        });
        $(".TicketReportTab_installTracker").click(function () {
            LoadTicketReportInstallTracker();
        });
        $(".TicketReportTab_userActivity").click(function () {
            LoadTicketReportUserActivity();
        });
        $(".TicketReportTab_technician").click(function () {
            LoadTicketReportTechnician();
        });
        $(".TicketReportTab_Summary").click(function () {
            LoadTicketReportSummary();
        });
        $(".TicketReportTab_PRReport").click(function () {
            LoadPRReportTab();
        });
        $(".TicketReportTab_InstalledTicketReport").click(function () {
            LoadInstalledTicketReportTab();
        });
        $(".TicketReportTab_NewAppointmentDateReport").click(function () {
            LoadTicketReportAppointmentDateTab();
        });
        $(".TicketReportTab_NewDateReferenceReport").click(function () {
            LoadTicketReportDateReferenceTab();
        });
        $(".TicketReportTab_NewGoBackReport").click(function () {
            LoadTicketReportGoBackTab();
        });
              $('ul.payroll_report_top_nav li a').click(function (e) {
        if (!TabPopStateCheck) {
            window.history.pushState({ urlPath: window.location.pathname }, "", $(e.target).attr('tabname'));
        }
        TabPopStateCheck = false;
           });
          if (top.location.hash != '') {
        if ($("[tabname='" + top.location.hash + "']").length > 0) {
            TabPopStateCheck = true;
            $("[tabname='" + top.location.hash + "']").click();
        }
        }

    //    $(".DateFilterContents .btn-apply-Datefilter").unbind().click(function () {
    //    var DateFrom = $(".min-date").val();
    //    var DateTo = $(".max-date").val();
    //    UpdatePtoCookie();

    //    if (top.location.hash != "") {
    //        if (top.location.hash == "#AppointmentDateReportTab") {
    //            LoadTicketReportTab();
    //        }
    //        else if (top.location.hash == "#DateReferenceReportTab") {
    //            LoadTicketReportTabReference();
    //        }
    //        else if (top.location.hash == "#GoBackReportTab") {
    //            LoadTicketReportGoBack();
    //        }
    //        else if (top.location.hash == "#InstalledEquipmentReportTab") {
    //            LoadTicketReportInstall();
    //        }
    //        else if (top.location.hash == "#AllEquipmentReportTab") {
    //            LoadTicketReportAllEquipment();
    //        }
    //        else if (top.location.hash == "#TicketSummaryReportTab") {
    //            LoadTicketReportSummary();
    //        }
    //        else if (top.location.hash == "#SummaryReportTab") {
    //            LoadPRReportTab();
    //        }
    //        else if (top.location.hash == "#InstalledTicketReportTab") {
    //            LoadInstalledTicketReportTab();
    //        }
    //        else if (top.location.hash == "#InstallationTrackerReportTab") {
    //            LoadTicketReportInstallTracker();
    //        }
    //        else if (top.location.hash == "#UserActivityReportTab") {
    //            LoadTicketReportUserActivity();
    //        }
    //        else if (top.location.hash == "#TechnicianReportTab") {
    //            LoadTicketReportTechnician();
    //        }
    //        else if (top.location.hash == "#ServiceTrackerReportTab") {
    //            LoadTicketReportServicTracker();
    //        }
    //        else if (top.location.hash == "#TaskReportTab") {
    //            LoadTicketReportTaskList();
    //        }
    //    }
    //    else {
    //        LoadTicketReportTab();
    //    }
    //    var StartDate = my_date_format($(".DateFilterContents .min-date").val());
    //    var EndDate = my_date_format($(".DateFilterContents .max-date").val())
    //    if (StartDate == "NaN undefined, NaN") {
    //        StartDate = "All Time";
    //        EndDate = "";
    //    }

    //    $(".DateFilterContents .date-start").html("");
    //    $(".DateFilterContents .date-end").html("");
    //    $(".DateFilterContents .date-start").html(StartDate);
    //    $(".DateFilterContents .date-end").html(EndDate);
    //    $(".DateFilterContents .dropdown-filter").hide();

    //});
    });
    </script>
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">
    @Localize.T("Reports")
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>
</div>


<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs payroll_report_top_nav" id="myTab">
            @{
                if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.RugTicketReport))
                {
                    <li class="TicketReportTab active">
                        <a idval="" data-target="#TicketReport" data-toggle="tab">@Localize.T("Ticket")</a>
                    </li>
                }
                else
                {
                    
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.AppointmentDateReport))
                    {
                        <li class="TicketReportTab hidden">
                            <a tabname="#AppointmentDateReportTab" idval="" data-target="#TicketReport" data-toggle="tab">@Localize.T("Appointment Date")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.DateReferenceReport))
                    {
                        <li class="TicketReportTab_reference hidden">
                            <a tabname="#DateReferenceReportTab" idval="" data-target="#TicketReport_reference" data-toggle="tab">@Localize.T("Date Reference")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.GoBackReport))
                    {
                        <li class="TicketReportTab_GoBack hidden">
                            <a tabname="#GoBackReportTab" idval="" data-target="#TicketReport_GoBack" data-toggle="tab">@Localize.T("Go Back")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.AppointmentDateReport))
                    {

                        <li class="TicketReportTab_NewAppointmentDateReport active">
                            <a tabname="#NewAppointmentDateReportTab" idval="" data-target="#TicketReportTab_NewAppointmentDateReport" data-toggle="tab">@Localize.T("Appointment Date")</a>
                        </li>

                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.DateReferenceReport))
                    {
                        <li class="TicketReportTab_NewDateReferenceReport">
                            <a tabname="#NewDateReferenceReportTab" idval="" data-target="#TicketReportTab_NewDateReferenceReport" data-toggle="tab">@Localize.T("Date Reference")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.GoBackReport))
                    {
                        <li class="TicketReportTab_NewGoBackReport">
                            <a tabname="#NewGoBackReportTab" idval="" data-target="#TicketReportTab_NewGoBackReport" data-toggle="tab">@Localize.T("Go Back")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.InstalledEquipmentReport))
                    {
                        <li class="TicketReportTab_install">
                            <a tabname="#InstalledEquipmentReportTab" idval="" data-target="#TicketReportTab_install" data-toggle="tab">@Localize.T("Installed Equipment")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.AllEquipmentReport))
                    {
                        <li class="TicketReportTab_AllEquipment">
                            <a tabname="#AllEquipmentReportTab" idval="" data-target="#TicketReportTab_AllEquipment" data-toggle="tab">@Localize.T("All Equipment")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.TicketSummaryReport))
                    {
                        <li class="TicketReportTab_Summary">
                            <a tabname="#TicketSummaryReportTab" idval="" data-target="#TicketReportTab_Summary" data-toggle="tab">@Localize.T("Summary")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.PRReportTab))
                    {
                        <li class="TicketReportTab_PRReport">
                            <a tabname="#SummaryReportTab" idval="" data-target="#TicketReportTab_PRReport" data-toggle="tab">@Localize.T("Summary")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.InstalledTicketReport))
                    {
                        <li class="TicketReportTab_InstalledTicketReport">
                            <a tabname="#InstalledTicketReportTab" idval="" data-target="#TicketReportTab_InstalledTicketReport" data-toggle="tab">@Localize.T("Peanut Butter")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.InstallationTrackerReport))
                    {
                        <li class="TicketReportTab_installTracker">
                            <a tabname="#InstallationTrackerReportTab" idval="" data-target="#TicketReportTab_installTracker" data-toggle="tab">@Localize.T("Installation Tracker")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.UserActivityReport))
                    {
                        <li class="TicketReportTab_userActivity">
                            <a tabname="#UserActivityReportTab" idval="" data-target="#TicketReportTab_userActivity" data-toggle="tab">@Localize.T("User Activity")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.TechnicianReport))
                    {
                        <li class="TicketReportTab_technician">
                            <a tabname="#TechnicianReportTab" idval="" data-target="#TicketReportTab_technician" data-toggle="tab">@Localize.T("Technician")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.ServiceTrackerReportTab))
                    {
                        <li class="TicketReportTab_servicetracker">
                            <a tabname="#ServiceTrackerReportTab" idval="" data-target="#TicketReportTab_servicetracker" data-toggle="tab">@Localize.T("Service Tracker")</a>
                        </li>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.TasksReportTab))
                    {
                        <li class="TicketReportTab_taskreport">
                            <a tabname="#TaskReportTab" idval="" data-target="#TicketReportTab_taskreport" data-toggle="tab">@Localize.T("Tasks")</a>
                        </li>
                    }


                }
            }
        </ul>
        <div class="tab-content reports_tab_content">
            @{
                if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.RugTicketReport))
                {
                    <div class="tab-pane active" id="TicketReport">
                        <div class="row leads_report_top_bar">

                            <div class="Load_Ticket_Report">

                            </div>
                        </div>

                    </div>
                }
                else
                {
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.AppointmentDateReport))
                    {
                        <div class="tab-pane" id="TicketReport">
                            <div class="row leads_report_top_bar">

                                <div class="Load_Ticket_Report">

                                </div>
                            </div>

                        </div>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.DateReferenceReport))
                    {
                        <div class="tab-pane" id="TicketReport_reference">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="Load_Ticket_Report_reference">

                            </div>

                        </div>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.GoBackReport))
                    {
                        <div class="tab-pane" id="TicketReport_GoBack">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="Load_Ticket_Report_GoBack">

                            </div>

                        </div>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.AppointmentDateReport))
                    {
                        <div class="tab-pane active" id="TicketReportTab_NewAppointmentDateReport">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="NewAppointmentDateReport_Report_Tab">

                            </div>

                        </div>
                    }

                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.DateReferenceReport))
                    {

                        <div class="tab-pane" id="TicketReportTab_NewDateReferenceReport">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="NewDateReferenceReport_Report_Tab">

                            </div>

                        </div>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.GoBackReport))
                    {
                        <div class="tab-pane" id="TicketReportTab_NewGoBackReport">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="NewGoBackReport_Report_Tab">

                            </div>

                        </div>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.InstalledEquipmentReport))
                    {
                        <div class="tab-pane" id="TicketReportTab_install">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="Load_Ticket_Report_install">

                            </div>

                        </div>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.AllEquipmentReport))
                    {
                        <div class="tab-pane" id="TicketReportTab_AllEquipment">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="Load_Ticket_Report_AllEquipment">

                            </div>

                        </div>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.ServiceTrackerReportTab))
                    {
                        <div class="tab-pane" id="TicketReportTab_servicetracker">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="Load_Ticket_Report_servicetracker">

                            </div>

                        </div>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.TasksReportTab))
                    {
                        <div class="tab-pane" id="TicketReportTab_taskreport">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="Load_Ticket_Report_taskreport">

                            </div>

                        </div>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.InstallationTrackerReport))
                    {
                        <div class="tab-pane" id="TicketReportTab_installTracker">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="Load_Ticket_Report_installTracker">

                            </div>

                        </div>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.UserActivityReport))
                    {
                        <div class="tab-pane" id="TicketReportTab_userActivity">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="Load_Ticket_Report_userActivity">

                            </div>

                        </div>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.TechnicianReport))
                    {
                        <div class="tab-pane" id="TicketReportTab_technician">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="Load_Ticket_Report_technician">

                            </div>

                        </div>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.TicketSummaryReport))
                    {
                        <div class="tab-pane" id="TicketReportTab_Summary">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="Ticket_Summary_Report">

                            </div>

                        </div>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.PRReportTab))
                    {
                        <div class="tab-pane" id="TicketReportTab_PRReport">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="PR_Report_Tab">

                            </div>

                        </div>
                    }
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.InstalledTicketReport))
                    {
                        <div class="tab-pane" id="TicketReportTab_InstalledTicketReport">
                            <div class="row leads_report_top_bar">


                            </div>
                            <div class="InstalledTicket_Report_Tab">

                            </div>

                        </div>
                    }


                }
            }
        </div>
    </div>
</div>

