@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var pagenumber = '@ViewBag.PageNumber';
    var StartDate = '@ViewBag.Start';
    var EndDate = '@ViewBag.End';
    
    var NavigateUserPaymentFundedListing = function (pagenumber, order) {
        var searchText = $("#ticket_search").val();
        $("#LoadUserPaymentReport").html(LoaderDom);
        StartDate = $(".min-date").val();
        EndDate = $(".max-date").val();
        filterText = $("#EmpList").val();
        ticketTypeList = encodeURI($("#TicketTypeList").val());
        console.log(ticketTypeList);
        userGroup = $("#UserGroupDropDownList").val();
        $("#LoadUserPaymentReport").load(domainurl + "/Reports/LoadUserPaymentList", {
            PageNo: pagenumber,
            SearchText: searchText,
            order: order,
            StartDate: StartDate,
            EndDate:EndDate,
            FilterText: filterText,
            UserGroup: userGroup,
            TicketType: encodeURI(ticketTypeList)
        });
    }
    var DownLoadNavigatePaymentListing = function (pagenumber, order) {
        //var searchText = $("#ticket_search").val();
        //$("#LoadMemberCommReport").html(LoaderDom);
        filterText = $("#EmpList").val();
        UserGroup = $("#UserGroupDropDownList").val();
        ticketType = encodeURI($("#TicketTypeList").val());
        StartDate = $(".min-date").val();
        EndDate = $(".max-date").val();
        IsPaid = true;

        //console.log(techperson);

        location.href = domainurl + "/Reports/LoadUserPaymentList/?GetReport=true" + "&PageNo=1" + "&IsPaid=" + IsPaid + "&order=" + order + "&StartDate=" + StartDate + "&EndDate=" + EndDate + "&FilterText=" + filterText + "&UserGroup=" + UserGroup + "&TicketType=" + encodeURI(ticketType);


    }
    var MakePaymentFundComm = function () {
        OpenConfirmationMessageNew("", "Are you sure you want to pay for this selected commission?", function () {
            MakePaymentFundedCommConfirm();
        });
    }
    $(document).ready(function () {
        NavigateUserPaymentFundedListing(1);
        $(".Searchticket").click(function () {
            setTimeout(function () {
                NavigateUserPaymentFundedListing(1);
            }, 50);
        })

        $("#btnDownloadPayment").click(function () {

            var orderval = order;
            DownLoadNavigatePaymentListing(1, orderval);

        });

        $("#EmpList").change(function () {
            NavigateUserPaymentFundedListing(1);
        })
        $("#UserGroupDropDownList").change(function () {
            NavigateUserPaymentFundedListing(1);
        })
        $("#TicketTypeList").change(function () {
            NavigateUserPaymentFundedListing(1);
        })


        $("#btnDownloadPayrollCallCommission").click(function () {


            if (StartDate.trim().length == 10 && EndDate.trim().length == 10) {
                StartDate = StartDate.replaceAll('/', '_');
                EndDate = EndDate.replaceAll('/', '_');
                location.href = domainurl + "/Reports/ServiceCallReportPartial/?Start=" + StartDate + "&End=" + EndDate + "&GetReport=true";
            } else {
                location.href = domainurl + "/Reports/ServiceCallReportPartial/?GetReport=true";
            }
        });
    });
</script>
<style>
    #btnDownloadPayrollFundedCommission {
        float: right;
        background-color: #2ca01c;
        color: white;
    }
</style>
<link href="~/Content/Css/Report/PayrollReport.css" rel="stylesheet" />
<div class="payroll_list_container payroll_container_main">
    @*<button title="@Localize.T(" Download")" class="btn" id="btnDownloadPayrollFundedCommission"><i class="fa fa-download"></i></button>*@
    <div class="all_invoices_partial_container">
    
        <div class="report_top_search_bar for_UserPaymentPartial">
            <div class="input-group add-on">
               
                <div class="input-group-btn">
                    @Html.DropDownList("EmpList", (List<SelectListItem>)ViewBag.EmployeeNameList, new { @class = "form-control", id = "EmpList" })
                </div>
                <div class="input-group-btn">
                    @Html.DropDownList("UserGroupDropDownList", ViewBag.UserGroupList as List<SelectListItem>, new { @class = "form-control", id = "UserGroupDropDownList" })
                    @*@Html.DropDownList("ticketTypeList", (List<SelectListItem>)ViewBag.EmployeeNameList, new { @class = "form-control", id = "ticketTypeList", @title = "Select Sales Person" })*@
                </div>

                <div class="input-group-btn">
                    @Html.DropDownList("TicketTypeList", ViewBag.TicketType as List<SelectListItem>, new { @class = "form-control", id = "TicketTypeList" })
                </div>

            </div>
     

            <button title="Download" class="btn btnBI" id="btnDownloadPayment"><i class="fa fa-download" aria-hidden="true"></i></button>
        </div>
        <div class="invoices-tabs">
            <div class="nav-detail-contents">
                <div class="tab-content">
                    <div id="LoadUserPaymentReport" class="tab-pane active">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










