@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
    var TotalReadUnRead = 0;
    var TotalUnRead = 0;
    var TotalCompleted = 0;
}
@model HS.Entities.AccountabilityReportModel
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/RecurringBillingReportPartial.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";
    var pageno = '@ViewBag.PageNumber';
    var AccountabilityHistory = function (keyword, Order) {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        OpenTopToBottomModal(domainurl + "/Reports/AccountabilityHistory/?UserId=" + encodeURI(keyword) + "&Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&Order=" + Order);
    }
    var AccountabilityUnReadHistory = function (keyword, Order) {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        OpenTopToBottomModal(domainurl + "/Reports/AccountabilityUnReadHistory/?UserId=" + encodeURI(keyword) + "&Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&Order=" + Order);
    }
    var AccountabilityCompltedHistory = function (keyword, Order) {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        OpenTopToBottomModal(domainurl + "/Reports/AccountabilityCompletedHistory/?UserId=" + encodeURI(keyword) + "&Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&Order=" + Order);
    }
    $(document).ready(function () {
        $(".report_table_scroll").height(window.innerHeight - 236);

        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            loadaccountability(pageno, orderval);
        });
    });
</script>
<input type="hidden" id="orderid" value="@ViewBag.order" />
<div class="new_sales_report_table_div">
    <table class="loadticketreportlist_table anr_report_table">
        <thead class="table-head-border">
            <tr>
                <th class="thead-th-style">
                    <div>@Localize.T("Assigned Users")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/phrase"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/phrase"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Articles")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/count"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/count"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Unread")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/unread"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/unread"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Completed")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/completed"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/completed"></i></div>
                </th>
            </tr> 
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model.List)
                {
                    TotalReadUnRead += item.Artical;
                    TotalUnRead += item.TotalUnread;
                    TotalCompleted += item.TotalCompleted;
                    <tr class="tr-style">
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Assigned Users")</div>
                            <div class="ticket_list_partial_device_info">
                                @Html.Raw(item.Name)
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Count")</div>
                            <div class="ticket_list_partial_device_info">
                                @if (item.Artical > 0)
                                {
                                    <a href="javascript:void(0)" class="sl_count_list" onclick="AccountabilityHistory('@item.UserId', null)">@item.Artical</a>
                                }
                                else
                                {
                                    <span>@item.Artical</span>
                                }
                            </div>
                        </td>
                        <td>
                            <div class="ticket_list_partial_device_header">@Localize.T("Unread")</div>
                            <div class="ticket_list_partial_device_info">
                                @if (item.TotalUnread > 0)
                                {
                                    <a href="javascript:void(0)" class="sl_count_list" onclick="AccountabilityUnReadHistory('@item.UserId', null)">@item.TotalUnread</a>
                                }
                                else
                                {
                                    <span>@item.TotalUnread</span>
                                }
                            </div>
                        </td>
                        <td>
                            <div class="ticket_list_partial_device_header">@Localize.T("Completed")</div>
                            <div class="ticket_list_partial_device_info">
                                @if (item.TotalCompleted > 0)
                                {
                                    <a href="javascript:void(0)" class="sl_count_list" onclick="AccountabilityCompltedHistory('@item.UserId', null)">@item.TotalCompleted</a>
                                }
                                else
                                {
                                    <span>@item.TotalCompleted</span>
                                }
                            </div>
                        </td>
                    </tr>

                }
                <tr class="tr-style">
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Assigned Users")</div>
                        <div class="ticket_list_partial_device_info">
                            <strong>@Localize.T("Total")</strong>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Count")</div>
                        <div class="ticket_list_partial_device_info">
                            <strong>@(TotalReadUnRead > 0 ? TotalReadUnRead : 0)</strong>
                        </div>
                    </td>
                    <td>
                        <div class="ticket_list_partial_device_header">@Localize.T("Unread")</div>
                        <div class="ticket_list_partial_device_info">
                            <strong>@(TotalUnRead > 0 ? TotalUnRead : 0)</strong> 
                        </div>
                    </td>
                    <td>
                        <div class="ticket_list_partial_device_header">@Localize.T("Completed")</div>
                        <div class="ticket_list_partial_device_info">
                            <strong>@(TotalCompleted > 0 ? TotalCompleted : 0)</strong>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>


<div class="AgentListPagination">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="loadaccountability(@(ViewBag.PageNumber))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="loadaccountability(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="loadaccountability(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="loadaccountability(2)">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="loadaccountability(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="loadaccountability(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="loadaccountability(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="loadaccountability(2)">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="loadaccountability(3)">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="loadaccountability(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="loadaccountability(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="loadaccountability(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="loadaccountability(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="loadaccountability(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="loadaccountability()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="loadaccountability(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="loadaccountability(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="loadaccountability(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="loadaccountability(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="loadaccountability(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="loadaccountability(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="loadaccountability(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="loadaccountability(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="loadaccountability(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="loadaccountability(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="loadaccountability(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="loadaccountability(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="loadaccountability(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
        }
    </div>
</div>

