@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using AppConfig = HS.Framework.Utils.AppConfig;
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@model HS.Entities.AccountabilityHistoryReportModel

<link href="~/Content/Css/Report/SalesPersonPopup.css" rel="stylesheet" />
<style>
    .pending-list,
    .pending-list:hover,
    .pending-list:active,
    .pending-list:focus {
        color: #5cb85c;
    }

    .sorting_style thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .sorting_style thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }

        .sorting_style thead tr th div:nth-child(2) i {
            float: right;
            cursor: pointer;
            width: 100%;
            text-align: right;
            color: #bdbdbd;
        }

            .sorting_style thead tr th div:nth-child(2) i:nth-child(2) {
                margin-top: -5px;
            }
</style>
<script>
    var UserId = '@ViewBag.UserId';
    var ShowFullMessage = function (Fullurl) {
        window.open(Fullurl, '_blank');
    };
    $(document).ready(function () {
        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            parent.AccountabilityHistory(UserId, orderval);
        });
        $(".sp_pop_inner_height").height(window.innerHeight - 75);
    });
    $(window).resize(function () {
        $(".sp_pop_inner_height").height(window.innerHeight - 75);
    })
</script>
<div class="sp_pop_container">
    <div class="sp_pop_header">Accountability of @ViewBag.Keyword</div>
    <div class="sp_pop_inner_height">
        <div class="sp_pop_inner">
            <div class="sp_pop_info_block">
                <table class="table table-bordered sorting_style">
                    <thead class="table-head-border ep_hide_for_device">
                        <tr>
                            <th class="th_timeclock_pre">
                                <div class="srth_style">
                                    <div>@Localize.T("Articles")</div>
                                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/articles"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/articles"></i></div>
                                </div>
                            </th>
                            <th class="th_timeclock_pre">
                                <div class="srth_style">
                                    <div>@Localize.T("Assigned On")</div>
                                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/assignedon"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/assignedon"></i></div>
                                </div>
                            </th>
                            <th class="th_timeclock_pre">
                                <div class="srth_style">
                                    <div>@Localize.T("Read On")</div>
                                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/readon"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/readon"></i></div>
                                </div>
                            </th>
                            <th class="th_timeclock_pre">
                                <div class="srth_style">
                                    <div>@Localize.T("Assigned By")</div>
                                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/assignedby"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/assignedby"></i></div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.List)
                        {
                            string fullurl = string.Concat(AppConfig.SiteDomain, "/knowledgebase/Id=" + item.Id);
                            <tr>
                                <td>
                                    <div>
                                        <a href="javascript:void(0)" class="cus-anchor kn_ques" onclick="ShowFullMessage('@fullurl')">@item.Name</a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @item.AssignedDate.ToString("M/d/yyyy h:mm tt")
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @if (item.EndDate.HasValue && item.EndDate.Value != new DateTime())
                                        {
                                            <i class="fa fa-check-circle-o" style="color: #2ca01c; font-size: 17px;" aria-hidden="true" title="Completed"></i> @item.EndDate.Value.ToString("M/d/yyyy h:mm tt")
                                        }
                                        else
                                        {
                                            <i class="fa fa-circle-o" style="font-size: 17px;" aria-hidden="true" title="Not Completed"></i>
                                        }
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @item.AssignedBy
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="sp_pop_footer">
        Total: @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)
    </div>
</div>
