@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
}
@model HS.Entities.AdjustmentFunding
<link href="~/Content/Css/CustomerPublic/RefferedCustomer/ReferedFriend.css" rel="stylesheet" />
<script>
    var CloseDatepicker;
    $(document).ready(function () {
        CloseDatepicker = new Pikaday({
            format: 'MM/DD/YYYY',
            field: $('#Date')[0],
            trigger: $('#DateCustom')[0],
            firstDay: 1
        });
        $("#btn-SaveAdjustmentInfo").click(function () {
            var param = {
                "Id": $("#Id").val(),
                "UserId": $("#UserId").val(),
                "Reason": $("#Reason").val(),
                "Amount": $("#Amount").val(),
                "Date": $("#Date").val(),
            };
            console.log(param);
            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: "/Reports/AddAdjustment",
                data: JSON.stringify(param),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data.result == true) {
                        OpenSuccessMessageNew("", data.message, function () {
                            $(".close").click();
                            LoadFundedReportTab();

                        });
                    }
                    else {
                        OpenErrorMessageNew("", data.message, function () { });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {

                }
            });

        })
    });
</script>
<div class="refered_friend_header">
    <span>@Localize.T("Create Adjustment")</span>
</div>
<div class="refered_friend_container">
    @Html.HiddenFor(m => m.Id)
    <div class="row">
        <div class="col-md-12 add_followup_reminder_body">
            <div class="form-group clearfix item_margin">
                <span class="reminder-form">@Localize.T("User")</span>
                @Html.DropDownListFor(m => m.UserId, ViewBag.EmpList as List<SelectListItem>, new { @class = "form-control", placeholder = "EmpListDropdown" })
            </div>
            <div class="form-group clearfix item_margin">
                <span class="reminder-form">@Localize.T("Reason")</span>
                <input type="text" id="Reason" class="form-control" name="name" placeholder="Reason" datarequired="true" value="@Model.Reason" />
            </div>
            <div class="form-group clearfix item_margin">
                <span class="reminder-form">@Localize.T("Amount")</span>
                <input type="number" id="Amount" class="form-control" name="name" placeholder="Amount" datarequired="true" value="@Model.Amount" />
            </div>
            <div class="form-group clearfix item_margin">
                <span class="reminder-form">@Localize.T("Date")</span>
                <div class="input_group_for_date add-on" id="DateCustom">
                    @Html.TextBoxFor(m => m.Date, "", new { @class = "form-control close-datepicker", Placeholder = "Date", id = "Date" })
                    <div class="input-group-btn">
                        <btn class="btn">
                            <i class="fa fa-calendar" aria-hidden="true" style="cursor:pointer;"></i>
                        </btn>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<section class="footer-section">
    <footer class="footer">
        <div class="Survey_SaveCancelDiv">
            <button id="btn-SaveAdjustmentInfo" type="button" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save")</button>
        </div>
    </footer>
</section>




