@{
    Layout = null;

}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@model HS.Entities.AllRecordsReportModel
<script>
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";
    var pageno = '@ViewBag.PageNumber';

    $(document).ready(function () {

        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            AllRecordsReportLoad(pageno, orderval);
        });
    });
</script>
<table class="table" id="AllRecordTable">
    <thead class="table-head-border">
        <tr>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Details")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/customer"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/customer"></i></div>
            </th>
            @*<th class="th_timeclock_pre cat_1_header">
                <div>@Localize.T("Parent Source")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/ParentSource"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/ParentSource"></i></div>

            </th>*@
            <th class="th_timeclock_pre cat_1_header">
                <div>@Localize.T("Lead Source")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/LeadSource"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/LeadSource"></i></div>

            </th>
            <th class="th_timeclock_pre cat_1_header">
                <div>@Localize.T("Lead Source Type")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/ParentSource"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/ParentSource"></i></div>

            </th>
            <th class="th_timeclock_pre cat_1_header">
                <div>@Localize.T("Lead Status")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/LeadStatus"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/LeadStatus"></i></div>

            </th>
            <th class="th_timeclock_pre cat_2_header">
                <div>@Localize.T("Customer Status")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/CustomerStatus"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/CustomerStatus"></i></div>

            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Sales Info.")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/SalesPerson"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/SalesPerson"></i></div>

            </th>
           
            <th class="th_timeclock_pre arpl_appt cat_1_header">
                <div>@Localize.T("Appt. Set By")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/AppoinmentSetBy"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/AppoinmentSetBy"></i></div>

            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllRecordsModelList)
        {
            <tr>
                <td class="table-body-td-style">
                    <div class="ticket_list_partial_device_header">@Localize.T("Details")<span>:</span></div>
                    <div class="ticket_list_partial_device_info">
                        @if (item.IsLead == 1)
                        {
                            <div><a class="cus-anchor" href="/Lead/Leadsdetail/?id=@item.RMRId" target="_blank">@item.CustomerName</a></div>
                        }
                        else
                        {
                            <div><a class="cus-anchor" href="/Customer/Customerdetail/?id=@item.RMRId" target="_blank">@item.CustomerName</a></div>
                        }
                        <div>RMR ID: <span>@item.RMRId</span></div>
                        <div>CS ID: <span>@item.CSId</span></div>
                        <div>Address: <span>@item.Address</span></div>
                    </div>

                </td>
                @*<td class="table-body-td-style">
                    <div class="ticket_list_partial_device_header"> @Localize.T("Parent Source") <span>:</span></div>
                    <div class="ticket_list_partial_device_info">
                        @if (item.LeadSourceParent != "-1")
                        {
                            @(string.IsNullOrWhiteSpace(item.LeadSourceParent) ? "" : item.LeadSourceParent)
                        }
                    </div>
                </td>*@
                <td class="table-body-td-style">
                    <div class="ticket_list_partial_device_header"> @Localize.T("Lead Source") <span>:</span></div>
                    <div class="ticket_list_partial_device_info">
                        @if (item.LeadSource != "-1")
                        {
                            @(string.IsNullOrWhiteSpace(item.LeadSourceParent) ? "" : item.LeadSourceParent + " -> ")
                            @item.LeadSource
                            @*<span>@item.LeadSource</span>*@
                        }
                    </div>
                </td>
                <td class="table-body-td-style">
                    <div class="ticket_list_partial_device_header"> @Localize.T("Lead Source Type") <span>:</span></div>
                    <div class="ticket_list_partial_device_info">
                        @if (item.LeadSourceType != "-1")
                        {
                            <span>@item.LeadSourceType</span>
                        }
                    </div>
                </td>
                <td class="table-body-td-style">
                    <div class="ticket_list_partial_device_header"> @Localize.T("Lead Status") <span>:</span></div>
                    <div class="ticket_list_partial_device_info">
                        @if (item.LeadStatus != "-1")
                        {
                            <span>@item.LeadStatus</span>
                        }
                    </div>
                    <div class="ticket_list_partial_device_info">
                        @if (item.CreatedDate != new DateTime())
                        {
                            <span>@item.CreatedDate.ToString("M/d/yy")</span>
                        }
                    </div>
                </td>
                <td class="table-body-td-style">
                    <div class="ticket_list_partial_device_header">@Localize.T("Customer Status")  <span>:</span></div>
                    <div class="ticket_list_partial_device_info">
                        @if (item.CustomerStatus != "-1")
                        {
                            <span>@item.CustomerStatus</span>
                        }
                    </div>
                </td>
                <td class="table-body-td-style">
                    <div>
                        <div class="ticket_list_partial_device_header"> @Localize.T("Sales Person") <span>:</span></div>
                        <div class="ticket_list_partial_device_info"><span class="small_header">@Localize.T("Person")<span>:</span></span><span>@item.SalesPerson</span></div>
                    </div>
                    <div>
                        <div class="ticket_list_partial_device_header">@Localize.T("Sales Location") <span>:</span></div>
                        <div class="ticket_list_partial_device_info"><span class="small_header">@Localize.T("Location")<span>:</span></span> <span>@item.SalesLocation</span></div>
                    </div>
                </td>
               
                <td class="table-body-td-style">
                    <div class="ticket_list_partial_device_header"> @Localize.T("Appt. Set By") <span>:</span></div>
                    <div class="ticket_list_partial_device_info"><span>@item.AppoinmentSetBy</span></div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="AllRecordsReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="AllRecordsReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="AllRecordsReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="AllRecordsReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="AllRecordsReportLoad(3, @(ViewBag.order))">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber-2), @(ViewBag.order))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="AllRecordsReportLoad()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber + 2), @(ViewBag.order))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber - 1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="AllRecordsReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
        }
    </div>
</div>

