
@model HS.Entities.TicketListModel
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>

<link href="~/Content/Select2/select2.css" rel="stylesheet" />

<script src="~/Content/Select2/Select2.min.js"></script>

<style>
    .convert_cus_report_left {
        float: left;
        width: auto;
    }

    .convert_cus_report_filte_innerr {
        width: 100%;
        float: left;
    }

    .convert_cus_report_left .input-group {
        width: 300px;
        float: left;
    }

    .convert_cus_report_left #appointmentdatefilterbtn {
        float: left;
        margin-left: 10px;
    }

    .convert_cus_filter_list .convert_cus_filter_button button {
        margin: 5px;
        border-color: #2ca01c;
        background-color: #2ca01c;
        color: white;
    }

    .appointmentdate_filter {
        width: 100%;
        float: left;
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 10px;
    }

        .appointmentdate_filter .convert_cus_report_filte_innerr div {
            float: left;
            width: 20%;
            padding-left: 5px;
            padding-right: 5px;
        }

    .convert_cus_report_footer {
        width: 100%;
        float: left;
        background-color: #fff;
        padding: 5px;
        text-align: right;
    }

    @@media (max-width:768px) {
        .appointmentdate_filter .convert_cus_report_filte_innerr div {
            width: 33.33%;
        }
    }

    @@media (max-width:414px) {
        .appointmentdate_filter .convert_cus_report_filte_innerr div {
            width: 100%;
        }
    }
</style>
<script>
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var tickettype = '@Html.Raw(Json.Encode(@ViewBag.tikettype))';
    tickettype = JSON.parse(tickettype);
    var statustiket = '@Html.Raw(Json.Encode(@ViewBag.statustiket))';
    statustiket = JSON.parse(statustiket);
    var assignticket = '@Html.Raw(Json.Encode(@ViewBag.assignticket))';
    assignticket = JSON.parse(assignticket);
    var statuscustomer = '@Html.Raw(Json.Encode(@ViewBag.statuscustomer))';
    statuscustomer = JSON.parse(statuscustomer);
    var pagesize = 20;
    var AppointmentDateListLoad = function (pageNo, order) {

        console.log(order);
        if (typeof (pageNo) != "undefined") {


            var AssignedSearch = encodeURI($("#Assigned_Appointmentdate").val());
            var TicketTypeSearch = $("#TicketType_Appointmentdate").val();
            var TicketStatusSearch = $("#Ticket_Status_Appointmentdate").val();
            var MyTicketSearch = $("#TicketFor_search").val();
            var DateFrom = $(".min-date").val();
            var DateTo = $(".max-date").val();
            var SearchText = encodeURI($(".appointmentdate_search_text").val());

            var id = $("#ticket_id_appointmentdate").val();
            var cusid = $("#customer_id_appointmentdate").val();
            var user = $("#sales_person_appointmentdate").val();
            var convertmindate = $("#completion_min_date_appointmentdate").val();
            var convertmaxdate = $("#completion_max_date_appointmentdate").val();
            var createmindate = $("#sold_min_date_appointmentdate").val();
            var createmaxdate = $("#sold_max_date_appointmentdate").val();
            var transfermindate = $("#install_min_date_appointmentdate").val();
            var transfermaxdate = $("#install_max_date_appointmentdate").val();
            var ticketcreateddatemin = $("#appointment_createmindate_appointmentdate").val();
            var ticketcreateddatemax = $("#appointment_createmaxdate_appointmentdate").val();
            var customerstatus = encodeURI($("#Customer_Status_Appointmentdate").val());
            console.log(DateFrom);
            console.log(pageNo);
            $(".appointment_date_table").html(TabsLoaderText);
            $(".appointment_date_table").load(domainurl + "/Reports/AppointmentDateReportList", { PageNo: pageNo, PageSize: pagesize, SearchText: SearchText, order: order, StartDate: DateFrom, EndDate: DateTo, TicketType: encodeURI(TicketTypeSearch), TicketStatus: encodeURI(TicketStatusSearch), AssignedUserTicket: AssignedSearch, MyTicket: MyTicketSearch, convertmindate: encodeURI(convertmindate), convertmaxdate: encodeURI(convertmaxdate), createmindate: encodeURI(createmindate), createmaxdate: encodeURI(createmaxdate), transfermindate: encodeURI(transfermindate), transfermaxdate: encodeURI(transfermaxdate), user: encodeURI(user), cusid: encodeURI(cusid), id: encodeURI(id), ticketcreateddatemax: encodeURI(ticketcreateddatemax), ticketcreateddatemin: encodeURI(ticketcreateddatemin),viewtype:"webview",CustomerStatus :customerstatus  });

        }
    }
    var ResetFilter = function () {
        $(".convert_cus_inp").val("");
        $(".convert_cus_inp_drp").selectpicker("val", "");
        $(".convert_cus_inp_drp").val("-1");
        $("#searchtext").val("");
        AppointmentDateListLoad(1);
    }
    $(document).ready(function () {
        AppointmentDateListLoad(1);
        console.log(tickettype);
        $('[data-toggle="tooltip"]').tooltip();

        $(".search_appointmentdate_btn").click(function(){
            AppointmentDateListLoad(1);
        });
        $(".DateFilterContents .btn-apply-Datefilter").click(function () {

        if (top.location.hash != "") {
            if (top.location.hash == "#NewAppointmentDateReportTab") {
                UpdatePtoCookie();
                AppointmentDateListLoad(1);
                var StartDate = my_date_format($(".DateFilterContents .min-date").val());
        var EndDate = my_date_format($(".DateFilterContents .max-date").val())
        if (StartDate == "NaN undefined, NaN") {
            StartDate = "All Time";
            EndDate = "";
        }

        $(".DateFilterContents .date-start").html("");
        $(".DateFilterContents .date-end").html("");
        $(".DateFilterContents .date-start").html(StartDate);
        $(".DateFilterContents .date-end").html(EndDate);
        $(".DateFilterContents .dropdown-filter").hide();
            }
        }
        else {
            UpdatePtoCookie();
            AppointmentDateListLoad(1);
            var StartDate = my_date_format($(".DateFilterContents .min-date").val());
        var EndDate = my_date_format($(".DateFilterContents .max-date").val())
        if (StartDate == "NaN undefined, NaN") {
            StartDate = "All Time";
            EndDate = "";
        }

        $(".DateFilterContents .date-start").html("");
        $(".DateFilterContents .date-end").html("");
        $(".DateFilterContents .date-start").html(StartDate);
        $(".DateFilterContents .date-end").html(EndDate);
        $(".DateFilterContents .dropdown-filter").hide();
        }
    });

        $('.appointmentdate_search_text').keypress(function (e) {
            var key = e.which;
            if (key == 13)
            {
                AppointmentDateListLoad(1);
            }
        });
        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            AppointmentDateListLoad(pageno, orderval);
        })
        if (tickettype.length != 0)
        {
            $("#TicketType_Appointmentdate").selectpicker('val', tickettype);
        }
        else {
            $("#TicketType_Appointmentdate").selectpicker('val', '');
        }
        if (statustiket.length != 0)
        {
            $("#Ticket_Status_Appointmentdate").selectpicker('val', statustiket);
        }
        else {
            $("#Ticket_Status_Appointmentdate").selectpicker('val', '');
        }
        if (statuscustomer.length != 0)
        {
            $("#Customer_Status_Appointmentdate").selectpicker('val', statuscustomer);
        }
        else {
            $("#Customer_Status_Appointmentdate").selectpicker('val', '');
        }
        if (assignticket.length != 0)
        {
            $("#Assigned_Appointmentdate").selectpicker('val', assignticket);
        }
        else {
            $("#Assigned_Appointmentdate").selectpicker('val', '');
        }

        $("#btndownloadappointmentdate").click(function () {
            var id = $("#ticket_id_appointmentdate").val();
            var cusid = $("#customer_id_appointmentdate").val();
            var user = $("#sales_person_appointmentdate").val();
            var convertmindate = $("#completion_min_date_appointmentdate").val();
            var convertmaxdate = $("#completion_max_date_appointmentdate").val();
            var createmindate = $("#sold_min_date_appointmentdate").val();
            var createmaxdate = $("#sold_max_date_appointmentdate").val();
            var transfermindate = $("#install_min_date_appointmentdate").val();
            var transfermaxdate = $("#install_max_date_appointmentdate").val();
            var ticketcreateddatemin = $("#appointment_createmindate_appointmentdate").val();
            var ticketcreateddatemax = $("#appointment_createmaxdate_appointmentdate").val();
            var DateFrom = $(".min-date").val();
            var DateTo = $(".max-date").val();
            location.href = domainurl + "/Reports/AppointmentDateReportListForDownload/?viewtype=excel" + "&SearchText=" + $(".appointmentdate_search_text").val() + "&TicketType=" + $("#TicketType_Appointmentdate").val() + "&TicketStatus=" + $("#Ticket_Status_Appointmentdate").val() + "&AssignedUserTicket=" + $("#Assigned_Appointmentdate").val() + "&RepType=AppointmentDate" + "&id=" + encodeURI(id) + "&cusid=" + encodeURI(cusid) + "&user=" + encodeURI(user) + "&convertmindate=" + encodeURI(convertmindate) + "&convertmaxdate=" + encodeURI(convertmaxdate) + "&createmindate=" + encodeURI(createmindate) + "&createmaxdate=" + encodeURI(createmaxdate) + "&transfermindate=" + encodeURI(transfermindate) + "&transfermaxdate=" + encodeURI(transfermaxdate) + "&ticketcreateddatemax=" + encodeURI(ticketcreateddatemax) + "&ticketcreateddatemin=" + encodeURI(ticketcreateddatemin) + "&CustomerStatus=" + $("#Customer_Status_Appointmentdate").val() + "&StartDate=" + encodeURI(DateFrom) + 
                "&EndDate=" + encodeURI(DateTo);
        });

        new Pikaday({ format: 'MM/DD/YYYY', field: $('#completion_min_date_appointmentdate')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#completion_max_date_appointmentdate')[0] });

        new Pikaday({ format: 'MM/DD/YYYY', field: $('#sold_min_date_appointmentdate')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#sold_max_date_appointmentdate')[0] });

        new Pikaday({ format: 'MM/DD/YYYY', field: $('#install_min_date_appointmentdate')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#install_max_date_appointmentdate')[0] });

         new Pikaday({ format: 'MM/DD/YYYY', field: $('#appointment_createmindate_appointmentdate')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#appointment_createmaxdate_appointmentdate')[0] });


        $(".appointmentdate_filter").hide();
        $("#appointmentdatefilterbtn").click(function () {
            console.log("filter");
            if ($(".appointmentdate_filter").is(":visible")) {
                $(".appointmentdate_filter").hide();

            } else {
                $(".appointmentdate_filter").show();

            }
        });
        //$(document).click(function (e) {
        //    if ($($(e.target).parent().parent()).hasClass('convert_cus_div')
        //                || $($(e.target).parent()).hasClass('convert_cus_div')
        //                || $($(e.target).parent().parent()).hasClass('convert_cus_div')) {
        //        return;
        //    }
        //    else if ($(".appointmentdate_filter").is(":visible")) {
        //        $(".appointmentdate_filter").hide();
        //    }
        //});
    });
</script>

<div class="page-content-wrap cus-padding-top10p invoicelist">
    <div class="FilterFunding clearfix">
        <div class="app_date_search_filter ld_ticket_report_top_bar convert_cus_div">
            <div class="input-group add-on">
                <input value="@Model.Searchtext" class="form-control filterinput border_radius_0 appointmentdate_search_text" id="searchtext" placeholder="Search By Ticket Id, Customer Id">
                <div class="input-group-btn"><button class="btn search_appointmentdate_btn green_button" id="btnsearchtextappointmentdate" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button></div>
            </div>
            <button class="btn convert_cus_div page_filter_btn green_button" id="appointmentdatefilterbtn"><span title="Filter" class="glyphicon glyphicon-filter"></span></button>
          
            @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.TicketReportDownLoadButton))
            {
                <button title="@Localize.T("Download")" class="report_btn lrp_float_right" id="btndownloadappointmentdate"><i class="fa fa-download" aria-hidden="true"></i></button>
            }
        </div>
        <div class="appointmentdate_filter">
            <div class="convert_cus_report_filte_innerr convert_cus_div">
                <div class="form-group clearfix">
                    <label>@Localize.T("Ticket ID")</label>
                    <input class="form-control convert_cus_inp" placeholder="Ticket ID" id="ticket_id_appointmentdate" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Customer ID")</label>
                    <input class="form-control convert_cus_inp" placeholder="Customer ID" id="customer_id_appointmentdate" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Ticket Type")</label>
                    @Html.DropDownListFor(x => x.TicketType, ViewBag.TicketType as List<SelectListItem>, new { @class = "form-control border_radius_0 TicketType_Appointmentdate convert_cus_inp_drp", id = "TicketType_Appointmentdate", @multiple = "multiple", @title = "Ticket Type" })
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Ticket Status")</label>
                    @Html.DropDownListFor(x => x.TicketStatus, ViewBag.TicketStatus as List<SelectListItem>, new { @class = "form-control border_radius_0 Ticket_Status_Appointmentdate convert_cus_inp_drp", id = "Ticket_Status_Appointmentdate", @multiple = "multiple", @title = "Ticket Status" })
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Customer Status")</label>
                    @Html.DropDownListFor(x => x.CustomerStatus, ViewBag.CustomerStatus as List<SelectListItem>, new { @class = "form-control border_radius_0 Customer_Status_Appointmentdate convert_cus_inp_drp", id = "Customer_Status_Appointmentdate", @multiple = "multiple", @title = "Customer Status" })
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Assigned User")</label>
                    @Html.DropDownListFor(x => x.Assigned, ViewBag.EmployeeList as List<SelectListItem>, new { @class = "form-control border_radius_0 Assigned_Appointmentdate convert_cus_inp_drp", id = "Assigned_Appointmentdate", @multiple = "multiple", @title = "Assigned User" })
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Sales Person")</label>
                    @Html.DropDownList("sales_person_appointmentdate", ViewBag.salesperson as List<SelectListItem>, new { @class = "form-control convert_cus_inp_drp", @title = "Sales Person" })
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Scheduled On Min Date")</label>
                    <input class="form-control convert_cus_inp" placeholder="Scheduled On Min Date" id="completion_min_date_appointmentdate" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Scheduled On Max Date")</label>
                    <input class="form-control convert_cus_inp" placeholder="Scheduled On Max Date" id="completion_max_date_appointmentdate" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Sold Min Date")</label>
                    <input class="form-control convert_cus_inp" placeholder="Sold Min Date" id="sold_min_date_appointmentdate" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Sold Max Date")</label>
                    <input class="form-control convert_cus_inp" placeholder="Sold Max Date" id="sold_max_date_appointmentdate" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Install Min Date")</label>
                    <input class="form-control convert_cus_inp" placeholder="Install Min Date" id="install_min_date_appointmentdate" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Install Max Date")</label>
                    <input class="form-control convert_cus_inp" placeholder="Install Max Date" id="install_max_date_appointmentdate" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Created Min Date")</label>
                    <input class="form-control convert_cus_inp" placeholder="Created Min Date" id="appointment_createmindate_appointmentdate" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Created Max Date")</label>
                    <input class="form-control convert_cus_inp" placeholder="Created Max Date" id="appointment_createmaxdate_appointmentdate" />
                </div>
            </div>
            <div class="convert_cus_report_footer convert_cus_div">
                <button class="btn green_button" id="apply_btn_filter" onclick="AppointmentDateListLoad(1)">@Localize.T("Apply")</button>
                <button class="btn red_button" id="reset_btn_filter" onclick="ResetFilter()">@Localize.T("Reset")</button>
            </div>
        </div>
    </div>

    <div class="appointment_date_table">

    </div>
</div>


