@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/Inventory/BadInventoryPartial.css" rel="stylesheet" />

<script>


    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    var listTechnician = '@Html.Raw(Json.Encode(""))';
    listTechnician = JSON.parse(listTechnician);
    var listStatus = '@Html.Raw(Json.Encode(""))';
    listStatus = JSON.parse(listStatus);



    var BIListLoad = function (pageNo, order) {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        var searchtext = $(".BISearchText").val();

        //var EquipmentIDList = encodeURI($("#EquipmentID").val());
        var TechnicianIDList = encodeURI($("#TechnicianID").val());
        var StatusIDList = encodeURI($("#StatusID").val());
        var Purchase_Date_From = $("#Purchase_Date_From").val();
        var Purchase_Date_To = $("#Purchase_Date_To").val();

        if (typeof (pageNo) != "undefined") {
            var LoadUrl = domainurl + "/Reports/LoadBadInventoryReportPartial/?PageNo=" + pageNo + "&SearchText=" + encodeURI(searchtext) + "&order=" + order + "&Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&TechnicianIDList=" + TechnicianIDList + "&StatusIDList=" + StatusIDList + "&Purchase_Date_From=" + encodeURI(Purchase_Date_From) + "&Purchase_Date_To=" + encodeURI(Purchase_Date_To);
            + "&PageNo=" + pageNo + "&order=" + order;
            $(".BadInventoryTable").html(TabsLoaderText);
            $(".BadInventoryTable").load(LoadUrl);
        }
    }
        var ResetFilter = function () {
            $(".Purchase_Date_From").val("");
            $(".Purchase_Date_To").val("");

        $("#TechnicianID").selectpicker("val", "");
        $("#StatusID").selectpicker("val", "");

        $(".BISearchText").val("");
        BIListLoad(1);
    }
    $(document).ready(function () {
        $(".bi_single_filte_info_container").hide();
        $(".btn-filter").click(function () {

            if ($(".bi_single_filte_info_container").is(":visible")) {
                $(".bi_single_filte_info_container").hide();

           } else {
                $(".bi_single_filte_info_container").show();

           }
        });


        $("#TechAddNewBI").click(function () {
            var StartDate = $(".min-date").val();
            var EndDate = $(".max-date").val();
            var searchtext = $(".BISearchText").val();
            //var EquipmentIDList = encodeURI($("#EquipmentID").val());
            var TechnicianIDList = encodeURI($("#TechnicianID").val());
            var StatusIDList = encodeURI($("#StatusID").val());
            var Purchase_Date_From = $("#Purchase_Date_From").val();
            var Purchase_Date_To = $("#Purchase_Date_To").val();
            window.location.href = domainurl + "/Reports/LoadBadInventoryReportPartial/?SearchText=" + encodeURI(searchtext) + "&GetReport=" + true + "&Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&TechnicianIDList=" + TechnicianIDList + "&StatusIDList=" + StatusIDList + "&Purchase_Date_From=" + encodeURI(Purchase_Date_From) + "&Purchase_Date_To=" + encodeURI(Purchase_Date_To);
        });
        $(".Techbtnsearchtext").click(function () {
            BIListLoad(1, null);
        });
        $(".BISearchText").keydown(function (e) {
            if (e.which == 13) {
                BIListLoad(1, null);
            }
        });
        BIListLoad(1, null);
        $(".DateFilterContents .btn-apply-Datefilter").unbind().click(function () {
            var DateFrom = $(".min-date").val();
            var DateTo = $(".max-date").val();
              UpdatePtoCookie();
            BIListLoad(1, null);
            var StartDate = my_date_format($(".DateFilterContents .min-date").val());
            var EndDate = my_date_format($(".DateFilterContents .max-date").val())
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
          


        });



        if (listTechnician.length != 0) {
            $("#TechnicianID").selectpicker('val', listTechnician);
        }
        else {
            $("#TechnicianID").selectpicker('val', '');
        }

        if (listStatus.length != 0) {
            $("#StatusID").selectpicker('val', listStatus);
        }
        else {
            $("#StatusID").selectpicker('val', '');
        }



        new Pikaday({ format: 'MM/DD/YYYY', field: $('#Purchase_Date_To')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#Purchase_Date_From')[0] });


    });
</script>
<div class="bad_inventory_partial_search_div_cont">
    <div class="bad_inventory_partial_search_div">
        <div class="bi_single_filter_div_container">
            <div class="input-group add-on">
                <input class="form-control BISearchText" type="text" placeholder="Search By Customer,Equipment,Invoice" title="Search By Customer or Equipment or Invoice"/>
                <div class="input-group-btn">
                    <button class="btn search_BI_btn green_button Techbtnsearchtext" title="Search"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
            <div class="bi_single_filter_div_style filter_fill">
                <button class="btn btn-filter green_button" title="Filter">
                    <i class="glyphicon glyphicon-filter"></i>
                </button>
            </div>
        </div>

        <button title="Download" class="btn btnBI" id="TechAddNewBI"><i class="fa fa-download" aria-hidden="true"></i></button>
        @*<button class="btn btnBI" id="TechAddNewBI"><i class="fa fa-plus"></i> New</button>*@
    </div>

    <div class="bi_single_filte_info_container">
        <div class="bi_single_filter_info_inner">
            <div class="bi_single_filter_info_inner_content"> @Html.DropDownList("TechnicianID", ViewBag.TechnicianList as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @title = "Select Technician" })</div>
            <div class="bi_single_filter_info_inner_content"> @Html.DropDownList("StatusID", ViewBag.StatusList as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @title = "Select Status" })</div>

            <div class="bi_single_filter_info_inner_content"> <input class="form-control Purchase_Date_From" placeholder="Purchase Date From" id="Purchase_Date_From" /></div>
            <div class="bi_single_filter_info_inner_content"> <input class="form-control Purchase_Date_To" placeholder="Purchase Date To" id="Purchase_Date_To" /></div>
        </div>
        <div class="bi_single_filter_info_footer">
            <button class="btn search_BI_btn green_button Techbtnsearchtext" title="@Localize.T("Apply Filter")"><i class="fa fa-check" aria-hidden="true"></i>@Localize.T(" Apply")</button>
            <button class="btn red_button" id="reset_btn_filter" onclick="ResetFilter()">@Localize.T("Reset")</button>

        </div>
    </div>


    <div class="BadInventoryTable">

    </div>
</div>
