
@model HS.Entities.ThirdPartyCustomer
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>

<link href="~/Content/Select2/select2.css" rel="stylesheet" />

<script src="~/Content/Select2/Select2.min.js"></script>


<script>

   var my_date_format = function (input) {
        console.log(input+" r");
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    
    $(document).ready(function () {
             var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
          if (StartDate != "" && EndDate != "")
        {
            StartDate = my_date_format(StartDate);
            EndDate = my_date_format(EndDate);
            console.log(StartDate + " " + EndDate);
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
        }
        else {
            $(".DateFilterContents .date-start").html("All Time");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .dropdown-filter").hide();
        }
                    $(".DateFilterContents .btn-apply-Datefilter").click(function () {
                var DateFrom = $(".min-date").val();
                var DateTo = $(".max-date").val();
         
                //$(".DateFilterContents .date-start").html("");
                //$(".DateFilterContents .date-end").html("");
                //$(".DateFilterContents .date-start").html(StartDate);
                //$(".DateFilterContents .date-end").html(EndDate);
                //$(".DateFilterContents .dropdown-filter").hide();
                        UpdatePtoCookie();
                          $("#LoadBrinkSoldTab").html(TabsLoaderText);
            $("#LoadBrinkSoldTab").load(domainurl + "/Reports/BrinkSoldReportPartial/?Start=" + DateFrom + "&End=" + DateTo );
                    });

           $(".icon_sort_timeclock").click(function () {
              var orderval = $(this).attr('data-val');
               console.log(orderval)
            $("#LoadBrinkSoldTab").html(TabsLoaderText);

            $("#LoadBrinkSoldTab").load(domainurl + "/Reports/BrinkSoldReportPartial?pageno=1" +"&pagesize=50"+"&order="+orderval);

          //FilterBrinksSoldReport(null, orderval);
        })
        })

    </script>

<div class="load_sales_report_partial_container">
    @*<div class="load_sales_report_partial_info_bar">
            <div class="lsrp_info_block"> @Localize.T("Total Brinks: ")</div>
        </div>*@

    <div class="load_sales_report_partial_top_bar">

        @*<div class="load_sales_report_partial_top_bar_inner">*@
        @*@Html.DropDownList("sales_inv_status", ViewBag.statusinv as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @title = "Status" })*@
        @*<div class="input-group add-on">
                    <input type="text" class="form-control" id="sales_txt_search" placeholder="Search" value="@ViewBag.searchtext" />
                    <div class="input-group-btn"> <button class="btn" id="btn_sales" onclick="FilterSalesReport1(1)"><i class="glyphicon glyphicon-search"></i></button></div>
                </div>
            </div>*@

        @*<button title="@Localize.T("Send")" class="report_btn lrp_float_right" id="btnDownloadBrinkReport"><i class="fa fa-download" aria-hidden="true"></i></button>*@
        @*<button title="@Localize.T("Send")" class="report_btn lrp_float_right" id="btnDownloadBrinkReport">@Localize.T("Send")</button>*@

    </div>

    <div class="invoice-table">
        <table class="loadticketreportlist_table load_sales_report_partial_table">
            <thead class="table-head-border">
                <tr>
                    <th class="thead-th-style"> <div>@Localize.T("eContract ID")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/econtact"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/econtact"></i></div></th>
                    <th class="thead-th-style">
                        <div>@Localize.T("CS#")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/cs"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/cs"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Last Name")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/lastname"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/lastname"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Transaction ID")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/transectionid"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/transectionid"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Date Submitted")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/datesubmitted"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/datesubmitted"></i></div>
                    </th>
                    @*<th class="thead-th-style">
                            <div>@Localize.T("Contact")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/contact"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/contact"></i></div>
                        </th>*@
                    <th class="thead-th-style">
                        <div>@Localize.T("#Of Contract")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/ofcontract"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/ofcontract"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Dealer Number")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/dealernumber"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/dealernumber"></i></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ThirdPartyCustomerList)
                {
                <tr class="tr-style">
                    <td class="table-body-td-style" valign="top">
                        @*<div class="ticket_list_partial_device_header">@Localize.T("eContact")</div>*@
                        @*<div class="ticket_list_partial_device_info"> <a style="cursor:pointer;color:#2ca01c;" href="/Customer/CustomerDetail/?id=@item.Id" target="_blank">@item.DisplayName</a></div>*@
                        <div class="ticket_list_partial_device_info">
                            <span>@item.eContact</span>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        @*<div class="ticket_list_partial_device_header">@Localize.T("Total Sales")</div>
            <div class="ticket_list_partial_device_info">
                @{
                    if (item.TotalSales > 0)
                    {
                        <a style="cursor:pointer;color:#2ca01c;" onclick="OpenTopToBottomModal('/Reports/AllSalesReportList?CustomerId=@item.CustomerId')">$@string.Format("{0:#,##0.00}", item.TotalSales)</a>
                    }
                    else
                    {
                        <span>$0.00</span>
                    }
                }

            </div>*@
                        <div class="ticket_list_partial_device_info">
                            <span>@item.CustomerNumber</span>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        @*<div class="ticket_list_partial_device_header">@Localize.T("Total Tax")</div>
            <div class="ticket_list_partial_device_info">
                @{
                    if (item.TotalTax > 0)
                    {
                        <span>$@string.Format("{0:#,##0.00}", item.TotalTax)</span>
                    }
                    else
                    {
                        <span>$0.00</span>
                    }
                }

            </div>*@
                        <div class="ticket_list_partial_device_info">
                            <span>@item.CustomerLastname</span>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        @*<div class="ticket_list_partial_device_header">@Localize.T("Sales After Tax")</div>
            <div class="ticket_list_partial_device_info">
                @{
                    if (item.SalesAfterTax > 0)
                    {
                        <span>$@string.Format("{0:#,##0.00}", item.SalesAfterTax)</span>
                    }
                    else
                    {
                        <span>$0.00</span>
                    }
                }

            </div>*@
                        <div class="ticket_list_partial_device_info">
                            <span>@item.TransectionID</span>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        @*<div class="ticket_list_partial_device_header">@Localize.T("Total Paid")</div>
            <div class="ticket_list_partial_device_info">
                @{
                    if (item.TotalPaid > 0)
                    {
                        <span>$@string.Format("{0:#,##0.00}", item.TotalPaid)</span>
                    }
                    else
                    {
                        <span>$0.00</span>
                    }
                }

            </div>*@
                        <div class="ticket_list_partial_device_info">
                            @if (item.AccountOnlineDate!=null && item.AccountOnlineDate != new DateTime())
                            {
                                <span>@HS.Framework.DateTimeExtension.UTCToClientTime(item.AccountOnlineDate).ToString("MM/dd/yy")</span>

                            }
                            else
                            {
                                <span>-</span>

                            }
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
       
                        <div class="ticket_list_partial_device_info">
                            <span>@item.TempOfcontact</span>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        @*<div class="ticket_list_partial_device_header">@Localize.T("Total Unpaid")</div>
            <div class="ticket_list_partial_device_info">
                @{
                    if (item.TotalUnpaid > 0)
                    {
                        <span>$@string.Format("{0:#,##0.00}", item.TotalUnpaid)</span>
                    }
                    else
                    {
                        <span>$0.00</span>
                    }
                }

            </div>*@
                        <div class="ticket_list_partial_device_info">
                            <span>@item.DealerNumber</span>
                        </div>
                    </td>

                </tr>
                }
                @*<tr>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_info">
                                <span style="font-weight:bold;">@Localize.T("Total")</span>
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_info">
                                <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(SalesTotal)</span>
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_info">
                                <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(TaxTotal)</span>
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_info">
                                <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(TaxSalesTotal)</span>
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_info">
                                <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(PaidTotal)</span>
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_info">
                                <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(UnpaidTotal)</span>
                            </div>
                        </td>
                    </tr>*@
            </tbody>
        </table>
    </div>
</div>

