@model HS.Entities.CustomerAppointmentEquipmentListModel
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

    <table class="loadticketreportlist_table completed_inv_report_table">
        <thead class="table-head-border">
            <tr>
                @*<th class="thead-th-style"> <div>@Localize.T("Ticket")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/ticketid"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/ticketid"></i></div></th>*@
                <th class="thead-th-style cir_prod">
                    <div>@Localize.T("Product")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/producttype"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/producttype"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Cost Per Item")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/productname"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/productname"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Ordered Status")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/productname"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/productname"></i></div>
                </th>

                <th class="thead-th-style">
                    <div>@Localize.T("Install Status")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/productname"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/productname"></i></div>
                </th>

                <th class="thead-th-style">
                    <div>@Localize.T("Service Status")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/productname"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/productname"></i></div>
                </th>

                <th class="thead-th-style">
                    <div>@Localize.T("On Hand")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/productname"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/productname"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Pending Order")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/productname"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/productname"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Current Inventory")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/productname"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/productname"></i></div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CustomerAppointmentEquipments)
            {

                <tr class="tr-style">

                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Product")<span>:</span></div>
                        <div class="ticket_list_partial_device_info">
                            <div class="completed_inv_report_row"> <div class="completed_inv_report_sp_head">@Localize.T("Type")<span>:</span></div> <span>@item.ProductType</span></div>
                            <div class="completed_inv_report_row"><div class="completed_inv_report_sp_head">@Localize.T("Name")<span>:</span></div> <span>@item.EquipmentName</span></div>
                            <div class="completed_inv_report_row"><div class="completed_inv_report_sp_head">@Localize.T("SKU")<span>:</span></div> <span>@item.ProductSKU</span></div>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Cost Per Item")<span>:</span></div>
                        <div class="ticket_list_partial_device_info"> <span>$@string.Format("{0:#,###.00}", item.CostPerItem)</span></div>
                    </td>

                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Ordered Status")<span>:</span></div>
                        <div class="ticket_list_partial_device_info">
                            <div class="completed_inv_report_row"> <div class="completed_inv_report_sp_head">@Localize.T("Quantity")<span>:</span></div> <span>@item.OrderingQuantity</span></div>
                            <div class="completed_inv_report_row">
                                <div class="completed_inv_report_sp_head">@Localize.T("Cost")<span>:</span></div>
                                @{
                                    if (item.CostQTYOrder == 0.00)
                                    {
                                        <span>$0.00</span>
                                    }
                                    else
                                    {
                                        <span>$@string.Format("{0:#,###.00}", item.CostQTYOrder)</span>
                                    }
                                }
                            </div>

                        </div>
                    </td>

                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Install Status")<span>:</span></div>
                        <div class="ticket_list_partial_device_info">
                            <div class="completed_inv_report_row"><div class="completed_inv_report_sp_head">@Localize.T("Quantity")<span>:</span></div> <span>@item.QtyOnInstall</span></div>
                            <div class="completed_inv_report_row">
                                <div class="completed_inv_report_sp_head">@Localize.T("Cost")<span>:</span></div>
                                @{
                                    if (item.CostQtyOnInstall == 0.00)
                                    {
                                        <span>$0.00</span>
                                    }
                                    else
                                    {
                                        <span>$@string.Format("{0:#,###.00}", item.CostQtyOnInstall)</span>
                                    }
                                }
                            </div>
                        </div>
                    </td>

                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Service Status")<span>:</span></div>
                        <div class="ticket_list_partial_device_info">
                            <div class="completed_inv_report_row"><div class="completed_inv_report_sp_head">@Localize.T("Quantity")<span>:</span></div><span>@item.QtyOnService</span></div>
                            <div class="completed_inv_report_row">
                                <div class="completed_inv_report_sp_head">@Localize.T("Cost")<span>:</span></div>
                                @{
                                    if (item.CostQtyOnService == 0.00)
                                    {
                                        <span>$0.00</span>
                                    }
                                    else
                                    {
                                        <span>$@string.Format("{0:#,###.00}", item.CostQtyOnService)</span>
                                    }
                                }
                            </div>
                        </div>
                    </td>

                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("On Hand")<span>:</span></div>

                        <div class="ticket_list_partial_device_info">
                            <span>
                                <div>
                                    <span>@Localize.T("Warehouse")<span>:</span></span>
                                    <span class="stock-out-span">@item.QTYOnHand </span>
                                    <br />
                                    <span>@Localize.T("Technician")<span>:</span></span>
                                    @{
                                        if (item.technician > 0)
                                        {
                                            <a href="javascript:void(0)" class="LoadTechListPopUp" onclick="OpenTopToBottomModal('/Inventory/TechEquipmentDetailPartial?Id=@item.EquipmentId')"><span style="color:green;">@item.technician</span></a>
                                        }
                                        else if (item.technician < 0)
                                        {
                                            <span>0</span>
                                        }
                                        else
                                        {
                                            <span>@item.technician</span>
                                        }
                                    }
                                    <br />
                                    <span>@Localize.T("Total") <span>:</span></span>
                                    @{
                                        if (item.TotalEq < 0)
                                        {
                                            <span>0</span>
                                        }
                                        else
                                        {
                                            <span>@HS.Web.UI.Helper.LabelHelper.FormatCount(item.TotalEq)</span>
                                        }
                                    }

                                </div>
                            </span>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Pending Order")<span>:</span></div>
                        <div class="ticket_list_partial_device_info"> <span>@item.QTYPending</span></div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Current Inventory")<span>:</span></div>
                        <div class="ticket_list_partial_device_info">
                            <span>
                                @{
                                    if (item.CurrentInventoryValue == 0.00)
                                    {
                                        <span>$0.00</span>
                                    }
                                    else
                                    {
                                        <span>$@string.Format("{0:#,###.00}", item.CurrentInventoryValue)</span>
                                    }
                                }
                            </span>
                        </div>
                    </td>
                </tr>

            }
            @*<tr>
                <td colspan="2">
                    <b class="float_right">
                        @Localize.T("Total Financed Amount:")
                    </b>
                </td>
                <td colspan="3">
                    <b>$@HS.Web.UI.Helper.LabelHelper.FormatAmount(@Model.CustomerAppointmentEquipments.Sum(e => e.CostQtyOnInstall))</b>
                </td>
            </tr>*@
        <tr class="table_total_bg">
            <td colspan="2">
                <b class="float_right">@Localize.T("Total:")</b>
            </td>
            <td>
                <div>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Ordered Quantity")<span>:</span></div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Ordered Quantity")">
                            @Model.CustomerAppointmentEquipments.Sum(e => e.OrderingQuantity)
                        </b>
                    </div>
                </div>
               

                <div>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Ordered Cost")<span>:</span></div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Ordered Cost")">
                            $ @HS.Web.UI.Helper.LabelHelper.FormatAmount(@Model.CustomerAppointmentEquipments.Sum(e => e.CostQTYOrder))
                        </b>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Installed Quantity")<span>:</span></div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Installed Quantity")">
                            @Model.CustomerAppointmentEquipments.Sum(e => e.QtyOnInstall)
                        </b>
                    </div>
                </div>
               

                <div>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Installed Cost")<span>:</span></div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Installed Cost")">
                            $ @HS.Web.UI.Helper.LabelHelper.FormatAmount(@Model.CustomerAppointmentEquipments.Sum(e => e.CostQtyOnInstall))
                        </b>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Service Quantity")<span>:</span></div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Service Quantity")">
                            @Model.CustomerAppointmentEquipments.Sum(e => e.QtyOnService)
                        </b>
                    </div>
                </div>
              

                <div>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Service Cost")<span>:</span></div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Service Cost")">
                            $ @HS.Web.UI.Helper.LabelHelper.FormatAmount(@Model.CustomerAppointmentEquipments.Sum(e => e.CostQtyOnService))
                        </b>
                    </div>
                </div>
            </td>

            <td></td>
            <td>
                <div class="ticket_list_partial_device_header">@Localize.T("Pending Quantity")<span>:</span></div>
                <div class="ticket_list_partial_device_info">
                    <b title="@Localize.T("Pending Quantity")">
                        @Model.CustomerAppointmentEquipments.Sum(e => e.QTYPending)
                    </b>
                </div>
            </td>
            <td>
                <div class="ticket_list_partial_device_header">@Localize.T("Current Inventory Value")<span>:</span></div>
                <div class="ticket_list_partial_device_info">
                    <b title="@Localize.T("Current Inventory Value")">
                        $ @HS.Web.UI.Helper.LabelHelper.FormatAmount(@Model.CustomerAppointmentEquipments.Sum(e => e.CurrentInventoryValue))
                    </b>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {

            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButtonq  @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CompletedInventoryListLoad(1, '@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CompletedInventoryListLoad(2,'@(ViewBag.order)')">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""),'@(ViewBag.order)')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CompletedInventoryListLoad(1,'@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CompletedInventoryListLoad(2,'@(ViewBag.order)')">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="CompletedInventoryListLoad(3,'@(ViewBag.order)')">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""),'@(ViewBag.order)')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber-2),'@(ViewBag.order)')">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="CompletedInventoryListLoad()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber + 2),'@(ViewBag.order)')">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber - 1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="CompletedInventoryListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
        }
    </div>
</div>


