@model HS.Entities.CSRActivityModel
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>
    var pageno = '@ViewBag.PageNumber';

    $(document).ready(function () {
           $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            CSRActivityReportListLoad(pageno, orderval);
        })

    })
</script>
<table class="loadticketreportlist_table" style="table-layout:unset;">
    <thead class="table-head-border">
        <tr>
            @*<th class="thead-th-style"> <div>@Localize.T("Ticket")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/ticketid"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/ticketid"></i></div></th>*@
            <th class="thead-th-style itrl_customer">
                <div>Name</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/customername"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/customername"></i></div>
            </th>
            <th class="thead-th-style">
                <div>Cancelled Account</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/cancelledaccount"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/cancelledaccount"></i></div>
            </th>
            <th class="thead-th-style itrl_install">
                <div>Created Account</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/createdaccount"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/createdaccount"></i></div>
            </th>
            <th class="thead-th-style itrl_install">
                <div>Account Placed Online</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/accountplacedonline"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/accountplacedonline"></i></div>
            </th>
        
            <th class="thead-th-style itrl_install">
                <div>Contract Sent</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/contractsent"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/contractsent"></i></div>
            </th>
            <th class="thead-th-style">
                <div>Install Scheduled</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/installedscheduled"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/installedscheduled"></i></div>
            </th>
            <th class="thead-th-style">
                <div>Service Scheduled</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/servicescheduled"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/servicescheduled"></i></div>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CSRActivityList)
        {
            <tr class="tr-style">

                <td class="table-body-td-style" valign="top">
                    <div class="ticket_list_partial_device_header">@Localize.T("Name")<span>:</span></div>
                    <div class="ticket_list_partial_device_info">
                        @*<div class="ins_track_report_sp_head">@Localize.T("ID")<span>:</span></div>*@
                        <a class="cus-anchor" href="/UserInformation/?Id=@item.Id" target="_blank">@item.Name</a>
                    </div>

                </td>

                <td class="table-body-td-style" valign="top">
                    <div class="ticket_list_partial_device_header">@Localize.T("Cancelled Account")<span>:</span></div>
                    <div class="ticket_list_partial_device_info"> <span>@item.CancelledAccount</span></div>
                </td>
                <td class="table-body-td-style" valign="top">
                    <div class="ticket_list_partial_device_header">@Localize.T("Created Account")<span>:</span></div>
                    <div class="ticket_list_partial_device_info"> <span>@item.CreatedAccount</span></div>
                </td>

                <td class="table-body-td-style" valign="top">
                    <div class="ticket_list_partial_device_header">@Localize.T("Account Placed Online")<span>:</span></div>
                    <div class="ticket_list_partial_device_info"> <span>@item.AccountPlaced</span></div>
                </td>
                <td class="table-body-td-style" valign="top">
                    <div class="ticket_list_partial_device_header">@Localize.T("Contract Sent")<span>:</span></div>
                    <div class="ticket_list_partial_device_info"> <span>@item.ContractSent</span></div>
                </td>

                <td class="table-body-td-style" valign="top">
                    <div class="ticket_list_partial_device_header">@Localize.T("Install Scheduled")<span>:</span></div>
                    <div class="ticket_list_partial_device_info"> <span>@item.InstallScheduled</span></div>
                </td>

                <td class="table-body-td-style" valign="top">
                    <div class="ticket_list_partial_device_header">@Localize.T("Service Scheduled")<span>:</span></div>
                    <div class="ticket_list_partial_device_info"> <span>@item.ServiceScheduled</span></div>
                </td>
            </tr>

        }

    <tr class="table_total_bg">
        <td colspan="1">
            <b class="float_right">
                @Localize.T("Total")
            </b>
        </td>
        <td>
            <b>@Model.TotalCancelledAccount.ToString()</b>
        </td>
        <td>
            <b>@Model.TotalCreatedAccount.ToString()</b>
        </td>
        <td>
            <b>@Model.TotalAccountPlaced.ToString()</b>
        </td>
        <td>
            <b>@Model.TotalContractSent.ToString()</b>
        </td>
        <td>
            <b>@Model.TotalInstallScheduled.ToString()</b>
        </td>
        <td>
            <b>@Model.TotalServicesScheduled.ToString()</b>
        </td>
    </tr>
    </tbody>
</table>
<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {

            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButtonq  @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CSRActivityReportListLoad(1, '@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CSRActivityReportListLoad(2,'@(ViewBag.order)')">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""),'@(ViewBag.order)')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CSRActivityReportListLoad(1,'@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CSRActivityReportListLoad(2,'@(ViewBag.order)')">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="CSRActivityReportListLoad(3,'@(ViewBag.order)')">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""),'@(ViewBag.order)')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber-2),'@(ViewBag.order)')">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="CSRActivityReportListLoad()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber + 2),'@(ViewBag.order)')">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber - 1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="CSRActivityReportListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
        }
    </div>
</div>


