
@{
    Layout = null;
    List<string> Column = (List<string>)ViewBag.ColumnList;
}
@model  List<HS.Entities.Customer>
@using System.Collections;
@using lbl = HS.Web.UI.Helper.LabelHelper
@using DateTimeExt = HS.Framework.DateTimeExtension
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomerPdf</title>
</head>
<body style="font-family:sans-serif;">
    <div class="container">
        <div class="tblCompanyInfo">
            <table style="width:100%">
                <thead>
                    <tr>
                        @if (Column.Count == 0)
                        {
                            <th>Id</th>
                            <th>Name</th>
                            <th>EmailAddress</th>
                            <th>BuisnessName</th>
                            <th>Type</th>

                            <th>Sale Parson</th>
                            <th>Primary Phone</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zip Code</th>
                            <th>Address</th>
                            <th>Contact Term</th>
                            <th>Monthly Monitoring Fee</th>
                            <th>BillAmount</th>

                            <th>BillCycle</th>
                            <th>PaymentMethod</th>
                            <th>BillTax</th>
                            <th>CustomerNo</th>
                            <th>SSN</th>
                            <th>Date Of Birth</th>
                            <th>Secondary Phone</th>
                            <th>Credit Score</th>

                            <th>FundingCompany</th>
                            <th>LeadSource</th>
                            <th>Customer Funded</th>
                            <th>Maintenance</th>
                            <th>Note</th>

                            <th>Sale Date</th>
                            <th>Install Date</th>
                            <th>Cut In Date</th>
                            <th>Installer</th>
                            <th>Funding Date</th>
                            <th>Join Date</th>
                            <th>Bill day</th>

                            <th>Second Customer No</th>
                            <th>Additional Customer No</th>
                            <th>Activation Fee</th>
                            <th>First Billing </th>

                            <th>DBA</th>
                            <th>IsAgreement </th>
                            <th>Branch Id</th>
                            <th>Last Updated Date </th>

                        }
                        else
                        {
                            foreach (var item in Column)
                            {
                                if (item == "Id")
                                {
                                    <th>Id</th>
                                }
                                else if (item == "Name")
                                {
                                    <th>Name</th>
                                }
                                else if (item == "Email")
                                {
                                    <th>EmailAddress</th>
                                }
                                else if (item == "BuisnessName")
                                {
                                    <th>BuisnessName</th>
                                }
                                else if (item == "SaleParson")
                                {
                                    <th>Sale Parson</th>
                                }
                                else if (item == "Type")
                                {
                                    <th>Type</th>
                                }
                                else if (item == "PhoneNo")
                                {
                                    <th>Primary Phone</th>
                                }
                                else if (item == "City")
                                {
                                    <th>City</th>
                                }
                                else if (item == "State")
                                {
                                    <th>State</th>
                                }
                                else if (item == "ZipCode" || item == "ZipState")
                                {
                                    <th>Zip Code</th>
                                }
                                else if (item == "Location")
                                {
                                    <th>Address</th>
                                }
                                else if (item == "CallingTime")
                                {
                                    <th>CallingTime</th>
                                }
                                else if (item == "Contract")
                                {
                                    <th>Contact Term</th>
                                }
                                else if (item == "MMR")
                                {
                                    <th>Monthly Monitoring Fee</th>
                                }
                                else if (item == "BillAmount")
                                {
                                    <th>BillAmount</th>
                                }
                                else if (item == "BillCycle")
                                {
                                    <th>BillCycle</th>
                                }
                                else if (item == "Payment")
                                {
                                    <th>PaymentMethod</th>
                                }
                                else if (item == "Tax")
                                {
                                    <th>BillTax</th>
                                }
                                else if (item == "CustomerNo")
                                {
                                    <th>CustomerNo</th>
                                }
                                else if (item == "SSN")
                                {
                                    <th>SSN</th>
                                }
                                else if (item == "DateOfBirth")
                                {
                                    <th>Date Of Birth</th>
                                }
                                else if (item == "SecondaryPhone")
                                {
                                    <th>Secondary Phone</th>
                                }
                                else if (item == "CreditScore")
                                {
                                    <th>Credit Score</th>
                                }
                                else if (item == "FundingCompany")
                                {
                                    <th>FundingCompany</th>
                                }
                                else if (item == "LeadSource")
                                {
                                    <th>LeadSource</th>
                                }
                                else if (item == "CustomerFunded")
                                {
                                    <th>Customer Funded</th>
                                }
                                else if (item == "Maintenance")
                                {
                                    <th>Maintenance</th>
                                }
                                else if (item == "Note")
                                {
                                    <th>Note</th>
                                }
                                else if (item == "SalesDate")
                                {
                                    <th>Sale Date</th>
                                }

                                else if (item == "InstallDate")
                                {
                                    <th>Install Date</th>
                                }
                               
                                else if (item == "CutInDate")
                                {
                                    <th>Cut In Date</th>
                                }
                                else if (item == "Installer")
                                {
                                    <th>Installer</th>
                                }

                                else if (item == "FundingDate")
                                {
                                    <th>Funding Date</th>
                                }
                                else if (item == "JoinDate")
                                {
                                    <th>Join Date</th>
                                }
                                else if (item == "QA1")
                                {
                                    <th>QA1</th>
                                }
                                else if (item == "QA1Date")
                                {
                                    <th>QA1Date</th>
                                }
                                else if (item == "QA2")
                                {
                                    <th>QA2</th>
                                }
                                else if (item == "QA2Date")
                                {
                                    <th>QA2Date</th>
                                }
                                else if (item == "Status")
                                {
                                    <th>Status</th>
                                }
                                else if (item == "Billday")
                                {
                                    <th>Bill day</th>
                                }
                                else if (item == "StreetType")
                                {
                                    <th>StreetType</th>
                                }
                                else if (item == "SecondCustomerNo")
                                {
                                    <th>Second Customer No</th>
                                }

                                else if (item == "AdditionalCustomerNo")
                                {
                                    <th>Additional Customer No</th>
                                }
                                else if (item == "Passcode")
                                {
                                    <th>Passcode</th>
                                }
                                else if (item == "ActivationFee")
                                {
                                    <th>Activation Fee</th>
                                }
                                else if (item == "FirstBilling")
                                {
                                    <th>First Billing </th>
                                }


                                else if (item == "DoingBusinessAs")
                                {
                                    <th>DBA</th>
                                }
                                else if (item == "IsAgreement")
                                {
                                    <th>IsAgreement </th>
                                }
                                else if (item == "Branch")
                                {
                                    <th>Branch Id</th>
                                }
                                else if (item == "LastUpdatedDate")
                                {
                                    <th>Last Updated Date </th>
                                }
                            }
                        }


                    </tr>
                </thead>
                <tbody>

    @foreach (var item in Model)
    {
        if (Column.Count == 0)
        {
            <tr style="text-align:center">
                <td>@item.Id</td>
                <td>@item.FirstName @item.LastName</td>

                <td>@item.EmailAddress</td>
                <td>@item.BusinessName</td>


                <td>@item.Type</td>
                <td>@item.PersonSales</td>


                <td>@HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(item.PrimaryPhone)</td>
                <td>@item.City</td>

                <td>@item.State</td>
                <td>@item.ZipCode</td>


                <td>@item.Address</td>
                @if (item.ContractTeam == "-1")
                {
                        <td>-</td>

                }
                else
                {
                    <td>@item.ContractTeam</td>
                }
                <td>@item.MonthlyMonitoringFee</td>
                <td>@item.BillAmount</td>

                <td>@item.BillCycle</td>
                <td>@item.PaymentMethod</td>

                <td>@item.BillTax</td>
                <td>@item.CustomerNo</td>

                <td>@item.SSN</td>
                @if (item.DateofBirth == new DateTime())
                {
                    <td>-</td>
                }
                else
                {
                    <td>@item.DateofBirth</td>
                }
              

                <td>@HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(item.SecondaryPhone)</td>
                @if (@item.CreditScore == "-1")
                {
                    <td>-</td>
                }
                else
                {
                    <td>@item.CreditScore</td>
                }

                @if (@item.FundingCompany == "-1")
                {
                    <td>-</td>
                }
                else
                {
                    <td>@item.FundingCompany</td>
                }
                @if (@item.LeadSource == "-1")
                {
                    <td>-</td>
                }
                else
                {
                    <td>@item.LeadSource</td>
                }
                <td>@item.CustomerFunded</td>
                <td>@item.Maintenance</td>

                <td>@item.Note</td>
             
                @if (item.SalesDate == new DateTime())
                {
                    <td>-</td>
                }
                else
                {
                    <td>@item.SalesDate</td>
                }
                @if (item.InstallDate == new DateTime())
                {
                    <td>-</td>
                }
                else
                {
                    <td>@item.InstallDate</td>
                }
                @if (item.CutInDate == new DateTime())
                {
                    <td>-</td>
                }
                else
                {
                    <td>@item.CutInDate</td>
                }
            


                <td>@item.Installer</td>
                @if (item.FundingDate == new DateTime())
                {
                    <td>-</td>
                }
                else
                {
                    <td>@item.FundingDate</td>
                }
                @if (item.JoinDate == new DateTime())
                {
                    <td>-</td>
                }
                else
                {
                    <td>@item.JoinDate</td>
                }
                <td>@item.BillDay</td>

                <td>@item.SecondCustomerNo</td>
                <td>@item.AdditionalCustomerNo</td>

                <td>@item.ActivationFee</td>
                <td>@item.FirstBilling</td>

                <td>@item.DBA</td>
                <td>@item.IsAgreement</td>

                <td>@item.BranchId</td>
                @if (item.LastUpdatedDate == new DateTime())
                {
                    <td>-</td>
                }
                else
                {
                    <td>@item.LastUpdatedDate</td>
                }
              
            </tr>
        }
        else
         {
            <tr style="text-align:center">
                @foreach (var columnitem in Column)
                {
                    if (columnitem == "Id")
                    {
                    <td>item.Id</td>
                    }
                    else if (columnitem == "Name")
                    {
                        <td>@item.FirstName @item.LastName</td>
                    }
                    else if (columnitem == "Email")
                    {
                        <td>@item.EmailAddress</td>
                    }
                    else if (columnitem == "BuisnessName")
                    {
                        <td>@item.BusinessName</td>
                    }
                    else if (columnitem == "SaleParson")
                    {
                        <td>@item.PersonSales</td>
                    }
                    else if (columnitem == "Type")
                    {
                        <td>@item.Type</td>
                    }
                    else if (columnitem == "PhoneNo")
                    {
                        <td>@HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(item.PrimaryPhone)</td>
                    }
                    else if (columnitem == "City")
                    {
                        <td>@item.City</td>
                    }
                    else if (columnitem == "State")
                    {

                        <td>@item.State</td> 
                      
                    }
                    else if (columnitem == "ZipCode" || columnitem == "ZipState")
                    {
                        <td>@item.ZipCode</td>
                    }
                    else if (columnitem == "Location")
                    {
                        <td>@item.Address</td>
                    }
                    else if (columnitem == "CallingTime")
                    {
                        <td>@item.CallingTime</td>
                    }
                    else if (columnitem == "Contract")
                    {
                        if (@item.ContractTeam == "-1")
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@item.ContractTeam</td>
                        }

                    }
                    else if (columnitem == "MMR")
                    {
                        <td>@item.MonthlyMonitoringFee</td>     
                    }
                    else if (columnitem == "BillAmount")
                    {
                        <td>@item.BillAmount</td>
                    }
                    else if (columnitem == "BillCycle")
                    {
                        <td>@item.BillCycle</td>
                    }
                    else if (columnitem == "Payment")
                    {
                        <td>@item.PaymentMethod</td>
                    }
                    else if (columnitem == "Tax")
                    {
                        <td>@item.BillTax</td>
                    }
                    else if (columnitem == "CustomerNo")
                    {
                        <td>@item.CustomerNo</td>
                    }
                    else if (columnitem == "SSN")
                    {
                        <td>@item.SSN</td>
                    }
                    else if (columnitem == "DateOfBirth")
                    {
                        if (item.DateofBirth == new DateTime())
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@item.DateofBirth</td>
                        }
                    }
                    else if (columnitem == "SecondaryPhone")
                    {
                        <td>@HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(item.SecondaryPhone)</td>
                    }
                    else if (columnitem == "CreditScore")
                    {
                        if (@item.CreditScore == "-1")
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@item.CreditScore</td>
                        }

                    }
                    else if (columnitem == "FundingCompany")
                    {
                        if (@item.FundingCompany == "-1")
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@item.FundingCompany</td>
                        }

                    }
                    else if (columnitem == "LeadSource")
                    {
                        if (@item.LeadSource == "-1")
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@item.LeadSource</td>
                        }

                    }
                    else if (columnitem == "CustomerFunded")
                    {
                        <td>@item.CustomerFunded</td>
                    }
                    else if (columnitem == "Maintenance")
                    {
                        <td>@item.Maintenance</td>
                    }
                    else if (columnitem == "Note")
                    {
                         <td>@item.Note</td>
                    }
                    else if (columnitem == "SalesDate")
                    {
                        if (item.SalesDate == new DateTime())
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@item.SalesDate</td>
                        }
                    }

                    else if (columnitem == "InstallDate")
                    {
                        if (item.InstallDate == new DateTime())
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@item.InstallDate</td>
                        }
                    }

                    else if (columnitem == "CutInDate")
                    {
                        if (item.CutInDate == new DateTime())
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@item.CutInDate</td>
                        }
                    }
                    else if (columnitem == "Installer")
                    {
                        <td>@item.Installer</td>
                    }

                    else if (columnitem == "FundingDate")
                    {
                        <td>@item.FundingDate</td>
                    }
                    else if (columnitem == "JoinDate")
                    {
                        <td>@item.JoinDate</td>
                    }
                    else if (columnitem == "QA1")
                    {
                        <td>@item.QA1</td>
                    }
                    else if (columnitem == "QA1Date")
                    {
                       <td>@item.QA1Date</td>
                    }
                    else if (columnitem == "QA2")
                    {
                        <td>@item.QA2</td>
                    }
                    else if (columnitem == "QA2Date")
                    {
                        <td>@item.QA2Date</td>
                    }
                    else if (columnitem == "Status")
                    {
                        <td>@item.Status</td>
                    }
                    else if (columnitem == "Billday")
                    {
                        <td>@item.BillDay</td>
                    }
                    else if (columnitem == "StreetType")
                    {
                        <td>@item.StreetType</td>
                    }
                    else if (columnitem == "SecondCustomerNo")
                    {
                        <td>@item.SecondCustomerNo</td>
                    }

                    else if (columnitem == "AdditionalCustomerNo")
                    {
                        <td>@item.AdditionalCustomerNo</td>
                    }
                    else if (columnitem == "Passcode")
                    {
                        <td>@item.Passcode</td>
                    }
                    else if (columnitem == "ActivationFee")
                    {
                        <td>@item.ActivationFee</td>
                    }
                    else if (columnitem == "FirstBilling")
                    {
                        <td>@item.FirstBilling</td>
                    }


                    else if (columnitem == "DoingBusinessAs")
                    {
                        <td>@item.DBA</td>
                    }
                    else if (columnitem == "IsAgreement")
                    {
                        <td>@item.IsAgreement</td>
                    }
                    else if (columnitem == "Branch")
                    {
                        <td>@item.BranchId</td>
                    }
                    else if (columnitem == "LastUpdatedDate")
                    {
                        if (item.LastUpdatedDate == new DateTime())
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@item.LastUpdatedDate</td>
                        }

                    }
                }
            </tr>
           
         }
    }

    
                   
                 
                </tbody>
            </table>
        </div>
     

    </div>
</body>
</html>


