@model HS.Entities.TicketListModel
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>

<script>
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var pageno = '@ViewBag.PageNumber';
    var tickettype = '@Html.Raw(Json.Encode(@ViewBag.tikettype))';
    tickettype = JSON.parse(tickettype);
    var statustiket = '@Html.Raw(Json.Encode(@ViewBag.statustiket))';
    statustiket = JSON.parse(statustiket);
    var assignticket = '@Html.Raw(Json.Encode(@ViewBag.assignticket))';
    assignticket = JSON.parse(assignticket);
    var pagesize = 20;
    var DateReferenceListLoad = function (pageNo, order) {

        console.log(order);
        if (typeof (pageNo) != "undefined") {


            var AssignedSearch = encodeURI($("#Assigned_search_datereference").val());
            var TicketTypeSearch = encodeURI($("#TicketType_Search_datereference").val());
            var TicketStatusSearch = encodeURI($("#Ticket_Status_Search_datereference").val());
            var MyTicketSearch = $("#TicketFor_search_reference").val();
            var DateFrom = $(".min-date").val();
            var DateTo = $(".max-date").val();
            var SearchText = $("#searchtext_datereference").val();
            console.log(DateFrom);
            console.log(pageNo);

            var id = $("#ticket_id_datereferencereport").val();
            var cusid = $("#cus_id_datereferencereport").val();
            var user = $("#sales_person_datereferencereport").val();
            var convertmindate = $("#completion_datereference_min_date").val();
            var convertmaxdate = $("#completion_datereference_max_date").val();
            var createmindate = $("#sold_datereference_min_date").val();
            var createmaxdate = $("#sold_datereference_max_date").val();
            var transfermindate = $("#install_datereference_min_date").val();
            var transfermaxdate = $("#install_datereference_max_date").val();
            var ticketcreateddatemin = $("#datereference_createmindate").val();
            var ticketcreateddatemax = $("#datereference_createmaxdate").val();
            $(".date_reference_table").html(TabsLoaderText);
            $(".date_reference_table").load(domainurl + "/Reports/DateReferenceReportList", { PageNo: pageNo, SearchText: SearchText, order: order, StartDate: DateFrom, EndDate: DateTo, TicketType: TicketTypeSearch, TicketStatus: TicketStatusSearch, AssignedUserTicket: AssignedSearch, MyTicket: MyTicketSearch, convertmindate: encodeURI(convertmindate), convertmaxdate: encodeURI(convertmaxdate), createmindate: encodeURI(createmindate), createmaxdate: encodeURI(createmaxdate), transfermindate: encodeURI(transfermindate), transfermaxdate: encodeURI(transfermaxdate), user: encodeURI(user), cusid: encodeURI(cusid), id: encodeURI(id),ticketcreateddatemax: encodeURI(ticketcreateddatemax),ticketcreateddatemin: encodeURI(ticketcreateddatemin) ,viewtype:"webview"});


        }
    }
    var ResetFilter = function () {
        $(".reference_cus_inp").val("");
        $(".reference_cus_inp_drp").selectpicker("val", "");
        $(".reference_cus_inp_drp").val("-1");
        $("#searchtext_datereference").val("");
        DateReferenceListLoad(1);
    }
    $(document).ready(function () {
        DateReferenceListLoad(1);
        $('[data-toggle="tooltip"]').tooltip();

        $("#btnsearchtext_datereference").click(function () {
            DateReferenceListLoad(1);
        });
        $(".DateFilterContents .btn-apply-Datefilter").click(function () {
        var DateFrom = $(".min-date").val();
        var DateTo = $(".max-date").val();

                if (top.location.hash != "" && top.location.hash == "#NewDateReferenceReportTab") {
                UpdatePtoCookie();
                    DateReferenceListLoad(1);
                    var StartDate = my_date_format($(".DateFilterContents .min-date").val());
        var EndDate = my_date_format($(".DateFilterContents .max-date").val())
        if (StartDate == "NaN undefined, NaN") {
            StartDate = "All Time";
            EndDate = "";
        }

        $(".DateFilterContents .date-start").html("");
        $(".DateFilterContents .date-end").html("");
        $(".DateFilterContents .date-start").html(StartDate);
        $(".DateFilterContents .date-end").html(EndDate);
        $(".DateFilterContents .dropdown-filter").hide();
            }

    });
           $("#searchtext_datereference").keydown(function (e) {
                          var SearchText = $("#searchtext_datereference").val();

                if (e.which == 13) {
                    DateReferenceListLoad(1);
                }
            });
 
        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            DateReferenceListLoad(pageno, orderval);
        })
        if (tickettype.length != 0) {
            $("#TicketType_Search_datereference").selectpicker('val', tickettype);
        }
        else {
            $("#TicketType_Search_datereference").selectpicker('val', '');
        }
        if (statustiket.length != 0) {
            $("#Ticket_Status_Search_datereference").selectpicker('val', statustiket);
        }
        else {
            $("#Ticket_Status_Search_datereference").selectpicker('val', '');
        }
        if (assignticket.length != 0) {
            $("#Assigned_search_datereference").selectpicker('val', assignticket);
        }
        else {
            $("#Assigned_search_datereference").selectpicker('val', '');
        }
        $("#btnDownloaddatereference").click(function () {
            var id = $("#ticket_id_datereferencereport").val();
            var cusid = $("#cus_id_datereferencereport").val();
            var user = $("#sales_person_datereferencereport").val();
            var convertmindate = $("#completion_datereference_min_date").val();
            var convertmaxdate = $("#completion_datereference_max_date").val();
            var createmindate = $("#sold_datereference_min_date").val();
            var createmaxdate = $("#sold_datereference_max_date").val();
            var transfermindate = $("#install_datereference_min_date").val();
            var transfermaxdate = $("#install_datereference_max_date").val();
            var ticketcreateddatemin = $("#datereference_createmindate").val();
            var ticketcreateddatemax = $("#datereference_createmaxdate").val();
            var StartDate = $(".min-date").val();
            var EndDate = $(".max-date").val();
            location.href = domainurl + "/Reports/DateReferenceReportListForDownload/?viewtype=excel" + "&SearchText=" + $("#searchtext_datereference").val() + "&TicketType=" + $("#TicketType_Search_datereference").val() + "&TicketStatus=" + $("#Ticket_Status_Search_datereference").val() + "&AssignedUserTicket=" + $("#Assigned_search_datereference").val() + "&RepType=DateReference" + "&id=" + encodeURI(id) + "&cusid=" + encodeURI(cusid) + "&user=" + encodeURI(user) + "&convertmindate=" + encodeURI(convertmindate) + "&convertmaxdate=" + encodeURI(convertmaxdate) + "&createmindate=" + encodeURI(createmindate) + "&createmaxdate=" + encodeURI(createmaxdate) + "&transfermindate=" + encodeURI(transfermindate) + "&transfermaxdate=" + encodeURI(transfermaxdate) + "&ticketcreateddatemax=" + encodeURI(ticketcreateddatemax) + "&ticketcreateddatemin=" + encodeURI(ticketcreateddatemin) + "&StartDate=" + encodeURI(StartDate) + "&EndDate=" + encodeURI(EndDate);
        });

        new Pikaday({ format: 'MM/DD/YYYY', field: $('#completion_datereference_min_date')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#completion_datereference_max_date')[0] });

        new Pikaday({ format: 'MM/DD/YYYY', field: $('#sold_datereference_min_date')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#sold_datereference_max_date')[0] });

        new Pikaday({ format: 'MM/DD/YYYY', field: $('#install_datereference_min_date')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#install_datereference_max_date')[0] });

        new Pikaday({ format: 'MM/DD/YYYY', field: $('#datereference_createmindate')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#datereference_createmaxdate')[0] });

        $(".datereference_cus_report_filter").hide();
        $("#datereference_cus_filterbtn").click(function () {
            console.log("filter");
            if ($(".datereference_cus_report_filter").is(":visible")) {
                $(".datereference_cus_report_filter").hide();

            } else {
                $(".datereference_cus_report_filter").show();

            }
        });
        //$(document).click(function (e) {
        //    if ($($(e.target).parent().parent()).hasClass('datereference_cus_div')
        //                || $($(e.target).parent()).hasClass('datereference_cus_div')
        //                || $($(e.target).parent().parent()).hasClass('datereference_cus_div')) {
        //        return;
        //    }
        //    else if ($(".datereference_cus_report_filter").is(":visible")) {
        //        $(".datereference_cus_report_filter").hide();
        //    }
        //});
    });
</script>
<style>
      .reference_cus_report_filte_innerr {
        width: 100%;
        float: left;
    }
       .datereference_cus_report_filter {
        width: 100%;
        float: left;
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 10px;
    }
      .datereference_cus_report_filter .reference_cus_report_filte_innerr div {
            float: left;
            width: 20%;
            padding-left: 5px;
            padding-right: 5px;
        }
       .reference_cus_report_footer {
        width: 100%;
        float: left;
        background-color: #fff;
        padding: 5px;
        text-align: right;
       }
  
      @@media (max-width:768px) {
        .datereference_cus_report_filter .reference_cus_report_filte_innerr div {
            width: 33.33%;
        }
       }

    @@media (max-width:414px) {
        .datereference_cus_report_filter .reference_cus_report_filte_innerr div {
            width: 100%;
        }
      }

</style>

<div class="page-content-wrap cus-padding-top10p invoicelist">
    <div class="FilterFunding clearfix">
        <div class="date_ref_srch_filter datereference_cus_div">
            <div class="input-group add-on">
                <input value="@Model.Searchtext" class="form-control filterinput border_radius_0 ticket_search_text" id="searchtext_datereference" placeholder="Search By Ticket Id,Customer Id">
                <div class="input-group-btn"><button class="btn search_ticket_btn green_button" id="btnsearchtext_datereference" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button></div>

            </div>
            <button class="btn datereference_cus_div page_filter_btn" id="datereference_cus_filterbtn">
                <span title="Filter" class="glyphicon glyphicon-filter"></span>
            </button>
            <button title="@Localize.T("Download")" class="report_btn lrp_float_right" id="btnDownloaddatereference"><i class="fa fa-download" aria-hidden="true"></i></button>

        </div>


    </div>
    <div class="datereference_cus_report_filter">
        <div class="reference_cus_report_filte_innerr datereference_cus_div">
            <div class="form-group clearfix">
                <label>@Localize.T("Ticket ID")</label>
                <input class="form-control reference_cus_inp" placeholder="Ticket ID" id="ticket_id_datereferencereport" />
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Customer ID")</label>
                <input class="form-control reference_cus_inp" placeholder="Customer ID" id="cus_id_datereferencereport" />
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Ticket Type")</label>
                @Html.DropDownListFor(x => x.TicketType, ViewBag.TicketType as List<SelectListItem>, new { @class = "form-control border_radius_0 TicketType_Search reference_cus_inp_drp", id = "TicketType_Search_datereference", @multiple = "multiple", @title = "Ticket Type" })
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Ticket Status")</label>
                @Html.DropDownListFor(x => x.TicketStatus, ViewBag.TicketStatus as List<SelectListItem>, new { @class = "form-control border_radius_0 Ticket_Status_Search reference_cus_inp_drp", id = "Ticket_Status_Search_datereference", @multiple = "multiple", @title = "Ticket Status" })
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Assigned User")</label>
                @Html.DropDownListFor(x => x.Assigned, ViewBag.EmployeeList as List<SelectListItem>, new { @class = "form-control border_radius_0 Assigned_search reference_cus_inp_drp", id = "Assigned_search_datereference", @multiple = "multiple", @title = "Assigned User" })
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Sales Person")</label>
                @Html.DropDownList("sales_person_datereferencereport", ViewBag.salesperson as List<SelectListItem>, new { @class = "form-control reference_cus_inp_drp", @title = "Sales Person" })
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Scheduled On Min Date")</label>
                <input class="form-control reference_cus_inp" placeholder="Scheduled On Min Date" id="completion_datereference_min_date" />
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Scheduled On Max Date")</label>
                <input class="form-control reference_cus_inp" placeholder="Scheduled On Max Date" id="completion_datereference_max_date" />
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Sold Min Date")</label>
                <input class="form-control reference_cus_inp" placeholder="Sold Min Date" id="sold_datereference_min_date" />
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Sold Max Date")</label>
                <input class="form-control reference_cus_inp" placeholder="Sold Max Date" id="sold_datereference_max_date" />
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Install Min Date")</label>
                <input class="form-control reference_cus_inp" placeholder="Install Min Date" id="install_datereference_min_date" />
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Install Max Date")</label>
                <input class="form-control reference_cus_inp" placeholder="Install Max Date" id="install_datereference_max_date" />
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Created Min Date")</label>
                <input class="form-control reference_cus_inp" placeholder="Created Min Date" id="datereference_createmindate" />
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Created Max Date")</label>
                <input class="form-control reference_cus_inp" placeholder="Created Max Date" id="datereference_createmaxdate" />
            </div>
        </div>
        <div class="reference_cus_report_footer datereference_cus_div">
            <button class="btn green_button" id="apply_btn_filter" onclick="DateReferenceListLoad(1)">@Localize.T("Apply")</button>
            <button class="btn red_button" id="reset_btn_filter" onclick="ResetFilter()">@Localize.T("Reset")</button>
        </div>
    </div>

    <div class="date_reference_table">

    </div>
</div>


