@*@model List<HS.Entities.UpsellUserModel>*@
@model HS.Entities.EstimateReportModel
@{
    Layout = null;
}
@using AppConfig = HS.Framework.Utils.AppConfig;
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using HS.Framework
<script>
    var customerreportpopwinowwith = 920;    var customerreportpopwinowheight = 600;    var customerprintpopwinowwith = 920;    var customerprintpopwinowheight = 600;    if (Device.MobileGadget()) {        customerreportpopwinowwith = window.innerWidth;        customerreportpopwinowheight = window.innerHeight;        customerprintpopwinowwith = window.innerWidth;        customerprintpopwinowheight = window.innerHeight;    }    var idlist = [{ id: ".SentEstimator", type: 'iframe', width: customerreportpopwinowwith, height: customerreportpopwinowheight }    ];    jQuery.each(idlist, function (i, val) {        magnificPopupObj(val);    });

</script>
<table class="loadticketreportlist_table upsellsreportlist_table">
    <thead class="table-head-border">
        <tr>
            <th class="thead-th-style"><div>@Localize.T("Customer Name")</div></th>
            <th class="thead-th-style"><div>@Localize.T("Estimate Id")</div></th>
            <th class="thead-th-style"><div>@Localize.T("Sent Date")</div></th>
            <th class="thead-th-style"><div>@Localize.T("Action")</div></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.EstimateModelList != null && Model.EstimateModelList.Count() > 0)
        {
            foreach (var item in Model.EstimateModelList)
            {
                <tr class="tr-style">
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("CustomerName")<span>:</span></div>
                        <div class="ticket_list_partial_device_info_upsell">
                            @item.CustomerName <br />
                           <a class="cus-anchor" href="/Customer/CustomerDetail/?id=@item.CustomerIntId" target="_blank">@item.CustomerIntId</a>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Estimate Id")<span>:</span></div>
                        <div class="ticket_list_partial_device_info_upsell">
                            <a class="cus-anchor green-tooltip" onclick="OpenEstimatorById(@item.Id)" data-toggle="tooltip" data-placement="right" title="">@item.EstimatorId</a>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Sent Date")<span>:</span></div>
                        <div class="ticket_list_partial_device_info_upsell">
                            @item.SendDate.UTCToClientTime().ToString("M/d/yy h:mm tt")
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Action View")<span>:</span></div>
                        @*<div class="ticket_list_partial_device_info_upsell">
                            <button class="btn green_button" onclick="OpenTopToBottomModal('@(AppConfig.DomainSitePath)/Reports/EstimateActionView?EstimatorId=@item.EstimatorId')">View</button>
                        </div>*@
                        <div class="displayNone">
                            <a  href="@(AppConfig.DomainSitePath)/Reports/EstimateActionView?EstimatorId=@item.EstimatorId" class="btn green_button SentEstimator">@Localize.T("View")</a>
                        </div>
                        
                    </td>
                </tr>
            }
        }
    </tbody>

</table>