@model HS.Entities.EstimatorFile
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script src="~/Content/Js/Modals/Modals.js"></script>
<style>
    .CloseButtonDiv {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

        .CloseButtonDiv img {
            width: 25px;
        }

    .HeadContents {
        padding-top: 20px;
        padding-left: 30px;
    }

        .HeadContents h4 {
            margin-bottom: 5px;
        }

    .HeadContents_agreement {
        padding-top: 10px;
        padding-left: 15px;
    }

    .btnCancel {
        color: black;
        border: 1px solid #6b6c72;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
    }

        .btnCancel:hover {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 19px;
            padding-right: 19px;
            border: 2px solid #6b6c72;
        }

    .btnPrint {
        float: right;
    }

    .btnPrint, .btnemail_send {
        color: white;
        border: 1px solid #6b6c72;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #2ca01c;
        /*float: right;*/
        margin-right: 30px;
    }

        .btnPrint:hover, .btnemail_send:hover {
            background-color: #2ca01c !important;
        }

    .btnIAgree {
        color: white;
        border: 1px solid #6b6c72;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #2ca01c;
        float: right;
        margin-right: 30px;
    }

    /*.btnIAgree:hover {
            background-color: #108000 !important;
        }*/

    .error-IAgree-warning {
        position: absolute;
        left: 425px;
        top: 150px;
        color: red;
        font-style: italic;
        font-size: 12px;
        font-weight: 600;
        display: none;
    }

    .footerContents {
        width: 100%;
        position: absolute;
        bottom: 20px;
        padding-left: 30px;
        padding-right: 20px;
        box-sizing: border-box;
        font-size: 16px;
    }

    .bodyConentsDiv {
        width: 93%;
        -webkit-overflow-scrolling: touch;
        height: 430px;
        margin-top: 15px;
        margin-left: 30px;
        overflow: hidden;
    }

    .bodyConentsDiv1 {
        width: 93%;
        overflow-y: scroll;
        height: 430px !important;
        margin-top: 15px;
        margin-left: 30px;
    }

    .pdf-styles {
        width: 100%;
        height: 430px;
    }

    .cus-padding-top10p {
        padding-top: 10px;
    }

    #iframePdf #searchifyProgress,
    #iframePdf cr-toast {
        display: none;
    }
    .new_st {
        font-family:'Times New Roman';
    }
    .new_st h4 {
        font-size:14px;
    }
    body {
        margin:0px !important;
    }
</style>
<script src="~/Content/Jquery-ui/jquery.js"></script>

<script src="~/Content/Js/Login/domainurl.js"></script>

<script>
     
    var EstimatorId = '@ViewBag.EstimatorId'; 

    
        String.prototype.replaceAll = function (search, replacement) {
            var target = this;
            return target.split(search).join(replacement);
        };
        function printFrame(id) {
            var frm = document.getElementById(id).contentWindow;
            frm.focus(); 
            frm.print();
            return false;
        }  
    var SendEstimeApproveById = function (EstimateConvertId, status, pdf) {
        console.log("Fire ajax");
         
        $.ajax({
            url: domainurl + "/Public/EstimeApproveById",
            data: { Id: EstimateConvertId, Status: status, pdf: pdf },
            type: "POST",
            dataType: "json",
            success: function (data) {
                parent.OpenSuccessMessageNew("Success!", data.message, function () {
                    parent.ClosePopup(); 
                     
                },parent.LoadEstimateList(1, null));
            },
            error: function (xhr, status, error) {
                console.error("Error: " + status + ", " + error);
                console.log("Something went wrong, please try again.");
            } 
        });
    };

    $(document).ready(function () {
            
    });
/**/</script>

<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="new_st">
    <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
        <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png">
    </div>
    <div class="HeadContents">
        <h4>Print preview</h4>
        <span>To print, right-click the preview and select Print. Or, click the Print icon if you see one below.</span>

    </div>
    <div class="bodyConentsDiv">
        <iframe class="pdf-styles" id="iframePdf" src="@ViewBag.PdfLocation"></iframe>
    </div>
    <div class="footerContents">
        <button onclick="parent.ClosePopup()" class="btnCancel">Cancel</button>
        <button onclick="SendEstimeApproveById(@ViewBag.EstimatorIntId,'Approve','@ViewBag.PdfLocation')" style="cursor:pointer;" class="btnCancel">Approve</button>
        <button onclick="SendEstimeApproveById(@ViewBag.EstimatorIntId,'Decline','@ViewBag.PdfLocation')" style="cursor:pointer;" class="btnCancel">Decline</button>
        <button onclick="printFrame('iframePdf')" class="btnPrint">Print</button>
    </div>
</div>

