@{ 
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.FinishedJobReportModel

<script>
    var pageno = '@ViewBag.PageNumber';
    $(document).ready(function () {
        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            FinishedJobPaging(pageno, orderval);
        });

    })
</script>

<div>
    
    <table class="loadticketreportlist_table">
        <thead class="table-head-border">
            <tr>
                <th class="thead-th-style">
                    <div>@Localize.T("Customer Name")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/customername"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/customername"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Booking")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/bookingid"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/bookingid"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Ticket")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/id"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/id"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Address")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/address"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/address"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Phone")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/phone"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/phone"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Email")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/email"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/email"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Discount")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/discount"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/discount"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Total Price")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/totalprice"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/totalprice"></i></div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FinishedJobReportList)
            {
                <tr class="tr-style">
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Customer Name")</div>
                        <div class="booking_list_partial_device_info"> <a class="cus-anchor" href="/Customer/Customerdetail/?id=@item.CustomerId">@item.CustomerName</a></div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Booking#")</div>
                        <div class="booking_list_partial_device_info">  <span onclick="OpenBkById(@item.BookingIntId)" class="cus-anchor">@item.BookingId</span></div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Ticket#")</div>
                        <div class="booking_list_partial_device_info"><span class="cus-anchor" onclick="OpenTicketById(@item.Id)">@item.Id</span> </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Address")</div>
                        <div class="booking_list_partial_device_info">  @item.Address</div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Phone")</div>
                        <div class="booking_list_partial_device_info">@HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(@item.Phone)</div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Email")</div>
                        <div class="booking_list_partial_device_info finished_job_mail">  @item.Email</div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Discount")</div>
                        <div class="booking_list_partial_device_info">  @Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.Discount)</div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Total Price")</div>
                        <div class="booking_list_partial_device_info"> @Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.TotalPrice)</div>
                    </td>
                </tr>
            }
            <tr class="table_total_bg">
                <td colspan="6" class="table-body-td-style" valign="top"></td>
                <td class="table-body-td-style" valign="top">
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Discount")</div>
                    <div class="booking_list_partial_device_info"><b title="@Localize.T("Total Discount")">$@Model.FinishedJobReportList.Sum(i => i.Discount).ToString("N2")</b></div>
                </td>
                <td class="table-body-td-style" valign="top">
                    <div class="ticket_list_partial_device_header">@Localize.T("Subtotal Price")</div>
                    <div class="booking_list_partial_device_info"><b title="@Localize.T("Subtotal Price")">$@Model.FinishedJobReportList.Sum(i => i.TotalPrice).ToString("N2")</b></div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="AgentListPagination inv1">
        <div class="paginationContainer">
            @if (ViewBag.PageCount > 0)
            {
                <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
            }
            @if (ViewBag.PageCount == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons disabledBtn">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="FinishedJobPaging(@(ViewBag.PageNumber), @(ViewBag.order))">1</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FinishedJobPaging(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FinishedJobPaging(1, @(ViewBag.order))">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FinishedJobPaging(2, @(ViewBag.order))">2</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="FinishedJobPaging(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FinishedJobPaging(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FinishedJobPaging(1, @(ViewBag.order))">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FinishedJobPaging(2, @(ViewBag.order))">2</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="FinishedJobPaging(3, @(ViewBag.order))">3</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="FinishedJobPaging(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount > 3)
            {
                if (ViewBag.PageNumber == ViewBag.PageCount)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="FinishedJobPaging(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FinishedJobPaging(@(ViewBag.PageNumber-2), @(ViewBag.order))">@(ViewBag.PageNumber - 2)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FinishedJobPaging(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="FinishedJobPaging(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons disabledBtn" onclick="FinishedJobPaging()">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 1)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="FinishedJobPaging(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FinishedJobPaging(@(ViewBag.PageNumber+1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FinishedJobPaging(@(ViewBag.PageNumber + 2), @(ViewBag.order))">@(ViewBag.PageNumber + 2)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="FinishedJobPaging(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 2)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="FinishedJobPaging(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FinishedJobPaging(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FinishedJobPaging(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="FinishedJobPaging(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                    </div>
                }
                else
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="FinishedJobPaging(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FinishedJobPaging(@(ViewBag.PageNumber - 1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="FinishedJobPaging(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FinishedJobPaging(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="FinishedJobPaging(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                    </div>
                }
            }
        </div>
    </div>






</div>
