@{
    Layout = null;
}
@model HS.Entities.LeadReportServiceAndEquipmentModel
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/datatable/ERPDatatable.css" rel="stylesheet" />
<link href="~/Content/Css/Report/GetLeadsServiceAndEquipmentCustomer.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $(".customer_report_details_inner").height(window.innerHeight - $(".customer_report_details_header").height() - 25);
    });
    $(window).resize(function () {
        $(".customer_report_details_inner").height(window.innerHeight - $(".customer_report_details_header").height() - 25);
    })
</script>
<div class="customer_report_details_container">
    @if (Model != null)
{
    <div class="customer_report_details_header">
        @{
            if (Model.Customer != null)
            {
                if (!string.IsNullOrWhiteSpace(Model.Customer.BusinessName))
                {
                    <span>@Localize.T("Customer: ") <a href="/Customer/Customerdetail/?id=@Model.Customer.Id" target="_blank">@Model.Customer.BusinessName</a> </span>
                }
                else if (!string.IsNullOrWhiteSpace(Model.Customer.FirstName) || !string.IsNullOrWhiteSpace(Model.Customer.LastName))
                {
                    <span>@Localize.T("Customer: ") <a href="/Customer/Customerdetail/?id=@Model.Customer.Id" target="_blank">@Model.Customer.FirstName @Model.Customer.LastName</a></span>
                }
                else
                {
                    <span>@Localize.T("Customer: ") <a href="/Customer/Customerdetail/?id=@Model.Customer.Id" target="_blank">#@Model.Customer.Id</a></span>
                }
            }
        }
    </div>
   <div class="customer_report_details_inner">
    <div class="customer_report_table_header">
       @Localize.T("Services")
    </div>
    <div class="report_table_custom">
        <table class="uk-table uk-table-hover uk-table-striped">
            <thead>
                <tr>
                    <th>@Localize.T("Name")</th>
                    <th>@Localize.T("Monthly Rate")</th>
                    <th>@Localize.T("Discounted Rate")</th>
                    <th>@Localize.T("Total Rate")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListCustomerPackageService)
                {
                    <tr>
                        <td>@item.EquipmentName</td>
                        <td>
                            @if (item.MonthlyRate > 0)
                            {
                                <span>$@string.Format("{0:#,###.00}", item.MonthlyRate)</span>
                            }
                            else
                            {
                                <span>$0.00</span>
                            }
                        </td>
                        <td>
                            @if (item.DiscountRate > 0)
                            {
                                <span>$@string.Format("{0:#,###.00}", item.DiscountRate)</span>
                            }
                            else
                            {
                                <span>$0.00</span>
                            }
                        </td>
                        <td>
                            @if (item.Total > 0)
                            {
                                <span>$@string.Format("{0:#,###.00}", item.Total)</span>
                            }
                            else
                            {
                                <span>$0.00</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="customer_report_table_header">
       @Localize.T("Equipment")
    </div>
    <div class="report_table_custom">
        <table class="uk-table uk-table-hover uk-table-striped">
            <thead>
                <tr>
                    <th>@Localize.T("Name")</th>
                    <th>@Localize.T("Quantity")</th>
                    <th>@Localize.T("Unit Price")</th>
                    <th>@Localize.T("Discount")</th>
                    <th>@Localize.T("Total")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListCustomerPackageEqp)
                {
                    <tr>
                        <td>@item.EquipmentName</td>
                        <td>@item.Quantity</td>
                        <td>
                            @if (item.UnitPrice > 0)
                            {
                                <span>$@string.Format("{0:#,###.00}", item.UnitPrice)</span>
                            }
                            else
                            {
                                <span>$0.00</span>
                            }
                        </td>
                        <td>
                            @if (item.DiscountUnitPricce > 0)
                            {
                                <span>$@string.Format("{0:#,###.00}", item.DiscountUnitPricce)</span>
                            }
                            else
                            {
                                <span>$0.00</span>
                            }
                        </td>
                        <td>
                            @if (item.Total > 0)
                            {
                                <span>$@string.Format("{0:#,###.00}", item.Total)</span>
                            }
                            else
                            {
                                <span>$0.00</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
   </div>
            }
</div>

