@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script src="~/Content/HrReport/HrReports.js"></script>
<link href="~/Content/Css/Report/SalesMatrixReports.css" rel="stylesheet" />
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<link href="~/Content/Select2/select2.css" rel="stylesheet" />
<script src="~/Content/Select2/Select2.min.js"></script>

<div class="sales_matrix_report_container">
    <div class="smr_header">
        @Localize.T("Reports")
        <div class="dateviewed default_date_filter">
            @{Html.RenderAction("DateViewPartial", "Customer");}
        </div>
    </div>
    <div class="nav-detail-contents sales_matrix_report_nav">
        <ul class="nav nav-tabs reports-tabs sales_matrix_report" id="myTab">
            <li class="EmployeeNav">
                <a data-target="#FirstCallCloseTab" href="#tabEmployee" data-toggle="tab">@Localize.T("Employee")</a>
            </li>

            <li class="InsuranceNav">
                <a data-target="#OverInsuranceTab" href="#tabInsurance" data-toggle="tab">@Localize.T("Insurance")</a>
            </li>
        </ul>
        <div class="filter-data smr_top_info">
            <div class="input-group add-on Hr_data_filter" style="display:flex;width:60%">
                <input type="text" placeholder="Search" value="" autocomplete="off" id="empSearch" class="form-control border-radius-0" />
              
                @Html.DropDownList("DepartmentFilter", (List<SelectListItem>)ViewBag.SelectDepartmentData, new { @class = "form-control", @multiple = "multiple", @title = "Department" })

              
                @Html.DropDownList("EmpStatusFilter", (List<SelectListItem>)ViewBag.EmployeeStatus, new { @class = "form-control", @multiple = "multiple", @title = "Status" })
                <select id="InsuranceFilter" class="form-control">
                    <option value="-1">Select Insurance</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>

                <div class="input-group-btn">
                    <button id="empSearchBtn" class="btn PayrollFilterBtn green_button" title="@Localize.T("Search")">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>


            </div>
        </div>
        <div class="tab-content reports_tab_content">
            <div class="tab-pane" id="EmployeeTab">

            </div>
            <div class="tab-pane" id="InsuranceTab">

            </div>
        </div>
    </div>
</div>



