@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Pagination.css" rel="stylesheet" />
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<script>
      var pageno = '@ViewBag.PageNumber';

    $(document).ready(function () {
             $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            InstalledTicketReportLoad(pageno, orderval);
        })
    })
</script>
<table id="tblInstalledTicketReport" class="">
    <thead class="table-head-border">
        <tr>
            <th class="th_timeclock itrp_big">
                <div> @Localize.T("Customer")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/customer"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/customer"></i></div>
            </th>

            <th class="th_timeclock">
                <div> @Localize.T("Opener")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/openar"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/openar"></i></div>
            </th>

            <th class="th_timeclock">
                <div> @Localize.T("User")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/usergroup"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/usergroup"></i></div>
            </th>


            <th class="th_timeclock">
                <div>@Localize.T("Rep")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/rep"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/rep"></i></div>
            </th>

          
            <th class="th_timeclock">
                <div>@Localize.T("Date")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/date"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/date"></i></div>
            </th>
            <th class="th_timeclock itrp_small">
                <div>@Localize.T("MMR")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/mmr"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/mmr"></i></div>
            </th>

            <th class="th_timeclock itrp_biginfo">
                <div>@Localize.T("Equipment Info")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/equipinfo"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/equipinfo"></i></div>
            </th>

            <th class="th_timeclock">
                <div>@Localize.T("Amt. Collected")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/amount"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/amount"></i></div>
            </th>

            <th class="th_timeclock itrp_small">
                <div>@Localize.T("Term")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/term"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/term"></i></div>
            </th>

            <th class="th_timeclock">
                <div>@Localize.T("Payment")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/payment"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/payment"></i></div>
            </th>

            <th class="th_timeclock">
                <div>@Localize.T("Technician")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/technician"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/technician"></i></div>
            </th>

            <th class="th_timeclock">
                <div>@Localize.T("Status")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/status"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/status"></i></div>
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InstalledTicketList)
        {
            <tr>
                <td class="table-body-td-style">
                    <div class="itrp_row">
                        <div class="itrp_header">@Localize.T("RMA No.") <span>:</span></div>
                        <div class="itrp_info"><span class="itrp_sp_header">@Localize.T("RMA No.") <span>:</span></span>@item.RMAAccountNo</div>
                    </div>
                    <div class="itrp_row">
                        <div class="itrp_header">@Localize.T("CS Account No") <span>:</span></div>
                        <div class="itrp_info"><span class="itrp_sp_header">@Localize.T("CS Account No") <span>:</span></span>@item.CustomerNo</div>
                    </div>
                    <div class="itrp_row">
                        <div class="itrp_header">@Localize.T("Customer Name") <span>:</span></div>
                        <div class="itrp_info"><span class="itrp_sp_header"></span><a href="/Customer/CustomerDetail/?id=@item.RMAAccountNo" target="_blank"> @item.CustomerName</a> </div>
                    </div>
                    <div class="itrp_row">
                        <div class="itrp_header">Customer Type <span>:</span></div>
                        <div class="itrp_info">@item.CustomerType</div>
                    </div>
                    <div class="itrp_row">
                        <div class="itrp_header">@Localize.T("Customer Address") <span>:</span></div>
                        <div class="itrp_info">@item.Address</div>
                    </div>
                    <div class="itrp_row">
                        <div class="itrp_header">@Localize.T("Credit Score") <span>:</span></div>
                        <div class="itrp_info"><span class="itrp_sp_header">@Localize.T("Credit Score") <span>:</span></span>@item.CreditScore</div>
                    </div>
                    <div class="itrp_row">
                        <div class="itrp_header">@Localize.T("Account Online") <span>:</span></div>
                        <div class="itrp_info"><span class="itrp_sp_header">@Localize.T("Account Online") <span>:</span></span>@item.AccountStatus</div>
                    </div>
                   
                </td>
                               
                <td class="table-body-td-style">
                    <div class="itrp_header">@Localize.T("Opener Name") <span>:</span></div>
                    @if (!string.IsNullOrWhiteSpace(item.OpenerName) && item.OpenerName.Contains("@"))
                    {
                        <div class="itrp_info itrp_over_flow">@item.OpenerName</div>
                    }
                    else
                    {
                        <div class="itrp_info">@item.OpenerName</div>
                    }

                </td>
                <td class="table-body-td-style">
                    <div class="itrp_header">@Localize.T("User") <span>:</span></div>
                    <div class="itrp_info">@item.UserGroup</div>
                </td>

                <td class="table-body-td-style">
                    <div class="itrp_row">
                        <div class="itrp_header">@Localize.T("Rep 01") <span>:</span></div>
                        <div class="itrp_info"><span class="itrp_sp_header">@Localize.T("1") <span>:</span></span>@item.SoldBy</div>
                    </div>
                    <div class="itrp_row">
                        <div class="itrp_header">@Localize.T("Rep 02") <span>:</span></div>
                        <div class="itrp_info"><span class="itrp_sp_header">@Localize.T("2") <span>:</span></span>@item.SoldBy2</div>
                    </div>
                    <div class="itrp_row">
                        <div class="itrp_header">@Localize.T("Rep 03") <span>:</span></div>
                        <div class="itrp_info"><span class="itrp_sp_header">@Localize.T("3") <span>:</span></span>@item.SoldBy3</div>
                    </div>
                    <div class="itrp_row">
                        <div class="itrp_header">@Localize.T("Rep 04") <span>:</span></div>
                        <div class="itrp_info"><span class="itrp_sp_header">@Localize.T("4") <span>:</span></span>@item.SoldBy4</div>
                    </div>
                </td>

                <td class="table-body-td-style">
                    <div class="itrp_row">
                        <div class="itrp_header">@Localize.T("Installed Date") <span>:</span></div>
                        <div class="itrp_info" title="@Localize.T("Installed")">@item.InstallDate.ToString("MM/dd/yyyy")</div>
                    </div>
                    
                    <div class="itrp_row">
                        <div class="itrp_header">@Localize.T("Service Schedule") <span>:</span></div>
                        <div class="itrp_info" title="@Localize.T("Service Schedule")">@item.ServiceShedule.ToString("MM/dd/yyyy")</div>
                    </div>
                </td>


               

                <td class="table-body-td-style">
                    <div class="itrp_header">@Localize.T("MMR") <span>:</span></div>
                    <div class="itrp_info">@item.MonthlyMonitoringFee</div>
                    @*<div class="itrp_info">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.MonthlyMonitoringFee.ToString("#,##0.00")</div>*@
                </td>


                <td class="table-body-td-style">
                    @if (item.EquipmentNames != null && item.EquipmentNames != "")
                    {
                        <div class="itrp_row">
                            <div class="itrp_header">@Localize.T("Equipment Name") <span>:</span></div>
                            <div class="itrp_info"><span class="itrp_sp_header">@Localize.T("Name") <span>:</span></span>@item.EquipmentNames</div>
                        </div>
                        <div class="itrp_row">
                            <div class="itrp_header">@Localize.T("Equipment Point") <span>:</span></div>
                            <div class="itrp_info"><span class="itrp_sp_header">@Localize.T("Point") <span>:</span></span>@item.EquipmentPoint</div>
                        </div>
                        <div class="itrp_row">
                            <div class="itrp_header">@Localize.T("Equipment Cost") <span>:</span></div>
                            <div class="itrp_info"><span class="itrp_sp_header">@Localize.T("Cost") <span>:</span></span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.EquipmentCost.ToString("#,##0.00")</div>
                        </div>
                    }
                </td>

                <td class="table-body-td-style">
                    <div class="itrp_header">@Localize.T("Amount Collected") <span>:</span></div>
                    <div class="itrp_info">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.TotalRevenue.ToString("#,##0.00")</div>
                </td>

                <td class="table-body-td-style">
                    <div class="itrp_header">@Localize.T("Term") <span>:</span></div>
                    @if (item.ContractTerm == "-1")
                    {
                        <div class="itrp_info"></div>

                    }
                    else
                    {
                        <div class="itrp_info">@item.ContractTerm</div>

                    }
                </td>


                <td class="table-body-td-style">
                    <div class="itrp_row">
                        <div class="itrp_header">@Localize.T("Payment Method") <span>:</span></div>
                        <div class="itrp_info">@item.PaymentMethodVal</div>
                    </div>
                    
                    <div class="itrp_row">
                        <div class="itrp_header">@Localize.T("No. Of Payment") <span>:</span></div>
                        <div class="itrp_info" title="@Localize.T("No. Of Payment")">@item.NumnberOfPayment</div>
                    </div>

                </td>


                <td class="table-body-td-style">
                    <div class="itrp_header">@Localize.T("Technician") <span>:</span></div>
                    <div class="itrp_info">@item.Technician</div>
                </td>

                <td class="table-body-td-style">
                    <div class="itrp_row">
                        <div class="itrp_header">@Localize.T("Funded Status") <span>:</span></div>
                        <div class="itrp_info" title="@Localize.T("Funded")">@item.FundedStatus</div>
                    </div>
                </td>
            </tr>
        }
        <tr class="table_total_bg">
            <td colspan="6">
                <b class="float_right">@Localize.T("Total:")</b>
            </td>
            <td>
                <div class="itrp_header">@Localize.T("Total Equipment Cost") <span>:</span></div>
                <div class="itrp_info">
                    <b title="@Localize.T("Total Equipment Cost")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalCost.EquipmentCost.ToString("#,##0.00")</b>
                </div>
            </td>
            <td colspan="5">
                <div class="itrp_header">@Localize.T("Total Amount") <span>:</span></div>
                <div class="itrp_info">
                    <b title="@Localize.T("Total Amount")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalCost.Amount.ToString("#,##0.00")</b>
                </div>
            </td>
        </tr>
    </tbody>
    
</table>
<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="InstalledTicketReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="InstalledTicketReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="InstalledTicketReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="InstalledTicketReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="InstalledTicketReportLoad(3, @(ViewBag.order))">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber-2), @(ViewBag.order))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="InstalledTicketReportLoad()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber + 2), @(ViewBag.order))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber - 1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="InstalledTicketReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
        }
    </div>
</div>
