@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency();

}
@using HS.Framework
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.EmployeeListWithCustomerModel
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />
<style>
    #btnDownloadfirstcallclose {
        float: right;
    }

    #LeadsReportTable {
        width: 100%;
    }
</style>
<script>
    var pageno = '@ViewBag.PageNumber';
    var ShowFirstCallCustomer = function (EmpId) {
        OpenTopToBottomModal("/Reports/SalesMatrixCustomerListPertial?EmployeeId=" + EmpId);
    }
      var ShowFirstCallCloseCustomer = function (EmpId) {
        OpenTopToBottomModal("/Reports/SalesMatrixCustomerListPertial?EmployeeId=" + EmpId+"&from=FirstCallClose");
    }

    $(document).ready(function () {
          $(".icon_sort_in").click(function () {
            var orderval = $(this).attr('data-val');
              LoadInsuranceNav(pageno, orderval);
          });
           $("#btnDownloadEmployeeInsuranceList").click(function () {
                var FirstDayStr = parent.$(".min-date").val();
                var EndDayStr = parent.$(".max-date").val();
                var Search = encodeURI($("#empSearch").val());
                var DeptFilter = $("#DepartmentFilter").val();
                var StatusFilter = encodeURI($("#EmpStatusFilter").val());
                var InsuranceFilter = encodeURI($("#InsuranceFilter").val());
                location.href = (domainurl + "/Reports/InsurancePartial?Start=" + FirstDayStr + "&End=" + EndDayStr+ "&Search=" + Search + "&DeptFilter="+DeptFilter+"&StatusFilter="+StatusFilter+ "&InsuranceFilter=" + InsuranceFilter  + "&GetReport=true&pageno=" + pageno + "&pagesize=50");
        });
    })
</script>


<div>
    <button title="@Localize.T(" Download")" class="report_btn lrp_float_right btn green_button" id="btnDownloadEmployeeInsuranceList"><i class="fa fa-download" aria-hidden="true"></i></button>
</div>

<div class="leads_report_table">
    <table id="LeadsReportTable" class="can_cue_table">
        <thead>
            <tr>
                <th>
                    <div>@Localize.T("Name")</div>
                    <div><i class="fa fa-angle-up icon_sort_in" data-val="ascending/name"></i><i class="fa fa-angle-down icon_sort_in" data-val="descending/name"></i></div>
                </th>
                <th>
                    <div>@Localize.T("Adress")</div>
                    <div><i class="fa fa-angle-up icon_sort_in" data-val="ascending/adress"></i><i class="fa fa-angle-down icon_sort_in" data-val="descending/adress"></i></div>
                </th>
                <th>
                    <div>@Localize.T("Hire Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_in" data-val="ascending/hiredate"></i><i class="fa fa-angle-down icon_sort_in" data-val="descending/hiredate"></i></div>
                </th>
                <th>
                    <div>@Localize.T("Insurance")</div>
                    <div><i class="fa fa-angle-up icon_sort_in" data-val="ascending/insurance"></i><i class="fa fa-angle-down icon_sort_in" data-val="descending/insurance"></i></div>
                </th>
                <th>
                    <div>@Localize.T("Medical/Dental/Vision")</div>
                    <div><i class="fa fa-angle-up icon_sort_in" data-val="ascending/medical"></i><i class="fa fa-angle-down icon_sort_in" data-val="descending/insuranceeligable"></i></div>
                </th>
                <th>
                    <div>@Localize.T("Voluntary Life/STD/LTD")</div>
                    <div><i class="fa fa-angle-up icon_sort_in" data-val="ascending/voluntary"></i><i class="fa fa-angle-down icon_sort_in" data-val="descending/lastevaluation"></i></div>
                </th>
             
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EmployeeList)
            {
                <tr>
                    <td>
                        <div>@Localize.T("Name") <span>:</span></div>
                        <div>
                            <a class="name_anchor_style" href="/UserInformation?Id=@item.UserIntId" target="_blank">@item.FirstName @item.LastName</a><br />
                            <span>
                                @item.Email
                            </span>
                        </div>
                    </td>

                    <td>
                        <div>@Localize.T("Address") <span>:</span></div>
                        <div>
                            @{
                                var Address = "";
                                if (!string.IsNullOrEmpty(item.Street))
                                {
                                    Address += item.Street + ",";
                                }
                                if (!string.IsNullOrEmpty(item.City))
                                {
                                    Address += item.City + ",";
                                }
                                if (!string.IsNullOrEmpty(item.State))
                                {
                                    Address += item.State + ",";
                                }
                                if (!string.IsNullOrEmpty(item.ZipCode))
                                {
                                    Address += item.ZipCode + ",";
                                }
                            }
                            @if (!string.IsNullOrEmpty(Address))
                            {
                                Address = Address.Remove(Address.Length - 1, 1);
                            }
                            <span>@Address</span>
                        </div>
                    </td>

                    <td>
                        <div>@Localize.T("Hire Date") <span>:</span></div>
                        <div>
                            @if (item.HireDate != null && item.HireDate != new DateTime())
                            {
                                <span>@item.HireDate.Value.ToString("M/d/yyyy")</span>
                            }
                            @if (!string.IsNullOrEmpty(item.Department) && item.Department != "-1")
                            {
                                <div></div>
                                <div>
                                    <span>Dept.: @item.Department</span>
                                </div>
                            }

                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Insurance") <span>:</span></div>
                        <div>
                            <span>@item.Insurance</span>
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Medical/Dental/Vision")</div>
                        <div>
                          
                              <span>@item.IsMedical / @item.IsDental / @item.IsVision</span>
                            
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Voluntary Life/STD/LTD")</div>
                        <div>  
                            <span>@item.IsVoluntaryLife / @item.IsSTD / @item.IsLTD</span> 
                        </div>
                    </td>
       
                </tr>
            }

        </tbody>
    </table>
    <div class="AgentListPagination">
        <div class="paginationContainer">
            @if (ViewBag.PageCount > 0)
            {
                <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
            }
            @if (ViewBag.PageCount == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons disabledBtn">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="LoadInsuranceNav(@(ViewBag.PageNumber))">1</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?" disabledBtn":"")" onclick="LoadInsuranceNav(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:" "))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?" activeBtn":"")" onclick="LoadInsuranceNav(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?" activeBtn":"")" onclick="LoadInsuranceNav(2)">2</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==2? " disabledBtn": "" )" onclick="LoadInsuranceNav(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:" "))">
                        Next
                    </button>
                </div>
            }
            else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?" disabledBtn":"")" onclick="LoadInsuranceNav(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:" "))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?" activeBtn":"")" onclick="LoadInsuranceNav(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?" activeBtn":"")" onclick="LoadInsuranceNav(2)">2</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==3?" activeBtn":"")" onclick="LoadInsuranceNav(3)">3</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==3?" disabledBtn":"")" onclick="LoadInsuranceNav(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:" "))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount > 3)
            {
                if (ViewBag.PageNumber == ViewBag.PageCount)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="LoadInsuranceNav(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadInsuranceNav(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadInsuranceNav(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="LoadInsuranceNav(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons disabledBtn" onclick="LoadInsuranceNav()">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 1)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="LoadInsuranceNav(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadInsuranceNav(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadInsuranceNav(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="LoadInsuranceNav(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 2)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="LoadInsuranceNav(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadInsuranceNav(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadInsuranceNav(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="LoadInsuranceNav(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="LoadInsuranceNav(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadInsuranceNav(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="LoadInsuranceNav(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="LoadInsuranceNav(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="LoadInsuranceNav(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
            }
        </div>
    </div>
</div>



