@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

@*@model HS.Entities.EquipmentListWithCountModel*@
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<script>
    var DataTablePageSize = 50;
    var LeadsStartDatepicker;
    var LeadsEndDatepicker;
    var searchtext = '@ViewBag.searchtext'

    var listcategory = '@Html.Raw(Json.Encode(@ViewBag.listcategory))';
    listcategory = JSON.parse(listcategory);
    var listmanu = '@Html.Raw(Json.Encode(@ViewBag.listmanu))';
    listmanu = JSON.parse(listmanu);

    var listprimaryVendor = '@Html.Raw(Json.Encode(@ViewBag.listprimaryVendor))';
    listprimaryVendor = JSON.parse(listprimaryVendor);
    var listproductType = '@Html.Raw(Json.Encode(@ViewBag.listproductType))';
    listproductType = JSON.parse(listproductType);

    var pageno = '@ViewBag.PageNumber';
    var my_date_format = function (input) {
        console.log(input+" r");
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    var FilterInventoryReport = function (pageno,order) {
        //if(typeof(pageno) != "undefined" && pageno != null && pageno != ""){
        //    pagno = 1;
        //}
        var StartDateVal = $(".min-date").val();
        var EndDateVal = $(".max-date").val();
        var category = encodeURI($("#eqpCategory").val());
        var manufacturer = encodeURI($("#manufacturerID").val());


        var searchtext = $(".InventoryReport_search").val();
        var ProductTypeID = encodeURI($("#productTypeID").val());
        var primaryVendorID = encodeURI($("#primaryVendorID").val());

        $(".Inventory_Report_Partial_List").html(TabsLoaderText);
        $(".Inventory_Report_Partial_List").load(domainurl + "/Reports/InventoryReportPartialList/?Start=" + StartDateVal + "&End=" + EndDateVal + "&category=" + category +"&order=" + order + "&manufact=" + manufacturer + "&pageno=" + pageno + "&pagesize=" + DataTablePageSize + "&SearchText=" + encodeURI(searchtext) + "&ProductTypeID=" + ProductTypeID + "&primaryVendorID=" + primaryVendorID);
    }
        var ResetFilter = function () {
      
        $("#eqpCategory").selectpicker("val", "");
        $("#manufacturerID").selectpicker("val", "");
        $("#primaryVendorID").selectpicker("val", "");
        $("#productTypeID").selectpicker("val", "");


        $(".InventoryReport_search").val("");
        FilterInventoryReport(1);
    }
    $(document).ready(function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".LoaderWorkingDiv").hide();
        $("#LeadReportTab .invoice-loader").hide();

        //var table = $('#LeadsReportTable').DataTable({
        //    "pageLength": DataTablePageSize,
        //    "destroy": true,
        //    "language": {
        //        "emptyTable": "No data available"
        //    }
        //});
        if (StartDate != "" && EndDate != "")
        {
            StartDate = my_date_format(StartDate);
            EndDate = my_date_format(EndDate);
            console.log(StartDate + " " + EndDate);
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
        }
        else {
            $(".DateFilterContents .date-start").html("All Time");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .dropdown-filter").hide();
        }


        $("#btnDownloadLeadsReport").click(function () {

            var category = encodeURI($("#eqpCategory").val());
            var manufacturer = encodeURI($("#manufacturerID").val());

            var searchtext = $(".InventoryReport_search").val();
            var ProductTypeID = encodeURI($("#productTypeID").val());
            var primaryVendorID = encodeURI($("#primaryVendorID").val());

              var StartDateVal = $(".min-date").val();
              var EndDateVal = $(".max-date").val();

            if (StartDate.trim().length == 10 && EndDate.trim().length == 10) {
                StartDate = StartDate.replaceAll('/', '_');
                EndDate = EndDate.replaceAll('/', '_');
                location.href = domainurl + "/Reports/InventoryReportPartialList/?Start=" + StartDate + "&End=" + EndDate + "&GetReport=true" + "&category=" + category + "&manufact=" + manufacturer + "&pageno=" + 0 + "&pagesize=" + 0 + "&SearchText=" + encodeURI(searchtext) + "&ProductTypeID=" + ProductTypeID + "&primaryVendorID=" + primaryVendorID;
            } else {
                location.href = domainurl + "/Reports/InventoryReportPartialList/?GetReport=true" + "&category=" + category + "&manufact=" + manufacturer + "&pageno=" + 0 + "&pagesize=" + 0 + "&SearchText=" + encodeURI(searchtext) + "&ProductTypeID=" + ProductTypeID + "&primaryVendorID=" + primaryVendorID+"&Start="+StartDateVal+"&End="+EndDateVal;
            }
        });

        $(".DateFilterContents .btn-apply-Datefilter").unbind().click(function () {
            var StartDateVal = $(".min-date").val();
            var EndDateVal = $(".max-date").val();
            UpdatePtoCookie();
            //$("#InventoryReportTab").html(TabsLoaderText);
            //$("#InventoryReportTab").load(domainurl + "/Reports/InventoryReportPartial/?Start=" + StartDateVal + "&End=" + EndDateVal);
            FilterInventoryReport(1);
        });
        if (listcategory.length != 0) {
            $("#eqpCategory").selectpicker('val', listcategory);
        }
        else {
            $("#eqpCategory").selectpicker('val', '');
        }
        if (listmanu.length != 0) {
            $("#manufacturerID").selectpicker('val', listmanu);
        }
        else {
            $("#manufacturerID").selectpicker('val', '');
        }



        if (listprimaryVendor.length != 0) {
            $("#primaryVendorID").selectpicker('val', listprimaryVendor);
        }
        else {
            $("#primaryVendorID").selectpicker('val', '');
        }

        if (listproductType.length != 0) {
            $("#productTypeID").selectpicker('val', listproductType);
        }
        else {
            $("#productTypeID").selectpicker('val', '');
        }



        //$('#btnsearchtext').click(function () {
        //    NavigatePageListing(pagenumber);
        //})


        if (searchtext != null && searchtext != "" && searchtext != "undefined") {
            $(".InventoryReport_search").val(searchtext);
        }

        $(".InventoryReport_search").keypress(function (e) {
            if (e.which == 13) {
                $("#btnsearchtext").click();
            }
        });
        $(".single_filte_info_container").hide();
        $(".btn-filter").click(function () {

            if ($(".single_filte_info_container").is(":visible")) {
                $(".single_filte_info_container").hide();

            } else {
                $(".single_filte_info_container").show();

            }
        });

        FilterInventoryReport(1);


    });
</script>

<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />

@*<div class="row lrp_bottom_border">
    <div class="lead_total_color"> @Localize.T("Total: ") @string.Format("{0:#,##0}", ViewBag.TotalLeads)</div>
</div>*@

<div class="row lrp_bottom_border">
    <div class="lead_total_color"></div>
</div>



<div class="row leads_report_top_bar">
    <div class="single_filter_div_container">
        <div class="input-group add-on">
            <input class="form-control InventoryReport_search" placeholder="Search By SKU or Description" type="text">
            <div class="input-group-btn"><button class="btn search_ticket_btn green_button" id="btnsearchtext" title="@Localize.T("Search")" onclick="FilterInventoryReport(1)"><i class="glyphicon glyphicon-search"></i></button></div>
        </div>
        <div class="single_filter_div_style filter_fill">
            <button class="btn btn-filter green_button" title="Filter">
                <i class="glyphicon glyphicon-filter"></i>
            </button>
        </div>
    </div>
    @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.LeadsReportDownload))
    {
        <button title="@Localize.T(" Download")" class="report_btn lrp_float_right" id="btnDownloadLeadsReport"><i class="fa fa-download" aria-hidden="true"></i></button>
    }
</div>
<div class="single_filte_info_container">
    <div class="single_filter_info_inner">
        <div class="single_filter_info_inner_content"> @Html.DropDownList("eqpCategory", ViewBag.eqpCategory as List<SelectListItem>, new { @class = "form-control border_radius_0 srch_category", @multiple = "multiple", @title = "Select Category" })</div>
        <div class="single_filter_info_inner_content"> @Html.DropDownList("manufacturerID", ViewBag.manufacturer as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @title = "Select Manufacturer" })</div>

        <div class="single_filter_info_inner_content"> @Html.DropDownList("primaryVendorID", ViewBag.primaryVendor as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @title = "Select Primary Vendor" })</div>
        <div class="single_filter_info_inner_content"> @Html.DropDownList("productTypeID", ViewBag.productType as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @title = "Select Product Type" })</div>
    </div>
    <div class="single_filter_info_footer">
        <button class="btn search_ticket_btn green_button" id="btnsearchtext" title="@Localize.T("Apply Filter")" onclick="FilterInventoryReport(1)"><i class="fa fa-check" aria-hidden="true"></i>@Localize.T(" Apply")</button>
        <button class="btn red_button" id="reset_btn_filter" onclick="ResetFilter()">@Localize.T("Reset")</button>

    </div>
</div>      
<div class="Inventory_Report_Partial_List">

</div>


