@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<div class="ReportsTitle">
    @Localize.T("Inventory Count Details")
</div>
<table class="table" id="InventoryCountDetailsOnStartDateTable">
    <thead class="table-head-border">
        <tr>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Equipment Holder")</div>
                <div><i data-val="ascending/equipment"></i><i data-val="descending/equipment"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Quantity")</div>
                <div><i data-val="ascending/quantity"></i><i data-val="descending/quantity"></i></div>
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.InventoryCountList)
    {
        <tr>
            @if (item.QuantityOnStartDate != 0)
                {
                    <td class="table-body-td-style">
                        @*<div>@Localize.T("Equipment Holder") <span>:</span></div>*@
                            <div>@item.Name</div>
                        </td>
                
                            <td class="table-body-td-style">
                                @*<div>@Localize.T("Quantity") <span>:</span></div>*@
                                <div>@item.QuantityOnStartDate</div>
                    </td>
                }
                
            </tr>
        }
    </tbody>
</table>