@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>
    var pageno = '@ViewBag.PageNumber';

    var InventoryCountOnStartdateLoad = function (id) {
        var StartDateVal = $(".min-date").val();

        OpenTopToBottomModal("/Reports/InventoryCountDetailsOnStartDate?Id=" + id + "&Start=" + StartDateVal);
    }

    var InventoryCountOnEnddateLoad = function (id) {
        var EndDateVal = $(".max-date").val();

        OpenTopToBottomModal("/Reports/InventoryCountDetailsOnEndDate?Id=" + id + "&End=" + EndDateVal);
    }

    var UsedInventoryCountLoad = function (id) {
        var StartDateVal = $(".min-date").val();
        var EndDateVal = $(".max-date").val();

        OpenTopToBottomModal("/Reports/UsedInventoryCountDetails?Id=" + id + "&Start=" + StartDateVal + "&End=" + EndDateVal);
    }

    var PurchaseInventoryCountLoad = function (id) {
        var StartDateVal = $(".min-date").val();
        var EndDateVal = $(".max-date").val();

        OpenTopToBottomModal("/Reports/PurchaseInventoryCountDetails?Id=" + id + "&Start=" + StartDateVal + "&End=" + EndDateVal);
    }

    var RMAInventoryCountLoad = function (id) {
        var StartDateVal = $(".min-date").val();
        var EndDateVal = $(".max-date").val();

        OpenTopToBottomModal("/Reports/RMADetailsOfInventoryCount?Id=" + id + "&Start=" + StartDateVal + "&End=" + EndDateVal);
    }
    
    $(document).ready(function(){
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        if (StartDate == "" && EndDate == "") {
            $("#QuantityStartDate").html("On Hand on");
            $("#QuantityEndDate").html("On Hand on");
        }
        else{
            $("#QuantityStartDate").html("On Hand on <br>"+ $("#PayrollFilterStartDate").val());
            $("#QuantityEndDate").html("On Hand on <br>"+ $("#PayrollFilterEndDate").val());
        }
          $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            InventoryCountReportLoad(pageno, orderval);
        });
    });
</script>

<table class="table" id="InventoryCountReportTable">
    <thead class="table-head-border">
        <tr>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Equipment Name")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/equipment"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/equipment"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("SKU")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/sku"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/sku"></i></div>
            </th>

            <th class="th_timeclock_pre">
                <div id="QuantityStartDate">@Localize.T("On Hand On")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/onhandstart"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/onhandstart"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div id="QuantityEndDate">@Localize.T("On Hand On")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/onhandend"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/onhandend"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Used")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/used"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/used"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Purchase")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/purchase"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/purchase"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("RMA")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/rma"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/rma"></i></div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InventoryCountList)
        {
        <tr>

            <td class="table-body-td-style">
                <div>@Localize.T("Equipment Name") <span>:</span></div>
                <div>@item.Name</div>
            </td>
            <td class="table-body-td-style">
                <div>@Localize.T("SKU") <span>:</span></div>
                <div>@item.SKU</div>
            </td>

            <td class="table-body-td-style">
                <div>@Localize.T("On Hand On") <span>:</span></div>
                <div>
                    <span>
                        <a href="javascript:void(0)" class="LoadTechListPopUp" onclick="InventoryCountOnStartdateLoad('@item.EquipmentId')">@item.QuantityOnStartDate</a>
                    </span>
                </div>
            </td>
            <td class="table-body-td-style">
                <div>@Localize.T("On Hand On") <span>:</span></div>
                <div>
                    <span>
                        <a href="javascript:void(0)" class="LoadTechListPopUp" onclick="InventoryCountOnEnddateLoad('@item.EquipmentId')">@item.QuantityOnEndDate</a>
                    </span>
                </div>
            </td>
            <td class="table-body-td-style">
                <div>@Localize.T("Used") <span>:</span></div>
                <div>
                    <span>
                        <a href="javascript:void(0)" class="LoadTechListPopUp" onclick="UsedInventoryCountLoad('@item.EquipmentId')">@item.Used</a>
                    </span>
                </div>
            </td>
            <td class="table-body-td-style">
                <div>@Localize.T("Purchase") <span>:</span></div>
                <div>
                    <span>
                        <a href="javascript:void(0)" class="LoadTechListPopUp" onclick="PurchaseInventoryCountLoad('@item.EquipmentId')">@item.Purchase</a>
                    </span>
                </div>
            </td>
            <td class="table-body-td-style">
                <div>@Localize.T("RMA") <span>:</span></div>
                <div>
                    <span>
                        <a href="javascript:void(0)" class="LoadTechListPopUp" onclick="RMAInventoryCountLoad('@item.EquipmentId')">@item.RMA</a>
                    </span>
                </div>
            </td>
        </tr>

        }
    <tr class="table_total_bg">
        <td colspan="2">
            <b class="float_right">@Localize.T("Total:")</b>
        </td>
        <td>
            <div>@Localize.T("Total On Hand") <span>:</span></div>
            <div>
                <b title="@Localize.T("Total On Hand")">@Model.TotalInventoryCount.TotalOnHandStartDate</b>
            </div>        
        </td>
        <td>
            <div>@Localize.T("Total On Hand") <span>:</span></div>
            <div>
                <b title="@Localize.T("Total On Hand")">@Model.TotalInventoryCount.TotalOnHandEndDate</b>
            </div>        
        </td>
        <td>
            <div>@Localize.T("Total Used") <span>:</span></div>
            <div>
                <b title="@Localize.T("Total Used")">@Model.TotalInventoryCount.TotalUsed</b>
            </div>        
        </td>
        <td>
            <div>@Localize.T("Total Purchase") <span>:</span></div>
            <div>
                <b title="@Localize.T("Total Purchase")">@Model.TotalInventoryCount.TotalPurchase</b>
            </div>        
        </td>
        <td>
            <div>@Localize.T("Total RMA") <span>:</span></div>
            <div>
                <b title="@Localize.T("Total RMA")">@Model.TotalInventoryCount.TotalRMA</b>
            </div>        
        </td>
    </tr>
    </tbody>
   
</table>
<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="InventoryCountReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="InventoryCountReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="InventoryCountReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="InventoryCountReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="InventoryCountReportLoad(3, @(ViewBag.order))">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber-2), @(ViewBag.order))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="InventoryCountReportLoad()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber + 2), @(ViewBag.order))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber - 1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="InventoryCountReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
        }
    </div>
</div>