@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
@model List<HS.Entities.Booking>


<script>
    var pageno = '@ViewBag.PageNumber';
    var order = '@ViewBag.order';
    var bsource = '@Html.Raw(Json.Encode(@ViewBag.bsource))';
    bsource = JSON.parse(bsource);
    var OpenBkById = function (bkId) {
        if (typeof (bkId) != "undefined" && bkId > 0) {
            if (typeof (customerId) == "undefined") {
                customerId = 0;
            }
            OpenTopToBottomModal("/Booking/AddLeadBooking/?customerid=" + customerId + "&Id=" + bkId);
        }
    }
    $(document).ready(function () {
        $("#BookingSource").selectpicker('val', bsource);
        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            NavigateJobReports(pageno, orderval);
        });
    });
</script>
<div class="load_jobs_container">
    <div class="load_jobs_top_info">
        <div class="col-md-3">
            <div class="load_jobs_top_info_style jobs_info_total_color">
                <span>@Localize.T("Total")</span> <span>@string.Format("{0:#,###}", ViewBag.OutOfNumber)</span>
                <svg x="0px" y="0px" width="50" height="50" viewBox="0 0 172 172">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M26.41309,10.75c-3.31738,0 -6.17285,1.90015 -7.45361,4.97608c-1.27027,3.06543 -0.59839,6.4353 1.75317,8.78686l55.78662,55.78662c3.13892,3.14941 3.13892,8.25147 0,11.40088l-55.78662,55.78662c-2.35156,2.35156 -3.02344,5.72144 -1.75317,8.78687c1.28076,3.07593 4.13623,4.97607 7.45361,4.97607h121.39941c4.44067,0 8.0625,-3.62183 8.0625,-8.0625v-17.65771c0,-2.18359 -1.30176,-4.13623 -3.32788,-4.97608c-2.02612,-0.82935 -4.3252,-0.35693 -5.86841,1.18628l-5.57446,5.62695c-1.50122,1.51172 -3.57983,2.38306 -5.72143,2.38306h-75.14502l49.62427,-49.62427c5.23853,-5.23852 5.23853,-13.76294 0,-19.00146l-38.87427,-38.87427h65.07739c1.83716,0 3.63233,0.62988 5.07056,1.78467l5.99439,4.8396c1.6167,1.31226 3.81079,1.57471 5.68994,0.67188c1.87915,-0.91333 3.05493,-2.76099 3.05493,-4.8606v-15.87305c0,-4.44067 -3.62183,-8.0625 -8.0625,-8.0625zM26.41309,16.125h121.39941c1.48022,0 2.6875,1.20728 2.6875,2.6875v15.87305l-5.99439,-4.8291c-2.38305,-1.93164 -5.375,-2.98145 -8.44043,-2.98145h-65.07739c-2.18359,0 -4.12573,1.30176 -4.96558,3.31738c-0.83984,2.01563 -0.37793,4.3147 1.16528,5.85791l38.87427,38.87427c3.13892,3.14941 3.13892,8.25147 0,11.40088l-49.62427,49.62427c-1.54321,1.54321 -1.99463,3.84228 -1.16528,5.85791c0.82935,2.01563 2.78198,3.31738 4.96558,3.31738h75.14502c3.55884,0 7.03369,-1.44873 9.54272,-3.97876l5.57446,-5.61645v17.65771c0,1.48022 -1.20728,2.6875 -2.6875,2.6875h-121.39941c-1.66919,0 -2.32007,-1.27026 -2.47754,-1.65869c-0.16797,-0.38843 -0.59839,-1.75317 0.57739,-2.92896l55.78662,-55.78662c5.23853,-5.23852 5.23853,-13.76294 0,-19.00146l-55.78662,-55.78662c-1.17578,-1.17578 -0.74536,-2.54053 -0.57739,-2.92895c0.15747,-0.38843 0.80835,-1.65869 2.47754,-1.65869zM55.65015,34.15015c-0.68237,0 -1.37524,0.26245 -1.90015,0.78735c-1.0498,1.0498 -1.0498,2.75049 0,3.80029l4.90259,4.90259c0.5249,0.5249 1.20728,0.78735 1.90015,0.78735c0.69287,0 1.37524,-0.26245 1.90015,-0.78735c1.0498,-1.0498 1.0498,-2.75049 0,-3.80029l-4.90259,-4.90259c-0.5249,-0.5249 -1.21777,-0.78735 -1.90015,-0.78735zM68.02734,46.52734c-0.68237,0 -1.37524,0.26245 -1.90015,0.79785c-1.0498,1.0498 -1.0498,2.73999 0,3.78979l20.71265,20.72315c0.5249,0.5144 1.20728,0.77685 1.90015,0.77685c0.69287,0 1.37524,-0.26245 1.90015,-0.77685c1.0498,-1.0603 1.0498,-2.75049 0,-3.81079l-20.71265,-20.70215c-0.5249,-0.5354 -1.21777,-0.79785 -1.90015,-0.79785zM60.94116,83.06055c-0.68237,0 -1.36474,0.26245 -1.90015,0.79785c-1.0498,1.0498 -1.0498,2.73999 0,3.78979l3.81079,3.81079c0.5144,0.5249 1.20728,0.78735 1.90015,0.78735c0.68237,0 1.37524,-0.27295 1.88965,-0.78735c1.0603,-1.0603 1.0603,-2.75049 0,-3.81079l-3.78979,-3.78979c-0.5354,-0.5354 -1.21777,-0.79785 -1.91065,-0.79785zM51.44043,92.56128c-0.68237,0 -1.36474,0.26245 -1.88965,0.78735c-1.0603,1.0603 -1.0603,2.75049 0,3.81079l3.78979,3.78979c0.5249,0.5249 1.21777,0.79785 1.91065,0.79785c0.68237,0 1.37524,-0.27295 1.90015,-0.79785c1.0498,-1.0498 1.0498,-2.73999 0,-3.78979l-3.81079,-3.81079c-0.5249,-0.5249 -1.20727,-0.78735 -1.90015,-0.78735zM41.9502,102.07251c-0.69287,0 -1.37524,0.25195 -1.90015,0.77685c-1.0603,1.0498 -1.0603,2.75049 0,3.81079l3.78979,3.80029c0.5249,0.5249 1.21777,0.78735 1.90015,0.78735c0.69287,0 1.38574,-0.26245 1.91065,-0.78735c1.0498,-1.0498 1.0498,-2.75049 0,-3.80029l-3.81079,-3.81079c-0.5249,-0.5249 -1.20728,-0.77685 -1.88965,-0.77685zM32.43897,111.57324c-0.68238,0 -1.37524,0.26245 -1.90015,0.78735c-1.0498,1.0498 -1.0498,2.75049 0,3.80029l3.80029,3.80029c0.5249,0.5249 1.20728,0.78735 1.90015,0.78735c0.69287,0 1.37524,-0.26245 1.90015,-0.78735c1.0498,-1.0498 1.0498,-2.75049 0,-3.80029l-3.80029,-3.80029c-0.5249,-0.5249 -1.21777,-0.78735 -1.90015,-0.78735zM22.93823,121.06348c-0.68237,0 -1.37524,0.27295 -1.90015,0.79785c-1.0498,1.03931 -1.0498,2.75049 0,3.80029l3.80029,3.80029c0.5249,0.5249 1.20727,0.78735 1.90015,0.78735c0.69287,0 1.37524,-0.26245 1.90015,-0.78735c1.0498,-1.0498 1.0498,-2.75049 0,-3.81079l-3.80029,-3.78979c-0.5249,-0.5249 -1.21777,-0.79785 -1.90015,-0.79785zM13.4375,130.57471c-0.68237,0 -1.37524,0.26245 -1.90015,0.78735c-1.0498,1.0498 -1.0498,2.75049 0,3.80029l3.80029,3.80029c0.5249,0.5249 1.20728,0.78735 1.90015,0.78735c0.69287,0 1.37524,-0.26245 1.90015,-0.78735c1.0498,-1.0498 1.0498,-2.75049 0,-3.80029l-3.80029,-3.80029c-0.5249,-0.5249 -1.21777,-0.78735 -1.90015,-0.78735z"></path></g></g>
                </svg>
            </div>
           
        </div>
            <div class="col-md-3">
                <div class="load_jobs_top_info_style jobs_info_online_color"> <span>@Localize.T("Total Online")</span><span> @ViewBag.TotalOnline</span>
                  <svg x="0px" y="0px" width="50" height="50"viewBox="0 0 172 172">
                  <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M144.265,24.1875c-0.14781,0.02688 -0.29562,0.06719 -0.43,0.1075c-1.29,0.22844 -2.32469,1.16906 -2.6875,2.41875c-0.36281,1.26313 0.01344,2.60688 0.9675,3.49375c14.21688,14.2975 23.005,33.95656 23.005,55.7925c0,21.76875 -8.77469,41.48156 -23.005,55.7925c-1.02125,0.83313 -1.49156,2.16344 -1.19594,3.45344c0.29562,1.27656 1.30344,2.28438 2.58,2.58c1.29,0.29563 2.62031,-0.17469 3.45344,-1.19594c15.46656,-15.54719 25.0475,-37.00687 25.0475,-60.63c0,-23.67687 -9.48687,-45.09625 -24.94,-60.63c-0.69875,-0.80625 -1.73344,-1.23625 -2.795,-1.1825zM27.09,24.295c-0.77937,0.1075 -1.505,0.49719 -2.0425,1.075c-15.46656,15.54719 -25.0475,37.00688 -25.0475,60.63c0,23.67688 9.48688,45.09625 24.94,60.63c1.33031,1.37063 3.52063,1.38406 4.89125,0.05375c1.37063,-1.33031 1.38406,-3.52062 0.05375,-4.89125c-14.21687,-14.2975 -23.005,-33.95656 -23.005,-55.7925c0,-21.76875 8.77469,-41.48156 23.005,-55.7925c1.075,-1.02125 1.38406,-2.62031 0.7525,-3.96406c-0.645,-1.35719 -2.06937,-2.13656 -3.5475,-1.94844zM55.685,49.3425c-0.76594,0.08063 -1.49156,0.43 -2.0425,0.9675c-9.71531,8.815 -15.8025,21.56719 -15.8025,35.69c0,14.14969 6.10063,26.90188 15.8025,35.69c0.87344,0.9675 2.23063,1.37063 3.49375,1.00781c1.24969,-0.34938 2.20375,-1.38406 2.44563,-2.67406c0.24187,-1.29 -0.26875,-2.60687 -1.31688,-3.38625c-8.31781,-7.53844 -13.545,-18.44969 -13.545,-30.6375c0,-12.1475 5.21375,-23.07219 13.545,-30.6375c1.12875,-0.98094 1.49156,-2.58 0.90031,-3.95062c-0.59125,-1.37063 -1.98875,-2.20375 -3.48031,-2.06938zM115.5625,49.3425c-1.35719,0.16125 -2.4725,1.11531 -2.87562,2.41875c-0.38969,1.30344 0.01344,2.71438 1.04812,3.60125c8.31781,7.53844 13.545,18.44969 13.545,30.6375c0,12.1475 -5.20031,23.07219 -13.545,30.6375c-1.04812,0.77938 -1.55875,2.09625 -1.31687,3.38625c0.24187,1.29 1.19594,2.32469 2.44562,2.67406c1.26313,0.36281 2.62031,-0.04031 3.49375,-1.00781c9.71531,-8.815 15.8025,-21.56719 15.8025,-35.69c0,-14.14969 -6.10062,-26.90187 -15.8025,-35.69c-0.65844,-0.645 -1.55875,-0.99437 -2.4725,-0.9675c-0.1075,0 -0.215,0 -0.3225,0zM86,68.8c-9.46,0 -17.2,7.72656 -17.2,17.2c0,9.44656 7.72656,17.2 17.2,17.2c9.47344,0 17.2,-7.75344 17.2,-17.2c0,-9.47344 -7.74,-17.2 -17.2,-17.2zM86,75.68c5.76469,0 10.32,4.54188 10.32,10.32c0,5.73781 -4.56875,10.32 -10.32,10.32c-5.75125,0 -10.32,-4.58219 -10.32,-10.32c0,-5.77812 4.55531,-10.32 10.32,-10.32z"></path></g></g></svg>
                </div>

            </div>
            <div class="col-md-3">
                <div class="load_jobs_top_info_style jobs_info_system_color">
                    <span>@Localize.T("Total System Generated")</span>
                    <span>@ViewBag.TotalSystem</span>
                    <svg x="0px" y="0px" width="50" height="50"  viewBox="0 0 172 172">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M13.4375,21.5c-4.44067,0 -8.0625,3.62183 -8.0625,8.0625v102.125c0,4.44067 3.62183,8.0625 8.0625,8.0625h56.4375v5.375h-6.29883c-3.59033,0 -6.96021,1.39624 -9.50073,3.93677l-7.60059,7.60059c-0.76636,0.76636 -0.99732,1.92114 -0.57739,2.92896c0.40942,0.99731 1.39624,1.65869 2.47754,1.65869h75.25c1.0813,0 2.06811,-0.66138 2.47754,-1.65869c0.41992,-1.00781 0.18897,-2.1626 -0.57739,-2.92896l-7.60059,-7.60059c-2.54053,-2.54053 -5.9104,-3.93677 -9.50073,-3.93677h-6.29883v-5.375h56.4375c4.44067,0 8.0625,-3.62183 8.0625,-8.0625v-102.125c0,-4.44067 -3.62183,-8.0625 -8.0625,-8.0625zM13.4375,26.875h145.125c1.48022,0 2.6875,1.20728 2.6875,2.6875v88.6875h-8.0625c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875c0,1.48022 1.19678,2.6875 2.6875,2.6875h8.0625v8.0625c0,1.48022 -1.20728,2.6875 -2.6875,2.6875h-145.125c-1.48022,0 -2.6875,-1.20728 -2.6875,-2.6875v-8.0625h88.90796c1.49072,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875h-88.90796v-88.6875c0,-1.48022 1.20728,-2.6875 2.6875,-2.6875zM18.8125,32.25c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875c0,1.48022 1.19678,2.6875 2.6875,2.6875h112.875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM142.4375,32.25c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875c0,1.48022 1.19678,2.6875 2.6875,2.6875h10.75c1.49072,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM80.79297,45.6875c-1.27026,-0.07349 -2.43555,0.75586 -2.77148,1.99463l-8.5769,32.19751l-5.11255,-13.63696c-0.37793,-0.99732 -1.31226,-1.67969 -2.38306,-1.74268c-1.0498,-0.05249 -2.06811,0.5354 -2.54053,1.48022l-4.62964,9.26978h-25.21631c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875c0,1.48022 1.19678,2.6875 2.6875,2.6875h26.875c1.01831,0 1.94214,-0.57739 2.40405,-1.48022l2.62451,-5.23853l5.8894,15.72608c0.40942,1.0918 1.41724,1.76367 2.64551,1.74267c1.17578,-0.06299 2.1731,-0.86084 2.47754,-1.99463l7.29614,-27.36841l6.25684,45.85547c0.16797,1.25977 1.20728,2.23608 2.48804,2.32007c0.05249,0 0.11548,0 0.16797,0c1.20728,0 2.28858,-0.80835 2.60352,-1.99463l8.5769,-32.19751l5.11255,13.63696c0.37793,0.99731 1.31226,1.67969 2.38306,1.74267c1.0498,0.05249 2.06811,-0.5354 2.54053,-1.48022l4.62964,-9.26978h25.21631c1.49072,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875h-26.875c-1.01831,0 -1.94214,0.57739 -2.40405,1.48022l-2.62451,5.23853l-5.8894,-15.72607c-0.41992,-1.0918 -1.42773,-1.78467 -2.64551,-1.74268c-1.17578,0.06299 -2.1731,0.86084 -2.47754,1.99463l-7.29614,27.36841l-6.25684,-45.85547c-0.16797,-1.25977 -1.20727,-2.23608 -2.48804,-2.32007zM112.875,115.5625c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM126.3125,115.5625c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM139.75,115.5625c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM75.25,139.75h21.5v5.375h-21.5zM63.57617,150.5h44.84766c2.1521,0 4.17822,0.83984 5.70044,2.36206l3.01294,3.01294h-62.27441l3.01294,-3.01294c1.52222,-1.52222 3.54834,-2.36206 5.70044,-2.36206z"></path></g></g></svg>
                </div>

            </div>
            <div class="col-md-3">
                <div class="load_jobs_top_info_style jobs_info_amt_color">
                    <span> @Localize.T("Total Amount")</span>
                    <span>@string.Format("${0:#,##0.00}", ViewBag.TotalAmount)</span>
                    <svg x="0px" y="0px" width="50" height="50" viewBox="0 0 172 172">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M32.25,18.8125c-4.56875,0 -8.0625,3.49375 -8.0625,8.0625v21.5h-2.6875c-2.95625,0 -5.375,2.41875 -5.375,5.375v21.5c0,2.95625 2.41875,5.375 5.375,5.375h2.6875v64.5c0,4.56875 3.49375,8.0625 8.0625,8.0625h73.84851c5.83725,11.16388 17.51574,18.8125 30.96399,18.8125c19.264,0 34.9375,-15.6735 34.9375,-34.9375c0,-15.51225 -10.1695,-28.67907 -24.1875,-33.22632v-23.21118h2.6875c2.95625,0 5.375,-2.41875 5.375,-5.375v-21.5c0,-3.225 -2.41875,-5.375 -5.375,-5.375h-2.6875v-21.5c0,-4.56875 -3.49375,-8.0625 -8.0625,-8.0625zM32.25,24.1875h107.5c1.6125,0 2.6875,1.075 2.6875,2.6875v34.9375h-112.875v-34.9375c0,-1.6125 1.075,-2.6875 2.6875,-2.6875zM91.375,32.38647c-0.47031,0 -0.94062,0.13018 -1.34375,0.39893l-5.375,2.6875c-1.34375,0.5375 -1.88125,2.1521 -1.34375,3.49585c0.5375,1.34375 2.1521,1.88125 3.49585,1.34375l1.34375,-0.80835v11.55835c0,1.6125 1.075,2.6875 2.6875,2.6875c1.6125,0 2.6875,-1.075 2.6875,-2.6875v-16.125c0.5375,-0.80625 -0.0021,-1.88335 -0.80835,-2.1521c-0.40313,-0.26875 -0.87344,-0.39893 -1.34375,-0.39893zM126.3125,32.38647c-0.47031,0 -0.94062,0.13018 -1.34375,0.39893l-5.375,2.6875c-1.34375,0.5375 -1.88125,2.1521 -1.34375,3.49585c0.5375,1.34375 2.1521,1.88125 3.49585,1.34375l1.34375,-0.80835v11.55835c0,1.6125 1.075,2.6875 2.6875,2.6875c1.6125,0 2.6875,-1.075 2.6875,-2.6875v-16.125c0.5375,-0.80625 -0.0021,-1.88335 -0.80835,-2.1521c-0.40313,-0.26875 -0.87344,-0.39893 -1.34375,-0.39893zM107.5,34.9375c-1.6125,0 -2.6875,1.075 -2.6875,2.6875v2.6875h-2.6875c-1.6125,0 -2.6875,1.075 -2.6875,2.6875c0,1.6125 1.075,2.6875 2.6875,2.6875h2.6875v2.6875c0,1.6125 1.075,2.6875 2.6875,2.6875c1.6125,0 2.6875,-1.075 2.6875,-2.6875v-2.6875h2.6875c1.6125,0 2.6875,-1.075 2.6875,-2.6875c0,-1.6125 -1.075,-2.6875 -2.6875,-2.6875h-2.6875v-2.6875c0,-1.6125 -1.075,-2.6875 -2.6875,-2.6875zM21.5,53.75h2.6875v21.5h-2.6875zM147.8125,53.75h2.6875v21.5h-2.6875zM29.5625,67.1875h112.875v35.34692c0.09406,0.0215 0.18414,0.06505 0.2782,0.08923c-1.84631,-0.301 -3.72357,-0.49866 -5.6532,-0.49866c-1.83288,0 -3.61737,0.18523 -5.375,0.45667v-8.51917c0,-2.95625 -2.41875,-5.375 -5.375,-5.375h-16.125c-2.95625,0 -5.375,2.41875 -5.375,5.375v29.58349c-1.72538,4.13338 -2.6875,8.66501 -2.6875,13.41651c0,3.75175 0.61199,7.36106 1.71118,10.75h-71.58618c-1.6125,0 -2.6875,-1.075 -2.6875,-2.6875zM45.6875,72.5625c-1.6125,0 -2.6875,1.075 -2.6875,2.6875v5.375c0,1.6125 1.075,2.6875 2.6875,2.6875c1.6125,0 2.6875,-1.075 2.6875,-2.6875v-5.375c0,-1.6125 -1.075,-2.6875 -2.6875,-2.6875zM59.125,72.5625c-1.6125,0 -2.6875,1.075 -2.6875,2.6875v5.375c0,1.6125 1.075,2.6875 2.6875,2.6875c1.6125,0 2.6875,-1.075 2.6875,-2.6875v-5.375c0,-1.6125 -1.075,-2.6875 -2.6875,-2.6875zM72.5625,72.5625c-1.6125,0 -2.6875,1.075 -2.6875,2.6875v5.375c0,1.6125 1.075,2.6875 2.6875,2.6875c1.6125,0 2.6875,-1.075 2.6875,-2.6875v-5.375c0,-1.6125 -1.075,-2.6875 -2.6875,-2.6875zM86,72.5625c-1.6125,0 -2.6875,1.075 -2.6875,2.6875v5.375c0,1.6125 1.075,2.6875 2.6875,2.6875c1.6125,0 2.6875,-1.075 2.6875,-2.6875v-5.375c0,-1.6125 -1.075,-2.6875 -2.6875,-2.6875zM99.4375,72.5625c-1.6125,0 -2.6875,1.075 -2.6875,2.6875v5.375c0,1.6125 1.075,2.6875 2.6875,2.6875c1.6125,0 2.6875,-1.075 2.6875,-2.6875v-5.375c0,-1.6125 -1.075,-2.6875 -2.6875,-2.6875zM112.875,72.5625c-1.6125,0 -2.6875,1.075 -2.6875,2.6875v5.375c0,1.6125 1.075,2.6875 2.6875,2.6875c1.6125,0 2.6875,-1.075 2.6875,-2.6875v-5.375c0,-1.6125 -1.075,-2.6875 -2.6875,-2.6875zM126.3125,72.5625c-1.6125,0 -2.6875,1.075 -2.6875,2.6875v5.375c0,1.6125 1.075,2.6875 2.6875,2.6875c1.6125,0 2.6875,-1.075 2.6875,-2.6875v-5.375c0,-1.6125 -1.075,-2.6875 -2.6875,-2.6875zM45.6875,88.6875c-2.95625,0 -5.375,2.41875 -5.375,5.375v10.75c0,2.95625 2.41875,5.375 5.375,5.375h16.125c2.95625,0 5.375,-2.41875 5.375,-5.375v-10.75c0,-2.95625 -2.41875,-5.375 -5.375,-5.375zM77.9375,88.6875c-2.95625,0 -5.375,2.41875 -5.375,5.375v10.75c0,2.95625 2.41875,5.375 5.375,5.375h16.125c2.95625,0 5.375,-2.41875 5.375,-5.375v-10.75c0,-2.95625 -2.41875,-5.375 -5.375,-5.375zM45.6875,94.0625h16.125v10.75h-16.125zM77.9375,94.0625h16.125v10.75h-16.125zM110.1875,94.0625h16.125v9.77368c-6.36669,2.064 -11.94056,5.89734 -16.125,10.93371zM137.0625,107.5c16.29969,0 29.5625,13.26281 29.5625,29.5625c0,16.29969 -13.26281,29.5625 -29.5625,29.5625c-16.29969,0 -29.5625,-13.26281 -29.5625,-29.5625c0,-16.29969 13.26281,-29.5625 29.5625,-29.5625zM137.0625,112.875c-1.48619,0 -2.6875,1.204 -2.6875,2.6875v2.6875c-5.92863,0 -10.75,4.82137 -10.75,10.75c0,5.92863 4.82137,10.75 10.75,10.75h5.375c2.96431,0 5.375,2.41069 5.375,5.375c0,2.96431 -2.41069,5.375 -5.375,5.375v-5.375c0,-1.4835 -1.20131,-2.6875 -2.6875,-2.6875c-1.48619,0 -2.6875,1.204 -2.6875,2.6875v5.375c-2.96431,0 -5.375,-2.41069 -5.375,-5.375c0,-1.4835 -1.20131,-2.6875 -2.6875,-2.6875c-1.48619,0 -2.6875,1.204 -2.6875,2.6875c0,5.92863 4.82137,10.75 10.75,10.75v2.6875c0,1.4835 1.20131,2.6875 2.6875,2.6875c1.48619,0 2.6875,-1.204 2.6875,-2.6875v-2.6875c5.92863,0 10.75,-4.82137 10.75,-10.75c0,-5.92863 -4.82137,-10.75 -10.75,-10.75v-5.375c0,-1.4835 -1.20131,-2.6875 -2.6875,-2.6875c-1.48619,0 -2.6875,1.204 -2.6875,2.6875v5.375c-2.96431,0 -5.375,-2.41069 -5.375,-5.375c0,-2.96431 2.41069,-5.375 5.375,-5.375h5.375c2.96431,0 5.375,2.41069 5.375,5.375c0,1.4835 1.20131,2.6875 2.6875,2.6875c1.48619,0 2.6875,-1.204 2.6875,-2.6875c0,-5.92863 -4.82137,-10.75 -10.75,-10.75v-2.6875c0,-1.4835 -1.20131,-2.6875 -2.6875,-2.6875zM45.6875,115.5625c-2.95625,0 -5.375,2.41875 -5.375,5.375v10.75c0,2.95625 2.41875,5.375 5.375,5.375h16.125c2.95625,0 5.375,-2.41875 5.375,-5.375v-10.75c0,-2.95625 -2.41875,-5.375 -5.375,-5.375zM77.9375,115.5625c-2.95625,0 -5.375,2.41875 -5.375,5.375v10.75c0,2.95625 2.41875,5.375 5.375,5.375h16.125c2.95625,0 5.375,-2.41875 5.375,-5.375v-10.75c0,-2.95625 -2.41875,-5.375 -5.375,-5.375zM45.6875,120.9375h16.125v10.75h-16.125zM77.9375,120.9375h16.125v10.75h-16.125z"></path></g></g></svg>
                </div>

            </div>
    </div>
        <div class="tech_report_table_container">
            <table id="PayrollReportTable">
                <thead>
                    <tr>
                        <th>
                            <div>@Localize.T("Booking Id")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/bookingid"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/bookingid"></i></div>
                        </th>
                        <th>
                            <div>@Localize.T("Source")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/bookingid"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/bookingid"></i></div>
                        </th>
                        <th>
                            <div>@Localize.T("Billing Address")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/billing"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/billing"></i></div>
                        </th>
                        <th>
                            <div>@Localize.T("Pickup Date")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/pickupdate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/pickupdate"></i></div>
                        </th>

                        <th>
                            <div>@Localize.T("Created Date")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/createddate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/createddate"></i></div>
                        </th>
                        <th>
                            <div>@Localize.T("Created By")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/createdby"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/createdby"></i></div>
                        </th>
                        <th>
                            <div>@Localize.T("Amount")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/amount"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/amount"></i></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="rpt_pr_sc_mb">@Localize.T("Booking Id") <span>:</span></div>
                                <div class="rpt_pr_sc_dtp">
                                    <span class="cus-anchor" onclick="OpenBkById(@item.Id)">@item.BookingId</span>
                                    <br />
                                    <a title="Customer" class="cus-anchor" href="/Customer/Customerdetail/?id=@item.CustomerIntId">@item.CustomerName</a>
                                    <br />

                                </div>
                            </td>
                            <td>
                                <div class="rpt_pr_sc_mb">@Localize.T("Source") <span>:</span></div>
                                <div class="rpt_pr_sc_dtp">
                                    @if (item.BookingSource.ToLower() == "online")
                                    {
                                        <span>@item.BookingSource</span>
                                    }
                                    else
                                    {
                                        <span>System Generated</span>
                                    }
                                </div>

                            </td>
                            <td>
                                <div class="rpt_pr_sc_mb">@Localize.T("Billing Address") <span>:</span></div>
                                <div class="rpt_pr_sc_dtp"><span>@Html.Raw(item.BillingAddress)</span></div>

                            </td>
                            <td>
                                <div class="rpt_pr_sc_mb">@Localize.T("Pickup Date") <span>:</span></div>
                                @if (item.PickUpDate.HasValue)
                                {
                                    <div class="rpt_pr_sc_dtp"><span>@item.PickUpDate.Value.ToString("MM/dd/yyyy")</span></div>
                                }


                            </td>
                            <td>
                                <div class="rpt_pr_sc_mb">@Localize.T("Created Date") <span>:</span></div>
                                <div class="rpt_pr_sc_dtp">@item.CreatedDate.ToString("MM/dd/yyyy")</div>

                            </td>
                            <td>
                                <div class="rpt_pr_sc_mb">@Localize.T("Created by") <span>:</span></div>
                                <div class="rpt_pr_sc_dtp">@item.CreatedByVal</div>

                            </td>


                            <td>
                                <div class="rpt_pr_sc_mb">@Localize.T("Amount") <span>:</span></div>
                                <div class="rpt_pr_sc_dtp"><span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.TotalAmount)</span></div>

                            </td>

                        </tr>
                    }
                    <tr class="table_total_bg">
                        <td class="table-body-td-style" valign="top" colspan="6">
                            <b class="float_right">@Localize.T("Total")</b>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="rpt_pr_sc_mb">@Localize.T("Total Discount") <span>:</span></div>
                            <div class="rpt_pr_sc_dtp">
                                <b title="@Localize.T("Total Discount")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.Sum(i => i.TotalAmount))</b>
                                @*@ViewBag.TotaolAmount = @HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.Sum(i => i.TotalAmount))*@
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="report_pagination_container">
            <div class="paginationContainer">
                @if (ViewBag.PageCount > 0)
                {
                    <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
                }
                @if (ViewBag.PageCount == 1)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons disabledBtn">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="NavigateJobReports(@(ViewBag.PageNumber),'@(ViewBag.order)')">1</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons disabledBtn">Next</button>
                    </div>
                }
                else if (ViewBag.PageCount == 2)
                {

                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="NavigateJobReports(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@(ViewBag.order)')">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton  @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="NavigateJobReports(1, '@(ViewBag.order)')">1</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="NavigateJobReports(2,'@(ViewBag.order)')">2</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="NavigateJobReports(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""),'@(ViewBag.order)')">Next</button>
                    </div>
                }
                else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="NavigateJobReports(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@(ViewBag.order)')">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="NavigateJobReports(1,'@(ViewBag.order)')">1</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="NavigateJobReports(2,'@(ViewBag.order)')">2</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="NavigateJobReports(3,'@(ViewBag.order)')">3</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="NavigateJobReports(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""),'@(ViewBag.order)')">Next</button>
                    </div>
                }
                else if (ViewBag.PageCount > 3)
                {
                    if (ViewBag.PageNumber == ViewBag.PageCount)
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons" onclick="NavigateJobReports(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateJobReports(@(ViewBag.PageNumber-2),'@(ViewBag.order)')">@(ViewBag.PageNumber - 2)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateJobReports(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton activeBtn" onclick="NavigateJobReports(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="paginationRightButtondv">
                            <button class="PaginationButtons disabledBtn" onclick="NavigateJobReports()">Next</button>
                        </div>
                    }
                    else if (ViewBag.PageNumber == 1)
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons" onclick="NavigateJobReports(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateJobReports(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateJobReports(@(ViewBag.PageNumber + 2),'@(ViewBag.order)')">@(ViewBag.PageNumber + 2)</button>
                        </div>
                        <div class="paginationRightButtondv">
                            <button class="PaginationButtons" onclick="NavigateJobReports(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                        </div>
                    }
                    else if (ViewBag.PageNumber == 2)
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons" onclick="NavigateJobReports(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateJobReports(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateJobReports(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="paginationRightButtondv">
                            <button class="PaginationButtons" onclick="NavigateJobReports(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                        </div>
                    }
                    else
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons" onclick="NavigateJobReports(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateJobReports(@(ViewBag.PageNumber - 1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton activeBtn" onclick="NavigateJobReports(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateJobReports(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="paginationRightButtondv">
                            <button class="PaginationButtons" onclick="NavigateJobReports(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                        </div>
                    }
                }
            </div>
        </div>

   
    </div>



