@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.PayrollReport>

<script>

  
    var pageno = '@ViewBag.PageNumber';
    $(document).ready(function () {
        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            NavigatePageListing(pageno, orderval);
        });

    })

</script>

<div class="opportunity_list_container">
    @if (ViewBag.OutOfNumber == 0)
    {
        @ViewBag.Message;
    }
    else
    {

        <table id="PayrollReportTable">
            <thead>
                <tr>
                    <th>
                        <div>@Localize.T("Employee Name")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/name"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/name"></i></div>
                    </th>
                    <th>
                        <div>@Localize.T("Hourly Rate")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/hourlyrate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/hourlyrate"></i></div>
                    </th>
                    <th>
                        <div>@Localize.T("Regular Hours")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/regularhour"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/regularhour"></i></div>
                    </th>
                    <th>
                        <div>@Localize.T("Regular Payment")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/regularpayment"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/regularpayment"></i></div>
                    </th>
              
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="rpt_mb">@Localize.T("Employee Name") <span>:</span></div>
                            <div class="rpt_dtp"> @item.FirstName @item.LastName</div>
                        </td>
                        <td>
                            <div class="rpt_mb">@Localize.T("Hourly Rate") <span>:</span></div>
                            <div class="rpt_dtp">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.HourlyRate)</div>
                        </td>
                        <td>
                            <div class="rpt_mb">@Localize.T("Regular Hours") <span>:</span></div>
                            <div class="rpt_dtp">@item.RegularHours</div>
                        </td>
                        <td>
                            <div class="rpt_mb">@Localize.T("Regular Payment") <span>:</span></div>
                            <div class="rpt_dtp">@item.RegularHours x @Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.HourlyRate) = @Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.RegularHours * item.HourlyRate)</div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="report_pagination_container">
            <div class="report_pagination_inner">
                @if (ViewBag.PageCount == 1)
                {
                    <div class="paginationMiddleButtondv" id="pagination">
                        <button class="PaginationButtons disabledBtn">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">1</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons disabledBtn" disabled>Next</button>
                    </div>
                }
                else if (ViewBag.PageCount == 2)
                {
                    <div class="paginationMiddleButtondv" id="pagination">
                        <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigatePageListing(1)">1</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigatePageListing(2)">2</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons" disabled="@(ViewBag.PageNumber == 2 ? "disabled" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 2 ? ViewBag.PageNumber + 1 : ""))">Next</button>
                    </div>
                }
                else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
                {
                    <div class="paginationMiddleButtondv" id="pagination">
                        <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigatePageListing(1)">1</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigatePageListing(2)">2</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 3 ? "activeBtn" : "")" onclick="NavigatePageListing(3)">3</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons" disabled="PaginationButtons @(ViewBag.PageNumber == 3 ? "disabled" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 3 ? ViewBag.PageNumber + 1 : ""))">Next</button>
                    </div>
                }
                else if (ViewBag.PageCount > 3)
                {
                    if (ViewBag.PageNumber == 1)
                    {
                        <div class="paginationMiddleButtondv" id="pagination">
                            <button class="PaginationButtons" disabled onclick="NavigatePageListing()">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">Next</button>
                        </div>
                    }
                    else if (ViewBag.PageNumber == ViewBag.PageCount)
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))" id="pagination">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 2))" id="pagination">@(ViewBag.PageNumber - 2)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))" id="pagination">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))" id="pagination">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button class="PaginationButtons" disabled onclick="NavigatePageListing()">Next</button>
                        </div>
                    }
                    else
                    {
                        <div class="paginationMiddleButtondv" id="pagination">
                            <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">Next</button>
                        </div>

                    }
                }
            </div>
            <div class="area_zip_code_pagination_inner">
                @if (ViewBag.PageCount > 0)
                {
                    <div class="paginationtextdv">
                        <span>Showing item @ViewBag.CurrentNumber of @ViewBag.OutOfNumber</span>
                    </div>
                }
            </div>
        </div>
    }

</div>


