@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
@*@model List<HS.Entities.FundedCommision>*@
@model HS.Entities.FundedCommisionReport

<script>
    var pageno = '@ViewBag.PageNumber';
    var ShowOpportunityDetails = function (item, e) {
        //e.preventDefault();
        if (cntrlIsPressed) {
            var href = $(item).attr('href');
            window.open(href, '_blank');
        } else {
            var id = $(item).attr('id');
            var OpportunityId = $(item).attr('id-val');
            LoadOpportunityDetail(item);
            $(".GlobalSearchInp").val("");
        }
    }
    $(document).ready(function () {
        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            NavigateUserPaymentFundedListing(pageno, orderval);
        });
    });
</script>
<div class="opportunity_list_container">
    @if (ViewBag.OutOfNumber == 0)
    {
        @ViewBag.Message;
    }
    else
    {

        <div class="tech_report_table_container">

            <table id="PayrollReportTable">
                <thead>
                    <tr>
                        <th>
                            <div>@Localize.T("User Name")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/username"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/username"></i></div>
                        </th>
                        <th>
                            <div>@Localize.T("Amount")</div>

                        </th>

                        <th>
                            <div>@Localize.T("Type")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/type"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/type"></i></div>
                        </th>

                        <th>
                            <div>@Localize.T("Ticket Details")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/ticketid"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/ticketid"></i></div>
                        </th>
                        <th>
                            <div>@Localize.T("Ticket Type")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/tickettype"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/tickettype"></i></div>
                        </th>
                        <th>
                            <div>@Localize.T("Paid Date")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/paiddate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/paiddate"></i></div>
                        </th>
                        <th>
                            <div>@Localize.T("Batch No")</div>

                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PayrollReportList)
                    {
                        <tr>
                            <td>
                                <div class="rpt_pr_tch_mb">@Localize.T("User Name") <span>:</span></div>
                                <div class="rpt_pr_tch_dtp"> <span>@item.Technician</span></div>
                            </td>
                            <td>
                                <div class="rpt_pr_tch_mb">@Localize.T("Amount") <span>:</span></div>
                                <div class="rpt_pr_tch_dtp">
                                    @if (item.Type == "Tech")
                                    {
                                        <span title="RMR Comm.">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.TechTotalCommission)</span>
                                    }
                                    else if (item.Type == "Sales")
                                    {
                                        <span title="RMR Comm.">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.SalesTotalCommission)</span>
                                    }
                                    else if (item.Type == "Added Member")
                                    {
                                        <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.AddCommission)</span>
                                    }
                                    else
                                    {
                                        <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.CallCommission)</span>
                                    }
                                </div>
                            </td>

                            <td>
                                <div class="rpt_pr_tch_mb">@Localize.T("Site Type") <span>:</span></div>
                                <div class="rpt_pr_tch_dtp">
                                    <span title="Type">@item.Type</span>
                                </div>

                            </td>
                            <td>
                                <div class="rpt_pr_tch_mb">@Localize.T("Ticket Details") <span>:</span></div>
                                <div class="rpt_pr_tch_dtp">
                                    <span class="cus-anchor" onclick="OpenTicketById(@item.TicketId)">@item.TicketId</span>
                                </div>

                            </td>
                            <td>
                                <div class="rpt_pr_tch_mb">@Localize.T("Ticket Type") <span>:</span></div>
                                <div class="rpt_pr_tch_dtp">
                                    <span title="Ticket Type">@item.TicketType</span>
                                </div>

                            </td>

                            <td>
                                <div class="rpt_pr_tch_mb">@Localize.T("Paid Date") <span>:</span></div>
                                <div class="rpt_pr_tch_dtp">
                                    @if (item.PaidDate.ToString("MM/dd/yyyy") != "01/01/0001")
                                    {
                                        <span>@item.PaidDate.ToString("MM/dd/yyyy")</span>
                                    }
                                </div>
                            </td>

                            <td>
                                <div class="rpt_pr_tch_mb">@Localize.T("Batch No") <span>:</span></div>
                                <div class="rpt_pr_tch_dtp">
                                    @item.Batch
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
                <div>
                    <div>@Localize.T("Total Adjustment") <span>:</span></div>
                    <div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalFundedCommision.TotalAdjustment.ToString("#,##0.00")</div>

                    <div>@Localize.T("Total Sales Commission") <span>:</span></div>
                    <div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalFundedCommision.TotalSalesCommission.ToString("#,##0.00")</div>

                    <div>@Localize.T("Total Tech Commission") <span>:</span></div>
                    <div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalFundedCommision.TotalTechCommission.ToString("#,##0.00")</div>

                    <div>@Localize.T("Total Add Commission") <span>:</span></div>
                    <div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalFundedCommision.TotalAddCommission.ToString("#,##0.00")</div>

                    <div>@Localize.T("Total Call Commission") <span>:</span></div>
                    <div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalFundedCommision.TotalCallCommission.ToString("#,##0.00")</div>

                    <div>@Localize.T("Total FollowUp Commission") <span>:</span></div>
                    <div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalFundedCommision.TotalFollowUpCommission.ToString("#,##0.00")</div>

                    <div>@Localize.T("Total Reschedule Commission") <span>:</span></div>
                    <div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalFundedCommision.TotalRescheduleCommission.ToString("#,##0.00")</div>

                    <div>@Localize.T("Total Point") <span>:</span></div>
                    <div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalFundedCommision.TotalPoint.ToString("#,##0.00")</div>

                    <div>@Localize.T("Total Unpaid Balance") <span>:</span></div>
                    <div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalFundedCommision.TotalUnpaidBalance.ToString("#,##0.00")</div>
                </div>
            </table>
        </div>

        <div class="report_pagination_container">
            <div class="report_pagination_inner">
                @if (ViewBag.PageCount == 1)
                {
                    <div class="paginationMiddleButtondv" id="pagination">
                        <button class="PaginationButtons disabledBtn">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton activeBtn" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber),'@ViewBag.order')">1</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons disabledBtn" disabled>Next</button>
                    </div>
                }
                else if (ViewBag.PageCount == 2)
                {
                    <div class="paginationMiddleButtondv" id="pagination">
                        <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""),'@ViewBag.order')">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigateUserPaymentFundedListing(1, '@ViewBag.order')">1</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigateUserPaymentFundedListing(2,'@ViewBag.order')">2</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons" disabled="@(ViewBag.PageNumber == 2 ? "disabled" : "")" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber != 2 ? ViewBag.PageNumber + 1 : ""),'@ViewBag.order')">Next</button>
                    </div>
                }
                else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
                {
                    <div class="paginationMiddleButtondv" id="pagination">
                        <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""),'@ViewBag.order')">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigateUserPaymentFundedListing(1,'@ViewBag.order')">1</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigateUserPaymentFundedListing(2,'@ViewBag.order')">2</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 3 ? "activeBtn" : "")" onclick="NavigateUserPaymentFundedListing(3,'@ViewBag.order')">3</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons" disabled="PaginationButtons @(ViewBag.PageNumber == 3 ? "disabled" : "")" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber != 3 ? ViewBag.PageNumber + 1 : ""),'@ViewBag.order')">Next</button>
                    </div>
                }
                else if (ViewBag.PageCount > 3)
                {
                    if (ViewBag.PageNumber == 1)
                    {
                        <div class="paginationMiddleButtondv" id="pagination">
                            <button class="PaginationButtons" disabled onclick="NavigateTechComListing()">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton activeBtn" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber),'@ViewBag.order')">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber + 1),'@ViewBag.order')">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber + 2),'@ViewBag.order')">@(ViewBag.PageNumber + 2)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button class="PaginationButtons" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber + 1),'@ViewBag.order')">Next</button>
                        </div>
                    }
                    else if (ViewBag.PageNumber == ViewBag.PageCount)
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber - 1),'@ViewBag.order')" id="pagination">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber - 2),'@ViewBag.order')" id="pagination">@(ViewBag.PageNumber - 2)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber - 1),'@ViewBag.order')" id="pagination">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton activeBtn" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber),'@ViewBag.order')" id="pagination">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button class="PaginationButtons" disabled onclick="NavigateUserPaymentFundedListing()">Next</button>
                        </div>
                    }
                    else
                    {
                        <div class="paginationMiddleButtondv" id="pagination">
                            <button class="PaginationButtons" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber - 1),'@ViewBag.order')">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber - 1),'@ViewBag.order')">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton activeBtn" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber),'@ViewBag.order')">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber + 1),'@ViewBag.order')">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button class="PaginationButtons" onclick="NavigateUserPaymentFundedListing(@(ViewBag.PageNumber + 1),'@ViewBag.order')">Next</button>
                        </div>

                    }
                }
            </div>
            <div class="area_zip_code_pagination_inner">
                @if (ViewBag.PageCount > 0)
                {
                    <div class="paginationtextdv">
                        <span>Showing item @ViewBag.CurrentNumber of @ViewBag.OutOfNumber</span>
                    </div>
                }
            </div>
        </div>
    }

</div>



