@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

@model List<HS.Entities.Customer>
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Inventory/BadInventoryPartial.css" rel="stylesheet" />


<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Select2/select2.css" rel="stylesheet" />
<script src="~/Content/Select2/Select2.min.js"></script>

@*<link href="~/Content/Select2/select2.v2.css" rel="stylesheet" />
<script src="~/Content/Select2/select2.v2.full.min.js"></script>
<script src="~/Content/Select2/select2.v2.full.js"></script>
<link href="~/Content/Select2/select2.v2.min.css" rel="stylesheet" />*@

<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var DataTablePageSize = 50;
    var LeadsStartDatepicker;
    var LeadsEndDatepicker;
    var statusval = '@ViewBag.statusval';
   var pageno = '@ViewBag.PageNumber';
    var leadval = '@ViewBag.leadval';

    var listStatus = '@Html.Raw(Json.Encode(@ViewBag.StatusList))';
    listStatus = JSON.parse(listStatus);
        var listSource = '@Html.Raw(Json.Encode(@ViewBag.LeadSourceList))';
    listSource = JSON.parse(listSource);
     var listSalesopener = '@Html.Raw(Json.Encode(@ViewBag.SalesList))';
    listSalesopener = JSON.parse(listSalesopener);
    var listSalesperson = '@Html.Raw(Json.Encode(@ViewBag.SalesPersonList))';
    listSalesperson = JSON.parse(listSalesperson);


    var my_date_format = function (input) {
        console.log(input+" r");
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };

    var CustomerSearchKeyUp = function (pageno,order) {

        var status = $("#lead_status").val();
        var market = $("#lead_market").val();
        var leads = $("#lead_source").val();
        var StartDateVal = $(".min-date").val();
        var EndDateVal = $(".max-date").val();
        var SearchText = $(".category_search_text").val();
        var StatusIDList = encodeURI($("#StatusID").val());
        var SalesopenerIDList = encodeURI($("#SalesopenerID").val());
        var SalespersonIDList = encodeURI($("#SalespersonID").val());

        var SourceIDList = encodeURI($("#LeadsourceID").val());

        $("#LeadfollowupReportTab").html(TabsLoaderText);

        $("#LeadfollowupReportTab").load(domainurl + "/Reports/LoadHudsonFollowupReport/?Start="+ StartDateVal + "&End=" + EndDateVal + "&pageno=" + pageno + "&pagesize=50" + "&status=" + status + "&market=" + market + "&leads=" + leads + "&SearchText=" + encodeURI(SearchText) + "&StatusIDList=" + StatusIDList + "&SalesopenerList=" + SalesopenerIDList +"&LeadsourceIdList=" +SourceIDList + "&SalespersonList="+SalespersonIDList+"&order="+order);
           console.log(SalesopenerIDList);
    }
        var ResetFilter = function () {
        $(".category_search_text").val("");
         $("#StatusID").selectpicker("val", "");
         $("#SalesopenerID").selectpicker("val", "");
         $("#SalespersonID").selectpicker("val", "");
        $("#LeadsourceID").selectpicker("val", "");



        CustomerSearchKeyUp(1);
    }

    $(document).ready(function () {

        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".LoaderWorkingDiv").hide();
        $("#LeadfollowupReportTab .invoice-loader").hide();

        $(".bi_single_filte_info_container").hide();
        $(".btn-filter").click(function () {

            if ($(".bi_single_filte_info_container").is(":visible")) {
                $(".bi_single_filte_info_container").hide();

            } else {
                $(".bi_single_filte_info_container").show();

            }
        });

          $(".Techbtnsearchtext").click(function () {
            var StartDateVal = $(".min-date").val();
            var EndDateVal = $(".max-date").val();
            var status = $("#lead_status").val();
            var market = $("#lead_market").val();
            var leads = $("#lead_source").val();
            var StatusIDList = encodeURI($("#StatusID").val());
            var SalesopenerIDList = encodeURI($("#SalesopenerID").val());
            var SalespersonIDList = encodeURI($("#SalespersonID").val());

            var SourceIDList = encodeURI($("#LeadsourceID").val());

            var SearchText = $(".category_search_text").val();
            $("#LeadfollowupReportTab").html(TabsLoaderText);
            $("#LeadfollowupReportTab").load(domainurl + "/Reports/LoadHudsonFollowupReport/?Start=" + StartDateVal + "&End=" + EndDateVal + "&SearchText=" + encodeURI(SearchText) +"&pageno=" + pageno + "&pagesize=50" + "&status=" + status + "&market=" + market + "&leads=" + leads + "&StatusIDList=" + StatusIDList + "&SalesopenerList=" +SalesopenerIDList + "&LeadsourceIdList=" +SourceIDList +"&SalespersonList="+SalespersonIDList);
          });

               //$("#StatusID").select2();

        //if (listStatus != null) {
        //    if (listStatus.length != 0) {

        //        $("#StatusID").selectpicker('val', listStatus);
        //    }
        //    else {
        //        $("#StatusID").selectpicker('val', '');
        //    }
        //}

             $("#StatusID").select2({placeholder: " Select Status"}).val(listStatus).trigger("change");

             if (listSource != null) {
            if (listSource.length != 0) {
                $("#LeadsourceID").selectpicker('val', listSource);
            }
            else {
                $("#LeadsourceID").selectpicker('val', '');
            }
        }
          if (listSalesopener != null) {
            if (listSalesopener.length != 0) {
                $("#SalesopenerID").selectpicker('val', listSalesopener);
            }
            else {
                $("#SalesopenerID").selectpicker('val', '');
            }
        }
              if ( listSalesperson != null) {
            if (listSalesperson.length != 0) {
                $("#SalespersonID").selectpicker('val', listSalesperson);
            }
            else {
                $("#SalespersonID").selectpicker('val', '');
            }
        }
        if (StartDate != "" && EndDate != "")
        {
            StartDate = my_date_format(StartDate);
            EndDate = my_date_format(EndDate);
            console.log(StartDate + " " + EndDate);
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
        }
        else {
            $(".DateFilterContents .date-start").html("All Time");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .dropdown-filter").hide();
        }
        $("#btnDownloadfollowupReport").click(function () {
             var StartDateVal = $(".min-date").val();
            var EndDateVal = $(".max-date").val();
            var searchtext = $(".category_search_text").val();
            var StatusIDList = encodeURI($("#StatusID").val());
            var SalesopenerIDList = encodeURI($("#SalesopenerID").val());
            var SalespersonIDList = encodeURI($("#SalespersonID").val());
            var SourceIDList = encodeURI($("#LeadsourceID").val());

            var status = $("#lead_status").val();
            var market = $("#lead_market").val();
            var leads = $("#lead_source").val();
            //if (StartDateVal.trim().length == 10 && EndDateVal.trim().length == 10) {
            //    StartDateVal = StartDateVal.replaceAll('/', '_');
            //    EndDateVal = EndDateVal.replaceAll('/', '_');
                location.href = (domainurl + "/Reports/LoadHudsonFollowupReport/?Start=" + StartDateVal + "&End=" + EndDateVal + "&GetReport=true&pageno=" + pageno + "&pagesize=50" + "&status=" + status + "&market=" + market + "&leads=" + leads + "&SearchText=" + encodeURI(searchtext)+"&StatusIDList=" + StatusIDList + "&SalesopenerList=" +SalesopenerIDList + "&LeadsourceIdList=" +SourceIDList +"&SalespersonList="+SalespersonIDList);

              //  location.href = (domainurl + "/Reports/LoadHudsonFollowupReport/?GetReport=true&pageno=" + pageno + "&pagesize=50" +"&Start="+ StartDateVal + "&End=" + EndDateVal+ "&status=" + status + "&market=" + market + "&leads=" + leads+"&SearchText=" + encodeURI(searchtext)+"&StatusIDList=" + StatusIDList);

        });


        $(".DateFilterContents .btn-apply-Datefilter").unbind().click(function () {
            var StartDateVal = $(".min-date").val();
            var EndDateVal = $(".max-date").val();
            UpdatePtoCookie();
            var status = $("#lead_status").val();
            var market = $("#lead_market").val();
            var leads = $("#lead_source").val();
            $("#LeadfollowupReportTab").html(TabsLoaderText);
            $("#LeadfollowupReportTab").load(domainurl + "/Reports/LoadHudsonFollowupReport/?Start=" + StartDateVal + "&End=" + EndDateVal + "&pageno=" + pageno + "&pagesize=50" + "&status=" + status + "&market=" + market + "&leads=" + leads);
        });
        if (statusval != null && statusval != '' && statusval != "-1") {
            $("#lead_status").val(statusval);
        }

        if (leadval != null && leadval != '' && leadval != "-1") {
            $("#lead_source").val(leadval);
        }

        $("#btn_followup_search").click(function () {
            var StartDateVal = $(".min-date").val();
            var EndDateVal = $(".max-date").val();
            var status = $("#lead_status").val();
            var market = $("#lead_market").val();
            var leads = $("#lead_source").val();
            var SearchText = $(".category_search_text").val();
            $("#LeadfollowupReportTab").html(TabsLoaderText);
            $("#LeadfollowupReportTab").load(domainurl + "/Reports/LoadHudsonFollowupReport/?Start=" + StartDateVal + "&End=" + EndDateVal + "&SearchText=" + encodeURI(SearchText) +"&pageno=" + pageno + "&pagesize=50" + "&status=" + status + "&market=" + market + "&leads=" + leads);
        })

          $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            CustomerSearchKeyUp(pageno, orderval);
          });
            $(".category_search_text").keydown(function (e) {

                if (e.which == 13) {
                    CustomerSearchKeyUp(1);
                }
            });
    });
</script>
<style>
    .lead_market_width {
        width: 200px;
        float: left;
    }
</style>
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />


<div class="row lrp_bottom_border">
    <div class="lead_total_color"> @Localize.T("Total Follow Up:") @string.Format("{0:#,##0}", ViewBag.TotalLeads)</div>
</div>


<div class="row followup_report_top_bar lhlr_top_bar">
    <div class="input-group add-on">

        <input value="@TempData["data"]" class="form-control filterinput border_radius_0 category_search_text" placeholder="Search">

        <div class="input-group-btn">
            <button class="btn green_button" title="@Localize.T("Search")" id="btn_followup_search"><i class="fa fa-search"></i></button>
        </div>

    </div>
    <div class="bi_single_filter_div_style filter_fill">
        <button class="btn btn-filter green_button" title="Filter">
            <i class="glyphicon glyphicon-filter"></i>
        </button>
    </div>
    <button title="@Localize.T("Download")" class="report_btn lrp_float_right" id="btnDownloadfollowupReport"><i class="fa fa-download" aria-hidden="true"></i></button>

</div>
<div class="bi_single_filte_info_container">





    <div class="bi_single_filter_info_inner_content"> @Html.DropDownList("StatusID", ViewBag.StatussList as List<SelectListItem>, new { @class = "form-control ", @multiple = "multiple", @title = "Select Status" })</div>








    <div class="bi_single_filter_info_inner_content"> @Html.DropDownList("SalesopenerID", ViewBag.SalesopenerList as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @title = "Select Sales Opener" })</div>






    <div class="bi_single_filter_info_inner_content"> @Html.DropDownList("LeadsourceID", ViewBag.leadsource as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @title = "Select Lead Source" })</div>


    <div class="bi_single_filter_info_inner_content"> @Html.DropDownList("SalespersonID", ViewBag.SalesPRList as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @title = "Select Sales Person" })</div>



    <div class="bi_single_filter_info_footer">
        <button class="btn search_BI_btn green_button Techbtnsearchtext" title="@Localize.T("Apply Filter")"><i class="fa fa-check" aria-hidden="true"></i>@Localize.T(" Apply")</button>
        <button class="btn red_button" id="reset_btn_filter" onclick="ResetFilter()">@Localize.T("Reset")</button>

    </div>
</div>



<div class="leads_report_table HudsonleadsReportTable">
    <table id="" class="loadHudsonleadsReportTable">
        <thead>
            <tr>
                <th class="dba">
                    <div>@Localize.T(" Leads")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/leads"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/leads"></i></div>

                </th>
                <th class="lhlr_add">
                    <div>@Localize.T("Lead Status")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/status"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/status"></i></div>

                </th>
                <th class="lhlr_stat">
                    <div>@Localize.T("Lead Source")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/leadsource"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/leadsource"></i></div>

                </th>
                <th class="lhlr_stat">
                    <div>@Localize.T("Sales Opener")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/salesopenar"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/leadsource"></i></div>

                </th>
                <th class="lhlr_stat">
                    <div>@Localize.T("Sales Person")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/salesperson"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/salesperson"></i></div>

                </th>
                <th class="lhlr_stat">
                    <div>@Localize.T("Follow Up Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/followupdate"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/followupdate"></i></div>

                </th>
                <th class="lhlr_name">
                    <div>@Localize.T("Lead Type")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/leadtype"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/leadtype"></i></div>

                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>

                    <div>@Localize.T("Lead Name") <span>:</span></div>
                    @{
                        if (!string.IsNullOrWhiteSpace(item.BusinessName))
                        {
                            <div><a href="/Lead/Leadsdetail/?id=@item.Id" class="lead_click_item" data-id="@item.CustomerId" target="_blank">@item.BusinessName</a></div>
                            <br />
                            <div>ID: <a href="/Lead/Leadsdetail/?id=@item.Id" class="lead_click_item" data-id="@item.CustomerId" target="_blank"> @item.Id</a></div>

                        }
                        else
                        {
                            <div>ID: <a href="/Lead/Leadsdetail/?id=@item.Id" class="lead_click_item" data-id="@item.CustomerId" target="_blank"> @item.Id</a></div>

                        }
                    }
                </td>
                <td>
                    <div>@Localize.T("Lead Status") <span>:</span></div>
                    @{
                        if (!string.IsNullOrWhiteSpace(item.Status))
                        {
                            <div>@item.Status</div>
                        }
                    }
                </td>
                <td>
                    <div>@Localize.T("Lead Source") <span>:</span></div>
                    @{
                        if (!string.IsNullOrWhiteSpace(item.LeadSource))
                        {
                            <div>@item.LeadSource</div>
                        }
                    }
                </td>
                <td>
                    <div>@Localize.T("Sales Opener") <span>:</span></div>
                    @{
                        if (!string.IsNullOrWhiteSpace(item.FirstName))
                        {
                            <div>@item.FirstName</div>
                        }
                    }
                </td>

                <td>
                    <div>@Localize.T("Sales Person") <span>:</span></div>
                    @{
                        if (!string.IsNullOrWhiteSpace(item.PersonSales))
                        {
                            <div>@item.PersonSales</div>
                        }
                    }
                </td>
                <td>
                    <div>@Localize.T("Follow Up Date") <span>:</span></div>
                    @{
                        if (!string.IsNullOrWhiteSpace(item.FollowUpDate.ToString()))
                        {
                            <div>@item.FollowUpDate.Value.ToString("MM/dd/yyyy")</div>
                        }
                    }
                </td>
                <td>
                    <div>@Localize.T("Lead Type") <span>:</span></div>
                    <div>@item.LeadSourceType</div>
                </td>

            </tr>
            }
        </tbody>
    </table>
    <div class="AgentListPagination">
        <div class="paginationContainer">
            @if (ViewBag.PageCount > 0)
            {
                <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
            }
            @if (ViewBag.PageCount == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons disabledBtn">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber))">1</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CustomerSearchKeyUp(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CustomerSearchKeyUp(2)">2</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CustomerSearchKeyUp(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CustomerSearchKeyUp(2)">2</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="CustomerSearchKeyUp(3)">3</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount > 3)
            {
                if (ViewBag.PageNumber == ViewBag.PageCount)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons disabledBtn" onclick="CustomerSearchKeyUp()">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 1)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 2)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
            }
        </div>
    </div>
</div>

