@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/RecurringBillingReportPartial.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>

<style>
</style>
<script>
    @*var SalesPersonList = '@Html.Raw(Json.Encode(@ViewBag.EmployeeList))';
    SalesPersonList = JSON.parse(SalesPersonList);

    var InstallerList = '@Html.Raw(Json.Encode(@ViewBag.TechnicianList))';
    InstallerList = JSON.parse(InstallerList);*@

    var pageno = '@ViewBag.PageNumber';
        var OpenTicketById = function(ticketId){
        OpenTopToBottomModal(domainurl + "/Ticket/AddTicket/?Id=" + ticketId);
    }
    var LoadServiceSalesList = function (pageno) {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        var searchtext = $("#InstalledDealText").val();
        var filtertext = $("#PackageType").val();
        $(".ServiceSalesReport").html(TabsLoaderText);
        $(".ServiceSalesReport").load(domainurl + "/Reports/ServiceSalesReportList?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&searchtext=" + encodeURI(searchtext) + "&filtertext=" + filtertext  + "&pageno=" + pageno + "&pagesize=20");
    }
    $(document).ready(function () {
   
        LoadServiceSalesList(1);

        $("#PackageType").change(function () {
              LoadServiceSalesList(1);
        })

        $(".DateFilterContents .btn-apply-Datefilter").unbind().click(function () {
            var DateFrom = $(".min-date").val();
            var DateTo = $(".max-date").val();
            UpdatePtoCookie();
            LoadServiceSalesList(1, null);
            var StartDate = my_date_format($(".DateFilterContents .min-date").val());
            var EndDate = my_date_format($(".DateFilterContents .max-date").val())
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
        });

        $("#btnServiceSales").click(function () {
            var StartDate = $(".min-date").val();
            var EndDate = $(".max-date").val();
            var searchtext = $("#InstalledDealText").val();
            var SalesPerson = encodeURI($("#SalesMan").val());
            var Installer = encodeURI($("#Installer").val());
            window.location.href = domainurl + "/Reports/InstalledDealsReportList?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&GetReport=true" + "&searchtext=" + encodeURI(searchtext) + "&pageno=" + pageno + "&pagesize=20" + "&SalesList=" + SalesPerson + "&InstallerList=" + Installer;
        })
       
    });
    $(window).resize(function () {
        //if (window.innerWidth > 1025) {
        //    $(".new_sales_report_table_div").height(window.innerHeight - 338);
        //}

    })


</script>

<div class="sales_summery_report_top_bar">
    <div class="input-group add-on">
        @Html.DropDownList("PackageType", (List<SelectListItem>)ViewBag.PackageTypeList, new { @class = "form-control  Installer", id = "PackageType" })
    </div>
    <div class="input-group add-on">
        <input class="form-control" placeholder="Search Text" value="" id="InstalledDealText" />

        <div class="input-group-btn"> <button class="btn green_button" onclick="LoadInstalledDeal(1)" id="btn_new_sales" title="@Localize.T("Search")"><i class="fa fa-search"></i></button></div>
    </div>



    @*<button title="@Localize.T(" Download")" class="btn btn-primary" id="btnInstalledDeal"><i class="fa fa-download"></i></button>*@


</div>
<div class="col-md-12">
    &nbsp;
</div>

<div class="ServiceSalesReport">


</div>




