@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
@*@model List<HS.Entities.AddMemberCommission>*@
@model HS.Entities.MemberCommisionReport

<script>
    var pageno = '@ViewBag.PageNumber';
    var order = '@ViewBag.order';
    var ShowOpportunityDetails = function (item, e) {
        //e.preventDefault();
        if (cntrlIsPressed) {
            var href = $(item).attr('href');
            window.open(href, '_blank');
        } else {
            var id = $(item).attr('id');
            var OpportunityId = $(item).attr('id-val');
            LoadOpportunityDetail(item);
            $(".GlobalSearchInp").val("");
        }
    }
    $(document).ready(function () {
        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            NavigateMemberComListing(pageno, orderval);
        });
    });
</script>
<div class="opportunity_list_container">
    @if (ViewBag.OutOfNumber == 0)
    {
        @ViewBag.Message;
    }
    else
    {

        <div class="tech_report_table_container"> 
          
            <table id="PayrollReportTable">
                <thead>
                    <tr>
                        <th>
                            <div>@Localize.T("Ticket Id")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/ticketid"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/ticketid"></i></div>
                        </th>
                        @*<th>
                                <div>@Localize.T("Customer Name")</div>
                                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/customername"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/customername"></i></div>
                            </th>*@
                        @*<th>
                                <div>@Localize.T("Technician")</div>
                                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/userassigned"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/userassigned"></i></div>
                            </th>*@
                        @*<th>
                                <div>@Localize.T("Completion Date")</div>
                                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/completiondate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/completiondate"></i></div>
                            </th>*@
                    
                        @*<th>
                                <div>@Localize.T("Base RMR Comm.")</div>
                                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/totalcollected"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/totalcollected"></i></div>
                            </th>*@

                        <th>
                            <div>@Localize.T("Adjustment")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/adjustment"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/adjustment"></i></div>
                        </th>
                        <th>
                            <div>@Localize.T("Commission")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/totalcommission"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/totalcommission"></i></div>
                        </th>
                        @*<th>
                                <div>@Localize.T("Added RMR Comm.")</div>
                                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/totalcollected"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/totalcollected"></i></div>
                            </th>*@
                      
                    
                        <th>
                            <div>@Localize.T("Unpaid Balance")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/totalcollected"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/totalcollected"></i></div>
                        </th>
                        @if (!ViewBag.IsPaid)
                        {
                          
                        }
                        else
                        {
                            <th>
                                <div>@Localize.T("Batch")</div>
                                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/batch"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/batch"></i></div>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PayrollReportList)
                    {
                        <tr>
                            <td>
                                <div class="rpt_pr_am_mb">@Localize.T("Ticket Id") <span>:</span></div>
                                <div class="rpt_pr_am_dtp">
                                    <span class="cus-anchor" onclick="OpenTicketById(@item.TicketIdValue)">@item.TicketIdValue</span>
                                    <br />
                                    <a class="cus-anchor" href="/Customer/Customerdetail/?id=@item.CustomerIdValue">@item.CustomerName</a>
                                    <br />
                                    <span title="Technician">@item.Technician</span>
                                    <br />
                                    @if (item.CompletionDate != new DateTime() && item.CompletionDate != null)
                                    {
                                        <span title="Completion Date">@string.Format(item.CompletionDate.Value.UTCToClientTime().ToString("M/d/yy"))</span>
                                    }
                                </div>

                            </td>
                            @*<td><a class="cus-anchor" href="/Customer/Customerdetail/?id=@item.CustomerIdValue">@item.CustomerName</a></td>*@
                            @*<td>
                    <span title="Technician">@item.Technician</span>
                    <br />
                    @if (item.CompletionDate != new DateTime() && item.CompletionDate != null)
                    {
                        <span title="Completion Date">@string.Format(item.CompletionDate.Value.UTCToClientTime().ToString("MM/dd/yyyy"))</span>
                    }
                </td>*@
                            @*<td>
                    @if (item.CompletionDate != new DateTime() && item.CompletionDate != null)
                    {
                        <span>@string.Format(item.CompletionDate.Value.UTCToClientTime().ToString("MM/dd/yyyy {0} hh:mm tt"), "at")</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>*@

                            @*<td>
                    <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.BaseRMRCommission)</span>
                </td>*@
                            <td>
                                <div class="rpt_pr_am_mb">@Localize.T("Adjustment") <span>:</span></div>
                                <div class="rpt_pr_am_dtp"><span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.Adjustment)</span></div>

                            </td>
                            <td>
                                <div class="rpt_pr_am_mb">@Localize.T("Commission") <span>:</span></div>
                                <div class="rpt_pr_am_dtp"><span title="Added RMR"> @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.Commission)</span></div>


                            </td>
                            @*<td>
                    <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.AddedRMRCommission)</span>
                </td>*@


                            <td>
                                <div class="rpt_pr_am_mb">@Localize.T("Unpaid Balance") <span>:</span></div>
                                <div class="rpt_pr_am_dtp"><span><a style="color:red;" target="_blank" href="/Customer/Customerdetail/?id=@item.CustomerIdValue#InvoiceTab">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.BalanceDue)</a></span></div>

                            </td>
                            @if (!ViewBag.IsPaid)
                            {

                            }
                            else
                            {
                                <td>
                                    <div class="rpt_pr_am_mb">@Localize.T("Batch") <span>:</span></div>
                                    <div class="rpt_pr_am_dtp">@item.Batch</div>

                                </td>
                            }
                        </tr>
                    }
                <tr class="table_total_bg">
                    <td>
                        <b class="float_right">@Localize.T("Total:")</b>

                    </td>
                    <td>
                        <div class="rpt_pr_am_mb">@Localize.T("Total Adjustment") <span>:</span></div>
                        <div class="rpt_pr_am_dtp">
                            <b title="@Localize.T("Total Adjustment") ">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalMemberCommisionCount.TotalAdjustment.ToString("#,##0.00")</b>
                        </div>              
                    </td>
                    <td>
                        <div class="rpt_pr_am_mb">@Localize.T("Total Commission") <span>:</span></div>
                        <div class="rpt_pr_am_dtp">
                            <b title="@Localize.T("Total Commission")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalMemberCommisionCount.TotalCommission.ToString("#,##0.00")</b>
                        </div>                    
                    </td>
                    <td>
                        <div class="rpt_pr_am_mb">@Localize.T("Total Unpaid Balance") <span>:</span></div>
                        <div class="rpt_pr_am_dtp">
                            <b title="@Localize.T("Total Unpaid Balance")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalMemberCommisionCount.TotalUnpaidBalance.ToString("#,##0.00")</b>
                        </div>                    
                    </td>
                    @if (!ViewBag.IsPaid)
                    {

                    }
                    else
                    {
                        <td>
                        </td>
                    }
                </tr>
                </tbody>
               
            </table>
        </div>

        <div class="report_pagination_container">
            <div class="report_pagination_inner">
                @if (ViewBag.PageCount == 1)
                {
                    <div class="paginationMiddleButtondv" id="pagination">
                        <button class="PaginationButtons disabledBtn">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton activeBtn" onclick="NavigateMemberComListing(@(ViewBag.PageNumber),'@ViewBag.order')">1</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons disabledBtn" disabled>Next</button>
                    </div>
                }
                else if (ViewBag.PageCount == 2)
                {
                    <div class="paginationMiddleButtondv" id="pagination">
                        <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigateMemberComListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""),'@ViewBag.order')">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigateMemberComListing(1, '@ViewBag.order')">1</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigateMemberComListing(2,'@ViewBag.order')">2</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons" disabled="@(ViewBag.PageNumber == 2 ? "disabled" : "")" onclick="NavigateMemberComListing(@(ViewBag.PageNumber != 2 ? ViewBag.PageNumber + 1 : ""),'@ViewBag.order')">Next</button>
                    </div>
                }
                else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
                {
                    <div class="paginationMiddleButtondv" id="pagination">
                        <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigateMemberComListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""),'@ViewBag.order')">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigateMemberComListing(1,'@ViewBag.order')">1</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigateMemberComListing(2,'@ViewBag.order')">2</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 3 ? "activeBtn" : "")" onclick="NavigateMemberComListing(3,'@ViewBag.order')">3</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons" disabled="PaginationButtons @(ViewBag.PageNumber == 3 ? "disabled" : "")" onclick="NavigateMemberComListing(@(ViewBag.PageNumber != 3 ? ViewBag.PageNumber + 1 : ""),'@ViewBag.order')">Next</button>
                    </div>
                }
                else if (ViewBag.PageCount > 3)
                {
                    if (ViewBag.PageNumber == 1)
                    {
                        <div class="paginationMiddleButtondv" id="pagination">
                            <button class="PaginationButtons" disabled onclick="NavigateMemberComListing()">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton activeBtn" onclick="NavigateMemberComListing(@(ViewBag.PageNumber),'@ViewBag.order')">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigateMemberComListing(@(ViewBag.PageNumber + 1),'@ViewBag.order')">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigateMemberComListing(@(ViewBag.PageNumber + 2),'@ViewBag.order')">@(ViewBag.PageNumber + 2)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button class="PaginationButtons" onclick="NavigateMemberComListing(@(ViewBag.PageNumber + 1),'@ViewBag.order')">Next</button>
                        </div>
                    }
                    else if (ViewBag.PageNumber == ViewBag.PageCount)
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons" onclick="NavigateMemberComListing(@(ViewBag.PageNumber - 1),'@ViewBag.order')" id="pagination">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateMemberComListing(@(ViewBag.PageNumber - 2),'@ViewBag.order')" id="pagination">@(ViewBag.PageNumber - 2)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateMemberComListing(@(ViewBag.PageNumber - 1),'@ViewBag.order')" id="pagination">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton activeBtn" onclick="NavigateMemberComListing(@(ViewBag.PageNumber),'@ViewBag.order')" id="pagination">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button class="PaginationButtons" disabled onclick="NavigateMemberComListing()">Next</button>
                        </div>
                    }
                    else
                    {
                        <div class="paginationMiddleButtondv" id="pagination">
                            <button class="PaginationButtons" onclick="NavigateMemberComListing(@(ViewBag.PageNumber - 1),'@ViewBag.order')">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigateMemberComListing(@(ViewBag.PageNumber - 1),'@ViewBag.order')">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton activeBtn" onclick="NavigateMemberComListing(@(ViewBag.PageNumber),'@ViewBag.order')">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigateMemberComListing(@(ViewBag.PageNumber + 1),'@ViewBag.order')">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button class="PaginationButtons" onclick="NavigateMemberComListing(@(ViewBag.PageNumber + 1),'@ViewBag.order')">Next</button>
                        </div>

                    }
                }
            </div>
            <div class="area_zip_code_pagination_inner">
                @if (ViewBag.PageCount > 0)
                {
                    <div class="paginationtextdv">
                        <span>Showing item @ViewBag.CurrentNumber of @ViewBag.OutOfNumber</span>
                    </div>
                }
            </div>
        </div>
    }

</div>

