@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
@model List<HS.Entities.Customer>



<script>
    var pageno = '@ViewBag.PageNumber';
    var order = '@ViewBag.order';
    
    $(document).ready(function () {
        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            NavigateConversionReports(pageno, orderval);
        });
    });
</script>
<div class="opportunity_list_container">

        <div class="tech_report_table_container">
            <table id="PayrollReportTable" class="convertion_report_table">
                <thead>
                    <tr>
                        <th>
                            <div>@Localize.T("Customer Name")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/CustomerName"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/CustomerName"></i></div>
                        </th>

                        <th class="crt_phn">
                            <div>@Localize.T("Phone")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/PrimaryPhone"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/PrimaryPhone"></i></div>
                        </th>
                        <th>
                            <div>@Localize.T("Email")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/EmailAddress"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/EmailAddress"></i></div>
                        </th>
                        <th>
                            <div>@Localize.T("Address")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/Address"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/Address"></i></div>
                        </th>
                        
                        <th>
                            <div>@Localize.T("Created Date")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/CreatedDate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/CreatedDate"></i></div>
                        </th>
                        <th>
                            <div>@Localize.T("Convertion Date")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/ConvertionDate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/ConvertionDate"></i></div>
                        </th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="rpt_pr_sc_mb">@Localize.T("Customer Name") <span>:</span></div>
                                <div class="rpt_pr_sc_dtp">
                                    @if (!string.IsNullOrWhiteSpace(item.FirstName))
                                    {
                                        @*<span class="cus-anchor">@item.FirstName</span>*@

                                        <a title="Customer" class="cus-anchor" href="/Customer/Customerdetail/?id=@item.Id">@item.FirstName</a>

                                    }
                                    else
                                    {
                                        @*<span class="cus-anchor">@item.BusinessName</span>*@

                                        <a title="Customer" class="cus-anchor" href="/Customer/Customerdetail/?id=@item.Id">@item.BusinessName</a>

                                    }



                                </div>
                            </td>

                            <td>
                                <div class="rpt_pr_sc_mb">@Localize.T("Phone") <span>:</span></div>
                                @if (!string.IsNullOrWhiteSpace(item.PrimaryPhone))
                                {
                                    <div class="rpt_pr_sc_dtp"><span>@Html.Raw(HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(item.PrimaryPhone))</span></div>
                                }
                                else if (!string.IsNullOrWhiteSpace(item.SecondaryPhone))
                                {
                                    <div class="rpt_pr_sc_dtp"><span>@Html.Raw(HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(item.SecondaryPhone))</span></div>
                                }
                                else if (!string.IsNullOrWhiteSpace(item.CellNo))
                                {
                                    <div class="rpt_pr_sc_dtp"><span>@Html.Raw(HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(item.CellNo))</span></div>
                                }
                                else
                                {
                                    <div class="rpt_pr_sc_dtp"><span>-</span></div>
                                }

                            </td>
                            <td>
                                <div class="rpt_pr_sc_mb">@Localize.T("Email") <span>:</span></div>
                                <div class="rpt_pr_sc_dtp"><span>@Html.Raw(item.EmailAddress)</span></div>

                            </td>
                            <td>
                                <div class="rpt_pr_sc_mb">@Localize.T("Address") <span>:</span></div>
                                <div class="rpt_pr_sc_dtp"><span>@Html.Raw(item.Address)</span></div>
                            </td>

                            <td>
                                <div class="rpt_pr_sc_mb">@Localize.T("Created Date") <span>:</span></div>
                                @if (item.CreatedDate != null)
                                {
                                    <div class="rpt_pr_sc_dtp"><span>@item.CreatedDate.ToString("MM/dd/yyyy")</span></div>
                                }

                            </td>

                            <td>
                                <div class="rpt_pr_sc_mb">@Localize.T("Convertion Date") <span>:</span></div>
                                <div class="rpt_pr_sc_dtp">@item.ConvertionDate.ToString("MM/dd/yyyy")</div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="report_pagination_container">
            <div class="paginationContainer">
                @if (ViewBag.PageCount > 0)
                {
                    <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
                }
                @if (ViewBag.PageCount == 1)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons disabledBtn">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="NavigateConversionReports(@(ViewBag.PageNumber),'@(ViewBag.order)')">1</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons disabledBtn">Next</button>
                    </div>
                }
                else if (ViewBag.PageCount == 2)
                {

                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="NavigateConversionReports(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@(ViewBag.order)')">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton  @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="NavigateConversionReports(1, '@(ViewBag.order)')">1</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="NavigateConversionReports(2,'@(ViewBag.order)')">2</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="NavigateConversionReports(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""),'@(ViewBag.order)')">Next</button>
                    </div>
                }
                else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="NavigateConversionReports(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@(ViewBag.order)')">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="NavigateConversionReports(1,'@(ViewBag.order)')">1</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="NavigateConversionReports(2,'@(ViewBag.order)')">2</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="NavigateConversionReports(3,'@(ViewBag.order)')">3</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="NavigateConversionReports(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""),'@(ViewBag.order)')">Next</button>
                    </div>
                }
                else if (ViewBag.PageCount > 3)
                {
                    if (ViewBag.PageNumber == ViewBag.PageCount)
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons" onclick="NavigateConversionReports(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateConversionReports(@(ViewBag.PageNumber-2),'@(ViewBag.order)')">@(ViewBag.PageNumber - 2)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateConversionReports(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton activeBtn" onclick="NavigateConversionReports(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="paginationRightButtondv">
                            <button class="PaginationButtons disabledBtn" onclick="NavigateConversionReports()">Next</button>
                        </div>
                    }
                    else if (ViewBag.PageNumber == 1)
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons" onclick="NavigateConversionReports(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateConversionReports(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateConversionReports(@(ViewBag.PageNumber + 2),'@(ViewBag.order)')">@(ViewBag.PageNumber + 2)</button>
                        </div>
                        <div class="paginationRightButtondv">
                            <button class="PaginationButtons" onclick="NavigateConversionReports(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                        </div>
                    }
                    else if (ViewBag.PageNumber == 2)
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons" onclick="NavigateConversionReports(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateConversionReports(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateConversionReports(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="paginationRightButtondv">
                            <button class="PaginationButtons" onclick="NavigateConversionReports(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                        </div>
                    }
                    else
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons" onclick="NavigateConversionReports(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateConversionReports(@(ViewBag.PageNumber - 1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton activeBtn" onclick="NavigateConversionReports(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigateConversionReports(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="paginationRightButtondv">
                            <button class="PaginationButtons" onclick="NavigateConversionReports(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                        </div>
                    }
                }
            </div>
        </div>

</div>




