@model HS.Entities.TicketListModel
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

@*<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />*@
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Inventory/BadInventoryPartial.css" rel="stylesheet" />
@*<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>

    <link href="~/Content/Select2/select2.css" rel="stylesheet" />

    <script src="~/Content/Select2/Select2.min.js"></script>*@

<style>
    .convert_cus_report_left {
        float: left;
        width: auto;
    }

    .convert_cus_report_filte_innerr {
        width: 100%;
        float: left;
    }

    .convert_cus_report_left .input-group {
        width: 300px;
        float: left;
    }

    .convert_cus_report_left #convert_cus_filterbtn {
        float: left;
        margin-left: 10px;
    }

    .convert_cus_filter_list .convert_cus_filter_button button {
        margin: 5px;
        border-color: #2ca01c;
        background-color: #2ca01c;
        color: white;
    }

    .convert_cus_report_filter {
        width: 100%;
        float: left;
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 10px;
    }

        .convert_cus_report_filter .convert_cus_report_filte_innerr div {
            float: left;
            width: 20%;
            padding-left: 5px;
            padding-right: 5px;
        }

    .convert_cus_report_footer {
        width: 100%;
        float: left;
        background-color: #fff;
        padding: 5px;
        text-align: right;
    }

    @@media (max-width:768px) {
        .convert_cus_report_filter .convert_cus_report_filte_innerr div {
            width: 33.33%;
        }
    }

    @@media (max-width:414px) {
        .convert_cus_report_filter .convert_cus_report_filte_innerr div {
            width: 100%;
        }
    }
</style>
<script>
    var listSalesperson = '@Html.Raw(Json.Encode(@ViewBag.Salesperson))';
    listSalesperson = JSON.parse(listSalesperson);
    var selectedStatus = '@Html.Raw(Json.Encode(@ViewBag.TicketStatusSelected))';
    selectedStatus = JSON.parse(selectedStatus);
    var selectedOwnership = '@Html.Raw(Json.Encode(@ViewBag.OwnershipSelected))';
    selectedOwnership = JSON.parse(selectedOwnership);
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var pagesize = 20;
     var pageno = '@ViewBag.PageNumber';
    var InstallationListLoad = function (pageNo, order) {

        console.log(order);
        if (typeof (pageNo) != "undefined") {
            var DateFrom = $(".min-date").val();
            var DateTo = $(".max-date").val();
            var SearchText = encodeURI($(".installation_search_text").val());
            var salesperson = encodeURI($("#sales_personinstallationtracker").val());
            var ticketstatusval = encodeURI($("#ticket_status").val());
            var ownershiptatusval = encodeURI($("#ownership").val());
            console.log(DateFrom);
            console.log(pageNo);
            $(".app_date_table").html(TabsLoaderText);
            //$(".app_date_table").load(domainurl + "/Reports/InstallationTrackerReportList", { PageNo: pageNo, PageSize: pagesize, SearchText: SearchText, order: order, StartDate: DateFrom, EndDate: DateTo, salesperson: salesperson });
            $(".app_date_table").load(domainurl + "/Reports/InstallationTrackerReportList/?StartDate=" + DateFrom + "&EndDate=" + DateTo + "&SearchText=" + SearchText + "&TicketStatus=" + ticketstatusval +"&OwnerShip=" + ownershiptatusval + "&salesperson=" + salesperson + "&PageNo=" + pageNo + "&pagesize=20" + "&order="+order );

        }
    }

    var ResetFilter = function () {
       // $(".convert_cus_inp").val("");
        $("#sales_personinstallationtracker").selectpicker("val", "");
        $("#ticket_status").selectpicker("val", "");
        $("#ownership").selectpicker("val", "");
        $(".installation_search_text").val("");
        InstallationListLoad(1);
    }
    $(document).ready(function () {
        InstallationListLoad(1);
            if (listSalesperson.length != 0) {
                $("#sales_personinstallationtracker").selectpicker('val', listSalesperson);
            }
            else {
                $("#sales_personinstallationtracker").selectpicker('val', '');
        }
        if (selectedStatus.length != 0) {
                $("#ticket_status").selectpicker('val', selectedStatus);
            }
            else {
                $("#ticket_status").selectpicker('val', '');
        }
        if (selectedOwnership.length != 0) {
                $("#ownership").selectpicker('val', selectedOwnership);
            }
            else {
                $("#ownership").selectpicker('val', '');
        }
             $(".installationtrackerapplyfilterbutton").click(function () {
            var DateFrom = $(".min-date").val();
            var DateTo = $(".max-date").val();

                 var salesperson = encodeURI($("#sales_personinstallationtracker").val());
                 var ticketstatusval = encodeURI($("#ticket_status").val());
                 var ownershipval = encodeURI($("#ownership").val());
                 $(".app_date_table").html(TabsLoaderText);
                 $(".app_date_table").load(domainurl + "/Reports/InstallationTrackerReportList/?StartDate=" + DateFrom + "&EndDate=" + DateTo + "&SearchText=" + $(".installation_search_text").val() + "&salesperson=" + salesperson + "&TicketStatus=" + ticketstatusval + "&OwnerShip=" + ownershipval + "&pageno=" + pageno + "&pagesize=20");
                 console.log("filterapply");
          });
        //console.log(tickettype);
        $('[data-toggle="tooltip"]').tooltip();

        $(".search_installation_btn").click(function(){
            InstallationListLoad(1);
        });

        $(".DateFilterContents .btn-apply-Datefilter").click(function () {
            if (top.location.hash != "" && top.location.hash == "#InstallationTrackerReportTab") {
                UpdatePtoCookie();
                InstallationListLoad(1);
                var StartDate = my_date_format($(".DateFilterContents .min-date").val());
        var EndDate = my_date_format($(".DateFilterContents .max-date").val())
        if (StartDate == "NaN undefined, NaN") {
            StartDate = "All Time";
            EndDate = "";
        }

        $(".DateFilterContents .date-start").html("");
        $(".DateFilterContents .date-end").html("");
        $(".DateFilterContents .date-start").html(StartDate);
        $(".DateFilterContents .date-end").html(EndDate);
        $(".DateFilterContents .dropdown-filter").hide();
            }

    });
        $('.installation_search_text').keypress(function (e) {
            var key = e.which;
            if (key == 13)
            {
                InstallationListLoad(1);
            }
        });
   



        $("#btnDownloadinstallationReport").click(function () {
            //var id = $("#ticket_id").val();
            //var cusid = $("#customer_id").val();
            //var user = $("#sales_person").val();
            //var convertmindate = $("#completion_min_date").val();
            //var convertmaxdate = $("#completion_max_date").val();
            //var createmindate = $("#sold_min_date").val();
            //var createmaxdate = $("#sold_max_date").val();
            //var transfermindate = $("#install_min_date").val();
            //var transfermaxdate = $("#install_max_date").val();
            var DateFrom = $(".min-date").val();
            var DateTo = $(".max-date").val();
            location.href = domainurl + "/Reports/InstallationTrackerReportPartial/?GetReport=true" + "&Start=" + DateFrom + "&End=" + DateTo +"&SearchText=" + $(".installation_search_text").val() + "&salesperson=" + $("#sales_personinstallationtracker").val() + "&TicketStatus=" + $("#ticket_status").val() + "&OwnerShip=" + $("#ownership").val();
        });

        new Pikaday({ format: 'MM/DD/YYYY', field: $('#completion_min_date')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#completion_max_date')[0] });

        new Pikaday({ format: 'MM/DD/YYYY', field: $('#sold_min_date')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#sold_max_date')[0] });

        new Pikaday({ format: 'MM/DD/YYYY', field: $('#install_min_date')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#install_max_date')[0] });

        $(".bi_single_filte_info_container").hide();
        $(".btn-filter").click(function () {

            if ($(".bi_single_filte_info_container").is(":visible")) {
                $(".bi_single_filte_info_container").hide();

            } else {
                $(".bi_single_filte_info_container").show();

            }
        });
        $(document).click(function (e) {
            if ($($(e.target).parent().parent()).hasClass('convert_cus_div')
                        || $($(e.target).parent()).hasClass('convert_cus_div')
                        || $($(e.target).parent().parent()).hasClass('convert_cus_div')) {
                return;
            }
            else if ($(".convert_cus_report_filter").is(":visible")) {
                $(".convert_cus_report_filter").hide();
            }
        });
    });
</script>

<div class="page-content-wrap cus-padding-top10p invoicelist">
    <div class="FilterFunding clearfix">
        <div class="app_date_search_filter ld_ticket_report_top_bar">
            <div class="input-group add-on convert_cus_div" style="margin-right:10px;">
                <input value="@Model.Searchtext" class="form-control filterinput border_radius_0 installation_search_text" id="searchtext" placeholder="Search By Customer, Install Status ">
                <div class="input-group-btn"><button class="btn search_installation_btn green_button" id="btnsearchtext" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button></div>
            </div>
            <div class="bi_single_filter_div_style filter_fill">
                <button class="btn btn-filter green_button" title="Filter">
                    <i class="glyphicon glyphicon-filter"></i>
                </button>
            </div>
            @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.InstalationTrackerReportDownLoadButton))
            {
                <button title="@Localize.T("Download")" class="report_btn lrp_float_right" id="btnDownloadinstallationReport"><i class="fa fa-download" aria-hidden="true"></i></button>
            }

            @*<button class="btn convert_cus_div page_filter_btn" id="convert_cus_filterbtn"><span title="Filter" class="glyphicon glyphicon-filter"></span></button>*@
        </div>
        <div class="bi_single_filte_info_container" style="padding-top:10px;">

            <div class="bi_single_filter_info_inner_content">

                @Html.DropDownList("sales_personinstallationtracker", ViewBag.SalespersonList as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @title = "Sales Person" })
            </div>
            <div class="bi_single_filter_info_inner_content">

                @Html.DropDownList("ticket_status", ViewBag.TicketStatus as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @title = "Status" })
            </div>
            <div class="bi_single_filter_info_inner_content">

                @Html.DropDownList("ownership", ViewBag.OwnerShip as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @title = "Ownership" })
            </div>

            <div class="bi_single_filter_info_footer">
                <button class="btn search_BI_btn green_button installationtrackerapplyfilterbutton" title="@Localize.T("Apply Filter")"><i class="fa fa-check" aria-hidden="true"></i>@Localize.T(" Apply")</button>
                <button class="btn red_button" id="reset_btn_filter" onclick="ResetFilter()">@Localize.T("Reset")</button>

            </div>
        </div>
    </div>

    <div class="app_date_table">

    </div>
</div>



