@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

@model List<HS.Entities.Customer>
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />


<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Select2/select2.css" rel="stylesheet" />

<script src="~/Content/Select2/Select2.min.js"></script>
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var DataTablePageSize = 50;
    var LeadsStartDatepicker;
    var LeadsEndDatepicker;
    var statuscustomer = '@Html.Raw(Json.Encode(@ViewBag.statuscustomer))';
    statuscustomer = JSON.parse(statuscustomer);
    var marketval = '@Html.Raw(Json.Encode(@ViewBag.valmarket))';
    marketval = JSON.parse(marketval);

    var servicetypeval = '@Html.Raw(Json.Encode(@ViewBag.SelectedServiceType))';
    servicetypeval = JSON.parse(servicetypeval);

    var acctypeval = '@Html.Raw(Json.Encode(@ViewBag.SelectedAccType))';
    acctypeval = JSON.parse(acctypeval);

    var my_date_format = function (input) {
        console.log(input + " r");
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    var LeadServiceEquipment = function (idval) {
        //var idval = $(this).attr('data-id');
        var mapLoadurl = domainurl + "/Reports/GetLeadsServiceAndEquipmentCustomer?customerid=" + idval;
        OpenTopToBottomModal(mapLoadurl);
    }
    var CustomerSearchKeyUp = function (pageno) {
        var status = $("#CustomerStatus").val();
        var market = encodeURI($("#market_list").val());
        var acctype = encodeURI($("#acc_type_list").val());
        var servicetype = encodeURI($("#service_type_list").val());

        $("#CustomerReportTab").html(TabsLoaderText);
        console.log("test");
            $("#CustomerReportTab").load(domainurl + "/Reports/LoadAccountsReportPartial/?pageno=" + pageno + "&pagesize=" + DataTablePageSize + "&Status=" + status + "&market=" + market+ "&acctype=" + acctype+ "&servicetype=" + servicetype);

    }
    $(document).ready(function () {
        $('.selectpicker').selectpicker('val', statuscustomer);
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".LoaderWorkingDiv").hide();
        $("#LeadReportTab .invoice-loader").hide();
        $('.selectpicker_market').selectpicker('val', marketval);
        $('.selectpicker_acc_type').selectpicker('val', acctypeval);
        $('.selectpicker_service_type').selectpicker('val', servicetypeval);
        console.log(servicetypeval);
        console.log(acctypeval);
        //var table = $('#LeadsReportTable').DataTable({
        //    "pageLength": DataTablePageSize,
        //    "destroy": true,
        //    "language": {
        //        "emptyTable": "No data available"
        //    }
        //});
        if (StartDate != "" && EndDate != "") {
            StartDate = my_date_format(StartDate);
            EndDate = my_date_format(EndDate);
            console.log(StartDate + " " + EndDate);
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
        }
        else {
            $(".DateFilterContents .date-start").html("All Time");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .dropdown-filter").hide();
        }
        $("#btnDownloadLeadsReport").click(function () {
            console.log("test");
            var status = $("#CustomerStatus").val();
            var market = encodeURI($("#market_list").val());
            var acctype = encodeURI($("#acc_type_list").val());
            var servicetype = encodeURI($("#service_type_list").val());
            if (StartDate.trim().length == 10 && EndDate.trim().length == 10) {
                StartDate = StartDate.replaceAll('/', '_');
                EndDate = EndDate.replaceAll('/', '_');
                    location.href = domainurl + "/Reports/LoadAccountsReportPartial/?Start=" + StartDate + "&End=" + EndDate + "&GetReport=true" + "&pageno=1&pagesize=50" + "&Status=" + status + "&market=" + market+ "&acctype=" + acctype+ "&servicetype=" + servicetype;

            } else {
                    location.href = domainurl + "/Reports/LoadAccountsReportPartial/?GetReport=true" + "&pageno=1&pagesize=50" + "&Status=" + status + "&market=" + market+ "&acctype=" + acctype+ "&servicetype=" + servicetype;

            }
        });

        $(".DateFilterContents .btn-apply-Datefilter").unbind().click(function () {
            var StartDateVal = $(".min-date").val();
            var EndDateVal = $(".max-date").val();
            UpdatePtoCookie();
            CustomerSearchKeyUp(1);
        });

        $(".SearchStatus").click(function () {
            //console.log("test");
            //var StartDateVal = $(".min-date").val();
            //var pageno = 1;
            //var EndDateVal = $(".max-date").val();
            //var status = $("#CustomerStatus").val();
            //var market = encodeURI($("#market_list").val());
            //$("#CustomerReportTab").html(TabsLoaderText);
            //    $("#CustomerReportTab").load(domainurl + "/Reports/LoadAccountsReportPartial/?Start=" + StartDateVal + "&End=" + EndDateVal + "&pageno=" + pageno + "&pagesize=" + DataTablePageSize + "&Status=" + status + "&market=" + market);
            CustomerSearchKeyUp(1);
        })
    });
</script>
<style>
    .lhbr_top_bar {
        width: 100%;
        float: left;
        padding: 10px 0px;
    }



    #CustomerStatus {
        width: 140px;
        float: left;
    }

    #market_list {
        width: 122px;
        float: left;
    }
</style>

<div class="row lrp_bottom_border">
    <div class="lead_total_color"> @Localize.T("Total Customer:") @string.Format("{0:#,##0}", ViewBag.TotalLeads)</div>
</div>

<div class="lhbr_top_bar">
    <div class="larp_searchbar">
        @Html.DropDownList("CustomerStatus", ViewBag.CustomerStatus as List<SelectListItem>, new { @class = "form-control selectpicker customer_report_srch", @multiple = "multiple", id = "CustomerStatus" })

        <div class="service_type_list_div">
            @Html.DropDownList("market_list", ViewBag.marketval as List<SelectListItem>, new { @class = "form-control selectpicker_market", @multiple = "multiple", id = "market_list", title = "Select Market" })
        </div>        <div class="acc_type_list_div"> @Html.DropDownList("acc_type_list", ViewBag.AccountType as List<SelectListItem>, new { @class = "form-control selectpicker_acc_type", @multiple = "multiple", id = "acc_type_list", title = "Select Account Type" })</div>
        <div class="input-group add-on">
            @Html.DropDownList("service_type_list", ViewBag.ServiceType as List<SelectListItem>, new { @class = "form-control selectpicker_service_type", @multiple = "multiple", id = "service_type_list", title = "Select Service Type" })
            <div class="input-group-btn">
                <button class="btn btn-default custom-btn SearchStatus green_button" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search" title="@Localize.T("Search")" data-placement="bottom"></i></button>
            </div>
        </div>
    </div>
    <button title="@Localize.T(" Download")" class="report_btn lrp_float_right" id="btnDownloadLeadsReport"><i class="fa fa-download" aria-hidden="true"></i></button>
</div>

<div class="leads_report_table">
    <table id="" class="loadHudsonleadsReportTable">
        <thead>
            <tr>
                <th class="accRepDBA">@Localize.T("Doing Business As (DBA)")</th>
                <th>@Localize.T("Street")  </th>
                <th class="accRepCity">@Localize.T("City")</th>
                <th class="accRepSmall">@Localize.T("State")</th>
                <th class="accRepSmall">@Localize.T("Zip")</th>
                <th>@Localize.T("Market")</th>
                <th class="accRepSmall">@Localize.T("Revenue")</th>
                <th>@Localize.T("Account Type")</th>
                <th>@Localize.T("Account Owner")</th>
                <th>@Localize.T("Type")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{
                            if (!string.IsNullOrWhiteSpace(item.DBA))
                            {
                                <div>@Localize.T("Doing Business As (DBA)") <span>:</span></div>
                                <div><a href="/Customer/Customerdetail/?id=@item.Id" class="lead_click_item" target="_blank">@item.DBA</a></div>
                            }
                            else if (!string.IsNullOrWhiteSpace(item.BusinessName))
                            {
                                <div>@Localize.T("Doing Business As (DBA)") <span>:</span></div>
                                <div><a href="/Customer/Customerdetail/?id=@item.Id" class="lead_click_item" target="_blank">@item.BusinessName</a></div>
                            }
                            else
                            {
                                <div>@Localize.T("Doing Business As (DBA)") <span>:</span></div>
                                <div><a href="/Customer/Customerdetail/?id=@item.Id" class="lead_click_item" target="_blank">@item.FirstName @item.LastName</a></div>
                            }
                        }
                    </td>
                    <td>
                        <div>@Localize.T("Street") <span>:</span></div>
                        <div> @item.Street</div>
                    </td>
                    <td>
                        <div>@Localize.T("City") <span>:</span></div>
                        <div>@item.City</div>
                    </td>
                    <td>
                        <div>@Localize.T("State") <span>:</span></div>
                        <div>@item.State</div>
                    </td>
                    <td>
                        <div>@Localize.T("Zip") <span>:</span></div>
                        <div>@item.ZipCode</div>
                    </td>
                    <td>
                        <div>@Localize.T("Market") <span>:</span></div>
                        <div>
                            @item.MarketVal
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Revenue") <span>:</span></div>
                        <div>
                            @{
                                if (item.AnnualRevenue > 0)
                                {
                                    <span>$@string.Format("{0:#,##0.00}", item.AnnualRevenue)</span>
                                }
                                else
                                {
                                    <span>$0.00</span>
                                }
                            }
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Account Type") <span>:</span></div>
                        <div>
                            @item.AccountType
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Account Owner") <span>:</span></div>
                        <div>
                            @item.PersonSales
                        </div>
                      
                    </td>
                    <td>

                        <div>@Localize.T("Type") <span>:</span></div>
                        <div>
                            @item.CustomerType
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="AgentListPagination">
        <div class="paginationContainer">
            @if (ViewBag.PageCount > 0)
            {
                <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
            }
            @if (ViewBag.PageCount == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons disabledBtn">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber))">1</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CustomerSearchKeyUp(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CustomerSearchKeyUp(2)">2</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CustomerSearchKeyUp(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CustomerSearchKeyUp(2)">2</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="CustomerSearchKeyUp(3)">3</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount > 3)
            {
                if (ViewBag.PageNumber == ViewBag.PageCount)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons disabledBtn" onclick="CustomerSearchKeyUp()">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 1)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 2)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
            }
        </div>
    </div>
</div>

