
@model HS.Entities.ThirdPartyCustomer
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>

<link href="~/Content/Select2/select2.css" rel="stylesheet" />

<script src="~/Content/Select2/Select2.min.js"></script>
<script>
     var my_date_format = function (input) {
        console.log(input+" r");
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    $(document).ready(function () {
                     var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
          if (StartDate != "" && EndDate != "")
        {
            StartDate = my_date_format(StartDate);
            EndDate = my_date_format(EndDate);
            console.log(StartDate + " " + EndDate);
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
        }
        else {
            $(".DateFilterContents .date-start").html("All Time");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .dropdown-filter").hide();
        }
        $("#btnDownloadUccReport").click(function () {
               var DateFrom = $(".min-date").val();
                var DateTo = $(".max-date").val();
            window.location.href = domainurl + "/Reports/LoadUccReportPartial/?GetReport=" + true+"&Start="+DateFrom+"&End="+DateTo;
            var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
            $(".Load_Ucc_Report").html(TabsLoaderText);
        $(".Load_Ucc_Report").load(domainurl + "/Reports/LoadUccReportPartial?Start="+DateFrom+"&End="+DateTo);
        });

    });
</script>



<div class="load_sales_report_partial_container">
 
    <div class="load_sales_report_partial_top_bar">

        @*<div class="load_sales_report_partial_top_bar_inner">*@
        @*@Html.DropDownList("sales_inv_status", ViewBag.statusinv as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @title = "Status" })*@
        @*<div class="input-group add-on">
                    <input type="text" class="form-control" id="sales_txt_search" placeholder="Search" value="@ViewBag.searchtext" />
                    <div class="input-group-btn"> <button class="btn" id="btn_sales" onclick="FilterSalesReport1(1)"><i class="glyphicon glyphicon-search"></i></button></div>
                </div>
            </div>*@

        @*<button title="@Localize.T("Send")" class="report_btn lrp_float_right" id="btnDownloadBrinkReport"><i class="fa fa-download" aria-hidden="true"></i></button>*@
        @*<button title="@Localize.T("Send")" class="report_btn lrp_float_right" id="btnDownloadUccReport">@Localize.T("Send")</button>*@

    </div>

    <div class="invoice-table">
        <table class="loadticketreportlist_table load_sales_report_partial_table">
            <thead class="table-head-border">
                <tr>
                    <th class="thead-th-style"> <div>@Localize.T("Site Name")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/econtact"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/econtact"></i></div></th>
                    <th class="thead-th-style">
                        <div>@Localize.T("CS Number")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/cs"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/cs"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Online Date")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/lastname"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/lastname"></i></div>
                    </th>
            

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ThirdPartyCustomerList)
                {
                    <tr class="tr-style">
                        <td class="table-body-td-style" valign="top">
                            @*<div class="ticket_list_partial_device_header">@Localize.T("eContact")</div>*@
                            @*<div class="ticket_list_partial_device_info"> <a style="cursor:pointer;color:#2ca01c;" href="/Customer/CustomerDetail/?id=@item.Id" target="_blank">@item.DisplayName</a></div>*@
                            <div class="ticket_list_partial_device_info">
                                <span><a class="cus-anchor" target="_blank" href="/Customer/Customerdetail/?id=@item.CustomerInt">@item.SiteName</a></span>
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                       
                            <div class="ticket_list_partial_device_info">
                                <span>@item.CustomerNumber</span>
                            </div>
                        </td>
          
                    
                        <td class="table-body-td-style" valign="top">
                        
                            <div class="ticket_list_partial_device_info">
                                @if (item.AccountOnlineDate != null && item.AccountOnlineDate != new DateTime())
                                {
                                    <span>@HS.Framework.DateTimeExtension.UTCToClientTime(item.AccountOnlineDate).ToString("MM/dd/yy")</span>

                                }
                                else
                                {
                                    <span>-</span>

                                }
                            </div>
                        </td>
                     </tr>  
                }
            </tbody>
        </table>
    </div>
</div>


