@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using HS.Framework
<style>

</style>
<script>
    var DataTablePageSize = 50;
    var LeadsStartDatepicker;
    var LeadsEndDatepicker;

    var my_date_format = function (input) {
        console.log(input+" r");
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };

    var MoveCustomerLoad = function (pageno,order)
    {
        var id = $("#move_cus_id").val();
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        var searchtext = $("#move_cus_search_text").val();
        var movemaxdate = $("#move_cus_maxdate").val();
        var movemindate = $("#move_cus_mindate").val();
        $(".move_customer_report_table").html(TabsLoaderText);
        $(".move_customer_report_table").load(domainurl + "/Reports/MoveCustomerReportList/?PageNo=" + pageno + "&PageSize=20" + "&Id=" + encodeURI(id) + "&SearchText=" + encodeURI(searchtext) + "&MoveMaxDate=" + encodeURI(movemaxdate) + "&MoveMinDate=" + encodeURI(movemindate) + "&order=" + order + "&Start=" + StartDate + "&End=" + EndDate);
    }
    var ResetFilterMoveList = function () {
        //$(".convert_cus_inp").val("");
        $("#move_cus_id").val("");
        $("#move_cus_mindate").val("");
        $("#move_cus_maxdate").val("");

        MoveCustomerLoad(1);
    }
    $(document).ready(function () {
        MoveCustomerLoad(1);
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        if (StartDate != "" && EndDate != "")
        {
            StartDate = my_date_format(StartDate);
            EndDate = my_date_format(EndDate);
            console.log(StartDate + " " + EndDate);
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
        }
        else {
            $(".DateFilterContents .date-start").html("All Time");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .dropdown-filter").hide();
        }
        $("#btnDownloadMoveCustomer").click(function () {
            console.log("download");
            var id = $("#move_cus_id").val();
            var StartDate = $(".min-date").val();
            var EndDate = $(".max-date").val();
            var searchtext = $("#move_cus_search_text").val();
            var movemaxdate = $("#move_cus_maxdate").val();
            var movemindate = $("#move_cus_mindate").val();
            location.href = domainurl + "/Reports/DownloadAllMoveCustomerRecord/?&Id=" + encodeURI(id) + "&SearchText=" + encodeURI(searchtext) + "&MoveMaxDate=" + encodeURI(movemaxdate) + "&MoveMinDate=" + encodeURI(movemindate) + "&Start=" + StartDate + "&End=" + EndDate
        });
        $(".DateFilterContents .btn-apply-Datefilter").unbind().click(function () {
            var id = $("#move_cus_id").val();
            var searchtext = $("#move_cus_search_text").val();
            var movemaxdate = $("#move_cus_maxdate").val();
            var movemindate = $("#move_cus_mindate").val();
            var StartDateVal = $(".min-date").val();
            var EndDateVal = $(".max-date").val();
            MoveCustomerLoad(1, null);
            var StartDate = my_date_format($(".DateFilterContents .min-date").val());
            var EndDate = my_date_format($(".DateFilterContents .max-date").val())
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
            //UpdatePtoCookie();
            //$(".move_customer_report_table").html(TabsLoaderText);
            //$(".move_customer_report_table").load(domainurl + "/Reports/MoveCustomerReportList/?Start=" + StartDateVal + "&End=" + EndDateVal);
        });

        new Pikaday({ format: 'MM/DD/YYYY', field: $('#move_cus_mindate')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#move_cus_maxdate')[0] });
        $(".move_cus_report_filter").hide();
        $("#move_cus_filterbtn").click(function () {
            console.log("filter");
            if ($(".move_cus_report_filter").is(":visible")) {
                $(".move_cus_report_filter").hide();

            } else {
                $(".move_cus_report_filter").show();

            }
        });
        //$(document).click(function (e) {
        //    if ($($(e.target).parent().parent()).hasClass('move_cus_div')
        //                || $($(e.target).parent()).hasClass('move_cus_div')
        //                || $($(e.target).parent().parent()).hasClass('move_cus_div')) {
        //        return;
        //    }
        //    else if ($(".move_cus_report_filter").is(":visible")) {
        //        $(".move_cus_report_filter").hide();
        //    }
        //});
         $("#move_cus_search_text").keydown(function (e) {

                if (e.which == 13) {
                    MoveCustomerLoad(1);
                }
            });
    });
</script>
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />

<div class="row lrp_bottom_border">
    <div class="lead_total_color"></div>
</div>


<div class="row leads_report_top_bar">
    <div class="move_cus_report_left move_cus_div">
        <div class="input-group add-on">
            <input class="form-control move_cus_inp" placeholder="Search Text" id="move_cus_search_text" />
            <div class="input-group-btn"><button class="btn green_button" id="apply_btn" onclick="MoveCustomerLoad(1)"><i class="fa fa-search"></i></button></div>
        </div>
        <button class="btn move_cus_div green_button" id="move_cus_filterbtn">
            <span title="Filter" class="glyphicon glyphicon-filter"></span>
        </button>
    </div>
        <button title="@Localize.T("Download")" class="report_btn lrp_float_right" id="btnDownloadMoveCustomer"><i class="fa fa-download"></i></button>

        <div class="move_cus_report_filter single_filte_info_container">
            <div class="move_cus_report_filte_innerr move_cus_div single_filter_info_inner">
                <div class="form-group clearfix">
                    <label>@Localize.T("ID")</label>
                    <input class="form-control move_cus_inp" placeholder="ID" id="move_cus_id" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Move Min Date")</label>
                    <input class="form-control move_cus_inp" placeholder="Move Min Date" id="move_cus_mindate" />
                </div>
                <div class="form-group clearfix">
                    <label>@Localize.T("Move Max Date")</label>
                    <input class="form-control move_cus_inp" placeholder="Move Max Date" id="move_cus_maxdate" />
                </div>
            </div>
            <div class="move_cus_report_footer move_cus_div single_filter_info_footer">
                <button class="btn green_button" id="apply_btn_filter" onclick="MoveCustomerLoad(1)">@Localize.T("Apply")</button>
                <button class="btn red_button" id="reset_btn_filter" onclick="ResetFilterMoveList()">@Localize.T("Reset")</button>
            </div>
        </div>
</div>

<div class="move_customer_report_table">

</div>




