@model HS.Entities.NewSalesCustomerModel
@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using LabelHelper = HS.Web.UI.Helper.LabelHelper

<script>
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";
    var pageno = '@ViewBag.PageNumber';

</script>

@Styles.Render("~/styles/NewSalesReportPartialList")
@Scripts.Render("~/scripts/NewSalesReportPartialList")

<div class="Sales_summ_report_table">
    <table class="loadticketreportlist_table recur_bill_report_table new_salesReport_partial">
        <thead class="table-head-border">
            <tr>
                <th class="thead-th-style">
                    <div>@Localize.T("Customers")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Activation & Non Confirming Fee")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("RMR")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Equipment")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Service Fee")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Advance Monitoting")</div>
                </th>
                @*<th class="thead-th-style">
                    <div>@Localize.T("Without Tax")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Tax")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Financed Amount")</div>
                </th>*@
                <th class="thead-th-style">
                    <div>@Localize.T("Total")</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-style">
                <td class="table-body-td-style" valign="top">
                    <span> @string.Format("{0:#,##0}", Model.CustomerCount)</span>
                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency@string.Format("{0:#,##0.00}", Model.SumActNonFee)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency@string.Format("{0:#,##0.00}", Model.SumRMRTotal)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency@string.Format("{0:#,##0.00}", Model.SumEquipmentTotal)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency@string.Format("{0:#,##0.00}", Model.SumServiceFeeTotal)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency @string.Format("{0:#,##0.00}", Model.SumAdvanceMonitoringTotal)</span>

                </td>
                @*<td class="table-body-td-style" valign="top">
                    <span>@Currency@string.Format("{0:#,##0.00}", Model.SumTotalwoTax)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency@string.Format("{0:#,##0.00}", Model.SumTotalTax)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency@string.Format("{0:#,##0.00}", Model.SumFinancedAmount)</span>

                </td>*@
                <td class="table-body-td-style" valign="top">
                    <span>@Currency@string.Format("{0:#,##0.00}", Model.SumTotalSales)</span>

                </td>

            </tr>
        </tbody>

    </table>
    @*<div class="row lrp_bottom_border">
            <div class="lead_total_color"> @Localize.T("Total: ") @string.Format("{0:#,##0}", ViewBag.OutOfNumber)</div>
        </div>*@

    <div class="new_sales_report_table_div">
        <table class="loadticketreportlist_table recur_bill_report_table new_sales_report_table table table-striped">
            <thead class="table-head-border">
                <tr>
                    <th class="thead-th-style new_header_customer"> <div>@Localize.T("Customer")</div></th>
                    <th class="thead-th-style new_header_sales"> <div>@Localize.T("Sales Person")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Activation & Non Confirm. Fee")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("RMR")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Equipt.")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Service Fee")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Advanced Monitoring")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Tax")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Financed Amount")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Total")</div></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.NewSalesCustomer)
                {
                    <tr class="tr-style">
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Customer")</div>
                            <div class="ticket_list_partial_device_info">
                                <a class="cus-anchor" href="/Customer/CustomerDetail/?id=@item.Id" target="_blank">@item.DisplayName</a>
                                @if (!String.IsNullOrEmpty(item.CustomerNo))
                                {
                                    <div>
                                        <span title="Customer No"><a class="cus-anchor" href="/Customer/CustomerDetail/?id=@item.Id" target="_blank">@item.CustomerNo</a> </span>
                                    </div>
                                }
                                @if (item.SalesDate != null && item.SalesDate != new DateTime())
                                {
                                    <div>
                                        <span title="Sales Date">@item.SalesDate.ToString("M/d/yy")</span>
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(item.Type) && item.Type != "-1")
                                {
                                    <div>
                                        <span title="Type">@item.Type</span>
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(item.LeadSource) && item.LeadSource != "-1")
                                {
                                    <div>
                                        <span title="Lead Source">Lead Source: @item.LeadSource</span>
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(item.LeadStatus) && item.LeadStatus != "-1")
                                {
                                    <div>
                                        <span title="Lead Status">@item.LeadStatus</span>
                                    </div>
                                }
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("SalesPerson")</div>
                            <div class="ticket_list_partial_device_info">
                                @if (!String.IsNullOrEmpty(item.SalesPerson))
                                {
                                    <div>@item.SalesPerson</div>
                                }
                                @if (!String.IsNullOrEmpty(item.SalesLocation) && item.SalesLocation != "-1")
                                {
                                    <div>
                                        <span>@item.SalesLocation</span>
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(item.TicketType))
                                {
                                    <div>
                                        <span>@item.TicketType</span>
                                    </div>
                                }
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Activation Fee & Non Conforming Fee")</div>
                            <div class="ticket_list_partial_device_info">
                                @Currency@LabelHelper.FormatAmount(item.ActNonFee)
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("RMR")</div>
                            <div class="ticket_list_partial_device_info">
                                @Currency@LabelHelper.FormatAmount(item.RMR)
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Equipment")</div>
                            <div class="ticket_list_partial_device_info">
                                @Currency@LabelHelper.FormatAmount(item.EquipmentFee)
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Service Fee")</div>
                            <div class="ticket_list_partial_device_info">
                                @Currency@LabelHelper.FormatAmount(item.ServiceFee)
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Advanced Monitoring")</div>
                            <div class="ticket_list_partial_device_info">
                                @Currency@LabelHelper.FormatAmount(item.AdvancedMonitoring)
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Tax")</div>
                            <div class="ticket_list_partial_device_info">
                                @Currency@LabelHelper.FormatAmount(item.TotalTax)
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Financed Amount")</div>
                            <div class="ticket_list_partial_device_info">
                                @Currency@LabelHelper.FormatAmount(item.FinancedAmount)
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Sales After Tax")</div>
                            <div class="ticket_list_partial_device_info">
                                @Currency@LabelHelper.FormatAmount(item.TotalSales)
                            </div>
                        </td>
                    </tr>
                }
                <tr class="table_total_bg">
                    <td colspan="2">
                        <b class="float_right">@Localize.T("Total:")</b>
                    </td>
                    <td>
                        <div class="ticket_list_partial_device_header">@Localize.T("Total Addition Fee")</div>
                        <div class="ticket_list_partial_device_info">
                            <b title="@Localize.T("Total Addition Fee")">@Currency@LabelHelper.FormatAmount(Model.TotalActNonFee)</b>
                        </div>
                    </td>
                    <td>
                        <div class="ticket_list_partial_device_header">@Localize.T("Total First Month")</div>
                        <div class="ticket_list_partial_device_info">
                            <b title="@Localize.T("Total First Month")">@Currency@LabelHelper.FormatAmount(Model.TotalRMR)</b>
                        </div>
                    </td>
                    <td>
                        <div class="ticket_list_partial_device_header">@Localize.T("Total Equipment Fee")</div>
                        <div class="ticket_list_partial_device_info">
                            <b title="@Localize.T("Total Equipment Fee")">@Currency@LabelHelper.FormatAmount(Model.TotalEquipmentFee)</b>
                        </div>
                    </td>
                    <td>
                        <div class="ticket_list_partial_device_header">@Localize.T("Total Service Fee")</div>
                        <div class="ticket_list_partial_device_info">
                            <b title="@Localize.T("Total Service Fee")">@Currency@LabelHelper.FormatAmount(Model.TotalServiceFee)</b>
                        </div>
                    </td>
                    <td>
                        <div class="ticket_list_partial_device_header">@Localize.T("Total Advanced Monitoring")</div>
                        <div class="ticket_list_partial_device_info">
                            <b title="@Localize.T("Total Advanced Monitoring")">@Currency@LabelHelper.FormatAmount(Model.TotalAdvancedMonitoring)</b>
                        </div>
                    </td>
                    <td>
                        <div class="ticket_list_partial_device_header">@Localize.T("Total Tax")</div>
                        <div class="ticket_list_partial_device_info">
                            <b title="@Localize.T("Total Tax")">@Currency@LabelHelper.FormatAmount(Model.TotalTotalTax)</b>
                        </div>
                    </td>
                    <td>
                        <div class="ticket_list_partial_device_header">@Localize.T("Total Financed Amount")</div>
                        <div class="ticket_list_partial_device_info">
                            <b title="@Localize.T("Total Financed Amount")">@Currency@LabelHelper.FormatAmount(Model.FinancedAmount)</b>
                        </div>
                    </td>
                    <td>
                        <div class="ticket_list_partial_device_header">@Localize.T("Total Sales")</div>
                        <div class="ticket_list_partial_device_info">
                            <b title="@Localize.T("Total Sales")">@Currency@LabelHelper.FormatAmount(Model.TotalSales)</b>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

</div>
<div class="AgentListPagination">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="FilterNewSales(@(ViewBag.PageNumber))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FilterNewSales(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FilterNewSales(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FilterNewSales(2)">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="FilterNewSales(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FilterNewSales(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FilterNewSales(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FilterNewSales(2)">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="FilterNewSales(3)">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="FilterNewSales(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterNewSales(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterNewSales(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterNewSales(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="FilterNewSales(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="FilterNewSales()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterNewSales(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterNewSales(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterNewSales(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="FilterNewSales(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterNewSales(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterNewSales(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterNewSales(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="FilterNewSales(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterNewSales(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterNewSales(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="FilterNewSales(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterNewSales(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="FilterNewSales(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
        }
    </div>
</div>

