@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Pagination.css" rel="stylesheet" />
<link href="~/Content/Css/Inventory/PurchaseOrderPartial.css" rel="stylesheet" />
<style>
   
</style>
<script>
    var EditPaidCommissionImportData = function (id) {

        OpenTopToBottomModal("/Reports/PaidCommissionEditImportData?Id=" + id);
    }
    $(document).ready(function () {
        
          $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            PaidCommissionReportLoad(pageno, orderval);
        });
    })
</script>
<table id="tblPaidCommissionReport" class="">
    <thead class="table-head-border">
        <tr>
            <th class="th_timeclock rma_no">
                <div> @Localize.T("RMA Account No")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/accountno"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/accountno"></i></div>
            </th>

            <th class="th_timeclock">
                <div> @Localize.T("Rep Section")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/rep"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/rep"></i></div>
            </th>

            <th class="th_timeclock">
                <div>@Localize.T("Tech Section")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/tech"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/tech"></i></div>
            </th>
           
            <th class="th_timeclock">
                <div>@Localize.T("Misc Section")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/misc"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/misc"></i></div>
            </th>

            <th class="th_timeclock action">
                <div> @Localize.T("Action")</div>
                <div><i data-val="ascending/pono"></i><i data-val="descending/pono"></i></div>
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PayrollDetailList)
        {
                <tr>
                    <td class="table-body-td-style">
                        <div class="tpcr_mb_head">@Localize.T("RMA Account No") <span>:</span></div>
                        <div class="tpcr_mb_info">@item.RMAAccountNo</div>
                    </td>
                    <td class="table-body-td-style">
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Rep Name") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Name") <span>:</span></span>@item.RepName</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Rep Commission") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Commission") <span>:</span></span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.RepCommission.ToString("#,##0.00")</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Rep Holdback") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Holdback") <span>:</span></span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.RepHoldback.ToString("#,##0.00")</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Override Rep1") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Override Rep1") <span>:</span></span>@item.OverrideRep1</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Override1") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Override1") <span>:</span></span>@item.Override1</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Override Rep2") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Override Rep2") <span>:</span></span>@item.OverrideRep2</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Override2") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Override2") <span>:</span></span>@item.Override2</div>
                        </div>
                        @if (item.RepPaidDate != new DateTime())
                        {
                            <div class="pcrt_row">
                                <div class="tpcr_mb_head">@Localize.T("Rep Paid Date") <span>:</span></div>
                                <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Paid Date") <span>:</span></span>@item.RepPaidDate.ToString("MM/dd/yyyy")</div>
                            </div>
                        }
                        else
                        {
                            <div> </div>
                        }

                    </td>
                    <td class="table-body-td-style">
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Tech Name") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Name") <span>:</span></span>@item.TechName</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Tech Pay") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Pay") <span>:</span></span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.TechPay.ToString("#,##0.00")</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Tech Holdback") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Holdback") <span>:</span></span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.TechHoldback.ToString("#,##0.00")</div>
                        </div>
                        @if (item.TechPaidDate != new DateTime())
                        {
                            <div class="pcrt_row">
                                <div class="tpcr_mb_head">@Localize.T("Tech Paid Date") <span>:</span></div>
                                <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Paid Date") <span>:</span></span>@item.TechPaidDate.ToString("MM/dd/yyyy")</div>
                            </div>
                        }
                        else
                        {
                            <div> </div>
                        }

                    </td>


                    <td class="table-body-td-style">
                        <div class="pcrt_row commission_style">
                            <div class="tpcr_mb_head">@Localize.T("Opener Commission") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Opener Commission") <span>:</span></span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.OpenerCommission.ToString("#,##0.00")</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Misc Rep1") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Rep1") <span>:</span></span>@item.MiscRep1</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Misc Commission1") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Commission1") <span>:</span></span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.MiscCommission1.ToString("#,##0.00")</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Misc Rep2") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Rep2") <span>:</span></span>@item.MiscRep2</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Misc Commission2") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Commission2") <span>:</span></span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.MiscCommission2.ToString("#,##0.00")</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Misc Rep3") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Rep3") <span>:</span></span>@item.MiscRep3</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Misc Commission3") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Commission3") <span>:</span></span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.MiscCommission3.ToString("#,##0.00")</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Misc Rep4") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Rep4") <span>:</span></span>@item.MiscRep4</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Misc Commission4") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Commission4") <span>:</span></span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.MiscCommission4.ToString("#,##0.00")</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Misc Rep5") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Rep5") <span>:</span></span>@item.MiscRep5</div>
                        </div>
                        <div class="pcrt_row">
                            <div class="tpcr_mb_head">@Localize.T("Misc Commission5") <span>:</span></div>
                            <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Commission5") <span>:</span></span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.MiscCommission5.ToString("#,##0.00")</div>
                        </div>
                        @if (item.MiscPaidDate != new DateTime())
                        {
                            <div class="pcrt_row">
                                <div class="tpcr_mb_head">@Localize.T("Misc Paid Date") <span>:</span></div>
                                <div class="tpcr_mb_info"><span class="pcrt_sp_header">@Localize.T("Paid Date") <span>:</span></span>@item.MiscPaidDate.ToString("MM/dd/yyyy")</div>
                            </div>
                        }
                        else
                        {
                            <div> </div>
                        }

                    </td>
                    <td class="table-body-td-style">
                        <div class="tpcr_mb_head">@Localize.T("Action") <span>:</span></div>
                        <div class="tpcr_mb_info">
                            <button class="report_btn lrp_float_right" title="Edit" id="btnPaidCommissionEditImportData" onclick="EditPaidCommissionImportData('@item.Id')"><i class="fa fa-edit"></i></button>
                        </div>
                    </td>
                </tr>
        }
    </tbody>
</table>
<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="PaidCommissionReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="PaidCommissionReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="PaidCommissionReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="PaidCommissionReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="PaidCommissionReportLoad(3, @(ViewBag.order))">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber-2), @(ViewBag.order))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="PaidCommissionReportLoad()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber + 2), @(ViewBag.order))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber - 1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="PaidCommissionReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
        }
    </div>
</div>

