@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Pagination.css" rel="stylesheet" />
<link href="~/Content/Css/Report/PaidCommissionEditImportData.css" rel="stylesheet" />
@model HS.Entities.PayrollDetailModel

<script>
    var RepPaidDatePicker;
    var TechPaidDatePicker;
    var MiscPaidDatePicker;

    var SavePaidCommissionImportData = function () {

        var param = {
            Id: $("#Id").val(),
            RepName: $("#RepName").val(),
            RepCommission: $("#RepCommission").val(),
            RepHoldback: $("#RepHoldback").val(),
            OverrideRep1: $("#OverrideRep1").val(),
            Override1: $("#Override1").val(),
            OverrideRep2: $("#OverrideRep2").val(),
            Override2: $("#Override2").val(),
            RepPaidDate: $("#RepPaidDate").val(),
            TechName: $("#TechName").val(),
            TechPay: $("#TechPay").val(),
            TechHoldback: $("#TechHoldback").val(),
            TechPaidDate: $("#TechPaidDate").val(),
            OpenerCommission: $("#OpenerCommission").val(),
            MiscRep1: $("#MiscRep1").val(),
            MiscCommission1: $("#MiscCommission1").val(),
            MiscRep2: $("#MiscRep2").val(),
            MiscCommission2: $("#MiscCommission2").val(),
            MiscRep3: $("#MiscRep3").val(),
            MiscCommission3: $("#MiscCommission3").val(),
            MiscRep4: $("#MiscRep4").val(),
            MiscCommission4: $("#MiscCommission4").val(),
            MiscRep5: $("#MiscRep5").val(),
            MiscCommission5: $("#MiscCommission5").val(),
            MiscPaidDate: $("#MiscPaidDate").val(),

        };


        $.ajax({
            type: "POST",
            ajaxStart: function () { },
            url: "/Reports/PaidCommissionImportDataEdit",
            data: JSON.stringify(param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data) {
                    CloseTopToBottomModal();
                    if (data.success == "true") {

                        window.location.href = "/reports";
                    }
                    else {
                        window.location.reload();
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        })
    }

    RepPaidDatePicker = new Pikaday({
        format: 'MM/DD/YYYY',
        field: $('#RepPaidDate')[0],
        trigger: $('#RepPaidDate_custom')[0],
        firstDay: 1
    });
    TechPaidDatePicker = new Pikaday({
        format: 'MM/DD/YYYY',
        field: $('#TechPaidDate')[0],
        trigger: $('#TechPaidDate_custom')[0],
        firstDay:1
    });
    MiscPaidDatePicker = new Pikaday({
        format: 'MM/DD/YYYY',
        field: $('#MiscPaidDate')[0],
        trigger: $('#MiscPaidDate_custom')[0],
        firstDay:1
    });


    $(document).ready(function () {
    $(".pceid_inner_height").height(window.innerHeight -100);
    });
     $(window).resize(function () {
       $(".pceid_inner_height").height(window.innerHeight -100);
    })
</script>

<div class="pceid_container">
    <div class="pceid_header">
        @Localize.T("Paid Commission")
    </div>
    <div class="pceid_inner_height">
        <div class="pceid_inner">
            @foreach (var item in Model.PayrollDetailList)
            {
                <div> <input type="hidden" value="@item.Id" id="Id" /> </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Rep Name")</span>
                    @Html.TextBoxFor(x => item.RepName, new { @class = "form-control", id = "RepName", style = "width:100%", placeholder = Localize.T("Rep Name") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Rep Commission")</span>
                    @Html.TextBoxFor(x => item.RepCommission, new { @class = "form-control", id = "RepCommission", style = "width:100%", placeholder = Localize.T("Rep Commission") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Rep Holdback")</span>
                    @Html.TextBoxFor(x => item.RepHoldback, new { @class = "form-control", id = "RepHoldback", style = "width:100%", placeholder = Localize.T("Rep Holdback") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Override Rep1")</span>
                    @Html.TextBoxFor(x => item.OverrideRep1, new { @class = "form-control", id = "OverrideRep1", style = "width:100%", placeholder = Localize.T("Override Rep1") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Override1")</span>
                    @Html.TextBoxFor(x => item.Override1, new { @class = "form-control", id = "Override1", style = "width:100%", placeholder = Localize.T("Override1") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Override Rep2")</span>
                    @Html.TextBoxFor(x => item.OverrideRep2, new { @class = "form-control", id = "OverrideRep2", style = "width:100%", placeholder = Localize.T("Override Rep2") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Override2")</span>
                    @Html.TextBoxFor(x => item.Override2, new { @class = "form-control", id = "Override2", style = "width:100%", placeholder = Localize.T("Override2") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Rep Paid Date")</span>

                    <div class="input_group_for_date add-on" id="RepPaidDate_custom">
                        @Html.TextBoxFor(x => item.RepPaidDate, "{0:MM/dd/yy}", new { @class = "form-control install-datepicker", Placeholder = Localize.T("Rep Paid Date"), id = "RepPaidDate" })
                        <div class="input-group-btn">
                            <button class="btn green_button">
                                <i class="fa fa-calendar" aria-hidden="true" style="cursor:pointer;"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Tech Name")</span>
                    @Html.TextBoxFor(x => item.TechName, new { @class = "form-control", id = "TechName", style = "width:100%", placeholder = Localize.T("Tech Name") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Tech Pay")</span>
                    @Html.TextBoxFor(x => item.TechPay, new { @class = "form-control", id = "TechPay", style = "width:100%", placeholder = Localize.T("Tech Pay") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Tech Holdback")</span>
                    @Html.TextBoxFor(x => item.TechHoldback, new { @class = "form-control", id = "TechHoldback", style = "width:100%", placeholder = Localize.T("Tech Holdback") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Tech Paid Date")</span>

                    <div class="input_group_for_date add-on" id="TechPaidDate_custom">
                        @Html.TextBoxFor(x => item.TechPaidDate, "{0:MM/dd/yy}", new { @class = "form-control install-datepicker", Placeholder = Localize.T("Tech Paid Date"), id = "TechPaidDate" })
                        <div class="input-group-btn">
                            <button class="btn green_button">
                                <i class="fa fa-calendar" aria-hidden="true" style="cursor:pointer;"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Opener Commission")</span>
                    @Html.TextBoxFor(x => item.OpenerCommission, new { @class = "form-control", id = "OpenerCommission", style = "width:100%", placeholder = Localize.T("Opener Commission") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Misc Rep1")</span>
                    @Html.TextBoxFor(x => item.MiscRep1, new { @class = "form-control", id = "MiscRep1", style = "width:100%", placeholder = Localize.T("Misc Rep1") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Misc Commission1")</span>
                    @Html.TextBoxFor(x => item.MiscCommission1, new { @class = "form-control", id = "MiscCommission1", style = "width:100%", placeholder = Localize.T("Misc Commission1") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Misc Rep2")</span>
                    @Html.TextBoxFor(x => item.MiscRep2, new { @class = "form-control", id = "MiscRep2", style = "width:100%", placeholder = Localize.T("Misc Rep2") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Misc Commission2")</span>
                    @Html.TextBoxFor(x => item.MiscCommission2, new { @class = "form-control", id = "MiscCommission2", style = "width:100%", placeholder = Localize.T("Misc Commission2") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Misc Rep3")</span>
                    @Html.TextBoxFor(x => item.MiscRep3, new { @class = "form-control", id = "MiscRep3", style = "width:100%", placeholder = Localize.T("Misc Rep3") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Misc Commission3")</span>
                    @Html.TextBoxFor(x => item.MiscCommission1, new { @class = "form-control", id = "MiscCommission3", style = "width:100%", placeholder = Localize.T("Misc Commission3") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Misc Rep4")</span>
                    @Html.TextBoxFor(x => item.MiscRep4, new { @class = "form-control", id = "MiscRep4", style = "width:100%", placeholder = Localize.T("Misc Rep4") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Misc Commission4")</span>
                    @Html.TextBoxFor(x => item.MiscCommission4, new { @class = "form-control", id = "MiscCommission4", style = "width:100%", placeholder = Localize.T("Misc Commission4") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Misc Rep5")</span>
                    @Html.TextBoxFor(x => item.MiscRep5, new { @class = "form-control", id = "MiscRep5", style = "width:100%", placeholder = Localize.T("Misc Rep5") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Misc Commission5")</span>
                    @Html.TextBoxFor(x => item.MiscCommission5, new { @class = "form-control", id = "MiscCommission5", style = "width:100%", placeholder = Localize.T("Misc Commission5") })
                </div>

                <div class="form-group clearfix">
                    <span class="span_style">@Localize.T("Misc Paid Date")</span>

                    <div class="input_group_for_date add-on" id="MiscPaidDate_custom">
                        @Html.TextBoxFor(x => item.MiscPaidDate, "{0:MM/dd/yy}", new { @class = "form-control install-datepicker", Placeholder = Localize.T("Misc Paid Date"), id = "MiscPaidDate" })
                        <div class="input-group-btn">
                            <button class="btn green_button">
                                <i class="fa fa-calendar" aria-hidden="true" style="cursor:pointer;"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


    <div class="pceid_footer">
        <button class="btn green_button" id="SaveEditedImportData" onclick="SavePaidCommissionImportData()"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
    </div>
</div>

