
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

@model HS.Entities.EquipmentListWithCountModel
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<script>
    var totalcount = '@Localize.T("Total:") @string.Format("{0:#,##0}", ViewBag.TotalLeads)';
        var pageno = '@ViewBag.PageNumber';


    $(document).ready(function () {
        parent.$(".lead_total_color").html(totalcount);
            $(".icon_sort_bi").click(function () {
            var orderval = $(this).attr('data-val');
                FilterPendingInventoryReport(pageno, orderval);
        });
    });
</script>



<div class="leads_report_table">
    <table id="LeadsReportTable" class="inventory_report_table">
        <thead>
            <tr>
                <th>
                    <div>@Localize.T("Category")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/category"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/category"></i></div>

                </th>
                <th>
                    <div>@Localize.T("Manufacturer")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/manufacturer"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/manufacturer"></i></div>

                </th>
                <th>
                    <div>@Localize.T("Description")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/description"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/description"></i></div>

                </th>
                <th>
                    <div>@Localize.T("SKU")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/SKU"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/SKU"></i></div>

                </th>
                <th>
                    <div>@Localize.T("To")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/username"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/username"></i></div>

                </th>
                <th>
                    <div>@Localize.T("From")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/transferfrom"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/transferfrom"></i></div>

                </th>
                <th>
                    <div>@Localize.T("Created Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/date"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/date"></i></div>

                </th>
                <th>
                    <div>@Localize.T("Quantity")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/pieces"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/pieces"></i></div>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EquipmentList)
            {
                <tr>
                    <td>
                        <div>@Localize.T("Category") <span>:</span></div>
                        <div>@item.Category</div>
                    </td>
                    <td>
                        <div>@Localize.T("Manufacturer") <span>:</span></div>
                        <div>@item.ManufacturerName</div>
                    </td>
                    <td>
                        <div>@Localize.T("Description") <span>:</span></div>
                        <div>@item.Name</div>
                    </td>
                    <td>
                        <div>@Localize.T("SKU") <span>:</span></div>
                        <div>@item.SKU</div>
                    </td>
                    <td>
                        <div>@Localize.T("To") <span>:</span></div>
                        <div>@item.TechnicianName</div>
                    </td>
                    <td>
                        <div>@Localize.T("From") <span>:</span></div>
                        <div> @item.ReceivedBy</div>
                    </td>
                    <td>
                        <div>@Localize.T("Created Date") <span>:</span></div>
                        <div>
                            @item.CreatedDate.ToString("M/d/yy")
                        </div>
                    </td>

                    <td>
                        <div>@Localize.T("Quantity") <span>:</span></div>
                        <div>
                            @if (item.QtyOnHand == 0)
                            {
                                <span class="stock-out-span">@item.QtyOnHand </span>
                            }
                            else if (item.QtyOnHand <= item.reorderpoint)
                            {
                                <span class="stock-low-span">@item.QtyOnHand </span>
                            }
                            else
                            {
                                <span>@item.QtyOnHand </span>
                            }
                        </div>
                    </td>
                </tr>
            }
            <tr class="table_total_bg">
                <td colspan="7">
                    <b class="float_right">@Localize.T("Total:")</b>
                </td>
                <td>
                    <div>@Localize.T("Total Quantity") <span>:</span></div>
                    <div><b title="@Localize.T("Total Quantity")">@Model.TotalTruckInvenorty.TotalQuantity</b></div>
                </td>
            </tr>
        </tbody>

    </table>
    <div class="AgentListPagination">
        <div class="paginationContainer">
            @if (ViewBag.PageCount > 0)
            {
                <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
            }
            @if (ViewBag.PageCount == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons disabledBtn">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber))">1</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FilterPendingInventoryReport(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FilterPendingInventoryReport(2)">2</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FilterPendingInventoryReport(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FilterPendingInventoryReport(2)">2</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="FilterPendingInventoryReport(3)">3</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount > 3)
            {
                if (ViewBag.PageNumber == ViewBag.PageCount)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons disabledBtn" onclick="FilterPendingInventoryReport()">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 1)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 2)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="FilterPendingInventoryReport(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
            }
        </div>
    </div>
</div>