
@{
    Layout = null;
}
@model HS.Entities.POListModel
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Pagination.css" rel="stylesheet" />
<style>
    #tblCreatedPOReport tbody tr td {
        padding: 10px;
    }

    .scroll_container_block {
        overflow: auto;
        width: 100%;
        float: left;
    }
    .por_table_container {
        position: relative;
    }
    @@media(max-width:1720px) {
        .por_table_container {
            height:calc(100vh - 350px);            
        }
    }
   
</style>
<script>
        var pageno = '@ViewBag.PageNumber';

        $(document).ready(function () {

          $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            CreatedPOReportLoad(pageno, orderval);
        });


    });
</script>

<div class="scroll_container_block por_table_container">
    <table id="tblCreatedPOReport" class="purchase_order_list_partial_table">
        <thead class="table-head-border">
            <tr>

                <th class="th_timeclock">
                    <div> @Localize.T("Purchase Order")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/PONo"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/PONo"></i></div>
                </th>


                <th class="th_timeclock">
                    <div> @Localize.T("Order Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/OrderDate"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/OrderDate"></i></div>
                </th>
                <th class="th_timeclock">
                    <div> @Localize.T("SKU Received Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/OrderDate"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/OrderDate"></i></div>
                </th>

                <th class="th_timeclock">
                    <div> @Localize.T("Vendor")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/Vendor"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/Vendor"></i></div>
                </th>


                <th class="th_timeclock">
                    <div>@Localize.T("Category")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/Category"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/Category"></i></div>
                </th>


                <th class="th_timeclock">
                    <div>@Localize.T("Manufacturer")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/Manufacturer"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/Manufacturer"></i></div>
                </th>

                <th class="th_timeclock">
                    <div>@Localize.T("Equipment Description")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/EqDescription"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/EqDescription"></i></div>
                </th>


                <th class="th_timeclock">
                    <div>@Localize.T("Description")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/Description"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/Description"></i></div>
                </th>
                <th class="th_timeclock_pre">
                    <div>@Localize.T("Received For")</div>
                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/technicianName"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/technicianName"></i></div>
                </th>

                <th class="th_timeclock">
                    <div>@Localize.T("SKU")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/SKU"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/SKU"></i></div>
                </th>


                <th class="th_timeclock">
                    <div>@Localize.T("Quantity")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/Quantity"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/Quantity"></i></div>
                </th>


                <th class="th_timeclock">
                    <div>@Localize.T("Unit Price")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/UnitPrice"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/UnitPrice"></i></div>
                </th>
                <th class="th_timeclock">
                    <div>@Localize.T("Total Price")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/TotalPrice"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/TotalPrice"></i></div>
                </th>
                <th class="th_timeclock">
                    <div>@Localize.T("Status")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/Status"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/Status"></i></div>
                </th>



            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.POReportNewList)
            {
                <tr>
                    <td class="table-body-td-style">
                        <a class="cus-anchor" onclick="OpenPOById(@item.Id)" href="javascript:void(0)">@item.PurchaseOrderId</a>
                    </td>


                    <td class="table-body-td-style">
                        <div>  @item.OrderDate.UTCToClientTime().ToString("M/d/yyyy") </div>
                    </td>
                    <td class="table-body-td-style">
                        <div>

                            @if (item.RecieveQty == 0)

                            {
                                <span class="persistent-display" disabled="disabled"></span>
                            }
                            else
                            {
                                <span class="persistent-display" disabled="disabled">@item.CreatedDate.UTCToClientTime().ToString("M/d/yyyy")</span>
                            }

                        </div>
                    </td>

                    <td class="table-body-td-style">
                        <div> @item.Vender </div>
                    </td>


                    <td class="table-body-td-style">
                        <div>@item.Category</div>
                    </td>


                    <td class="table-body-td-style">
                        <div>@item.Manufacturer</div>
                    </td>
                    <td class="table-body-td-style">
                        <div>@item.Description</div>
                    </td>
                    <td class="table-body-td-style">
                        <div>@item.Po_Description</div>
                    </td>
                    <td class="table-body-td-style">
                        <div>@item.TechnicianName</div>
                    </td>
                    <td class="table-body-td-style">
                        <div>@item.SKU</div>
                    </td>

                    <td class="table-body-td-style">
                        <div>@item.Quantity</div>
                    </td>

                    <td class="table-body-td-style">
                        <div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.UnitPrice.ToString("#,##0.00")</div>
                    </td>
                    <td class="table-body-td-style">
                        <div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.TotalPrice.ToString("#,##0.00")</div>
                    </td>


                    <td class="table-body-td-style">
                        <div>@item.Status</div>
                    </td>

                </tr>

            }
            <tr class="table_total_bg">
                <td colspan="10">
                    <b class="float_right">@Localize.T("Total:")</b>
                </td>
                <td colspan="2">
                    <div>@Localize.T("Total Quantity") <span>:</span></div>
                    <div>
                        <b title="@Localize.T("Total Quantity")">@Model.TotalQuantity</b>
                    </div>
                </td>
                <td colspan="2">
                    <div>@Localize.T("Total PO Amount") <span>:</span></div>
                    <div>
                        <b title="@Localize.T("Total PO Amount")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalAmount.ToString("#,##0.00")</b>
                    </div>
                </td>

            </tr>
        </tbody>

    </table>
</div>
<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber), '@(ViewBag.order)')">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), '@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CreatedPOReportLoad(1, '@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CreatedPOReportLoad(2, '@(ViewBag.order)')">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), '@(ViewBag.order)')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), '@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CreatedPOReportLoad(1, '@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CreatedPOReportLoad(2, '@(ViewBag.order)')">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="CreatedPOReportLoad(3, '@(ViewBag.order)')">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), '@(ViewBag.order)')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber-1), '@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber-2), '@(ViewBag.order)')">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber), '@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="CreatedPOReportLoad()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber-1), '@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber+1), '@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber + 2), '@(ViewBag.order)')">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber+1), '@(ViewBag.order)')">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber-1), '@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber + 1), '@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber+1), '@(ViewBag.order)')">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber-1), '@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber - 1), '@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber), '@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber + 1), '@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="CreatedPOReportLoad(@(ViewBag.PageNumber+1), '@(ViewBag.order)')">Next</button>
                </div>
            }
        }
    </div>
</div>
