@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Pagination.css" rel="stylesheet" />
<style>
    #tblPRReport tbody tr td {
        padding: 10px;
    }
</style>
<script>
    var pageno = '@ViewBag.PageNumber';

    $(document).ready(function () {
           $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            PRReportLoad(pageno, orderval);
        })

    })
</script>
<table id="tblPRReport">
    <thead class="table-head-border">
        <tr>

            <th class="th_timeclock">
                <div> @Localize.T("Ticket")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/ticket"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/ticket"></i></div>
            </th>

            <th class="th_timeclock">
                <div> @Localize.T("Customer Info.")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/customer"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/customer"></i></div>
            </th>

            <th class="th_timeclock">
                <div>@Localize.T("Ticket Type")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/type"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/type"></i></div>
            </th>

            <th class="th_timeclock">
                <div>@Localize.T("Ticket Status")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/status"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/status"></i></div>
            </th>

            <th class="th_timeclock eqp_name">
                <div>@Localize.T("Equipment")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/equipment"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/equipment"></i></div>
            </th>

            <th class="th_timeclock">
                <div>@Localize.T("Total Payments")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/total"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/total"></i></div>
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PRReportList)
        {
            <tr>
                <td class="table-body-td-style" valign="top">
                    <div class="ticket_list_partial_device_header">@Localize.T("Ticket Number")<span>:</span></div>
                    <div class="ticket_list_partial_device_info">
                        <a class="cus-anchor" onclick="OpenTicketById(@item.TicketId)" href="javascript:void(0)">@item.TicketId</a>
                        <br />
                    </div>
                </td>
                @*<td class="table-body-td-style">
                    <div>@Localize.T("Ticket Number") <span>:</span></div>
                    <div><a class="cus-anchor" onclick="OpenTicketById(@item.TicketId)" href="javascript:void(0)">@item.TicketId</a></div>
             
                </td>*@
                

            <td class="table-body-td-style">
                <div class="itrp_row">
                    <div class="ticket_list_partial_device_header">@Localize.T("Customer Name") <span>:</span></div>
                    <div class="ticket_list_partial_device_info">
                        <span class="itrp_sp_header">@Localize.T("Name") <span>:</span></span><a class="cus-anchor" href="/Customer/CustomerDetail/?id=@item.CustomerId" target="_blank">@item.Name</a>
                    </div>
                </div>
                <div  class="itrp_row">
                    <div class="ticket_list_partial_device_header">@Localize.T("Customer Id") <span>:</span></div>
                    <div class="ticket_list_partial_device_info"><span class="itrp_sp_header">@Localize.T("Id") <span>:</span></span>@item.CustomerId</div>
                </div>
                <div class="itrp_row">
                    <div class="ticket_list_partial_device_header">@Localize.T("CS Acc. No.") <span>:</span></div>
                    <div class="ticket_list_partial_device_info"><span class="itrp_sp_header">@Localize.T("CS Acc. No.") <span>:</span></span>@item.CustomerNo</div>
                </div>
            </td>

               

                <td class="table-body-td-style">
                    <div class="ticket_list_partial_device_header">@Localize.T("Ticket Type") <span>:</span></div>
                    <div class="ticket_list_partial_device_info">@item.TicketType</div>
                </td>

                <td class="table-body-td-style">
                    <div class="ticket_list_partial_device_header">@Localize.T("Ticket Status") <span>:</span></div>
                    <div class="ticket_list_partial_device_info">@item.TicketStatus</div>
                </td>

                <td class="table-body-td-style">
                    <div class="ticket_list_partial_device_header">@Localize.T("Equipment Names") <span>:</span></div>
                    <div class="ticket_list_partial_device_info">@item.EquipmentNames</div>
                </td>

                <td class="table-body-td-style">
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Payments") <span>:</span></div>
                    @if (item.TotalPayments > 0)
                    {
                        <div class="ticket_list_partial_device_info">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.TotalPayments.ToString("#,##0.00")</div>
                    }
                    else
                    {
                        <div class="ticket_list_partial_device_info"> </div>
                    }
                </td>

            </tr>
        }
    <tr class="table_total_bg">
        <td colspan="5">
            <b class="float_right">@Localize.T("Subtotal:")</b>
        </td>
        <td>
            <div class="ticket_list_partial_device_header">@Localize.T("Subtotal Payment") <span>:</span></div>
            <div class="ticket_list_partial_device_info">
                <b title="@Localize.T("Subtotal Payment")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalCost.Amount.ToString("#,##0.00")</b>
            </div>        </td>
    </tr>
    </tbody>
    
</table>
<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="PRReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="PRReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="PRReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="PRReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="PRReportLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="PRReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="PRReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="PRReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="PRReportLoad(3, @(ViewBag.order))">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="PRReportLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="PRReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PRReportLoad(@(ViewBag.PageNumber-2), @(ViewBag.order))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PRReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="PRReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="PRReportLoad()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="PRReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PRReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PRReportLoad(@(ViewBag.PageNumber + 2), @(ViewBag.order))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="PRReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="PRReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PRReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PRReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="PRReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="PRReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PRReportLoad(@(ViewBag.PageNumber - 1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="PRReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PRReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="PRReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
        }
    </div>
</div>
