@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>
        var pageno = '@ViewBag.PageNumber';

    var PurchaseOrderDataLoad = function (PurchaseOrderId) {
        var StartDateVal = $(".min-date").val();
        var EndDateVal = $(".max-date").val();

        OpenTopToBottomModal("/Reports/PurchaseOrderPartialList?Id=" + PurchaseOrderId + "&Start=" + StartDateVal + "&End=" + EndDateVal);
    }

    $(document).ready(function () {
       
        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            PurchaseOrderReportLoad(pageno, orderval);
        });

    });
</script>

<table class="table" id="InventoryCountReportTable">
    <thead class="table-head-border">
        <tr>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Order Id")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/orderid"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/orderid"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Vendor Name")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/vendor"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/vendor"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Created By")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/createdby"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/createdby"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Status")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/status"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/status"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Amount")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/amount"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/amount"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Quantity")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/quantity"></i><i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/quantity"></i></div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PurchaseOrderList)
        {
            <tr>
                <td class="table-body-td-style">
                    <div>@Localize.T("Order Id")</div>
                  <div> <a class="cus-anchor" onclick="OpenPOById(@item.Id)"href="javascript:void(0)">@item.PurchaseOrderId</a></div>
                  
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("Vendor Name")</div>
                    <div>@item.SupplierName</div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("Created By")</div>
                    <div>@item.CreatedBy</div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("Status")</div>
                    <div>
                      @item.Status
                    </div>
                </td>
                @*<td class="table-body-td-style">
                        <div>@item.Status</div>
                    </td>*@
                <td class="table-body-td-style">
                    <div>@Localize.T("Total Amount")</div>
                    <div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.TotalAmountDouble.ToString("#,##0.00")</div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("Quantity")</div>
                    <div>
                   
                        @item.Quantity
                    </div>
                </td>
            </tr>
        }
        <tr class="table_total_bg">
            <td colspan="4">
                <b class="float_right">@Localize.T("Total:")</b>
            </td>
            <td>
                <div>@Localize.T("Total Amount")</div>
                <div>
                    <b title="@Localize.T("Total Amount")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalCount.TotalAmount.ToString("#,##0.00")</b>
                </div>
            </td>
            <td>
                <div>@Localize.T("Total Quantity")</div>
                <div>
                    <b title="@Localize.T("Total Quantity")">@Model.TotalCount.TotalQuantity</b>
                </div>            </td>
        </tr>
    </tbody>
</table>
<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="PurchaseOrderReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="PurchaseOrderReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="PurchaseOrderReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="PurchaseOrderReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="PurchaseOrderReportLoad(3, @(ViewBag.order))">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber-2), @(ViewBag.order))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="PurchaseOrderReportLoad()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber + 2), @(ViewBag.order))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber - 1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="PurchaseOrderReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
        }
    </div>
</div>
