@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
<div class="ReportsTitle">
    @Localize.T("Equipment List") 
</div>
<table class="table" id="InventoryCountReportTable">
    <thead class="table-head-border">
        <tr>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Equipment Name")</div>
                <div><i data-val="ascending/customer"></i><i data-val="descending/customer"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Quantity")</div>
                <div><i data-val="ascending/equipment"></i><i data-val="descending/equipment"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Unit Price")</div>
                <div><i data-val="ascending/quantity"></i><i data-val="descending/quantity"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Total Price")</div>
                <div><i data-val="ascending/quantity"></i><i data-val="descending/quantity"></i></div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PurchaseOrderItem)
        {
            <tr>
                <td class="table-body-td-style">
                    <div>@item.EquipName</div>
                </td>
                <td class="table-body-td-style">
                    <div>@item.Quantity</div>
                </td>
                <td class="table-body-td-style">
                    <div>$@item.UnitPrice</div>
                    @*<div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.UnitPrice.ToString("#,##0.00")</div>*@
                </td>
                <td class="table-body-td-style">
                    <div>$@item.TotalPrice</div>
                    @*<div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.TotalPrice.ToString("#,##0.00")</div>*@
                </td>
            </tr>
        }
    </tbody>
</table>
