@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<div class="ReportsTitle">
    @Localize.T("Purchase Details")
</div>
<table class="table" id="InventoryCountDetailsOnEndDateTable">
    <thead class="table-head-border">
        <tr>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Created By")</div>
                <div><i data-val="ascending/equipment"></i><i data-val="descending/equipment"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Order Id")</div>
                <div><i data-val="ascending/equipment"></i><i data-val="descending/equipment"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Date")</div>
                <div><i data-val="ascending/quantity"></i><i data-val="descending/quantity"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Quantity")</div>
                <div><i data-val="ascending/quantity"></i><i data-val="descending/quantity"></i></div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PurchaseInventoryCountList)
        {
            <tr>
                @if (@item.Quantity != 0)
                {
                    <td class="table-body-td-style">
                    @*<div>@Localize.T("Created By") <span>:</span></div>*@
                        <div>@item.CreatedByUser</div>
                    </td>

                    <td class="table-body-td-style">
                    @*<div>@Localize.T("Order Id") <span>:</span></div>*@
                        @*<a class="cus-anchor" onclick="OpenPOById(@item.Id)" href="javascript:void(0)">@item.PurchaseOrderId</a>*@
                        <div><span class="cus-anchor" onclick="OpenPOById(@item.Id)">@item.PurchaseOrderId</span></div>
                        @*<div>@item.Id</div>*@
                    </td>
                    <td class="table-body-td-style">
                        @*<div>@Localize.T("Date") <span>:</span></div>*@
                        <div>@item.Date</div>
                    </td>
                    <td class="table-body-td-style">
                        @*<div>@Localize.T("Quantity") <span>:</span></div>*@
                        <div>@item.Quantity</div>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>


