@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Inventory/PurchaseOrderPartial.css" rel="stylesheet" />

<script>
        var pageno = '@ViewBag.PageNumber';

        var listStatus = '@Html.Raw(Json.Encode(@ViewBag.StatussList))';
    listStatus = JSON.parse(listStatus);
        var my_date_format = function (input) {
            console.log(input + " r");
            var d = new Date(Date.parse(input.replace(/-/g, "/")));
            var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

            return (date);
        };

        var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
        var PurchaseOrderReportLoad = function (pageNo, order) {
            var StartDateVal = $(".min-date").val();
            var EndDateVal = $(".max-date").val();
             var StatusIDList = encodeURI($("#StatusID").val());

            if (typeof (pageNo) != "undefined" && pageNo > 0) {
            
                var LoadUrl = domainurl + "/Reports/PurchaseOrderPartial/?SearchText=" + encodeURI($(".PurchaseOrderText").val()) + "&Start=" + StartDateVal + "&End=" + EndDateVal
                    + "&PageNo=" + pageNo + "&order=" + order + "&pagesize=20"+"&StatusIDList="+StatusIDList;
                    $(".PurchaseOrderTable").html(TabsLoaderText);
                $(".PurchaseOrderTable").load(LoadUrl);
            }
    }
       var ResetFilter = function () {
          
        $("#StatusID").selectpicker("val", "");


        $(".PurchaseOrderText").val("");
        PurchaseOrderReportLoad(1);
    }
    $(document).ready(function () {
               $(".bi_single_filte_info_container").hide();
        $(".btn-filter").click(function () {

            if ($(".bi_single_filte_info_container").is(":visible")) {
                $(".bi_single_filte_info_container").hide();

            } else {
                $(".bi_single_filte_info_container").show();

            }
        });
            var StartDate = $(".min-date").val();
            var EndDate = $(".max-date").val();

            if (StartDate != "" && EndDate != "") {
                StartDate = my_date_format(StartDate);
                EndDate = my_date_format(EndDate);
                console.log(StartDate + " " + EndDate);
                if (StartDate == "NaN undefined, NaN") {
                    StartDate = "All Time";
                    EndDate = "";
                }

                $(".DateFilterContents .date-start").html("");
                $(".DateFilterContents .date-end").html("");
                $(".DateFilterContents .date-start").html(StartDate);
                $(".DateFilterContents .date-end").html(EndDate);
                $(".DateFilterContents .dropdown-filter").hide();
            }
            else {
                $(".DateFilterContents .date-start").html("All Time");
                $(".DateFilterContents .date-end").html("");
                $(".DateFilterContents .dropdown-filter").hide();
            }

                if (listStatus != null) {
            if (listStatus.length != 0) {
                $("#StatusID").selectpicker('val', listStatus);
            }
            else {
                $("#StatusID").selectpicker('val', '');
            }
        }
            $("#btnPurchaseOrderSearch").click(function () {
                PurchaseOrderReportLoad(1, null);
            });
            $(".PurchaseOrderText").keydown(function (e) {
                if (e.which == 13) {
                    PurchaseOrderReportLoad(1, null);
                }
            });

            PurchaseOrderReportLoad(1, null);

            $(".btn-apply-Datefilter").click(function () {

                var StartDateVal = $(".min-date").val();
                var EndDateVal = $(".max-date").val();
                var pageNo = 1;
                var order = "";
                 var StatusIDList = encodeURI($("#StatusID").val());
                var LoadUrl = domainurl + "/Reports/PurchaseOrderPartial/?SearchText=" + encodeURI($(".PurchaseOrderText").val()) + "&Start=" + StartDateVal + "&End=" + EndDateVal
                  + "&PageNo=" + pageNo + "&order=" + order + "&pagesize=20"+"&StatusIDList="+StatusIDList;
                $(".PurchaseOrderTable").html(TabsLoaderText);
                $(".PurchaseOrderTable").load(LoadUrl);
            })
         $(".filterbuttonpurchaseorder").click(function () {

                var StartDateVal = $(".min-date").val();
                var EndDateVal = $(".max-date").val();
                var pageNo = 1;
                var order = "";
               var StatusIDList = encodeURI($("#StatusID").val());
                var LoadUrl = domainurl + "/Reports/PurchaseOrderPartial/?SearchText=" + encodeURI($(".PurchaseOrderText").val()) + "&Start=" + StartDateVal + "&End=" + EndDateVal
                  + "&PageNo=" + pageNo + "&order=" + order + "&pagesize=20"+"&StatusIDList="+StatusIDList;
                $(".PurchaseOrderTable").html(TabsLoaderText);
                $(".PurchaseOrderTable").load(LoadUrl);
            })
            $("#btnPurchaseOrderDownload").click(function () {
                var StartDateVal = $(".min-date").val();
                var EndDateVal = $(".max-date").val();
                            var StatusIDList = encodeURI($("#StatusID").val());

                location.href = domainurl + "/Reports/DownloadPurchaseOrderReport/?Start=" + StartDateVal + "&End=" + EndDateVal + "&Searchtext=" + encodeURI($(".PurchaseOrderText").val()) +"&StatusIDList="+StatusIDList;

            })

        });
</script>



<div class="purchase_order_partial_container">
    <div class="purchase_order_partial_search_add">

        <div class="input-group add-on" style="margin-right:10px;">
            <input class="form-control PurchaseOrderText" @*id="PurchaseOrderText"*@ type="text" placeholder="Search By Order Id or Vendor" />

            <div class="input-group-btn"><button class="btn search_PurchaseOrder_btn green_button" id="btnPurchaseOrderSearch" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button></div>
        </div>
        <div class="bi_single_filter_div_style filter_fill" style="padding-left:6px;">
            <button class="btn btn-filter green_button" title="Filter">
                <i class="glyphicon glyphicon-filter"></i>
            </button>
        </div>
        <button class="report_btn lrp_float_right" id="btnPurchaseOrderDownload"><i class="fa fa-download"></i></button>

    </div>
    <div class="bi_single_filte_info_container">
        <div class="bi_single_filter_info_inner">

            <div class="bi_single_filter_info_inner_content" style="width:300px;"> @Html.DropDownList("StatusID", ViewBag.StatussList as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @title = "Select Status" })</div>

            </div>
        <div class="bi_single_filter_info_footer" style="float:right">
            <button class="btn search_BI_btn green_button filterbuttonpurchaseorder" title="@Localize.T("Apply Filter")"><i class="fa fa-check" aria-hidden="true"></i>@Localize.T(" Apply")</button>
            <button class="btn red_button" id="reset_btn_filter" onclick="ResetFilter()">@Localize.T("Reset")</button>

        </div>
        </div>
        <div class="PurchaseOrderTable">

        </div>
    </div>
