@{
    Layout = null;

}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@model HS.Entities.RecurringBillingScheduleReportModel
<script>
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";
    var pageno = '@ViewBag.PageNumber';
    var OpenRecurringBillingById = function (BillingId) {
        if (typeof (BillingId) != "undefined" && BillingId > 0) {
            OpenTopToBottomModal("/RecurringBilling/AddRecurringBilling/?Id=" + BillingId);
        }
    }

    $(document).ready(function () {

        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            RBSReportLoad(pageno, orderval);
        });
    });
</script>
<table class="table" id="RBSTable">
    <thead class="table-head-border">
        <tr>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Customer")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/customer"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/customer"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("RMR Amount")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/RMAAmount"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/RMAAmount"></i></div>

            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Payment Method")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/PaymentMethod"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/PaymentMethod"></i></div>

            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Billing Cycle")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/BillingCycle"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/BillingCycle"></i></div>

            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Billing Start Date")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/BillingStartDate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/BillingStartDate"></i></div>

            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Tax")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/TaxAmount"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/TaxAmount"></i></div>

            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Total")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/TotalBillAmount"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/TotalBillAmount"></i></div>

            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ScheduleList)
        {
            <tr>
                <td class="table-body-td-style">
                    <div class="rbrl_header">@Localize.T("Customer")<span>:</span></div>

                    <div class="rbrl_info">
                        <div><a title="@Localize.T("Customer Name")" class="cus-anchor" href="/Customer/Customerdetail/?id=@item.CustomerIntId" target="_blank">@item.CustomerName</a></div>

                        <div>Billing ID: <a class="cus-anchor" onclick="OpenRecurringBillingById(@item.Id)">@item.Id</a></div>

                        <div>Address: <span>@item.CustomerAddress</span></div>
                    </div>

                </td>
                <td class="table-body-td-style">
                    <div class="rbrl_header"> @Localize.T("RMR Amount") <span>:</span></div>
                    <div class="rbrl_info"><span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.BillAmount.ToString("#,##0.00")</span></div>
                </td>
                <td class="table-body-td-style">
                    <div class="rbrl_header"> @Localize.T("Payment Method") <span>:</span></div>
                    <div class="rbrl_info"><span>@item.PaymentMethod</span></div>
                </td>
                <td class="table-body-td-style">
                    <div class="rbrl_header">@Localize.T("Billing Cycle")  <span>:</span></div>
                    <div class="rbrl_info"> <span>@item.BillCycle</span></div>
                </td>
                <td class="table-body-td-style">
                    <div class="rbrl_header"> @Localize.T("Billing Start Date") <span>:</span></div>
                    <div class="rbrl_info"><span>@item.StartDate.ToString("MM/dd/yyyy")</span></div>
                </td>
                <td class="table-body-td-style">
                    <div class="rbrl_header">@Localize.T("Tax") <span>:</span></div>
                    <div class="rbrl_info"> <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.TaxAmount.ToString("#,##0.00")</span></div>
                </td>
                <td class="table-body-td-style">
                    <div class="rbrl_header"> @Localize.T("Total") <span>:</span></div>
                    <div class="rbrl_info"><span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.TotalBillAmount.ToString("#,##0.00")</span></div>
                </td>
            </tr>
        }
    <tr class="table_total_bg">
        <td class="table-body-td-style none">
            <b class="float_right">@Localize.T("Total:")</b>
        </td>
        <td class="table-body-td-style">
            <div class="rbrl_header">@Localize.T("Total RMR Amount") <span>:</span></div>
            <div class="rbrl_info">
                <b title="@Localize.T("Total RMR Amount")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalRMR.ToString("#,##0.00")</b>
            </div>
        </td>
        <td class="table-body-td-style none" colspan="3">
        </td>
        <td class="table-body-td-style">
            <div class="rbrl_header">@Localize.T("Total Tax") <span>:</span></div>
            <div class="rbrl_info">
                <b title="@Localize.T("Total Tax")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalTax.ToString("#,##0.00")</b>
            </div>
        </td>
        <td class="table-body-td-style">
            <div class="rbrl_header">@Localize.T("Subtotal") <span>:</span></div>
            <div class="rbrl_info">
                <b title="@Localize.T("Subtotal")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalBilling.ToString("#,##0.00")</b>
            </div>
        </td>
    </tr>

    </tbody>
</table>

<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="RBSReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="RBSReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="RBSReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="RBSReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="RBSReportLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="RBSReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="RBSReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="RBSReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="RBSReportLoad(3, @(ViewBag.order))">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="RBSReportLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="RBSReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="RBSReportLoad(@(ViewBag.PageNumber-2), @(ViewBag.order))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="RBSReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="RBSReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="RBSReportLoad()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="RBSReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="RBSReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="RBSReportLoad(@(ViewBag.PageNumber + 2), @(ViewBag.order))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="RBSReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="RBSReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="RBSReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="RBSReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="RBSReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="RBSReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="RBSReportLoad(@(ViewBag.PageNumber - 1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="RBSReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="RBSReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="RBSReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
        }
    </div>
</div>
