@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<div class="ReportsTitle">
    @Localize.T("RMA Details")
</div>
<table class="table" id="InventoryCountDetailsOnEndDateTable">
    <thead class="table-head-border">
        <tr>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Customer Id")</div>
                <div><i data-val="ascending/equipment"></i><i data-val="descending/equipment"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Customer Name")</div>
                <div><i data-val="ascending/equipment"></i><i data-val="descending/equipment"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Quantity")</div>
                <div><i data-val="ascending/quantity"></i><i data-val="descending/quantity"></i></div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RMADetailsList)
        {
            <tr>
                @if (@item.Quantity != 0)
                {
                    <td class="table-body-td-style">
                        @*<div>@Localize.T("Customer Id") <span>:</span></div>*@
                        <a class="cus-anchor" href="/Customer/CustomerDetail/?id=@item.CustomerId" target="_blank">@item.CustomerId</a>
                        @*<div>@item.CustomerId</div>*@
                    </td>
                    <td class="table-body-td-style">
                        @*<div>@Localize.T("Name") <span>:</span></div>*@
                        <div>@item.Name</div>
                    </td>
                    <td class="table-body-td-style">
                        @*<div>@Localize.T("Quantity") <span>:</span></div>*@
                        <div>@item.Quantity</div>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>


