@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
}
@using HS.Framework
@model HS.Entities.RMRCreditModel
<link href="~/Content/Select2/select2.css" rel="stylesheet" />

<script src="~/Content/Select2/Select2.min.js"></script>
<script>
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";
    var count3 = 1;
    var orderval = '@ViewBag.orderval';
    var pagesize;
    var Totalpagesize = '@ViewBag.Totalpagesize';
    var CurrentNumber = '@ViewBag.CurrentNumber';
    var PageNumber = '@ViewBag.PageNumber';
    var SearchText = '@ViewBag.searchtxt';
    var TotalBookingIDCount = '@ViewBag.OutOfNumber';
      var CustomerSearchKeyUp = function (pageno,order) {


        var StartDateVal = $(".min-date").val();
        var EndDateVal = $(".max-date").val();
        var SearchText = $(".RMRCreditText").val();



        $(".RMRCreditTable").html(TabsLoaderText);

        $(".RMRCreditTable").load(domainurl + "/Reports/RMRCreditPartialList/?logstartdate="+ StartDateVal + "&logenddate=" + EndDateVal + "&pageno=" + pageno + "&pagesize=20"  + "&SearchText=" + encodeURI(SearchText) +"&order="+order);
    }
        $(document).ready(function () {
              var StartDate = $(".min-date").val();
                var EndDate = $(".max-date").val();

                if (StartDate != "" && EndDate != "") {
                    StartDate = my_date_format(StartDate);
                    EndDate = my_date_format(EndDate);
                    console.log(StartDate + " " + EndDate);
                    if (StartDate == "NaN undefined, NaN") {
                        StartDate = "All Time";
                        EndDate = "";
                    }

                    $(".DateFilterContents .date-start").html("");
                    $(".DateFilterContents .date-end").html("");
                    $(".DateFilterContents .date-start").html(StartDate);
                    $(".DateFilterContents .date-end").html(EndDate);
                    $(".DateFilterContents .dropdown-filter").hide();
                }
                else {
                    $(".DateFilterContents .date-start").html("All Time");
                    $(".DateFilterContents .date-end").html("");
                    $(".DateFilterContents .dropdown-filter").hide();
            }
            $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            CustomerSearchKeyUp(PageNumber, orderval);
          });
        //new Pikaday({ format: 'MM/DD/YYYY', field: $('.min-date')[0] });
        //new Pikaday({ format: 'MM/DD/YYYY', field: $('.max-date')[0] });
        })

</script>
@Styles.Render("~/styles/_LoadLogPartialCS")
<table class="table" id="RMRInvoiceReportTable">
    <thead class="table-head-border">
        <tr>
            <th class="thead-th-style">
                <div>@Localize.T("Customer No")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/customer"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/customer"></i></div>
            </th>
            <th class="thead-th-style">
                <div>@Localize.T("Customer Name")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/customer"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/customer"></i></div>
            </th>
            <th class="thead-th-style">
                <div>@Localize.T("Status")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/date"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/date"></i></div>
            </th>
            <th class="thead-th-style">
                <div>@Localize.T("Credit User")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/user"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/user"></i></div>
            </th>
            <th class="thead-th-style">
                <div>@Localize.T("Credit Issue Date")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/change"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/change"></i></div>
            </th>
            <th class="thead-th-style">
                <div>@Localize.T("Credit")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/comment"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/comment"></i></div>
            </th>
            <th class="thead-th-style">
                <div>@Localize.T("Credit Used")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/comment"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/comment"></i></div>
            </th>  
            <th class="thead-th-style">
                <div>@Localize.T("Credit Available")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/comment"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/comment"></i></div>
            </th>
            <th class="thead-th-style">
                <div>@Localize.T("Credit Reason")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/comment"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/comment"></i></div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.RMRCreditList)
        {
            <tr>
                <td>@item.CustomerNo</td>
                <td><a href="/Customer/Customerdetail/?id=@item.CusId" class="cus-anchor" target="_blank">@item.CustomerName</a></td>
                <td>@item.CustomerStatus</td>
                <td>@item.CreditUser</td>
                <td>@item.CreditIssueDate.UTCToClientTime().ToString("M/d/yy")</td>
                <td><div class="rbrl_info"><span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.CreditAmount.ToString("#,##0.00")</span></div></td>
                <td>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Math.Abs(item.CreditUsedAmount).ToString("#,##0.00")</td>
                <td>
                    @{
                        var availableAmount = item.CreditAmount - Math.Abs(item.CreditUsedAmount);
                    }
                    @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@availableAmount.ToString("#,##0.00")
                </td>
                <td>@item.CreditReason</td>
            </tr>
        }

    </tbody>
</table>
<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber), @(ViewBag.order))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CustomerSearchKeyUp(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CustomerSearchKeyUp(2, @(ViewBag.order))">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CustomerSearchKeyUp(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CustomerSearchKeyUp(2, @(ViewBag.order))">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="CustomerSearchKeyUp(3, @(ViewBag.order))">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-2), @(ViewBag.order))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="CustomerSearchKeyUp()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 2), @(ViewBag.order))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber - 1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
        }
    </div>
</div>



