@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@*<link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
@*<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>*@
<script>
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    var windowHashChange = function () {
        /*This one is ued for loading tab from url*/

        if ($("[tabname='" + top.location.hash + "']").length > 0) {

            TabPopStateCheck = true;
            $("[tabname='" + top.location.hash + "']").click();
        }
    }


    var LoadRMRInvoiceReportTab = function () {
        $("#RMRInvoiceReportTab").html(TabsLoaderText);
        $("#RMRInvoiceReportTab").load(domainurl + "/Reports/RMRInvoicePartial");

    }

    var LoadRMRHistoryReportTab = function () {
        $("#RMRHistoryReportTab").html(TabsLoaderText);
        $("#RMRHistoryReportTab").load(domainurl + "/Reports/RMRHistoryPartial");
        console.log("history");

    }

    var LoadRMRLogReportTab = function () {
        $("#RMRLogReportTab").html(TabsLoaderText);
        $("#RMRLogReportTab").load(domainurl + "/Reports/RMRLogPartial");
    }
    var LoadRMRCreditReportTab = function () {
        $("#RMRCreditReportTab").html(TabsLoaderText);
        $("#RMRCreditReportTab").load(domainurl + "/Reports/RMRCreditPartial");
    }

    var LoadRMRAuditReportTab = function () {
        $("#RMRAuditReportTab").html(TabsLoaderText);
        $("#RMRAuditReportTab").load(domainurl + "/Reports/RMRAuditPartial");
    }

    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        //$("#RMRInvoiceReportTab").html(TabsLoaderText);
        //$("#RMRInvoiceReportTab").load(domainurl + "/Reports/RMRInvoicePartial");

        $(".RMRInvoiceReportTab").click(function () {
            LoadRMRInvoiceReportTab();
            //history.pushState({ urlpath: window.location.pathname }, window.location.hash, "#invoice");

        });

        $(".RMRHistoryReportTab").click(function () {
            LoadRMRHistoryReportTab();
            //history.pushState({ urlpath: window.location.pathname }, window.location.hash, "#history");

        });
        $(".RMRLogReportTab").click(function () {
            LoadRMRLogReportTab();
            //history.pushState({ urlpath: window.location.pathname }, window.location.hash, "#log");


        });
        $(".RMRAuditReportTab").click(function () {
            LoadRMRAuditReportTab();
            //history.pushState({ urlpath: window.location.pathname }, window.location.hash, "#audit");

        });
        $(".RMRCreditReportTab").click(function () {
            LoadRMRCreditReportTab();
            //history.pushState({ urlpath: window.location.pathname }, window.location.hash, "#credit");

        });
        $(".ReturnsCustomers").click(function () {
            var StartDate = $(".min-date").val();
            var EndDate = $(".max-date").val();
            $("#ReturnsCustomers").html(TabsLoaderText);
            $("#ReturnsCustomers").load(domainurl + "/Sales/AllReturns?StartDate=" + StartDate + "&EndDate=" + EndDate);
            //history.pushState({ urlpath: window.location.pathname }, window.location.hash, "#returns");

        });
        $(".RMRInvoiceReportTab").addClass('active');

        //if (window.location.hash == '#history') {
        //    //$(".RMRInvoiceReportTab").removeClass('active');
        //    //$(".RMRHistoryReportTab").addClass('active');
        //}
        //if (window.location.hash == '#history') {
        //    LoadRMRHistoryReportTab();
        //    console.log("123");
        //    $(".RMRInvoiceReportTab").removeClass('active');
        //    $(".RMRHistoryReportTab").addClass('active');

        //}
        //if (window.location.hash == '#log') {
        //    $(".RMRInvoiceReportTab").removeClass('active');
        //    $(".RMRLogReportTab").addClass('active');
        //}
        //if (window.location.hash == '#audit') {
        //    $(".RMRInvoiceReportTab").removeClass('active');
        //    $(".RMRAuditReportTab").addClass('active');
        //}
        //if (window.location.hash == '#credit') {
        //    $(".RMRInvoiceReportTab").removeClass('active');
        //    $(".RMRCreditReportTab").addClass('active');
        //}
        //if (window.location.hash == '#returns') {
        //    $(".RMRInvoiceReportTab").removeClass('active');
        //    $(".ReturnsCustomers").addClass('active');
        //}
        if (top.location.hash != '') {
            windowHashChange();
        }
        else {
            LoadRMRInvoiceReportTab();
        }

        $('ul#myTab li a').click(function (e) {
         
                window.history.pushState({ urlPath: window.location.pathname }, "", $(e.target).attr('tabname'));
               
        });

    })
    $(window).on('hashchange', function (e) {
        windowHashChange();
    });

</script>

<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">
    @Localize.T("Reports")
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>
</div>


<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs reports-tabs" id="myTab">
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.RMRInvoiceReport))
            {
                <li class="RMRInvoiceReportTab">
                    <a tabname="#RMRInvoiceReportTab" data-target="#RMRInvoiceReportTab" data-toggle="tab">@Localize.T("Invoice")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.RMRHistoryReport))
            {
                <li class="RMRHistoryReportTab">
                    <a tabname="#RMRHistoryReportTab" data-target="#RMRHistoryReportTab" data-toggle="tab">@Localize.T("History")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.RMRLogReport))
            {
                <li class="RMRLogReportTab">
                    <a tabname="#RMRLogReportTab" data-target="#RMRLogReportTab" data-toggle="tab">@Localize.T("Log")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.RMRCreditReport))
            {
                <li class="RMRCreditReportTab">
                    <a tabname="#RMRCreditReportTab" data-target="#RMRCreditReportTab" data-toggle="tab">@Localize.T("Credit")</a>
                </li>
            }
            @if (true)
            {
                <li class="RMRAuditReportTab">
                    <a tabname="#RMRAuditReportTab" data-target="#RMRAuditReportTab" data-toggle="tab">@Localize.T("Audit")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.RMRACHReturnsReport))
            {
                <li class="ReturnsCustomers">
                    <a tabname="#ReturnsCustomers" data-target="#ReturnsCustomers" data-toggle="tab">@Localize.T("ACH/CC Returns")</a>
                </li>
            }
        </ul>

        <div class="tab-content reports_tab_content">
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.RMRInvoiceReport))
            {
                <div class="tab-pane active" id="RMRInvoiceReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.RMRHistoryReport))
            {
                <div class="tab-pane" id="RMRHistoryReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.RMRLogReport))
            {
                <div class="tab-pane" id="RMRLogReportTab">

                </div>
            }
            @if (true)
            {
                <div class="tab-pane" id="RMRAuditReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.RMRLogReport))
            {
                <div class="tab-pane" id="RMRCreditReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.RMRACHReturnsReport))
            {
                <div class="tab-pane" id="ReturnsCustomers">

                </div>
            }
        </div>
    </div>

</div>

