@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
    <script>
       var pageno = '@ViewBag.PageNumber';
   
    $(document).ready(function () {

         $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            RWSReportLoad(pageno, orderval);
        });
    })
    </script>
<table class="table" id="RWSTable">
    <thead class="table-head-border">
        <tr>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Customer")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/customer"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/customer"></i></div>

            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Address")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/address"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/address"></i></div>

            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Phone No.")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/phone"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/phone"></i></div>

            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Email Address")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/email"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/email"></i></div>

            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Lead Source")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/leadsource"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/leadsource"></i></div>

            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Status")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/status"></i></div>

            </th>
            <th class="th_timeclock_pre rwst_list">
                <span>@Localize.T("RWS T 01 - 05")</span>
                @*<div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/onetofive"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/onetofive"></i></div>*@

            </th>
            <th class="th_timeclock_pre rwst_list">
                <span>@Localize.T("RWS T 06 - 10")</span>
                @*<div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/sixtoten"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/sixtoten"></i></div>*@

            </th>
            <th class="th_timeclock_pre rwst_list">
                <span>@Localize.T("RWS T 11 - 15")</span>
                @*<div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/eleventofifteen"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/eleventofifteen"></i></div>*@

            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RWSTDataList)
        {
            <tr>
                <td class="table-body-td-style">
                    <div class="rws_mb_header">@Localize.T("Customer Name")<span>:</span></div>
                    <div class="rws_mb_info">
                        @{
                            if (!string.IsNullOrWhiteSpace(item.Name))
                            {
                                <div><a class="cus-anchor" href="/Customer/Customerdetail/?id=@item.Id" target="_blank">@item.Name</a></div>
                               
                                <div>ID: <a class="cus-anchor" href="/Customer/Customerdetail/?id=@item.Id" target="_blank">@item.Id</a></div>

                            }
                            else
                            {
                                <div>ID: <a class="cus-anchor" href="/Customer/Customerdetail/?id=@item.Id" target="_blank">@item.Id</a></div>
                            }
                        }
                    </div>
                    @*<div class="ticket_list_partial_device_info">
                        <a class="cus-anchor" href="/Customer/CustomerDetail/?id=@item.Id" target="_blank">@item.Name</a>

                    </div>*@
                </td>
                <td class="table-body-td-style">
                    <div class="rws_mb_header"> @Localize.T("Address") <span>:</span></div>
                    <div class="rws_mb_info"><span>@item.Address</span></div>
                </td>
                <td class="table-body-td-style">
                    <div class="rws_mb_header"> @Localize.T("Phone No.") <span>:</span></div>
                    <div class="rws_mb_info"><span>@item.Phone</span></div>
                </td>
                <td class="table-body-td-style">
                    <div class="rws_mb_header">
                        @Localize.T("Email Address")  <span>:</span>
                    </div>
                    <div class="rws_mb_info"> <span>@item.Email</span></div>
                </td>
                @if (item.LeadSource == "-1")
                {
                    <td class="table-body-td-style">
                        <div class="rws_mb_header">@Localize.T("Lead Source") <span>:</span></div>
                        <div class="rws_mb_info"><span> </span></div>
                    </td>
                }
                else
                {
                    <td class="table-body-td-style">
                        <div class="rws_mb_header">@Localize.T("Lead Source") <span>:</span></div>
                        <div class="rws_mb_info"><span>@item.LeadSource</span></div>
                    </td>
                }
                <td class="table-body-td-style">
                    <div class="rws_mb_header"> @Localize.T("Status") <span>:</span></div>
                    <div class="rws_mb_info"><span>@item.Status</span></div>
                </td>
                <td class="table-body-td-style">
                    <div class="rws_mb_header"> @Localize.T("RWS T 01 - 05") <span>:</span></div>
                    <div class="rws_mb_info">
                        <div class="rwst_row">
                            <div class="rwst_header">@Localize.T("01:")</div>
                            <div class="rwst_info">
                                @if (item.RWST1 == "-1")
                                {
                                    <span> </span>
                                }
                                else
                                {

                                    <span>@item.RWST1</span>

                                }
                            </div>
                        </div>
                        <div class="rwst_row">
                            <div class="rwst_header">@Localize.T("02:")</div>
                            <div class="rwst_info">
                                @if (item.RWST2 == "-1")
                                {
                                    <span></span>
                                }
                                else
                                {

                                    <span>@item.RWST2</span>

                                }
                            </div>
                        </div>
                        <div class="rwst_row">
                            <div class="rwst_header">@Localize.T("03:")</div>
                            <div class="rwst_info">
                                @if (item.RWST3 == "-1")
                                {
                                    <span></span>
                                }
                                else
                                {

                                    <span>@item.RWST3</span>

                                }
                            </div>
                        </div>
                        <div class="rwst_row">
                            <div class="rwst_header">@Localize.T("04:")</div>
                            <div class="rwst_info">
                                @if (item.RWST4 == "-1")
                                {
                                    <span></span>
                                }
                                else
                                {

                                    <span> @item.RWST4</span>

                                }
                            </div>
                        </div>
                        <div class="rwst_row">
                            <div class="rwst_header">@Localize.T("05:")</div>
                            <div class="rwst_info">
                                @if (item.RWST5 == "-1")
                                {
                                    <span></span>
                                }
                                else
                                {

                                    <span>@item.RWST5</span>

                                }
                            </div>
                        </div>
                    </div>
                </td>
                <td class="table-body-td-style">
                    <div class="rws_mb_header"> @Localize.T("RWS T 06 - 10") <span>:</span></div>
                    <div class="rws_mb_info">
                        <div class="rwst_row">
                            <div class="rwst_header">@Localize.T("06:")</div>
                            <div class="rwst_info">
                                @if (item.RWST6 == "-1")
                                {
                                    <span></span>
                                }
                                else
                                {

                                    <span> @item.RWST6</span>

                                }
                            </div>
                        </div>
                        <div class="rwst_row">
                            <div class="rwst_header">@Localize.T("07:")</div>
                            <div class="rwst_info">
                                @if (item.RWST7 == "-1")
                                {
                                    <span></span>
                                }
                                else
                                {

                                    <span>@item.RWST7</span>

                                }
                            </div>
                        </div>
                        <div class="rwst_row">
                            <div class="rwst_header">@Localize.T("08:")</div>
                            <div class="rwst_info">
                                @if (item.RWST8 == "-1")
                                {
                                    <span></span>
                                }
                                else
                                {

                                    <span> @item.RWST8</span>

                                }
                            </div>
                        </div>
                        <div class="rwst_row">
                            <div class="rwst_header">@Localize.T("09:")</div>
                            <div class="rwst_info">
                                @if (item.RWST9 == "-1")
                                {
                                    <span></span>
                                }
                                else
                                {

                                    <span>@item.RWST9</span>

                                }
                            </div>
                        </div>
                        <div class="rwst_row">
                            <div class="rwst_header">@Localize.T("10:")</div>
                            <div class="rwst_info">
                                @if (item.RWST10 == "-1")
                                {
                                    <span></span>
                                }
                                else
                                {

                                    <span>@item.RWST10</span>

                                }
                            </div>
                        </div>
                    </div>
                </td>
                <td class="table-body-td-style">
                    <div class="rws_mb_header"> @Localize.T("RWS T 11 - 15") <span>:</span></div>
                    <div class="rws_mb_info">
                        <div class="rwst_row">
                            <div class="rwst_header">@Localize.T("11:")</div>
                            <div class="rwst_info">
                                @if (item.RWST11 == "-1")
                                {
                                    <span></span>
                                }
                                else
                                {

                                    <span>@item.RWST11</span>

                                }
                            </div>
                        </div>
                        <div class="rwst_row">
                            <div class="rwst_header">@Localize.T("12:")</div>
                            <div class="rwst_info">
                                @if (item.RWST12 == "-1")
                                {
                                    <span></span>
                                }
                                else
                                {

                                    <span>@item.RWST12</span>

                                }
                            </div>
                        </div>
                        <div class="rwst_row">
                            <div class="rwst_header">@Localize.T("13:")</div>
                            <div class="rwst_info">
                                @if (item.RWST13 == "-1")
                                {
                                    <span></span>
                                }
                                else
                                {

                                    <span>@item.RWST13</span>

                                }
                            </div>
                        </div>
                        <div class="rwst_row">
                            <div class="rwst_header">@Localize.T("14:")</div>
                            <div class="rwst_info">
                                @if (item.RWST14 == "-1")
                                {
                                    <span></span>
                                }
                                else
                                {

                                    <span>@item.RWST14</span>

                                }
                            </div>
                        </div>
                        <div class="rwst_row">
                            <div class="rwst_header">@Localize.T("15:")</div>
                            <div class="rwst_info">
                                @if (item.RWST15 == "-1")
                                {
                                    <span></span>
                                }
                                else
                                {

                                    <span>@item.RWST15</span>

                                }
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="RWSReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="RWSReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="RWSReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="RWSReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="RWSReportLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="RWSReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="RWSReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="RWSReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="RWSReportLoad(3, @(ViewBag.order))">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="RWSReportLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="RWSReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="RWSReportLoad(@(ViewBag.PageNumber-2), @(ViewBag.order))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="RWSReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="RWSReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="RWSReportLoad()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="RWSReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="RWSReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="RWSReportLoad(@(ViewBag.PageNumber + 2), @(ViewBag.order))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="RWSReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="RWSReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="RWSReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="RWSReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="RWSReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="RWSReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="RWSReportLoad(@(ViewBag.PageNumber - 1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="RWSReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="RWSReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="RWSReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
        }
    </div>
</div>
