@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>

<link href="~/Content/Select2/select2.css" rel="stylesheet" />

<script src="~/Content/Select2/Select2.min.js"></script>

<script>
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    var DataTablePageSize = 50;
    var PayrollStartDatepicker;
    var PayrollEndDatepicker;
    var startTab = '@ViewBag.StartTab'
    var LoadSalesReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Sales_Report").html(TabsLoaderText);
        $(".Load_Sales_Report").load(domainurl + "/Reports/LoadSalesReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&pageno=1&pagesize=50");
    }

    var LoadInvoiceListReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Invoice_List_Report").html(TabsLoaderText);
        $(".Invoice_List_Report").load(domainurl + "/Reports/LoadInvoiceListReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&pageno=1&pagesize=50");
    }

    var LoadEstimateListReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Estimate_List_Report").html(TabsLoaderText);
        $(".Estimate_List_Report").load(domainurl + "/Reports/LoadEstimateListReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&pageno=1&pagesize=50");
    }

    var LoadCollectionReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Collection_List_Report").html(TabsLoaderText);
        $(".Collection_List_Report").load(domainurl + "/Reports/LoadCollectionReportPartial?pageno=1" + "&pagesize=20" +"&Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var LoadRecurringBillingTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $("#LoadRecurringBillingTab").html(TabsLoaderText);
        $("#LoadRecurringBillingTab").load(domainurl + "/Reports/RecurringBillingReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var LoadSalesSummaryTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $("#LoadSalesSummaryTab").html(TabsLoaderText);
        $("#LoadSalesSummaryTab").load(domainurl + "/Reports/SalesSummaryReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&pageno=1&pagesize=20");
    }
    var LoadNewSalesTab = function () {
        $("#LoadNewSalesTab").html(TabsLoaderText);
        $("#LoadNewSalesTab").load(domainurl + "/Reports/NewSalesReportPartial");
    }
    var LoadVariableCostTab = function () {
        $("#LoadVariableCostTab").html(TabsLoaderText);
        $("#LoadVariableCostTab").load(domainurl + "/Reports/VariableCostPartial");
    }
    var LoadTechUpSalesTab = function () {
        $("#LoadTechUpSalesTab").html(TabsLoaderText);
        $("#LoadTechUpSalesTab").load(domainurl + "/Reports/TechUpSalesPartial");
    }
    var LoadRecurringBillingReportTab = function () {
        $("#LoadRecurringBillingReportTab").html(TabsLoaderText);
        $("#LoadRecurringBillingReportTab").load(domainurl + "/Reports/RecurringBillingReport");
    }
    var LoadInstalledDealsReport = function () {
        $("#LoadInstalledDealsReport").html(TabsLoaderText);
        $("#LoadInstalledDealsReport").load(domainurl + "/Reports/InstalledDealsReport");
    }

    var LoadServiceSalesReport = function () {
        $("#LoadServiceSalesReport").html(TabsLoaderText);
        $("#LoadServiceSalesReport").load(domainurl + "/Reports/LoadServiceSalesReport");
    }
    var LoadTaxCollectionReport = function () {
        $("#LoadTaxCollectionReport").html(TabsLoaderText);
        $("#LoadTaxCollectionReport").load(domainurl + "/Reports/TaxCollectionReport?viewtype=webview" + "&PageNo=1" + "&PageSize=20");
    }
    var LoadSalesPersonReport = function () {
        $("#LoadSalesPersonReport").html(TabsLoaderText);
        $("#LoadSalesPersonReport").load(domainurl + "/Reports/SalesPersonReport");
    }
    var LoadNewSales2Tab = function () {
        $("#LoadNewSales2Tab").html(TabsLoaderText);
        $("#LoadNewSales2Tab").load(domainurl + "/Reports/NewSales2ReportPartial");
    }
    var my_date_format = function (input) {
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        //LoadSalesReportTab();

        if (startTab == "SalesReportSalesTab") {

            LoadSalesReportTab();
        }
        else if (startTab == "SalesReportRecurringBillingTab") {
            $("#LoadRecurringBillingTab").addClass('active');
            $(".LoadRecurringBillingTab").addClass('active');
            LoadRecurringBillingTab();
        }
        else if (startTab == "SalesReportSummaryTab") {
            $("#LoadSalesSummaryTab").addClass('active');
            $(".LoadSalesSummaryTab").addClass('active');
            LoadSalesSummaryTab();
        }
        else if (startTab == "SalesReportNewSalesTab") {
            $("#LoadNewSalesTab").addClass('active');
            $(".LoadNewSalesTab").addClass('active');
            LoadNewSalesTab();
        }
        else if (startTab == "SalesReportVariableCostTab") {
            $("#LoadVariableCostTab").addClass('active');
            $(".LoadVariableCostTab").addClass('active');
            LoadVariableCostTab();
        }
        else if (startTab == "SalesReportTechUpSalesTab") {
            $("#LoadTechUpSalesTab").addClass('active');
            $(".LoadTechUpSalesTab").addClass('active');
            LoadTechUpSalesTab();
        }
        else if (startTab == "SalesReportInvoiceListTab") {
            $("#InvoiceListReportTab").addClass('active');
            $(".InvoiceListReportTab").addClass('active');
            LoadInvoiceListReportTab();
        }
        else if (startTab == "SalesReportEstimateListTab") {
            $("#EstimateListReportTab").addClass('active');
            $(".EstimateListReportTab").addClass('active');
            LoadEstimateListReportTab();
        }
        else if (startTab == "SalesReportCollectionTab") {
            $("#CollectionReportTab").addClass('active');
            $(".CollectionReportTab").addClass('active');
            LoadCollectionReportTab();
        }
        else if (startTab == "RecurringBillingReportTab") {
            $("#LoadRecurringBillingReportTab").addClass('active');
            $(".LoadRecurringBillingReportTab").addClass('active');
            LoadRecurringBillingReportTab();
        }
        else if (startTab == "InstalledDealsReport") {
            $("#LoadInstalledDealsReport").addClass('active');
            $(".LoadInstalledDealsReport").addClass('active');
            LoadInstalledDealsReport();
        }
        else if (startTab == "ServiceSalesReport") {
            $("#LoadServiceSalesReport").addClass('active');
            $(".LoadServiceSalesReport").addClass('active');
            LoadServiceSalesReport();
        }
        else if (startTab == "TaxCollectionReport") {
            $("#LoadTaxCollectionReport").addClass('active');
            $(".LoadTaxCollectionReport").addClass('active');
            LoadTaxCollectionReport();
        }
        else if (startTab == "SalesPersonReport") {
            $("#LoadSalesPersonReport").addClass('active');
            $(".LoadSalesPersonReport").addClass('active');
            LoadSalesPersonReport();
        }
        else if (startTab == "SalesReportNewSales2Tab") {
            $("#LoadNewSales2Tab").addClass('active');
            $(".LoadNewSales2Tab").addClass('active');
            LoadNewSales2Tab();
        }
        $(".SalesReportTab").click(function () {
            LoadSalesReportTab();
        });
        $(".LoadRecurringBillingTab").click(function () {
            LoadRecurringBillingTab();
        });
        $(".LoadSalesSummaryTab").click(function () {
            LoadSalesSummaryTab();
        });
        $(".LoadNewSalesTab").click(function () {
            LoadNewSalesTab();
        });
        $(".LoadVariableCostTab").click(function () {
            LoadVariableCostTab();
        });
         $(".LoadTechUpSalesTab").click(function () {
            LoadTechUpSalesTab();
        });
        $(".InvoiceListReportTab").click(function () {
            LoadInvoiceListReportTab();
        });
        $(".EstimateListReportTab").click(function () {
            LoadEstimateListReportTab();
        });
        $(".CollectionReportTab").click(function () {

            LoadCollectionReportTab();
        });
        $(".LoadRecurringBillingReportTab").click(function () {
            LoadRecurringBillingReportTab();
        });
        $(".LoadInstalledDealsReport").click(function () {
            LoadInstalledDealsReport();
        });
          $(".LoadServiceSalesReport").click(function () {
            LoadServiceSalesReport();
        });
        $(".LoadTaxCollectionReport").click(function () {
            LoadTaxCollectionReport();
        });
        $(".LoadSalesPersonReport").click(function () {
            LoadSalesPersonReport();
        });
        $(".LoadNewSales2Tab").click(function () {
            LoadNewSales2Tab();
        });
        $("#sales_txt_search").keyup(function (event) {
            event.preventDefault();
            if (event.keyCode == 13) {
                FilterSalesReport1(1)
            }
        })
        $(".page-wrapper-contents").scroll(function (e) {
            var orderval = $(this).attr('data-val');

            e.preventDefault();

            if ($(e.target).scrollTop() + $(e.target).innerHeight() >= $(e.target)[0].scrollHeight) {
                $("#myTab li").each(function () {
                    if ($(this).hasClass('SalesReportTab active')) {
                        FilterSalesReport(1, orderval);
                    }
                    if ($(this).hasClass('InvoiceListReportTab active')) {
                        console.log("scroll");
                        FilterInvoiceReport2(1, orderval);
                    }
                    if ($(this).hasClass('EstimateListReportTab active')) {
                        console.log("scroll");
                        FilterEstimateReport2(1, orderval);
                    }
                    //else if ($(this).hasClass('CollectionReportTab active')) {
                    //    console.log("scroll");
                    //    FilterCollectionReport1(1, orderval);
                    //}
                })
            }
        })

        $(".DateFilterContents .btn-apply-Datefilter").unbind().click(function () {
            var DateFrom = $(".min-date").val();
            var DateTo = $(".max-date").val();
            UpdatePtoCookie();

            if ($(".SalesReportTab").hasClass("active")) {
                FilterSalesReport1(1);
            }
            else if ($(".LoadSalesSummaryTab").hasClass("active")) {
                FilterSalesSummary(1);
            }
            else if ($(".LoadNewSalesTab").hasClass("active")) {
                FilterNewSales(1);
            }
            else if ($(".LoadVariableCostTab").hasClass("active")) {
                FilterVariableCost(1);
            }
            else if ($(".LoadTechUpSalesTab").hasClass("active")) {
                FilterTechUpSales(1);
            }
            else if ($(".LoadRecurringBillingTab").hasClass("active")) {
                FilterRecurringBilling();
            }
            else if ($(".InvoiceListReportTab").hasClass("active")) {
                LoadInvoiceListReportTab();
                FilterInvoiceReport1(1);
            }
            else if ($(".EstimateListReportTab").hasClass("active")) {
                FilterEstimateReport1(1);
            }
            else if ($(".CollectionReportTab").hasClass("active")) {
                LoadCollectionReportTab();
                FilterCollectionReport1(1, null);
            }
            else if ($(".LoadTaxCollectionReport").hasClass("active")) {
                TaxCollListLoad(1, null);
            }
            else if ($(".LoadNewSales2Tab").hasClass("active")) {
                FilterNewSales(1);
            }
            var StartDate = my_date_format($(".DateFilterContents .min-date").val());
            var EndDate = my_date_format($(".DateFilterContents .max-date").val())
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();

        });
        $('ul.payroll_report_top_nav li a').click(function (e) {
            if (!TabPopStateCheck) {
                window.history.pushState({ urlPath: window.location.pathname }, "", $(e.target).attr('tabname'));
            }
            TabPopStateCheck = false;
        });
        if (top.location.hash != '') {
            if ($("[tabname='" + top.location.hash + "']").length > 0) {
                TabPopStateCheck = true;
                $("[tabname='" + top.location.hash + "']").click();
            }
        }
    });

</script>
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">
    @Localize.T("Reports")
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>
</div>


<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs payroll_report_top_nav" id="myTab">

            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportSalesTab))
            {
                <li class="SalesReportTab active">
                    <a tabname="#SalesReportTab" idval="" data-target="#SalesReportTab" data-toggle="tab">@Localize.T("Sales")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportRecurringBillingTab))
            {
                <li class="LoadRecurringBillingTab">
                    <a tabname="#RecurringBillingTab" idval="" data-target="#LoadRecurringBillingTab" data-toggle="tab">@Localize.T("Recurring Billing")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportSummaryTab))
            {
                <li class="LoadSalesSummaryTab">
                    <a tabname="#SalesSummaryTab" idval="" data-target="#LoadSalesSummaryTab" data-toggle="tab">@Localize.T("Summary")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportInvoiceListTab))
            {
                <li class="InvoiceListReportTab">
                    <a tabname="#InvoiceListTab" idval="" data-target="#InvoiceListReportTab" data-toggle="tab">@Localize.T("Invoice List")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportCollectionTab))
            {
                <li class="CollectionReportTab">
                    <a tabname="#CollectionTab" idval="" data-target="#CollectionReportTab" data-toggle="tab">@Localize.T("Collection")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportNewSalesTab))
            {
                <li class="LoadNewSalesTab">
                    <a tabname="#NewSalesTab" idval="" data-target="#LoadNewSalesTab" data-toggle="tab">@Localize.T("New Sales")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportVariableCostTab))
            {
                <li class="LoadVariableCostTab">
                    <a tabname="#VariableCostTab" idval="" data-target="#LoadVariableCostTab" data-toggle="tab">@Localize.T("Variable Cost")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportTechUpSalesTab))
            {
                <li class="LoadTechUpSalesTab">
                    <a tabname="#TechUpSalesTab" idval="" data-target="#LoadTechUpSalesTab" data-toggle="tab">@Localize.T("Tech Up-sales")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.RecurringBillingReportTab))
            {
                <li class="LoadRecurringBillingReportTab">
                    <a tabname="#RecurringBillingReportTab" idval="" data-target="#LoadRecurringBillingReportTab" data-toggle="tab">@Localize.T("Recurring Billing List")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InstalledDealsReport))
            {
                <li class="LoadInstalledDealsReport">
                    <a tabname="#InstalledDealsReport" idval="" data-target="#LoadInstalledDealsReport" data-toggle="tab">@Localize.T("Installed Deals")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.ServiceSalesReport))
            {
                <li class="LoadServiceSalesReport">
                    <a tabname="#ServiceSalesReport" idval="" data-target="#LoadServiceSalesReport" data-toggle="tab">@Localize.T("Service Sales")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.EstimateReportListTab))
            {
                <li class="EstimateListReportTab">
                    <a tabname="#EstimateListTab" idval="" data-target="#EstimateListReportTab" data-toggle="tab">@Localize.T("Estimates")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesPersonReport))
            {
                <li class="LoadSalesPersonReport">
                    <a tabname="#SalesPersonReport" idval="" data-target="#LoadSalesPersonReport" data-toggle="tab">@Localize.T("Sales Person")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.TaxCollectionReport))
            {
                <li class="LoadTaxCollectionReport">
                    <a tabname="#TaxCollectionReport" idval="" data-target="#LoadTaxCollectionReport" data-toggle="tab">@Localize.T("Tax Collection")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportNewSalesTab))
            {
                <li class="LoadNewSales2Tab">
                    <a tabname="#NewSales2Tab" idval="" data-target="#LoadNewSales2Tab" data-toggle="tab">@Localize.T("New Sales 2")</a>
                </li>
            }
        </ul>
        <div class="tab-content reports_tab_content">
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportSalesTab))
            {
                <div class="tab-pane active" id="SalesReportTab">

                    <div class="Load_Sales_Report">

                    </div>

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportRecurringBillingTab))
            {
                <div class="tab-pane" id="LoadRecurringBillingTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportSummaryTab))
            {
                <div class="tab-pane" id="LoadSalesSummaryTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportInvoiceListTab))
            {
                <div class="tab-pane active" id="InvoiceListReportTab">
                    <div class="Invoice_List_Report">
                    </div>
                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportCollectionTab))
            {
                <div class="tab-pane" id="CollectionReportTab">
                    <div class="Collection_List_Report">
                    </div>
                </div>
            }

            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportNewSalesTab))
            {
                <div class="tab-pane" id="LoadNewSalesTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportVariableCostTab))
            {
                <div class="tab-pane" id="LoadVariableCostTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportTechUpSalesTab))
            {
                <div class="tab-pane" id="LoadTechUpSalesTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.RecurringBillingReportTab))
            {
                <div class="tab-pane" id="LoadRecurringBillingReportTab">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InstalledDealsReport))
            {
                <div class="tab-pane" id="LoadInstalledDealsReport">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.InstalledDealsReport))
            {
                <div class="tab-pane" id="LoadServiceSalesReport">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.EstimateReportListTab))
            {
                <div class="tab-pane active" id="EstimateListReportTab">
                    <div class="Estimate_List_Report">
                    </div>
                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesPersonReport))
            {
                <div class="tab-pane" id="LoadSalesPersonReport">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.TaxCollectionReport))
            {
                <div class="tab-pane" id="LoadTaxCollectionReport">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SalesReportNewSalesTab))
            {
                <div class="tab-pane" id="LoadNewSales2Tab">

                </div>
            }

        </div>
    </div>
</div>


