@model HS.Entities.PackageCustomerModel
@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency();

}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions



<script>
      var pageno = '@ViewBag.PageNumber';

</script>

@Styles.Render("~/styles/SalesSummaryReportPartial")
@Scripts.Render("~/scripts/SalesSummaryReportPartial")

<div class="sales_summery_report_top_bar">
    <div class="input-group add-on">
        @if (ViewBag.searchtext != "" && ViewBag.searchtext != "undefined")
        {
            <input class="form-control" placeholder="Search By Customer" value="@ViewBag.searchtext" id="sales_summary_search_text" />
        }
        else
        {
            <input class="form-control" placeholder="Search Text" value="" id="sales_summary_search_text" />
        }

        <div class="input-group-btn"> <button class="btn green_button" onclick="FilterSalesSummary(1)" id="btn_sales_summary" title="@Localize.T("Search")"><i class="fa fa-search"></i></button></div>
    </div>
    <button title="@Localize.T(" Download")" class="btn btn-primary" id="btnSalesSummary"><i class="fa fa-download"></i></button>
</div>
<div class="col-md-12">
    &nbsp;
</div>

<div class="Sales_summ_report_table">

    <table class="loadticketreportlist_table recur_bill_report_table">
        <thead class="table-head-border">
            <tr>
                <th class="thead-th-style">
                    <div>@Localize.T("Customer Count")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Activation & Non Confirming Fee")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("RMR")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Equipment")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Service Fee")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Advance Monitoting")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Without Tax")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Tax")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Total")</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-style">
                <td class="table-body-td-style" valign="top">
                    <span> @string.Format("{0:#,##0}", ViewBag.OutOfNumber)</span>
                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency @string.Format("{0:#,##0.00}", Model.SumTotalAdditionFee)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency @string.Format("{0:#,##0.00}", Model.SumTotalFirstMonth)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency @string.Format("{0:#,##0.00}", Model.SumTotalEquipmentAmount)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency @string.Format("{0:#,##0.00}", Model.SumTotalServiceFee)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency @string.Format("{0:#,##0.00}", Model.SumTotalAdvancedMonitoring)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency @string.Format("{0:#,##0.00}", Model.SumTotalWoTax)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency @string.Format("{0:#,##0.00}", Model.SumTotalTax)</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency @string.Format("{0:#,##0.00}", Model.SumTotalSalesTax)</span>

                </td>
            </tr>
        </tbody>

    </table>
    <table class="loadticketreportlist_table recur_bill_report_table">
        <thead class="table-head-border">
            <tr>
                <th class="ssr_name thead-th-style"> <div>@Localize.T("Customer")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/customername"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/customername"></i></div></th>
                <th class="thead-th-style"> <div>@Localize.T("Activation & Non Conforming Fee")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/activationfee"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/activationfee"></i></div></th>
                <th class="thead-th-style"> <div>@Localize.T("RMR")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/RMR"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/RMR"></i></div></th>
                <th class="thead-th-style"> <div>@Localize.T("Equipment")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/equipment"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/equipment"></i></div></th>
                <th class="thead-th-style"> <div>@Localize.T("Service Fee")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/servicefee"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/servicefee"></i></div></th>
                <th class="thead-th-style"> <div>@Localize.T("Advanced Monitoring")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/advancedmonitoring"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/advancedmonitoring"></i></div></th>
                <th class="thead-th-style"> <div>@Localize.T("Tax")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/tax"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/tax"></i></div></th>
                <th class="thead-th-style"> <div>@Localize.T("Total")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/salesaftertax"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/salesaftertax"></i></div></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.packageCustomers)
            {
                <tr class="tr-style">
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Customer")</div>
                        @{
                            if (item.SummaryStatus == "Customer")
                            {
                                <div class="ticket_list_partial_device_info">
                                    <a class="cus-anchor" href="/Customer/CustomerDetail/?id=@item.Id" target="_blank">@item.CustomerNum</a>
                                </div>
                                <span>(@item.Id)</span>

                            }
                            else
                            {
                                <div class="ticket_list_partial_device_info">
                                    <a class="cus-anchor" href="/Lead/Leadsdetail/?id=@item.Id" target="_blank">@item.CustomerNum</a>
                                </div>
                                <span>(@item.Id)</span>
                            }
                        }
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Activation Fee & Non Conforming Fee")</div>
                        <div class="ticket_list_partial_device_info">
                            $@string.Format("{0:#,##0.00}", item.AdditionFee)
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("RMR")</div>
                        <div class="ticket_list_partial_device_info">
                            $@string.Format("{0:#,##0.00}", item.FirstMonths)
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Equipment")</div>
                        <div class="ticket_list_partial_device_info">
                            $@string.Format("{0:#,##0.00}", item.EquipmentAmount)
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Service Fee")</div>
                        <div class="ticket_list_partial_device_info">
                            $@string.Format("{0:#,##0.00}", item.ServiceFee)
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Advanced Monitoring")</div>
                        <div class="ticket_list_partial_device_info">
                            $@string.Format("{0:#,##0.00}", item.AdvancedMonitoring)
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Tax")</div>
                        <div class="ticket_list_partial_device_info">
                            $@string.Format("{0:#,##0.00}", item.Tax)
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Sales After Tax")</div>
                        <div class="ticket_list_partial_device_info">
                            $@string.Format("{0:#,##0.00}", item.SalesTax)
                        </div>
                    </td>

                </tr>
            }
            <tr class="table_total_bg">
                <td>
                    <b class="float_right">@Localize.T("Total:")</b>
                </td>
                <td>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Addition Fee")</div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Addition Fee")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalAdditionFee.ToString("#,##0.00")</b>
                    </div>
                </td>
                <td>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total First Month")</div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total First Month")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalFirstMonth.ToString("#,##0.00")</b>
                    </div>
                </td>
                <td>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Equipment Amount")</div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Equipment Amount")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalEquipmentAmount.ToString("#,##0.00")</b>
                    </div>
                </td>
                <td>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Service Fee")</div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Service Fee")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalServiceFee.ToString("#,##0.00")</b>
                    </div>
                </td>
                <td>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Advanced Monitoring")</div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Advanced Monitoring")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalAdvancedMonitoring.ToString("#,##0.00")</b>
                    </div>
                </td>
                <td>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Tax")</div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Tax")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalTax.ToString("#,##0.00")</b>
                    </div>
                </td>
                <td>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Sales Tax")</div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Sales Tax")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalSalesTax.ToString("#,##0.00")</b>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
</div>
<div class="AgentListPagination">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="FilterSalesSummary(@(ViewBag.PageNumber))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FilterSalesSummary(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FilterSalesSummary(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FilterSalesSummary(2)">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="FilterSalesSummary(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FilterSalesSummary(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FilterSalesSummary(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FilterSalesSummary(2)">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="FilterSalesSummary(3)">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="FilterSalesSummary(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterSalesSummary(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterSalesSummary(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterSalesSummary(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="FilterSalesSummary(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="FilterSalesSummary()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterSalesSummary(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterSalesSummary(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterSalesSummary(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="FilterSalesSummary(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterSalesSummary(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterSalesSummary(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterSalesSummary(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="FilterSalesSummary(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterSalesSummary(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterSalesSummary(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="FilterSalesSummary(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterSalesSummary(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="FilterSalesSummary(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
        }
    </div>
</div>
</div>


