
@model HS.Entities.EmployeeListMatrixCustomerModel
@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using AppConfig = HS.Framework.Utils.AppConfig;
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using HS.Framework
<script>

    var from = '@ViewBag.from'
    var startDate = '@ViewBag.StartDate'
    var endDate = '@ViewBag.EndDate'
    var ShowCustomerList = function (pageNo,order) {
        if (typeof (pageNo) == "undefined") {
            return;
        }

        $(".CustomerList").load(domainurl + "/Reports/SalesMatrixCustomerList?Start=" + startDate + "&End=" + endDate + "&EmpId=" + EmployeeId
            + "&PageNo=" + pageNo
            + "&pagesize=50"
            +"&from="+from
        );

    }

    $(document).ready(function () {

        var Popupwidth = 920;
        if (window.innerWidth < 920) {
            Popupwidth = window.innerWidth;
        }
    })


</script>


<link href="~/Content/Css/Sales/AllFundingData.css" rel="stylesheet" />
<div class="page-content-wrap cus-padding-top10p afd_container_custom">

    <div class="invoice-table-sales">
        <table class="display sales_invoice_table table">
            <thead class="table-head-border">
                <tr>
                    <th class="thead-th-style ColumnName" style="cursor:pointer;">
                        <div>@Localize.T("Customer Name")</div>

                    </th>
                    <th class="thead-th-style ColumnName" style="cursor:pointer;">
                        <div>@Localize.T("Cs Number")</div>

                    </th>
                    <th class="thead-th-style ColumnName" style="cursor:pointer;">
                        <div>@Localize.T("Lead Source")</div>

                    </th>
                    <th class="thead-th-style ColumnName" style="cursor:pointer;">
                        <div>@Localize.T("Lead Status")</div>

                    </th>
                    <th class="thead-th-style ColumnName" style="cursor:pointer;">
                        <div>@Localize.T("Appointment Set")</div>

                    </th>
                    <th class="thead-th-style ColumnName" style="cursor:pointer;">
                        <div>@Localize.T("First Call Close")</div>

                    </th>
                    <th class="thead-th-style ColumnName" style="cursor:pointer;">
                        <div>@Localize.T("RMR")</div>

                    </th>
                    <th class="thead-th-style ColumnName" style="cursor:pointer;">
                        <div>@Localize.T("Sale Date")</div>

                    </th>

                    <th class="thead-th-style ColumnName" style="cursor:pointer;">
                        <div>@Localize.T("Created Date")</div>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EmployeeListMatrixCustomerList)
                {
                    <tr class="tr-style">
                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("Customer Name") <span>:</span> </div>
                            <div>
                                <span><a class="cus-anchor" href="/Customer/Customerdetail/?id=@item.Id " target="_blank">@item.CustomerName</a></span>
                            </div>
                        </td>


                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("Cs Number") <span>:</span> </div>
                            <div>
                                <span>@item.CSNumber</span>
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("Lead Source") <span>:</span> </div>
                            <div>
                                @if (item.LeadSource != "Select One")
                                {
                                    <span>@item.LeadSource</span>
                                }

                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("Lead Status") <span>:</span> </div>
                            <div>
                                @if (item.LeadStatusVal != "Select One")
                                {
                                    <span>@item.LeadStatusVal</span>
                                }

                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("Appointment Set") <span>:</span> </div>
                            <div>
                                @if (!string.IsNullOrEmpty(item.AppoinmentSet) && item.AppoinmentSet != "-1")
                                {
                                    <span>@item.AppoinmentSet</span>
                                }
                                else
                                {
                                    <span>No</span>
                                }

                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("First Call Close") <span>:</span> </div>
                            <div>
                                @if (item.CreatedDay != null && item.CreatedDay != new DateTime() && item.SaleDate != null && item.SaleDate != new DateTime())
                                {
                                    if (item.CreatedDay.Date == item.SaleDate.Date)
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }

                                }
                                else
                                {
                                    <span>No</span>
                                }

                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("RMR") <span>:</span> </div>
                            @{
                                double MonitoringFee = new double();
                                double.TryParse(item.RMR, out MonitoringFee);
                            }
                            <div>
                                <span>@Currency@LabelHelper.FormatAmount(@MonitoringFee)</span>
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("Sale Date") <span>:</span> </div>
                            <div>
                                @if (item.SaleDate != null && item.SaleDate != new DateTime())
                                {
                                <span>@item.SaleDate.ToString("MM/dd/yyyy")</span>
                                }
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("Created Date") <span>:</span> </div>
                            <div>
                                @if (item.CreatedDay != null && item.CreatedDay != new DateTime())
                                {
                                    <span>@item.CreatedDay.ToString("MM/dd/yyyy")</span>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="AgentListPagination">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="ShowCustomerList(@(ViewBag.PageNumber),'@ViewBag.order')">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="ShowCustomerList(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@ViewBag.order')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="ShowCustomerList(1,'@ViewBag.order')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="ShowCustomerList(2,'@ViewBag.order')">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="ShowCustomerList(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""),'@ViewBag.order')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="ShowCustomerList(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@ViewBag.order')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="ShowCustomerList(1,'@ViewBag.order')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="ShowCustomerList(2,'@ViewBag.order')">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="ShowCustomerList(3,'@ViewBag.order')">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="ShowCustomerList(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""),'@ViewBag.order')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="ShowCustomerList(@(ViewBag.PageNumber-1),'@ViewBag.order')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="ShowCustomerList(@(ViewBag.PageNumber-2),'@ViewBag.order')">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="ShowCustomerList(@(ViewBag.PageNumber-1),'@ViewBag.order')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="ShowCustomerList(@(ViewBag.PageNumber),'@ViewBag.order')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="ShowCustomerList()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="ShowCustomerList(@(ViewBag.PageNumber-1),'@ViewBag.order')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="ShowCustomerList(@(ViewBag.PageNumber+1),'@ViewBag.order')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="ShowCustomerList(@(ViewBag.PageNumber + 2),'@ViewBag.order')">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="ShowCustomerList(@(ViewBag.PageNumber+1),'@ViewBag.order')">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="ShowCustomerList(@(ViewBag.PageNumber-1),'@ViewBag.order')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="ShowCustomerList(@(ViewBag.PageNumber-1),'@ViewBag.order')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="ShowCustomerList(@(ViewBag.PageNumber + 1),'@ViewBag.order')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="ShowCustomerList(@(ViewBag.PageNumber+1),'@ViewBag.order')">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="ShowCustomerList(@(ViewBag.PageNumber-1),'@ViewBag.order')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="ShowCustomerList(@(ViewBag.PageNumber - 1),'@ViewBag.order')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="ShowCustomerList(@(ViewBag.PageNumber),'@ViewBag.order')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="ShowCustomerList(@(ViewBag.PageNumber + 1),'@ViewBag.order')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="ShowCustomerList(@(ViewBag.PageNumber+1),'@ViewBag.order')">Next</button>
                </div>
            }
        }
    </div>
</div>
