@model HS.Entities.ServiceSalesModel
@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using LabelHelper = HS.Web.UI.Helper.LabelHelper

<script>
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";
    var pageno = '@ViewBag.PageNumber';


</script>

@Styles.Render("~/styles/InstalledDealsReportList")

<div class="Sales_summ_report_table">

    <table class="loadticketreportlist_table recur_bill_report_table">
        <thead class="table-head-border">
            <tr>
                <th class="thead-th-style">
                    <div>@Localize.T("Customers")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Smart")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Land line")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Cellular")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("GSP")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("PSP")</div>
                </th>
              
            </tr>
        </thead>
        <tbody>
            <tr class="tr-style">
                <td class="table-body-td-style" valign="top">
                    <span> @Model.Totalcount</span>
                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Model.SmartTotal</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Model.StandardTotal</span>

                </td>

                <td class="table-body-td-style" valign="top">
                    <span>@Model.CellularTotal</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Model.GSPTotal</span>

                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Model.PSPTotal</span>
                </td>

            </tr>
        </tbody>

    </table>

    <div class="new_sales_report_table_div">
        <table class="loadticketreportlist_table recur_bill_report_table new_sales_report_table table table-striped">
            <thead class="table-head-border">
                <tr>
                    <th class="thead-th-style new_header_customer"> <div>@Localize.T("Customer")</div></th>
                    <th class="thead-th-style new_header_sales"> <div>@Localize.T("Smart")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Land Line")</div></th>
                  
                    <th class="thead-th-style new_header"> <div>@Localize.T("Cellular")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("GSP")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("PSP")</div></th>
               
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.serviceSalesList)
                {
                    <tr class="tr-style">
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Customer")</div>
                            <div class="ticket_list_partial_device_info">
                                <a class="cus-anchor" href="/Customer/CustomerDetail/?id=@item.Id" target="_blank">@item.CustomerName</a>
                              
                            </div>
                        </td>
                      
                        <td class="table-body-td-style" valign="top">
                           @item.Smart
                        </td>
                        <td class="table-body-td-style" valign="top">
                            @item.Standard
                        </td>
                   
                        <td class="table-body-td-style" valign="top">
                            @item.Cellular
                        </td>
                        <td class="table-body-td-style" valign="top">
                            @item.GSP
                        </td>
                        <td class="table-body-td-style" valign="top">
                            @item.PSP
                        </td>
                     
                    </tr>
                }
                <tr class="table_total_bg">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2">
                        <b class="float_right">@Localize.T("Total:")</b>
                    </td>
                    <td>
                      @Model.Totalcount
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

</div>
<div class="AgentListPagination">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="LoadServiceSalesList(@(ViewBag.PageNumber))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="LoadServiceSalesList(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="LoadServiceSalesList(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="LoadServiceSalesList(2)">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="LoadServiceSalesList(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="LoadServiceSalesList(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="LoadServiceSalesList(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="LoadServiceSalesList(2)">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="LoadServiceSalesList(3)">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="LoadServiceSalesList(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="LoadServiceSalesList(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadServiceSalesList(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadServiceSalesList(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="LoadServiceSalesList(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="LoadServiceSalesList()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="LoadServiceSalesList(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadServiceSalesList(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadServiceSalesList(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="LoadServiceSalesList(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="LoadServiceSalesList(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadServiceSalesList(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadServiceSalesList(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="LoadServiceSalesList(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="LoadServiceSalesList(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadServiceSalesList(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="LoadServiceSalesList(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadServiceSalesList(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="LoadServiceSalesList(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
        }
    </div>
</div>


