@model HS.Entities.ServiceTrackerModel
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using HS.Framework
<script>
     var pageno = '@ViewBag.PageNumber';

    $(document).ready(function(){
         $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            ServiceTrackerReportListLoad(pageno, orderval);
        })
    })
      
</script>
<table class="loadticketreportlist_table strl_table">
    <thead class="table-head-border">
        <tr>
            @*<th class="thead-th-style"> <div>@Localize.T("Ticket")</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/ticketid"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/ticketid"></i></div></th>*@
            <th class="thead-th-style">
                <div>Ticket Id</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/ticketid"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/ticketid"></i></div>
            </th>
            <th class="thead-th-style itrl_customer">
                <div>Customer</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/customername"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/customername"></i></div>
            </th>

            <th class="thead-th-style itrl_install">
                <div>Installer Technician</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/technician"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/technician"></i></div>
            </th>
            <th class="thead-th-style itrl_install">
                <div>Service Technician</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/servicetech"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/servicetech"></i></div>
            </th>
            @*<th class="thead-th-style">
            <div>@Localize.T("Install Date/Time")</div>
            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/installdate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/installdate"></i></div>
        </th>*@
            <th class="thead-th-style itrl_install">
                <div>Service Type</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/service"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/service"></i></div>
            </th>
            <th class="thead-th-style">
                <div>Reason</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/reason"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/reason"></i></div>
            </th>
            <th class="thead-th-style">
                <div>Scheduled Date</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/schedule"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/schedule"></i></div>
            </th>
            <th class="thead-th-style">
                <div>Onsite Date</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/onsite"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/onsite"></i></div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SeviceTrackerList)
        {
        <tr class="tr-style">
            <td class="table-body-td-style" valign="top">
                <div class="ticket_list_partial_device_header">@Localize.T("Ticket Id")<span>:</span></div>
                <div class="ticket_list_partial_device_info">  <a class="cus-anchor" onclick="OpenTicketById(@item.TicketId)" href="javascript:void(0)">@item.TicketId</a></div>
            </td>
            <td class="table-body-td-style" valign="top">
                <div class="ticket_list_partial_device_header">@Localize.T("Customer")<span>:</span></div>
                <div class="ticket_list_partial_device_info">
                    @*<div class="ins_track_report_sp_head">@Localize.T("ID")<span>:</span></div>*@
                    <a class="cus-anchor" href="/Customer/CustomerDetail/?id=@item.Id" target="_blank">@item.CustomerName</a>
                </div>

            </td>

            <td class="table-body-td-style" valign="top">
                <div class="ticket_list_partial_device_header">@Localize.T("Installer Technician")<span>:</span></div>
                <div class="ticket_list_partial_device_info"> <span>@item.InstallerTechnician</span></div>
            </td>
            <td class="table-body-td-style" valign="top">
                <div class="ticket_list_partial_device_header">@Localize.T("Service Technicianj")<span>:</span></div>
                <div class="ticket_list_partial_device_info"> <span>@item.ServiceTechnician</span></div>
            </td>

            <td class="table-body-td-style" valign="top">
                <div class="ticket_list_partial_device_header">@Localize.T("Service Type")<span>:</span></div>
                <div class="ticket_list_partial_device_info"> <span>@item.ServiceType</span></div>
            </td>
            <td class="table-body-td-style" valign="top">
                <div class="ticket_list_partial_device_header">@Localize.T("Reason")<span>:</span></div>
                <div class="ticket_list_partial_device_info"> <span>@item.Reason</span></div>
            </td>

            <td class="table-body-td-style" valign="top">
                <div class="ticket_list_partial_device_header">@Localize.T("Scheduled Date")<span>:</span></div>
                @if (item.ScheduledDate != null && item.ScheduledDate != new DateTime())
                {
                    <div class="ticket_list_partial_device_info"> <span>@item.ScheduledDate.ToString("MM/dd/yyyy")</span></div>
                }

            </td>

            <td class="table-body-td-style" valign="top">
                <div class="ticket_list_partial_device_header">@Localize.T("Onsite Date")<span>:</span></div>
                @if (item.TechOnsiteDate != null && item.TechOnsiteDate != new DateTime())
                {
                    <div class="ticket_list_partial_device_info"> <span>@item.TechOnsiteDate.UTCToClientTime().ToString("MM/dd/yy hh:mm")</span></div>
                }

            </td>

        </tr>

        }
    </tbody>
</table>
<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {

            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButtonq  @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="ServiceTrackerReportListLoad(1, '@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="ServiceTrackerReportListLoad(2,'@(ViewBag.order)')">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""),'@(ViewBag.order)')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="ServiceTrackerReportListLoad(1,'@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="ServiceTrackerReportListLoad(2,'@(ViewBag.order)')">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="ServiceTrackerReportListLoad(3,'@(ViewBag.order)')">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""),'@(ViewBag.order)')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber-2),'@(ViewBag.order)')">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="ServiceTrackerReportListLoad()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber + 2),'@(ViewBag.order)')">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber - 1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="ServiceTrackerReportListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
        }
    </div>
</div>



