@model HS.Entities.TechUpSalesModel
@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/RecurringBillingReportPartial.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";
    var pageno = '@ViewBag.PageNumber';

    $(document).ready(function () {
    });
</script>

<div class="Sales_summ_report_table">
    <div class="row lrp_bottom_border">
        <div class="lead_total_color"> @Localize.T("Total: ") @string.Format("{0:#,##0}", ViewBag.OutOfNumber)</div>
    </div>

    <div class="new_sales_report_table_div">
        <table class="loadticketreportlist_table recur_bill_report_table new_sales_report_table table table-striped">
            <thead class="table-head-border">
                <tr>
                    <th class="thead-th-style new_header_customer"> <div>@Localize.T("Tech Name")</div></th>
                    <th class="thead-th-style new_header_sales"> <div>@Localize.T("RMR")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Commission")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Equipment Qty")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Equipment Value")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Equipment Commission")</div></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TechUpSales)
                {
                    <tr class="tr-style">
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Tech Name")</div>
                            <div class="ticket_list_partial_device_info">
                                <a class="cus-anchor" href="/Customer/CustomerDetail/?id=@item.Id" target="_blank">@item.TechName</a>
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("RMR")</div>
                            <div class="ticket_list_partial_device_info">
                                @Currency@LabelHelper.FormatAmount(item.RMR)
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Commission")</div>
                            <div class="ticket_list_partial_device_info">
                                @Currency@LabelHelper.FormatAmount(item.Commission)
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Equipment Qty")</div>
                            <div class="ticket_list_partial_device_info">
                                @item.EquipmentQty
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Equipment Value")</div>
                            <div class="ticket_list_partial_device_info">
                                @Currency@LabelHelper.FormatAmount(item.EquipmentValue)
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Equipment Commission")</div>
                            <div class="ticket_list_partial_device_info">
                                @Currency@LabelHelper.FormatAmount(item.EquipmentCommission)
                            </div>
                        </td>
                    </tr>
                }
                <tr class="table_total_bg">
                    <td colspan="1">
                        <b class="float_right">@Localize.T("Total:")</b>
                    </td>
                    <td>
                        <div class="ticket_list_partial_device_header">@Localize.T("Total RMR")</div>
                        <div class="ticket_list_partial_device_info">
                            <b title="@Localize.T("Total RMR")">@Currency@LabelHelper.FormatAmount(Model.TotalRMR)</b>
                        </div>
                    </td>
                    <td>
                        <div class="ticket_list_partial_device_header">@Localize.T("Total Commission")</div>
                        <div class="ticket_list_partial_device_info">
                            <b title="@Localize.T("Total Commission")">@Currency@LabelHelper.FormatAmount(Model.TotalCommission)</b>
                        </div>
                    </td>
                    <td>
                        <div class="ticket_list_partial_device_header">@Localize.T("Total Equipment Qty")</div>
                        <div class="ticket_list_partial_device_info">
                            <b title="@Localize.T("Total Equipment Qty")">@Model.TotalEquipmentQty</b>
                        </div>
                    </td>
                    <td>
                        <div class="ticket_list_partial_device_header">@Localize.T("Total Equipment Value")</div>
                        <div class="ticket_list_partial_device_info">
                            <b title="@Localize.T("Total Equipment Value")">@Currency@LabelHelper.FormatAmount(Model.TotalEquipmentValue)</b>
                        </div>
                    </td>
                    <td>
                        <div class="ticket_list_partial_device_header">@Localize.T("Total Equipment Commission")</div>
                        <div class="ticket_list_partial_device_info">
                            <b title="@Localize.T("Total Equipment Commission")">@Currency@LabelHelper.FormatAmount(Model.TotalEquipmentCommission)</b>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

</div>
<div class="AgentListPagination">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="FilterTechUpSales(@(ViewBag.PageNumber))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FilterTechUpSales(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FilterTechUpSales(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FilterTechUpSales(2)">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="FilterTechUpSales(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FilterTechUpSales(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FilterTechUpSales(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FilterTechUpSales(2)">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="FilterTechUpSales(3)">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="FilterTechUpSales(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterTechUpSales(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterTechUpSales(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterTechUpSales(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="FilterTechUpSales(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="FilterTechUpSales()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterTechUpSales(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterTechUpSales(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterTechUpSales(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="FilterTechUpSales(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterTechUpSales(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterTechUpSales(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterTechUpSales(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="FilterTechUpSales(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterTechUpSales(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterTechUpSales(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="FilterTechUpSales(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterTechUpSales(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="FilterTechUpSales(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
        }
    </div>
</div>


