@model HS.Entities.EmployeeListModel
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>
    var pageno = '@ViewBag.PageNumber';

    $(document).ready(function () {
   $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            TechnicianListLoad(pageno, orderval);
        })
    })
</script>
    <table class="loadticketreportlist_table">
        <thead class="table-head-border">
            <tr>

        

                <th class="thead-th-style">
                    <div>@Localize.T("Technician")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/technician"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/technician"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("City")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/city"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/city"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("State")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/state"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/state"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Installations Scheduled")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/instlschedule"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/instlschedule"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Installations complete")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/instlcomplete"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/instlcomplete"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Services Scheduled")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/serviceschedule"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/serviceschedule"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Services Complete")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/servicescomplete"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/servicescomplete"></i></div>
                </th>
       


            </tr>
        </thead>


        <tbody>
            @foreach (var item in Model.Employees)
            {
               
                <tr class="tr-style">
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Technician Name")<span>:</span></div>
                      

                        <div class="ticket_list_partial_device_info"> <span>@item.EMPName</span></div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Technician City")<span>:</span></div>
                        <div class="ticket_list_partial_device_info">
                            <a class="cus-anchor" href="/Customer/CustomerDetail/?id=@item.City" target="_blank">@item.City</a>
                        </div>
                    </td>
                    <td>
                        <div class="ticket_list_partial_device_header">@Localize.T("Technician State")<span>:</span></div>
                        <div class="ticket_list_partial_device_info">
                            <a class="cus-anchor" href="/Customer/CustomerDetail/?id=@item.State" target="_blank">@item.State</a>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Installations Scheduled")<span>:</span></div>
                        <div class="ticket_list_partial_device_info">@item.InstallationsScheduled</div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Installations complete")<span>:</span></div>
                        <div class="ticket_list_partial_device_info">@item.Installationscomplete</div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Services Scheduled")<span>:</span></div>
                        <div class="ticket_list_partial_device_info">@item.servicesscheduled</div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Services Complete")<span>:</span></div>
                        <div class="ticket_list_partial_device_info">@item.servicescomplete</div>
                    </td>
                </tr>
                @*}*@
            }
            <tr class="table_total_bg">
                <td colspan="3">
                    <b class="float_right">
                        @Localize.T("Total")
                    </b>
                </td>
                <td>
                    <b>@Model.TotalInstallationsScheduled.ToString()</b>
                </td>
                <td>
                    <b>@Model.TotalInstallationscomplete.ToString()</b>
                </td>
                <td>
                    <b>@Model.Totalservicesscheduled.ToString()</b>
                </td>
                <td>
                    <b>@Model.Totalservicescomplete.ToString()</b>
                </td>
               
            </tr>
        </tbody>

    </table>
<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="TechnicianListLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {

            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="TechnicianListLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton  @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="TechnicianListLoad(1, '@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="TechnicianListLoad(2,'@(ViewBag.order)')">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="TechnicianListLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""),'@(ViewBag.order)')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="TechnicianListLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="TechnicianListLoad(1,'@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="TechnicianListLoad(2,'@(ViewBag.order)')">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="TechnicianListLoad(3,'@(ViewBag.order)')">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="TechnicianListLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""),'@(ViewBag.order)')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="TechnicianListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="TechnicianListLoad(@(ViewBag.PageNumber-2),'@(ViewBag.order)')">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="TechnicianListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="TechnicianListLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="TechnicianListLoad()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="TechnicianListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="TechnicianListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="TechnicianListLoad(@(ViewBag.PageNumber + 2),'@(ViewBag.order)')">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="TechnicianListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="TechnicianListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="TechnicianListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="TechnicianListLoad(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="TechnicianListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="TechnicianListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="TechnicianListLoad(@(ViewBag.PageNumber - 1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="TechnicianListLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="TechnicianListLoad(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="TechnicianListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
        }
    </div>
</div>