@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

@model HS.Entities.EquipmentListWithCountModel
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<script>
    var DataTablePageSize = 50;
    var LeadsStartDatepicker;
    var LeadsEndDatepicker;
    var listcategory = '@Html.Raw(Json.Encode(@ViewBag.listcategory))';
    listcategory = JSON.parse(listcategory);
    var listmanu = '@Html.Raw(Json.Encode(@ViewBag.listmanu))';
    listmanu = JSON.parse(listmanu);
    var pageno = '@ViewBag.PageNumber';
    var listtech = '@Html.Raw(Json.Encode(@ViewBag.listtech))';
    listtech = JSON.parse(listtech);
    var my_date_format = function (input) {
        console.log(input+" r");
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    var FilterInventoryReport = function (pageno,order) {
        //if(typeof(pageno) != "undefined" && pageno != null && pageno != ""){
        //    pagno = 1;
        //}
        var StartDateVal = $(".min-date").val();
        var EndDateVal = $(".max-date").val();
        var category = encodeURI($("#eqpCategory_transfer").val());
        var manufacturer = encodeURI($("#manufacturer_transfer").val());
        var tecnician = encodeURI($("#tech_user_transfer").val());
        var searchtext = $(".TransferInventoryInventoryReport_search").val();
        var Transferred_Date_From = $("#Transferred_Date_From").val();
        var Transferred_Date_To = $("#Transferred_Date_To").val();

        $(".TransferInvetory_report_table").html(TabsLoaderText);
        $(".TransferInvetory_report_table").load(domainurl + "/Reports/TransferInventoryReportPartialList/?Transferred_Date_FromStr=" + encodeURIComponent(StartDateVal) + "&Transferred_Date_ToStr=" + encodeURIComponent(EndDateVal) +"&order=" + order + "&category=" + category + "&manufact=" + manufacturer + "&PageNo=" + pageno + "&PageSize=" + DataTablePageSize + "&technician=" + tecnician + "&SearchText=" + encodeURI(searchtext));
    }
        var ResetFilter = function () {
          
        $("#tech_user_transfer").selectpicker("val", "");
        $("#manufacturer_transfer").selectpicker("val", "");
        $("#eqpCategory_transfer").selectpicker("val", "");

        $(".TransferInventoryInventoryReport_search").val("");
        FilterInventoryReport(1);
    }
    $(document).ready(function () {

        $(".truck_single_filte_info_container").hide();
        $(".btn-filter").click(function () {

            if ($(".truck_single_filte_info_container").is(":visible")) {
                $(".truck_single_filte_info_container").hide();

            } else {
                $(".truck_single_filte_info_container").show();

            }
        });
           
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".LoaderWorkingDiv").hide();
        $("#LeadReportTab .invoice-loader").hide();

        //var table = $('#LeadsReportTable').DataTable({
        //    "pageLength": DataTablePageSize,
        //    "destroy": true,
        //    "language": {
        //        "emptyTable": "No data available"
        //    }
        //});
        //if (StartDate != "" && EndDate != "")
        //{
        //    StartDate = my_date_format(StartDate);
        //    EndDate = my_date_format(EndDate);
        //    console.log(StartDate + " " + EndDate);
        //    if (StartDate == "NaN undefined, NaN") {
        //        StartDate = "All Time";
        //        EndDate = "";
        //    }

        //    $(".DateFilterContents .date-start").html("");
        //    $(".DateFilterContents .date-end").html("");
        //    $(".DateFilterContents .date-start").html(StartDate);
        //    $(".DateFilterContents .date-end").html(EndDate);
        //    $(".DateFilterContents .dropdown-filter").hide();
        //}
        //else {
        //    $(".DateFilterContents .date-start").html("All Time");
        //    $(".DateFilterContents .date-end").html("");
        //    $(".DateFilterContents .dropdown-filter").hide();
        //}

        //$(".DateFilterContents .btn-apply-Datefilter").unbind().click(function () {
        //    var StartDateVal = $(".min-date").val();
        //    var EndDateVal = $(".max-date").val();
        //var category = encodeURI($("#eqpCategory_transfer").val());
        //var manufacturer = encodeURI($("#manufacturer_transfer").val());
        //var tecnician = encodeURI($("#tech_user_transfer").val());
        //var searchtext = $(".TransferInventoryInventoryReport_search").val();
   
        //    UpdatePtoCookie();
           
        //$(".TransferInvetory_report_table").html(TabsLoaderText);
        //$(".TransferInvetory_report_table").load(domainurl + "/Reports/TransferInventoryReportPartialList/?Transferred_Date_From=" + StartDateVal + "&Transferred_Date_To=" + EndDateVal +"&category=" + category + "&manufact=" + manufacturer + "&PageNo=" + pageno + "&PageSize=" + DataTablePageSize + "&technician=" + tecnician + "&SearchText=" + encodeURI(searchtext)  + "&isTransferInventoryReport=true");
        //});
                $(".DateFilterContents .btn-apply-Datefilter").unbind().click(function () {
            var DateFrom = $(".min-date").val();
            var DateTo = $(".max-date").val();
              UpdatePtoCookie();
            FilterInventoryReport(1, null);
            var StartDate = my_date_format($(".DateFilterContents .min-date").val());
            var EndDate = my_date_format($(".DateFilterContents .max-date").val())
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
          


        });
        $("#btnDownloadLeadsReport_transfer").click(function () {

            var category = encodeURI($("#eqpCategory_transfer").val());
            var manufacturer = encodeURI($("#manufacturer_transfer").val());
            var tecnician = encodeURI($("#tech_user_transfer").val());
            var searchtext = $(".TransferInventoryInventoryReport_search").val();
            var StartDateVal = $(".min-date").val();
            var EndDateVal = $(".max-date").val();
            var Transferred_Date_From = $("#Transferred_Date_From").val();
            var Transferred_Date_To = $("#Transferred_Date_To").val();
            if (StartDate.trim().length == 10 && EndDate.trim().length == 10) {
                StartDate = StartDate.replaceAll('/', '_');
                EndDate = EndDate.replaceAll('/', '_');
                location.href = domainurl + "/Reports/TransferInventoryReportPartialList/?Transferred_Date_FromStr=" + StartDateVal + "&Transferred_Date_ToStr=" + EndDateVal + "&GetReport=true" + "&category=" + category + "&manufact=" + manufacturer + "&pageno=" + 0 + "&pagesize=" + 0 + "&technician=" + tecnician + "&RepType=Transfer" + "&SearchText=" + encodeURI(searchtext)  + "&isTransferInventoryReport=true";
            } else {
                location.href = domainurl + "/Reports/TransferInventoryReportPartialList/?GetReport=true" + "&category=" + category + "&manufact=" + manufacturer + "&pageno=" + 0 + "&pagesize=" + 0 + "&technician=" + tecnician + "&RepType=Transfer" + "&SearchText=" + encodeURI(searchtext) + "&Transferred_Date_FromStr=" + StartDateVal + "&Transferred_Date_ToStr="+ EndDateVal + "&isTransferInventoryReport=true";
            }
        });

   
        if (listmanu.length != 0) {
            $("#manufacturer_transfer").selectpicker('val', listmanu);
        }
        else {
            $("#manufacturer_transfer").selectpicker('val', '');
        }
        if (listcategory.length != 0) {
            $("#eqpCategory_transfer").selectpicker('val', listcategory);
        }
        else {
            $("#eqpCategory_transfer").selectpicker('val', '');
        }
        if (listtech.length != 0) {
            $("#tech_user_transfer").selectpicker('val', listtech);
        }
        else {
            $("#tech_user_transfer").selectpicker('val', '');
        }
              FilterInventoryReport(1);

        new Pikaday({ format: 'MM/DD/YYYY', field: $('#Transferred_Date_From')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#Transferred_Date_To')[0] });
            $(".TransferInventoryInventoryReport_search").keydown(function (e) {

                if (e.which == 13) {
                    FilterInventoryReport(1);
                }
            });
    });
</script>
<style>
    .lead_total_block {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }

    .lead_total_color_blockx {
        width: 50%;
        float: left;
        border-left: 10px solid #0077c5;
        font-size: 19px;
        padding: 5px;
        color: #fff;
        background-color: #035890;
        font-family: sans-serif;
    }
</style>
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />

<div class="lead_total_block">
    <div class="lead_total_color_blockx"> <span class="lead_total_count"> </span></div>
    <div class="lead_total_color_blockx"> <span class="lead_total_quantity"></span></div>
</div>


<div class="row leads_report_top_bar">
    <div class="ticket_search_filter truck_inv_srch_filter">
        <div class="truck_single_filter_div_container">
            <div class="input-group add-on">
                <input class="form-control TransferInventoryInventoryReport_search" placeholder="Search" type="text"  title="Category, Manufacturer, Description, SKU">
                <div class="input-group-btn">
                    <button class="btn search_ticket_btn green_button" id="btnsearchtext" title="@Localize.T("Search")" onclick="FilterInventoryReport(1)"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
            <div class="truck_single_filter_div_style filter_fill">
                <button class="btn btn-filter green_button" title="Filter">
                    <i class="glyphicon glyphicon-filter"></i>
                </button>
            </div>
        </div>
    </div>



    <button title="@Localize.T(" Download")" class="report_btn lrp_float_right" id="btnDownloadLeadsReport_transfer"><i class="fa fa-download" aria-hidden="true"></i></button>
</div>
<div class="truck_single_filte_info_container">
    <div class="truck_single_filter_info_inner">
        <div class="truck_single_filter_info_inner_content">
            @Html.DropDownList("tech_user_transfer", ViewBag.techlist as List<SelectListItem>, new { @class = "form-control border_radius_0 TicketFor_search trans_technician", @multiple = "multiple", @title = "Select Technician" })
        </div>
        <div class="truck_single_filter_info_inner_content">
            @Html.DropDownList("eqpCategory_transfer", ViewBag.eqpCategory as List<SelectListItem>, new { @class = "form-control border_radius_0 trans_category", @multiple = "multiple", @title = "Select Category" })
        </div>
        <div class="truck_single_filter_info_inner_content">
            @Html.DropDownList("manufacturer_transfer", ViewBag.manufacturer as List<SelectListItem>, new { @class = "form-control border_radius_0 trans_manufac", @multiple = "multiple", @title = "Select Manufacturer" })
        </div>

        

        @*<div class="truck_single_filter_info_inner_content"> <input class="form-control Transferred_Date_From" placeholder="Transferred Date From" id="Transferred_Date_From" /></div>
        <div class="truck_single_filter_info_inner_content"> <input class="form-control Transferred_Date_To" placeholder="Transferred Date To" id="Transferred_Date_To" /></div>*@
    </div>
    <div class="truck_single_filter_info_footer">
        <button class="btn search_ticket_btn green_button" id="btnsearchtext" title="@Localize.T("Filter")" onclick="FilterInventoryReport(1)"><i class="fa fa-check" aria-hidden="true"></i>@Localize.T("Apply")</button>
        <button class="btn red_button" id="reset_btn_filter" onclick="ResetFilter()">@Localize.T("Reset")</button>

    </div>
</div>











@*<div class="row leads_report_top_bar">
    <div class="ticket_search_filter trans_inv_filter">
       
                @Html.DropDownList("eqpCategory_transfer", ViewBag.eqpCategory as List<SelectListItem>, new { @class = "form-control border_radius_0 trans_category", @multiple = "multiple",@title="Select Category" })
           
                @Html.DropDownList("manufacturer_transfer", ViewBag.manufacturer as List<SelectListItem>, new { @class = "form-control border_radius_0 trans_manufac", @multiple = "multiple",@title= "Select Manufacturer" })
           
        <div class="input-group add-on">
            @Html.DropDownList("tech_user_transfer", ViewBag.techlist as List<SelectListItem>, new { @class = "form-control border_radius_0 TicketFor_search trans_technician", @multiple = "multiple", @title = "Select Technician" })
            <div class="input-group-btn"><button class="btn search_ticket_btn green_button" id="btnsearchtext" title="@Localize.T("Search")" onclick="FilterInventoryReport(1)"><i class="glyphicon glyphicon-search"></i></button></div>
        </div>
          
    
    </div>



    <button title="@Localize.T(" Download")" class="report_btn lrp_float_right" id="btnDownloadLeadsReport_transfer"><i class="fa fa-download" aria-hidden="true"></i></button>
</div>*@

<div class="TransferInvetory_report_table"></div>