@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

@model HS.Entities.EquipmentListWithCountModel
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<script>
    var DataTablePageSize = 50;
    var LeadsStartDatepicker;
    var LeadsEndDatepicker;
    var pageno = '@ViewBag.PageNumber';
    @*var searchtext = '@ViewBag.searchtext'
    var listcategory = '@Html.Raw(Json.Encode(@ViewBag.listcategory))';
    listcategory = JSON.parse(listcategory);
    var listmanu = '@Html.Raw(Json.Encode(@ViewBag.listmanu))';
    listmanu = JSON.parse(listmanu);
    var pageno = '@ViewBag.PageNumber';
    var listtech = '@Html.Raw(Json.Encode(@ViewBag.listtech))';
    listtech = JSON.parse(listtech);
    var my_date_format = function (input) {
        console.log(input+" r");
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    var FilterInventoryReport = function (pageno) {
        //if(typeof(pageno) != "undefined" && pageno != null && pageno != ""){
        //    pagno = 1;
        //}
        var searchtext = $(".TruckInventoryReport_search").val();


        var StartDateVal = $(".min-date").val();
        var EndDateVal = $(".max-date").val();
        var category = encodeURI($("#eqpCategory_tech").val());
        var manufacturer = encodeURI($("#manufacturer_tech").val());
        var tecnician = encodeURI($("#tech_user").val());
        $("#TruckInventoryReportTab").html(TabsLoaderText);
        $("#TruckInventoryReportTab").load(domainurl + "/Reports/TruckInventoryReportPartial/?Start=" + StartDateVal + "&End=" + EndDateVal + "&category=" + category + "&manufact=" + manufacturer + "&PageNo=" + pageno + "&PageSize=" + DataTablePageSize + "&technician=" + tecnician + "&SearchText=" + encodeURI(searchtext));
    }
    $(document).ready(function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".LoaderWorkingDiv").hide();
        $("#LeadReportTab .invoice-loader").hide();

        //var table = $('#LeadsReportTable').DataTable({
        //    "pageLength": DataTablePageSize,
        //    "destroy": true,
        //    "language": {
        //        "emptyTable": "No data available"
        //    }
        //});
        if (StartDate != "" && EndDate != "")
        {
            StartDate = my_date_format(StartDate);
            EndDate = my_date_format(EndDate);
            console.log(StartDate + " " + EndDate);
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
        }
        else {
            $(".DateFilterContents .date-start").html("All Time");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .dropdown-filter").hide();
        }
        $("#btnDownloadLeadsReport_tech").click(function () {

            var category = encodeURI($("#eqpCategory_tech").val());
            var manufacturer = encodeURI($("#manufacturer_tech").val());
            var tecnician = encodeURI($("#tech_user").val());
            var searchtext = $(".TruckInventoryReport_search").val();
            if (StartDate.trim().length == 10 && EndDate.trim().length == 10) {
                StartDate = StartDate.replaceAll('/', '_');
                EndDate = EndDate.replaceAll('/', '_');
                location.href = domainurl + "/Reports/TruckInventoryReportPartial/?Start=" + StartDate + "&End=" + EndDate + "&GetReport=true" + "&category=" + category + "&manufact=" + manufacturer + "&pageno=" + 0 + "&pagesize=" + 0 + "&technician=" + tecnician + "&SearchText=" + encodeURI(searchtext);
            } else {
                location.href = domainurl + "/Reports/TruckInventoryReportPartial/?GetReport=true" + "&category=" + category + "&manufact=" + manufacturer + "&pageno=" + 0 + "&pagesize=" + 0 + "&technician=" + tecnician + "&SearchText=" + encodeURI(searchtext);
            }
        });

        $(".DateFilterContents .btn-apply-Datefilter").unbind().click(function () {
            var StartDateVal = $(".min-date").val();
            var EndDateVal = $(".max-date").val();
            UpdatePtoCookie();
            //$("#InventoryReportTab").html(TabsLoaderText);
            //$("#InventoryReportTab").load(domainurl + "/Reports/InventoryReportPartial/?Start=" + StartDateVal + "&End=" + EndDateVal);
            FilterInventoryReport(1);
        });
        if (listmanu.length != 0) {
            $("#manufacturer_tech").selectpicker('val', listmanu);
        }
        else {
            $("#manufacturer_tech").selectpicker('val', '');
        }
        if (listcategory.length != 0) {
            $("#eqpCategory_tech").selectpicker('val', listcategory);
        }
        else {
            $("#eqpCategory_tech").selectpicker('val', '');
        }
        if (listtech.length != 0) {
            $("#tech_user").selectpicker('val', listtech);
        }
        else {
            $("#tech_user").selectpicker('val', '');
        }

        if (searchtext != null && searchtext != "" && searchtext != "undefined") {
            $(".TruckInventoryReport_search").val(searchtext);
        }

        $(".TruckInventoryReport_search").keypress(function (e) {
            if (e.which == 13) {
                $("#btnsearchtext").click();
            }
        });

    });*@
        $(document).ready(function () {
         $(".icon_sort_bi").click(function () {
            var orderval = $(this).attr('data-val');
            FilterInventoryReport(pageno, orderval);
        });
    })
    $(".btn-apply-Datefilter").click(function () {
        var StartDateVal = my_date_format($(".min-date").val());
        var EndDateVal = my_date_format($(".max-date").val());

        if (StartDateVal != "NaN undefined, NaN" && EndDateVal != "NaN undefined, NaN") {
            $(".DateFilterContents .date-start").html(StartDateVal).val();
            $(".DateFilterContents .date-end").html(EndDateVal).val();
            $(".DateFilterContents .dropdown-filter").hide();
            UpdatePtoCookie();
        }
        else {
            $(".DateFilterContents .date-start").html("All Time");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .dropdown-filter").hide();
            UpdatePtoCookie();
        }

    })



    var totalcount = '@Localize.T("Total:") @string.Format("{0:#,##0}", ViewBag.TotalLeads)';
    var totalamount = '@Localize.T("Total Amount:") @string.Format("{0:#,##0}", ViewBag.TotalAmt)';
    var totalquantity = '@Localize.T("Total Pieces:") @string.Format("{0:#,##0}", ViewBag.TotalQty)';
    $(document).ready(function () {
        parent.$(".lead_total_count").html(totalcount);
        parent.$(".lead_total_amount").html(totalamount); 
        parent.$(".lead_total_quantity").html(totalquantity);
    })


</script>

<div class="leads_report_table">
    <table id="LeadsReportTable" class="inventory_report_table truck_inv_table">
        <thead>
            <tr>
                <th>
                    <div>@Localize.T("Category")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/category"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/category"></i></div>

                </th>
                <th>
                    <div>@Localize.T("Manufacturer")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/manufacturer"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/manufacturer"></i></div>

                </th>
                <th>
                    <div>@Localize.T("Description")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/description"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/description"></i></div>

                </th>
                <th>
                    <div>@Localize.T("SKU")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/SKU"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/SKU"></i></div>

                </th>
                <th>
                    <div>@Localize.T("Sales Person")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/username"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/username"></i></div>

                </th>
                <th class="nop_col">
                    <div>@Localize.T("No. of Pieces")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/pieces"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/pieces"></i></div>

                </th>
                <th>
                    <div>@Localize.T("Vendor Cost")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/vendorcost"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/vendorcost"></i></div>

                </th>
                <th class="amo_col">
                    <div>@Localize.T("Amount")</div>
                    <div><i class="fa fa-angle-up icon_sort_bi" data-val="ascending/amount"></i><i class="fa fa-angle-down icon_sort_bi" data-val="descending/amount"></i></div>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EquipmentList)
            {
                <tr>
                    <td>
                        <div>@Localize.T("Category") <span>:</span></div>

                        <div>@item.Category</div>
                    </td>
                    <td>
                        <div>@Localize.T("Manufacturer") <span>:</span></div>
                        <div> @item.ManufacturerName</div>
                    </td>
                    <td>
                        <div>@Localize.T("Description") <span>:</span></div>
                        <div>@item.Name</div>
                    </td>
                    <td>
                        <div>@Localize.T("SKU") <span>:</span></div>
                        <div>@item.SKU</div>
                    </td>
                    <td>
                        <div>@Localize.T("Sales Person") <span>:</span></div>
                        <div>@item.TechnicianName</div>
                    </td>
                    <td>
                        <div>@Localize.T("No of Pieces") <span>:</span></div>
                        <div>
                            @if (item.QtyOnHand == 0)
                            {
                                <span class="stock-out-span">@item.QtyOnHand </span>
                            }
                            else if (item.QtyOnHand <= item.reorderpoint)
                            {
                                <span class="stock-low-span">@item.QtyOnHand </span>
                            }
                            else
                            {
                                <span>@item.QtyOnHand </span>
                            }
                        </div>
                    </td>
                    <td>
                        <div>@Localize.T("Vendor Cost") <span>:</span></div>
                        <div>$@string.Format("{0:#,##0.00}", item.SupplierCost)</div>
                    </td>
                    <td>
                        <div>@Localize.T("Amount") <span>:</span></div>
                        <div>
                            @{ 
                                if(item.AmountTruck > 0)
                                {
                                    <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@string.Format("{0:#,###.00}", item.AmountTruck)</span>
                                }
                                else
                                {
                                    <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)0.00</span>
                                }
                            }
                            
                        </div>
                    </td>
                </tr>
            }
        <tr class="table_total_bg">
            <td colspan="5">
                <b class="float_right">@Localize.T("Total:")</b>
            </td>
            <td>
                <div>@Localize.T("Total No. of Pieces") <span>:</span></div>
                <div>
                    <b title="@Localize.T("Total No. of Pieces")">@Model.TotalTruckInvenorty.TotalQuantity</b>
                </div>            </td>
            <td>
                <div>@Localize.T("Total Vendor Cost") <span>:</span></div>
                <div>
                    <b title="@Localize.T("Total Vendor Cost")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalTruckInvenorty.TotalSupplierCost.ToString("#,##0.00")</b>
                </div>
            </td>
            <td>
                <div>@Localize.T("Total Amount") <span>:</span></div>
                <div>
                    <b title="@Localize.T("Total Amount")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.TotalTruckInvenorty.TotalAmount.ToString("#,##0.00")</b>
                </div>            </td>
        </tr>
        </tbody>
       
    </table>
    <div class="AgentListPagination">
        <div class="paginationContainer">
            @if (ViewBag.PageCount > 0)
            {
                <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
            }
            @if (ViewBag.PageCount == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons disabledBtn">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="FilterInventoryReport(@(ViewBag.PageNumber))">1</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FilterInventoryReport(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FilterInventoryReport(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FilterInventoryReport(2)">2</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="FilterInventoryReport(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FilterInventoryReport(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FilterInventoryReport(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FilterInventoryReport(2)">2</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="FilterInventoryReport(3)">3</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="FilterInventoryReport(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount > 3)
            {
                if (ViewBag.PageNumber == ViewBag.PageCount)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="FilterInventoryReport(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FilterInventoryReport(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FilterInventoryReport(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="FilterInventoryReport(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons disabledBtn" onclick="FilterInventoryReport()">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 1)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="FilterInventoryReport(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FilterInventoryReport(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FilterInventoryReport(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="FilterInventoryReport(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 2)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="FilterInventoryReport(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FilterInventoryReport(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FilterInventoryReport(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="FilterInventoryReport(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="FilterInventoryReport(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FilterInventoryReport(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="FilterInventoryReport(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="FilterInventoryReport(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="FilterInventoryReport(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
            }
        </div>
    </div>
</div>

