@*@model List<HS.Entities.UpsellUserModel>*@
@model HS.Entities.UpsellUserReportModel
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>


</script>
    <table class="loadticketreportlist_table upsellsreportlist_table">
        <thead class="table-head-border">
            <tr>
                <th class="thead-th-style usrl_h"><div>@Localize.T("Day")</div></th>
                <th class="thead-th-style"><div>@Localize.T("Tech")</div></th>

                <th class="thead-th-style"><div>@Localize.T("Service")</div></th>
                <th class="thead-th-style usrl_h"><div>@Localize.T("Added RMR")</div></th>
                <th class="thead-th-style usrl_h"><div>@Localize.T("RMR Comm.")</div></th>
                <th class="thead-th-style usrl_h"><div>@Localize.T("Pieces Sold")</div></th>
                <th class="thead-th-style usrl_h"><div>@Localize.T("$ Collected")</div></th>
                <th class="thead-th-style usrl_h"><div>@Localize.T("Piece Comm.")</div></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UpsellUserModelList)
            {
                <tr class="tr-style">
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Day")<span>:</span></div>
                        <div class="ticket_list_partial_device_info_upsell">
                            @item.EmpDay
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Tech")<span>:</span></div>
                        <div class="ticket_list_partial_device_info_upsell">
                            @item.EmployeeName
                        </div>
                    </td>

                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Service")<span>:</span></div>
                        <div class="ticket_list_partial_device_info_upsell">
                            @item.ServiceName
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Added RMR")<span>:</span></div>
                        <div class="ticket_list_partial_device_info_upsell">
                            @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.AddedRMR)
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("RMR Comm.")<span>:</span></div>
                        <div class="ticket_list_partial_device_info_upsell">
                            @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(0)
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Pieces Sold")<span>:</span></div>
                        <div class="ticket_list_partial_device_info_upsell">
                            @item.PiecesSold
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("$ Collected")<span>:</span></div>
                        <div class="ticket_list_partial_device_info_upsell">
                            @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.CollectedAmount)
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Piece Comm.")<span>:</span></div>
                        <div class="ticket_list_partial_device_info_upsell">
                            @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(0)
                        </div>
                    </td>
                </tr>
            }
        <tr class="table_total_bg">
            <td colspan="3">
                <b class="float_right">
                    @Localize.T("Total:")
                </b>
            </td>
            <td>
                <div class="ticket_list_partial_device_header">@Localize.T("Total Added RMR")<span>:</span></div>
                <div class="ticket_list_partial_device_info_upsell">
                    <b title="@Localize.T("Total Added RMR")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.SumOfUpsell.TotalRMR.ToString("#,##0.00")</b>
                </div>            </td>
            <td>
                <div class="ticket_list_partial_device_header">@Localize.T("Total RMR Comm.")<span>:</span></div>
                <div class="ticket_list_partial_device_info_upsell">
                    <b title="@Localize.T("Total RMR Comm.")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.SumOfUpsell.TotalAmount.ToString("#,##0.00")</b>
                </div>            </td>
            <td>
                <div class="ticket_list_partial_device_header">@Localize.T("Total Pieces Sold")<span>:</span></div>
                <div class="ticket_list_partial_device_info_upsell">
                    <b title="@Localize.T("Total Pieces Sold")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@Model.SumOfUpsell.TotalSold.ToString("#,##0.00")</b>
                </div>            </td>
            <td>
                <div class="ticket_list_partial_device_header">@Localize.T("Total Collected")<span>:</span></div>
                <div class="ticket_list_partial_device_info_upsell">
                    <b title="@Localize.T("Total Collected")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(0)</b>
                </div>            </td>
            <td>
                <div class="ticket_list_partial_device_header">@Localize.T("Total Piece Comm.")<span>:</span></div>
                <div class="ticket_list_partial_device_info_upsell">
                    <b title="@Localize.T("Total Piece Comm.")">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(0)</b>
                </div>            </td>

        </tr>
        </tbody>
      
    </table>