@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
<div class="ReportsTitle">
    @Localize.T("Service Equipment List")
</div>
<table class="table" id="InventoryCountReportTable">
    <thead class="table-head-border">
        <tr>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Equipment Name")</div>
                <div><i data-val="ascending/customer"></i><i data-val="descending/customer"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Quantity")</div>
                <div><i data-val="ascending/equipment"></i><i data-val="descending/equipment"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Ticket Id")</div>
                <div><i data-val="ascending/quantity"></i><i data-val="descending/quantity"></i></div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UsageEquipmentPartialList)
        {
            <tr>
                <td class="table-body-td-style">
                    <div>@Localize.T("Equipment Name") <span>:</span></div>
                    <div>@item.EquipName</div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("Quantity") <span>:</span></div>
                    <div>@item.Quantity</div>
                </td>

                <td class="table-body-td-style">
                    <div>@Localize.T("Ticket Id") </div>
                    <div class="ticket_list_partial_device_info">
                        <a class="cus-anchor" onclick="OpenTicketById(@item.TicketIntId)" href="javascript:void(0)">@item.TicketIntId</a>
                        <br />
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

