@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/RecurringBillingReportPartial.css" rel="stylesheet" />
<link href="~/Content/Select2/select2.css" rel="stylesheet" />

<script>
    var SalesPersonList = '@Html.Raw(Json.Encode(@ViewBag.EmployeeList))';
    SalesPersonList = JSON.parse(SalesPersonList);

    var pageno = '@ViewBag.PageNumber';
        var OpenTicketById = function(ticketId){
        OpenTopToBottomModal(domainurl + "/Ticket/AddTicket/?Id=" + ticketId);
    }
    var FilterVariableCost = function (pageno) {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        var searchtext = $("#new_sales_search_text").val();
        var SalesPerson = encodeURI($("#SalesPerson").val());
        var TicketType = encodeURI($("#TicketType").val());
        var LeadSource = encodeURI($("#LeadSource").val());
        var CustomerStatus = encodeURI($("#CustomerStatus").val());

        var ScheduledOnMin = $("#ScheduledOnMin").val();
        var ScheduledOnMax = $("#ScheduledOnMax").val();
        var InstallMin = $("#InstallMin").val();
        var InstallMax = $("#InstallMax").val();
        var BatchMin = $("#BatchMin").val();
        var BatchMax = $("#BatchMax").val();
        $(".VariableCostReport").html(TabsLoaderText);
        $(".VariableCostReport").load(domainurl + "/Reports/VariableCostPartialList?StartDate=" + encodeURI(StartDate) + "&EndDate=" + encodeURI(EndDate) + "&searchtext=" + encodeURI(searchtext) + "&pageno=" + pageno + "&pagesize=20" + "&SalesPerson=" + SalesPerson+"&TicketType=" + TicketType+"&LeadSource=" + LeadSource+"&CustomerStatus=" + CustomerStatus+"&ScheduledOnMin=" + ScheduledOnMin+"&ScheduledOnMax=" + ScheduledOnMax+"&InstallMin=" + InstallMin+"&InstallMax=" + InstallMax+"&BatchMin=" + BatchMin+"&BatchMax=" + BatchMax);
    }
    var ResetFilterSalesPerson = function () {
        $('.SalesPerson').selectpicker("val", "");
        $("#TicketType").selectpicker("val", "");
        $("#LeadSource").selectpicker("val", "");
        $("#CustomerStatus").selectpicker("val", "");
        $("#ScheduledOnMin").val("");
        $("#ScheduledOnMax").val("");
        $("#BatchMin").val("");
        $("#BatchMax").val("");
        $("#InstallMin").val("");
        $("#InstallMax").val("");
        FilterVariableCost(1);
    }
    $(document).ready(function () {
        $("#TicketType").selectpicker();
        $("#LeadSource").selectpicker()
        $("#CustomerStatus").selectpicker()

        $(".convert_cus_report_filter").hide();
        $("#filterbtn").click(function () {
            console.log("filter");
            if ($(".convert_cus_report_filter").is(":visible")) {
                $(".convert_cus_report_filter").hide();

            } else {
                $(".convert_cus_report_filter").show();

            }
        });

        if (SalesPersonList.length != 0) {
            $("#SalesPerson").selectpicker('val', SalesPersonList);
        }
        else {
            $("#SalesPerson").selectpicker('val', '');
        }
        FilterVariableCost(1);

        $("#btnVariableCost").click(function () {
            var StartDate = $(".min-date").val();
            var EndDate = $(".max-date").val();
            var searchtext = $("#new_sales_search_text").val();
            var SalesPerson = encodeURI($("#SalesPerson").val());
            var TicketType = encodeURI($("#TicketType").val());
            var LeadSource = encodeURI($("#LeadSource").val());
            var CustomerStatus = encodeURI($("#CustomerStatus").val());

            var ScheduledOnMin = $("#ScheduledOnMin").val();
            var ScheduledOnMax = $("#ScheduledOnMax").val();
            var BatchMin = $("#BatchMin").val();
             var BatchMax = $("#BatchMax").val();
             var InstallMin = $("#InstallMin").val();
            var InstallMax = $("#InstallMax").val();
            window.location.href = domainurl + "/Reports/VariableCostPartialList?StartDate=" + encodeURI(StartDate) + "&EndDate=" + encodeURI(EndDate) + "&GetReport=true" + "&searchtext=" + encodeURI(searchtext) + "&pageno=" + pageno + "&pagesize=20" + "&SalesPerson=" + SalesPerson + "&TicketType=" + TicketType + "&LeadSource=" + LeadSource + "&CustomerStatus=" + CustomerStatus + "&ScheduledOnMin=" + ScheduledOnMin + "&ScheduledOnMax=" + ScheduledOnMax+"&InstallMin=" + InstallMin+"&InstallMax=" + InstallMax+"&BatchMin=" + BatchMin+"&BatchMax=" + BatchMax;
        });
        $("#new_sales_search_text").keydown(function (e) {

            if (e.which == 13) {
                FilterVariableCost(1);
            }
        });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#ScheduledOnMin')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#ScheduledOnMax')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#InstallMin')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#InstallMax')[0] });
    });
    $(window).resize(function () {
    });
</script>

<div class="sales_summery_report_top_bar">
    <div class="input-group add-on">
        @if (ViewBag.searchtext != "" && ViewBag.searchtext != "undefined")
        {
            <input class="form-control" placeholder="Search Text" value="@ViewBag.searchtext" id="new_sales_search_text" />
        }
        else
        {
            <input class="form-control" placeholder="Search Text" value="" id="new_sales_search_text" />
        }

        <div class="input-group-btn"> <button class="btn green_button" onclick="FilterVariableCost(1)" id="btn_new_sales" title="@Localize.T("Search")"><i class="fa fa-search"></i></button></div>
    </div>

    <button class="btn convert_cus_div lilrp_filter_btn" id="filterbtn">
        <span title="Filter" class="glyphicon glyphicon-filter"></span>
    </button>

    <button title="@Localize.T(" Download")" class="btn btn-primary" id="btnVariableCost"><i class="fa fa-download"></i></button>

    <div class="convert_cus_report_filter">
        <div class="convert_cus_report_filte_innerr convert_cus_div">
            <div class="form-group clearfix">
                <label>@Localize.T("Rep")</label>
                @Html.DropDownList("SalesPerson", (List<SelectListItem>)ViewBag.EmployeeList, new { @class = "form-control  SalesPerson", @multiple = "multiple", @title = "Select Rep" })
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Ticket Type")</label>
                @Html.DropDownList("TicketType", ViewBag.TicketType as List<SelectListItem>, new { @class = "form-control border_radius_0 TicketType_Appointmentdate convert_cus_inp_drp", @multiple = "multiple", @title = "Ticket Type" })
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Lead Source")</label>
                @Html.DropDownList("LeadSource", ViewBag.LeadSource as List<SelectListItem>, new { @class = "form-control border_radius_0 Customer_Status_Appointmentdate convert_cus_inp_drp", @multiple = "multiple", @title = "Lead Source" })
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Customer Status")</label>
                @Html.DropDownList("CustomerStatus", ViewBag.CustomerStatus as List<SelectListItem>, new { @class = "form-control border_radius_0 Customer_Status_Appointmentdate convert_cus_inp_drp", @multiple = "multiple", @title = "Customer Status" })
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Appointment Min Date")</label>
                <input class="form-control convert_cus_inp" placeholder="Appointment Min Date" id="ScheduledOnMin" />
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Appointment Max Date")</label>
                <input class="form-control convert_cus_inp" placeholder="Appointment Max Date" id="ScheduledOnMax" />
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Install Min Date")</label>
                <input class="form-control convert_cus_inp" placeholder="Install Min Date" id="InstallMin" />
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Install Max Date")</label>
                <input class="form-control convert_cus_inp" placeholder="Install Max Date" id="InstallMax" />
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Batch Min")</label>
                <input class="form-control convert_cus_inp" placeholder="Batch Min" id="BatchMin" />
            </div>
            <div class="form-group clearfix">
                <label>@Localize.T("Batch Max")</label>
                <input class="form-control convert_cus_inp" placeholder="Batch Max" id="BatchMax" />
            </div>
        </div>
        <div class="convert_cus_report_footer convert_cus_div">
            <button class="btn green_button" id="apply_btn_filter" onclick="FilterVariableCost(1)">@Localize.T("Apply")</button>
            <button class="btn red_button" id="reset_btn_filter" onclick="ResetFilterSalesPerson()">@Localize.T("Reset")</button>
        </div>
    </div>
</div>


<div class="VariableCostReport">


</div>




