@model HS.Entities.VariableCostCustomerModel
@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/RecurringBillingReportPartial.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";
    var pageno = '@ViewBag.PageNumber';

    $(document).ready(function () {
    });
</script>

<div class="Sales_summ_report_table">
    <table class="loadticketreportlist_table recur_bill_report_table">
        <thead class="table-head-border">
            <tr>
                <th class="thead-th-style">
                    <div>@Localize.T("Customer")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("RMR")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Revenue")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Equip Cost")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Labor")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Commission")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Misc Expense")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Total Cost")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Avg. Cost")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Net")</div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Cr Mult")</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-style">
                <td class="table-body-td-style" valign="top">
                    <span> @string.Format("{0:#,##0}", Model.SumCustomer)</span>
                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency@string.Format("{0:#,##0.00}", Model.SumRMR)</span>
                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency@string.Format("{0:#,##0.00}", Model.SumRevenue)</span>
                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency@string.Format("{0:#,##0.00}", Model.SumEquipCost)</span>
                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency@string.Format("{0:#,##0.00}", Model.SumLabor)</span>
                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency@string.Format("{0:#,##0.00}", Model.SumCommission)</span>
                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency@string.Format("{0:#,##0.00}", Model.SumMiscExp)</span>
                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency@string.Format("{0:#,##0.00}", Model.SumTotalCost)</span>
                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency@string.Format("{0:#,##0.00}", Model.SumAvgCost)</span>
                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@Currency@string.Format("{0:#,##0.00}", Model.SumNet)</span>
                </td>
                <td class="table-body-td-style" valign="top">
                    <span>@string.Format("{0:#,##0.00}", Model.SumCrMul)</span>
                </td>
            </tr>
        </tbody>
    </table>
    @*<div class="row lrp_bottom_border">
            <div class="lead_total_color"> @Localize.T("Total: ") @string.Format("{0:#,##0}", ViewBag.OutOfNumber)</div>
        </div>*@

    <div class="new_sales_report_table_div">
        <table class="loadticketreportlist_table recur_bill_report_table new_sales_report_table table table-striped">
            <thead class="table-head-border">
                <tr>
                    <th class="thead-th-style new_header_customer"> <div>@Localize.T("Customer")</div></th>
                    <th class="thead-th-style new_header_sales"> <div>@Localize.T("Sales Person")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("RMR")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Revenue")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Equip Cost")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Labor")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Comm")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Misc Expense")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Ttl Cost")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Net")</div></th>
                    <th class="thead-th-style new_header"> <div>@Localize.T("Cr Mult")</div></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.VariableCostCustomer)
                {
                <tr class="tr-style">
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Customer")</div>
                        <div class="ticket_list_partial_device_info">
                            <a class="cus-anchor" href="/Customer/CustomerDetail/?id=@item.Id" target="_blank">@item.Id</a><br />
                            <a class="cus-anchor" href="/Customer/CustomerDetail/?id=@item.Id" target="_blank">@item.DisplayName</a>
                            @if (!String.IsNullOrEmpty(item.CustomerNo))
                            {
                                <div>
                                    <span title="Customer No"><a class="cus-anchor" href="/Customer/CustomerDetail/?id=@item.Id" target="_blank">@item.CustomerNo</a> </span>
                                </div>
                            }
                            @if (item.SalesDate != null && item.SalesDate != new DateTime())
                            {
                                <div>
                                    <span title="Sales Date">@item.SalesDate.ToString("M/d/yy")</span>
                                </div>
                            }
                            @if (!String.IsNullOrEmpty(item.Type) && item.Type != "-1")
                            {
                                <div>
                                    <span title="Type">@item.Type</span>
                                </div>
                            }
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("SalesPerson")</div>
                        <div class="ticket_list_partial_device_info">
                            @if (!String.IsNullOrEmpty(item.SalesPerson))
                            {
                                <div>@item.SalesPerson</div>
                            }
                            @if (!String.IsNullOrEmpty(item.SalesLocation) && item.SalesLocation != "-1")
                            {
                                <div>
                                    <span title="Sales Location">@item.SalesLocation</span>
                                </div>
                            }
                            @if (!String.IsNullOrEmpty(item.TicketType))
                            {
                                <div>
                                    <span title="Ticket Type">@item.TicketType</span>
                                </div>
                            }
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("RMR")</div>
                        <div class="ticket_list_partial_device_info">
                            @Currency@LabelHelper.FormatAmount(item.RMR)
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Revenue")</div>
                        <div class="ticket_list_partial_device_info">
                            @Currency@LabelHelper.FormatAmount(item.Revenue)
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Equip-Vendor Cost")</div>
                        <div class="ticket_list_partial_device_info">
                            @Currency@LabelHelper.FormatAmount(item.EquipVendorCost)
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Labor")</div>
                        <div class="ticket_list_partial_device_info">
                            @Currency@LabelHelper.FormatAmount(item.Labor)
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Comm")</div>
                        <div class="ticket_list_partial_device_info">
                            @Currency@LabelHelper.FormatAmount(item.Comm)
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Miscellaneous Expense")</div>
                        <div class="ticket_list_partial_device_info">
                            @Currency@LabelHelper.FormatAmount(item.MISC)
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Ttl Cost")</div>
                        <div class="ticket_list_partial_device_info">
                            @Currency@LabelHelper.FormatAmount(item.TtlCost)
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Net")</div>
                        <div class="ticket_list_partial_device_info">
                            @Currency@LabelHelper.FormatAmount(item.Net)
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div class="ticket_list_partial_device_header">@Localize.T("Cr Mult")</div>
                        <div class="ticket_list_partial_device_info">
                            @LabelHelper.FormatAmount(item.CrMult)
                        </div>
                    </td>
                </tr>
                }
            <tr class="table_total_bg">
                <td colspan="2">
                    <b class="float_right">@Localize.T("Total:")</b>
                </td>
                <td>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total RMR")</div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total RMR")">@Currency@LabelHelper.FormatAmount(Model.TotalRMR)</b>
                    </div>
                </td>
                <td>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Revenue")</div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Revenue")">@Currency@LabelHelper.FormatAmount(Model.TotalRevenue)</b>
                    </div>
                </td>
                <td>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Equip-Vendor Cost")</div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Equip-Vendor Cost")">@Currency@LabelHelper.FormatAmount(Model.TotalEquipVendorCost)</b>
                    </div>
                </td>
                <td>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Labor")</div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Labor")">@Currency@LabelHelper.FormatAmount(Model.TotalLabor)</b>
                    </div>
                </td>
                <td>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Comm")</div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Comm")">@Currency@LabelHelper.FormatAmount(Model.TotalComm)</b>
                    </div>
                </td>
                <td>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Miscellaneous Expense")</div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Miscellaneous Expense")">@Currency@LabelHelper.FormatAmount(Model.TotalMiscExp)</b>
                    </div>
                </td>
                <td>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Ttl Cost")</div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Ttl Cost")">@Currency@LabelHelper.FormatAmount(Model.TotalTtlCost)</b>
                    </div>
                </td>
                <td>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Net")</div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Net")">@Currency@LabelHelper.FormatAmount(Model.TotalNet)</b>
                    </div>
                </td>
                <td>
                    <div class="ticket_list_partial_device_header">@Localize.T("Total Cr Mult")</div>
                    <div class="ticket_list_partial_device_info">
                        <b title="@Localize.T("Total Cr Mult")">@Currency@LabelHelper.FormatAmount(Model.TotalCrMult)</b>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</div>
<div class="AgentListPagination">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="FilterVariableCost(@(ViewBag.PageNumber))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FilterVariableCost(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FilterVariableCost(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FilterVariableCost(2)">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="FilterVariableCost(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FilterVariableCost(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FilterVariableCost(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FilterVariableCost(2)">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="FilterVariableCost(3)">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="FilterVariableCost(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterVariableCost(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterVariableCost(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterVariableCost(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="FilterVariableCost(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="FilterVariableCost()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterVariableCost(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterVariableCost(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterVariableCost(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="FilterVariableCost(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterVariableCost(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterVariableCost(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterVariableCost(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="FilterVariableCost(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterVariableCost(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterVariableCost(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="FilterVariableCost(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterVariableCost(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="FilterVariableCost(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
        }
    </div>
</div>

