@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<table class="table" id="InventoryCountReportTable">
    <thead class="table-head-border">
        <tr>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Account Id")</div>
                <div><i data-val="ascending/customer"></i><i data-val="descending/customer"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Doing Business As (DBA)")</div>
                <div><i data-val="ascending/customer"></i><i data-val="descending/customer"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Street")</div>
                <div><i data-val="ascending/equipment"></i><i data-val="descending/equipment"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("City")</div>
                <div><i data-val="ascending/quantity"></i><i data-val="descending/quantity"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("State")</div>
                <div><i data-val="ascending/quantity"></i><i data-val="descending/quantity"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Zip")</div>
                <div><i data-val="ascending/quantity"></i><i data-val="descending/quantity"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("First Name")</div>
                <div><i data-val="ascending/quantity"></i><i data-val="descending/quantity"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Last Name")</div>
                <div><i data-val="ascending/quantity"></i><i data-val="descending/quantity"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Work Phone")</div>
                <div><i data-val="ascending/quantity"></i><i data-val="descending/quantity"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Market")</div>
                <div><i data-val="ascending/quantity"></i><i data-val="descending/quantity"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Account Type")</div>
                <div><i data-val="ascending/quantity"></i><i data-val="descending/quantity"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Service Type")</div>
                <div><i data-val="ascending/quantity"></i><i data-val="descending/quantity"></i></div>
            </th>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Note")</div>
                <div><i data-val="ascending/quantity"></i><i data-val="descending/quantity"></i></div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerVendorAccountList)
        {
            <tr>
                <td class="table-body-td-style">
                    <div>@Localize.T("Account Id ")</div>
                    <div><a href="/Customer/Customerdetail/?id=@item.Id" class="lead_click_item" target="_blank">@item.Id</a></div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("DBA")</div>
                    <div>@item.DBA</div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("Street")</div>
                    <div>@item.Street</div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("City")</div>
                    <div>@item.City</div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("State")</div>
                    <div>@item.State</div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("Zip")</div>
                    <div>@item.Zip</div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("First Name")</div>
                    <div>@item.FirstName</div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("Last Name")</div>
                    <div>@item.LastName</div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("Work Phone")</div>
                    <div>@HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(@item.PrimaryPhone)</div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("Market")</div>
                    <div>@item.Market</div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("Account Type")</div>
                    <div>@item.AccountType</div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("Service Type")</div>
                    <div>@item.ServiceType</div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("Note")</div>
                    <div>@item.Note</div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="VendorAccountReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="VendorAccountReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="VendorAccountReportLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="VendorAccountReportLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="VendorAccountReportLoad(3, @(ViewBag.order))">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber-2), @(ViewBag.order))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="VendorAccountReportLoad()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber + 2), @(ViewBag.order))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber - 1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="VendorAccountReportLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
        }
    </div>
</div>

