
@{
    Layout = null;
}

@model HS.Entities.UserProfile
@using Localize = HS.Web.UI.Helper.LanguageHelper

    <script>
        var DoActivateUser = function () {
            var url = domainurl + "/UserMgmt/ActivateUser/";
            var param = JSON.stringify({
                FirstName: $("#Employee_FirstName").val(),
                UserName: $("#UserLogin_UserName").val(),
                LastName: $("#Employee_LastName").val(),
                Password: $("#UserLogin_Password").val(),
                Id: $("#UserLogin_Id").val()
            });
            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: url,
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data.result) {
                        OpenSuccessMessageNew("Success!", data.message, function () {
                            LoadUserMgmt(true);
                        });
                    } else {
                        OpenErrorMessageNew("Error!", data.message, function () {
                            LoadUserMgmt(true);
                        });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $(".loader-div").hide();
                    console.log(errorThrown);
                }
            });
        }
        var PasswordCheck = function(){
            if($(".ConfirmPassword").val() == $(".Password").val()){
                $(".lblConfirmPassword").addClass("hidden");
                return true;
            }
            else {
                $(".lblConfirmPassword").removeClass("hidden");
                return false;
            }
        }
        $(document).ready(function () {
            $(".LoaderWorkingDiv").hide();
            $("#BtnCancel").click(function () {
                LoadUserMgmt(true);
            });
            $("#UserLogin_Password").val("");
            $("#ConfirmPassword").val("");
            
            $("#BtnLogin").click(function () {
                if (CommonUiValidation() && PasswordCheck()) {
                    DoActivateUser();
                }
            });
            $("#ConfirmPassword").blur(function () {
                console.log("blured");
                PasswordCheck();
            });

        });
    </script>

    @Html.HiddenFor(x => x.UserLogin.Id)
    <div>
        <div class="">
            <div class="">
                <div class="col-md-5 col-md-offset-4">
                    <div style="margin-top:20px;" class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">User activation form</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <label>Email Address / Username</label>
                                        @Html.TextBoxFor(x => x.UserLogin.UserName, new { @class = "form-control", disabled = "disabled" })
                                    </div>
                                    <div class="form-group">
                                        <label>First name</label>
                                        @Html.TextBoxFor(x => x.Employee.FirstName, new { @class = "form-control", autofocus = "autofocus", @placeholder = "First Name", datarequired = "true" })
                                    <label rel="FirstName" class="label hidden red position-absolute">First name required</label>
                                    </div>
                                    <div class="form-group">
                                        <label>Last name</label>
                                        @Html.TextBoxFor(x => x.Employee.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                                    <label rel="LastName" class="label hidden red position-absolute">Last name required</label>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        @Html.TextBoxFor(x => x.UserLogin.Password, new { @class = "form-control Password", @placeholder = "Password", datarequired = "true", dataformat = "password", type = "password" })
                                    <label rel="UserLogin.Password" class="label hidden red position-absolute">A valid Password Required (min 6 digits)</label>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        @Html.TextBoxFor(x => x.UserLogin.Password, new { @class = "form-control ConfirmPassword", @id = "ConfirmPassword", @placeholder = "Confirm Password", type = "password" })
                                    <label class="label hidden red position-absolute lblConfirmPassword">Password not matched</label>

                                    </div>
                                    @*<div class="checkbox">
                                            <label>
                                                <input name="remember" type="checkbox" id="Remember" value="Remember Me">Remember Me
                                            </label>
                                        </div>*@
                                    <!-- Change this to a button or input when using this as a form -->
                                    <div class="col-md-6 form-group">
                                        <a href="javascript:void(0)" id="BtnCancel" class="btn btn-default btn-block">Cancel</a>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <a href="javascript:void(0)" id="BtnLogin" class="btn btn-success btn-block">Activate</a>
                                    </div>
                                    <div class="form-group">
                                        By clicking activate account, you acknowledge you have read and agree to the <a href="javascript:void(0)">terms of service</a>.
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-info btn-lg hidden" id="LoginFailed" data-toggle="modal" data-target="#myModal">Open Modal</button>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Error!</h4>
                    </div>
                    <div class="modal-body">
                        <p>Login Failed.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

