@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.RecruitmentForm>

<style>
    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }
    #AssignFormSaveBtn{ 
        float: right;
        background-color:#2ca01c;
        color:white;
    }
    .width-90p{
        width:90%;
        float:left;
    }
    .userForm{
            width: 100%;
    float: left;
   margin-bottom:10px;
    }
    .forms_list{
        margin-top:25px;
    }
    .RightToLeftModalHeader{
        width: 100%;
        font-size: 2.4rem;
        background-color: #f4f5f8;
        padding: 10px 15px;
    }
    .SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }
</style>
<script>

    var SaveAssignForms = function () {

        var IdList = [];

        $(".FormItem").each(function () {
            if ($(this).is(':checked')) {
                IdList.push($(this).val());
            }
        });
        var param = JSON.stringify({
            EmployeeId : $("#SelectedEmployeeID").val(),
            Forms: IdList
        });
        var url = domainurl + "/UserMgmt/AssignForms/";
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.result) {
                    $(".close").click();
                    OpenSuccessMessageNew("Success!", data.message);
                } else {
                    $(".close").click();
                    OpenErrorMessageNew("Error!", data.message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    $(document).ready(function () {
        $(".invoice-loader").hide();
        $("#AssignFormSaveBtn").click(function () {
            SaveAssignForms();
        });

    });

</script>



<div class="AssignFormsContents">
    <input type="hidden" value="@ViewBag.EmployeeId" id="SelectedEmployeeID"/>

    <div class="RightToLeftModalHeader">
        <span>@Localize.T("Assign Forms To Employee")</span>
    </div>
     
    <div class="forms_list">
        @foreach (var item in Model)
        {
            <div class="userForm">
                <div class="width-10p text-center">
                    <input type="checkbox" @(item.IsChecked ? "Checked" : "") class="FormItem" value="@item.Id" />
                </div>
                <div class="width-90p">
                    <span>@item.DisplayName</span>
                </div>
            </div>
        }
    </div>
     

    <section class="footer-section">
        <footer class="footer">
            <div class="SaveCancelDiv">
                <button  class="btn btn-save" id="AssignFormSaveBtn"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>

            </div>
        </footer>
    </section>
</div>