
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig; 
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<script src="~/Content/Js/JquerySession.js"></script>
@Styles.Render("~/styles/UserManagement")
@Scripts.Render("~/scripts/UserManagement")

<script>

    var UserImportInit = function ()
    {
        OpenRightToLeftModal(domainurl + "/UserMgmt/UserImport/");
    }

    $(document).on('click', '.tree label', function (e) {
        $(this).next('ul').fadeToggle();
        e.stopPropagation();
    });

    $(document).on('change', '.tree input[type=checkbox]', function (e) {
        $(this).siblings('ul').find("input[type='checkbox']").prop('checked', this.checked);
        $(this).parentsUntil('.tree').children("input[type='checkbox']").prop('checked', this.checked);
        e.stopPropagation();
    });
</script>

<div class="content-wrap custom-head">
    <div class="container-fluid">
        <div class="user_management_header">
           <h2>@Localize.T("Manage Users")</h2>
           
           <div class="AddNewBtnDiv">
               
               @if (PermissionChecker.IsPermitted(Permissions.UserMgmtPermissions.AddUser))
               {
                   <button class="btn green_button" id="AddNewManufacturer" type="button" title="@Localize.T("Add User")">
                       <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
                   </button>

                   if (!PermissionChecker.IsPermitted(Permissions.UserMgmtPermissions.QuickMenuManageUserHideUserImportButton))
                   {
                       <button data-toggle="dropdown" class="btn dropdown-toggle green_button" type="button" aria-expanded="false" title="Import Customers">
                           <span class="caret"></span>
                       </button>
                       <ul class="dropdown-menu customer-dropdown-ul-style import_leads_dropdown">
                           <li><a href="javascript:void(0)" onclick="UserImportInit()">Import User</a></li>
                       </ul>
                   }
               }


           </div>

           
        </div>
        <div class="ListContents" style="display:none;">

        </div>
    </div>
</div>
<div class="ListViewLoader">
    <div>
        <div class="lds-css ng-scope">
            <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
        </div>
    </div>
    @*<div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div>*@
</div>
<div style="display:none">
    <a href="@(AppConfig.DomainSitePath)/UserMgmt/AddUser" class="addManufacturerMagnific">@Localize.T("Add New Manufacturer")</a>
</div>





