@model IEnumerable<HS.Entities.UserMgmtList>
@using Localize = HS.Web.UI.Helper.LanguageHelper;

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessRights)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsCalendar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalendarColor)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Supervisor)
        </th>
        <th>
            @Localize.T("Status")
        </th>
        <th>
            @Localize.T("Current Employee")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessRights)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsCalendar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalendarColor)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Supervisor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentEmp)
            </td>
        </tr>
    }

</table>
