@{
    Layout = null;

}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var PermissionId = '@ViewBag.PermissionId';
    var PermissionName = '@ViewBag.PermissionName';
    var myTimer;
    $(document).ready(function () {

        $(".LoadPermissionList").load("/UserMgmt/ChangeGroupPermission?id=" + PermissionId + "&permissionName=" + PermissionName);

        $("#SearchPermission").keyup(function () {
            clearTimeout(myTimer);
            var permissionName = encodeURI($("#SearchPermission").val());
            myTimer = setTimeout(function () {
                $(".LoadPermissionList").load("/UserMgmt/ChangeGroupPermission?id=" + PermissionId + "&permissionName=" + permissionName);
            }, 500); 
            
        });
    });
</script>
<style>
    #SearchPermission{
        width: 93%;
        margin-left: 8px;
        margin-top: 14px;
    }
</style>
<div class="container-fluid add_usergroup_container">

    <div class="add_acc_fee_head_container">
        <span class="add_acc_fee_head_text">@Localize.T("View/Change ")@ViewBag.UserType @Localize.T(" Group Permission")
        @if(ViewBag.userGroupName != "")
        {
           <br/> <span>(@ViewBag.userGroupName)</span>
            
        }


        </span>
    </div>
    <input type="text" class="form-control" placeholder="Search" id="SearchPermission"/>
    <div class="LoadPermissionList">
    </div>
</div>
