@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.AdjustmentRule
@using AppConfig = HS.Framework.Utils.AppConfig; 
<script>
    var SaveAdjustmentRule = function () {
        var url = "@(AppConfig.DomainSitePath)/Adjusment/AddAdjustmentRule";
        var param = JSON.stringify({
            Id: $("#Id").val(),
            AdjustSchemeId: $("#AdjustSchemeId").val(),
            ComissionSessionId: $("#ComissionSessionId").val(),
            TableName: $("#TableName").val(),
            ColumnName: $("#ColumnName").val(),
            ColumnValue: $("#ColumnValue").val(),
            DataType: $("#DataType").val(),
            CommandType: $("#CommandType").val()
        });
        $.ajax({
            type: "POST",
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (result) {
                parent.$('.close').trigger('click');
                setTimeout(function () {
                    parent.$("#AdjustmentRuleTab").load("@(AppConfig.DomainSitePath)/Adjusment/AdjustmentRulePartial");
                }, 600);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        })
    }
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $("#SaveAdjustmentRule").click(function () {
            if ($("#ComissionSessionId").val() != "-1" && $("#AdjustSchemeId").val() != "-1" && CommonUiValidation()) {
                SaveAdjustmentRule();
            }
            else {
                if ($("#ComissionSessionId").val() == "-1" && $("#AdjustSchemeId").val() == "-1") {
                    $("#ComissionSessionId").css("border-color", "red");
                    $("#AdjustSchemeId").css("border-color", "red");
                }
                else {
                    $("#ComissionSessionId").css("border-color", "#ccc");
                    $("#AdjustSchemeId").css("border-color", "#ccc");
                }

            }
        })
    })
</script>

<style>
    .add_commission_type_header {
        width: 100%;
        background-color: #f4f5f8;
        padding: 10px 0px 5px 20px;
        font-size: 2rem;
        font-weight: 400;
        color: #393a3d;
    }

    .SaveCancelDiv {
        width: 95% !important;
        padding-top: 8px !important;
    }

    .footer-section {
        background: #eceef1 !important;
        height: 50px !important;
        position: fixed !important;
        width: 100% !important;
        bottom: 0% !important;
    }
    #SaveAdjustmentRule{
        float:right !important;
        background-color:#2ca01c !important;
        color:white !important;
    }
    #SaveAdjustmentRule:hover{
        color:white !important;
    }
    .Add_adjustment_rule_content {
        width:100%;
        float:left;
        margin-bottom:10px;
    }
    .Add_adjustment_rule_content label {
        margin-bottom:0px;
    }
</style>
<div class="add_commission_type_header">@Localize.T("Add Adjustment Rule")</div>
<div class="container-fluid">
    @Html.HiddenFor(x => x.Id)
    <div class="Add_adjustment_rule_content">
        <label>@Localize.T("Commission Season")</label>
       
            @Html.DropDownListFor(x => x.ComissionSessionId, ViewBag.SessionCommission as List<SelectListItem>, new { @class = "form-control" })
       
    </div>
    <div class="Add_adjustment_rule_content">
        <label>@Localize.T("Adjustment Scheme")</label>
       
            @Html.DropDownListFor(x => x.AdjustSchemeId, ViewBag.SchemeAdjustment as List<SelectListItem>, new { @class = "form-control" })
      
    </div>
    <div class="Add_adjustment_rule_content">
        <label>@Localize.T("Table Name")</label>
       
            @Html.TextBoxFor(x => x.TableName, new { @class = "form-control", datarequired = "true", placeholder = "Table Name" })
       
    </div>
    <div class="Add_adjustment_rule_content">
        <label>@Localize.T("Column Name")</label>
        
            @Html.TextBoxFor(x => x.ColumnName, new { @class = "form-control", datarequired = "true", placeholder = "Column Name" })
       
    </div>
    <div class="Add_adjustment_rule_content">
        <label>@Localize.T("Column Value")</label>
       
            @Html.TextBoxFor(x => x.ColumnValue, new { @class = "form-control", datarequired = "true", placeholder = "Column Value" })
       
    </div>
    <div class="Add_adjustment_rule_content">
        <label>@Localize.T("Data Type")</label>
       
            @Html.TextBoxFor(x => x.DataType, new { @class = "form-control", datarequired = "true", placeholder = "Data Type" })
       
    </div>
    <div class="Add_adjustment_rule_content">
        <label>@Localize.T("Command Type")</label>
       
            @Html.TextBoxFor(x => x.CommandType, new { @class = "form-control", datarequired = "true", placeholder = "Command Type" })
       
    </div>
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn btn-snote" id="SaveAdjustmentRule"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
        </div>
    </footer>
</section>




