@{
    Layout = null;
}
@using AppConfig = HS.Framework.Utils.AppConfig; 
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/Adjustment/AdjustmentPartial.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $("#AdjustmentSchemeTab").load("@(AppConfig.DomainSitePath)/Adjusment/AdjustmentSchemePartial");
        $("#AdjustmentRuleTab").load("@(AppConfig.DomainSitePath)/Adjusment/AdjustmentRulePartial");
        $("#AdjusmentTab").load("@(AppConfig.DomainSitePath)/Adjusment/AdjustmentPartial");
        $("#OverrideTab").load("@(AppConfig.DomainSitePath)/Adjusment/OverridePartial");
        $("#OverrideRangeTab").load("@(AppConfig.DomainSitePath)/Adjusment/OverrideRangePartial");
    });
</script>

<div class="container-fluid">
    <div class="adjustment_partial_header">
        @Localize.T("Adjustments & Overrides")
    </div>
    <div class="matrix-content">
        <ul class="nav nav-tabs adjustment-nav-tab" id="myTab">
            <li class="active"><a class="AdjustmentSchemeTab" data-target="#AdjustmentSchemeTab" data-toggle="tab">@Localize.T("Adjustments Scheme")</a></li>
            <li><a class="AdjustmentRuleTab" data-target="#AdjustmentRuleTab" data-toggle="tab">@Localize.T("Adjustment Rules")</a></li>
            <li><a class="AdjusmentTab" data-target="#AdjusmentTab" data-toggle="tab">@Localize.T("Adjustments")</a></li>
            <li><a class="OverrideTab" data-target="#OverrideTab" data-toggle="tab">@Localize.T("Overrides")</a></li>
            <li><a class="OverrideRangeTab" data-target="#OverrideRangeTab" data-toggle="tab">@Localize.T("Override Ranges")</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="AdjusmentTab"></div>
            <div class="tab-pane" id="AdjustmentRuleTab"></div>
            <div class="tab-pane active" id="AdjustmentSchemeTab"></div>
            <div class="tab-pane" id="OverrideTab"></div>
            <div class="tab-pane" id="OverrideRangeTab"></div>
        </div>
    </div>
</div>

