@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig; 
@model List<HS.Entities.AdjustmentScheme>
@Styles.Render("~/styles/DataTableBundles")
@Scripts.Render("~/scripts/DataTableBundles")
<script>
    var DataTablePageSize = 50;
    var selectedDeleteId = 0;
    var DeleteAdjustmentScheme = function () {
        var delitem = selectedDeleteId;
        $.ajax({
            url: "@(AppConfig.DomainSitePath)/Adjusment/DeleteAdjustmentScheme",
            data: { Id: delitem },
            type: "Post",
            dataType: "Json",
            success: function (result) {
                parent.$("#AdjustmentSchemeTab").load("@(AppConfig.DomainSitePath)/Adjusment/AdjustmentSchemePartial");
            },
            error: function () {
            }
        });
    }

    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        var table = $('#tblAScheme').DataTable({
            "pageLength": DataTablePageSize,
            "destroy": true,
            "language": {
                "emptyTable": "No data available"
            }
        });
        $('#tblAScheme tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        $("#Adjustment-srch-term").keyup(function () {
            $("#tblAScheme_filter input").val($("#Adjustment-srch-term").val());
            $("#tblAScheme_filter input").trigger('keyup');
        });
        $("#AddAdjustmentScheme").click(function () {
            OpenRightToLeftModal("@(AppConfig.DomainSitePath)/Adjusment/AddAdjustmentScheme?id=0");
        })
        $(".item-deletescheme").click(function () {
            selectedDeleteId = $(this).attr('data-id');
            OpenConfirmationMessageNew("Confirm?", "Are you sure you want to delete this Adjustment Scheme ?", DeleteAdjustmentScheme);
        })
        $(".item-editscheme").click(function () {
            var typeval = $(this).attr('data-id');
            OpenRightToLeftModal("@(AppConfig.DomainSitePath)/Adjusment/AddAdjustmentScheme?id=" + typeval);
        })
    })
</script>

<div class="adjustment_scheme_partial_container">
    <div class="adjustment_scheme_partial_top_bar">
        <div class="input-group add-on">
            <input class="form-control" placeholder="Find a adjustment scheme" name="srch-term" id="Adjustment-srch-term" type="text">
            <div class="input-group-btn">
                <button class="btn custom-btn green_button" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        <button class="btn btn-primary btnCommissionType" id="AddAdjustmentScheme"><i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("New")</button>
    </div>
    
    <div class="table-CommissionType">
        <table id="tblAScheme" class="ui celled table" cellspacing="0">
            <thead>
                <tr>
                    <th class="thead-th-style">@Localize.T("Name")</th>
                    <th class="thead-th-style">@Localize.T("Season")</th>
                    <th class="thead-th-style">@Localize.T("Action")</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr class="tr-style">
                            <td class="table-body-td-style" valign="top">
                                <a href="javascript:void(0)" class="item-editscheme" data-id="@item.Id">@item.Name</a>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                @item.SessionName
                            </td>
                            <td>
                                <a href="javascript:void(0)" class="item-deletescheme" data-id="@item.Id" title="@Localize.T("Delete")">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
                <tr class="tr-style">
                    <td class="table-body-td-style" valign="top">
                        <div>@Localize.T("Name") <span>:</span> </div>
                        <div><a href="javascript:void(0)" class="item-editscheme" data-id=""> Name </a></div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div>@Localize.T("Season") <span>:</span> </div>
                        <div>Session Name</div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div>@Localize.T("Action") <span>:</span> </div>
                        <div>
                            <a href="javascript:void(0)" class="item-deletescheme" title="@Localize.T("Delete")">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



