@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.Adjustment>
@using AppConfig = HS.Framework.Utils.AppConfig; 
<script>
    var DataTablePageSize = 50;
    var selectedDeleteId = 0;
    var DeleteAdjustment = function () {
        var delitem = selectedDeleteId;
        $.ajax({
            url: "@(AppConfig.DomainSitePath)/Adjusment/DeleteAdjustment",
            data: { Id: delitem },
            type: "Post",
            dataType: "Json",
            success: function (result) {
                parent.$("#AdjusmentTab").load("@(AppConfig.DomainSitePath)/Adjusment/AdjustmentPartial");
            },
            error: function () {
            }
        });
    }

    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        var table = $('#tblA').DataTable({
            "pageLength": DataTablePageSize,
            "destroy": true,
            "language": {
                "emptyTable": "No data available"
            }
        });
        $('#tblA tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        $("#Adjusment-srch-term").keyup(function () {
            $("#tblA_filter input").val($("#Adjusment-srch-term").val());
            $("#tblA_filter input").trigger('keyup');
        });
        $(".item-delete").click(function () {
            selectedDeleteId = $(this).attr('data-id');
            OpenConfirmationMessageNew("Confirm?", "Are you sure you want to delete this Adjustment?", DeleteAdjustment);
        })
        $(".item-edit").click(function () {
            var typeval = $(this).attr('data-id');
            OpenRightToLeftModal("@(AppConfig.DomainSitePath)/Adjusment/AddAdjustment?id=" + typeval);
        })
    })
</script>

    <div class="table-adjustment1">
        <table id="tblA" class="ui celled table" cellspacing="0">
            <thead>
                <tr>
                    <th class="thead-th-style">@Localize.T("Season")</th>
                    <th class="thead-th-style">@Localize.T("Scheme")</th>
                    <th class="thead-th-style">@Localize.T("Description")</th>
                    <th class="thead-th-style">@Localize.T("Conduit")</th>
                    <th class="thead-th-style">@Localize.T("Amount")</th>
                    <th class="thead-th-style">@Localize.T("Multiple")</th>
                    <th class="thead-th-style">@Localize.T("Applied To")</th>
                    <th class="thead-th-style">@Localize.T("Start Date")</th>
                    <th class="thead-th-style">@Localize.T("End Date")</th>
                    <th class="thead-th-style">@Localize.T("Action")</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr class="tr-style">
                            <td class="table-body-td-style" valign="top">@item.SessionName</td>
                            <td class="table-body-td-style" valign="top">@item.SchemeName</td>
                            <td class="table-body-td-style" valign="top">@item.Description</td>
                            <td class="table-body-td-style" valign="top">@item.Conduit</td>
                            <td class="table-body-td-style" valign="top">@item.Amount</td>
                            <td class="table-body-td-style" valign="top">@item.Multiple</td>
                            <td class="table-body-td-style" valign="top">@item.AppliedTo</td>
                            <td class="table-body-td-style" valign="top">@item.StartDate.Value.ToString("MM/dd/yy")</td>
                            <td class="table-body-td-style" valign="top">@item.EndDate.Value.ToString("MM/dd/yy")</td>
                            <td class="table-body-td-style" valign="top">
                                <a href="javascript:void(0)" class="item-edit" data-id="@item.Id"><i class="fa fa-edit" aria-hidden="true"></i>@Localize.T("Edit")</a>
                                <a href="javascript:void(0)" class="item-delete" data-id="@item.Id" title="@Localize.T("Delete")">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
