@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig; 
@model List<HS.Entities.Override>
@Styles.Render("~/styles/DataTableBundles")
@Scripts.Render("~/scripts/DataTableBundles")
<script>
    var DataTablePageSize = 50;
    var selectedDeleteId = 0;
    var DeleteOverride = function () {
        var delitem = selectedDeleteId;
        $.ajax({
            url: "@(AppConfig.DomainSitePath)/Adjusment/DeleteOverride",
            data: { Id: delitem },
            type: "Post",
            dataType: "Json",
            success: function (result) {
                parent.$("#OverrideTab").load("@(AppConfig.DomainSitePath)/Adjusment/OverridePartial");
            },
            error: function () {
            }
        });
    }

    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        var table = $('#tblO').DataTable({
            "pageLength": DataTablePageSize,
            "destroy": true,
            "language": {
                "emptyTable": "No data available"
            }
        });
        $('#tblO tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        $("#Override-srch-term").keyup(function () {
            $("#tblO_filter input").val($("#Override-srch-term").val());
            $("#tblO_filter input").trigger('keyup');
        });
        $("#AddOverride").click(function () {
            OpenRightToLeftModal("@(AppConfig.DomainSitePath)/Adjusment/AddOverride?id=0");
        })
        $(".item-deleteover").click(function () {
            selectedDeleteId = $(this).attr('data-id');
            OpenConfirmationMessageNew("Confirm?", "Are you sure you want to delete this Override?", DeleteOverride);
        })
        $(".item-editover").click(function () {
            var typeval = $(this).attr('data-id');
            OpenRightToLeftModal("@(AppConfig.DomainSitePath)/Adjusment/AddOverride?id=" + typeval);
        })
    })
</script>

<div class="override_partial_container">
    <div class="override_partial_top_bar">
        <div class="input-group add-on">
            <input class="form-control" placeholder="Find a Override" name="srch-term" id="Override-srch-term" type="text">
            <div class="input-group-btn">
                <button class="btn custom-btn green_button" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
      
        <button class="btn btn-primary btnCommissionType" id="AddOverride"><i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("New")</button>
    </div>
    
    <div class="table-CommissionType">
        <table id="tblO" class="ui celled table" cellspacing="0">
            <thead>
                <tr>
                    <th class="thead-th-style">@Localize.T("Name")</th>
                    <th class="thead-th-style">@Localize.T("Time frame")</th>
                    <th class="thead-th-style">@Localize.T("Start Day Week")</th>
                    <th class="thead-th-style">@Localize.T("Start Day Month")</th>
                    <th class="thead-th-style">@Localize.T("Active")</th>
                    <th class="thead-th-style">@Localize.T("Action")</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr class="tr-style">
                            <td class="table-body-td-style" valign="top">@item.Name</td>
                            <td class="table-body-td-style" valign="top">@item.Timeframe</td>
                            <td class="table-body-td-style" valign="top">@item.StartDayWk</td>
                            <td class="table-body-td-style" valign="top">@item.StartDayMonth</td>
                            @if (item.IsActive == true)
                            {
                                <td class="table-body-td-style" valign="top">@Localize.T("Yes")</td>
                            }
                            else
                            {
                                <td class="table-body-td-style" valign="top">@Localize.T("No")</td>
                            }
                            <td class="table-body-td-style" valign="top">
                                <a href="javascript:void(0)" class="item-editover" data-id="@item.Id"><i class="fa fa-edit" aria-hidden="true"></i>@Localize.T("Edit")</a>
                                <a href="javascript:void(0)" class="item-deleteover" data-id="@item.Id" title="@Localize.T("Delete")">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
