@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.RestrictedZipCode
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Inventory/BadInventoryPartial.css" rel="stylesheet" />


<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Select2/select2.css" rel="stylesheet" />
<script src="~/Content/Select2/Select2.min.js"></script>

@*<link href="~/Content/Select2/select2.v2.css" rel="stylesheet" />
    <script src="~/Content/Select2/select2.v2.full.min.js"></script>
    <script src="~/Content/Select2/select2.v2.full.js"></script>
    <link href="~/Content/Select2/select2.v2.min.css" rel="stylesheet" />*@

<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var DataTablePageSize = 50;

   var pageno = '@ViewBag.PageNumber';


     var AddRestrictedZipCode = function () {
        OpenRightToLeftModal("CityTax/AddRestrictedZipCode");
    }

    var CustomerSearchKeyUp = function (pageno) {


        var SearchText = $(".category_search_text").val();
    


           //$(".RestrictedZipCodeLoad").html(TabsLoaderText);
            $(".RestrictedZipCodeLoad").load(domainurl + "/CityTax/LoadRestrictedZipCode/?searchtext=" + encodeURI(SearchText) +"&pageno=" + pageno + "&pagesize=20" );
          
    }
    var DeleteRestrictedZipCodeById = function (EmConId) {
         var SearchText = $(".category_search_text").val();

        $.ajax({
            url: domainurl + "/CityTax/DeleteRestrictedZipCode",
            data: { Id: EmConId },
            type: "Post",
            dataType: "Json",
            success: function (data) {
                if (data.result) {
                    OpenSuccessMessageNew ("Success!", data.message, function () {
                        $(".RestrictedZipCodeLoad").load("/CityTax/LoadRestrictedZipCode/?searchtext=" + encodeURI(SearchText) +"&pageno=" + pageno + "&pagesize=20");
                    })
                } else {
                    OpenErrorMessageNew("Error!", data.message)
                }
            }
        });
    }

    var DeleteRestrictedZipCode = function(DeleteId){
        OpenConfirmationMessageNew("Confirm?","Do you want to delete this ZipCode from the list?",function(){
            DeleteRestrictedZipCodeById(DeleteId);
        })
    }

    $(document).ready(function () {

  
        $(".LoaderWorkingDiv").hide();
        //$("#LeadfollowupReportTab .invoice-loader").hide();

  

          $("#zipcodesrch").click(function () {
          

            var SearchText = $(".category_search_text").val();
            //$(".RestrictedZipCodeLoad").html(TabsLoaderText);
            $(".RestrictedZipCodeLoad").load(domainurl + "/CityTax/LoadRestrictedZipCode/?searchtext=" + encodeURI(SearchText) +"&pageno=" + pageno + "&pagesize=20" );
          });


            $(".category_search_text").keydown(function (e) {
            var SearchText = $(".category_search_text").val();

            if (e.which == 13) {
                $(".RestrictedZipCodeLoad").load(domainurl + "/CityTax/LoadRestrictedZipCode?searchtext=" + encodeURI(SearchText)+"&pageno=" + pageno + "&pagesize=20");
            }
        });

        $("#load_RestrictedZipCode_import").click(function () {
        OpenRightToLeftModal("/CityTax/AddRestricterdZipCodeFile");
    });

      



    });
</script>
<style>
    .lead_market_width {
        width: 200px;
        float: left;
    }
</style>
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />

@*<br/>
    <div class="row lrp_bottom_border">
        <div class="lead_total_color"> @Localize.T("Total ZipCode :") @string.Format("{0:#,##0}", ViewBag.OutOfNumber)</div>
    </div>*@

<div class="row">
</div>
<div class="row followup_report_top_bar lhlr_top_bar">
    <div class="input-group add-on">

        <input value="@TempData["data"]" class="form-control filterinput border_radius_0 category_search_text" placeholder="Search">

        <div class="input-group-btn">
            <button class="btn green_button" title="Search" id="zipcodesrch"><i class="fa fa-search"></i></button>
        </div>

    </div>

    
 
    <div class="btn-group" style="float:right;">
        <button class="btn btn-note green_button" onclick="AddRestrictedZipCode()" type="button" title="@Localize.T("Add Restricted ZipCode")">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" Restricted Zip Code")
        </button>
        <button data-toggle="dropdown" style="border-left:1px solid #fff !important;" class="btn btn-primary green_button dropdown-toggle" type="button" title="@Localize.T("Import Restricted Zip Code")">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0)" id="load_RestrictedZipCode_import">@Localize.T("Import")</a></li>
        </ul>
    </div>

</div>




<div class="leads_report_table HudsonleadsReportTable">
    <table id="" class="loadHudsonleadsReportTable restricted_zip_table">
        <thead>
            <tr>
                <th class="dba">@Localize.T(" ZipCode")</th>
                <th class="lhlr_add">@Localize.T("Created By")</th>
                <th class="lhlr_stat">@Localize.T("Created Date")</th>
                <th class="lhlr_stat">@Localize.T("Action")</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.restrictedzipcodeList)
            {
                <tr>
                    <td>

                        <div>@Localize.T("ZipCode") <span>:</span></div>
                        @{
                            if (!string.IsNullOrWhiteSpace(item.Zipcode))
                            {
                                <div>@item.Zipcode</div>
                            }
                        }
                    </td>
                    <td>
                        <div>@Localize.T("Created By") <span>:</span></div>
                        @{
                            if (!string.IsNullOrWhiteSpace(item.CreatedBy))
                            {
                                <div>@item.CreatedBy</div>
                            }
                        }
                    </td>
                    <td>
                        <div>@Localize.T("Created Date") <span>:</span></div>
                        @{
                            if (!string.IsNullOrWhiteSpace(item.CreatedDate.ToString()) && item.CreatedDate!= new DateTime())
                            {
                                <div>@item.CreatedDate.Value.ToString("MM/dd/yyyy")</div>
                            }
                            else
                            {
                                <div></div>
                            }
                        }
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="item-delete" onclick="DeleteRestrictedZipCode('@item.Id')" style="float:right;cursor:pointer;" title="@Localize.T("Delete")">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </td>


                </tr>
            }
        </tbody>
    </table>
    <div class="AgentListPagination">
        <div class="paginationContainer">
            @if (ViewBag.PageCount > 0)
            {
                <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
            }
            @if (ViewBag.PageCount == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons disabledBtn">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber))">1</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CustomerSearchKeyUp(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CustomerSearchKeyUp(2)">2</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CustomerSearchKeyUp(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CustomerSearchKeyUp(2)">2</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="CustomerSearchKeyUp(3)">3</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount > 3)
            {
                if (ViewBag.PageNumber == ViewBag.PageCount)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons disabledBtn" onclick="CustomerSearchKeyUp()">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 1)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 2)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
            }
        </div>
    </div>
</div>


