@{ 
    Layout = null;
}
@model List<HS.Entities.CityTax>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/Mmrs")
@*@Scripts.Render("~/scripts/Mmrs")*@

@Styles.Render("~/styles/CityTax")
@Scripts.Render("~/scripts/CityTax")

<div class="container-fluid">
    <div class="style-txt">
        <span class="txt-citytax">@Localize.T("City Tax Information")</span>
        <button class="Addcitytax">@Localize.T("Add New CityTax")</button>
    </div>
    <div class="searchTaxdiv">
        <div class="input-group add-on txt-input">
            <input class="form-control" placeholder="Find City Tax" name="srch-tax" id="srch-tax" type="text">
            <div class="input-group-btn">
                <button class="btn custom-btn green_button" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>
    <div class="custom-table">
        <table class="display" id="tblCitytax">
            <thead class="table-head-border">
                <tr>
                    <th class="thead-th-style sorting">
                        @Localize.T("City")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Country")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("State")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("ZipCode")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Rate")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Monitoring")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Equipment")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Others")
                    </th>
                    <th class="thead-th-style sorting text-right">
                        @Localize.T("Actions")
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr class="tr-style">
                    <td class="table-body-td-style" valign="top">
                        <span>@item.City</span>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <span>@item.Country</span>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <span>@item.State</span>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <span>@item.ZipCode</span>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        
                        <span>@item.Rate</span>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        @if (item.IsMonitoring == true)
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </td>
                    <td class="table-body-td-style" valign="top">
                        @if (item.IsEquipment == true)
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </td>
                    <td class="table-body-td-style" valign="top">
                        @if (item.IsOther == true)
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </td>
                    <td class="table-body-td" valign="top">
                        <a href="javascript:void(0)" class="item-edit-tax" data-id="@item.Id" style="color:#2ca01c;">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            @Localize.T("Edit")
                        </a>
                        <a href="javascript:void(0)" class="item-delete-tax" data-id="@item.Id" title="@Localize.T("Delete")">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            }

        </table>
    </div>

</div>
