@model HS.Entities.Fund
@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
}
@Styles.Render("~/styles/AddIncome")
@Scripts.Render("~/scripts/AddIncome")

<div class="page-wrap">
    <div class="container-fluid">
        @Html.HiddenFor(x => x.Id)
        <input type="hidden" id="CustomerIdVal" value="@ViewBag.CustomerId" />
        <div class="AddIncome-modal-content">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="txt-design">@Localize.T("Add Income Information")</h3>
                </div>
            </div>
            
        </div>
    </div>
    <div class="form-group clearfix">
        <div class="row custom-row">
            <div class="col-md-5">
                <span class="txt-format">@Localize.T("Income Amount")</span>
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", id = "Amount", daterequired = "true" })
            </div>
        </div>
        <div class="row custom-row txt-border">
            <div class="col-md-5">
                <span class="txt-format">@Localize.T("Payment Status")</span>
            </div>
            <div class="col-md-7">
                @Html.DropDownListFor(model => model.PaymentStatus, (List<SelectListItem>)ViewBag.PaymentStatus, new { @class = "form-control", id = "PaymentStatus", datarequired = "true" })
            </div>
        </div>
        <div class="row custom-row txt-border">
            <div class="col-md-5">
                <span class="txt-format">@Localize.T("Payment Method")</span>
            </div>
            <div class="col-md-7">
                @Html.DropDownListFor(model => model.PaymentMethod, (List<SelectListItem>)ViewBag.PaymentMethod, new { @class = "form-control", id = "PaymentMethod", datarequired = "true" })
            </div>
        </div>
        <div class="row custom-row txt-border">
            <div class="col-md-5">
                <span class="txt-format">@Localize.T("Income Date")</span>
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.PaymentDate, "{0:MM/dd/yy}", new { @class = "form-control PayDate", id = "PaymentDate", daterequired = "true" })
            </div>
        </div>
        <div class="row custom-row txt-border">
            <div class="col-md-12">
                <span class="txt-format">@Localize.T("Notes")</span>
                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", id = "Notes" })
            </div>
            
        </div>
    </div>
    <section class="footer-section">
        <footer class="footer">
            <div class="SaveCancelDiv">
                <button class="btn btn-income" id="SaveIncome"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
            </div>
        </footer>
    </section>
</div>