
@{
    ViewBag.Title = "Funding";
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.Fund>

@Styles.Render("~/styles/Funding")
@Scripts.Render("~/scripts/Funding")

    <div>
        <h3 class="txt-header">@Localize.T("Funding")</h3>
    </div>
    <div class="">
        
        <table>
            <tr>
                <td style="width:80px;"><a id="addincome" href="javascript:void(0)">@Localize.T("Add Income")</a></td>
                <td style="width:10px;">@Localize.T("|")</td>
                <td><a id="addexpense" href="javascript:void(0)">@Localize.T("Add Expense")</a></td>
                
            </tr>
        </table>
    </div>
    
        <div class="snap-content">
            <table id="tblFunding">
                <thead>
                    <tr>
                        <th class="thead-th-style sorting" style="width:19% !important">
                            @Localize.T("Date")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Amount")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Type")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Status")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Notes")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Action")
                        </th>
                        
                    </tr>
                    
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td class="table-body-td-style" valign="top">
                                <span>
                                    @item.PaymentDate.ToString("MM/dd/yy")
                                    <a class="addexpense @(item.Type=="Expense"?"color-red":"") @(item.Type=="Income"?"hide-item":"")" href="javascript:void(0)" id="@item.Type"><br>@Localize.T("Payroll: ")@item.UpdatedBy</a>
                                    
                                </span>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <span class="amount-style amount-status @(item.Type=="Expense"?"color-red":"")" id="@(item.PaymentStatus)">@Localize.T("$")<i class="glyphicon glyphicon-minus @(item.Type=="Expense"?"amount-sign":"") @(item.Type=="Income"?"income-sign":"")" area-hidden="true"></i>@item.Amount</span>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <span>@item.Type</span>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <span class="status-style @(item.PaymentStatus=="Pending"?"color-red":"")">@item.PaymentStatus</span>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <span>@item.Notes</span>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <a href="javascript:void(0)" class="item-delete" data-id="@item.Id" title="@Localize.T("Delete")">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </td>
                            
                        </tr>
                        
                    }
                    
                </tbody>
            </table>
            
        </div>
