@{
    Layout = null;
}

@model HS.Entities.FundingCompany
@using AppConfig = HS.Framework.Utils.AppConfig;
@using Localize = HS.Web.UI.Helper.LanguageHelper
<style>
    .ChooseUserTypeHeader {
        text-align: left;
        background-color: #e4e4e4;
    }

        .ChooseUserTypeHeader div {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            font-size: 2rem;
        }

    .content-div {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
    }

    .SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }

    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }

    .btn-ennote {
        float: right;
        background-color: green;
        color: white;
    }

        .btn-ennote:hover {
            color: white;
        }
</style>
<script>
    var SaveFundingCompany = function () {
        var url = "@(AppConfig.DomainSitePath)/Funding/AddFundingCompany";
        var param = JSON.stringify({
            Id: $("#Id").val(),
            Name: $("#Name").val()
        })
        $.ajax({
            type: "POST",
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data == true) {
                    $('.close').trigger('click');
                    LoadFundingCompany(true);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }

    $(document).ready(function () {
        $("#Name").keyup(function () {
            $("#Value").val($("#Name").val());
        })
        $("#SaveFundingCompany").click(function () {
            if ($("#Name").val() == "") {
                $("#Name").css("border-color", "red");
            }
            else {
                $("#Name").css("border-color", "#ccc");
                SaveFundingCompany();
            }
        })
    })
</script>
@Html.HiddenFor(x => x.Id)

<div class="ChooseUserTypeHeader">
    <div>@Localize.T("Add Funding Company")</div>
</div>
<div class="form-group clearfix content-div">
    <label>@Localize.T("Name")</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" , placeholder="Name"})
</div>
<div class="form-group clearfix content-div">
    <label>@Localize.T("Value")</label>
    @Html.TextBoxFor(x => x.Value, new { @class = "form-control", @readonly = "readonly" , placeholder="Value"})
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn btn-ennote" id="SaveFundingCompany"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
        </div>
    </footer>
</section>
