@{
    Layout = null;
}
@model HS.Entities.CustomerListWithCountModel
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    //var CustomerViewInsert = function (valueid) {
    //    var url = domainurl + "/Customer/CustomerView";
    //    //var valueid = $(".customer-content-list").attr('idval');
    //    var param = {
    //        cusid: valueid
    //    }
    //    $.ajax({
    //        type: "POST",
    //        ajaxStart: $(".loader-div").show(),
    //        url: url,
    //        data: JSON.stringify(param),
    //        contentType: "application/json; charset=utf-8",
    //        dataType: "json",
    //        cache: false,
    //        success: function (data) {

    //        },
    //        error: function (jqXHR, textStatus, errorThrown) {
    //            console.log(errorThrown);
    //        }
    //    })
    //}
    var ShowCustomerDetail = function (item, e) {
        e.preventDefault();
        if (cntrlIsPressed) {
            var href = $(item).attr('href');
            window.open(href, '_blank');
        } else {
            var id = $(item).attr('id');
            var CusID = $(item).attr('id-val');
            //CustomerViewInsert(CusID);
            LoadCustomerDetail(id);
            $(".GlobalSearchInp").val("");
        }
    }
    var pageno = '@ViewBag.PageNumber'
    $(document).ready(function () {
        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            LoadAllReturns(pageno, orderval);
        })
    })
</script>
<div class="invoice-table all_invoices_Table all_returns_by_filter_table">
    <table class="display">
        <thead class="table-head-border">
            <tr>
                <th class="thead-th-style">
                    <div>@Localize.T("Customer Name")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/customername"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/customername"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Subscription Status")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/status"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Type")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/type"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/type"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Email")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/email"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/email"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Phone No")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/phoneno"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/phoneno"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Payment Method")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/paymentmethod"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/paymentmethod"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Subscription Amount")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/billamount"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/billamount"></i></div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CustomerList)
            {
                <tr class="tr-style">
                    <td class="table-body-td-style" valign="top">
                        <div>@Localize.T("Customer Name")</div>
                        <div class="cus-anchor" onclick="ShowCustomerDetail(this,event)" id="@item.Id" id-val="@item.CustomerId"> @item.customerName</div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div>@Localize.T("Subscription status")</div>
                        <div>
                            <span>@item.SubscriptionStatus</span>
                        </div>
                    </td>

                    <td class="table-body-td-style" valign="top">
                        <div>@Localize.T("Type")</div>
                        <div>@item.Type</div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div>@Localize.T("Email")</div>
                        <div> @item.EmailAddress</div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div>@Localize.T("Phone No")</div>
                        <div>@HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(@item.PrimaryPhone)</div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div>@Localize.T("Payment Method")</div>
                        <div>
                            <span>@item.PaymentMethod</span>
                        </div>
                    </td>
                    <td class="table-body-td-style" valign="top">
                        <div>@Localize.T("Subscription Amount")</div>
                        @if (!item.BillAmount.HasValue || item.BillAmount == 0)
                        {
                            <div>$0.00</div>
                        }
                        else
                        {
                            <div>$@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.BillAmount)</div>
                        }
                    </td>

                </tr>
            }
        <tr class="tr-style table_total_bg">
            <td class="table-body-td-style" colspan="6">
                <b class="float_right">
                    @Localize.T("Total:")
                </b>
            </td>
            <td class="table-body-td-style">
                <b title="@Localize.T("Total Subscription Amount")">$@Model.TotalAmountByPage.ToString("#,##0.00")</b>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="LoadAllReturns(@(ViewBag.PageNumber),'@ViewBag.order')">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="LoadAllReturns(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@ViewBag.order')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="LoadAllReturns(1, '@ViewBag.order')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="LoadAllReturns(2,'@ViewBag.order')">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="LoadAllReturns(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""),'@ViewBag.order')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="LoadAllReturns(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@ViewBag.order')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="LoadAllReturns(1,'@ViewBag.order')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="LoadAllReturns(2,'@ViewBag.order')">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="LoadAllReturns(3,'@ViewBag.order')">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="LoadAllReturns(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""),'@ViewBag.order')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="LoadAllReturns(@(ViewBag.PageNumber-1),'@ViewBag.order')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadAllReturns(@(ViewBag.PageNumber-2),'@ViewBag.order')">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadAllReturns(@(ViewBag.PageNumber-1),'@ViewBag.order')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="LoadAllReturns(@(ViewBag.PageNumber),'@ViewBag.order')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="LoadAllReturns()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="LoadAllReturns(@(ViewBag.PageNumber-1),'@ViewBag.order')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadAllReturns(@(ViewBag.PageNumber+1),'@ViewBag.order')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadAllReturns(@(ViewBag.PageNumber + 2),'@ViewBag.order')">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="LoadAllReturns(@(ViewBag.PageNumber+1),'@ViewBag.order')">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="LoadAllReturns(@(ViewBag.PageNumber-1),'@ViewBag.order')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadAllReturns(@(ViewBag.PageNumber-1),'@ViewBag.order')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadAllReturns(@(ViewBag.PageNumber + 1),'@ViewBag.order')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="LoadAllReturns(@(ViewBag.PageNumber+1),'@ViewBag.order')">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="LoadAllReturns(@(ViewBag.PageNumber-1),'@ViewBag.order')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadAllReturns(@(ViewBag.PageNumber - 1),'@ViewBag.order')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="LoadAllReturns(@(ViewBag.PageNumber),'@ViewBag.order')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadAllReturns(@(ViewBag.PageNumber + 1),'@ViewBag.order')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="LoadAllReturns(@(ViewBag.PageNumber+1),'@ViewBag.order')">Next</button>
                </div>
            }
        }
    </div>
</div>
