@model List<HS.Entities.CustomerAppointment>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
}
@Styles.Render("~/styles/Sales")
@Scripts.Render("~/scripts/Sales")

<div class="header-section-wrap">
    <div class="container-fluid">
        <div class="header-section">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="txt-header">@Localize.T("Sales Appointment")</h3>
                </div>
                @*<div class="col-md-6 col-custom-sale">
                    <div class="" id="AddSales" data-toggle="modal" data-target="#sales-modal"></div>
                </div>*@
            </div>
            <div class="popup-win">
                <div class="modal right fade" id="sales-modal" role="dialog" aria-labelledby="myModalLabel2">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div id="NewSales">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div id="SalesAppoinmentCalender">


        </div>
        <div id='SalesAppoinmentCalender' class="SalesAppoinmentCalender" data-toggle="modal" data-target="#sales-modal"></div>*@


        <div class="Sales-table">
                <table class="display" id="tblSales">
                    <thead class="table-head-border">
                        <tr>
                            <th class="thead-th-style sorting">
                                @Localize.T("Name")
                            </th>
                            <th class="thead-th-style sorting">
                                @Localize.T("Appointment Date")
                            </th>
                            <th class="thead-th-style sorting">
                                @Localize.T("Start Time")
                            </th>
                            <th class="thead-th-style sorting">
                                @Localize.T("End Time")
                            </th>
                            <th class="thead-th-style sorting">
                                @Localize.T("Notes")
                            </th>
                            <th class="thead-th-style sorting">
                                @Localize.T("Actions")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        @foreach (var item in Model)
                        {
                            <tr class="tr-style">
                                <td class="table-body-td-style" valign="top">
                                    <span>@item.SalesPerson</span>
                                </td>
                                <td class="table-body-td-style" valign="top">
                                    <span>@item.AppointmentDate.Value.ToString("MM/dd/yy")</span>
                                </td>
                                <td class="table-body-td-style" valign="top">
                                    <span>@item.AppointmentStartTime</span>
                                </td>
                                <td class="table-body-td-style" valign="top">
                                    <span>@item.AppointmentEndTime</span>
                                </td>
                                <td class="table-body-td-style" valign="top">
                                    <span>@item.Notes</span>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" class="item-edit" data-id="@item.Id" id="@item.CustomerId" data-toggle="modal" data-target="#sales-modal">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        Edit
                                    </a>
                                    @*<a href="javascript:void(0)" class="item-delete" data-id="@item.Id" id="@item.CustomerId">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        @Localize.T("Delete")
                                    </a>*@
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>  
    </div>
</div>
