@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/Sales/SubscribedCustomers.css" rel="stylesheet" />
<style>
    #StatusFilter{
        width:200px;
        float:left;
        margin-right:-3px;
    }
    #btnDownloadsubscribecustomer{
        float:right;
        margin-top:-40px;
    }
</style>
<script>
    var StartDate = '@ViewBag.StartDate';
    var EndDate = '@ViewBag.EndDate';

    var LoadAllReturns = function (PageNo, OrderBy) {
        if (typeof (PageNo) == "undefined") {
            PageNo = 1;
        }
        if (typeof (OrderBy) == "undefined") {
            OrderBy = "";
        }
        console.log(OrderBy);
        var Status = $("#StatusFilter").val();
        var paymentmethod = $("#PaymentMethodFilter").val();
        var SearchText = encodeURI($(".AllReturnsSearch").val());
        var Url = domainurl + String.format("/Sales/AllCustomerByFilter/?PageNo={0}&Order={1}&SearchText={2}&Status={3}&StartDate={4}&EndDate={5}&Paymentmethod={6}", PageNo, OrderBy, SearchText, Status, StartDate,EndDate,paymentmethod);
        var redirectUrl = Url.replace(" ", "");
        console.log(redirectUrl);
        $(".AllCustomerLoadDiv").html(TabsLoaderText);
        $(".AllCustomerLoadDiv").load(redirectUrl);
    }

    $(document).ready(function () {
        LoadAllReturns(1);
        $("#btnDeclinedSearch").click(function () {
            LoadAllReturns(1);
        });
        $("#btnDownloadsubscribecustomer").click(function () {
                    var StartDateVal = $(".min-date").val();
            var EndDateVal = $(".max-date").val();
          var Status = $("#StatusFilter").val();
        var paymentmethod = $("#PaymentMethodFilter").val();
        var SearchText = $(".AllReturnsSearch").val();
      
                location.href = (domainurl + "/Sales/AllCustomerByFilter/?StartDate=" + StartDateVal + "&EndDate=" + EndDateVal + "&GetReport=true"+ "&Status=" + Status + "&Paymentmethod=" + paymentmethod + "&SearchText=" + SearchText);

              //  location.href = (domainurl + "/Reports/LoadHudsonFollowupReport/?GetReport=true&pageno=" + pageno + "&pagesize=50" +"&Start="+ StartDateVal + "&End=" + EndDateVal+ "&status=" + status + "&market=" + market + "&leads=" + leads+"&SearchText=" + encodeURI(searchtext)+"&StatusIDList=" + StatusIDList);

        });
            $(".AllReturnsSearch").keydown(function (e) {

                if (e.which == 13) {
                    LoadAllReturns(1);
                }
            });
    });
</script>
<div class="all_customer_container">
    <div class="all_customer_search_div sales_arb_sub_cus">

        <input type="text" @*id="AllReturnsSearch"*@ placeholder="Search" class="form-control AllReturnsSearchTxt AllReturnsSearch" />
        @Html.DropDownList("StatusFilter", (List<SelectListItem>)ViewBag.StatusList, new { @class = "form-control" })

        <div class="input-group add-on">

            @Html.DropDownList("PaymentMethodFilter", (List<SelectListItem>)ViewBag.PaymentMethodList, new { @class = "form-control" })


            <div class="input-group-btn"><button class="btn green_button" id="btnDeclinedSearch" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button></div>

        </div>
        <button title="@Localize.T(" Download")" class="report_btn lrp_float_right" id="btnDownloadsubscribecustomer"><i class="fa fa-download" aria-hidden="true"></i></button>

    </div>
    <div class="AllCustomerLoadDiv">

    </div>
</div>
