@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
}
@model HS.Entities.CustomerAppointment
@Styles.Render("~/styles/AddSale")
@Scripts.Render("~/scripts/AddSale")

<div class="container-fluid">
    @Html.HiddenFor(x => x.Id)
    <input type="hidden" id="CustomerIdVal" value="@ViewBag.CustomerId" />
    <h3 class="txt-design">@Localize.T("Sales Appointment")</h3>
    @*<div class="clearfix">
            &nbsp;
        </div>*@
    <div class="form-group clearfix">
        <div class="row">
            <div class="col-md-12">
                <span>@Localize.T("Sales Person")</span>
                @Html.DropDownListFor(model => model.EmployeeId, (List<SelectListItem>)ViewBag.CustomerList, new { @class = "form-control", id = "EmployeeId" })
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>@Localize.T("Appointment date")</span>
                @Html.TextBoxFor(model => model.AppointmentDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", id= "AppointmentDate", daterequired = "true" })
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span>@Localize.T("Start Time")</span>
                @Html.DropDownListFor(model => model.AppointmentStartTime, (List<SelectListItem>)ViewBag.AppointmentTime, new { @class = "form-control select_search",@style = "width:100%;", id = "AppointmentStartTime", datarequired = "true" })
                
            </div>
            <div class="col-md-6">
                <span>@Localize.T("End Time")</span>
                @Html.DropDownListFor(model => model.AppointmentEndTime, (List<SelectListItem>)ViewBag.AppointmentTime, new { @class = "form-control select_search", @style = "width:100%;", id = "AppointmentEndTime", datarequired = "true" })
                
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <span>@Localize.T("Notes")</span>
                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", id = "Notes" })
            </div>
        </div>
    </div>
        </div>
        <section class="footer-section">
            <footer class="footer">
                <div class="SaveCancelDiv">
                    <button class="btn btn-sales" id="SaveSales"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
                </div>
            </footer>
        </section> 
