@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
    var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;
    var UserTags = CurrentUser.UserTags;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@model List<HS.Entities.GlobalSetting>
@Styles.Render("~/styles/Setting")
<script>
    var editGlobalSetting = function (id) {
        OpenRightToLeftModal(domainurl + "/Setup/EditSettings?id=" + id);
    }
</script>
<div class="ci_block setting_div">
    @*<div class="ci_header clearfix">
            <div style="float:left;">@Localize.T("Commission Calculator")</div>
        </div>*@
    <div class="ci_info">
        <table class="my_style settings_table_info">
            <tr class="border_head thead hidden_for_mobile">
                <td>@Localize.T("Search Key")</td>
                <td>@Localize.T("Value")</td>
                <td>@Localize.T("Actions")</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr class="bor">
                    <td class="custom_style_mobile">
                        <div class="left_header_for_mobile">@Localize.T("Title") <span>:</span></div>
                        <div class="name-anchor-style info_style"> @item.SearchKey</div>
                    </td>
                    <td class="custom_style_mobile">
                        <div class="left_header_for_mobile">@Localize.T("Value") <span>:</span></div>
                        <div class="info_style">
                            @if (item.Value.Contains("$"))
                            {
                                @Currency@LabelHelper.FormatAmount(Convert.ToDouble(@item.Value.Replace("$", "")))
                            }
                            else if (item.Value.Contains("%"))
                            {
                                @LabelHelper.FormatAmount(Convert.ToDouble(@item.Value.Replace("%", "")))<span>%</span>
                            }
                            else
                            {
                                @item.Value
                            }
                        </div>
                    </td>
                    <td class="custom_style_mobile">
                        <div class="left_header_for_mobile">@Localize.T("Actions") <span>:</span></div>
                        <div class="info_style"><a class="buttonstyle global_settings_btn" id="editSettings" idval="@item.Id" onclick="editGlobalSetting(@item.Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>@Localize.T(" Edit")</a></div>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>