@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Select2/select2.css" rel="stylesheet" />
<script>
    var startTab = '@ViewBag.StartTab';
    $(document).ready(function () {
        $('#ClassroomSubMenu').show();
    });
</script>

@Styles.Render("~/styles/_LoadSalesReportsCS")
<script src="~/Content/Js/KnowledgeBase/Classroom.js"></script>

<div class="ReportsTitle">
    @Localize.T("Assigned Articles")
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>
</div>

@*<div class="ReportsTitle">
        @Localize.T("Classroom")
        <div class="dateviewed">
            @{Html.RenderAction("DateViewPartial", "Customer");}
        </div>
    </div>*@

<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs payroll_report_top_nav" id="myTab">

            <li class="AssignedList active">
                <a tabname="#assigned" idval="" data-target="#assigned" data-toggle="tab">@Localize.T("Assigned")</a>
            </li>

            <li class="CompletedList">
                <a tabname="#completed" idval="" data-target="#completed" data-toggle="tab">@Localize.T("Completed")</a>
            </li>
        </ul>
        <div class="tab-content reports_tab_content">
            <div class="tab-pane active" id="Assigned_Tab">

                <div class="Load_Assigned_List">

                </div>

            </div>

            <div class="tab-pane" id="Load_Completed_List">

            </div>
        </div>
    </div>
</div>
