@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Css/Booking/Booking.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>

 
<script>

    var IsAdmin = false;
    var startdate = '@ViewBag.StartDate';
    var EndDate = '@ViewBag.EndDate';
    var IsAdminm = '@ViewBag.IsAdminm';
    var knowledgebasenav = '@Html.Raw(Json.Encode(@ViewBag.NavList))';
    knowledgebasenav = JSON.parse(knowledgebasenav);
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var loadcompletedclassroom = function (page, order, search, searchinlist, IsAdmin) {
        if (page == 'undefined' || page == null || page == '') {
            page = 1;
        }
        if (search == 'undefined' || search == null || search == '') {
            search = '';
        }
        if (order == 'undefined' || order == null || order == '') {
            order = '';
        }
        if (searchinlist == 'undefined' || searchinlist == null || searchinlist == '') {
            searchinlist = false;
        }
        var tag = encodeURI($("#favtag").val());
        var assignToListC = encodeURI($("#employeelistt").val());
        $(".classroom-completed-list-table").html(TabsLoaderText);
        $(".classroom-completed-list-table").load(domainurl + "/Sales/CompletedClassroomList?SearchText=" + search + "&Order=" + order + "&PageNo=" + page + "&Tag=" + tag + "&IsSearch=" + searchinlist + "&NavList=" + tag + "&IsComplete=true" + "&IsAdmin=" + IsAdmin + "&assignTo=" + assignToListC + "&StartTime=" + startdate + "&EndTime=" + EndDate);
        /*$(".classroom-completed-list-table").load(domainurl + "/Sales/CompletedClassroomList?SearchText=" + search + "&Order=" + order + "&PageNo=" + page + "&Tag=" + tag + "&IsSearch=" + searchinlist + "&NavList=" + tag + "&IsComplete=true" + "&IsAdmin=" + IsAdmin);*/
    }
    var loadcompletedclassroomtest = function (page, order, search, searchinlist, IsAdmin) {
        if (IsAdminm.toLowerCase() == 'true') {
            IsAdmin = IsAdminm;
        }
        if (page == 'undefined' || page == null || page == '') {
            page = 1;
        }
        if (search == 'undefined' || search == null || search == '') {
            search = '';
        }
        if (order == 'undefined' || order == null || order == '') {
            order = '';
        }
        if (searchinlist == 'undefined' || searchinlist == null || searchinlist == '') {
            searchinlist = false;
        }
        var tag = encodeURI($("#favtag").val());
        var assignToListC = encodeURI($("#employeelistt").val());
        $(".classroom-completed-list-table").html(TabsLoaderText);
        $(".classroom-completed-list-table").load(domainurl + "/Sales/CompletedClassroomList?SearchText=" + search + "&Order=" + order + "&PageNo=" + page + "&Tag=" + tag + "&IsSearch=" + searchinlist + "&NavList=" + tag + "&IsComplete=true" + "&IsAdmin=" + IsAdmin + "&assignTo=" + assignToListC + "&StartTime=" + startdate + "&EndTime=" + EndDate);
    }
    $("#CompletedSearchText").keyup(function () {
        $(".btn_reset_compeleted_filter_active").removeClass("hidden");
    })
    $(document).ready(function () {
        /*loadcompletedclassroom(1);*/
        loadcompletedclassroomtest(1);
        $("#btn_search_Completed").click(function () {
            var search = encodeURI($("#CompletedSearchText").val());
            loadcompletedclassroom(1, '', search, true, IsAdmin);
        });
        $("#CompletedSearchText").keyup(function (event) {
            event.preventDefault();
            if (event.keyCode == 13) {
                var search = encodeURI($("#CompletedSearchText").val());
                loadcompletedclassroom(1, '', search, true, IsAdmin);
            }
        });
         $("#employeelistt").selectpicker('val', '');

        $(".btn_reset_compeleted_filter_active").click(function () {
            $("#CompletedSearchText").val('');
            $("#employeelistt").selectpicker('val', '');
            $(".btn_reset_compeleted_filter_active").addClass("hidden");
            loadcompletedclassroom(1, '', '', true, IsAdmin);

        });
        $("#employeelistt").change(function () {
            $(".btn_reset_compeleted_filter_active").removeClass("hidden");
        });
        $(".btn-admin-view").click(function () {
            $(".btn-admin-view").addClass('hidden');
            $(".btn-user-view").removeClass('hidden');
            var search = encodeURI($("#CompletedSearchText").val());
            loadcompletedclassroom(1, '', search, '', true);
            IsAdmin = true;
        });
        $(".btn-user-view").click(function () {
            $(".btn-user-view").addClass('hidden');
            $(".btn-admin-view").removeClass('hidden');
            var search = encodeURI($("#CompletedSearchText").val());
            loadcompletedclassroom(1, '', search, '', false);
            IsAdmin = false;
        });
    });

</script>
<style>
    .prod_header {
        width: 100%;
        float: left;
        font-size: 30px;
        text-align: left;
    }

        .prod_header button {
            float: right;
        }

    .prod_top_bar {
        width: 100%;
        float: left;
        padding-bottom: 10px;
    }

        .prod_top_bar .input-group {
            width: 400px;
            float: left;
        }

        .prod_top_bar button {
            float: right;
        }

    .btn-add-booking {
        margin-left: 5px;
    }

    .prod_top_bar {
        width: 100%;
        float: left;
        padding-bottom: 10px;
    }

        .prod_top_bar #CompletedSearchText,
        .prod_top_bar .favourite_tags {
            width: 50% !important;
            float: left !important;
        }

    .favourite_tags button {
        border-radius: 0px !important;
    }

    .classroom-completed-list-table table tr th {
        z-index: unset;
    }


    #flaglbl {
        background-color: #125a94;
        color: #fff;
        padding: 2px;
        border-radius: 4px;
        font-size: 10px;
        float: left;
        margin-left: 0px;
        min-width: 15px;
        text-align: center;
        position: absolute;
        top: -10px;
        right: -4px;
    }

    .center_srch_block #flaglbl {
        position: absolute;
        top: -6px;
        right: -6px;
    }

    .prodc_top_bar {
        width: 100%;
        float: left;
        padding-bottom: 10px;
    }

        .prodc_top_bar .input-group {
            width: 500px;
            float: left;
        }

    .custom_size {
        margin-right: 10px;
    }

        .custom_size #CompletedSearchText,
        .custom_size .s_h_drop {
            width: 50% !important;
            float: left;
        }
</style> 
<div class="container-fluid">

    <div class="prodc_top_bar">
        <div class="input-group add-on custom_size">
            <input class="form-control cl_input" placeholder="Search by title" value="@ViewBag.Source" id="CompletedSearchText" />
            <div class="favourite_tags hidden">
                @Html.DropDownList("favtags", ViewBag.FavouriteList as List<SelectListItem>, new { @class = "form-control selectpicker", @multiple = "multiple", @title = "Category", @id = "favtag" })
            </div>
            <div class="s_h_drop">
                @Html.DropDownList("txt_installer", (List<SelectListItem>)ViewBag.InstallerList, new { @class = "form-control filter_drp_cus_lead", @multiple = "multiple", @title = "Select Assigned to User", @id = "employeelistt" })
            </div>
            <div class="input-group-btn"> <button class="btn green_button" id="btn_search_Completed" title="Search by title"><i class="fa fa-search"></i></button></div>


        </div>
        <button class="btn reset_knw red_button btn_reset_compeleted_filter_active hidden">
            <i class="fa fa-refresh" aria-hidden="true"></i> @Localize.T("Reset")
        </button>
        @if (PermissionChekcer.IsPermitted(Permissions.MenuPermissions.LeftMenuClassroomAdminView))
        {
            <button class="btn btn-primary btn-admin-view lrp_float_right" title="Click to see as admin">
                <i class="fa fa-eye" aria-hidden="true"></i> @Localize.T("Admin View")
            </button>
            <button class="btn btn-primary btn-user-view lrp_float_right hidden" title="Click to see as login user">
                <i class="fa fa-eye" aria-hidden="true"></i> @Localize.T("User View")
            </button>
        }
    </div>


    <div class="classroom-completed-list-table" id="classroom-completed-list">

    </div>


</div>
