@{
    Layout = null;
}
@model HS.Entities.CreateInvoice
<html>
<head>
</head>
<body style="font-family:sans-serif;">
    <div class="container">
        <div class="tblCompanyInfo">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:150px;vertical-align:top;">
                            @if (!string.IsNullOrWhiteSpace(Model.CompanyLogo))
                            {
                                <img src="@Model.CompanyLogo" style="width:80px; padding-left:40px;" /><br />
                            }
                        </td>
                        <td>
                            <h2 style="margin-bottom:0px;">@Model.CompanyName</h2>
                            @if (!string.IsNullOrWhiteSpace(Model.CompanyAddress))
                            {
                                <span>@Model.CompanyAddress</span><br />
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.CompanyStreet))
                            {
                                <span>@Model.CompanyStreet</span><br />
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.companyStreetInfo))
                            {
                                <span>@Model.companyStreetInfo</span><br />
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.CompanyEmail))
                            {
                                <span>@Model.CompanyEmail</span><br />
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.PhoneNum))
                            {
                                <span>@HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(Model.PhoneNum)</span>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tblInvoiceInfo">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:30%; padding-left:40px;">
                            <p style="height:120px">
                                <b>BILL TO</b><br />
                                @*<span>@Model.CustomerName</span><br />*@
                                @if (!string.IsNullOrWhiteSpace(Model.Invoice.BillingAddress))
                                {
                                    <span style="white-space:pre-wrap;">@Html.Raw(Model.Invoice.BillingAddress)</span>
                                }
                            </p>
                        </td>
                        <td style="width:30%">
                            <p style="height:130px">
                                <b>SHIP TO</b><br />
                                @if (!string.IsNullOrWhiteSpace(Model.Invoice.ShippingAddress))
                                {
                                    <span style="white-space:pre-wrap;">@Html.Raw(Model.Invoice.ShippingAddress)</span>
                                }
                            </p>
                        </td>
                        <td style="width:40%">
                            <p style="background-color:#4f90bb;height:30px;padding-top:10px;padding-left:10px; color:white"><b>INVOICE</b> @Model.Invoice.InvoiceId</p>
                            <p style="background-color:#4f90bb;height:30px;padding-top:10px;padding-left:10px;color:white"><b>DATE</b> @Model.Invoice.CreatedDate.ToString("MM/dd/yy")</p>
                            <p style="background-color:#4f90bb;height:30px;padding-top:10px;padding-left:10px;color:white"><b>DUE DATE</b> @Model.Invoice.DueDate.Value.ToString("MM/dd/yy")</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div style="margin-top:20px;width:100%;">
            <table style="width:100%;">
                <thead>
                    <tr style="background-color:#4f90bb; color:white;width:100%">
                        <th style="width:60.666%;text-align:left;padding-left:40px">
                            ACTIVITY
                        </th>
                        <th style="width:11.111%;">QTY</th>
                        <th style="width:13.111%;">RATE</th>
                        <th style="width:15.111%;">AMOUNT</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.InvoiceDetailList)
                    {
                        <tr>
                            <td style="padding-left:40px;">
                                @if (!string.IsNullOrEmpty(item.EquipmentFile.Filename))
                                {
                                <img src="@item.EquipmentFile.Filename" alt="Alternate Text" style="width:25px;height:25px" /> <b>@item.EquipName</b><br />
                                }
                                else
                                {
                                <b>@item.EquipName</b><br />
                                }
                                @*<b>@item.EquipName</b><br />*@
                                @if (!string.IsNullOrWhiteSpace(item.EquipDetail))
                                {
                                    <span>@item.EquipDetail</span>
                                }
                                @*<p><div style="width:60%;float:left"></div>
                                        <span style="">@item.Quantity</span>
                                        <span style="padding-left:156px;">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount( item.UnitPrice)</span>
                                        <span style="padding-left:156px;">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount( item.TotalPrice)</span>
                                    </p>*@
                            </td>
                            <td style="text-align:center">@item.Quantity</td>
                            <td style="text-align:center">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.UnitPrice.Value)</td>
                            <td style="text-align:center">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.TotalPrice.Value)</td>
                        </tr>
                        @*<tr><td style="width:60.666%;height:50px;border-bottom:1px solid #4f90bb;position:relative;"></td></tr>*@
                    }
                </tbody>
            </table>
        </div>
        <div style="width:100%;height:50px;border-bottom:1px solid #4f90bb;position:relative;">
        </div>
        <div style="width:100%;">
            <div style="width:50%;float:left">
                <p style="padding-left:40px">@Model.Invoice.Message</p>
            </div>
            <div style="width:50%;float:left;padding-top:10px;">
                <div style="width:100%">
                    <div style="width:70%;float:left;text-align:right">
                        <span>Invoice Sub Total</span>
                    </div>
                    <div style="width:30%;float:left;text-align:right;">
                        <h3 style="margin:0px;padding-right:10px;">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.SubTotal)</h3>
                    </div>
                </div>

                @if (Model.Invoice.Discountpercent != null && Model.Invoice.DiscountAmount != 0)
                {
                    <div style="width:100%">
                        <div style="width:70%;float:left;text-align:right">
                            <span>Invoice Discount @Model.Invoice.Discountpercent %</span>
                        </div>
                        <div style="width:30%;float:left;text-align:right;">
                            <h3 style="margin:0px;padding-right:10px;">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.Discount)</h3>
                        </div>
                    </div>
                }

                @if (Model.Invoice.DiscountAmount != null && Model.Invoice.DiscountAmount != 0)
                {
                    <div style="width:100%">
                        <div style="width:70%;float:left;text-align:right">
                            <span>Invoice Discount Amount</span>
                        </div>

                        <div style="width:30%;float:left;text-align:right;">
                            <h3 style="margin:0px;padding-right:10px;">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.Invoice.DiscountAmount.Value)</h3>
                        </div>
                    </div>


                }
                @if (Model.Invoice.ShippingCost != null && Model.Invoice.ShippingCost != 0)
                {
                    <div style="width:100%">
                        <div style="width:70%;float:left;text-align:right">
                            <span>Invoice Shipping</span>
                        </div>
                        <div style="width:30%;float:left;text-align:right;">
                            <h3 style="margin:0px;padding-right:10px;">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.Invoice.ShippingCost.Value)</h3>
                        </div>
                    </div>

                }

                @*<div style="width:50%;float:left;">
        <span>Total</span>
    </div>
    <div style="width:50%;float:left;text-align:right;">
        <h3 style="margin:0px;padding-right:10px;">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.Invoice.TotalAmount)</h3>
    </div>*@
                @if (Model.Invoice.Tax != null && Model.Invoice.Tax != 0)
                {
                    <div style="width:100%">
                        <div style="width:70%;float:left;text-align:right">
                            <span>@Model.Invoice.TaxType</span>
                        </div>

                        <div style="width:30%;float:left;text-align:right;">
                            <h3 style="margin:0px;padding-right:10px;">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.Invoice.Tax.Value)</h3>
                        </div>
                    </div>


                }
                @if (Model.Invoice.Deposit != null && Model.Invoice.Deposit != 0)
                {
                    <div style="width:100%">
                        <div style="width:70%;float:left;text-align:right">
                            <span>Invoice Deposit</span>
                        </div>
                        <div style="width:30%;float:left;text-align:right;">
                            <h3 style="margin:0px;padding-right:10px;">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.Invoice.Deposit.Value)</h3>
                        </div>
                    </div>


                }

                <div style="width:100%">
                    <div style="width:70%;float:left;text-align:right">
                        <span>Invoice Due</span>
                    </div>
                    <div style="width:30%;float:left;text-align:right;">
                        @if (Model.Invoice.BalanceDue != null)
                        {
                            <h3 style="margin:0px;padding-right:10px;">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.Invoice.BalanceDue.Value)</h3>
                        }
                        else
                        {
                            <h3 style="margin:0px;padding-right:10px;">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.SubTotal)</h3>
                        }
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>
</html>


