@{
    Layout = null;
    bool IsDocumentLibrary = (bool)ViewBag.IsDocumentLibrary;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Css/Booking/Booking.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>

<script>
    var knowledgebasenav = '@Html.Raw(Json.Encode(@ViewBag.NavList))';
    knowledgebasenav = JSON.parse(knowledgebasenav);
    var IsLibrary = '@ViewBag.IsDocumentLibrary';
    var IsContact = '@ViewBag.IsContact';
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var loadKnowledge = function (page, order, search, searchinlist, IsDeleted) {
        if (page == 'undefined' || page == null || page == '') {
            page = 1;
        }
        if (search == 'undefined' || search == null || search == '') {
            search = '';
        }
        if (order == 'undefined' || order == null || order == '') {
            order = '';
        }
        if (searchinlist == 'undefined' || searchinlist == null || searchinlist == '') {
            searchinlist = false;
        }
        if (IsDeleted == 'undefined' || IsDeleted == null || IsDeleted == '') {
            IsDeleted = false;
        }
        else {
            $("#IsDeleted").val("true");
        }
        if ($("#IsDeleted").val() == "true") {
            IsDeleted = true;
        }
        var tag = encodeURI($("#favtag").val());
        var flag = $(".flag_filter").is(":checked");
        var favorite = $(".flag_favoritefilter").is(":checked");
        $(".knowledge-list-table").html(TabsLoaderText);
        $(".knowledge-list-table").load(domainurl + "/Sales/KnowledgebaseList?SearchText=" + search + "&Order=" + order + "&PageNo=" + page + "&IsDocumentLibrary=" + IsLibrary + "&Tag=" + tag + "&IsFlaged=" + flag + "&IsSearch=" + searchinlist + "&IsContact=" + IsContact + "&NavList=" + tag + "&IsDeleted=" + IsDeleted + "&IsFavorite=" + favorite);
    }
    var AddKnowledgebase = function (id) {
        OpenTopToBottomModal(domainurl + "/Sales/AddKnowledgeBase?id=" + id + "&IsDocumentLibrary=" + IsLibrary);
    }
    $(document).ready(function () {
        console.log('jhgf');
        if (IsContact.toLocaleLowerCase() == "true") {
            if (knowledgebasenav.length != 0) {
                $("#favtag").selectpicker('val', knowledgebasenav);
            }
            else {
                $("#favtag").selectpicker('val', '');
            }
        }
        else {
            $("#favtag").selectpicker('val', '');
        }
        $(".flag_filter").attr("title", "Flag");

        $("#btn_search_Knowledge").click(function () {
            var search = encodeURI($("#KnowledgebaseSearchText").val());
            loadKnowledge(1, '', search, true);
        });
        $("#KnowledgebaseSearchText").keyup(function (event) {
            event.preventDefault();
            if (event.keyCode == 13) {
                var search = encodeURI($("#KnowledgebaseSearchText").val());
                loadKnowledge(1, '', search, true);
            }
        });
        $(".flag_filter").change(function () {
            if ($(".flag_filter").is(":checked")) {
                $(".flag_filter").attr("title", "Flagged");
            }
            else {
                $(".flag_filter").attr("title", "Flag");
            }
            var search = encodeURI($("#KnowledgebaseSearchText").val());
            loadKnowledge(1, '', search, true);
        });
        loadKnowledge(1);
    });

</script>
<style>

    .prod_header {
        width: 100%;
        float: left;
        font-size: 30px;
        text-align: left;
    }

        .prod_header button {
            float: right;
        }

    .prod_top_bar {
        width: 100%;
        float: left;
        padding-bottom: 10px;
    }

        .prod_top_bar .input-group {
            width: 400px;
            float: left;
        }

        .prod_top_bar button {
            float: right;
        }

    .btn-add-booking {
        margin-left: 5px;
    }

    .prod_top_bar {
        width: 100%;
        float: left;
        padding-bottom: 10px;
    }

        .prod_top_bar #KnowledgebaseSearchText,
        .prod_top_bar .favourite_tags {
            width: 50% !important;
            float: left !important;
        }

    .favourite_tags button {
        border-radius: 0px !important;
    }

    .knowledge-list-table table tr th {
        z-index: unset;
    }

    .flag_filter_block {
        float: left;
        position: relative;
        padding: 5px 10px;
        width: 32px;
        height: 32px;
    }

    #flaglbl {
        background-color: #125a94;
        color: #fff;
        padding: 2px;
        border-radius: 4px;
        font-size: 10px;
        margin-top: -5px;
        float: left;
        margin-left: 0px;
        min-width: 15px;
        text-align: center;
    }

    .flag_filter_block input:before {
        content: "\f024";
        position: absolute;
        color: #ccc;
        font-size: 30px;
        font-family: 'FontAwesome';
        top: 3px;
        right: 0px;
        cursor: pointer;
    }

    .flag_filter_block input:checked:before {
        color: #d71920;
    }

    .deletelbl {
        display: none;
        font-size: 20px;
    }
</style>


<div class="container-fluid">

    <input type="hidden" id="IsDeleted" value="" />
    <div class="prod_header">
        @Localize.T("Knowledgebase")
        <span class="deletelbl">(Deleted)</span>
    </div>

    <div class="prod_top_bar">
        <div class="input-group add-on">
            <input class="form-control" placeholder="Search by title" value="@ViewBag.Source" id="KnowledgebaseSearchText" />
            <div class="favourite_tags">
                @Html.DropDownList("favtags", ViewBag.FavouriteList as List<SelectListItem>, new { @class = "form-control selectpicker", @multiple = "multiple", @title = "Favorite Tags", @id = "favtag" })
            </div>
            <div class="input-group-btn"> <button class="btn green_button" id="btn_search_Knowledge" title="Search by title"><i class="fa fa-search"></i></button></div>

        </div>
        <span class="flag_filter_block"> <input type='checkbox' @*title="Flag"*@ class='flag_filter' /></span><span id="flaglbl">0</span>
        @if (ViewBag.IsContact)
        {
            @*if (PermissionChekcer.IsPermitted(Permissions.QTIPermission.AddKnowledgeBaseContact))
            {
                <button class="btn btn-primary btn-add-booking lrp_float_right" onclick="AddKnowledgebase(0)" title="New">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("New")
                </button>
            }*@
            <button class="btn btn-primary btn-add-booking lrp_float_right" onclick="AddKnowledgebase(0)" title="New">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("New")
            </button>
        }
        else
        {
            @*if (PermissionChekcer.IsPermitted(Permissions.QTIPermission.AddKnowledgeBase))
            {
                <button class="btn btn-primary btn-add-booking lrp_float_right" onclick="AddKnowledgebase(0)" title="New">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("New")
                </button>
            }*@
            @*<button class="btn btn-primary btn-add-booking lrp_float_right" onclick="AddKnowledgebase(0)" title="New">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("New")
            </button>*@
        }

    </div>


    <div class="knowledge-list-table" id="knowledge-list-table">

    </div>


</div>
