@model HS.Entities.Knowledgebase
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework

<html>
<head>
    <title>@(Model.IsDocumentLibrary == false ? "Knowledgebase || Quote Texas Insurance" : "Document Library || Quote Texas Insurance")</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel='shortcut icon' href="~/Content/Icons/@(HS.Framework.Utils.AppConfig.HomePageImage)/favicon.ico" />
    <link href="~/Content/MagnificPopUp/magnific-popup.css" rel="stylesheet" />
    @Styles.Render("~/styles/GetInvoice")
    <link href="~/Content/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/Css/SupportTicket/AddSupportTicket.css" rel="stylesheet" />
    <link href="~/Content/Css/Layout/Loader.css" rel="stylesheet" />
    <script src="~/Content/Js/Login/domainurl.js"></script>
    <script src="~/Content/JQuery/jquery-3.1.1.js"></script>
    <script src="~/Content/Js/Layout/utils.js"></script>
    <script src="~/Content/MagnificPopUp/jquery.magnific-popup.js"></script>
    <script src="~/Content/Js/KnowledgeBase/ShowKnowledgebaseMessage.js"></script>
    <script>
    var RemovedFlag = '@ViewBag.RemovedFlag';
        var SearchText = '@ViewBag.SearchText';
        var FavouriteFlag = '@ViewBag.IsFavourite';
        $(document).ready(function () {
            console.log("favorite log", FavouriteFlag.toLocaleLowerCase());
           if (FavouriteFlag.toLocaleLowerCase() == "true") {
               $('#favorite').prop('checked', FavouriteFlag.toLocaleLowerCase());
           }
        });
    </script>


    <style>
        .LoaderWorkingDiv {
            background: white;
            height: 100%;
            width: 100%;
            text-align: center;
            margin-top: 40px;
        }
        .fa {
            display: inline-block;
            font: normal normal normal 14px / 1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .required {
            border: 1px solid red;
        }

        .green_button, .green_button:hover, .green_button:focus {
            background-color: #2ca01c !important;
            color: #fff !important;
            border-color: #2ca01c !important;
        }

        .red_button, .red_button:hover, .red_button:focus {
            background-color: #d71920 !important;
            color: #fff !important;
            border-color: #d71920 !important;
            border-radius: 8px !important;
            border: 1px solid #d71920 !important;
            padding: 6px 8px;
            height: 35px !important;
        }

        .comment_box {
            width: 60%;
            float: left;
            max-height: 200px;
            overflow: auto;
            border-bottom: 1px solid #ccc;
        }

            .comment_box table {
                font-size: 14px;
            }

                .comment_box table tr:nth-child(odd) {
                    background-color: #f4f5f8;
                }

        .comment_section {
            width: 40%;
            float: right;
        }

        .comment_info {
            width: 100%;
            float: left;
            color: #a3a3a3;
            font-size: 12px;
            font-style: italic;
        }

        .ribbon2 {
            position: absolute;
            right: 28px;
            top: 58px;
        }

            .ribbon2 i {
                margin: 3px !important;
                margin-right: 7px !important;
            }

            .ribbon2 span {
                position: relative;
                display: block;
                text-align: center;
                background: #d71920;
                font-size: 13px;
                padding: 3px 14px;
                border-radius: 0px 0px 10px 10px;
                color: #fff;
                font-weight: bold;
                box-shadow: 2px 2px 8px #ccc;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

                .ribbon2 span:before {
                    position: absolute;
                    content: "";
                    height: 0;
                    width: 0;
                    left: -13px;
                    top: 0px;
                    border-bottom: 13px solid #830005;
                    border-right: 15px solid transparent;
                    transform: rotate(179deg);
                }

                .ribbon2 span:after {
                    position: absolute;
                    content: "";
                    height: 0;
                    width: 0;
                    right: -13px;
                    top: -2px;
                    border-bottom: 16px solid #830005;
                    border-right: 13px solid transparent;
                    transform: rotate(88deg);
                }

        .sa_assign {
            float: right;
            padding: 1px;
            margin-right: 5px;
        }

            .sa_assign svg {
                width: 24px;
                height: 24px;
            }

                .sa_assign svg path {
                    fill: #fff;
                }

        .read_chk {
            margin-bottom: 0px;
            font-size: 16px;
        }

            .read_chk input {
                float: left;
                width: 20px;
                height: 20px;
                margin-top: 1px;
                margin-right: 5px;
            }

        .revert_know {
            float: right;
            padding: 0px;
            height: 28px !important;
            padding: 5px;
            margin-right: 5px;
            border-radius: 4px !important;
        }

        .mfp-content > div {
            top: 72px !important;
        }

        .pop_height_knowledge {
            width: 100%;
            float: left;
        }

        .love_checkbox {
            margin-bottom: 0px;
            float: right;
            margin-right: 5px;
            cursor: pointer;
        }

            .love_checkbox input {
                display: none;
            }

            .love_checkbox i {
                font-size: 30px;
            }

            .love_checkbox input:checked ~ i {
                color: #d71920;
            }
    </style>
</head>
<body>

    <div class="container public_doc">
        <div class="pop_header">
            @if (Model.IsDocumentLibrary)
            {
                <label title="Back" class="backtoDocument">
                    <i class="fa fa-step-backward" aria-hidden="true"></i>
                </label>
            }
            else
            {
                <label title="Back" class="backtoKnowledge">
                    <i class="fa fa-step-backward" aria-hidden="true"></i>
                </label>
            }
            @Model.Title

            @if (PermissionChekcer.IsPermitted(Permissions.QTIPermission.EditKnowledgeBase))
            {
                <a href="javascript:void(0)" class="btn green_button sa_edit" onclick="AddKnowledgebase(@Model.Id)" data-id="@Model.Id" title="Edit">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            }

            @if (PermissionChekcer.IsPermitted(Permissions.QTIPermission.AssignKnowledgebaseToUser))
            {
                <a href="javascript:void(0)" class="btn green_button sa_assign" onclick="AssignKnowledgebase('@Model.Id')" data-id="@Model.Id" title="Assign">
                    <svg version="1.1" id="Layer_1" x="0px" y="0px"
                         width="35px" height="35px" viewBox="0 0 35 35" enable-background="new 0 0 35 35" xml:space="preserve">
<g>
                    <path d="M13.241,29.551c-0.258,0.493-2.198,2.268-2.198,2.268H34.84c-0.529-11.775-10.506-14.384-10.506-14.384
		c4.583-3.032,4.019-7.615,4.019-7.615c-1.022-8.497-8.672-8.32-8.672-8.32c-8.708,0.846-8.46,8.637-8.46,8.637
		c-0.212,4.512,4.16,7.368,4.16,7.368c-4.195,0.917-7.65,5.323-7.65,5.323v0.118h4.571V21.96c0.858-0.835,1.193-0.788,1.193-0.788
		c0.828-0.211,1.533,0.283,1.533,0.283c0.405,0.176,2.609,2.731,2.609,2.731c0.458,1.216-0.176,1.763-0.176,1.763l-2.556,2.415
		c-0.494,0.44-1.534,0.229-1.534,0.229C13.406,29.492,13.241,29.551,13.241,29.551z M21.514,4.003
		c0.317-0.388,0.717-0.188,0.717-0.188c2.726,1.152,3.549,3.22,3.549,3.22c1.163,2.021,0.587,4.583,0.587,4.583
		c-0.2,0.541-0.705,0.435-0.705,0.435c-0.47-0.212-0.294-0.693-0.294-0.693c0.436-2.75-0.705-4.207-0.705-4.207
		c-1.045-1.798-2.926-2.385-2.926-2.385C21.22,4.403,21.514,4.003,21.514,4.003z M19.822,3.369c0.325,0,0.588,0.248,0.588,0.552
		c0,0.305-0.263,0.552-0.588,0.552s-0.587-0.247-0.587-0.552C19.234,3.616,19.497,3.369,19.822,3.369z" />
                    <path d="M3.535,24.07h9.824v-1.645c0,0,0.399-0.681,1.128,0l1.927,1.975c0,0,0.47,0.446-0.071,1.022l-1.939,1.939
		c0,0-0.634,0.47-1.045-0.165l0.023-1.54L3.535,25.61C3.535,25.61,2.641,24.776,3.535,24.07z" />
                    <path d="M0.521,28.183h8.927v-1.495c0,0,0.363-0.62,1.025,0l1.752,1.794c0,0,0.427,0.406-0.064,0.929l-1.762,1.762
		c0,0-0.577,0.427-0.95-0.149l0.021-1.399l-8.949-0.043C0.521,29.582-0.291,28.824,0.521,28.183z" />
</g>
</svg>
                </a>
            }
            <input id="knowledgebaseId" type="hidden" value="@Model.Id" class="fa">
            <label class="love_checkbox" title="Favourite">
                <input id="favorite" type="checkbox" class="fa">
                <i class="fa fa-heart" aria-hidden="true"></i>
            </label>
            @*@if (FavouriteFlag == "true")
                {

                }*@
            @if (Model.IsDeleted)
            {
                <span class="ribbon2"><span>@Localize.T("Deleted")</span></span>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.QTIPermission.RevertKnowledgebase) && Model.IsDeleted)
            {
                <a href="javascript:void(0)" class="btn red_button revert_know" onclick="UndoKnowledgeBase(@Model.Id)" data-id="@Model.Id" title="Revert">
                    <i class="fa fa-undo" aria-hidden="true"></i>
                </a>
            }
            @if (Model.SearchedKnowledgebase != null && Model.SearchedKnowledgebase.Count() > 0)
            {
                <div class="srch_info">
                    @if (!string.IsNullOrWhiteSpace(@ViewBag.Tag))
                    {
                        <span><b>@Localize.T("Tag"):</b> @ViewBag.Tag</span>
                    }
                    <span><b>@Localize.T("Search Key"):</b> @ViewBag.SearchText</span>

                </div>
            }

        </div>
        <div class="pop_height_knowledge" id="KnMessageBody">
            <div class="pop_inner">
                <div class="hidden">
                    @Html.HiddenFor(x => x.Id)
                </div>
                @if (Model.SearchedKnowledgebase != null && Model.SearchedKnowledgebase.Count() > 0)
                {
                    <div class="row">
                        <div class="col-md-8">
                            @if (!string.IsNullOrWhiteSpace(Model.Answer))
                            {
                                <div class="as_block">
                                    <div class="as_info" id="answerid">
                                        @Html.Raw(Model.Answer)
                                    </div>
                                </div>
                            }
                            @if (Model.SavedImages != null && Model.SavedImages.Count > 0)
                            {
                                <div class="as_block">
                                    <div class="as_header">
                                        @Localize.T("Attachments")
                                    </div>
                                    <div class="as_info">
                                        <div class="AddImageDiv">
                                            <div class="upload-gallary">

                                                <table class="table attch_table">
                                                    <thead>
                                                        <tr>
                                                            <th class="">
                                                                <div>Image</div>
                                                                <div>
                                                                    <i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/image"></i>
                                                                    <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/image"></i>
                                                                </div>
                                                            </th>
                                                            <th class="">
                                                                <div>Name</div>
                                                                <div>
                                                                    <i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/name"></i>
                                                                    <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/name"></i>
                                                                </div>
                                                            </th>
                                                            <th class="">
                                                                <div>Size Test</div>
                                                                <div>
                                                                    <i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/size"></i>
                                                                    <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/size"></i>
                                                                </div>
                                                            </th>
                                                            <th class="">
                                                                <div>Type Test</div>
                                                                <div>
                                                                    <i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/type"></i>
                                                                    <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/type"></i>
                                                                </div>
                                                            </th>
                                                            <th class="">
                                                                <div>Uploaded Date</div>
                                                                <div>
                                                                    <i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/uploaddate"></i>
                                                                    <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/uploaddate"></i>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="Filelist">
                                                        @foreach (var item in Model.SavedImages)
                                                        {
                                                            <tr id="NewFileUp_@item.Id" class="dv-preview-pic  preview_@item.Id list_style_image">
                                                                <td>
                                                                    @if (item.ImageLoc.Contains(".pdf"))
                                                                    {
                                                                        <div class="dv-preview-pic-inner">
                                                                            <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/pdf.png">
                                                                        </div>
                                                                    }
                                                                    else if (item.ImageLoc.Contains(".doc") || item.ImageLoc.Contains(".docx"))
                                                                    {
                                                                        <div class="dv-preview-pic-inner">
                                                                            <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/docx.png">
                                                                        </div>
                                                                    }
                                                                    else if (item.ImageLoc.Contains(".xlsx") || item.ImageLoc.Contains(".xls"))
                                                                    {
                                                                        <div class="dv-preview-pic-inner">
                                                                            <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/xlsx.png">
                                                                        </div>
                                                                    }
                                                                    else if (item.ImageLoc.Contains(".mp4") || item.ImageLoc.Contains(".mov"))
                                                                    {
                                                                        <div class="dv-preview-pic-inner">
                                                                            <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/mp4.png">
                                                                        </div>
                                                                    }
                                                                    else if (item.ImageLoc.Contains(".txt"))
                                                                    {
                                                                        <div class="dv-preview-pic-inner">
                                                                            <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/text.png">
                                                                        </div>
                                                                    }
                                                                    else if (item.ImageLoc.Contains(".msg"))
                                                                    {
                                                                        <div class="dv-preview-pic-inner">
                                                                            <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/msg.png">
                                                                        </div>
                                                                    }
                                                                    else if (item.ImageLoc.Contains(".pptx"))
                                                                    {
                                                                        <div class="dv-preview-pic-inner">
                                                                            <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/pptx.png">
                                                                        </div>
                                                                    }
                                                                    else if (item.ImageLoc.Contains(".ppt"))
                                                                    {
                                                                        <div class="dv-preview-pic-inner">
                                                                            <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/ppt.png">
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="dv-preview-pic-inner">
                                                                            <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="@item.ImageLoc" data-caption="@item.ImageType">
                                                                        </div>
                                                                    }
                                                                </td>
                                                                <td>
                                                                    <span class="image-caption">@item.ImageType</span>
                                                                </td>
                                                                <td>
                                                                    @if (item.Size > 0)
                                                                    {
                                                                        <span class="image-caption">@item.Size.ToString("N2") KB</span>
                                                                    }
                                                                </td>

                                                                <td>
                                                                    <span class="image-caption">@item.ImageLoc.Substring(@item.ImageLoc.LastIndexOf(".") + 1).ToUpper()</span>
                                                                </td>
                                                                <td>  <span class="image-date">@item.UploadedDate.UTCToClientTime().ToString("M/dd/yy")</span></td>

                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.KnowledgeWeblinkList != null && Model.KnowledgeWeblinkList.Where(x => x.IsRelated == false).ToList().Count > 0)
                            {
                                <br />
                                <div class="as_block">
                                    <div class="as_header">
                                        @Localize.T("Hyperlinks")
                                    </div>
                                    <div class="as_info">
                                        <div class="AddImageDiv">
                                            @foreach (var data in Model.KnowledgeWeblinkList.Where(x => x.IsRelated == false))
                                            {
                                                <a class="rect_block_green" href="@data.Link" target="_blank"><span>@data.Title</span></a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.KnowledgeWeblinkList != null && Model.KnowledgeWeblinkList.Where(x => x.IsRelated).ToList().Count > 0)
                            {
                                <br />
                                <div class="as_block">
                                    <div class="as_header">
                                        @Localize.T("Related Articles")
                                    </div>
                                    <div class="as_info">
                                        <div class="AddImageDiv">
                                            @foreach (var data in Model.KnowledgeWeblinkList.Where(x => x.IsRelated))
                                            {
                                                <a class="rect_block_green" href="@data.Link" target="_blank"><span>@data.Link</span></a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-md-4">
                            <div class="as_block">
                                <div class="as_header">
                                    @Localize.T("Search Results")
                                </div>
                                <div class="as_info">

                                    @foreach (var item in Model.SearchedKnowledgebase)
                                    {
                                        string fullurl = string.Concat(AppConfig.SiteDomain, "/knowledgebase/Id=" + item.Id);
                                        <div class="srch_txt_cont"> <a target="_blank" class="srch_txt" href="@fullurl">@item.Title</a></div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    if (!string.IsNullOrWhiteSpace(Model.Answer))
                    {
                        <div class="as_block">
                            <div class="as_info" id="answerid">
                                @Html.Raw(Model.Answer)
                            </div>
                        </div>
                    }
                    if (Model.SavedImages != null && Model.SavedImages.Count > 0)
                    {
                        <div class="as_block">
                            <div class="as_header">
                                @Localize.T("Attachments")
                            </div>
                            <div class="as_info">
                                <div class="AddImageDiv">
                                    <div class="upload-gallary">
                                        <table class="table attch_table">
                                            <thead>
                                                <tr>
                                                    <th class="">
                                                        <div>@Localize.T("Image")</div>
                                                        <div>
                                                            <i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/image"></i>
                                                            <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/image"></i>
                                                        </div>
                                                    </th>
                                                    <th class="">
                                                        <div>@Localize.T("Name")</div>
                                                        <div>
                                                            <i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/name"></i>
                                                            <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/name"></i>
                                                        </div>
                                                    </th>
                                                    <th class="">
                                                        <div>@Localize.T("Size")</div>
                                                        <div>
                                                            <i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/size"></i>
                                                            <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/size"></i>
                                                        </div>
                                                    </th>
                                                    <th class="">
                                                        <div>@Localize.T("File Type ")</div>
                                                        <div>
                                                            <i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/type"></i>
                                                            <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/type"></i>
                                                        </div>
                                                    </th>
                                                    <th class="">
                                                        <div>@Localize.T("Uploaded Date")</div>
                                                        <div>
                                                            <i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/uploaddate"></i>
                                                            <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/uploaddate"></i>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="Filelist">
                                                @foreach (var item in Model.SavedImages)
                                                {
                                                    <tr id="NewFileUp_@item.Id" class="dv-preview-pic  preview_@item.Id list_style_image">
                                                        <td>
                                                            @if (item.ImageLoc.Contains(".pdf"))
                                                            {
                                                                <div class="dv-preview-pic-inner">
                                                                    <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/pdf.png">
                                                                </div>
                                                            }
                                                            else if (item.ImageLoc.Contains(".doc") || item.ImageLoc.Contains(".docx"))
                                                            {
                                                                <div class="dv-preview-pic-inner">
                                                                    <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/docx.png">
                                                                </div>
                                                            }
                                                            else if (item.ImageLoc.Contains(".xlsx") || item.ImageLoc.Contains(".xls"))
                                                            {
                                                                <div class="dv-preview-pic-inner">
                                                                    <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/xlsx.png">
                                                                </div>
                                                            }
                                                            else if (item.ImageLoc.Contains(".mp4") || item.ImageLoc.Contains(".mov"))
                                                            {
                                                                <div class="dv-preview-pic-inner">
                                                                    <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/mp4.png">
                                                                </div>
                                                            }
                                                            else if (item.ImageLoc.Contains(".txt"))
                                                            {
                                                                <div class="dv-preview-pic-inner">
                                                                    <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/text.png">
                                                                </div>
                                                            }
                                                            else if (item.ImageLoc.Contains(".msg"))
                                                            {
                                                                <div class="dv-preview-pic-inner">
                                                                    <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/msg.png">
                                                                </div>
                                                            }
                                                            else if (item.ImageLoc.Contains(".pptx"))
                                                            {
                                                                <div class="dv-preview-pic-inner">
                                                                    <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/pptx.png">
                                                                </div>
                                                            }
                                                            else if (item.ImageLoc.Contains(".ppt"))
                                                            {
                                                                <div class="dv-preview-pic-inner">
                                                                    <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/ppt.png">
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="dv-preview-pic-inner">
                                                                    <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="@item.ImageLoc" data-caption="@item.ImageType">
                                                                </div>
                                                            }
                                                        </td>
                                                        <td>
                                                            <span class="image-caption">@item.ImageType</span>
                                                        </td>
                                                        <td>
                                                            @if (item.Size > 0)
                                                            {
                                                                <span class="image-caption">@item.Size.ToString("N2") KB</span>
                                                            }
                                                        </td>

                                                        <td>
                                                            <span class="image-caption">@item.ImageLoc.Substring(@item.ImageLoc.LastIndexOf(".") + 1).ToUpper()</span>
                                                        </td>
                                                        <td>  <span class="image-date">@item.UploadedDate.UTCToClientTime().ToString("M/dd/yy")</span></td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    if (Model.KnowledgeWeblinkList != null && Model.KnowledgeWeblinkList.Where(x => x.IsRelated == false).ToList().Count > 0)
                    {
                        <br />
                        <div class="as_block">
                            <div class="as_header">
                                Hyperlinks
                            </div>
                            <div class="as_info">
                                <div class="AddImageDiv">
                                    @foreach (var data in Model.KnowledgeWeblinkList.Where(x => x.IsRelated == false))
                                    {
                                        <a class="rect_block_green" href="@data.Link" target="_blank"><span>@data.Title</span></a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    if (Model.KnowledgeWeblinkList != null && Model.KnowledgeWeblinkList.Where(x => x.IsRelated).ToList().Count > 0)
                    {
                        <br />
                        <div class="as_block">
                            <div class="as_header">
                                Related Articles
                            </div>
                            <div class="as_info">
                                <div class="AddImageDiv">
                                    @foreach (var data in Model.KnowledgeWeblinkList.Where(x => x.IsRelated))
                                    {
                                        <a class="rect_block_green" href="@data.Link" target="_blank"><span>@data.Link</span></a>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                }
                <div class="as_block">
                    <div class="as_header" style="text-align:center;">
                        <span class="flag_chk_block"> <input type='checkbox' title="@(Model.IsFlag == true ? "Flagged" : "Flag")" class='Flag2' @(Model.IsFlag == true ? "checked" : "") /></span>
                    </div>

                    <div class="comment_box">
                        <table class="table attch_table">
                            <tbody id="comm_aection_items">
                                @if (Model.ListKnowledgeBaseFlagUser != null && Model.ListKnowledgeBaseFlagUser.Count > 0)
                                {
                                    foreach (var item in Model.ListKnowledgeBaseFlagUser)
                                    {
                                        <tr>
                                            <td>
                                                @item.Comment
                                                <div class="comment_info">Added by: <b>@item.Name</b> on @item.Date.ToString("M/d/yyyy h:mm tt")</div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    @if (Model.IsFlag)
                    {


                        <div class="comment_section">
                            <textarea class="form-control" placeholder="Write your comments" id="comment_section_text"></textarea>
                            <button style="float:right;" class="btn green_button" id="comment_section_save">Save</button>
                        </div>
                    }
                    else
                    {
                        <div class="comment_section" style="display:none;">
                            <textarea class="form-control" placeholder="Write your comments" id="comment_section_text"></textarea>
                            <button style="float:right;" class="btn green_button" id="comment_section_save">Save</button>
                        </div>
                    }


                </div>
                @if (Model.IsAssigned != null)
                {
                    <div class="col-md-12">
                        <label class="read_chk">
                            <input type='checkbox' @(Model.IsAssigned.IsRead == true ? "checked" : "") id="IsRead" />
                            <span>I have read this article</span>
                        </label>
                        <span class="comment_info">Assigned by: <b>@Model.IsAssigned.AssignedByUserName</b> on @Model.IsAssigned.AssignedDate.UTCToClientTime().ToString("M/d/yyyy h:mm tt")</span>
                    </div>
                }
            </div>
        </div>
    </div>
    <div style="display:none">
        <a href="" class="DocPreview">@Localize.T("Image Preview")</a>
        <a href="" class="AssignKnowledge">@Localize.T("Assign Knowledgebase")</a>
    </div>
    <div class="LoaderWorkingDiv">
        <div>
            <div class="lds-css ng-scope">
                <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
            </div>
        </div>
    </div>
</body>
</html>