@model HS.Entities.DocumentLibrary
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework

<html>
<head>
    <title>@(Model.IsDocumentLibrary == false ? "Knowledgebase || Quote Texas Insurance" : "Document Library || Quote Texas Insurance")</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel='shortcut icon' href="~/Content/Icons/@(HS.Framework.Utils.AppConfig.HomePageImage)/favicon.ico" />
    <link href="~/Content/MagnificPopUp/magnific-popup.css" rel="stylesheet" />
    @Styles.Render("~/styles/GetInvoice")
    <link href="~/Content/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/Css/SupportTicket/AddSupportTicket.css" rel="stylesheet" />
    <script>
    var RemovedFlag = '@ViewBag.RemovedFlag';
    var SearchText = '@ViewBag.SearchText';
    </script>
    <script src="~/Content/Js/Login/domainurl.js"></script>
    <script src="~/Content/Css/NewTabStyle/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Js/Layout/utils.js"></script>
    <script src="~/Content/MagnificPopUp/jquery.magnific-popup.js"></script> 
    <script src="~/Content/Js/KnowledgeBase/ShowDocumentLibraryMessage.js"></script>

    <style>
        .required {
            border: 1px solid red;
        }

        .green_button, .green_button:hover, .green_button:focus {
            background-color: #2ca01c !important;
            color: #fff !important;
            border-color: #2ca01c !important;
        }

        .red_button, .red_button:hover, .red_button:focus {
            background-color: #d71920 !important;
            color: #fff !important;
            border-color: #d71920 !important;
            border-radius: 8px !important;
            border: 1px solid #d71920 !important;
            padding: 6px 8px;
            height: 35px !important;
        }

        .comment_box {
            width: 60%;
            float: left;
            height: 200px;
            overflow: auto;
            border-bottom: 1px solid #ccc;
        }

            .comment_box table {
                font-size: 14px;
            }

                .comment_box table tr:nth-child(odd) {
                    background-color: #f4f5f8;
                }

        .comment_section {
            width: 40%;
            float: right;
        }

        .comment_info {
            width: 100%;
            float: left;
            color: #a3a3a3;
            font-size: 12px;
            font-style: italic;
        }

        .ribbon2 {
            position: absolute;
            right: 66px;
            top: 0px;
        }

            .ribbon2 i {
                margin: 3px !important;
                margin-right: 7px !important;
            }

            .ribbon2 span {
                position: relative;
                display: block;
                text-align: center;
                background: #d71920;
                font-size: 13px;
                padding: 3px 14px;
                border-radius: 0px 0px 10px 10px;
                color: #fff;
                font-weight: bold;
                box-shadow: 2px 2px 8px #ccc;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

                .ribbon2 span:before {
                    position: absolute;
                    content: "";
                    height: 0;
                    width: 0;
                    left: -13px;
                    top: 0px;
                    border-bottom: 13px solid #830005;
                    border-right: 15px solid transparent;
                    transform: rotate(179deg);
                }

                .ribbon2 span:after {
                    position: absolute;
                    content: "";
                    height: 0;
                    width: 0;
                    right: -13px;
                    top: -2px;
                    border-bottom: 16px solid #830005;
                    border-right: 13px solid transparent;
                    transform: rotate(88deg);
                }
    </style>
</head>
<body>

    <div class="container public_doc">
        <div class="pop_header">
            @if (Model.IsDocumentLibrary)
            {
                <label title="Back" class="backtoDocument">
                    <i class="fa fa-step-backward" aria-hidden="true"></i>
                </label>
            }
            else
            {
                <label title="Back" class="backtoKnowledge">
                    <i class="fa fa-step-backward" aria-hidden="true"></i>
                </label>
            }
            @Model.Title
            @if (Model.IsDeleted)
            {
                <span class="ribbon2"><span>Deleted</span></span>
            }
            @*@if (PermissionChekcer.IsPermitted(Permissions.QTIPermission.EditDocumentLibrary))
            {*@

                <a href="javascript:void(0)" class="btn green_button sa_edit" onclick="AddDocumentLibrary(@Model.Id)" data-id="@Model.Id" title="Edit">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>

            @*}*@
        </div>
        <div class="pop_height" id="KnMessageBody">
            <div class="pop_inner">
                <div class="hidden">
                    @Html.HiddenFor(x => x.Id)
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.Answer))
                {
                    <div class="as_block">
                        <div class="as_info" id="answerid">
                            @Html.Raw(Model.Answer)
                        </div>
                    </div>
                }
                @if (Model.SavedImages != null && Model.SavedImages.Count > 0)
                {
                    <div class="as_block">
                        <div class="as_header">
                            Attachments
                        </div>
                        <div class="as_info">
                            <div class="AddImageDiv">
                                <div class="upload-gallary">

                                    <table class="table attch_table">
                                        <thead>
                                            <tr>
                                                <th class="">
                                                    <div>Image</div>
                                                    <div>
                                                        <i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/image"></i>
                                                        <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/image"></i>
                                                    </div>
                                                </th>
                                                <th class="">
                                                    <div>Name</div>
                                                    <div>
                                                        <i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/name"></i>
                                                        <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/name"></i>
                                                    </div>
                                                </th>
                                                <th class="">
                                                    <div>Size</div>
                                                    <div>
                                                        <i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/size"></i>
                                                        <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/size"></i>
                                                    </div>
                                                </th>
                                                <th class="">
                                                    <div>Type</div>
                                                    <div>
                                                        <i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/type"></i>
                                                        <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/type"></i>
                                                    </div>
                                                </th>
                                                <th class="">
                                                    <div>Uploaded Date</div>
                                                    <div>
                                                        <i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/uploaddate"></i>
                                                        <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/uploaddate"></i>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="Filelist">
                                            @foreach (var item in Model.SavedImages)
                                            {
                                                <tr id="NewFileUp_@item.Id" class="dv-preview-pic  preview_@item.Id list_style_image">
                                                    <td>
                                                        @if (item.ImageLoc.Contains(".pdf"))
                                                        {
                                                            <div class="dv-preview-pic-inner">
                                                                <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/pdf.png">
                                                            </div>
                                                        }
                                                        else if (item.ImageLoc.Contains(".doc") || item.ImageLoc.Contains(".docx"))
                                                        {
                                                            <div class="dv-preview-pic-inner">
                                                                <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/docx.png">
                                                            </div>
                                                        }
                                                        else if (item.ImageLoc.Contains(".xlsx") || item.ImageLoc.Contains(".xls"))
                                                        {
                                                            <div class="dv-preview-pic-inner">
                                                                <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/xlsx.png">
                                                            </div>
                                                        }
                                                        else if (item.ImageLoc.Contains(".mp4") || item.ImageLoc.Contains(".mov"))
                                                        {
                                                            <div class="dv-preview-pic-inner">
                                                                <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/mp4.png">
                                                            </div>
                                                        }
                                                        else if (item.ImageLoc.Contains(".txt"))
                                                        {
                                                            <div class="dv-preview-pic-inner">
                                                                <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/text.png">
                                                            </div>
                                                        }
                                                        else if (item.ImageLoc.Contains(".msg"))
                                                        {
                                                            <div class="dv-preview-pic-inner">
                                                                <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/msg.png">
                                                            </div>
                                                        }
                                                        else if (item.ImageLoc.Contains(".pptx"))
                                                        {
                                                            <div class="dv-preview-pic-inner">
                                                                <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/pptx.png">
                                                            </div>
                                                        }
                                                        else if (item.ImageLoc.Contains(".ppt"))
                                                        {
                                                            <div class="dv-preview-pic-inner">
                                                                <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="/Content/Icons/ppt.png">
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="dv-preview-pic-inner">
                                                                <img class="preview-pic project-photo" onclick="previewfiles(this)" data-link="@item.ImageLoc" src="@item.ImageLoc" data-caption="@item.ImageType">
                                                            </div>
                                                        }
                                                    </td>
                                                    <td>
                                                        <span class="image-caption">@item.ImageType</span>
                                                    </td>
                                                    <td>
                                                        @if (item.Size > 0)
                                                        {
                                                            <span class="image-caption">@item.Size.ToString("N2") KB</span>
                                                        }
                                                    </td>

                                                    <td>
                                                        <span class="image-caption">@item.ImageLoc.Substring(@item.ImageLoc.LastIndexOf(".") + 1).ToUpper()</span>
                                                    </td>
                                                    <td>  <span class="image-date">@item.UploadedDate.UTCToClientTime().ToString("M/dd/yy")</span></td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.DocumentLibraryWeblinkList != null && Model.DocumentLibraryWeblinkList.Where(x => x.IsRelated == false).ToList().Count > 0)
                {
                    <br />
                    <div class="as_block">
                        <div class="as_header">
                            Hyperlinks
                        </div>
                        <div class="as_info">
                            <div class="AddImageDiv">
                                @foreach (var data in Model.DocumentLibraryWeblinkList.Where(x => x.IsRelated == false))
                                {
                                    <a class="rect_block_green" href="@data.Link" target="_blank"><span>@data.Title</span></a>
                                }
                            </div>
                        </div>
                    </div>
                }
                @if (Model.DocumentLibraryWeblinkList != null && Model.DocumentLibraryWeblinkList.Where(x => x.IsRelated).ToList().Count > 0)
                {
                    <br />
                    <div class="as_block">
                        <div class="as_header">
                            Related Articles
                        </div>
                        <div class="as_info">
                            <div class="AddImageDiv">
                                @foreach (var data in Model.DocumentLibraryWeblinkList.Where(x => x.IsRelated))
                                {
                                    <a class="rect_block_green" href="@data.Link" target="_blank"><span>@data.Link</span></a>
                                }
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="as_block">
                <div class="as_header" style="text-align:center;">
                    @*@if (Model.IsFlag)
                        {
                            <span style="float:left;">@Model.FlagByName</span>
                            <span>@HS.Framework.DateTimeExtension.UTCToClientTime(Model.FlagDate.Value).ToString("M/d/yyyy h:mm tt")</span>
                        }*@
                    <span class="flag_chk_block"> <input type='checkbox' title="@(Model.IsFlag == true ? "Flagged" : "Flag")" class='Flag2' @(Model.IsFlag == true ? "checked" : "") /></span>

                </div>

                <div class="comment_box">
                    <table class="table attch_table">
                        <tbody id="comm_aection_items">
                            @if (Model.ListKnowledgeBaseFlagUser != null && Model.ListKnowledgeBaseFlagUser.Count > 0)
                            {
                                foreach (var item in Model.ListKnowledgeBaseFlagUser)
                                {
                                    <tr>
                                        <td>
                                            @item.Comment
                                            <div class="comment_info">Added by: <b>@item.Name</b> on @item.Date.ToString("M/d/yyyy h:mm tt")</div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @if (Model.IsFlag)
                {


                    <div class="comment_section">
                        <textarea class="form-control" placeholder="Write your comments" id="comment_section_text"></textarea>
                        <button style="float:right;" class="btn green_button" id="comment_section_save">Save</button>
                    </div>
                }
                else
                {
                    <div class="comment_section" style="display:none;">
                        <textarea class="form-control" placeholder="Write your comments" id="comment_section_text"></textarea>
                        <button style="float:right;" class="btn green_button" id="comment_section_save">Save</button>
                    </div>
                }


            </div>
        </div>
    </div>
    <div style="display:none">
        <a href="" class="DocPreview">@Localize.T("Image Preview")</a>
    </div>
</body>
</html>





