@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
@model HS.Entities.AgreementQuestion
<link href="~/Content/Css/PackageSettings/AddPackageInclude.css" rel="stylesheet" />
@*<script src="~/Content/Js/PackageSetup/AddNewPackageInclude.js"></script>*@
<style>
    .DropLoader {
        width: 91%;
        height: 13%;
        margin-right: 20px;
        position: absolute;
        top: 150px;
        background-color: gray;
        opacity: .6;
        z-index: 10;
    }

        .DropLoader span {
            padding: 25%;
            color: #fff;
        }
</style>
<script>

    var saveAgreement = function () {
        console.log("hiiii5");
        var url = domainurl + "/SmartLeads/SaveAggrementQstn/";
        var param = JSON.stringify({
            id: $("#Id").val(),
            Title: $("#Title").val(),
           SiteType:$("#SiteType").val(),
           

        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data == false) {
                    OpenErrorMessageNew("Error!", "Something Wrong!!!");
                }
                else {
                    $(".close").click();
                    $(".AgreementQstn").load("/SmartLeads/LoadAggrementQstn");

                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }
    $(document).ready(function () {
        parent.$('.close').click(function () {
            parent.$(".modal-body").html('');
        })
        $("#SaveAgreement").click(function () {
            if (CommonUiValidation()) {
                saveAgreement();
            }
        })

        /*$(".PackageId_select2").select2({})
        $(".EquipmentId_select2").select2({})*/
    })
</script>
<div class="add_package_include_header">
    @Localize.T("Agreement Question")
</div>
<div class="container-fluid">
    <input type="hidden" value="@Model.Id" id="Id" />
    <div class="form-group clearfix">
        <label>@Localize.T("Title")</label>
        <textarea type="text" id="Title" value="@Model.Title" placeholder="Title" class="form-control" name="Title">@Model.Title</textarea>


    </div>

    <div class="form-group clearfix">
        
        <input type="hidden" value="@Model.SiteType" id="SiteType" />


    </div>



</div>

<section class="footer-section">
    <footer class="footer">
        <div class="save-package-div">
            <button class="btn-save-package-include" id="SaveAgreement">@Localize.T("Save")</button>
        </div>
    </footer>
</section>



