@{
    Layout = null;
}
@model HS.Entities.CustomerIsPcCreditApplication

@using Localize = HS.Web.UI.Helper.LanguageHelper
<script src="~/Content/Js/CityStateZipAutoFill.js"></script>
<link href="~/Content/Css/CityStateZipAutoFill.css" rel="stylesheet" />
<link href="~/Content/Css/SmartLeads/AddFinance.css" rel="stylesheet" />
<script>
    var ApplyForFinaceConfirm = function () {
        OpenConfirmationMessageNew("", "Do you want to apply for credit?", function () {
            ApplyForFinance(true);
        })
    }
    var from = '@ViewBag.from';
    var ApplyForFinance = function (IsApply) {

        var url = "/SmartLeads/ApplyForFinance/";
        var param = {
            "Id": $("#Id").val(),
            "MerchantId": $("#MerchantId").val(),
            "AmountRequested": $("#AmountRequested").val(),
            "OptionCode": $("#OptionCode").val(),
            "ProdSecuritySystem": true,
            "ProdMiscDescription": $("#ProdMiscDescription").val(),
            "ApplicantLastName": $("#ApplicantLastName").val(),
            "ApplicantFirstName": $("#ApplicantFirstName").val(),
            "ApplicantMiddleName": $("#ApplicantMiddleName").val(),
            "ApplicantNameSuffix": $("#ApplicantNameSuffix").val(),
            "ApplicantDOB": $("#ApplicantDOB").val(),
            "ApplicantSSN": $("#ApplicantSSN").val(),
            "ApplicantHomePhone": $("#ApplicantHomePhone").val(),


            "ApplicantCellPhone": $("#ApplicantCellPhone").val(),
            "ApplicantDriversLicense": $("#ApplicantDriversLicense").val(),
            "ApplicantEmailAddress": $("#ApplicantEmailAddress").val(),
            "ApplicantStreet": $("#ApplicantStreet").val(),
            "ApplicantCity": $("#City").val(),
            "ApplicantState": $("#State").val(),
            "ApplicantZipCode": $("#ZipCode").val(),


            "ApplicantCountry": $("#ApplicantCountry").val(),
            "ApplicantYearsAtAddress": $("#ApplicantYearsAtAddress").val(),
            "ApplicantMonthsAtAddress": $("#ApplicantMonthsAtAddress").val(),
            "MortgagePayment": $("#MortgagePayment").val(),
            "MortgageHolder": $("#MortgageHolder").val(),
            "MortgageBalance": $("#MortgageBalance").val(),
            "BankName": $("#BankName").val(),

            "BankAcctType": $("#BankAcctType").val(),
            "ApplicantPrevStreet": $("#ApplicantPrevStreet").val(),
            "ApplicantMonthsAtAddress": $("#ApplicantMonthsAtAddress").val(),
            "ApplicantPrevCity": $("#CityPrevious").val(),
            "ApplicantPrevState": $("#StatePrevious").val(),
            "ApplicantPrevZipCode": $("#ZipCodePrevious").val(),
            "ApplicantPrevCountry": $("#ApplicantPrevCountry").val(),

            "ApplicantPrevYearsAtAddress": $("#ApplicantPrevYearsAtAddress").val(),
            "ApplicantPrevMonthsAtAddress": $("#ApplicantPrevMonthsAtAddress").val(),
            "ApplicantEmployer": $("#ApplicantEmployer").val(),
            "ApplicantYearsEmployed": $("#ApplicantYearsEmployed").val(),
            "ApplicantMonthsEmployed": $("#ApplicantMonthsEmployed").val(),
            "ApplicantEmployerPhone": $("#ApplicantEmployerPhone").val(),
            "ApplicantPosition": $("#ApplicantPosition").val(),

            "ApplicantGrossAnnualIncome": $("#ApplicantGrossAnnualIncome").val(),
            "ApplicantOtherIncome": $("#ApplicantOtherIncome").val(),
            "ApplicantOtherIncomeSource": $("#ApplicantOtherIncomeSource").val(),
            "SelectedAssignedUserId": $("#SelectedAssignedUserId").val(),

            "CoapplicantLastName": $("#CoApplicantLastName").val(),
            "CoapplicantFirstName": $("#CoApplicantFirstName").val(),
            "CoapplicantMiddleName": $("#CoApplicantMiddleName").val(),
            "CoapplicantNameSuffix": $("#CoApplicantNameSuffix").val(),
            "CoapplicantDOB": $("#CoApplicantDOB").val(),
            "CoapplicantSSN": $("#CoApplicantSSN").val(),
            "CoapplicantHomePhone": $("#CoApplicantHomePhone").val(),


            "CpapplicantCellPhone": $("#CoApplicantCellPhone").val(),
            "CoapplicantDriversLicense": $("#CoApplicantDriversLicense").val(),
            "CoapplicantEmailAddress": $("#CoApplicantEmailAddress").val(),
            "CoapplicantStreet": $("#CoStreet").val(),
            "CoapplicantCity": $("#CoCity").val(),
            "CoapplicantState": $("#CoState").val(),
            "CoapplicantZipCode": $("#CoZipCode").val(),

            "CoapplicantCountry": $("#CoApplicantCountry").val(),
            "CoapplicantYearsAtAddress": $("#ApplicantYearsAtAddress").val(),
            "CoapplicantMonthsAtAddress": $("#CoApplicantMonthsAtAddress").val(),
            "CoapplicantEmployer": $("#CoApplicantEmployer").val(),
            "CoapplicantYearsEmployed": $("#CoApplicantYearsEmployed").val(),

            "CoapplicantMonthsEmployed": $("#CoApplicantMonthsEmployed").val(),
            "CoapplicantEmployerPhone": $("#CoApplicantEmployerPhone").val(),
            "CoapplicantEmployer": $("#CoApplicantEmployer").val(),
            "CoapplicantPosition": $("#CoApplicantPosition").val(),

            "CoapplicantGrossAnnualIncome": $("#CoApplicantGrossAnnualIncome").val(),
            "CoapplicantOtherIncome": $("#CoApplicantOtherIncome").val(),
            "CoapplicantOtherIncomeSource": $("#CoApplicantOtherIncomeSource").val(),
            CustomerId: CustomerId,
            IsApply: IsApply,
            from:from
        };
        console.log(param);

        $.ajax({
            type: "POST",
            ajaxStart: $(".LoaderWorkingDivIspc").show(),
            url: url,
            data: JSON.stringify(param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                $(".LoaderWorkingDivIspc").hide();
                if (data.result == true) {
                    var appid = "";
                    if (IsApply == true) {
                           
                        appid = "Application Id : " + data.ApplicationId + ". "; 
                    }
                    OpenSuccessMessageNew("",appid + data.Message, function () {
                        CloseTopToBottomModal();
                        if (data.from == "Customer") {
                            OpenISPCDetails();
                        }
                        else {
                             $("#LoadLeadDetail").load(domainurl + "/SmartLeads/SmartAgreementSummary?id=" + LeadIdVal);
                        }
                        
                    })
                }
                else {
                    OpenErrorMessageNew("", data.Message, function () {

                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                OpenErrorMessageNew("", "Internal Error!", function () {

                });
            }
        });
    }
    var CommonUiValidationForApplication = function () {

        var result = true;
        if ($("#MerchantId").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#MerchantId"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantLastName").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantLastName"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantFirstName").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantFirstName"));
            if (!check)
                result = check;
        }

        if ($("#ApplicantEmailAddress").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantEmailAddress"));
            if (!check)
                result = check;
        }

        if ($("#ApplicantSSN").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantSSN"));
            if (!check)
                result = check;
        }
        if ($("#MortgagePayment").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#MortgagePayment"));
            if (!check)
                result = check;
        }
        
        if ($("#City").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#City"));
            if (!check)
                result = check;
        }

        if ($("#State").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#State"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantStreet").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantStreet"));
            if (!check)
                result = check;
        }

        if ($("#ZipCode").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ZipCode"));
            if (!check)
                result = check;
        }
        if ($("#AmountRequested").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#AmountRequested"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantDOB").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantDOB"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantGrossAnnualIncome").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantGrossAnnualIncome"));
            if (!check)
                result = check;
        }

        if ($("#ProdMiscDescription").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ProdMiscDescription"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantMiddleName").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantMiddleName"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantNameSuffix").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantNameSuffix"));
            if (!check)
                result = check;
        }

        if ($("#ApplicantHomePhone").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantHomePhone"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantCellPhone").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantCellPhone"));
            if (!check)
                result = check;
        }
        
        if ($("#ApplicantDriversLicense").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantDriversLicense"));
            if (!check)
                result = check;
        }

        if ($("#ApplicantCountry").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantCountry"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantYearsAtAddress").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantYearsAtAddress"));
            if (!check)
                result = check;
        }

        if ($("#ApplicantMonthsAtAddress").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantMonthsAtAddress"));
            if (!check)
                result = check;
        }
        if ($("#MortgageHolder").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#MortgageHolder"));
            if (!check)
                result = check;
        }
        if ($("#MortgageBalance").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#MortgageBalance"));
            if (!check)
                result = check;
        }
        if ($("#BankName").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#BankName"));
            if (!check)
                result = check;
        }
        
        if ($("#BankAcctType").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#BankAcctType"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantPrevStreet").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantPrevStreet"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantMonthsAtAddress").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantMonthsAtAddress"));
            if (!check)
                result = check;
        }

        if ($("#ApplicantPrevCity").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantPrevCity"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantPrevState").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantPrevState"));
            if (!check)
                result = check;
        }
        
        if ($("#ApplicantPrevZipCode").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantPrevZipCode"));
            if (!check)
                result = check;
        }

        if ($("#ApplicantPrevCountry").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantPrevCountry"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantPrevYearsAtAddress").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantPrevYearsAtAddress"));
            if (!check)
                result = check;
        }

        if ($("#ApplicantPrevMonthsAtAddress").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantPrevMonthsAtAddress"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantEmployer").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantEmployer"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantYearsEmployed").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantYearsEmployed"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantMonthsEmployed").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantMonthsEmployed"));
            if (!check)
                result = check;
        }
        if ($("#ZipCodePrevious").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ZipCodePrevious"));
            if (!check)
                result = check;
        }
        if ($("#CityPrevious").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CityPrevious"));
            if (!check)
                result = check;
        }
        if ($("#StatePrevious").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#StatePrevious"));
            if (!check)
                result = check;
        }





         if ($("#ApplicantEmployerPhone").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantEmployerPhone"));
            if (!check)
                result = check;
        }

        if ($("#ApplicantPosition").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantPosition"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantOtherIncome").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantOtherIncome"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantOtherIncomeSource").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantOtherIncomeSource"));
            if (!check)
                result = check;
        }
        if ($("#SelectedAssignedUserId").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#SelectedAssignedUserId"));
            if (!check)
                result = check;
        }

        if ($("#YCo_Info").is(':checked') == true) {
            result = CoApplicantValidationCheck();
        }
    
        if ($("#BankAcctType").val() == "-1")
        {
            $(".banktypeerror").removeClass("hidden");
            result = false;
        }


      
        return result;
    }

    var CoApplicantValidationCheck = function(){
       var result = true;
      if ($("#CoApplicantLastName").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantLastName"));
            if (!check)
                result = check;
        }
        if ($("#CoApplicantFirstName").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantFirstName"));
            if (!check)
                result = check;
        }

        if ($("#CoApplicantEmailAddress").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantEmailAddress"));
            if (!check)
                result = check;
        }

        if ($("#CoApplicantSSN").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantSSN"));
            if (!check)
                result = check;
        }
        if ($("#CoMortgagePayment").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoMortgagePayment"));
            if (!check)
                result = check;
        }
        
        if ($("#CoCity").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoCity"));
            if (!check)
                result = check;
        }
        if ($("#CoStreet").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoStreet"));
            if (!check)
                result = check;
        }

        if ($("#CoState").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoState"));
            if (!check)
                result = check;
        }
        if ($("#CoApplicantStreet").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantStreet"));
            if (!check)
                result = check;
        }

        if ($("#CoZipCode").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoZipCode"));
            if (!check)
                result = check;
        }
        if ($("#CoAmountRequested").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoAmountRequested"));
            if (!check)
                result = check;
        }
        if ($("#CoApplicantDOB").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantDOB"));
            if (!check)
                result = check;
        }
        if ($("#CoApplicantGrossAnnualIncome").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantGrossAnnualIncome"));
            if (!check)
                result = check;
        }

        if ($("#CoProdMiscDescription").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoProdMiscDescription"));
            if (!check)
                result = check;
        }
        if ($("#CoApplicantMiddleName").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantMiddleName"));
            if (!check)
                result = check;
        }
        if ($("#CoApplicantNameSuffix").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantNameSuffix"));
            if (!check)
                result = check;
        }

        if ($("#CoApplicantHomePhone").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantHomePhone"));
            if (!check)
                result = check;
        }
        if ($("#CoApplicantCellPhone").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantCellPhone"));
            if (!check)
                result = check;
        }
        
        if ($("#CoApplicantDriversLicense").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantDriversLicense"));
            if (!check)
                result = check;
        }

        if ($("#CoApplicantCountry").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantCountry"));
            if (!check)
                result = check;
        }
        if ($("#CoApplicantYearsAtAddress").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantYearsAtAddress"));
            if (!check)
                result = check;
        }

        if ($("#CoApplicantMonthsAtAddress").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantMonthsAtAddress"));
            if (!check)
                result = check;
        }
        if ($("#CoMortgageHolder").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoMortgageHolder"));
            if (!check)
                result = check;
        }
        if ($("#CoMortgageBalance").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoMortgageBalance"));
            if (!check)
                result = check;
        }
        if ($("#CoBankName").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoBankName"));
            if (!check)
                result = check;
        }
        
        if ($("#CoBankAcctType").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoBankAcctType"));
            if (!check)
                result = check;
        }
        if ($("#CoApplicantPrevStreet").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantPrevStreet"));
            if (!check)
                result = check;
        }
        if ($("#CoApplicantMonthsAtAddress").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantMonthsAtAddress"));
            if (!check)
                result = check;
        }

        if ($("#CoApplicantPrevCity").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantPrevCity"));
            if (!check)
                result = check;
        }
        if ($("#CoApplicantPrevState").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantPrevState"));
            if (!check)
                result = check;
        }
        
        if ($("#CoApplicantPrevZipCode").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantPrevZipCode"));
            if (!check)
                result = check;
        }

        if ($("#CoApplicantPrevCountry").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantPrevCountry"));
            if (!check)
                result = check;
        }
        if ($("#CoApplicantPrevYearsAtAddress").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantPrevYearsAtAddress"));
            if (!check)
                result = check;
        }

        if ($("#CoApplicantPrevMonthsAtAddress").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantPrevMonthsAtAddress"));
            if (!check)
                result = check;
        }
        if ($("#CoApplicantEmployer").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantEmployer"));
            if (!check)
                result = check;
        }
        if ($("#CoApplicantYearsEmployed").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantYearsEmployed"));
            if (!check)
                result = check;
        }
        if ($("#CoApplicantMonthsEmployed").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantMonthsEmployed"));
            if (!check)
                result = check;
        }
        if ($("#CoZipCodePrevious").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoZipCodePrevious"));
            if (!check)
                result = check;
        }
        if ($("#CoCityPrevious").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoCityPrevious"));
            if (!check)
                result = check;
        }
        if ($("#CoStatePrevious").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoStatePrevious"));
            if (!check)
                result = check;
        }

         if ($("#CoApplicantEmployerPhone").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantEmployerPhone"));
            if (!check)
                result = check;
        }

        if ($("#CoApplicantPosition").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantPosition"));
            if (!check)
                result = check;
        }
        if ($("#CoApplicantOtherIncome").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantOtherIncome"));
            if (!check)
                result = check;
        }
        if ($("#CoApplicantOtherIncomeSource").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoApplicantOtherIncomeSource"));
            if (!check)
                result = check;
        }
        if ($("#CoSelectedAssignedUserId").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#CoSelectedAssignedUserId"));
            if (!check)
                result = check;
        }
        return result;
    }
    function FormateSSNNumber(Value) {
    var ValueClean = "";
    if (Value != undefined && Value != "" && Value != null) {
        Value = Value.replace(/[-  ]/g, '');
        if (Value.length == 9) {
            ValueClean = Value.replace(/(\d{3})\-?(\d{2})\-?(\d{4})/, "$1-$2-$3");
            $("#ApplicantSSN").css({ "border": "1px solid #babec5" });
      
            
        }
        else if (Value.length > 9) {
            ValueClean = Value;
            $("#ApplicantSSN").css({ "border": "1px solid red" });
     
        }
        else {
            ValueClean = Value;
            $("#ApplicantSSN").css({ "border": "1px solid #babec5" });

        }
    }
    return ValueClean;
    }
    function FormateCoSSNNumber(Value) {
    var ValueClean = "";
    if (Value != undefined && Value != "" && Value != null) {
        Value = Value.replace(/[-  ]/g, '');
        if (Value.length == 9) {
            ValueClean = Value.replace(/(\d{3})\-?(\d{2})\-?(\d{4})/, "$1-$2-$3");
            $("#CoApplicantSSN").css({ "border": "1px solid #babec5" });
      
            
        }
        else if (Value.length > 9) {
            ValueClean = Value;
            $("#CoApplicantSSN").css({ "border": "1px solid red" });
     
        }
        else {
            ValueClean = Value;
            $("#CoApplicantSSN").css({ "border": "1px solid #babec5" });

        }
    }
    return ValueClean;
    }
    
    function FormateHomePhoneNumber(Value) {
        var ValueClean = "";
        if (Value != undefined && Value != "" && Value != null) {
            Value = Value.replace(/[-()  ]/g, '');
            if (Value.length == 10) {
                ValueClean = Value.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
                $("#ApplicantHomePhone").css({ "border": "1px solid #babec5" });
       
            }
            else if (Value.length > 10) {
                ValueClean = Value;
                $("#ApplicantHomePhone").css({ "border": "1px solid red" });
             
            }
            else {
                $("#ApplicantHomePhone").css({ "border": "1px solid red" });
        
                ValueClean = Value;
            }
        }
        return ValueClean;
    }
    function FormateContactPhoneNumber(Value) {
        var ValueClean = "";
        if (Value != undefined && Value != "" && Value != null) {
            Value = Value.replace(/[-()  ]/g, '');
            if (Value.length == 10) {
                ValueClean = Value.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
      
                $("#ApplicantCellPhone").css({ "border": "1px solid #babec5" });
            }
            else if (Value.length > 10) {
                ValueClean = Value;
         
                $("#ApplicantCellPhone").css({ "border": "1px solid red" });
            }
            else {
               
                $("#ApplicantCellPhone").css({ "border": "1px solid red" });
                ValueClean = Value;
            }
        }
        return ValueClean;
    }

    function FormateEmployerPhoneNumber(Value) {
        var ValueClean = "";
        if (Value != undefined && Value != "" && Value != null) {
        Value = Value.replace(/[-()  ]/g, '');
        if (Value.length == 10) {
            ValueClean = Value.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
            $("#ApplicantEmployerPhone").css({ "border": "1px solid #babec5" });
       
        }
        else if (Value.length > 10) {
            ValueClean = Value;
            $("#ApplicantEmployerPhone").css({ "border": "1px solid red" });
             
        }
        else {
            $("#ApplicantEmployerPhone").css({ "border": "1px solid red" });
        
            ValueClean = Value;
        }
        }
        return ValueClean;
        }
    function FormateCoContactPhoneNumber(Value) {
        var ValueClean = "";
        if (Value != undefined && Value != "" && Value != null) {
        Value = Value.replace(/[-()  ]/g, '');
        if (Value.length == 10) {
            ValueClean = Value.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
      
            $("#CoApplicantCellPhone").css({ "border": "1px solid #babec5" });
        }
        else if (Value.length > 10) {
            ValueClean = Value;
         
            $("#CoApplicantCellPhone").css({ "border": "1px solid red" });
        }
        else {
               
            $("#CoApplicantCellPhone").css({ "border": "1px solid red" });
            ValueClean = Value;
        }
        }
        return ValueClean;
        }
    function FormateCoHomePhoneNumber(Value) {
        var ValueClean = "";
        if (Value != undefined && Value != "" && Value != null) {
        Value = Value.replace(/[-()  ]/g, '');
        if (Value.length == 10) {
            ValueClean = Value.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
            $("#CoApplicantHomePhone").css({ "border": "1px solid #babec5" });
       
        }
        else if (Value.length > 10) {
            ValueClean = Value;
            $("#CoApplicantHomePhone").css({ "border": "1px solid red" });
             
        }
        else {
            $("#CoApplicantHomePhone").css({ "border": "1px solid red" });
        
            ValueClean = Value;
        }
        }
        return ValueClean;
        }
    function FormateCoEmployerPhoneNumber(Value) {
        var ValueClean = "";
        if (Value != undefined && Value != "" && Value != null) {
        Value = Value.replace(/[-()  ]/g, '');
        if (Value.length == 10) {
            ValueClean = Value.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
            $("#CoApplicantEmployerPhone").css({ "border": "1px solid #babec5" });
       
        }
        else if (Value.length > 10) {
            ValueClean = Value;
            $("#CoApplicantEmployerPhone").css({ "border": "1px solid red" });
             
        }
        else {
            $("#CoApplicantEmployerPhone").css({ "border": "1px solid red" });
        
            ValueClean = Value;
        }
        }
        return ValueClean;
        }
    $(document).ready(function () {
        $(".LoaderWorkingDivIspc").hide();
        $(".add_finance_inner_height").height(window.innerHeight - 100);
        $("#ApplicantSSN").keyup(function () {
            var SSNNumber = $(this).val();
            if (SSNNumber != undefined && SSNNumber != null && SSNNumber != "") {
                var cleanSSNNumber = FormateSSNNumber(SSNNumber);
                $(this).val(cleanSSNNumber);
            }
        });

        $("#YCo_Info").change(function () {
            if ($("#YCo_Info").is(':checked') == true) {
                $(".co_applicant_info").show();
            }
            else {
                $(".co_applicant_info").hide();
            }

        })
        $("#NCo_Info").change(function () {
            if ($("#NCo_Info").is(':checked') == true) {
                $(".co_applicant_info").hide();
            }
            else {
       
               $(".co_applicant_info").show();
            }

        })
        $(".co_applicant_info").hide();
        $("#CoApplicantSSN").keyup(function () {
        var SSNNumber = $(this).val();
        if (SSNNumber != undefined && SSNNumber != null && SSNNumber != "") {
            var cleanSSNNumber = FormateCoSSNNumber(SSNNumber);
            $(this).val(cleanSSNNumber);
        }
        });
        $("#ApplicantHomePhone").keyup(function () {
        var PhoneNumber = $(this).val();
        if (PhoneNumber != undefined && PhoneNumber != null && PhoneNumber != "") {
            var cleanPhoneNumber = FormateHomePhoneNumber(PhoneNumber);
            $(this).val(cleanPhoneNumber);
        }
        });
        $("#CoApplicantHomePhone").keyup(function () {
        var PhoneNumber = $(this).val();
        if (PhoneNumber != undefined && PhoneNumber != null && PhoneNumber != "") {
            var cleanPhoneNumber = FormateCoHomePhoneNumber(PhoneNumber);
            $(this).val(cleanPhoneNumber);
        }
        });
        $("#ApplicantCellPhone").keyup(function () {
        var PhoneNumber = $(this).val();
        if (PhoneNumber != undefined && PhoneNumber != null && PhoneNumber != "") {
            var cleanPhoneNumber = FormateContactPhoneNumber(PhoneNumber);
            $(this).val(cleanPhoneNumber);
        }
        });
        $("#CoApplicantCellPhone").keyup(function () {
        var PhoneNumber = $(this).val();
        if (PhoneNumber != undefined && PhoneNumber != null && PhoneNumber != "") {
            var cleanPhoneNumber = FormateCoContactPhoneNumber(PhoneNumber);
            $(this).val(cleanPhoneNumber);
        }
        });

        $("#ApplicantEmployerPhone").keyup(function () {
            var PhoneNumber = $(this).val();
            if (PhoneNumber != undefined && PhoneNumber != null && PhoneNumber != "") {
                var cleanPhoneNumber = FormateEmployerPhoneNumber(PhoneNumber);
                $(this).val(cleanPhoneNumber);
            }
          });
        $("#CoApplicantEmployerPhone").keyup(function () {
            var PhoneNumber = $(this).val();
            if (PhoneNumber != undefined && PhoneNumber != null && PhoneNumber != "") {
                var cleanPhoneNumber = FormateCoEmployerPhoneNumber(PhoneNumber);
                $(this).val(cleanPhoneNumber);
            }
        });

        ApplicantDoBDatepicker = new Pikaday({
            format: 'MM/DD/YYYY',
            field: $('#ApplicantDOB')[0],
            yearRange: [1920, 2010],
            trigger: $('#ApplicantDOBCustom')[0],
            firstDay: 1,


        });
        CoApplicantDoBDatepicker = new Pikaday({
            format: 'MM/DD/YYYY',
            field: $('#CoApplicantDOB')[0],
            yearRange: [1920, 2010],
            trigger: $('#CoApplicaApplyForFinaceConfirmntDOBCustom')[0],
            firstDay: 1,


        });
        $(".btn_apply_finance").click(function () {
            console.log("dsf");
            if (CommonUiValidationForApplication() == true && $("#OptionCode").val() != "-1") {
                $(".option_error").addClass("hidden")
                ApplyForFinaceConfirm();
            }
            else {
                if ($("#OptionCode").val() == "-1") {
                    $(".option_error").removeClass("hidden")
                }
                else {
                    $(".option_error").addClass("hidden")
                }
            }

        })
        $(".btn_save_finance").click(function () {
            ApplyForFinance(false);
        })
    })

    $(window).resize(function () {
        $(".add_finance_inner_height").height(window.innerHeight - 100);
    })
</script>
<div class="LoaderWorkingDivIspc" style="margin-top:0px">
    @*<div class='uil-ring-css' style='transform:scale(1);'>
            <div></div>
        </div>*@

    @*<div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div>*@
    <div style='position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;'>
        <div class="lds-css ng-scope">
            <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
        </div>
    </div>

    @*<div>
            <h3>@Localize.T("Please wait")</h3>
            <h4>@Localize.T("We are fetching your data")</h4>
        </div>*@
</div>
<div class="add_finance_container">
    <div class="add_finance_header"> @Localize.T("Credit Application")</div>
    <div class="add_finance_inner_height">
        <div class="add_finance_inner">
            <div class="af_info_block">
                <div class="af_header">
                    @Localize.T("Applicant Information")
                </div>
                <div class="af_info_details_block">

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Merchant Id")<span class="requiredfield">*</span></span>
                        <input type="number" id="MerchantId" name="MerchantId" placeholder="Merchant Id" value="@Model.MerchantId" datarequired="true" class="form-control" />
                        <label rel="MerchantId" class="label hidden red position-absolute">*@Localize.T("Merchant Id Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Amount Requested")<span class="requiredfield">*</span></span>
                        <input type="number" id="AmountRequested" name="AmountRequested" placeholder="Amount Requested" value="@Model.AmountRequested" datarequired="true" class="form-control" />
                        <label rel="AmountRequested" class="label hidden red position-absolute">*@Localize.T("Amount Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Option Code")<span class="requiredfield">*</span></span>
                        @Html.DropDownListFor(x => x.OptionCode, (List<SelectListItem>)ViewBag.OptionCodeList, new { @class = "form-control", id = "OptionCode", datarequired = "true" })
                        <label rel="OptionCode" class="label hidden red position-absolute option_error">*@Localize.T("Option Code Required")</label>
                    </div>
                    <div class="form-group clearfix af_check_style">
                        <input type="checkbox" id="ProdSecuritySystem" checked />
                        <label for="ProdSecuritySystem">@Localize.T("Prod Security System")</label>

                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Prod Misc Description")<span class="requiredfield">*</span></span>
                        <input type="text" id="ProdMiscDescription" name="Name" placeholder="Prod Misc Description" value="@Model.ProdMiscDescription" datarequired="true" class="form-control" />
                        <label rel="ProdMiscDescription" class="label hidden red position-absolute">*@Localize.T("Prod Misc Description Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Last Name")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantLastName" name="ApplicantLastName" placeholder="Last Name" value="@Model.ApplicantLastName" datarequired="true" class="form-control" />
                        <label rel="ApplicantLastName" class="label hidden red position-absolute">*@Localize.T("Applicant LastName Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("First Name")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantFirstName" name="ApplicantFirstName" placeholder="First Name" value="@Model.ApplicantFirstName" datarequired="true" class="form-control" />
                        <label rel="ApplicantFirstName" class="label hidden red position-absolute">*@Localize.T("Applicant FirstName Required")</label>
                    </div>



                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Name Suffix")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantNameSuffix" name="ApplicantNameSuffix" placeholder="Name Suffix" value="@Model.ApplicantNameSuffix" datarequired="true" class="form-control" />
                        <label rel="ApplicantNameSuffix" class="label hidden red position-absolute">*@Localize.T("Name Suffix Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Middle Name")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantMiddleName" name="ApplicantMiddleName" placeholder="Middle Name" value="@Model.ApplicantMiddleName" datarequired="true" class="form-control" />
                        <label rel="ApplicantMiddleName" class="label hidden red position-absolute">*@Localize.T("Middle Name Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("DOB")<span class="requiredfield">*</span></span>
                        <div class="input_group_for_date add-on" id="ApplicantDOBCustom">
                            <input type="text" id="ApplicantDOB" name="ApplicantDOB" placeholder="Applicant DOB" value="@Model.ApplicantDOB" datarequired="true" class="form-control" />

                            <div class="input-group-btn">
                                <btn class="btn">
                                    <i class="fa fa-calendar" aria-hidden="true" style="cursor:pointer;"></i>
                                </btn>
                            </div>
                            <label rel="ApplicantDOB" class="label hidden red position-absolute">*@Localize.T("Applicant DOB Required")</label>
                        </div>
                    </div>


                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("SSN")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantSSN" name="ApplicantSSN" placeholder="SSN" value="@Model.ApplicantSSN" datarequired="true" class="form-control" />
                        <label rel="ApplicantSSN" class="label hidden red position-absolute">*@Localize.T("Applicant SSN Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Home Phone")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantHomePhone" name="ApplicantHomePhone" placeholder="Home Phone" value="@Model.ApplicantHomePhone" datarequired="true" class="form-control" />
                        <label rel="ApplicantHomePhone" class="label hidden red position-absolute">*@Localize.T("Home Phone Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Cell Phone")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantCellPhone" name="ApplicantCellPhone" placeholder="Cell Phone" value="@Model.ApplicantCellPhone" datarequired="true" class="form-control" />
                        <label rel="ApplicantCellPhone" class="label hidden red position-absolute">*@Localize.T("Cell Phone Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Email Address")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantEmailAddress" name="ApplicantEmailAddress" placeholder="Email Address" value="@Model.ApplicantEmailAddress" datarequired="true" class="form-control" />
                        <label rel="ApplicantEmailAddress" class="label hidden red position-absolute">*@Localize.T("Email Address Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Drivers License")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantDriversLicense" name="ApplicantDriversLicense" placeholder="Drivers License" value="@Model.ApplicantDriversLicense" datarequired="true" class="form-control" />
                        <label rel="ApplicantDriversLicense" class="label hidden red position-absolute">*@Localize.T("Drivers License Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Street")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantStreet" name="ApplicantStreet" placeholder="Applicant Street" value="@Model.ApplicantStreet" datarequired="true" class="form-control" />
                        <label rel="ApplicantStreet" class="label hidden red position-absolute">*@Localize.T("Applicant Street Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("City")<span class="requiredfield">*</span></span>
                        <input type="text" class="form-control" id="City" name="City" value="@Model.ApplicantCity" placeholder="@Localize.T("City")" datarequired="true" />
                        <label rel="City" class="label hidden red position-absolute">*@Localize.T("City Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("State")<span class="requiredfield">*</span></span>
                        <input type="text" class="form-control" id="State" name="State" value="@Model.ApplicantState" placeholder="@Localize.T("State")" datarequired="true" />
                        <label rel="State" class="label hidden red position-absolute">*@Localize.T("State Required")</label>
                    </div>
                    <div class="form-group CityState_insert_div clearfix">
                        <span class="af_info_header">@Localize.T("Zip Code")<span class="requiredfield">*</span></span>

                        <input type="text" class="form-control" name="ZipCode" onkeydown="CityStateSearchKeyDown(this,event)" onkeyup="CityStateSearchKeyUp(this,event)" value="@Model.ApplicantZipCode" id="ZipCode" placeholder="Zip Code" datarequired="true" />
                        <div class='tt-menu'>
                            <div class='tt-dataset tt-dataset-autocomplete'> </div>
                        </div>
                        <label rel="ZipCode" class="label hidden red position-absolute">*@Localize.T("ZipCode Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Country")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantCountry" name="Country" placeholder="ApplicantCountry" value="USA" class="form-control" datarequired="true" />
                        <label rel="Country" class="label hidden red position-absolute">*@Localize.T("Country Required")</label>

                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Years at Address")<span class="requiredfield">*</span></span>
                        <input type="number" id="ApplicantYearsAtAddress" name="ApplicantYearsAtAddress" placeholder="Years at Address" value="@Model.ApplicantYearsAtAddress" datarequired="true" class="form-control" />
                        <label rel="ApplicantYearsAtAddress" class="label hidden red position-absolute">*@Localize.T("Years at Address Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Months at Address")<span class="requiredfield">*</span></span>
                        <input type="number" id="ApplicantMonthsAtAddress" name="ApplicantMonthsAtAddress " placeholder="Months at Address" value="@Model.ApplicantMonthsAtAddress" datarequired="true" class="form-control" />
                        <label rel="ApplicantMonthsAtAddress" class="label hidden red position-absolute">*@Localize.T("Months at Address Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Mortgage Payment")<span class="requiredfield">*</span></span>
                        <input type="number" id="MortgagePayment" name="MortgagePayment " placeholder="Payment" value="@Model.MortgagePayment" class="form-control" datarequired="true" />
                        <label rel="MortgagePayment" class="label hidden red position-absolute">*@Localize.T("Mortage Payment Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Mortgage Holder")<span class="requiredfield">*</span></span>
                        <input type="text" id="MortgageHolder" name="MortgageHolder" placeholder="Mortgage Holder" value="@Model.MortgageHolder" datarequired="true" class="form-control" />
                        <label rel="MortgageHolder" class="label hidden red position-absolute">*@Localize.T("Mortgage HolderRequired")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Mortgage Balance")<span class="requiredfield">*</span></span>
                        <input type="number" id="MortgageBalance" name="MortgageBalance" placeholder="Mortgage Balance" value="@Model.MortgageBalance" datarequired="true" class="form-control" />
                        <label rel="MortgageBalance" class="label hidden red position-absolute">*@Localize.T("Mortgage Balance Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Bank Name")<span class="requiredfield">*</span></span>
                        <input type="text" id="BankName" name="BankName" placeholder="Bank Name" value="@Model.BankName" datarequired="true" class="form-control" />
                        <label rel="BankName" class="label hidden red position-absolute">*@Localize.T("Bank Name Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Bank Acct Type")<span class="requiredfield">*</span></span>

                        @Html.DropDownListFor(x => x.BankAcctType, (List<SelectListItem>)ViewBag.BankType, new { @class = "form-control", id = "BankAcctType", datarequired = "true" })
                        <label rel="BankAcctType" class="label hidden red position-absolute banktypeerror">*@Localize.T("Bank Acct Type Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Prev Street")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantPrevStreet" name="ApplicantPrevStreet" placeholder="Prev Street" value="@Model.ApplicantPrevStreet" datarequired="true" class="form-control" />
                        <label rel="ApplicantPrevStreet" class="label hidden red position-absolute">*@Localize.T("Prev Street Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Prev City")<span class="requiredfield">*</span></span>
                        <input type="text" class="form-control" id="CityPrevious" name="CityPrevious" value="@Model.ApplicantPrevCity" placeholder="Prev City" datarequired="true" />
                        <label rel="CityPrevious" class="label hidden red position-absolute">*@Localize.T("Prev City Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Prev State")<span class="requiredfield">*</span></span>
                        <input type="text" class="form-control" id="StatePrevious" name="StatePrevious" value="@Model.ApplicantPrevState" placeholder="Prev State" datarequired="true" />
                        <label rel="StatePrevious" class="label hidden red position-absolute">*@Localize.T("Prev State Required")</label>
                    </div>
                    <div class="form-group clearfix CityState_insert_div_previous">
                        <span class="af_info_header">@Localize.T("Prev Zip Code")<span class="requiredfield">*</span></span>

                        <input type="text" class="form-control" onkeydown="CityStateSearchKeyDown(this,event)" onkeyup="CityStateSearchKeyUp(this,event)" value="@Model.ApplicantPrevZipCode" id="ZipCodePrevious" name="ZipCodePrevious" placeholder="Prev Zip Code" datarequired="true" />
                        <div class='tt-menu'>
                            <div class='tt-dataset tt-dataset-autocomplete'> </div>
                        </div>
                        <label rel="ZipCodePrevious" class="label hidden red position-absolute">*@Localize.T("Prev Zip Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Prev Country")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantPrevCountry" name="ApplicantPrevCountry" placeholder="Prev Country" value="@Model.ApplicantPrevCountry" datarequired="true" class="form-control" />
                        <label rel="ApplicantPrevCountry" class="label hidden red position-absolute">*@Localize.T("Prev Country Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Prev Years at Address")<span class="requiredfield">*</span></span>
                        <input type="number" id="ApplicantPrevYearsAtAddress" name="ApplicantPrevYearsAtAddress" placeholder="Prev Years at Address" value="@Model.ApplicantPrevYearsAtAddress" datarequired="true" class="form-control" />
                        <label rel="ApplicantPrevYearsAtAddress" class="label hidden red position-absolute">*@Localize.T("Prev Years At Address Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Prev Months at Address")<span class="requiredfield">*</span></span>
                        <input type="number" id="ApplicantPrevMonthsAtAddress" name="ApplicantPrevMonthsAtAddress " placeholder="Prev Months at Address" value="@Model.ApplicantPrevMonthsAtAddress" datarequired="true" class="form-control" />
                        <label rel="ApplicantPrevMonthsAtAddress" class="label hidden red position-absolute">*@Localize.T("Prev Months At Address Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Employer")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantEmployer" name="ApplicantEmployer" placeholder="Applicant Employer" value="@Model.ApplicantEmployer" class="form-control" datarequired="true" />
                        <label rel="ApplicantEmployer" class="label hidden red position-absolute">*@Localize.T("Applicant Employer Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Years Employed")<span class="requiredfield">*</span></span>
                        <input type="number" id="ApplicantYearsEmployed" name="ApplicantYearsEmployed" placeholder="Years Employed" value="@Model.ApplicantMonthsEmployed" class="form-control" datarequired="true" />
                        <label rel="ApplicantYearsEmployed" class="label hidden red position-absolute">*@Localize.T("Years Employed Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Months Employed")<span class="requiredfield">*</span></span>
                        <input type="number" id="ApplicantMonthsEmployed" name="ApplicantMonthsEmployed" placeholder="Months Employed" value="@Model.ApplicantMonthsEmployed" class="form-control" datarequired="true" />
                        <label rel="ApplicantMonthsEmployed" class="label hidden red position-absolute">*@Localize.T("Months Employed Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Employer Phone")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantEmployerPhone" name="ApplicantEmployerPhone" placeholder="Employer Phone" value="@Model.ApplicantEmployerPhone" class="form-control" datarequired="true" />
                        <label rel="ApplicantEmployerPhone" class="label hidden red position-absolute">*@Localize.T("Applicant Employer Phone Required")</label>
                    </div>


                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Position")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantPosition" name="ApplicantPosition" placeholder="Position" value="@Model.ApplicantPosition" class="form-control" datarequired="true" />
                        <label rel="ApplicantPosition" class="label hidden red position-absolute">*@Localize.T("Applicant Position Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Gross Annual Income")<span class="requiredfield">*</span></span>
                        <input type="number" id="ApplicantGrossAnnualIncome" name="GrossAnnualIncome" placeholder="GrossvAnnual Income" value="@Model.ApplicantGrossAnnualIncome" class="form-control" datarequired="true" />
                        <label rel="GrossAnnualIncome" class="label hidden red position-absolute">*@Localize.T("Gross Annual Income Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Other Income")<span class="requiredfield">*</span></span>
                        <input type="number" id="ApplicantOtherIncome" name="ApplicantOtherIncome" placeholder="Other Income" value="@Model.ApplicantMonthsEmployed" class="form-control" datarequired="true" />
                        <label rel="ApplicantOtherIncome" class="label hidden red position-absolute">*@Localize.T("Other Income Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Other Income Source")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantOtherIncomeSource" name="ApplicantOtherIncomeSource" placeholder="Other Income Source" value="@Model.ApplicantOtherIncomeSource" class="form-control" datarequired="true" />
                        <label rel="ApplicantOtherIncomeSource" class="label hidden red position-absolute">*@Localize.T("Other Income Source Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Selected Assigned UserId")<span class="requiredfield">*</span></span>
                        <input type="text" id="SelectedAssignedUserId" name="SelectedAssignedUserId" placeholder="Selected Assigned UserId" value="@Model.SelectedAssignedUserId" class="form-control" datarequired="true" />
                        <label rel="SelectedAssignedUserId" class="label hidden red position-absolute">*@Localize.T("Selected Assigned UserId Required")</label>
                    </div>
                </div>
            </div>
            <div class="sews_content">
                <div class="sews_content_block">
                    Do you want to add Co Applicant info?
                </div>
                <label class="sews_yes"  style="color:green"><input type="radio" id="YCo_Info" name="Co_Info" value="Y"> Yes</label>
                <label class="sews_no" style="color:red" ><input type="radio" id="NCo_Info" name="Co_Info" value="N"> No<br></label>
            </div>
        
            <div class="af_info_block co_applicant_info">
                <div class="af_header">
                    @Localize.T("Co Applicant Information")
                </div>
                <div class="af_info_details_block">
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Last Name")<span class="requiredfield">*</span></span>
                        <input type="text" id="CoApplicantLastName" name="CoApplicantLastName" placeholder="Last Name" value="@Model.CoapplicantLastName" class="form-control" datarequired="true" />
                        <label rel="CoApplicantLastName" class="label hidden red position-absolute">*@Localize.T("Last Name Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("First Name")<span class="requiredfield">*</span></span>
                        <input type="text" id="CoApplicantFirstName" name="CoApplicantFirstName" placeholder="First Name" value="@Model.CoapplicantFirstName" class="form-control" datarequired="true" />
                        <label rel="CoApplicantFirstName" class="label hidden red position-absolute">*@Localize.T("First Name Required")</label>
                    </div>



                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Middle Name")<span class="requiredfield">*</span></span>
                        <input type="text" id="CoApplicantMiddleName" name="CoApplicantMiddleName" placeholder="Middle Name" value="@Model.CoapplicantMiddleName" class="form-control" datarequired="true" />
                        <label rel="CoApplicantMiddleName" class="label hidden red position-absolute">*@Localize.T("Middle Name Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Name Suffix")</span>
                        <input type="text" id="CoApplicantNameSuffix" name="CoApplicantNameSuffix" placeholder="Name Suffix" value="@Model.CoapplicantNameSuffix" class="form-control" datarequired="true" />
                        <label rel="CoApplicantNameSuffix" class="label hidden red position-absolute">*@Localize.T("Name Suffix Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("DOB")<span class="requiredfield">*</span></span>
                        <div class="input_group_for_date add-on" id="CoApplicantDOBCustom">
                            <input type="text" id="CoApplicantDOB" name="CoApplicantDOB" placeholder="DOB" value="@Model.CoapplicantDOB" class="form-control" datarequired="true" />

                            <div class="input-group-btn">
                                <btn class="btn">
                                    <i class="fa fa-calendar" aria-hidden="true" style="cursor:pointer;"></i>
                                </btn>
                            </div>
                            <label rel="CoApplicantDOB" class="label hidden red position-absolute">*@Localize.T("DOB Required")</label>
                        </div>
                        
                    </div>


                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("SSN")<span class="requiredfield">*</span></span>
                        <input type="text" id="CoApplicantSSN" name="CoApplicantSSN" placeholder="SSN" value="@Model.CoapplicantSSN" datarequired="true" class="form-control" />
                        <label rel="CoApplicantSSN" class="label hidden red position-absolute">*@Localize.T("SSN Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Home Phone")<span class="requiredfield">*</span></span>
                        <input type="text" id="CoApplicantHomePhone" name="CoApplicantHomePhone" placeholder="Home Phone" value="@Model.CoapplicantHomePhone" datarequired="true" class="form-control" />
                        <label rel="CoApplicantHomePhone" class="label hidden red position-absolute">*@Localize.T("Home Phone Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Cell Phone")<span class="requiredfield">*</span></span>
                        <input type="text" id="CoApplicantCellPhone" name="CoApplicantCellPhone" placeholder="Cell Phone" value="@Model.CpapplicantCellPhone" datarequired="true" class="form-control" />
                        <label rel="CoApplicantCellPhone" class="label hidden red position-absolute">*@Localize.T("Cell Phone Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Email Address")<span class="requiredfield">*</span></span>
                        <input type="text" id="CoApplicantEmailAddress" name="CoApplicantEmailAddress" placeholder="Email Address" value="@Model.CoapplicantEmailAddress" datarequired="true" class="form-control" />
                        <label rel="CoApplicantEmailAddress" class="label hidden red position-absolute">*@Localize.T("Email Address Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Drivers License")<span class="requiredfield">*</span></span>
                        <input type="text" id="CoApplicantDriversLicense" name="CoApplicantDriversLicense" placeholder="Drivers License" value="@Model.CoapplicantDriversLicense" datarequired="true" class="form-control" />
                        <label rel="CoApplicantDriversLicense" class="label hidden red position-absolute">*@Localize.T("Drivers License Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Street")<span class="requiredfield">*</span></span>
                        <input type="text" id="CoStreet" name="CoStreet" placeholder="Street" value="@Model.CoapplicantStreet" class="form-control" datarequired="true" />
                        <label rel="CoStreet" class="label hidden red position-absolute">*@Localize.T("Street Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("City")<span class="requiredfield">*</span></span>
                        <input type="text" class="form-control" id="CoCity" name="CoCity" value="@Model.CoapplicantCity" placeholder="City" datarequired="true" />
                        <label rel="CoCity" class="label hidden red position-absolute">*@Localize.T("City Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("State")<span class="requiredfield">*</span></span>
                        <input type="text" class="form-control" id="CoState" name="CoState" value="@Model.CoapplicantState" placeholder="State" datarequired="true" />
                        <label rel="CoState" class="label hidden red position-absolute">*@Localize.T("State Required")</label>
                    </div>
                    <div class="form-group clearfix CoCityState_insert_div">
                        <span class="af_info_header">@Localize.T("Zip Code")<span class="requiredfield">*</span></span>

                        <input type="text" class="form-control" onkeydown="CityStateSearchKeyDown(this,event)" onkeyup="CityStateSearchKeyUp(this,event)" value="@Model.CoapplicantZipCode" datarequired="true" id="CoZipCode" name="CoZipCode" placeholder="Zip Code" />
                        <div class='tt-menu'>
                            <div class='tt-dataset tt-dataset-autocomplete'> </div>
                        </div>
                        <label rel="CoZipCode" class="label hidden red position-absolute">*@Localize.T("Zip Code Required")</label>
                    </div>


                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Country")<span class="requiredfield">*</span></span>
                        <input type="text" id="CoCountry" name="CoApplicantCountry" placeholder="Country" value="USA" datarequired="true" class="form-control" />
                        <label rel="CoApplicantCountry" class="label hidden red position-absolute">*@Localize.T("Country Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Years at Address")<span class="requiredfield">*</span></span>
                        <input type="number" id="CoApplicantYearsAtAddress" name="CoApplicantYearsAtAddress" placeholder="Years at Address" value="@Model.CoapplicantYearsAtAddress" datarequired="true" class="form-control" />
                        <label rel="CoApplicantYearsAtAddress" class="label hidden red position-absolute">*@Localize.T("Years at Address Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Months at Address")<span class="requiredfield">*</span></span>
                        <input type="number" id="CoApplicantMonthsAtAddress" name="CoApplicantMonthsAtAddress" placeholder="Months at Address" value="@Model.CoapplicantMonthsAtAddress"  datarequired="true" class="form-control" />
                         <label rel="CoApplicantMonthsAtAddress" class="label hidden red position-absolute">*@Localize.T("Months at Address Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Employer")<span class="requiredfield">*</span></span>
                        <input type="text" id="CoApplicantEmployer" name="CoApplicantEmployer" placeholder="Employer" value="@Model.CoapplicantEmployer" class="form-control" datarequired="true" />
                        <label rel="CoApplicantEmployer" class="label hidden red position-absolute">*@Localize.T("Employer Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Years Employed")<span class="requiredfield">*</span></span>
                        <input type="number" id="CoApplicantYearsEmployed" name="CoapplicantyearsEmployed" placeholder="Years Employed" value="@Model.CoapplicantYearsEmployed" datarequired="true" class="form-control" />
                        <label rel="CoapplicantyearsEmployed" class="label hidden red position-absolute">*@Localize.T("Years Employed Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Months Employed")<span class="requiredfield">*</span></span>
                        <input type="number" id="CoApplicantMonthsEmployed" name="CoApplicantMonthsEmployed" placeholder="Months Employed" value="@Model.CoapplicantMonthsEmployed" datarequired="true" class="form-control" />
                        <label rel="CoApplicantMonthsEmployed" class="label hidden red position-absolute">*@Localize.T("Months Employed Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Employer Phone")<span class="requiredfield">*</span></span>
                        <input type="text" id="CoApplicantEmployerPhone" name="CoApplicantEmployerPhone" placeholder="Employer Phone" value="@Model.CoapplicantEmployerPhone" datarequired="true"  class="form-control" />
                        <label rel="CoApplicantEmployerPhone" class="label hidden red position-absolute">*@Localize.T("Employer Phone Required")</label>
                    </div>


                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Position")<span class="requiredfield">*</span></span>
                        <input type="text" id="CoApplicantPosition" name="CoApplicantPosition" placeholder="Position" value="@Model.CoapplicantPosition" class="form-control"datarequired="true" />
                        <label rel="CoApplicantPosition" class="label hidden red position-absolute">*@Localize.T("Position Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Gross Annual Income")<span class="requiredfield">*</span></span>
                        <input type="number" id="CoApplicantGrossAnnualIncome" name="CoApplicantGrossAnnualIncome" placeholder="Gross Annual Income" value="@Model.CoapplicantGrossAnnualIncome" datarequired="true" class="form-control" />
                        <label rel="CoApplicantGrossAnnualIncome" class="label hidden red position-absolute">*@Localize.T("Gross Annual Income Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Other Income")<span class="requiredfield">*</span></span>
                        <input type="number" id="CoApplicantOtherIncome" name="CoApplicantOtherIncome" placeholder="Other Income" value="@Model.CoapplicantOtherIncome" class="form-control" datarequired="true"/>
                        <label rel="CoApplicantOtherIncome" class="label hidden red position-absolute">*@Localize.T("Other Income Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Other Income Source")<span class="requiredfield">*</span></span>
                        <input type="text" id="CoApplicantOtherIncomeSource" name="CoApplicantOtherIncomeSource" placeholder="Other Income Source" value="@Model.CoapplicantOtherIncomeSource" datarequired="true" class="form-control" />
                        <label rel="CoApplicantOtherIncomeSource" class="label hidden red position-absolute">*@Localize.T("Other Income Source Required")</label>
                    </div>
                    <input type="hidden" id="Id" value="@Model.Id" />
                </div>
            </div>
        </div>
    </div>
    <div class="add_finance_footer">
        <button class="btn btn-default af_cancel_btn" onclick="CloseTopToBottomModal()">
            @Localize.T("Cancel")
        </button>
        <button class="btn btn-default green_button btn_save_finance">
            @Localize.T("Save")
        </button>
        <button class="btn btn-default green_button btn_apply_finance">
            @Localize.T("Apply")
        </button>
    </div>
</div>
