
@{
    Layout = null;
}
@model HS.Entities.PowerPayFinance

@using Localize = HS.Web.UI.Helper.LanguageHelper
<script src="~/Content/Js/CityStateZipAutoFill.js"></script>
<link href="~/Content/Css/CityStateZipAutoFill.css" rel="stylesheet" />
<link href="~/Content/Css/SmartLeads/AddFinance.css" rel="stylesheet" />
<script>
    var ApplyForFinaceConfirm = function () {
        OpenConfirmationMessageNew("", "Do you want to apply for credit?", function () {
            ApplyForFinance(true);
        })
    }
    var ApplyForFinance = function (IsApply) {

        var url = "/SmartLeads/ApplyForPowerPayFinance/";
       var param = {
            "Id": $("#Id").val(),
            "RequestedLoanAmount": $("#RequestedLoanAmount").val(),
            "ith_email": $("#ith_email").val(),
            "IHRMobileNumber": $("#IHRMobileNumber").val(),
            "Firstname": $("#ApplicantFirstName").val(),
            "Lastname": $("#ApplicantLastName").val(),
            "DOB": $("#ApplicantDOB").val(),
  	        "Phone": $("#ApplicantCellPhone").val(),
            "ApplicantEmailAddress": $("#ApplicantEmailAddress").val(),
            "SSN": $("#ApplicantSSN").val(),
            "USCitizen": $("#ApplicantCitizen").val(),


            "PPAddressPB": $("#ApplicantPPAddress").val(),
            "AddressStreetNumber": $("#ApplicantStreetNumber").val(),
    
            "AddressStreetName": $("#ApplicantStreetName").val(),
            "AddressStreetType": $("#ApplicantStreetType").val(),
            "ApplicantPOBox": $("#ApplicantPOBox").val(),
            "City": $("#City").val(),
            "State": $("#State").val(),
            "ZipCode": $("#ZipCode").val(),


            "AddressHouseType": $("#ApplicantHouseType").val(),
            "ActiveMilitary": $("#ActiveMilitary").val(),
           "ApplicantDriversLicense": $("#DriversLicense").val(),
            "DriversLicense": $("#DriversLicense").val(),
            "DriversLicenseState": $("#DriversLicenseState").val(),
            "AnnualIncome": $("#AnnualIncome").val(),

            
            "IncomeFrequency": $("#IncomeFrequency").val(),
            "EmployerOccupation": $("#EmployerOccupation").val(),
            "EmployerName": $("#EmployerName").val(),
            "EmployerZip": $("#EmployerZip").val(),
            "EmploymentType": $("#EmploymentType").val(),
            "EmployerYears": $("#EmployerYears").val(),

            "CoFirstname": $("#CoApplicantFirstName").val(),
            "CoLastname": $("#CoApplicantLastName").val(),
            "CoDOB": $("#CoApplicantDOB").val(),
  	        "CoPhone": $("#CoApplicantCellPhone").val(),
            "CoApplicantEmailAddress": $("#CoApplicantEmailAddress").val(),
            "CoSSN": $("#CoApplicantSSN").val(),
            "CoUSCitizen": $("#CoApplicantCitizen").val(),


            "CoPPAddressPB": $("#CoApplicantPPAddress").val(),
            "CoAddressStreetNumber": $("#CoApplicantStreetNumber").val(),
    
            "CoAddressStreetName": $("#CoApplicantStreetName").val(),
            "CoAddressStreetType": $("#CoApplicantStreetType").val(),
            "CoApplicantPOBox": $("#CoApplicantPOBox").val(),
            "CoCity": $("#CoCity").val(),
            "CoState": $("#CoState").val(),
            "CoZipCode": $("#CoZipCode").val(),


            "CoAddressHouseType": $("#CoApplicantHouseType").val(),
            "CoActiveMilitary": $("#CoActiveMilitary").val(),
            "CoApplicantDriversLicense": $("#CoDriversLicense").val(),
             "CoDriversLicenseState": $("#CoDriversLicenseState").val(),
             "CoDriversLicense": $("#CoDriversLicense").val(),
            "CoAnnualIncome": $("#CoAnnualIncome").val(),

            
            "CoIncomeFrequency": $("#CoIncomeFrequency").val(),
            "CoEmployerOccupation": $("#CoEmployerOccupation").val(),
            "CoEmployerName": $("#CoEmployerName").val(),
            "CoEmployerZip": $("#CoEmployerZip").val(),
            "CoEmploymentType": $("#CoEmploymentType").val(),
            "CoEmployerYears": $("#CoEmployerYears").val(),
            "CustomerId": CustomerId,
             "IsApply": IsApply
        };
        console.log(param);

        $.ajax({
            type: "POST",
            ajaxStart: $(".LoaderWorkingDivIspc").show(),
            url: url,
            data: JSON.stringify(param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                $(".LoaderWorkingDivIspc").hide();
                if (data.result == true) {
                    var appid = "";
                    if (IsApply == true) {

                        appid = "Application Id : " + data.ApplicationId + ". ";
                    }
                    OpenSuccessMessageNew("",appid + data.Message, function () {
                        CloseTopToBottomModal();
                         $("#LoadLeadDetail").load(domainurl + "/SmartLeads/SmartAgreementSummary?id=" + LeadIdVal);
                    })
                }
                else {
                    OpenErrorMessageNew("", data.Message, function () {

                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                OpenErrorMessageNew("", "Internal Error!", function () {

                });
            }
        });
    }
    var CommonUiValidationForApplication = function () {

        var result = true;
      
        if ($("#ApplicantLastName").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantLastName"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantFirstName").attr('ApplicantFirstName') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantFirstName"));
            if (!check)
                result = check;
        }

        if ($("#ApplicantSSN").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantSSN"));
            if (!check)
                result = check;
        }
  

        if ($("#City").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#City"));
            if (!check)
                result = check;
        }

        if ($("#State").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#State"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantStreet").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantStreet"));
            if (!check)
                result = check;
        }

        if ($("#ZipCode").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ZipCode"));
            if (!check)
                result = check;
        }
        if ($("#RequestedLoanAmount").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#RequestedLoanAmount"));
            if (!check)
                result = check;
        }
        if ($("#ApplicantDOB").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#ApplicantDOB"));
            if (!check)
                result = check;
        }
        if ($("#AnnualIncome").attr('datarequired') == 'true') {
            check = !Validation.IsEmpty($("#AnnualIncome"));
            if (!check)
                result = check;
        }
        return result;
    }
    function FormateSSNNumber(Value) {
    var ValueClean = "";
    if (Value != undefined && Value != "" && Value != null) {
        Value = Value.replace(/[-  ]/g, '');
        if (Value.length == 9) {
            ValueClean = Value.replace(/(\d{3})\-?(\d{2})\-?(\d{4})/, "$1-$2-$3");
            $("#ApplicantSSN").css({ "border": "1px solid #babec5" });


        }
        else if (Value.length > 9) {
            ValueClean = Value;
            $("#ApplicantSSN").css({ "border": "1px solid red" });

        }
        else {
            ValueClean = Value;
            $("#ApplicantSSN").css({ "border": "1px solid #babec5" });

        }
    }
    return ValueClean;
    }
    function FormateCoSSNNumber(Value) {
    var ValueClean = "";
    if (Value != undefined && Value != "" && Value != null) {
        Value = Value.replace(/[-  ]/g, '');
        if (Value.length == 9) {
            ValueClean = Value.replace(/(\d{3})\-?(\d{2})\-?(\d{4})/, "$1-$2-$3");
            $("#CoApplicantSSN").css({ "border": "1px solid #babec5" });


        }
        else if (Value.length > 9) {
            ValueClean = Value;
            $("#CoApplicantSSN").css({ "border": "1px solid red" });

        }
        else {
            ValueClean = Value;
            $("#CoApplicantSSN").css({ "border": "1px solid #babec5" });

        }
    }
    return ValueClean;
    }

    function FormateHomePhoneNumber(Value) {
        var ValueClean = "";
        if (Value != undefined && Value != "" && Value != null) {
            Value = Value.replace(/[-()  ]/g, '');
            if (Value.length == 10) {
                ValueClean = Value.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
                $("#ApplicantHomePhone").css({ "border": "1px solid #babec5" });

            }
            else if (Value.length > 10) {
                ValueClean = Value;
                $("#ApplicantHomePhone").css({ "border": "1px solid red" });

            }
            else {
                $("#ApplicantHomePhone").css({ "border": "1px solid red" });

                ValueClean = Value;
            }
        }
        return ValueClean;
    }
    function FormateContactPhoneNumber(Value) {
        var ValueClean = "";
        if (Value != undefined && Value != "" && Value != null) {
            Value = Value.replace(/[-()  ]/g, '');
            if (Value.length == 10) {
                ValueClean = Value.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");

                $("#ApplicantCellPhone").css({ "border": "1px solid #babec5" });
            }
            else if (Value.length > 10) {
                ValueClean = Value;

                $("#ApplicantCellPhone").css({ "border": "1px solid red" });
            }
            else {

                $("#ApplicantCellPhone").css({ "border": "1px solid red" });
                ValueClean = Value;
            }
        }
        return ValueClean;
    }

    function FormateEmployerPhoneNumber(Value) {
        var ValueClean = "";
        if (Value != undefined && Value != "" && Value != null) {
        Value = Value.replace(/[-()  ]/g, '');
        if (Value.length == 10) {
            ValueClean = Value.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
            $("#ApplicantEmployerPhone").css({ "border": "1px solid #babec5" });

        }
        else if (Value.length > 10) {
            ValueClean = Value;
            $("#ApplicantEmployerPhone").css({ "border": "1px solid red" });

        }
        else {
            $("#ApplicantEmployerPhone").css({ "border": "1px solid red" });

            ValueClean = Value;
        }
        }
        return ValueClean;
        }
    function FormateCoContactPhoneNumber(Value) {
        var ValueClean = "";
        if (Value != undefined && Value != "" && Value != null) {
        Value = Value.replace(/[-()  ]/g, '');
        if (Value.length == 10) {
            ValueClean = Value.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");

            $("#CoApplicantCellPhone").css({ "border": "1px solid #babec5" });
        }
        else if (Value.length > 10) {
            ValueClean = Value;

            $("#CoApplicantCellPhone").css({ "border": "1px solid red" });
        }
        else {

            $("#CoApplicantCellPhone").css({ "border": "1px solid red" });
            ValueClean = Value;
        }
        }
        return ValueClean;
        }
    function FormateCoHomePhoneNumber(Value) {
        var ValueClean = "";
        if (Value != undefined && Value != "" && Value != null) {
        Value = Value.replace(/[-()  ]/g, '');
        if (Value.length == 10) {
            ValueClean = Value.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
            $("#CoApplicantHomePhone").css({ "border": "1px solid #babec5" });

        }
        else if (Value.length > 10) {
            ValueClean = Value;
            $("#CoApplicantHomePhone").css({ "border": "1px solid red" });

        }
        else {
            $("#CoApplicantHomePhone").css({ "border": "1px solid red" });

            ValueClean = Value;
        }
        }
        return ValueClean;
        }
    function FormateCoEmployerPhoneNumber(Value) {
        var ValueClean = "";
        if (Value != undefined && Value != "" && Value != null) {
        Value = Value.replace(/[-()  ]/g, '');
        if (Value.length == 10) {
            ValueClean = Value.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
            $("#CoApplicantEmployerPhone").css({ "border": "1px solid #babec5" });

        }
        else if (Value.length > 10) {
            ValueClean = Value;
            $("#CoApplicantEmployerPhone").css({ "border": "1px solid red" });

        }
        else {
            $("#CoApplicantEmployerPhone").css({ "border": "1px solid red" });

            ValueClean = Value;
        }
        }
        return ValueClean;
        }
    $(document).ready(function () {
        $(".LoaderWorkingDivIspc").hide();
        $(".add_finance_inner_height").height(window.innerHeight - 100);
        $("#ApplicantSSN").keyup(function () {
            var SSNNumber = $(this).val();
            if (SSNNumber != undefined && SSNNumber != null && SSNNumber != "") {
                var cleanSSNNumber = FormateSSNNumber(SSNNumber);
                $(this).val(cleanSSNNumber);
            }
        });
        $("#CoApplicantSSN").keyup(function () {
        var SSNNumber = $(this).val();
        if (SSNNumber != undefined && SSNNumber != null && SSNNumber != "") {
            var cleanSSNNumber = FormateCoSSNNumber(SSNNumber);
            $(this).val(cleanSSNNumber);
        }
        });
        $("#ApplicantHomePhone").keyup(function () {
        var PhoneNumber = $(this).val();
        if (PhoneNumber != undefined && PhoneNumber != null && PhoneNumber != "") {
            var cleanPhoneNumber = FormateHomePhoneNumber(PhoneNumber);
            $(this).val(cleanPhoneNumber);
        }
        });
        $("#CoApplicantHomePhone").keyup(function () {
        var PhoneNumber = $(this).val();
        if (PhoneNumber != undefined && PhoneNumber != null && PhoneNumber != "") {
            var cleanPhoneNumber = FormateCoHomePhoneNumber(PhoneNumber);
            $(this).val(cleanPhoneNumber);
        }
        });
        $("#ApplicantCellPhone").keyup(function () {
        var PhoneNumber = $(this).val();
        if (PhoneNumber != undefined && PhoneNumber != null && PhoneNumber != "") {
            var cleanPhoneNumber = FormateContactPhoneNumber(PhoneNumber);
            $(this).val(cleanPhoneNumber);
        }
        });
        $("#CoApplicantCellPhone").keyup(function () {
        var PhoneNumber = $(this).val();
        if (PhoneNumber != undefined && PhoneNumber != null && PhoneNumber != "") {
            var cleanPhoneNumber = FormateCoContactPhoneNumber(PhoneNumber);
            $(this).val(cleanPhoneNumber);
        }
        });

        $("#ApplicantEmployerPhone").keyup(function () {
            var PhoneNumber = $(this).val();
            if (PhoneNumber != undefined && PhoneNumber != null && PhoneNumber != "") {
                var cleanPhoneNumber = FormateEmployerPhoneNumber(PhoneNumber);
                $(this).val(cleanPhoneNumber);
            }
          });
        $("#CoApplicantEmployerPhone").keyup(function () {
            var PhoneNumber = $(this).val();
            if (PhoneNumber != undefined && PhoneNumber != null && PhoneNumber != "") {
                var cleanPhoneNumber = FormateCoEmployerPhoneNumber(PhoneNumber);
                $(this).val(cleanPhoneNumber);
            }
        });

        ApplicantDoBDatepicker = new Pikaday({
            format: 'MM/DD/YYYY',
            field: $('#ApplicantDOB')[0],
            yearRange: [1920, 2010],
            trigger: $('#ApplicantDOBCustom')[0],
            firstDay: 1,


        });
        CoApplicantDoBDatepicker = new Pikaday({
            format: 'MM/DD/YYYY',
            field: $('#CoApplicantDOB')[0],
            yearRange: [1920, 2010],
            trigger: $('#CoApplicaApplyForFinaceConfirmntDOBCustom')[0],
            firstDay: 1,


        });
        $(".btn_apply_finance").click(function () {
            console.log("dsf");
            if (CommonUiValidationForApplication() == true && $("#OptionCode").val() != "-1") {
                $(".option_error").addClass("hidden")
                ApplyForFinaceConfirm();
            }
            else {
                if ($("#OptionCode").val() == "-1") {
                    $(".option_error").removeClass("hidden")
                }
                else {
                    $(".option_error").addClass("hidden")
                }
            }

        })
        $(".btn_save_finance").click(function () {
            ApplyForFinance(false);
        })
    })

    $(window).resize(function () {
        $(".add_finance_inner_height").height(window.innerHeight - 100);
    })
</script>
<div class="LoaderWorkingDivIspc" style="margin-top:0px">
    @*<div class='uil-ring-css' style='transform:scale(1);'>
            <div></div>
        </div>*@

    @*<div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div>*@
    <div style='position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;'>
        <div class="lds-css ng-scope">
            <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
        </div>
    </div>

    @*<div>
            <h3>@Localize.T("Please wait")</h3>
            <h4>@Localize.T("We are fetching your data")</h4>
        </div>*@
</div>
<div class="add_finance_container">
    <div class="add_finance_header"> @Localize.T("Credit Application")</div>
    <div class="add_finance_inner_height">
        <div class="add_finance_inner">
            <div class="af_info_block">

                <div class="form-group clearfix">
                    <span class="af_info_header">@Localize.T("Requested Loan Amount")<span class="requiredfield">*</span></span>
                    <input type="text" id="RequestedLoanAmount" name="RequestedLoanAmount" placeholder="Requested Loan Amount" value="@Model.RequestedLoanAmount" datarequired="true" class="form-control" />
                    <label rel="RequestedLoanAmount" class="label hidden red position-absolute">*@Localize.T("Requested Loan Amount is Required")</label>
                </div>


                <div class="form-group clearfix">
                    <span class="af_info_header">@Localize.T("ith email")</span>
                    <input type="text" id="ith_email" name="ith_email" placeholder="ith email" value="@Model.ith_email" class="form-control" />

                </div>

                <div class="form-group clearfix">
                    <span class="af_info_header">@Localize.T("IHR Mobile Number")</span>
                    <input type="text" id="IHRMobileNumber" name="IHRMobileNumber" placeholder="IHR Mobile Number" value="@Model.IHRMobileNumber" class="form-control" />

                </div>

                <div class="af_header">
                    @Localize.T("Applicant Information")
                </div>
                <input type="hidden" id="Id" value="@Model.Id" />
                <div class="af_info_details_block">
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("First Name")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantFirstName" name="ApplicantFirstName" placeholder="First Name" value="@Model.Firstname" datarequired="true" class="form-control" />
                        <label rel="ApplicantFirstName" class="label hidden red position-absolute">*@Localize.T("Applicant FirstName Required")</label>
                    </div>


                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Last Name")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantLastName" name="ApplicantLastName" placeholder="Last Name" value="@Model.Lastname" datarequired="true" class="form-control" />
                        <label rel="ApplicantLastName" class="label hidden red position-absolute">*@Localize.T("Applicant LastName Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("DOB")<span class="requiredfield">*</span></span>
                        <div class="input_group_for_date add-on" id="ApplicantDOBCustom">
                            <input type="text" id="ApplicantDOB" name="ApplicantDOB" placeholder="Applicant DOB" value="@Model.DOB" datarequired="true" class="form-control" />

                            <div class="input-group-btn">
                                <btn class="btn">
                                    <i class="fa fa-calendar" aria-hidden="true" style="cursor:pointer;"></i>
                                </btn>
                            </div>
                            <label rel="ApplicantDOB" class="label hidden red position-absolute">*@Localize.T("Applicant DOB Required")</label>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Phone")</span>
                        <input type="text" id="ApplicantCellPhone" name="ApplicantCellPhone" placeholder="Cell Phone" value="@Model.Phone" class="form-control" />

                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Email Address")</span>
                        <input type="text" id="ApplicantEmailAddress" name="ApplicantEmailAddress" placeholder="Email Address" value="@Model.Email" class="form-control" />

                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("SSN")<span class="requiredfield">*</span></span>
                        <input type="text" id="ApplicantSSN" name="ApplicantSSN" placeholder="SSN" value="@Model.SSN" datarequired="true" class="form-control" />
                        <label rel="ApplicantSSN" class="label hidden red position-absolute">*@Localize.T("Applicant SSN Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("US Citizen")</span>
                        <input type="text" id="ApplicantCitizen" name="ApplicantCitizen" placeholder="US Citizen " value="@Model.USCitizen" class="form-control" />

                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("PO Box")</span>
                        <input type="text" id="ApplicantPoBox" name="ApplicantPoBox" placeholder="Po Box" value="@Model.POBox" class="form-control" />

                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("PP Address PB")</span>
                        <input type="text" id="ApplicantPPAddress" name="ApplicantPPAddress" placeholder="Applicant PP Address" value="@Model.PPAddressPB" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Address Street Number")</span>
                        <input type="text" id="ApplicantStreetNumber" name="ApplicantStreetNumber" placeholder="Applicant Street Number" value="@Model.AddressStreetNumber" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Address Street Name")</span>
                        <input type="text" id="ApplicantStreetName" name="ApplicantStreetName" placeholder="Applicant Street Name" value="@Model.AddressStreetName" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Address Street Type")</span>
                        <input type="text" id="ApplicantStreetType" name="ApplicantStreetType" placeholder="Applicant Street Type" value="@Model.AddressStreetType" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("City")<span class="requiredfield">*</span></span>
                        <input type="text" class="form-control" id="City" name="City" value="@Model.City" placeholder="@Localize.T("City")" datarequired="true" />
                        <label rel="City" class="label hidden red position-absolute">*@Localize.T("City Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("State")<span class="requiredfield">*</span></span>
                        <input type="text" class="form-control" id="State" name="State" value="@Model.State" placeholder="@Localize.T("State")" datarequired="true" />
                        <label rel="State" class="label hidden red position-absolute">*@Localize.T("State Required")</label>
                    </div>
                    <div class="form-group CityState_insert_div clearfix">
                        <span class="af_info_header">@Localize.T("Zip Code")<span class="requiredfield">*</span></span>

                        <input type="text" class="form-control" name="ZipCode" onkeydown="CityStateSearchKeyDown(this,event)" onkeyup="CityStateSearchKeyUp(this,event)" value="@Model.ZipCode" id="ZipCode" placeholder="Zip Code" datarequired="true" />
                        <div class='tt-menu'>
                            <div class='tt-dataset tt-dataset-autocomplete'> </div>
                        </div>
                        <label rel="ZipCode" class="label hidden red position-absolute">*@Localize.T("ZipCode Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Address House Type")</span>
                        <input type="text" id="ApplicantHouseType" name="ApplicantHouseType" placeholder="House Type" value="@Model.AddressHouseType" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Active Military")</span>
                        <input type="text" id="ActiveMilitary" name="ActiveMilitary" placeholder="Active Military" value="@Model.ActiveMilitary" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Drivers License")</span>
                        <input type="text" id="DriversLicense" name="DriversLicense" placeholder="Drivers License" value="@Model.DriversLicense" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Drivers License State")</span>
                        <input type="text" id="DriversLicenseState" name="DriversLicenseState" placeholder="Drivers License State" value="@Model.DriversLicenseState" class="form-control" />
                    </div>


                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T(" Annual Income")<span class="requiredfield">*</span></span>
                        <input type="number" id="AnnualIncome" name="AnnualIncome" placeholder="Annual Income" value="@Model.AnnualIncome" class="form-control" datarequired="true" />
                        <label rel="AnnualIncome" class="label hidden red position-absolute">*@Localize.T("Annual Income Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Income Frequency")</span>
                        <input type="text" id="IncomeFrequency" name="IncomeFrequency" placeholder="Income Frequency" value="@Model.IncomeFrequency" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Employer Occupation")</span>
                        <input type="text" id="EmployerOccupation" name="EmployerOccupation" placeholder="Employer Occupation" value="@Model.EmployerOccupation" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Employer Name")</span>
                        <input type="text" id="EmployerName" name="EmployerName" placeholder="Employer Name" value="@Model.EmployerName" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Employer Zip")</span>
                        <input type="text" id="EmployerZip" name="EmployerZip" placeholder="Employer Zip" value="@Model.EmployerZip" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Employment Type")</span>
                        <input type="text" id="EmploymentType" name="EmploymentType" placeholder="Employment Type" value="@Model.EmploymentType" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Employer Years")</span>
                        <input type="text" id="EmployerYears" name="EmployerYears" placeholder="Employer Years" value="@Model.EmployerYears" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="af_info_block">
                <div class="af_header">
                    @Localize.T("Co Applicant Information")
                </div>
                <div class="af_info_details_block">
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("First Name")<span class="requiredfield">*</span></span>
                        <input type="text" id="CoApplicantFirstName" name="CoApplicantFirstName" placeholder="First Name" value="@Model.CoFirstname" datarequired="true" class="form-control" />
                        <label rel="CoApplicantFirstName" class="label hidden red position-absolute">*@Localize.T(" CoApplicant FirstName Required")</label>
                    </div>


                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Last Name")<span class="requiredfield">*</span></span>
                        <input type="text" id="CoApplicantLastName" name="CoApplicantLastName" placeholder="Last Name" value="@Model.CoLastname" datarequired="true" class="form-control" />
                        <label rel="CoApplicantLastName" class="label hidden red position-absolute">*@Localize.T("Applicant LastName Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("DOB")<span class="requiredfield">*</span></span>
                        <div class="input_group_for_date add-on" id="ApplicantDOBCustom">
                            <input type="text" id="CoApplicantDOB" name="CoApplicantDOB" placeholder="Applicant DOB" value="@Model.CoDOB" datarequired="true" class="form-control" />

                            <div class="input-group-btn">
                                <btn class="btn">
                                    <i class="fa fa-calendar" aria-hidden="true" style="cursor:pointer;"></i>
                                </btn>
                            </div>
                            <label rel="CoApplicantDOB" class="label hidden red position-absolute">*@Localize.T("Co Applicant DOB Required")</label>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Phone")</span>
                        <input type="text" id="CoApplicantCellPhone" name="CoApplicantCellPhone" placeholder="Cell Phone" value="@Model.CoPhone" class="form-control" />

                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Email Address")</span>
                        <input type="text" id="CoApplicantEmailAddress" name="CoApplicantEmailAddress" placeholder="Email Address" value="@Model.CoEmail" class="form-control" />

                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("SSN")<span class="requiredfield">*</span></span>
                        <input type="text" id="CoApplicantSSN" name="CoApplicantSSN" placeholder="SSN" value="@Model.CoSSN" datarequired="true" class="form-control" />
                        <label rel="CoApplicantSSN" class="label hidden red position-absolute">*@Localize.T("Applicant SSN Required")</label>
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("US Citizen")</span>
                        <input type="text" id="CoApplicantCitizen" name="CoApplicantCitizen" placeholder="Email Address" value="@Model.CoUSCitizen" class="form-control" />

                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("PO Box")</span>
                        <input type="text" id="CoApplicantPoBox" name="CoApplicantPoBox" placeholder="Po Box" value="@Model.CoPOBox" class="form-control" />

                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("PP Address PB")</span>
                        <input type="text" id="CoApplicantPPAddress" name="CoApplicantPPAddress" placeholder="Applicant PP Address" value="@Model.CoPPAddressPB" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Address Street Number")</span>
                        <input type="text" id="CoApplicantStreetNumber" name="CoApplicantStreetNumber" placeholder="Applicant Street Number" value="@Model.CoAddressStreetNumber" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Address Street Name")</span>
                        <input type="text" id="CoApplicantStreetName" name="CoApplicantStreetName" placeholder="Applicant Street Name" value="@Model.CoAddressStreetName" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Address Street Type")</span>
                        <input type="text" id="CoApplicantStreetType" name="CoApplicantStreetType" placeholder="Applicant Street Type" value="@Model.CoAddressStreetType" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("City")</span>
                        <input type="text" class="form-control" id="CoCity" value="@Model.CoCity" placeholder="City" />
                    </div>
                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("State")</span>
                        <input type="text" class="form-control" id="CoState" value="@Model.CoState" placeholder="State" />

                    </div>
                    <div class="form-group clearfix CoCityState_insert_div">
                        <span class="af_info_header">@Localize.T("Zip Code")</span>

                        <input type="text" class="form-control" onkeydown="CityStateSearchKeyDown(this,event)" onkeyup="CityStateSearchKeyUp(this,event)" value="@Model.CoZipCode" id="CoZipCode" placeholder="Zip Code" />
                        <div class='tt-menu'>
                            <div class='tt-dataset tt-dataset-autocomplete'> </div>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Address House Type")</span>
                        <input type="text" id="CoApplicantHouseType" name="CoApplicantHouseType" placeholder="House Type" value="@Model.CoAddressHouseType" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Active Military")</span>
                        <input type="text" id="CoActiveMilitary" name="CoActiveMilitary" placeholder="Active Military" value="@Model.CoActiveMilitary" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Drivers License")</span>
                        <input type="text" id="CoDriversLicense" name="CoDriversLicense" placeholder="Drivers License" value="@Model.CoDriversLicense" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Drivers License State")</span>
                        <input type="text" id="CoDriversLicenseState" name="CoDriversLicenseState" placeholder="Drivers License State" value="@Model.CoDriversLicenseState" class="form-control" />
                    </div>


                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T(" Annual Income")<span class="requiredfield">*</span></span>
                        <input type="number" id="CoAnnualIncome" name="CoAnnualIncome" placeholder="Annual Income" value="@Model.CoAnnualIncome" class="form-control" datarequired="true" />
                        <label rel="CoAnnualIncome" class="label hidden red position-absolute">*@Localize.T("Annual Income Required")</label>
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Income Frequency")</span>
                        <input type="text" id="CoIncomeFrequency" name="CoIncomeFrequency" placeholder="Income Frequency" value="@Model.CoIncomeFrequency" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Employer Occupation")</span>
                        <input type="text" id="CoEmployerOccupation" name="CoEmployerOccupation" placeholder="Employer Occupation" value="@Model.CoEmployerOccupation" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Employer Name")</span>
                        <input type="text" id="CoEmployerName" name="CoEmployerName" placeholder="Employer Name" value="@Model.CoEmployerName" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Employer Zip")</span>
                        <input type="text" id="CoEmployerZip" name="CoEmployerZip" placeholder="Employer Zip" value="@Model.CoEmployerZip" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Employment Type")</span>
                        <input type="text" id="CoEmploymentType" name="CoEmploymentType" placeholder="Employment Type" value="@Model.CoEmploymentType" class="form-control" />
                    </div>

                    <div class="form-group clearfix">
                        <span class="af_info_header">@Localize.T("Employer Years")</span>
                        <input type="text" id="CoEmployerYears" name="CoEmployerYears" placeholder="Employer Years" value="@Model.CoEmployerYears" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="add_finance_footer">
        <button class="btn btn-default af_cancel_btn" onclick="CloseTopToBottomModal()">
            @Localize.T("Cancel")
        </button>
        <button class="btn btn-default green_button btn_save_finance">
            @Localize.T("Save")
        </button>
        <button class="btn btn-default green_button btn_apply_finance">
            @Localize.T("Apply")
        </button>
    </div>
</div>
