@{
    Layout = null;

}
@model HS.Entities.PaymentInfo
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
    <script>
    var customerid = '@ViewBag.customerid';
    var IsForBrinks = '@(Model.IsForBrinks.HasValue? Model.IsForBrinks: false)';
    var IsPartialPayment = '@(Model.IsPartialPayment.HasValue? Model.IsPartialPayment : false)';
    var IsInitialPayment = '@(Model.IsInitialPayment.HasValue? Model.IsInitialPayment : false)';
    var PaymentMethodCC = '@HS.Web.UI.Helper.LabelHelper.PaymentMethod.CreditCard';
    var TYPE = '@ViewBag.type';
    var Currency = '@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency()';
    $(document).ready(function () {
        console.log(IsForBrinks+'dsfdsf')
        if (IsForBrinks == 'True') {
            $("#IsForBrinks").prop('checked', true)
        }
        else {
            $("#IsForBrinks").prop('checked',false)
        }
       if (IsPartialPayment == 'True') {
            $("#IsPartialPayment").prop('checked', true)
        }
        else {
            $("#IsPartialPayment").prop('checked',false)
        }
       if (IsInitialPayment == 'True') {
            $("#IsInitialPayment").prop('checked', true)
        }
        else {
            $("#IsInitialPayment").prop('checked',false)
        }

        if ($("#IsForBrinks").is(":checked") == true) {
            $(".ForBrinks").removeClass("hidden");
        };
        $("#IsForBrinks").change(function () {

            if ($("#IsForBrinks").is(":checked") == true) {
                $(".ForBrinks").removeClass("hidden");
            }
            else {
                $(".ForBrinks").addClass("hidden");
            }
        })
    })
    </script>

@Styles.Render("~/styles/CCAddViewPaymentMethodCSS")
@*@Scripts.Render("~/scripts/CCAddViewPaymentMethodJS")*@
<script src="~/Content/Js/SmartLeads/CCAddViewPaymentMethod.js"></script>
<link href="~/Content/Css/CityStateZipAutoFill.css" rel="stylesheet" />
<script src="~/Content/Js/CityStateZipAutoFill.js"></script>
<div>
    @Html.HiddenFor(x => x.Id, new { id = "CC_id" })
    <div class="alarm_head_container">
        <span class="alarm_head_text header_txt_style_ERP">@Localize.T("CC Payment Method")</span>
    </div>
    <div class="AddCardInnerContents" style="overflow-y:scroll;">
        <div class="container-fluid">
            <div class="form-group clearfix hidden">
                <div class="row">
                    <div class="col-sm-3 pading_none">
                        <input type="radio" id="Credittest1" name="radio-group" value="Master Card">
                        <label for="Credittest1"><img class="payment-icon-image" src="~/Content/img/mastercard.png" /></label>
                    </div>
                    <div class="col-sm-3 pading_none">
                        <input type="radio" id="Credittest2" name="radio-group" value="Visa Card">
                        <label for="Credittest2"><img class="payment-icon-image" src="~/Content/img/visa.png" /></label>
                    </div>
                    <div class="col-sm-3 pading_none">
                        <input type="radio" id="Credittest3" name="radio-group" value="American Express">
                        <label for="Credittest3"><img class="payment-icon-image" src="~/Content/img/AmericanExpress.png" /></label>
                    </div>
                    <div class="col-sm-3 pading_none">
                    </div>
                </div>
            </div>
            <div class="form-group clearfix hidden">
                <span class="text-custom">@Localize.T("Card Type")</span>
                @Html.TextBoxFor(x => x.CardType, new { @class = "form-control", id = "CardType", datarequired = "true", placeholder = "Card Type" })
                <label class="label hidden red absolute" id="CardNumberError">*@Localize.T("Please enter Valid No."). </label>
            </div>
            <div class="form-group clearfix">
                <span class="text-custom">@Localize.T("Card Number")</span>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.CardNumber, new { @class = "form-control input-card-format", id = "CardNumber", placeholder = "xxxx-xxxx-xxxx-xxxx", dataformat = "card", datarequired = "true", maxlength = "19" })
                    <div class="input-group-addon">
                        <span>
                            <img src="" id="card_type_img" style="height:20px;" />
                        </span>
                    </div>
                </div>
                <label class="label hidden red absolute" id="CardNumber_Error">*@Localize.T("Please enter a valid card number."). </label>
            </div>
            <div class="form-group clearfix">
                <span class="text-custom">@Localize.T("Expiration Date")</span>
                @Html.TextBoxFor(x => x.CardExpireDate, new { @class = "form-control ", maxlength = "5", placeholder = "MM/YY", id = "CardExpireDate", dataformat = "cardex", datarequired = "true" })
                <label class="label hidden red absolute" id="CardExpireError">*@Localize.T("Please enter Valid Date."). </label>
            </div>
            <div class="form-group clearfix">
                <span class="text-custom">@Localize.T("Secuity Code")</span>
                @*@Html.PasswordFor(x => x.CardSecurityCode, new { @class = "form-control", id = "CardSecurityCode",  dataformat = "security",  datarequired = "true", placeholder = "Secuity Code" })*@
                <div class="input-group">
                    <input type="password" value="@Model.CardSecurityCode" class="form-control" maxlength="4" id="CardSecurityCode" datarequired = "true" placeholder = "Secuity Code"/>
                     
                    <div class="input-group-addon cursor-pointer viewSecurityCode">
                        <span>
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group clearfix">
                <span class="text-custom">@Localize.T("Name on Card")</span>
                @Html.TextBoxFor(x => x.AccountName, new { @class = "form-control", id = "AccountName", datarequired = "true", placeholder = "Name on Card" })
            </div>

            @if (!Model.IsFromBooking)
            {

                bool ShowAddress = false;
                if(!string.IsNullOrWhiteSpace(Model.Street)|| !string.IsNullOrWhiteSpace(Model.City) ||
                    !string.IsNullOrWhiteSpace(Model.State) || !string.IsNullOrWhiteSpace(Model.ZipCode))
                {
                    ShowAddress = true;
                }


                <div class="form-group clearfix">
                    <label><input type="radio" value="false" class="cls_IsBillAddress" @(ShowAddress?"":"checked") name="IsBillAddress" />@Localize.T("Billing address same as contact address")</label>
                    <label><input type="radio" value="true" class="cls_IsBillAddress diff_IsBillAddress" @(ShowAddress?"checked":"") name="IsBillAddress" />@Localize.T("Billing address different")</label>

                    @*<label>@Html.RadioButton("IsBillAddress", true, new { @class = "cls_IsBillAddress", @checked = true }) @Localize.T("Billing address same as contact address")</label>
                    <label>@Html.RadioButton("IsBillAddress", false, new { @class = "cls_IsBillAddress diff_IsBillAddress" }) @Localize.T("Billing address different")</label>*@


                </div>
                <div class="billing_address_div hidden">
                    <div class="form-group clearfix">
                        <span class="text-custom">@Localize.T("Street")</span>
                        <input type="text" id="Street" value="@Model.Street" class="form-control" placeholder="Street" />
                    </div>
                    <div class="form-group clearfix CityState_insert_div">
                        <span class="span-style">@Localize.T("Zip Code")</span>
                        <input type="text" class="form-control" value="@Model.ZipCode" onkeydown="CityStateSearchKeyDown(this,event)" onkeyup="CityStateSearchKeyUp(this,event)" id="ZipCode" placeholder="Zip Code" />
                        <div class='tt-menu'>
                            <div class='tt-dataset tt-dataset-autocomplete'> </div>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <span class="text-custom">@Localize.T("City")</span>
                        <input type="text" id="City" value="@Model.City" class="form-control" placeholder="City" />
                    </div>
                    <div class="form-group clearfix">
                        <span class="text-custom">@Localize.T("State")</span>
                        <input type="text" id="State" value="@Model.State" class="form-control" placeholder="State" />
                    </div>
                </div>

                <div class="BIN_Detail_Contents">
                    <div class="ShowBINBtnDiv">
                        <button class="ShowBINBtn btn">@Localize.T("Show BIN Info")</button>
                    </div>
                    <table class="tblBINDetails hidden">
                        <tr class="BankTR hidden">
                            <td>Bank <span>:</span></td>
                            <td class="BankVal"></td>
                        </tr>
                        <tr class="CardTR hidden">
                            <td>Card <span>:</span></td>
                            <td class="CardVal"></td>
                        </tr>
                        <tr class="TypeTR hidden">
                            <td>Type <span>:</span></td>
                            <td class="TypeVal"></td>
                        </tr>
                        <tr class="LevelTR hidden">
                            <td>Level <span>:</span></td>
                            <td class="LevelVal"></td>
                        </tr>
                        <tr class="CountryTR hidden">

                            <td>Country <span>:</span></td>
                            <td><img class="CountryCODEVal hidden" /><span class="CountryVal"></span></td>
                        </tr>
                        <tr class="WebsiteTR hidden">
                            <td>Website <span>:</span></td>
                            <td class="WebsiteVal"></td>
                        </tr>
                        <tr class="PhoneTR hidden">
                            <td>Phone <span>:</span></td>
                            <td class="PhoneVal"></td>
                        </tr>
                    </table>
                </div>

            }

            @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.ShowBrinksPaymentInfo))
            {
                <div class="form-group clearfix">
                    <input type="checkbox" id="IsForBrinks" />
                    <span class="text-custom">Is For Brinks</span>

                </div>
                <div class="form-group ForBrinks hidden clearfix">
                    <input type="checkbox" id="IsPartialPayment" />
                    <span class="text-custom">Is Partial Payment</span>

                </div>

                <div class="form-group ForBrinks hidden clearfix">
                    <input type="checkbox" id="IsInitialPayment" />
                    <span class="text-custom">Is Initial Payment</span>

                </div>
            }
        </div>
    </div>
    <section class="footer-section">
        <footer class="footer">
            <div class="SaveCancelDiv">
                <button type="button" class="btn" id="btnsaveCC"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;@Localize.T("Save")</button>
            </div>
        </footer>
    </section>

</div>
