@{ 
    Layout = null;
}
@model List<HS.Entities.PaymentProfileCustomer>
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/datatable/ERPDatatable-min.css" rel="stylesheet" />
<link href="~/Content/datatable/ERPDatatable.css" rel="stylesheet" />
<link href="~/Content/Css/SmartLeads/ListViewPaymentMethod.css" rel="stylesheet" />
<script>
    var table = $('#tbl_paymentprofilecustomer').DataTable({
        "destroy": true,
        "language": {
            "emptyTable": ""
        },
        "ordering": false
    });
    var DeletePaymentProfile = function (idval, guidval) {
        $.ajax({
            type: "POST",
            url: domainurl + "/SmartLeads/DeletePaymentProfile",
            data: JSON.stringify({ id: idval }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data) {
                    //$(".prev_list_view").hide();
                    //$(".LoadListViewPaymentMethod").load("/SmartLeads/FilterListViewPaymentMethod?customerid=" + guidval);
                    OpenPaymentMethodList();
                    OpenFifthTab();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }
    $(document).ready(function () {
        $(".list_view_payment_method_inner").height(window.innerHeight - $(".list_view_payment_method_header").height() - 30);
        $(".profile_item_delete").click(function () {
            var idval = $(this).attr('data-id');
            var guidval = $(this).attr('data-guid');
            OpenConfirmationMessageNew("Confirmation", "Are you sure, you want to delete this item", function () {
                DeletePaymentProfile(idval, guidval);
            })
        })
    })
</script>

<div class="list_view_payment_method_container">
   
            <div class="list_view_payment_method_header">@Localize.T("Payment Profile List")</div>
            <div class="list_view_payment_method_inner">
                <table class="uk-table uk-table-hover uk-table-striped" id="tbl_paymentprofilecustomer">
                    <thead>
                        <tr>
                            <th>@Localize.T("Title")</th>
                            <th>@Localize.T("Action")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Type</td>
                                <td><a href="javascript:void(0)" class="profile_item_delete" data-id="@item.Id" data-guid="@item.CustomerId"><i class="fa fa-trash" style="color:#2ca01c;"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
       
</div>

<div class="LoadListViewPaymentMethod"></div>
