@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/GetInvoice")
<link href="~/Content/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/Content/Js/Login/domainurl.js"></script>
<script src="~/Content/Jquery-ui/jquery.js"></script>
<script src="~/Content/Js/Modals/Modals.js"></script>
<script>
    var leadid = '@ViewBag.LeadId';
    $(document).ready(function () {
        $(".multi_agree_doc_inner_height").height(window.innerHeight - 115);
        $("#multiple_agreement_document").change(function () {
            if ($(this).val() != "") {
                var idval = $(this).val();
                parent.OpenTopToBottomModal(domainurl + "/File/AddAgreementtemplateReview/?Id=" + idval + "&leadid=" + leadid);
                parent.ClosePopup();
            }
        })
    })
    $(window).resize(function () {
        $(".multi_agree_doc_inner_height").height(window.innerHeight - 115);

    });
</script>
<style>
    .multi_agree_doc_container {
    width: 100%;
    float: left;
}
    .multi_agree_doc_header {
    width: 100%;
    float: left;
    font-size: 2.4rem !important;
    padding: 5px 15px;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
}
    .multi_agree_doc_inner_height {
         width: 100%;
    float: left;
    }
    .multi_agree_doc_inner {
    width: 100%;
    float: left;
    padding: 10px 0px;
    overflow-x: hidden;
    overflow-y: auto;
}
    .multi_agree_doc_content {
           width: 33.333%;
    float: left;
    padding: 0px 15px;
    }
    .multi_agree_doc_content .mad_header {
       font-weight:bold;
    }
</style>
<div class="multi_agree_doc_container">
    <div class="multi_agree_doc_header">
        @Localize.T("Agreement Document")
        <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
            <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png">
        </div>
    </div>
    <div class="multi_agree_doc_inner_height">
        <div class="multi_agree_doc_inner">
            <div class="multi_agree_doc_content">
                <span class="mad_header">@Localize.T("Document: ")</span>
                @Html.DropDownList("multiple_agreement_document", ViewBag.multipledoc as List<SelectListItem>, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
