@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.EmployeeAccrualPtoAndApprovePtohourModel
@using HS.Framework
<script>
    var pageno = '@ViewBag.PageNumber';
    var pagesize = '@ViewBag.pagesize';
    var startdate = '@ViewBag.startdate';
    var endate = '@ViewBag.enddate';
    var order = '@ViewBag.order';
    var LoadAccrualPTOUserTimeClock = function (id, userid, startdate, endate) {
        console.log("Test 02",id, userid, startdate, endate); 
        var encodedStartDate = encodeURIComponent(startdate);
        var encodedEndDate = encodeURIComponent(endate);

        var LoadUrl = domainurl + "/TimeClockPto/EmployeeTimeClockListAccrualPto/?UserId=" + userid + "&StrStartDate=" + encodedStartDate + "&StrEndDate=" + encodedEndDate;

        $(".Loadaccrualrep_" + id).html(LoaderDom);
        $(".Loadaccrualrep_" + id).load(LoadUrl);
    }
    $(document).ready(function () {
        var idlist = [{ id: ".OpenMapPopup", type: 'iframe', width: 500, height: 500 }];
        jQuery.each(idlist, function (i, val) {
            magnificPopupObj(val);
        });
        //$(".icon_sort_pto").click(function () {
        //    var orderval = $(this).attr('data-val');
        //    LoadAccrualPTOUserTimeClock(empid, userid);
        //})
    });
</script>
@Styles.Render("~/styles/PayrollReportTimeClock1")
@*@Scripts.Render("~/scripts/PayrollReportTimeClock1")*@
@if (Model.EmployeePTOHourLogList.Count() > 0)
{
    <div class="panel-group" id="accordion">
        
            @foreach (var item in Model.EmployeePTOHourLogList)
            { 
                    <div class="panel panel-default">
                        <div class="panel-heading RestockDataLoadPanelHeading">

                            <h4 class="panel-title">
                                <a class="accordion_header closed" data-id="@item.EmployeeId" data-techid="@item.UserId" data-toggle="collapse" data-parent="#accordion" href="#collapse_@item.EmployeeId" onclick="LoadAccrualPTOUserTimeClock(@item.EmployeeId, '@item.UserId',startdate,endate)">@item.EmployeeName</a>

                                 
                                    @if (item.PayType == "Salary")
                                    {
                                        <span>@Localize.T("PTO Hours: ")<span class="pr_norm">@HS.Web.UI.Helper.LabelHelper.FormatTo3DP(Convert.ToDouble(item.TotalPTOEarned))</span></span>
                                        
                                    }
                                    else
                                    {
                                        <span>@Localize.T("PTO Hours: ")<span class="pr_norm">@HS.Web.UI.Helper.LabelHelper.FormatFourDecimalAmount(Convert.ToDouble(item.TotalPTOEarned))</span></span>
                                    } 

                            </h4>
                        </div>
                        <div id="collapse_@item.EmployeeId" class="panel-collapse collapse">
                            <div class="panel-body RestockDataClear Loadaccrualrep_@item.EmployeeId">

                            </div>
                        </div>
                    </div>
            }
        </div>
}
