
@{
    Layout = null;
    var path = "";
    if (System.Web.HttpContext.Current.Session["Path"] != null)
    {
        path = System.Web.HttpContext.Current.Session["Path"].ToString();
    }
}
@model HS.Entities.Pto
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/AddEmployeesPtoCSS")
@Scripts.Render("~/scripts/AddEmployeesPtoJS")
@*<script>
    var path = window.location.pathname;
    path = path.split('/')[1];
    $("#pathcheck").val(path);
</script>*@
<div class="AddPtoContainer">
    <div class="AddPtoHeader col-md-12">

        @if (path == "Calendar") {
        <span>@Localize.T("Add Day Off")</span>
        }
        else {
        <span>@Localize.T("Add PTO")</span>
        }
    </div>
    <div class="AddPtoBody col-md-12">
        <div class="hidden">
            @Html.HiddenFor(x => x.Id)
        </div>
        <div class="addpto_row clearfix">
            <label class="add_pto_info_header">@Localize.T("Employees")</label>
            @Html.DropDownList("Employee", (List<SelectListItem>)ViewBag.EmployeeList, new { @class = "form-control" })
            <label class="empSelect hidden" style="color:red">Please select an employee</label>
        </div>
        <div class="addpto_row clearfix">
            <label class="add_pto_info_header">@Localize.T("Absence Type")</label>
            @Html.DropDownListFor(x=>x.Type,(List<SelectListItem>)ViewBag.LeaveType,new {@class="form-control" })
        </div>
        <div class="addpto_row clearfix">
            <div class="col-md-12 padding-left-0 padding-right-0">
                <label class="add_pto_info_header">@Localize.T("Start Date")</label>
                <div class="input_group_for_date add-on" id="StartDateCustom">
                    <input type="text" id="PTOStartDate" value="@((Model.StartDate.HasValue && Model.StartDate != new DateTime())? Model.StartDate.Value.ToString("MM/dd/yy"):"")" class="StartDate form-control" />
                    <div class="input-group-btn">
                        <btn class="btn">
                            <i class="fa fa-calendar" aria-hidden="true" style="cursor:pointer;"></i>
                        </btn>
                    </div>
                </div>

            </div>
            <div class="col-md-12 padding-left-0 padding-right-0 endate @(Model.Type!="MultipleDay" || Model.Type==null? "hidden":"")">
                <label class="add_pto_info_header">@Localize.T("End Date")</label>
                <div class="input_group_for_date add-on" id="EndDateCustom">
                    <input type="text" id="PTOEndDate" value="@((Model.EndDate.HasValue && Model.EndDate != new DateTime())? Model.EndDate.Value.ToString("MM/dd/yy"):"")" class="EndDate form-control" />
                    <div class="input-group-btn">
                        <btn class="btn">
                            <i class="fa fa-calendar" aria-hidden="true" style="cursor:pointer;"></i>
                        </btn>
                    </div>
                </div>

            </div>
        </div>

        <div class="addpto_row clearfix Custom_Time_div @(Model.Type!="CustomTime"? "hidden":"")">
            <div class="col-md-12 padding-left-0 padding-right-0">
                <label class="add_pto_info_header">@Localize.T("From")</label>
                @Html.DropDownListFor(x => x.TimeFrom, (List<SelectListItem>)ViewBag.ArrivalTime, new { @class = "form-control",id="addPTOTimeFrom" })
            </div>
            <div class="col-md-12 padding-left-0 padding-right-0">
                <label class="add_pto_info_header">@Localize.T("To")</label>
                @Html.DropDownListFor(x => x.TimeTo, (List<SelectListItem>)ViewBag.ArrivalTime, new { @class = "form-control",id="addPTOTimeTO" })
            </div>
        </div>
        <div class="addpto_row clearfix payable_div clock_in_color">
            <label><input type="checkbox" id="Payable" @((Model.Payable.HasValue&&Model.Payable.Value)?"checked":"") /> @Localize.T("Payable?")</label>&nbsp;&nbsp;
            <span class="payable_info_hover">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <div class="payable_tooltip_div">
                    <span>@Localize.T("User will get paid on the pay cycle")</span>
                </div>
            </span>

        </div>
        <div class="addpto_row clearfix">
            <label class="add_pto_info_header">@Localize.T("Note")</label>
            <textarea id="PTO_Notes" rows="4" class="PTO_Notes">@Model.Notes</textarea>
        </div>
    </div>
    <div class="AddPtoFooter col-md-12">
        <button id="btnAddAndSavePto" class="btn btnSavePto">@Localize.T("Save")</button>
    </div>
</div>