
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PTOStatus = HS.Web.UI.Helper.LabelHelper.PTOStatus
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@Styles.Render("~/styles/EmployeesPto")

@Scripts.Render("~/scripts/EmployeesPto")
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var liststatus = '@Html.Raw(Json.Encode(@ViewBag.liststatus))';
liststatus = JSON.parse(liststatus);
var FilterPayrollPaging = function (pageno, order) {
    var StartDayeVal = $('#PayrollFilterStartDate').val();
    var EndDayval = $('#PayrollFilterEndDate').val();
    var PtoStatus = encodeURI($("#PTOStutas").val());
    var CurrentEmployee = $("#CurrentEmployee").val();
    //console.log("sdfsdf" + order);
    
    var LoadUrl = domainurl + String.format("/TimeClockPto/EmployeesPtoListPartial/?StrStartDate={0}&StrEndDate={1}&PtoStatus={2}&order={3}&pageno1={4}&pagesize1={5}&CurrentEmployee={6}", StartDayeVal, EndDayval, PtoStatus, order, pageno, 10, CurrentEmployee);
    $(".PTO_Main_Container .employees_pto_info_table_container").html(LoaderDom);
    $(".PTO_Main_Container .employees_pto_info_table_container").load(LoadUrl);
}
    $(document).ready(function () {
        if (liststatus != null) {
            if (liststatus.length != 0) {
                $(".PTOStutas").selectpicker('val', liststatus);
            }
            else {
                $(".PTOStutas").selectpicker('val', '');
            }
        }
        else {
                $(".PTOStutas").selectpicker('val', '');
            }
    });
</script>
<div class="PTO_Main_Container">

    <div class="EMP_PTO_Head">
        <div class="pto-filter-div">
            <div style="width:20%;float:left">
                @Html.DropDownList("CurrentEmployee", ViewBag.EmployeeList as List<SelectListItem>, new { @class = "form-control", id = "CurrentEmployee" })
            </div>

            @{
                Html.RenderAction("TimeClockDefaultFilter", "TimeClockPto", new { IsTimeClock = false });
            }
            @if (PermissionChekcer.IsPermitted(Permissions.MenuPermissions.AddPTOEmployee))
            {
                <span class="add_PTO_btn_div">
                    <!--Not Required-->
                    <button id="btnAddEmployeesPto" class="btn btn_addPTO"><i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("Add PTO")</button>
                </span>
            }

        </div>
    </div>
    <div class="PTO_BODY employees_pto_info_table_container">

    </div>
</div>
<div class="hidden">
    <a class="RejectPtoPopUp" href=""></a>
</div>