@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.EmpPayrollFilter
@using HS.Framework
<script>
    var pageno = '@ViewBag.PageNumber';
    var pagesize = '@ViewBag.pagesize';
    var startdate = '@ViewBag.startdate';
    var endate = '@ViewBag.enddate';
    var order = '@ViewBag.order';
</script>
@Styles.Render("~/styles/PayrollReportTimeClock1")
@Scripts.Render("~/scripts/PayrollReportTimeClock1")
@if (Model.ListEmpPayrollReport.Count() > 0)
{
<div class="panel-group" id="accordion">
    @foreach (var item in Model.ListEmpPayrollReport)
    {
        if (item.OTOHours > 0 || !string.IsNullOrWhiteSpace(item.PTOHours) && Convert.ToDouble(item.PTOHours) > 0 || !string.IsNullOrWhiteSpace(item.RegularHours) && Convert.ToDouble(item.RegularHours) > 0)
        {
            <div class="panel panel-default">
                <div class="panel-heading RestockDataLoadPanelHeading">

                    <h4 class="panel-title">
                        <a class="accordion_header closed" data-id="@item.Id" data-techid="@item.UserId" data-toggle="collapse" data-parent="#accordion" href="#collapse_@item.Id" onclick="LoadUserTimeClock(1, null, @item.Id, '@item.UserId')">@item.EmpName</a>

                        @if (item.OTOHours > 0)
                        {
                            <span>@Localize.T("OT Hours: ")<span class="pr_norm">@string.Format("{0:#.00}", item.OTOHours)</span></span>
                        }
                        @if (!string.IsNullOrWhiteSpace(item.PTOHours) && Convert.ToDouble(item.PTOHours) > 0)
                        {
                            <span>@Localize.T("PTO Hours: ")<span class="pr_norm">@item.PTOHours</span></span>
                        }
                        @if (!string.IsNullOrWhiteSpace(item.RegularHours) && Convert.ToDouble(item.RegularHours) > 0)
                        {
                            double RegularHours = new double();
                            Double.TryParse(item.RegularHours, out RegularHours);
                            if (RegularHours > 40)
                            {
                                <span>@Localize.T("Regular Hours: ")<span class="pr_norm">40</span></span>
                            }
                            else
                            {
                                <span>@Localize.T("Regular Hours: ")<span class="pr_norm">@item.RegularHours</span></span>
                            }

                        }
                    </h4>
                </div>
                <div id="collapse_@item.Id" class="panel-collapse collapse">
                    <div class="panel-body RestockDataClear Loadpayrollrep_@item.Id">

                    </div>
                </div>
            </div>
        }

    }
</div>
}
