@{
    Layout = null;
}
@model HS.Entities.PtoFilterModel
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
<link href="~/Content/Css/Pagination.css" rel="stylesheet" />
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var pageno = '@ViewBag.PageNumber';
    var table = $(".pto_list_partial_table").DataTable({
        "ordering": false,
        searching: false, paging: false, info: false
    })
    $(document).ready(function () {
        $(".icon_sort_pto").click(function () {
            var orderval = $(this).attr('data-val');
            FilterPayrollPaging(pageno, orderval);
        })
    })
</script>
<table class="pto_list_partial_table">
    <thead>
        <tr>
            @if (!string.IsNullOrWhiteSpace(ViewBag.order))
            {
                if (ViewBag.order == "ascending/type" || ViewBag.order == "descending/type")
                {
                    <th class="th_timeclock"><div>@Localize.T("Type")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/type"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/type"></i></div></th>
                }
                else
                {
                    <th class="th_timeclock_pre"><div>@Localize.T("Type")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/type"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/type"></i></div></th>
                }
                if (ViewBag.order == "ascending/datetime" || ViewBag.order == "descending/datetime")
                {
                    <th class="th_timeclock"><div>@Localize.T("Date/Time")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/datetime"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/datetime"></i></div></th>
                }
                else
                {
                    <th class="th_timeclock_pre"><div>@Localize.T("Date/Time")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/datetime"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/datetime"></i></div></th>
                }
                if (ViewBag.order == "ascending/hours" || ViewBag.order == "descending/hours")
                {
                    <th class="th_timeclock"><div>@Localize.T("Hours")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/hours"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/hours"></i></div></th>
                }
                else
                {
                    <th class="th_timeclock_pre"><div>@Localize.T("Hours")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/hours"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/hours"></i></div></th>
                }
                if (ViewBag.order == "ascending/status" || ViewBag.order == "descending/status")
                {
                    <th class="th_timeclock"><div>@Localize.T("Status")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/status"></i></div></th>
                }
                else
                {
                    <th class="th_timeclock_pre"><div>@Localize.T("Status")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/status"></i></div></th>
                }
                if (ViewBag.order == "ascending/payable" || ViewBag.order == "descending/payable")
                {
                    <th class="th_timeclock"><div>@Localize.T("Payable")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/payable"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/payable"></i></div></th>
                }
                else
                {
                    <th class="th_timeclock_pre"><div>@Localize.T("Payable")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/payable"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/payable"></i></div></th>
                }
                if (ViewBag.order == "ascending/note" || ViewBag.order == "descending/note")
                {
                    <th class="th_timeclock"><div>@Localize.T("Note")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/note"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/note"></i></div></th>
                }
                else
                {
                    <th class="th_timeclock_pre"><div>@Localize.T("Note")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/note"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/note"></i></div></th>
                }
            }
            else
            {
                <th class="th_timeclock_pre"><div>@Localize.T("Type")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/type"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/type"></i></div></th>
                <th class="th_timeclock_pre"><div>@Localize.T("Date/Time")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/datetime"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/datetime"></i></div></th>
                <th class="th_timeclock_pre"><div>@Localize.T("Hours")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/hours"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/hours"></i></div></th>
                <th class="th_timeclock_pre"><div>@Localize.T("Status")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/status"></i></div></th>
                <th class="th_timeclock_pre"><div>@Localize.T("Payable")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/payable"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/payable"></i></div></th>
                <th class="th_timeclock_pre"><div>@Localize.T("Note")</div><div><i class="fa fa-angle-up icon_sort_pto" data-val="ascending/note"></i> <i class="fa fa-angle-down icon_sort_pto" data-val="descending/note"></i></div></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListPto)
        {
            <tr>
                <td>
                    <div>@Localize.T("Type")<span>:</span></div>
                    <div>@item.LeaveType</div>
                </td>
                <td>
                    <div>@Localize.T("Date/Time")<span>:</span></div>
                    <div>
                        @if (item.Type == "CustomTime")
                        {
                            @((item.StartDate.HasValue && item.StartDate.Value != new DateTime()) ? item.StartDate.Value.ToString("MM/dd/yy") : "-") @Localize.T(" (" + item.TimeFrom + "-" + item.TimeTo + ")");
                        }
                        @if (item.Type == "FullDay")
                        {
                            @((item.StartDate.HasValue && item.StartDate.Value != new DateTime()) ? item.StartDate.Value.ToString("MM/dd/yy") : "-")
                        }
                        @if (item.Type == "HalfDay")
                        {
                            @((item.StartDate.HasValue && item.StartDate.Value != new DateTime()) ? item.StartDate.Value.ToString("MM/dd/yy") : "-")
                        }
                        @if (item.Type == "MultipleDay")
                        {
                            int TotalDays = (int)(Convert.ToDateTime(item.EndDate.Value) - Convert.ToDateTime(item.StartDate)).TotalDays;
                            if (TotalDays > 0)
                            {
                                @((item.StartDate.HasValue && item.StartDate.Value != new DateTime()) ? item.StartDate.Value.ToString("MM/dd/yy") : "-") <span>-</span> @((item.StartDate.HasValue && item.EndDate.Value != new DateTime()) ? item.EndDate.Value.ToString("MM/dd/yyyy") : "");
                            }
                            if (TotalDays <= 0)
                            {
                                @((item.StartDate.HasValue && item.StartDate.Value != new DateTime()) ? item.StartDate.Value.ToString("MM/dd/yy") : "-");
                            }
                        }
                    </div>
                </td>
                <td>
                    <div>@Localize.T("Hours")<span>:</span></div>
                    <div>
                        @if (item.Type == "MultipleDay")
                        {
                            int TotalDays = (int)(Convert.ToDateTime(item.EndDate.Value) - Convert.ToDateTime(item.StartDate)).TotalDays;
                            <span>@(String.Format("{0:0.00}", (TotalDays + 1) * 8))</span>
                        }
                        else
                        {
                            <span>@String.Format("{0:0.00}", item.PTOMinutes.MinutesToDecimalHours())</span>
                        }
                    </div>
                </td>
                <td>
                    <div>@Localize.T("Status")<span>:</span></div>
                    <div>@item.Status</div>
                </td>
                <td>
                    <div>@Localize.T("Payable")<span>:</span></div>
                    <div><span>@(item.Payable.HasValue && item.Payable.Value ? Localize.T("Yes") : Localize.T("No"))</span></div>
                </td>
                <td>
                    <div>@Localize.T("Note")<span>:</span></div>
                    <div>@item.Notes</div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="AgentListPagination">
    <div class="paginationContainer">
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">@Localize.T("Previous")</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="FilterPayrollPaging(@(ViewBag.PageNumber), '@(ViewBag.order)')">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationrightButtons disabledBtn">@Localize.T("Next")</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FilterPayrollPaging(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), '@(ViewBag.order)')">@Localize.T("Previous")</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FilterPayrollPaging(1, '@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FilterPayrollPaging(2, '@(ViewBag.order)')">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationrightButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="FilterPayrollPaging(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), '@(ViewBag.order)')">@Localize.T("Next")</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FilterPayrollPaging(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), '@(ViewBag.order)')">@Localize.T("Previous")</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FilterPayrollPaging(1, '@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FilterPayrollPaging(2, '@(ViewBag.order)')">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="FilterPayrollPaging(3, '@(ViewBag.order)')">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationrightButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="FilterPayrollPaging(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), '@(ViewBag.order)')">@Localize.T("Next")</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterPayrollPaging(@(ViewBag.PageNumber-1), '@(ViewBag.order)')">@Localize.T("Previous")</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterPayrollPaging(@(ViewBag.PageNumber-2), '@(ViewBag.order)')">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterPayrollPaging(@(ViewBag.PageNumber-1), '@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="FilterPayrollPaging(@(ViewBag.PageNumber), '@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationrightButtons disabledBtn" onclick="FilterPayrollPaging()">@Localize.T("Next")</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterPayrollPaging(@(ViewBag.PageNumber-1), '@(ViewBag.order)')">@Localize.T("Previous")</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterPayrollPaging(@(ViewBag.PageNumber+1), '@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterPayrollPaging(@(ViewBag.PageNumber + 2), '@(ViewBag.order)')">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationrightButtons" onclick="FilterPayrollPaging(@(ViewBag.PageNumber+1), '@(ViewBag.order)')">@Localize.T("Next")</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterPayrollPaging(@(ViewBag.PageNumber-1), '@(ViewBag.order)')">@Localize.T("Previous")</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterPayrollPaging(@(ViewBag.PageNumber-1), '@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterPayrollPaging(@(ViewBag.PageNumber + 1), '@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationrightButtons" onclick="FilterPayrollPaging(@(ViewBag.PageNumber+1), '@(ViewBag.order)')">@Localize.T("Next")</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterPayrollPaging(@(ViewBag.PageNumber-1), '@(ViewBag.order)')">@Localize.T("Previous")</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterPayrollPaging(@(ViewBag.PageNumber - 1), '@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="FilterPayrollPaging(@(ViewBag.PageNumber), '@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterPayrollPaging(@(ViewBag.PageNumber + 1), '@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationrightButtons" onclick="FilterPayrollPaging(@(ViewBag.PageNumber+1), '@(ViewBag.order)')">@Localize.T("Next")</button>
                </div>
            }
        }
    </div>
    @if (ViewBag.PageCount > 0)
    {
        <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
    }
</div>