
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

@Styles.Render("~/styles/PTOPartial")
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var liststatus = '@Html.Raw(Json.Encode(@ViewBag.liststatus))';
    liststatus = JSON.parse(liststatus);
    var FilterPayrollPaging = function (pageno, order) {
        var StartDayeVal = $('#PayrollFilterStartDate').val();
        var EndDayval = $('#PayrollFilterEndDate').val();
        var PtoStatus = encodeURI($("#PTOStutas").val());
        var LoadUrl = domainurl + String.format("/TimeClockPto/PTOListPartial/?StrStartDate={0}&StrEndDate={1}&PtoStatus={2}&order={3}&pageno1={4}&pagesize1={5}", StartDayeVal, EndDayval, PtoStatus, order, pageno, 10);
        $(".PTO_Main_Container .pto_partial_info_table_container").load(LoadUrl);
    }
    $(document).ready(function () {
        if (liststatus != null) {
            if (liststatus.length != 0) {
                $(".PTOStutas").selectpicker('val', liststatus);
            }
            else {
                $(".PTOStutas").selectpicker('val', '');
            }
        }
        else {
                $(".PTOStutas").selectpicker('val', '');
            }
        $("#btnAddPto").click(function () {
            OpenRightToLeftModal(domainurl + "/TimeClockPto/AddPtoPartial");
        });
        var HourRemaining = @ViewBag.HoursRemaining;
        if(HourRemaining < 0)
        {
            $(".remaining_hour").css("color","red");
        }
    });
</script>
<div class="PTO_Main_Container">
    <div class="PTO_Head">
        @if (ViewBag.HoursRemaining != null)
            {
                <div class="RemainingMsgDiv">
                    <span>@Localize.T("Current PTO Hours Remaining:")</span> <span class="remaining_hour">@ViewBag.HoursRemaining</span>
                </div>
            }
            else
            {
                <div class="RemainingMsgDiv">
                    <span>@Localize.T("Current PTO Hours Remaining:")</span> <span>0</span>
                </div>
            }
        <div class="pto-filter-div">
            @{
                Html.RenderAction("TimeClockDefaultFilter", "TimeClockPto", new { IsTimeClock = false });
            }
            <span class="add_PTO_btn_div">
                <button id="btnAddPto" class="btn btn_addPTO"><i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("Add PTO")</button>
            </span>
        </div>
    </div>
    <div class="PTO_BODY pto_partial_info_table_container">

    </div>
</div>
