@{
    Layout = null;
    var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/TimeClockHome")
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>
    var startTab = '@ViewBag.StartTab'
    var SetAllTimeClockTabsEmpty = function () {
        $(".timeclock_tabs_header .TimeClockTablLoad").html(LoaderDom);
        $(".timeclock_tabs_header .PTOTab_Load").html(LoaderDom);
        $(".timeclock_tabs_header .EmployeesPTOTab_Load").html(LoaderDom);
        $(".timeclock_tabs_header .EmployeesTimeClockTablLoad").html(LoaderDom);
        $(".timeclock_tabs_header .EmployeesPayrollReportTab_Load").html(LoaderDom);
        $(".timeclock_tabs_header .EmployeesAccrualPTOTab_Load").html(LoaderDom);
    }
    var OpenTimeClockTab = function () {
        $(".timeclock-pto-tabs li").removeClass("active");
        $(".TimeClock-tabs .tab-pane").removeClass("active");
        $(".timeclock-pto-tabs .TimeClockTabHead").addClass("active");
        $(".TimeClock-tabs .TimeClockTablLoad").addClass("active");

        SetAllTimeClockTabsEmpty();
        $(".timeclock_tabs_header .TimeClockTablLoad").load(domainurl + "/TimeClockPto/TimeClockPartial");
    }

    var OpenPtoTab = function () {
        $(".timeclock-pto-tabs li").removeClass("active");
        $(".TimeClock-tabs .tab-pane").removeClass("active");
        $(".timeclock-pto-tabs .PtoTabHead").addClass("active");
        $(".TimeClock-tabs .PTOTab_Load").addClass("active");

        SetAllTimeClockTabsEmpty();
        $(".timeclock_tabs_header .PTOTab_Load").load(domainurl + "/TimeClockPto/PTOPartial");
    }

    var OpenEmployeesPtoTab = function () {
        console.log("dskfj");
        $(".timeclock-pto-tabs li").removeClass("active");
        $(".TimeClock-tabs .tab-pane").removeClass("active");

        $(".timeclock-pto-tabs .PtoEmpTabHead").addClass("active");
        $(".TimeClock-tabs .EmployeesPTOTab_Load").addClass("active");

        SetAllTimeClockTabsEmpty();
        $(".timeclock_tabs_header .EmployeesPTOTab_Load").load(domainurl + "/TimeClockPto/EmployeesPto");
    }


    var OpenEmployeesTimeClockTab = function (EmpId) {
        $(".timeclock-pto-tabs li").removeClass("active");
        $(".TimeClock-tabs .tab-pane").removeClass("active");

        $(".timeclock-pto-tabs .TimeClockEmpTabHead").addClass("active");
        $(".TimeClock-tabs .EmployeesTimeClockTablLoad").addClass("active");

        SetAllTimeClockTabsEmpty();
        $(".timeclock_tabs_header .EmployeesTimeClockTablLoad").load(domainurl + "/TimeClockPto/EmployeeTimeClocksHome/?Id=" + EmpId);
    }
    var OpenPayrollReportTab = function () {
        $(".timeclock-pto-tabs li").removeClass("active");
        $(".TimeClock-tabs .tab-pane").removeClass("active");

        $(".timeclock-pto-tabs .PayrollReportTabHead").addClass("active");
        $(".TimeClock-tabs .EmployeesPayrollReportTab_Load").addClass("active");

        SetAllTimeClockTabsEmpty();
        $(".timeclock_tabs_header .EmployeesPayrollReportTab_Load").load(domainurl + "/TimeClockPto/PayrollReportView");
    }
    var OpenAccrualPTOTab = function () {
        $(".timeclock-pto-tabs li").removeClass("active");
        $(".TimeClock-tabs .tab-pane").removeClass("active");

        $(".timeclock-pto-tabs .AccrualPTOTabHead").addClass("active");
        $(".TimeClock-tabs .EmployeesAccrualPTOTab_Load").addClass("active");

        SetAllTimeClockTabsEmpty();
        $(".timeclock_tabs_header .EmployeesAccrualPTOTab_Load").load(domainurl + "/TimeClockPto/AccrualPTOReportView");
    }
    var EmployeeTabHeadClick = function () {
        SetAllTimeClockTabsEmpty();
        if ((top.location.hash.toLowerCase().split('?empid=').length == 2)
                && (top.location.hash.toLowerCase().split('?empid=')[1] > 0)) {
            OpenEmployeesTimeClockTab(top.location.hash.toLowerCase().split('?empid=')[1]);
        } else {
            OpenEmployeesTimeClockTab();
        }
    }
    var windowHashChange = function () {
        /*This one is ued for loading tab from url*/
        if (top.location.hash.toLowerCase().indexOf('#employeestimeclock') > -1) {
            EmployeeTabHeadClick();
        }
        else if ($("[tabname='" + top.location.hash + "']").length > 0) {

            TabPopStateCheck = true;
            $("[tabname='" + top.location.hash + "']").click();
        }
    }
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();

        if (top.location.hash != '') {
            windowHashChange();
        }
        else if (startTab == "TimeClockTimeClockTab") {
            OpenTimeClockTab();
        }
        else if (startTab == "TimeClockPTOTab") {
            $(".PtoTabHead").addClass('active');
            $(".PTOTab_Load").addClass('active');
            OpenPtoTab()
        }
        else if (startTab == "TimeClockEmployeesTimeClockTab") {
            
            $(".TimeClockEmpTabHead").addClass('active');
            $(".EmployeesTimeClockTablLoad").addClass('active');
            OpenEmployeesTimeClockTab();
        }
        else if (startTab == "TimeClockEmployeesPTOTab") {
            $(".PtoEmpTabHead").addClass('active');
            $(".EmployeesPTOTab_Load").addClass('active');
            OpenEmployeesPtoTab();
        }
        else if (startTab == "PayrollTab") {
            $(".PayrollReportTabHead").addClass('active');
            $(".EmployeesPayrollReportTab_Load").addClass('active');
            OpenPayrollReportTab();
        }
        else if (startTab == "AccrualPTOTab") {
            $(".AccrualPTOTabHead").addClass('active');
            $(".EmployeesAccrualPTOTab_Load").addClass('active');
            OpenAccrualPTOTab();
        }

        $('ul.timeclock-pto-tabs li a').click(function (e) {
            if (!TabPopStateCheck) {
                window.history.pushState({ urlPath: window.location.pathname }, "", $(e.target).attr('tabname'));
            }
            TabPopStateCheck = false;
        });
        
        $(".TimeClockEmpTabHead").click(function () {
            EmployeeTabHeadClick();
        });

    });
    $(window).on('hashchange', function (e) {
        windowHashChange();
    });
</script>
<style>
    .AgencyListPagination {
        position: relative;
        right: 10px;
        padding-top: 10px;
    }

    .paginationContainer {
        height: 50px;
        float: right;
        position: relative;
        min-width: 280px;
        padding-top: 10px;
    }

    .paginationtextdv {
        width: 30%;
        float: left;
        text-align: center;
    }

    .paginationMiddleButtondv {
        width: 40px;
        float: left;
    }

    .PaginationButtons {
        padding-left: 14px;
        padding-right: 14px;
        background: #fff;
        border: 1px solid #ccc;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .NavigatonButtonsDiv {
        float: left;
        border: 1px solid #ccc;
        margin-right: 2px;
    }

    .activeBtn {
        background-color: #ddd !important;
        color: black;
        border: none;
        height: 26px;
        width: 35px;
    }

    .paginationRightButtondv {
        width: 40px;
        float: left;
    }
</style>
<div class="timeclock_tabs_header">
    <ul class="nav nav-tabs timeclock-pto-tabs">

        @if (PermissionChekcer.IsPermitted(Permissions.ReportMenuPermission.TimeClockTimeClockTab))
        {
            <li class="active TimeClockTabHead" onclick="OpenTimeClockTab()">
                <a tabname="#TimeClock" data-target=".TimeClockTablLoad" data-toggle="tab">@Localize.T("Time Clock")</a>
            </li>
        }


        @*@if (CurrentUser.UserTags.ToLower().IndexOf("technician") < 0)
        {

        }*@

        @if (PermissionChekcer.IsPermitted(Permissions.ReportMenuPermission.TimeClockPTOTab))
        {
            <li class="PtoTabHead" onclick="OpenPtoTab()">
                <a tabname="#PTO" data-target=".PTOTab_Load" data-toggle="tab">@Localize.T("PTO")</a>
            </li>
        }


        @if (ViewBag.IsSupervisor || CurrentUser.UserTags.ToLower().IndexOf("hrmanager") > -1)
        {
            if (PermissionChekcer.IsPermitted(Permissions.ReportMenuPermission.TimeClockEmployeesTimeClockTab))
            {
                <li class="TimeClockEmpTabHead" onclick="OpenEmployeesTimeClockTab()">
                    <a tabname="#EmployeesTimeClock" data-target=".EmployeesTimeClockTablLoad" data-toggle="tab">@Localize.T("Employees Time Clock")</a>
                </li>
            }


            if (PermissionChekcer.IsPermitted(Permissions.ReportMenuPermission.TimeClockEmployeesPTOTab))
            {
                <li class="PtoEmpTabHead" onclick="OpenEmployeesPtoTab()">
                    <a tabname="#EmployeesPTO" data-target=".EmployeesPTOTab_Load" data-toggle="tab">@Localize.T("Employees PTO")</a>
                </li>
            }




        }
        @if (PermissionChekcer.IsPermitted(Permissions.ReportMenuPermission.PayrollTab))
        {
            <li class="PayrollReportTabHead" onclick="OpenPayrollReportTab()">
                <a tabname="#TimePayRoll" data-target=".EmployeesPayrollReportTab_Load" data-toggle="tab">@Localize.T("Payroll Report")</a>
            </li>
        }
        @if (PermissionChekcer.IsPermitted(Permissions.ReportMenuPermission.AccrualPTOTab))
        {
            <li class="AccrualPTOTabHead" onclick="OpenAccrualPTOTab()">
                <a tabname="#AccrualPTO" data-target=".EmployeesAccrualPTOTab_Load" data-toggle="tab">@Localize.T("PTO Accrual")</a>
            </li>
        }
    </ul>
    <div class="TimeClock-tabs">
        <div class="nav-detail-contents">
            <div class="tab-content">
                <div class="tab-pane active TimeClockTablLoad">

                </div>
                <div class="tab-pane PTOTab_Load">

                </div>
                @if (ViewBag.IsSupervisor || CurrentUser.UserTags.ToLower().IndexOf("hrmanager") > -1)
                {
                    <div class="tab-pane EmployeesTimeClockTablLoad">

                    </div>
                    <div class="tab-pane EmployeesPTOTab_Load">

                    </div>

                }
                @if (PermissionChekcer.IsPermitted(Permissions.ReportMenuPermission.PayrollTab))
                {
                    <div class="tab-pane EmployeesPayrollReportTab_Load">

                    </div>
                }
                @if (PermissionChekcer.IsPermitted(Permissions.ReportMenuPermission.AccrualPTOTab))
                {
                    <div class="tab-pane EmployeesAccrualPTOTab_Load">

                    </div>
                }
            </div>
        </div> 
    </div>
</div>