@{
    Layout = null;
}
@using AppConfig = HS.Framework.Utils.AppConfig; 
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.TimeClock>
@using HS.Framework
@Styles.Render("~/styles/TimeClockPartial") 
<script>
    var ClockInLabel = "@HS.Web.UI.Helper.LabelHelper.TimeClockType.ClockIn";
    var ClockOutLabel = "@HS.Web.UI.Helper.LabelHelper.TimeClockType.ClockOut";
    var FilterPayrollPaging = function (pageno, order) {
        var StartDate = $("#PayrollFilterStartDate").val();
        console.log(StartDate);
        var EndDate = $("#PayrollFilterEndDate").val();
        var LoadUrl = domainurl + String.format("/TimeClockPto/TimeClockPartialList/?StrStartDate={0}&StrEndDate={1}&pageno1={2}&StrSearchWeek={3}&order={4}&pagesize1={5}",
            StartDate, EndDate, pageno, $("#FilterWeeks").val(), order, 10);
        $(".TimeClockList.time_clock_list_container").html(LoaderDom);
        $(".TimeClockList.time_clock_list_container").load(LoadUrl);
    }
    $(document).ready(function () {
        var idlist = [{ id: ".OpenMapPopup", type: 'iframe', width: 500, height: 500 },
            { id: ".OpenClockInOutPopup", type: 'iframe', width: 400, height: 200 }
        ];
        jQuery.each(idlist, function (i, val) {
            magnificPopupObj(val);
        });
        $(".LoaderWorkingDiv").hide();
        $(".clock_in_button").click(function () { 
            $(".OpenClockInOutPopup").click();
        }); 
    });

</script>
<div class="hidden">
    <a class="OpenClockInOutPopup" href="@(AppConfig.DomainSitePath)/TimeClockPto/AddClockInOut/"></a>
</div>
<div>
    <div class="TimeClockDashboardHead">
        <div class="pto-filter-div">
            @{
                Html.RenderAction("TimeClockDefaultFilter", "TimeClockPto", new { IsTimeClock = true });
            }
            @*<span class="clockin_btn_div">
                <button class="btn clock_in_button @(ViewBag.IsClockedIn? "clocked_in" : "")"><i class="fa fa-clock-o"></i> @Localize.T(ViewBag.IsClockedIn ? "Clock Out" : "Clock In")</button>
            </span>*@
        </div>
       
        <div class="clockin_note_div hidden">
            <div>
                <textarea id="ClockInOutNote" placeholder="@Localize.T("Note")" ></textarea>
            </div>
            <button class="btn clock_in" id="clock_in"><i class="fa fa-clock-o"></i> @Localize.T(ViewBag.IsClockedIn ? "Clock Out" : "Clock In")</button>
        </div>
    </div>
    <div class="TimeClockList time_clock_list_container">
        
    </div>
</div>