@model HS.Entities.EmployeeTimeClock
@{
    Layout = null;
    if (Model.Id != 0)
    {
        Model.ClockInTime = Model.ClockInTime.UTCToClientTime();
        if(Model.ClockOutTime.HasValue)
        {
            Model.ClockOutTime = Model.ClockOutTime.Value.UTCToClientTime();
        }
    }
}

<script>
    var validtimeclock = '@ViewBag.validtimeclock';
</script>
@using HS.Framework
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/AddFile")
@Styles.Render("~/styles/AddClock")
@Scripts.Render("~/scripts/AddClock")

<script>
    var iduser = '@Model.UserId';
    var ClockInTime = '@ViewBag.Intime';
    var ClockOutTime = '@ViewBag.Outtime';
    $(document).ready(function () {
        $("#UserId").val(iduser);
         var options1 = {
          now: ClockInTime,
          title: 'Time'
        };

        var options2 = {
          now: ClockOutTime,
          title: 'Time'
        };
        $('.timepicker1').wickedpicker(options1);
        $('.timepicker2').wickedpicker(options2);
    })
</script>
@if (ViewBag.EditClock != "" && ViewBag.EditClock != null)
{
    <div class="add_file_header">@Localize.T(ViewBag.EditClock)</div>
}
else
{
    <div class="add_file_header">@Localize.T("Add Clock In/Out")</div>
}
<div class="container_add_clock">
    <div class="content-type">@Localize.T("User")</div>
    <div class="txt_form_add_file">
        @Html.DropDownListFor(x => x.UserId, (List<SelectListItem>)ViewBag.empLsit, new { @class = "form-control" })
    </div>
    <div class="content-type">@Localize.T("Clock In Date")</div>
    <div class="txt_form_add_file">
        <div class="input_group_for_date add-on" id="TimeClockInDatepickerCustom">
            <input type="text" id="TimeClockInDatepicker" name="TimeClockInDatepicker" class="form-control" datarequired="true" value="@(Model.ClockInTime!=null&&Model.ClockInTime!=new DateTime()? Model.ClockInTime.ToString("MM/dd/yy hh:mm:ss tt"):"")" />

            <div class="input-group-btn">
                <btn class="btn">
                    <i class="fa fa-calendar" aria-hidden="true" style="cursor:pointer;"></i>
                </btn>
            </div>
        </div>
        <div id="container1"></div>
        <label rel="TimeClockInDatepicker" class="label hidden red">*@Localize.T("Time Required")</label>

    </div>
    <div style="width:100%;float:left;position:relative;">
        <div class="content-type">@Localize.T("Time")</div>
        <input type="text" name="timepicker" class="timepicker1" />
    </div>
  
    <br />

    <div class="content-type">@Localize.T("Clock In Note")</div>
    <div class="txt_form_add_file">
        <textarea rows="3" cols="40" id="TimeClockInNote" name="TimeClockInNote" class="form-control">@Model.ClockInNote</textarea>
    </div>
    <div class="content-type">@Localize.T("Clock Out Date")</div>
    <div class="txt_form_add_file">
        <div class="input_group_for_date add-on" id="TimeClockOutDatepickerCustom">
            <input type="text" id="TimeClockOutDatepicker" name="TimeClockOutDatepicker" class="form-control" datarequired="true" value="@(Model.ClockOutTime.HasValue?Model.ClockOutTime.Value.ToString("MM/dd/yy hh:mm:ss tt"):"")" />

            <div class="input-group-btn">
                <btn class="btn">
                    <i class="fa fa-calendar" aria-hidden="true" style="cursor:pointer;"></i>
                </btn>
            </div>
        </div>
        <div id="container2"></div>
        <label rel="TimeClockInDatepicker" class="label hidden red">*@Localize.T("Time Required")</label>
    </div>

    <div class="content-type">@Localize.T("Time")</div>
    <input type="text" name="timepicker" class="timepicker2" />

    <div class="content-type">@Localize.T("Clock Out Note")</div>
    <div class="txt_form_add_file">
        <textarea rows="3" cols="40" id="TimeClockOutNote" name="TimeClockOutNote" class="form-control">@Model.ClockOutNote</textarea>
    </div>
</div>
<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn btn_file" id="btnSaveClock"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>

        </div>
    </footer>
</section>

<input type="hidden" id="userId" value="@Model.UserId " />
<input type="hidden" id="TimeClockId" value="@Model.Id" />
