@{
    Layout = null;
    var totalweek = 0;
    var totalhour = 0.0;
    var totalearned = 0.0;
    var totaused = 0.0;
    var currentbalance = 0.0;
    var totalAvailable = 0.0;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.EmployeeAccrualPtoAndApprovePtohourModel
@using HS.Framework
<script>
    var pageno = '@ViewBag.PageNumber';
    var pagesize = '@ViewBag.pagesize';
    var startdate = '@ViewBag.startdate';
    var endate = '@ViewBag.enddate';
    var order = '@ViewBag.order';
</script>
<div class="add_site_location_container">

    <div class="dfw_table_height">

        <div style="margin:0px 20px">
            <div class="add_site_location_header">

            </div>
            <table class="table dfw_table" id="tblPTO_AccrualRate">
                <thead class="table-head-border">
                    <tr>
                        <th class="th_timeclock"><div>@Localize.T("Employee Name")</div></th>
                        <th class="th_timeclock"><div>@Localize.T("Total PTO Earned")</div></th>
                        <th class="th_timeclock"><div>@Localize.T("Total Used")</div></th>
                        <th class="th_timeclock"><div>@Localize.T("Requested")</div></th>
                        <th class="th_timeclock"><div>@Localize.T("PTO Unassigned")</div></th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model != null)
                    { 
                        if(Model.EmployeePTOHourLogList != null && Model.EmployeePTOHourLogList.Count() > 0)
                        {
                            foreach (var item in Model.EmployeePTOHourLogList)
                            {
                                 totalAvailable = item.TotalAvailable;
                                <tr>
                                <td class="table-body-td-style">
                                    <div>
                                        <span>@item.EmployeeName</span>
                                    </div>
                                </td>
                                <td class="table-body-td-style">
                                    <div>
                                        @if (item.PayType == "Salary")
                                        {
                                            <span>@HS.Web.UI.Helper.LabelHelper.FormatTo3DP(Convert.ToDouble(item.Totalearned))</span> 
                                        }
                                        else
                                        {
                                            <span>@HS.Web.UI.Helper.LabelHelper.FormatFourDecimalAmount(Convert.ToDouble(item.Totalearned))</span>
                                        }

                                    </div>
                                </td>
                                <td class="table-body-td-style">
                                    <div>
                                        <span>@item.TotalUsed</span>
                                    </div>
                                </td>
                                <td class="table-body-td-style">
                                    <div>
                                        <span></span>
                                    </div>
                                </td>
                                <td class="table-body-td-style">
                                    <div>
                                        <span>@HS.Web.UI.Helper.LabelHelper.FormatTo3DP(Convert.ToDouble(item.TotalAvailable))</span> 
                                    </div>
                                </td>
                            </tr>
                            }
                        }
                    }

                </tbody>
            </table>
        </div>

        <div style="margin:0px 20px">
            <div class="add_site_location_header">

            </div>
            <table class="table dfw_table" id="tblPTO_AccrualRate">
                <thead class="table-head-border">
                    <tr>
                        <th class="th_timeclock"><div>@Localize.T("Week")</div></th>
                        <th class="th_timeclock"><div>@Localize.T("Hours Clocked In")</div></th>
                        <th class="th_timeclock"><div>@Localize.T("Earned")</div></th>
                        <th class="th_timeclock"><div>@Localize.T("Used")</div></th>
                        <th class="th_timeclock"><div>@Localize.T("Balance")</div></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.schedulerList != null && Model.schedulerList.Count() > 0)
                    {
                        
                        foreach (var item in Model.schedulerList)
                        {

                            totalweek = totalweek + 1;
                            totalhour += item.WorkingHours.Value;
                            totalearned += item.PTOHour.Value;
                            totaused += item.TotalUsed; 
                            <tr>
                                <td class="table-body-td-style">
                                    <div>
                                        @if (item.FromDate.HasValue && item.EndDate.HasValue)
                                        {
                                            <span>@item.FromDate.Value.UTCToClientTime().ToString("MM/dd/yyyy")</span> <span>-</span> <span>@item.EndDate.Value.UTCToClientTime().ToString("MM/dd/yyyy")</span>
                                        }

                                    </div>
                                </td>
                                <td class="table-body-td-style">
                                    <div>
                                        @if(item.WorkingHours.HasValue)
                                        { 
                                            <span>@item.WorkingHours.Value</span>
                                        } 
                                    </div>
                                </td>
                                <td class="table-body-td-style">
                                    <div>
                                        @if(item.PTOHour.HasValue)
                                        { 
                                            <span>@HS.Web.UI.Helper.LabelHelper.FormatFourDecimalAmount(Convert.ToDouble(item.PTOHour))</span>
                                        } 
                                    </div>
                                </td>
                                <td class="table-body-td-style">
                                    <div>
                                        <span>@item.TotalUsed</span>
                                    </div>
                                </td>
                                <td class="table-body-td-style">
                                    <div>
                                        <span>@HS.Web.UI.Helper.LabelHelper.FormatTo3DP(Convert.ToDouble(item.Balance))</span>
                                    </div>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td class="table-body-td-style">
                                <div>
                                    <strong>Total @totalweek</strong>
                                </div>
                            </td>
                            <td class="table-body-td-style">
                                <div>
                                    <strong>@HS.Web.UI.Helper.LabelHelper.FormatAmount(Convert.ToDouble(@totalhour))</strong>
                                </div>
                            </td>
                            <td class="table-body-td-style">
                                <div>
                                    <strong>@HS.Web.UI.Helper.LabelHelper.FormatFourDecimalAmount(Convert.ToDouble(totalearned))</strong>
                                </div>
                            </td>
                            <td class="table-body-td-style">
                                <div>
                                    <strong>@totaused</strong>
                                </div>
                            </td>
                            <td class="table-body-td-style">
                                <div> 
                                     <strong>@HS.Web.UI.Helper.LabelHelper.FormatTo3DP(Convert.ToDouble(totalAvailable))</strong> 
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="margin:0px 20px">
            <div class="add_site_location_header">

            </div>
            <table class="table dfw_table" id="tblPTO_AccrualRate">
                <thead class="table-head-border">
                    <tr>
                        <th class="th_timeclock"><div>@Localize.T("Requested")</div></th>
                        <th class="th_timeclock"><div>@Localize.T("Requested Hour")</div></th>
                        <th class="th_timeclock"><div>@Localize.T("Status")</div></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.approveLogList != null && Model.approveLogList.Count() > 0)
                    {
                        foreach (var item in Model.approveLogList)
                        { 
                            <tr>
                                <td class="table-body-td-style">
                                    <div>
                                        <span class="normaluser">@item.LastUpdatedDate.UTCToClientTime().ToString("MM/dd/yyyy")</span>
                                        @*<span>@item.CreatedDate.UTCToClientTime().ToString("MM/dd/yyyy") </span>*@
                                    </div>
                                </td>
                                <td class="table-body-td-style">
                                    <div>
                                        <span>@item.TotalRequestedHour</span>
                                    </div>
                                </td>
                                <td class="table-body-td-style">
                                    <div>
                                        <span>@item.Status</span>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
