@model List<HS.Entities.CustomerAppointment>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
}
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@Styles.Render("~/styles/DataTableBundles")
@Scripts.Render("~/scripts/DataTableBundles")
@Styles.Render("~/styles/ServiceOrder")
@Scripts.Render("~/scripts/ServiceOrder")

<div class="header-section-wrap">
    <div class="container-fluid">
        <div class="header-section">
            <div class="row">
                <div class="col-md-6">
                    @*<h3 class="txt-header">@Localize.T("Service Order")</h3>*@
                </div>
                <div class="col-md-6 col-custom-sale">
                    @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerServiceOrderAdd))
                    {
                        <button class="btn btn-primary btn_sale_service_order AddServiceOrder" type="button">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
                        </button>
                    }
                    @*<button class="btn btn-primary btn-sale" id="BackServiceOrder" type="button">@Localize.T("Back to Grid")</button>*@
                </div>
            </div>
        </div>

        <div id='ServiceAppoinmentCalender' class="ServiceAppoinmentCalender"></div>
        <div class="hidden">
            <button class="Left-Modal-Open" data-toggle="modal" data-target="#service-modal"></button>
        </div>
        <div class="Service-table">
            <table class="display" id="tblService">
                <thead class="table-head-border service_order_hide_for_device">
                    <tr>
                        <th class="thead-th-style sorting">
                            @Localize.T("Installation")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Schedule For")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("User")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Completed?")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Notes")
                        </th>
                        @*<th class="thead-th-style sorting">
                                @Localize.T("Actions")
                            </th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-style">
                            <td class="table-body-td-style service_order_device_row" valign="top">
                                <div class="service_order_device_header">@Localize.T("Installation")</div>
                                <div class="service_order_device_info">
                                    <a href="javascript:void(0)" class="toptobottomserviceorder cus-anchor" idval="@item.AppointmentId" idval-cusId="@item.CustomerId">
                                        <span>@item.Idstring</span>
                                    </a>
                                </div>
                               
                            </td>
                            <td class="table-body-td-style service_order_device_row" valign="top">
                                <div class="service_order_device_header">@Localize.T("Schedule For")</div>
                                <div class="service_order_device_info">
                                    <a href="javascript:void(0)" class="topToBottomServiceOrderSpan cus-anchor" idval="@item.AppointmentId" idval-cusId="@item.CustomerId"><span>@HS.Framework.DateTimeExtension.UTCToClientTime(item.AppointmentDate.Value).ToString("MM/dd/yy")</span></a>
                                </div>
                                
                            </td>
                            <td class="table-body-td-style service_order_device_row" valign="top">
                                <div class="service_order_device_header">@Localize.T("User")</div>
                                <div class="service_order_device_info">
                                    <span>@item.ServicePerson</span>
                                </div>
                               
                            </td>
                            <td class="table-body-td-style service_order_device_row" valign="top">
                                @{
                                    if (item.Status == true)
                                    {
                                        <div class="service_order_device_header">@Localize.T("Completed ?")</div>
                                        <div class="service_order_device_info">
                                            <span class="service_order_green">@Localize.T("Yes")</span>
                                        </div>
                                    }
                                    else if (item.Status == false)
                                    {
                                        <div class="service_order_device_header">@Localize.T("Completed ?")</div>
                                        <div class="service_order_device_info">
                                            <span class="service_order_red">@Localize.T("No")</span>
                                        </div>
                                    }
                                }
                            </td>
                            <td class="table-body-td-style service_order_device_row" valign="top">
                                <div class="service_order_device_header">@Localize.T("Notes")</div>
                                <div class="service_order_device_info">
                                    <span>@item.Notes</span>
                                </div>
                               
                            </td>
                            @*<td>
                                    <a href="javascript:void(0)" class="item-edit" data-id="@item.Id" id="@item.CustomerId" data-toggle="modal" data-target="#service-modal">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        @Localize.T("Edit")
                                    </a>
                                    <a href="javascript:void(0)" class="item-delete" data-id="@item.Id" id="@item.CustomerId">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        @Localize.T("Delete")
                                    </a>
                                </td>*@

                        </tr>
                                    }
                </tbody>
            </table>
        </div>

        @*<div class="service-calendar"></div>*@

    </div>
</div>
