@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
}
@model HS.Entities.CustomerAppointment

@Styles.Render("~/styles/AddServiceOrder")
@Scripts.Render("~/scripts/AddServiceOrder")
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    })
</script>
<div class="txt-design">@Localize.T("Service Order Appointment")</div>
<div class="add_service_order_container">
    @Html.HiddenFor(x => x.Id)
    <input type="hidden" id="CustomerIdVal" value="@ViewBag.CustomerId" />
   
  
    <div class="clearfix">
        <div class="row">
            <div class="col-md-12">
                <span class="aso_span">@Localize.T("Service Person")</span>
                @Html.DropDownListFor(model => model.EmployeeId, (List<SelectListItem>)ViewBag.ServiceList, new { @class = "form-control", id = "EmployeeId" })
                
            </div>
        </div>
        <div class="row aso_top_margin">
            <div class="col-md-12">
                <span class="aso_span">@Localize.T("Helper Tech")</span>
                @Html.DropDownList("ListHelperTech", ViewBag.Technician as List<SelectListItem>, new { @class = "form-control selectpicker", @multiple = "multiple" })
            </div>
        </div>
        <div class="row aso_top_margin">
            <div class="col-md-12">
                <span class="aso_span">@Localize.T("Appointment date")</span>
                @Html.TextBoxFor(model => model.AppointmentDate, "{0:MM/dd/yy}", new { @class = "form-control AddPickAday_ServiceOrder", @Value = ViewBag.SelectedDate, daterequired = "true" })
                
            </div>
        </div>
        <div class="row aso_top_margin">
            <div class="col-md-6">
                <span class="aso_span">@Localize.T("Start Time")</span>
                @Html.DropDownListFor(model => model.AppointmentStartTime,(List<SelectListItem>)ViewBag.AppointmentTime, new { @class = "form-control select_search", @style = "width:100%;", id = "AppointmentStartTime", datarequired = "true" })
                
            </div>
        
            <div class="col-md-6">
                <span class="aso_span">@Localize.T("End Time")</span>
                @Html.DropDownListFor(model => model.AppointmentEndTime, (List<SelectListItem>)ViewBag.AppointmentTime, new { @class = "form-control select_search", @style = "width:100%;", id = "AppointmentEndTime", datarequired = "true" })
                
            </div>
        </div>
        <div class="row aso_top_margin">
            <div class="col-md-12">
                <span class="aso_span">@Localize.T("Notes")</span>
                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", id = "Notes" })
                
            </div>
        </div>
    </div>
        </div>
        <section class="footer-section">
            <footer class="footer">
                <div class="SaveCancelDiv">
                    <button class="btn btn-sales SaveService" idval1="@ViewBag.CustomerName" id="SaveService"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
                </div>

            </footer>
        </section>
