@{
    Layout = null;
}
@model HS.Entities.FinRepCommission
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script src="~/Content/Js/Site/Validation.js"></script>
<script src="~/Content/Js/Payroll/AddCommission.js"></script>
<link href="~/Content/Css/Ticket/TicketAddCommissionStyle.css" rel="stylesheet" />
<div class="commission_container">
    @Html.HiddenFor(m => m.CustomerId)
    @Html.HiddenFor(m => m.TicketId)

    <div class="commission_header_small">@Localize.T("Add Fin Rep Commission")</div>
    <div class="commission_inner_height">
        <div class="commission_inner">
            <div class="form-group">
                <span class="span_style">@Localize.T("Finance Rep")</span>
                @Html.DropDownListFor(x => x.UserId, ViewBag.EmployeeList as List<SelectListItem>, new { @class = "form-control", datarequired = "true" })
                <label rel="UserId" class="label hidden red position-absolute">*@Localize.T("Select fin rep")</label>
            </div>
            <div class="form-group">
                <span class="span_style">@Localize.T("Commission")</span>
                @Html.TextBoxFor(x => x.Commission, new { @class = "form-control", Placeholder = "Commission" })
            </div>
        </div>
    </div>
    <div class="commission_footer">
        <button class="btn" onclick="SaveFinRepCommission()">@Localize.T("Save")</button>
    </div>
</div>



