@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.Ticket


<script src="~/Content/JQuery/jquery-3.2.1.min.js"></script>
<link href="~/Content/Css/Ticket/RescheduleTicketPopup.css" rel="stylesheet" />
<script>
    var TicketId = '@Model.TicketId';
    var CompletionDate = '@Model.CompletionDate';
    var CustomerId = '@Model.CustomerId';
</script>
<script src="~/Content/Js/TIcket/RescheduleTicket.js?v=02"></script>
<div class="resch_ticket_header">
    @Localize.T("Reschedule")
</div>
<div class="resch_ticket_container">
    <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
        <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png" />
    </div>

    <table>
        <tr>
            <td valign="top">
                Originally Scheduled For<span>:</span>
            </td>
            <td valign="top">
                @if (Model.CompletionDate != null && Model.CompletionDate != new DateTime())
                {
                    @Model.CompletionDate.ToString("MM/dd/yyyy");

                }

            </td>
        </tr>
        <tr style="display:none">
            <td valign="top">
                Re-Schedule to<span>:</span>
            </td>
            <td>
                <div class="input_group_for_date add-on scheduleoncontainer">
                    @{ string StringValue = (Model.CompletionDate == new DateTime() ? "" : Model.CompletionDate.ToString("MM/dd/yy")); }
                    <input type="text" style="border-radius: 5px 0px 0px 5px;" id="New_CompletionDate" autocomplete="off" class="form-control CompletionDate" value="@StringValue" />
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                Pay Trip Fee<span>:</span>
            </td>
            <td valign="top">
                @if (!string.IsNullOrEmpty(Model.AssignedTo))
                {
                    <div data-id="@Model.AssignedToId" class="HasMember">
                        <input type="checkbox" @(Model.AssignedToIsReschedulePay == true ? "checked" : "") class="MemberReschedulePay" /><label>@Model.AssignedTo</label>
                    </div>
                }
                @if (Model.AdditionalMemberList != null)
                {
                    foreach (var item in Model.AdditionalMemberList)
                    {
                        <div data-id="@item.UserId" class="HasMember">
                            <input type="checkbox" @(item.IsReschedulePay == true ? "checked" : "") class="MemberReschedulePay" /><label>@item.FullName</label>
                        </div>
                    }
                }
            </td>
        </tr>
        <tr>
            <td valign="top">
                Reason<span>:</span>
            </td>
            <td valign="top"> <textarea rows="6" id="Reasontext"></textarea></td>

        </tr>
        @*<tr>
                <td></td></td>
                <td><input type="checkbox" id="IsPay" /><label>IsPay</label></td>

            </tr>*@


    </table>



</div>
<div class="resch_ticket_footer">
    <button id="SaveReschedule">Save</button>
</div>



