@model HS.Entities.TicketListModel
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using HtmlAgilityPack;
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<script>
    var pageno = '@ViewBag.PageNumber';
    var ImportedTicket = '@ViewBag.ImportedTicket';
    var OpenTicketById = function(ticketId){
        OpenTopToBottomModal(domainurl + "/Ticket/AddTicket/?Id=" + ticketId);
    }
    var TicketListLoad = function(pageNo,order){
        if (typeof (pageNo) != "undefined") {

            var LoadCustomerDiv = "#customer_tab_" + CustomerLoadId + " ";
            if (typeof (IsLead) != "undefined" && IsLead) {
                LoadCustomerDiv = "";
            }
            var AssignedSearch = $(LoadCustomerDiv + ".Assigned_search").val();
            var TicketTypeSearch = $(LoadCustomerDiv + ".TicketType_Search").val();
            var TicketStatusSearch = $(LoadCustomerDiv + ".Ticket_Status_Search").val();
            var MyTicketSearch = $(LoadCustomerDiv + ".TicketFor_search").val();

            var LoadUrl = domainurl + "/Ticket/TicketListPartial/?CustomerId=" + CustomerLoadGuid
                + "&SearchText=" + encodeURI($(LoadCustomerDiv +".ticket_search_text").val())
                + "&TicketType=" + TicketTypeSearch
                + "&TicketStatus=" + TicketStatusSearch
                + "&Assigned=" + AssignedSearch
                + "&MyTicket=" + MyTicketSearch
                + "&order="+ order
                + "&PageNo=" + pageNo;
            $(LoadCustomerDiv + ".TicketTab_Load").html(TabsLoaderText);
            $(LoadCustomerDiv + ".TicketTab_Load").load(LoadUrl);
        }
    }

    var loadAgemniTicket = function () {
        var loadMemberAppointment = function (TicketId) {

            $(".AgemniTicketMagnific").attr('href', "/Ticket/MemberAppointmentPupup?TicketId=" + TicketId + "&UserList=" + $("#AdditionalMembers").val() + "&AppointmentDate=" + $("#Ticket_CompletionDate").val() + "&CustomerId=" + GuidCustomer);
            $(".AgemniTicketMagnific").click();
        }

    }

    var AgemniDetailPopUp = function (TicketId) {
        var LoadUrl = domainurl + "/Ticket/AgemniTicketPupup?TicketId=" + TicketId;
        console.log(LoadUrl);
        $(".AgemniTicketMagnific").attr("href", LoadUrl);
        $(".AgemniTicketMagnific").click();
    }
    $(document).ready(function () {
        var TicketLoadCustomerDiv = "#customer_tab_" + CustomerLoadId + " ";
        if (typeof (IsLead) != "undefined" && IsLead) {
            TicketLoadCustomerDiv = "";
        }
        $(".agemniTicket").hide();
          var AgemniTicketDom = 920;
    if (window.innerWidth < 920) {
        AgemniTicketDom = window.innerWidth;
    }
        var idlist = [{ id: ".AgemniTicketMagnific", type: 'iframe', width: AgemniTicketDom, height: 520 },

        ];

        jQuery.each(idlist, function (i, val) {
            magnificPopupObj(val);
        });





        $(".btnAgemniTickets").click(function () {
            if ($(".agemniTicket").is(":visible") == true)
            {

                $(".agemniTicket").hide();
            }
            else
            {
                $(".agemniTicket").show();
            }

        })
        $('[data-toggle="tooltip"]').tooltip();

        $("#MemberAppointmentPopup").click(function () {

            var LoadUrl = domainurl + "/Ticket/MemberAppointmentPupup?TicketId=" + TicketId + "&UserList=" + $("#AdditionalMembers").val() + "&AppointmentDate=" + $("#Ticket_CompletionDate").val() + "&CustomerId=" + GuidCustomer;
            console.log(LoadUrl);
            $(".AgemniTicketMagnific").attr("href", LoadUrl);
            $(".AgemniTicketMagnific").click();
        });



        $(TicketLoadCustomerDiv + ".btnAddNewTicket").click(function () {
            OpenTopToBottomModal(domainurl + "/Ticket/AddTicket/?CustomerId=" + CustomerLoadGuid);
        });
        $(TicketLoadCustomerDiv + ".search_ticket_btn").click(function(){
            TicketListLoad(1);
        });

        $(TicketLoadCustomerDiv + '.ticket_search_text').keypress(function (e) {
            var key = e.which;
            if (key == 13)
            {
                TicketListLoad(1);
            }
        });
        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            TicketListLoad(pageno, orderval);
        })
        $("#TicketReport").click(function () {
            ColumnName = "";
            var ids = "";
            var CustomerId = "";
            var flag = 0;
            console.log("fff");
            CustomerId = $(".CheckItems").attr('data-customerid');
            $('.ticket_export').each(function () {
                if ($(this).attr('data-info') != "" && $(this).attr('data-info') != undefined && $(this).attr('data-info') != null) {
                    ColumnName += $(this).attr('data-info').trim() + "," + $(this).text().trim();
                }
            });
            window.open(domainurl + "/Reports/NewReport/?ColumnNames=" + ColumnName + "&ReportFor=Ticket&CustomerId=" + CustomerId, "_blank");
        });
    });
</script>
<style>
    #TicketReport {
        float: right;
        background-color: #2ca01c;
        color: white;
        margin-right: 5px;
    }

        #TicketReport i, #TicketReport i:hover {
            color: white
        }

    .btnAgemniTickets {
        margin-right: 10px;
    }
</style>

<div class="page-content-wrap cus-padding-top10p invoicelist">
    <div class="FilterFunding clearfix">
        <div class="ticket_search_filter_custom">
            <div class="ticket_search_filter_box">
                <div class="ticket_filter_box_search">
                    <input value="@Model.Searchtext" class="form-control filterinput border_radius_0 ticket_search_text" @*id="searchtext"*@ placeholder="Search">
                </div>
                <div class="ticket_filter_box_drop">
                    @Html.DropDownListFor(x => x.TicketType, ViewBag.TicketType as List<SelectListItem>, new { @class = "form-control border_radius_0 TicketType_Search", id = "TicketType_Search" })
                </div>
                <div class="ticket_filter_box_drop">
                    @Html.DropDownListFor(x => x.TicketStatus, ViewBag.TicketStatus as List<SelectListItem>, new { @class = "form-control border_radius_0 Ticket_Status_Search", id = "Ticket_Status_Search" })
                </div>
                <div class="ticket_filter_box_drop">
                    @Html.DropDownListFor(x => x.Assigned, ViewBag.EmployeeList as List<SelectListItem>, new { @class = "form-control border_radius_0 Assigned_search", id = "Assigned_search" })
                </div>
                <div class="input-group">
                    @Html.DropDownListFor(x => x.MyTicket, ViewBag.MyTicketList as List<SelectListItem>, new { @class = "form-control border_radius_0 TicketFor_search", id = "TicketFor_search" })
                    <div class="input-group-btn"><button class="btn search_ticket_btn green_button" id="btnsearchtext" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button></div>
                </div>
            </div>

            @*<div class="col-md-4 search_btn_ticket_filter">
                    <button class="btn search_ticket_btn" id="btnsearchtext">@Localize.T("Search")</button>
                </div>*@
            @*<div class="col-md-2 create_tkt_button">

                </div>*@
            <div class="create_tkt_div_custom">
                @if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.CreateTicketPermission))
                {
                    <button class="btn create_ticket_btn btnAddNewTicket" @*id="btnAddNewTicket"*@ title="@Localize.T("Create Ticket")"><i class="fa fa-plus-circle"></i> @Localize.T(" Ticket")</button>

                }


                @if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.AgemniTicket))
                {
                    if (ViewBag.ImportedTicket == "true")
                    {
                        <button class="btn create_ticket_btn btnAgemniTickets" @*id="btnAddNewTicket"*@>@Localize.T("Agemni Ticket")</button>
                    }

                }
                @if (PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.ExportTicketPermission))
                {
                    <button class="btn" id="TicketReport" title="Export as excel file"><i class="fa fa-file-excel-o cus-cecel" aria-hidden="true"></i></button>
                }

            </div>
        </div>
    </div>
    <div class="col-md-12 hidden">
        &nbsp;
    </div>
    <div class="ticket_export hidden" data-info="TicketId"></div>
    <div class="ticket_export hidden" data-info="CustomerName"></div>
    <div class="ticket_export hidden" data-info="TicketType"></div>
    <div class="ticket_export hidden" data-info="Description"></div>
    <div class="ticket_export hidden" data-info="CreatedBy"></div>
    <div class="ticket_export hidden" data-info="CreatedDate"></div>
    <div class="ticket_export hidden" data-info="Assigned"></div>
    <div class="ticket_export hidden" data-info="ScheduleOn"></div>
    <div class="ticket_export hidden" data-info="Status"></div>
    <div class="invoice-table">
        <table class="display all_invoice ticket_list_partial_info tick_list_head" id="tblInvoice">
            <thead class="table-head-border">
                <tr>
                    <th class="thead-th-style tic_id_width"> <div>@Localize.T("Ticket") ID</div><div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/ticketid"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/ticketid"></i></div></th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Ticket") Type</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/timeclockdate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/tickettype"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Description")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/timeclockdate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/description"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Created By")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/timeclockdate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/createdby"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Assigned To")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/timeclockdate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/assignto"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Scheduled On")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/timeclockdate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/scheduledon"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Status")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/timeclockdate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/status"></i></div>
                    </th>
                    @*<th class="thead-th-style">
                            @Localize.T("Priority")
                        </th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tickets)
                {
                    if (item.IsImportedTicket == true)
                    {
                        <tr class="tr-style CheckItems agemniTicket" idval="@item.Id" data-customerid="@item.CustomerId">
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Ticket ID")<span>:</span></div>


                                <div class="ticket_list_partial_device_info">
                                    @if (item.IsClosed == true)
                                    {
                                        <span><i style="color:#2ca01c; cursor:pointer;" class="fa fa-lock" title="Ticket Close"></i></span>
                                    }
                                    <a class="cus-anchor" id="AgemniDetailPopUp" onclick="AgemniDetailPopUp('@item.TicketId')" href="javascript:void(0)">@item.Id (Imported)</a>
                                    @Html.Raw(item.AttachmentsCount > 0 ? "<i class='fa fa-paperclip'></i>" : "")
                                    @Html.Raw(item.RepliesCount > 0 ? string.Format("({0} {1})", item.RepliesCount, (item.RepliesCount == 1 ? Localize.T("Reply") : Localize.T("Replies"))) : "")
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                @{
                                    if (item.ReferenceTicketId > 0)
                                    {
                                        <div class="ticket_list_partial_device_header">@Localize.T("Ticket Type")<span>:</span></div>
                                        <div class="ticket_list_partial_device_info"> <span title="@item.TicketType @Localize.T("- Follow Up")" class=@(item.ExceedQuantity > 0 ? "exceed-warning" : "")>@item.TicketType @Localize.T("- Follow Up")</span></div>
                                    }
                                    else
                                    {
                                        <div class="ticket_list_partial_device_header">@Localize.T("Ticket Type")<span>:</span></div>
                                        <div class="ticket_list_partial_device_info"> <span class=@(item.ExceedQuantity > 0 ? "exceed-warning" : "")>@item.TicketType</span></div>
                                    }
                                }
                            </td>
                            <td class="table-body-td-style" valign="top">
                                @{
                                    var des = "";
                                    if (item.Message.Contains("display: none"))
                                    {
                                        item.Message = "";
                                    }
                                    var titletext = WebUtility.HtmlDecode(item.Message);
                                    HtmlDocument htmlDoc = new HtmlDocument();
                                    htmlDoc.LoadHtml(titletext);
                                    titletext = htmlDoc.DocumentNode.InnerText;
                                    if (titletext.Length > 20)
                                    {
                                        des = titletext.Substring(0, 20) + ".....";
                                    }
                                    else
                                    {
                                        des = titletext;
                                    }
                                    <div class="ticket_list_partial_device_header">@Localize.T("Description")<span>:</span></div>
                                    <div class="ticket_list_partial_device_info" title="@titletext"><span>@des</span></div>
                                }
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Created By")<span>:</span></div>
                                <div class="ticket_list_partial_device_info tkt_list_partial_device_info">
                                    <div class="user_profile_pic_div">
                                        <img src="/EmpShow/W50H50X@(item.CreatedBy)">
                                    </div>
                                    <span class="green-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="@HS.Framework.DateTimeExtension.UTCToClientTime(item.CreatedDate).ToString("MM/dd/yy") @HS.Framework.DateTimeExtension.UTCToClientTime(item.CreatedDate).ToString("hh:mm tt")">@item.CreatedByVal</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Assigned To")<span>:</span></div>
                                <div class="ticket_list_partial_device_info"><span class="green-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.AdditionalMembers">@item.AssignedTo</span></div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Scheduled On")<span>:</span></div>
                                <div class="ticket_list_partial_device_info">
                                    @if (item.CompletionDate != new DateTime())
                                    {
                                        if (item.AppointmentStartTime == "-1" && item.AppointmentEndTime == "-1")
                                        {
                                            <span class="green-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="All Day">@item.CompletionDate.ToString("MM/dd/yy")</span>
                                        }
                                        else if (!string.IsNullOrWhiteSpace(item.AppointmentStartTimeVal) && !string.IsNullOrWhiteSpace(item.AppointmentEndTimeVal)
                                            && item.AppointmentStartTime != "-1" && item.AppointmentEndTime != "-1")
                                        {
                                            <span class="green-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.AppointmentStartTimeVal to @item.AppointmentEndTimeVal">@item.CompletionDate.ToString("MM/dd/yy")</span>
                                        }
                                        else
                                        {
                                            <span>@item.CompletionDate.ToString("MM/dd/yy")</span>
                                        }

                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Status")<span>:</span></div>
                                <div class="ticket_list_partial_device_info ticket_list_partial_device_info_overflow"> @item.StatusVal</div>
                            </td>
                            @*<td class="table-body-td-style invoice_device_row" valign="top">
                                    @(item.Priority == "-1"?"-": item.Priority)
                                </td>*@
                        </tr>
                    }
                    else
                    {
                        <tr class="tr-style CheckItems" idval="@item.Id" data-customerid="@item.CustomerId">
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Ticket ID")<span>:</span></div>


                                <div class="ticket_list_partial_device_info">
                                    @if (item.IsClosed == true)
                                    {
                                        <span><i style="color:#2ca01c; cursor:pointer;" class="fa fa-lock" title="Ticket Close"></i></span>
                                    }
                                    <a class="cus-anchor" onclick="OpenTicketById(@item.Id)" href="javascript:void(0)">@item.Id</a>
                                    @Html.Raw(item.AttachmentsCount > 0 ? "<i class='fa fa-paperclip'></i>" : "")
                                    @Html.Raw(item.RepliesCount > 0 ? string.Format("({0} {1})", item.RepliesCount, (item.RepliesCount == 1 ? Localize.T("Reply") : Localize.T("Replies"))) : "")
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                @{
                                    if (item.ReferenceTicketId > 0)
                                    {
                                        <div class="ticket_list_partial_device_header">@Localize.T("Ticket Type")<span>:</span></div>
                                        <div class="ticket_list_partial_device_info"> <span title="@item.TicketType @Localize.T("- Follow Up")" class=@(item.ExceedQuantity > 0 ? "exceed-warning" : "")>@item.TicketType @Localize.T("- Follow Up")</span></div>
                                    }
                                    else
                                    {
                                        <div class="ticket_list_partial_device_header">@Localize.T("Ticket Type")<span>:</span></div>
                                        <div class="ticket_list_partial_device_info"> <span class=@(item.ExceedQuantity > 0 ? "exceed-warning" : "")>@item.TicketType</span></div>
                                    }
                                }
                            </td>
                            <td class="table-body-td-style" valign="top">
                                @{
                                    var des = "";
                                    if (item.Message.Contains("display: none"))
                                    {
                                        item.Message = "";
                                    }
                                    var titletext = WebUtility.HtmlDecode(item.Message);
                                    HtmlDocument htmlDoc = new HtmlDocument();
                                    htmlDoc.LoadHtml(titletext);
                                    titletext = htmlDoc.DocumentNode.InnerText;
                                    if (titletext.Length > 20)
                                    {
                                        des = titletext.Substring(0, 20) + ".....";
                                    }
                                    else
                                    {
                                        des = titletext;
                                    }
                                    <div class="ticket_list_partial_device_header">@Localize.T("Description")<span>:</span></div>
                                    <div class="ticket_list_partial_device_info" title="@titletext"><span>@des</span></div>
                                }
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Created By")<span>:</span></div>
                                <div class="ticket_list_partial_device_info tkt_list_partial_device_info">
                                    <div class="user_profile_pic_div">
                                        <img src="/EmpShow/W50H50X@(item.CreatedBy)">
                                    </div>
                                    <span class="green-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="@HS.Framework.DateTimeExtension.UTCToClientTime(item.CreatedDate).ToString("MM/dd/yy") @HS.Framework.DateTimeExtension.UTCToClientTime(item.CreatedDate).ToString("hh:mm tt")">@item.CreatedByVal</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Assigned To")<span>:</span></div>
                                <div class="ticket_list_partial_device_info"><span class="green-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.AdditionalMembers">@item.AssignedTo</span></div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Scheduled On")<span>:</span></div>
                                <div class="ticket_list_partial_device_info">
                                    @if (item.CompletionDate != new DateTime())
                                    {
                                        if (item.AppointmentStartTime == "-1" && item.AppointmentEndTime == "-1")
                                        {
                                            <span class="green-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="All Day">@item.CompletionDate.ToString("MM/dd/yy")</span>
                                        }
                                        else if (!string.IsNullOrWhiteSpace(item.AppointmentStartTimeVal) && !string.IsNullOrWhiteSpace(item.AppointmentEndTimeVal)
                                            && item.AppointmentStartTime != "-1" && item.AppointmentEndTime != "-1")
                                        {
                                            <span class="green-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.AppointmentStartTimeVal to @item.AppointmentEndTimeVal">@item.CompletionDate.ToString("MM/dd/yy")</span>
                                        }
                                        else
                                        {
                                            <span>@item.CompletionDate.ToString("MM/dd/yy")</span>
                                        }

                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Status")<span>:</span></div>
                                <div class="ticket_list_partial_device_info ticket_list_partial_device_info_overflow"> @item.StatusVal</div>
                            </td>
                            @*<td class="table-body-td-style invoice_device_row" valign="top">
                                    @(item.Priority == "-1"?"-": item.Priority)
                                </td>*@
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="TicketListLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="TicketListLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="TicketListLoad(1, '@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="TicketListLoad(2,'@(ViewBag.order)')">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="TicketListLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""),'@(ViewBag.order)')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="TicketListLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="TicketListLoad(1,'@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="TicketListLoad(2,'@(ViewBag.order)')">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="TicketListLoad(3,'@(ViewBag.order)')">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="TicketListLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""),'@(ViewBag.order)')">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="TicketListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="TicketListLoad(@(ViewBag.PageNumber-2),'@(ViewBag.order)')">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="TicketListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="TicketListLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="TicketListLoad()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="TicketListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="TicketListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="TicketListLoad(@(ViewBag.PageNumber + 2),'@(ViewBag.order)')">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="TicketListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="TicketListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="TicketListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="TicketListLoad(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="TicketListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="TicketListLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="TicketListLoad(@(ViewBag.PageNumber - 1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="TicketListLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="TicketListLoad(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="TicketListLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
                </div>
            }
        }
    </div>
</div>
<div class="ticket_export_confirm"></div>
<a href="" class="AgemniTicketMagnific hidden">@Localize.T("Agemni Ticket Detail")</a>