
@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
}
@model HS.Entities.TicketNotificationEmail
<script>


    var SaveNotificationMail = function () {
        var emailNofification = {};
        emailNofification.Id =  $("#NotificationId").val();
        emailNofification.TicketStatus = $("#TicketStatus").val();
        emailNofification.Email = $("#EmailList").val();
        $.ajax({
            type: "POST",
            url: domainurl + "/Ticket/AddTicketEmailNotification",
            data: '{emailNofification: ' + JSON.stringify(emailNofification) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.result) {
                    $(".close").click();
                    OpenSuccessMessageNew("Success!", response.message, function () {
                        $("#Right-To-Left-Modal-Body .close").click();
                        $("#ShowTicketEmailList").load("/Ticket/ShowTicketEmailList");
                    });
                }
                else {
                    OpenErrorMessageNew("Error!", response.message);
                }
                //window.location.reload();
            }
        });
    }
    $(document).ready(function () {
        $(".add_ticket_noti_height").height(window.innerHeight - 100);
        $("#btn-SaveNotifyEmail").click(function () {
                SaveNotificationMail();
        })
    })
    $(window).resize(function () {
        $(".add_ticket_noti_height").height(window.innerHeight - 100);
    })

</script>
<style>
    .add_ticket_noti_header {
        width: 100%;
        float: left;
        background-color: #f4f5f8;
        font-size: 2rem;
        font-weight: 400;
        color: #393a3d;
        padding: 12px 10px;
    }
    .add_ticket_noti_height {
        width: 100%;
        float: left;
        overflow-x:hidden;
        overflow-y:auto;
    }
    .add_ticket_noti_container {
        width: 100%;
        float: left;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
    }
        .add_ticket_noti_container .reminder-form {
            font-weight: bold;
        }
        .add_ticket_noti_container textarea {
            resize:none;
        }
        .add_ticket_noti_footer {
            width: 100%;
            float: left;
            text-align: right;
            padding-right: 15px;
            padding-left: 15px;
        }
    .btn-IsComplete {
        margin-left: 15px;
        color: white;
        font-weight: 600;
        background-color: #2ca01c;
    }

    .add_followup_reminder_body {
    }

    .label {
        color: red;
    }
</style>

<div class="add_ticket_noti_header">
    <span>@Localize.T("Create Ticket Notification Email")</span>
</div>
<input type="hidden" value="@Model.Id" id="NotificationId" />
<div class="add_ticket_noti_height">
    <div class="add_ticket_noti_container">
        <div class="form-group clearfix">
            <span class="reminder-form">@Localize.T("Ticket Status")<span class="red">*</span></span>
            @Html.DropDownList("TicketStatus", (List<SelectListItem>)ViewBag.TicketStatusList, new { @class = "form-control" })
        </div>
        <div class="form-group clearfix">
            <span class="reminder-form">@Localize.T("Email")</span>
            <textarea placeholder="Add email separated by (,) or (;)" class="form-control"  id="EmailList">@Model.Email</textarea>

        </div>
    </div>
</div>



    <div class="add_ticket_noti_footer">
       

            <button id="btn-SaveNotifyEmail" type="button" class="btn green_button"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save")</button>

       
    </div>




