
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@model List<HS.Entities.Ticket>
@Styles.Render("~/styles/UserList")
<link href="~/Content/Css/Lead/EmergencyContactListPartial.css" rel="stylesheet" />
<script>
    var OpenNewCustomerTicket = function () {
        OpenTopToBottomModal(domainurl + "/Ticket/AddTicket/?CustomerId=" + CustomerLoadGuid);
    }
</script>
@{
    if (Model != null && Model.Count > 0)
    {
        <div class="ci_block ci_margin_top">
            <div class="ci_header clearfix">
                @Localize.T("Ticket")
                <button title="@Localize.T("Create Ticket")" type="button" class="btn customer_contact_add green_button" onclick="OpenNewCustomerTicket()"> <i class="fa fa-plus" @*id="btn-emeregency"*@></i></button>
            </div>
            @if (Model.Count > 5)
            {
                <div class="ci_info" style="overflow-y:scroll;height:40vh;">
                    <table id="TblcotlList">
                        <thead class="table-head-border eg_contact_hide">
                            <tr>
                                <th class="thead-th-style">
                                    @Localize.T("ID")
                                </th>
                                @*<th class="thead-th-style">
                                        @Localize.T("Cross Street")
                                    </th>*@
                                <th class="thead-th-style">
                                    @Localize.T("Replies")
                                </th>
                                <th class="thead-th-style">
                                    @Localize.T("Type")
                                </th>
                                <th class="thead-th-style">
                                    @Localize.T("Scheduled")
                                </th>
                                <th class="thead-th-style">
                                    @Localize.T("Assigned")
                                </th>
                                @*<th class="thead-th-style">
                                    @Localize.T("Address")
                                </th>*@
                                @*<th class="thead-th-style">
                                        @Localize.T("Has Key")
                                    </th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="tr-style">
                                    <td class="table-body-td-style cotl_header_row" valign="top">
                                        <div class="cotl_device_header">@Localize.T("ID")<span>:</span></div>
                                        <div class="cotl_device_info"> <a href="javascript:void(0)" onclick="OpenTicketById(@item.Id)" style="cursor:pointer;color:#2ca01c">@item.Id</a></div>
                                    </td>

                                    <td class="table-body-td-style eg_contact_header_row" valign="top">
                                        <div class="cotl_device_header">@Localize.T("Replies")<span>:</span></div>
                                        <div class="cotl_device_info">  @item.TicketReplyCount</div>
                                    </td>
                                    <td class="table-body-td-style eg_contact_header_row" valign="top">
                                        <div class="cotl_device_header">@Localize.T("Type")<span>:</span></div>
                                        <div class="cotl_device_info"> @item.TicketType</div>
                                    </td>
                                    <td class="table-body-td-style eg_contact_header_row" valign="top">
                                        <div class="cotl_device_header">@Localize.T("Scheduled")<span>:</span></div>
                                        <div class="cotl_device_info">
                                            @item.CompletionDate.ToString("MM/dd/yy")
                                            @if (!string.IsNullOrWhiteSpace(item.AppointmentStartTime) && item.AppointmentStartTime != "-1" && !string.IsNullOrWhiteSpace(item.AppointmentEndTime) && item.AppointmentEndTime != "-1")
                                            {
                                                <br/>
                                                <span>@item.AppointmentStartTime to @item.AppointmentEndTime</span>
                                            }
                                        </div>
                                        @*<div class="cotl_device_info"> @HS.Framework.DateTimeExtension.UTCToClientTime(item.CompletionDate).ToString("MM/dd/yy")</div>*@
                                    </td>
                                    <td class="table-body-td-style eg_contact_header_row" valign="top">
                                        <div class="cotl_device_header">@Localize.T("Assigned")<span>:</span></div>
                                        <div class="cotl_device_info">@item.TicketUserName</div>
                                    </td>
                                    @*<td class="table-body-td-style eg_contact_header_row" valign="top">
                                        <div class="cotl_device_header">@Localize.T("Address")<span>:</span></div>
                                        <div class="cotl_device_info">@item.Address</div>
                                    </td>*@
                                </tr>


                            }
                        </tbody>
                    </table>


            </div>
        }
        else
        {
            <div class="ci_info">
                <table id="TblEmergencyContactList" class="customer_over_tick_list_table">
                    <thead class="table-head-border">
                        <tr>
                            <th class="thead-th-style">
                                @Localize.T("Id")
                            </th>
                            @*<th class="thead-th-style">
                                    @Localize.T("Cross Street")
                                </th>*@
                            <th class="thead-th-style">
                                @Localize.T("Replies")
                            </th>
                            <th class="thead-th-style">
                                @Localize.T("Type")
                            </th>
                            <th class="thead-th-style">
                                @Localize.T("Scheduled")
                            </th>
                            <th class="thead-th-style">
                                @Localize.T("Assigned")
                            </th>
                            @*<th class="thead-th-style">
                                    @Localize.T("Has Key")
                                </th>*@
                            @*<th class="thead-th-style">
                                @Localize.T("Address")
                            </th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="tr-style">
                                <td class="table-body-td-style" valign="top">
                                    <div>@Localize.T("Id") <span>:</span></div>
                                    <div><a href="javascript:void(0)" onclick="OpenTicketById(@item.Id)" style="cursor:pointer;color:#2ca01c">@item.Id</a></div>
                                </td>

                                <td class="table-body-td-style" valign="top">
                                    <div>@Localize.T("Replies") <span>:</span></div>
                                    <div>@item.TicketReplyCount</div>
                                </td>
                                <td class="table-body-td-style" valign="top">
                                    <div>@Localize.T("Type") <span>:</span></div>
                                    <div>@item.TicketType</div>
                                </td>
                                <td class="table-body-td-style" valign="top">
                                    <div>@Localize.T("Scheduled") <span>:</span></div>
                                    @*<div>@HS.Framework.DateTimeExtension.UTCToClientTime(item.CompletionDate).ToString("MM/dd/yy")</div>*@
                                <div>
                                    @item.CompletionDate.ToString("MM/dd/yy")
                                    @if (!string.IsNullOrWhiteSpace(item.AppointmentStartTime) && item.AppointmentStartTime != "-1" && !string.IsNullOrWhiteSpace(item.AppointmentEndTime) && item.AppointmentEndTime != "-1")
                                    {
                                        <br/>
                                        <span>@item.AppointmentStartTime to @item.AppointmentEndTime</span>
                                    }
                                </div>
                                </td>
                                <td class="table-body-td-style" valign="top">
                                    <div>@Localize.T("Assigned") <span>:</span></div>
                                    <div>@item.TicketUserName</div>
                                </td>
                                @*<td class="table-body-td-style" valign="top">
                                    <div>@Localize.T("Address") <span>:</span></div>
                                    <div>@item.Address</div>
                                </td>*@
                            </tr>


                        }
                    </tbody>
                </table>


            </div>
        }

            </div>
        }
}

