
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.CustomerAddress>


<script src="~/Content/JQuery/jquery-3.2.1.min.js"></script>
<link href="~/Content/Css/Ticket/RescheduleTicketPopup.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $("#SaveAddress").click(function () {
            console.log("ayyy");
            var street = $('input[name="Address"]:checked').val();
            var city = $('input[name="Address"]:checked').attr("city");
            var state = $('input[name="Address"]:checked').attr("state");
            var zipcode = $('input[name="Address"]:checked').attr("zipcode");

            parent.$("#Street").val(street);
            parent.$("#City").val(city);
            parent.$("#State").val(state);
            parent.$("#ZipCode").val(zipcode);
            parent.ClosePopup();
        });
    });
</script>
<script src="~/Content/Js/TIcket/RescheduleTicket.js"></script>
<div class="resch_ticket_header">
    @Localize.T("Addresses")
</div>
<div class="different_address_pop_container">
    <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
        <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png" />
    </div>

    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td valign="top">

                    <div class="HasMember">
                        <input type="radio" name="Address" value="@item.Street" city="@item.City" state="@item.State" zipcode="@item.ZipCode">
                        <label for="@item.Street">@item.Street,@item.City,@item.State,@item.ZipCode</label><br>
                    </div>

                </td>
            </tr>
        }

    </table>



</div>
<div class="resch_ticket_footer">
    <button id="SaveAddress">Save</button>
</div>



