@{
    Layout = null;
}
@model HS.Entities.TicketListModel
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
@using AppConfig = HS.Framework.Utils.AppConfig;
<div class="my_ticket_comtaimer">
    <div class="my_ticket_header">
        @Localize.T("My Tickets")
    </div>
    <table class="table dashboard_assign_ticket_table">
        <thead>
            <tr>
                <th>
                    @Localize.T("Ticket ID")
                </th>
                <th>
                    @Localize.T("Ticket Type")
                </th>
                @*
                <th>
                    @Localize.T("Description")
                </th>*@
                <th>
                    @Localize.T("Created By")
                </th>
                <th>
                    @Localize.T("Assigned To")
                </th>
                <th>
                    @Localize.T("Scheduled On")
                </th>
                <th>
                    @Localize.T("Status")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Tickets)
            {
            <tr>
                <td>
                    <div>
                        <div class="dbat_device_header">@Localize.T("Ticket ID") <span>:</span></div>
                        <div class="dbat_device_info">
                            <a title="@Localize.T(" Ticket ID")" href="javascript:void(0)" class="cus-anchor" onclick="OpenTicketById(@item.Id)">
                                @item.Id
                            </a>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="dbat_device_header">@Localize.T("Ticket Type") <span>:</span></div>
                        <div class="dbat_device_info"> <span>@Html.DisplayFor(modelItem => item.TicketType)</span></div>
                    </div>
                </td>
                @*
                <td>
                    <div>
                        <div class="dbat_device_header">@Localize.T("Description") <span>:</span></div>
                        <div class="dbat_device_info">
                            @Html.Raw(item.Message)
                        </div>
                    </div>
                </td>*@
                <td>
                    <div class="dbat_device_header">@Localize.T("Created By") <span>:</span></div>
                    <div class="dbat_device_info">
                        @item.CreatedUser
                    </div>
                </td>
                <td>
                    <div>
                        <div class="dbat_device_header">@Localize.T("Assigned To") <span>:</span></div>
                        <div class="dbat_device_info">@item.AssignUser</div>
                    </div>
                </td>
                <td>
                    <div class="dbat_device_header">@Localize.T("Scheduled On") <span>:</span></div>
                    <div class="dbat_device_info"><span>@item.CompletionDate.UTCToClientTime().ToString("MM/dd/yy")</span></div>
                </td>
                <td>
                    <div>
                        <div class="dbat_device_header">@Localize.T("Status") <span>:</span></div>
                        <div class="dbat_device_info">
                            @Html.DisplayFor(modelItem => item.Status)
                        </div>
                    </div>
                </td>
            </tr>
            }

        </tbody>
    </table>
    <div class="AgentListPagination inv1">
        <div class="paginationContainer">
            @if (ViewBag.PageCount > 0)
            {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
            }
            @if (ViewBag.PageCount == 1)
            {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="MyTicketsLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
            }
            else if (ViewBag.PageCount == 2)
            {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?" disabledBtn":"")" onclick="MyTicketsLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:" "),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?" activeBtn":"")" onclick="MyTicketsLoad(1, '@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?" activeBtn":"")" onclick="MyTicketsLoad(2,'@(ViewBag.order)')">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? " disabledBtn" : "" )" onclick="MyTicketsLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:" "),'@(ViewBag.order)')">Next</button>
            </div>
            }
            else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
            {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?" disabledBtn":"")" onclick="MyTicketsLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:" "),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?" activeBtn":"")" onclick="MyTicketsLoad(1,'@(ViewBag.order)')">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?" activeBtn":"")" onclick="MyTicketsLoad(2,'@(ViewBag.order)''@(ViewBag.order)')">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?" activeBtn":"")" onclick="MyTicketsLoad(3,'@(ViewBag.order)')">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?" disabledBtn":"")" onclick="MyTicketsLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:" "),'@(ViewBag.order)')">Next</button>
            </div>
            }
            else if (ViewBag.PageCount > 3)
            {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons" onclick="MyTicketsLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton" onclick="MyTicketsLoad(@(ViewBag.PageNumber-2),'@(ViewBag.order)')">@(ViewBag.PageNumber - 2)</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton" onclick="MyTicketsLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="MyTicketsLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn" onclick="MyTicketsLoad()">Next</button>
            </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons" onclick="MyTicketsLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton" onclick="MyTicketsLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton" onclick="MyTicketsLoad(@(ViewBag.PageNumber + 2),'@(ViewBag.order)')">@(ViewBag.PageNumber + 2)</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons" onclick="MyTicketsLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
            </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons" onclick="MyTicketsLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton" onclick="MyTicketsLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton" onclick="MyTicketsLoad(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons" onclick="MyTicketsLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
            </div>
            }
            else
            {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons" onclick="MyTicketsLoad(@(ViewBag.PageNumber-1),'@(ViewBag.order)')">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton" onclick="MyTicketsLoad(@(ViewBag.PageNumber - 1),'@(ViewBag.order)')">@(ViewBag.PageNumber - 1)</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="MyTicketsLoad(@(ViewBag.PageNumber),'@(ViewBag.order)')">@(ViewBag.PageNumber)</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton" onclick="MyTicketsLoad(@(ViewBag.PageNumber + 1),'@(ViewBag.order)')">@(ViewBag.PageNumber + 1)</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons" onclick="MyTicketsLoad(@(ViewBag.PageNumber+1),'@(ViewBag.order)')">Next</button>
            </div>
            }
            }
        </div>
    </div>
</div>


