@{ 
    Layout = null;
}
@model HS.Entities.RUGTicketAgreementModel
<html>
<head><title>Work Authorization Aggrement Signed</title></head>
<body style="font-family:sans-serif; margin:0px 40px;">
    <div style="padding-left:10px;padding-right:15px; width:100%; display:table;">
        <div style="width:100%;float:left;text-align:left;">
            @Html.Raw(Model.CompanyLogo)
        </div>
        <div style="width:100%; float:left;text-align:left; font-size:18px;">
            @Html.Raw(Model.CompanyInfo)
        </div>
        <div style="width:100%; float:left;text-align:left; font-size:18px;">            
            @Html.Raw(Model.SubmitInfo)
        </div>
        <div style="width:100%;float:left;text-align:justify;margin-top:30px;">
            <p><strong>Work authorization</strong></p>
            @Html.Raw(Model.Text)
        </div>
        <div style="width:100%;float:left;text-align:justify;margin-top:30px;">
            @Html.Raw(Model.Text2)
        </div>
        <div style="width:100%;float:left;text-align:left; margin-top:30px;">
            <p>Signature</p>
            <img style="width:200px" src="@Model.Signature" alt="Signature" />
        </div>
        <div style="width:200px;float:left;text-align:center; border-top:2px solid #ccc;">
            @Model.CustomerName <br />
            @Model.SignDate
        </div>
    </div>
</body>
</html>
