@model IEnumerable<HS.Entities.TicketNotificationEmail>
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    ShowQusAnsList = function (item) {
        OpenTopToBottomModal(domainurl + "/Survey/ShowQusAnsPanel?SurveyId=" + item)
    }
    var EditNotificationEmail = function (Id) {

        OpenRightToLeftModal(domainurl + "/Ticket/AddTicketNotificationEmail?Id=" + Id);
    }
    var DeleteTicketNotification = function (id) {
        var url = "/Ticket/DeleteTicketNotification";
        var param = JSON.stringify({
            Id: id
        })
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data) {
                    OpenSuccessMessageNew("Success", "Ticket notification email deleted successfully");
                   $("#ShowTicketEmailList").load("/Ticket/ShowTicketEmailList");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }
</script>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>@Localize.T("Ticket Status")</label>
            </th>
            <th>
                <label>@Localize.T("Email")</label>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
        
                    <div><a class="cus-anchor" onclick="EditNotificationEmail('@item.Id')">@item.TicketStatusVal</div>
                </td>
                <td>

                    <div><span>@item.Email</span></div>
                </td>
               
                <td>
                    <div><i class="fa fa-trash item_del" data-id="@item.Id" onclick="OpenConfirmationMessageNew('Confirmation', 'Are you sure, you want to delete this item?', function () { DeleteTicketNotification(@item.Id) })"></i></div>
                  
                </td>
            </tr>
        }
    </tbody>

</table>

