@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
<script>
    var NavigatePageListing = function (pagenumber, order) {
        var searchText = $(".srch-term").val();
        $("#LoadTicketList").load("@(AppConfig.DomainSitePath)/Ticket/LoadTechnesianTicketList", { PageNo: pagenumber, SearchText: searchText, Order: order, TicketStatus: TicketStatus, StartDate: FDate, EndDate: LDate });
    }
    var TicketStatus = '@ViewBag.Status';
    var Key = '@ViewBag.key';
    var date = new Date();
    var dailydate = date.getMonth() + "/" + date.getDate() + "/" + date.getFullYear();
    var firstdate = date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear();
    var max = dailydate.split(/\D+/);
    var maxdate = new Date(max[2], max[0], (parseInt(max[1]) + 1));
    var lastdate = maxdate.getMonth() + 1 + "/" + maxdate.getDate() + "/" + maxdate.getFullYear();
    var first = date.getDate() - date.getDay();
    var last = first + 6;
    var firstday = new Date(date.setDate(first));
    var lastday = new Date(date.setDate(last));
    var thisfirstdate = firstday.getMonth() + 1 + "/" + firstday.getDate() + "/" + firstday.getFullYear();
    var thislastdate = lastday.getMonth() + 1 + "/" + lastday.getDate() + "/" + lastday.getFullYear();
    var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
    var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
    var thisfirstmonthdate = firstDay.getMonth() + 1 + "/" + firstDay.getDate() + "/" + firstDay.getFullYear();
    var thislastmonthdate = lastDay.getMonth() + 1 + "/" + lastDay.getDate() + "/" + lastDay.getFullYear();
    var firstyearday = new Date("1/1/" + date.getFullYear());
    var lastyearday = new Date("12/31/" + date.getFullYear());
    var thisfirstyeardate = firstyearday.getMonth() + 1 + "/" + firstyearday.getDate() + "/" + firstyearday.getFullYear();
    var thislastyeardate = lastyearday.getMonth() + 1 + "/" + lastyearday.getDate() + "/" + lastyearday.getFullYear();
    $(document).ready(function () {
        var FDate = null;
        var LDate = null;
        if (Key == "All") {
            FDate = null;
            LDate = null;
        }
        else if (Key == "Daily") {
            FDate = firstdate;
            LDate = lastdate;
        }
        else if (Key == "Weekly") {
            FDate = thisfirstdate;
            LDate = thislastdate;
        }
        else if (Key == "Monthly") {
            FDate = thisfirstmonthdate;
            LDate = thislastmonthdate;
        }
        else if (Key == "Yearly") {
            FDate = thisfirstyeardate;
            LDate = thislastyeardate;
        }

        var pagenumber = 1;
        $("#LoadTicketList").load("@(AppConfig.DomainSitePath)/Ticket/LoadTechnesianTicketList", { PageNo: pagenumber, TicketStatus: TicketStatus, StartDate: FDate, EndDate: LDate });

    });
</script>
<style>
    .ticket_list_header {
    width: 15%;
    float: left;
    font-size: 30px;
    text-align: left;
}
</style>
<link href="~/Content/Activity/Activity.css" rel="stylesheet" />
<div class="activity_list_container">
    <div >
        <div class="ticket_list_header">@Localize.T("Tickets")</div>
    </div>
   

    <div id="LoadTicketList">

    </div>
</div>

