@model HS.Entities.TicketNotificationModel
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script>
    var typecount = '@(Model.TicketTypeList != null ? Model.TicketTypeList.Count : 0)'
</script>
<link href="~/Content/Css/TicketNotificationSetting.css" rel="stylesheet" />
<script src="~/Content/Tiny/jquery.tinymce.min.js"></script>
<script src="~/Content/Tiny/tinymce.min.js"></script>
<script src="~/Content/Tiny/tiny.js"></script>
<script src="~/Content/Js/TicketNotificationSetting.js"></script>

<div class="container-fluid notify_container">
    <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
        <img title="@Localize.T(" Close")" src="~/Content/Icons/cross_update.png" />
    </div>
    <div class="notify_header">
        <h3 class="notify_text">@Localize.T("Notification Setting")</h3>
    </div>
    <div class="notify_data_div">
        <div class="notify_left_data">
            <label>@Localize.T("Ticket Status")</label>
            @{
                if (Model.TicketStatusList != null && Model.TicketStatusList.Count > 0)
                {
                    foreach (var item in Model.TicketStatusList)
                    {
                        <div class="tik_status_div">
                            <div class="tik_status" data-id="@item.Id" id="tik_status_@item.Id" data-status="@item.DataValue.Replace(" ", "")">@item.DisplayText</div>
                        </div>
                    }
                }
            }
        </div>
        <div class="notify_middle_data hidden">
            <label>@Localize.T("Ticket Type")</label>
            @{
                if (Model.TicketTypeList != null && Model.TicketTypeList.Count > 0)
                {
                    foreach (var item in Model.TicketTypeList)
                    {
                        if (item.DataValue != "-1")
                        {
                            <div class="tik_type_div">
                                <div class="type_input_noti"><input type="checkbox" class="tik_type_checkbox" data-id="@item.Id" id="tik_type_checkbox_@item.Id" /></div> <div class="tik_type" data-id="@item.Id" id="tik_type_@item.Id" data-status="@item.DataValue.Replace(" ", "")">@item.DisplayText</div>
                            </div>
                        }
                    }
                }
            }
        </div>
        <div class="notify_right_data hidden">
            <input type="text" id="notify_id" class="hidden" />
            <div class="emailText_div">
                <div class="emailText_header">@Localize.T("Email Template")</div>
                <textarea class="tinymce" id="email_text_notify"></textarea>
            </div>
            <div class="smsText_div">
                <div class="smsText_header">@Localize.T("SMS Text")</div>
                <input type="text" id="sms_text_notify" />
            </div>
        </div>
    </div>
</div>
<div class="resch_ticket_footer">
    <button id="SaveTicketNotification">Save</button>
</div>