@{
    Layout = null;
    string DomainURL = AppConfig.DomainSitePath;
}
@using AppConfig = HS.Framework.Utils.AppConfig;
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>
    @*var PdfLocation = '/@ViewBag.PdfLocation';*@
</script>

<html>
<head>
    @Styles.Render("~/styles/GetEstimate")
    <script>
        var clicked = false;
        var sigclicked = false;
        var ViewBagId = "@ViewBag.Id";
        var ViewBagTicketId = "@ViewBag.TicketId";
        var domainurl = "@DomainURL";
        var signaturePad;



    </script>


    @Scripts.Render("~/scripts/TicketPreviewPopupJS")
</head>
<body>
    <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
        <img title="Close" src="~/Content/Icons/cross_update.png">
    </div>
    <div class="HeadContents">
        <h4>Print preview</h4>
        <span>To print, right-click the preview and select Print. Or, click the Print icon if you see one below.</span>

    </div>

    <div class="bodyConentsDiv">
        <iframe class="pdf-styles" id="iframePdf" src="@(AppConfig.DomainSitePath)/Ticket/PrintTicket/?Id=@ViewBag.Id&&TicketId=@ViewBag.TicketId"></iframe>
    </div>

    <div class="footerContents">
        <button onclick="parent.ClosePopup()" class="btnCancel">Cancel</button>
        <button onclick="printFrameTicket('iframePdf')" class="btnPrint">Print</button>
       
        @if(PermissionChekcer.IsPermitted(Permissions.CustomerTicketPermission.SendTicketPDFEmail))
        {
            <button onclick="parent.SendTicketEmail()" class="btnPrint">Send Email</button>
        }
    </div>
</body>
</html>