@{
    Layout = null;
}
@model List<HS.Entities.EmailTemplate>
@using Localize= HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig; 

<script>
    var OpenEmailTemplate = function (templateId) {
        OpenTopToBottomModal("@(AppConfig.DomainSitePath)/Email/EditEmailtemplate/?Id=" + templateId);
    }
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    });

</script>

    <table class="EmailTemplateTable">
        <thead>
            <tr>
                <th>@Localize.T("Template Name")</th>
                <th>@Localize.T("Template Description")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div>@Localize.T("Name") <span>:</span> </div>
                        <div><span class="cus-anchor" onclick="OpenEmailTemplate(@item.Id)">@item.Name</span></div>
                    </td>
                    <td>
                        <div>@Localize.T("Description") <span>:</span></div>
                        <div>@item.Description</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*@foreach (var item in Model)
    {
        <div class="templateItem col-md-4" onclick="OpenEmailTemplate(@item.Id)">
            <div class="previewDiv">
                <img class="previewImg" src="/email/EmailTemplatePreview/?Id=@item.Id" />
            </div>
            <div class="DescriptionDiv"> 
                <div>
                    <span>@item.Description</span>
                </div>
                
            </div>
        </div>
    }*@
