@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Email/Templates.css" rel="stylesheet" />
<script>
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var OpenEmailTemplateTab = function () {
        $(".Email_TemplateLoad").html(LoaderDom);
        $(".Email_TemplateLoad").load("@(AppConfig.DomainSitePath)/Email/EmailTemplate/");
    }
    var OpenTextTemplateTab = function () {
        $(".Text_TemplateLoad").html(LoaderDom);
        $(".Text_TemplateLoad").load("@(AppConfig.DomainSitePath)/SMS/SMSTemplate/");
    }
    //[Shariful-30-9-19]
    var OpenFileTemplateTab = function () {
        $(".File_TemplateLoad").html(LoaderDom);
        $(".File_TemplateLoad").load("@(AppConfig.DomainSitePath)/File/FileTemplate/");
    }
    //[~Shariful-30-9-19]
    var OpenAgreementTemplateTab = function () {
        $(".Agreement_TemplateLoad").html(LoaderDom);
        $(".Agreement_TemplateLoad").load("@(AppConfig.DomainSitePath)/File/ContractAgreementTemplate/");
    }
    $(document).ready(function () {
        OpenEmailTemplateTab();
        $('ul.templates_nav_bar li a').click(function (e) {
            if (!TabPopStateCheck) {
                window.history.pushState({ urlPath: window.location.pathname }, "", $(e.target).attr('tabname'));
            }
            TabPopStateCheck = false;
        });
        if (top.location.hash != '') {
            if ($("[tabname='" + top.location.hash + "']").length > 0) {
                TabPopStateCheck = true;
                $("[tabname='" + top.location.hash + "']").click();
            }
        }
    });
</script>
<div class="templates_container container-fluid">
    <div class="templates_header">@Localize.T("Email & SMS Templates")</div>
    <ul class="nav nav-tabs templates_nav_bar">
        <li class="active TimeClockTabHead" onclick="OpenEmailTemplateTab()">
            <a tabname="#EmailTemplates" data-target=".Email_TemplateLoad" data-toggle="tab">@Localize.T("Email Templates")</a>
        </li>
        <li class="PtoTabHead" onclick="OpenTextTemplateTab()">
            <a tabname="#SMSTemplates" data-target=".Text_TemplateLoad" data-toggle="tab">@Localize.T("SMS Templates")</a>
        </li>
        <!--[Shariful-30-9-19]-->
        @if (PermissionChekcer.IsPermitted(Permissions.MenuPermissions.QuickMenuMyCompanyFileTemplateSettings))
        {
            <li class="PtoTabHead" onclick="OpenFileTemplateTab()">
                <a tabname="#FileTemplates" data-target=".File_TemplateLoad" data-toggle="tab">@Localize.T("File Templates")</a>
            </li>
        }
        <li class="PtoTabHead" onclick="OpenAgreementTemplateTab()">
            <a tabname="#AgreementTemplate" data-target=".Agreement_TemplateLoad" data-toggle="tab">@Localize.T("Agreement Templates")</a>
        </li>
        <!--[~Shariful-30-9-19]-->
    </ul>
    <div class="TimeClock-tabs">
        <div class="nav-detail-contents">
            <div class="tab-content">
                <div class="tab-pane active Email_TemplateLoad">

                </div>
                <div class="tab-pane Text_TemplateLoad">

                </div>
                <!--[Shariful-30-9-19]-->
                <div class="tab-pane File_TemplateLoad">

                </div>
                <!--[~Shariful-30-9-19]-->
                <div class="tab-pane Agreement_TemplateLoad">

                </div>
            </div>
        </div>
    </div>
</div>