
@{
    Layout = null;
}
@using System.Collections;
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@model HS.Entities.Estimator
<script src="~/Content/JQuery/jquery-3.1.1.js"></script>
<link href="~/Content/Css/Estimator/EstimatorFilter.css" rel="stylesheet" />

<script>
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";

    var SaveCheckItemAndSendContract = function () { 
        parent.ResetCheckvalue();

        if ($("#GroupedbyNone").is(":checked")) {
            parent.CheckValue.GroupedbyNone = true;
        }
        if ($("#GroupedbyCategory").is(":checked")) {
            parent.CheckValue.GroupedbyCategory = true;
        }
        if ($("#GroupedbySupplier").is(":checked")) {
            parent.CheckValue.GroupedbySupplier = true;
        }
        if ($("#GroupedbyLabor").is(":checked")) {
            parent.CheckValue.GroupedbyLabor = true;
        }
        if ($("#GroupedbyMaterial").is(":checked")) {
            parent.CheckValue.GroupedbyMaterial = true;
        }
        if ($("#GroupedbyLaborAndMaterial").is(":checked")) {
            parent.CheckValue.GroupedbyLaborAndMaterial = true;
        }

        //if ($("#ShowEveryThing").is(":checked")) {
        //    parent.CheckValue.ShowEverything = true;
        //}
        if ($("#IncludeProfit").is(":checked")) {
            parent.CheckValue.IncludeProfit = true;
        }
        if ($("#IncludeMargin").is(":checked")) {
            parent.CheckValue.IncludeMargin = true;
        }
        if ($("#IncludeOverhead").is(":checked")) {
            parent.CheckValue.IncludeOverhead = true;
        }
        if ($("#IncludeCost").is(":checked")) {
            parent.CheckValue.IncludeCost = true;
        }

        if ($("#WithoutPricing").is(":checked")) {
            parent.CheckValue.WithoutPricing = true;
        }
        if ($("#OneTimeService").is(":checked")) {
            parent.CheckValue.OneTimeService = true;
        }
        if ($("#WithoutIndividualMaterialPricing").is(":checked")) {
            parent.CheckValue.WithoutIndividualMaterialPricing = true;
        }
        if ($("#WithoutIndividualLaborPricing").is(":checked")) {
            parent.CheckValue.WithoutIndividualLaborPricing = true;
        }
        if ($("#IncludeImages").is(":checked")) {
            parent.CheckValue.IncludeImage = true;
        }
        if ($("#IncludePDFs").is(":checked")) {
            parent.CheckValue.IncludePDF = true;
        }
        if ($("#IncludeService").is(":checked")) {
            parent.CheckValue.IncludeService = true;
        }

        parent.OpenEstimatorContract();
        parent.ClosePopup();
        //parent.CreateEstimatorPdf();
    }
    var SaveCheckItem = function () { 
        parent.ResetCheckvalue();

        if ($("#GroupedbyNone").is(":checked")) {
            parent.CheckValue.GroupedbyNone = true;
        }
        if ($("#GroupedbyCategory").is(":checked")) {
            parent.CheckValue.GroupedbyCategory = true;
        }
        if ($("#GroupedbySupplier").is(":checked")) {
            parent.CheckValue.GroupedbySupplier = true;
        }
        if ($("#GroupedbyLabor").is(":checked")) {
            parent.CheckValue.GroupedbyLabor = true;
        }
        if ($("#GroupedbyMaterial").is(":checked")) {
            parent.CheckValue.GroupedbyMaterial = true;
        }
        if ($("#GroupedbyLaborAndMaterial").is(":checked")) {
            parent.CheckValue.GroupedbyLaborAndMaterial = true;
        }

        //if ($("#ShowEveryThing").is(":checked")) {
        //    parent.CheckValue.ShowEverything = true;
        //}
        if ($("#IncludeProfit").is(":checked")) {
            parent.CheckValue.IncludeProfit = true;
        }
        if ($("#IncludeMargin").is(":checked")) {
            parent.CheckValue.IncludeMargin = true;
        }
        if ($("#IncludeOverhead").is(":checked")) {
            parent.CheckValue.IncludeOverhead = true;
        }
        if ($("#IncludeCost").is(":checked")) {
            parent.CheckValue.IncludeCost = true;
        }

        if ($("#WithoutPricing").is(":checked")) {
            parent.CheckValue.WithoutPricing = true;
        }
        if ($("#OneTimeService").is(":checked")) {
            parent.CheckValue.OneTimeService = true;
        }
        if ($("#WithoutIndividualMaterialPricing").is(":checked")) {
            parent.CheckValue.WithoutIndividualMaterialPricing = true;
        }
        if ($("#WithoutIndividualLaborPricing").is(":checked")) {
            parent.CheckValue.WithoutIndividualLaborPricing = true;
        }
        if ($("#IncludeImages").is(":checked")) {
            parent.CheckValue.IncludeImage = true;
        }
        if ($("#IncludePDFs").is(":checked")) {
            parent.CheckValue.IncludePDF = true;
        }
        if ($("#IncludeService").is(":checked")) {
            parent.CheckValue.IncludeService = true;
        }
        if ($("#IncludeManufacturers").is(":checked")) {
            parent.CheckValue.IncludeManufacturer = true;
        }
        if ($("#IncludeVariation").is(":checked")) {
            parent.CheckValue.IncludeVariation = true;
        }

        parent.OpenEstimatorPreview();
        parent.ClosePopup();
        //parent.CreateEstimatorPdf();
    }
    var SetCheckboxStatus = function () {
        console.log("parent.CheckValue.GroupedbyNone", parent.CheckValue.GroupedbyNone);
        console.log("parent.CheckValue.GroupedbyNone", parent.CheckValue.GroupedbyNone);
        if (parent.CheckValue.GroupedbyNone == true) {
            $("#GroupedbyNone").prop('checked', true);
        }
        if (parent.CheckValue.GroupedbyCategory == true) {
            $("#GroupedbyCategory").prop('checked', true);
        }
        if (parent.CheckValue.GroupedbySupplier == true) {
            $("#GroupedbySupplier").prop('checked', true);
        }
        if (parent.CheckValue.GroupedbyLabor == true) {
            $("#GroupedbyLabor").prop('checked', true);
        }
        if (parent.CheckValue.GroupedbyMaterial == true) {
            $("#GroupedbyMaterial").prop('checked', true);
        }
        if (parent.CheckValue.GroupedbyLaborAndMaterial == true) {
            $("#GroupedbyLaborAndMaterial").prop('checked', true);
        }



        //if (parent.CheckValue.ShowEverything == true) {
        //    $("#ShowEveryThing").prop('checked', true);
        //}
        if (parent.CheckValue.IncludeProfit == true) {
            $("#IncludeProfit").prop('checked', true);
        }
        if (parent.CheckValue.IncludeMargin == true) {
            $("#IncludeMargin").prop('checked', true);
        }
        if (parent.CheckValue.IncludeOverhead == true) {
            $("#IncludeOverhead").prop('checked', true);
        }
        if (parent.CheckValue.IncludeCost == true) {
            $("#IncludeCost").prop('checked', true);
        }
        if (parent.CheckValue.WithoutPricing == true) {
            $("#WithoutPricing").prop('checked', true);
        }
        if (parent.CheckValue.OneTimeService == true) {
            $("#OneTimeService").prop('checked', true);
        } 
        if (parent.CheckValue.WithoutIndividualMaterialPricing == true) {
            $("#WithoutIndividualMaterialPricing").prop('checked', true);
        }
        if (parent.CheckValue.WithoutIndividualLaborPricing == true) {
            $("#WithoutIndividualLaborPricing").prop('checked', true);
        }
        if (parent.CheckValue.IncludeImage == true) {
            $("#IncludeImages").prop('checked', true);
        }
        if (parent.CheckValue.IncludePDF == true) {
            $("#IncludePDFs").prop('checked', true);
        }
        if (parent.CheckValue.IncludeService == true) {
            $("#IncludeService").prop('checked', true);
        }
        if (parent.CheckValue.IncludeManufacturer == true) {
            $("#IncludeManufacturers").prop('checked', true);
        }
        if (parent.CheckValue.IncludeVariation == true) {
            $("#IncludeVariation").prop('checked', true);
        }
    }
    $(document).ready(function () {
        $(".estimator_filter_height").height(window.innerHeight - 84);

        SetCheckboxStatus();
    });

    $(window).resize(function () {
        $(".estimator_filter_height").height(window.innerHeight - 84);
    })
</script>

<div class="estimator_filter_container">
    <div class="estimator_filter_header">
        <span>@Localize.T("Select A Proposal To Print")</span>
        <div class="CloseButtonDiv" onclick="parent.ClosePopup()" style="text-align:right; cursor:pointer">
            <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png">
        </div>
    </div>
    <div class="estimator_filter_height">
        <div class="estimator_filter_inner">
            <div class="est_filt_block">
                <div class="est_filt_header">
                    @Localize.T("Grouped by")
                </div>
                <div class="est_filt_info">
                    <div>
                        <label><input type="radio" name="GroupBy" id="GroupedbyNone" /> @Localize.T("None")</label>
                    </div>
                    <div>
                        <label><input type="radio" name="GroupBy" id="GroupedbyCategory" /> @Localize.T("Category")</label>
                    </div>
                    <div>
                        <label><input type="radio" name="GroupBy" id="GroupedbyLabor" /> @Localize.T("Labor")</label>
                    </div>
                    <div>
                        <label><input type="radio" name="GroupBy" id="GroupedbyLaborAndMaterial" /> @Localize.T("Labor & Material")</label>
                    </div>
                    <div>
                        <label><input type="radio" name="GroupBy" id="GroupedbyMaterial" /> @Localize.T("Material")</label>
                    </div>
                    <div>
                        <label><input type="radio" name="GroupBy" id="GroupedbySupplier" /> @Localize.T("Supplier")</label>
                    </div>
                </div>
            </div>
            <div class="est_filt_block">
                <div class="est_filt_header">
                    Filters
                </div>
                <div class="est_filt_info">
                    <div>
                        <label><input type="checkbox" id="IncludeCost" value="IncludeCost" />@Localize.T("Include Cost")</label>
                    </div>
                    <div>
                        <label><input type="checkbox" id="IncludeImages" value="IncludeImages" />@Localize.T("Include Images")</label>
                    </div>
                    <div>
                        <label><input type="checkbox" id="IncludeManufacturers" class="IncludeManufacturers" value="IncludeManufacturers" />@Localize.T("Include Manufacturers")</label>
                    </div>
                    <div>
                        <label><input type="checkbox" id="IncludeMargin" value="IncludeMargin" />@Localize.T("Include Margin")</label>
                    </div>
                    <div>
                        <label><input type="checkbox" id="IncludeOverhead" value="IncludeOverhead" />@Localize.T("Include Overhead")</label>
                    </div>
                    <div>
                        <label><input type="checkbox" id="IncludePDFs" value="IncludePDFs" />@Localize.T("Include PDFs")</label>
                    </div>
                    <div>
                        <label><input type="checkbox" id="IncludeProfit" value="IncludeProfit" />@Localize.T("Include Profit")</label>
                    </div>
                    <div>
                        <label><input type="checkbox" id="IncludeService" class="IncludeService" value="IncludeService" />@Localize.T("Include Service")</label>
                    </div>
                    <div>
                        <label><input type="checkbox" id="IncludeVariation" class="IncludeVariation" value="IncludeVariation" />@Localize.T("Include Variation")</label>
                    </div>
                    <div>
                        <label><input type="checkbox" id="WithoutIndividualLaborPricing" value="WithoutIndividualLaborPricing" />@Localize.T("Without Individual Labor Pricing")</label>
                    </div>
                    <div>
                        <label><input type="checkbox" id="WithoutIndividualMaterialPricing" value="WithoutIndividualMaterialPricing" />@Localize.T("Without Individual Material Pricing")</label>
                    </div>
                    <div>
                        <label><input type="checkbox" id="WithoutPricing" value="WithoutPricing" />@Localize.T("Without Pricing")</label>
                    </div>
                    <div style="margin-top:12px;">
                        <label><input type="checkbox" id="OneTimeService" value="OneTimeService" />@Localize.T("One Time Service")</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="estimator_filter_footer">
        @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.ShowEstimatorSendContract))
        {
            <button onclick="SaveCheckItemAndSendContract()" class="btn green_button btnInv InvoiceSaveButton desktop_estimate_save">@Localize.T("Send Contract")</button>

        }
        <button onclick="SaveCheckItem()" class="btn green_button btnInv InvoiceSaveButton desktop_estimate_save">@Localize.T("Submit")</button>

    </div>
</div>

