@model HS.Entities.CreateCustomerEstimator
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@{
    Layout = null;
}
@using System.Collections;


<html>
<head>
        @Styles.Render("~/styles/SendEmailInvoiceCS")
    <script>
        var PdfLocation = '@ViewBag.pdfLocation';
        var CustomerGuid = '@Model.CustomerId';
        var EstimatorId = '@Model.Estimator.Id';

    </script>
    <script src="~/Content/Jquery-ui/jquery.js"></script>
    <script src="~/Content/Js/Estimator/SendEmailEstimator.js"></script>
    <script src="~/Content/Tiny/jquery.tinymce.min.js"></script>
    <script src="~/Content/Tiny/tinymce.min.js"></script>
    <script src="~/Content/Tiny/tiny.js"></script>

</head>
@{
    Hashtable datatemplate = new Hashtable();
    datatemplate.Add("CustomerName", Model.CustomerName);
    datatemplate.Add("ExpirationDate", Model.Estimator.CompletionDate);
    datatemplate.Add("SalesPhone Number", ViewBag.SalesPhone);
    datatemplate.Add("CompanyName", Model.CompanyName);
    datatemplate.Add("SalesGuy", ViewBag.SalesGuy);
    datatemplate.Add("url", ViewBag.url);
    string emailtemplate = HS.Web.UI.Helper.LabelHelper.ParserHelper(Model.EmailTemplate.BodyContent, datatemplate);
}
<body>
    <div class="send_mail_invoice_container">

        <div class="send_mail_invoice_header">
            @Localize.T("Send email")
            <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
                <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png">
            </div>
        </div>


        <div class="width_50p_firstdiv">
            <div class="row">
                <div class="col-md-6">
                    @Localize.T("Email")
                </div>
                <div class="col-md-6">
                    @Model.Estimator.EmailAddress
                    <input type="hidden" value="@Model.Estimator.EmailAddress" id="Estimator_EmailAddress">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Localize.T("Cc")
                </div>
                <div class="col-md-6">
                    <input type="text" @*value="@Model.CustomerEmailAddress"*@ class="EmailSubject" placeholder="Add cc email by ';' separator" id="CCEmail">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Localize.T("Subject")
                </div>
                <div class="col-md-6">
                    <input type="text" value="New Estimate from @Model.CompanyName: @Model.Estimator.EstimatorId" class="EmailSubject" placeholder="Subject" id="EmailSubject">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="emailbody" style="font-weight:600">@Localize.T("Body")</div>
                    <textarea class="txtEmailbody tinymce" id="Description" name="Description">@emailtemplate</textarea>
                </div>
            </div>

            <div class="">
                <h4>@Localize.T("Send TEXT MSG")</h4>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Localize.T("Contact Number")
                </div>
                <div class="col-md-6">
                    <input class="ContactNumber" type="text" value="@Model.CustomerContactNumber" placeholder="Contact Number" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="emailbody">@Localize.T("TEXT MSG Body")</div>
                    <textarea rows="3" id="SMSDescription" name="SMSDescription">@Model.SMSBody</textarea>
                    <label class="label black">*@Localize.T("'##url##' will be replaced by actual url.")</label>
                </div>
            </div>
        </div>

        @if (Request.Browser.IsMobileDevice)
        {
            <object data='@ViewBag.pdfLocation'>
                <p class="">Oops! You don't support PDFs!</p>
                <button class="btn btnPdfDownLoadForMo"><a href="@ViewBag.pdfLocation" id="PdfDownLoadForPhone" download>Download Instead</a></button>
            </object>
        }
        else
        {
            <div class="width_50p_pdf" id="pdfView">
                <iframe class="pdf_styles_send_mail_invoice @(string.IsNullOrWhiteSpace(ViewBag.pdfLocation)?"hidden":"")" id="iframePdf" src="@ViewBag.pdfLocation"></iframe>
            </div>
        }

        <div class="send_email_invoice_footerContents">
            <button onclick="parent.ClosePopup()" class="btnCancel">@Localize.T("Cancel")</button>
            <button class="btn btnSaveAndClose">@Localize.T("Send Email")</button>
            <button class="btn btnSendTextAndClose">@Localize.T("Send TEXT MSG")</button>
            @*<button class="btn btnSendToBoth">@Localize.T("Send To Both")</button>*@
        </div>
    </div>
</body>
</html>

