
@{
    Layout = null;
}
@using AppConfig = HS.Framework.Utils.AppConfig;
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    });
</script>
 
@model List<HS.Entities.SalesMatrix>

@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/SalesMatrix")
@Scripts.Render("~/scripts/SalesMatrix")
<script>

</script>

<div class="Inventory-Page-wrap" id="page-wrap">
    <div class="">
        <div id="page-slide" class="page-header slide">
            <div class="row">
                <div class="matrix_container_left">
                    <div class="matrixsearchbardiv hidden">
                        <div class="input-group add-on">
                            @*"txt-input" Class removed*@
                            <input class="form-control" placeholder="Find a sales matrix" name="srch-term" id="srch-term" type="text">
                            <div class="input-group-btn">
                                <button class="btn custom-btn green_button" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="matrix_container_right">
                    @if (PermissionChekcer.IsPermitted(Permissions.MyCompanyPermissions.SalesMatrixAdd))
                    {
                    <button class="btn btn-primary" id="AddNewProduct" type="button" data-toggle="modal" data-target="#myModal2">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
                    </button>
                    } 
                </div>
            </div>
            <div class="inventory-popup">
                <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            </div>

                            <div class="modal-body">
                                <div id="NewProductCategory">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div> 
           
        <div class="custom-table">
            <table class="display" id="tblinfo">
                <thead class="table-head-border header_none">
                    <tr>
                        <th class="thead-th-style">
                            @Localize.T("Type")
                        </th>
                        <th class="thead-th-style">
                            @Localize.T("Min")
                        </th>
                        <th class="thead-th-style">
                            @Localize.T("Max")
                        </th>
                        <th class="thead-th-style">
                            @Localize.T("UserX")
                        </th>
                        <th class="thead-th-style">
                            @Localize.T("Difference")
                        </th>
                        @*<th class="thead-th-style">
                            @Localize.T("Actions")
                        </th>*@
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr class="tr-style">
                                <td class="table-body-td-style custom_content" valign="top">
                                    <label class="mobile_hd manual_padding_top">@Localize.T("Type")<span>:</span></label>
                                    <a href="javascript:void(0)" @*onclick="EditSalesMatrix()"*@ class="item-edit" data-id="@item.Id" id="@item.Id" data-toggle="modal" >
                                        <span class="info_styles manual_padding_top">@item.Type</span>
                                    </a>        
                                </td>
                                <td class="table-body-td-style custom_content" valign="top">
                                    <label class="mobile_hd manual_padding_top">@Localize.T("Min")<span>:</span></label>
                                    <span class="info_styles manual_padding_top">@Math.Round(item.Min, 3)</span>
                                </td>
                                <td class="table-body-td-style custom_content" valign="top">
                                    <label class="mobile_hd">@Localize.T("Max")<span>:</span></label>
                                    <span class="info_styles">@Math.Round(item.Max,3)</span>
                                </td>
                                <td class="table-body-td-style custom_content" valign="top">
                                    <label class="mobile_hd">@Localize.T("UserX")<span>:</span></label>
                                    <span class="info_styles">@Math.Round(item.UserX,3)</span>
                                </td>
                                <td class="table-body-td-style custom_content" valign="top">
                                    <label class="mobile_hd">@Localize.T("Difference")<span>:</span></label>
                                    @if (item.Difference != null)
                                    {
                                        <span class="info_styles">@Math.Round(item.Difference.Value, 3)</span>
                                    }
                                    else
                                    {
                                        <span class="info_styles">0</span>
                                    }
                                </td>
                                @*<td class="table-body-td-style custom_content info_action" valign="top">
                                        <label class="mobile_hd info_action_header">@Localize.T("Actions")</label>
                                        <span class="info_styles">
                                            @if (PermissionChekcer.IsPermitted(Permissions.MyCompanyPermissions.SalesMatrixEdit))
                                            {
                                                <a href="javascript:void(0)" class="item-edit" data-id="@item.Id" data-toggle="modal" data-target="#myModal2">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    @Localize.T("Edit")
                                                </a>
                                            }
                                            &nbsp;
                                            @if (PermissionChekcer.IsPermitted(Permissions.MyCompanyPermissions.SalesMatrixDelete))
                                            {
                                                <a href="javascript:void(0)" class="item-delete" data-id="@item.Id">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                    @Localize.T("Delete")
                                                </a>
                                            }
                                        </span>
                                    </td>*@
                            </tr>
                        }
                    }

                </tbody>

            </table>
        </div> 
    </div>
</div>
