@{
    Layout = null;
}
<link href="~/Content/FontAwesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/Css/Home/ERRORPage.css" rel="stylesheet" />
<script src="~/Content/JQuery/jquery-3.1.1.js"></script>
<script>
    var RemovedFlag = '@ViewBag.RemovedFlag';
    var CheckFlag2 = function (Id, flg) {
        var message ='This article has been deleted. Can i undo it? ';
        var modelval = JSON.stringify({
            Id: Id,
            IsFlag: flg,
            comments: message
        });
        var x = $.ajax({
            type: "POST",
            url: "/Sales/FlagedArtical",
            data: modelval,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (flg) {
                    $('.comment_section').show(300)
                } else {
                    $('.comment_section').hide()
                }

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);

            }
        });
    }
    $(document).ready(function () {
        $(".Flag2").change(function () {
            console.log("GG");
            var flg = $(".Flag2").is(":checked");
            var Id = $("#Id").val();
            if (flg) {
                CheckFlag2(Id, flg);
            }
            else {
                if (RemovedFlag.toLowerCase() == "true") {
                    CheckFlag2(Id, flg);
                }
                else {
                    $(this).prop('checked', true);
                }
            }
        });
        $(".LoaderWorkingDiv").hide();
        $(".error_page_container").height(window.innerHeight - 57);
    });
    $(window).resize(function () {
        $(".error_page_container").height(window.innerHeight - 57);
    })
</script>
<style>
    .flag_chk_block {
        float: none;
        position: relative;
        padding: 5px 10px;
        width: 32px;
        height: 32px;
    }
    .flag_chk_block input:before {
        content: "\f024";
        position: absolute;
        color: #ccc;
        font-size: 30px;
        font-family: 'FontAwesome';
        top: 3px;
        right: 3px;
        cursor: pointer;
    }
    .flag_chk_block input:checked:before {
        color: #d71920;
    }
</style>
<div class="error_page_container">
    <input type="hidden" id="Id" value="@Model.Id" />
    <div class="error_page_inner">
        <div class="error_page_icon">
            <i class="fa fa-frown-o"></i>
        </div>

        <div class="error_page_number">
            We're sorry!
        </div>
        <div class="error_page_text_middle">
            This article has been deleted. Please flag
            <div class="as_header" style="text-align:center;">
                <span class="flag_chk_block"> <input type='checkbox' title="@(Model.IsFlag == true ? "Flagged" : "Flag")" class='Flag2' @(Model.IsFlag == true ? "checked" : "") /></span>
            </div>
            
            the article you found this link on and/or notify an admin.
        </div>
        @*<div class="error_page_text_bottom">
                The page you are looking for doesn't exist or an other error occured, <br />
                <a href="@ViewBag.CompanyUrl" class="error_green_text">Go back</a>, or head over to <a href="@ViewBag.CompanyUrl" class="error_green_text">@ViewBag.CompanyUrl</a> to choose a new direction.
            </div>*@
    </div>
</div>

@*<h1>404!</h1>
    <h3>Page not found.uuuu</h3>*@

