
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<!DOCTYPE html>

<html>
<head>
    @{
        if (Request.Browser.IsMobileDevice)
        {
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        }
        else
        {
            <meta name="viewport" content="width=device-width" />
        }
    }
    <title>@(HS.Framework.Utils.AppConfig.PrivatePageTitle)</title> 
    <link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Css/Layout/startmin.css" rel="stylesheet">
    <link href="~/Content/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        .navbar-brand {
           padding: 8px 15px;
         }
        .company-white-logo{
            max-width:100%;
            max-height:100%;
        }
        ul.navbar-top-links{
            margin-top:11px;
        }
        .navbar-top-links li a {
            cursor:pointer;
        }
    </style>
    <script>
        var SiteUrl = '@HS.Framework.Utils.AppConfig.SiteDomain';
</script>
    @RenderSection("styles", required: false)
    <script src="~/Content/Js/Login/domainurl.js"></script>
    <script src="~/Content/Jquery-ui/jquery.js"></script>
    <script src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Js/SignaturePad/SignaturePad.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>*@
    <script src="~/Content/Js/TimeZoneCookieSetup.js"></script>
    <script src="~/Content/Js/Site/Validation.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="PrivateLayoutContents">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header Top-Logo">
                <a class="navbar-brand" href="javascript:void(0)"><img class="company-white-logo" src="@ViewBag.CompanyLogo"></a>
            </div>
            <ul class="navbar-right navbar-top-links">
                <li>
                    @*<a href="/">@Localize.T("Sign in")</a>*@
                </li>
            </ul>
        </nav> 
        @RenderBody()
    </div>
    @Scripts.Render("~/scripts/ModalsPublic")
    @RenderPage("~/Views/Shared/_Modals.cshtml")
</body>
</html>
