@{
    Layout = null;
}
<html itemscope="" itemtype="http://schema.org/LocalBusiness" lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/iEateryContent/Bootstrap/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/iEateryContent/Bootstrap/Css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/iEateryContent/Css/style2.css" rel="stylesheet" />
    <link href="~/Content/Css/Shared/SearchLayout.css" rel="stylesheet" />
    <script src="~/Content/Jquery-ui/jquery.js"></script>
    <script src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Js/Site/Validation.js"></script>
    <script src="~/Content/Js/Layout/utils.js"></script>
    <script src="~/Content/Js/Login/domainurl.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74872235-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-74872235-4');
    </script>


    @*<link href="~/iEateryContent/fontawesome-free-5.12.0-web/css/fontawesome.css" rel="stylesheet" />
        <link href="~/iEateryContent/fontawesome-free-5.12.0-web/css/fontawesome.min.css" rel="stylesheet" />
        <script src="~/scripts/jquery-1.10.2.js"></script>
        <script src="~/iEateryContent/fontawesome-free-5.12.0-web/js/fontawesome.js"></script>
        <script src="~/iEateryContent/fontawesome-free-5.12.0-web/js/fontawesome.min.js"></script>*@

    <script>
        $(document).ready(function () {
            $(".resturant_registration").click(function () {
                window.location.href = "https://app.ieatery.com/login";
            })
        })
    </script>
</head>
<body>
    @Scripts.Render("~/Content/Js/Modals/Modals.js")
    @RenderPage("~/Views/Shared/_Modals.cshtml")
    <div class="footer_fix">
        <header class="search_layout_header">
            <nav class="navbar navbar-light ">
                <a title="Online Ordering System" class="navbar-brand" href="https://www.ieatery.com/">
                    <img src="~/iEateryContent/Images/ieateryapp-logo.png" alt="ieatery-logo">
                </a>
                @*<div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                    </ul>
                </div>*@
                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </button>*@
                <div class="" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link resturant_registration" href="javascript:void(0)">Restaurant Login <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="search_layout_container">
            @RenderBody()
        </div>

        <!-- food-section end hear -->
        <!-- social-section start hear -->
        <footer class="main-footer">
            @*<section class="social-section search_layout_footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-inline text-center">
                                <li class="list-inline-item"><a href="https://www.facebook.com/iEateryapp/"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.ieatery.co/"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.ieatery.co/"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>*@

            <div class="container">
                <div class="col-md-12">
                    <p class="text-center">Copyright © 2017-@DateTime.Now.Year <a href="ieatery.com" style="color:#2ca01c;">iEatery.com</a> | All rights reserved. | <a href="/about-us/terms-and-conditions" target="_blank" style="color:#2ca01c;">Terms & Conditions.</a></p>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>

