@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency();
}
@model HS.Entities.CreateBooking
@using System.Collections;
@using lbl = HS.Web.UI.Helper.LabelHelper
<html>
<head>
</head>
@{ 
    Hashtable datatemplate = new Hashtable();
    datatemplate.Add("ComapnyName", Model.CompanyName);
    datatemplate.Add("Address", Model.CompanyAddress);
    datatemplate.Add("Street", Model.CompanyStreet);
    datatemplate.Add("City", Model.CompanyCity);
    datatemplate.Add("State", Model.CompanyState);
    datatemplate.Add("Zip", Model.CompanyZip);
    datatemplate.Add("CompanyPhone", HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(Model.PhoneNum));
    datatemplate.Add("EmailAddress", Model.CompanyEmail);
    datatemplate.Add("WebAddress", Model.CompanyWebsite);
    datatemplate.Add("CustomerName", Model.CustomerName);
    datatemplate.Add("CustomerStreet", Model.CustomerStreet);
    datatemplate.Add("CustomerCity", Model.CustomerCity);
    datatemplate.Add("CustomerState", Model.CustomerState);
    datatemplate.Add("CustomerZip", Model.CustomerZipCode);
    datatemplate.Add("CustomerAccountNo", Model.CustomerNo);
    string CompanyInfo = lbl.ParserHelper(Model.CompanyInfo, datatemplate);
    string CustomerInfo = lbl.ParserHelper(Model.CustomerInfo, datatemplate);
}
<body style="font-family:sans-serif;">
    <div class="container">
        <div class="tblCompanyInfo">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td><br /></td></tr>
                    <tr>
                        <td style="width:150px;vertical-align:top;">
                            @if (!string.IsNullOrWhiteSpace(Model.CompanyLogo))
                            {
                                <img src="@Model.CompanyLogo" style="width:150px; padding-left:40px;" /><br />
                            }
                           
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:40px;width:60%">
                            @Html.Raw(CompanyInfo) 
                        </td>
                        <td style="float:right; vertical-align:top;width:40%;">
                            <p style="background-color:#4f90bb;height:30px;padding-top:10px;padding-left:10px; color:white"><b>@Model.Booking.BookingId.Replace("BK","BK:")</b> @Model.Booking.CreatedDate.ToString("MM/dd/yy")</p>
                            @if ((Model.Booking.PickUpDate != null && Model.Booking.PickUpDate != new DateTime()) || (Model.Booking.DropOffDate != null && Model.Booking.DropOffDate != new DateTime()))
                            {
                                string PickUpAndDopOffDate = "";
                                if (Model.Booking.PickUpDate != null && Model.Booking.PickUpDate != new DateTime())
                                {
                                    PickUpAndDopOffDate = "<b>PICK UP:</b> " + Model.Booking.PickUpDate.Value.ToString("MM/dd/yy") + " ";
                                }
                                if (Model.Booking.DropOffDate != null && Model.Booking.DropOffDate != new DateTime())
                                {
                                    PickUpAndDopOffDate += "<b>DROP OFF:</b> " + Model.Booking.DropOffDate.Value.ToString("MM/dd/yy");
                                }
                                if (!string.IsNullOrWhiteSpace(PickUpAndDopOffDate))
                                {
                                    <p style="background-color:#4f90bb;height:30px;padding-top:10px;padding-left:10px;color:white">@Html.Raw(PickUpAndDopOffDate)</p>
                                }
                            }

                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (string.IsNullOrWhiteSpace(Model.CompanyStreet))
                            {
                                <br />
                            }
                            <br />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tblBookingInfo">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:30%; padding-left:40px;">
                            @if (string.IsNullOrWhiteSpace(Model.Booking.BillingAddress))
                            {
                                <b>Bill To</b>
                                    @Html.Raw(CustomerInfo)
                            }
                            else
                            {
                                <b>Bill To</b>
                                @Html.Raw(Model.Booking.BillingAddress)
                            }
                        </td>
                        <td style="width:30%"> 
                            @if (!string.IsNullOrWhiteSpace(Model.Booking.PickUpLocation))
                            {
                                <b>Pick up Location:</b>@Html.Raw(Model.Booking.PickUpLocation)
                            }
                        </td> 
                        <td style="width:30%"> 
                            @if (!string.IsNullOrWhiteSpace(Model.Booking.DropOffLocation))
                            {
                                <b>Drop off Location:</b><br />
                                @Html.Raw(Model.Booking.DropOffLocation)
                            }
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
        <br /> 
        <br />
        <div style="margin-top:20px;width:100%;">
            <table style="width:100%;">
                <thead>
                    <tr style="background-color:#4f90bb; color:white;width:100%">
                        <th style="width:60.666%;text-align:left;padding-left:40px"> 
                            ORDER DETAIL
                        </th>
                        <th style="width:11.111%;">AREA</th>
                        <th style="width:11.111%;">QTY</th>
                        <th style="width:13.111%;">RATE</th>
                        @if (Model.Booking.DiscountAmount > 0)
                        {
                            <th style="width:13.111%;">DISCOUNT</th>
                        }
                        <th style="width:15.111%;">AMOUNT</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.BookingDetailsList != null)
                    {
                        foreach (var item in Model.BookingDetailsList)
                        {
                            <tr>
                                <td style="padding-left:40px;">
                                    @if (!string.IsNullOrWhiteSpace(item.Package))
                                    {
                                        <b>@item.Package</b><br />
                                    }
                                    else if (!string.IsNullOrWhiteSpace(item.Included))
                                    {
                                        <b>@item.Included</b><br />
                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.RugType))
                                    {
                                        <span>Rug shape: @item.RugType</span>
                                        if (item.RugType == lbl.RugType.Rectangle || item.RugType == lbl.RugType.Oval || item.RugType == lbl.RugType.Square)
                                        {
                                            <span>(@(item.Width.HasValue ? item.Width.Value + "'" : "0'") @((item.WidthInch.HasValue ? item.WidthInch.Value + "\"" : "0\"")) X @((item.Length.HasValue ? item.Length.Value + "'" : "0'")) @((item.LengthInch.HasValue ? item.LengthInch.Value + "\"" : "0\"")) )</span><br />
                                        }
                                        else
                                        {
                                            <span>(@(item.Radius.HasValue ? item.Radius.Value + "'" : "0'") @(item.RadiusInch.HasValue ? item.RadiusInch.Value + "\"" : "0\""))</span><br />
                                        }

                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.Included))
                                    {
                                        <span>Included: @item.Included</span>
                                    }
                                </td>
                                <td valign="top" style="text-align:center">@item.TotalSize sf</td>
                                <td valign="top" style="text-align:center">@item.Quantity</td>
                                <td valign="top" style="text-align:center">@Currency@lbl.FormatAmount(item.UnitPrice)</td>
                                @if (Model.Booking.DiscountAmount > 0)
                                {
                                    <td valign="top" style="text-align:center">@Currency@lbl.FormatAmount(item.Discount)</td>
                                }
                                <td valign="top" style="text-align:center">@Currency@lbl.FormatAmount(item.TotalPrice)</td>
                            </tr>
                        }
                    }

                    @if (Model.BookingExtraItem != null)
                    {
                        foreach (var item in Model.BookingExtraItem)
                        {
                            <tr>
                                <td style="padding-left:40px;">
                                    <b>@item.EquipName</b><br />
                                    @if (!string.IsNullOrWhiteSpace(item.EquipDetail))
                                    {
                                        <span>@item.EquipDetail</span>
                                    }
                                </td>
                                <td valign="top" style="text-align:center">-</td>
                                <td valign="top" style="text-align:center;">@item.Quantity</td>
                                <td valign="top" style="text-align:center">@Currency@lbl.FormatAmount(item.UnitPrice)</td>
                                @if (Model.Booking.DiscountAmount > 0)
                                {
                                    <td valign="top" style="text-align:center">@Currency@lbl.FormatAmount(item.Discount)</td>
                                }
                                <td valign="top" style="text-align:center">@Currency@lbl.FormatAmount(item.TotalPrice)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div style="width:100%;height:50px;border-bottom:1px solid #4f90bb;position:relative;">
        </div>

        <div style="width:100%;">
            <div style="width:50%;float:left">
                <p style="padding-left:40px">@Model.Booking.BookingMessage</p>
                
            </div>
            <div style="width:50%;float:left;padding-top:10px;">
                <div style="width:100%; float:left;">
                    <div style="width:70%;float:left;text-align:right">
                        <span>Booking Sub Total:</span>
                    </div>
                    <div style="width:30%;float:left;text-align:right;">
                        <h3 style="margin:0px;padding-right:10px;">@Currency@lbl.FormatAmount(Model.SubTotal)</h3>
                    </div>
                </div>

                @if (Model.Booking.DiscountAmount > 0)
                {
                    <div style="width:100%; float:left;">
                        <div style="width:70%;float:left;text-align:right">
                            <span>Total Discount:</span>
                        </div>
                        <div style="width:30%;float:left;text-align:right;">
                            <h3 style="margin:0px;padding-right:10px;">@Currency@lbl.FormatAmount(Model.Booking.DiscountAmount)</h3>
                        </div>
                    </div>
                }

                @if (Model.Booking.Tax.HasValue && Model.Booking.Tax > 0)
                {
                    <div style="width:100%; float:left;">
                        <div style="width:70%;float:left;text-align:right">
                            <span>&nbsp;@Model.Booking.TaxType:</span>
                        </div>

                        <div style="width:30%;float:left;text-align:right;">
                            <h3 style="margin:0px;padding-right:10px;">@Currency@lbl.FormatAmount(Model.Booking.Tax)</h3>
                        </div>
                    </div>

                }

                <div style="width:100%; float:left;">
                    <div style="width:70%;float:left;text-align:right">
                        <span>Amount Due:</span>
                    </div>
                    <div style="width:30%;float:left;text-align:right;">
                        @if (Model.Booking.Tax != null && Model.Booking.Tax != 0)
                        {
                            <h3 style="margin:0px;padding-right:10px;">@Currency@lbl.FormatAmount(Model.SubTotal + Model.Booking.Tax)</h3>
                        }
                        else
                        {
                            <h3 style="margin:0px;padding-right:10px;">@Currency@lbl.FormatAmount(Model.SubTotal)</h3>
                        }
                    </div>
                </div>

            </div>
        </div>


        @if (!string.IsNullOrWhiteSpace(Model.Booking.Signature))
        {
            <div style="width:100%;float:left;">
                <img src="@Model.Booking.Signature" />
                <div style="width:100%;margin-top:5px;">
                    <span>Customer Signature</span>
                </div>
            </div>
        }
    </div>   
    @if (!string.IsNullOrWhiteSpace(Model.CompanyName))
    {
        <div style="width:100%; float:left; margin-top:50px; text-align:center;">
            <span>Thanks for your business!</span><br /> 
            <span>@Model.CompanyName</span><br />
            <span>@Model.CompanyWebsite</span><br />
           
        </div>
    }
</body>
</html>
