@model HS.Entities.Customer
@{
    Layout = null;

    int Index = 1;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionList = HS.Framework.UserPermissions
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper
@Styles.Render("~/styles/OpenEditBillingAddressCS")
<script>
    var Address = '@ViewBag.Address';
    var From = '@ViewBag.From';
</script>

@Scripts.Render("~/scripts/OpenEditBillingAddressJS")

<div class="form-group correspondence-header">
    <div class="heder-txt" style="">@Localize.T("Edit Address")</div>
</div>
<input type="hidden" value="@Model.Id" id="Id" />
<input class="hidden" id="CustomerAddressId" value="@ViewBag.CustomerAddressId" />

<div class="bodyForOpenBillingAddress">


    <div class="form-group clearfix">
        <span class="span-style">@Localize.T("First Name")</span>
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", id = "FirstName", datarequired = "true", placeholder = "First Name", tabindex = Index })
        <label class="label hidden red absolute" rel="FirstName">*@Localize.T("Please enter first name"). </label>
    </div>

    <div class="form-group clearfix">
        <span class="span-style">@Localize.T("Last Name")</span>
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", id = "LastName", datarequired = "true", placeholder = "Last Name", tabindex = Index })
        <label class="label hidden red absolute" rel="LastName">*@Localize.T("Please enter last name"). </label>
    </div>

    <div class="form-group clearfix">
        <span class="span-style">@Localize.T("Business Name")</span>
        @Html.TextBoxFor(x => x.BusinessName, new { @class = "form-control", id = "BusinessName", placeholder = "Business Name", tabindex = Index })
    </div>

    <div class="form-group clearfix">
        <span class="span-style">@Localize.T("Street")</span>
        @Html.TextBoxFor(x => x.Street, new { @class = "form-control", id = "Street", placeholder = "Street", tabindex = Index })
    </div>

    <div class="form-group clearfix">
        <span class="span-style">@Localize.T("City")</span>
        @Html.TextBoxFor(x => x.City, new { @class = "form-control cityList-select2", id = "City", style = "width:100%;text-transform:capitalize", tabindex = Index, placeholder = "City" })
    </div>
    <div class="form-group clearfix width-50p">
        <span class="span-style">@Localize.T("State")</span>
        @Html.TextBoxFor(x => x.State, new { @class = "form-control stateList-select2", id = "State", tabindex = Index, placeholder = "State" })
    </div>

    <div class="form-group clearfix width-50p CityState_insert_div">
        <span class="span-style">@Localize.T("Zip")</span>
        <input type="text" class="form-control" onkeydown="CityStateSearchKeyDown(this,event)" onkeyup="CityStateSearchKeyUp(this,event)" value="@Model.ZipCode" id="ZipCode" placeholder="Zip Code" tabindex="@Index" />
        <div class='tt-menu'>
            <div class='tt-dataset tt-dataset-autocomplete'> </div>
        </div>
    </div>
    <div class="form-group clearfix hidden">
        <span class="span-style">@Localize.T("Customer No")</span>
        @Html.TextBoxFor(x => x.CustomerNo, new { @class = "form-control hidden", id = "CustomerNo", tabindex = Index, placeholder = "Customer No" })
    </div>
    <div class="form-group clearfix"> <a class="btn green_button" id="DiffrentAddressPopup">@Localize.T("Use different address")</a></div>

</div>    
<div class="bodyForOpenBillingAddress_footer">
    <button type="button" class="btn green_button" id="btnBillingAddressOnly"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save")</button>
</div> 

<div style="display:none">
    <a href="" class="DiffrentAddressMagnific">@Localize.T("Diffrent Address Magnific")</a>
</div>                  