@{
    Layout = null;
}
@model HS.Entities.Supplier

@using Localize = HS.Web.UI.Helper.LanguageHelper

<html>
<head>
    @Styles.Render("~/styles/AddSupplier")
    @Scripts.Render("~/scripts/AddSupplier")
    <link href="~/Content/Css/CityStateZipAutoFill.css" rel="stylesheet" />
    <script src="~/Content/Js/CityStateZipAutoFill.js"></script>
</head>
<body>
    <div class="aspopup_header">
        @Localize.T("Vendor Information")
    </div> 
    <div class="container contents add_supplier_contents_div">
        @Html.HiddenFor(x => x.Id, new { id = "id" })
        @Html.HiddenFor(x => x.SupplierId, new { id = "Supplier_SupplierId" })
       
        <div class="aspopup_info_container">
            <div class="aspopup_left companyname_full">
                <span class="span-style">@Localize.T("Company Name")</span>
                @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control", placeholder = "Company Name", id = "CompanyName" })
            </div>
            @*<div class="aspopup_right fullname_full">
                <span class="span-style">@Localize.T("Full Name")</span>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Full Name", datarequired = "true", id = "Name" })
            </div>*@
        </div> 
        <div class="aspopup_info_container">
            <div class="aspopup_left mail_full">
                <span class="span-style">@Localize.T("Email Address")</span>
                @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control", placeholder = "EmailAddress", id = "EmailAddress" })
             </div>
            <div class="aspopup_right person_full">
                <span class="span-style">@Localize.T("Sales Person")</span>
                @*@Html.DropDownListFor(x => x.ContactPerson, ViewBag.SalesPersonList as List<SelectListItem>, new { @class = "form-control", id = "ContactPerson" })*@
                <input type="text" value="@Model.SalesRepName" id="SalesRepName" class="form-control SalesRepName" placeholder="Sales Rep"  />
                <label rel="Name" class="label hidden red position-absolute">*@Localize.T("Contact Person Required")</label>
            </div>
        </div>

        <div class="aspopup_info_container">
            <div class="aspopup_left street_full">
                <span class="span-style">@Localize.T("Street")</span>
                @Html.TextBoxFor(x => x.Street, new { @class = "form-control", placeholder = "Street", id = "Street" })
            </div>
            <div class="aspopup_right zipcode_full CityState_insert_div">
                <span class="span-style">@Localize.T("Zip Code")</span>
                <input type="text" class="form-control" onkeydown="CityStateSearchKeyDown(this,event)" onkeyup="CityStateSearchKeyUp(this,event)" value="@Model.Zipcode" id="ZipCode" placeholder="Zip Code" tabindex=10 />
                <div class='tt-menu'>
                    <div class='tt-dataset tt-dataset-autocomplete'> </div>
                </div>
            </div>
        </div>
        <div class="aspopup_info_container">
            <div class="aspopup_left city_full">
                <span class="span-style">@Localize.T("City")</span>
                @Html.TextBoxFor(x => x.City, new { @class = "form-control", placeholder = "City", id = "City", style = "text-transform:capitalize" })
            </div>
            <div class="aspopup_right state_full">
                <span class="span-style">@Localize.T("State")</span>
                @Html.TextBoxFor(x => x.State, new { @class = "form-control", placeholder = "State", id = "State" })
            </div>
        </div>
        <div class="aspopup_info_container">
            <div class="aspopup_left city_full">
                <span class="span-style">@Localize.T("Phone")</span>
                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "Phone", id = "Phone" })
            </div>
            <div class="aspopup_right phone_full">
                <span class="span-style">@Localize.T("Tax ID")</span>
                @Html.TextBoxFor(x => x.TaxId, new { @class = "form-control", placeholder = "Tax ID", id = "TaxId" })
            </div>
        </div>
        <div class="aspopup_info_container">
            <div class="aspopup_left companyname_full">
                <span class="span-style">@Localize.T("Website")</span>
                @Html.TextBoxFor(x => x.Website, new { @class = "form-control", placeholder = "Website", id = "Website" })
            </div>
        </div> 
        <div class="aspopup_info_container">
            <span class="span-style">@Localize.T("Note")</span>
            @Html.TextAreaFor(x => x.Note, new { @class = "form-control boxheights", placeholder = "", id = "Note" })
        </div>
    </div>

    <hr class="style1">

    <div class="SaveCancelDiv" style="float:right;margin-bottom: 10px;">
        <button class="btn btn-success margto" id="SaveSupplier"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
    </div>
</body>
</html>


