@model List<HS.Entities.Supplier>
@using Localize = HS.Web.UI.Helper.LanguageHelper

@Styles.Render("~/styles/SupplierList")
@Scripts.Render("~/scripts/SupplierList")
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

@*@Scripts.Render("~/scripts/Mmrs")*@
<link href="~/Content/Css/Supplier/SupplierListCustom.css" rel="stylesheet" />

<div class="supplier_list_container">
    @if (PermissionChekcer.IsPermitted(Permissions.ExpensePermissions.ExpneseVendorsSummary))
    {
        <div class="vendor_info_container">
            @*<div class="row">
                    <div class="col-xs-6 vi_left_zero vendor_top_info">

                    </div>
                    <div class="col-xs-6">
                        @Localize.T("Paid")
                    </div>
                </div>*@
            <div class="VendorInfoTopBar">
                <div class="per_vendor_info">
                    <div>@Localize.T("Unpaid Last 365 Days")</div>
                    <div class="vendor_overdue">
                        <div class="vendor_info_amount">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(ViewBag.VendorBillOverDue)</div>
                        <div class="vendor_info_text">Overdue</div>
                    </div>
                    <div class="vendor_openbill">
                        <div class="vendor_info_amount">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(ViewBag.VendorBillOpen)</div>
                        <div class="vendor_info_text">Open Bill</div>
                    </div>
                </div>
                <div class="per_vendor_info_right">
                    <div>@Localize.T("Paid")</div>
                    <div class="vendor_paidlast">
                        <div class="vendor_info_amount">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(ViewBag.VendorBillPaid)</div>
                        <div class="vendor_info_text">Paid Last 30 Days</div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-6">
            @*<div class="icon_container">
                    <i class="fa fa-level-down" aria-hidden="true" style="font-size: x-large;padding-left: 10px;"></i>
                </div>*@
            @*<div class="ActionsDiv">
                    <select class="drop-col">
                        <option value="Batch Actions">@Localize.T("Batch Actions") </option>
                        <option value="Edit">@Localize.T("Edit")</option>
                        <option value="Delete">@Localize.T("Delete")</option>
                    </select>
                </div>*@
            <div class="supplierlist_searchbardiv">
                <div class="input-group add-on">
                    <input class="form-control src_custom" placeholder="Find a Vendor" name="srch-term" id="srch-term" type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-default custom_btn_exp green_button" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 custom_icon_supp">
            <button class="btn download_btn InvExport" id="btnDownloadInvReport">
                <i title="Download" class="glyphicon glyphicon-download-alt FundingReport"></i>
            </button>
            <div class="btn-group supl_top_create_div">
                    @if (PermissionChekcer.IsPermitted(Permissions.ExpensePermissions.ExpneseVendorsAdd))
                    {

                        <button class="btn green_button" id="AddNewSupplier" type="button">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>@Localize.T(" New")
                        </button>
                    }
                    @if (PermissionChekcer.IsPermitted(Permissions.ExpensePermissions.ExpenseVendorsImport))
                    {
                        <button data-toggle="dropdown" class="btn dropdown-toggle green_button" type="button" aria-expanded="false" title="@Localize.T("Import Vendors")">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu import_leads_dropdown">
                            <li><a href="javascript:void(0)" onclick="ExpenseVendorsImportFile()">@Localize.T("Import Vendors")</a></li>
                        </ul>

                    }
                </div>
        </div>
    </div>
    <div class="custom-top-padding">

    </div>

    <div class="custom-table slabp_custom_pad">
        <table class="display" id="tblSupplier">
            <thead class="table-head-border sup_list_header_hide">
                <tr>
                    <th class="thead-th-style sorting">
                        @Localize.T("Vendor/Company")
                    </th>

                    <th class="thead-th-style sorting">
                        @Localize.T("Phone")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Email")
                    </th>
                    <th class="thead-th-style sorting">
                        @Localize.T("Open Balance")
                    </th>
                    <th class="thead-th-style sorting action_header">
                        @Localize.T("Actions")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="tr-style tblsupplier_row_style">
                        <td class="table-body-td-style sup_list_device_row">
                            <label class="sup_list_device_header">@Localize.T("Vendor/Company") <span>:</span></label>
                            <span class="sup_list_device_info">
                                @if (!string.IsNullOrWhiteSpace(item.CompanyName))
                                {
                                    <a href="javascript:void(0)" class="item-edit-name name-anchor-style anc-click" data-id="@item.Id">
                                        @item.CompanyName
                                    </a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)" class="item-edit-name name-anchor-style anc-click" data-id="@item.Id">
                                        @item.ContactPersonName
                                    </a>
                                }
                            </span>
                        </td>
                        <td class="table-body-td-style sup_list_device_row">
                            <label class="sup_list_device_header">@Localize.T("Phone") <span>:</span></label>
                            <span class="sup_list_device_info">@HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(@item.Phone)</span>
                        </td>

                        <td class="table-body-td-style sup_list_device_row">
                            <label class="sup_list_device_header">@Localize.T("Email") <span>:</span></label>
                            <span class="sup_list_device_info">@item.EmailAddress</span>
                        </td>
                        <td class="table-body-td-style sup_list_device_row">
                            <label class="sup_list_device_header">@Localize.T("Open Balance") <span>:</span></label>
                            <span class="sup_list_device_info"></span>
                        </td>
                        <td class="table-body-td-style sup_list_device_row">
                            <label class="sup_list_device_header">@Localize.T("Actions") <span>:</span></label>
                            @if (PermissionChekcer.IsPermitted(Permissions.ExpensePermissions.ExpenseVendorsDelete))
                            {
                                <a href="javascript:void(0)" class="btn red_button vendor_delete_button" id="@item.Id" onclick="DeleteVendor(@item.Id)" title="@Localize.T("Delete")">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            }
                            <div class="btn-group supl_act_div">
                                @if (PermissionChekcer.IsPermitted(Permissions.ExpensePermissions.ExpenseVendorsCreateABill))
                                {
                                    <button class="btn green_button" onclick="OpenBillBySupplierId(@item.Id)" href="Javasicpt:Void(0)">@Localize.T("Create a bill ")</button>
                                }
                                <button class="dropdown-toggle btn green_button" data-toggle="dropdown" title="@Localize.T("Edit")">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="EditSupplier" data-id="@(item.Id)" href="javascript:void(0)">@Localize.T("Edit")</a></li>
                                </ul>

                            </div>


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="custom-pager hidden">
        <ul class="pager">
            <li><a href="javascript:void(0)">@Localize.T("Previous")</a></li>
            <li><a href="javascript:void(0)">@Localize.T("Next")</a></li>
        </ul>
    </div>

</div>






