@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/AddFile")

<style>
    div.show-image {
        position: relative;
        float: left;
        /*margin:5px;*/
    }
        /*div.show-image:hover img{
        opacity:0.5;
    }
    div.show-image:hover iframe{
        opacity:0.5;
    }*/
        div.show-image input {
            position: absolute;
            display: block;
        }

            div.show-image input.deleteDoc {
                top: 0;
                left: 91%;
                background-color: #d0d0d0;
                border-radius: 27px;
            }
</style>
<script>
    var UserFileUploadjqXHRData;
    var UploadSupplierId = '@ViewBag.SupplierId';
    $(document).ready(function () {
        var SaveCustomerFile = function () {
            var url = domainurl + "/Supplier/SaveSupplierFile/";
            var param = JSON.stringify({
                File: $("#UploadedPath").val(),
                Description: $("#description").val(),
                supplierid: UploadSupplierId
            });
            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: url,
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    $(".close").trigger("click");
                    OpenSuccessMessageNew("Success!", "File Saved Successfully!", "");
                    parent.$(".existing_supplierFile").load(domainurl + "/Supplier/SupplierDocument?id=" + UploadSupplierId);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });

        }
        $("#SaveCustomerFiles").click(function () {
            if (CommonUiValidation()) {
                SaveCustomerFile();
            }
        });
        $("#UploadCustomerFileBtn").click(function () {
            $("#UploadedFile").click();
            $("#UploadSuccessMessage").addClass('hidden');
        });

        $('#UploadedFile').fileupload({
            pasteZone: null,
            url: domainurl + '/Supplier/UploadSupplierDocument?id=' + UploadSupplierId,
            dataType: 'json',
            add: function (e, data) {
                if ($("#description").val() == "") {
                    var filename = data.fileInput[0].value.split('\\').pop();
                    $("#description").val(filename);
                }
                UserFileUploadjqXHRData = data;
            },
            progress: function (e, data) {
                var percentVal = parseInt(data.loaded / data.total * 100, 10);
                $(".file-progress").show();
                $(".file-progress .progress-bar").animate({
                    width: percentVal + "%"
                }, 40);
                $(".file-progress .progress-bar span").text(percentVal + '%');
            },
            done: function (event, data) {
                setTimeout(function () {
                    $(".file-progress").hide();
                    $(".file-progress .progress-bar").animate({
                        width: 0 + "%"
                    }, 0);
                    $(".file-progress .progress-bar span").text(0 + '%');
                }, 500);
                console.log(data.result);
                if ((typeof (data.result.isUploaded) != "undefined") && data.result.isUploaded == true) {
                    $("#UploadSuccessMessage").removeClass('hidden');
                    //$("#UploadCustomerFileBtn").addClass('hidden');
                    $("#UploadedPath").val(data.result.filePath);
                }
            },
            fail: function (event, data) {
                if (data.files[0].error) {
                    alert(data.files[0].error);
                }
            }
        });
        $("#UploadedFile").on("change", function () {
            if (UserFileUploadjqXHRData) {
                UserFileUploadjqXHRData.submit();
            }
            return false;
        });
    });
</script>
<div class="add_file_header">@Localize.T("Upload File")</div>
<div class="container_addfile">
    <div class="addfile_inner_info">@Localize.T("Allowed file types: doc, docx, xls, xlsx, jpg, jpeg, gif, png, rtf, pdf, txt") </div>
    <div class="addfile_inner_info">@Localize.T("(max file size: 20 mb)")</div>

    <span class="content-type">@Localize.T("Description")</span>
    <div class="txt_form_add_file">
        <input type="text" id="description" name="description" class="form-control content-text" datarequired="true" />
        <br /><label rel="description" class="label hidden red position-absolute">*@Localize.T("Description Required")</label>
    </div>
    @*<div>
            <br />
        </div>*@
    <div class="txt_form_add_file Upload_Doc">
        <div class="col-md-12 padding-left-0">
            <img id="UploadCustomerFileBtn" class="cursor-pointer" src="~/Content/Icons/blank_thumb_file.png" />
            <div class="" style="margin-top: 15px;">
                <span id="UploadSuccessMessage" class="hidden">@Localize.T("File Uploaded Successfully..!")</span>
            </div>
        </div>

        <div class="col-md-12 progress-container file-progress" style="display:none; padding-left:0; padding-right:0; margin-top: 15px;">
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" style="width:0%">
                    <span> 0%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="LoadPreviewDocument hidden">
        <div class="show-image">
            <img id="Preview_Doc" src="" width="319" height="455" />
            <input class="deleteDoc" title="@Localize.T("Close")" type="image" src="~/Content/Icons/cross_update.png" />
        </div>
    </div>
    <div class="LoadPreviewDocument1 hidden">
        <div class="show-image">
            <iframe id="Frame_Doc" src="" width="319" height="455"></iframe>
            <input class="deleteDoc" type="image" title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png" />
        </div>
    </div>
</div>
<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn btn_file" id="SaveCustomerFiles"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>

        </div>
    </footer>
</section>
<div class="">
    <input type="hidden" id="UploadedPath" value="" />
    <input type="file" name="SupplierFile" class="hidden" id="UploadedFile" />
</div>

