
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model IEnumerable<HS.Entities.VehicleDetail>
@using AppConfig = HS.Framework.Utils.AppConfig;
 
<script>
    $(document).ready(function () {
        $(".icon_sort_vehicle").click(function (e) { 
            var OrderBy = $(e.target).attr('orderby');
            LoadVehicleListByOrder(OrderBy);
        });
    });
</script>
<table class="vehicle_list_table">
    <thead>
        <tr>
            <th>
                <div>@Localize.T("Vehicle No")</div>
                <div>
                    <i class="fa fa-angle-up icon_sort_vehicle" orderby="asc-VehicleNo"></i>
                    <i class="fa fa-angle-down icon_sort_vehicle" orderby="desc-VehicleNo"></i>
                </div>
            </th>
            <th>
                <div>@Localize.T("Driver")</div>
                <div>
                    <i class="fa fa-angle-up icon_sort_vehicle" orderby="asc-DriverName"></i>
                    <i class="fa fa-angle-down icon_sort_vehicle" orderby="desc-DriverName"></i>
                </div>
            </th>
            <th>
                <div>@Localize.T("VIN")</div>
                <div>
                    <i class="fa fa-angle-up icon_sort_vehicle" orderby="asc-VIN"></i>
                    <i class="fa fa-angle-down icon_sort_vehicle" orderby="desc-VIN"></i>
                </div>
            </th>
            <th>
                <div>@Localize.T("License No")</div>
                <div>
                    <i class="fa fa-angle-up icon_sort_vehicle" orderby="asc-LicenseNO"></i>
                    <i class="fa fa-angle-down icon_sort_vehicle" orderby="desc-LicenseNO"></i>
                </div>
            </th>
            <th>
                <div>@Localize.T("Year")</div>
                <div>
                    <i class="fa fa-angle-up icon_sort_vehicle" orderby="asc-Year"></i>
                    <i class="fa fa-angle-down icon_sort_vehicle" orderby="desc-Year"></i>
                </div>
            </th>
            <th>
                <div>@Localize.T("Make")</div>
                <div>
                    <i class="fa fa-angle-up icon_sort_vehicle" orderby="asc-Make"></i>
                    <i class="fa fa-angle-down icon_sort_vehicle" orderby="desc-Make"></i>
                </div>
            </th>
            <th>
                <div>@Localize.T("Model")</div>
                <div>
                    <i class="fa fa-angle-up icon_sort_vehicle" orderby="asc-Model"></i>
                    <i class="fa fa-angle-down icon_sort_vehicle" orderby="desc-Model"></i>
                </div>
            </th>
            <th>
                <div>@Localize.T("Mileage Data")</div>
                <div>
                    <i class="fa fa-angle-up icon_sort_vehicle" orderby="asc-MillageData"></i>
                    <i class="fa fa-angle-down icon_sort_vehicle" orderby="desc-MillageData"></i>
                </div>
            </th>
            @*<th>
                    @Localize.T("Expiration Tag")
                </th>
                <th>
                    @Localize.T("Toll Tag")
                </th>*@

            <th>
                @Localize.T("Action")
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="vehicle_list_table_device_header">@Localize.T("Vehicle No")</div>
                    <div class="vehicle_list_table_device_info"><a href="javascript:void(0)" class="cus-anchor" onclick="OpenRightToLeftModal('@(AppConfig.DomainSitePath)/VehicleManagement/AddNewVehicle?Id=@item.Id')">@item.VehicleNo</a></div>

                </td>
                <td>
                    <div class="vehicle_list_table_device_header">@Localize.T("Driver")</div>
                    <div class="vehicle_list_table_device_info">@(string.IsNullOrWhiteSpace(item.DriverName) ? "-" : item.DriverName)</div>

                </td>
                <td>
                    <div class="vehicle_list_table_device_header">@Localize.T("VIN")</div>
                    <div class="vehicle_list_table_device_info">@Html.DisplayFor(modelItem => item.VIN)</div>
                </td>
                <td>
                    <div class="vehicle_list_table_device_header">@Localize.T("License No")</div>
                    <div class="vehicle_list_table_device_info">@Html.DisplayFor(modelItem => item.LicenseNO)</div>
                </td>
                <td>
                    <div class="vehicle_list_table_device_header">@Localize.T("Year")</div>
                    <div class="vehicle_list_table_device_info">@Html.DisplayFor(modelItem => item.Year)</div>
                </td>
                <td>
                    <div class="vehicle_list_table_device_header">@Localize.T("Make")</div>
                    <div class="vehicle_list_table_device_info">@Html.DisplayFor(modelItem => item.Make)</div>
                </td>
                <td>
                    <div class="vehicle_list_table_device_header">@Localize.T("Model")</div>
                    <div class="vehicle_list_table_device_info">@Html.DisplayFor(modelItem => item.Model)</div>
                </td>
                <td>
                    <div class="vehicle_list_table_device_header">@Localize.T("Millage Data")</div>
                    <div class="vehicle_list_table_device_info">@Html.DisplayFor(modelItem => item.MillageData)</div>
                </td>
                @*<td>
                        <div class="vehicle_list_table_device_header">@Localize.T("Expiration Tag")</div>
                        <div class="vehicle_list_table_device_info">@Html.DisplayFor(modelItem => item.ExpirationTag)</div>
                    </td>
                    <td>
                        <div class="vehicle_list_table_device_header">@Localize.T("Toll Tag")</div>
                        <div class="vehicle_list_table_device_info">@Html.DisplayFor(modelItem => item.TollTag)</div>
                    </td>*@

                <td>
                    <div class="vehicle_list_table_device_header">@Localize.T("VIN")</div>
                    <div class="vehicle_list_table_device_info">
                        <a href="javascript:void(0)" class="cus-anchor" onclick="RepairLogList('@item.VehicleId')">Repair Log</a><span>/</span>
                        <a href="javascript:void(0)" class="cus-anchor" onclick="MilageLogList('@item.VehicleId')">Milage Log</a><span>/</span>
                        <a id="delete" onclick="DeleteVehicle(@item.Id)" title="@Localize.T("Delete")"><i class="fa fa-trash-o"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>