@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.VehicleDetail
<script src="~/Content/Js/VehicleManagement/VehicleDetails.js"></script>
<link href="~/Content/Css/VehicleManagement/AddNewVehicle.css" rel="stylesheet" />
<link href="~/Content/Css/Lead/PackagePartial.css" rel="stylesheet" />
<link href="~/Content/Css/LeadEquipment/LeadEquipment.css" rel="stylesheet" />
<link href="~/Content/Css/LeadEquipment/LeadSetupEquipments.css" rel="stylesheet" />
<script>
    var VehicleIN = '@ViewBag.Vin';
    var VehicleId = '@ViewBag.VehicleId';
</script>
<script src="~/Content/Js/AddNewMileage/mileagedata.js"></script>

<div style="position: absolute;height: 100%;width: 100%;z-index: 9;display:none;" class="MilageLoader">
    <div style="width: 100%;background: white;opacity: 0.6;height: 100%;position: absolute;" class="MiLoaderFadein"></div>
    <div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>
</div>

<div>
    <div class="add_customer_follow_up_header">
        <span>@Localize.T("Add New Mileage")@(string.IsNullOrWhiteSpace(ViewBag.Vin) ? "" : string.Format(" for {0} [{1}]", ViewBag.VehicleNo , ViewBag.Vin))</span> 
    </div>
    <div class=""> 
        <table class="LeadEquipmentTab" id="mileagedatatab">
            <thead class="header_text_style">
                <tr>
                    <th class="thead-th-style1 tab-index">
                        <span>

                        </span>
                    </th>
                    <th class="thead-th-style1 tab-Vehicleno @(string.IsNullOrWhiteSpace(ViewBag.VehicleId) ? "" : "hidden")">
                        <span>
                            @Localize.T("Vehicle No")
                        </span>
                    </th>
                    <th class="thead-th-style2 tab-MileageData">
                        <span>
                            @Localize.T("Mileage Data")
                        </span>
                    </th>
                    <th class="thead-th-style2 tab-InteriorClean">
                        <span>
                            @Localize.T("Interior Clean")
                        </span>
                    </th>
                    <th class="thead-th-style2 tab-ExteriorClean">
                        <span>
                            @Localize.T("Exterior Clean")
                        </span>
                    </th>
                    <th class="thead-th-style2 tab-Vaccumed">
                        <span>
                            @Localize.T("Vaccumed")
                        </span>
                    </th>
                    <th class="thead-th-style2 tab-EquipmentOrganized">
                        <span>
                            @Localize.T("Equipment Organized")
                        </span>
                    </th>
                    <th class="thead-th-style2 tab-Action">

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr @(string.IsNullOrWhiteSpace(ViewBag.VehicleId) ?"":string.Format("data-id='{0}' class=HasItem", ViewBag.VehicleId))>
                    <td valign="top"></td>
                    <td valign="top" class="tdVehicleNo @(string.IsNullOrWhiteSpace(ViewBag.VehicleId) ? "" : "hidden")">
                        <input type="text" class="VehicleNo" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                        <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                        <span class="spnVehicleNo"></span>
                    </td>
                    <td valign="top">
                        <input type="text" class="txtMileageData" />
                        <span class="spnMileageData"></span>
                    </td>
                    <td valign="top">
                        <input type="checkbox" class="chkInteriorClean" />
                    </td>
                    <td valign="top">
                        <input type="checkbox" class="chkExteriorClean" />
                    </td>
                    <td valign="top">
                        <input type="checkbox" class="chkVaccumed" />
                    </td>
                    <td valign="top">
                        <input type="checkbox" class="chkEquipmentOrganized" />
                    </td>
                    <td valign="top" class="tableActions">
                        <i class="fa fa-trash-o" aria-hidden="true" title="@Localize.T("Delete")"></i>
                    </td>
                </tr>
                <tr @(string.IsNullOrWhiteSpace(ViewBag.VehicleId) ?"":string.Format("data-id='{0}' class=HasItem", ViewBag.VehicleId))>
                    <td valign="top"></td>
                    <td valign="top" class="tdVehicleNo @(string.IsNullOrWhiteSpace(ViewBag.VehicleId) ? "" : "hidden")">
                        <input type="text" class="VehicleNo" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                        <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                        <span class="spnVehicleNo"></span>
                    </td>
                    <td valign="top">
                        <input type="text" class="txtMileageData" />
                        <span class="spnMileageData"></span>
                    </td>
                    <td valign="top">
                        <input type="checkbox" class="chkInteriorClean" />
                    </td>
                    <td valign="top">
                        <input type="checkbox" class="chkExteriorClean" />
                    </td>
                    <td valign="top">
                        <input type="checkbox" class="chkVaccumed" />
                    </td>
                    <td valign="top">
                        <input type="checkbox" class="chkEquipmentOrganized" />
                    </td>
                    <td valign="top" class="tableActions">
                        <i class="fa fa-trash-o" aria-hidden="true" title="@Localize.T("Delete")"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="followUp_SaveCancelDiv">
            <button id="btnSaveMilageLog" type="button" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save")</button>
        </div>
    </div>
</div>

