@{
    Layout = null;
} 
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.VehicleDetail
<script src="~/Content/Js/VehicleManagement/VehicleDetails.js"></script>
<link href="~/Content/Css/VehicleManagement/AddNewVehicle.css" rel="stylesheet" />
<div class="add_customer_follow_up_header">
    <span>@Localize.T("Add New Vehicle")</span>
</div>
<div class="add_followup_reminder_container">
    <div class="row">
        <div class="col-md-12 add_followup_reminder_body">

            <div class="form-group clearfix item_margin">
                <span class="text-custom">*@Localize.T("Vehicle NO")</span>
                <input type="text" class="form-control" value="@Model.VehicleNo" name="VehicleNo" id="VehicleNO" placeholder="@Localize.T("Vehicle NO")" datarequired="true"/>
                <label rel="VehicleNo" id="VehicleNoError" class="label hidden red position-absolute">*@Localize.T("Enter Vehicle No.")</label>
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">*@Localize.T("VIN")</span>
                <input type="text" class="form-control" id="VIN" value="@Model.VIN" name="VIN" placeholder="@Localize.T("VIN")"datarequired="true" />
                <label rel="VIN" id="VINError" class="label hidden red position-absolute">*@Localize.T("Enter VIN.")</label>
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("License Plate")</span>
                <input type="text" class="form-control" id="LicenseNO" value="@Model.LicenseNO" name="LicenseNO" placeholder="@Localize.T("License Plate")"/>
                <label rel="LicenseNO" id="LicenseNOError" class="label hidden red position-absolute">*@Localize.T("Enter License NO.")</label>
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("Year")</span>
                <input type="text" class="form-control" id="Year" value="@Model.Year" name="Year" placeholder="@Localize.T("Year: 'yyyy'")" />
                <label rel="Year" id="YearError" class="label hidden red position-absolute">*@Localize.T("Enter Year.")</label>
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("Make")</span>
                <input type="text" class="form-control" id="Make" value="@Model.Make" name="Make" placeholder="@Localize.T("Make")" />
                <label rel="Make" id="MakeError" class="label hidden red position-absolute">*@Localize.T("Enter Make.")</label>
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">*@Localize.T("Model")</span>
                <input type="text" class="form-control" id="Model" value="@Model.Model" name="Model" placeholder="@Localize.T("Model")"datarequired="true" />
                <label rel="Model" id="ModelError" class="label hidden red position-absolute">*@Localize.T("Enter Model.")</label>
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("Millage Data")</span>
                <input type="text" class="form-control" id="MillageData" value="@Model.MillageData" name="MillageData" placeholder="@Localize.T("Millage Data")" />
                <label rel="MillageData" id="MillageDataError" class="label hidden red position-absolute">*@Localize.T("Enter Millage Data.")</label>
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("Expiration Tag")</span>
                <input type="text" class="form-control" id="ExpirationTag" value="@Model.ExpirationTag" name="ExpirationTag" placeholder="@Localize.T("Expiration Tag")"/>
                
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("Toll Tag")</span>
                <input type="text" class="form-control" id="TollTag" value="@Model.TollTag" name="TollTag" placeholder="@Localize.T("Toll Tag")"/>
                
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("Quick Book No")</span>
                <input type="text" class="form-control" id="QuickBookNo" value="@Model.QuickBookNo" name="QuickBookNo" placeholder="@Localize.T("Quick Book No")"/>
                
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="vehicleId" value="@Model.Id"/>
<input type="hidden" id="vehicleGuidId" value="@Model.VehicleId" />
<section class="footer-section">
    <footer class="footer">
        <div class="followUp_SaveCancelDiv">
            <button id="btnSaveHrVehicle" type="button" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save")</button>
        </div>
    </footer>
</section>
