
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.VehicleDetail

<link href="~/Content/Css/VehicleManagement/AddNewVehicle.css" rel="stylesheet" />
<link href="~/Content/Css/Lead/PackagePartial.css" rel="stylesheet" />
<link href="~/Content/Css/LeadEquipment/LeadEquipment.css" rel="stylesheet" />
<link href="~/Content/Css/LeadEquipment/LeadSetupEquipments.css" rel="stylesheet" />

<script>
    var VehicleIN = '@ViewBag.Vin';
    var VehicleId = '@ViewBag.VehicleId';
    var DriverId = '@ViewBag.DriverId';
    var DriverName = '@ViewBag.DriverName';
</script> 
<script src="~/Content/Js/VehicleManagement/AddRepairLog.js"></script>

<div style="position: absolute;height: 100%;width: 100%;z-index: 9;display:none;" class="MilageLoader">
    <div style="width: 100%;background: white;opacity: 0.6;height: 100%;position: absolute;" class="MiLoaderFadein"></div>
    <div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>
</div>

<div>
    <div class="add_customer_follow_up_header">
        <span>@Localize.T("Add New Repair Log") @(string.IsNullOrWhiteSpace(ViewBag.Vin) ? "" : string.Format(" for {0} [{1}]", ViewBag.VehicleNo , ViewBag.Vin))</span>
    </div>
    <div class=""> 
        <table class="LeadEquipmentTab" id="mileagedatatab">
            <thead class="header_text_style">
                <tr>
                    <th class="thead-th-style1 tab-index">
                        <span>

                        </span>
                    </th>
                    <th class="thead-th-style1 tab-Vehicleno @(string.IsNullOrWhiteSpace(ViewBag.VehicleId) ? "" : "hidden")">
                        <span>
                            @Localize.T("Vehicle No")
                        </span>
                    </th>
                    @*<th class="thead-th-style2 tab-MileageData">
                        <span>
                            @Localize.T("Driver")
                        </span>
                    </th>*@
                    <th class="thead-th-style2 tab-InteriorClean">
                        <span>
                            @Localize.T("Repair Date")
                        </span>
                    </th>
                    <th class="thead-th-style2 tab-ExteriorClean">
                        <span>
                            @Localize.T("Spent")
                        </span>
                    </th>
                    <th class="thead-th-style2 tab-Vaccumed">
                        <span>
                            @Localize.T("Tire Rotation")
                        </span>
                    </th>
                    <th class="thead-th-style2 tab-EquipmentOrganized">
                        <span>
                            @Localize.T("Oil Change")
                        </span>
                    </th>
                    <th class="thead-th-style2 tab-EquipmentOrganized">
                        <span>
                            @Localize.T("Note")
                        </span>
                    </th>
                    <th class="thead-th-style2 tab-Action">

                    </th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    string Classs= "";
                    string AttrData = "";
                    string AttrDriver = "";
                    if (!string.IsNullOrWhiteSpace(ViewBag.VehicleId))
                    {
                        Classs = "HasItem";
                        AttrData =  string.Format("data-id={0}", ViewBag.VehicleId);
                        if (!string.IsNullOrWhiteSpace(ViewBag.DriverId))
                        {
                            Classs += " HasDriver";
                            AttrDriver = string.Format("driver-id={0} ", ViewBag.DriverId);
                        }
                    }
                }
                <tr class="@Classs" @AttrData @AttrDriver>
                    <td valign="top"></td>
                    <td valign="top" class="tdVehicleNo @(string.IsNullOrWhiteSpace(ViewBag.VehicleId) ? "" : "hidden")">
                        <input type="text" class="VehicleNo" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                        <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                        <span class="spnVehicleNo"></span>
                    </td>
                    @*<td valign="top">
                        <input type="text" onkeydown="SearchKeyDown(this,event)" onkeyup="DriverSearchKeyUp(this,event)" value="@ViewBag.DriverName" class="txtDriver" />
                        <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                        <span class="spnDriver">@ViewBag.DriverName</span>
                    </td>*@
                    <td valign="top">
                        <input type="text" class="txtRepairDate" />
                        <span class="spnRepairDate"></span>
                    </td>
                    <td valign="top">
                        <input type="text" class="txtSpent" />
                        <span class="spnSpent"></span>
                    </td>
                    <td valign="top">
                        <input type="text" class="txtTireRotation" />
                        <span class="spnTireRotation"></span>
                    </td>
                    <td valign="top">
                        <input type="text" class="txtOilChange" />
                        <span class="spnOilChange"></span>
                    </td>
                    <td valign="top">
                        <input type="text" class="txtNote" />
                        <span class="spnNote"></span>
                    </td>
                    <td valign="top" class="tableActions">
                        <i class="fa fa-trash-o" aria-hidden="true" title="@Localize.T("Delete")"></i>
                    </td>
                </tr>
                <tr class="@Classs" @AttrData @AttrDriver>
                    <td valign="top"></td>
                    <td valign="top" class="tdVehicleNo @(string.IsNullOrWhiteSpace(ViewBag.VehicleId) ? "" : "hidden")">
                        <input type="text" class="VehicleNo" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                        <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                        <span class="spnVehicleNo"></span>
                    </td>
                    @*<td valign="top">
                        <input type="text" onkeydown="SearchKeyDown(this, event)" value="@ViewBag.DriverName" onkeyup="DriverSearchKeyUp(this, event)" class="txtDriver" />
                        <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                        <span class="spnDriver">@ViewBag.DriverName</span>
                    </td>*@
                    <td valign="top">
                        <input type="text" class="txtRepairDate" />
                        <span class="spnRepairDate"></span>
                    </td>
                    <td valign="top">
                        <input type="text" class="txtSpent" />
                        <span class="spnSpent"></span>
                    </td>
                    <td valign="top">
                        <input type="text" class="txtTireRotation" />
                        <span class="spnTireRotation"></span>
                    </td>
                    <td valign="top">
                        <input type="text" class="txtOilChange" />
                        <span class="spnOilChange"></span>
                    </td>
                    <td valign="top">
                        <input type="text" class="txtNote" />
                        <span class="spnNote"></span>
                    </td>
                    <td valign="top" class="tableActions">
                        <i class="fa fa-trash-o" aria-hidden="true" title="@Localize.T("Delete")"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="followUp_SaveCancelDiv">
            <button id="btnSaveMilageLog" type="button" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save")</button>
        </div>
    </div>
</div>

