@{ 
    Layout = null;
}
@model HS.Entities.VehicleDetail

@using Localize = HS.Web.UI.Helper.LanguageHelper

<script src="~/Content/Js/VehicleManagement/VehicleDetails.js"></script>

<table class="udi_table">
    <tr class="info-table-tr">
        <td class="udi_title">
            <label>@Localize.T("VIN")</label>
            @Html.TextBoxFor(x => x.VIN, new { @class = "form-control" })
        </td>
        <td class="udi_data">
            <label>@Localize.T("License NO")</label>
            @Html.TextBoxFor(x => x.LicenseNO, new { @class = "form-control" })
        </td>
    </tr>
    <tr class="info-table-tr">
        <td class="udi_title">
            <label>@Localize.T("Year")</label>
            @Html.TextBoxFor(x => x.Year, new { @class = "form-control" })
        </td>
        <td class="udi_data">
            <label>@Localize.T("Make")</label>
            @Html.TextBoxFor(x => x.Make, new { @class = "form-control" })
        </td>
    </tr>
    <tr class="info-table-tr">
        <td class="udi_title">
            <label>@Localize.T("Model")</label>
            @Html.TextBoxFor(x => x.Model, new { @class = "form-control" })
        </td>
        <td class="udi_data">
            <label>@Localize.T("MillageData")</label>
            @Html.TextBoxFor(x => x.MillageData, new { @class = "form-control" })
        </td>

    </tr>
  
    <tr class="info-table-tr">
        <td class="udi_title">
            <label>@Localize.T("ExpirationTag")</label>
            @Html.TextBoxFor(x => x.ExpirationTag, new { @class = "form-control" })
        </td>
        <td class="udi_data">
            <label>@Localize.T("TollTag")</label>
            @Html.TextBoxFor(x => x.TollTag, new { @class = "form-control" })
        </td>
    </tr>
   
    <tr class="info-table-tr">
        <td class="udi_title"></td>
        <td class="udi_data udi_data_custom">
            <button class="style-btn-custom" id="btnSaveHrVehicle"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        </td>
    </tr>
 
</table>
<input type="hidden" value="@Model.Id" id="vehicleId"/>
<input type="hidden" value="@ViewBag.userId" id="vehicle_userId" />