@{
    Layout = null;
}
@model List<HS.Entities.VehicleRepairLog>
@using HS.Framework
@using Localize = HS.Web.UI.Helper.LanguageHelper
<style>
    .container_addfile{
        overflow-y:scroll;
        padding-bottom: 20px;
    }
</style>
<div class="vehicle_repair_list_container" id="repairTable"> 
    <div class="vehicle_repair_list_header">
        <span>@Localize.T("Vehicle Repair Log For ")@ViewBag.VehicleNo [@ViewBag.VIN]</span>
    </div>
    <div class="vehicle_repair_list_inner">
        <div class="new_vehicle_repair_log_btn_container">
            <button class="add_customer_file" onclick="AddVehicleRepairLog('@ViewBag.VehicleId')" @*id="AddNewProduct"*@ type="button">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
            </button>
        </div>
        <input type="hidden" value="@ViewBag.VehicleId" id="VehiCleRepairId" />
        <div class="vehicle_repair_list_table_container">
            <table class="vehicle_repair_list_table">
                <thead>
                    <tr> 
                        <th>
                            Driver
                        </th>
                        <th>
                            Repair Date
                        </th>
                        <th>
                            Spent
                        </th>
                        <th>
                            Tire Rotation
                        </th>
                        <th>
                            Oil Change
                        </th>
                        <th>
                            Note
                        </th>
                        <th>
                            Added By
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr> 
                            <td>
                                @item.DriverName
                            </td> 
                            <td>
                                @(item.RepairDate != new DateTime() ? item.RepairDate.ToString("MM/dd/yy") : "-")
                            </td>
                            <td>
                                <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.Spent)</span>
                            </td>
                            <td>
                                @(item.TireRotation.HasValue? item.TireRotation.Value.ToString("MM/dd/yy"):"-")
                            </td>
                            <td>
                                @(item.OilChange.HasValue ? item.OilChange.Value.ToString("MM/dd/yy") : "-")
                            </td>
                            <td>
                                @item.Note
                            </td>
                            <td>
                                @item.CreatedBy on @string.Format(item.CreatedDate.UTCToClientTime().ToString("MM/dd/yy hh:mm tt"))
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
