@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

@model List<HS.Entities.VehicleMileageLog>
<style>
    .container_addfile {
        overflow-y: scroll;
        padding-bottom: 20px;
    }
</style>
<div class="vehicle_repair_list_container" id="repairTable">
    <div class="vehicle_repair_list_header">
        <span>@Localize.T("Milage Log For ")@ViewBag.VehicleNo [@ViewBag.VIN]</span>
    </div>
    <div class="vehicle_repair_list_inner">
        <div class="new_vehicle_repair_log_btn_container">
            <button class="add_customer_file" onclick="AddMilageLog('@ViewBag.VehicleId')" type="button">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
            </button>
        </div>
        <input type="hidden" value="@ViewBag.VehicleId" id="VehiCleRepairId" />
        <div class="vehicle_repair_list_table_container">
            <table class="vehicle_repair_list_table">
                <thead>
                    <tr>
                        <td>Vehicle No.</td>
                        <td>Milage Data</td>
                        <td>Exterior Clean</td>
                        <td>Interior Clean</td>
                        <td>Vaccumed</td>
                        <td>Equipment Organized</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Vin</td>
                            <td>@item.Mileage</td>
                            <td>@item.ExteriorClean</td>
                            <td>@item.InteriorClean</td>
                            <td>@item.Vaccumed</td>
                            <td>@item.EquipmentOrganized</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>