@{
    Layout = null;
    var CurrentLoggedInUser = ((HS.Web.UI.Helper.CustomPrincipal)(User));
}
@model List<HS.Entities.CustomerFile>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using AppConfig = HS.Framework.Utils.AppConfig;
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />

<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>

<script src="~/Content/momentJs/moment.min.js"></script>
@Styles.Render("~/styles/CustomerFile")
@Scripts.Render("~/scripts/CustomerFile")
<style>
    .item-send{
        color:#2ca01c;
    }
    .customer_file_container {
        width:100%;
        float:left;
        padding-left:0px;
        padding-right:0px;
    }
    #myFileTab > li.active {
    background-color: #2ca01c !important;
    border:1px solid #2ca01c;
    }
    ul#myFileTab {
    margin-top: 10px;
}
    #myFileTab > li {
        border:1px solid #ccc;
    }
    #btnsendEcontract {
        float:right;
            margin-right: 15px;
    margin-top: 15px;
    }
</style>
@*<script src="~/Content/Js/FileDownload/jquery.fileDownload.js"></script>*@
<script>
    var CustomerId = '@ViewBag.CustomerId';
    var SoldBy = '@ViewBag.SoldBy';
    var PermissionFileDocument='@PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerFileDocumentManagement)';
    var LoadCustomerDiv = "#customer_tab_" + CustomerLoadId + " ";
    var CustomerDocLoad = function () {
        $(LoadCustomerDiv + ".LoadCustomerFilesAndDoc").load("/File/LeadDocumentFileManagementPartial?CustomerId=" + CustomerLoadId);

    }
    var CustomerFileLoad = function () {
        $(LoadCustomerDiv + ".LoadCustomerFilesAndDoc").load("/File/CustomerFiles/?id=" + CustomerLoadId + "&soldby=" + SoldBy);
    }
    var QALoad = function () {
        $(LoadCustomerDiv + ".LoadCustomerFilesAndDoc").load("/Customer/CustomerQA/?id=" + CustomerLoadGuid);
    }
    var EconractLoad = function () {
        $(LoadCustomerDiv + ".LoadCustomerFilesAndDoc").load("/Customer/SendContractFromCustomer?CustomerId="+CustomerLoadGuid);
    }

    $(document).ready(function () {

        //if (PermissionFileDocument=='True') {
        //    CustomerDocLoad();
        //}
        //else {
        //    CustomerFileLoad();
        //}
        CustomerFileLoad();
    })
</script>
<div class="invoices_tabs_header">
    <ul class="nav nav-tabs invoices-tabs" id="myFileTab">
        <li class="active AllExpense" onclick="CustomerFileLoad()">
            <a data-target=".AllInactiveFile_Load" data-toggle="tab">@Localize.T("Files")</a>
        </li>
        @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerFileDocumentManagement))
        {
            <li class="AllFunding" onclick="CustomerDocLoad()">
                <a data-target=".AllActiveFile_Load" data-toggle="tab">@Localize.T("File/Document Management")</a>
            </li>
        }

        @if (PermissionChekcer.IsPermitted(Permissions.LeadPermissions.SendEcontractToBrinks))
        {
            <li class="ContractSend" onclick="EconractLoad()">
                <a data-target=".AllInactiveFile_Load" data-toggle="tab">@Localize.T("Send EContract")</a>
            </li>
        }
        @if (PermissionChekcer.IsPermitted(Permissions.LeadPermissions.QATab))
        {
            <li class="QATab" onclick="QALoad()">
                <a data-target=".QA1_Load" data-toggle="tab">@Localize.T("QA")</a>
            </li>
        }
    </ul>

</div>
<div class="LoadCustomerFilesAndDoc">

</div>

