@{
    Layout = null;
}
@model List<HS.Entities.CustomerFile>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
@using AppConfig = HS.Framework.Utils.AppConfig;

<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script src="~/Content/momentJs/moment.min.js"></script>

@Styles.Render("~/styles/CustomerFile")
@Scripts.Render("~/scripts/CustomerFile")

<style>
    .item-send {
        color: #2ca01c;
    }

    .customer_file_container {
        width: 100%;
        float: left;
        padding-left: 0px;
        padding-right: 0px;
    }

    #myFileTab > li.active {
        background-color: #2ca01c !important;
        border: 1px solid #2ca01c;
    }

    ul#myFileTab {
        margin-top: 10px;
    }

    #myFileTab > li {
        border: 1px solid #ccc;
    }
</style>
@*<script src="~/Content/Js/FileDownload/jquery.fileDownload.js"></script>*@
<script>
    var CustomerId = '@ViewBag.CustomerId';
    var SoldBy = '@ViewBag.SoldBy';
    var LoadCustomerDiv = "#customer_tab_" + CustomerId + " ";

    var ActiveFileLoad = function () {
        var SearchText = $("#srch-term").val();
        $.ajax({
            url: "/File/LoadActiveCustomerFiles",
            type: "GET",
            data: {
                id: CustomerId,
                soldby: SoldBy,
                SearchText: SearchText
            },
            success: function (data) {
                $(LoadCustomerDiv + ".LoadCustomerFiles").html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("Error loading files:", textStatus, errorThrown);
            }
        });
    }

    var InactiveFileLoad = function () {
        var SearchText = $("#srch-term").val();
        $.ajax({
            url: "/File/LoadInactiveCustomerFiles",
            type: "GET",
            data: {
                id: CustomerId,
                soldby: SoldBy,
                SearchText: SearchText
            },
            success: function (data) {
                $(LoadCustomerDiv + ".LoadCustomerFiles").html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("Error loading files:", textStatus, errorThrown);
            }
        });
    }

    $(document).ready(function () {

        $(LoadCustomerDiv + ".LoadCustomerFiles").load("/File/LoadActiveCustomerFiles?id=" + CustomerId + "&soldby=" + SoldBy)
    });
</script>

<div class="invoices_tabs_header">
    <ul class="nav nav-tabs invoices-tabs" id="myFileTab">
        <li class="active AllFunding" onclick="ActiveFileLoad()">
            <a data-target=".AllActiveFile_Load" data-toggle="tab">
                @Localize.T("Active")
                <span class="ActiveFilesCounter">
                    @(ViewBag.ActiveFilesCount > 0 ? ViewBag.ActiveFilesCount : "")
                </span>
            </a>
        </li>
        <li class="AllExpense" onclick="InactiveFileLoad()">
            <a data-target=".AllInactiveFile_Load" data-toggle="tab">
                @Localize.T("Inactive")
                <span class="InActiveFilesCounter">
                    @(ViewBag.InActiveFilesCount > 0 ? ViewBag.InActiveFilesCount : "")
                </span>
            </a>
        </li>
    </ul>
</div>

<div class="LoadCustomerFiles">

</div>
