@{
    Layout = null;
}
@model List<HS.Entities.FileTemplate>
@using Localize= HS.Web.UI.Helper.LanguageHelper

@Styles.Render("~/styles/FileTemplate")
@Scripts.Render("~/scripts/FileTemplate")

    <button class="btn green_button" onclick="AddFileTemplate()" type="button">
        <i class="fa fa-upload" aria-hidden="true"></i> @Localize.T(" Upload File")
    </button>
   
    <table class="FileTemplateTable">
        <thead>
            <tr>
                <th>@Localize.T("Template Name")</th>
                <th>@Localize.T("Template Description")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div>@Localize.T("Name") <span>:</span> </div>
                        <div><span class="cus-anchor" onclick="OpenFileTemplate(@item.Id)">@item.FileName</span></div>
                    </td>
                    <td>
                        <div>@Localize.T("Description") <span>:</span> </div>
                        <div> @item.FileDescription</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
