@model HS.Entities.FileTemplateWithCustomerInfo
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig; 
@Styles.Render("~/styles/GetInvoice")
@Scripts.Render("~/scripts/FileTemplateManagement")

@*<link href="~/Content/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/Content/Jquery-ui/jquery.js"></script>
<script src="~/Content/Js/NumberFormet/NumberFormat.js"></script>*@
<link href="~/Content/Css/SmartLeads/GetSmartLeadsForPopUp.css" rel="stylesheet" />

<div id="body_id" class="pba_container">
    <input type="hidden" value="@ViewBag.CustomerId" id="CustomerId" />
    <input type="hidden" value="@ViewBag.FileTemplateId" id="FileTemplateId" />
    <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
    </div>
    <div class="HeadContents">
        <h4>@Localize.T("Print preview")</h4>
        <span>@Localize.T("To print, right-click the preview and select Print. Or, click the Print icon if you see one below.")</span>
    </div>
    <div style="float:left;margin-bottom:10px;margin-left:30px; margin-top:10px;">
        <button class="btnPrint all_button" onclick="printFrame('iframePdf')"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;@Localize.T(" Print")</button>
    </div>
   
            <div class="file_template_iframe_cont" id="AggrementDiv">
                <iframe name="iframe" class="pdf-styles file_template_iframe_height" id="iframePdf" src="@(AppConfig.DomainSitePath)/File/FileInstallation/?FileTemplateId=@ViewBag.FileTemplateId &CustomerId=@ViewBag.CustomerId &UserId=@ViewBag.UserId"></iframe>
            </div>
   
    
    <div class="gslfp_footer">
        <div class="gslfp_footer_inner">
            <div class="input-group add-on">
                <input type="text" value="@Model.customerInfo.EmailAddress" id="EmailAddress" placeholder="ex@mail.com;ex2@mail.com" class="form-control" />
                <div class="input-group-btn">
                    <button class="btn" id="btnSendMail"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;@Localize.T("Email")</button>
                </div>
            </div>
            <div class="input-group add-on">
                <input type="text" value="@Model.customerInfo.PrimaryPhone" id="Phone_no" placeholder="xxx-xxx-xxxx" class="form-control input-phone-format" />
                <div class="input-group-btn">
                    <button class="btn" id="btnSendSMS"><i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp;@Localize.T("SMS")</button>
                </div>
            </div>
            <div class="input-group add-on"> <button class="btn" id="btnSendMailAndSMS">@Localize.T("Send To Both")</button></div>
        </div>
    </div>
</div>
