@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@Scripts.Render("~/scripts/LoadFileTemplateManagement")
@Styles.Render("~/styles/LoadFileTemplateManagement")

<input type="hidden" value="@ViewBag.customerId" id="customerId" />
<div class="ldfmp_container">
  
        <div class="file_selection_div">
            <label>@Localize.T("Select a file")</label>
            @Html.DropDownList("TemplateId", (List<SelectListItem>)ViewBag.FileTemplateList, new { @id = "TemplateId", onchange = "fileTemplateChange()", @class = "form-control TemplateId" })
        </div>

</div>