@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
<link href="~/Content/Css/FeeSetting/FeesPartial.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $(".LoadActivation").load("@(AppConfig.DomainSitePath)/ActivationFee/ActivationFeePartial/");
        $(".LoadMMR").load(domainurl + "/Setup/MMRS/");
        $(".LoadService").load(domainurl + "/ServiceFee/ServiceFeePartial/");
    })
</script>

<div class="container-fluid fluid-style fee_partial_container">
    <h3 class="set2">@Localize.T("Fee Setting")</h3>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs set">
                <li class="active activationlist"><a data-target="#ActivationTab" data-toggle="tab">@Localize.T("Activation Fee")</a></li>
                <li class="mmrlist"><a data-target="#MMRTab" data-toggle="tab">@Localize.T("MMR")</a></li>
               
                <li class="servicelist"><a data-target="#ServiceTab" data-toggle="tab">@Localize.T("Service Fee")</a></li>
               
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="ActivationTab">
                    <div class="LoadActivation"></div>
                </div>
                <div class="tab-pane" id="MMRTab">
                    <div class="LoadMMR"></div>
                </div>
            
                <div class="tab-pane" id="ServiceTab">
                    <div class="LoadService"></div>
                </div>
          
            </div>
        </div>
    </div>
</div>
