@{
    ViewBag.Title = "Contact Details";
    Layout = null;
     var CurrentLoggedInUser = ((HS.Web.UI.Helper.CustomPrincipal)(User));

}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.Opportunity


@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using System.Configuration
@using HS.Framework
@Styles.Render("~/styles/CustomerDetails")


<style>
    .green-tooltip + .tooltip > .tooltip-inner {
        background-color: #2ca01c;
    }

    .red-tooltip + .tooltip > .tooltip-inner {
        background-color: #af0404;
    }

    .OpportunityTab_Load {
        width: 100%;
        float: left;
        padding-top: 10px;
    }
    .green_anchor, .green_anchor:hover{
        cursor:pointer;
        text-decoration:none;
        color:#2ca01c;
    }
</style>
<script>
   
    var EditOpportunity = function (id) {
        OpenTopToBottomModal(domainurl + "/Opportunity/AddOpportunity?id=" + id);
    }
    $(document).ready(function () {
        $(".back-to-OpportunityList").click(function () {
            location.href = "/Opportunities";
        });
    });
</script>


<div class="main-container-customer-detail">

    <div class="detail-contents">
        <div class="nav-detail-contents">
          
            <ul class="nav nav-tabs customer-options-tabs customer_detail_tab_style customer_detail_tab_list" id="myTab">
                <li class="active OpportunityDetailTab">
                    <a tabname="#TicketTab" idval="@Model.OpportunityId" data-target=".TicketTab_Load" data-toggle="tab" onclick="OpenTicketTab()">
                        @Localize.T("Opportunity Detail Tab")

                    </a>
                </li>
            </ul>
            <div class="tab-content tab_Content_customer_items">
                <div class="tab-pane active CustomerDetailTab_Load" id="CustomerDetailTab">


                    <div class="Customer-detailstabcontent">
                        <div class="Customer-details-info-left">
                            <div class="customer-subTab-left-content">


                                <div class="ci_block">
                                    <div class="ci_header clearfix">
                                        <div style="float:left;">@Localize.T("Opportunity Information")</div>
                                        @if (!PermissionChekcer.IsPermitted(Permissions.UserMgmtPermissions.CustomerViewOnly) || Model.AccountOwner == CurrentLoggedInUser.UserId)
                                        {
                                            <div style="float:right;">
                                                <button title="Edit" type="button" @*id="editCustomerCustomerDetailsHeader"*@ onclick="EditOpportunity('@Model.Id')" idval="@Model.Id" class="btn edit-button editCustomerCustomerDetailsHeader green_button">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        }
                                        </div>
                                    <div class="ci_info">
                                        <table class="width-100p ci_table">

                                            <tr class="info-table-tr">
                                                <td class="tr-title">@Localize.T("Opportunity ID") <span>:</span></td>
                                                <td class="tr-data">@Model.Id
                                                <td>
                                            </tr>


                                            <tr class="info-table-tr">
                                                <td class="tr-title">@Localize.T("Name") <span>:</span></td>
                                               
                                                <td class="tr-data">@Model.OpportunityName
                                                <td>
                                            </tr>
                                            @if (!string.IsNullOrEmpty(Model.TypeVal) && Model.TypeVal != "-")
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Type") <span>:</span></td>
                                                    <td class="tr-data">@Model.TypeVal
                                                    <td>
                                                </tr>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.StatusVal) && Model.StatusVal != "-")
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Status") <span>:</span></td>
                                                    <td class="tr-data">@Model.StatusVal
                                                    <td>
                                                </tr>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.CustomerName))
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Customer Name") <span>:</span></td>
                                                    <td class="tr-data">@Model.CustomerName
                                                    <td>
                                                </tr>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.LeadSourceVal) && Model.LeadSourceVal != "-")
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Lead Source") <span>:</span></td>
                                                    <td class="tr-data">@Model.LeadSourceVal
                                                    <td>
                                                </tr>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.DeliveryDaysVal) && Model.DeliveryDaysVal != "-")
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Delivery Days") <span>:</span></td>
                                                    <td class="tr-data">@Model.DeliveryDaysVal
                                                    <td>
                                                </tr>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Revenue))
                                            {
                                                double Revenue = 0;
                                                double.TryParse(Model.Revenue, out Revenue);
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Revenue") <span>:</span></td>
                                                    <td class="tr-data">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Revenue)</td>
                                                </tr>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.ProjectedGP))
                                            {
                                                double ProjectedGP = 0;
                                                double.TryParse(Model.ProjectedGP, out ProjectedGP);
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("ProjectedGP") <span>:</span></td>
                                                    <td class="tr-data">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(ProjectedGP)</td>
                                                </tr>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Points))
                                            {
                                                double Points = 0;
                                                double.TryParse(Model.Points, out Points);
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Points") <span>:</span></td>
                                                    <td class="tr-data">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Points)</td>
                                                </tr>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.TotalProjectedGP))
                                            {
                                                double TotalProjectedGP = 0;
                                                double.TryParse(Model.TotalProjectedGP, out TotalProjectedGP);
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("TotalProjectedGP") <span>:</span></td>
                                                    <td class="tr-data">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(TotalProjectedGP)</td>
                                                    
                                                </tr>
                                            }

                                            <tr class="info-table-tr">
                                                <td class="tr-title">@Localize.T("Probability") <span>:</span></td>
                                                <td class="tr-data">@Model.ProbabilityVal
                                            </tr>
                                            

                                            @if (!string.IsNullOrEmpty(Model.DealReasonVal) && Model.DealReasonVal != "-")
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("DealReason") <span>:</span></td>
                                                    <td class="tr-data">@Model.DealReasonVal
                                                    <td>
                                                </tr>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Competitors))
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Competitors") <span>:</span></td>
                                                    <td class="tr-data">@Model.Competitors
                                                    <td>
                                                </tr>
                                            }

                                            @if (!string.IsNullOrEmpty(Model.CampaignSourceVal) && Model.CampaignSourceVal != "-")
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("CampaignSource") <span>:</span></td>
                                                    <td class="tr-data">@Model.CampaignSourceVal
                                                    <td>
                                                </tr>
                                            }

                                         

                                            @if (!string.IsNullOrEmpty(Model.AccountOwnerName))
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("AccountOwner") <span>:</span></td>
                                                    <td class="tr-data">@Model.AccountOwnerName
                                                    <td>
                                                </tr>
                                            }
                                            @if (Model.CreatedDate != new DateTime())
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Created Date") <span>:</span></td>
                                                    <td class="tr-data">@Model.CreatedDate
                                                    <td>
                                                </tr>
                                            }
                                            @if (Model.CloseDate != new DateTime())
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Close Date") <span>:</span></td>
                                                    <td class="tr-data">@Model.CloseDate
                                                    <td>
                                                </tr>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.AccessGivenToVal))
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Access Given To") <span>:</span></td>
                                                    <td class="tr-data">@Model.AccessGivenToVal
                                                    <td>
                                                </tr>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(Model.CustomerName))
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Related Account") <span>:</span></td>
                                                    <td class="tr-data"><a class="green_anchor" href="/Customer/CustomerDetail?id=@Model.IdCustomer" target="_blank">@Model.CustomerName</a>
                                                    <td>
                                                </tr>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.VehicleConditionVal) && Model.VehicleConditionVal != "-")
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Vehicle Condition") <span>:</span></td>
                                                    <td class="tr-data">@Model.VehicleConditionVal
                                                    <td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




