@{
    Layout = null;
}
@model IEnumerable<HS.Entities.Opportunity>
@using Localize = HS.Web.UI.Helper.LanguageHelper

<div class="opportunities_table_container">
    <table class="opportunities_table">
        <thead>
            <tr>
                <th>
                    <div>@Localize.T("Name")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/opportunityname"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/opportunityname"></i></div>
                </th>


                @*<th>
                        <div>@Localize.T("Type")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/type"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/type"></i></div>
                    </th>

                    <th>
                        <div>@Localize.T("Lead Source")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/leadsource"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/leadsource"></i></div>
                    </th>*@

                <th>
                    <div>@Localize.T("Revenue")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/revenue"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/revenue"></i></div>
                </th>

                @*<th>
                        <div>@Localize.T("Projected GP")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/projectedgp"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/projectedgp"></i></div>
                    </th>

                    <th>
                        <div>@Localize.T("Points")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/points"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/points"></i></div>
                    </th>

                    <th>
                        <div>@Localize.T("Total Projected GP")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/totalprojectedgp"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/totalprojectedgp"></i></div>
                    </th>*@

                <th>
                    <div>@Localize.T("Status")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/status"></i></div>
                </th>

                @*<th>
                        <div>@Localize.T("Probability")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/probability"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/probability"></i></div>
                    </th>


                    <th>
                        <div>@Localize.T("Deal Reason")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/dealreason"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/dealreason"></i></div>
                    </th>

                    <th>
                        <div>@Localize.T("Delivery Days")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/deliveryDays"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/deliveryDays"></i></div>
                    </th>*@

                <th>
                    <div>@Localize.T("Competitors")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/competitors"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/competitors"></i></div>
                </th>

                @*<th>
                        <div>@Localize.T("Campaign Source")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/campaignsource"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/campaignsource"></i></div>
                    </th>

                    <th>
                        <div>@Localize.T("Account Owner")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/accountowner"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/accountowner"></i></div>
                    </th>*@

                <th>
                    <div>@Localize.T("Close Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/closedate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/closedate"></i></div>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {

                <tr class="PrintItem" data-id="@item.Id">

                    <td>
                        <a class="cus-anchor" data-id="@item.Id" onclick="EditOpportunity(@item.Id)">@item.OpportunityName</a>
                        @if (item.TypeVal != "-")
                        {
                            <br /> @Localize.T("Type: ")
                            <span>@item.TypeVal</span>
                        }
                        @if (item.LeadSourceVal != "-")
                        {
                            <br /> @Localize.T("Lead Source: ")
                            <span>@item.LeadSourceVal</span>
                        }

                    </td>
                    @*<td>@item.TypeVal</td>
                        <td>@item.LeadSourceVal</td>*@
                    <td>
                        @if (!string.IsNullOrEmpty(item.Revenue))
                        {
                            @Localize.T("Revenue: ")
                            double Revenue = 0;
                            double.TryParse(item.Revenue, out Revenue);
                            <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Revenue)</span>
                        }
                        @if (!string.IsNullOrEmpty(item.ProjectedGP))
                        {
                            <br /> @Localize.T("Projected GP: ")
                            double ProjectedGP = 0;
                            double.TryParse(item.ProjectedGP, out ProjectedGP);
                            <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(ProjectedGP)</span>


                        }
                        @if (!string.IsNullOrEmpty(item.Points))
                        {
                            <br /> @Localize.T("Points: ")
                            double Points = 0;
                            double.TryParse(item.Points, out Points);
                            <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Points)</span>
                        }
                        @if (!string.IsNullOrEmpty(item.TotalProjectedGP))
                        {
                            <br /> @Localize.T("Total Projected GP: ")
                            <span>@item.TotalProjectedGP</span>
                        }
                    </td>


                    <td>
                        @if (item.StatusVal != "-")
                        {
                            @Localize.T("Status: ")
                            <span>@item.StatusVal</span>
                        }
                        @if (item.ProbabilityVal != "-")
                        {
                            <br /> @Localize.T("Probability: ")
                            <span>@item.ProbabilityVal</span>
                        }
                        @if (item.DealReasonVal != "-")
                        {
                            <br /> @Localize.T("DealReason: ")
                            <span>@item.DealReasonVal</span>
                        }
                        @if (item.DeliveryDaysVal != "-")
                        {
                            <br /> @Localize.T("DeliveryDaysVal: ")
                            <span>@item.DeliveryDaysVal</span>
                        }
                    </td>

                    <td>
                        @if (!string.IsNullOrEmpty(item.Competitors))
                        {
                            @Localize.T("Competitors: ")
                            <span>@item.Competitors</span>
                        }
                        @if (item.CampaignSourceVal != "-")
                        {
                            <br /> @Localize.T("CampaignSource: ")
                            <span>@item.CampaignSourceVal</span>
                        }
                        @if (!string.IsNullOrEmpty(item.AccountOwnerName))
                        {
                            <br /> @Localize.T("Account Owner Name: ")
                            <span>@item.AccountOwnerName</span>
                        }

                    </td>

                    @if (item.CloseDate.HasValue && item.CloseDate != new DateTime())
                    {
                        <td>@item.CloseDate.Value.ToString("MM/dd/yy")</td>
                    }


                </tr>

            }
        </tbody>

    </table>

</div>