@{
    Layout = null;
     var CurrentLoggedInUser = ((HS.Web.UI.Helper.CustomPrincipal)(User));
}
@model IEnumerable<HS.Entities.Opportunity>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<script>
    var pageno = '@ViewBag.PageNumber';
    $(document).ready(function () {
        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            NavigatePageListing(pageno, orderval);
        });

    })

</script>

<div class="opportunity_list_container">
    @if (ViewBag.OutOfNumber == 0)
    {
        @ViewBag.Message;
    }
    else
    {

        <table class="opportunities_table">
            <thead>
                <tr>
                    <th>
                        <div>@Localize.T("Opportunity")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/opportunityname"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/opportunityname"></i></div>
                    </th>


                    @*<th>
                            <div>@Localize.T("Type")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/type"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/type"></i></div>
                        </th>

                        <th>
                            <div>@Localize.T("Lead Source")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/leadsource"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/leadsource"></i></div>
                        </th>*@

                    <th>
                        <div>@Localize.T("Revenue")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/revenue"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/revenue"></i></div>
                    </th>

                    @*<th>
                            <div>@Localize.T("Projected GP")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/projectedgp"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/projectedgp"></i></div>
                        </th>

                        <th>
                            <div>@Localize.T("Points")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/points"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/points"></i></div>
                        </th>

                        <th>
                            <div>@Localize.T("Total Projected GP")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/totalprojectedgp"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/totalprojectedgp"></i></div>
                        </th>*@

                    <th>
                        <div>@Localize.T("Status")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/status"></i></div>
                    </th>

                    @*<th>
                            <div>@Localize.T("Probability")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/probability"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/probability"></i></div>
                        </th>


                        <th>
                            <div>@Localize.T("Deal Reason")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/dealreason"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/dealreason"></i></div>
                        </th>

                        <th>
                            <div>@Localize.T("Delivery Days")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/deliveryDays"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/deliveryDays"></i></div>
                        </th>*@

                    <th>
                        <div>@Localize.T("Campaign")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/competitors"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/competitors"></i></div>
                    </th>

                    @*<th>
                            <div>@Localize.T("Campaign Source")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/campaignsource"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/campaignsource"></i></div>
                        </th>

                        <th>
                            <div>@Localize.T("Account Owner")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/accountowner"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/accountowner"></i></div>
                        </th>*@

                    <th>
                        <div>@Localize.T("Close Date")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/closedate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/closedate"></i></div>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {

                    <tr class="PrintItem" data-id="@item.Id">

                        <td>
                            <div class="opp_header">@Localize.T("Name") <span>:</span></div>
                            <div class="opp_info">
                                @if (!PermissionChekcer.IsPermitted(Permissions.UserMgmtPermissions.CustomerViewOnly) || item.AccountOwner == CurrentLoggedInUser.UserId)
                                {
                                    <a class="cus-anchor" data-id="@item.Id" onclick="EditOpportunity(@item.Id)">@item.OpportunityName</a>
                                }
                                @if (item.TypeVal != "-" && !string.IsNullOrEmpty(item.TypeVal))
                                {
                                    <br /> @Localize.T("Type: ")
                                    <span>@item.TypeVal</span>
                                }
                                @if (!string.IsNullOrEmpty(item.CustomerName))
                                {
                                    <br /> @Localize.T("Account Name: ")
                                    <span>@item.DisplayName</span>
                                }
                                @if (!string.IsNullOrEmpty(item.Competitors))
                                {
                                    <div>
                                        @Localize.T("Competitors: ")
                                        <span>@item.Competitors</span>
                                    </div>
                                }
                            </div>

                        </td>
                        @*<td>@item.TypeVal</td>
                            <td>@item.LeadSourceVal</td>*@
                        <td>
                            <div class="opp_header">@Localize.T("Revenue") <span>:</span></div>
                            <div class="opp_info">
                                @if (!string.IsNullOrEmpty(item.Revenue))
                                {
                                    double Revenue = 0;
                                    double.TryParse(item.Revenue, out Revenue);
                                    <div>
                                        @Localize.T("Revenue: ")
                                        <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Revenue)</span>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(item.ProjectedGP))
                                {
                                    double ProjectedGP = 0;
                                    double.TryParse(item.ProjectedGP, out ProjectedGP);
                                    <div>
                                        @Localize.T("Projected GP: ")
                                        <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(ProjectedGP)</span>
                                    </div>

                                }
                                @if (!string.IsNullOrEmpty(item.Points))
                                {
                                    double Points = 0;
                                    double.TryParse(item.Points, out Points);
                                    <div>
                                        @Localize.T("Points: ")
                                        <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Points)</span>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(item.TotalProjectedGP))
                                {
                                    <div>
                                        @Localize.T("Total Projected GP: ")
                                        <span>@item.TotalProjectedGP</span>
                                    </div>
                                }
                            </div>
                        </td>


                        <td>
                            <div class="opp_header">@Localize.T("Status") <span>:</span></div>
                            <div class="opp_info">
                                @if (item.StatusVal != "-")
                                {
                                    @Localize.T("Status: ")
                                    <span>@item.StatusVal</span>
                                }
                                @if (item.ProbabilityVal != "-")
                                {
                                    <div>
                                        @Localize.T("Probability: ")
                                        <span>@item.ProbabilityVal</span>
                                    </div>
                                }
                                @if (item.DealReasonVal != "-")
                                {
                                    <div>
                                        @Localize.T("Deal Reason: ")
                                        <span>@item.DealReasonVal</span>
                                    </div>
                                }
                                @if (item.DeliveryDaysVal != "-")
                                {
                                    <div>
                                        @Localize.T("Delivery Days: ")
                                        <span>@item.DeliveryDaysVal</span>
                                    </div>

                                }
                                @if (!string.IsNullOrEmpty(item.VehicleConditionVal) && item.VehicleConditionVal != "-")
                                {
                                    <div>
                                        @Localize.T("Vehicle Condition: ")
                                        <span>@item.VehicleConditionVal</span>
                                    </div>
                                }
                            </div>
                        </td>

                        <td>
                            <div class="opp_header">@Localize.T("Campaign") <span>:</span></div>
                            <div class="opp_info">

                                @if (item.CampaignSourceVal != "-")
                                {
                                    <div>
                                        @Localize.T("Campaign Source: ")
                                        <span>@item.CampaignSourceVal</span>
                                    </div>
                                }
                                @if (item.LeadSourceVal != "-" && !string.IsNullOrEmpty(item.LeadSourceVal))
                                {
                                    <div>
                                        @Localize.T("Lead Source: ")
                                        <span>@item.LeadSourceVal</span>
                                    </div>

                                }

                            </div>

                        </td>
                        <td>
                            @if (item.CloseDate.HasValue && item.CloseDate != new DateTime())
                            {
                                <div class="opp_header">@Localize.T("Close Date") <span>:</span></div>
                                <div class="opp_info">@item.CloseDate.Value.ToString("MM/dd/yy")</div>
                                if (!string.IsNullOrEmpty(item.AccountOwnerName))
                                {
                                    <div>
                                        @Localize.T("Account Owner: ")
                                        <span>@item.AccountOwnerName</span>
                                    </div>
                                }
                            }
                        </td>

                    </tr>

                }
            </tbody>

        </table>

        <div class="opportunities_pagination_container">
            <div class="opportunities_pagination_inner">
                @if (ViewBag.PageCount == 1)
                {
                    <div class="paginationMiddleButtondv" id="pagination">
                        <button class="PaginationButtons disabledBtn">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">1</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons disabledBtn" disabled>Next</button>
                    </div>
                }
                else if (ViewBag.PageCount == 2)
                {
                    <div class="paginationMiddleButtondv" id="pagination">
                        <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigatePageListing(1)">1</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigatePageListing(2)">2</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons" disabled="@(ViewBag.PageNumber == 2 ? "disabled" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 2 ? ViewBag.PageNumber + 1 : ""))">Next</button>
                    </div>
                }
                else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
                {
                    <div class="paginationMiddleButtondv" id="pagination">
                        <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigatePageListing(1)">1</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigatePageListing(2)">2</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 3 ? "activeBtn" : "")" onclick="NavigatePageListing(3)">3</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons" disabled="PaginationButtons @(ViewBag.PageNumber == 3 ? "disabled" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 3 ? ViewBag.PageNumber + 1 : ""))">Next</button>
                    </div>
                }
                else if (ViewBag.PageCount > 3)
                {
                    if (ViewBag.PageNumber == 1)
                    {
                        <div class="paginationMiddleButtondv" id="pagination">
                            <button class="PaginationButtons" disabled onclick="NavigatePageListing()">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">Next</button>
                        </div>
                    }
                    else if (ViewBag.PageNumber == ViewBag.PageCount)
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))" id="pagination">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 2))" id="pagination">@(ViewBag.PageNumber - 2)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))" id="pagination">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))" id="pagination">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button class="PaginationButtons" disabled onclick="NavigatePageListing()">Next</button>
                        </div>
                    }
                    else
                    {
                        <div class="paginationMiddleButtondv" id="pagination">
                            <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">Next</button>
                        </div>

                    }
                }
            </div>
            <div class="area_zip_code_pagination_inner">
                @if (ViewBag.PageCount > 0)
                {
                    <div class="paginationtextdv">
                        <span>Showing item @ViewBag.CurrentNumber of @ViewBag.OutOfNumber</span>
                    </div>
                }
            </div>
        </div>
    }

</div>


