@{
    Layout = null;
}
<script>
    var customerid = '@ViewBag.customerid';
    var opportunityTab = '@ViewBag.opoortunityTab';
</script>
<script src="~/Content/Js/Opportunity/CustomerOpportunity.js"></script>
<link href="~/Content/Css/Opportunity/Opportunities.css" rel="stylesheet" />
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var idsAll = "";
    var PrintOpportunity = function () {
        $(".PrintItem").each(function () {
            idsAll += $(this).attr("data-id") + ",";
        })
        console.log(idsAll);
        var PdfUrl =  "/Opportunity/GetOpportunityFilterList/?Ids=" + idsAll;
        window.open(PdfUrl, '_blank');

    }
    var openExcel = function (customerid) {
        window.location.href = domainurl + "/Reports/NewReport/?ReportFor=Opportunity&CustomerOpportunity=" + customerid;
    }
</script>
<div class="opportunities_container">
    <div class="left_opportunity">
        <div class="input-group add-on">
            <input class="form-control opportunity_serach_item" placeholder="Find Opportunity" type="text">
            <div class="input-group-btn">
                <button class="btn btn-filter btn_customerlist_filter" onclick="NavigatePageListing(1, null)" title="@Localize.T("Search")">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="right_opportunity">
        <button class="btn" type="button" onclick="OpenNewOpportunity()">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>@Localize.T(" New")
        </button>
        <div class="dropdown opportunities_export">
            <button class="btn addView_button dropdown-toggle" data-toggle="dropdown" title="@Localize.T("Download")" style="margin-right:5px;"><i class="glyphicon glyphicon-download-alt"></i></button>

            <ul class="dropdown-menu ImportPanel">
                <li>
                    <button class="btn" id="ExcelImport" onclick="openExcel('@ViewBag.customerid')"><i class="fa fa-file-excel-o"></i> @Localize.T("Excel")</button>
                </li>
                <li>
                    <button class="btn" onclick="PrintOpportunity()"><i class="fa fa-file-pdf-o"></i> @Localize.T("Pdf") </button>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="ListContents">

</div>
