
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(HS.Framework.Utils.AppConfig.PublicPageTitle) | Forgot Password</title>
    <link rel='shortcut icon' type='image/x-icon' href="~/Content/Icons/@(HS.Framework.Utils.AppConfig.HomePageImage)/favicon.ico" />
     
    @Styles.Render("~/styles/layout")
    @Styles.Render("~/styles/privatelayout")
    @Scripts.Render("~/scripts/layout")

    <script>
        $(document).ready(function () {
            $("#BtnSendReset").click(function () {
                $.ajax({
                    url: "@(HS.Framework.Utils.AppConfig.DomainSitePath)/Login/ForgotPassword",
                    data: { EmailAddress: $("#UserName").val() },
                    type: "Post",
                    dataType: "Json",
                    success: function (data) {
                        if (data.result) {
                            OpenSuccessMessageNew("Success!", data.message, function () {
                                location.href = "/";
                            });
                        } else {
                            OpenErrorMessageNew("Error!", data.message);
                        }
                    }
                })
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Forgot Password</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" id="UserName" name="email" type="text" autofocus>
                                    <label class="hidden label red">*Please enter a valid email address.</label>
                                </div>
                                <input type="button" id="BtnSendReset" class="btn btn-success btn-block" value="Send Verification Email" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/scripts/ModalsPublic")
    @RenderPage("~/Views/Shared/_Modals.cshtml")
</body>
</html>

