@{ Layout = null; }
@model HS.Entities.ResetLoginUser
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Icons/@(HS.Framework.Utils.AppConfig.HomePageImage)/favicon.ico">
    <title>@(HS.Framework.Utils.AppConfig.PublicPageTitle) | Login </title>
    <script src="~/Content/Js/Login/domainurl.js"></script>
  
    @Styles.Render("~/styles/layout")
    @Styles.Render("~/styles/privatelayout")
    @Scripts.Render("~/scripts/layout")
    <script src="~/Content/Js/Site/Validation.js"></script>
    <style>
        .text-security-disk {
            -webkit-text-security: disc !important;
        }
        .eyeclose,
        .eyeclose1,
        .eyeclose2 {
            display: none;
        }
        .eye_icon_style {
            position:relative;
        }
        .eye_icon_style input {
            padding:6px 12px !important;
        } 
        .eye_icon_style i.fa {
            position:absolute;
            right:10px;
            top:10px;
            cursor:pointer;
        }
        .re_enter i.fa {
            top: unset !important;
            bottom: 10px !important;
        }
        .req_text {
            font-weight: normal;
            font-size: 11px;
            position: absolute;
            color: #d71920 !important;
            left: 0px !important;
            padding: 0px;
            bottom: -16px;
            left: 8px !important;
        }
        .modal_title_icon_green h4 {
            text-align: center;
            font-size: 40px;
            color: #2ca01c;
        }

        .modal_title_icon_green .modal-body {
            text-align: center;
        }
    </style>
    <script>
        var LoginActivatePassword = function () {
            var url = "@(HS.Framework.Utils.AppConfig.DomainSitePath)/Login/LoginUserResetPassword/";
            var param = JSON.stringify({
                ResetPasswordToken: $("#ResetPasswordToken").val(),
                password: $("#UserLogin_Password").val(),
            });
            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: url,
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data.result) {
                        OpenSuccessMessageNew("Success!", "", function () {
                        //$("#btnchangeResetPasswor").click();
                        //$('#modalChnageOkButton').on('click', function () {
                        //    //window.location.href = domainurl + "/passwordreset?userId=" + data.UserId;
                        //    location.href = '/Login';
                        //});
                            location.href = '/Login';
                        });
                    } else {
                        OpenErrorMessageNew("Error!", data.message, function () {
                            location.href = '/';
                        });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $(".loader-div").hide();
                    console.log(errorThrown);
                }
            });
        }
        var PasswordCheck = function(){
            if($(".ConfirmPassword").val() == $(".Password").val()){
                $(".lblConfirmPassword").addClass("hidden");
                return true;
            }
            else {
                $(".lblConfirmPassword").removeClass("hidden");
                return false;
            }
        }

        var togglePW = function () {
            if ($('#UserLogin_Password').attr('type') == 'password') {
                $('#UserLogin_Password').attr('type', 'text')
                $('.eyeopen').show();
                $('.eyeclose').hide();
            }
            else if ($('#UserLogin_Password').attr('type') == 'text') {
                $('#UserLogin_Password').attr('type', 'password');
                $('.eyeclose').show();
                $('.eyeopen').hide();
            }
        }
        var toggleCP = function () {
            if ($('#currentPassword').attr('type') == 'password') {
                $('#currentPassword').attr('type', 'text')
                $('.eyeopen1').show();
                $('.eyeclose1').hide();
            }
            else if ($('#currentPassword').attr('type') == 'text') {
                $('#currentPassword').attr('type', 'password');
                $('.eyeclose1').show();
                $('.eyeopen1').hide();
            }
        }
        var toggleCFP = function () {
            if ($('#ConfirmPassword').attr('type') == 'password') {
                $('#ConfirmPassword').attr('type', 'text')
                $('.eyeopen2').show();
                $('.eyeclose2').hide();
            }
            else if ($('#ConfirmPassword').attr('type') == 'text') {
                $('#ConfirmPassword').attr('type', 'password');
                $('.eyeclose2').show();
                $('.eyeopen2').hide();
            }
        }
        $(document).ready(function () {
            $("#currentPassword").val('');
            $('#currentPassword').keyup(function (e) {
                var password = $(this).val();
                var UserId = $("#UserLoginId").val();
                $.ajax({
                    url: '/Login/ValidateCurrentPassword', // URL to the server-side validation script
                    type: 'POST',
                    data: { UserId: UserId, currentpassword: password },
                    success: function (response) {
                        console.log(response.isValid);
                        if (response.isValid) {
                            $('#passwordFeedback').addClass('hidden');
                        } else {
                            $('#passwordFeedback').text('Password is invalid').css('color', 'red');
                        }
                    },
                    error: function () {
                        $('#passwordFeedback').text('Error in validating password').css('color', 'red');
                    }
                });
            });

            $("#ConfirmPassword").val('');
            $("#UserLogin_Password").val('');
            $("#currentPassword").val('');
            $(".LoaderWorkingDiv").hide();

            $("#BtnSubmit").click(function () {
                if (CommonUiValidation() && PasswordCheck()) {
                    LoginActivatePassword();
                }
            });
            $("#ConfirmPassword").blur(function () {
                console.log("blured");
                PasswordCheck();
            }); 
        });
    </script>
</head>
<body>
    <input type="hidden" value="@ViewBag.EncryptedUsersname" id="ResetPasswordToken" />
    <input type="hidden" value="@Model.UserLogin.Id" id="UserLoginId" />

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.UserLogin.UserName, new { @class = "form-control", disabled = "disabled" })
                                </div>
                                <div class="form-group eye_icon_style">
                                    @Html.TextBoxFor(x => x.UserLogin.Password, new { @class = "form-control", @id = "currentPassword", @placeholder = "Current Password", type = "password" })
                                    <div id="passwordFeedback" class="req_text"></div>
                                    <i class="fa fa-eye eyeopen1" onclick="toggleCP()"></i>
                                    <i class="fa fa-eye-slash eyeclose1" onclick="toggleCP()"></i>

                                </div>
                                <div class="form-group eye_icon_style">
                                    @Html.TextBoxFor(x => x.UserLogin.Password, new { @class = "form-control Password", @placeholder = "New Password", datarequired = "true", dataformat = "password", type = "password" })
                                    <label rel="UserLogin.Password" class="label hidden red position-absolute req_text">A valid Password Required (min 6 digits)</label>
                                    <i class="fa fa-eye eyeopen" onclick="togglePW()"></i>
                                    <i class="fa fa-eye-slash eyeclose" onclick="togglePW()"></i>
                                </div>
                                <div class="form-group eye_icon_style re_enter">
                                    @Html.TextBoxFor(x => x.UserLogin.Password, new { @class = "form-control ConfirmPassword", @id = "ConfirmPassword", @placeholder = "Confirm Password", type = "password" })
                                    <label class="label hidden red position-absolute lblConfirmPassword req_text">Password not matched</label>
                                    <i class="fa fa-eye eyeopen2" onclick="toggleCFP()"></i>
                                    <i class="fa fa-eye-slash eyeclose2" onclick="toggleCFP()"></i>
                                </div>
                                <input type="button" id="BtnSubmit" class="btn btn-lg btn-success btn-block" value="Change" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-info btn-lg hidden" id="btnchangeResetPasswor" data-toggle="modal" data-target="#mychangresetModal">Open Modal</button>

    <div class="modal fade" id="mychangresetModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content modal_title_icon_green">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-check"></i></h4>
                </div>
                <div class="modal-body">
                    <p>Success</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="modalChnageOkButton" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    @*<button type="button" class="btn btn-info btn-lg hidden" id="btnResetPasswor" data-toggle="modal" data-target="#myModal">Open Modal</button>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Error!</h4>
                    </div>
                    <div class="modal-body">
                        <p>Please,You can change password</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>*@
    @Scripts.Render("~/scripts/Modals")
    @RenderPage("~/Views/Shared/_Modals.cshtml")
</body>
</html>

