@model List<HS.Entities.Invoice>
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using HS.Framework
@using AppConfig = HS.Framework.Utils.AppConfig; 



<script>
    var pageno = '@ViewBag.PageNumber';
    var invotype = '@ViewBag.invoicetype';
</script>
@Styles.Render("~/styles/InvoiceListPartialCS")
@Scripts.Render("~/scripts/InvoiceListPartialJS")

<div class="page-content-wrap cus-padding-top10p invoicelist"> 
    <div class="invoice-table">
        <table class="display all_invoice invoice_list_partial_table" id="tblInvoice">
            <thead class="table-head-border invoice_hide_for_device">
                <tr>
                    @if (ViewBag.invoicetype == "All" || ViewBag.invoicetype == "Delinquent")
                    {
                        <th class="thead-th-style">
                            @Localize.T("Invoice No")
                        </th>
                    }
                    else
                    {
                        <th class="thead-th-style">

                            <div>
                                <label for="IsCheckVal" class="label-cbx">
                                    <input id="IsCheckVal" type="checkbox" style="position:relative;" class="cus-checkBox invisible " autocomplete="off">
                                    <div class="checkbox">
                                        <svg width="20px" height="20px" viewBox="0 0 20 20">
                                            <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                            <polyline points="4 11 8 15 16 6"></polyline>
                                        </svg>
                                    </div>
                                </label>
                                @Localize.T("Invoice No")
                            </div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/invoiceno"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/invoiceno"></i></div>
                        </th>
                    }
                    
                    <th class="thead-th-style">
                        <div>
                            
                           @Localize.T("Created On")
                        </div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/createdon"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/createdon"></i></div>
                    </th>
                  
                    @if (ViewBag.invoicetype != "All" && ViewBag.invoicetype != "Delinquent")
                    {
                        <th class="thead-th-style">
                            <div>@Localize.T("Description")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/description"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/description"></i></div>
                        </th>
                    }
                    @if (ViewBag.invoicetype == "All" || ViewBag.invoicetype == "Delinquent")
                    {
                        <th class="thead-th-style">
                            <div> @Localize.T("Invoice Date")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/duedate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/duedate"></i></div>
                        </th>
                    }
                    <th class="thead-th-style">
                        <div> @Localize.T("Due Date")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/duedate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/duedate"></i></div>
                    </th>
                    @if (ViewBag.invoicetype == "All" || ViewBag.invoicetype == "Delinquent")
                    {
                        <th class="thead-th-style">
                            <div> @Localize.T("Aging Day")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/duedate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/duedate"></i></div>
                        </th>
                    }
                    <th class="thead-th-style">
                        <div>@Localize.T("Total")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/total"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/total"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Balance")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/balance"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/balance"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Status")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/status"></i></div>
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Actions")
                    </th>
                    @if (ViewBag.invoicetype != "All" && ViewBag.invoicetype != "Delinquent")
                    {
                        if (ViewBag.Role != "Customer")
                        {
                            <th class="thead-th-style">
                                <div>@Localize.T("Last Note Added")</div>
                                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/lastnoteadded"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/lastnoteadded"></i></div>
                            </th>

                            <th class="thead-th-style">

                                <div>@Localize.T("Print / Email")</div>

                                @*@(PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerInvoiceDelete)?"/ Delete":"")*@
                            </th>
                        }
                        else
                        {
                            <th class="thead-th-style">
                                @Localize.T("Print")
                                @*@(PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerInvoiceDelete)?"/ Delete":"")*@
                            </th>
                        }
                    }
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string status = item.Status;
                    if (status != "Cancelled" && status!="Cancel" && status != "Paid" && status != "Partial" && status != "Rolled Over" && status != "Declined")
                    {
                        status = item.DueDate.Value < DateTime.Today ? "Due" : status;
                    }

                    <tr class="tr-style">
         

                        <td class="table-body-td-style invoice_device_row" valign="top">
                            <div class="invoice_device_header">@Localize.T("Invoice No") <span>:</span></div>

                            <div class="invoice_device_info">
                                @if (ViewBag.invoicetype == "All" || ViewBag.invoicetype == "Delinquent")
                                {

                                }
                                else
                                {
                                    <label for="IsCheckVal1_@item.InvoiceId" class="label-cbx">
                                        <input id="IsCheckVal1_@item.InvoiceId" type="checkbox" data-id="@item.Id" style="position:relative;" class="cus-checkBox invisible CheckItems" autocomplete="off">
                                        <div class="checkbox">
                                            <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                <polyline points="4 11 8 15 16 6"></polyline>
                                            </svg>
                                        </div>
                                    </label>
                                }


                                @if (ViewBag.Role != "Customer")
                                {
                                    <a class="cus-anchor" href="javascript:void(0)" onclick="OpenInvById(@item.Id)">
                                        @item.InvoiceId
                                        @(item.CreatedBy == "System" || item.CreatedBy == "Automated" ? item.CreatedBy : "" )
                                    </a>
                                    if (item.IsARBInvoice != null && (bool)item.IsARBInvoice == true)
                                    {
                                        <i class="fa fa-registered icon_green" title="Recurring Invoice" aria-hidden="true"></i>
                                    }
                                    <br />
                                }
                                else
                                {
                                    <a class="cus-anchor" href="javascript:void(0)" onclick="OpenInvCustomerById(@item.Id)">
                                        @item.InvoiceId
                                        @(item.CreatedBy == "System" || item.CreatedBy == "Automated" ? item.CreatedBy : "" )
                                    </a>
                                    if (item.IsARBInvoice != null && (bool)item.IsARBInvoice == true)
                                    {
                                        <i class="fa fa-registered icon_green" title="Recurring Invoice" aria-hidden="true"></i>
                                    }
                                    <br />
                                }
                                @if (!string.IsNullOrEmpty(item.RefType))
                                {
                                    <a class="cus-anchor" href="javascript:void(0)" onclick="OpenTicketById(@item.RefType)">
                                        (TicketNo#@item.RefType)
                                    </a>
                                }

                            </div>

                        </td>
                        <td class="table-body-td-style invoice_device_row" valign="top">
                            @{
                                if (status == "Due")
                                {
                                    <div class="invoice_device_header">@Localize.T("Created On") <span>:</span></div>
                                    <span>@item.UserNum </span>

                                    <span style="color:red" class="green-tooltip" data-toggle="tooltip" title="@item.UserNum - @HS.Framework.DateTimeExtension.UTCToClientTime(item.CreatedDate).ToString("MM/dd/yy") @HS.Framework.DateTimeExtension.UTCToClientTime(item.CreatedDate).ToString("hh:mm tt")" data-placement="right">@HS.Framework.DateTimeExtension.UTCToClientTime(item.CreatedDate).ToString("MM/dd/yy")</span>
                                }
                                else
                                {
                                    <div class="invoice_device_header">@Localize.T("Created On") <span>:</span></div>
                                    <span>@item.UserNum </span>

                                    <span class="green-tooltip" data-toggle="tooltip" title="@item.UserNum - @HS.Framework.DateTimeExtension.UTCToClientTime(item.CreatedDate).ToString("MM/dd/yy") @HS.Framework.DateTimeExtension.UTCToClientTime(item.CreatedDate).ToString("hh:mm tt")" data-placement="right">@HS.Framework.DateTimeExtension.UTCToClientTime(item.CreatedDate).ToString("MM/dd/yy")</span>

                                }
                            }
                        </td>
                        @if (ViewBag.invoicetype != "All" && ViewBag.invoicetype != "Delinquent")
                        {
                            <td class="table-body-td-style invoice_device_row" valign="top">
                                <div class="invoice_device_header">@Localize.T("Description") <span>:</span></div>
                                <div title="@Html.Raw(item.Description)" class="invoice_device_info">@Html.Raw(item.Description)</div>
                            </td>
                        }
                        @if (ViewBag.invoicetype == "All" || ViewBag.invoicetype == "Delinquent")
                        {
                            <td class="table-body-td-style invoice_device_row" valign="top">
                                <div class="invoice_device_header">@Localize.T("Invoice Date") <span>:</span></div>
                                <div class="invoice_device_info">@item.InvoiceDate.Value.ToString("MM/dd/yyyy")</div>
                            </td>
                        }
                        <td class="table-body-td-style invoice_device_row" valign="top">
                            @if (item.DueDate.HasValue)
                            {
                                if (status == "Due")
                                {
                                    <div class="invoice_device_header">@Localize.T("Due Date") <span>:</span></div>
                                    <div class="invoice_device_info">
                                        <span class="color_red_style">@item.DueDate.Value.ToString("MM/dd/yy")</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="invoice_device_header">@Localize.T("Due Date") <span>:</span></div>
                                    <div class="invoice_device_info">
                                        <span>@item.DueDate.Value.ToString("MM/dd/yy")</span>
                                    </div>
                                }

                            }
                        </td>
                        @if (ViewBag.invoicetype == "All" || ViewBag.invoicetype == "Delinquent")
                        {
                            <td class="table-body-td-style invoice_device_row" valign="top">
                                <div class="invoice_device_header">@Localize.T("Aging Day") <span>:</span></div>
                                <div class="invoice_device_info">@item.AgingDate</div>
                            </td>
                        }
                        <td class="table-body-td-style invoice_device_row" valign="top">
                            @{
                                if (status == "Due")
                                {
                                    <div class="invoice_device_header">@Localize.T("Total") <span>:</span></div>
                                    <div class="invoice_device_info">
                                        <span class="color_red_style">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.TotalAmount.Value.ToString("#,##0.00")</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="invoice_device_header">@Localize.T("Total") <span>:</span></div>
                                    <div class="invoice_device_info">
                                        <span class="">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.TotalAmount.Value.ToString("#,##0.00")</span>
                                    </div>
                                }
                            }

                        </td>
                        <td class="table-body-td-style invoice_device_row" valign="top">
                            @{
                                if (status == "Due")
                                {
                                    <div class="invoice_device_header">@Localize.T("Balance") <span>:</span></div>
                                    <div class="invoice_device_info">
                                        <span class="color_red_style">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.BalanceDue.Value.ToString("#,##0.00")</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="invoice_device_header">@Localize.T("Balance") <span>:</span></div>
                                    <div class="invoice_device_info">
                                        <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.BalanceDue.Value.ToString("#,##0.00")</span>
                                    </div>
                                }
                            }

                        </td>
                        <td class="table-body-td-style invoice_device_row" valign="top">
                            <div class="invoice_device_header">@Localize.T("Status") <span>:</span></div>
                            <div class="invoice_device_info">
                                @if (status == "Paid")
                                {
                                    <span class="invStatus">@status</span>
                                }
                                else if (status == "Cancelled"||status == "Cancel" || status == "Rolled Over")
                                {
                                    <span class="invStatus">Rolled Over</span>
                                }
                                else if (item.CustomerViewedTime != null && item.CustomerViewedTime != new DateTime() 
                                    && item.CustomerViewedTime.HasValue)
                                {
                                    if (item.CustomerViewedType == HS.Web.UI.Helper.LabelHelper.EstimateStatus.SentToCustomer)
                                    {
                                        <span class="green-tooltip estimatestatus" data-toggle="tooltip" title="@string.Format(item.CustomerViewedTime.Value.UTCToClientTime().ToString("MM/dd/yy hh:mm tt"))">@Localize.T("Sent To Customer")</span>
                                    }
                                    else if (item.CustomerViewedType == "LoadInvoice")
                                    {
                                        <span class="green-tooltip estimatestatus" data-toggle="tooltip" title="@string.Format(item.CustomerViewedTime.Value.UTCToClientTime().ToString("MM/dd/yy hh:mm tt"))">@Localize.T("Customer Viewed")</span>
                                    }
                                    else if (item.CustomerViewedType == "PaymentInvoice")
                                    {
                                        <span class="green-tooltip estimatestatus" data-toggle="tooltip" title="@string.Format(item.CustomerViewedTime.Value.UTCToClientTime().ToString("MM/dd/yy hh:mm tt"))">@Localize.T("Invoice Payment")</span>
                                    }
                                }
                                else
                                {
                                    if (status == "Due")
                                    {
                                        <span class="color_red_style_bold">@status</span>
                                    }
                                    else if (status == "Partial")
                                    {
                                        <span class="">@status</span>
                                    }
                                    else if (status == "Paid")
                                    {
                                        <span class="">@status</span>
                                    }
                                    else if (status == "Cancelled" || status == "Cancel")
                                    {
                                        <span class="">Rolled Over</span>
                                    }
                                    else
                                    {
                                        <span class="">@status</span>
                                    }
                                }
                            </div>

                        </td>
                        <td class="table-body-td-style invoice_device_row" valign="top">
                            @if (item.Status == "Open" || item.Status == "Partial" || (item.Status == "Declined" && ViewBag.IsDeclined=="true"))
                            {
                                if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerInvoiceReceivePayment))
                                {
                                    <div class="invoice_device_header">@Localize.T("Actions") <span>:</span></div>
                                    <div class="invoice_device_info">
                                        @if (ViewBag.Role != "Customer")
                                        {
                                            <a class="cus-anchor" onclick="ReceivePaymentByInv(@item.Id)" href="javascript:void(0)">@Localize.T("Receive Payment")</a>
                                        }
                                        else
                                        {
                                            <a class="cus-anchor" onclick="ReceivePaymentByInv(@item.Id)" href="javascript:void(0)">@Localize.T("Make payment")</a>
                                        }
                                    </div>
                                }
                            }
                        </td>
                        
                            @{
                                if (ViewBag.invoicetype != "All" && ViewBag.invoicetype != "Delinquent")
                                {
                                    <td class="table-body-td-style invoice_device_row" valign="top">
                                        @if (ViewBag.Role != "Customer")
                                        {
                                            if (item.InvoiceNoteAddedDate != new DateTime() && item.InvoiceNoteAddedDate != null)
                                            {
                                                <div class="invoice_device_header">@Localize.T("Last Note Added") <span>:</span></div>
                                                <div class="invoice_device_info">
                                                    <a onclick="OpenInvoiceNotesById(@item.Id)" class="cus-anchor green-tooltip1" data-toggle="tooltip" data-placement="top" title="@item.NotesInvoice - @item.NoteInvoiceAddedBy">@string.Format(item.InvoiceNoteAddedDate.UTCToClientTime().ToString("MM/dd/yy hh:mm tt"))</a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="invoice_device_header">@Localize.T("Last Note Added") <span>:</span></div>
                                                <div class="invoice_device_info">
                                                    <span>@Localize.T("-")</span>
                                                </div>
                                            }
                                        }
                                    </td>
                                }

                            }
                           
                        @if (ViewBag.invoicetype != "All" && ViewBag.invoicetype != "Delinquent")
                        {
                            <td class="table-body-td-style invoice_device_row" valign="top">

                                <div class="invoice_device_header">@Localize.T("Print / Email") <span>:</span></div>
                                <div class="invoice_device_info">
                                    @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.InvoicePrintPermission))
                                    {
                                        if (Request.Browser.IsMobileDevice)
                                        {

                                            <a class="" id="" onclick="DownLoadAllInvoicePdfList(@item.Id)" style="" title="@Localize.T("Print")"><i class="fa fa-print" aria-hidden="true"></i></a>
                                        }
                                        else
                                        {
                                            <a class="InvEstPreviewPartial" href="@(AppConfig.DomainSitePath)/Invoice/GetInvoicePartial?Id=@item.Id" style="" title="@Localize.T("Print")"><i class="fa fa-print" aria-hidden="true"></i></a>
                                        }
                                    }
                                    @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerInvoicePrint))
                                    {
                                        if (ViewBag.Role != "Customer")
                                        {
                                            @Localize.T(" / ")
                                            <a href="@(AppConfig.DomainSitePath)/Invoice/SendEmailInvoicePartial?id=@item.Id" class="InvEstPreviewPartial" style="" title="@Localize.T("Email")"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                        }
                                    }
                                    @*@if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerInvoiceDelete))
                                        {
                                            @Localize.T(" / ")
                                            <a href="javascript:void(0)" data-id="@item.Id" class="CustomerInvoiceDelete" style=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        }*@
                                </div>
                            </td>
                        }
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<input type="hidden" id="Status" value="@ViewBag.InvoiceType" />
@if (ViewBag.invoicetype != "All" && ViewBag.invoicetype != "Delinquent")
{
    <div class="AgentListPagination inv1">
        <div class="paginationContainer">
            @if (ViewBag.PageCount > 0)
            {
                <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
            }
            @if (ViewBag.PageCount == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons disabledBtn">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber),'@ViewBag.order')">1</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@ViewBag.order')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="InvoiceSearchKeyUp(1, '@ViewBag.order')">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="InvoiceSearchKeyUp(2,'@ViewBag.order')">2</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""),'@ViewBag.order')">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""),'@ViewBag.order')">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="InvoiceSearchKeyUp(1,'@ViewBag.order')">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="InvoiceSearchKeyUp(2,'@ViewBag.order')">2</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="InvoiceSearchKeyUp(3,'@ViewBag.order')">3</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""),'@ViewBag.order')">Next</button>
                </div>
            }
            else if (ViewBag.PageCount > 3)
            {
                if (ViewBag.PageNumber == ViewBag.PageCount)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber-1),'@ViewBag.order')">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber-2),'@ViewBag.order')">@(ViewBag.PageNumber - 2)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber-1),'@ViewBag.order')">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber),'@ViewBag.order')">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons disabledBtn" onclick="InvoiceSearchKeyUp()">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 1)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber-1),'@ViewBag.order')">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber+1),'@ViewBag.order')">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber + 2),'@ViewBag.order')">@(ViewBag.PageNumber + 2)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber+1),'@ViewBag.order')">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 2)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber-1),'@ViewBag.order')">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber-1),'@ViewBag.order')">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber + 1),'@ViewBag.order')">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber+1),'@ViewBag.order')">Next</button>
                    </div>
                }
                else
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber-1),'@ViewBag.order')">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber - 1),'@ViewBag.order')">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber),'@ViewBag.order')">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber + 1),'@ViewBag.order')">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="InvoiceSearchKeyUp(@(ViewBag.PageNumber+1),'@ViewBag.order')">Next</button>
                    </div>
                }
            }
        </div>
    </div>
}


<div class="LoadFilterInvoice"></div>