
@model List<HS.Entities.InvoiceNote>
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper 
@using HS.Framework
<link href="~/Content/Css/AddAlarmDotCom/AddAlarmDotCom.css" rel="stylesheet" />
<style>
    .NoteAddedByDiv {
        width: 70%;
        float: right;
        text-align: right;
        font-size: 11px;
        font-style: italic;
    }
    .InvoiceNote {
        padding-top: 10px;
        width: 100%;
        border: 1px solid #ccc;
        white-space: pre-wrap;
        margin-top: 20px;
        padding: 10px;
    }
    .InvoiceNotesList {
        margin-top: 20px;
    }
    .add_authorize_container{
        overflow-y:scroll!important;
    }
</style> 
<script>
    $('.add_authorize_container').height(window.innerHeight - 100);
     $("#NotesCloseBtn").click(function () {
         $("#Right-To-Left-Modal-Body .close").click();
     });
 </script>
 
<div class="alarm_head_container">
    <span class="alarm_head_text">@ViewBag.TitleText</span>
</div>
 
<div class="add_authorize_container">
    <div class="row add_alarm_margin">
        <div class="col-xs-12">
            
            @foreach (var item in Model)
            {
                <div class="templates">
                    <div class="NoteTemplate">
                        <div class="InvoiceNote">@Html.Raw(item.Note)</div>
                        <div class="InvoiceNoteOptions clearfix">
                            <div class="NoteAddedByDiv">
                                <div>
                                    <span><b>@Localize.T("Added By")</b>:<span class="NoteAddedBy">@item.AddedByText</span></span>
                                </div>
                                <div>
                                    <span><b>@Localize.T("Added Date")</b>:<span class="NoteAddedDate">@item.AddedDate.UTCToClientTime().ToString("MM/dd/yy hh:mm")</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Count() == 0)
            {
                <h3>@Localize.T("No notes added for this invoice.")</h3>
            }

        </div>
    </div>
</div>
<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn" style="float:right" id="NotesCloseBtn"><i class="fa fa-close" aria-hidden="true"></i> @Localize.T("Close")</button>
        </div>
    </footer>
</section>
