@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
@{
    Layout = null;
    string DomainURL = AppConfig.DomainSitePath;
}
@using System.Collections;
<html>
<head>
    @Styles.Render("~/styles/SendEmailInvoicePartialCS")
    <script>
        var id = '@ViewBag.InvoiceId';
        var customerIntId = '@ViewBag.customerIntId';
        var PdfLocation = '@ViewBag.pdfLocation';
        var domainurl = "@DomainURL";
        var isStatement = true;
        var StatementStatus = '@ViewBag.StatementFor';
    </script>
    @Scripts.Render("~/scripts/SendEmailInvoicePartialJS")
    <script src="~/Content/Tiny/jquery.tinymce.min.js"></script>
    <script src="~/Content/Tiny/tinymce.min.js"></script>
    <script src="~/Content/Js/TinyNonEdit.js"></script>
</head>
<body>
    <input type="hidden"  id="StatusType" />
    <div class="send_email_invoice_partial_container">
        <div class="send_email_invoice_partial_header">
            @Localize.T("Send email for invoice statement")
            <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
                <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png">
            </div>
        </div>

        <div class="width_50p_firstdiv">
            <div>
                <label> @Localize.T("Email")</label>
                <input type="text" value="@ViewBag.CustomerEmailAddress" class="EmailSubject" id="ToEmail" autocomplete = "off">
            </div>
            <div>
                <label> @Localize.T("Cc")</label>
                <input type="text" value="" class="EmailSubject" placeholder="Add cc email by ';' separator" id="CCEmail" autocomplete = "off">

            </div>
            <div>
                <label> @Localize.T("Subject")</label>
                <input type="text" value="@ViewBag.EmailSubject" class="EmailSubject" placeholder="Subject" id="EmailSubject" autocomplete = "off">
            </div>
            <div>
                <label>@Localize.T("Body")</label>
                <textarea class="txtEmailbody tinymce" id="Description" name="Description" autocomplete = "off">@ViewBag.EmailBodyTemplate</textarea>
            </div>
        </div>

        @if (Request.Browser.IsMobileDevice)
        {
            <object data='@ViewBag.pdfLocation'>
                <p class="">Oops! You don't support PDFs!</p>
                <button class="btn btnPdfDownLoadForMo"><a href="" id="PdfDownLoadForPhone" download>Download Instead</a></button>
            </object>
        }
        else
        {
            <div class="width_50p_pdf hidden pdf_iframe">
            </div>
        }

        <div class="send_email_invoice_partial_footerContents">
            <button onclick="parent.ClosePopup()" class="btnCancel">@Localize.T("Cancel")</button>
            <button class="btn btnSaveAndClose">@Localize.T("Send")</button>
        </div>
    </div>
</body>
</html>
