@{
    Layout = null;
}
@model  List<HS.Entities.GeneratePdfInvoiceStatementModelList>
@using System.Collections;

<html>
<head>
    <style type="text/css">
    </style>
</head>
<body style="font-family: sans-serif,Cambria, Arial, Cochin, Georgia, Times, Times New Roman, serif, Helvetica;">
    @{
        int total = Model.Count();
    }
    @if (total == 0)
    {
        <h2>No invoice found</h2>
    }
    @foreach (var item in Model)
    {
        string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(ViewBag.CompanyId);

        <div style="width:100%; float:left; padding:15px; box-sizing:border-box;">
            <table style="width:100%; float:left; border-collapse:collapse; font-size:18px; margin-top:30px;">
                <tr>
                    <td style="width:5%;">
                    </td>
                    <td style="width: 45%;">
                        @if (item.InvoiceStatement.Status == "Paid")
                        {
                            <div style="width:100%; float:left; text-align:left; font-size:50px; font-weight:600; color:darkgray;">PAID</div>
                        }
                    </td>
                    <td style="width:10%;">
                    </td>
                    <td style="width:40%;">
                        <table style="width:100%; float:left; border-collapse:collapse; margin-bottom:20px;">
                            <tr>
                                <td style="width:50%;">
                                </td>
                                <td style="width:50%;">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="border:2px solid #000; font-style:italic; font-size:30px; text-align:center; padding:10px 0px; font-weight:bold;">
                                    Invoice/Statement
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center; padding:10px 0px;border:2px solid #000;">
                                    Invoice Number <br />
                                    <b>
                                        @item.InvoiceStatement.InvoiceId
                                    </b>
                                </td>
                                <td style="text-align:center; padding:10px 0px;border:2px solid #000;">
                                    Date <br />
                                    <b>
                                        @item.InvoiceStatement.InvoiceDate.ToString("MM/dd/yyyy")
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center; padding:10px 0px;border:2px solid #000;">
                                    Customer Number <br />
                                    <b>
                                        @item.InvoiceStatement.CustomerIntId.ToString()
                                    </b>
                                </td>
                                <td style="text-align:center; padding:10px 0px;border:2px solid #000;">
                                    Due Date <br />
                                    <b>
                                        @item.InvoiceStatement.DueDate.ToString("MM/dd/yyyy")
                                    </b>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top; text-align:right; padding-right:10px;">
                        To:
                    </td>
                    <td style="vertical-align:top; font-weight:bold;">
                        @item.InvoiceStatement.CustomerName.ToString() <br />
                        @if (!string.IsNullOrEmpty(item.InvoiceStatement.Street) && !string.IsNullOrWhiteSpace(item.InvoiceStatement.Street))
                        {
                            @item.InvoiceStatement.Street.ToString() <br />
                        }
                        @item.InvoiceStatement.CustomerAddress.ToString()
                    </td>
                    <td style="vertical-align:top; text-align:right; padding-right:10px;">
                        Remit To:
                    </td>
                    <td style="vertical-align:top; font-weight:bold;">
                        @ViewBag.CompanyName.ToString() <br />
                        @if (!string.IsNullOrEmpty(ViewBag.CompanyAddress) && !string.IsNullOrWhiteSpace(ViewBag.CompanyAddress))
                        {
                            @ViewBag.CompanyAddress.ToString() <br />
                        }
                        @ViewBag.CompanyCity.ToString()
                    </td>
                </tr>
            </table>
            <table style="width:100%; float:left; border-collapse:collapse; margin-top:50px;">
                <tr>
                    <td style="width:170px; padding-left:20px;">
                        Amount Enclosed:
                    </td>
                    <td style="border-bottom:1px solid #000;">
                    </td>
                    <td style="font-size:23px; width:28%; padding-left:10px; ">
                        Net Due: @Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.InvoiceStatement.NetTotalBalance)
                    </td>
                    <td style="text-align:center; width:35%; font-style:italic; font-size:14px;">
                        Detach And Return Top Portion With Your Payment
                    </td>
                </tr>
            </table>
            <table style="width:100%; float:left; border-collapse:collapse; margin-top:30px; border-top:1px solid #000; border-bottom:1px solid #000;">
                <tr style="font-weight:bold; text-align:center;">
                    <td style="padding:10px 0px 0px 0px;">
                        Customer Name
                    </td>
                    <td style="padding:10px 0px 0px 0px">
                        Customer Number
                    </td>
                    @*<td style="padding:10px 0px 0px 0px">
                            PO Number
                        </td>*@
                    <td style="padding:10px 0px 0px 0px; width:135px;">
                        Invoice Date
                    </td>
                    <td style="padding:10px 0px 0px 0px; width:135px;">
                        Due Date
                    </td>
                </tr>
                <tr style="text-align:center;">
                    <td style="padding:5px 0px;">
                        @item.InvoiceStatement.CustomerName.ToString()
                    </td>
                    <td style="padding:5px 0px;">
                        @item.InvoiceStatement.CustomerIntId.ToString()
                    </td>
                    @*<td style="padding:5px 0px;">
                        </td>*@
                    <td style="padding:5px 0px;">
                        @item.InvoiceStatement.InvoiceDate.ToString("MM/dd/yyyy")
                    </td>
                    <td style="padding:5px 0px;">
                        @item.InvoiceStatement.DueDate.ToString("MM/dd/yyyy")
                    </td>
                </tr>
            </table>

            <table style="width:100%; float:left; border-collapse:collapse; margin-top:15px; border-top:1px solid #000;">
                <tr style="font-weight:bold; text-align:center;">
                    <td style="padding:10px 0px 0px 0px;">
                        Quantity
                    </td>
                    <td colspan="3" style="padding:10px 0px 0px 0px; text-align:left; margin-left:10px;">
                        Description
                    </td>
                    <td style="padding:10px 0px 0px 0px; width:130px; text-align:right; padding-right:10px;">
                        Rate
                    </td>
                    <td style="padding:10px 20px 0px 0px; text-align:right; width:160px;">
                        Amount
                    </td>

                </tr>
                @foreach (var details in item.InvoiceDetailsList)
                {
                    <tr>
                        <td style="padding:5px 0px; text-align:center;">
                            @details.Quantity.ToString()
                        </td>
                        <td colspan="3" style="padding:5px 0px; text-align:left; margin-left:10px;">
                            @details.EquipName.ToString()
                        </td>
                        <td style="padding:5px 0px; text-align:right; padding-right:10px;">
                            @Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(details.UnitPrice)
                        </td>
                        <td style="padding:5px 0px; text-align:right; padding-right:20px;">
                            @Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(details.TotalPrice)
                        </td>
                    </tr>
                }

                <tr>
                    <td style="padding:5px; text-align:right;">
                    </td>
                    <td colspan="2" style="padding:5px 0px; text-align:left; margin-left:10px;">
                        @item.InvoiceStatement.DueDate.ToString("MM/dd/yyyy") - @item.InvoiceStatement.DueDate.AddMonths(1).ToString("MM/dd/yyyy")
                    </td>
                    <td colspan="2" style="padding:5px; text-align:right; font-weight:bold;">
                        Subtotal:
                    </td>
                    <td style="padding:5px;  text-align:right; padding-right:20px; font-weight:bold;">
                        @Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.InvoiceStatement.Amount)
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="padding:5px; text-align:right;">
                        Tax:
                    </td>

                    <td style="padding:5px;  text-align:right; padding-right:20px;">
                        @Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.InvoiceStatement.Tax)
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="padding:5px; text-align:right;">
                        Payments/Credits Applied:
                    </td>
                    <td style="padding:5px;  text-align:right; padding-right:20px;">
                        @*@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.InvoiceStatement.CreditBalance)*@
                        @Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(0)
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="padding:5px; text-align:right; font-weight:bold;">
                        Invoice Balance Due:
                    </td>
                    <td style="padding:5px;  text-align:right; border-top:2px solid #000; padding-right:20px;">
                        @Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.InvoiceStatement.BalanceDue)
                    </td>
                </tr>

            </table>
            @if (item.DueOpenInvoiceList != null && item.DueOpenInvoiceList.Count > 0)
            {
                <table style="width:100%; float:left; border-collapse:collapse; margin-top:20px;">
                    <tr>
                        <td style="width:170px; padding-left:20px; font-style:italic;">
                            Other Open Invoices
                        </td>
                        <td style="border-bottom:1px solid #000;">
                        </td>

                    </tr>
                </table>
                <table style="width:100%; float:left; border-collapse:collapse; margin-top:15px; border-bottom:1px solid #000;">
                    <tr style="font-weight:bold; text-align:center;">
                        <td style="padding:10px 0px 0px 0px; width:130px;">
                            Date
                        </td>
                        <td style="padding:10px 0px 0px 0px; width:130px;">
                            Invoice Number
                        </td>
                        @*<td style="padding:10px 0px 0px 0px; width:130px;">
                                PO Number
                            </td>*@
                        <td style="padding:10px 0px 0px 0px;">
                            Description
                        </td>
                        <td style="padding:10px 20px 0px 0px; text-align:right; width:100px;">
                            Amount
                        </td>
                        <td style="padding:10px 20px 0px 0px; text-align:right; width:160px;">
                            Balance Due
                        </td>
                    </tr>
                    @foreach (var others in item.DueOpenInvoiceList)
                    {
                        <tr style="text-align:center;">
                            <td style="padding:5px 0px;">
                                @others.InvoiceDate.ToString("MM/dd/yyyy")
                            </td>
                            <td style="padding:5px 0px;">
                                @others.InvoiceId
                            </td>
                            @*<td style="padding:5px 0px;">
                                    594973
                                </td>*@
                            <td style="padding:5px 0px;">
                                @others.Description
                            </td>
                            <td style="padding:5px 0px; text-align:right; padding-right:20px;">
                                @Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(others.TotalAmount)
                            </td>
                            <td style="padding:5px 0px; text-align:right; padding-right:20px;">
                                @Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(others.BalanceDue)
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="4" style="padding:5px; text-align:right; font-weight:bold;">
                            Other Open Invoices Balance Due:
                        </td>
                        <td style="padding:5px;  text-align:right; padding-right:20px; font-weight:bold;">
                            @Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.InvoiceStatement.NetDueAmount)
                        </td>
                    </tr>
                </table>
            }
            <table style="width:100%; float:left; border-collapse:collapse; margin-top:15px; border-top:1px solid #000; border-bottom:1px solid #000;">
                <tr style="font-weight:bold; text-align:center;">
                    <td style="padding:10px 0px 0px 0px; width:130px;">
                        Date
                    </td>
                    <td style="padding:10px 0px 0px 0px; width:130px;">
                        Invoice #
                    </td>
                    <td style="padding:10px 0px 0px 0px;">
                        Description
                    </td>
                    <td style="padding:10px 0px 0px 0px; width:130px;">
                        Open Credits
                    </td>

                    <td style="padding:10px 20px 0px 0px; text-align:right; width:130px;">
                        Current Invoice
                    </td>
                    <td style="padding:10px 20px 0px 0px; text-align:right; width:160px;">
                        Balance Due
                    </td>
                </tr>
                <tr style="text-align:center;">
                    <td style="padding:5px 0px;">
                        @item.InvoiceStatement.InvoiceDate.ToString("MM/dd/yyyy")
                    </td>
                    <td style="padding:5px 0px;">
                        @item.InvoiceStatement.InvoiceId
                    </td>
                    <td style="padding:5px 0px;">
                        @item.InvoiceStatement.Description
                    </td>
                    <td style="padding:5px 0px;">
                        @Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.InvoiceStatement.CreditBalance)
                    </td>

                    <td style="padding:5px 0px; text-align:right; padding-right:20px;">
                        @Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.InvoiceStatement.TotalAmount)
                    </td>
                    <td style="padding:5px 0px; text-align:right; padding-right:20px;">
                        @Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.InvoiceStatement.NetTotalBalance)
                    </td>
                </tr>
            </table>
            <div style="text-align:right; margin:15px 0px; padding:15px 0px;">
                <span> Visit @ViewBag.CompanyWebsite to view and pay this invoice online</span> <br />
                <span>or call @ViewBag.CompanyPhone</span>
            </div>
        </div>
        total = total - 1;
        if (total > 0)
        {
            <div style="page-break-after: always; display: block; clear: both;"></div>
        }
    }

</body>
</html>
