@model HS.Entities.CreateCustomerInvoice
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
@{
    Layout = null;
    string DomainURL = AppConfig.DomainSitePath;
}
@using System.Collections;
<html>
<head>
    @Styles.Render("~/styles/SendEmailInvoicePartialCS")
    <script>
        var id = '@ViewBag.InvoiceId';
        var PdfLocation = '@ViewBag.PdfLocation';
        var domainurl = "@DomainURL";
        var isStatement = false;
    </script>
    @Scripts.Render("~/scripts/SendEmailInvoicePartialJS")
    <script src="~/Content/Tiny/jquery.tinymce.min.js"></script>
    <script src="~/Content/Tiny/tinymce.min.js"></script>
    <script src="~/Content/Js/TinyNonEdit.js"></script>
</head>
@{
    Hashtable datatemplate = new Hashtable();
    datatemplate.Add("CustomerName", Model.CustomerName);
    datatemplate.Add("ExpirationDate", Model.Invoice.DueDate);
    datatemplate.Add("SalesPhone Number", ViewBag.SalesPhone);
    datatemplate.Add("CompanyName", Model.CompanyName);
    datatemplate.Add("SalesGuy", ViewBag.SalesGuy);
    datatemplate.Add("url", ViewBag.url);
    string emailtemplate = HS.Web.UI.Helper.LabelHelper.ParserHelper(Model.EmailTemplate.BodyContent, datatemplate);
}
<body>
    <div class="send_email_invoice_partial_container">
        <div class="send_email_invoice_partial_header">
            @Localize.T("Send email")
            <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
                <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png">
            </div>
        </div>

        <div class="width_50p_firstdiv">
            <div>
                <label> @Localize.T("Email")</label>
                @*@Model.CustomerEmailAddress*@
                <input type="text" value="@Model.CustomerEmailAddress" class="EmailSubject" id="ToEmail">
            </div>
            <div>

                <label> @Localize.T("Cc")</label>

                <input type="text" value="" class="EmailSubject" placeholder="Add cc email by ';' separator" id="CCEmail">

            </div>
            <div>

                <label> @Localize.T("Subject")</label>

                @if (Model.Invoice.Status != HS.Web.UI.Helper.LabelHelper.InvoiceStatus.Paid)
                {
                    <input type="text" value="New Invoice from @Model.CompanyName: @Model.Invoice.InvoiceId" class="EmailSubject" placeholder="Subject" id="EmailSubject">
                }
                else
                {
                    <input type="text" value="Receive Payment from @Model.CompanyName: @Model.Invoice.InvoiceId" class="EmailSubject" placeholder="Subject" id="EmailSubject">
                }
            </div>
            <div>
                <label>@Localize.T("Body")</label>
                <textarea class="txtEmailbody tinymce" id="Description" name="Description">@emailtemplate</textarea>
            </div>
        </div>

        @if (Request.Browser.IsMobileDevice)
        {
            <object data='@ViewBag.PdfLocation'>
                <p class="">Oops! You don't support PDFs!</p>
                <button class="btn btnPdfDownLoadForMo"><a href="" id="PdfDownLoadForPhone" download>Download Instead</a></button>
            </object>
        }
        else
        {
            <div class="width_50p_pdf hidden pdf_iframe">
            </div>
        }

        <div class="send_email_invoice_partial_footerContents">
            <button onclick="parent.ClosePopup()" class="btnCancel">@Localize.T("Cancel")</button>
            <button class="btn btnSaveAndClose">@Localize.T("Send")</button>
            @*<button class="btn btnSaveAndNew">@Localize.T("Send and new")</button>*@
            @*<button onclick="printFrame('iframePdf')" class="btnPrint">@Localize.T("Save and Send")</button>*@
        </div>
    </div>
</body>
</html>
