@{ 
    Layout = null;
}
@model HS.Entities.NotificationViewModel
@using DateTimeExt = HS.Framework.DateTimeExtension
<link href="~/Content/Css/Notification/AllNotifications.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $(".notification_counter").text('0');
        $(".notification_counter").addClass("hidden");
    });
</script>
<div class="AllNotificationsDiv">
    @if (Model.Notifications.Count() == 0)
    {
        <div class="no_notification_div_container">
            <div class="no_notification_div_all">
                <div><i class="fa fa-bell-slash-o"></i></div>
                <div> <label>You have no notifications</label></div>
                <div><label>They'll be here when you get 'em.</label></div>
            </div>
        </div>
    }
    else
    {
        <div class="Notification_head">
            Your Notifications
        </div>
        foreach (var item in Model.Notifications)
        {
            string url = "onclick=OpenUrl('" + item.NotificationUrl + "')";
            <div class="notification_item_full @(item.IsRead?"":"notification_not_seen")" @(string.IsNullOrWhiteSpace(item.NotificationUrl)?"" : url )>
                <div class="notification_message_full">@Html.Raw(item.What)</div>
                <div class="created_time_full">@item.LastVisited @*on @string.Format(DateTimeExt.UTCToClientTime(item.CreatedDate).ToString("MM/dd/yyyy {0} hh:mm tt"),"at")*@</div>
            </div>
           
        }
    }
</div>
