@model HS.Entities.EmployeeOccurences
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
<link href="~/Content/Css/Hr/AddHrOccurance.css" rel="stylesheet" />
<script>
    var SaveThisHrOccurance = function () {
        var url = domainurl + "/Hr/SaveHrOccurance";
        var param = JSON.stringify({
            Id: $("#Id").val(),
            UserId: userId,
            StrOccurenceDate: $('#OccurenceDatePicker').val(),
            Amount: $("#Amount").val(),
            Notes: $("#Notes").val()
        })
        $.ajax({
            type: "POST",
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.result) {
                    OpenSuccessMessageNew("Success!", data.message, function () {
                        $("#OccuranceLoad").load(domainurl + "/Hr/HrOccurance?userId=" + userId);
                        $(".close").click()
                    });
                } else {
                    OpenErrorMessageNew("Error!", data.message, function () {

                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }
    $(document).ready(function () {
        $("#OccurenceDatePickerCustom").change(function () {
            console.log("dddd");
            if ($("#OccurenceDatePicker").val() != "") {
                $("#OcDate").addClass("hidden");
                $("#OccurenceDatePicker").removeClass("required");
            }
        })
       

        setTimeout(function () {
            var OccurenceDate = new Pikaday({
                format: 'MM/DD/YYYY',
                field: $('#OccurenceDatePicker')[0],
                trigger: $('#OccurenceDatePickerCustom')[0],
                firstDay: 1
            }, 2000);
        });
        $("#btnSaveHrOccurance").click(function () {
            if (CommonUiValidation()) {
                SaveThisHrOccurance();
            }
        });
    });
</script>

<div class="AddHrOccurance_container">
    <div class="AddHrOccurance_header">
        @Localize.T("Add Occurence")
    </div>
    <div class="AddHrOccurance_inner">
        @Html.HiddenFor(m=>m.Id)
        <div class="AddHrOccurance_inner_info">
            <label>@Localize.T("Occurence Date")</label>
            <div class="input_group_for_date add-on" id="OccurenceDatePickerCustom">
             
                <input type="text" id="OccurenceDatePicker" class = "form-control" name="OcDate" value='@Model.OccurenceDate.Value.ToString("MM/dd/yyyy")' datarequired = "true"/>
                <label rel="OcDate" id="OcDate"  class="label hidden red position-absolute">*@Localize.T("Occurence Date Required")</label>
                <div class="input-group-btn">
                    <btn class="btn">
                        <i class="fa fa-calendar" aria-hidden="true" style="cursor:pointer;"></i>
                    </btn>
                </div>
            </div>
        
        </div>
        <div class="AddHrOccurance_inner_info">
            <label>@Localize.T("Point")</label>
            <div class="shipping-amount-span currency_style">
                <div class="input-group">
                   <input type="number" id="Amount" value="@Model.Amount" class="form-control"/>
               
                </div>
            </div>
            
        </div>
        <div class="AddHrOccurance_inner_info">
            <label>@Localize.T("Notes")</label>
            @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @row = "5" })
        </div>
    </div>
    <div class="AddHrOccurance_footer">
        <button class="btn" id="btnSaveHrOccurance"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
    </div>
    @*<table class="udi_table">
        <tr class="info-table-tr">
            <td class="udi_data_occurence">
                <label>@Localize.T("Occurence Date")</label>
                @Html.TextBoxFor(x => x.OccurenceDate, new { @class = "form-control",id= "OccurenceDatePicker" })
            </td>
        </tr>
        <tr class="info-table-tr">
            <td class="udi_data_occurence">
                <label>@Localize.T("Amount")</label>
                @Html.TextBoxFor(x => x.Amount, new { @class = "form-control" })
            </td>
        </tr>
        <tr class="info-table-tr">
            <td class="udi_data_occurence">
                <label>@Localize.T("Notes")</label>
                @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @row = "5" })
            </td>
        </tr>
        <tr class="info-table-tr">
            <td class="udi_data_occurence udi_data_custom">
                <button class="style-btn-custom" id="btnSaveHrOccurance"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
            </td>
        </tr>
    </table>*@
</div>
