@model HS.Entities.EmployeeInsurance
<link href="~/Content/Css/Hr/HrInsurance.css" rel="stylesheet" />
@{
    List<SelectListItem> InsurancePlansList = ViewBag.InsurancePlans;
    List<SelectListItem> MediclePlansList = ViewBag.MedicleInsurancePlans;
    List<SelectListItem> DentalPlansList = ViewBag.Dental;
    List<SelectListItem> VisionPlanList = ViewBag.Vision;

}
<style>
    #Medical {
        /*margin-top:10px;*/
    }


    .border-class {
        border: 1px solid #ccc;
        margin-bottom: 10px;
        float: left;
        width: 100%;
        padding: 4px;
    }

    .typearea {
        padding-bottom: 45px;
    }

    .sub_area {
        margin-bottom: 4px;
    }
</style>
<script>

    var EligibleFrom;
    var IsActiveDb = '@Model.IsActive';
    var SaveThisHrInsurance = function () {
        var Typestring = "";
        var SubstringMadicle = "";
        var SubstringDental = "";

        $(".TypeCheckBox:checked").each(function () {
            Typestring += $(this).attr("value") + ",";
        })

        var Typearray = Typestring.split(',');
        console.log(Typearray);
        var IsActive = false;
        if ($("#IsActive").val() == "1") {
            IsActive = true;
        }
        var url = domainurl + "/Hr/SaveHrInsurance";

        var insurence = [];
        for (var i = 0; i < Typearray.length - 1; i++) {
            insurence.push({
                UserId: userId,
                EligibleFrom: EligibleFrom.getDate(),
                Type: Typearray[i],
                SubTypeMedicle: $("#SubTypeMedicle").val(),
                SubTypeDental: $("#SubTypeDental").val(),
                SubTypeVision: $("#SubTypeVision").val(),
                InsuranceRate: $(".insurence_" + Typearray[i]).val(),
                RateType: $("#" + Typearray[i]).val(),
                IsActive: IsActive,
            })
        }
        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify({ 'insurence': insurence, 'EUserId': userId }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.result) {
                    OpenSuccessMessageNew("Success!", data.message, function () {
                        $("#InsuranceLoad").load(domainurl + "/Hr/HrInsurance?userId=" + userId);
                    });
                } else {
                    OpenErrorMessageNew("Error!", data.message, function () {

                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }
    var SaveThisHrInsuranceForHrHome = function () {

        var Typestring = "";
        var SubstringMadicle = "";
        var SubstringDental = "";

        $(".TypeCheckBox:checked").each(function () {
            Typestring += $(this).attr("value") + ",";
        })

        var Typearray = Typestring.split(',');
        console.log(Typearray);
        var IsActive = false;
        if ($("#IsActive").val() == "1") {
            IsActive = true;
        }
        var url = domainurl + "/Hr/SaveHrInsurance";

        var insurence = [];
        if (Typearray.length > 1) {
            for (var i = 0; i < Typearray.length - 1; i++) {
                insurence.push({
                    UserId: userId,
                    EligibleFrom: $('#EligibleFrom').val(),
                    Type: Typearray[i],
                    SubTypeMedicle: $("#SubTypeMedicle").val(),
                    SubTypeDental: $("#SubTypeDental").val(),
                    SubTypeVision: $("#SubTypeVision").val(),
                    InsuranceRate: $(".insurence_" + Typearray[i]).val(),
                    RateType: $("#" + Typearray[i]).val(),
                    IsActive: IsActive,
                })
            }
        }
        else {
              insurence.push({
                    UserId: userId,
                    EligibleFrom: $('#EligibleFrom').val(),
                    Type: Typearray[i],
                    SubTypeMedicle: $("#SubTypeMedicle").val(),
                    SubTypeDental: $("#SubTypeDental").val(),
                    SubTypeVision: $("#SubTypeVision").val(),
                    InsuranceRate: $(".insurence_" + Typearray[i]).val(),
                    RateType: $("#" + Typearray[i]).val(),
                    IsActive: IsActive,
                })
        }

        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify({ 'insurence': insurence, 'EUserId': userId }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.result) {
                    $("#InsuranceLoad").load(domainurl + "/Hr/HrInsurance?userId=" + userId);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }


    $(document).ready(function () {

        if ('@ViewBag.Type' != "") {

            var checkboxType = '@ViewBag.Type';

            var checkboxarrayType = checkboxType.split(',');
            for (var i = 0; i < checkboxarrayType.length; ++i) {
                // do something with `substr[i]`
                console.log();
                $("#Is_" + checkboxarrayType[i]).prop('checked', true);

            }

            setTimeout(function () {
                if ($('#Is_Medical').is(':checked')) {
                    $(".Medical_categories_checkbox").show();
                    $(".RateType_Medical").show();
                    $(".insurence_Medical").val('@ViewBag.MedicalRate')
                    if ('@ViewBag.MedicalInsuranceType' != "") {
                        $("#Medical").val('@ViewBag.MedicalInsuranceType')
                    }
                    else {

                        $("#Medical").val("-1")
                    }

                }
                else {
                    $("#Medical").val("-1")
                    $(".Medical_categories_checkbox").hide();
                    $(".RateType_Medical").hide();
                }



                if ($('#Is_Dental').is(':checked')) {
                    $(".Dental_categories_checkbox").show();
                    $(".RateType_Dental").show();
                    $(".insurence_Dental").val('@ViewBag.DentalRate')
                    if ('@ViewBag.DentalType' != "") {
                        $("#Dental").val('@ViewBag.DentalType')
                    }
                    else {

                        $("#Dental").val("-1")
                    }

                }
                else {
                    $("#Dental").val("-1")
                    $(".Dental_categories_checkbox").hide();
                    $(".RateType_Dental").hide();
                }

                if ($('#Is_Vision').is(':checked')) {
                    $(".Vision_categories_checkbox").show();
                    $(".insurence_Vision").val('@ViewBag.VisionRate')
                    if ('@ViewBag.VisionType' != "") {
                        $("#Vision").val('@ViewBag.VisionType')
                    }
                    else {
                        $("#Vision").val("")
                    }
                }
                else {
                    $("#Vision").val("-1");
                    $(".Vision_categories_checkbox").hide();
                    $(".RateType_Vision").hide();
                }


            }, 500);
        }
        console.log('@ViewBag.SubTypeMadical');
        if ('@ViewBag.SubTypeMadical' != "") {

            $("#SubTypeMedicle").val('@ViewBag.SubTypeMadical');
        }
        else {
            $("#SubTypeMedicle").val('-1');
        }
        if ('@ViewBag.SubTypeDental' != "") {
            $("#SubTypeDental").val('@ViewBag.SubTypeDental');
        }
        else {
            $("#SubTypeDental").val('-1');
        }
        if ('@ViewBag.subtypeVision' != "") {
            $("#SubTypeVision").val('@ViewBag.subtypeVision');
        }
        else {
            $("#SubTypeVision").val('-1');
        }


        if ($('#Is_VoluntaryLife').is(':checked')) {
            $(".insurence_VoluntaryLife").val('@ViewBag.VoluntaryLifeRate')
            if ('@ViewBag.VoluntaryLifeType' != "") {
                $("#VoluntaryLife").val('@ViewBag.VoluntaryLifeType')
            }
            else {
                $("#VoluntaryLife").val("-1")
            }

            $(".RateType_VoluntaryLife").show();
        }
        else {
            $("#VoluntaryLife").val("-1");
            $(".RateType_VoluntaryLife").hide();
        }
        if ($('#Is_ShortTermDisability').is(':checked')) {
            $(".insurence_ShortTermDisability").val('@ViewBag.ShortTermDisabilityRate')
            if ('@ViewBag.ShortTermDisabilityType' != "") {
                $("#ShortTermDisability").val('@ViewBag.ShortTermDisabilityType');
            }
            else {
                $("#ShortTermDisability").val("-1");
            }

            $(".RateType_ShortTermDisability").show();
        }
        else {
            $("#ShortTermDisability").val("-1");
            $(".RateType_ShortTermDisability").hide();
        }
        if ($('#Is_LongTermDisability').is(':checked')) {
            $(".insurence_LongTermDisability").val('@ViewBag.LongTermDisabilityRate')
            if ('@ViewBag.LongTermDisabilityType' != "") {
                $("#LongTermDisability").val('@ViewBag.LongTermDisabilityType');
            }
            else {
                $("#LongTermDisability").val("");
            };
            $(".RateType_LongTermDisability").show();
        }
        else {
            $("#LongTermDisability").val("-1");
            $(".RateType_LongTermDisability").hide();
        }
        if ($('#Is_HealthiestYou').is(':checked')) {
            $(".insurence_HealthiestYou").val('@ViewBag.HealthiestYouRate');
            if ('@ViewBag.HealthiestYouType' != "") {
                $("#HealthiestYou").val('@ViewBag.HealthiestYouType')
            }
            else {
                $("#HealthiestYou").val("-1")
            }

            $(".RateType_HealthiestYou").show();
        }
        else {
            $("#HealthiestYou").val("-1");
            $(".RateType_HealthiestYou").hide();
        }

        EligibleFrom = new Pikaday({
            format: 'MM/DD/YYYY',
            field: $('#EligibleFrom')[0],
            trigger: $('#EligibleFromCustom')[0],
            firstDay: 1
        });
        if (IsActiveDb == "True") {
            $("#IsActive").val("1");
        }
        else {
            $("#IsActive").val("0");
        }
        $("#btnSaveHrInsurance").click(function () {
            SaveThisHrInsurance();
        });

        $("#Is_Medical").change(function () {
            if (this.checked) {
                $(".Medical_categories_checkbox").slideDown();
                $(".RateType_Medical").slideDown();
            }
            else {
                $("#SubTypeMedicle").val("-1");
                $("#Medical").val("-1");
                $(".insurence_Medical").val("")
                $(".Medical_categories_checkbox").slideUp();
                $(".RateType_Medical").slideUp();
            }
        });
        $("#Is_Dental").change(function () {
            if (this.checked) {
                $(".Dental_categories_checkbox").slideDown();
                $(".RateType_Dental").slideDown();

            }
            else {
                $("#SubTypeDental").val("-1");
                $("#Dental").val("-1");
                $(".insurence_Dental").val("")
                $(".Dental_categories_checkbox").slideUp();
                $(".RateType_Dental").slideUp();
            }
        });
        $("#Is_Vision").change(function () {
            if (this.checked) {
                $(".RateType_Vision").slideDown();
                $(".Vision_categories_checkbox").slideDown();
            }
            else {
                $("#SubTypeVision").val("-1");
                $("#Vision").val("-1");
                $(".insurence_Vision").val("");
                $(".Vision_categories_checkbox").slideUp();
                $(".RateType_Vision").slideUp();
            }
        });
        $("#Is_VoluntaryLife").change(function () {
            if (this.checked) {
                $(".RateType_VoluntaryLife").slideDown();

            }
            else {
                $("#VoluntaryLife").val("-1");
                $(".insurence_VoluntaryLife").val("")
                $(".RateType_VoluntaryLife").slideUp();
            }
        });
        $("#Is_ShortTermDisability").change(function () {
            if (this.checked) {
                $(".RateType_ShortTermDisability").slideDown();

            }
            else {
                $("#ShortTermDisability").val("-1");
                $(".insurence_ShortTermDisability").val("")
                $(".RateType_ShortTermDisability").slideUp();
            }
        });
        $("#Is_LongTermDisability").change(function () {
            if (this.checked) {
                $(".RateType_LongTermDisability").slideDown();

            }
            else {
                $("#LongTermDisability").val("-1");
                $(".insurence_LongTermDisability").val("")
                $(".RateType_LongTermDisability").slideUp();
            }
        });
        $("#Is_HealthiestYou ").change(function () {
            if (this.checked) {
                $(".RateType_HealthiestYou").slideDown();

            }
            else {
                $("#HealthiestYou").val("-1");
                $(".insurence_HealthiestYou").val("")
                $(".RateType_HealthiestYou").slideUp();
            }
        });
    });
</script>
@using Localize = HS.Web.UI.Helper.LanguageHelper
<table class="udi_table">
    <tr class="info-table-tr">
        <td class="udi_title">
            <label>@Localize.T("Insurance")</label>
            @Html.DropDownListFor(x => x.IsActive, ViewBag.SelectInsurance as List<SelectListItem>, new { @class = "form-control" })
        </td>
        <td class="udi_data">
            <label>@Localize.T("Eligible From")</label>
            <div class="input_group_for_date add-on" id="EligibleFromCustom">
                @Html.TextBoxFor(x => x.EligibleFrom, new { @class = "form-control" })
                <div class="input-group-btn">
                    <btn class="btn">
                        <i class="fa fa-calendar" aria-hidden="true" style="cursor:pointer;"></i>
                    </btn>
                </div>
            </div>

        </td>
    </tr>
    <tr class="info-table-tr">
        <td colspan="2" class="udi_title_mail">
            <label>@Localize.T("Insurance Categories")</label>

            <div class="insurance_categories_checkbox">
                <div id="catagory_area">
                    @foreach (var item in InsurancePlansList)
                    {
                        if (item.Value != "HealthiestYou")
                        {
                            <div class="border-class">

                                <input type="checkbox" class="TypeCheckBox" id="Is_@item.Value" value="@item.Value" style="margin-left:0px" /> @item.Text <br />
                                @if (item.Value == "Medical")
                                {
                                    <div class="Medical_categories_checkbox MediclesubCheckBox col-md-6">
                                        @Html.DropDownListFor(x => x.SubTypeMedicle, MediclePlansList as List<SelectListItem>, new { @class = "form-control" })
                                    </div>
                                }
                                else if (item.Value == "Dental")
                                {
                                    <div class="Dental_categories_checkbox DentalsubCheckBox col-md-6">
                                        @Html.DropDownListFor(x => x.SubTypeDental, DentalPlansList as List<SelectListItem>, new { @class = "form-control", })
                                    </div>
                                }
                                else if (item.Value == "Vision")
                                {
                                    <div class="Vision_categories_checkbox VisionsubCheckBox col-md-6">
                                        @Html.DropDownListFor(x => x.SubTypeVision, VisionPlanList as List<SelectListItem>, new { @class = "form-control", })
                                    </div>
                                }
                                <div class="RateType_@item.Value typearea">
                                    <div class="col-md-6 sub_area">
                                        <div class="shipping-amount-span currency_style">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)
                                                    </span>
                                                </div>
                                                <input type="text" placeholder="Insurance Rate" class="form-control insurence_@item.Value">
                                            </div>
                                        </div>
                                    </div>
                                    @if (item.Disabled != true)
                                    {
                                        <div class="col-md-6 sub_area">
                                            @Html.DropDownListFor(x => x.RateType, ViewBag.SelectInsurenceRentType as List<SelectListItem>, new { @class = "form-control", @id = item.Value })
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </td>
    </tr>
    <tr class="info-table-tr hidden">
        <td class="udi_title"></td>
        <td class="udi_data udi_data_custom">
            <button class="style-btn-custom" id="btnSaveHrInsurance"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        </td>
    </tr>
</table>
