@model List<HS.Entities.CalListModelList>
@{
    Layout = null;
    bool profile = (bool)ViewBag.isProfile;
}
<link href="~/Content/Css/Hr/HrInsurance.css" rel="stylesheet" />
<script type="text/javascript">
    var EditSelectedDate = function (item) {
        var datval = $(item).data('dates');
        var user = $("#UserId").val();
        OpenRightToLeftModal(domainurl + "/Hr/EditEmployeeAvailibility?GetDate=" + datval + "&userId=" + user);
    }
    var cancelclick = function (ev, item) {
        ev.stopPropagation();
        ev.cancelBubble = true;
        return false;
    }
    $(document).ready(function () {
        $("#monthName").html('@ViewBag.MonthName');
    })
</script>
@using Localize = HS.Web.UI.Helper.LanguageHelper
<table class="ap_table">
    <thead>
        <tr class="info-table-tr">
            <th class="">
                <label>@Localize.T("Mon")</label>
            </th>
            <th class="">
                <label>@Localize.T("Tue")</label>
            </th>
            <th>
                <label>@Localize.T("Wed")</label>
            </th>
            <th class="">
                <label>@Localize.T("Thu")</label>
            </th>
            <th class="">
                <label>@Localize.T("Fri")</label>
            </th>
            <th class="">
                <label>@Localize.T("Sat")</label>
            </th>
            <th class="">
                <label>@Localize.T("Sun")</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var tritems in Model)
            {

                <tr class="">
                    @if (tritems.WeekList != null && tritems.WeekList.Count > 0)
                    {
                        foreach (var item in tritems.WeekList)
                        {

                            if (!string.IsNullOrWhiteSpace(item.WorkingTime))
                            {
                                if (item.WorkingTime == "Weekend Holiday")
                                {
                                    <td class="tdclass weekly_holyday">
                                        <div class="monthlydate">@item.DateName</div>
                                        <div class="monthly-holiday-info">@Html.Raw(item.WorkingTime)</div>
                                    </td>
                                }
                                else if (item.WorkingTime == "Company Holiday")
                                {
                                    <td class="tdclass weekly_holyday">
                                        <div class="monthlydate">@item.DateName</div>
                                        <div class="monthly-holiday-info">@Html.Raw(item.WorkingTime)</div>
                                    </td>
                                }
                                else if (item.WorkingTime == "Day Off")
                                {
                                    if (profile)
                                    {
                                        <td class="tdclass normal_holyday" data-dates="@item.DateName">
                                            <div class="monthlydate">@item.DateName</div>
                                            <div class="monthlyinfo">@Html.Raw(item.WorkingTime)</div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="tdclass normal_holyday" data-dates="@item.DateName" onclick="EditSelectedDate(this)">
                                            <div class="monthlydate" onclick="cancelclick(event, this)">@item.DateName</div>
                                            <div class="monthlyinfo">@Html.Raw(item.WorkingTime) <i class="fa fa-pencil-square-o ea_edit"></i></div>
                                        </td>
                                    }
                                }
                                else
                                {
                                    <td class="tdclass">
                                        <div class="monthlydate">@item.DateName</div>
                                        @if (profile)
                                        {
                                            <div class="monthlyinfo" data-dates="@item.DateName">@Html.Raw(item.WorkingTime)</div>
                                        }
                                        else
                                        {
                                            <div class="monthlyinfo" data-dates="@item.DateName" onclick="EditSelectedDate(this)">@Html.Raw(item.WorkingTime) <i class="fa fa-pencil-square-o ea_edit"></i></div>
                                        }

                                    </td>
                                }
                            }

                            else
                            {
                                <td class="tdclass">
                                    <div class="monthlydate">@item.DateName</div>
                                    <div class="monthlyinfo"></div>
                                </td>
                            }
                        }
                    }
                </tr>

            }
        }
    </tbody>
</table>
<input type="hidden" id="UserId" value="@ViewBag.UserId" />
<input type="hidden" id="CurrentDate" value="@ViewBag.CurrentDate" />

