

@model HS.Entities.EmployeeComputer
@{
    Layout = null;
}
<link href="~/Content/Css/Hr/HrInsurance.css" rel="stylesheet" />
<script>


    var SaveThisHrComputer = function () {


        console.log("hi")
        var Computer = {};
        Computer.Id = $("#ComputerId").val();
        Computer.UserId = $("#UserId").val();
        Computer.ComputerName = $("#ComputerName").val();
        Computer.ComputerPassword = $("#ComputerPassword").val();




        $.ajax({

            type: "POST",
            url: domainurl + "/Hr/SaveComputer",
            data: '{Computer: ' + JSON.stringify(Computer) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.result) {
                    $("#vehicleId").val(response.Id);
                    OpenSuccessMessageNew("Success!", response.message, function () {
                        $(".close").click();
                        OpenVehicleMgmtTab();
                    });


                }
                else {
                    OpenErrorMessageNew("Error!", response.message, function () {

                    });
                }
                //window.location.reload();
            }
        });


    }

    var SaveThisHrComputerForHrHome = function () {
        var Computer = {};
        Computer.Id = $("#ComputerId").val();
        Computer.UserId = $("#UserId").val();
        Computer.ComputerName = $("#ComputerName").val();
        Computer.ComputerPassword = $("#ComputerPassword").val();
        $.ajax({
            type: "POST",
            url: domainurl + "/Hr/SaveComputer",
            data: '{Computer: ' + JSON.stringify(Computer) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.result) {
                    $("#vehicleId").val(response.Id);
                }
                else {
                    OpenErrorMessageNew("Error!", response.message, function () {
                    });
                }
            }
        });
    }

    

    $(document).ready(function () {
        $("#ComputerName").blur(function () {
            if ($("#ComputerName").val() == "") {
                $("#ComputerName").addClass("required");
                $("#lblComputerName").removeClass("hidden");

            }
            else {
                $("#ComputerName").removeClass("required");
                $("#lblComputerName").addClass("hidden");
            }
        });
        $("#ComputerPassword").blur(function () {
            if ($("#ComputerPassword").val() == "") {
                $("#ComputerPassword").addClass("required");
                $("#lblComputerPassword").removeClass("hidden");

            }
            else {
                $("#ComputerName").removeClass("required");
                $("#lblComputerPassword").addClass("hidden");
            }
        });
        $("#btnSaveHrComputer").click(function () {
            if ($("#ComputerName").val() != "" && $("#ComputerPassword").val() != "") {
                $("#ComputerName").removeClass("required");
                $("#lblComputerName").addClass("hidden");
                $("#ComputerPassword").removeClass("required");
                $("#lblComputerPassword").addClass("hidden");

                SaveThisHrComputer();
            }
            if ($("#ComputerName").val() == "") {
                $("#ComputerName").addClass("required");
                $("#lblComputerName").removeClass("hidden");

            }
            else {
                $("#ComputerName").removeClass("required");
                $("#lblComputerName").addClass("hidden");
            }
            if ($("#ComputerPassword").val() == "") {
                $("#ComputerPassword").addClass("required");
                $("#lblComputerPassword").removeClass("hidden");
            }
            else {
                $("#ComputerPassword").removeClass("required");
                $("#lblComputerPassword").addClass("hidden");
            }
        });
    });
</script>
@using Localize = HS.Web.UI.Helper.LanguageHelper
<table class="udi_table">
    <tr class="info-table-tr">
        <td class="udi_title">
            <label>@Localize.T("Computer Name")</label>
            @Html.TextBoxFor(x => x.ComputerName, new { @class = "form-control", placeholder = "Computer Name" })
            <label class="label hidden red absolute" id="lblComputerName">*@Localize.T("Please enter computer name"). </label>
        </td>
        <td class="udi_data">
            <label>@Localize.T("Computer Password")</label>
            @Html.TextBoxFor(x => x.ComputerPassword, new { @class = "form-control", placeholder = "Computer Password"})
            <label class="label hidden red absolute" id="lblComputerPassword">*@Localize.T("Please enter computer password"). </label>
        </td>
    </tr>
    <tr class="info-table-tr hidden">
        <td class="udi_title"></td>
        <td class="udi_data udi_data_custom">
            <button class="style-btn-custom" id="btnSaveHrComputer"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        </td>
    </tr>

</table>

<input type="hidden" id="ComputerId" value="@Model.Id" />
<input type="hidden" id="UserId" value="@ViewBag.userId " />