@{
   var serial = 1;
   var hserial = 1;
    Layout = null;
}
@model IEnumerable<HS.Entities.EmployeePtoAccrualRate>
    @using LabelHelper = HS.Web.UI.Helper.LabelHelper
    @using Localize = HS.Web.UI.Helper.LanguageHelper
    @Styles.Render("~/styles/AddCustomer")
    <script src="~/Content/Js/Site/Validation.js"></script>
    <style>
        .add_site_location_header {
            font-size: 20px !important;
        }
        .add_site_location_inner .form-group {
            width: 100%;
            float: left;
            padding: 0px 15px;
            margin-top: 10px;
        }

        .form-group {
            margin-bottom: 5px !important;
        }

        .m-l-70 {
            margin-left: 70px;
        }


        element.style {
        }

        .add_site_location_footer #SaveHoliday {
            color: #fff !important;
            border-color: #2ca01c !important;
            float: right !important;
        }
        #tblPTO_AccrualRate table thead tr th,
        #tblPTO_AccrualRate table tbody tr td{
            text-align:center;
            width:100%;
        }
        table{
            width:100%;
        }
        .add_site_location_header b {
            margin-left:-10px;
        }
    </style>
    <script>
          
        $(document).ready(function () {
            $("#AddPtoAccrualRate").click(function () {
                OpenRightToLeftModal(domainurl + "/Hr/EmployeePtoAccrualRate?Id=0");
            });
            $(".dfw_table_height").height(window.innerHeight - 100);
        });

    </script>
    <div class="add_site_location_container">
        <div class="add_site_location_header">
            @Localize.T("Employee PTO Accrual Rate")
        </div>
        <div class="dfw_table_top_cont">
            <button class="btn btnPO" id="AddPtoAccrualRate"><i title="Add Accrual Rate" class="fa fa-plus"></i> @Localize.T("New")</button>
        </div>
        
        <div class="dfw_table_height">
            
            <div style="margin:0px 20px">
                <div class="add_site_location_header">
                    <b>Salary</b>
                </div>
                <table class="table dfw_table" id="tblPTO_AccrualRate">
                    <thead class="table-head-border">
                        <tr>
                            <th class="th_timeclock"><div>@Localize.T("SL. NO.")</div></th>
                            <th class="th_timeclock"><div>@Localize.T("Pay Type")</div></th>
                            <th class="th_timeclock"><div>@Localize.T("Salary Employees")</div></th>
                            <th class="th_timeclock"><div>@Localize.T("Accrual Rate")</div></th>
                            <th class="th_timeclock"><div>@Localize.T("PTO Hours")</div></th>
                            <th class="th_timeclock_pre"><div>@Localize.T("Action")</div></th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model.Where(x => x.PayType == "Salary"))
                            {
                                <tr>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@serial</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@item.PayType</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@item.MinimumDay</span>-<span>@item.MaximumDay Days</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@item.AccrualRate</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@item.PtoHours</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span><i class="fa fa-edit" title="Edit Accrual Rate" style="cursor:pointer;" onclick="OpenRightToLeftModal('/Hr/EmployeePtoAccrualRate?Id=@item.Id')"></i></span>
                                        </div>
                                    </td>
                                </tr>
                                serial += 1;
                            }
                        }
                    </tbody>
                </table>
            </div>
            
            <div style="margin:0px 20px">
                <div class="add_site_location_header">
                    <b>Hourly</b>
                </div>
                <table class="table dfw_table" id="tblPTO_AccrualRate">
                    <thead class="table-head-border">
                        <tr>
                            <th class="th_timeclock"><div>@Localize.T("SL. NO.")</div></th>
                            <th class="th_timeclock"><div>@Localize.T("Pay Type")</div></th>
                            <th class="th_timeclock"><div>@Localize.T("Hourly Employees")</div></th>
                            <th class="th_timeclock"><div>@Localize.T("Accrual Rate")</div></th>
                            <th class="th_timeclock"><div>@Localize.T("PTO Hours")</div></th>
                            <th class="th_timeclock_pre"><div>@Localize.T("Action")</div></th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model.Where(x => x.PayType == "Hourly"))
                            {
                                <tr>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@hserial</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@item.PayType</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@item.MinimumDay</span>-<span>@item.MaximumDay Days</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@item.AccrualRate</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@item.PtoHours</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span><i class="fa fa-edit" title="Edit Accrual Rate" style="cursor:pointer;" onclick="OpenRightToLeftModal('/Hr/EmployeePtoAccrualRate?Id=@item.Id')"></i></span>
                                        </div>
                                    </td>
                                </tr>
                                hserial += 1;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
