@{
    Layout = null;
}
@model HS.Entities.EmployeePtoAccrualRate
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/AddCustomer")
<script src="~/Content/Js/Site/Validation.js"></script>
<style>
    .add_site_location_header {
        font-size:20px !important;
    }
    .add_site_location_inner .form-group {
        width: 100%;
        float: left;
        padding: 0px 15px;
        margin-top: 10px;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .m-l-70 {
        margin-left: 70px;
    }


    element.style {
    }

    .add_site_location_footer #SaveHoliday {
        color: #fff !important;
        border-color: #2ca01c !important;
        float: right !important;
    }
</style>
<script>
    var SaveAccrualRate = function () {
         
        if (CommonUiValidation()) {
            if (Number($("#MinimumDay").val()) > Number($("#MaximumDay").val())) {
                return OpenErrorMessageNew("Error!", "Minimum Days must be less than Maximum Days.");
            }
            var url = domainurl + "/Hr/SaveEmployeePtoAccrualRate";
            var param = JSON.stringify({
                Id: $("#AccrualRateId").val(),
                PayType: $("#AccrualRateType").val(),
                MinimumDay: $("#MinimumDay").val(),
                MaximumDay: $("#MaximumDay").val(),
                AccrualRate: $("#AccrualRate").val(),
                PtoHours: $("#PtoHours").val(), 
            });
            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: url,
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data.result) {
                        OpenRightToLeftModal(false);
                        CloseTopToBottomModal(); 
                        OpenIeateryPopupModal("Success", "Accrual rate saved successfully");
                        setTimeout(function () {
                            OpenTopToBottomModal(domainurl + "/Hr/EmployeePtoAccrualRateSetting");
                        }, 1000);
                         
                    }
                    else {
                        OpenErrorMessageNew("Error", "");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })
        }
    }


    $(document).ready(function () {
        $(".add_site_location_inner_height").height(window.innerHeight - 94);
    });

</script>
<div class="add_site_location_container">
    @if (Model.Id > 0)
    {
        <div class="add_site_location_header">
            @Localize.T("Edit Accrual Rate")
        </div>
    }
    else
    {
        <div class="add_site_location_header">
            @Localize.T("Add Accrual Rate")
        </div>
    }

    <input type="hidden" value="@Model.Id" id="AccrualRateId" />
    <div class="add_site_location_inner_height">
        <div class="add_site_location_inner">
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Pay Type")</span>
                @Html.DropDownListFor(x => x.PayType, ViewBag.EmployeeAccrualPayType as List<SelectListItem>, new { @class = "form-control", @datarequired = "true", id = "AccrualRateType" })
            </div>
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Minimum Days")</span>
                @Html.TextBoxFor(x => x.MinimumDay, new { @class = "form-control", @datarequired = "true" })
            </div>
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Maximum Days")</span>
                @Html.TextBoxFor(x => x.MaximumDay, new { @class = "form-control", @datarequired = "true" })
            </div>
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("Accrual Rate")</span>
                @Html.TextBoxFor(x => x.AccrualRate, new { @class = "form-control", @datarequired = "true" })
            </div>
            <div class="form-group clearfix">
                <span class="span-style">@Localize.T("PTO Hours")</span>
                @Html.TextBoxFor(x => x.PtoHours, new { @class = "form-control", @datarequired = "true" })
            </div>
        </div>
    </div>
    <div class="add_site_location_footer" style="background-color:transparent;">
        <button class="btn btn-success" id="SaveAccrualRate" onclick="SaveAccrualRate()"><i class="fa fa-save" aria-hidden="true"></i> @Localize.T("Save")</button>
    </div>
</div>
