@{
   var serial = 1;
   var hserial = 1;
    Layout = null;
    var TotalHourPto = 0.0;
    var TotalworkingHourPto = 0.0;
    var EmpPayType = ViewBag.EmpPaytype;
}
@model IEnumerable<HS.Entities.EmployeePTOHourLog>
    @using LabelHelper = HS.Web.UI.Helper.LabelHelper
    @using Localize = HS.Web.UI.Helper.LanguageHelper
    @Styles.Render("~/styles/AddCustomer")
    <script src="~/Content/Js/Site/Validation.js"></script>
    <style>
        .add_site_location_header {
            font-size: 20px !important;
        }

        .add_site_location_inner .form-group {
            width: 100%;
            float: left;
            padding: 0px 15px;
            margin-top: 10px;
        }

        .form-group {
            margin-bottom: 5px !important;
        }

        .m-l-70 {
            margin-left: 70px;
        }


        element.style {
        }

        .add_site_location_footer #SaveHoliday {
            color: #fff !important;
            border-color: #2ca01c !important;
            float: right !important;
        }

        #tblPTO_AccrualRate table thead tr th,
        #tblPTO_AccrualRate table tbody tr td {
            text-align: center;
            width: 100%;
        }

        table {
            width: 100%;
        }

        .add_site_location_header b {
            margin-left: -10px;
        }
    </style>
    <script>

        $(document).ready(function () {
             
        });

    </script>
    <div class="add_site_location_container">
        <div class="add_site_location_header">
            @Localize.T("Employee PTO Hours Accrued")
        </div> 
        <div class="dfw_table_height"> 
            <div style="margin:0px 20px">
                <div class="add_site_location_header">
                    <b>  </b>
                </div>
                <table class="table dfw_table" id="tblPTO_AccrualRate">
                    <thead class="table-head-border">
                        <tr>
                            <th class="th_timeclock"><div>@Localize.T("SL. NO.")</div></th>
                            <th class="th_timeclock"><div>@Localize.T("Employee Name")</div></th>
                            <th class="th_timeclock"><div>@Localize.T("Hire Date")</div></th>
                            <th class="th_timeclock"><div>@Localize.T("Pay Type")</div></th>
                            <th class="th_timeclock"><div>@Localize.T("Start Date")</div></th>
                            <th class="th_timeclock"><div>@Localize.T("End Date")</div></th>
                            <th class="th_timeclock_pre"><div>@Localize.T("Created Date")</div></th>
                            <th class="th_timeclock_pre"><div>@Localize.T("PTO Hours")</div></th> 
                            <th class="th_timeclock_pre"><div>@Localize.T("Working Hours")</div></th> 
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                {
                                    if (item.PTOHour.HasValue)
                                    {
                                        TotalHourPto += item.PTOHour.Value;
                                    }
                                    if(item.WorkingHours.HasValue)
                                    {
                                        TotalworkingHourPto += item.WorkingHours.Value;
                                    }
                                }
                                <tr>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@serial</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@item.EmployeeName</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@item.HireDate.ToString("M/d/yy")</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@item.PayType</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@item.FromDate.Value.ToString("M/d/yy")</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@item.EndDate.Value.ToString("M/d/yy")</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@item.CreatedDate.ToString("M/d/yy")</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@HS.Web.UI.Helper.LabelHelper.FormatFourDecimalAmount(Convert.ToDouble(item.PTOHour))</span>
                                        </div>
                                    </td>
                                    <td class="table-body-td-style">
                                        <div>
                                            <span>@HS.Web.UI.Helper.LabelHelper.FormatAmount(Convert.ToDouble(item.WorkingHours))</span>
                                        </div>
                                    </td>
                                </tr>
                                serial += 1;
                            }
                            <tr>
                            <td class="table-body-td-style">
                                <div>
                                    <strong>Total</strong>
                                </div>
                            </td>
                            <td class="table-body-td-style">
                                <div>
                                    <span></span>
                                </div>
                            </td>
                            <td class="table-body-td-style">
                                <div>
                                    <span></span>
                                </div>
                            </td>
                            <td class="table-body-td-style">
                                <div>
                                    <span></span>
                                </div>
                            </td>
                            <td class="table-body-td-style">
                                <div>
                                    <span></span>
                                </div>
                            </td>
                            <td class="table-body-td-style">
                                <div>
                                    <span></span>
                                </div>
                            </td>
                            <td class="table-body-td-style">
                                <div>
                                    <span></span>
                                </div>
                            </td>
                            <td class="table-body-td-style">
                                <div>
                                    @if (EmpPayType == "Salary")
                                    {
                                        <strong>@HS.Web.UI.Helper.LabelHelper.FormatTo3DP(Convert.ToDouble(TotalHourPto)) Hours</strong>
                                    }
                                    else
                                    {
                                        <strong>@HS.Web.UI.Helper.LabelHelper.FormatFourDecimalAmount(Convert.ToDouble(TotalHourPto)) Hours</strong>
                                    }

                                </div>
                            </td>
                            <td class="table-body-td-style">
                                <div>
                                    <strong>@HS.Web.UI.Helper.LabelHelper.FormatAmount(Convert.ToDouble(TotalworkingHourPto)) Hours</strong>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div> 
        </div>

    </div>
