@{
    Layout = null;
}
@model IEnumerable<HS.Entities.EmployeeWriteUp>
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var EditWriteUp = function(Id)
    {
        OpenRightToLeftModal("/Hr/AddHrWriteUps?Id="+Id);
    }
    var DeleteEmpWriteupConfirm = function (Id) {
        OpenConfirmationMessageNew("", "Do you want to delete this writeup?", function () {
            DeleteEmpWriteup(Id);
        })
    }
    var DeleteEmpWriteup = function (Id) {

        var url = "/Hr/DeleteWriteUp";
        $.ajax({
            type: "POST",
            ajaxStart: function () { },
            url: url,
            data: JSON.stringify({
                Id: Id,

            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.result == true) {

                    OpenSuccessMessageNew("Success !", data.message, function () {
                        $("#WriteupsLoad").load(domainurl + "/Hr/HrWriteUps?userId=" + userId);
                    });
                }

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
</script>
<table class="HrWriteUps_list">
    <thead>
        <tr>
            <th>
                <span>Supervisor</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WriteupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                <span>@Localize.T("File")</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="hwp_act">
                <span>Action</span>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="hwu_head">
                    Supervisor <span>:</span>
                </div>
                <div class="hwu_info">@item.SupervisorName</div>
            </td>

            <td>
                <div class="hwu_head">
                    @Html.DisplayNameFor(model => model.WriteupDate) <span>:</span>
                </div>
                <div class="hwu_info">@item.WriteupDate.Value.ToString("MM/dd/yy")</div>
                @*@Html.DisplayFor(modelItem => item.WriteupDate.Value.ToString("MM/dd/yyyy"))*@
            </td>
            <td>
                <div class="hwu_head">@Html.DisplayNameFor(model => model.Category) <span>:</span></div>
                <div class="hwu_info">@Html.DisplayFor(modelItem => item.Category)</div>
            </td>


            @{
                if (item.FilePath != null && item.FilePath != "")
                {
                    var NameFile = item.FilePath.Split('.');
                    if (NameFile[1].ToLower() == "pdf")
                    {
                        <td valign="top">
                            @*<div class="lacf_device">@Localize.T("File") <span>:</span></div>*@
                            <div class="hwu_head">@Localize.T("File") <span>:</span></div>
                            <div class="hwu_info">
                                <div class="lacf_info">
                                    <a class="fileDownloadCustom cus-anchor" href="/File/DownloadWriteUp/?@(HttpUtility.UrlEncode( HS.Framework.DESEncryptionDecryption.EncryptPlainTextToCipherText(item.Id.ToString())))" id="down-file" target="_blank" data-id="@item.Id"><img class="size-img" src="/Content/Icons/pdf.png" /></a>
                                </div>
                            </div>
                        </td>
                    }
                    else if (NameFile[1].ToLower() == "jpg" || NameFile[1].ToLower() == "png")
                    {
                        <td valign="top">
                            <div class="hwu_head">@Localize.T("File") <span>:</span></div>
                            @*<div class="lacf_device">@Localize.T("File") <span>:</span></div>*@
                            <div class="hwu_info">
                                <div class="lacf_info">
                                    <a class="fileDownloadCustom cus-anchor" href="/File/DownloadWriteUp/?@(HttpUtility.UrlEncode( HS.Framework.DESEncryptionDecryption.EncryptPlainTextToCipherText(item.Id.ToString())))" id="down-file" target="_blank" data-id="@item.Id"><img class="size-img" src="~/Content/Icons/jpeg.png" /></a>
                                </div>
                            </div>
                        </td>
                    }
                    else if (NameFile[1].ToLower() == "mp4")
                    {
                        <td valign="top">
                            <div class="hwu_head">@Localize.T("File") <span>:</span></div>
                            @*<div class="lacf_device">@Localize.T("File Description") <span>:</span></div>*@
                            <div class="hwu_info">
                                <div class="lacf_info">
                                    <a class="fileDownloadCustom cus-anchor" href="/File/DownloadWriteUp/?@(HttpUtility.UrlEncode( HS.Framework.DESEncryptionDecryption.EncryptPlainTextToCipherText(item.Id.ToString())))" id="down-file" target="_blank" data-id="@item.Id"><img class="size-img" src="~/Content/Icons/mp4.png" /></a>
                                </div>
                            </div>
                        </td>
                    }
                    else if (NameFile[1].ToLower() == "mov")
                    {
                        <td valign="top">
                            <div class="hwu_head">@Localize.T("File") <span>:</span></div>
                            @*<div class="lacf_device">@Localize.T("File") <span>:</span></div>*@
                            <div class="hwu_info">
                                <div class="lacf_info">
                                    <a class="fileDownloadCustom cus-anchor" href="/File/DownloadWriteUp/?@(HttpUtility.UrlEncode( HS.Framework.DESEncryptionDecryption.EncryptPlainTextToCipherText(item.Id.ToString())))" id="down-file" target="_blank" data-id="@item.Id"><img class="size-img" src="~/Content/Icons/mov.png" /></a>
                                </div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td valign="top">
                            <div class="hwu_head">@Localize.T("File") <span>:</span></div>
                            @*<div class="lacf_device">@Localize.T("File") <span>:</span></div>*@
                            <div class="hwu_info">
                                <div class="lacf_info">
                                    <a class="fileDownloadCustom cus-anchor" href="/File/DownloadWriteUp/?@(HttpUtility.UrlEncode( HS.Framework.DESEncryptionDecryption.EncryptPlainTextToCipherText(item.Id.ToString())))" id="down-file" target="_blank" data-id="@item.Id"><img class="size-img" src="~/Content/Icons/docx.png" /></a>
                                </div>
                            </div>
                        </td>
                    }
                }
                else
                {
                    <td>
                        <div class="hwu_head">@Localize.T("File") <span>:</span></div>
                        <div class="hwu_info">  <span></span></div>
                    </td>
                }

            }






            <td>
                <div class="hwu_head">@Html.DisplayNameFor(model => model.Description) <span>:</span></div>
                <div class="hwu_info">@Html.DisplayFor(modelItem => item.Description)</div>
            </td>

            <td>
                <div class="hwu_head">@Localize.T("Action") <span>:</span></div>
                <div class="hwu_info">
                    <button title="Edit" type="button" onclick="EditWriteUp('@item.Id')" class="btn edit-button editCustomerCustomerDetailsHeader">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    @if (PermissionChecker.IsPermitted(PermissionList.UserMgmtPermissions.WriteupDelete))
                {
                        <button class="btn btn-default" data-toggle="tooltip" title="" onclick="DeleteEmpWriteupConfirm('@item.Id')" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
                    }
                </div>
            </td>


        </tr>
    }
</tbody>

</table>
