

@model HS.Entities.EmployeeVehicle
@{
    Layout = null;
}
<link href="~/Content/Css/Hr/HrInsurance.css" rel="stylesheet" />
<script>
    var VehicleId = '@Model.VehicleId';
    var SaveThisVehicle = function (IsAssign) {
             console.log(IsAssign);
                var EmpVehicle = {};
                EmpVehicle.Id = $("#Id").val();
                EmpVehicle.EmployeeId = $("#UserId").val();
                EmpVehicle.VehicleNo = $("#VehicleId").find("option:selected").text();
                EmpVehicle.VehicleId = $("#VehicleId").find("option:selected").val();
                EmpVehicle.IsAssign = IsAssign;
                $.ajax({
                    type: "POST",
                    url: domainurl + "/Hr/SaveEmployeeVehicle",
                    data: '{EmpVehicle: ' + JSON.stringify(EmpVehicle) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.result) {
                            $("#vehicleId").val(response.Id);
                            OpenSuccessMessageNew("Success!", response.message, function () {
                                $(".close").click();
                          
                            });
                        }
                        else if(response.result == false && response.isAssign == true)
                        {
                            //OpenConfirmationMessageNew("", response.message, function ()
                            //{
                                
                            //});
                            SaveThisVehicle(true);
                        }
                        else {
                            OpenErrorMessageNew("Error!", response.message, function () {

                            });
                        }
                        //window.location.reload();
                    }
                });


    }
    var SaveThisVehicleForHrHome = function (IsAssign) {
        var EmpVehicle = {};
        EmpVehicle.Id = $("#Id").val();
        EmpVehicle.EmployeeId = $("#UserId").val();
        EmpVehicle.VehicleNo = $("#VehicleId").find("option:selected").text();
        EmpVehicle.VehicleId = $("#VehicleId").find("option:selected").val();
        EmpVehicle.IsAssign = IsAssign;
        $.ajax({
            type: "POST",
            url: domainurl + "/Hr/SaveEmployeeVehicle",
            data: '{EmpVehicle: ' + JSON.stringify(EmpVehicle) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.result) {
                    $("#vehicleId").val(response.Id);
                    OpenSuccessMessageNew("Success!", "User information saved successfully", function () {
                        $(".close").click();

                    });
                }
                else if (response.result == false && response.isAssign == true) {
                    //OpenConfirmationMessageNew("", response.message, function () {
                        
                    //});
                    SaveThisVehicle(true);
                }
                else {
                    OpenErrorMessageNew("Error!", response.message, function () {

                    });
                }
                //window.location.reload();
            }
        });


    }

    $(document).ready(function () {
        console.log(VehicleId);
       
        $("#btnSaveHrVehicle").click(function () {
            //if ($("#VehicleId").find("option:selected").text() != "Select One")
            //{
            //    $("#VehicleId").removeClass("required");
            //    $("#lblVehicleError").addClass("hidden");
                
            //}
            //else {
            //    $("#VehicleId").addClass("required");
            //    $("#lblVehicleError").removeClass("hidden");
            //}
            SaveThisVehicle(false);
        });
    });
</script>
@using Localize = HS.Web.UI.Helper.LanguageHelper
<table class="udi_table">
    <tr class="info-table-tr">
        <td class="udi_title">
            <label>@Localize.T("Select Vehicle")</label>
            @Html.DropDownListFor(x => x.VehicleId, ViewBag.VehicleList as List<SelectListItem>, new { @class = "form-control" })
            <label class="label hidden red absolute" id="lblVehicleError">*@Localize.T("Please select Vehicle"). </label>
        </td>
      
    </tr>
    <tr class="info-table-tr hidden">
        <td class="udi_title"></td>
        <td class="udi_data udi_data_custom">
            <button class="style-btn-custom" id="btnSaveHrVehicle"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        </td>
    </tr>
 

</table>

<input type="hidden" id="Id" value="@Model.Id" />
<input type="hidden" id="UserId" value="@ViewBag.userId " />
