@model HS.Entities.EmployeeWeeklyOperations
@{
    Layout = null;
} 
<link href="~/Content/Css/Hr/HrInsurance.css" rel="stylesheet" />
<script type="text/javascript">
    var SaveEmpOperationsForHrHome = function () {
        var EmpOperationList = JSON.stringify({
            UserId: $("#UserId").val(),
            MonStart: $("#MonStart").val(),
            MonEnd: $("#MonEnd").val(),
            TueStart: $("#TueStart").val(),
            TueEnd: $("#TueEnd").val(),
            WedStart: $("#WedStart").val(),
            WedEnd: $("#WedEnd").val(),
            ThuStart: $("#ThuStart").val(),
            ThuEnd: $("#ThuEnd").val(),
            FriStart: $("#FriStart").val(),
            FriEnd: $("#FriEnd").val(),
            SatStart: $("#SatStart").val(),
            SatEnd: $("#SatEnd").val(),
            SunStart: $("#SunStart").val(),
            SunEnd: $("#SunEnd").val(),
            CurrentDate: $("#CurrentDate").val()
        });
        $.ajax({
            type: "POST",
            url: domainurl + "/Hr/SaveWeeklyEmployeeOperationTimeList",
            data: '{EmpOperations: ' + EmpOperationList + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.result) {
                    OpenSuccessMessageNew("Success!", "User information saved successfully", function () {
                        $(".close").click();

                    });
                    parent.LoadHrTab();
                    //window.location.reload();
                }
            }
        });


    }
    var biggerchecking = function (data, item) {
        var ids = '#' + data + 'Start';
        var startval = $(ids).val();
        var selectval = $(item).val();
        if (startval.length == 5 && selectval.length == 5) {
            var startvalue = parseInt(startval.replace(':', ''));
            selectval = parseInt(selectval.replace(':', ''));
            if (selectval <= startvalue) {
                OpenErrorMessageNew("Error!", "End time should be greater then start time.", function () {
                    var endval = parseInt(startval.split(':')[0]);
                    if (endval < 22) {
                        endval += 2;
                    }
                    if (endval < 10) {
                        endval = '0' + endval + ':' + startval.split(':')[1];
                    }
                    else {
                        endval = endval + ':' + startval.split(':')[1];
                    }
                    $(item).val(endval);
                });
            }
        }

    }
</script>
@using Localize = HS.Web.UI.Helper.LanguageHelper
<table class="ap_week_table">
    <tr class="info-table-tr">
        <th></th>
        <th class="">
            <label>@Localize.T("Mon")</label>
        </th>
        <th class="">
            <label>@Localize.T("Tue")</label>
        </th>
        <th>
            <label>@Localize.T("Wed")</label>
        </th>
        <th class="">
            <label>@Localize.T("Thu")</label>
        </th>
        <th class="">
            <label>@Localize.T("Fri")</label>
        </th>
        <th class="">
            <label>@Localize.T("Sat")</label>
        </th>
        <th class="">
            <label>@Localize.T("Sun")</label>
        </th>
    </tr>
    <tr class="">
        <td>
            @Localize.T("Start: ")
        </td>
        <td class="">
            @Html.DropDownListFor(x => x.MonStart, ViewBag.TimeList as List<SelectListItem>, new { @class = "form-control" })
        </td>
        <td class="">
            @Html.DropDownListFor(x => x.TueStart, ViewBag.TimeList as List<SelectListItem>, new { @class = "form-control" })
        </td>
        <td class="">
            @Html.DropDownListFor(x => x.WedStart, ViewBag.TimeList as List<SelectListItem>, new { @class = "form-control" })
        </td>
        <td class="">
            @Html.DropDownListFor(x => x.ThuStart, ViewBag.TimeList as List<SelectListItem>, new { @class = "form-control" })
        </td>
        <td class="">
            @Html.DropDownListFor(x => x.FriStart, ViewBag.TimeList as List<SelectListItem>, new { @class = "form-control" })
        </td>
        <td class="">
            @Html.DropDownListFor(x => x.SatStart, ViewBag.TimeList as List<SelectListItem>, new { @class = "form-control" })
        </td>
        <td class="">
            @Html.DropDownListFor(x => x.SunStart, ViewBag.TimeList as List<SelectListItem>, new { @class = "form-control" })
        </td>
    </tr>
    <tr class="">
        <td>
            @Localize.T("End: ")
        </td>
        <td class="">
            @Html.DropDownListFor(x => x.MonEnd, ViewBag.TimeList as List<SelectListItem>, new { @class = "form-control", onchange = "biggerchecking('Mon', this)" })
        </td>
        <td class="">
            @Html.DropDownListFor(x => x.TueEnd, ViewBag.TimeList as List<SelectListItem>, new { @class = "form-control", onchange = "biggerchecking('Tue', this)" })
        </td>
        <td class="">
            @Html.DropDownListFor(x => x.WedEnd, ViewBag.TimeList as List<SelectListItem>, new { @class = "form-control", onchange = "biggerchecking('Wed', this)" })
        </td>
        <td class="">
            @Html.DropDownListFor(x => x.ThuEnd, ViewBag.TimeList as List<SelectListItem>, new { @class = "form-control", onchange = "biggerchecking('Thu', this)" })
        </td>
        <td class="">
            @Html.DropDownListFor(x => x.FriEnd, ViewBag.TimeList as List<SelectListItem>, new { @class = "form-control", onchange = "biggerchecking('Fri', this)" })
        </td>
        <td class="">
            @Html.DropDownListFor(x => x.SatEnd, ViewBag.TimeList as List<SelectListItem>, new { @class = "form-control", onchange = "biggerchecking('Sat', this)" })
        </td>
        <td class="">
            @Html.DropDownListFor(x => x.SunEnd, ViewBag.TimeList as List<SelectListItem>, new { @class = "form-control", onchange = "biggerchecking('Sun', this)" })
        </td>
    </tr>

</table>
<input type="hidden" id="UserId" value="@Model.UserId" />
<input type="hidden" id="CurrentDate" value="@Model.CurrentDate" />

