@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<link href="~/Content/Select2/select2.css" rel="stylesheet" />
<script src="~/Content/Select2/Select2.min.js"></script>

<script>

    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    var DataTablePageSize = 50;
    var PayrollStartDatepicker;
    var PayrollEndDatepicker;
    var startTab = '@ViewBag.StartTab'
    var LoadSMSTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_SMS").html(TabsLoaderText);
        $(".Load_SMS").load(domainurl + "/Marketing/LoadSMSPartial?PageNo=1&PageSize=50");
    }

    var LoadEmailTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Email").html(TabsLoaderText);
        $(".Load_Email").load(domainurl + "/Marketing/LoadEmailPartial?PageNo=1&PageSize=50");
    }

    var LoadSocialMediaTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_SocialMedia").html(TabsLoaderText);
        $(".Load_SocialMedia").load(domainurl + "/Marketing/LoadSocialMediaPartial?PageNo=1&PageSize=50");
    }

    var LoadPaidAdvertisementTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_PaidAdvertisement").html(TabsLoaderText);
        $(".Load_PaidAdvertisement").load(domainurl + "/Marketing/LoadPaidAdvertisementPartial?PageNo=1&PageSize=50");
    }

    var my_date_format = function (input) {
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        //LoadSalesReportTab();

        if (startTab == "SMSTab") {

            LoadSMSTab();
        }
        else if (startTab == "EmailTab") {
            $("#EmailTab").addClass('active');
            $(".EmailTab").addClass('active');
            LoadEmailTab();
        }
        else if (startTab == "SocialMediaTab") {
            $("#SocialMediaTab").addClass('active');
            $(".SocialMediaTab").addClass('active');
            LoadSocialMediaTab();
        }
        else if (startTab == "PaidAdvertisementTab") {
            $("#PaidAdvertisementTab").addClass('active');
            $(".PaidAdvertisementTab").addClass('active');
            LoadPaidAdvertisementTab();
        }
        

        $(".SMSTab").click(function () {
            LoadSMSTab();
        });
        $(".EmailTab").click(function () {
            LoadEmailTab();
        });
        $(".SocialMediaTab").click(function () {
            LoadSocialMediaTab();
        });
        $(".PaidAdvertisementTab").click(function () {
            LoadPaidAdvertisementTab();
        });
        


        $("#sales_txt_search").keyup(function (event) {
            event.preventDefault();
            if (event.keyCode == 13) {
                FilterSalesReport1(1)
            }
        })

    });

</script>
@*<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />*@
<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">
    @Localize.T("Marketing")
    @*<div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>*@
</div>

<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs payroll_report_top_nav" id="myTab">

            @if (PermissionChekcer.IsPermitted(Permissions.MarketingPermissions.SMSTab))
            {
                <li class="SMSTab active">
                    <a idval="" data-target="#SMSTab" data-toggle="tab">@Localize.T("SMS")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.MarketingPermissions.EmailTab))
            {
                <li class="EmailTab">
                    <a idval="" data-target="#EmailTab" data-toggle="tab">@Localize.T("Email")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.MarketingPermissions.SocialMediaTab))
            {
                <li class="SocialMediaTab">
                    <a idval="" data-target="#SocialMediaTab" data-toggle="tab">@Localize.T("Social Media")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.MarketingPermissions.PaidAdvertisementTab))
            {
                <li class="PaidAdvertisementTab">
                    <a idval="" data-target="#PaidAdvertisementTab" data-toggle="tab">@Localize.T("Paid Advertisement")</a>
                </li>
            }
           
        </ul>
        <div class="row marketting_top_info_bar">
            @if (PermissionChekcer.IsPermitted(Permissions.MarketingPermissions.SocialMediaBox))
            {
                <div class="col-lg-3 col-md-6 dashboard_report">
                    <div class="panel panel-primary">
                        <div class="panel-heading order_filter_list" style="cursor:pointer;">
                            <div class="row">
                                <div class="col-xs-3">
                                    <svg x="0px" y="0px"
                                         width="55" height="55"
                                         viewBox="0 0 172 172"
                                         style="fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M147.8125,0c-13.33269,0 -24.1875,10.85481 -24.1875,24.1875c0,5.56313 1.87831,10.69625 5.04956,14.78125l-11.47436,10.50854c-7.30463,-7.30731 -17.38376,-11.85229 -28.5127,-11.85229c-12.66081,0 -23.97754,5.85758 -31.36816,15.0542l-10.68701,-8.36694c-1.15562,-0.93525 -2.85773,-0.72596 -3.7688,0.46191c-0.91375,1.15563 -0.69371,2.84724 0.46191,3.7583l10.88647,8.52441c-3.71681,6.09794 -5.83691,13.21586 -5.83691,20.88061c0,5.70019 1.18594,11.12877 3.32788,16.02002l-21.76245,9.56372c-1.96188,-2.49938 -5.0273,-4.08374 -8.44043,-4.08374c-5.94206,0 -10.75,4.80794 -10.75,10.75c0,5.94206 4.80794,10.75 10.75,10.75c5.94206,0 10.75,-4.80794 10.75,-10.75c0,-0.58856 -0.05266,-1.15462 -0.15747,-1.72168l22.08789,-9.7002c6.63544,10.93813 18.32833,18.48715 31.81958,19.3794v16.22998c0,1.48081 1.20669,2.6875 2.6875,2.6875c1.48081,0 2.6875,-1.20669 2.6875,-2.6875v-16.22998c9.8685,-0.65037 18.72978,-4.84002 25.39478,-11.3169l10.83398,9.75268c-2.49669,3.49644 -3.97876,7.79938 -3.97876,12.41919c0,11.85187 9.64813,21.5 21.5,21.5c11.85187,0 21.5,-9.64813 21.5,-21.5c0,-11.85187 -9.64813,-21.5 -21.5,-21.5c-5.29169,0 -10.1611,1.93273 -13.89941,5.13354l-10.87598,-9.80517c5.42875,-6.85581 8.65039,-15.48462 8.65039,-24.89087c0,-9.16438 -3.06728,-17.62765 -8.25146,-24.39746l11.69482,-10.69751c4.18713,3.4615 9.53189,5.53247 15.36914,5.53247c13.33269,0 24.1875,-10.85481 24.1875,-24.1875c0,-13.33269 -10.85481,-24.1875 -24.1875,-24.1875zM147.8125,5.375c10.37106,0 18.8125,8.44144 18.8125,18.8125c0,10.37106 -8.44144,18.8125 -18.8125,18.8125c-4.27313,0 -8.20082,-1.42622 -11.36939,-3.84229c-1.44856,-1.06962 -2.70942,-2.39372 -3.78979,-3.84228c-2.31125,-3.1175 -3.65332,-6.95962 -3.65332,-11.12793c0,-10.37106 8.44144,-18.8125 18.8125,-18.8125zM26.875,16.125c-8.89294,0 -16.125,7.23206 -16.125,16.125c0,8.89294 7.23206,16.125 16.125,16.125c8.89294,0 16.125,-7.23206 16.125,-16.125c0,-8.89294 -7.23206,-16.125 -16.125,-16.125zM26.875,21.5c5.93131,0 10.75,4.81869 10.75,10.75c0,5.93131 -4.81869,10.75 -10.75,10.75c-5.93131,0 -10.75,-4.81869 -10.75,-10.75c0,-5.93131 4.81869,-10.75 10.75,-10.75zM85.1969,21.99341c-1.48081,0.09137 -2.60566,1.36672 -2.51428,2.85022l0.33069,5.3645c0.08062,1.31688 1.1015,2.35597 2.36731,2.50379c0.15587,0.01881 0.31373,0.02125 0.47766,0.0105c1.48081,-0.09137 2.61091,-1.36672 2.51953,-2.85022l-0.33069,-5.3645c-0.09137,-1.48081 -1.35597,-2.61641 -2.85022,-2.51428zM99.80493,22.93298c-1.44856,-0.29025 -2.86966,0.65092 -3.15991,2.10486l-1.06555,5.27002c-0.29563,1.45662 0.64823,2.87222 2.10486,3.16516c0.07256,0.01613 0.14521,0.02868 0.22046,0.03674c1.376,0.16125 2.66789,-0.75498 2.9447,-2.13635l1.0603,-5.27002c0.29294,-1.45394 -0.65092,-2.87747 -2.10486,-3.17041zM71.88013,24.62317c-0.3479,-0.02654 -0.70366,0.01298 -1.05505,0.13123c-1.40825,0.473 -2.16844,1.9958 -1.69544,3.40137l1.71118,5.0968c0.34131,1.01856 1.23365,1.69791 2.23608,1.81616c0.38162,0.04569 0.78085,0.00827 1.17053,-0.12073c1.40825,-0.473 2.1605,-2.00105 1.69018,-3.40662l-1.71118,-5.09155c-0.35475,-1.05619 -1.3026,-1.74704 -2.34631,-1.82666zM112.6178,27.4419c-1.04573,-0.06551 -2.07618,0.48975 -2.57202,1.48547l-2.39355,4.81336c-0.66113,1.32762 -0.12035,2.9397 1.20727,3.60083c0.28488,0.14244 0.58877,0.23276 0.88709,0.2677c1.09381,0.129 2.2003,-0.43223 2.71899,-1.47498l2.39355,-4.8081c0.66113,-1.33031 0.12035,-2.94495 -1.20728,-3.60608c-0.33258,-0.16663 -0.68548,-0.25636 -1.03406,-0.2782zM58.65784,30.80652c-0.34324,0.06484 -0.68233,0.19858 -0.99207,0.40417c-1.23625,0.82238 -1.56774,2.48531 -0.74536,3.72156l2.97619,4.47742c0.45419,0.68532 1.1712,1.08966 1.92639,1.18103c0.61006,0.07256 1.24679,-0.06223 1.80042,-0.43042c1.23625,-0.82238 1.56774,-2.49055 0.74536,-3.7268l-2.9762,-4.47217c-0.61477,-0.92719 -1.70501,-1.34929 -2.73474,-1.15478zM88.6875,43c9.56481,0 18.24443,3.87193 24.56543,10.10962c1.29,1.26044 2.46603,2.62443 3.51685,4.08374c4.30269,5.80231 6.85522,13.00683 6.85522,20.74414c0,7.97919 -2.72034,15.36948 -7.25415,21.29004c-0.25531,0.33325 -0.5396,0.64844 -0.80835,0.97632v-3.45386c0,-9.01925 -5.71417,-16.95733 -13.86267,-20.07751c1.94844,-2.666 3.11267,-5.93749 3.11267,-9.48499c0,-8.89294 -7.23206,-16.125 -16.125,-16.125c-8.89294,0 -16.125,7.23206 -16.125,16.125c0,3.5475 1.16423,6.81899 3.11267,9.48499c-8.1485,3.12019 -13.86267,11.05826 -13.86267,20.07751v3.43811c-0.95406,-1.15563 -1.85513,-2.3532 -2.65601,-3.62707c-0.97556,-1.50231 -1.83859,-3.12149 -2.56152,-4.76087c-1.8275,-4.27044 -2.84497,-8.94992 -2.84497,-13.86267c0,-6.37206 1.72193,-12.36661 4.73462,-17.52124c0.8815,-1.56413 1.8993,-3.03511 3.05493,-4.44067c6.40162,-7.89319 16.18832,-12.97559 27.14795,-12.97559zM88.6875,56.4375c5.92863,0 10.75,4.82138 10.75,10.75c0,5.92862 -4.82137,10.75 -10.75,10.75c-5.92862,0 -10.75,-4.82138 -10.75,-10.75c0,-5.92862 4.82138,-10.75 10.75,-10.75zM80.32581,80.95044c2.44294,1.48888 5.29794,2.36206 8.36169,2.36206c3.06375,0 5.91876,-0.87318 8.36169,-2.36206c7.52769,1.419 13.13831,8.06225 13.13831,15.79956v8.69238c-5.2675,4.13606 -11.75781,6.7982 -18.8125,7.32764c-0.8815,0.07525 -1.77375,0.10498 -2.6875,0.10498c-0.91375,0 -1.806,-0.03242 -2.6875,-0.10498c-7.07081,-0.5375 -13.55038,-3.18658 -18.8125,-7.31189v-8.70813c0,-7.73731 5.61062,-14.38056 13.13831,-15.79956zM21.5,104.8125c1.18519,0 2.28891,0.37793 3.17041,1.0498c1.34375,0.96481 2.20459,2.55145 2.20459,4.3252c0,0.20963 0.00076,0.39708 -0.03149,0.58789c-0.29294,2.6875 -2.60226,4.78711 -5.34351,4.78711c-2.96163,0 -5.375,-2.41338 -5.375,-5.375c0,-2.96162 2.41337,-5.375 5.375,-5.375zM145.125,112.875c8.89294,0 16.125,7.23206 16.125,16.125c0,8.89294 -7.23206,16.125 -16.125,16.125c-8.89294,0 -16.125,-7.23206 -16.125,-16.125c0,-3.25456 0.96607,-6.28942 2.63501,-8.81836c0.96481,-1.50231 2.20283,-2.84615 3.62183,-3.91577c2.71975,-2.13119 6.1621,-3.39087 9.86816,-3.39087zM88.6875,142.4375c-7.41213,0 -13.4375,6.02537 -13.4375,13.4375c0,7.41213 6.02537,13.4375 13.4375,13.4375c7.41213,0 13.4375,-6.02537 13.4375,-13.4375c0,-7.41213 -6.02537,-13.4375 -13.4375,-13.4375zM88.6875,147.8125c4.43975,0 8.0625,3.62275 8.0625,8.0625c0,4.43975 -3.62275,8.0625 -8.0625,8.0625c-4.43975,0 -8.0625,-3.62275 -8.0625,-8.0625c0,-4.43975 3.62275,-8.0625 8.0625,-8.0625z"></path></g></g></svg>
                                </div>
                                <div class="col-xs-9 text-right monthly_social_media">
                                    <div class="header_txt_style">@Localize.T("Social Media")</div>
                                    <div class="panel-sub-body-contents monthly_social_media_platform_body">Number of Platforms: @string.Format("{0:#,##0}", @*Model.NumberOfPlatformCount*@ 0)</div>
                                    <div class="panel-sub-body-contents monthly_social_media_post_body">Number of Posts: @string.Format("{0:#,##0}", @*Model.NumberOfPostCount*@ 0)</div>
                                    <div class="panel-sub-body-contents monthly_social_media_follower_body">Number of Followers: @string.Format("{0:#,##0}", @*Model.NumberOfFollowerCount*@ 0)</div>
                                </div>
                                <div class="col-xs-9 text-right daily_social_media hidden">
                                    <div class="header_txt_style">@Localize.T("Social Media")</div>
                                    <div class="panel-sub-body-contents daily_social_media_platform_body">Number of Platforms: @string.Format("{0:#,##0}", @*Model.NumberOfPlatformCount*@ 0)</div>
                                    <div class="panel-sub-body-contents daily_social_media_post_body">Number of Posts: @string.Format("{0:#,##0}", @*Model.NumberOfPostCount*@ 0)</div>
                                    <div class="panel-sub-body-contents daily_social_media_follower_body">Number of Followers: @string.Format("{0:#,##0}", @*Model.NumberOfFollowerCount*@ 0)</div>
                                </div>
                                <div class="col-xs-9 text-right weekly_social_media hidden">
                                    <div class="header_txt_style">@Localize.T("Social Media")</div>
                                    <div class="panel-sub-body-contents weekly_social_media_platform_body">Number of Platforms: @string.Format("{0:#,##0}", @*Model.NumberOfPlatformCount*@ 0)</div>
                                    <div class="panel-sub-body-contents weekly_social_media_post_body">Number of Posts: @string.Format("{0:#,##0}", @*Model.NumberOfPostCount*@ 0)</div>
                                    <div class="panel-sub-body-contents weekly_social_media_follower_body">Number of Followers: @string.Format("{0:#,##0}", @*Model.NumberOfFollowerCount*@ 0)</div>
                                </div>
                                <div class="col-xs-9 text-right yearly_order hidden">
                                    <div class="header_txt_style">@Localize.T("Social Media")</div>
                                    <div class="panel-sub-body-contents yearly_social_media_platform_body">Number of Platforms: @string.Format("{0:#,##0}", @*Model.NumberOfPlatformCount*@ 0)</div>
                                    <div class="panel-sub-body-contents yearly_social_media_post_body">Number of Posts: @string.Format("{0:#,##0}", @*Model.NumberOfPostCount*@ 0)</div>
                                    <div class="panel-sub-body-contents yearly_social_media_follower_body">Number of Followers: @string.Format("{0:#,##0}", @*Model.NumberOfFollowerCount*@ 0)</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a class="btndaily">@Localize.T("Daily")</a>
                            <a class="btnweekly">@Localize.T("Weekly")</a>
                            <a class="btnmonthly">@Localize.T("Monthly")</a>
                            <a class="btnyearly">@Localize.T("Yearly")</a>
                            <span class="pull-right social_media_filter_list" title="@Localize.T("Filter Social Media List")"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.MarketingPermissions.EmailBox))
            {
                <div class="col-lg-3 col-md-6 dashboard_report">
                    <div class="panel panel-green">
                        <div class="panel-heading email_filter_list" style="cursor:pointer;">
                            <div class="row">
                                <div class="col-xs-3">
                                    <svg x="0px" y="0px"
                                         width="55" height="55"
                                         viewBox="0 0 172 172"
                                         style="fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M63.57617,10.75c-3.59033,0 -6.96021,1.39624 -9.50073,3.93677l-17.88867,17.88867c-2.54053,2.54053 -3.93677,5.9104 -3.93677,9.50073v18.21411l-22.96973,13.78393c-2.40405,1.43823 -3.90527,4.09424 -3.90527,6.90772v72.20557c0,4.44067 3.62183,8.0625 8.0625,8.0625h145.125c4.44067,0 8.0625,-3.62183 8.0625,-8.0625v-72.20557c0,-2.81348 -1.50122,-5.46948 -3.90527,-6.90772l-22.96973,-13.78393v-41.47778c0,-4.44067 -3.62183,-8.0625 -8.0625,-8.0625zM64.5,16.125h67.1875c1.48022,0 2.6875,1.20728 2.6875,2.6875v64.5c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-16.75488l20.19824,12.12524c0.80835,0.48291 1.30176,1.36474 1.30176,2.29907v3.27539l-71.95361,32.2605c-2.08911,0.93433 -4.50366,0.93433 -6.59277,0l-71.95361,-32.2605v-3.27539c0,-0.93433 0.49341,-1.82666 1.30176,-2.29907l20.19824,-12.12524v16.75488c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-40.3125h18.8125c4.44067,0 8.0625,-3.62183 8.0625,-8.0625zM59.125,17.46875v17.46875c0,1.48022 -1.20728,2.6875 -2.6875,2.6875h-17.46875c0.29395,-0.44092 0.62988,-0.86084 1.01831,-1.24927l17.88867,-17.88867c0.38843,-0.38843 0.80835,-0.72436 1.24927,-1.01831zM83.3125,43c-10.37207,0 -18.8125,8.44043 -18.8125,18.8125v16.125c0,10.37207 8.44043,18.8125 18.8125,18.8125h16.125c1.49072,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875h-16.125c-7.41162,0 -13.4375,-6.02588 -13.4375,-13.4375v-16.125c0,-7.41162 6.02588,-13.4375 13.4375,-13.4375h5.375c7.41162,0 13.4375,6.02588 13.4375,13.4375v16.125c0,1.48022 -1.20728,2.6875 -2.6875,2.6875c-1.48022,0 -2.6875,-1.20728 -2.6875,-2.6875v-13.4375c0,-5.9314 -4.8186,-10.75 -10.75,-10.75c-5.9314,0 -10.75,4.8186 -10.75,10.75v10.75c0,5.9314 4.8186,10.75 10.75,10.75c2.82397,0 5.375,-1.11279 7.29614,-2.89746c1.48022,1.75317 3.66382,2.89746 6.14136,2.89746c4.44067,0 8.0625,-3.62183 8.0625,-8.0625v-16.125c0,-10.37207 -8.44043,-18.8125 -18.8125,-18.8125zM86,59.125c2.96045,0 5.375,2.41455 5.375,5.375v10.75c0,2.96045 -2.41455,5.375 -5.375,5.375c-2.96045,0 -5.375,-2.41455 -5.375,-5.375v-10.75c0,-2.96045 2.41455,-5.375 5.375,-5.375zM10.75,90.15723l69.74902,31.26318c1.75317,0.77685 3.63233,1.16528 5.50098,1.16528c1.86865,0 3.7478,-0.38843 5.50098,-1.16528l69.74902,-31.26318v63.03027c0,1.48022 -1.20728,2.6875 -2.6875,2.6875h-145.125c-1.48022,0 -2.6875,-1.20728 -2.6875,-2.6875zM18.8125,134.375c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM32.25,134.375c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM45.6875,134.375c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM59.125,134.375c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM72.5625,134.375c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM86,134.375c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM99.4375,134.375c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM112.875,134.375c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM126.3125,134.375c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM139.75,134.375c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM153.1875,134.375c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875z"></path></g></g></svg>
                                </div>
                                <div class="col-xs-9 text-right monthly_email">
                                    <div class="header_txt_style">@Localize.T("Email")</div>
                                    <div class="panel-sub-body-contents monthly_email_contact_body">Number of Contacts: @string.Format("{0:#,##0}", @*Model.EmailNumberOfContactCount*@ 0)</div>
                                    <div class="panel-sub-body-contents monthly_email_campaign_body">Number of Campaigns: @string.Format("{0:#,##0}", @*Model.EmailNumberOfCampaignCount*@ 0)</div>
                                    <div class="panel-sub-body-contents monthly_email_creditavailable_body">Credit Availiable: @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@string.Format("{0:#,##0}", @*Model.EmailCreditAvailable*@ 0)</div>
                                </div>
                                <div class="col-xs-9 text-right daily_email hidden">
                                    <div class="header_txt_style">@Localize.T("Email")</div>
                                    <div class="panel-sub-body-contents daily_email_contact_body">Number of Contacts: @string.Format("{0:#,##0}", @*Model.EmailNumberOfContactCount*@ 0)</div>
                                    <div class="panel-sub-body-contents daily_email_campaign_body">Number of Campaigns: @string.Format("{0:#,##0}", @*Model.EmailNumberOfCampaignCount*@ 0)</div>
                                    <div class="panel-sub-body-contents daily_email_creditavailable_body">Credit Availiable: @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@string.Format("{0:#,##0}", @*Model.EmailCreditAvailable*@ 0)</div>
                                </div>
                                <div class="col-xs-9 text-right weekly_email hidden">
                                    <div class="header_txt_style">@Localize.T("Email")</div>
                                    <div class="panel-sub-body-contents weekly_email_contact_body">Number of Contacts: @string.Format("{0:#,##0}", @*Model.EmailNumberOfContactCount*@ 0)</div>
                                    <div class="panel-sub-body-contents weekly_email_campaign_body">Number of Campaigns: @string.Format("{0:#,##0}", @*Model.EmailNumberOfCampaignCount*@ 0)</div>
                                    <div class="panel-sub-body-contents weekly_email_creditavailable_body">Credit Availiable: @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@string.Format("{0:#,##0}", @*Model.EmailCreditAvailable*@ 0)</div>
                                </div>
                                <div class="col-xs-9 text-right yearly_email hidden">
                                    <div class="header_txt_style">@Localize.T("Email")</div>
                                    <div class="panel-sub-body-contents yearly_email_contact_body">Number of Contacts: @string.Format("{0:#,##0}", @*Model.EmailNumberOfContactCount*@ 0)</div>
                                    <div class="panel-sub-body-contents yearly_email_campaign_body">Number of Campaigns: @string.Format("{0:#,##0}", @*Model.EmailNumberOfCampaignCount*@ 0)</div>
                                    <div class="panel-sub-body-contents yearly_email_creditavailable_body">Credit Availiable: @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@string.Format("{0:#,##0}", @*Model.EmailCreditAvailable*@ 0)</div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <a class="btndaily">@Localize.T("Daily")</a>
                            <a class="btnweekly">@Localize.T("Weekly")</a>
                            <a class="btnmonthly">@Localize.T("Monthly")</a>
                            <a class="btnyearly">@Localize.T("Yearly")</a>
                            <span class="pull-right email_filter_list" title="@Localize.T("Filter Email List")"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.MarketingPermissions.SMSBox))
            {
                <div class="col-lg-3 col-md-6 dashboard_report">
                    <div class="panel panel-yellow">
                        <div class="panel-heading sms_filter_list sms_filter_list_bg" style="cursor:pointer;">
                            <div class="row">
                                <div class="col-xs-3">
                                    <svg x="0px" y="0px"
                                         width="65" height="65"
                                         viewBox="0 0 172 172"
                                         style="fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M53.75,17.2c-5.9125,0 -10.75,4.8375 -10.75,10.75v116.1c0,5.9125 4.8375,10.75 10.75,10.75h64.5c5.9125,0 10.75,-4.8375 10.75,-10.75v-34.4h-4.3v19.35h-77.4v-90.3h77.4v8.6h4.3v-19.35c0,-5.9125 -4.8375,-10.75 -10.75,-10.75zM53.75,21.5h64.5c3.58613,0 6.45,2.86387 6.45,6.45v6.45h-77.4v-6.45c0,-3.58613 2.86387,-6.45 6.45,-6.45zM77.4,25.8c-0.77266,-0.0084 -1.49492,0.39473 -1.88965,1.0666c-0.38633,0.67188 -0.38633,1.49492 0,2.1668c0.39473,0.67188 1.11699,1.075 1.88965,1.0666h17.2c0.77266,0.0084 1.49492,-0.39473 1.88965,-1.0666c0.38633,-0.67187 0.38633,-1.49492 0,-2.1668c-0.39472,-0.67187 -1.11699,-1.075 -1.88965,-1.0666zM68.69082,25.8c-1.18418,0 -2.15,0.96582 -2.15,2.15c-0.0084,1.18418 0.95742,2.15 2.1416,2.15c0.57109,0.0084 1.11699,-0.21836 1.52012,-0.62148c0.40313,-0.40312 0.63828,-0.95742 0.63828,-1.52852c0,-1.18418 -0.96582,-2.1416 -2.15,-2.15zM55.9,43c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM55.9,51.6c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM86,51.6c-4.72832,0 -8.6,3.87168 -8.6,8.6v36.55c0,4.72832 3.87168,8.6 8.6,8.6h10.75v13.79024l13.79024,-13.79024h42.10976c4.72832,0 8.6,-3.87168 8.6,-8.6v-36.55c0,-4.72832 -3.87168,-8.6 -8.6,-8.6zM86,55.9h66.65c2.40195,0 4.3,1.89805 4.3,4.3v36.55c0,2.40195 -1.89805,4.3 -4.3,4.3h-43.89023l-7.70977,7.70977v-7.70977h-15.05c-2.40195,0 -4.3,-1.89805 -4.3,-4.3v-36.55c0,-2.40195 1.89805,-4.3 4.3,-4.3zM55.9,60.2c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM55.9,68.8c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM96.75,70.95v3.80449l-3.29219,-1.89805l-2.15,3.71211l3.29219,1.90645l-3.29219,1.90645l2.15,3.71211l3.29219,-1.89805v3.80449h4.3v-3.80449l3.29219,1.89805l2.15,-3.71211l-3.29219,-1.90645l3.29219,-1.90645l-2.15,-3.71211l-3.29219,1.89805v-3.80449zM118.25,70.95v3.79609l-3.29219,-1.88965l-2.15,3.71211l3.29219,1.90645l-3.29219,1.90645l2.15,3.71211l3.29219,-1.88965v3.79609h4.3v-3.79609l3.29219,1.88965l2.15,-3.71211l-3.29219,-1.90645l3.29219,-1.90645l-2.15,-3.71211l-3.29219,1.88965v-3.79609zM139.75,70.95v3.80449l-3.29219,-1.89805l-2.15,3.71211l3.29219,1.90645l-3.29219,1.90645l2.15,3.71211l3.29219,-1.89805v3.80449h4.3v-3.80449l3.29219,1.89805l2.15,-3.71211l-3.29219,-1.90645l3.29219,-1.90645l-2.15,-3.71211l-3.29219,1.89805v-3.80449zM55.9,77.4c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM55.9,86c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM55.9,94.6c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM55.9,103.2c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM55.9,111.8c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM55.9,120.4c-1.18418,0 -2.15,0.96582 -2.15,2.15c0,1.18418 0.96582,2.15 2.15,2.15c1.18418,0 2.15,-0.96582 2.15,-2.15c0,-1.18418 -0.96582,-2.15 -2.15,-2.15zM47.3,133.3h77.4v10.75c0,3.58613 -2.86387,6.45 -6.45,6.45h-64.5c-3.58613,0 -6.45,-2.86387 -6.45,-6.45zM86,137.6c-2.37676,0 -4.3,1.92324 -4.3,4.3c0,2.37676 1.92324,4.3 4.3,4.3c2.37676,0 4.3,-1.92324 4.3,-4.3c0,-2.37676 -1.92324,-4.3 -4.3,-4.3z"></path></g></g></svg>
                                </div>
                                <div class="col-xs-9 text-right monthly_sms">
                                    <div class="header_txt_style">@Localize.T("SMS")</div>
                                    <div class="panel-sub-body-contents monthly_sms_contact_body">Number of Contacts: @string.Format("{0:#,##0}", @*Model.SMSNumberOfContactCount*@ 0)</div>
                                    <div class="panel-sub-body-contents monthly_sms_campaign_body">Number of Campaigns: @string.Format("{0:#,##0}", @*Model.SMSNumberOfCampaignCount*@ 0)</div>
                                    <div class="panel-sub-body-contents monthly_sms_creditavailable_body">Credit Availiable: @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@string.Format("{0:#,##0}", @*Model.SMSCreditAvailable*@ 0)</div>
                                </div>
                                <div class="col-xs-9 text-right daily_sms hidden">
                                    <div class="header_txt_style">@Localize.T("SMS")</div>
                                    <div class="panel-sub-body-contents daily_sms_contact_body">Number of Contacts: @string.Format("{0:#,##0}", @*Model.SMSNumberOfContactCount*@ 0)</div>
                                    <div class="panel-sub-body-contents daily_sms_campaign_body">Number of Campaigns: @string.Format("{0:#,##0}", @*Model.SMSNumberOfCampaignCount*@ 0)</div>
                                    <div class="panel-sub-body-contents daily_sms_creditavailable_body">Credit Availiable: @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@string.Format("{0:#,##0}", @*Model.SMSCreditAvailable*@ 0)</div>
                                </div>
                                <div class="col-xs-9 text-right weekly_smse hidden">
                                    <div class="header_txt_style">@Localize.T("SMS")</div>
                                    <div class="panel-sub-body-contents weekly_sms_contact_body">Number of Contacts: @string.Format("{0:#,##0}", @*Model.SMSNumberOfContactCount*@ 0)</div>
                                    <div class="panel-sub-body-contents weekly_sms_campaign_body">Number of Campaigns: @string.Format("{0:#,##0}", @*Model.SMSNumberOfCampaignCount*@ 0)</div>
                                    <div class="panel-sub-body-contents weekly_sms_creditavailable_body">Credit Availiable: @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@string.Format("{0:#,##0}", @*Model.SMSCreditAvailable*@ 0)</div>
                                </div>
                                <div class="col-xs-9 text-right yearly_revenue hidden">
                                    <div class="header_txt_style">@Localize.T("SMS")</div>
                                    <div class="panel-sub-body-contents yearly_sms_contact_body">Number of Contacts: @string.Format("{0:#,##0}", @*Model.SMSNumberOfContactCount*@ 0)</div>
                                    <div class="panel-sub-body-contents yearly_sms_campaign_body">Number of Campaigns: @string.Format("{0:#,##0}", @*Model.SMSNumberOfCampaignCount*@ 0)</div>
                                    <div class="panel-sub-body-contents yearly_sms_creditavailable_body">Credit Availiable: @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@string.Format("{0:#,##0}", @*Model.SMSCreditAvailable*@ 0)</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a class="btndaily">@Localize.T("Daily")</a>
                            <a class="btnweekly">@Localize.T("Weekly")</a>
                            <a class="btnmonthly">@Localize.T("Monthly")</a>
                            <a class="btnyearly">@Localize.T("Yearly")</a>
                            <span class="pull-right sms_filter_list" title="@Localize.T("Filter SMS List")"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.MarketingPermissions.PaidAdvertisementBox))
            {
                <div class="col-lg-3 col-md-6 dashboard_report">
                    <div class="panel panel-primary">
                        <div class="panel-heading paid_advertisement_filter_list paid_advertisement_filter_list_bg" style="cursor:pointer;">
                            <div class="row">
                                <div class="col-xs-3">
                                    <svg x="0px" y="0px" width="55" height="55" viewBox="0 0 172 172" style="fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M26.875,5.375c-2.96045,0 -5.375,2.41455 -5.375,5.375h-13.4375c-4.44067,0 -8.0625,3.62183 -8.0625,8.0625v80.625c0,4.44067 3.62183,8.0625 8.0625,8.0625h45.6875v2.6875c0,4.44067 3.62183,8.0625 8.0625,8.0625h8.0625v37.625h-24.1875c-1.49072,0 -2.6875,1.19678 -2.6875,2.6875c0,1.49072 1.19678,2.6875 2.6875,2.6875h80.625c1.49072,0 2.6875,-1.19678 2.6875,-2.6875c0,-1.49072 -1.19678,-2.6875 -2.6875,-2.6875h-24.1875v-37.625h8.0625c4.44067,0 8.0625,-3.62183 8.0625,-8.0625v-2.6875h45.6875c4.44067,0 8.0625,-3.62183 8.0625,-8.0625v-80.625c0,-4.44067 -3.62183,-8.0625 -8.0625,-8.0625h-13.4375c0,-2.96045 -2.41455,-5.375 -5.375,-5.375h-10.75c-2.96045,0 -5.375,2.41455 -5.375,5.375h-32.25c0,-2.96045 -2.41455,-5.375 -5.375,-5.375h-10.75c-2.96045,0 -5.375,2.41455 -5.375,5.375h-32.25c0,-2.96045 -2.41455,-5.375 -5.375,-5.375zM26.875,10.75h10.75v10.75h-10.75zM80.625,10.75h10.75v10.75h-10.75zM134.375,10.75h10.75v10.75h-10.75zM8.0625,16.125h13.4375v5.375c0,2.96045 2.41455,5.375 5.375,5.375h10.75c2.96045,0 5.375,-2.41455 5.375,-5.375v-5.375h32.25v5.375c0,2.96045 2.41455,5.375 5.375,5.375h10.75c2.96045,0 5.375,-2.41455 5.375,-5.375v-5.375h32.25v5.375c0,2.96045 2.41455,5.375 5.375,5.375h10.75c2.96045,0 5.375,-2.41455 5.375,-5.375v-5.375h13.4375c1.48022,0 2.6875,1.20728 2.6875,2.6875v67.1875c-1.49072,0 -2.6875,1.19678 -2.6875,2.6875v5.375c0,1.49072 1.19678,2.6875 2.6875,2.6875v2.6875c0,1.48022 -1.20728,2.6875 -2.6875,2.6875h-155.875c-1.48022,0 -2.6875,-1.20728 -2.6875,-2.6875v-2.6875c1.49072,0 2.6875,-1.19678 2.6875,-2.6875v-5.375c0,-1.49072 -1.19678,-2.6875 -2.6875,-2.6875v-67.1875c0,-1.48022 1.20728,-2.6875 2.6875,-2.6875zM18.8125,86c-1.49072,0 -2.6875,1.19678 -2.6875,2.6875v5.375c0,1.49072 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.19678 2.6875,-2.6875v-5.375c0,-1.49072 -1.19678,-2.6875 -2.6875,-2.6875zM32.25,86c-1.49072,0 -2.6875,1.19678 -2.6875,2.6875v5.375c0,1.49072 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.19678 2.6875,-2.6875v-5.375c0,-1.49072 -1.19678,-2.6875 -2.6875,-2.6875zM45.6875,86c-1.49072,0 -2.6875,1.19678 -2.6875,2.6875v5.375c0,1.49072 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.19678 2.6875,-2.6875v-5.375c0,-1.49072 -1.19678,-2.6875 -2.6875,-2.6875zM59.125,86c-1.49072,0 -2.6875,1.19678 -2.6875,2.6875v5.375c0,1.49072 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.19678 2.6875,-2.6875v-5.375c0,-1.49072 -1.19678,-2.6875 -2.6875,-2.6875zM72.5625,86c-1.49072,0 -2.6875,1.19678 -2.6875,2.6875v5.375c0,1.49072 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.19678 2.6875,-2.6875v-5.375c0,-1.49072 -1.19678,-2.6875 -2.6875,-2.6875zM86,86c-1.49072,0 -2.6875,1.19678 -2.6875,2.6875v5.375c0,1.49072 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.19678 2.6875,-2.6875v-5.375c0,-1.49072 -1.19678,-2.6875 -2.6875,-2.6875zM99.4375,86c-1.49072,0 -2.6875,1.19678 -2.6875,2.6875v5.375c0,1.49072 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.19678 2.6875,-2.6875v-5.375c0,-1.49072 -1.19678,-2.6875 -2.6875,-2.6875zM112.875,86c-1.49072,0 -2.6875,1.19678 -2.6875,2.6875v5.375c0,1.49072 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.19678 2.6875,-2.6875v-5.375c0,-1.49072 -1.19678,-2.6875 -2.6875,-2.6875zM126.3125,86c-1.49072,0 -2.6875,1.19678 -2.6875,2.6875v5.375c0,1.49072 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.19678 2.6875,-2.6875v-5.375c0,-1.49072 -1.19678,-2.6875 -2.6875,-2.6875zM139.75,86c-1.49072,0 -2.6875,1.19678 -2.6875,2.6875v5.375c0,1.49072 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.19678 2.6875,-2.6875v-5.375c0,-1.49072 -1.19678,-2.6875 -2.6875,-2.6875zM153.1875,86c-1.49072,0 -2.6875,1.19678 -2.6875,2.6875v5.375c0,1.49072 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.19678 2.6875,-2.6875v-5.375c0,-1.49072 -1.19678,-2.6875 -2.6875,-2.6875zM59.125,107.5h53.75v2.6875c0,1.48022 -1.20728,2.6875 -2.6875,2.6875h-48.375c-1.48022,0 -2.6875,-1.20728 -2.6875,-2.6875zM75.25,118.25h21.5v37.625h-21.5z"></path></g></g></svg>
                                </div>
                                <div class="col-xs-9 text-right monthly_avgticket">
                                    <div class="header_txt_style">@Localize.T("Paid Advertisement")</div>
                                    <div class="panel-sub-body-contents monthly_paid_advertisement_adscurrentrunning_body">Current Ads: @string.Format("{0:#,##0}", @*Model.NumberOfAdsCurrentRunningCount*@ 0)</div>
                                    <div class="panel-sub-body-contents monthly_paid_advertisement_reaches_body">Number of Reaches: @string.Format("{0:#,##0}", @*Model.NumberOfReachesCount*@ 0)</div>
                                    <div class="panel-sub-body-contents monthly_paid_advertisement_creditavailable_body">Credit Availiable: @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@string.Format("{0:#,##0}", @*Model.PaidAdvertisementCreditAvailable*@ 0)</div>
                                </div>
                                <div class="col-xs-9 text-right daily_paid_advertisement hidden">
                                    <div class="header_txt_style">@Localize.T("Paid Advertisement")</div>
                                    <div class="panel-sub-body-contents daily_paid_advertisement_adscurrentrunning_body">Number of Ads Current Running: @string.Format("{0:#,##0}", @*Model.NumberOfAdsCurrentRunningCount*@ 0)</div>
                                    <div class="panel-sub-body-contents daily_paid_advertisement_reaches_body">Number of Reaches: @string.Format("{0:#,##0}", @*Model.NumberOfReachesCount*@ 0)</div>
                                    <div class="panel-sub-body-contents daily_paid_advertisement_creditavailable_body">Credit Availiable: @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@string.Format("{0:#,##0}", @*Model.PaidAdvertisementCreditAvailable*@ 0)</div>
                                </div>
                                <div class="col-xs-9 text-right weekly_paid_advertisement hidden">
                                    <div class="header_txt_style">@Localize.T("Paid Advertisement")</div>
                                    <div class="panel-sub-body-contents weekly_paid_advertisement_adscurrentrunning_body">Number of Ads Current Running: @string.Format("{0:#,##0}", @*Model.NumberOfAdsCurrentRunningCount*@ 0)</div>
                                    <div class="panel-sub-body-contents weekly_paid_advertisement_reaches_body">Number of Reaches: @string.Format("{0:#,##0}", @*Model.NumberOfReachesCount*@ 0)</div>
                                    <div class="panel-sub-body-contents weekly_paid_advertisement_creditavailable_body">Credit Availiable: @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@string.Format("{0:#,##0}", @*Model.PaidAdvertisementCreditAvailable*@ 0)</div>
                                </div>
                                <div class="col-xs-9 text-right yearly_paid_advertisement hidden">
                                    <div class="header_txt_style">@Localize.T("Paid Advertisement")</div>
                                    <div class="panel-sub-body-contents yearly_paid_advertisement_adscurrentrunning_body">Number of Ads Current Running: @string.Format("{0:#,##0}", @*Model.NumberOfAdsCurrentRunningCount*@ 0)</div>
                                    <div class="panel-sub-body-contents yearly_paid_advertisement_reaches_body">Number of Reaches: @string.Format("{0:#,##0}", @*Model.NumberOfReachesCount*@ 0)</div>
                                    <div class="panel-sub-body-contents yearly_paid_advertisement_creditavailable_body">Credit Availiable: @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@string.Format("{0:#,##0}", @*Model.PaidAdvertisementCreditAvailable*@ 0)</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer emp_paid_advert_footer">
                            <a class="btndaily">@Localize.T("Daily")</a>
                            <a class="btnweekly">@Localize.T("Weekly")</a>
                            <a class="btnmonthly">@Localize.T("Monthly")</a>
                            <a class="btnyearly">@Localize.T("Yearly")</a>
                            <span class="pull-right paid_advertisement_filter_list" title="@Localize.T("Filter Paid Advertisement List")"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="tab-content reports_tab_content">
           @if (PermissionChekcer.IsPermitted(Permissions.MarketingPermissions.SMSTab))
            {
            <div class="tab-pane active" id="SMSTab">

                <div class="Load_SMS">

                </div>

            </div>
           }
            @if (PermissionChekcer.IsPermitted(Permissions.MarketingPermissions.EmailTab))
            {
                <div class="tab-pane" id="EmailTab">
                    <div class="Load_Email">

                    </div>
                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.MarketingPermissions.SocialMediaTab))
            {
                <div class="tab-pane" id="SocialMediaTab">
                    <div class="Load_SocialMedia">

                    </div>
                </div>
            }
             @if (PermissionChekcer.IsPermitted(Permissions.MarketingPermissions.PaidAdvertisementTab))
            {
                <div class="tab-pane" id="PaidAdvertisementTab">
                    <div class="Load_PaidAdvertisement">

                    </div>
                </div>
             }
            
        </div>
    </div>
</div>


