@model HS.Entities.Company
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script src="~/Content/Js/Popups/AddCompany.js"></script>
<style>
    .form-group {
        margin: 0;
        padding: 0;
    }

        .form-group h3 {
            /*margin-left: 30px;*/
            font-size: 2rem;
            font-weight: 400;
            color: #393a3d;
        }

    .content-type {
        /*margin-left: 30px;*/
        font-size: 14px;
        font-weight: 600;
        color: #404040;
        display: block;
        margin-bottom: 4px;
    }

    .content-text {
        height: 32px;
        width: 80%;
        font-size: 13px;
    }

    .SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }

    .custom-col {
        width: 18%;
    }

    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }

    /*.txt-form {
            margin-left: 30px;
        }*/

    .item-check {
        height: 40px;
        width: 20px;
    }

    .txt-check {
        vertical-align: middle;
        color: rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 14px;
        padding-left: 4px;
    }

    /*.col-cus {
            margin-left: 30px;
        }*/

    #ParentId {
        height: 32px;
        width: 80%;
        margin-left: 30px;
        width: 76%;
    }

    input[type=text] {
        width: 95%;
        padding: 5px;
        margin: 2px 0;
        box-sizing: border-box;
    }

    #savecompany {
        background-color: #2ca01c;
        color: white;
        float: right;
    }

        #savecompany :hover {
        }
</style>

<div class="container-fluid">
   
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        <h3>@Localize.T("Company Information")</h3>
    </div>

    <div class="clearfix">
        &nbsp;
    </div>
    <div class="form-group clearfix">
        <span class="content-type">@Localize.T("Company Name")<span class="red">*</span></span>
        <div class="txt-form">
            @Html.TextBoxFor(x => x.CompanyName, new { @class = "content-text", datarequired = "true", id = "comName" })
            <br /><label rel="Name" class="label hidden red position-absolute">*@Localize.T("Name Required")</label>
        </div>

        <span class="content-type">@Localize.T("User Name")<span class="red">*</span></span>
        <div class="txt-form">
            @Html.TextBoxFor(x => x.UserName, new { @class = "content-text", datarequired = "true", id = "comUser" })
            <br /><label rel="Name" class="label hidden red position-absolute">*@Localize.T("Name Required")</label>
        </div>

        <span class="content-type">@Localize.T("Company Email")<span class="red">*</span></span>
        <div class="txt-form">
            @Html.TextBoxFor(x => x.EmailAdress, new { @class = "content-text", datarequired = "true", id = "email" })
            <br /><label rel="Name" class="label hidden red position-absolute">*@Localize.T("Name Required")</label>
        </div>

        <span class="content-type">@Localize.T("Company Phone No.")</span>
        <div class="txt-form">
            @Html.TextBoxFor(x => x.Phone, new { @class = "content-text", datarequired = "true", id = "phone" })
            <br /><label rel="Name" class="label hidden red position-absolute">*@Localize.T("Name Required")</label>
        </div>
        <span class="content-type">@Localize.T("Company Address")<span class="red">*</span></span>
        <div class="txt-form">
            @Html.TextBoxFor(x => x.Address, new { @class = "content-text", datarequired = "true", id = "address" })
            <br /><label rel="Name" class="label hidden red position-absolute">*@Localize.T("Name Required")</label>
        </div>
        <span class="content-type">@Localize.T("Company Website")<span class="red">*</span></span>
        <div class="txt-form">
            @Html.TextBoxFor(x => x.Website, new { @class = "content-text", datarequired = "true", id = "web" })
            <br /><label rel="Name" class="label hidden red position-absolute">*@Localize.T("Name Required")</label>
        </div>

        <div class="upload-file">
            <span class="content-type">@Localize.T("Branch Logo")</span>
            <div class="txt-form">
                <div class="col-md-12 padding-left-0">
                    <button id="UploadCompany" class="cursor-pointer btn-style">Upload File</button>
                    <div class="" style="margin-top: 15px;">
                        <span id="UploadSuccessMessage" class="hidden">@Localize.T("File Uploaded Successfully..!")</span>
                    </div>
                </div>

                <div class="col-md-12 progress-container file-progress" style="display:none; padding-left:0; padding-right:0; margin-top: 15px;">
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" style="width:0%">
                            <span> 0%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


       
    </div>
    
    

</div>

<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn" id="savecompany"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>

        </div>
    </footer>
</section>













