@{
    Layout = null;
    var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;
}
@model HS.Entities.Company
@using Localize = HS.Web.UI.Helper.LanguageHelper
 @using AppConfig = HS.Framework.Utils.AppConfig; 
<link href="~/Content/Css/Company/CompanyrPartial.css" rel="stylesheet" />
<link href="~/Content/Css/CityStateZipAutoFill.css" rel="stylesheet" />

<script src="~/Content/Js/Customer/CompanyImageUpload.js"></script>
<style>
    div.show-image {
        position: relative;
        float: left;
        /*margin:5px;*/
    }

        div.show-image:hover img {
            opacity: 0.5;
        }

        div.show-image:hover iframe {
            opacity: 0.5;
        }

        div.show-image input {
            position: absolute;
            display: block;
        }

            div.show-image input.deleteDoc {
                top: -5px;
                right: -5px;
                background-color: #d0d0d0;
                border-radius: 27px;
                width: 20px;
            }

    .LoadPreviewDocument, .LoadPreviewDocument1 {
        margin-top: 20px;
    }

    .LoadPreviewDocument {
        margin-top: 20px;
        width: 100%;
        float: left;
    }

        .LoadPreviewDocument .show-image {
            width: 173px;
            height: 123px;
            float: left;
            position: relative;
            border: 1px solid #ccc;
        }

            .LoadPreviewDocument .show-image img {
                max-width: 100%;
                max-height: 100%;
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                margin: auto;
                width: auto;
            }

    .change_btn_container {
        width: 100%;
        float: left;
    }

        .change_btn_container .btnchange {
            margin-top: 0px;
            background-color: #58595B;
            width: 173px;
            border-radius: 0px;
            color: white;
        }

    .Company_tag ul {
        margin: 0px;
    }

    .addERPcompany_container {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .addERPcompany_footer {
        background: #eceef1;
        height: 50px;
        width: 100%;
        float: left;
    }
</style>
<script>
    var UpdateCompany = function () {

        var url = "@(AppConfig.DomainSitePath)/Company/AddCompany";
        var param = JSON.stringify({
            CompanyName: $("#CompanyName").val(),
            Phone: $("#Phone").val(),
            Fax: $("#Fax").val(),
            Street: $("#Street").val(),
            City: $("#City").val(),
            State: $("#State").val(),
            ZipCode: $("#ZipCode").val(),
            Website: $("#Website").val(),
            Note: $("#Note").val(),
            EmailAdress: $("#EmailAdress").val(),
            FirstName: $("#FirstName").val(),
            LastName: $("#LastName").val(),
            CompanyId: $("#CompanyId").val(),
            CompanyImage: $("#UploadedPath").val()
        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.result) {
                    OpenSuccessMessageNew("Success!", data.message);
                } else {
                    OpenErrorMessageNew("Error!", data.message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });

    }
    var DeleteIeateryCompany = function (companyid, userid) {
        var url = "/CreateResturant/DeleteIeateryCompany";
        var param = JSON.stringify({ companyid: companyid, userid: userid });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data) {
                    window.location.href = "/login";
                }
                
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }
    $(document).ready(function () {

           $(".deleteDoc").click(function () {
            OpenConfirmationMessageNew("Delete", "Are you sure, you want to delete this item?", function () {
                $("#UploadCustomerFileBtn").attr("src", "/Content/Icons/blank_thumb_file.png");
                $(".Upload_Doc").removeClass('hidden');
                $(".LoadPreviewDocument").addClass('hidden');
                $(".LoadPreviewDocument1").addClass('hidden');
                $("#Preview_Doc").attr('src', "");
                $("#Frame_Doc").attr('src', "");
                $("#UploadSuccessMessage").hide();
                $("#description").val("");
                //$("#UploadCustomerFileBtn").text("Upload");
                $("#UploadedPath").val("");
            })
            
        });


        $(".LoaderWorkingDiv").hide();
        $(".CompanySaveButton").click(function () {
            if (CommonUiValidation()) {
                UpdateCompany();
            }
        });
    });
</script>


<div class="page-wrap">
    <div class="company_partial_container">
            <div class="company_partial_header">@Localize.T("Company Information")</div>
            @*<button class="AddCompany">@Localize.T("Add Company")</button>*@
        
        <div class="CompanyInfoDiv">
            <div class="row cp_margin_top_first">
            <div class="col-md-3">
                    <label>@Localize.T("Company Name")</label>
                    @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control", datarequired = "true" })
                    <label rel="CompanyName" class="label hidden red position-absolute">Company name required</label>
            </div>
            <div class="col-md-3">
                    <label>@Localize.T("First Name")</label>
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", datarequired = "true" })
                    <label rel="FirstName" class="label hidden red position-absolute">First Name required</label>
            </div>
            <div class="col-md-3">
                    <label>@Localize.T("Last Name")</label>
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", datarequired = "true" })
                    <label rel="LastName" class="label hidden red position-absolute">Last Name required</label>
            </div>
            <div class="col-md-3">
                    <label>@Localize.T("Email Address")</label>
                    @Html.TextBoxFor(x => x.EmailAdress, new { @class = "form-control", datarequired = "true" })
                    <label rel="EmailAdress" class="label hidden red position-absolute">Email Adress required</label>
            </div>
        </div>
            <div class="row cp_margin_top">
                <div class="col-md-3">
                    <label>@Localize.T("Street")</label>
                    @Html.TextBoxFor(x => x.Street, new { @class = "form-control" })
                </div>
                <div class="col-md-3 CityState_insert_div">
                    <label>@Localize.T("Zip Code")</label>
                    <input type="text" class="form-control" onkeydown="CityStateSearchKeyDown(this,event)" onkeyup="CityStateSearchKeyUp(this,event)" value="@Model.ZipCode" id="ZipCode" placeholder="Zip Code" tabindex=10 />
                    <div class='tt-menu'>
                        <div class='tt-dataset tt-dataset-autocomplete'> </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>@Localize.T("City")</label>
                    @Html.TextBoxFor(x => x.City, new { @class = "form-control", style = "text-transform:capitalize" })
                </div>
                <div class="col-md-3">
                    <label>@Localize.T("State")</label>
                    @Html.TextBoxFor(x => x.State, new { @class = "form-control" })
                </div>
            </div>
            <div class="row cp_margin_top">
                <div class="col-md-3">
                    <label>@Localize.T("Phone")</label>
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", datarequired = "true" })
                    <label rel="Phone" class="label hidden red position-absolute">Phone number required</label>
                </div>
                @*<div class="col-md-3">
                    <label>@Localize.T("Fax")</label>
                    @Html.TextBoxFor(x => x.Fax, new { @class = "form-control" })
                </div>*@
                <div class="col-md-3">
                    <label>@Localize.T("Website")</label>
                    @Html.TextBoxFor(x => x.Website, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label>@Localize.T("Note")</label>
                    <textarea class="form-control cp_note" rows="3" id="Note">@Model.Note</textarea>
                </div>
                <div class="col-md-3">
                    <div class="col-sm-12 custom-pad">
                        @if (!string.IsNullOrWhiteSpace(Model.CompanyLogo))
                        {
                            <div class="LoadPreviewDocument">
                                <div class="show-image">
                                    <img id="Preview_Doc" src="@Model.CompanyLogo" width="319" height="455" />
                                    <input class="deleteDoc" type="image" src="/Content/Icons/cross_update.png" />
                                </div>
                                <div class="change_btn_container"><button class="btn btnchange" id="btnchange">Change Photo</button></div>
                            </div>
                        }
                        else
                        {
                            <div class="LoadPreviewDocument hidden">
                                <div class="show-image">
                                    <img id="Preview_Doc" src="" width="319" height="455" />
                                    <input class="deleteDoc" type="image" src="/Content/Icons/cross_update.png" />
                                </div>
                                <div class="change_btn_container"><button class="btn btnchange" id="btnchange">Change Photo</button></div>
                            </div>
                            <div class="txt_form_add_file Upload_Doc">
                                <div class="col-md-12 padding-left-0">
                                    <img id="UploadCustomerFileBtn" class="cursor-pointer" src="~/Content/Icons/blank_thumb_file.png" style="margin-left:0;" />
                                    <div class="" style="margin-top: 15px;">
                                        <span id="UploadSuccessMessage" class="hidden">File Uploaded Successfully..!</span>
                                    </div>
                                </div>
                                <div class="col-md-12 progress-container file-progress" style="display:none; padding-left:0; padding-right:0; margin-top: 15px;">
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" style="width:0%">
                                            <span> 0%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
        </div>
            <div class="SaveButtonDiv width-100p">
                @if (Request.Url.Host.ToLower().IndexOf("app.ieatery.com") > -1)
                {
                    <button class="btn btn-danger" onclick="DeleteIeateryCompany('@Model.CompanyId', '@CurrentUser.UserId')"><i class="fa fa-trash" aria-hidden="true"></i>  @Localize.T("Delete")</button>
                }

                <button class="CompanySaveButton"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save Info")</button>
            </div>
    </div>
</div>
    </div>

<div class="hidden" style="display:none;">
    @Html.HiddenFor(x=>x.CompanyId)
    @Html.HiddenFor(x => x.Id)
</div>
<div class="">
    <input type="hidden" id="UploadedPath" value="@Model.CompanyLogo" />
    <input type="file" name="CustomerFile" class="hidden" id="UploadedFile" />
</div>
@*<script src="~/Content/JQuery/jquery-3.2.1.min.js"></script>
<script src="~/Content/JQueryFileUpload/jquery-ui-1.9.2.min.js"></script>
<script src="~/Content/Js/Site/Validation.js"></script>
<script src="~/Content/JQueryFileUpload/jquery.fileupload.js"></script>
<script src="~/Content/JQueryFileUpload/jquery.fileupload-ui.js"></script>
<script src="~/Content/Js/Layout/metisMenu.min.js"></script>*@
<script src="~/Content/Js/CityStateZipAutoFill.js"></script>