@using AppConfig = HS.Framework.Utils.AppConfig;

@{
    Layout = null;

}

@using HS.Framework
@model HS.Entities.CustomerListWithCountModel
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>

   var TotalPageCount = '@string.Format("{0:0,0}", ViewBag.OutOfNumber)';
    var FilterRecurringBillingAudit = function (pageno, DateFileter, order) {
        if (typeof (pageno) == "undefined") {
            return;
        }
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        var Searchtext = $("#rmr_inv_billing_txt_search_Audit").val();
        var BillDay = $("#RMRBillDay").val();
        var RMRInterval = $("#RMRInterval").val();
        var BillingStatus = $("#BillingStatus").val();
        var Branch = $("#RMRBranch").val();
        pagesize = 50;
        $(".Load_Rmr_Audit").html(TabsLoaderText);
        $(".Load_Rmr_Audit").load(domainurl + "/RecurringBilling/LoadRmrAuditPartial?" +
            "FirstDate=" + encodeURI(StartDate) +
            "&LastDate=" + encodeURI(EndDate) +
            "&PageNo=" + pageno +
            "&order=" + order +
            "&PageSize=50" +
            "&Searchtext=" + encodeURIComponent(Searchtext) +
            "&billday=" + encodeURI(BillDay) +
            "&billcycle=" + encodeURI(RMRInterval) +
            "&BillingStatus=" + encodeURI(BillingStatus) +
            "&Branch=" + encodeURI(Branch),
            function () {

                $("#rmr_inv_billing_txt_search_Audit").val(Searchtext);
                $("#RMRBillDay").val(BillDay);
                $("#RMRInterval").val(RMRInterval);
                $("#RMRBranch").val(Branch);
            }
        );  }
    $("#rmr_inv_billing_txt_search_Audit").keyup(function (event) {
        event.preventDefault();
        if (event.keyCode == 13) {
            FilterRecurringBillingAudit(1);
        }
    })

    $(".icon_sort_timeclock").click(function () {
        var orderval = $(this).attr('data-val');
        console.log(orderval)
        FilterRecurringBillingAudit(pageno, '', orderval);
    });

    var ResetFilterListAudit = function () {

        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        var Searchtext = $("#rmr_inv_billing_txt_search").val();
        var BillDay = $("#RMRBillDay").val();
        var BillingStatus = $("#BillingStatus").val();
        var Branch = $("#RMRBranch").val();
        var RMRInterval = $("#RMRInterval").val();
        $(".Load_Rmr_Audit").html(TabsLoaderText);
        $(".Load_Rmr_Audit").load(domainurl + "/RecurringBilling/LoadRmrAuditPartial?FirstDate=" + encodeURI(StartDate) + "&LastDate=" + encodeURI(EndDate) + "&pageno=1&pagesize=50");
    }
    $(document).ready(function () {
        $(".DateFilterContents .btn-apply-Datefilter").unbind().click(function () {
            var DateFrom = $(".min-date").val();
            var DateTo = $(".max-date").val();
            UpdatePtoCookie();
            FilterRecurringBillingAudit(1);
            var StartDate = my_date_format($(".DateFilterContents .min-date").val());
            var EndDate = my_date_format($(".DateFilterContents .max-date").val())
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
        });
        $(".convert_cusaudit_report_filter").hide();
        $("#convert_cusaudit_filterbtn").click(function () {
            if ($(".convert_cusaudit_report_filter").is(":visible")) {
                $(".convert_cusaudit_report_filter").hide();

            } else {
                $(".convert_cusaudit_report_filter").show();

            }
        });
        $(".lra_height").height(window.innerHeight - 288);
        $(".filter-customer-container .clfn_table_width").each(function () {
            if (window.innerWidth <= 768) {
                if ($(this).attr('data-header') == "Active") {
                    $(this).attr("style", "width: 100% !important");
                }
                if ($(this).attr('data-header') == "Service Date") {
                    $(this).attr("style", "width: 100% !important");
                }
            }
            else {
                if ($(this).attr('data-header') == "Active") {
                    $(this).attr("style", "width: 10% !important");
                }
                if ($(this).attr('data-header') == "Service Date") {
                    $(this).attr("style", "width: 12% !important");
                }
            }


        })

    })
</script>

<style>

    .ri_div {
        width: 240px;
    }

    .lra_height table tr th:first-child {
        left: -1px;
        z-index: 10;
    }

    .lra_height table tr td:first-child {
        position: sticky;
        left: -1px;
        background-color: #fff;
    }

    .lra_height table tr:nth-child(odd) td:first-child {
        background-color: #f4f5f8;
    }

    @@media (max-width:768px) {
        .fllp_sp_head {
            display: none;
        }
    }

    .lra_height table tr th div:nth-child(1) {
        padding-right: 15px;
    }

    .lra_height table tr th {
        white-space: nowrap;
    }

    .convert_cusaudit_report_filter {
        width: calc(100% - 50px);
        float: left;
        margin: 10px 0px;
        border: 1px solid #ccc;
        padding: 10px;
        position: absolute;
        z-index: 9999;
        background-color: #fff;
        left: 25px;
    }

    .aba_single_line_check_data {
        white-space: nowrap;
    }
</style>
@Styles.Render("~/styles/CustomerListFilter")
@Scripts.Render("~/scripts/CustomerListFilter")

@{
    int Count = 1;
}

@Styles.Render("~/styles/LoadSalesReportPartial")
@*@Scripts.Render("~/scripts/LoadSalesReportPartial")*@
<style>
    .rmrcount {
        background-color: #21abf6;
        color: #ffffff;
        height: 60px;
        padding: 12px 10px 10px 10px;
        cursor: pointer;
        width: 100%;
    }

    .rmrtotalamount {
        background-color: #0077c5;
        color: #ffffff;
        height: 60px;
        padding: 10px 10px 10px 10px;
        cursor: pointer;
        width: 100%;
    }

    .cl_amount {
        margin-bottom: 1px;
        text-transform: none;
        font-weight: 500;
        line-height: 1.21;
        font-size: 15px;
        outline: 0 none;
        box-sizing: border-box;
        cursor: pointer;
        color: #ffffff;
        width: 100%;
    }

    .add-invoice-container .width-25p {
        float: left;
        width: 25%;
        padding-right: 10px;
    }

    .add-invoice-container .width-25p {
        padding-right: unset !important;
        margin-left: 15px;
    }

    .lra_container {
        width: 100%;
        float: left;
        overflow: auto;
    }

        .lra_container table {
            table-layout: auto;
        }
</style>
<div class="load_sales_report_partial_container">

    <div class="load_sales_report_partial_top_bar">
        <div class="load_sales_report_partial_top_bar_inner">
            <div class="input-group add-on">
                <input type="text" class="form-control" id="rmr_inv_billing_txt_search_Audit" placeholder="Search By Bill Name & ID" value="@ViewBag.searchtext" />
                <div class="input-group-btn">
                    <button type="button" class="btn green_button" id="btn_sales" onclick="FilterRecurringBillingAudit(1)">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <button class="btn convert_cus_div lilrp_filter_btn" id="convert_cusaudit_filterbtn">
            <span title="Filter" class="glyphicon glyphicon-filter"></span>
        </button>

        @*<button title="@Localize.T(" Download")" class="report_btn lrp_float_right" id="btnDownloadRecurringReport"><i class="fa fa-download" aria-hidden="true"></i></button>
            <button class="btn convert_rmr_cus_div lilrp_filter_btn hidden" style="float:right; margin-right:10px;">
                <span title="Collect Payments" onclick="CollectPayment()"><i class="fa-dollar-sign"></i>Collect Payments</span>
            </button>*@
        <div class="convert_cusaudit_report_filter">
            <div class="convert_cus_report_filte_innerr convert_cus_div">

                @*<div class="form-group clearfix width-25p add_estimate_info_div_device">
                    <label>@Localize.T("Status")</label>
                    @Html.DropDownList("Schedule_Status", (List<SelectListItem>)ViewBag.Status, new { @class = "form-control", id = "BillingStatus" })
                    </div>*@
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group clearfix">
                            <label>@Localize.T("Branch")</label>
                            @Html.DropDownList("Branch", (List<SelectListItem>)ViewBag.OwnerShipList, new { @class = "form-control ", @title = "Branch", id = "RMRBranch" })
                        </div>
                    </div> <div class="col-md-4">
                        <div class="form-group clearfix">
                            <label>@Localize.T("Bill Cycle")</label>
                            @Html.DropDownList("RMRInterval", ViewBag.Cycle as List<SelectListItem>, new { @class = "form-control", @title = "Bill Cycle", id = "RMRInterval" })
                        </div>
                    </div> <div class="col-md-4">
                        <div class="form-group clearfix">
                            <label>@Localize.T("Bill Day")</label>
                            @Html.DropDownList("BillDay", (List<SelectListItem>)ViewBag.BillingDay, new { @class = "form-control", @title = "Bill Day", id = "RMRBillDay" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="convert_cus_report_footer convert_cus_div">
                <button class="btn green_button" id="apply_btn_filter" onclick="FilterRecurringBillingAudit(1)">@Localize.T("Apply")</button>
                <button class="btn red_button" id="reset_btn_filter" onclick="ResetFilterListAudit()">@Localize.T("Reset")</button>
            </div>
        </div>
    </div>

    <div class="lra_container lra_height">
        <table class="loadticketreportlist_table load_sales_report_partial_table">
            <thead class="table-head-border">
                <tr>
                    @*<th class="thead-th-style" title="All" style="width:45px;"><input type="checkbox" class="allcheckuncheck" /></th>*@
                    <th class="thead-th-style">
                        <div>@Localize.T("Bill Name")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/DisplayName"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/DisplayName"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Branch")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/Branch"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/Branch"></i></div>
                    </th>
                    @*<th class="thead-th-style">
                            <div>@Localize.T("Master Customer Number")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/Branch"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/Branch"></i></div>
                        </th>
                        <th class="thead-th-style">
                            <div>@Localize.T("Master Customer")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/Branch"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/Branch"></i></div>
                        </th>*@
                    <th class="thead-th-style">
                        <div>@Localize.T("Secondary Customer Number")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/SecondCustomerNo"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/SecondCustomerNo"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Account Tools Customer ID")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/Id"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/Id"></i></div>
                    </th>

                    <th class="thead-th-style">
                        <div>@Localize.T("Bill Address 1")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/BillAdd1"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/BillAdd1"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Bill City")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/BillCity"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/BillCity"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Bill State")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/BillState"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/BillState"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Bill Zip")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/BillZip"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/BillZip"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Customer Email")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/BillEmailAddress"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/BillEmailAddress"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Bill Phone 1")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/PrimaryPhone"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/PrimaryPhone"></i></div>
                    </th>
                    @*<th class="thead-th-style">
                            <div>@Localize.T("Balance Due")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/PrimaryPhone"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/PrimaryPhone"></i></div>
                        </th>
                        <th class="thead-th-style">
                            <div>@Localize.T("Customer Site Id")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/PrimaryPhone"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/PrimaryPhone"></i></div>
                        </th>*@
                    @*<th class="thead-th-style">
                            <div>@Localize.T("Site Number")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/PrimaryPhone"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/PrimaryPhone"></i></div>
                        </th>*@
                    <th class="thead-th-style">
                        <div>@Localize.T("Site Address 1")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/Street"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/Street"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Site City")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/City"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/City"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Site State")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/State"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/State"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Site Zip")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/ZipCode"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/ZipCode"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Tax Group")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/ZipCode"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/ZipCode"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Effective Date")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/RMREffectiveDate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/RMRStartDate"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Tax Exemption")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/TaxExemption"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/TaxExemption"></i></div>
                    </th>
                    @*<th class="thead-th-style">
                            <div>@Localize.T("Customer Recurring Id")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/RMRStartDate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/RMRStartDate"></i></div>
                        </th>
                        <th class="thead-th-style">
                            <div>@Localize.T("Customer System Id")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/RMRStartDate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/RMRStartDate"></i></div>
                        </th>*@
                    <th class="thead-th-style">
                        <div>@Localize.T("Customer Number")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/CustomerNo"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/CustomerNo"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Business Account Type")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/BusinessAccountType"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/BusinessAccountType"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("RMR Item")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/RMRProductName"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/RMRProductName"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("RMR Amount")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/RMRAmount"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/RMRAmount"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Bill Cycle")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/BillCycle"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/BillCycle"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Billing Method")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/BillingMethodType"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/BillingMethodType"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Last Bill Date")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/RMRLastBillDate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/RMRLastBillDate"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Next Bill Date")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/RMRNextBillDate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/RMRNextBillDate"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Cycle Date")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/RMRCycleStartDate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/RMRCycleStartDate"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Contract Start")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/ContractStartDate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/ContractStartDate"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Initial Term")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/ContractTeam"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/ContractTeam"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Renew Term")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/RenewalTerm"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/RenewalTerm"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Panel")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/RMRProductName"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/RMRProductName"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Account Name")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/BankAccountName"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/BankAccountName"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Auto Bank")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/AutoBank"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/AutoBank"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Routing Number")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/RoutingNo"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/RoutingNo"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Bill Day")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/BillDay"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/BillDay"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Name On Card")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/AccountName"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/AccountName"></i></div>
                    </th>
                    <th class="thead-th-style">
                        <div>@Localize.T("Auto CC")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/BillDay"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/BillDay"></i></div>
                    </th>

                    <th class="thead-th-style">
                        <div>@Localize.T("Expire On")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/CardExpireDate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/CardExpireDate"></i></div>
                    </th>

                    @*<th class="thead-th-style">
                            <div>@Localize.T("Action")</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/template"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/template"></i></div>
                        </th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CustomerList)
                {
                    <tr class="tr-style">
                        @*<td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_info"><input data-id="@item.Id" data-scheduleId="@item.ScheduleId" type="checkbox" class="rmrinvoiceckeck" /></div>
                            </td>*@
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Bill Name")</div>
                            <div class="ticket_list_partial_device_info">

                                <a href="/Customer/Customerdetail/?id=@item.Id" class="cus-anchor" target="_blank"  id="@item.Id" id-val="@item.CustomerId">
                                    <span href="/Customer/Customerdetail/?id=@item.Id" title="">@item.DisplayName</span>
                                </a>
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Branch")</div>
                            @item.Ownership
                        </td>
                        @*<td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Master Customer Number")</div>

                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Master Number")</div>

                            </td>*@
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Customer Number")</div>
                            @item.SecondCustomerNo
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Account Tools Customer ID")</div>
                            <div class="ticket_list_partial_device_info">
                                @item.Id
                            </div>
                        </td>

                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Bill Add1")</div>
                            <div class="ticket_list_partial_device_info">
                                @item.BillAdd1

                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Bill City")</div>
                            <div class="ticket_list_partial_device_info">
                                @item.BillCity
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Bill State")</div>
                            @item.BillState
                        </td>

                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Bill Zip")</div><span></span>
                            @item.BillZip
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("E-Mail")</div><span></span>
                            @item.BillEmailAddress
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Bill Phone1")</div>
                            <span class="aba_single_line_check_data">
                                @{
                                    var formattedPhone = string.Empty;
                                    if (!string.IsNullOrEmpty(item.PrimaryPhone) && item.PrimaryPhone.Length == 10)
                                    {
                                        formattedPhone = String.Format("({0}) {1}-{2}",
                                            item.PrimaryPhone.Substring(0, 3),
                                            item.PrimaryPhone.Substring(3, 3),
                                            item.PrimaryPhone.Substring(6, 4));
                                    }
                                    else
                                    {
                                        formattedPhone = item.PrimaryPhone;
                                    }
                                }
                                @formattedPhone
                            </span>
                        </td>
                        @*<td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Balance Due")</div><span></span>

                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Customer Site Id")</div><span></span>
                                @item.Id
                            </td>*@
                        @*<td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Site Number")</div><span></span>

                            </td>*@
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Site Address1")</div><span></span>
                            @item.Street
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Site City")</div><span></span>
                            @item.City
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Site State")</div><span></span>
                            @item.State
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Site Zip")</div><span></span>
                            @item.ZipCode
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Tax Group")</div><span></span>

                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Effective Date")</div><span></span>
                         

                            @if (item.RMREffectiveDate != null && item.RMREffectiveDate != DateTime.MinValue)
                            {
                                <span>@item.RMREffectiveDate.ToString("M/d/yyyy")</span>
                            }
                            else
                            {
                                <span></span>
                            }
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Tax Exemption")</div><span></span>
                            @(string.IsNullOrEmpty(item.TaxExemption) || item.TaxExemption == "-1" ? "" : item.TaxExemption)

                        </td>
                        @*<td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Customer Recurring Id")</div><span></span>

                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Customer System Id")</div><span></span>

                            </td>*@
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Cs Number")</div><span></span>
                            @item.CustomerNo
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Business Account Type")</div><span></span>
                            @item.BusinessAccountType
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("RMR Item")</div>
                            <div class="ri_div">@item.RMRProductName</div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("RMR Amount")</div><span></span>
                            @("$" + item.RMRAmount.ToString("F2"))

                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Bill Cyc")</div><span></span>
                            @item.RMRBillCycle
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Billing Method")</div><span></span>
                            @item.BillingMethodType
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Last Bill Date")</div><span></span>
                            @if (item.RMRLastBillDate != null && item.RMRLastBillDate != DateTime.MinValue)
                            {
                                <span>@item.RMRLastBillDate.ToString("M/d/yyyy")</span>
                            }
                            else
                            {
                                <span></span>
                            }
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Next Bill Date")</div><span></span>

                            @if (item.RMRNextBillDate != null && item.RMRNextBillDate != DateTime.MinValue)
                            {
                                <span>@item.RMRNextBillDate.ToString("M/d/yyyy")</span>
                            }
                            else
                            {
                                <span></span>
                            }
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Cycle Date")</div><span></span>

                            @if (item.RMRCycleStartDate != null && item.RMRCycleStartDate != DateTime.MinValue)
                            {
                                <span>@item.RMRCycleStartDate.ToString("M/d/yyyy")</span>
                            }
                            else
                            {
                                <span></span>
                            }
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Contract Start")</div><span></span>

                            @if (item.ContractStartDate != null && item.ContractStartDate != DateTime.MinValue)
                            {
                                <span>@item.ContractStartDate.ToString("M/d/yyyy")</span>
                            }
                            else
                            {
                                <span></span>
                            }
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Initial Term")</div><span></span>

                            @{
                                double contractTerm = 0;
                                if (double.TryParse(item.ContractTeam, out contractTerm) && contractTerm != -1)
                                {
                                    <div class="content_for_mobile cust_text_style">
                                        <span> @(Math.Round(contractTerm * 12, 0)) </span>
                                    </div>
                                }
                            }
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Renewal Term")</div><span></span>
                            @item.RenewalTerm
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Panel")</div><span></span>

                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Account Name")</div><span></span>
                            @item.BankAccountName
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Auto Bank")</div><span></span>

                            @{
                                var accountNumber = item.AutoBank.Replace('-', ' ').Replace(" ", "");
                                if (!string.IsNullOrEmpty(accountNumber))
                                {
                                    if (accountNumber.Length == 16)
                                    {
                                        <div class="payment_info_overview_info">
                                            @string.Concat("".PadLeft(12, '*'), accountNumber.Substring(accountNumber.Length - 4))
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="payment_info_overview_info">
                                            @string.Concat("".PadLeft(11, '*'), accountNumber.Substring(accountNumber.Length - 4))
                                        </div>
                                    }
                                }
                                else
                                {

                                }
                            }

                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Routing Number")</div><span></span>
                            @item.RoutingNo
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("Bill Day")</div><span></span>
                            @item.RMRBillDay
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("NameOnCard")</div><span></span>
                            @item.CardAccountName
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("AutoCC")</div><span></span>

                            @{
                                var cardNumber = item.AutoCC.Replace('-', ' ').Replace(" ", "");
                                if (!string.IsNullOrEmpty(cardNumber))
                                {
                                    if (cardNumber.Length == 16)
                                    {
                                        <div class="payment_info_overview_info">
                                            @string.Concat("".PadLeft(12, '*'), cardNumber.Substring(cardNumber.Length - 4))
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="payment_info_overview_info">
                                            @string.Concat("".PadLeft(11, '*'), cardNumber.Substring(cardNumber.Length - 4))
                                        </div>
                                    }
                                }
                                else
                                {

                                }
                            }
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div class="ticket_list_partial_device_header">@Localize.T("ExpiresOn")</div><span></span>
                            @item.CardExpireDate
                        </td>


                        @*<td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Action")</div>
                                <div class="ticket_list_partial_device_info">
                                    <a class="cus-anchor" onclick="OpenRecurringBillingById(@item.Id)" href="javascript:void(0)" title="Edit">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </td>*@

                        @*}
                            }*@

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<button class="btn convert_rmr_cus_div lilrp_filter_btn hidden" style="float: right; margin: 10px 0px 0px 10px;">
    <span title="Collect Payments" onclick="CollectPayment()"><i class="fa-dollar-sign"></i>Collect Payments</span>
</button>

<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber), @(ViewBag.order))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FilterRecurringBillingAudit(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FilterRecurringBillingAudit(2, @(ViewBag.order))">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="FilterRecurringBillingAudit(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="FilterRecurringBillingAudit(2, @(ViewBag.order))">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="FilterRecurringBillingAudit(3, @(ViewBag.order))">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber-2), @(ViewBag.order))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="FilterRecurringBillingAudit()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber+1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber + 2), @(ViewBag.order))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber - 1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="FilterRecurringBillingAudit(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
        }
    </div>
</div>