@model HS.Entities.MarginReportCustom
@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/RecurringBillingReportPartial.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<style>
    .lra_height {
        width:100%;
        float:left;
        overflow:auto;
    }
    .lra_height table tr th:first-child {
        left: -1px;
        z-index: 10;
    }

    .lra_height table tr td:first-child {
        position: sticky;
        left: -1px;
        background-color: #fff;
    }

    .lra_height table tr:nth-child(odd) td:first-child {
        background-color: #f4f5f8;
    }
    .lra_height table tr th {
        white-space: nowrap;
    }
        .lra_height table tr th div:nth-child(1) {
            padding-right: 15px;
        }
    .lra_height table {
        table-layout:unset !important;
    }
</style>
<script>
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";
    var pageno = '@ViewBag.PageNumber';
    var search = '@ViewBag.searchtext';
    $(document).ready(function () {
        $(".lra_height").height(window.innerHeight - 285);
        $("#MarginListSearchText").val(search);
        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            LoadRmrMarginList(pageno, orderval);
        });



    });
   
</script>

<div class="Sales_summ_report_table">
    <div class="tcrl_list_container lra_height">
        <table class="loadticketreportlist_table  recur_bill_report_table table table-striped">
            <thead class="table-head-border">
                <tr>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Customer Name")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/name"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/name"></i></div>
                    </th>
                    <th class="thead-th-style new_header_customer">
                        <div>@Localize.T("Account Tools Customer ID")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/id"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/id"></i></div>
                    </th>

                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Business Name")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/businessname"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/businessname"></i></div>
                    </th>
                    <th class="thead-th-style new_header">
                        <div>@Localize.T("Billing Address")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/billAddress"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/billAddress"></i></div>
                    </th>
                    <th class="thead-th-style new_header">
                        <div>@Localize.T("Billing Address 2")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/billAddress2"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/billAddress2"></i></div>
                    </th>

                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Bill City")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/billcity"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/billcity"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Bill State")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/billstate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/billstate"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Bill Zip")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/billzip"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/billzip"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Site Address")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/siteaddress"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/siteaddress"></i></div>
                    </th>

                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Site City")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/sitecity"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/sitecity"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Site State")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/sitestate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/sitestate"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Site Zip")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/sitezip"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/sitezip"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Customer Number")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/customerno"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/customerno"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Central Station")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/centralstation"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/centralstation"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Panel Type")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/paneltype"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/paneltype"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Cell Backup Co")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/cell"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/cell"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Contract Date")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/contractdate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/contractdate"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Contract Term")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/contracttrem"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/contracttrem"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Contract Renewal")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/contractrenewal"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/contractrenewal"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Site Customer Since Date")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/sitecustomescincedate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/sitecustomescincedate"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Site Type")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/sitetype"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/sitetype"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Credit Score")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/creditscore"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/creditscore"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Billed RMR")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/billedRMR"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/billedRMR"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Cancel Effective Date")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/canceleffectivedate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/canceleffectivedate"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Contract Value")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/contractval"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/contractval"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Purchase Price")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/purchaseprice"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/purchaseprice"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Weekly Batch No")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/weeklybatchno"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/weeklybatchno"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Monthly Batch No")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/monthlybatchno"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/monthlybatchno"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Acct. Ownership")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/acctownership"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/acctownership"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Replacement")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/replacement"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/replacement"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Not For Transfer")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/notfortransfer"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/notfortransfer"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("FC Replacement")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/fcreplacement"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/fcreplacement"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Sales Person")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/salesperson"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/salesperson"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Alarm ComAcct#")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/comacct"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/comacct"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("Cell Serial No")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/cellserialno"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/cellserialno"></i></div>
                    </th>
                    <th class="thead-th-style new_header_sales">
                        <div>@Localize.T("No POO")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/nopoo"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/nopoo"></i></div>
                    </th>
                </tr>
            </thead>
            @if (Model.CustomerModel != null)
            {
                <tbody>
                    @foreach (var item in Model.CustomerModel)
                    {
                        <tr class="tr-style">
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Customer Name")</div>
                                <div class="ticket_list_partial_device_info">
                                    <a href="/Customer/Customerdetail/?id=@item.Id" target="_blank" class="cus-anchor" id="@item.Id">
                                        <span href="/Customer/Customerdetail/?id=@item.Id" title="">@item.FirstName</span>
                                    </a>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Account Tools Customer ID")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.Id</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Business Name")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.BusinessName</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Billing Address")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.StreetPrevious</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Billing Address 2")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span></span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Bill City")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.CityPrevious</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Bill State")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.StatePrevious</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Bill Zip")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.ZipCodePrevious</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Site Address")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.Street</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Site City")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.City</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Site State")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.State</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Site Zip")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.ZipCode</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Customer Number")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.CustomerNo</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Central Station")</div>
                                <div class="ticket_list_partial_device_info">
                                    @if (!string.IsNullOrWhiteSpace(item.CSProvider) && item.CSProvider != "-1")
                                    {
                                        <span>@item.CSProvider</span>
                                    }
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Panel Type")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.PanelType</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Cell Backup Co")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.CellBackupCompany</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Contract Date")</div>
                                <div class="ticket_list_partial_device_info">
                                    @if (item.ContractStartDate.ToString("M/d/yyyy") != "1/1/0001")
                                    {
                                        <span>@item.ContractStartDate.ToString("M/d/yy")</span>
                                    }

                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Contract Trem")</div>
                                <div class="ticket_list_partial_device_info">
                                    @*@if (!string.IsNullOrWhiteSpace(item.ContractTeam) && item.ContractTeam != "-1")
        {
            double ContractTerm = 0;
            if (double.TryParse(item.ContractTeam, out ContractTerm))
            {
                <div class="content_for_mobile cust_text_style">
                    <span>@(Math.Round(ContractTerm * 12, 0)) @Localize.T("Months")</span>
                </div>
            }

        }*@
                                    @if (!string.IsNullOrWhiteSpace(item.ContractTeam) && item.ContractTeam != "0")
                                    {

                                            <div class="content_for_mobile cust_text_style">
                                                <span>@item.ContractTeam @Localize.T("Months")</span>
                                            </div>
                                    }







                                    </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Contract Renewal")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.RenewalTerm</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Site Customer Since Date")</div>
                                <div class="ticket_list_partial_device_info">
                                    @if (item.CustomerSinceDate.ToString("M/d/yyyy") != "1/1/0001")
                                    {
                                        <span>@item.CustomerSinceDate.ToString("M/d/yy")</span>
                                    }
                                </div>
                            </td>

                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Site Type")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.Type</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Credit Score")</div>
                                <div class="ticket_list_partial_device_info">
                                    @if (!string.IsNullOrWhiteSpace(item.CreditScore) && item.CreditScore != "-1")
                                    {
                                        <span>@item.CreditScore</span>
                                    }
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Billed RMR")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.BillAmount</span> @*BillAmount*@
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Cancel Effective Date")</div>
                                <div class="ticket_list_partial_device_info">
                                    @if (item.CancellationDate.ToString("M/d/yyyy") != "1/1/0001")
                                    {
                                        <span>@item.CancellationDate.ToString("M/d/yy")</span>
                                    }
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Contract Value")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.ContractValue</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Purchase Price")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.PurchasePrice</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Weekly Batch No")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.WeeklyBatch</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Monthly Batch No")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.MonthlyBatch</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Acct. Ownership")</div>
                                <div class="ticket_list_partial_device_info">
                                    @if (!string.IsNullOrWhiteSpace(item.Ownership) && item.Ownership != "-1")
                                    {
                                        <span>@item.Ownership</span>
                                    }
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Replacement")</div>
                                <div class="ticket_list_partial_device_info">
                                    @if (@item.Replacement == true)
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Not For Transfer")</div>
                                <div class="ticket_list_partial_device_info">
                                    @if (@item.Transfer == true)
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("FC Replacement")</div>
                                <div class="ticket_list_partial_device_info">
                                    @if (@item.FCReplacement == true)
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Sales person")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.SalesPerson</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Alarm Com Acct#")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span></span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("Cell Serial No")</div>
                                <div class="ticket_list_partial_device_info">
                                    <span>@item.CellSerialNo</span>
                                </div>
                            </td>
                            <td class="table-body-td-style" valign="top">
                                <div class="ticket_list_partial_device_header">@Localize.T("No POO")</div>
                                <div class="ticket_list_partial_device_info">
                                    @if (@item.NOPOO == true)
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                </div>
                            </td>
                        </tr>

                    }
                 </tbody>

            }
        </table>
    </div>

</div>
<div class="AgentListPagination">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="LoadRmrMarginList(@(ViewBag.PageNumber))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="LoadRmrMarginList(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="LoadRmrMarginList(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="LoadRmrMarginList(2)">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="LoadRmrMarginList(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="LoadRmrMarginList(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="LoadRmrMarginList(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="LoadRmrMarginList(2)">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="LoadRmrMarginList(3)">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="LoadRmrMarginList(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="LoadRmrMarginList(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadRmrMarginList(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadRmrMarginList(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="LoadRmrMarginList(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="LoadRmrMarginList()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="LoadRmrMarginList(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadRmrMarginList(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadRmrMarginList(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="LoadRmrMarginList(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="LoadRmrMarginList(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadRmrMarginList(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadRmrMarginList(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="LoadRmrMarginList(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="LoadRmrMarginList(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadRmrMarginList(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="LoadRmrMarginList(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="LoadRmrMarginList(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="LoadRmrMarginList(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
        }
    </div>
</div>

@*<div id="CustomerReworkTicketList_Report">

</div>*@







