@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
@model List<HS.Entities.RMRInvoice>
<script>
    var OpenInvCustomerById = function (invId) {
        if (typeof (invId) != "undefined" && invId > 0) {
            OpenTopToBottomModal(domainurl + "/Invoice/AddInvoiceCustomer/?Id=" + invId);
        }
    }
    $(document).ready(function () {

        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval);
            LoadRMRInvoice(orderval);
        });
    });
</script>
<div class="Billing-table">
    <table class="display tblRBilling">
        <thead class="table-head-border ep_hide_for_device">
            <tr>
                <th class="thead-th-style">
                    <div>@Localize.T("Invoice Id")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/invoiceid"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/invoiceid"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/date"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/date"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Amount Due")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/amountdue"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/amountdue"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Net Due")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/netdue"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/netdue"></i></div>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td class="table-body-td-style">
                        <input type="hidden" value="@item.Id" id="invoiceId" />
                        @*<div>@Localize.T("Template Name") <span>:</span></div>*@
                        <div><a class="cus-anchor" onclick="OpenInvCustomerById(@item.Id)" href="javascript:void(0)">@item.InvoiceId</a></div>
                    </td>
                    @if (item.Date != new DateTime())
                    {
                        <td class="table-body-td-style">
                            <div>@item.Date.ToString("M/d/yy")</div>
                        </td>
                    }
                    else
                    {
                        <td class="table-body-td-style">
                            <div>-</div>
                        </td>
                    }
                    @if (item.Status == "Paid")
                    {
                        <td class="table-body-td-style">
                            @*<div>@Localize.T("Amount Due") <span>:</span></div>*@
                            <div style="color:green">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.AmountDue.ToString("#,##0.00")</div>
                        </td>
                    }
                    else
                    {
                        <td class="table-body-td-style">
                            @*<div>@Localize.T("Amount Due") <span>:</span></div>*@
                            <div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.AmountDue.ToString("#,##0.00")</div>
                        </td>
                    }
                    @if (item.Status == "Paid")
                    {
                        <td class="table-body-td-style">
                            @*<div>@Localize.T("Amount Due") <span>:</span></div>*@
                            <div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.NetDue.ToString("#,##0.00")</div>
                        </td>
                    }
                    else
                    {
                        <td class="table-body-td-style">
                            @*<div>@Localize.T("Amount Due") <span>:</span></div>*@
                            <div style="color:red">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.NetDue.ToString("#,##0.00")</div>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>
