@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
}
@using HS.Framework
@model HS.Entities.UserActivityCustomerModel
<link href="~/Content/Select2/select2.css" rel="stylesheet" />

<script src="~/Content/Select2/Select2.min.js"></script>
<script>
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";
    var count3 = 1;
    var orderval = '@ViewBag.orderval';
    var pagesize;
    var Totalpagesize = '@ViewBag.Totalpagesize';
    var invstatus = '@Html.Raw(Json.Encode(@ViewBag.invstatus))';
    invstatus = JSON.parse(invstatus);
    var CurrentNumber = '@ViewBag.CurrentNumber';
    var PageNumber = '@ViewBag.PageNumber';
    var SearchText = '@ViewBag.searchtxt';
    var TotalBookingIDCount = '@ViewBag.OutOfNumber';
    var CustomerId = '@ViewBag.CustomerId';
      var CustomerSearchKeyUp = function (pageno,order) {


        var StartDateVal = $(".min-date").val();
        var EndDateVal = $(".max-date").val();
        var SearchText = $(".RBSearchText").val();


        var SourceIDList = encodeURI($("#LeadsourceID").val());

        $(".RMRLog_Load").html(TabsLoaderText);

        $(".RMRLog_Load").load(domainurl + "/RecurringBilling/RecurringBillingLogList/?Start="+ StartDateVal + "&End=" + EndDateVal + "&pageno=" + pageno + "&pagesize=10"  + "&SearchText=" + encodeURI(SearchText) +"&order="+order +"&CustomerId="+CustomerId);
    }
        $(document).ready(function () {
   
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#log_startdate')[0] });
        new Pikaday({ format: 'MM/DD/YYYY', field: $('#log_enddate')[0] });
        //$(".icon_sort_timeclock").click(function () {
        //    var orderval = $(this).attr('data-val');
        //    console.log(orderval)
        //    CustomerSearchKeyUp(PageNumber, orderval);
        //  });
        })

</script>
@Styles.Render("~/styles/_LoadLogPartialCS")
<div class="Billing-table">
    <table class="display tblRBilling">
        <thead class="table-head-border ep_hide_for_device">
            <tr>
                <th class="thead-th-style">
                    <div>@Localize.T("Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/date"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/date"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("User")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/user"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/user"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("What Change")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/change"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/change"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("User Comment")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/comment"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/comment"></i></div>
                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.ListUserActivity)
            {
                <tr class="tr-style">
                    <td class="table-body-td-style ep_device_row" valign="top">
                        <div class="ep_device_header">@Localize.T("Date")<span>:</span></div>
                        <div class="ep_device_info">
                            <span>@item.StatsDate.UTCToClientTime().ToString("MM/dd/yy hh:mm tt")</span>
                            @*<span>@string.Format(item.StatsDate.UTCToClientTime().ToString("MM/dd/yy hh:mm tt"))</span>*@
                        </div>
                    </td>
                    <td hidden>@item.StatsDate</td>
                    <td class="table-body-td-style ep_device_row" valign="top">
                        <div class="ep_device_header">@Localize.T("User")<span>:</span></div>
                        <div class="ep_device_info">
                            <span>@item.UserName</span>
                        </div>
                    </td>



                    <td class="table-body-td-style ep_device_row" valign="top">
                        <div class="ep_device_header">@Localize.T("Details")<span>:</span></div>
                        <div class="ep_device_info">
                            <span>@Html.Raw(item.ActionDisplyText)</span>
                        </div>
                    </td>
                    <td></td>


                </tr>
            }
        </tbody>
    </table>
    <div class="AgentListPagination">
        <div class="paginationContainer">
            @if (ViewBag.PageCount > 0)
            {
                <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
            }
            @if (ViewBag.PageCount == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons disabledBtn">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber))">1</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CustomerSearchKeyUp(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CustomerSearchKeyUp(2)">2</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="CustomerSearchKeyUp(1)">1</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="CustomerSearchKeyUp(2)">2</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="CustomerSearchKeyUp(3)">3</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""))">Next</button>
                </div>
            }
            else if (ViewBag.PageCount > 3)
            {
                if (ViewBag.PageNumber == ViewBag.PageCount)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons disabledBtn" onclick="CustomerSearchKeyUp()">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 1)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else if (ViewBag.PageNumber == 2)
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
                else
                {
                    <div class="paginationMiddleButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton activeBtn" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                    </div>
                    <div class="NavigatonButtonsDiv">
                        <button class="NavigationButton" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                    </div>
                    <div class="paginationRightButtondv">
                        <button class="PaginationButtons" onclick="CustomerSearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                    </div>
                }
            }
        </div>
    </div>
</div>
