@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
@model List<HS.Entities.RMRHistory>

<script>
    var OpenInvCustomerById = function (invId) {
        if (typeof (invId) != "undefined" && invId > 0) {
            OpenTopToBottomModal(domainurl + "/Invoice/AddInvoiceCustomer/?Id=" + invId);
        }
    }
    $(document).ready(function () {

        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            LoadRMRHistory(orderval);
        });
    });
</script>
<div class="Billing-table">
    <table class="display tblRBilling">
        <thead class="table-head-border ep_hide_for_device">
            <tr>
                <th class="thead-th-style">
                    <div>@Localize.T("Invoice Id")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/invoiceid"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/invoiceid"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/date"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/date"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Method")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/method"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/method"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Check#")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/checkno"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/checkno"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Payment Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/paymentdate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/paymentdate"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Amount")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/amount"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/amount"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Batch Code")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/batchcode"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/batchcode"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Funded")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/funded"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/funded"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Posted")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/posted"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/posted"></i></div>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td class="table-body-td-style">
                        <input type="hidden" value="@item.Id" id="invoiceId" />
                        @*<div>@Localize.T("Template Name") <span>:</span></div>*@
                        <div><a class="cus-anchor" onclick="OpenInvCustomerById(@item.Id)" href="javascript:void(0)">@item.InvoiceId</a></div>
                    </td>
                    @if (item.InvoiceDate != new DateTime())
                    {
                        <td class="table-body-td-style">
                            <div>@item.InvoiceDate.ToString("MM/dd/yyyy")</div>
                        </td>
                    }
                    else
                    {
                        <td class="table-body-td-style">
                            <div>-</div>
                        </td>
                    }
                    <td class="table-body-td-style">
                        <div>@item.Method</div>
                    </td>
                    <td class="table-body-td-style">
                        <div>@item.CheckNo</div>
                    </td>

                    @if (item.InvoiceDate != new DateTime())
                    {
                        <td class="table-body-td-style">
                            <div style="color:green">@item.PaymentDate.ToString("MM/dd/yyyy")</div>
                        </td>
                    }
                    else
                    {
                        <td class="table-body-td-style">
                            <div>-</div>
                        </td>
                    }
                    <td class="table-body-td-style">
                        @*<div>@Localize.T("Amount") <span>:</span></div>*@
                        <div style="color:green">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.Amount.ToString("#,##0.00")</div>
                    </td>
                    <td class="table-body-td-style">
                        @*<div>@Localize.T("Batch Code") <span>:</span></div>*@
                        <div>@item.BatchCode</div>
                    </td>
                    <td class="table-body-td-style">
                        @*<div>@Localize.T("Funded") <span>:</span></div>*@
                        <div>@item.Funded</div>
                    </td>
                    <td class="table-body-td-style">
                        @*<div>@Localize.T("Posted") <span>:</span></div>*@
                        <div>@item.Posted</div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
