@{
    Layout = null;
   var TemplateName = @ViewBag.TemplateName;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework

<div class="div-header clearfix">
    <div class="header-title">
        <span class="custom-title-span">
            Recurring Template
        </span>
    </div>
</div>

<div class="Billing-table">
    <table class="display tblRBilling">
        <thead class="table-head-border ep_hide_for_device">
            <tr>
                <th class="thead-th-style">
                    <div>@Localize.T("Invoice Id")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/invoiceid"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/invoiceid"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/date"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/date"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Amount Due")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/amountdue"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/amountdue"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Net Due")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/netdue"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/netdue"></i></div>
                </th>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
