@{
    Layout = null;
    int i = Model.Count;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
@model List<HS.Entities.RecurringBillingSchedule>
<script>
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";

    var OpenRecurringBillingById = function (BillingId) {
        if (typeof (BillingId) != "undefined" && BillingId > 0) {
            OpenTopToBottomModal(domainurl + "/RecurringBilling/AddRecurringBilling/?Id=" + BillingId);
        }
    }
    var CloneRecurringBilling = function (ScheduleId, TemplateName) {
        OpenConfirmationMessageNew("", "Do You Want To Clone " + TemplateName + " Template?", function () {
            console.log("CloneBilling");
            var url = domainurl + "/RecurringBilling/CloneRecurringBillingSchedule";
            var param = JSON.stringify({
                "Schedule.ScheduleId": ScheduleId

            });

            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: url,
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })
        }, function () {

        });
    }

    var DeleteRecurringBilling = function (ScheduleId, TemplateName) {
        OpenConfirmationMessageNew("", "Do You Want To Delete " + TemplateName + "Template?", function () {
            console.log("CloneBilling");
            var url = domainurl + "/RecurringBilling/DeleteRecurringBillingSchedule";
            var param = JSON.stringify({
                "Schedule.ScheduleId": ScheduleId

            });

            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: url,
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })
        }, function () {

        });
    }
    $(document).ready(function () {

        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            LoadRMRTemplate(orderval);
        });

        @*if (@i > 0) {
            $("#AddRecurringBilling").hide();
        }
        else {
            $("#AddRecurringBilling").show();
        }*@
    });
</script>


<div class="Billing-table">
    <table class="display tblRBilling">
        <thead class="table-head-border ep_hide_for_device">
            <tr>
                <th class="thead-th-style">
                    <div>@Localize.T("Template Name")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/name"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/name"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Status")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/status"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Bill Cycle")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/bilcycle"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/bilcycle"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Start Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/startdate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/startdate"></i></div>
                </th>
                @*<th class="thead-th-style">
                    <div>@Localize.T("End Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/enddate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/enddate"></i></div>
                </th>*@
                <th class="thead-th-style">
                    <div>@Localize.T("Last Invoice Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/lastpaymentdate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/lastpaymentdate"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Next Payment Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/nextpaymentdate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/nextpaymentdate"></i></div>
                </th>
                <th class="thead-th-style">
                    <div>@Localize.T("Total")</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/total"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/total"></i></div>
                </th>
                <th class="thead-th-style">
                    @Localize.T("Actions")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td class="table-body-td-style">
                        <input type="hidden" value="@item.ScheduleId" id="ScheduleId" />
                        @*<div>@Localize.T("Template Name") <span>:</span></div>*@
                        <div> <a class="cus-anchor" onclick="OpenRecurringBillingById(@item.Id)" href="javascript:void(0)">@item.TemplateName</a></div>
                    </td>

                    <td class="table-body-td-style">
                        @*<div>@Localize.T("Bill Cycle") <span>:</span></div>*@
                        <div>@item.Status</div>
                    </td>

                    <td class="table-body-td-style">
                        @*<div>@Localize.T("Bill Cycle") <span>:</span></div>*@
                        <div>@item.BillCycle</div>
                    </td>
                    @if (item.StartDate != new DateTime())
                {
                        <td class="table-body-td-style">
                            <div>@item.StartDate.Value.ToString("M/d/yy")</div>
                        </td>
                    }
                    else
                    {
                        <td class="table-body-td-style">
                            <div>-</div>
                        </td>
                    }
                    @*@if (item.EndDate != new DateTime())
                {
                        <td class="table-body-td-style">
                            <div>@item.EndDate.Value.ToString("MM/dd/yyyy")</div>
                        </td>
                    }
                    else
                    {
                        <td class="table-body-td-style">
                            <div>-</div>
                        </td>
                    }*@

                    @if (item.PreviousDate != new DateTime())
                {
                        <td class="table-body-td-style">
                            @*<div>@Localize.T("Previous Date") <span>:</span></div>*@
                            <div>@item.PreviousDate.Value.ToString("M/d/yy")</div>
                        </td>
                    }
                    else
                    {
                        <td class="table-body-td-style">
                            @*<div>@Localize.T("Previous Date") <span>:</span></div>*@
                            <div>-</div>
                        </td>
                    }

                    @if (item.PaymentCollectionDate != new DateTime())
                {
                        <td class="table-body-td-style">
                            @*<div>@Localize.T("Next Date") <span>:</span></div>*@
                            <div>@item.PaymentCollectionDate.Value.ToString("M/d/yy")</div>
                        </td>
                    }
                    else
                    {
                        <td class="table-body-td-style">
                            @*<div>@Localize.T("Next Date") <span>:</span></div>*@
                            <div>-</div>
                        </td>
                    }

                    <td class="table-body-td-style">
                        @*<div>@Localize.T("Total") <span>:</span></div>*@
                        <div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@item.TotalBillAmount.ToString("#,##0.00")</div>
                    </td>
                    <td class="table-body-td-style">
                        @*<button title="@Localize.T("Duplicate")" class="btn DuplicateButton green_button" onclick="CloneRecurringBilling('@item.ScheduleId', '@item.TemplateName')">@Localize.T("Duplicate")</button>*@
                        <button title="@Localize.T("Delete")" class="btn red_button" onclick="DeleteRecurringBilling('@item.ScheduleId', '@item.TemplateName')">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
