@model HS.Entities.ActivationFee
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<link href="~/Content/Css/ActivationFee/AddActivationFee.css" rel="stylesheet" />
<script src="~/Content/Js/Site/Validation.js"></script>
<script src="~/Content/Js/Popups/AddActivationfee.js"></script>

<div class="container-fluid add_act_fee_container">
   
    @Html.HiddenFor(x => x.Id)
    @if (Model.Id > 0)
    {
        <div class="add_acc_fee_head_container">
            <span class="add_acc_fee_head_text">@Localize.T("Edit Activation Fee")</span>
        </div>
        @*<div class="form-group">
            <h3>@Localize.T("Edit Activation Fee")</h3>
        </div>*@
    }
    else
    {
        <div class="add_acc_fee_head_container">
            <span class="add_acc_fee_head_text">@Localize.T("New Activation Fee")</span>
        </div>
    }
  
    <div class="form-group clearfix">
        <span class="content-type">@Localize.T("Label Name")<span class="red">*</span></span>
        <div class="txt-form">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", datarequired = "true" ,placeholder="Label Name"})
            <label rel="Name" class="label hidden red position-absolute">*@Localize.T("Label Name Required")</label>
        </div>
    </div>
    
    <span class="form-group clearfix">
        <span class="content-type">@Localize.T("Fee")<span class="red">*</span></span>
        <div class="txt-form">
            <div class="shipping-amount-span currency_style">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)
                        </span>
                    </div>
                    @Html.TextBoxFor(x => x.Fee, "{0:n2}", new { @class = "content-text form-control", datarequired = "true" })
                </div>
            </div>
            <label rel="Fee" class="label hidden red position-absolute">*@Localize.T("Fee Required")</label>
        </div>
    </div>
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn" id="SaveAccFee"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
        </div>
    </footer>
</section>
