@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using cs = HS.Entities.Customer
@model HS.Entities.CreateInvoice 

 <script> 
    var InvoiceId = '@Model.Invoice.InvoiceId';
 </script>

@Styles.Render("~/styles/AddInvoice")
@Scripts.Render("~/scripts/AddInvoice")

<div class="add-invoice-container">
    <div class="div-header">
        <div class="header-title">
            <span class="custom-title-span">
                Invoice: @Model.Invoice.InvoiceId
            </span>
        </div>
    </div>
    <div class="div-body-contents">
        <div class="invoice-informations">
            <div style="width:100%">
                <div class="invoice-info-left-70p">
                    <div class="form-group clearfix width-30p">
                        <span class="span-style">@Localize.T("Select an customer")</span>
                         
                        <select style="width:100%" class="form-control dropdown-search" id="CustomerList">
                            @foreach (var item in (List<cs>)ViewBag.CustomerList)
                            {
                                <option value="@item.CustomerId"
                                            @(item.CustomerId == Model.Invoice.CustomerId?"selected":"")
                                            data-EmailAddress="@item.EmailAddress"
                                            data-Address="@item.Address"
                                            data-Street="@item.Street"
                                            data-City="@item.City"
                                            data-State="@item.Street"
                                            data-Zipcode="@item.ZipCode"
                                            data-Country="@item.Country">
                                    @item.FirstName @item.LastName
                                </option> 
                            } 
                        </select>
                         
                    </div>

                    <div class="form-group clearfix width-30p">
                        <span class="span-style">@Localize.T("Send Email")</span>
                        @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
                    </div>
                </div>
                <div class="balance-info">
                    <span class="span-style">@Localize.T("Balance Due")</span>
                    <span class="amount amount-span-style">@Localize.T("$0.00")</span>
                </div>
            </div>
            <div style="width:100%">
                <div class="invoice-info-left-70p" style="padding-bottom : 40px;">
                    <div class="form-group clearfix width-25p">
                        <span class="span-style">@Localize.T("Billing Address")</span>
                        @Html.TextBoxFor(x=>x.Invoice.BillingAddress , new {@class="BillingAddress form-control" })
                         
                    </div>
                    <div class="form-group clearfix width-25p">
                        <span class="span-style">@Localize.T("Terms")</span>
                        <input type="text" id="Terms" class="Terms form-control" />
                    </div>
                    <div class="form-group clearfix width-25p">
                        <span class="span-style">@Localize.T("Invoice Date")</span>
                        @Html.TextBoxFor(x => x.Invoice.CreatedDate, "{0:MM/dd/yyyy}", new { @class = "InvoiceDate form-control" })
                          
                    </div>
                    <div class="form-group clearfix width-25p">
                        <span class="span-style">@Localize.T("Due Date")</span>
                        @Html.TextBoxFor(x => x.Invoice.DueDate, "{0:MM/dd/yyyy}", new { @class = "DueDate form-control" })
                         
                    </div>
                </div>
                <div class="width-30p">
                    <a>@Localize.T("Make Payment")</a>
                </div>
            </div>
            <div class="">
                <table class="CustomerInvoiceTab" id="CustomerInvoiceTab">
                    <thead>
                        <tr>
                            <th class="thead-th-style1 tab-index">
                                <span>

                                </span>
                            </th>
                            <th class="thead-th-style1 tab-Product">
                                <span>
                                    @Localize.T("Product/Service")
                                </span>
                            </th>
                            <th class="thead-th-style2 tab-Desc">
                                <span>
                                    @Localize.T("Description")
                                </span>
                            </th>
                            <th class="thead-th-style2 tab-Quantity">
                                <span>
                                    @Localize.T("Quantity")
                                </span>
                            </th>
                            <th class="thead-th-style2 tab-Rate">
                                <span>
                                    @Localize.T("Rate")
                                </span>
                            </th>
                            <th class="thead-th-style2 tab-Amount">
                                <span>
                                    @Localize.T("Amount")
                                </span>
                            </th>
                            <th class="thead-th-style2 tab-Action">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.InvoiceDetailList.Count() > 0)
                        {
                            foreach (var item in Model.InvoiceDetailList)
                            {
                                <tr data-id="@item.EquipmentId" class="HasItem">
                                    <td valign="top"></td>
                                    <td valign="top">
                                        <input type="text" class="ProductName" value="@item.EquipmentName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                                        <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                                        <span class="spnProductName">@item.EquipmentName</span>
                                    </td>
                                    <td valign="top">
                                        <input type="text" value="@item.EquipmentDescription" class="txtProductDesc" />
                                        <span class="spnProductDesc">@item.EquipmentDescription</span>
                                    </td>
                                    <td valign="top">
                                        <input type="number" value="@item.Quantity" class="txtProductQuantity" />
                                        <span class="spnProductQuantity">@item.Quantity</span>
                                    </td>
                                    <td valign="top">
                                        <input type="text" class="txtProductRate" value="@item.UnitPrice" />
                                        <span class="spnProductRate">@item.UnitPrice</span>
                                    </td>
                                    <td valign="top">
                                        <input type="text" class="txtProductAmount" value="@item.TotalPrice" />
                                        <span class="spnProductAmount">@item.TotalPrice</span>
                                    </td>
                                    <td valign="top" class="tableActions">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td valign="top"></td>
                                <td valign="top">
                                    <input type="text" class="ProductName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                                    <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                                    <span class="spnProductName"></span>
                                </td>
                                <td valign="top">
                                    <input type="text" class="txtProductDesc" />
                                    <span class="spnProductDesc"></span>
                                </td>
                                <td valign="top">
                                    <input type="number" class="txtProductQuantity" />
                                    <span class="spnProductQuantity"></span>
                                </td>
                                <td valign="top">
                                    <input type="text" class="txtProductRate" />
                                    <span class="spnProductRate"></span>
                                </td>
                                <td valign="top">
                                    <input type="text" class="txtProductAmount" />
                                    <span class="spnProductAmount"></span>
                                </td>
                                <td valign="top" class="tableActions">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top"></td>
                                <td valign="top">
                                    <input type="text" class="ProductName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                                    <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                                    <span class="spnProductName"></span>
                                </td>
                                <td valign="top">
                                    <input type="text" class="txtProductDesc" />
                                    <span class="spnProductDesc"></span>
                                </td>
                                <td valign="top">
                                    <input type="number" class="txtProductQuantity" />
                                    <span class="spnProductQuantity"></span>
                                </td>
                                <td valign="top">
                                    <input type="text" class="txtProductRate" />
                                    <span class="spnProductRate"></span>
                                </td>
                                <td valign="top">
                                    <input type="text" class="txtProductAmount" />
                                    <span class="spnProductAmount"></span>
                                </td>
                                <td valign="top" class="tableActions">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </td>
                            </tr>
                        } 
                    </tbody>
                </table>
                
            </div>
            <div class="OtherInfos">
                <div class="col-md-12">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="InvoiceMgmtDiv width-50p">
                        <button class="btnAddLines">@Localize.T("Add Lines")</button>
                        <button class="btnClearLines">@Localize.T("Clear Lines")</button>
                        <button class="btnAddSubtotal hidden">@Localize.T("Add Subtotal")</button>
                    </div>
                    <div class="width-16p">
                        &nbsp;
                    </div>
                    <div class="InvoiceCalculationsDiv width-33p">
                        <span>@Localize.T("Total"):&nbsp;&nbsp;</span><span class="amount">$0.00</span>
                    </div>
                </div>
                <div class="col-md-12">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <span>@Localize.T("Message displayed on invoice")</span>
                        </div>
                        <textarea id="InvoiceMessage" maxlength="1000" rows="4" class="InvoiceMessage"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="invoice-footer col-md-12">
        <div class="cancelbtnDiv">
            <button class="btnInv InvoiceCancelButton" onclick="CloseTopToBottomModal()">@Localize.T("Cancel")</button>
        </div>
        <div class="InnerOptionsDiv">
            <a class="InvEstPreview" href="/Invoice/GetInvoice/@Model.Invoice.Id">@Localize.T("Print or Preview")</a>
        </div>
        <div class="SaveaButtonsDiv">
            <button class="btnInv InvoiceSaveButton">@Localize.T("Save")</button>
            <div class="btn-group dropup">
                <a href="/Invoice/SendEmailInvoice/@Model.Invoice.Id" type="button" class="InvEstPreview btn btn-default SaveAndSendBtn">@Localize.T("Save and Send")</a>
                @*<button onclick="SaveAndSend()" type="button" class="btn btn-default SaveAndSendBtn">@Localize.T("Save and Send")</button>*@
                <button type="button" class="btn btn-default dropdown-toggle SaveOptionsBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">@Localize.T("Toggle Dropdown")</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a onclick="SaveAndNew();">@Localize.T("Save and new")</a></li>
                    <li><a onclick="SaveAndClose();">@Localize.T("Save and close")</a></li>
                    <li><a onclick="SaveAndSahare();">@Localize.T("Save and share link")</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

