@{
    Layout = null;
}

@using AppConfig = HS.Framework.Utils.AppConfig;
@model HS.Entities.RestMenu
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>
    var cmenuid = '@Model.Id';
</script>
<style>
    .custom_form_group {
        width: 100%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom:10px;
    }
    .Add_menu_container{
        margin-bottom:20px;
    }
</style>
<script>
    var weburl = "";
    var weburlslug = '@Model.WebsiteLocation.WebsiteURL';
</script>

<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
@Styles.Render("~/styles/AddCustomer")
<link href="~/Content/Select2/select2.css" rel="stylesheet" />


<link href="~/Content/Css/AddFile/AddFile.css" rel="stylesheet" />

@using System.Configuration
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
@Scripts.Render("~/scripts/AddMenu")

<script src="~/Content/Select2/Select2.min.js"></script>
<script src="~/Content/Tiny/jquery.tinymce.min.js"></script>
<script src="~/Content/Tiny/tinymce.min.js"></script>
<script src="~/Content/Tiny/tiny.js"></script>


<script>
    var valuetab = '@ViewBag.SelectTab';
    var selectTimeFrom = '@ViewBag.selectTimeFrom'
    var selectTimeTo = '@ViewBag.selectTimeTo'
    var selectStatus = '@ViewBag.selectMenuStatus';
    $("#timeFrom").val(selectTimeFrom);
    $("#timeTo").val(selectTimeTo);
    if (typeof (selectStatus) != "undefined" && selectStatus != null) {
        $("#MenuStatus").val(selectStatus);
    }
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";
    var selecteddaysavailable = '@Html.Raw(Json.Encode(@ViewBag.dayavailable))';
    selecteddaysavailable = JSON.parse(selecteddaysavailable);
    var daysavail = '@Model.AvailableDays';
    var daysavailoption = '@Model.DaysAvailableOption';
    var timeavailoption = '@Model.TimeAvailableOption';
    var urlslug = '@Model.UrlSlug';
    var menuid = '@Model.Id';
    var menuname = '@Model.MenuName';
    var resturantname = '@Model.WebsiteLocation.Name';
    var city = '@Model.WebsiteLocation.City';
    var state = '@Model.WebsiteLocation.State';
    var storetimefrom = '@ViewBag.storetimefrom';
    var storetimeto = '@ViewBag.storetimeto';
    var GetUrlSlug = function () {
            $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: "/MenuManagement/GetURLSlug",
            data: JSON.stringify({ key: $("#MenuName").val() }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                 if (data.result) {
                       $("#UrlSlug").val(data.str);
                 }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }
    
    $(document).ready(function () {
        if (daysavailoption != "" && daysavailoption != "-1") {
            if (daysavailoption == "default") {
                $("#day_available_option").val(daysavailoption);
            }
            else if (daysavailoption == "custom") {
                $("#day_available_option").val(daysavailoption);
                $(".day_available_div").removeClass('hidden');
            }
        }
        else {
            $(".day_available_div").addClass('hidden');
        }
        if (timeavailoption != "" && timeavailoption != "-1") {
            if (timeavailoption == "default") {
                $("#time_available_option").val(timeavailoption);
            }
            else if (timeavailoption == "custom") {
                $("#time_available_option").val(timeavailoption);
                $(".time_from_div").removeClass('hidden');
                $(".time_to_div").removeClass('hidden');
                $("#timeFrom").val(selectTimeFrom);
                $("#timeTo").val(selectTimeTo);
            }
        }
        else {
            $(".time_from_div").addClass('hidden');
            $(".time_to_div").addClass('hidden');
        }
        $("#day_available_option").change(function () {
            if ($(this).val() != "-1" && $(this).val() == "default") {
                $(".day_available_div").addClass('hidden');
                $("#selectDaysAvailable").selectpicker('val', selecteddaysavailable);
            }
            else if ($(this).val() != "-1" && $(this).val() == "custom") {
                $(".day_available_div").removeClass('hidden');
                $("#selectDaysAvailable").selectpicker("val", "");
            }
            else {
                $(".day_available_div").addClass('hidden');
            }
        })
        $("#time_available_option").change(function () {
            if ($(this).val() != "-1" && $(this).val() == "default") {
                $(".time_from_div").addClass('hidden');
                $(".time_to_div").addClass('hidden');
                $("#timeFrom").val(storetimefrom);
                $("#timeTo").val(storetimeto);
            }
            else if ($(this).val() != "-1" && $(this).val() == "custom") {
                $(".time_from_div").removeClass('hidden');
                $(".time_to_div").removeClass('hidden');
                $("#timeFrom").val("-1");
                $("#timeTo").val("-1");
            }
            else {
                $(".time_from_div").addClass('hidden');
                $(".time_to_div").addClass('hidden');
            }
        })
        $("#MenuName").blur(function () {
            if ($("#MenuName").val().length > 0) {
                $(".urlslug_div").removeClass('hidden');
                GetUrlSlug();
            }
            else {
                $(".urlslug_div").addClass('hidden');
            }
        })
        $("#MenuName").keyup(function () {
            if ($("#MenuName").val().length > 0) {
                $(".urlslug_div").removeClass('hidden');
                GetUrlSlug();
            }
            else {
                $(".urlslug_div").addClass('hidden');
            }
        })
        
        if (parseInt(menuid) > 0) {
            $("#menuItem").removeClass("hidden");
        }
    })
</script>
<style>
    .ItemTab {
        width: 100%;
        float: left;
        border: 1px solid #ddd;
    }

        .ItemTab tbody tr input {
            display: none;
        }

        .ItemTab tbody tr span {
            display: block;
        }


        .ItemTab tbody tr.focusedItem span {
            display: none;
        }

        .ItemTab tbody tr td i.fa {
            cursor: pointer;
            font-size: 18px;
            padding-top: 10px;
        }

        .ItemTab tbody tr td {
            padding: 5px;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            position: relative;
        }

        .ItemTab thead tr th {
            text-align: left;
            line-height: 36px;
            vertical-align: middle;
            /*background-color: #ddd;*/
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding-left: 15px;
            text-transform: uppercase;
            font-weight: 600;
        }

            .ItemTab thead tr th:nth-child(4) {
                width: 90px;
            }

            .ItemTab thead tr th:nth-child(3) {
                width: 20%;
            }

            .ItemTab thead tr th:nth-child(1) {
                width: 50px;
            }

        .ItemTab tbody tr.focusedItem input {
            display: block;
            border: 1px solid #6a2677;
        }

        .ItemTab tbody tr:hover {
            background-color: #f4f5f8;
            border-right: 1px solid #ffffff;
        }

        .ItemTab thead tr:hover {
            background-color: #f4f5f8;
            border-right: 1px solid #ffffff;
        }

        .ItemTab tbody tr td:nth-child(1) {
            text-align: center;
            vertical-align: middle;
        }

        .ItemTab thead tr th:nth-child(3),
        .ItemTab thead tr th:nth-child(4),
        .ItemTab thead tr th:nth-child(5),
        .ItemTab tbody tr td:nth-child(3),
        .ItemTab tbody tr td:nth-child(4),
        .ItemTab tbody tr td:nth-child(5) {
            text-align: center;
            vertical-align: middle;
        }

        .ItemTab tbody tr td:hover {
            cursor: pointer;
        }

        .ItemTab .tt-menu {
            background: white;
            min-width: 320px;
            font-size: 12px;
            max-height: 230px;
            -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
            box-shadow: 0 5px 20px rgba(0,0,0,0.3);
            margin-top: 0px;
            position: absolute;
            left: 5px;
            z-index: 100;
            display: none;
            width: 450px;
            overflow-y: scroll;
        }

        .ItemTab .tt-dataset-autocomplete {
            margin-top: -5px;
        }

        .ItemTab .tt-suggestion {
            min-height: 36px;
            display: block;
            padding: 10px 10px 9px 15px;
            position: relative;
            cursor: pointer;
            white-space: nowrap;
            border-bottom: 1px solid #ccc;
        }

        .ItemTab .tt-menu p, .search-bar-container .twitter-typeahead > i p {
            margin: 0;
        }

        .ItemTab .tt-sug-text {
            width: 90%;
            font-size: 14px;
            text-overflow: ellipsis;
        }

        .ItemTab .tt-suggestion u {
            text-decoration: none;
            color: #aa2121;
        }

        .ItemTab .tt-suggestion.active {
            background-color: #f2f2f2;
        }

        .ItemTab .tt-sug-desc {
            width: 100%;
            color: #999;
            padding-top: 2px;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .ItemTab .tt-sug-type {
            position: absolute;
            right: 17px;
            top: 11px;
            color: #999;
            font-style: italic;
        }

        .ItemTab .tt-eq-price {
            float: right;
        }

        .ItemTab .tt-eq-name {
            float: left;
        }

    .tableActions {
        text-align: center;
    }

    .pAmount {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
    }

        .pAmount .input-group-prepend {
            width: 30%;
            float: left;
        }

        .pAmount .input-group-text {
            padding-top: 5px;
            height: 32px;
            color: #495057;
            text-align: center;
            background-color: #e9ecef;
            border: 1px solid #ced4da;
        }

        .pAmount > .input-group-prepend > .input-group-text {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .pAmount input {
            position: relative;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 70%;
            float: left;
            margin-bottom: 0;
        }

    .ItemTab tbody tr input, .ItemTab tbody tr .pAmount {
        display: none;
    }

    #btnMenuAddNewItem {
        float: right;
        font-size: 13px;
        background-color: #2CA01C;
        color: white;
    }

    .ItemTab tbody tr.focusedItem input {
        border: 1px solid #6a2677;
    }

    .ItemTab tbody tr.focusedItem input, .ItemTab tbody tr.focusedItem .pAmount {
        display: block;
    }

    .ItemTab tbody tr span {
        display: block;
    }


    .ItemTab tbody tr.focusedItem span {
        display: none;
    }

    .ItemTab tbody tr td i.fa {
        cursor: pointer;
        font-size: 18px;
        padding-top: 10px;
    }

    .tableActions {
        text-align: center;
    }

    .ItemTab tbody tr td {
        padding: 5px;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        position: relative;
    }

    .ItemTab thead tr th {
        text-align: left;
        line-height: 36px;
        vertical-align: middle;
        /*background-color: #ddd;*/
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding-left: 15px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .ItemTab tbody tr:hover {
        background-color: #f4f5f8;
        border-right: 1px solid #ffffff;
    }

    .ItemTab thead tr:hover {
        background-color: #f4f5f8;
        border-right: 1px solid #ffffff;
    }

    .ItemTab tbody tr td:hover {
        cursor: pointer;
    }

    .form-group_custom {
        margin-bottom: 10px;
    }
    textarea.form-control{
        height:75px !important;
    }
</style>

<div class="hidden" style="display:none;visibility:hidden;height:0px;">

</div>
<div class="add_customer_wrapper">
    <div class="container contents ">

        <input type="hidden" id="id" name="id" value="@Model.Id" />
        <input type="hidden" value="@ViewBag.SelectTab" id="TabValue" />
        <div class="col-xs-12 add_customer_top_menu_device">
            <div class="add_customer_pop_up_top_menu_container">
                <div class="add_customer_pop_up_top_menu">
                    <button class="add_customer_top_menu_btn"><i class="fa fa-bars"></i></button>
                </div>
                <div class="add_customer_top_menu_drop">
                    <div class="contactInformation" id="GotoContactInformation"><a href="#menuDetail">@Localize.T("Menu Details")</a></div>
                    @*@if (Model.Id > 0)
                    {
                        <div class="accountInformation" id="GoToSystem"><a href="#menuItem">@Localize.T("Items")</a></div>
                    }*@
                </div>
            </div>

        </div>

        <div class="tab-contents width-100p custom_margin_top ac_nav">
            <nav class="navbar navbar-default navbar-fixed-top add_customer_pop_up_hide_device">
                <div class="contents">
                    <div class="navbar-collapse" id="CustoerEditNav">
                        <ul class="nav navbar-nav">
                            <li class="liitem popup_custom_width contactInformation active" id="GotoContactInformation"><a href="#menuDetail">@Localize.T("Menu Details")</a></li>
                            @*@if (Model.Id > 0)
                            {
                                <li class="liitem popup_custom_width accountInformation" id="GoToSystem"><a href="#menuItem">@Localize.T("Items")</a></li>
                            }*@
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="wrapper-section" class="ac_device_margin">
                <div id="menuDetail" class="container-fluid active">
                    <span class="width-100p sub-header">
                        @Localize.T("Menu Details")
                    </span>
                    <div class="customer_info_container Add_menu_container">
                        <div class="customer_info_content_menu">
                            <div>
                                <div class="row">
                                    <div class="form-group clearfix">
                                        <span class="span-style">@Localize.T("Menu Name")<span class="red">*</span></span>
                                        @Html.TextBoxFor(x => x.MenuName, new { @class = "form-control", placeholder = Localize.T("Menu Name"), id = "MenuName", datarequired = "true" })
                                    </div>
                                    @{
                                        if (Model.Id > 0)
                                        {
                                            <div class="form-group clearfix">
                                                <span class="span-style">@Localize.T("URL Slug")</span>
                                                @Html.TextBoxFor(x => x.UrlSlug, new { @class = "form-control", id = "UrlSlug", placeholder = Localize.T("Url Slug") })
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group clearfix urlslug_div hidden">
                                                <span class="span-style">@Localize.T("URL Slug")</span>
                                                @Html.TextBoxFor(x => x.UrlSlug, new { @class = "form-control", id = "UrlSlug", placeholder = Localize.T("Url Slug") })
                                            </div>
                                        }
                                    }
                                    @if (Model.Id > 0)
                                    {
                                        <div class="form-group clearfix">
                                            <span class="span-style">@Localize.T("Website URL")</span>
                                            @Html.TextBoxFor(x => x.WebsiteURL, new { @class = "form-control", id = "WebsiteURL", placeholder = Localize.T("Website URL"), @readonly = "readonly" })
                                        </div>
                                    }
                                    <div class="form-group clearfix">
                                        <span class="span-style">@Localize.T("Status")</span>
                                        @Html.DropDownListFor(x => x.Status, ViewBag.MenuStatus as List<SelectListItem>, new { @class = "form-control", id = "MenuStatus" })
                                    </div>


                                    <div class="form-group clearfix">
                                        <span class="span-style">@Localize.T("Days Available Option")<span class="red">*</span></span>
                                        <select class="form-control" id="day_available_option" datarequired="true">
                                            <option value="default">@Localize.T("Store Default")</option>
                                            <option value="custom">@Localize.T("Custom")</option>
                                        </select>
                                    </div>
                                    <div class="form-group clearfix day_available_div hidden">
                                        <span class="span-style">@Localize.T("Days Available")<span class="red">*</span></span>
                                        @Html.DropDownList("selectDaysAvailable", ViewBag.DaysAvailable as List<SelectListItem>, new { @class = "form-control selectpicker", @multiple = "multiple", id = "selectDaysAvailable" })
                                    </div>
                                    <div class="form-group clearfix">
                                        <span class="span-style">@Localize.T("Time Available Option")<span class="red">*</span></span>
                                        <select class="form-control" id="time_available_option" datarequired="true">
                                            <option value="default">@Localize.T("Store Default")</option>
                                            <option value="custom">@Localize.T("Custom")</option>
                                        </select>
                                    </div>
                                    <div class="form-group clearfix time_from_div hidden">
                                        <span class="span-style">@Localize.T("Time Available: From")<span class="red">*</span></span>
                                        @Html.DropDownListFor(x => x.TimeFrom, ViewBag.timeAvailable as List<SelectListItem>, new { @class = "form-control", datarequired = "true", id = "timeFrom" })
                                    </div>
                                    <div class="form-group clearfix time_to_div hidden">
                                        <span class="span-style">@Localize.T("To")<span class="red">*</span></span>
                                        @Html.DropDownListFor(x => x.TimeTo, ViewBag.timeAvailable as List<SelectListItem>, new { @class = "form-control", datarequired = "true", id = "timeTo" })
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="custom_form_group width-100p">
                                        <span class="span-style">@Localize.T("Description")</span>
                                        @*@Html.TextAreaFor(x => x.Description, new { @class = "form-control", placeholder = Localize.T("Description"), id = "Description" })*@
                                        <textarea class="form-control" id="Description" placeholder="@Localize.T("Description")">@(!string.IsNullOrWhiteSpace(Model.Description) ? Model.Description.Replace("<p>", "").Replace("</p>", "") : "")</textarea>
                                    </div>
                                    <div class="custom_form_group">
                                        <span class="span-style">@Localize.T("Photo")</span>

                                        <div class="txt-form Upload_Doc">
                                            <div class="col-md-12 padding-left-0">
                                                <div class="fileborder border_none">
                                                    @{
                                                        if (!String.IsNullOrWhiteSpace(Model.Photo) && Model.Photo != null)
                                                        {
                                                            <img id="UploadCustomerFileBtn" class="cursor-pointer custom-file" src="/@Model.WebsiteLocation.State.ToLower()/@Model.WebsiteLocation.City.ToLower()/@Model.WebsiteLocation.UrlSlug.ToLower()/Menu/@Model.UrlSlug.ToLower()/Image/W1400/H930/@Model.Id/@Model.WebsiteLocation.CompanyId/Image_Preview.png" />
                                                        }
                                                        else
                                                        {
                                                            <img id="UploadCustomerFileBtn" class="cursor-pointer custom-file" src="~/Content/img/toppng.com-file-upload-image-icon-980x980.png" />
                                                        }
                                                    }
                                                </div>
                                                @if (!string.IsNullOrWhiteSpace(Model.Photo))
                                                {
                                                    <div class="deleteDoc cursor-pointer">
                                                        <img src="~/Content/Icons/cross-image-delete.png" />
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="deleteDoc cursor-pointer hidden">
                                                        <img src="~/Content/Icons/cross-image-delete.png" />
                                                    </div>
                                                }
                                                <div class="change-picture-logo white-color cursor-pointer text-align-center">
                                                    <span class="chooseFilebtn"><img src="~/Content/Icons/edit-icon.png" /> @Localize.T("Choose File to Upload")</span>
                                                    <span class="changeFilebtn hidden"><img src="~/Content/Icons/edit-icon.png" /> @Localize.T("Change File")</span>
                                                </div>
                                                <div class="LoadPreviewDocument hidden">
                                                    <div class="show-image PropertyLogoPreviewPic">
                                                        <div class="image-delete" data-id="">
                                                            <img src="~/Content/Icons/cross-image-delete.png" />
                                                        </div>
                                                        <img class="Preview_Doc T360image-photo T360image" src="" />
                                                    </div>
                                                    <div class="change-picture-logo white-color cursor-pointer text-align-center T360image">
                                                        <span><img src="~/Content/Icons/edit-icon.png" /> @Localize.T("Change File")</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 progress-container file-progress" style="display:none; padding-left:0; padding-right:0; margin-top: 15px;">
                                                <div class="progress progress-striped active">
                                                    <div class="progress-bar progress-bar-success" style="width:0%">
                                                        <span> 0%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <label class="label red position-relative hidden" id="uploadfileerror">@Localize.T("File required")</label>
                                        </div>
                                        <div class="LoadPreviewDocument hidden">
                                            <div class="show-image">
                                                <img id="Preview_Doc" src="" />
                                                <input class="deleteDoc" type="image" title="@Localize.T(" Close")" src="~/Content/Icons/cross_update.png" />
                                            </div>
                                            <div class="change-picture-logo white-color cursor-pointer text-align-center T360image">
                                                <span><img src="~/Content/Icons/edit-icon.png" /></span>
                                            </div>
                                        </div>
                                        <div class="LoadPreviewDocument1 hidden">
                                            <div class="show-image">
                                                <iframe id="Frame_Doc" src="" width="319" height="455"></iframe>
                                                <input class="deleteDoc" type="image" title="@Localize.T(" Close")" src="~/Content/Icons/cross_update.png" />
                                            </div>
                                        </div>
                                        <div class="UploadedVideo hidden">
                                            <div class="show-image">
                                                <span>Click save button for add this video</span>
                                            </div>
                                        </div>
                                        <div class="">
                                            @if (!string.IsNullOrWhiteSpace(Model.Photo))
                                            {
                                                <input type="hidden" id="UploadedPath" value="@Model.Photo" />
                                            }
                                            else
                                            {
                                                <input type="hidden" id="UploadedPath" value="" />
                                            }
                                            <input type="file" name="CustomerFile" class="hidden" id="UploadedFile" />

                                        </div>

                                    </div>

                                    <div class="custom_form_group">
                                        <span class="span-style">@Localize.T("Meta Title")</span>
                                        @Html.TextBoxFor(x => x.MetaTitle, new { @class = "form-control", placeholder = "Meta Title" })
                                    </div>
                                    <div class="custom_form_group">
                                        <span class="span-style">@Localize.T("Meta Description")</span>
                                        @Html.TextAreaFor(x => x.MetaDescription, new { @class = "form-control", style = "height:75px !important;", placeholder = "Meta Description" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div id="menuItem" class="container-fluid hidden">
                            <span class="width-100p sub-header">
                                @Localize.T("Items")
                            </span>

                            <div class="customer_info_container">

                                <div class="row" ">
                                    <button type="button" class="btn" id="btnMenuAddNewItem">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
                                    </button>
                                    <div class="col-lg-12" id="AddNewMenuItemPartial">

                                    </div>
                                    <div id="MenuItemList">

                                    </div>
                                </div>
                            </div>
                        </div>*@
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="cus-section">
    <footer class="footer ac_top_border">
        <div class="SaveCancelDiv addCustomerPopupFooter">
            <button class="btn btn-success SaveCustomer LastTabClickCustomerDetail" id="SaveCustomer">@Localize.T("Save")</button>
            @if (Model.Id > 0)
            {
                <button onclick="CloseTopToBottomModal()" class="btn btn-danger acButton_for_desktop" id="Cancel"><i class="fa fa-times" aria-hidden="true"></i> @Localize.T("Close")</button>
            }

            <button onclick="CloseTopToBottomModal()" class="btn btn-danger acButton_for_mobile" id="Cancel"><i class="fa fa-times" aria-hidden="true"></i></button>
            @if (PermissionChekcer.IsPermitted(Permissions.MenuManagementPermissions.MenuDelete))
            {
                if (Model != null && Model.Id > 0)
                {
                    <button class="btn btn-default DeleteThisCustomer acButton_for_desktop" id="DeleteThisCustomer"><i class="fa fa-trash-o" aria-hidden="true"></i> @Localize.T("Delete")</button> @*This button shows on Desktop*@
                    <button class="btn btn-default DeleteThisCustomer acButton_for_mobile" id="DeleteThisCustomer"><i class="fa fa-trash-o" aria-hidden="true"></i></button> @*This button shows on Device*@
                }
            }
        </div>
    </footer>
</section>
