@model List<HS.Entities.RestMenuItem>
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<style>
    .menu_item_list_img{
        max-width:80px;
        width:auto;
        height:auto;
    }
</style>
<script>
    var menuitemArr = [];
    var UpdateIeateryMenuItem = function () {
        $(".tbl-menu-item tbody tr").each(function () {
            menuitemArr.push({
                id: $(this).attr('data-id'),
                orderid: $(this).find('.order-by-menu-item').text()
            });
        })
        var url = "/MenuManagement/UpdateIeateryMenuItem";
        var param = JSON.stringify({
            categoryArr: menuitemArr
        })
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                parent.LoadAllItemsList();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }
    $(document).ready(function () {
        $(".tbl-menu-item tbody").sortable({
        update: function () {
            var i = 1;
            $(".tbl-menu-item tbody tr td.order-by-menu-item").each(function () {
                $(this).text(i);
                i += 1;
            });
                UpdateIeateryMenuItem();
        }
    }).disableSelection();
    })
</script>

<table id="TblEmergencyContactList_menuitem" class="menu_item_list_partial_table tbl-menu-item">
    <thead class="table-head-border eg_contact_hide">
        <tr>
            <th class="CE-thead-th-style">
                @Localize.T("Photo")
            </th>
            <th class="CE-thead-th-style">
                @Localize.T("Item Name")
            </th>
            <th class="CE-thead-th-style">
                @Localize.T("Menus")
            </th>
            <th class="CE-thead-th-style">
                @Localize.T("Categories")
            </th>
            <th class="CE-thead-th-style">
                @Localize.T("Toppings")
            </th>
            <th class="CE-thead-th-style">
                @Localize.T("Price")
            </th>
            <th class="CE-thead-th-style">
                @Localize.T("Days Available")
            </th>
            <th class="CE-thead-th-style">
                @Localize.T("Status")
            </th>
            <th class="CE-thead-th-style">
                @Localize.T("Action")
            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            foreach (var menuItemList in Model)
            {
        <tr class="tr-style" data-id="@menuItemList.Id">
            <td class="hidden order-by-menu-item"></td>
            <td class="CE-table-body-td-style eg_contact_header_row" valign="top">
                <label class="eg_contact_device_header" data-key="@menuItemList.Photo">@Localize.T("Photo Icon") <span>:</span></label>
                @if (!string.IsNullOrWhiteSpace(menuItemList.Photo))
                {
                    <img class="menu_item_list_img" src="/@(((HS.Entities.WebsiteLocation)ViewBag.WebLoc).State.ToLower())/@(((HS.Entities.WebsiteLocation)ViewBag.WebLoc).City.ToLower())/@(((HS.Entities.WebsiteLocation)ViewBag.WebLoc).UrlSlug.ToLower())/Item/@menuItemList.UrlSlug.ToLower()/Image/W80/H80/@menuItemList.Id/@(((HS.Entities.WebsiteLocation)ViewBag.WebLoc).CompanyId)/Image_Preview.png" />
                }
            </td>
            <td class="CE-table-body-td-style eg_contact_header_row" valign="top">
                <label class="eg_contact_device_header">@Localize.T("Item Name") <span>:</span></label>
                @if (menuItemList.ItemName != "")
                {
                    <a class="cus-anchor" onclick="OpenMenuItemTabById(@menuItemList.Id, @menuItemList.MenuId)"><span>@menuItemList.ItemName</span></a>
                }
                else
                {
                    <span>-</span>
                }
            </td>
            <td class="CE-table-body-td-style eg_contact_header_row" valign="top">
                <label class="eg_contact_device_header">@Localize.T("Menus") <span>:</span></label>
                <span> @menuItemList.MenuStr </span>
            </td>
            <td class="CE-table-body-td-style eg_contact_header_row" valign="top">
                <label class="eg_contact_device_header">@Localize.T("Categories") <span>:</span></label>
                <span> @menuItemList.CategoryModel </span>
            </td>
            <td class="CE-table-body-td-style eg_contact_header_row" valign="top">
                <label class="eg_contact_device_header">@Localize.T("Toppings") <span>:</span></label>
                <span> @menuItemList.ToppingModel </span>
            </td>
            <td class="CE-table-body-td-style eg_contact_header_row" valign="top">
                <label class="eg_contact_device_header">@Localize.T("Price") <span>:</span></label>
                @if (menuItemList.Price != null)
                {
                    <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(menuItemList.Price)</span>
                }
                else
                {
                    <span>-</span>
                }
            </td>
            <td class="CE-table-body-td-style eg_contact_header_row" valign="top">
                <label class="eg_contact_device_header">@Localize.T("Days Available") <span>:</span></label>
                @if (!string.IsNullOrWhiteSpace(menuItemList.DaysAvailableOption))
                {
                    if (menuItemList.DaysAvailableOption == "default")
                    {
                        <span>Store Default</span>
                    }
                    else
                    {
                        <span>Custom</span>
                    }
                }
                else
                {
                    <span>-</span>
                }
            </td>
            <td class="CE-table-body-td-style eg_contact_header_row" valign="top">
                <label class="eg_contact_device_header">@Localize.T("Status") <span>:</span></label>
                @if (menuItemList.Status != null)
                {
                    if (menuItemList.Status == true)
                    {
                        <span>Active</span>
                    }
                    else
                    {
                        <span style="color:red;">Inactive</span>
                    }
                }
                else
                {
                    <span>-</span>
                }
            </td>
            <td class="CE-table-body-td-style eg_contact_header_row" valign="top">
                <label class="eg_contact_device_header">@Localize.T("Action") <span>:</span></label>
                <a class="contact_delete" data-toggle="tooltip" title="Delete" onclick="DeleteMenuItem(@menuItemList.Id)" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
            }
        }
    </tbody>
</table>
