@{ 
    Layout = null;
}
@model List<HS.Entities.RestMenuItem>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/UserList")
<link href="~/Content/Css/Lead/EmergencyContactListPartial.css" rel="stylesheet" />
<style>
    .MenuItemList_container {
         width: 100%;
        float:left;
        padding:10px;
    }
    #TblCategoryMenuItemList {
        width: 100%;
        float:left;
    }
    #TblCategoryMenuItemList thead tr th,
    #TblCategoryMenuItemList tbody tr td {
        padding:10px;
    }
    #TblCategoryMenuItemList tbody tr td .edit-menu-item {
        color:#2ca01c;
        cursor:pointer;
    }
    #TblCategoryMenuItemList tbody tr td .delete {
        cursor:pointer;
    }
    .sub-header{
        font-size: 15px;
    font-weight: 600;
    background: #cfcfcf;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 5px;
    margin-top: 25px;
    }
    .width-100p{
        width:100%;
    }
</style>


<div class="MenuItemList_container">
    <div class="width-100p sub-header">
        @Localize.T("Items")
    </div>
    <table id="TblCategoryMenuItemList" class="item_list_partial">
        <thead class="table-head-border menu_item_list_partial">
            <tr>
                <th class="MenuItem-thead-th-style">
                    @Localize.T("Photo")
                </th>
                <th class="MenuItem-thead-th-style">
                    @Localize.T("Item Name")
                </th>
                <th class="MenuItem-thead-th-style">
                    @Localize.T("Price")
                </th>
                <th class="MenuItem-thead-th-style">
                    @Localize.T("Days Available")
                </th>
                <th class="MenuItem-thead-th-style">
                    @Localize.T("Status")
                </th>
                @*<th class="MenuItem-thead-th-style">
                    @Localize.T("Action")
                </th>*@
            </tr>
        </thead>
        <tbody>
      @if (Model != null)
      {
          foreach (var CategoryItemList in Model)
          {
              if (!string.IsNullOrWhiteSpace(CategoryItemList.ItemName))
              {
                <tr class="tr-style" data-id="@CategoryItemList.Id">
                    <td class="Menu-table-body-td-style eg_Menu_header_row" valign="top">
                        @if (!string.IsNullOrWhiteSpace(CategoryItemList.Photo))
                        {
                            <img src="/@(((HS.Entities.WebsiteLocation)ViewBag.WebLoc).State.ToLower())/@(((HS.Entities.WebsiteLocation)ViewBag.WebLoc).City.ToLower())/@(((HS.Entities.WebsiteLocation)ViewBag.WebLoc).UrlSlug.ToLower())/Item/@CategoryItemList.UrlSlug.ToLower()/Image/W50/H50/@CategoryItemList.Id/@(((HS.Entities.WebsiteLocation)ViewBag.WebLoc).CompanyId)/Image_Preview.png" height="50" width="50" />
                        }
                    </td>
                    <td class="Menu-table-body-td-style eg_Menu_header_row" valign="top">
                        @if (CategoryItemList.ItemName != "")
                        {
                            <span> @CategoryItemList.ItemName </span>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                    <td class="Menu-table-body-td-style eg_Menu_header_row" valign="top">
                        @if (CategoryItemList.Price != null)
                        {
                            <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(CategoryItemList.Price)</span>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                    <td class="Menu-table-body-td-style eg_Menu_header_row" valign="top">
                        @if (CategoryItemList.DaysAvailable != null)
                        {
                            <span> @CategoryItemList.DaysAvailable</span>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                    <td class="Menu-table-body-td-style eg_Menu_header_row" valign="top">
                        @if (CategoryItemList.Status != null)
                        {
                            if (CategoryItemList.Status == true)
                            {
                                <span>Active</span>
                            }
                            else
                            {
                                <span>Inactive</span>
                            }
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                    @*<td class="Menu-table-body-td-style eg_Menu_header_row" valign="top">
                        <a class="edit-menu-item" id-val="@CategoryItemList.Id" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                        <a class="delete" data-toggle="tooltip" title="Delete" onclick="DeleteMenuItem(@CategoryItemList.Id)" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                    </td>*@
                </tr>
              }

          }
      }
            </tbody>
        </table>
    </div>