@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<link href="~/Content/Select2/select2.css" rel="stylesheet" />
<script src="~/Content/Select2/Select2.min.js"></script>

<script>

    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    var DataTablePageSize = 50;
    var PayrollStartDatepicker;
    var PayrollEndDatepicker;
    var startTab = '@ViewBag.StartTab';
    var LoadAllItemsTab = function (pageno) {
        $(".Load_AllItems").html(TabsLoaderText);
        $(".Load_AllItems").load(domainurl + "/MenuManagement/AllItemsTabPartial?PageNo=" + pageno + "&PageSize=50");
    }
    var LoadMenusTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Menus").html(TabsLoaderText);
        $(".Load_Menus").load(domainurl + "/MenuManagement/LoadMenusPartial?PageNo=1&PageSize=50");
    }

    var LoadCategoriesTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Categories").html(TabsLoaderText);
        $(".Load_Categories").load(domainurl + "/MenuManagement/LoadCategoriesPartial?PageNo=1&PageSize=50");
    }

    var LoadMenuItemsTab = function (pageno) {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_MenuItems").html(TabsLoaderText);
        $(".Load_MenuItems").load(domainurl + "/MenuManagement/LoadMenuItemsPartial?PageNo=" + pageno + "&PageSize=50");
    }

    var LoadToppingsTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Toppings").html(TabsLoaderText);
        $(".Load_Toppings").load(domainurl + "/MenuManagement/LoadToppingsPartial?PageNo=1&PageSize=50");
    }

    var LoadSpecialsTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Specials").html(TabsLoaderText);
        $(".Load_Specials").load(domainurl + "/MenuManagement/LoadSpecialsPartial?PageNo=1&PageSize=50");
    }

    var LoadArchivedItemsTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_ArchivedItems").html(TabsLoaderText);
        $(".Load_ArchivedItems").load(domainurl + "/MenuManagement/LoadArchivedItemsPartial?PageNo=1&PageSize=50");
    }

    var my_date_format = function (input) {
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        if (startTab == "AllItemsTab") {

            LoadAllItemsTab(1);
        }
        
        else if (startTab == "MenusTab") {
            $("#MenusTab").addClass('active');
            $(".MenusTab").addClass('active');
            LoadMenusTab();
        }
        else if (startTab == "CategoriesTab") {
            $("#CategoriesTab").addClass('active');
            $(".CategoriesTab").addClass('active');
            LoadCategoriesTab();
        }
        else if (startTab == "MenuItemsTab") {
            $("#MenuItemsTab").addClass('active');
            $(".MenuItemsTab").addClass('active');
            LoadMenuItemsTab(1);
        }
        else if (startTab == "ToppingsTab") {
            $("#ToppingsTab").addClass('active');
            $(".ToppingsTab").addClass('active');
            LoadToppingsTab();
        }
        else if (startTab == "SpecialsTab") {
            $("#SpecialsTab").addClass('active');
            $(".SpecialsTab").addClass('active');
            LoadSpecialsTab();
        }
        else if (startTab == "ArchivedItemsTab") {
            $("#ArchivedItemsTab").addClass('active');
            $(".ArchivedItemsTab").addClass('active');
            LoadArchivedItemsTab();
        }
        
        $(".AllItemsTab").click(function () {
            LoadAllItemsTab(1);
        });
        $(".MenusTab").click(function () {
            LoadMenusTab();
        });
        $(".CategoriesTab").click(function () {
            LoadCategoriesTab();
        });
        $(".MenuItemsTab").click(function () {
            LoadMenuItemsTab(1);
        });
        $(".ToppingsTab").click(function () {
            LoadToppingsTab();
        });
        $(".SpecialsTab").click(function () {
            LoadSpecialsTab();
        });
        $(".ArchivedItemsTab").click(function () {
            LoadArchivedItemsTab();
        });
        


        $("#sales_txt_search").keyup(function (event) {
            event.preventDefault();
            if (event.keyCode == 13) {
                FilterSalesReport1(1)
            }
        })

    });

</script>
@*<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />*@
<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">
    @Localize.T("Menu Management")
    @*<div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>*@
</div>


<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs payroll_report_top_nav" id="myTab">
            @if (true)
            {
                if (ViewBag.AllItemCount > 0)
                {
                    <li class="AllItemsTab active">
                        <a idval="" data-target="#AllItemsTab" data-toggle="tab">@Localize.T("All Items (" + ViewBag.AllItemCount + ")")</a>
                    </li>
                }
                else
                {
                    <li class="AllItemsTab active">
                        <a idval="" data-target="#AllItemsTab" data-toggle="tab">@Localize.T("All Items")</a>
                    </li>
                }

            }
            @if (PermissionChekcer.IsPermitted(Permissions.MenuManagementPermissions.MenusTab))
            {
                if (ViewBag.MenuCount > 0)
                {
                    <li class="MenusTab">
                        <a idval="" data-target="#MenusTab" data-toggle="tab">@Localize.T("Menus (" + ViewBag.MenuCount + ")")</a>
                    </li>
                }
                else
                {
                    <li class="MenusTab">
                        <a idval="" data-target="#MenusTab" data-toggle="tab">@Localize.T("Menus")</a>
                    </li>
                }
            }
            @if (PermissionChekcer.IsPermitted(Permissions.MenuManagementPermissions.CategoriesTab))
            {
                if (ViewBag.CategoryCount > 0)
                {
                    <li class="CategoriesTab">
                        <a idval="" data-target="#CategoriesTab" data-toggle="tab">@Localize.T("Categories (" + ViewBag.CategoryCount + ")")</a>
                    </li>
                }
                else
                {
                    <li class="CategoriesTab">
                        <a idval="" data-target="#CategoriesTab" data-toggle="tab">@Localize.T("Categories")</a>
                    </li>
                }
            }
            @*<li class="MenuItemsTab">
            <a idval="" data-target="#MenuItemsTab" data-toggle="tab">@Localize.T("Items")</a>
        </li>*@
            @if (PermissionChekcer.IsPermitted(Permissions.MenuManagementPermissions.ToppingsTab))
            {
                if (ViewBag.ToppingCount > 0)
                {
                    <li class="ToppingsTab">
                        <a idval="" data-target="#ToppingsTab" data-toggle="tab">@Localize.T("Toppings (" + ViewBag.ToppingCount + ")")</a>
                    </li>
                }
                else
                {
                    <li class="ToppingsTab">
                        <a idval="" data-target="#ToppingsTab" data-toggle="tab">@Localize.T("Toppings")</a>
                    </li>
                }
            }
            @if (PermissionChekcer.IsPermitted(Permissions.MenuManagementPermissions.SpecialsTab))
            {
                <li class="SpecialsTab">
                    <a idval="" data-target="#SpecialsTab" data-toggle="tab">@Localize.T("Specials")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.MenuManagementPermissions.ArchivedItemsTab))
            {
                <li class="ArchivedItemsTab">
                    <a idval="" data-target="#ArchivedItemsTab" data-toggle="tab">@Localize.T("Archived Items")</a>
                </li>
            }
        </ul>
        <div class="tab-content reports_tab_content">
@if (true)
{
    <div class="tab-pane active" id="AllItemsTab">
        <div class="Load_AllItems">

        </div>
    </div>
}
           @if (PermissionChekcer.IsPermitted(Permissions.MenuManagementPermissions.MenusTab))
            {
            <div class="tab-pane active" id="MenusTab">

                <div class="Load_Menus">

                </div>

            </div>
           }
            @if (PermissionChekcer.IsPermitted(Permissions.MenuManagementPermissions.CategoriesTab))
            {
                <div class="tab-pane" id="CategoriesTab">
                    <div class="Load_Categories">

                    </div>
                </div>
            }
            <div class="tab-pane" id="MenuItemsTab">
                <div class="Load_MenuItems">

                </div>
            </div>
            @if (PermissionChekcer.IsPermitted(Permissions.MenuManagementPermissions.ToppingsTab))
            {
                <div class="tab-pane" id="ToppingsTab">
                    <div class="Load_Toppings">

                    </div>
                </div>
            }
             @if (PermissionChekcer.IsPermitted(Permissions.MenuManagementPermissions.SpecialsTab))
            {
                <div class="tab-pane" id="SpecialsTab">
                    <div class="Load_Specials">

                    </div>
                </div>
             }
            @if (PermissionChekcer.IsPermitted(Permissions.MenuManagementPermissions.ArchivedItemsTab))
            {
                <div class="tab-pane" id="ArchivedItemsTab">
                    <div class="Load_ArchivedItems">

                    </div>
                </div>
            }
        </div>
    </div>
</div>


