@{ 
    Layout = null;
}
@model List<HS.Entities.RestMenuItem>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/UserList")
<link href="~/Content/Css/Lead/EmergencyContactListPartial.css" rel="stylesheet" />

<style>
    .ToppingList_container {
            width: 100%;
        float:left;
        padding:10px;
    }
    #TbltTopping_menuitem {
        width: 100%;
        float:left;
    }
      #TbltTopping_menuitem thead tr th,
    #TbltTopping_menuitem tbody tr td {
        padding:10px;
    }
       #TbltTopping_menuitem tbody tr td .edit-topping-item {
        color:#2ca01c;
        cursor:pointer;
    }
    #TbltTopping_menuitem tbody tr td .delete {
        cursor:pointer;
    }
    .sub-header{
        font-size: 15px;
    font-weight: 600;
    background: #cfcfcf;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 5px;
    margin-top: 25px;
    }
    .width-100p{
        width:100%;
    }
</style>
<div class="ToppingList_container">
    <div class="width-100p sub-header">
        @Localize.T("Items")
    </div>
    <table id="TbltTopping_menuitem" class="topping_item_list_partial">
        <thead class="table-head-border menu_item_list_partial">
            <tr>
                <th class="Topping-thead-th-style">
                    @Localize.T("Photo")
                </th>
                <th class="Topping-thead-th-style">
                    @Localize.T("Item Name")
                </th>
                <th class="Topping-thead-th-style">
                    @Localize.T("Price")
                </th>
                <th class="Topping-thead-th-style">
                    @Localize.T("Quantity")
                </th>
                <th class="Topping-thead-th-style">
                    @Localize.T("Time Available")
                </th>
                <th class="Topping-thead-th-style">
                    @Localize.T("Days Available")
                </th>
                <th class="Topping-thead-th-style">
                    @Localize.T("Status")
                </th>
                @*<th class="Topping-thead-th-style">
                    @Localize.T("Action")
                </th>*@
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var ToppingItemList in Model)
                {
                    <tr class="tr-style" data-id="@ToppingItemList.Id">
                        <td class="Topping-table-body-td-style eg_Menu_header_row" valign="top">
                            @if (!string.IsNullOrWhiteSpace(ToppingItemList.Photo))
                            {
                                <img src="/@(((HS.Entities.WebsiteLocation)ViewBag.WebLoc).State.ToLower())/@(((HS.Entities.WebsiteLocation)ViewBag.WebLoc).City.ToLower())/@(((HS.Entities.WebsiteLocation)ViewBag.WebLoc).UrlSlug.ToLower())/Item/@ToppingItemList.UrlSlug.ToLower()/Image/W50/H50/@ToppingItemList.Id/@(((HS.Entities.WebsiteLocation)ViewBag.WebLoc).CompanyId)/Image_Preview.png" height="50" width="50" />
                            }
                        </td>
                        <td class="Menu-table-body-td-style eg_Menu_header_row" valign="top">
                            @if (ToppingItemList.ItemName != "")
                            {
                                <span> @ToppingItemList.ItemName </span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td class="Topping-table-body-td-style eg_Menu_header_row" valign="top">
                            @if (ToppingItemList.Price != null)
                            {
                                <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(ToppingItemList.Price)</span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td class="Menu-table-body-td-style eg_Menu_header_row" valign="top">
                            @if (ToppingItemList.MaxQty != 0)
                            {
                                <span> @ToppingItemList.MaxQty </span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td class="Topping-table-body-td-style eg_Menu_header_row" valign="top">
                            @if (ToppingItemList.TimeAvailable != null)
                            {
                                <span> @ToppingItemList.TimeAvailable</span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td class="Topping-table-body-td-style eg_Menu_header_row" valign="top">
                            @if (ToppingItemList.DaysAvailable != null)
                            {
                                <span> @ToppingItemList.DaysAvailable</span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td class="Topping-table-body-td-style eg_Menu_header_row" valign="top">
                            @if (ToppingItemList.Status != null)
                            {
                                if (ToppingItemList.Status == true)
                                {
                                    <span>Active</span>
                                }
                                else
                                {
                                    <span>Inactive</span>
                                }
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        @*<td class="Topping-table-body-td-style eg_Menu_header_row" valign="top">
                            <a class="edit-topping-item" id-val="@ToppingItemList.Id" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                            <a class="delete" data-toggle="tooltip" title="Delete" onclick="DeleteToppingItem(@ToppingItemList.Id)" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                        </td>*@
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
