@{
    Layout = null;
}
@model HS.Entities.TransactionPdfModel
@using System.Collections;
@using lbl = HS.Web.UI.Helper.LabelHelper
@using DateTimeExt = HS.Framework.DateTimeExtension
@{ 
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(Model.CompanyId);
    string CurrencyVal = "Dollars";
    if (Currency.ToLower() == "tk")
    {
        CurrencyVal = "Taka";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Transaction Pdf</title>
</head>
<body style="font-size:15px; font-family:sans-serif;">
        <div class="tblCompanyInfo">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><br /></td>
                    </tr>
                    <tr>
                        <td style="width:150px;vertical-align:top;text-align:center;">
                            @if (!string.IsNullOrWhiteSpace(Model.CompanyLogo))
                            {
                                <img src="@Model.CompanyLogo" style="width:80px; float:left; padding-left:40px;" /><br />
                            }
                            <span style="margin-left:40px; font-size:22px; font-weight:800;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Receipt</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:40px;width:60%">
                            @Html.Raw(Model.CompanyAddressFormat)
                        </td>
                        <td style="float:right; vertical-align:top;width:40%;">
                            <span></span><br /><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    <div style="margin-left:200px;">
        <table style="border-collapse:collapse;">
            <tr style="border-bottom:1px solid #ccc;">
                <td style="padding:10px; font-weight:bold;">Paid To: </td>
                <td style="padding:10px 20px;">@Model.CompanyName</td>
            </tr>
            <tr style="border-bottom:1px solid #ccc;">
                <td style="padding:10px;  font-weight:bold;">Customer Name: </td>
                <td style="padding:10px 20px;">@Model.CustomerName</td>
            </tr>
            <tr style="border-bottom:1px solid #ccc;">
                <td style="padding:10px; font-weight:bold;">Customer Business Name: </td>
                <td style="padding:10px 20px;">@Model.BusinessName</td>
            </tr>
            <tr style="border-bottom:1px solid #ccc;">
                <td style="padding:10px; font-weight:bold;">Invoice NO: </td>
                <td style="padding:10px 20px;">@Model.InvoiceId</td>
            </tr>
            <tr style="border-bottom:1px solid #ccc;">
                <td style="padding:10px; font-weight:bold;">Payment Date: </td>
                <td style="padding:10px 20px;">@Model.PaymentDate</td>
            </tr>
            <tr style="border-bottom:1px solid #ccc;">
                <td style="padding:10px; font-weight:bold;">Payment Method: </td>
                <td style="padding:10px 20px;">@Model.PaymentMethod</td>
            </tr>
            <tr style="border-bottom:1px solid #ccc;">
                <td style="padding:10px; font-weight:bold;">Invoice Total: </td>
                <td style="padding:10px 20px;">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.InvoiceTotal)</td>
            </tr>
            <tr style="border-bottom:1px solid #ccc;">
                <td style="padding:10px; font-weight:bold;">Invoice Balance Due: </td>
                <td style="padding:10px 20px;">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.InvoicePreviousBalance)</td>
            </tr>
            <tr style="border-bottom:1px solid #ccc;">
                <td style="padding:10px; font-weight:bold;">Amount Received: </td>
                <td style="padding:10px 20px;">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.PaymentAmount)</td>
            </tr>
            <tr style="border-bottom:1px solid #ccc;">
                <td style="padding:10px; font-weight:bold;">Invoice Balance: </td>
                <td style="padding:10px 20px;">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.InvoiceBalance)</td>
            </tr>
            <tr style="border-bottom:1px solid #ccc;">
                <td style="padding:10px; font-weight:bold;">Transaction Id: </td>
                <td style="padding:10px 20px;">@Model.TransactionId</td>
            </tr>
            <tr style="border-bottom:1px solid #ccc;">
                <td style="padding:10px; font-weight:bold;">Check No: </td>
                <td style="padding:10px 20px;">@Model.CheckNo</td>
            </tr>
        </table> 
    </div>
    <div style="width:100%;float:left;margin-top:40px;text-align:left; padding-left:40px;">
        <span style="text-transform: capitalize;">Amount in Words (@CurrencyVal): @Model.AmountInWord Only</span>
    </div>
    <div style="text-align:center; margin-top:50px; width:100%; float:left;">
        Thank you for your business<br /> <br />
        @Model.CompanyName
    </div>
   
</body>
</html>
