@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var LoadCustomerDiv = "#customer_tab_" + CustomerLoadId + " ";
    $(document).ready(function () {
        $(LoadCustomerDiv + ".LoadFundingDiv").html(TabsLoaderText);
        $(LoadCustomerDiv + ".LoadFundingDiv").load(domainurl + "/Transaction/ShowAllTransactions/?CustomerId=" + CustomerLoadId);

    })
</script>
<div class="customer-details-container">
    <div class="customer-details-title-div">
        <div class="row custom-row-align">
            <div class="per_customer_info_container">
                <div class="per_customer_info_div" onclick="OpenTransactionTab()">
                    <div class="Revenue-border">
                        <div class="amount-caption-info device_amount">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(ViewBag.PaidAmountDetail)</div>
                        <div class="open-overdue">@Localize.T("TOTAL Collected")</div>
                    </div>
                </div>
                @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.OverviewTotalRevenew))
                {
                    <div class="per_customer_info_div" onclick="OpenTransactionTab()">
                        <div class="Revenue-border">
                            <div class="amount-caption-info device_amount">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(Convert.ToDouble(ViewBag.PaidAmountDetailWithOutTax))</div>
                            <div class="open-overdue">@Localize.T("REVENUE")</div>
                        </div>
                    </div>
                }
                <div class="per_customer_info_div" onclick="OpenInvoiceTab()">
                    <div class="open-border">
                        <div class="amount-caption-info device_amount">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(ViewBag.EstimateAmountDetail)</div>
                        <div class="open-overdue">@Localize.T("OPEN")</div>
                    </div>
                    @*</div>*@
                </div>
                <div class="per_customer_info_div" onclick="OpenInvoiceTab()">
                    <div class="unpaid_border">
                        <div class="amount-caption-info device_amount">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(ViewBag.UnpaidInvoice)</div>
                        <div class="open-overdue">@Localize.T("UNPAID INVOICE")</div>
                    </div>
                </div>
                <div class="per_customer_info_div">
                    <div class="overdue-border" onclick="OpenCustomerCreditTransactions(CustomerLoadGuid)">
                        <div class="amount-caption-info device_amount">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(ViewBag.CustomerCredit)</div>
                        <div class="open-overdue">@Localize.T("CREDIT")</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="LoadFundingDiv" @*id="LoadFunding"*@></div>
