@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
    DateTime EndDate = (DateTime)ViewBag.EndDate;
    DateTime StartDate = (DateTime)ViewBag.StartDate;
}
@using HS.Framework

@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@Styles.Render("~/styles/EstimatePartialCS")

<script>
    var date = new Date();
    var datetime = date.getDate() + "/"
                + (date.getMonth() + 1) + "/"
                + date.getFullYear();
    var insdate;
    var customerid;
    var detailId;
    var StartDatepicker;
    var EndDatepicker;
    var FirstDayOfWeek = '@ViewBag.FirstDayOfWeek';
    var FirstDayOfMonthForAll = '@ViewBag.FilterStartDate';
</script>

@Scripts.Render("~/scripts/EstimatePartialJS")

<div class="page-content-wrap cus-padding-top10p all_estimatePartial_Container">
    <ul class="nav nav-tabs invoices-tabs" id="myEstimateTab">
        <li class="active openestimateTab" data-tab="Open">
            <a data-target=".openestimateTab_Load" data-toggle="tab" onclick="OpenEstimateTabLoad()">
                @Localize.T("Open")
                <span class="EstimateOpenCounter">@(ViewBag.OpenEstimateCount > 0 ? string.Format("({0})", ViewBag.OpenEstimateCount) : "")</span>

            </a>
        </li>
        <li class="completeestimateTab" data-tab="Completed">
            <a data-target=".completeestimateTab_Load" data-toggle="tab" onclick="CompletedEstimateTabLoad()">
                @Localize.T("Completed")
                <span class="EstimateOpenCounter">@(ViewBag.CompletedEstimateCount > 0 ? string.Format("({0})", ViewBag.CompletedEstimateCount) : "")</span>

            </a>

        </li>
    </ul>
    <div class="estimate_partial_search_container">
        <div class="estimate_partial_searchbar">
            <span id="PayrollStartDate">
                <input type="text" value="@StartDate.ToString("MM/dd/yy")" placeholder="Start Date" class="form-control border-radius-0 EstimateFilterStartDate" />
            </span>
            <span id="PayrollEndDate">
                <input type="text" value="@EndDate.ToString("MM/dd/yy")" placeholder="End Date" class="form-control border-radius-0 EstimateFilterEndDate" />
            </span>

            <span id="PTO">
                @Html.DropDownList("PTOFilter", (List<SelectListItem>)ViewBag.PTOFilterOptions, new { @class = "form-control PTOFilter" })
            </span>
            <span class="ep_searchbar">
                <input class="form-control filterinput searchtext" placeholder="Search" />
            </span>
            <div class="input-group-btn time_clock_filter_btn">
                <button class="btn PayrollFilterBtn green_button" title="@Localize.T("Search")">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
        <div class="estimate_partial_other_option">
            <div>
               


                @if (Request.Browser.IsMobileDevice)
                {
                    <span class="InvPrintForPhone">
                        <a title="Print" class="InvoicePrint" href=""><i class="fa fa-print" aria-hidden="true"></i></a>
                    </span>
                }
                else
                {
                    <span class="InvPrint">
                        <a title="Print" class="InvoicePrint" href=""><i class="fa fa-print" aria-hidden="true"></i></a>
                    </span>
                }


                
                <button class="btn download_btn" id="InvExport">
                    <i title="Download" class="glyphicon glyphicon-download-alt InvoiceReport"></i>
                </button>
            </div>

            <div class="width-50p text-right">
                <button class="btn btn-primary btn-add-estimate" id="AddEstimate" type="button" data-toggle="modal">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;@Localize.T("New")
                </button>
            </div>
        </div>
    </div>
    <div class="header-section">
        <div class="row">
            <div class="col-md-12 tableEstimate">
                <div class="width-50p">
                    @*<div class="btn-group black-border">
                            <button class="btn background-color-ffffff">@Localize.T("Batch Actions")</button>
                            <button data-toggle="dropdown" class="btn dropdown-toggle background-color-ffffff" type="button" aria-expanded="false">
                                <span class="caret"></span>
                            </button>
                            <ul style="min-width:inherit; margin-top:0px !important; border-radius:4px !important; border-color: #b1b4bb !important;" class="dropdown-menu customer-dropdown-ul-style">
                                <li class="Edit-Customer"><a class="dropallign" href="javascript:void(0)">@Localize.T("Send Estimates")</a></li>
                                <li class="Delete-Customer"><a class="dropallign" href="javascript:void(0)">@Localize.T("Print Estimates")</a></li>
                            </ul>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="loadestimatelist">

    </div>
    <div class="tab-content">
        <div class="tab-pane active openestimateTab_Load">
            
        </div>
        <div class="tab-pane completeestimateTab_Load">
            
        </div>
    </div>
</div> 