@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var strUserVal = '@Html.Raw(Json.Encode(@ViewBag.strUserListVal))';
    UserVal = JSON.parse(strUserVal);
    var strTypeval = '@Html.Raw(Json.Encode(@ViewBag.strTypeListval))';
    typeval = JSON.parse(strTypeval);
    var empCount = '@ViewBag.EmpCount';
    var isPermission = '@ViewBag.Ispermission';
    $(document).ready(function () {
        console.log("UserVal");
        $('.selectpicker_user').on('change', function () {
            if (isPermission.toLowerCase() == 'true') {
                var selected = $(this).val(),
                    strUserList = String(selected),
                IsValue = $("#IsAllTechnicianList").val(),
                calview = $("#SheduleView").val(),
                calselectrdDate = $("#ScheduleDateTime").val();
                var typeval = $("#ListTicketType").val();
                if (IsValue == 'all') {
                    $(".LoadSchedule").load(domainurl + "/Schedule/ScheduleUserListPartial?CurrentDate=" + calselectrdDate + "&CurrentView=" + calview + "&UserVal=&typeval=" + typeval + "&status=" + IsValue);
                }
                else if (IsValue == 'none') {
                    $(".LoadSchedule").load(domainurl + "/Schedule/ScheduleUserListPartial?CurrentDate=" + calselectrdDate + "&CurrentView=" + calview + "&UserVal=&typeval=" + typeval + "&status=" + IsValue);
                }
                else {
                    var splitFristResult = strUserList.split(',')[0];
                    if (splitFristResult == 'all' || splitFristResult == 'none') {
                        var arr = selected.shift();
                    }
                    if (selected.length == empCount) {
                        $(".LoadSchedule").load(domainurl + "/Schedule/ScheduleUserListPartial?CurrentDate=" + calselectrdDate + "&CurrentView=" + calview + "&UserVal=&typeval=" + typeval + "&status=all");
                        $("#IsAllTechnicianList").val("all");
                    }
                    else {
                        $(".LoadSchedule").load(domainurl + "/Schedule/ScheduleUserListPartial?CurrentDate=" + calselectrdDate + "&CurrentView=" + calview + "&UserVal=" + selected + "&typeval=" + typeval + "&status=" + IsValue);
                    }
                }
            }
        });
        $(".selectpicker_user").selectpicker('val', UserVal);
        $(".selectpicker_type").selectpicker('val', typeval);

    });
    $("#cal_search_btn").click(function () {
        searchButtonClickFunction();
    });
</script>
<div>
    @Html.DropDownList("ListTicketType", ViewBag.TicketType as List<SelectListItem>, new { @class = "form-control selectpicker_type", @multiple = "multiple", title = "Select Ticket Type" })

    <div class="input-group add-on">
        @Html.DropDownList("ListEmployee", ViewBag.ListEmployee as List<SelectListItem>, new { @class = "form-control selectpicker_user", @multiple = "multiple", title = "Select User", name = "selUser" })
        <div class="input-group-btn"> <button title="Search" class="btn green_button" id="cal_search_btn"><i class="fa fa-search"></i></button></div>
    </div>
</div>
