@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.PreCustomerNote>

<script>
    var address = @Html.Raw(Json.Encode(Model));
    var markers = [];
    var InfoMarkers = [];
    var marker, i;
    var ZoomLevel = '@ViewBag.ZoomLevel';
</script>
@Styles.Render("~/styles/ScheduleGoogleMap")
@Scripts.Render("~/scripts/ScheduleGoogleMap")
<script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.GoogleMapAPIKey"></script>

<body class="schedule_map_custom">
    <div class="container-fluid">
        <div style="display:none" id="map_canvas_initial"></div>
        <div id="map_canvas" style="width:100%; height:100%"></div>
    </div>
    <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
        <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png" />
    </div>
</body>