@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;

<script>
    var TicketDate = '@ViewBag.date';
    var TicketType = '@ViewBag.viewtype';
    var ticketCustomerId = '@ViewBag.TicketCustomerId';
    var TicketId = '@ViewBag.TicketId';
</script>
@Styles.Render("~/styles/SchedulePartial")
@Scripts.Render("~/scripts/SchedulePartial")

<div class="container-fluid">
    <div class="sche_event_header">
        <h2></h2>
        @if (PermissionChecker.IsPermitted(PermissionList.SchedulePermission.ShowMapBtn))
        {
            <button class="btn" id="show_schedule_map"><i class="fa fa-map"></i> @Localize.T("Show Map")</button>
        }
        @if (PermissionChecker.IsPermitted(PermissionList.SchedulePermission.TicketStatusImageSetup))
        {
            <button class="btn" id="btn_ticket_status_setup"><i class="fa fa-cog"></i> @Localize.T("Setup")</button>
        }
        @if ((((List<HS.Entities.Lookup>)ViewBag.TicketStatus) != null && ((List<HS.Entities.Lookup>)ViewBag.TicketStatus).Count > 0) || (((List<HS.Entities.TicketStatusImageSetting>)ViewBag.StatusTicket) != null && ((List<HS.Entities.TicketStatusImageSetting>)ViewBag.StatusTicket).Count > 0))
        {
            <button class="btn ticket_color_btn"><i class="fa fa-info"></i></button>
        }
    </div>
    <div id="ticket_color_div">
        @if (((List<HS.Entities.Lookup>)ViewBag.TicketStatus) != null && ((List<HS.Entities.Lookup>)ViewBag.TicketStatus).Count > 0)
        {
            <div class="ticket_status_div_container">
                @foreach (var item in ((List<HS.Entities.Lookup>)ViewBag.TicketStatus))
                {
                    if (item.DataValue != "-1")
                    {
                        if (!string.IsNullOrWhiteSpace(item.AlterDisplayText))
                        {
                            <div class="ticket_type_div"><span class="ticket_status_div" style="background-color:#@item.AlterDisplayText;"></span><span>@item.DisplayText</span></div>
                        }
                        else
                        {
                            <div class="ticket_type_div"><span class="ticket_status_div"></span><span>@item.DisplayText</span></div>
                        }
                    }
                }
            </div>
        }
        @if (((List<HS.Entities.TicketStatusImageSetting>)ViewBag.StatusTicket) != null && ((List<HS.Entities.TicketStatusImageSetting>)ViewBag.StatusTicket).Count > 0)
        {
            <div class="ticket_status_div_container">
                @foreach (var item in ((List<HS.Entities.TicketStatusImageSetting>)ViewBag.StatusTicket))
                {
                    <div class="ticket_type_div"><img class="ticket_status_div_img" src="@item.Filename" /><span>@item.TicketStatus</span></div>
                }
            </div>
        }
    </div>
    <div clas="load_calender">
        <div class="AppointmentScheduleCalendar">

        </div>
    </div>
</div>
<div class="hidden">
    <a class="ScheduleMapPopUp" href="@(HS.Framework.Utils.AppConfig.DomainSitePath)/Schedule/ScheduleGoogleMap" target="_blank">@Localize.T("Map")</a>
    <input type="hidden" id="IsAllTechnicianList" />
    <input type="hidden" id="SheduleView" />
    <input type="hidden" id="ScheduleDateTime" />
</div>
