@model HS.Entities.CustomerCompany
@using AppConfig = HS.Framework.Utils.AppConfig;

@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using System.Collections;
@section styles{
    @Styles.Render("~/styles/GetInvoice")
    <link href="~/Content/Css/Layout/Loader.css" rel="stylesheet" />

    <style>
        .bodyConentsDiv1 {
            width: 93%;
            height: 435px !important;
            margin-top: 15px;
            margin-left: 30px;
            overflow: hidden;
        }

        .bodyConentsDiv1_mobile {
            width: 1024px;
            height: 1600px;
            overflow-y: auto;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 54px;
            height: 27px;
        }

            .switch input {
                display: none;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2ca01c;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2ca01c;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            -webkit-border-radius: 34px;
            -moz-border-radius: 34px;
            border-radius: 34px;
        }

            .slider.round:before {
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }



        .footerContents-agreement1 {
            width: 100%;
            position: absolute;
            /*padding-top: 20px;*/
            padding-right: 10px;
        }

        .custom-body_id {
            margin-top: 50px;
            max-width: 1024px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 51px;
            background-color: #f5f5f5;
            height: 100%;
        }

        .custom-body_id_mobile {
            margin-top: 50px;
            max-width: 1024px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 51px;
            /*background-color: #f5f5f5;*/
            height: 100%;
        }

        .sign-document {
            margin-top: 65px;
            margin-left: 30px;
        }

        .btnSign {
            background-color: #2ca01c;
            border-style: none;
            height: 35px;
            color: white;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        .LoadImg {
            width: 100%;
            height: 100%;
            position: relative;
        }

        .Error-warning {
            /*position:relative;*/
            color: red;
            font-style: italic;
            font-size: 12px;
            font-weight: 600;
            display: none;
        }

        .LoadImgDiv_mobile {
            width: 1024px;
            height: 1850px;
            position: absolute;
            background: white;
            z-index: 8888;
        }

        .LoadImgDiv {
            width: 100%;
            height: 100%;
            position: absolute;
            background: white;
            z-index: 8888;
        }

        .wrapper {
            border: 1px solid #ccc;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            margin: 9px 9px 9px 0px;
            position: relative;
            width: 300px;
            height: 100px;
            margin-right: 35px;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        button[disabled], html input[disabled] {
            background-color: #ccc;
        }

            button[disabled]:hover, html input[disabled]:hover {
                background-color: #ccc;
            }

        .signature-pad {
            position: absolute;
            left: 0;
            top: 0;
            width: 300px;
            height: 100px;
        }

        .cus-pdf-style {
            height: 390px;
        }
        /*style start for checkbox*/
        /*style start for checkbox*/


        .label-cbx {
            user-select: none;
            cursor: pointer;
            margin-bottom: 0;
        }

            .label-cbx input:checked + .checkbox {
                border-color: #00c31f;
            }

                .label-cbx input:checked + .checkbox svg path {
                    fill: none;
                }

                .label-cbx input:checked + .checkbox svg polyline {
                    stroke-dashoffset: 0;
                }

            .label-cbx:hover .checkbox svg path {
                stroke-dashoffset: 0;
                stroke-width: 1;
            }

            .label-cbx .checkbox {
                position: relative;
                top: 13px;
                float: left;
                margin-right: 8px;
                width: 20px;
                height: 20px;
                border: 2px solid #C8CCD4;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

                .label-cbx .checkbox svg {
                    position: absolute;
                    top: -3px;
                    left: -2px;
                }

                    .label-cbx .checkbox svg path {
                        fill: none;
                        stroke: #00c31f;
                        stroke-width: 2;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke-dasharray: 71px;
                        stroke-dashoffset: 71px;
                        transition: all 0.6s ease;
                    }

                    .label-cbx .checkbox svg polyline {
                        fill: none;
                        stroke: #00c31f;
                        stroke-width: 2;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke-dasharray: 18px;
                        stroke-dashoffset: 18px;
                        transition: all 0.3s ease;
                    }

            .label-cbx > span {
                pointer-events: none;
                vertical-align: middle;
            }

        .invisible {
            position: absolute;
            z-index: -1;
            width: 0;
            height: 0;
            opacity: 0;
        }

        /*style end for checkbox*/
        /*style end for checkbox*/
        .all_button {
            /*width: 106px;*/
            padding-left: 10px;
            padding-right: 10px;
            height: 35px;
        }

        .btnQuesSave {
            color: white;
            border: 1px solid #6b6c72;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: #2ca01c;
            float: right;
            margin-right: 30px;
        }

        .profile_message {
            padding-top: 20px;
            padding-left: 30px;
        }

            .profile_message span {
                font-weight: bold !important;
            }

            .profile_message i {
                cursor: pointer;
            }

        .SwitchACHPayment_style, .SwitchACHPayment_style:hover {
            color: red;
            text-decoration: none;
            border: 1px solid #ccc;
            padding: 5px;
            border-radius: 5px;
        }

        .mobile_width {
            background-color: #fff;
        }

        .mobile_document_btn {
            width: 100%;
            float: left;
            padding-left: 30px;
        }

            .mobile_document_btn a,
            .mobile_document_btn a:hover,
            .mobile_document_btn a:focus {
                background-color: #2ca01c;
                color: #fff;
            }

        .footerContents-agreement {
            width: 100%;
            float: left;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 10px;
        }

            .footerContents-agreement button {
                float: right;
            }

        @@media (max-width:768px) {
            .footerContents-agreement button {
                float: left;
            }
        }
    </style>
}
<script src="~/Content/Js/Layout/Device.js"></script>
@section scripts{
    <script>
        var ismobiledevice = '@Request.Browser.IsMobileDevice';
        var clicked = false;
        var customerid = '@ViewBag.CustomerId';
        var ticketid = '@ViewBag.TicketId';
        var DisableElement = function (id) {
            $(id).attr("disabled", "disabled");
           };
        var IAgree = function () {
            var filePath = $(".img_sig").attr('src');
            var url = domainurl + "/Ticket/SubmitCustomerTicketAddendum";
            $.ajax({
                url: url,
                data: { customerid, ticketid, filePath },
                type: "Post",
                dataType: "Json",
                success: function (data) {
                    if (data) {
                        OpenSuccessMessageNew("Success!", "", function () {
                            $(".sign-document").addClass('hidden');
                            $(".bodyConentsDiv1").removeClass('hidden');
                            $(".bodyConentsDiv1_mobile").removeClass('hidden');
                            $(".LoadImgDiv").removeClass('hidden');
                            $(".footerContents-agreement").removeClass('hidden');
                            $(".DisclousureDiv").show();
                            $(".footerContents-agreement").addClass('hidden');
                            $(".sign-div").addClass('hidden');
                            var ifr = $('iframe')[0];
                            ifr.src = ifr.src
                        });
                        setTimeout(function () {
                            $(".LoadImgDiv").addClass('hidden');
                        }, 10000);
                    }
                    else {
                        OpenErrorMessageNew("Error", "Access denied", window.location.href = "/login");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })
        }
        $(document).ready(function () {
            if (Device.All()) {
                $('#AggrementDiv').remove();
            }
            else {
                $('.mobile_document_btn').remove();
            }

            var canvas = $('#signature-pad');
            var ctx = $('#signature-pad')[0].getContext('2d');
            var signaturePad = new SignaturePad($('#signature-pad')[0]);
            function resizeCanvas() {
                var ratio = Math.max(1, 1);
                canvas.width = canvas.offsetWidth * ratio;
                canvas.height = canvas.offsetHeight * ratio;
                canvas[0].getContext("2d").scale(ratio, ratio);
            }
            resizeCanvas();
            var img = new Image();
            img.onload = function () {
                ctx.drawImage(img, 0, 0);
            };
            img.crossOrigin = 'anonymous';
            function download(dataURL, filename) {
                var blob = dataURLToBlob(dataURL);
                var url = window.URL.createObjectURL(blob);

                var a = document.createElement("a");
                a.style = "display: none";
                a.href = url;
                a.download = filename;

                document.body.appendChild(a);
                a.click();

                window.URL.revokeObjectURL(url);
            }
            function dataURLToBlob(dataURL) {
                var parts = dataURL.split(';base64,');
                var contentType = parts[0].split(":")[1];
                var raw = window.atob(parts[1]);
                var rawLength = raw.length;
                var uInt8Array = new Uint8Array(rawLength);

                for (var i = 0; i < rawLength; ++i) {
                    uInt8Array[i] = raw.charCodeAt(i);
                }

                return new Blob([uInt8Array], { type: contentType });
            }
            $('#clear').click(function () {
                signaturePad.clear();
            });
            $("#save-png").click(function () {
                var data = signaturePad.toDataURL('image/png');
                var url = domainurl + "/Ticket/SaveAddendumSignature";
                $.ajax({
                    url: url,
                    data: { data, customerid, ticketid },
                    type: "Post",
                    dataType: "Json",
                    success: function (data) {
                        if (data.result) {
                            OpenSuccessMessageNew("Success!", "Signature added successfully. Scroll at the bottom to fully review and submit document.", function () {

                                $(".sign-document").addClass('hidden');
                                $(".bodyConentsDiv1").removeClass('hidden');
                                $(".bodyConentsDiv1_mobile").removeClass('hidden');
                                $(".LoadImgDiv").removeClass('hidden');
                                $(".footerContents-agreement").removeClass('hidden');
                                $(".DisclousureDiv").show();
                                if (ismobiledevice == "False") {
                                    var ifr = $('iframe')[0];
                                ifr.src = ifr.src
                                }
                            });
                            setTimeout(function () {
                                $(".LoadImgDiv").addClass('hidden');
                            }, 10000);
                            $(".img_sig").attr('src', data.filePath);
                        }
                        else {
                            OpenErrorMessageNew("Error", "Access denied", window.location.href = "/login");
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                })
            })
            $(".btnIAgree").click(function () {

                if (!signaturePad.isEmpty()) {
                    clicked = true;
                    DisableElement("#ticket_addendum_submit");

                    IAgree();
                }
                else {
                    if (signaturePad.isEmpty()) {
                        $(".wrapper").css("border-color", "red");
                        OpenErrorMessageNew("Error!", "Please press sign document.");
                    }
                    if (!signaturePad.isEmpty()) {
                        OpenErrorMessageNew("Error!", "Please Save your signature first.");
                        $(".wrapper").css("border-color", "#ccc");
                    }
                }
            })
            $(".btnSign").click(function () {
                $(".bodyConentsDiv1").addClass('hidden');
                $(".bodyConentsDiv1_mobile").addClass('hidden');
                $(".sign-document").removeClass('hidden');
                $(".footerContents-agreement").addClass('hidden');
            });
        })
    </script>
}

@{
    @*if (ViewBag.Addendum == true)
        {
            <div id="body_id">
                <div class="custom-body_id">
                    <span> Link Expired!!!</span>
                </div>
            </div>
        }
        else
        {

        }*@
    <div id="body_id">
        <div class="hidden LoadImgDiv">
            <div class="lds-css ng-scope">
                <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
            </div>
        </div>
        <div class="custom-body_id">
            <div class="HeadContents">
                <h4 class="sign-head">Sign Addendum</h4>
            </div>
            <div class="sign-div" style="float:left;margin-bottom:10px;margin-left:30px; margin-top:10px;">
                <button class="btnSign"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp; Sign Document</button>
            </div>
            <div class="sign-document hidden">
                <div class="wrapper">
                    <canvas id="signature-pad" class="signature-pad" width=300 height=100 style="float:left;"></canvas>
                </div>
                <button class="btn all_button" id="save-png"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Add to contract</button>
                <button class="btn all_button" id="clear"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp; Clear</button>
            </div>
            <div class="bodyConentsDiv1" id="AggrementDiv">
                <iframe name="iframe" class="pdf-styles cus-pdf-style" id="iframePdf" src="@(AppConfig.DomainSitePath)/Ticket/CreateAddendumPdf/?CustomerId=@ViewBag.CustomerId&TicketId=@ViewBag.TicketId"></iframe>
            </div>
            <div class="mobile_document_btn">
                <a class="btn btn-default" target="_blank" href="@(AppConfig.DomainSitePath)/Ticket/CreateAddendumPdf/?CustomerId=@ViewBag.CustomerId&TicketId=@ViewBag.TicketId"><i class="fa fa-eye"></i>  View Document</a>
            </div>
            <div class="footerContents-agreement">

                <button class="btnIAgree all_button" id="ticket_addendum_submit" @*onclick="IAgree();"*@><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;Submit Document</button>

            </div>
        </div>
    </div>
    <img class="hidden img_sig" src="" />
}
