@model HS.Entities.CustomerCompany
@using AppConfig = HS.Framework.Utils.AppConfig;

@{
    var IsSmart = false;
    var MailUrl = AppConfig.DomainSitePath + "/Leads/LeadConvertedToCustomerPDFMail/";
    var AgreeUrl = AppConfig.DomainSitePath + "/Leads/IAgreeSetup/";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    List<HS.Entities.GlobalSetting> globalSetting = (List<HS.Entities.GlobalSetting>)ViewBag.CustomerUiSetting;
    if (globalSetting.Where(x => x.SearchKey == "LeadSmartSetUp").Count() > 0 && globalSetting.Where(x => x.SearchKey == "LeadSmartSetUp").FirstOrDefault().Value.ToLower() == "true")
    {
        IsSmart = true;
        MailUrl = AppConfig.DomainSitePath + "/SmartLeads/SmartLeadConvertedToCustomerPDFMail/";
        AgreeUrl = AppConfig.DomainSitePath + "/SmartLeads/SmartIAgreeSetup/";
    }
    var DocURL = HS.Framework.DESEncryptionDecryption.EncryptPlainTextToCipherText(ViewBag.LeadId + "#" + ViewBag.templateid + "#" + ViewBag.firstpage + "#" + ViewBag.ticketid + "#" + ViewBag.IsRecreate + "#" + ViewBag.isinvoice + "#" + ViewBag.invoiceid);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using System.Collections;
@section styles{
    @Styles.Render("~/styles/GetInvoice")
    <link href="~/Content/Css/Public/LeadsAgreementDocument.css" rel="stylesheet" />
    <link href="~/Content/Css/Layout/Loader.css" rel="stylesheet" />
}
<script src="~/Content/Js/Layout/Device.js"></script>
@section scripts{
    <script>
        var CreateDocument = true;
        var IsMobile = '@Request.Browser.IsMobileDevice';
        var recreate = '@ViewBag.IsRecreate';
        var disamount = '@ViewBag.DiscountAmount';
    var clicked = false;
    var sigclicked = false;
    var globalval = parseInt('@ViewBag.AgreementDocumentHeight');
        var LeadConvertId = "@ViewBag.LeadId";
        var codeagreement = '@ViewBag.Code';
        var templateid = '@ViewBag.templateid';
        var agreementtempid = '@ViewBag.templateid';
        var firstpage = '@ViewBag.firstpage';
        var ticketid = '@ViewBag.ticketid';
        var isinvoice = '@ViewBag.isinvoice';
        var invoiceid = '@ViewBag.invoiceid';
        var customertype = '@Model.Customer.Type';
        var issignuploaded = false;
        var NoQues = '@ViewBag.NoQuestion';
        var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var printFrame = function (id) {
        var frm = document.getElementById(id).contentWindow;
        frm.focus();// focus on contentWindow is needed on some ie versions
        frm.print();
        return false;
    }
    var IAgree = function () {
        /*LeadConvertedToCustomer(LeadConvertId);
        LeadtoCustomerConvert(LeadConvertId);
        AllScheduleCalendar(LeadConvertId);
        LeadConvertedToCustomerPDF(LeadConvertId);*/
        IAgreeSetup(LeadConvertId);
    }
    //var LoadHtmlForMobileAgreement = function () {
    //    var Url = domainurl + "/SmartLeads/SmartInstallationAgreement/?LeadId=" + LeadConvertId + "&agreementtempid=" + templateid;
    //    $("#AggrementDiv_mobile").load(Url);
    //}
        var LoadMobileAgreementViewMethod = function () {
            //$(".btnSign").removeAttr("disabled");
        window.open(domainurl + "/SmartLeads/SmartInstallationAgreement/?url=@DocURL", "_blank");
    }
        var DownloadMobileAgreement = function () {
            window.open(domainurl + "/SmartLeads/DownloadSmartAgreement/?url=@DocURL", "_blank");
        }
    var EventDocumentClick = function () {
        var inFormOrLink;
        $('a').on('click', function () { inFormOrLink = true; });
        $('form').on('submit', function () { inFormOrLink = true; });

        $(window).on("beforeunload", function () {
            return inFormOrLink ? "Do you really want to close?" : null;
        })
    };
    var IAgreeSetup = function (idval) {
        var Id = idval;
        $(".LoadImgDiv").removeClass('hidden');
        $(".LoadImgDiv_mobile").removeClass('hidden');
        $.ajax({
            url: "@AgreeUrl",
            data: { Id, recreate, agreementtempid, firstpage, ticketid, isinvoice, invoiceid},
            type: "Post",
            dataType: "Json"
        }).done(function () {
            $(".LoadImgDiv").addClass('hidden');
            $(".LoadImgDiv_mobile").addClass('hidden');
            if (Device.All()) {
                var ifr = $('iframe')[0];
                if (typeof (ifr) != "undefined" && ifr != null && ifr != "") {
                    ifr.src = ifr.src;
                }
                OpenSuccessMessageNew("Success!", "Your agreement has been signed and sent to our office. You will also receive an email confirmation with your signed agreement!", function () {
                    $(".footerContents-agreement").addClass('hidden');
                    $(".sign-div").addClass('hidden');
                    $(".load_signature_img").addClass("hidden");
                })
            }
            else {
                console.log("LoadImgDiv");

                var ifr = $('iframe')[0];
                ifr.src = ifr.src
                OpenSuccessMessageNew("Success!", "Your agreement has been signed and sent to our office. You will also receive an email confirmation with your signed agreement!", function () {
                    $(".footerContents-agreement").addClass('hidden');
                    $(".sign-div").addClass('hidden');
                })
            }
        });
    }
    var LeadConvertedToCustomer = function (idval) {
        var Id = idval;
        $.ajax({
            url: domainurl + "/SmartLeads/ConvertLeadToCustomer/",
            data: { Id },
            type: "Post",
            dataType: "Json"
        }).done(function () {

        });
    }
    var LeadConvertedToCustomerPDF = function (idval) {
        var Id = idval;
        $.ajax({
            url: domainurl + "/Leads/LeadConvertedToCustomerPDF/",
            data: { Id },
            type: "Post",
            dataType: "Json"
        }).done(function () {

        });
    }
    var AllScheduleCalendar = function (Scheduleidval) {
        var LeadScheduleId = Scheduleidval;
        $.ajax({
            url: domainurl + "/Schedule/AllScheduleCalendar/",
            data: { LeadScheduleId },
            type: "Post",
            dataType: "Json"
        }).done(function () {

        });
    }
    var AggrementMail = function (Leadid) {
        var leadid = Leadid;
        $.ajax({
            url: "@MailUrl",
            data: { leadid },
            type: "Post",
            dataType: "Json"
        }).done(function (data) {
            if (data.result == true) {
                alert("Email send successfully.");
            }
            else {
                alert("User email address does not exist");
            }
        });
    }
    var LeadtoCustomerConvert = function (Leadid) {

        var LeadtoCustomerid = Leadid;
        $.ajax({
            url: domainurl + "/Leads/LeadtoCustomerConvertQAEmail/",
            data: { LeadtoCustomerid },
            type: "Post",
            dataType: "Json"
        }).done(function () {

        });
    }
    var counter = 0;
    var IsAgreementQuestion = '@ViewBag.IsAgreementQuestion';
        $(document).ready(function () {
            if (Device.All()) {
                $('.LoadImgDiv').remove();
                $(".btnIAgree").attr("disabled", true);
            }
            else {
                $('.LoadImgDiv_mobile').remove();
            }
        //$(".btnIAgree").attr("disabled", true);
        $(".DisclousureDiv").hide();
        Currentzone = jstz.determine();
        timezone = Currentzone.name();
            if (IsAgreementQuestion == "true") {
                if (NoQues == "False") {
                    $(".sign-head").addClass('hidden');
            $(".sign-div").addClass('hidden');
            $(".bodyConentsDiv1").addClass('hidden');
            $(".bodyConentsDiv1_mobile_doc").addClass('hidden');
            $(".load_signature_img").addClass('hidden');
            $(".footerContents-agreement").addClass('hidden');
                }
                else {
                    $(".sign-head").addClass('hidden');
                    $(".bodyConentsDiv1").addClass('hidden');
                }
            
        }
        else {
            //LoadHtmlForMobileAgreement();
        }
        $(".btnYesNo").click(function () {
            var ansval = [];
            var ans = $(this).attr('idval');
            var ques = $(this).attr('idval-qustionId');
            ansval.push({
                SelectedAns: ans.toString(),
                SelectedQues: parseInt(ques)
            });
            console.log(ansval);
            $.ajax({
                url: domainurl + "/Public/AgreementQuesAns",
                data: {
                    LeadConvertId,
                    ListAgreementAnswer: ansval,
                },
                type: "Post",
                dataType: "Json"
            }).done(function (data) {
                if (data.result1 == false) {
                    if (data.Ques1 == true) {
                        if (data.Ques3 == true) {
                            $(".ques2").removeClass('hidden');
                            if (data.Ans1 == true) {
                                $(".YAns1").removeClass('hidden');
                                $(".Ques1").addClass('hidden');
                            }
                            else {
                                $(".NAns1").removeClass('hidden');
                                $(".Ques1").addClass('hidden');
                            }
                        }
                        if (data.Ques4 == true) {
                            $(".ques3").removeClass('hidden');
                            if (data.Ans3 == true) {
                                $(".YAns3").removeClass('hidden');
                                $(".ques2").addClass('hidden');
                            }
                            else {
                                $(".NAns3").removeClass('hidden');
                                $(".ques2").addClass('hidden');
                            }
                        }
                        if (data.Ques5 == true) {
                            if (data.Additional5 == true) {
                                $(".ques4").removeClass('hidden');
                                if (data.Ans3 == true) {
                                    $(".YAns3").removeClass('hidden');
                                    $(".ques2").addClass('hidden');
                                }
                                else {
                                    $(".NAns3").removeClass('hidden');
                                    $(".ques2").addClass('hidden');
                                }
                            }
                            else {
                                $(".ques4").removeClass('hidden');
                                if (data.Ans4 == true) {
                                    $(".YAns4").removeClass('hidden');
                                    $(".ques3").addClass('hidden');
                                }
                                else {
                                    $(".NAns4").removeClass('hidden');
                                    $(".ques3").addClass('hidden');
                                }
                            }
                        }
                    }
                    else {
                        OpenErrorMessageNew("Error!", data.message, "");
                    }
                }
                else {
                    if (data.message5 == false) {
                        if (!Device.All()) {
                            EventDocumentClick();
                            $(".LoadImgDiv").removeClass('hidden');
                            setTimeout(function () {
                                $(".LoadImgDiv").addClass('hidden');
                            }, 5000);
                            $(".sign-head").removeClass('hidden');
                            $(".ques-head").addClass('hidden');
                            $(".answer-content").addClass('hidden');
                            $(".sign-div").removeClass('hidden');
                            $(".bodyConentsDiv1").removeClass('hidden');
                            $(".bodyConentsDiv1_mobile_doc").removeClass('hidden');
                            $(".load_signature_img").removeClass('hidden');
                            var ifr = $('iframe')[0];
                            ifr.src = ifr.src
                        }
                        else {
                            EventDocumentClick();
                            $(".LoadImgDiv_mobile").removeClass('hidden');
                            setTimeout(function () {
                                $(".LoadImgDiv_mobile").addClass('hidden');
                            }, 5000);
                            $(".sign-head").removeClass('hidden');
                            $(".ques-head").addClass('hidden');
                            $(".answer-content").addClass('hidden');
                            $(".sign-div").removeClass('hidden');
                            $(".bodyConentsDiv1").removeClass('hidden');
                            $(".bodyConentsDiv1_mobile_doc").removeClass('hidden');
                            $(".load_signature_img").removeClass('hidden');
                            //LoadHtmlForMobileAgreement();
                        }
                        $(".footerContents-agreement").removeClass('hidden');
                    }
                    else {
                        if (customertype.toLowerCase() == "commercial") {
                            if (typeof (data.profilemessage) != "undefined" && data.profilemessage != null && data.profilemessage != "" && data.profilemessage != "0") {
                            $(".profile_message").removeClass('hidden');
                            $(".profile_message span").text(data.profilemessage);
                            $(".ques3").addClass('hidden');
                            $(".profile_message a").attr('data-id', data.customerid);
                            $(".profile_message a").attr('data-comid', data.companyid);
                                $(".profile_message a").attr('data-type', data.type);
                                if (data.Ans4 == true) {
                                $(".YAns4").removeClass('hidden');
                                $(".NAns4").addClass('hidden');
                            }
                            else {
                                $(".YAns4").addClass('hidden');
                                $(".NAns4").removeClass('hidden');
                            }
                        }
                        else if (typeof (data.profilemessage) != "undefined" && data.profilemessage != null && data.profilemessage != "" && data.profilemessage == "0") {
                                if (!Device.All()) {
                                EventDocumentClick();
                                $(".LoadImgDiv").removeClass('hidden');
                                setTimeout(function () {
                                    $(".LoadImgDiv").addClass('hidden');
                                }, 5000);
                                $(".sign-head").removeClass('hidden');
                                $(".ques-head").addClass('hidden');
                                $(".answer-content").addClass('hidden');
                                $(".sign-div").removeClass('hidden');
                                $(".bodyConentsDiv1").removeClass('hidden');
                                $(".bodyConentsDiv1_mobile").removeClass('hidden');
                                var ifr = $('iframe')[0];
                                ifr.src = ifr.src
                            }
                            else {
                                EventDocumentClick();
                                $(".LoadImgDiv_mobile").removeClass('hidden');
                                setTimeout(function () {
                                    $(".LoadImgDiv_mobile").addClass('hidden');
                                }, 5000);
                                $(".sign-head").removeClass('hidden');
                                $(".ques-head").addClass('hidden');
                                $(".answer-content").addClass('hidden');
                                $(".sign-div").removeClass('hidden');
                                $(".bodyConentsDiv1").removeClass('hidden');
                                $(".bodyConentsDiv1_mobile").removeClass('hidden');
                                LoadHtmlForMobileAgreement();
                            }
                            $(".footerContents-agreement").removeClass('hidden');
                        }
                        else {
                            $(".profile_message").addClass('hidden');
                            OpenErrorMessageNew("Error!", data.message, "");
                        }
                        }
                        else {
                            if (typeof (data.profilemessage) != "undefined" && data.profilemessage != null && data.profilemessage != "" && data.profilemessage != "0") {
                            $(".profile_message").removeClass('hidden');
                            $(".profile_message span").text(data.profilemessage);
                            $(".ques4").addClass('hidden');
                            $(".profile_message a").attr('data-id', data.customerid);
                            $(".profile_message a").attr('data-comid', data.companyid);
                            $(".profile_message a").attr('data-type', data.type);
                            if (data.Ans5 == true) {
                                $(".YAns5").removeClass('hidden');
                                $(".NAns5").addClass('hidden');
                            }
                            else {
                                $(".YAns5").addClass('hidden');
                                $(".NAns5").removeClass('hidden');
                            }
                        }
                        else if (typeof (data.profilemessage) != "undefined" && data.profilemessage != null && data.profilemessage != "" && data.profilemessage == "0") {
                                if (!Device.All()) {
                                EventDocumentClick();
                                $(".LoadImgDiv").removeClass('hidden');
                                setTimeout(function () {
                                    $(".LoadImgDiv").addClass('hidden');
                                }, 5000);
                                $(".sign-head").removeClass('hidden');
                                $(".ques-head").addClass('hidden');
                                $(".answer-content").addClass('hidden');
                                $(".sign-div").removeClass('hidden');
                                $(".bodyConentsDiv1").removeClass('hidden');
                                $(".bodyConentsDiv1_mobile").removeClass('hidden');
                                var ifr = $('iframe')[0];
                                ifr.src = ifr.src
                            }
                            else {
                                EventDocumentClick();
                                $(".LoadImgDiv_mobile").removeClass('hidden');
                                setTimeout(function () {
                                    $(".LoadImgDiv_mobile").addClass('hidden');
                                }, 5000);
                                $(".sign-head").removeClass('hidden');
                                $(".ques-head").addClass('hidden');
                                $(".answer-content").addClass('hidden');
                                $(".sign-div").removeClass('hidden');
                                $(".bodyConentsDiv1").removeClass('hidden');
                                $(".bodyConentsDiv1_mobile").removeClass('hidden');
                                LoadHtmlForMobileAgreement();
                            }
                            $(".footerContents-agreement").removeClass('hidden');
                        }
                        else {
                            $(".profile_message").addClass('hidden');
                            OpenErrorMessageNew("Error!", data.message, "");
                        }
                        }

                    }
                }
            });
        })
        var calcheight = window.innerHeight - $(".HeadContents").height() - $('.sign-div').height() - $('.footerContents-agreement').height() - $(".navbar").height() - 84;
        $("#AggrementDiv").height(calcheight);
        $(".btnSign").click(function () {
            $(".bodyConentsDiv1").addClass('hidden');
            $(".bodyConentsDiv1_mobile_doc").addClass('hidden');
            $(".load_signature_img").addClass('hidden');
            $(".sign-document").removeClass('hidden');
            $(".footerContents-agreement").addClass('hidden');
        });
        $("#btnSendMail").click(function () {
            AggrementMail(LeadConvertId);
        });
        var canvas = $('#signature-pad');
        var ctx = $('#signature-pad')[0].getContext('2d');
        var signaturePad = new SignaturePad($('#signature-pad')[0]);
        function resizeCanvas() {
            var ratio = Math.max(1, 1);
            canvas.width = canvas.offsetWidth * ratio;
            canvas.height = canvas.offsetHeight * ratio;
            canvas[0].getContext("2d").scale(ratio, ratio);
        }
        resizeCanvas();
        var img = new Image();
        img.onload = function () {
            ctx.drawImage(img, 0, 0);
        };
        img.crossOrigin = 'anonymous';
        function download(dataURL, filename) {
            var blob = dataURLToBlob(dataURL);
            var url = window.URL.createObjectURL(blob);

            var a = document.createElement("a");
            a.style = "display: none";
            a.href = url;
            a.download = filename;

            document.body.appendChild(a);
            a.click();

            window.URL.revokeObjectURL(url);
        }
        function dataURLToBlob(dataURL) {
            var parts = dataURL.split(';base64,');
            var contentType = parts[0].split(":")[1];
            var raw = window.atob(parts[1]);
            var rawLength = raw.length;
            var uInt8Array = new Uint8Array(rawLength);

            for (var i = 0; i < rawLength; ++i) {
                uInt8Array[i] = raw.charCodeAt(i);
            }

            return new Blob([uInt8Array], { type: contentType });
        }
        $('#clear').click(function () {
            signaturePad.clear();
        });
        $("#save-png").click(function () {
            if (signaturePad.isEmpty()) {
                OpenErrorMessageNew("Error!", "Please Draw Your Signature");
            }
            else {
                sigclicked = true;
                counter += 1;
                var data = signaturePad.toDataURL('image/png');
                var url = domainurl + "/SmartLeads/LoadCustomerSignatureImage";
                $.ajax({
                    url: url,
                    data: { data, LeadConvertId, templateid, firstpage, ticketid, recreate, isinvoice, invoiceid,CreateDocument },
                    type: "Post",
                    dataType: "Json",
                    success: function (data) {
                        if (data.uploadImage == true) {
                            issignuploaded = true;
                            EventDocumentClick();
                            OpenSuccessMessageNew("Success!", "Signature added successfully. Scroll at the bottom to fully review and submit document.", function () {
                                $(".btnSign").html("<i class='fa fa-sign-in' aria-hidden='true'></i> Re-sign Document");
                                if (!Device.All()) {
                                    $(".sign-document").addClass('hidden');
                                    $(".bodyConentsDiv1").removeClass('hidden');
                                    $(".bodyConentsDiv1_mobile_doc").removeClass('hidden');
                                    $(".load_signature_img").removeClass('hidden');
                                    $(".LoadImgDiv").removeClass('hidden');
                                    $(".footerContents-agreement").removeClass('hidden');
                                    $(".DisclousureDiv").show();
                                    var ifr = $('iframe')[0];
                                    ifr.src = ifr.src
                                }
                                else {
                                    $(".sign-document").addClass('hidden');
                                    $(".bodyConentsDiv1").removeClass('hidden');
                                    $(".bodyConentsDiv1_mobile_doc").removeClass('hidden');
                                    $(".load_signature_img").removeClass('hidden');
                                    $(".LoadImgDiv_mobile").removeClass('hidden');
                                    $(".footerContents-agreement").removeClass('hidden');
                                    $(".DisclousureDiv").show();
                                    //LoadHtmlForMobileAgreement();
                                }
                                $(".btnIAgree").removeAttr("disabled");
                                $(".load_signature_img").addClass('hidden');
                                $(".bodyConentsDiv1_mobile_doc").append("<div class='load_signature_img'><img src="  + data.UploadFilePath + " /></div>");
                            });
                            setTimeout(function () {
                                $(".LoadImgDiv").addClass('hidden');
                                $(".LoadImgDiv_mobile").addClass('hidden');
                            }, 10000);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                })
            }
        })
        //$(".Error-warning").hide();
            if (!Device.All()) {
            $(".btnIAgree").attr("disabled", true);
        }
        $(".btnIAgree").click(function () {
            if (!signaturePad.isEmpty() && counter >= 1) {
                clicked = true;
                //$(".Error-warning").hide();
                IAgree();
            }
            else {
                if (signaturePad.isEmpty()) {
                    $(".wrapper").css("border-color", "red");
                    OpenErrorMessageNew("Error!", "Please press sign document.");
                }
                if (!signaturePad.isEmpty() && counter == 0) {
                    OpenErrorMessageNew("Error!", "Please Save your signature first.");
                    $(".wrapper").css("border-color", "#ccc");
                }
                //if (!$(".chechbox-IAgree").is(':checked'))
                //    $(".Error-warning").show();
            }
        })
        $("#AggrementDiv").scroll(function () {
            if (!Device.All()) {
                var MathScroll = ($("#AggrementDiv iframe").height() - $("#AggrementDiv").scrollTop());
                console.log(MathScroll);
                //var Globalval = parseInt();
                if (MathScroll <= 550) {
                    $(".btnIAgree").removeAttr("disabled");
                }
                else {
                    if (issignuploaded == false) {
                        $(".btnIAgree").attr("disabled", true);
                    $(".btnIAgree").addClass('DisablebtnAgree');
                    }
                    else {
                        $(".btnIAgree").removeAttr("disabled");
                    }

                }
            }
        })
        $("#SwitchACHPayment").click(function () {
            var idval = $(this).attr('data-id');
            var comid = $(this).attr('data-comid');
            var type = $(this).attr('data-type');
            OpenRightToLeftModal("/Public/PublicACHAddViewPaymentMethod?customerid=" + idval + "&companyid=" + comid + "&type=" + type);
        })
        $("#btn_profile_yes").click(function () {
            $("#SwitchACHPayment").removeClass('hidden');
        })
        $("#btn_profile_no").click(function () {
            if (!) {
                $("#SwitchACHPayment").addClass('hidden');
                $(".LoadImgDiv").removeClass('hidden');
                setTimeout(function () {
                    $(".LoadImgDiv").addClass('hidden');
                }, 5000);
                $(".sign-head").removeClass('hidden');
                $(".ques-head").addClass('hidden');
                $(".answer-content").addClass('hidden');
                $(".sign-div").removeClass('hidden');
                $(".bodyConentsDiv1").removeClass('hidden');
                $(".bodyConentsDiv1_mobile_doc").removeClass('hidden');
                $(".load_signature_img").removeClass('hidden');
                var ifr = $('iframe')[0];
                ifr.src = ifr.src
            }
            else {
                $("#SwitchACHPayment").addClass('hidden');
                $(".LoadImgDiv_mobile").removeClass('hidden');
                setTimeout(function () {
                    $(".LoadImgDiv_mobile").addClass('hidden');
                }, 5000);
                $(".sign-head").removeClass('hidden');
                $(".ques-head").addClass('hidden');
                $(".answer-content").addClass('hidden');
                $(".sign-div").removeClass('hidden');
                $(".bodyConentsDiv1").removeClass('hidden');
                $(".bodyConentsDiv1_mobile_doc").removeClass('hidden');
                $(".load_signature_img").removeClass('hidden');
                //LoadHtmlForMobileAgreement();
            }
            $(".footerContents-agreement").removeClass('hidden');
        })
    })
    </script>
}


@{
    Hashtable dataTemplate1 = new Hashtable();
    dataTemplate1.Add("ContractTerm", ViewBag.termid);
    dataTemplate1.Add("TermMonth", ViewBag.TermMonth);
}
@{
    if (ViewBag.IsAgreementQuestion == "false")
    {
        <div id="body_id">
            <div class="hidden LoadImgDiv">
                <div class="lds-css ng-scope">
                    <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
                </div>
            </div>
            <div class="custom-body_id">
                <div class="HeadContents_agreement">
                    <h4 class="sign-head">Sign Agreement</h4>
                </div>
                @if (Model != null && ViewBag.IsAgreement == false)
                {
                    <div class="sign-div" style="float:left;margin-bottom:10px;margin-left:15px; margin-top:10px;">
                        <button class="btn btnSign"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign Document</button>
                    </div>
                    <div class="sign-document hidden">
                        <div class="wrapper">
                            <canvas id="signature-pad" class="signature-pad" width=300 height=100 style="float:left;"></canvas>
                        </div>
                        <button class="btn all_button" id="save-png"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add to contract</button>
                        <button class="btn all_button" id="clear"><i class="fa fa-trash-o" aria-hidden="true"></i> Clear</button>
                    </div>
                    <div class="bodyConentsDiv1_mobile_doc" id="AggrementDiv_mobile">
                        <div>
                            <button class="btn green_button" id="view_pdf" onclick="LoadMobileAgreementViewMethod()"><i class="fa fa-eye"></i> View Agreement</button>
                            @if (ViewBag.agreementdoc == true)
                            {
                                <button class="btn green_button" id="download_pdf" onclick="DownloadMobileAgreement()"><i class="glyphicon glyphicon-download-alt"></i></button>
                            }
                        </div>
                    </div>

                    <div class="footerContents-agreement">
                        <div class="DisclousureDiv hidden" style="float:left;padding-top:10px;padding-left:30px">
                            By signing this document, you agree to our <a href="/Disclousure?id=@Model.CompanyId" target="_blank" style="cursor:pointer; text-decoration:none;"><b>disclousure agreement</b></a>
                        </div>
                        <div style="float:left; display:table; margin-left: 15px;">
                            <button class="btnIAgree all_button"><i class="fa fa-check-square" aria-hidden="true"></i> Submit Document</button>
                        </div>
                    </div>
                }
                else
                {
                    <span> Link Expired!!!</span>
                }
            </div>
        </div>
    }
    else
    {
        if (ViewBag.NoQuestion == false)
        {
            <div id="body_id">
                <div class="hidden LoadImgDiv_mobile">
                    <div class="lds-css ng-scope">
                        <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
                    </div>
                </div>
                <div class="custom-body_id_mobile">
                    <div class="HeadContents_agreement">
                        @if (ViewBag.IsAgreement == false)
                        {
                            <h4 class="ques-head">Agreement Questionnaire</h4>
                        }
                        <h4 class="sign-head">Sign Agreement</h4>
                    </div>
                    @if (Model != null && ViewBag.IsAgreement == false)
                    {
                        if (Model.AgreementQuestion != null && Model.AgreementQuestion.Count > 0)
                        {
                            <div class="answer-content hidden">
                                @foreach (var item in Model.AgreementQuestion)
                                {
                                    if (item.QuestionId == 1)
                                    {
                                        <div class="row Ques1" style="margin-left:15px;">
                                            <div class="col-md-10">
                                                <span>@HS.Web.UI.Helper.LabelHelper.ParserHelper(item.Title, dataTemplate1)</span>
                                            </div>
                                            <div class="col-md-2">
                                                <div style="width:100%;padding-right: 15px;">
                                                    <button type="button" class="btn red_button btnYesNo" id="btnYesNo" idval-qustionId="@item.QuestionId" idval="false">No</button>
                                                    <button type="button" class="btn green_button btnYesNo" id="btnYesNo" idval-qustionId="@item.QuestionId" idval="true">Yes</button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row YAns1 hidden" style="margin-left:15px;">
                                            <div class="col-md-10">
                                                <span>@HS.Web.UI.Helper.LabelHelper.ParserHelper(item.Title, dataTemplate1)</span>
                                            </div>
                                            <div class="col-md-2">
                                                <div style="width:100%;padding-right: 15px;">
                                                    <span>Yes</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row NAns1 hidden" style="margin-left:15px;">
                                            <div class="col-md-10">
                                                <span>@HS.Web.UI.Helper.LabelHelper.ParserHelper(item.Title, dataTemplate1)</span>
                                            </div>
                                            <div class="col-md-2">
                                                <div style="width:100%;padding-right: 15px;">
                                                    <span>No</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    if (item.QuestionId == 3)
                                    {
                                        if (Model.Customer.Type.ToLower() == "commercial")
                                        {
                                            <div class="row ques2 hidden" style="margin-left:15px;">
                                                <div class="col-md-10">
                                                    <span>@HS.Web.UI.Helper.LabelHelper.ParserHelper(item.Title, dataTemplate1)</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <div style="width:100%;padding-right: 15px;">
                                                        @*<button type="button" class="btn red_button btnYesNo" id="btnYesNo" idval-qustionId="@item.QuestionId" idval="false">No</button>*@
                                                        <button type="button" class="btn green_button btnYesNo" id="btnYesNo" idval-qustionId="@item.QuestionId" idval="true">Ok</button>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row YAns3 hidden" style="margin-left:15px;">
                                                <div class="col-md-10">
                                                    <span>@HS.Web.UI.Helper.LabelHelper.ParserHelper(item.Title, dataTemplate1)</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <div style="width:100%;padding-right: 15px;">
                                                        <span>Yes</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row NAns3 hidden" style="margin-left:15px;">
                                                <div class="col-md-10">
                                                    <span>@HS.Web.UI.Helper.LabelHelper.ParserHelper(item.Title, dataTemplate1)</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <div style="width:100%;padding-right: 15px;">
                                                        <span>No</span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row ques2 hidden" style="margin-left:15px;">
                                                <div class="col-md-10">
                                                    <span>@HS.Web.UI.Helper.LabelHelper.ParserHelper(item.Title, dataTemplate1)</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <div style="width:100%;padding-right: 15px;">
                                                        <button type="button" class="btn red_button btnYesNo" id="btnYesNo" idval-qustionId="@item.QuestionId" idval="false">No</button>
                                                        <button type="button" class="btn green_button btnYesNo" id="btnYesNo" idval-qustionId="@item.QuestionId" idval="true">Yes</button>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row YAns3 hidden" style="margin-left:15px;">
                                                <div class="col-md-10">
                                                    <span>@HS.Web.UI.Helper.LabelHelper.ParserHelper(item.Title, dataTemplate1)</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <div style="width:100%;padding-right: 15px;">
                                                        <span>Yes</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row NAns3 hidden" style="margin-left:15px;">
                                                <div class="col-md-10">
                                                    <span>@HS.Web.UI.Helper.LabelHelper.ParserHelper(item.Title, dataTemplate1)</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <div style="width:100%;padding-right: 15px;">
                                                        <span>No</span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    if (item.QuestionId == 4)
                                    {
                                        <div class="row ques3 hidden" style="margin-left:15px;">
                                            <div class="col-md-10">
                                                <span>@HS.Web.UI.Helper.LabelHelper.ParserHelper(item.Title, dataTemplate1)</span>
                                            </div>
                                            <div class="col-md-2">
                                                <div style="width:100%;padding-right: 15px;">

                                                    @*<button type="button" class="btn red_button btnYesNo" id="btnYesNo" idval-qustionId="@item.QuestionId" idval="false">No</button>*@
                                                    <button type="button" class="btn green_button btnYesNo" id="btnYesNo" idval-qustionId="@item.QuestionId" idval="true">Ok</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row YAns4 hidden" style="margin-left:15px;">
                                            <div class="col-md-10">
                                                <span>@HS.Web.UI.Helper.LabelHelper.ParserHelper(item.Title, dataTemplate1)</span>
                                            </div>
                                            <div class="col-md-2">
                                                <div style="width:100%;padding-right: 15px;">
                                                    <span>Yes</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row NAns4 hidden" style="margin-left:15px;">
                                            <div class="col-md-10">
                                                <span>@HS.Web.UI.Helper.LabelHelper.ParserHelper(item.Title, dataTemplate1)</span>
                                            </div>
                                            <div class="col-md-2">
                                                <div style="width:100%;padding-right: 15px;">
                                                    <span>No</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    if (item.QuestionId == 5)
                                    {
                                        <div class="row ques4 hidden" style="margin-left:15px;">
                                            <div class="col-md-10">
                                                <span>@HS.Web.UI.Helper.LabelHelper.ParserHelper(item.Title, dataTemplate1)</span>
                                            </div>
                                            <div class="col-md-2">
                                                <div style="width:100%;padding-right: 15px;" class="last_div_agree">

                                                    @*<button type="button" class="btn red_button btnYesNo" id="btnYesNo" idval-qustionId="@item.QuestionId" idval="false">No</button>*@
                                                    <button type="button" class="btn green_button btnYesNo" id="btnYesNo" idval-qustionId="@item.QuestionId" idval="true">Ok</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row YAns5 hidden" style="margin-left:15px;">
                                            <div class="col-md-10">
                                                <span>@HS.Web.UI.Helper.LabelHelper.ParserHelper(item.Title, dataTemplate1)</span>
                                            </div>
                                            <div class="col-md-2">
                                                <div style="width:100%;padding-right: 15px;">
                                                    <span>Yes</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row NAns5 hidden" style="margin-left:15px;">
                                            <div class="col-md-10">
                                                <span>@HS.Web.UI.Helper.LabelHelper.ParserHelper(item.Title, dataTemplate1)</span>
                                            </div>
                                            <div class="col-md-2">
                                                <div style="width:100%;padding-right: 15px;">
                                                    <span>No</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="row profile_message hidden">
                                    <div class="col-md-10">
                                        <span></span> <a href="javascript:void(0)" class="SwitchACHPayment_style hidden" id="SwitchACHPayment" data-id="" data-comid="" data-type=""> Click here for ACH info</a>
                                    </div>
                                    <div class="col-md-2">
                                        <div style="width:100%;padding-right: 15px;">

                                            <button type="button" class="btn red_button" id="btn_profile_no">No</button>
                                            <button type="button" class="btn green_button" id="btn_profile_yes">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        if (ViewBag.IsAgreement == true)
                        {
                            <span class="HeadContents_agreement">Link Expired</span>
                        }
                        else
                        {
                            <div class="sign-div" style="float:left; margin-left:15px; margin-top:10px;">
                                <button class="btn btnSign"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign Document</button>
                            </div>
                            <div class="sign-document hidden">
                                <div class="wrapper">
                                    <canvas id="signature-pad" class="signature-pad" width=300 height=100 style="float:left;"></canvas>
                                </div>
                                <button class="btn all_button" id="save-png"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add to contract</button>
                                <button class="btn all_button" id="clear"><i class="fa fa-trash-o" aria-hidden="true"></i> Clear</button>
                            </div>
                            <div class="bodyConentsDiv1_mobile_doc" id="AggrementDiv_mobile">
                                <div>
                                    <button class="btn green_button" id="view_pdf" onclick="LoadMobileAgreementViewMethod()"><i class="fa fa-eye"></i> View Agreement</button>
                                    @if (ViewBag.agreementdoc == true)
                                    {
                                        <button class="btn green_button" id="download_pdf" onclick="DownloadMobileAgreement()"><i class="glyphicon glyphicon-download-alt"></i></button>
                                    }
                                </div>
                            </div>

                            <div class="footerContents-agreement">
                                <div class="DisclousureDiv" style="float:left;padding-top:10px;padding-left:15px; padding-bottom:10px;">
                                    By signing this document, you agree to our <a href="/Disclousure?id=@Model.CompanyId" target="_blank" style="cursor:pointer; text-decoration:none;"><b>disclousure agreement</b></a>
                                </div>
                                <div style="float:left; display:table; margin-left: 15px;">
                                    <button class="btnIAgree all_button"><i class="fa fa-check-square" aria-hidden="true"></i> Submit Document</button>
                                </div>
                            </div>
                        }

                    }
                    else
                    {
                        <span> Link Expired!!!</span>
                    }
                </div>
            </div>
        }
        else
        {
            <div id="body_id">
                <div class="hidden LoadImgDiv">
                    <div class="lds-css ng-scope">
                        <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
                    </div>
                </div>
                <div class="custom-body_id">
                    <div class="HeadContents_agreement">
                        <h4 class="sign-head">Sign Agreement</h4>
                    </div>
                    @if (Model != null && ViewBag.IsAgreement == false)
                    {
                        <div class="sign-div" style="float:left;margin-bottom:10px;margin-left:15px; margin-top:10px;">
                            <button class="btn btnSign"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign Document</button>
                        </div>
                        <div class="sign-document hidden">
                            <div class="wrapper">
                                <canvas id="signature-pad" class="signature-pad" width=300 height=100 style="float:left;"></canvas>
                            </div>
                            <button class="btn all_button" id="save-png"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add to contract</button>
                            <button class="btn all_button" id="clear"><i class="fa fa-trash-o" aria-hidden="true"></i> Clear</button>
                        </div>
                        <div class="bodyConentsDiv1_mobile_doc" id="AggrementDiv_mobile">
                            <div>
                                <button class="btn green_button" id="view_pdf" onclick="LoadMobileAgreementViewMethod()"><i class="fa fa-eye"></i> View Agreement</button>
                                @if (ViewBag.agreementdoc == true)
                                {
                                    <button class="btn green_button" id="download_pdf" onclick="DownloadMobileAgreement()"><i class="glyphicon glyphicon-download-alt"></i></button>
                                }
                            </div>
                        </div>

                        <div class="footerContents-agreement">
                            <div class="DisclousureDiv hidden" style="float:left;padding-top:10px;padding-left:30px">
                                By signing this document, you agree to our <a href="/Disclousure?id=@Model.CompanyId" target="_blank" style="cursor:pointer; text-decoration:none;"><b>disclousure agreement</b></a>
                            </div>
                            <div style="float:left; display:table; margin-left: 15px;">
                                <button class="btnIAgree all_button"><i class="fa fa-check-square" aria-hidden="true"></i> Submit Document</button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <span> Link Expired!!!</span>
                    }
                </div>
            </div>
        }
    }
}