 
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
@model HS.Entities.Booking
@using Localize = HS.Web.UI.Helper.LanguageHelper 
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
<link href="~/Content/Css/GetBooking/GetLeadBook.css" rel="stylesheet" />
<link href="~/Content/Css/Public/LeadsBooking.css" rel="stylesheet" />

<script>
    var LeadConvertId = "@ViewBag.LeadId";
    var Token = "@ViewBag.Token";
    var Status = "@Model.Status";
</script>

<script src="~/Content/Js/Public/AddLeadBooking.js"></script>

<div class="hidden LoadImgDiv">
    <div class="lds-css ng-scope">
        <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
    </div>
</div>
<div class="dark_shade">

</div>
<div id="body_id">
    <div class="row company-name-row">
        <div class="col-xs-12 company-name">
            @if (string.IsNullOrWhiteSpace(Model.CustomerBussinessName))
            {
                <div class="business_name_div">
                    <span>Booking for @Model.CustomerName</span>
                </div>
            }
            else
            {
                <div class="business_name_div">
                    <span>Booking for @Model.CustomerBussinessName</span>
                    <div class="cus_name_div">
                        <span>(@Model.CustomerName)</span>
                    </div>
                </div>

            }
        </div>
    </div>

    <div class="white_Starts">
        <div class="payment_options_div">
            <div class="">
                <p class="booking-title">Booking</p> 
            </div>
            <div class="row book_det_table_div">
                <div class="col-md-6">
                    <table class="col-md-12 book_det_table">
                        <tr>
                            <td>Booking</td>
                            <td>@Model.BookingId</td>
                        </tr>
                        <tr>
                            <td>Booking Total</td>
                            <td>$@string.Format("{0:0,0.00}", Convert.ToDouble(Model.TotalAmount)) </td>
                        </tr>

                    </table>
                    @if (Model.Status != LabelHelper.BookingStatus.Approved 
                        && Model.Status != LabelHelper.BookingStatus.Signed 
                        && Model.Status != LabelHelper.BookingStatus.CancelBooking 
                        && Model.Status != LabelHelper.BookingStatus.Declined)
                    {
                        <div class="col-md-12 padding-left-0 margin-top-10 sign_doc_div">
                            <button class="btnSign"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Approve</button>
                        </div>
                    }
                    
                </div>
                <div class="col-md-6 book_calc_div"> 
                    <div class="sign-div" style="float:right; margin-top:10px;">
                        <div>
                            @if (Model.Status != LabelHelper.BookingStatus.Approved && Model.Status != LabelHelper.BookingStatus.Signed && Model.Status != LabelHelper.BookingStatus.CancelBooking && Model.Status != LabelHelper.BookingStatus.Declined)
                            {
                                <button class="btnDec btn btn-default"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Decline</button>
                            }
                        </div>
                    </div>
                    <div class="declinationreason hidden">
                        <label>Please let us know your decline reason.</label>
                        <textarea id="declinationreasontxt" class="declinationreasontxt" rows="3"></textarea>
                        <label class="label hidden red position-abs" id="DeclinedErr">*This field is required.</label>
                        <div class="margin-top-15">
                            <button class="DeclineCancel btn btn-default"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Cancel</button>
                            <button class="DeclineConfirm btn btn-default"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="BookingDocument">
            <div class="HeadContents">
                <h4 class="sign-head">Sign</h4>
            </div> 
            <div class="sign-document hidden">
                <span><b>Please sign below</b></span>
                <div class="wrapper">
                    <canvas id="signature-pad" class="signature-pad" width=300 height=100 style="float:left;"></canvas>
                </div>
                <button class="btn all_button" id="save-png"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
                <button class="btn all_button" id="clear"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Clear</button>
                <button class="btn all_button" id="Cancel"><i class="fa fa-ban" aria-hidden="true"></i>&nbsp;&nbsp;Cancel</button>
            </div>
            <div class="bodyConentsDiv1" id="AggrementDiv">
                <iframe name="iframe" class="pdf-styles cus-pdf-style" id="iframePdf" src="/Public/LeadsBookingPdf/?Code=@ViewBag.Token"></iframe>
            </div> 
        </div>
        <div class="hidden LoadDecline custom-body_id">Lead Booking Declined</div>
    </div>
    @if (Model.Status != LabelHelper.BookingStatus.Approved && Model.Status != LabelHelper.BookingStatus.CancelBooking && Model.Status != LabelHelper.BookingStatus.Declined)
    {
        <div class="footerContents-agreement">
            <button class="btnIAgree all_button" @*onclick="IAgree();"*@><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
        </div>
    }
    <div class="footer">
        <div class="stick-right">
            <p>
                <span>@*© @DateTime.Now.Year rmrcloud.com*@ @Html.Raw(ViewBag.FooterCompanyInformation)</span>
            </p>
            <p>
                @*<a id="privacy" target="_blank" href="#">Privacy.</a>*@
                @*<a id="termsOfService" target="_blank" href="#">Terms of service.</a>*@
            </p>
        </div>
    </div>
</div>
