@model HS.Entities.CustomerCancellationQueue
@using AppConfig = HS.Framework.Utils.AppConfig;

@{
    var IsSmart = false;
    var MailUrl = AppConfig.DomainSitePath + "/Leads/LeadConvertedToCustomerPDFMail/";
    var AgreeUrl = AppConfig.DomainSitePath + "/Customer/CancellationAgreeSetup/";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";

}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using System.Collections;
@section styles{
    @Styles.Render("~/styles/GetInvoice")

}
@Styles.Render("~/styles/CustomerCancellationAgreement")

@Scripts.Render("~/scripts/CustomerCancellationAgreement")

@section scripts{
    <script>

        var IsMobile = '@Request.Browser.IsMobileDevice';
        var clicked = false;
        var sigclicked = false;
        var globalval = parseInt('@ViewBag.AgreementDocumentHeight');
        var LeadConvertId = "@ViewBag.LeadId";
        var CustomerId = '@Model.CustomerId';
        var CustomerIdInt = '@Model.Id';
        var codeagreement = '@ViewBag.Code';
        var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
        var AgreeUrl = '@AgreeUrl';
        var CancellationReasonFillByCustomer = '@ViewBag.CancellationReasonFillByCustomer';

        $(document).ready(function () {
            $('.can_agree_btn').click(function () {
                $(this).prop('disabled', true);
               // $('.cancellation_agreement_container').html(TabsLoaderText).show();
                setTimeout(function () {
                    $('.can_agree_btn').prop('disabled', false);
                   
                }, 10000);
            });
        });
    </script>
}

<div class="cancellation_agreement_container">
    <h4>@Localize.T("Cancellation Agreement")</h4>
    @if (ViewBag.IsExpaired == false && ViewBag.CancellationReasonFillByCustomer == true)
    {
        <div class="CancellationReasonArea">
            <div class="CancellationReasonArea_inner">
                <div class="CancellationReasonArea_content">
                    <span class="CancellationReasonArea_header">Cacellation Reason</span>
                    @Html.DropDownList("CacellationReason", ViewBag.CancelReasonList as List<SelectListItem>, new { @class = "form-control", id = "CacellationReason" })
                </div>

                <div class="CancellationReasonArea_content" id="ReasonArea">
                    <span class="CancellationReasonArea_header">Describe the cancellation reason</span>
                    <textarea class="form-control" id="OtherReason"></textarea>
                </div>
                <div class="CancellationReasonArea_footer">
                    <button class="btn" id="SaveCancel" onclick="UpdateCustomerCancellationData()">Save & Review</button>
                </div>
            </div>
        </div>
    }
@if (ViewBag.IsExpaired == false)
{
    <div id="CancellationDiv">
        <div class="sign-div" style="float:left;margin-bottom:10px;">
            <button class="btnSign"><i class="fa fa-sign-in"></i>&nbsp;@Localize.T("Sign Document")</button>
        </div>
        <div class="sign-document hidden">
            <div class="wrapper">
                <canvas id="signature-pad" class="signature-pad" width=300 height=100 style="float:left;"></canvas>
            </div>
            <button class="btn all_button" id="save-png"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;@Localize.T(" Add")</button>
            <button class="btn all_button" id="clear"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;@Localize.T(" Clear")</button>
        </div>

        <div class="bodyConentsDiv1" id="AggrementDiv">
            <iframe name="iframe" class="pdf-styles cus-pdf-style" id="iframePdf" src="@(AppConfig.DomainSitePath)/Customer/CustomerCancellationAgreement/?CustomerId=@Model.CustomerId"></iframe>
        </div>

        <div class="footerContents-agreement">
            <div class="DisclousureDiv" style="float:left;padding-top:10px;">
                @Localize.T("By signing this document, you agree to our ")<a href="/Disclousure?id=@ViewBag.CompanyId" target="_blank" style="cursor:pointer; text-decoration:none;"><b>@Localize.T("cancellation Form")</b></a>
            </div>
            <div style="float:right; display:table;">
                <button class="btnIAgree can_agree_btn" @*onclick="IAgree();"*@><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;@Localize.T("Submit Document")</button>
            </div>
        </div>
    </div>


}
else
{
    <div class="HeadExpiredContents">Link Expired</div><br />
    <div class="HeadExpiredContents">Please Contact DFW Security</div>
}
</div>







