@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

@Styles.Render("~/styles/PTOPartial")
<script>
    var liststatus = '@Html.Raw(Json.Encode(@ViewBag.liststatus))';
    liststatus = JSON.parse(liststatus);
    var HourRemaining = '@ViewBag.HoursRemaining';
</script>
@Scripts.Render("~/scripts/CalendarPTO")
<div class="PTO_Main_Container">
    <div class="PTO_Head">
        @if (ViewBag.HoursRemaining != null)
        {
            <div class="RemainingMsgDiv">
                <span>@Localize.T("Current PTO Hours Remaining:")</span> <span class="remaining_hour">@ViewBag.HoursRemaining</span>
            </div>
        }
        else
        {
            <div class="RemainingMsgDiv">
                <span>@Localize.T("Current PTO Hours Remaining:")</span> <span>0</span>
            </div>
        }
        <div class="pto-filter-div">
            @{
                Html.RenderAction("TimeClockDefaultFilter", "TimeClockPto", new { IsTimeClock = false });
            }
            <span class="add_PTO_btn_div">
                <button id="btnAddPto" class="btn btn_addPTO"><i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("Add Day Off")</button>
            </span>
        </div>
    </div>
    <div class="PTO_BODY pto_partial_info_table_container">

    </div>
</div>
