@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
    var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;
    var UserTags = CurrentUser.UserTags;
}
@model List<HS.Entities.GlobalSetting>
@Styles.Render("~/styles/Setting")
@Scripts.Render("~/scripts/CalendarVarJS")
<div class="ci_block setting_div">
    <div class="ci_header clearfix">
        <div style="float:left;">@Localize.T("Calendar Setting")</div>
    </div>
    <div class="ci_info">
        <table class="my_style settings_table_info">
            <tr class="border_head thead hidden_for_mobile">
                <td>@Localize.T("Search Key")</td>
                <td>@Localize.T("Value")</td>
                <td>@Localize.T("Actions")</td>
            </tr>
            @foreach (var item in Model)
            {
                if (item.SearchKey == "Calendar Header Color")
                {
                    <tr class="bor">
                        <td class="custom_style_mobile">
                            <div class="left_header_for_mobile">@Localize.T("Title") <span>:</span></div>
                            <div class="name-anchor-style info_style"> @item.SearchKey</div>
                        </td>
                        <td class="custom_style_mobile">
                            <div class="left_header_for_mobile">@Localize.T("Value") <span>:</span></div>
                            <input type="text" style="width:100px; background-color: @item.Value" readonly="readonly" class="form-control" />
                        </td>
                        <td class="custom_style_mobile">
                            <div class="left_header_for_mobile">@Localize.T("Actions") <span>:</span></div>
                            <div class="info_style"><a class="buttonstyle global_settings_btn" id="editSettings" idval="@item.Id" onclick="editGlobalSetting(@item.Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>@Localize.T(" Edit")</a></div>
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="bor">
                        <td class="custom_style_mobile">
                            <div class="left_header_for_mobile">@Localize.T("Title") <span>:</span></div>
                            <div class="name-anchor-style info_style"> @item.SearchKey</div>
                        </td>
                        <td class="custom_style_mobile">
                            <div class="left_header_for_mobile">@Localize.T("Value") <span>:</span></div>
                            <div class="info_style pre-wrap">@item.Value</div>
                        </td>
                        <td class="custom_style_mobile">
                            <div class="left_header_for_mobile">@Localize.T("Actions") <span>:</span></div>
                            <div class="info_style"><a class="buttonstyle global_settings_btn" id="editSettings" idval="@item.Id" onclick="editGlobalSetting(@item.Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>@Localize.T(" Edit")</a></div>
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</div>
<div class="ci_block setting_div">
    <div class="ci_header clearfix">
        <div style="float:left;">@Localize.T("Ticket Info Setting")</div>
    </div>
    <div class="ci_info">
        <table class="my_style settings_table_info">
            <tr class="border_head thead hidden_for_mobile">
                <td>@Localize.T("Name")</td>
                <td>@Localize.T("Change")</td>
                <td>@Localize.T("Actions")</td>
            </tr>
            <tr class="bor">
                <td class="custom_style_mobile">
                    <div class="left_header_for_mobile">@Localize.T("Ticket Status") <span>:</span></div>
                    <div class="name-anchor-style info_style">@Localize.T("Ticket Status")</div>
                </td>
                <td class="custom_style_mobile">
                    <div class="left_header_for_mobile">@Localize.T("Image Change") <span>:</span></div>
                    <div class="info_style pre-wrap">@Localize.T("Image Change")</div>
                </td>
                <td class="custom_style_mobile">
                    <div class="left_header_for_mobile">@Localize.T("Actions") <span>:</span></div>
                    <div class="info_style"><a class="buttonstyle global_settings_btn" onclick="OpenRightToLeftModal(domainurl + '/Calendar/TicketStatusImageSettingPartial')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>@Localize.T(" Edit")</a></div>
                </td>
            </tr>
            <tr class="bor">
                <td class="custom_style_mobile">
                    <div class="left_header_for_mobile">@Localize.T("Ticket Type") <span>:</span></div>
                    <div class="name-anchor-style info_style">@Localize.T("Ticket Type")</div>
                </td>
                <td class="custom_style_mobile">
                    <div class="left_header_for_mobile">@Localize.T("Color Change") <span>:</span></div>
                    <div class="info_style pre-wrap">@Localize.T("Color Change")</div>
                </td>
                <td class="custom_style_mobile">
                    <div class="left_header_for_mobile">@Localize.T("Actions") <span>:</span></div>
                    <div class="info_style"><a class="buttonstyle global_settings_btn" onclick="OpenRightToLeftModal(domainurl + '/Calendar/TicketTypeColorChange')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>@Localize.T(" Edit")</a></div>
                </td>
            </tr>

        </table>
    </div>
</div>
<div class="background-hide-class">

</div>

<div class="editSettings">

</div>

