@{
    Layout = null;
}
@model List<HS.Entities.ScheduleCalendarList>
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@*<link href="~/Content/FullCalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/Css/Scheduler.css" rel="stylesheet" />
    <link href="~/Content/Css/Schedule/ScheduleCalendar.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />*@
<script>
    var IsPreviousDate = '@PermissionChekcer.IsPermitted(Permissions.SchedulePermission.PreviousDateSchedulePermission)'
    var defview = '@ViewBag.defaultView';
    var UserVal = '@Html.Raw(Json.Encode(@ViewBag.UserValValue))';
    UserVal = JSON.parse(UserVal);
    var resourceLimit = '@ViewBag.ResourceLimit';
    var resourceLimit1 = '@ViewBag.ResourceLimit1';
    var pageno = '@ViewBag.pageno';
    var pageno1 = '@ViewBag.pageno2';
    var ReminderResource = '@ViewBag.ReminderResource';
    var pageval = parseInt(pageno) - 1;
    var startdate = '@ViewBag.StartDate';
    var FinalPageno = '@ViewBag.pageno';
    var typeval = '@Html.Raw(Json.Encode(@ViewBag.typeval))';
    typeval = JSON.parse(typeval);
    var mintime = '@ViewBag.ScheduleCalendarMinTimeRange';
    var maxtime = '@ViewBag.ScheduleCalendarMaxTimeRange';
    var EventUserId = '@ViewBag.EventUserId';
    var UserCount = '@ViewBag.UserCount';
    var ticketId = '@ViewBag.TicketId';
    var TicketStatusArr = '@Html.Raw(Json.Encode(@ViewBag.ListImage))';
    TicketStatusArr = JSON.parse(TicketStatusArr);
    var TechUserId = '@ViewBag.TechUserId';
    var CalendarUserTag = '@ViewBag.CalendarUserTag';
    var DateTitle = '@ViewBag.DateTitle';
    var ispermit = '@ViewBag.ispermit';
    var IsMobileDevice = '@Request.Browser.IsMobileDevice';
    var HeaderPermission = '@PermissionChekcer.IsPermitted(Permissions.SchedulePermission.ScheduleDateHeaderChange)';
</script>
@Styles.Render("~/styles/CalendarPartial")
@Scripts.Render("~/scripts/CalendarPartial")
@Scripts.Render("~/scripts/CalendarScheduleCalendar")
<div class="LoadSchedule">
    @Html.DropDownList("ListTicketType", ViewBag.TicketType as List<SelectListItem>, new { @class = "form-control selectpicker_type", @multiple = "multiple", title = "Select Ticket Type" })

    <div class="input-group add-on">
        @Html.DropDownList("ListEmployee", ViewBag.ListEmployee as List<SelectListItem>, new { @class = "form-control selectpicker_user", @multiple = "multiple", title = "Select User", name = "selUser" })
        <div class="input-group-btn"> <button title="Search" class="btn green_button" id="cal_search_btn"><i class="fa fa-search"></i></button></div>
    </div>
</div>
<div id='ScheduleCalender' class="ScheduleCalender">

</div>
