@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.PreCustomerNote>
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using HS.Framework.Utils;

@Styles.Render("~/styles/ScheduleGoogleMap")
<script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.GoogleMapAPIKey"></script>
<script>
var IsEditPermition = '@PermissionChekcer.IsPermitted(Permissions.SchedulePermission.MapPointerEditPermission)';
var address = @Html.Raw(Json.Encode(Model));
var ZoomLevel = '@ViewBag.ZoomLevel';
var loadDomainUrl = '@AppConfig.DomainSitePath';
var markers = [];
var InfoListMarkers = [];
var InfoMarkers = [];
var marker, i;
</script>
@Scripts.Render("~/scripts/CalendarGoogleMap")

<body class="schedule_map_custom">
    <div class="container-fluid">
        <div style="display:none" id="map_canvas_initial"></div>
        <div id="map_canvas" style="width:100%; height:100%"></div>
    </div>
    <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
        <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png" />
    </div>
    <input type="hidden" id="htmlValue" />
    <input type="hidden" id="ChangeResult" />
</body>