@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var UserValList = '@Html.Raw(Json.Encode(@ViewBag.UserValValue))';
    UserVal = JSON.parse(UserValList);
    var typevalList = '@Html.Raw(Json.Encode(@ViewBag.typeval))';
    typeval = JSON.parse(typevalList);
    var empCount = '@ViewBag.EmpCount';
    var isPermission = '@ViewBag.Ispermission';
</script>
@Scripts.Render("~/scripts/ScheduleUserListPartial")
<div class="col-sm-12">
    <div class="input-group top_group_style">
        @Html.DropDownList("ListTicketType", ViewBag.TicketType as List<SelectListItem>, new { @class = "form-control selectpicker_type", @multiple = "multiple", title = "Select Ticket Type" })
        @Html.DropDownList("ListEmployee", ViewBag.ListEmployee as List<SelectListItem>, new { @class = "form-control selectpicker_user", @multiple = "multiple", title = "Select User", name = "selUser" })
        <div class="input-group-btn">
            <button title="Search" onclick="CalendarSearchFilter()" class="btn green_button" id="cal_search_btn"><i class="fa fa-search"></i></button>
        </div>
    </div>
</div>
