@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.StatusImageSetting

@Styles.Render("~/styles/AddFile")
@Scripts.Render("~/scripts/TicketStatusImageSettings")
@Html.HiddenFor(m => m.TicketStatusImageSetting.Id)
<div class="add_file_header">@Localize.T("Status Image Setting")<span class="saved-sign" id="savesign">@Localize.T(" (Saved)")</span></div>
<div class="container-fluid">
    <div class="form-group clearfix">
        <span class="">@Localize.T("Ticket Status")</span>
        @{
            if (Model.TicketStatusImageSetting != null)
            {
                @Html.DropDownListFor(m => m.TicketStatusImageSetting.TicketStatus, ViewBag.TicketStatus as List<SelectListItem>, new { @class = "form-control", datarequired = "true" })
            }
            else
            {
                @Html.DropDownListFor(m => m.StatusTicket, ViewBag.TicketStatus as List<SelectListItem>, new { @class = "form-control", datarequired = "true", id = "TicketStatusImageSetting_TicketStatus" })
            }
        }
    </div>
    <div class="clearfix">
        &nbsp;
    </div>
    <div class="form-group clearfix">
        <span class="">@Localize.T("Allowed file type only .png") </span>
    </div>
    <div>
        <br />
    </div>
    @{
        if (Model.TicketStatusImageSetting != null)
        {
            <div class="txt-form Upload_Doc">
                <div class="col-md-12 padding-left-0">
                    <div class="fileborder border_none">
                        <img id="UploadCustomerFileBtn" class="cursor-pointer custom-file" src="@Model.TicketStatusImageSetting.Filename" />
                    </div>
                    <div class="change-picture-logo white-color cursor-pointer text-align-center">
                        <span class="changeFilebtn"><img src="~/Content/Icons/edit-icon.png" /> @Localize.T("Change File")</span>
                    </div>
                    <div class="LoadPreviewDocument hidden">
                        <div class="show-image PropertyLogoPreviewPic">
                            <div class="image-delete" data-id="">
                                <img src="~/Content/Icons/cross-image-delete.png" />
                            </div>
                            <img class="Preview_Doc T360image-photo T360image" src="" />
                        </div>
                        <div class="change-picture-logo white-color cursor-pointer text-align-center T360image">
                            <span><img src="~/Content/Icons/edit-icon.png" />@Localize.T("Change File")</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 progress-container file-progress" style="display:none; padding-left:0; padding-right:0; margin-top: 15px;">
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" style="width:0%">
                            <span>@Localize.T("0%")</span>
                        </div>
                    </div>
                </div>
                <label class="label red position-relative hidden" id="uploadfileerror">*@Localize.T("File required")</label>
            </div>
            <div>
                <br />
            </div>
            <span class="">@Localize.T("Ticket ShadowColor")</span>
            <div class="DisplayColor">
                <input type="color" class="form-control" id="ColorDisplay" value="@Model.TicketStatusImageSetting.TicketStatusColor">
            </div>
        }
        else
        {
            <div class="txt-form Upload_Doc">
                <div class="col-md-12 padding-left-0">
                    <div class="fileborder border_none">
                        <img id="UploadCustomerFileBtn" class="cursor-pointer custom-file" src="~/Content/Icons/blank_thumb_file.png" />
                    </div>
                    <div class="deleteDoc cursor-pointer hidden">
                        <img src="~/Content/Icons/cross-image-delete.png" />
                    </div>
                    <div class="change-picture-logo white-color cursor-pointer text-align-center">
                        <span class="chooseFilebtn"><img src="~/Content/Icons/edit-icon.png" /> @Localize.T("Choose File to Upload")</span>
                        <span class="changeFilebtn hidden"><img src="~/Content/Icons/edit-icon.png" /> @Localize.T("Change File")</span>
                    </div>
                    <div class="LoadPreviewDocument hidden">
                        <div class="show-image PropertyLogoPreviewPic">
                            <div class="image-delete" data-id="">
                                <img src="~/Content/Icons/cross-image-delete.png" />
                            </div>
                            <img class="Preview_Doc T360image-photo T360image" src="" />
                        </div>
                        <div class="change-picture-logo white-color cursor-pointer text-align-center T360image">
                            <span><img src="~/Content/Icons/edit-icon.png" /> @Localize.T("Change File")</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 progress-container file-progress" style="display:none; padding-left:0; padding-right:0; margin-top: 15px;">
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" style="width:0%">
                            <span>@Localize.T("0%")</span>
                        </div>
                    </div>
                </div>
                <label class="label red position-relative hidden" id="uploadfileerror">*@Localize.T("File required")</label>
            </div>
            <div>
                <br />
            </div>
            <span class="">@Localize.T("Color")</span>
            <div class="DisplayColor">
                <input type="color" class="form-control" id="ColorDisplay" value="#fffff">
            </div>
        }
    }


</div>
<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn btn_file" id="btn_imagesetting"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>

        </div>
    </footer>
</section>
<div class="">
    <input type="hidden" id="UploadedPath" value="" />
    <input type="file" name="CustomerFile" class="hidden" id="UploadedFile" accept=".png" />
</div>