@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.Lookup
@Styles.Render("~/styles/AddFile")
@Scripts.Render("~/scripts/CalendarTicketTypeColorChange")
<input type="hidden" id="lookupId" value="@Model.Id" />
<div class="add_file_header">@Localize.T("Type Color Change")<span class="saved-sign" id="savesign">@Localize.T(" (Saved)")</span></div>
<div class="container-fluid">
    <div class="form-group clearfix">
        <span class="">@Localize.T("Ticket Type")</span>
        @{
            if (Model != null)
            {
                @Html.DropDownListFor(m => m.DataValue, ViewBag.TicketType as List<SelectListItem>, new { @class = "form-control", datarequired = "true", id = "TicketTypeSettingId" })
                <div>
                    <br />
                </div>
                <span class="">@Localize.T("Color")</span>
                <div class="DisplayColor">
                    <input type="color" class="form-control" id="ColorDisplay" value="#@Model.AlterDisplayText">
                </div>
            }
            else
            {
                @Html.DropDownListFor(m => m.DataValue, ViewBag.TicketType as List<SelectListItem>, new { @class = "form-control", datarequired = "true", id = "TicketTypeSettingId" })
                <div>
                    <br />
                </div>
                <span class="">@Localize.T("Color")</span>
                <div class="DisplayColor">
                    <input type="color" class="form-control" id="ColorDisplay" value="#fffff">
                </div>
            }
        }
    </div>
</div>
<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn btn_file" id="btntypecolorsetting"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>

        </div>
    </footer>
</section>