@model List<HS.Entities.MassPO>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/AddInvoice")
<script>
    var Currency = '@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)';
</script>
<link href="~/Content/Css/Expense/AddVendorBill.css" rel="stylesheet" />
<script src="~/Content/Tiny/jquery.tinymce.min.js"></script>
<script src="~/Content/Tiny/tinymce.min.js"></script>
<script src="~/Content/Js/TinyInvoice.js"></script>
<script src="~/Content/Js/PurchaseOrder/AddMassPO.js"></script>
<link href="~/Content/Css/Inventory/AddMassPO.css" rel="stylesheet" />
<div class="add-invoice-container add_mass_po_container">
    <div class="add_mass_po_header">@Localize.T("Mass PO")</div>
    <div class="avp_table_info_container">
        <div class="width-100p margin-top-15">
            <table class="CustomerInvoiceTab" id="CustomerMassPOTab">
                <thead>
                    <tr>
                        <th class="thead-th-style1 text-center-important">
                            <span>
                                @Localize.T("Description")
                            </span>
                        </th>
                        <th class="thead-th-style1 text-center-important">
                            <span>
                                @Localize.T("Manufacturer")
                            </span>
                        </th>
                        <th class="thead-th-style1 text-center-important">
                            <span>
                                @Localize.T("SKU")
                            </span>
                        </th>
                        <th class="thead-th-style2 text-center-important">
                            <span>
                                @Localize.T("Primary Vendor")
                            </span>
                        </th>
                        <th class="thead-th-style2 text-center-important">
                            <span>
                                @Localize.T("Price")
                            </span>
                        </th>
                        <th class="thead-th-style2 text-center-important">
                            <span>
                                @Localize.T("Quantity Needed")
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr class="HasItem" data-eqpid="@item.EquipmentId" data-demandorderid="@item.DemandOrderId">
                                <td valign="top">
                                    <div>@Localize.T("Description") <span>:</span></div>
                                    <div><p>@item.Name</p></div>
                                </td>
                                <td valign="top">
                                    <div>@Localize.T("Manufacturer")<span>:</span></div>
                                    <div><p>@item.ManufacturerName</p></div>
                                </td>
                                <td valign="top">
                                    <div>@Localize.T("SKU")<span>:</span></div>
                                    <div><p>@item.SKU</p></div>
                                </td>
                                <td valign="top" class="text-center-important">
                                    <div>@Localize.T("Primary Vendor")<span>:</span></div>
                                    <div>
                                        <div class="Vendor_name_insert_div">
                                            <input data-supplierId="@item.SupplierId" type="text" class="txtPrimaryVendor" value="@item.PrimaryVendor" onkeydown="VendorSearchKeyDown(this, event)" onkeyup="VendorSearchKeyUp(this, event,'@item.EquipmentId','')" />
                                            <div class='tt-menu'>
                                                <div class='tt-dataset tt-dataset-autocomplete'> </div>
                                            </div>
                                        </div>
                                   
                                    <span data-supplierId="@item.SupplierId" data-equipmentid="@item.EquipmentId" class="spnPrimaryVendor">@item.PrimaryVendor</span>
                                        </div>
                                </td>
                                <td valign="top" class="text-center-important">
                                    <div>@Localize.T("Price")<span>:</span></div>
                                    <div><p class="PriceMassPO">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.Price) </p></div>
                                </td>
                                <td valign="top" class="text-center-important">
                                    <div>@Localize.T("Quantity Needed")<span>:</span></div>

                                    <div>
                                        <input type="text" class="txtQuantity" value="@item.Quantity" />
                                        <span class="spnQuantity">@item.Quantity</span>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="SaveaButtonsDivMass">
            <button class="btn" onclick="SaveMassPO()"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Create Mass PO")</button>
        </div>

    </div>
    <div class="AddInvoiceLoader hidden">
        <div class='invoice-loader'><div><div class="lds-css ng-scope"><div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div></div></div></div>
        @*<div class='invoice-loader'><div><div class="lds-css ng-scope"><div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div></div></div></div>*@
    </div>
</div>

