@{
    Layout = null;
}
@model HS.Entities.TechnicianInventory
@using Localize = HS.Web.UI.Helper.LanguageHelper

<link href="~/Content/Select2/select2.css" rel="stylesheet" />

<script src="~/Content/Js/Site/Validation.js"></script>
<script src="~/Content/Select2/Select2.min.js"></script>
<script src="~/Content/Js/PackageSetup/AddNewPackageDevice.js"></script>

<style>
    .select2-container {
        z-index: 999999 !important;
    }
</style>

<script>
    var TechId = '@ViewBag.TechnicianIdForAddNewEquipment';
    var ModelId = '@Model.Id';

    var saveTechInventory = function () {
        var url = domainurl + "/Inventory/AddNewTechnicianInventoryProduct/";
        var param = JSON.stringify({
            id: ModelId,
            TechnicianId: TechId,
            Quantity: $("#Quantity").val(),
            EquipmentId: $("#EquipmentId").val()
        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                LoadTechnicianInventoryDetails(TechId);
                OpenRightToLeftModal();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }

    $(document).ready(function () {
        parent.$('.close').click(function () {
            parent.$(".modal-body").html('');
        })
        $("#btn-save-tech-inventory").click(function () {
            if (CommonUiValidation()) {
                saveTechInventory();
            }
        })

        //$(".EquipmentId_select2").select2({})
    })

</script>

<style>
    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 104%;
        bottom: 0;
    }

    .btn-save-tech-inventory {
        float: right;
        margin: 10px 20px 08px 30px;
        background-color: #2ca01c;
        color: #ffffff;
         -webkit-border-radius: 3px 0 0 3px;
-moz-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;
        box-shadow: none;
        border-right: none;
        border: 1px solid #8d9096;
        outline: none;
        padding: 0 15px;
        font-weight: 600;
        min-width: 80px;
        cursor: pointer;
        font-size: 1.4rem;
        height: 34px;
        line-height: 34px;
        overflow: visible;
        text-align: center;
    }
</style>

<div class="container-fluid">
    @Html.HiddenFor(x => x.Id)
    <div>
        @if (Model.Id > 0)
        {
            @Localize.T("Edit Product")

        }
        else
        {
            @Localize.T("Add New Product")
        }
    </div>

    <div>
        <div class="form-group clearfix">
            <span class="span-style">@Localize.T("Equipment And Service")<span class="red">*</span></span>
            @Html.DropDownListFor(x => x.EquipmentId, (List<SelectListItem>)ViewBag.EquipmentList, new { @class = "form-control EquipmentId_select2", datarequired = "true" })
            <label rel="PackageId" class="label hidden red position-absolute">*@Localize.T("Please Select An Equipment/Service")</label>
        </div>

        <div class="form-group">
            <span class="span-style">@Localize.T("Quantity")</span>
            @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", placeholder = "Quantity", type = "number" })
        </div>
    </div>
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="save-package-div">
            <button class="btn-save-tech-inventory" id="btn-save-tech-inventory">@Localize.T("Save")</button>
        </div>
    </footer>
</section>