@model List<HS.Entities.MassRestock>
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Js/PurchaseOrder/AddTechReorderPoint.js"></script>
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
        $(".icon_masssort_eq").click(function () {
            var orderval = $(this).attr('data-val');
            var techId = $(this).attr('data-techid');
            var Id = $(this).attr('data-id');
            RestockDataLoad(techId, Id, orderval, showallr);
        });
    });
</script>
<style>
    #CustomerMassRestockTab thead tr th {
            padding: 5px 10px 5px 10px;
            box-sizing: content-box;
            line-height: unset;
    }
    #CustomerMassRestockTab thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    #CustomerMassRestockTab thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }

        #CustomerMassRestockTab thead tr th div:nth-child(2) i {
            float: right;
            cursor: pointer;
            width: 100%;
            text-align: right;
            color: #bdbdbd;
        }


            #CustomerMassRestockTab thead tr th div:nth-child(2) i:nth-child(2) {
                margin-top: -5px;
            }
             #CustomerMassRestockTab thead tr:hover {
                 background-color:unset;
                 border:unset;
             }
              #CustomerMassRestockTab tbody tr:nth-child(odd) {
            background-color: #f8f8f8;
        }
         #CustomerMassRestockTab tbody tr:hover {
            background-color: #f4f5f8;
        }
          .clone-user {
                    width:100%;
                    float:left;
                    padding-top:10px;
                    padding-bottom:10px;
                }
                
                .clone-user .add_mass_multi_sel {
                    width:250px;
                    display:inline-block;
                }
                .clone-user .SaveaButtonsDivMass {
                 width: auto;
                float: right;
                text-align: unset;
                margin-top: unset;
                margin-bottom: unset;
                }

</style>
<div class="add-invoice-container">
    <div class="avp_table_info_container">
        <div class="width-100p margin-top-15">
            <table class="CustomerInvoiceTab" id="CustomerMassRestockTab">
                <thead>
                    <tr>
                        @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                        {
                            <th class="th_timeclock">
                                <div> @Localize.T("Description")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/des" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/des" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre">
                                <div>@Localize.T("Description")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/des" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/des" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                        {
                            <th class="th_timeclock">
                                <div> @Localize.T("Manufacturer")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/man" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/man" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre">
                                <div>@Localize.T("Manufacturer")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/man" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/man" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                        {
                            <th class="th_timeclock">
                                <div> @Localize.T("SKU")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/sku" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/sku" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre">
                                <div>@Localize.T("SKU")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/sku" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/sku" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                        {
                            <th class="th_timeclock">
                                <div> @Localize.T("Re. Point")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/reorder" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/reorder" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre">
                                <div>@Localize.T("Re. Point")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/reorder" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/reorder" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td valign="top">
                                    <p>@item.Name</p>
                                </td>
                                <td valign="top">
                                    <p>@item.ManufacturerName</p>
                                </td>
                                <td valign="top">
                                    <p>@item.SKU</p>
                                </td>
                                <td valign="top" class="text-center-important HasNewCount" data-eqpid="@item.EquipmentId" data-techid="@ViewBag.TechnicianId">
                                    <input type="text" class="txtNewCount" value="@item.ReorderPoint" />
                                    <span class="spnNewCount">@item.ReorderPoint</span>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
      
            <div class="clone-user">
                <span>
                    <b>@Localize.T("Technician :")</b>
                </span>
                <span class="add_mass_multi_sel">
                    @Html.DropDownList("CloneTechnicianId", ViewBag.CloneTechnicianList as List<SelectListItem>, new { @class = "form-control"})
                </span>
                <span>
                    <button class="btn" onclick="CloneSaveTechReorderPoint()"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Clone")</button>
                </span>
                <span class="SaveaButtonsDivMass">
                    <button class="btn" onclick="SaveTechReorderPoint()"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save")</button>
                </span>
            </div>
           
       
    </div>
    <div class="AddInvoiceLoader hidden">
        <div class='invoice-loader'><div><div class="lds-css ng-scope"><div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div></div></div></div>
        @*<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>*@
    </div>
</div>

