@{
    Layout = null;
}
@model HS.Entities.Equipment
@using Localize = HS.Web.UI.Helper.LanguageHelper


    @Styles.Render("~/styles/AddEquipment")

    <script src="~/Content/Js/Site/Validation.js"></script>
    <script src="~/Content/Js/AddNonInventory/AddNonInventory.js"></script>




    @Html.HiddenFor(x => x.Id, new { id = "id" })
    @Html.HiddenFor(x => x.CreatedDate, new { id = "CreatedDate" })
    @Html.HiddenFor(x => x.CompanyId, new { id = "CompanyId" })
    @Html.HiddenFor(x => x.EquipmentId, new { id = "EquipmentId" })
    @Html.HiddenFor(x => x.EquipmentClassId, new { id = "EquipmentClassId" })
    @Html.HiddenFor(x => x.IsActive, new { id = "IsActive" })

   <div class="add_eqipm_container">
       <div class="add_eqipm_header">
           <div> @Localize.T("Equipment/Service information")</div>
       </div>
       <div class="add_eqipm_inner">
           <div class="add_equip_info_block">
               <div class="add_equip_info_header">
                  @Localize.T("Non-Inventory")
             
              
                   @if (Model.Id == 0)
                   {
                       <span class="custom-span">@Localize.T("Change Type")</span>
                   }
               </div>
               <div class="add_equip_info_inner">
                   <div class="form-group clearfix">
                       <span class="span-style">@Localize.T("Name")<span class="red">*</span></span>
                       @Html.TextBoxFor(x => x.Name, new { @class = "form-control required-field", placeholder = "Name", datarequired = "true" })
                       <label rel="Name" class="label hidden red position-absolute">*@Localize.T("Name Required")</label>
                   </div>

                   <div class="form-group clearfix">
                       <span class="span-style">@Localize.T("SKU")</span>
                       @Html.TextBoxFor(x => x.SKU, new { @class = "form-control", placeholder = "SKU" })
                   </div>
                   <div class="form-group clearfix">
                       <span class="span-style">@Localize.T("Description")</span>
                       @Html.TextAreaFor(x => x.Comments, new { @class = "form-control", id = "Comments", placeholder = "Product description", style = "height:unset;" })
                       @*<textarea style="height:unset;" class="form-control" id="Comments" name="Comments" placeholder="Product description" rows="2">@Model.Comments</textarea>*@
                   </div>
                   <div class="form-group clearfix">
                       <span class="span-style">@Localize.T("Category")<span class="red">*</span></span>
                       @Html.DropDownListFor(x => x.EquipmentTypeId, (List<SelectListItem>)ViewBag.EquipmentTypeList, new { @class = "form-control", datarequired = "true" })
                       <label rel="EquipmentTypeId" class="label hidden red position-absolute">*@Localize.T("Please Select One")</label>
                   </div>
               </div>
           </div>

           @*<div class="custom-border-top">
                <div class="form-group clearfix">
                    <span class="span-style">@Localize.T("Sales Information")</span>
                </div>
                <div class="form-group clearfix">
                    <div class="form-group clearfix width-40p-left">
                        <span class="span-style">@Localize.T("Sales Price/Rate")<span class="span-valid">@Localize.T("*")</span></span>
                        @Html.TextBoxFor(x => x.Cost, new { @class = "form-control required-field", placeholder = "Supplier Cost/Rate", id = "Cost", @type = "number" })
                    </div>
                    <div class="form-group clearfix width-40p">
                        <span class="span-style">@Localize.T("Manufacturer Name")<span class="span-valid">@Localize.T("*")</span></span>
                        @Html.DropDownListFor(x => x.ManufacturerId, (List<SelectListItem>)ViewBag.ManufacturerList, new { @class = "form-control", id = "ManufacturerId", placeholder = "Manufacturer List", })
                    </div>
                </div>
            </div>*@
           <div class="add_equip_info_block">
               <div class="add_equip_info_header">
                   @Localize.T("Purchasing information")
               </div>
               <div class="add_equip_info_inner">
                
                       <div class="form-group clearfix">
                           <span class="span-style">@Localize.T("Wholesale Price")<span class="span-valid">@Localize.T("*")</span></span>
                           @Html.TextBoxFor(x => x.SupplierCost, new { @class = "form-control required-field", placeholder = "Purchasing Cost", id = "SupplierCost", @type = "number" })
                       </div>
                       <div class="form-group clearfix">
                           <span class="span-style">@Localize.T("Wholeseller/Distributor")<span class="span-valid">@Localize.T("*")</span></span>
                           @Html.DropDownListFor(x => x.SupplierId, (List<SelectListItem>)ViewBag.SupplierList, new { @class = "form-control", id = "SupplierId", placeholder = "Supplier List", })
                       </div>
                       <div class="form-group clearfix">
                           <span class="span-style">@Localize.T("Retail Price")<span class="red">*</span></span>
                           @Html.TextBoxFor(x => x.Retail, new { @class = "form-control required-field", placeholder = "Purchasing Cost", datarequired = "true", @type = "number" })
                           <label rel="Retail" class="label hidden red position-absolute">*@Localize.T("Retail Price Required")</label>
                       </div>                 
               </div>
           </div>          
       </div>
    <div class="add_eqipm_footer">       
           <button class="btn btn-save-Inventory-product" id="saveProduct"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save")</button>           
    </div>
</div>

