@model HS.Entities.MassRestockModel
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Js/PurchaseOrder/AddMassRestock.js"></script>
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<link href="~/Content/Css/Inventory/AddMassRestockPartial.css" rel="stylesheet" />
<style>
    #btnMassRestockDownload {
        float: left;
        margin-right: 10px;
    }

    .bg_color_red {
        background-color: red;
        color: white;
    }

    .bg_color_yellow {
        background-color: yellow;
    }
</style>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
        $(".icon_masssort_eq").click(function () {
            var orderval = $(this).attr('data-val');
            //console.log($(this));
            //console.log(orderval);
            var techId = $(this).attr('data-techid');
            var Id = $(this).attr('data-id');
            RestockDataLoad(techId, Id, orderval, showallr);
        });

        $("#btnMassRestockDownload").click(function () {
            var idval = $(this).attr('data-techid');
            var isShowAll = $(".chkmr_" + idval).prop("checked");
            window.location.href = domainurl + "/Reports/DownloadMassRestockReport?TechnicianId=" + idval + "&IsShowAll=" + isShowAll;
        });
        $(".txtNewCount").keyup(function () {
            var wareHouseQt = $(this).attr("data-qtyonhand");
            var changeQt = $(this).val();
            if (parseInt(changeQt) > parseInt(wareHouseQt)) {
                $(this).val(wareHouseQt);
            }
        });
        function calculateTotalNew() {
            let total = 0;
            $(".txtNewCount").each(function () {
                let value = parseFloat($(this).val()) || 0;
                total += value;
            });

            let totalNewElement = $(".totalnew");
            if (totalNewElement.length > 0) {
                totalNewElement.text(total);
            }
        }

      
        calculateTotalNew();

        $(".txtNewCount").on("input", function () {
            calculateTotalNew();
        });
    });

</script>

<div class="add-invoice-container">
    <div class="avp_table_info_container">
        <div class="width-100p margin-top-15">
            <table class="CustomerInvoiceTab" id="CustomerMassRestockTab">
                <thead>
                    <tr>
                        @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                        {
                            <th class="th_timeclock">
                                <div> @Localize.T("Description")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/des" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/des" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre">
                                <div>@Localize.T("Description")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/des" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/des" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                        {
                            <th class="th_timeclock">
                                <div> @Localize.T("Manufacturer")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/man" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/man" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre">
                                <div>@Localize.T("Manufacturer")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/man" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/man" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                        {
                            <th class="th_timeclock">
                                <div> @Localize.T("SKU")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/sku" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/sku" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre">
                                <div>@Localize.T("SKU")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/sku" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/sku" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                        {
                            <th class="th_timeclock">
                                <div> @Localize.T("Warehouse")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/qty" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/qty" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre">
                                <div>@Localize.T("Warehouse")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/qty" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/qty" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                        {
                            <th class="th_timeclock">
                                <div> @Localize.T("Re. Point")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/reorder" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/reorder" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre">
                                <div>@Localize.T("Re. Point")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/reorder" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/reorder" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }

                        @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                        {
                            <th class="th_timeclock">
                                <div> @Localize.T("Have")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/have" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/have" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre">
                                <div>@Localize.T("Have")</div>
                                <div><i class="fa fa-angle-up icon_masssort_eq" data-val="ascending/have" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i><i class="fa fa-angle-down icon_masssort_eq" data-val="descending/have" data-techid="@ViewBag.TechnicianId" data-id="@ViewBag.Id"></i></div>
                            </th>
                        }
                        <th class="thead-th-style2 text-center-important">
                            <span>
                                @Localize.T("New")
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.MassRestockList.Count() > 0)
                    {
                        foreach (var item in Model.MassRestockList)
                        {
                            <tr data-Quantity="@item.Quantity">
                                <td valign="top">
                                    <div> @Localize.T("Description") <div>:</div></div>
                                    <div><p>@item.Name</p></div>
                                </td>
                                <td valign="top">
                                    <div> @Localize.T("Manufacturer") <div>:</div></div>
                                    <div><p>@item.ManufacturerName</p></div>
                                </td>
                                <td valign="top">
                                    <div> @Localize.T("SKU") <div>:</div></div>
                                    <div><p>@item.SKU</p></div>
                                </td>
                                <td valign="top" class="text-center-important @(item.Quantity==0?"bg_color_red":"")">
                                    <div> @Localize.T("Qty on Hand") <div>:</div></div>
                                    <div><p class="spnQuantity">@item.Quantity</p></div>
                                </td>
                                <td valign="top" class="text-center-important">
                                    <div> @Localize.T("Re. Point") <div>:</div></div>
                                    <div><p>@item.ReorderPoint</p></div>
                                </td>
                                <td valign="top" class="text-center-important">
                                    <div> @Localize.T("Have") <div>:</div></div>
                                    <div><p>@item.Have</p></div>
                                </td>
                                <td valign="top" class="text-center-important HasNewCount @(item.Have < item.ReorderPoint?"bg_color_yellow":"")" data-eqpid="@item.EquipmentId" data-techid="@ViewBag.TechnicianId" data-Quantity="@item.Quantity">
                                    @*<input data-have="@item.Have" data-qtyonhand="@item.Quantity" data-reorderpoint="@item.ReorderPoint" type="text" class="txtNewCount" value="@(item.Have < item.ReorderPoint? item.Quantity == 0 ? item.New : item.ReorderPoint-item.Have : item.New)" />*@
                                    <input data-have="@item.Have"
                                           data-qtyonhand="@item.Quantity"
                                           data-reorderpoint="@item.ReorderPoint"
                                           type="text"
                                           class="txtNewCount"
                                           value="@(item.Have < item.ReorderPoint ?(item.Quantity == 0 ? item.New : (item.ReorderPoint - item.Have < item.Quantity ? item.ReorderPoint - item.Have : item.Quantity))  : item.New)" />

                                    <span id="spncountcountnew" class="spnNewCount">@(item.Have < item.ReorderPoint ?(item.Quantity == 0 ? item.New : (item.ReorderPoint - item.Have < item.Quantity ? item.ReorderPoint - item.Have : item.Quantity))  : item.New)</span>
                                </td>
                            </tr>
                        }
                <tr class="text-center-important">
                    <td colspan="3">
                        <b class="float_right">@Localize.T("Total:")</b>
                    </td>
                    <td>
                        <b title="@Localize.T("Total On Hand")">@Model.TotalQty</b>
                    </td>
                    <td>
                        <b title="@Localize.T("Total Point")">@Model.TotalPoint</b>
                    </td>

                    <td style="text-align:center">
                        <b title="@Localize.T("Total Truck")">@Model.TotalHave</b>
                    </td>
                    @*<td>
            <b title="@Localize.T("Total WHPoint")">@Model.TotalWHPoint</b>
        </td>*@
                    <td style="text-align:center">
                        <b class="totalnew" title="@Localize.T("Total New")">0</b>
                    </td>

                </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="clone-user">
            @*<span>
                    <b>@Localize.T("Technician :")</b>
                </span>
                <span class="add_mass_multi_sel">
                    @Html.DropDownList("CloneTechnicianId", ViewBag.CloneTechnicianList as List<SelectListItem>, new { @class = "form-control selectpicker", @multiple = "multiple" })
                </span>
                <span>
                    <button class="btn" onclick="CloneSaveMassRestock()"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Clone")</button>
                </span>*@
            <span class="SaveaButtonsDivMass">
                <button class="btn" id="btnMassRestockDownload" data-techid="@ViewBag.TechnicianId"><i class="fa fa-download"></i></button>
                <button class="btn btnAddRequest" onclick="CheckMassRestock()"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save")</button>
            </span>
        </div>
    </div>
    <div class="AddInvoiceLoader hidden">
        <div class='invoice-loader'><div><div class="lds-css ng-scope"><div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div></div></div></div>
        @*<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>*@
    </div>
</div>
