@{
    Layout = null;
}
@model HS.Entities.Equipment
@using Localize = HS.Web.UI.Helper.LanguageHelper

<head>
    @Styles.Render("~/styles/AddBundle")
    @Scripts.Render("~/scripts/AddBundle")
</head>


<body>

    <div class="header-div">
        <div class="header-image">
            <img class="height-14p" title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png" />
        </div>
    </div>

    <div class="header-title custom-padding">
        <h3>@Localize.T("Equipment/Service information")</h3>
        <span class="custom-span">@Localize.T("Change Type")</span>
    </div>

    <div class="drawer-content-title custom-padding">
        <h3 class="custom-h3">@Localize.T("Bundle")</h3>
    </div>

    <div class="content-details">

        @Html.HiddenFor(x => x.Id, new { id = "id" })

        <div>
            @Localize.T("Hi From Bundle!")
        </div>

    </div>

    <div class="save-Inventory-product">
        <button class="btn-save-Inventory-product" id="saveInventoryProduct">
            @Localize.T("Save")
        </button>
    </div>
</body>