@{
    Layout = null;
}
@model HS.Entities.Inventory
@using Localize = HS.Web.UI.Helper.LanguageHelper

<head>

    @Styles.Render("~/styles/AdjustProductServiceQuantity")
    @Scripts.Render("~/scripts/AdjustProductServiceQuantity")
</head>

<body>

    @Html.HiddenFor(x => x.Id, new { id = "Id" })
    @Html.HiddenFor(x => x.InventoryId, new { id = "InventoryId" })
    @Html.HiddenFor(x => x.EquipmentId, new { id = "EquipmentId" })
    @Html.HiddenFor(x => x.CompanyId, new { id = "CompanyId" })
    @Html.HiddenFor(x => x.Type, new { id = "Type" })
    @Html.HiddenFor(x => x.SupplierCost, new { id = "SupplierCost" })
    @Html.HiddenFor(x => x.Cost, new { id = "Cost" })
    @Html.HiddenFor(x => x.Retail, new { id = "Retail" })
    @Html.HiddenFor(x => x.CreatedDate, new { id = "CreatedDate" })
    @Html.HiddenFor(x => x.CreatedBy, new { id = "CreatedBy" })

    <div class="container-fluid">
        <div class="row custom-padding-bottom">
            <div class="col-md-12">
                <h3 class="custom-header">@Localize.T("Inventory Quantity Adjustment")</h3>
            </div>
        </div>
        <div class="form-group clearfix">
            <div class="row custom-padding-bottom">
                <div class="col-md-12">
                    <span class="custom-span">@Localize.T("Product / Service ")</span>
                    <span class="cus-span">@Model.EquipmentServiceName</span>
                </div>
            </div>
            <div class="row custom-padding-bottom">
                <div class="col-md-12">
                    <span class="custom-span">@Localize.T("Qty On Hand")</span>
                    <span class="old-quantity cus-span">@Model.Quantity</span>
                </div>
            </div>
            <div class="row custom-padding-bottom">
                <div class="col-md-12">
                    <span class="custom-span">@Localize.T("New Quantity")</span>
                    @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control new-qty-input", placeholder = "New Quantity", datarequired = "true", id = "Quantity" })
                </div>
            </div>
            <div class="row custom-padding-bottom">
                <div class="col-md-12">
                    <span class="custom-span">@Localize.T("Change In Qty ")</span>
                    <span class="chnage-quantity cus-span">0</span>
                </div>
            </div>
        </div>

        @*<div class="row save-btn-div">
            <div class="col-md-12">
                <button>@Localize.T("Save")</button>
            </div>
        </div>*@
    </div>
    <section class="footer-section">
        <footer class="footer">
            <div class="save-Inventory-product">
                <button class="btn-save-Inventory-product save-btn-div">@Localize.T("Save")</button>
            </div>
        </footer>
    </section>

  
</body>