@{
    ViewBag.Title = "Starting Values";
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.CustomInventoryEquipmentModel

<head>
    
    @Styles.Render("~/styles/AdjustStartingValue")
    @Scripts.Render("~/scripts/AdjustStartingValue")
</head>

<body>
    @Html.HiddenFor(x => x.EuipmentIntId, new { id = "EuipmentIntId" })
    @Html.HiddenFor(x => x.InventoryIntId, new { id = "InventoryIntId" })
    @Html.HiddenFor(x => x.EquipmentId, new { id = "EquipmentId" })
    @Html.HiddenFor(x => x.CompanyId, new { id = "CompanyId" })
    @Html.HiddenFor(x => x.EquipmentCost, new { id = "EquipmentCost" })

    <div class="container-fluid">
        <div class="row custom-padding-bottom">
            <div class="col-md-12">
                <h3 class="custom-header">@Localize.T("Inventory Starting Value")</h3>
            </div>
        </div>

        <div class="form-group clearfix">
            <div class="row custom-padding-bottom">
                <div class="col-md-12">
                    <span class="custom-span">@Localize.T("Product / Service ")</span>
                    <span class="cus-span"></span>
                </div>
            </div>
            <div class="row custom-padding-bottom">
                <div class="col-md-12">
                    <span class="custom-span">@Localize.T("Initial Quantity On Hand")</span>
                    @Html.TextBoxFor(x => x.InventoryQuantity, new { @class = "form-control new-qty-input", datarequired = "true", id = "InventoryQuantity" })
                </div>
            </div>
            <div class="row custom-padding-bottom">
                <div class="col-md-12">
                    <span class="custom-span">@Localize.T("Initial Cost")</span>
                    @Html.TextBoxFor(x => x.InventoryCost, new { @class = "form-control new-qty-input", datarequired = "true", id = "InventoryCost" })
                </div>
            </div>
            <div class="row custom-padding-bottom">
                <div class="col-md-12">
                    <span class="custom-span">@Localize.T("As Of Date")</span>
                    @Html.TextBoxFor(x => x.EquipmentAsOfDate, "{0:MM/dd/yy}", new { @class = "form-control new-qty-input", datarequired = "true", id = "EquipmentAsOfDate", @readonly = "readonly" })
                </div>
            </div>
        </div>
    </div>

    <section class="footer-section">
        <footer class="footer">
            <div class="save-Inventory-product">
                <button class="btn-save-Inventory-product" id="adjustStartingValue">@Localize.T("Save")</button>
            </div>
        </footer>
    </section>
</body>
