@{
    Layout = null;
}
@model HS.Entities.TechnicianInventoryCustomModel
@using Localize = HS.Web.UI.Helper.LanguageHelper

<style>
    .listPartialContainer {
        padding-left: 5px;
    }

    .tech-inventory-eqp-list-header {
        background-color: #ccc;
        padding: 5px 5px;
        text-align: center;
        font-weight: 600;
    }

    .tech-inventory-eqp-list {
        width: 96%;
        margin: auto;
    }

    .product-list-container {
        width: 100%;
    }

    .Product-List-container-header {
        width: 100%;
    }

    .btn-add-tech-inventory-equipment {
        background-color: #2ca01c;
        color: white;
        font-size: 14px;
        font-weight: 600;
    }

    .tech-inventory-eqp-header-left {
        width: 50%;
        float: left;
        text-align: right;
        padding: 8px 0px;
    }

    .Product-List-container-header-contents-eqpName {
        width: 50%;
        float: left;
        font-weight: 600;
    }

    .Product-List-container-header-contents-type {
        width: 25%;
        float: left;
        font-weight: 600;
        text-align: center;
    }

    .Product-List-container-header-contents-quantity {
        width: 15%;
        float: left;
        font-weight: 600;
        text-align: center;
    }

    .Product-List-container-header-contents-actions {
        width: 10%;
        float: left;
        font-weight: 600;
        text-align: right;
    }

    .product-list-container-contents-EqpName {
        width: 50%;
        float: left;
    }

    .product-list-container-contents-type {
        width: 25%;
        float: left;
        text-align: center;
    }

    .product-list-container-contents-quantity {
        width: 15%;
        float: left;
        text-align: center;
    }

    .product-list-container-contents-actions {
        width: 10%;
        float: left;
        text-align: right;
    }

    .edit-tech-inventory {
        cursor: pointer;
        color: #2ca01c;
    }

    .delete-tech-inventory:hover {
        cursor: pointer;
        font-weight: 600;
    }

    .no-tem-div {
        padding-top: 20px;
        text-align: left;
        font-style: italic;
    }
</style>

<script>
    var ViewProductDetails = function (id, techId) {
        OpenRightToLeftModal(domainurl + "/Inventory/AddNewTechnicianInventoryProduct/?Id=" + id + "&TechnicianId=" + techId);
    }

    $(document).ready(function () {
        parent.$('.close').click(function () {
            parent.$(".modal-body").html('');
        })
        $(".btn-add-tech-inventory-equipment").click(function () {
            ViewProductDetails(0, "@Model.EmployeeModel.UserId");
        })

        $(".edit-tech-inventory").click(function () {
            var id = $(this).attr("idval");
            var techid = $(this).attr("techval");
            ViewProductDetails(id, techid);
        })
    })
</script>

<div>
    <div class="listPartialContainer">
        <div class="tech-inventory-eqp-list-header">
            <div class="tech-inventory-eqp-header-left">
                @Localize.T("Product List : ") @Model.EmployeeModel.FirstName @Model.EmployeeModel.LastName
            </div>
            <div class="tech-inventory-eqp-header-right">
                <button class="btn btn-add-tech-inventory-equipment"> @Localize.T("Add New")</button>
            </div>

        </div>
        <div class="tech-inventory-eqp-list">
            <div class="Product-List-container-header">
                <div class="Product-List-container-header-contents-eqpName">
                    @Localize.T("Equipment Name")
                </div>
                <div class="Product-List-container-header-contents-type">
                    @Localize.T("Type")
                </div>
                <div class="Product-List-container-header-contents-quantity">
                    @Localize.T("QTY")
                </div>
                <div class="Product-List-container-header-contents-actions">
                    @Localize.T("Actions")
                </div>
            </div>

            @if (Model.TechnicianInventoryListModel.Count > 0)
            {
                foreach (var item in Model.TechnicianInventoryListModel)
                {
                    <div class="product-list-container">
                        <div class="product-list-container-contents-EqpName">
                            <a class="edit-tech-inventory" idval="@item.Id" techval="@item.TechnicianId">
                                @item.EquipmentName
                            </a>
                        </div>
                        <div class="product-list-container-contents-type">
                            @item.EquipmentType
                        </div>
                        <div class="product-list-container-contents-quantity">
                            @item.Quantity
                        </div>
                        <div class="product-list-container-contents-actions">
                            <a class="delete-tech-inventory" title="@Localize.T("Delete")"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                }
            }

            else
            {
                <div class="no-tem-div">
                    @Localize.T("No equipment added,please add. ")
                </div>
            }

        </div>
    </div>
</div>
