@*@model List<HS.Entities.Equipment>*@
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

@Styles.Render("~/styles/EquipmentList")
@Scripts.Render("~/scripts/EquipmentList")

@*@Styles.Render("~/styles/DataTableBundles")
    @Scripts.Render("~/scripts/DataTableBundles")*@
<script>
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var InventorySearchKeyUp = function (pageNumber) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
        var ActiveStatus = $(".ActiveStatus").val();
        var EquipmentClass = $(".EquipmentClass").val();
        var EquipmentCategory = $(".EquipmentCategory").val();
        var StockStatus = $(".StockStatus").val();
        var searchtext = $(".srch-term-equip").val();
        $(".filter-inventory-equipmentsBranch").html(TabsLoaderText);
        $(".filter-inventory-equipmentsBranch").load(domainurl + "/Inventory/BranchFilterEquipmentsListPartial?ActiveStatus=" + ActiveStatus + "&EquipmentClass=" + EquipmentClass + "&EquipmentCategory=" + EquipmentCategory + "&StockStatus=" + StockStatus + "&PageNo=" + pageNumber + "&SearchText=" + searchtext + "&BranchId=" + BranchId);
    }
    var InventorySearchKeyUp1 = function (pageNumber) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
        var ActiveStatus = $(".ActiveStatus").val();
        var EquipmentClass = $(".EquipmentClass").val();
        var EquipmentCategory = $(".EquipmentCategory").val();
        var StockStatus = $(".StockStatus").val();
        var searchtext = encodeURI($(".srch-term-equip").val());
        $(".filter-inventory-equipmentsBranch").html(TabsLoaderText);
        $(".filter-inventory-equipmentsBranch").load(domainurl + "/Inventory/BranchFilterEquipmentsListPartial?ActiveStatus=" + ActiveStatus + "&EquipmentClass=" + EquipmentClass + "&EquipmentCategory=" + EquipmentCategory + "&StockStatus=" + StockStatus + "&PageNo=" + pageNumber + "&SearchText=" + searchtext + "&BranchId=" + BranchId);
    }

    $(document).ready(function () {
        parent.$('.close').click(function () {
            parent.$(".modal-body").html('');
        })
        InventorySearchKeyUp(1);
        $(".btn-filter").click(function () {
            $(".fliter-list").toggle();
        });
        $(".btn-apply-filter").click(function () {
            InventorySearchKeyUp(1);
            $(".fliter-list").hide();
        })
        $(".equipment-grid-col").click(function () {
            OpenRightToLeftModal(domainurl + "/Inventory/InventoryGridSettings");
        });
    });
</script>

<div class="header-content">
    <div class="stock-status-partial-view-div">

    </div>
    <div class="ListViewLoader">
        <div>
            <div class="lds-css ng-scope">
                <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
            </div>
        </div>
        @*<div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div>*@
    </div>
    <div class="container-fluid equipment_list_container">
        <div class="row">
            <div class="col-md-5 left-items">
                <div class="equipment-search">
                    <div class="input-group add-on">
                        <input class="form-control srch-term-equip"  placeholder="Find an Equipment" @*id="srch-term-equip"*@ type="text">
                        <div class="input-group-btn">
                            <button class="btn btn-default custom-btn green_button" onclick="InventorySearchKeyUp1(1)" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="equipment-list-filter">
                    @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.InventroyFilter))
                    {
                        <button title="Filter" class="btn-filter">
                            <span class="glyphicon glyphicon-filter"></span>
                        </button>

                        <div class="fliter-list">
                            <div class="filter-by-status sub-list">
                                <span>@Localize.T("Status")</span>
                                @Html.DropDownList("ActiveStatus", (List<SelectListItem>)ViewBag.EquipmentActiveStatus, new { @class = "form-control ActiveStatus", id = "ActiveStatus" })
                            </div>
                            <div class="filter-by-equipmentClass sub-list">
                                <span>@Localize.T("Type")</span>
                                @Html.DropDownList("EquipmentClass", (List<SelectListItem>)ViewBag.EquipmentClassTypeList, new { @class = "form-control EquipmentClass", id = "EquipmentClass" })
                            </div>
                            <div class="filter-by-equipmentType sub-list">
                                <span>@Localize.T("Category")</span>
                                @Html.DropDownList("EquipmentCategory", (List<SelectListItem>)ViewBag.EquipmentTypeList, new { @class = "form-control EquipmentCategory", id = "EquipmentCategory" })
                            </div>
                            <div class="filter-by-stock-status sub-list">
                                <span>@Localize.T("Stock Status")</span>
                                @Html.DropDownList("StockStatus", (List<SelectListItem>)ViewBag.StockStatus, new { @class = "form-control StockStatus", id = "StockStatus" })
                            </div>

                            <div class="sub-list-btn">
                                <button class="btn-reset-filter">
                                    <i class="fa fa-refresh" aria-hidden="true"></i> @Localize.T("Reset")
                                </button>
                                <button class="btn-apply-filter">
                                    <i class="fa fa-check" aria-hidden="true"></i>  @Localize.T("Apply")
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-7 custom-icon right-items">
                <button style="border: none; background: #fff;"><i class="fa fa-print cus-print" aria-hidden="true"></i></button>
                <button style="border: none; background: #fff;"><i class="fa fa-file-excel-o cus-cecel" aria-hidden="true" id="EquipmentReport"></i></button>

                <button data-toggle="dropdown" style="border: none;background: #fff;"><i class="fa fa-cog cus-setting" aria-hidden="true"></i></button>
                <ul class="dropdown-menu custom_column_dropdown" style="left:450px;right:15px;">
                    <li class="equipment-grid-col"><a href="javascript:void(0)">@Localize.T("Customize columns")</a></li>
                </ul>
                @*<a href="javascript:void(0)"><i class="fa fa-print cus-print" aria-hidden="true"></i></a>
    <a href="javascript:void(0)"><i class="fa fa-file-excel-o cus-cecel" aria-hidden="true"></i></a>
    <a href="javascript:void(0)"><i class="fa fa-cog cus-setting" aria-hidden="true"></i></a>*@
            </div>
        </div>
    </div>
    <div>
        <div class="filter-inventory-equipmentsBranch">

        </div>

    </div>
</div>

<div class="add-equipment-background">

</div>

<div class="add-equipment-div">
    <div class="header-div">
        <button class="close-btn-add-equipment"><span class="fa fa-close close-class"></span></button>
    </div>

    <div class="add-equipment-contents header_back">
        <h3>@Localize.T("Equipment/Service Information")</h3>
        <div class="custom-sub-hearder">
            @Localize.T("Select a type")
        </div>
    </div>

    <div class="equipment-content-container">
        <div class="equipment-contents" id="AddInventoryEquipment">
            <div class="width-30p">
                <span class="type-icon">
                    <img class="padding-15p" src="~/Content/img/inventory.png" />
                </span>
            </div>
            <div class="width-70p">
                <div class="equipment-title">
                    @Localize.T("Equipment")
                </div>
                <div class="equipment-subtitle">
                    @Localize.T("Equipment you buy and/or sell and that you track quantities of.")
                </div>
            </div>
        </div>
        <div class="equipment-contents" id="AddService">
            <div class="width-30p">
                <span class="type-icon">
                    <img class="padding-15p" src="~/Content/img/service.png" />
                </span>
            </div>
            <div class="width-70p">
                <div class="equipment-title">
                    @Localize.T("Service")
                </div>
                <div class="equipment-subtitle">
                    @Localize.T("Services that you provide to customers, for example, landscaping or tax preparation services..")
                </div>
            </div>
        </div>
        <div class="equipment-contents" id="AddBundle">
            <div class="width-30p">
                <span class="type-icon">
                    <img class="padding-15p" src="~/Content/img/Bundle.png" />
                </span>
            </div>
            <div class="width-70p">
                <div class="equipment-title">
                    @Localize.T("Bundle")
                </div>
                <div class="equipment-subtitle">
                    @Localize.T("Services that you provide to customers, for example, landscaping or tax preparation services..")
                </div>
            </div>
        </div>
    </div>
</div>

<div class="add-equipment-inventory">

</div>

<div class="add-service">

</div>

<div class="add-bundle">

</div>

<div class="adjust-quantity-background">

</div>

<div class="adjust-quantity">

</div>

<div class="adjust-starting-value">

</div>

