@*@model List<HS.Entities.Equipment>*@

@model HS.Entities.EquipmentListWithCountModel
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using UserTypes = HS.Web.UI.Helper.LabelHelper.UserTypes
@using AppConfig = HS.Framework.Utils.AppConfig; 

@{
    int Count = 1;
    var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;

}

@Styles.Render("~/styles/EquipmentList")

<script src="~/Content/Js/FilteredEquipmentList/FilteredEquipmentList.js"></script>
<link href="~/Content/Css/Equipment/FilteredEquipmentList.css" rel="stylesheet" />
<link href="~/Content/Css/Equipment/FilteredEquipmentListCustom.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        var customerreportpopwinowwith = 600;
        var customerreportpopwinowheight = 510;
        var customerprintpopwinowwith = 920;
        var customerprintpopwinowheight = 600;

        if (Device.MobileGadget()) {
            customerreportpopwinowwith = window.innerWidth;
            customerreportpopwinowheight = window.innerHeight;
            customerprintpopwinowwith = window.innerWidth;
            customerprintpopwinowheight = window.innerHeight;
        }
        var idlist = [{ id: ".ExportEquipmentReport", type: 'iframe', width: customerreportpopwinowwith, height: customerreportpopwinowheight }];
        jQuery.each(idlist, function (i, val) {
            magnificPopupObj(val);
        });
        $("#EquipmentReport").click(function () {
            var selectedID = [];
            var checkboxs = $('.Export_excel_equipment');
            for (var i = 0; i < checkboxs.length; i++) {
                selectedID.push(parseInt($(checkboxs[i]).attr('data-id')));
            }
            var ColumnName = "";
            $('.eq').each(function () {
                if ($(this).attr('data-info') != "" && $(this).attr('data-info') != undefined && $(this).attr('data-info') != null) {
                    ColumnName += $(this).attr('data-info').trim() + "," + $(this).text().trim() + "-";
                }
            });
            $(".ExportEquipmentReport").attr('href', domainurl + "/Reports/ExportConfirm/?ColumnName=" + ColumnName + "&Ids=" + selectedID + "&ReportFor=Equipment");
            $(".ExportEquipmentReport").click();
        });
    })
</script>
<div class="custom-table fql_container">
    <table class="display" id="tbleq_filter">
        <thead class="table-head-border fil_eqi_list_header">
            <tr>

                @foreach (var item in (List<HS.Entities.GridSetting>)ViewBag.InventoryGridSettings)
                {
                    if (item.SelectedColumn.Trim() == "Category")
                    {
                        if (ViewBag.order == "ascending/category" || ViewBag.order == "descending/category")
                        {
                            <th class="eq th_timeclock" data-info="Name">
                                @Localize.T("Category")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/category"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/category"></i>
                            </th>
                        }
                        else
                        {
                            <th class="eq th_timeclock_pre" data-info="Name">
                                @Localize.T("Category")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/category"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/category"></i>
                            </th>
                        }

                    }
                    else if (item.SelectedColumn == "Manufacturer")
                    {
                        if (ViewBag.order == "ascending/manu" || ViewBag.order == "descending/manu")
                        {
                            <th class="eq th_timeclock" data-info="SKU">
                                @Localize.T("Manufacturer")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/manu"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/manu"></i>
                            </th>
                        }
                        else
                        {
                            <th class="eq th_timeclock_pre" data-info="SKU">
                                @Localize.T("Manufacturer")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/manu"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/manu"></i>
                            </th>
                        }

                    }
                    else if (item.SelectedColumn == "Description")
                    {
                        if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                        {
                            <th class="th_timeclock">
                                @Localize.T("Description")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/des"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/des"></i>
                            </th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre">
                                @Localize.T("Description")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/des"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/des"></i>
                            </th>
                        }

                    }
                    else if (item.SelectedColumn == "SKU")
                    {
                        if (ViewBag.order == "ascending/sku" || ViewBag.order == "descending/sku")
                        {
                            <th class="th_timeclock">
                                @Localize.T("SKU")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/sku"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/sku"></i>
                            </th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre">
                                @Localize.T("SKU")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/sku"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/sku"></i>
                            </th>
                        }

                    }
                    else if (item.SelectedColumn == "Primary Vendor")
                    {
                        if (ViewBag.order == "ascending/vendor" || ViewBag.order == "descending/vendor")
                        {
                            <th class="eq th_timeclock" data-info="Retail Price">
                                @Localize.T("Vendor")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/vendor"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/vendor"></i>
                            </th>
                        }
                        else
                        {
                            <th class="eq th_timeclock_pre" data-info="Retail Price">
                                @Localize.T("Vendor")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/vendor"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/vendor"></i>
                            </th>
                        }

                    }
                    else if (item.SelectedColumn == "Primary Vendor Cost")
                    {
                        if (ViewBag.order == "ascending/vendorcost" || ViewBag.order == "descending/vendorcost")
                        {
                            <th class="eq th_timeclock" data-info="Wholesale">
                                @Localize.T("Vendor Cost")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/vendorcost"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/vendorcost"></i>
                            </th>
                        }
                        else
                        {
                            <th class="eq th_timeclock_pre" data-info="Wholesale">
                                @Localize.T("Vendor Cost")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/vendorcost"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/vendorcost"></i>
                            </th>
                        }

                    }
                    else if (item.SelectedColumn == "Type")
                    {
                        if (ViewBag.order == "ascending/type" || ViewBag.order == "descending/type")
                        {
                            <th class="eq th_timeclock" data-info="Retail Price">
                                @Localize.T("Type")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/type"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/type"></i>
                            </th>
                        }
                        else
                        {
                            <th class="eq th_timeclock_pre" data-info="Retail Price">
                                @Localize.T("Type")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/type"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/type"></i>
                            </th>
                        }

                    }
                    else if (item.SelectedColumn == "On Hand Qty")
                    {
                        if (ViewBag.order == "ascending/qty" || ViewBag.order == "descending/qty")
                        {
                            <th class="eq th_timeclock" data-info="Wholesale">
                                @Localize.T("Qty")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/qty"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/qty"></i>
                            </th>
                        }
                        else
                        {
                            <th class="eq th_timeclock_pre" data-info="Wholesale">
                                @Localize.T("Qty")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/qty"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/qty"></i>
                            </th>
                        }

                    }
                    else if (item.SelectedColumn == "Rack-Bin Number")
                    {
                        if (ViewBag.order == "ascending/rack" || ViewBag.order == "descending/rack")
                        {
                            <th class="eq th_timeclock" data-info="Retail Price">
                                @Localize.T("Rack-Bin")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/rack"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/rack"></i>
                            </th>
                        }
                        else
                        {
                            <th class="eq th_timeclock_pre" data-info="Retail Price">
                                @Localize.T("Rack-Bin")
                                <i class="fa fa-angle-up icon_sort_eq" style="float:right; cursor:pointer;" data-val="ascending/rack"></i><br /><i class="fa fa-angle-down icon_sort_eq" style="float:right;cursor:pointer;" data-val="descending/rack"></i>
                            </th>
                        }

                    }

                }
            </tr>
        </thead>

        @foreach (var item in Model.EquipmentList)
        {
            <tr class="tr-style @(Count%2==0?"even-row-style":"") Export_excel_equipment" data-id="@item.Id">


                @foreach (var setting in (List<HS.Entities.GridSetting>)ViewBag.InventoryGridSettings)
                {
                    if (setting.SelectedColumn.Trim() == "Category")
                    {
                        <td class="table-body-td-style fil_equip_list_row" valign="top">
                            <label class="mobile_header_fil_equip_list">@Localize.T("Category")</label>
                            @if (string.IsNullOrWhiteSpace(item.Category))
                        {
                                <a href="@(AppConfig.DomainSitePath)/Inventory/EquipmentDetail/@item.Id" class="mobile_info_fil_equip_list cus-anchor">@Localize.T("-")</a>
                                <span class="equip-delete" data-id="@item.Id" style="cursor:pointer;float:right;" title="@Localize.T("Delete")"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                            }
                            else
                            {
                                <a href="@(AppConfig.DomainSitePath)/Inventory/EquipmentDetail/@item.Id" class="inventory-edit-name mobile_info_fil_equip_list cus-anchor" data-id="@item.EquipmentClassId" idval="@item.Id">@item.Category</a>
                                <span class="equip-delete" data-id="@item.Id" style="cursor:pointer;float:right;" title="@Localize.T("Delete")"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                            }

                        </td>
                    }
                    else if (setting.SelectedColumn == "Manufacturer")
                    {
                        <td class="table-body-td-style fil_equip_list_row" valign="top">
                            <label class="mobile_header_fil_equip_list">@Localize.T("Manufacturer")</label>
                            @if (item.ManufacturerName == "")
                            {
                                <span class="mobile_info_fil_equip_list">@Localize.T("-")</span>
                            }
                            else
                            {
                                <span class="mobile_info_fil_equip_list">@item.ManufacturerName </span>
                            }

                        </td>
                    }
                    else if (setting.SelectedColumn == "Description")
                    {
                        <td class="table-body-td-style fil_equip_list_row" valign="top">
                            <label class="mobile_header_fil_equip_list">@Localize.T("Description")</label>
                            @if (string.IsNullOrWhiteSpace(item.Name))
                            {
                                <a href="@(AppConfig.DomainSitePath)/Inventory/EquipmentDetail/@item.Id" class="mobile_info_fil_equip_list cus-anchor">@Localize.T("-")</a>
                                @*<span class="equip-delete" data-id="@item.Id" style="color:#2ca01c;cursor:pointer;float:right;"><i class="fa fa-trash-o" aria-hidden="true"></i></span>*@
                            }
                            else
                            {
                                <a href="@(AppConfig.DomainSitePath)/Inventory/EquipmentDetail/@item.Id" class="inventory-edit-name mobile_info_fil_equip_list cus-anchor" data-id="@item.EquipmentClassId" idval="@item.Id">@item.Name</a>
                                @*<span class="equip-delete" data-id="@item.Id" style="color:#2ca01c;cursor:pointer;float:right;"><i class="fa fa-trash-o" aria-hidden="true"></i></span>*@
                            }

                        </td>
                    }
                    else if (setting.SelectedColumn == "SKU")
                    {
                        <td class="table-body-td-style fil_equip_list_row" valign="top">
                            <label class="mobile_header_fil_equip_list">@Localize.T("SKU")</label>
                            @if (item.SKU == "")
                            {
                                <span class="mobile_info_fil_equip_list">@Localize.T("-")</span>
                            }
                            else
                            {
                                <span class="mobile_info_fil_equip_list">@item.SKU </span>
                            }
                        </td>
                    }
                    else if (setting.SelectedColumn == "Primary Vendor")
                    {
                        <td class="table-body-td-style fil_equip_list_row" valign="top">
                            <label class="mobile_header_fil_equip_list">@Localize.T("Primary Vendor")</label>
                            @if (item.SupplierName == "")
                            {
                                <span class="mobile_info_fil_equip_list">@Localize.T("-")</span>
                            }
                            else
                            {
                                <span class="mobile_info_fil_equip_list">@item.SupplierName </span>
                            }

                        </td>
                    }
                    else if (setting.SelectedColumn == "Primary Vendor Cost")
                    {
                        <td class="table-body-td-style fil_equip_list_row" valign="top">
                            <label class="mobile_header_fil_equip_list">@Localize.T("Primary Vendor Cost")</label>
                            @if (item.SupplierCost <= 0)
                            {
                                <span class="mobile_info_fil_equip_list">$00.00</span>
                            }
                            else
                            {
                                <span class="mobile_info_fil_equip_list">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.SupplierCost.Value) </span>
                            }

                        </td>
                    }
                    else if (setting.SelectedColumn == "Type")
                    {

                        <td class="table-body-td-style fil_equip_list_row" valign="top">
                            <label class="mobile_header_fil_equip_list">@Localize.T("Type")</label>
                            @if (item.EquipmentClassId == 1)
                            {
                                <span class="mobile_info_fil_equip_list">Equipment</span>
                            }
                            else if (item.EquipmentClassId == 2)
                            {
                                <span class="mobile_info_fil_equip_list">Service</span>
                            }

                        </td>
                    }
                    else if (setting.SelectedColumn == "On Hand Qty")
                    {
                        <td class="table-body-td-style fil_equip_list_row" valign="top">
                            <label class="mobile_header_fil_equip_list">@Localize.T("On Hand Qty")</label>
                            @if (item.QtyOnHand == 0)
                            {
                                <span class="stock-out-span mobile_info_fil_equip_list">@item.QtyOnHand </span>
                            }
                            else if (item.QtyOnHand <= item.reorderpoint)
                            {
                                <span class="stock-low-span mobile_info_fil_equip_list">@item.QtyOnHand </span>
                            }
                            @*else if (item.QtyOnHand <= 0)
                                {
                                    <span class="stock-out-span">@item.QtyOnHand </span>
                                }*@
                            else
                            {
                                <span class="mobile_info_fil_equip_list">@item.QtyOnHand </span>
                            }
                        </td>
                    }
                    else if (setting.SelectedColumn == "Rack-Bin Number")
                    {
                        <td class="table-body-td-style fil_equip_list_row" valign="top">
                            <label class="mobile_header_fil_equip_list">@Localize.T("Rack-Bin Number")</label>
                            @if (string.IsNullOrEmpty(item.RackNo))
                            {
                                <span class="stock-out-span mobile_info_fil_equip_list">@Localize.T("-")</span>
                            }
                            else
                            {
                                <span class="mobile_info_fil_equip_list">@item.RackNo </span>
                            }

                        </td>
                    }
                }
            </tr>

            Count++;
        }
    </table>
</div>


<div class="AgentListPagination">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
            {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
            {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="InventorySearchKeyUp(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="InventorySearchKeyUp(2)">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="InventorySearchKeyUp(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="InventorySearchKeyUp(2)">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="InventorySearchKeyUp(3)">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="EquipmentSearchKeyUp(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber-2))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="InventorySearchKeyUp()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber+1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber-1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber-1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="InventorySearchKeyUp(@(ViewBag.PageNumber+1))">Next</button>
                </div>
            }
        }
    </div>
</div>


@*<div class="custom-pager hidden">
        <ul class="pager">
            <li><a href="javascript:void(0)">@Localize.T("Previous")</a></li>
            <li><a href="javascript:void(0)">@Localize.T("Next")</a></li>
        </ul>
    </div>*@
<div class="hidden" style="display:none;">
    <a href="" class="ExportEquipmentReport"></a>
</div>

