@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<style>
    .row_style{
        margin-top:10px;
    }
    .btnPO{
        background-color:#2ca01c;
        color:white;
    }
</style>
<script>
    var POTable = $('#tblPO').DataTable({
        "pageLength": DataTablePageSize,
        "destroy": true,
        "language": {
            "emptyTable": "No data available"
        }
    });
    $(document).ready(function () {
        $("#AddNewPO").click(function () {
            OpenTopToBottomModal(domainurl + "/Inventory/AddPurchaseOrder?id=0");
        })
       

    })
</script>

<div class="row row_style">
    <div class="col-md-3">
        <input class="form-control" type="text" placeholder="Search" />
    </div>
    
    <div class="col-md-9">
        <button class="btn btnPO" id="AddNewPO" style="float:right;"><i class="fa fa-plus"></i> @Localize.T("New")</button>
    </div>
</div>
<div class="PurchaseOrderTable">
    <table id="tblPO">
        <thead class="table-head-border">
            <tr>
                <th class="thead-th-style">@Localize.T("Purchase Id")</th>
                <th class="thead-th-style">@Localize.T("Supplier Name")</th>
                <th class="thead-th-style">@Localize.T("Total Amount")</th>
                <th class="thead-th-style">@Localize.T("Order Date")</th>
                <th class="thead-th-style">@Localize.T("Actions")</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

