@*@model List<HS.Entities.Equipment>*@
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

@Styles.Render("~/styles/EquipmentList")
@Styles.Render("~/styles/Inventory")
@Scripts.Render("~/scripts/EquipmentList")

@*@Styles.Render("~/styles/DataTableBundles")
    @Scripts.Render("~/scripts/DataTableBundles")*@
<script>
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var InventorySearchKeyUp = function (pageNumber, order) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
        if (order == "" || order == undefined) {
            order = $("#SortingVal").val();
        }
        var ActiveStatus = $(".ActiveStatus").val();
        var EquipmentClass = $(".EquipmentClass").val();
        var EquipmentCategory = $(".EquipmentCategory").val();
        var StockStatus = $(".StockStatus").val();
        var searchtext = encodeURI($(".srch-term-equip").val());
        $(".filter-inventory-equipments").html(TabsLoaderText);
        $(".filter-inventory-equipments").load(domainurl + "/Inventory/FilterServiceListPartial?ActiveStatus=" + ActiveStatus + "&EquipmentClass=" + EquipmentClass + "&EquipmentCategory=" + EquipmentCategory + "&StockStatus=" + StockStatus + "&PageNo=" + pageNumber + "&SearchText=" + searchtext + "&order=" + order);
    }
    var InventorySearchKeyUp1 = function (pageNumber, order) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
        if (order == "" || order == undefined) {
            order = $("#SortingVal").val();
        }
        var ActiveStatus = $(".ActiveStatus").val();
        var EquipmentClass = $(".EquipmentClass").val();
        var EquipmentCategory = $(".EquipmentCategory").val();
        var StockStatus = $(".StockStatus").val();
        var searchtext = encodeURI($(".srch-term-equip").val());
        $(".filter-inventory-equipments").html(TabsLoaderText);
        $(".filter-inventory-equipments").load(domainurl + "/Inventory/FilterServiceListPartial?ActiveStatus=" + ActiveStatus + "&EquipmentClass=" + EquipmentClass + "&EquipmentCategory=" + EquipmentCategory + "&StockStatus=" + StockStatus + "&PageNo=" + pageNumber + "&SearchText=" + searchtext + "&order=" + order);
    }

    $(document).ready(function () {
        if (IsServiceFilterCookie) {
            if (typeof $.cookie('FilterServiceData') != 'undefined') {
                var FilterInventoryData = $.parseJSON($.cookie("FilterServiceData"));
                if (FilterInventoryData != null)
                {
                    $(".eqpService").val(FilterInventoryData.SearchBox);
                    $("#ActiveStatus").val(FilterInventoryData.ActiveStatus);
                    $("#EquipmentCategory").val(FilterInventoryData.EquipmentCategory);
                    $("#StockStatus").val(FilterInventoryData.StockStatus);
                    $("#SortingVal").val(FilterInventoryData.SortingVal);
                }
            }
        }
        $(".LoaderWorkingDiv").hide();
        parent.$('.close').click(function () {
            parent.$(".modal-body").html('');
        })
        InventorySearchKeyUp(1);
        $(".btn-filter").click(function () {
            $(".fliter-list").toggle();
        });
        $(".eqpService").keydown(function (e) {
            if (e.which == 13) {
                InventorySearchKeyUp1(1, null);
            }
        });
        $(".btn-apply-filter").click(function () {
            InventorySearchKeyUp(1);
            $(".fliter-list").hide();
        })
        $(".equipment-grid-col").click(function () {
            OpenRightToLeftModal(domainurl + "/Inventory/InventoryGridSettings");
        });
    });
</script>

<style>
    .home_page_header{
        font-size:24px;
    }
    .inventory_right_container {
        padding: 0px !important;
    }
    .equipment-search {
        float: left;
        padding-right: 10px;
        width: 80%;
    }

    .equipment-list-filter {
        float: left;
    }

    .fliter-list {
        display: none;
        position: absolute;
        background: #fff;
        border: 2px solid #ddd;
        z-index: 999;
        padding: 5px;
        width: 290px;
    }

    .left-items {
        left: 0;
    }

    .right-items {
        right: 0;
    }

    /*.equipment-list-filter button {
        border: none;
        background: transparent;
        height: 35px;
        font-size: 24px;
    }*/

    .sub-list {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
    }

        .sub-list span {
            font-weight: 600;
            display: block;
            padding-bottom: 2px;
        }

    .sub-list-btn {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .btn-reset-filter {
        border: none;
        background: #ddd !important;
        height: 35px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        font-size: 14px !important;
        font-weight: 600 !important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .btn-apply-filter {
        border: none;
        background: #2ca01c !important;
        height: 35px;
        padding-left: 15px;
        padding-right: 15px;
        float: right;
        font-size: 14px !important;
        font-weight: 600 !important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
</style>

<div class="container-fluid">
    <div class="home_page_header">
        @Localize.T("Services")
    </div>
    <div class="header-content">
        
        <div class="stock-status-partial-view-div">

        </div>
        <div class="ListViewLoader">
            <div>
                <div class="lds-css ng-scope">
                    <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
                </div>
            </div>
            @*<div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div>*@
        </div>
        <div class="equipment_list_container">
            <input type="hidden" id="SortingVal" value="" />
            <div class="service_list_searchdiv">
                <div class="service_list_searchbar">

                    <div class="input-group add-on">
                        <input class="form-control srch-term-equip eqpService" placeholder="Find an Equipment" @*id="srch-term-equip"*@ type="text">
                        <div class="input-group-btn">
                            <button class="btn btn-default custom-btn green_button" onclick="InventorySearchKeyUp1(1, null)" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>


                    @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.InventroyFilter))
                    {
                        <div class="equipment-list-filter">
                            <button class="btn btn-filter service_list_filter" title="@Localize.T("Filter")">
                                <span title="Filter" class="glyphicon glyphicon-filter"></span>
                            </button>

                            <div class="fliter-list">
                                <div class="filter-by-status sub-list">
                                    <span>@Localize.T("Status")</span>
                                    @Html.DropDownList("ActiveStatus", (List<SelectListItem>)ViewBag.EquipmentActiveStatus, new { @class = "form-control ActiveStatus", id = "ActiveStatus" })
                                </div>
                                <div class="filter-by-equipmentType sub-list">
                                    <span>@Localize.T("Category")</span>
                                    @Html.DropDownList("EquipmentCategory", (List<SelectListItem>)ViewBag.EquipmentTypeList, new { @class = "form-control EquipmentCategory", id = "EquipmentCategory" })
                                </div>
                                <div class="filter-by-stock-status sub-list">
                                    <span>@Localize.T("Stock Status")</span>
                                    @Html.DropDownList("StockStatus", (List<SelectListItem>)ViewBag.StockStatus, new { @class = "form-control StockStatus", id = "StockStatus" })
                                </div>

                                <div class="sub-list-btn">
                                    <button class="btn-reset-filter">
                                        <i class="fa fa-refresh" aria-hidden="true"></i> @Localize.T("Reset")
                                    </button>
                                    <button class="btn-apply-filter">
                                        <i class="fa fa-check" aria-hidden="true"></i>  @Localize.T("Apply")
                                    </button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
               
                    <div class="AddNewBtnDiv">
                        <div class="btn-group">
                            <button class="btn equipment-new" id="AddNewService" type="button"> @Localize.T("New Service")</button>
                            <button data-toggle="dropdown" class="btn dropdown-toggle eqipment-btn-dropdown" type="button">
                                <span class="caret "></span>
                            </button>
                          
                        </div>

                    </div>
                   
                   
            </div>
        </div>
        <div>
            <div class="filter-inventory-equipments">

            </div>

        </div>
    </div>
</div>


<div class="add-equipment-background">

</div>

<div class="add-equipment-div">
    <div class="header-div">
        <button class="close-btn-add-equipment"><span class="fa fa-close close-class"></span></button>
    </div>

    <div class="add-equipment-contents header_back">
        <h3>@Localize.T("Equipment/Service Information")</h3>
        <div class="custom-sub-hearder">
            @Localize.T("Select a type")
        </div>
    </div>

    <div class="equipment-content-container">
        <div class="equipment-contents" id="AddInventoryEquipment">
            <div class="width-30p">
                <span class="type-icon">
                    <img class="padding-15p" src="~/Content/img/inventory.png" />
                </span>
            </div>
            <div class="width-70p">
                <div class="equipment-title">
                    @Localize.T("Equipment")
                </div>
                <div class="equipment-subtitle">
                    @Localize.T("Equipment you buy and/or sell and that you track quantities of.")
                </div>
            </div>
        </div>
        <div class="equipment-contents" id="AddService">
            <div class="width-30p">
                <span class="type-icon">
                    <img class="padding-15p" src="~/Content/img/service.png" />
                </span>
            </div>
            <div class="width-70p">
                <div class="equipment-title">
                    @Localize.T("Service")
                </div>
                <div class="equipment-subtitle">
                    @Localize.T("Services that you provide to customers, for example, landscaping or tax preparation services..")
                </div>
            </div>
        </div>
        <div class="equipment-contents" id="AddBundle">
            <div class="width-30p">
                <span class="type-icon">
                    <img class="padding-15p" src="~/Content/img/Bundle.png" />
                </span>
            </div>
            <div class="width-70p">
                <div class="equipment-title">
                    @Localize.T("Bundle")
                </div>
                <div class="equipment-subtitle">
                    @Localize.T("Services that you provide to customers, for example, landscaping or tax preparation services..")
                </div>
            </div>
        </div>
    </div>
</div>

<div class="add-equipment-inventory">

</div>

<div class="add-service">

</div>

<div class="add-bundle">

</div>

<div class="adjust-quantity-background">

</div>

<div class="adjust-quantity">

</div>

<div class="adjust-starting-value">

</div>
