@model HS.Entities.StockStatus
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

@Styles.Render("~/styles/StockStatusPartialView")
@Scripts.Render("~/scripts/StockStatusPartialView")


<div class="row stock_margin">
    <div class="col-md-12">
        <div class="stock-show-div">
            <div class="stock-show-contents">
                @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.InventorySummary))
                {
                    <div class="stock-out-content float-right">
                        <div class="col-lg-8 col-md-8 border-left">
                            <div class="image-container stock-out-img">
                                <img src="~/Content/img/stock-out.png" />
                            </div>
                            <div class="stock-status">
                                <div class="filter-section">
                                    <div class="stock-count stock-out-color">@Model.OutOfStockQuantity</div>
                                    <div class="filter-text">@Localize.T("Out Of stock")</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="stock-low-content float-left">
                        <div class="col-lg-8 col-md-8 float-right border-right">
                            <div class="image-container stock-low-img">
                                <img src="~/Content/img/stock-low.png" />
                            </div>
                            <div class="stock-status">
                                <div class="filter-section">
                                    <div class="stock-count stock-low-color">@Model.LowStockQuantity</div>
                                    <div class="filter-text">@Localize.T("Low stock")</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>
</div>
