@{
    Layout = null;
}
@model List<HS.Entities.Employee>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Inventory/TechnicianListInventoryPartial.css" rel="stylesheet" />

<script>
    var LoaderAnimation = "<div class='ListViewLoader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var UserId="";
    var LoadTechnicianInventoryDetailsAll = function () {
        $(".ListContentsTechAll").html(LoaderAnimation);
        $(".ListContentsTechAll").load(domainurl + "/Inventory/TechEquipmentsListPartial");
    }
    var LoadTechnicianInventoryDetailsOwn = function () {
        $(".ListContentsTechOwn").html(LoaderAnimation);
        $(".ListContentsTechOwn").load(domainurl + "/Inventory/TechEquipmentsListPartial");
    }
    var FixDetailDivWidth = function () {
        var width = $(".width-100per").width() - 317;
        $(".individualTechnicianDetail").width(width);
    }
    $(document).ready(function () {
        FixDetailDivWidth();
        $(".technicianListContent").click(function () {
            $(".technicianListContent").each(function () {
                $(this).removeClass("activetechlist");
            });
            $(this).addClass("activetechlist");
            UserId = $(this).attr('idval');
            FixDetailDivWidth();
            LoadTechnicianInventoryDetailsOwn();
        });
        LoadTechnicianInventoryDetailsAll();
        $(".AddTechnician").click(function () {
            LoadUserMgmt();
        })
        $(window).resize(function () {
            FixDetailDivWidth();
        });
    });
</script>
<div class="TechnicianListInventoryPartial_container TechnicianListInventoryPartial_container_custom">
    <div class="technicianList">
        <div class="technicianListHeader">
            <div class="techListTitle">@Localize.T("Technician List")</div>
        </div>

        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <div class="technicianListContent" idval="@item.UserId">
                    <div>@item.FirstName @item.LastName</div>
                    <div>@Localize.T("Email : ") @item.Email</div>
                </div>
            }
        }

        else
        {
            <div class="NoInventoryDiv">
                <a class="AddTechnician">@Localize.T("No technician found. Please add technician")</a>
            </div>

        }
    </div>

    <div class="ListContentsTechOwn">

    </div>
</div>