@*@model List<HS.Entities.Equipment>*@
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

@Styles.Render("~/styles/EquipmentList")
@Scripts.Render("~/scripts/EquipmentList")
<link href="~/Content/Css/Inventory/TechEquipmentList.css" rel="stylesheet" />
@*@Styles.Render("~/styles/DataTableBundles")
    @Scripts.Render("~/scripts/DataTableBundles")*@
<script>
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var OpenTechBadInventory = function () {
        $("#TechBadInventoryTab").html(TabsLoaderText);
        $("#TechBadInventoryTab").load(domainurl + "/Inventory/TechBadInventoryPartial?tab=tech");
    }
    var OpenProductHistory = function () {
        $("#TechProductHistoryTab").html(TabsLoaderText);
        $("#TechProductHistoryTab").load(domainurl + "/Inventory/ProductHistory?tab=tech");
    }
    var InventorySearchKeyUp = function (pageNumber, order) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
        var ActiveStatus = $(".ActiveStatus").val();
        var EquipmentClass = $(".EquipmentClass").val();
        var EquipmentCategory = $(".EquipmentCategory").val();
        var StockStatus = $(".StockStatus").val();
        var searchtext = $(".srch-term-equiptech").val();
        $(".filter-inventory-equipmentstech").html(TabsLoaderText);
        $(".filter-inventory-equipmentstech").load(domainurl + "/Inventory/TechFilterEquipmentsListPartial?ActiveStatus=" + ActiveStatus + "&EquipmentClass=" + EquipmentClass + "&EquipmentCategory=" + EquipmentCategory + "&StockStatus=" + StockStatus + "&PageNo=" + pageNumber + "&SearchText=" + encodeURI(searchtext) + "&UserId=" + UserId + "&order=" + order);
    }
    var InventorySearchKeyUp1 = function (pageNumber, order) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
        var ActiveStatus = $(".ActiveStatus").val();
        var EquipmentClass = $(".EquipmentClass").val();
        var EquipmentCategory = $(".EquipmentCategory").val();
        var StockStatus = $(".StockStatus").val();
        var searchtext = $(".srch-term-equiptech").val();
        $(".filter-inventory-equipmentstech").html(TabsLoaderText);
        $(".filter-inventory-equipmentstech").load(domainurl + "/Inventory/TechFilterEquipmentsListPartial?ActiveStatus=" + ActiveStatus + "&EquipmentClass=" + EquipmentClass + "&EquipmentCategory=" + EquipmentCategory + "&StockStatus=" + StockStatus + "&PageNo=" + pageNumber + "&SearchText=" + encodeURI(searchtext) + "&UserId=" + UserId + "&order=" + order);
    }

    $(document).ready(function () {
        parent.$('.close').click(function () {
            parent.$(".modal-body").html('');
        })
        InventorySearchKeyUp(1, "");
        $(".btn-filter").click(function () {
            $(".fliter-list").toggle();
        });
        $(".srch-term-equiptech").keydown(function (e) {
            if (e.which == 13) {
                InventorySearchKeyUp(1, "");
            }
        });
        $(".btn-apply-filter").click(function () {
            InventorySearchKeyUp(1, "");
            $(".fliter-list").hide();
        });
        $("#btnTechEqpListDownload").click(function () {
            var ActiveStatus = $("#ActiveStatus").val();
            var EquipmentClass = $(".EquipmentClass").val();
            var EquipmentCategory = $(".EquipmentCategory").val();
            var StockStatus = $(".StockStatus").val();
            var searchtext = $(".srch-term-equiptech").val();
            window.location.href = domainurl + "/Inventory/TechFilterEquipmentsListPartial?ActiveStatus=" + ActiveStatus + "&GetReport=true&EquipmentClass=" + EquipmentClass + "&EquipmentCategory=" + EquipmentCategory + "&StockStatus=" + StockStatus + "&SearchText=" + encodeURI(searchtext) + "&UserId=" + UserId;
        });
        $(".equipment-grid-col").click(function () {
            OpenRightToLeftModal(domainurl + "/Inventory/InventoryGridSettings");
        });
        $("#TransferFromTechnician").click(function () {
            var selectedTransferIdList = "";
            $(".ChkSelectEquipment").each(function () {
                if ($(this).prop("checked") == true) {
                    selectedTransferIdList += $(this).attr("equipmentid") + ',';
                }
            });
            if (selectedTransferIdList=="") {
                OpenErrorMessageNew("Error!!", "Please select at least one equipment.");
            }
            else {
                selectedTransferIdList = selectedTransferIdList.slice(0, -1);
                OpenRightToLeftModal("Inventory/TransferFromTechnician/?Equipmentidlist=" + selectedTransferIdList + "&technicianId=" + UserId);
            }
        });
    });
</script>

<ul class="nav nav-tabs" id="InventoryTechTab">
    <li class="active" id="TechInventoryTabli">
        <a data-target="#TechInventoryTab" data-toggle="tab">@Localize.T("Inventory")</a>
    </li>
    <li id="TechBadInventoryTabli">
        <a onclick="OpenTechBadInventory()" data-target="#TechBadInventoryTab" data-toggle="tab">@Localize.T("Bad Inventory")</a>
    </li>
    <li id="TechProductHistoryTabli">
        <a onclick="OpenProductHistory()" data-target="#TechProductHistoryTab" data-toggle="tab">@Localize.T("Product History")</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="TechInventoryTab">
        <div class="header-content">
            <div class="stock-status-partial-view-div">

            </div>
            <div class="ListViewLoader">
                <div>
                    <div class="lds-css ng-scope">
                        <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
                    </div>
                </div>
                @*<div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div>*@
            </div>
            <div class="container-fluid equipment_list_container">
                <div class="row">
                    <div class="col-md-12 tech_equipment_search_bar">

                        <div class="input-group add-on">
                            <input class="form-control srch-term-equiptech" placeholder="Find an Equipment" @*id="srch-term-equip"*@ type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-default custom-btn green_button" onclick="InventorySearchKeyUp1(1,null)" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
                            </div>

                        </div>
                          @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.TechDropDownEditable))
                           {
                             <span class="btn green_button" id="TransferFromTechnician">
                                <i class="fa fa-exchange" aria-hidden="true" title="Transfer"></i>
                             </span>
                           }
                        <div class="te_filter_div">
                            @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.InventroyFilter))
                            {
                                <button class="btn green_button btn-filter" title="@Localize.T("Filter")">
                                    <span class="glyphicon glyphicon-filter"></span>
                                </button>

                                <div class="fliter-list">
                                    <div class="filter-by-status sub-list">
                                        <span>@Localize.T("Status")</span>
                                        @Html.DropDownList("ActiveStatus", (List<SelectListItem>)ViewBag.EquipmentActiveStatus, new { @class = "form-control ActiveStatus", id = "ActiveStatus" })
                                    </div>
                                    <div class="filter-by-equipmentClass sub-list hidden">
                                        <span>@Localize.T("Type")</span>
                                        @Html.DropDownList("EquipmentClass", (List<SelectListItem>)ViewBag.EquipmentClassTypeList, new { @class = "form-control EquipmentClass", id = "EquipmentClass" })
                                    </div>
                                    <div class="filter-by-equipmentType sub-list">
                                        <span>@Localize.T("Category")</span>
                                        @Html.DropDownList("EquipmentCategory", (List<SelectListItem>)ViewBag.EquipmentTypeList, new { @class = "form-control EquipmentCategory", id = "EquipmentCategory" })
                                    </div>
                                    <div class="filter-by-stock-status sub-list">
                                        <span>@Localize.T("Stock Status")</span>
                                        @Html.DropDownList("StockStatus", (List<SelectListItem>)ViewBag.StockStatus, new { @class = "form-control StockStatus", id = "StockStatus" })
                                    </div>

                                    <div class="sub-list-btn">
                                        <button class="btn-reset-filter">
                                            <i class="fa fa-refresh" aria-hidden="true"></i> @Localize.T("Reset")
                                        </button>
                                        <button class="btn-apply-filter">
                                            <i class="fa fa-check" aria-hidden="true"></i>  @Localize.T("Apply")
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>

                        <button title="@Localize.T(" Download")" class="btn btn-primary float-right" id="btnTechEqpListDownload"><i class="fa fa-download"></i></button>

                    </div>
                  
                </div>
            </div>
            <div>
                <div class="filter-inventory-equipmentstech">

                </div>
            </div>
        </div>
    </div>
    <div id="TechBadInventoryTab" class="tab-pane">

    </div>
    <div id="TechProductHistoryTab" class="tab-pane">

    </div>
</div>
