@model HS.Entities.TransferFromTechnicianModel
@{
    Layout = null;
    var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
 <link href="~/Content/Css/Inventory/_TransferFromTechnician.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $("#SaveTransferFromTechnician").click(function () {
            var url = '/Inventory/SaveTransferFromTechnician';
            var param = {
                Equipmentidlist: '@Model.Equipmentidlist',
                TechnicianId: $("#TechnicianId").val(),
                FromTechnicianid: '@Model.Technicianid'
            };
            $.ajax({
                type: "POST",
                ajaxStart: function () { },
                url: url,
                data: JSON.stringify(param),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data.result) {
                        OpenSuccessMessageNew("Success", "", function () {
                            CloseRightToLeftModal();
                            location.reload();
                        });
                    }
                    else {
                        OpenErrorMessageNew("Error", "");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        });
    });
</script>

<div class="tech_receive_header">
    <span>@Localize.T("Assign Inventory Tech")</span>
</div>
<div class="container-fluid tran_from_tech_container">
    <div class="form-group clearfix">
        <label>@Localize.T("Assign Technician")</label>
        @Html.DropDownList("TechnicianId", ViewBag.TechnicianList as List<SelectListItem>, new { @class = "form-control", datarequired = "true" })
    </div>
</div>
<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button id="SaveTransferFromTechnician" type="button" class="btn green_button"><i class="fa fa-floppy-o"></i> @Localize.T("Save")</button>
        </div>
    </footer>
</section>

