@{
    Layout = null;
    var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Css/Inventory/PurchaseOrderPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Inventory/BadInventoryPartial.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>

<link href="~/Content/Select2/select2.css" rel="stylesheet" />

<script src="~/Content/Select2/Select2.min.js"></script>
<script>
    var listSelet = '@Html.Raw(Json.Encode(@ViewBag.selectsts))';
    var EstimatorId = '@ViewBag.EstimatorId';
    listSelet = JSON.parse(listSelet);
    var selectedTechsList = '@Html.Raw(Json.Encode(@ViewBag.selectedTechsList))';
    selectedTechsList = JSON.parse(selectedTechsList);
    var StartDate = $(".min-date").val();
    var EndDate = $(".max-date").val();

    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var OpenWHDetailsByEquipment = function (pagenoTickets, pagenoTransfers, eqList, order) {
        StartDate = $(".min-date").val();
        EndDate = $(".max-date").val();
        OpenTopToBottomModal(domainurl + "/Inventory/WH_HistoryPopup/?EmployeeIds=" + $("#TechList").val() + "&EquipmentIds=" + eqList
            + "&Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&PageNo=" + pagenoTickets + "&PageNoTransfers=" + pagenoTransfers + "&OpenTab=Ware");
    }

    var WHDetailListLoad = function (pageNo, order, eqList, mfgList, getReport) {
        if (typeof (pageNo) != "undefined") {
            var setectSts = encodeURI($("#poStatus").val());
            //if (EstimatorId == null || EstimatorId == "undefined" || EstimatorId =="") {
            //    EstimatorId = $("#EstimatorId").val();
            //}

            StartDate = $(".min-date").val();
            EndDate = $(".max-date").val();
            EstimatorId = $("#EstimatorId").val();
            var LoadUrl = domainurl + "/Inventory/WH_HistoryListPartial/?SearchText=" + encodeURI($(".PoSearchText").val()) + "&selectsts=" + setectSts
                + "&PageNo=" + pageNo + "&order=" + order + "&EstimatorId=" + EstimatorId + "&EmployeeIds=" + $("#TechList").val()
                + "&EquipmentIds=" + eqList + "&ManufacturerIds=" + mfgList + "&GetReport=" + getReport + "&Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate);
            //console.log(LoadUrl);
            $(".WH_HistoryDetailTable").html(TabsLoaderText);
            $(".WH_HistoryDetailTable").load(LoadUrl);
        }
    }

    var DataListDownload = function (pageNo, order, eqList, mfgList, getReport) {
        StartDate = $(".min-date").val();
        EndDate = $(".max-date").val();

        if (typeof (pageNo) != "undefined") {
            var setectSts = encodeURI($("#poStatus").val());
            EstimatorId = $("#EstimatorId").val();
            window.location.href = domainurl + "/Inventory/WH_HistoryListPartial/?SearchText=" + encodeURI($(".PoSearchText").val()) + "&selectsts=" + setectSts
                + "&PageNo=" + pageNo + "&order=" + order + "&EstimatorId=" + EstimatorId + "&EmployeeIds=" + $("#TechList").val()
                + "&EquipmentIds=" + eqList + "&ManufacturerIds=" + mfgList + "&GetReport=" + getReport + "&Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate);
        }
    }

    var ResetFilter = function () {
        //$("#poStatus").selectpicker("val", "");
        //$(".PoSearchText").val("");
        $("#EstimatorId").val("-1");
        WHDetailListLoad(1);
    }
    $(document).ready(function () {
         var defaultSelectedTech = "@ViewBag.DefaultSelectedTech";
        var techList = $("#TechList");

        techList.val(defaultSelectedTech).trigger('change');
        // Check if defaultSelectedTech is correctly populated
        console.log("Default Selected Tech: " + defaultSelectedTech);
        // Set the default selected value
        techList.val(defaultSelectedTech).trigger('change');

        $('.bi_single_filter_div_style').css('width', '15em');
        $('.dateviewed').css('margin-left', '20px');
        //if (listSelet.length != 0) {
        //    $("#poStatus").selectpicker('val', listSelet);
        //}
        //else {
        //    $("#poStatus").selectpicker('val', '');
        //}
        //console.log(selectedTechsList);
        $("#TechList").attr("data-live-search", "true");
        $("#TechList").attr("data-selected-text-format", "count");
        if (typeof selectedTechsList !== 'undefined' && selectedTechsList.length != 0) {
            $("#TechList").selectpicker('val', selectedTechsList);
        } else {
            $("#TechList").selectpicker('val', defaultSelectedTech); // Set default if no other selection
        }
        $('.selectpicker').selectpicker('refresh');


        $("#TechList").change(function () {

            if ($("#TechList").is(":visible")) {
                //console.log($("#TechList").val());
            }
            WHDetailListLoad(1, null);
        });

        console.log("getting ready");
        $(".DateFilterContents .btn-apply-Datefilter").unbind().click(function () {
            //var DateFrom = $(".min-date").val();
            //var DateTo = $(".max-date").val();
            UpdatePtoCookie();

            var StartDate = my_date_format($(".DateFilterContents .min-date").val());
            var EndDate = my_date_format($(".DateFilterContents .max-date").val())
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();

            WHDetailListLoad(1, null);
        });
        console.log("ready");
        WHDetailListLoad(1, null);
    });
</script>

<div class="purchase_order_partial_container">
    <div class="purchase_order_partial_search_add">
        @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.TechDropDownEditable))
        {
            <div class="bi_single_filter_div_style filter_fill" style="width: auto; float: left; margin-left: 0px; width: 150px">
                @Html.DropDownList("TechList", ViewBag.TechList as List<SelectListItem>, new { @class = "form-control selectpicker", @multiple = "multiple", @title = "Locations" })
            </div>
        }
        else
        {
            <div class="bi_single_filter_div_style filter_fill" style="width: auto; float: left; margin-left: 0px">
                @ViewBag.LoggedUserName
                <input type="hidden" id="TechList" value="@ViewBag.LoggedUserId" />
            </div>
        }            @*<input type="hidden" id="TechList" value="@ViewBag.LoggedUserId" />*@
        <div class="dateviewed" style="width: auto;  margin-left: 20px; margin-bottom: 10px">
            @{Html.RenderAction("DateViewPartial", "Customer");}
        </div>
    </div>
        <div class="WH_HistoryDetailTable">

        </div>
    </div>


