@{
    Layout = null;
    var currentLoggedIn = ((HS.Web.UI.Helper.CustomPrincipal)(User));
}
@model HS.Entities.DetailedEquipmentVM
@using HS.Framework
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using POStat = HS.Web.UI.Helper.LabelHelper.PurchaseOrderStatus
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
@Styles.Render("~/styles/AddInvoice")
<link href="~/Content/Css/Expense/AddVendorBill.css" rel="stylesheet" />
<script>
    var pagenoTickets = '@ViewBag.PageNumberTickets';
    var tableTickets = $("#tblTickets").DataTable({
        "ordering": false,
        searching: false, paging: false, info: false
    })
    var pagenoTransfers = '@ViewBag.PageNumberTransfers';
    var tableTransfers = $("#tblTransfers").DataTable({
        "ordering": false,
        searching: false, paging: false, info: false
    })
    var OpenTicketByIdNewTab = function (Id) {
        window.open("/Commons/ViewTicket?Id=" + Id, "_blank");
    }

    $(document).ready(function () {
        $(".icon_sort_po").click(function () {
            var orderval = $(this).attr('data-val');
            OpenDetailsByEquipmentStart(1, orderval);
        });
    })
</script>
<script src="~/Content/Js/PurchaseOrder/AddPurchaseOrder.js"></script>
<link href="~/Content/Css/PurchaseOrder/AddPurchaseOrder.css" rel="stylesheet" />


<div class="avb_div_header">
    <div class="header_title_avb">
        Warehouse History
    </div>
</div>
<div class="add-invoice-container apo_inventory">
    <div class="avb_invoice_informations">
        <div class="avp_row po_amount_flex">
            <div class="invoice-info-left-70p">
                <div class="avp_row" style="font-size: 18px;font-weight: 600;">
                    Purchases or Returns
                </div>
            </div>
        </div>
    </div>
    <div class="PoContentScroll" style="height: calc(50vh - 92px);">
        <div class="avp_table_info_container">
            <div class="add_purchase_order_table">
                <table id="tblTickets" class="purchase_order_list_partial_table">
                    <thead class="table-head-border">
                        <tr>
                            @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                            {
                                <th class="th_timeclock">
                                    <div>PO #</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/status"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/status"></i></div>
                                </th>
                            }
                            else
                            {
                                <th class="th_timeclock_pre">
                                    <div>PO #</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/status"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/status"></i></div>
                                </th>
                            }
                            @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                            {
                                <th class="th_timeclock">
                                    <div> @Localize.T("Equipment")</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/pono"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/pono"></i></div>
                                </th>
                            }
                            else
                            {
                                <th class="th_timeclock_pre">
                                    <div>@Localize.T("Equipment")</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/pono"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/pono"></i></div>
                                </th>
                            }
                            @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                            {
                                <th class="th_timeclock">
                                    <div> @Localize.T("SKU")</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/vname"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/vname"></i></div>
                                </th>
                            }
                            else
                            {
                                <th class="th_timeclock_pre">
                                    <div>@Localize.T("SKU")</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/vname"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/vname"></i></div>
                                </th>
                            }

                            @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                            {
                                <th class="th_timeclock">
                                    <div>Quantity</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/total"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/total"></i></div>
                                </th>
                            }
                            else
                            {
                                <th class="th_timeclock_pre">
                                    <div>Quantity</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/total"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/total"></i></div>
                                </th>
                            }

                            @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                            {
                                <th class="th_timeclock">
                                    <div>Date</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/estimatorid"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/estimatorid"></i></div>
                                </th>
                            }
                            else
                            {
                                <th class="th_timeclock_pre">
                                    <div>Date</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/estimatorid"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/estimatorid"></i></div>
                                </th>
                            }



                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Tickets)
                        {
                            <tr>
                                <td class="table-body-td-style">
                                    <div>TicketId<span>:</span></div>
                                    <a title="@Localize.T("PurchaseOrder ID")" class="cus-anchor" onclick="OpenPOById(@item.Id)" href="javascript:void(0)">@item.EquipmentId</a>
                                </td>
                                <td class="table-body-td-style">
                                    <div>@Localize.T("Equipment") <span>:</span></div>
                                    <div>@item.EquipmentName</div>
                                </td>

                                <td class="table-body-td-style">
                                    <div>SKU<span>:</span></div>
                                    <div>@item.SKU</div>
                                </td>

                                <td class="table-body-td-style">
                                    <div>Add to Ticket<span>:</span></div>
                                    <div><span>@item.Quantity</span></div>
                                </td>
                                <td class="table-body-td-style">
                                    <div>Pulled from Ticket<span>:</span></div>
                                    <div><span>@item.Date</span></div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                <div class="AgentListPagination inv1">
                    <div class="paginationContainer">
                        @if (ViewBag.PageCountTickets > 0)
                        {
                            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumberTickets) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumberTickets)</span></div>
                        }
                        @if (ViewBag.PageCountTickets == 1)
                        {
                            <div class="paginationMiddleButtondv">
                                <button class="PaginationButtons disabledBtn">Previous</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton activeBtn" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @ViewBag.PageNumberTransfers, @(ViewBag.order))">1</button>
                            </div>
                            <div class="paginationRightButtondv">
                                <button class="PaginationButtons disabledBtn">Next</button>
                            </div>
                        }
                        else if (ViewBag.PageCountTickets == 2)
                        {
                            <div class="paginationMiddleButtondv">
                                <button class="PaginationButtons @(ViewBag.PageNumberTickets==1?"disabledBtn":"")" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets!=1?ViewBag.PageNumberTickets-1:""),@ViewBag.PageNumberTransfers, @(ViewBag.order))">Previous</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton @(ViewBag.PageNumberTickets==1?"activeBtn":"")" onclick="OpenDetailsByEquipmentStart(1,@ViewBag.PageNumberTransfers, @(ViewBag.order))">1</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton @(ViewBag.PageNumberTickets==2?"activeBtn":"")" onclick="OpenDetailsByEquipmentStart(2,@ViewBag.PageNumberTransfers, @(ViewBag.order))">2</button>
                            </div>
                            <div class="paginationRightButtondv">
                                <button class="PaginationButtons @(ViewBag.PageNumberTickets==2? "disabledBtn" : "")" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets!=2?ViewBag.PageNumberTickets+1:""),@ViewBag.PageNumberTransfers, @(ViewBag.order))">Next</button>
                            </div>
                        }
                        else if (ViewBag.PageCountTickets == 3 || (ViewBag.PageNumberTickets == 1 && ViewBag.PageCountTickets == 3))
                        {
                            <div class="paginationMiddleButtondv">
                                <button class="PaginationButtons @(ViewBag.PageNumberTickets==1?"disabledBtn":"")" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumber!=1?ViewBag.PageNumberTickets-1:""),@ViewBag.PageNumberTransfers, @(ViewBag.order))">Previous</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton @(ViewBag.PageNumberTickets==1?"activeBtn":"")" onclick="OpenDetailsByEquipmentStart(1,@ViewBag.PageNumberTransfers, @(ViewBag.order))">1</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton @(ViewBag.PageNumberTickets==2?"activeBtn":"")" onclick="OpenDetailsByEquipmentStart(2,@ViewBag.PageNumberTransfers, @(ViewBag.order))">2</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton @(ViewBag.PageNumberTickets==3?"activeBtn":"")" onclick="OpenDetailsByEquipmentStart(3,@ViewBag.PageNumberTransfers, @(ViewBag.order))">3</button>
                            </div>
                            <div class="paginationRightButtondv">
                                <button class="PaginationButtons @(ViewBag.PageNumberTickets==3?"disabledBtn":"")" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets!=3?ViewBag.PageNumberTickets+1:""),@ViewBag.PageNumberTransfers, @(ViewBag.order))">Next</button>
                            </div>
                        }
                        else if (ViewBag.PageCountTickets > 3)
                        {
                            if (ViewBag.PageNumberTickets == ViewBag.PageCountTickets)
                            {
                                <div class="paginationMiddleButtondv">
                                    <button class="PaginationButtons" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets-1),@ViewBag.PageNumberTransfers, @(ViewBag.order))">Previous</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets-2),@ViewBag.PageNumberTransfers, @(ViewBag.order))">@(ViewBag.PageNumberTickets - 2)</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets-1),@ViewBag.PageNumberTransfers, @(ViewBag.order))">@(ViewBag.PageNumberTickets - 1)</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton activeBtn" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets),@ViewBag.PageNumberTransfers, @(ViewBag.order))">@(ViewBag.PageNumberTickets)</button>
                                </div>
                                <div class="paginationRightButtondv">
                                    <button class="PaginationButtons disabledBtn" onclick="OpenDetailsByEquipmentStart()">Next</button>
                                </div>
                            }
                            else if (ViewBag.PageNumberTickets == 1)
                            {
                                <div class="paginationMiddleButtondv">
                                    <button class="PaginationButtons" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets-1),@ViewBag.PageNumberTransfers, @(ViewBag.order))">Previous</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumberTickets)</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets+1),@ViewBag.PageNumberTransfers, @(ViewBag.order))">@(ViewBag.PageNumberTickets + 1)</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets + 2),@ViewBag.PageNumberTransfers, @(ViewBag.order))">@(ViewBag.PageNumberTickets + 2)</button>
                                </div>
                                <div class="paginationRightButtondv">
                                    <button class="PaginationButtons" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets+1),@ViewBag.PageNumberTransfers, @(ViewBag.order))">Next</button>
                                </div>
                            }
                            else if (ViewBag.PageNumberTickets == 2)
                            {
                                <div class="paginationMiddleButtondv">
                                    <button class="PaginationButtons" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets-1),@ViewBag.PageNumberTransfers, @(ViewBag.order))">Previous</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets-1),@ViewBag.PageNumberTransfers, @(ViewBag.order))">@(ViewBag.PageNumberTickets - 1)</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumberTickets)</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets + 1),@ViewBag.PageNumberTransfers, @(ViewBag.order))">@(ViewBag.PageNumberTickets + 1)</button>
                                </div>
                                <div class="paginationRightButtondv">
                                    <button class="PaginationButtons" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets+1),@ViewBag.PageNumberTransfers, @(ViewBag.order))">Next</button>
                                </div>
                            }
                            else
                            {
                                <div class="paginationMiddleButtondv">
                                    <button class="PaginationButtons" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets-1),@ViewBag.PageNumberTransfers, @(ViewBag.order))">Previous</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets - 1),@ViewBag.PageNumberTransfers, @(ViewBag.order))">@(ViewBag.PageNumberTickets - 1)</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton activeBtn" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets),@ViewBag.PageNumberTransfers, @(ViewBag.order))">@(ViewBag.PageNumberTickets)</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets + 1),@ViewBag.PageNumberTransfers, @(ViewBag.order))">@(ViewBag.PageNumberTickets + 1)</button>
                                </div>
                                <div class="paginationRightButtondv">
                                    <button class="PaginationButtons" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets+1),@ViewBag.PageNumberTransfers, @(ViewBag.order))">Next</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="avb_invoice_informations">
        <div class="avp_row po_amount_flex">
            <div class="invoice-info-left-70p">
                <div class="avp_row" style="font-size: 18px;font-weight: 600;">
                    Transfers
                </div>
            </div>
        </div>
    </div>
    <div class="PoContentScroll" style="height: calc(50vh - 92px);">
        <div class="avp_table_info_container">
            <div class="add_purchase_order_table">
                <table id="tblTickets" class="purchase_order_list_partial_table">
                    <thead class="table-head-border">
                        <tr>
                            @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                            {
                                <th class="th_timeclock">
                                    <div>Technician</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/status"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/status"></i></div>
                                </th>
                            }
                            else
                            {
                                <th class="th_timeclock_pre">
                                    <div>Technician</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/status"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/status"></i></div>
                                </th>
                            }
                            @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                            {
                                <th class="th_timeclock">
                                    <div> @Localize.T("Equipment")</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/pono"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/pono"></i></div>
                                </th>
                            }
                            else
                            {
                                <th class="th_timeclock_pre">
                                    <div>@Localize.T("Equipment")</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/pono"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/pono"></i></div>
                                </th>
                            }
                            @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                            {
                                <th class="th_timeclock">
                                    <div> @Localize.T("SKU")</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/vname"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/vname"></i></div>
                                </th>
                            }
                            else
                            {
                                <th class="th_timeclock_pre">
                                    <div>@Localize.T("SKU")</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/vname"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/vname"></i></div>
                                </th>
                            }

                            @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                            {
                                <th class="th_timeclock">
                                    <div>Quantity</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/total"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/total"></i></div>
                                </th>
                            }
                            else
                            {
                                <th class="th_timeclock_pre">
                                    <div>Quantity</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/total"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/total"></i></div>
                                </th>
                            }

                            @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                            {
                                <th class="th_timeclock">
                                    <div>Date</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/estimatorid"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/estimatorid"></i></div>
                                </th>
                            }
                            else
                            {
                                <th class="th_timeclock_pre">
                                    <div>Date</div>
                                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/estimatorid"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/estimatorid"></i></div>
                                </th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Transfers)
                        {
                            <tr>
                                <td class="table-body-td-style">
                                    <div>Start<span>:</span></div>
                                    <div>@item.TechName</div>
                                </td>
                                <td class="table-body-td-style">
                                    <div>@Localize.T("Equipment") <span>:</span></div>
                                    <div>@item.EquipmentName</div>
                                </td>

                                <td class="table-body-td-style">
                                    <div>SKU<span>:</span></div>
                                    <div>@item.SKU</div>
                                </td>

                                <td class="table-body-td-style">
                                    <div>Add to Ticket<span>:</span></div>
                                    <div><span>@item.Quantity</span></div>
                                </td>
                                <td class="table-body-td-style">
                                    <div>Pulled from Ticket<span>:</span></div>
                                    <div><span>@item.Date</span></div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                <div class="AgentListPagination inv1">
                    <div class="paginationContainer">
                        @if (ViewBag.PageCountTransfers > 0)
                        {
                            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumberTransfers) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumberTransfers)</span></div>
                        }
                        @if (ViewBag.PageCountTransfers == 1)
                        {
                            <div class="paginationMiddleButtondv">
                                <button class="PaginationButtons disabledBtn">Previous</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton activeBtn" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers), @(ViewBag.order))">1</button>
                            </div>
                            <div class="paginationRightButtondv">
                                <button class="PaginationButtons disabledBtn">Next</button>
                            </div>
                        }
                        else if (ViewBag.PageCountTransfers == 2)
                        {
                            <div class="paginationMiddleButtondv">
                                <button class="PaginationButtons @(ViewBag.PageNumberTransfers==1?"disabledBtn":"")" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers!=1?ViewBag.PageNumberTransfers-1:""), @(ViewBag.order))">Previous</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton @(ViewBag.PageNumberTransfers==1?"activeBtn":"")" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), 1, @(ViewBag.order))">1</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton @(ViewBag.PageNumberTransfers==2?"activeBtn":"")" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), 2, @(ViewBag.order))">2</button>
                            </div>
                            <div class="paginationRightButtondv">
                                <button class="PaginationButtons @(ViewBag.PageNumberTransfers==2? "disabledBtn" : "")" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers!=2?ViewBag.PageNumberTransfers+1:""), @(ViewBag.order))">Next</button>
                            </div>
                        }
                        else if (ViewBag.PageCountTransfers == 3 || (ViewBag.PageNumberTransfers == 1 && ViewBag.PageCountTransfers == 3))
                        {
                            <div class="paginationMiddleButtondv">
                                <button class="PaginationButtons @(ViewBag.PageNumberTransfers==1?"disabledBtn":"")" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers!=1?ViewBag.PageNumberTransfers-1:""), @(ViewBag.order))">Previous</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton @(ViewBag.PageNumberTransfers==1?"activeBtn":"")" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), 1, @(ViewBag.order))">1</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton @(ViewBag.PageNumberTransfers==2?"activeBtn":"")" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), 2, @(ViewBag.order))">2</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton @(ViewBag.PageNumberTransfers==3?"activeBtn":"")" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), 3, @(ViewBag.order))">3</button>
                            </div>
                            <div class="paginationRightButtondv">
                                <button class="PaginationButtons @(ViewBag.PageNumberTransfers==3?"disabledBtn":"")" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers!=3?ViewBag.PageNumberTransfers+1:""), @(ViewBag.order))">Next</button>
                            </div>
                        }
                        else if (ViewBag.PageCountTransfers > 3)
                        {
                            if (ViewBag.PageNumberTransfers == ViewBag.PageCountTransfers)
                            {
                                <div class="paginationMiddleButtondv">
                                    <button class="PaginationButtons" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers-1), @(ViewBag.order))">Previous</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers-2), @(ViewBag.order))">@(ViewBag.PageNumberTransfers - 2)</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers-1), @(ViewBag.order))">@(ViewBag.PageNumberTransfers - 1)</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton activeBtn" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers), @(ViewBag.order))">@(ViewBag.PageNumberTransfers)</button>
                                </div>
                                <div class="paginationRightButtondv">
                                    <button class="PaginationButtons disabledBtn" onclick="OpenDetailsByEquipmentStart()">Next</button>
                                </div>
                            }
                            else if (ViewBag.PageNumberTransfers == 1)
                            {
                                <div class="paginationMiddleButtondv">
                                    <button class="PaginationButtons" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers-1), @(ViewBag.order))">Previous</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumberTransfers)</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers+1), @(ViewBag.order))">@(ViewBag.PageNumberTransfers + 1)</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers + 2), @(ViewBag.order))">@(ViewBag.PageNumberTransfers + 2)</button>
                                </div>
                                <div class="paginationRightButtondv">
                                    <button class="PaginationButtons" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers+1), @(ViewBag.order))">Next</button>
                                </div>
                            }
                            else if (ViewBag.PageNumberTransfers == 2)
                            {
                                <div class="paginationMiddleButtondv">
                                    <button class="PaginationButtons" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers-1), @(ViewBag.order))">Previous</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers-1), @(ViewBag.order))">@(ViewBag.PageNumberTransfers - 1)</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumberTransfers)</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers + 1), @(ViewBag.order))">@(ViewBag.PageNumberTransfers + 1)</button>
                                </div>
                                <div class="paginationRightButtondv">
                                    <button class="PaginationButtons" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers+1), @(ViewBag.order))">Next</button>
                                </div>
                            }
                            else
                            {
                                <div class="paginationMiddleButtondv">
                                    <button class="PaginationButtons" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), (ViewBag.PageNumberTransfers-1), @(ViewBag.order))">Previous</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers - 1), @(ViewBag.order))">@(ViewBag.PageNumberTransfers - 1)</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton activeBtn" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers), @(ViewBag.order))">@(ViewBag.PageNumberTransfers)</button>
                                </div>
                                <div class="NavigatonButtonsDiv">
                                    <button class="NavigationButton" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers + 1), @(ViewBag.order))">@(ViewBag.PageNumberTransfers + 1)</button>
                                </div>
                                <div class="paginationRightButtondv">
                                    <button class="PaginationButtons" onclick="OpenDetailsByEquipmentStart(@(ViewBag.PageNumberTickets), @(ViewBag.PageNumberTransfers+1), @(ViewBag.order))">Next</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="invoice-footer col-md-12">
        <div class="po_cancelbtnDiv">
            <button class="btnInv InvoiceCancelButton add_purchase_order_btn_desktop" onclick="CloseTopToBottomModal()">@Localize.T("Cancel")</button>
            <button class="btnInv InvoiceCancelButton add_purchase_order_btn_mobile" onclick="CloseTopToBottomModal()"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="AddInvoiceLoader hidden">
        <div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>
    </div>
</div>


