@model HS.Entities.EquipmentManufacturer
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<style>
    #btnSaveCostManu{
        color:white;
        background-color:#2ca01c;
    }
</style>

<script>
    var SaveMultiManufacturerCost = function () {
        var url = domainurl + "/Inventory/AddEquipmentManufacturer/";
        var param;
        param = JSON.stringify({
            Id: $("#eqpIdManu").val(),
            Cost: 0.00,
            SKU: $("#ManufacturerSKU").val(),
            ManufacturerId: $("#ManufacturerIdList").val(),
            EquipmentId: $("#EquipmentId").val(),
            Variation: $("#VariationVal").val(),
            IsPrimary: $("#IsPrimaryPriceManu").is(":checked")
        });
        $.ajax({
            type: "POST",
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.result == true) {
                    $(".Equipmentmanufacturerlist").load(domainurl + "/Inventory/ManufacturerList?EquipmentId=" + equipmentId);
                    $("#ManufacturerIdList").val('0');
                    $("#ManufacturerIdList").val("-1");
                    $("#Cost").val("");
                    $("#ManufacturerSKU").val("");

                    $("#eqpId").val(0);
                    $("#IsPrimaryPriceManu").prop("checked", false);
                    $("#btnSaveCostManu").text("Save");

                    SupplierCost = data.SupplierCost;
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }

    $(document).ready(function () {
        $("#btnSaveCostManu").click(function () {
            SaveMultiManufacturerCost();
        });

    });
</script>


<input type="hidden" value="@Model.Id" id="eqpIdManu" />
<div class="row">
    <div class="form-group col-md-4">
        <span class="span-style">@Localize.T("Manufacturer Name")  </span>
        @Html.DropDownListFor(x => x.ManufacturerId, ViewBag.ManufacturerList as List<SelectListItem>, new { @class = "form-control", placeholder = "Vendor Name", id = "ManufacturerIdList" })
        <label class="label hidden red absolute" rel="ManufacturerIdList">@Localize.T("Please select vendor")</label>
    </div>
    @*<div class="form-group currency_style">
            <span class="span-style">@Localize.T("Cost")</span>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)
                    </span>
                </div>
                @Html.TextBoxFor(x => x.Cost, new { @class = "form-control", id = "Cost" })
            </div>
            <label class="label hidden red absolute" rel="Cost">@Localize.T("Please enter price")</label>
        </div>*@
    <div class="form-group col-md-4">
        <span class="span-style">@Localize.T("Manufacturer SKU")</span>
        @*<div class="input-group">*@
            @Html.TextBoxFor(x => x.SKU, new { @class = "form-control", id = "ManufacturerSKU" })
        @*</div>*@
        <label class="label hidden red absolute" rel="vendorSKU">@Localize.T("Please enter Manufacturer SKU")</label>
    </div>

    <div class="form-group col-md-4">
        <span class="span-style">@Localize.T("Variation")</span>
        @*<div class="input-group">*@
            @Html.TextBoxFor(x => x.Variation, new { @class = "form-control", id = "VariationVal" })
        @*</div>*@
    </div>

    <div class="form-group margin-top-20 col-md-4">
        <label><input @(Model.IsPrimary ? "checked" : "") type="checkbox" id="IsPrimaryPriceManu" /> Is Primary?</label>
    </div>
</div>
<div class="add_multi_vendor_save_btn">
    <button type="button" class="btn" id="btnSaveCostManu"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;@(Model.Id > 0 ? Localize.T("Update") : Localize.T("Save")) </button>
</div>








