@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.InventoryWarehouse
<link href="~/Content/Css/Inventory/AddManualInventory.css" rel="stylesheet" />
<script>
    var SaveInventoryQuantity = function () {
        if ($("#InventoryType").val() == "-1") {
            $("#InventoryType").addClass("required");
        }
        else if ($("#InventoryQuantity").val() == "" || $("#InventoryQuantity").val() < 1) {
            $("#InventoryType").removeClass("required");
            $("#InventoryQuantity").addClass("required");
        }
        else {
            $("#InventoryType").removeClass("required");
            $("#InventoryQuantity").removeClass("required");
            var url = "/Inventory/AddManualInventory";
            var param = JSON.stringify({
                Type: $("#InventoryType").val(),
                Quantity: $("#InventoryQuantity").val(),
                EquipmentId: $("#InventoryEquipmentId").val(),
            });

            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: url,
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data.result) {
                        OpenSuccessMessageNew("", data.message, function () {

                        });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })

        }
    }
</script>
<div class="manual_inventory_container">
    <div class="manual_inventory_header">@Localize.T("Add/Remove From Inventory")</div>

    <div class="manual_inventory_inner">
        <div class="manual_inventory_content">
            <label>@Localize.T("Type")</label>
            @Html.DropDownListFor(x => x.Type, ViewBag.InventoryType as List<SelectListItem>, new { @class = "form-control", id = "InventoryType" })
        </div>
        <div class="manual_inventory_content">
            <label>@Localize.T("Quantity")</label>
            <input type="number" id="InventoryQuantity" class="form-control" />
        </div>
    </div> 
    <div class="manual_inventory_footer">
        <button onclick="SaveInventoryQuantity()" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save")</button>
    </div>

</div>
<div style="display:none;visibility:hidden;">
    <input type="hidden" id="InventoryEquipmentId" value="@Model.EquipmentId" />
</div>
