
@{
    Layout = null;
}
@model HS.Entities.EquipmentClass
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

@using Localize = HS.Web.UI.Helper.LanguageHelper


    @Styles.Render("~/styles/AddProductClass")
    @Scripts.Render("~/scripts/AddProductClass")

    <div class="add_product_class_header">
        <div>@Localize.T("Product Class Information")</div>
    </div>

    <div class="container-fluid">

        @Html.HiddenFor(x => x.Id) 
        <div class="form-group clearfix"> 
            <span class="content-type">@Localize.T("Name")<span class="red">*</span></span>
            <div class="txt-form">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control content-text", datarequired = "true" })
                <label rel="Name" class="label hidden red position-absolute">*@Localize.T("Name Required")</label>
            </div>
 
        </div>

    </div>

        <section class="footer-section">
            <footer class="footer">
                @if (PermissionChekcer.IsPermitted(Permissions.ProductsPermissions.ProductClassAdd) || PermissionChekcer.IsPermitted(Permissions.ProductsPermissions.ProductClassEdit))
                {
                    <div class="SaveCancelDiv">
                        <button class="btn" id="SaveProductClass"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;@Localize.T("Save")</button>
                    </div>
                }
            </footer>
        </section>