
@using Localize = HS.Web.UI.Helper.LanguageHelper
@{ 
    Layout = null;
}

@*<script src="~/Content/Js/Lead/AddFollowUpReminder/AddFollowUpReminder.js"></script>*@
<link href="~/Content/Css/CustomerPublic/RefferedCustomer/ReferedFriend.css" rel="stylesheet" />
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<style>
    .add_option_div .tt-menu {
        background: white;
        min-width: 320px;
        font-size: 12px;
        max-height: 230px;
        -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
        box-shadow: 0 5px 20px rgba(0,0,0,0.3);
        margin-top: 0px;
        position: absolute;
        left: 14px;
        /*top: 130px;*/
        z-index: 100;
        display: none;
        /*width: 450px;*/
        overflow-y: scroll;
    }

    .add_option_div .tt-dataset-autocomplete {
        margin-top: -5px;
    }

    .add_option_div .tt-suggestion {
        min-height: 36px;
        display: block;
        padding: 10px 10px 9px 15px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        border-bottom: 1px solid #ccc;
    }

    .add_option_div .tt-menu p, .search-bar-container .twitter-typeahead > i p {
        margin: 0;
    }

    .add_option_div .tt-sug-text {
        width: 90%;
        font-size: 14px;
        text-overflow: ellipsis;
    }

    .add_option_div .tt-suggestion u {
        text-decoration: none;
        color: #aa2121;
    }

    .add_option_div .tt-suggestion.active {
        background-color: #f2f2f2;
    }

    .add_option_div .tt-sug-desc {
        width: 100%;
        color: #999;
        padding-top: 2px;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .add_option_div .tt-sug-type {
        position: absolute;
        right: 17px;
        top: 11px;
        color: #999;
        font-style: italic;
    }

    .add_option_div .tt-eq-price {
        float: right;
    }

    .add_option_div .tt-eq-name {
        float: left;
    }
</style>

<script>
    var ServiceInfoId = '@ViewBag.ServiceInfoId';

    var SaveServiceOption = function () { 
        var serviceOption = {};
        serviceOption.Name = $("#Name").val();
        serviceOption.Type = $("#ServiceOption").val();
        serviceOption.ServiceId = ServiceInfoId;
        serviceOption.ServiceInfoId = ServiceInfoId;

        $.ajax({
            type: "POST",
            url: domainurl + "/Inventory/SaveServiceOption",
            data: '{serviceOption: ' + JSON.stringify(serviceOption) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.result) {
                    $(".close").click();
                    OpenSuccessMessageNew("Success!", response.message, function () { 
                        $("#Right-To-Left-Modal-Body .close").click();
                        OpenserviceOptionList(ServiceInfoId);
                    });
                }
                else {
                    OpenErrorMessageNew("Error!", response.message);
                }
                //window.location.reload();
            }
        });
    }


    var OptionSearchKeyDown = function (item, event) {
        if (event.keyCode == 13) {
            var selectedTTMenu = $(event.target).parent().find('.tt-suggestion.active');
            if (selectedTTMenu.length > 0) {
                setTimeout(function () { $(selectedTTMenu).click(); }, 10)
                $('.tt-menu').hide();
            }
        }
        if (event.keyCode == 40) {
            var ttSugstionDom = $(event.target).parent().find('.tt-suggestion');
            var ttSugActive = $(event.target).parent().find('.tt-suggestion.active');
            if ($(ttSugstionDom).length > 0) {
                if ($(ttSugActive).length == 0) {
                    $($(ttSugstionDom).get(0)).addClass('active');
                    $(item).val($($(ttSugstionDom).get(0)).attr('data-select'))
                }
                else {
                    var suggestionlist = $(ttSugstionDom);
                    var activesuggestion = $(ttSugActive);
                    var indexactive = -1;
                    for (var id = 0; id < suggestionlist.length; id++) {
                        if ($(suggestionlist[id]).hasClass('active'))
                            indexactive = id;
                    }
                    if (indexactive < suggestionlist.length - 1) {
                        $(ttSugstionDom).removeClass('active');
                        var possibleactive = $(ttSugstionDom).get(indexactive + 1);
                        $($(ttSugstionDom).get(indexactive + 1)).addClass('active');
                        $(possibleactive).addClass('active');
                        $(item).val($(possibleactive).attr('data-select'));
                    }
                }
                event.preventDefault();
            }
        }
        if (event.keyCode == 38) {
            var ttSugstionDom = $(event.target).parent().find('.tt-suggestion');
            var ttSugActive = $(event.target).parent().find('.tt-suggestion.active');
            if ($(ttSugstionDom).length > 0 && $(ttSugActive).length > 0) {
                var suggestionlist = $(ttSugstionDom);
                var activesuggestion = $(ttSugActive);
                var indexactive = -1;
                for (var id = 0; id < suggestionlist.length; id++) {
                    if ($(suggestionlist[id]).hasClass('active'))
                        indexactive = id;
                }
                if (indexactive > 0) {
                    $(ttSugstionDom).removeClass('active');
                    var possibleactive = $(ttSugstionDom).get(indexactive - 1);
                    $(possibleactive).addClass('active');
                    $(item).val($(possibleactive).attr('data-select'))
                }
                event.preventDefault();
            }
        }
    }

    var EquipmentOptionsClickBind = function (item) {
        /*Capacity*/
        $('.add_option_div .tt-suggestion').click(function () {
            var clickitem = this;
            $('.add_option_div .tt-menu').hide();
            var BussiName = $(clickitem).find(".data-name").text().trim();
            $("#Name").val(BussiName);
        });
        $('.add_option_div .tt-suggestion').hover(function () {
            var clickitem = this;
            $('.tt-suggestion').removeClass("active");
            $(clickitem).addClass('active');
        });
    }

    var OptionsSearchKeyUp = function (item, event) {

        var CustomerSuggestiontemplate =
             "<div class='tt-suggestion tt-selectable'>"
                + "<p class='tt-sug-text'>"
                    + "<span class='data-name'>{0}</span>"
                    + " <em class='tt-eq-price'> </em>"
                + "</p> "
             + "</div>";

        if (event.keyCode == 40 || event.keyCode == 38 || event.keyCode == 13)
            return false;
        $.ajax({
            url: domainurl + "/Inventory/GetEquipmentOptionsByKey",
            data: JSON.stringify({
                key: $(item).val(),
                Type: $("#ServiceOption").val()
            }),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data);
                $('.tt-menu').hide();
                var resultparse = JSON.parse(data.result);

                if (resultparse.length > 0) {
                    var searchresultstring = "<div class='NewProjectSuggestion'>";
                    for (var i = 0; i < resultparse.length; i++) {
                        searchresultstring = searchresultstring + String.format(CustomerSuggestiontemplate,
                            resultparse[i].OptionName, resultparse[i].EquipmentId);
                    }
                    searchresultstring += "</div>";
                    var ttdom = $($(item).parent()).find('.tt-menu');
                    var ttdomComplete = $($(item).parent()).find('.tt-dataset-autocomplete');
                    $(ttdomComplete).html(searchresultstring);
                    $(ttdom).show();


                    EquipmentOptionsClickBind(item);
                    if (resultparse.length > 5) {
                        $(".add_option_div .NewProjectSuggestion").height(200);
                    }
                }
                if (resultparse.length == 0)
                    $('.tt-menu').hide();
            }
        });
    }





    $(document).ready(function () {
        $("#btn-SaveServiceInfo").click(function () {
            if (CommonUiValidation()) {
                SaveServiceOption();
            }
            else {

            }
        });
        $("#ServiceOption").change(function () {
            $("#Name").val('');
            $(".tt-menu").hide();
        });
    })

</script>
<style>
    .btn-IsComplete {
        margin-left: 15px;
        color: white;
        font-weight: 600;
        background-color: #2ca01c;
    }

    .add_followup_reminder_body {
    }

    .label {
        color: red;
    }

    #btn-SaveServiceInfo {
        float: right;
        background-color: green;
        color: white;
    }

    .friend_SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }
</style>

<div class="refered_friend_header">
    <span>@Localize.T("Service Option")</span>
</div>
<div class="refered_friend_container">
    <div class="row">
        <div class="col-md-12 add_followup_reminder_body">
            <div class="form-group clearfix item_margin">
                <span class="reminder-form">@Localize.T("Type")</span>
                @Html.DropDownList("ActiveStatus", (List<SelectListItem>)ViewBag.ServiceOptionList, new { @class = "form-control", id = "ServiceOption" })

            </div>
            <div class="form-group add_option_div clearfix item_margin">
                <span class="reminder-form">@Localize.T("Name")<span class="red">*</span></span>
                <input type="text" onkeydown="OptionSearchKeyDown(this,event)" onkeyup="OptionsSearchKeyUp(this,event)" onfocus="OptionsSearchKeyUp(this,event)" id="Name" class="form-control" name="name" placeholder="Name" datarequired="true" />
                <div class='tt-menu'>
                    <div class='tt-dataset tt-dataset-autocomplete'> </div>
                </div>
                <label rel="name" class="label hidden red position-absolute">*@Localize.T("Name Required")</label>
            </div>
        </div>
    </div>
</div>


<section class="footer-section">
    <footer class="footer">
        <div class="friend_SaveCancelDiv">

            <button id="btn-SaveServiceInfo" type="button" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save")</button>

        </div>
    </footer>
</section>

