@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/Inventory/AddManualInventory.css" rel="stylesheet" />
@model HS.Entities.EquipmentsFavourite
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Select2/select2.css" rel="stylesheet" /> 
<script src="~/Content/Select2/Select2.min.js"></script>
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var eqpid = '@Model.EquipmentId';
    var SaveFavouriteEquipments = function () {
        var url = "/Inventory/SaveFavouriteEquipments";
        var param = JSON.stringify({
            UserList: $("#UserList").val(),
            IsFavourite: $("#IsFavourite").prop('checked'),
            EquipmentId: eqpid
        })
            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: url,
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data) {
                        OpenRightToLeftModal(false);
                        OpenSuccessMessageNew("Success", "Favourite equipments saved successfully.");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })
    }
    $(document).ready(function () {
        $(".selectpicker").selectpicker();
    })
</script>
<div class="manual_inventory_container">
    <div class="manual_inventory_header">@Localize.T("Favourite Equipments")</div>

    <div class="manual_inventory_inner">
        <div class="manual_inventory_content">
            <label>@Localize.T("User")</label>
            @Html.DropDownList("UserList", ViewBag.FavouriteList as List<SelectListItem>, new { @class = "form-control selectpicker", @multiple = "multiple" })
        </div>
        <div class="manual_inventory_content">
            <input type="checkbox" @(Model.IsFavourite == true ? "checked" : "") id="IsFavourite" /> <span>@Localize.T("Is Favourite")</span>
        </div>
    </div>
    <div class="manual_inventory_footer">
        <button onclick="SaveFavouriteEquipments()" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save")</button>
    </div>

</div>
<div style="display:none;visibility:hidden;">
    <input type="hidden" id="InventoryEquipmentId" value="@Model.EquipmentId" />
</div>

