@model HS.Entities.CreateEquipment
@{
    Layout = null;
    var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;
}
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using HS.Framework
@Styles.Render("~/styles/EquipmentDetailPage")
<script>
    var OpenAssignInventoryTech = function (eqpid, techid, Qty ) {
        OpenRightToLeftModal("/Inventory/AssignInventoryTechReceive?eqpid=" + eqpid + "&techid=" + techid + "&Qty=" + Qty +"&ISLocation=" + true);
    }
    $(document).ready(function () {
        var windowsHeight = window.innerHeight - $(".tedp_heading").height() - 18;
        $(".tedp_inner").height(windowsHeight);
    })
</script>

<div class="techEquipmentDetaiPartial_container">
    @{
        if (Model.ListInventoryTech != null && Model.ListInventoryTech.Count > 0)
        {
            <div class="tedp_heading">@Localize.T("Location Inventory List")</div>
            <div class="tedp_inner">
                <table class="tedp_table">
                    <thead>
                        <tr>
                            <th>@Localize.T("Location")</th>
                            <th>@Localize.T("Quantity")</th>
                            @if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.TechReceiveAction))
                            {
                                <th>@Localize.T("Action")</th>
                            }
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.ListInventoryTech)
                        {
                            if (item.Quantity > 0)
                            {
                        <tr>
                            <td>@item.empName</td>
                            <td>@item.Quantity</td>
                            @{
                                if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.TechReceiveAction) && PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.TechDropDownEditable))
                                {
                                    <td><i class="fa fa-exchange cus-anchor" onclick="OpenAssignInventoryTech('@item.EquipmentId', '@item.TechnicianId','@item.Quantity',true)"></i></td>
                                }
                                else
                                {
                                    @*if (CurrentUser.UserId != item.TechnicianId)
                                    {
                                        <td><span class="cus-anchor" onclick="OpenAssignInventoryTech('@item.EquipmentId', '@item.TechnicianId')">@Localize.T("Request")</span></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }*@
                                    <td></td>
                                }

                            }
                        </tr>
                                    }

                                }
                    </tbody>
                </table>
            </div>
        }
    }
</div>
@*<div class="equipment_detail_page_outer">
        <div class="invoices-tabs">
            <div class="nav-detail-contents">
                <div class="tab-content">
                    <div class="tab-pane active EquipmentDetail_Load">
                        <div class="EquipmentDetailDiv">
                                                    <div class="DetailDiv">


            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@