
@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency();
}
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using PermissionHelper = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model IEnumerable<HS.Entities.EquipmentManufacturer>

<style>
    .primaryrow {
        background-color: #e8e3e3 !important;
    }
</style>

<script>
    var DeleteManu = function (id) {
        OpenConfirmationMessageNew("Confirm?", "Are you sure you want to delete this Manufacturer?", function () {
            DeleteManuById(id)
        });
    }
    var EditManu = function (id) {
        $(".Manufacturercost").load(domainurl + "/Inventory/AddEquipmentManufacturer?eqManuId="+id);
    }
    var DeleteManuById = function (id) {
        $.ajax({
            url: domainurl + "/Inventory/DeleteEquipmentManufacturer",
            data: { Id: id },
            type: "Post",
            dataType: "Json",
            success: function (data) {
                if (data.result) {
                    OpenSuccessMessageNew("Success!", "Manufacturer deleted successfully.");
                    $(".Equipmentmanufacturerlist").load(domainurl + "/Inventory/ManufacturerList?EquipmentId=" + equipmentId);
                } else {
                    OpenErrorMessageNew("Error!", data.message);
                }
            }
        });
    }
</script>

<div class="show_vendor_list_container">

    <div id="vendor_List">
        <table class="vendor_list_table">
            <thead>
                <tr>
                    <th>
                        @Localize.T("Name")
                    </th>
                    @*<th>
                        @Localize.T("Cost")
                    </th>*@
                    <th>
                        @Localize.T("Manufacturer SKU")
                    </th>
                    <th>
                        @Localize.T("Variation")
                    </th>
                    <th>
                        @Localize.T("Action")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr @(item.IsPrimary == true ? "class=primaryrow" : "")>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        @*<td>
                            @Currency@LabelHelper.FormatAmount(item.Cost)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.SKU)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Variation)

                        </td>
                        <td>
                            <span class="vendor_edit_icon" onclick="EditManu(@item.Id)" title="@Localize.T("Edit")"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                            <a id="delete" onclick="DeleteManu(@item.Id)" title="@Localize.T("Delete")"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>

</div>

