@{ 
    Layout = null;
}

@model HS.Entities.ServiceDetailInfoView
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var SaveServiceOptionsView = function () {

        var param = JSON.stringify({
            Id: $("#ServiceDetailId").val(),
            ServiceId: $("#ServiceDetailServiceId").val(),
            ShowManufacturer: $("#ShowManufacturer").is(":checked"),
            ShowLocation: $("#ShowLocation").is(":checked"),
            ShowType: $("#ShowType").is(":checked"),
            ShowModel: $("#ShowModel").is(":checked"),
            ShowFinish: $("#ShowFinish").is(":checked"),
            ShowCapacity: $("#ShowCapacity").is(":checked"),
        });
        var url = domainurl + "/Inventory/SaveServiceOptionsView";

        $.ajax({
            type: "POST",
            ajaxStart: $(".AddInvoiceLoader").removeClass('hidden'),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                $(".AddInvoiceLoader").addClass('hidden');
                if (data.result) {
                    OpenSuccessMessageNew("",data.message);
                } else {
                    OpenErrorMessageNew("", data.message);
                } 
                $("#Right-To-Left-Modal-Body .close").click();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
                
            }
        });
        
    }
    $(document).ready(function () {
        $("#SaveServiceOptionsView").click(function () {
            SaveServiceOptionsView();
        });

    });
</script>
<style>
    .open_service_option_container {
        width:100%;
        float:left;
    }
    .open_service_option_head {
    width: 100%;
    background-color: #eceef1;
    padding: 10px 13px;
    margin-top: -6px;
    font-size:20px;
}
    .open_service_option_inner {
        width:100%;
        float:left;
        padding:15px;
    }
    .footer_section {
       background: #eceef1;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0%;
    text-align: right;
    padding: 8px 15px;
}
    .footer_section .btn {
    float: right;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
}
</style>
<div class="open_service_option_container">
    <div class="open_service_option_head">@Localize.T("Options For Service")</div>
    <div class="open_service_option_inner">
        <div class="hidden">
            <input type="hidden" id="ServiceDetailId" value="@Model.Id" />
            <input type="hidden" id="ServiceDetailServiceId" value="@Model.ServiceId" />
        </div>
        <div>
            <label><input type="checkbox" id="ShowManufacturer" @(Model.ShowManufacturer ? "checked" : "") />@Localize.T("Show Manufacturer")</label>
        </div>
        <div>
            <label><input type="checkbox" id="ShowLocation" @(Model.ShowLocation ? "checked" : "") />@Localize.T("Show Location")</label>
        </div>
        <div>
            <label><input type="checkbox" id="ShowType" @(Model.ShowType ? "checked" : "") />@Localize.T("Show Type")</label>
        </div>
        <div>
            <label><input type="checkbox" id="ShowModel" @(Model.ShowModel ? "checked" : "") />@Localize.T("Show Model")</label>
        </div>
        <div>
            <label><input type="checkbox" id="ShowFinish" @(Model.ShowFinish ? "checked" : "") />@Localize.T("Show Finish")</label>
        </div>
        <div>
            <label><input type="checkbox" id="ShowCapacity" @(Model.ShowCapacity ? "checked" : "") />@Localize.T("Show Capacity")</label>
        </div>
    </div>
    <div class="footer_section">
        <button class="btn" id="SaveServiceOptionsView"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save")</button>
    </div>
</div>

