@model List<HS.Entities.EquipmentClass>
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions


@{
    Layout = null;
}

@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/EquipmentClass")
@Scripts.Render("~/scripts/EquipmentClass")


<div class="Inventory-Page-wrap" id="page-wrap">
    <div class="container-fluid">
        <div id="page-slide" class="page-header slide">
            <div class="row">
                <div class="col-xs-6">
                    <span class="page-title"> @Localize.T("Equipment Class")</span>
                    <div class="back-link"> <a href="javascript:void(0)" id="LoadBack"> @Localize.T("Go Previous Page")</a> </div>
                </div>
                <div class="col-xs-6">
                    @if (PermissionChekcer.IsPermitted(Permissions.ProductsPermissions.ProductClassAdd))
                    {
                        <button class="btn btn-primary" id="AddNewProductClass" type="button" data-toggle="modal" data-target="#myModal2">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
                        </button>
                    }
                </div>
            </div>
            <div class="inventory-popup">
                <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            </div>

                            <div class="modal-body">
                                <div id="NewProductClass">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="page-content" >
            <div class="container-fluid" >
                <div class="thread-table">
                    <table id="tblinfo">
                        <thead>
                            <tr>

                                <th class="thead-th-style"> @Localize.T("Name")</th>
                                <th></th>
                                <th class="thead-th-style">@Localize.T("Action")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>



            </div >
            </div >*@
        <div class="equipsearchbardiv">
            <div class="input-group add-on"> @*"txt-input" class removed*@
                <input class="form-control" placeholder="Find an Equipment class" name="srch-term" id="srch-term" type="text">
                <div class="input-group-btn">
                    <button class="btn custom-btn green_button" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>

        <div class="custom-table">
            <table class="display" id="tblinfo">
                <thead class="table-head-border">
                    <tr>
                        <th class="thead-th-style sorting">
                            @Localize.T("Name")
                        </th>
                        <th class="thead-th-style sorting text-right">
                            @Localize.T("Actions")
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr class="tr-style">

                        <td class="table-body-td-style" valign="top">
                            <span>
                                <a href="javascript:void(0)" class="item-edit name-anchor-style" data-id="@item.Id" data-toggle="modal" data-target="#myModal2">

                                    @item.Name
                            </a>
                        </span>
                    </td>
                    <td class="table-body-td" valign="top">

                        @if (PermissionChekcer.IsPermitted(Permissions.ProductsPermissions.ProductClassDelete))
                        {
                            <a href="javascript:void(0)" class="item-delete" data-id="@item.Id" title="@Localize.T("Delete")">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        }
                    </td>
                </tr>
                }

            </table>
        </div>
    </div>
</div>
