
@{
    ViewBag.Title = "ServiceOptionList";
    Layout = null;
    HS.Entities.ServiceDetailInfoView infoView = (HS.Entities.ServiceDetailInfoView)ViewBag.ServiceDetailInfoView;
    
}
@model List<HS.Entities.ServiceDetailInfo>
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/Inventory/ServiceOptionList.css" rel="stylesheet" />
<script>
    var OpenServiceOption = function (EquipmentId) {
        OpenRightToLeftModal(domainurl + "/Inventory/AddServiceOption/?EquipmentId=" + EquipmentId);
    }
    var DeleteServiceDetailInfoConfirmation = function (ServiceInfoId) {
        OpenConfirmationMessageNew("", "Are your sure you want to delete?", function () {
            DeleteServiceDetailInfo(ServiceInfoId);
        });
    }
    var DeleteServiceDetailInfo = function (ServiceInfoId) { 
        var URL = domainurl + "/Inventory/DeleteServiceOption";
        $.ajax({
            type: "POST",
            url: URL,
            data: JSON.stringify({
                ServiceInfoId: ServiceInfoId
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.result) {
                    OpenSuccessMessageNew("", data.message, function () {
                        OpenserviceOptionList(EquipmentGuid);
                    });
                } else {
                    OpenErrorMessageNew("", data.message)
                }
            }
        });
    }
</script>
<div class="service_option_list_container">
    @if (infoView == null || (infoView.ShowCapacity == false && infoView.ShowFinish == false
        && infoView.ShowLocation == false && infoView.ShowModel == false
        && infoView.ShowType == false))
{
    <div>
        <h2>@Localize.T("Please Select Options for this service")</h2>
    </div>
}
else
{
   
        <div class="service_option_list_header">@Localize.T("Service Options List")
            <button class="btn" onclick="OpenServiceOption('@ViewBag.ServiceId')"><i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("Service Info")</button>
        </div>
        <div class="service_option_list_table">
            <table>
                <thead>
                    <tr>
                        <th>@Localize.T("Name")</th>
                        <th>@Localize.T("Type")</th>
                        <th>@Localize.T("Action")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Type</td>
                            <td><span class="cus-anchor" onclick="DeleteServiceDetailInfoConfirmation('@item.ServiceInfoId')" title="@Localize.T("Delete")"><i class="fa fa-trash-o" aria-hidden="true"></i></span></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
   
}
</div>


