
@{
    ViewBag.Title = "ShowCombinationList";
    Layout = null;
    HS.Entities.ServiceDetailInfoView ServiceView = ViewBag.ServiceDetailInfoView;
}

@model List<HS.Entities.ServiceMap>
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/Inventory/ShowCombinationList.css" rel="stylesheet" />
<script>
    var CurrentServiceId = '@ViewBag.ServiceId';
    var AddCombination = function () {
        OpenRightToLeftModal(domainurl + "/Inventory/MatchCombinations/?EquipmentId=" + CurrentServiceId)

    }


    var DeleteServiceMapConfirmation = function (SrviceMapId) {
        OpenConfirmationMessageNew("", "Are your sure you want to delete?", function () {
            DeleteServiceMap(SrviceMapId);
        });
    }
    var DeleteServiceMap = function (SrviceMapId) {
        var URL = domainurl + "/Inventory/DeleteServiceMap";
        $.ajax({
            type: "POST",
            url: URL,
            data: JSON.stringify({
                Id: SrviceMapId,
                EquipmentId: CurrentServiceId
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.result) {
                    OpenSuccessMessageNew("", data.message, function () {
                        ShowServiceOptionsCombinationList(CurrentServiceId);
                    });
                } else {
                    OpenErrorMessageNew("", data.message)
                }
            }
        });
    }


    $(document).ready(function () {
        var height = window.innerHeight - $(".show_combination_list_header").height() - 13;
        $(".show_combination_list_table").height(height);
    });
</script>


<div class="show_combination_list_container">
    @if (ServiceView == null || (ServiceView.ShowCapacity == false && ServiceView.ShowFinish == false
                && ServiceView.ShowLocation == false && ServiceView.ShowModel == false && ServiceView.ShowType == false))
    {
        <div>
            <h2>Please Select Options for this service</h2>
        </div>
    }
    else
    {
        <div class="show_combination_list_header">
            @Localize.T("Service Options Combination List")
            <button class="btn" onclick="AddCombination()"><i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("Combination")</button>
        </div>
        <div class="show_combination_list_table">
            <table>
                <thead>
                    <tr>
                        @if (ServiceView.ShowManufacturer)
                        {
                            <th>@Localize.T("Manufacturer")</th>
                        }
                        @if (ServiceView.ShowLocation)
                        {
                            <th>@Localize.T("Location")</th>
                        }
                        @if (ServiceView.ShowType)
                        {
                            <th>@Localize.T("Type")</th>
                        }
                        @if (ServiceView.ShowModel)
                        {
                            <th>@Localize.T("Model")</th>
                        }
                        @if (ServiceView.ShowFinish)
                        {
                            <th>@Localize.T("Finish")</th>
                        }
                        @if (ServiceView.ShowCapacity)
                        {
                            <th>@Localize.T("Capacity")</th>
                        }
                        <th class="hidden">@Localize.T("Equipment")</th>
                        <th>@Localize.T("Action")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                            @if (ServiceView.ShowManufacturer)
                            {
                                <th>@item.Manufacturer</th>
                            }
                            @if (ServiceView.ShowLocation)
                            {
                                <td>@item.Location</td>
                            }
                            @if (ServiceView.ShowType)
                            {
                                <td>@item.Type</td>
                            }
                            @if (ServiceView.ShowModel)
                            {
                                <td>@item.Model</td>
                            }
                            @if (ServiceView.ShowFinish)
                            {
                                <td>@item.Finish</td>
                            }
                            @if (ServiceView.ShowCapacity)
                            {
                                <td>@item.Capacity</td>
                            }
                            @if (string.IsNullOrWhiteSpace(item.EquipmentName))
                            {
                                <td class="hidden">-</td>
                            }
                            else
                            {
                                <td class="hidden">@item.EquipmentName</td>
                            }
                            <td><span class="cus-anchor" onclick="DeleteServiceMapConfirmation('@item.Id')" title="@Localize.T("Delete")"><i class="fa fa-trash-o" aria-hidden="true"></i></span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    

</div>




