@{
    Layout = null;
    var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;
}
@model HS.Entities.TechReceiveListModel
@using HS.Framework
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using POHelper = HS.Web.UI.Helper.LabelHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Inventory/TechPurchaseOrderListPartial.css" rel="stylesheet" />

<script>
    var InventoryTechReceiveConfirm = function (eqpid, techid, qty) {
        var url = '/Inventory/InventoryTechReceiveConfirm';
        var param = JSON.stringify({
            eqpid: eqpid,
            techid: techid,
            qty: qty
        });
        $.ajax({
            type: "POST",
            ajaxStart: function () { },
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.result) {
                    OpenSuccessMessageNew("Success", data.message);
                    TechReceiveListLoadOwn(techid, 1, null);
                }
                else {
                    OpenErrorMessageNew("Error", data.message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    var InventoryTechReceiveDecline = function (id, techid) {
        OpenConfirmationMessageNew("Confirmation", "Are you sure, you want to decline this item?", function () {
            var url = '/Inventory/InventoryTechReceiveDecline';
            var param = JSON.stringify({
                id: id
            });
            $.ajax({
                type: "POST",
                ajaxStart: function () { },
                url: url,
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data) {
                        TechReceiveListLoadOwn(techid, 1, null);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        });
    }
    var InventoryTechApproveConfirm = function (eqpid, techid, qty, tqty) {
        OpenRightToLeftModal("/Inventory/AssignInventoryTechApprove?eqpid=" + eqpid + "&techid=" + techid + "&qty=" + qty + "&tqty=" + tqty);
    }
</script>

<div class="TechPurchaseOrderListPartial_container">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active" id="TechDOTabli">
            <a data-target="#TechApproveTab" data-toggle="tab">@Localize.T("Transfer")</a>
        </li>
        <li class="" id="TechDOTabli">
            <a data-target="#TechReceivedTab" data-toggle="tab">@Localize.T("Receive")</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="TechApproveTab">
            <table id="tblPO_tech">
                <thead class="table-head-border">
                    <tr>
                        @if (ViewBag.order == "ascending/dono" || ViewBag.order == "descending/dono")
                        {
                            <th class="th_timeclock"><div>@Localize.T("Description")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/dono"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/dono"></i></div></th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre"><div>@Localize.T("Description")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/dono"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/dono"></i></div></th>
                        }
                        @if (ViewBag.order == "ascending/dono" || ViewBag.order == "descending/dono")
                        {
                            <th class="th_timeclock"><div>@Localize.T("SKU")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/dono"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/dono"></i></div></th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre"><div>@Localize.T("SKU")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/dono"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/dono"></i></div></th>
                        }
                        @if (ViewBag.order == "ascending/status" || ViewBag.order == "descending/status")
                        {
                            <th class="th_timeclock"><div>@Localize.T("Transfer To")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/status"></i></div></th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre"><div>@Localize.T("Transfer To")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/status"></i></div></th>
                        }
                        @if (ViewBag.order == "ascending/status" || ViewBag.order == "descending/status")
                        {
                            <th class="th_timeclock"><div>@Localize.T("Quantity")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/status"></i></div></th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre"><div>@Localize.T("Quantity")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/status"></i></div></th>
                        }
                        @if (ViewBag.order == "ascending/status" || ViewBag.order == "descending/status")
                        {
                            <th class="th_timeclock"><div>@Localize.T("On Hand")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/status"></i></div></th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre"><div>@Localize.T("On Hand")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/status"></i></div></th>
                        }

                        <th class="th_timeclock_pre"><div>@Localize.T("Transfer Date")</div></th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListAssignedInventoryTechApprove)
                    {
                    <tr>
                        <td class="table-body-td-style">
                            <div>@Localize.T("Name") <span>:</span></div>
                            <div>
                                <span>@item.Name</span>
                            </div>
                        </td>
                        <td class="table-body-td-style"><div>@Localize.T("SKU") <span>:</span></div><div>@item.SKU</div></td>
                        <td class="table-body-td-style"><div>@Localize.T("Transfer From") <span>:</span></div><div>@item.ReceivedByName</div></td>
                        <td class="table-body-td-style"><div>@Localize.T("Quantity") <span>:</span></div><div>@item.Quantity</div></td>
                        <td class="table-body-td-style"><div>@Localize.T("On Hand") <span>:</span></div><div>@item.TotalQuantity</div></td>
                        
                        <td class="table-body-td-style">
                            <div>@Localize.T("Date") <span>:</span></div>
                            <div><span>@Localize.T("Request On: ")</span> @item.CreatedDate.ToString("MM/dd/yy")</div>
                        </td>
                       
                    </tr>
                    }
                </tbody>
            </table>
            <div class="AgentListPagination inv1">
                <div class="paginationContainer">
                    @if (ViewBag.PageCountApprove > 0)
                    {
                        <div class="paginationtextdv"><span>@string.Format("{0:0,0}", ViewBag.CurrentNumberApprove) of @string.Format("{0:0,0}", ViewBag.OutOfNumberApprove)</span></div>
                    }
                    @if (ViewBag.PageCountApprove == 1)
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons disabledBtn">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton activeBtn" onclick="POListLoad(@(ViewBag.PageNumberApprove), @(ViewBag.order))">1</button>
                        </div>
                        <div class="paginationRightButtondv">
                            <button class="PaginationButtons disabledBtn">Next</button>
                        </div>
                    }
                    else if (ViewBag.PageCountApprove == 2)
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons @(ViewBag.PageNumberApprove==1?"disabledBtn":"")" onclick="POListLoad(@(ViewBag.PageNumberApprove!=1?ViewBag.PageNumberApprove-1:""), @(ViewBag.order))">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton @(ViewBag.PageNumberApprove==1?"activeBtn":"")" onclick="POListLoad(1, @(ViewBag.order))">1</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton @(ViewBag.PageNumberApprove==2?"activeBtn":"")" onclick="POListLoad(2, @(ViewBag.order))">2</button>
                        </div>
                        <div class="paginationRightButtondv">
                            <button class="PaginationButtons @(ViewBag.PageNumberApprove==2? "disabledBtn" : "")" onclick="POListLoad(@(ViewBag.PageNumberApprove!=2?ViewBag.PageNumberApprove+1:""), @(ViewBag.order))">Next</button>
                        </div>
                    }
                    else if (ViewBag.PageCountApprove == 3 || (ViewBag.PageNumberApprove == 1 && ViewBag.PageCountApprove == 3))
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons @(ViewBag.PageNumberApprove==1?"disabledBtn":"")" onclick="POListLoad(@(ViewBag.PageNumberApprove!=1?ViewBag.PageNumberApprove-1:""), @(ViewBag.order))">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton @(ViewBag.PageNumberApprove==1?"activeBtn":"")" onclick="POListLoad(1, @(ViewBag.order))">1</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton @(ViewBag.PageNumberApprove==2?"activeBtn":"")" onclick="POListLoad(2, @(ViewBag.order))">2</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton @(ViewBag.PageNumberApprove==3?"activeBtn":"")" onclick="POListLoad(3, @(ViewBag.order))">3</button>
                        </div>
                        <div class="paginationRightButtondv">
                            <button class="PaginationButtons @(ViewBag.PageNumberApprove==3?"disabledBtn":"")" onclick="POListLoad(@(ViewBag.PageNumberApprove!=3?ViewBag.PageNumberApprove+1:""), @(ViewBag.order))">Next</button>
                        </div>
                    }
                    else if (ViewBag.PageCountApprove > 3)
                    {
                        if (ViewBag.PageNumberApprove == ViewBag.PageCountApprove)
                        {
                            <div class="paginationMiddleButtondv">
                                <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumberApprove-1), @(ViewBag.order))">Previous</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumberApprove-2), @(ViewBag.order))">@(ViewBag.PageNumberApprove - 2)</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumberApprove-1), @(ViewBag.order))">@(ViewBag.PageNumberApprove - 1)</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton activeBtn" onclick="POListLoad(@(ViewBag.PageNumberApprove), @(ViewBag.order))">@(ViewBag.PageNumberApprove)</button>
                            </div>
                            <div class="paginationRightButtondv">
                                <button class="PaginationButtons disabledBtn" onclick="POListLoad()">Next</button>
                            </div>
                        }
                        else if (ViewBag.PageNumberApprove == 1)
                        {
                            <div class="paginationMiddleButtondv">
                                <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumberApprove-1), @(ViewBag.order))">Previous</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton activeBtn">@(ViewBag.PageNumberApprove)</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumberApprove+1), @(ViewBag.order))">@(ViewBag.PageNumberApprove + 1)</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumberApprove + 2), @(ViewBag.order))">@(ViewBag.PageNumberApprove + 2)</button>
                            </div>
                            <div class="paginationRightButtondv">
                                <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumberApprove+1), @(ViewBag.order))">Next</button>
                            </div>
                        }
                        else if (ViewBag.PageNumberApprove == 2)
                        {
                            <div class="paginationMiddleButtondv">
                                <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumberApprove-1), @(ViewBag.order))">Previous</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumberApprove-1), @(ViewBag.order))">@(ViewBag.PageNumberApprove - 1)</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton activeBtn">@(ViewBag.PageNumberApprove)</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumberApprove + 1), @(ViewBag.order))">@(ViewBag.PageNumberApprove + 1)</button>
                            </div>
                            <div class="paginationRightButtondv">
                                <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumberApprove+1), @(ViewBag.order))">Next</button>
                            </div>
                        }
                        else
                        {
                            <div class="paginationMiddleButtondv">
                                <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumberApprove-1), @(ViewBag.order))">Previous</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumberApprove - 1), @(ViewBag.order))">@(ViewBag.PageNumberApprove - 1)</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton activeBtn" onclick="POListLoad(@(ViewBag.PageNumberApprove), @(ViewBag.order))">@(ViewBag.PageNumberApprove)</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumberApprove + 1), @(ViewBag.order))">@(ViewBag.PageNumberApprove + 1)</button>
                            </div>
                            <div class="paginationRightButtondv">
                                <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumberApprove+1), @(ViewBag.order))">Next</button>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="tab-pane" id="TechReceivedTab">
            <table id="tblPO_tech">
                <thead class="table-head-border">
                    <tr>
                        @if (ViewBag.order == "ascending/dono" || ViewBag.order == "descending/dono")
                        {
                            <th class="th_timeclock"><div>@Localize.T("Description")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/dono"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/dono"></i></div></th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre"><div>@Localize.T("Description")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/dono"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/dono"></i></div></th>
                        }
                        @if (ViewBag.order == "ascending/dono" || ViewBag.order == "descending/dono")
                        {
                            <th class="th_timeclock"><div>@Localize.T("SKU")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/dono"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/dono"></i></div></th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre"><div>@Localize.T("SKU")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/dono"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/dono"></i></div></th>
                        }
                        @if (ViewBag.order == "ascending/status" || ViewBag.order == "descending/status")
                        {
                            <th class="th_timeclock"><div>@Localize.T("Transfer From")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/status"></i></div></th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre"><div>@Localize.T("Transfer From")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/status"></i></div></th>
                        }
                        @if (ViewBag.order == "ascending/status" || ViewBag.order == "descending/status")
                        {
                            <th class="th_timeclock"><div>@Localize.T("Quantity")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/status"></i></div></th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre"><div>@Localize.T("Quantity")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/status"></i></div></th>
                        }

                        @if (ViewBag.order == "ascending/status" || ViewBag.order == "descending/status")
                        {
                            <th class="th_timeclock"><div>@Localize.T("On Hand")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/status"></i></div></th>
                        }
                        else
                        {
                            <th class="th_timeclock_pre"><div>@Localize.T("On Hand")</div><div><i class="fa fa-angle-up icon_sort_potech" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_potech" data-val="descending/status"></i></div></th>
                        }

                        <th class="th_timeclock_pre"><div>@Localize.T("Transfer Date")</div></th>
                        <th class="th_timeclock_pre"><div>@Localize.T("Action")</div></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListAssignedInventoryTechReceived)
                    {
                        <tr>
                            <td class="table-body-td-style">
                                <div>@Localize.T("Name") <span>:</span></div>
                                <div>
                                    <span>@item.Name</span>
                                </div>
                            </td>
                            <td class="table-body-td-style"><div>@Localize.T("SKU") <span>:</span></div><div>@item.SKU</div></td>
                            <td class="table-body-td-style"><div>@Localize.T("Transfer From") <span>:</span></div><div>@item.ReceivedByName</div></td>
                            <td class="table-body-td-style"><div>@Localize.T("Quantity") <span>:</span></div><div>@item.Quantity</div></td>
                            <td class="table-body-td-style"><div>@Localize.T("On Hand") <span>:</span></div><div>@item.TotalQuantity</div></td>
                            
                            <td class="table-body-td-style">
                                <div>@Localize.T("Transfer Date") <span>:</span></div>
                                <div><span>@Localize.T("Request On: ")</span> @item.CreatedDate.ToString("MM/dd/yy")</div>
                                @if (item.IsDecline == true && item.ReceivedDate != null && item.ReceivedDate != new DateTime())
                                {
                                    <div><span>@Localize.T("Declined On: ")</span> @item.ReceivedDate.Value.ToString("MM/dd/yy")</div>
                                }
                                @if (item.IsApprove == true && item.ReceivedDate != null && item.ReceivedDate != new DateTime())
                                {
                                    <div><span>@Localize.T("Accpeted On: ")</span> @item.ReceivedDate.Value.ToString("MM/dd/yy")</div>
                                }
                            </td>
                            <td class="table-body-td-style">

                                @if (item.IsDecline == false)
                                {
                                    if (item.IsApprove == true)
                                    {
                                        <span>@Localize.T("Accepted")</span>
                                    }
                                    else
                                    {
                                        <span class="cus-anchor" onclick="InventoryTechReceiveConfirm('@item.EquipmentId', '@item.TechnicianId', @item.Quantity)">@Localize.T("Receive")</span> 
                                        <span class="cus-anchor" onclick="InventoryTechReceiveDecline(@item.Id, '@item.TechnicianId')">@Localize.T("Decline")</span>
                                    }

                                }
                                else
                                {
                                    <span>@Localize.T("Declined")</span>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="AgentListPagination inv1">
                <div class="paginationContainer">
                    @if (ViewBag.PageCount > 0)
                    {
                        <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
                    }
                    @if (ViewBag.PageCount == 1)
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons disabledBtn">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton activeBtn" onclick="POListLoad(@(ViewBag.PageNumber), @(ViewBag.order))">1</button>
                        </div>
                        <div class="paginationRightButtondv">
                            <button class="PaginationButtons disabledBtn">Next</button>
                        </div>
                    }
                    else if (ViewBag.PageCount == 2)
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="POListLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="POListLoad(1, @(ViewBag.order))">1</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="POListLoad(2, @(ViewBag.order))">2</button>
                        </div>
                        <div class="paginationRightButtondv">
                            <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="POListLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
                        </div>
                    }
                    else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="POListLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="POListLoad(1, @(ViewBag.order))">1</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="POListLoad(2, @(ViewBag.order))">2</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="POListLoad(3, @(ViewBag.order))">3</button>
                        </div>
                        <div class="paginationRightButtondv">
                            <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="POListLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
                        </div>
                    }
                    else if (ViewBag.PageCount > 3)
                    {
                        if (ViewBag.PageNumber == ViewBag.PageCount)
                        {
                            <div class="paginationMiddleButtondv">
                                <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumber-2), @(ViewBag.order))">@(ViewBag.PageNumber - 2)</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton activeBtn" onclick="POListLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                            </div>
                            <div class="paginationRightButtondv">
                                <button class="PaginationButtons disabledBtn" onclick="POListLoad()">Next</button>
                            </div>
                        }
                        else if (ViewBag.PageNumber == 1)
                        {
                            <div class="paginationMiddleButtondv">
                                <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumber + 2), @(ViewBag.order))">@(ViewBag.PageNumber + 2)</button>
                            </div>
                            <div class="paginationRightButtondv">
                                <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                            </div>
                        }
                        else if (ViewBag.PageNumber == 2)
                        {
                            <div class="paginationMiddleButtondv">
                                <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                            </div>
                            <div class="paginationRightButtondv">
                                <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                            </div>
                        }
                        else
                        {
                            <div class="paginationMiddleButtondv">
                                <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumber - 1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton activeBtn" onclick="POListLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                            </div>
                            <div class="NavigatonButtonsDiv">
                                <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                            </div>
                            <div class="paginationRightButtondv">
                                <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

