@{
    ViewBag.Title = "Activity Details";
    Layout = null;
    var CurrentLoggedInUser = ((HS.Web.UI.Helper.CustomPrincipal)(User));

}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig; 
@model HS.Entities.Activity


@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using System.Configuration
@using HS.Framework
@Styles.Render("~/styles/CustomerDetails")

<script>

    var AddActivityMenu = function (id) {
        OpenTopToBottomModal("@(AppConfig.DomainSitePath)/Activity/AddActivity/?Id=" + id);
    }
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    });
</script>


<div class="main-container-customer-detail">

    <div class="detail-contents">
        <div class="nav-detail-contents">
            <ul class="nav nav-tabs contact-options-tabs customer_detail_tab_style contact_detail_tab_list" id="myTab">
                <li class="active ContactDetailTab">
                    <a tabname="#ContactDetailTab" idval="@Model.ActivityId" data-target=".TicketTab_Load" data-toggle="tab">
                        @Localize.T("Activity Detail Tab")

                    </a>
                </li>
            </ul>
            <div class="tab-content tab_Content_contact_items">
                <div class="tab-pane active ">


                    <div class="Customer-detailstabcontent">
                        <div class="Customer-details-info-left">
                            <div class="customer-subTab-left-content">


                                <div class="ci_block">
                                    <div class="ci_header clearfix">
                                        <div class="float_left">@Localize.T("Activity Information")</div>
                                        <div class="float-right">
                                            @if (!PermissionChekcer.IsPermitted(Permissions.UserMgmtPermissions.CustomerViewOnly) || Model.AssignedTo == CurrentLoggedInUser.UserId)
                                            {
                                                <button title="Edit" type="button" @*id="editCustomerCustomerDetailsHeader"*@ onclick="AddActivityMenu('@Model.Id')" idval="@Model.Id" class="btn edit-button editCustomerCustomerDetailsHeader">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </button>
                                            }
                                            </div>
                                    </div>
                                    <div class="ci_info">
                                        <table class="width-100p ci_table">

                                            <tr class="info-table-tr">
                                                <td class="tr-title">@Localize.T("ID") <span>:</span></td>
                                                <td class="tr-data">@Model.Id
                                                <td>
                                            </tr>

                                           @if (!string.IsNullOrEmpty(Model.ActivityTypeVal))
                                           {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Activity Type") <span>:</span></td>
                                                    <td class="tr-data">
                                                        <span>@Model.ActivityTypeVal</span>
                                                    <td>
                                                </tr>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.AssignedToVal))
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Assigned To") <span>:</span></td>
                                                    <td class="tr-data">@Model.AssignedToVal
                                                    <td>
                                                </tr>
                                            }
                                            @if (Model.DueDate != new DateTime())
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Due Date") <span>:</span></td>
                                                    <td class="tr-data">@HS.Framework.DateTimeExtension.UTCToClientTime(Model.DueDate.Value)
                                                    <td>
                                                </tr>
                                            }

                                            @if (!string.IsNullOrEmpty(Model.Status) && Model.Status != "-1")
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Status") <span>:</span></td>
                                                    <td class="tr-data">@Model.Status
                                                </tr>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(Model.OriginVal))
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Origin") <span>:</span></td>
                                                    <td class="tr-data">@Model.OriginVal
                                                </tr>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.AssociatedWithVal))
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Associated With") <span>:</span></td>
                                                    <td class="tr-data">@Model.AssociatedWithVal
                                                </tr>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Note))
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Note") <span>:</span></td>
                                                    <td class="tr-data">@Model.Note
                                                </tr>
                                            }
                                            @if (Model.CreatedDate != new DateTime())
                                            {
                                                <tr class="info-table-tr">
                                                    <td class="tr-title">@Localize.T("Created Date") <span>:</span></td>
                                                    <td class="tr-data">@HS.Framework.DateTimeExtension.UTCToClientTime(Model.CreatedDate)
                                                </tr>
                                            }


                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>

        </div>
    </div>
</div>




