@{
    Layout = null;
}
<script>
    var activityTab = '@ViewBag.activityTab';
</script>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
<script>
    var customerid = '@ViewBag.customerid';
    var idsAll = "";
    var PrintActivity = function () {
        $(".PrintItem").each(function () {
            idsAll += $(this).attr("data-id") + ",";
        })
        console.log(idsAll);
        var PdfUrl = "/Activity/GetActivityFilterList/?Ids=" + idsAll;
        window.open(PdfUrl, '_blank'); 
    }
    var AddActivityCustomer = function (id) {
        OpenTopToBottomModal(domainurl +"/Activity/AddActivity/?Id=" + id + "&CustomerId=" + CustomerLoadGuid + "&activityTab=" + activityTab);
    }

    var NavigatePageListing = function (pagenumber, order) { 
        var LoadCustomerDiv = "#customer_tab_" + CustomerLoadId + " ";
        var searchText = $(LoadCustomerDiv + ".ActivtySearchText").val(); 
        $(LoadCustomerDiv + ".LoadActivityListPartial").load(domainurl + "/Activity/LoadActivityListPartial", { PageNumber: pagenumber, SearchText: searchText, Order: order, CustomerId: CustomerLoadGuid });
    }
    var OpenNewActivity = function (cusid) {
        OpenTopToBottomModal(domainurl + "/Activity/AddActivity?id=0&CustomerId=" + cusid + "&activityTab=" + activityTab);
        history.pushState({ urlpath: window.location.pathname }, window.location.hash, "#addActivity");
    }
    var openExcel = function (customerid) {
        window.location.href = "/Reports/NewReport/?ReportFor=Activity&CustomerActivity=" + customerid;
    }
    $(document).ready(function () { 
        NavigatePageListing(1, null);  
        var DateFrom = new Pikaday({
            field: $('.DateFrom')[0],
            format: 'MM/DD/YYYY'
        });
        var DateTo = new Pikaday({
            field: $('.DateTo')[0],
            format: 'MM/DD/YYYY'
        }); 
        $(".LoaderWorkingDiv").hide();  
          
    }); 
</script>
<link href="~/Content/Activity/Activity.css" rel="stylesheet" />
<div class="activity_list_container_customer">
    <div class="left_activity_customer_list">
      
        <div class="input-group add-on">
            <input class="form-control ActivtySearchText" placeholder="Find Activities" type="text">
            <div class="input-group-btn">
                <button title="@Localize.T("Search")" onclick="NavigatePageListing(1, null)" class="btn btn-filter btn_customerlist_filter green_button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
       
    </div>
    <div class="right_activity_customer_list">
        <button class="btn btn_addPTO" onclick="OpenNewActivity('@ViewBag.customerid')"><i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("New")</button>
        <div class="dropdown activities_export">
            <button class="btn addView_button dropdown-toggle" data-toggle="dropdown" title="@Localize.T("Download")" style="margin-right:5px;"><i class="glyphicon glyphicon-download-alt"></i></button>
            <ul class="dropdown-menu ImportPanel">
                <li>
                    <button class="btn" onclick="openExcel('@ViewBag.customerid')"><i class="fa fa-file-excel-o"></i> @Localize.T("Excel")</button>
                </li>
                <li>
                    <button class="btn" onclick="PrintActivity('@ViewBag.customerid')"><i class="fa fa-file-pdf-o"></i> @Localize.T("Pdf") </button>
                </li>
            </ul>
        </div>
    </div> 
    <div class="LoadActivityListPartial">

    </div>
</div>

