
@{
    ViewBag.Title = "GetActivityFilterList";
    Layout = null;
}
@model IEnumerable<HS.Entities.Activity>
@using Localize = HS.Web.UI.Helper.LanguageHelper
<table style="table-layout:fixed; width:100%; float:left; border-collapse:collapse;" class="Activity_table">
    <thead>
        <tr>
            <th style=" ">
                <div>@Localize.T("Activity ID")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/id"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/id"></i></div>
            </th>

            <th style=" ">
                <div>@Localize.T("Activity Type")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/activitytype"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/activitytype"></i></div>
            </th>

            <th style=" ">
                <div>@Localize.T("Description")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/description"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/description"></i></div>
            </th>

            <th style=" ">
                <div>@Localize.T("Assign To")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/assignedTo"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/assignedTo"></i></div>
            </th>

            <th style=" ">
                <div>@Localize.T("Due Date")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/duedate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/duedate"></i></div>
            </th>

            <th style=" ">
                <div>@Localize.T("Status")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/status"></i></div>
            </th>
            <th style=" ">
                <div>@Localize.T("Origin")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/status"></i></div>
            </th>

            <th style=" ">
                <div>@Localize.T("Associated With")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/associatedwith"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/associatedwith"></i></div>
            </th>
            <th style=" ">
                <div>@Localize.T("Note")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/Note"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/Note"></i></div>
            </th>
            <th style=" ">
                <div>@Localize.T("Created By")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/Note"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/Note"></i></div>
            </th>
            <th style=" ">
                <div>@Localize.T("Created Date")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/Note"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/Note"></i></div>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr class="PrintItem" data-id="@item.Id">
            <td style=" ">

                <div> <a id="edit" class="cus-anchor" onclick="AddActivity(@item.Id)">@item.Id</a></div>
            </td>
            <td style=" ">

                <div>@item.ActivityTypeVal</div>
            </td>
            <td style=" ">

                <div>@item.Description</div>
            </td>
            <td style=" ">

                <div>@item.AssignedToVal</div>
            </td>
            <td style=" ">

                <div>
                    @if (item.DueDate != null && item.DueDate != new DateTime())
                    {
                        <span>@item.DueDate.Value.ToString("MM/dd/yy")</span>
                    }
                </div>
            </td>
            <td style=" ">

                <div>
                    @if (item.Status != "-1")
                    {
                        <span>@item.Status</span>
                    }
                </div>
            </td>
            <td style=" ">

                <div>@item.Origin</div>
            </td>
            <td style=" ">

                @if (string.IsNullOrEmpty(@item.AssociatedWithVal))
                {
                    <div> @item.AssociatedOpportunityVal</div>
                }
                else
                {
                    <div> @item.AssociatedWithVal</div>
                }

            </td>
            @*<td>@item.AssociatedType</td>*@
            <td style=" ">

                <div>@Html.Raw(item.Note)</div>
            </td>
            <td style=" ">

                <div>@Html.Raw(item.CreatedByVal)</div>
            </td>
            <td style=" ">

                <div>@Html.Raw(item.CreatedDate)</div>
            </td>
        </tr>
        }
    </tbody>

</table>



