

@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper;
@model HS.Entities.ServiceAreaZipcode
<style>
    .add_customer_follow_up_header {
        width: 100%;
        background-color: #f4f5f8;
        font-size: 2rem;
        font-weight: 400;
        color: #393a3d;
        padding: 12px 10px;
    }

    .add_followup_reminder_container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    #CustomerNoteNewNote {
        resize: none;
    }

    .item_margin {
        margin-top: 10px !important;
    }

    .SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }

    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }

    #btn-AddFollowUpReminder {
        float: right;
        background-color: green;
        color: white;
    }

    .followUp_SaveCancelDiv {
        width: 100%;
        padding-top: 8px;
        padding-right: 15px;
    }

    #SaveZipCode {
        float: right;
        padding-top: 8px;
    }
</style>
<script>
    var SaveZipCode = function () {
        var AreaZipCode = {};
        AreaZipCode.ZipCode = $("#zipcode").val(), 
        AreaZipCode.Id = $("#ZipId").val()
      
        $.ajax({

            type: "POST",
            url: domainurl + "/ServiceArea/SaveZipCode",
            data: '{AreaZipCode: ' + JSON.stringify(AreaZipCode) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.result) {
                  
                    OpenSuccessMessageNew("Success!", response.message, function () {

                        $(".close").click();
                        $("#LoadAreaZipCode").load(domainurl + "/ServiceArea/AreaZipCode");
                    })


                }
                else {
                    OpenErrorMessageNew("Error!", response.message);
                }
                //window.location.reload();
            }
        });
    }

    $(document).ready(function () {
        $("#zipcode").blur(function () {
            if ($("#zipcode").val() == "") {
                $("#zipcodeError").removeClass("hidden");
            }
            if ($("#zipcode").val() != "") {
                $("#zipcodeError").addClass("hidden");
            }
        })
       
      
      
        $('#SaveZipCode').click(function () {
            if (CommonUiValidation()) {
                SaveZipCode();
            }

        });

    });
</script>
<input type="hidden" id="ZipId" value="@Model.Id"/>
<div class="add_customer_follow_up_header">
   @if (Model.Id > 0)
   {
    
    <span>@Localize.T("Edit Zip Code")</span>
   }
   else
   {
    <span>@Localize.T("Add Zip Code")</span>
   }

</div>
<div class="add_followup_reminder_container">
    <div class="row">
        <div class="col-md-12 add_followup_reminder_body">
         
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("Zip Code")</span>
                <input type="text" class="form-control" id="zipcode" name="zipcode" value="@Model.Zipcode" datarequired="true" />
                <label rel="zipcode" id="zipcodeError" class="label hidden red position-absolute">*@Localize.T("Enter zip code.")</label>
            </div>
           
           
        </div>
    </div>
</div>
<section class="footer-section">
    <footer class="footer">
        <div class="followUp_SaveCancelDiv">

            <button id="SaveZipCode" type="button" class="btn">@Localize.T("Save")</button>

        </div>
    </footer>
</section>