

@{
    Layout = null;
}
@model List<HS.Entities.ServiceFee>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/DataTableBundles")
@Scripts.Render("~/scripts/DataTableBundles")
@Styles.Render("~/styles/Mmrs")
@*@Scripts.Render("~/scripts/Mmrs")*@
<link href="~/Content/Css/FeeSetting/ServiceFeePartial.css" rel="stylesheet" />
<script>
    var DataTablePageSize = 50;
    var selectedDeleteId = 0;
    var ServiceFeeDelete = function () {
        var delitem = selectedDeleteId;
        $.ajax({
            url: domainurl + "/ServiceFee/DeleteServiceFee",
            data: { id: delitem },
            type: "Post",
            dataType: "Json",
            success: function (result) {
                if (result) {
                    $(".LoadService").load(domainurl + "/ServiceFee/ServiceFeePartial/");
                }
            },

            error: function () {
            }

        });

    }
    $(document).ready(function () {
        parent.$('.close').click(function () {
            parent.$(".modal-body").html('');
        })
        var table = $('#tblServiceFee').DataTable({
            "pageLength": DataTablePageSize,
            "destroy": true,
            "language": {
                "emptyTable": "No data available"
            }
        });
        $(".LoaderWorkingDiv").hide();
        $(".AddService").click(function () {
            OpenRightToLeftModal(domainurl + "/ServiceFee/AddServiceFee");
        })
        $('#tblServiceFee tbody').on('click', 'tr', function () {

            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        $(".item-edit").click(function () {
            var itemId = $(this).attr('data-id');
            OpenRightToLeftModal(domainurl + "/ServiceFee/AddServiceFee?id=" + itemId);

        });

        $(".item-delete-panel").click(function (item) {
            selectedDeleteId = $(item.target).attr("data-id");
            OpenConfirmationMessageNew("Confirm?", "Are you sure you want to delete this item?", ServiceFeeDelete);
        });

        $(".srch-term-acc").keyup(function () {
            $("#tblServiceFee_filter input").val($(".srch-term-acc").val());
            $("#tblServiceFee_filter input").trigger('keyup');
        });
    })
</script>

<div class="page-wrap">
    <div class="container-fluid">
        <div class="sv_fee_search_div_bar">
            <div class="input-group add-on">
                <input class="form-control srch-term-acc" placeholder="Find a Service Fee" name="srch-term-acc" @*id="srch-term-acc"*@ type="text">
                <div class="input-group-btn">
                    <button class="btn custom-btn green_button" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
           
            <button class="AddService"><i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")</button>
       
        
       
        <div class="custom-table">
            <table class="display" id="tblServiceFee">
                <thead class="table-head-border custom_hide_header">
                    <tr>
                        <th class="thead-th-style sorting">
                            @Localize.T("Label Name")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Value")
                        </th>
                        <th class="thead-th-style sorting text-right">
                            @Localize.T("Actions")
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr class="tr-style">

                        <td class="table-body-td-style device_style_info" valign="top">
                            <div class="device_header">@Localize.T("Label Name")</div>
                            <span class="info_style_device">
                                <a href="javascript:void(0)" class="item-edit name-anchor-style" data-id="@item.Id">

                                    @item.Name
                                </a>
                            </span>
                    </td>
                    <td class="table-body-td-style device_style_info" valign="top">
                        <div class="device_header">@Localize.T("Fee")</div>
                        <span class="info_style_device">
                            @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.Fee)
                        </span>
                    </td>
                    <td class="table-body-td device_style_info" valign="top">
                        <div class="device_header">@Localize.T("Actions")</div>
                        <a href="javascript:void(0)" class="item-delete-panel info_style_device" data-id="@item.Id" title="@Localize.T("Delete")">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                }

            </table>
        </div>
    </div>
</div>