@{
    Layout = null;
}
@model HS.Entities.SmartPackage
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script src="~/Content/Js/Site/Validation.js"></script>
<script src="~/Content/Js/PackageSetup/AddNewSmartPackage.js"></script>
<script>
    @*$("#SmartInstallTypeId").val('@Model.SmartInstallTypeId')*@

</script>
<style>
    .PackageArea {
        overflow: scroll;
    }

        .PackageArea .form-group label {
            margin-bottom: 0px;
        }
        .PackageArea .form-group {
            position:relative;
        }
</style>
<link href="~/Content/Css/PackageSettings/AddPackage.css" rel="stylesheet" />
<div class="add_package_settings_header">
    @Localize.T("Smart Package Settings")
</div>
<div class="container-fluid PackageArea">
    @Html.HiddenFor(x => x.Id, new { Id = "Id" })
    @Html.HiddenFor(x => x.PackageId, new { Id = "PackageId" })
    <input type="hidden" id="smartpackagetype" value="@Model.PackageType" />
    <div class="form-group clearfix">
        <label>@Localize.T("Name")<span class="red">*</span></label>
        @Html.TextBoxFor(x => x.PackageName, new { @class = "form-control", placeholder = "Package Name", datarequired = "true" })
        <label rel="Name" class="label hidden red position-absolute">*@Localize.T("Package Name Required")</label>
    </div>
    <div class="form-group clearfix">
        <label>@Localize.T("Package Type")<span class="red">*</span></label>
        @Html.DropDownListFor(x => x.PackageType, (List<SelectListItem>)ViewBag.PackageType, new { @class = "form-control", id = "PackageType" })
        <label rel="Name" class="label hidden red position-absolute">*@Localize.T("Package Name Required")</label>
    </div>
    @if (ViewBag.From != "")
    {
        <div class="form-group clearfix">
            <label>@Localize.T("Package Code")<span class="red">*</span></label>
            @Html.TextBoxFor(x => x.PackageCode, new { @class = "form-control", placeholder = "Package Code", datarequired = "true" })
            <label rel="PackageCode" class="label red position-absolute">*@Localize.T("Add Code Here")</label>
        </div>
    }
    else
    {
        <div class="form-group clearfix">
            <label>@Localize.T("Package Code")<span class="red">*</span></label>
            @Html.TextBoxFor(x => x.PackageCode, new { @class = "form-control", placeholder = "Package Code", datarequired = "true" })
            <label rel="PackageCode" class="label hidden red position-absolute">*@Localize.T("Package Code Required")</label>
        </div>
    }

    <div class="form-group clearfix">
        <label>@Localize.T("System Type")<span class="red">*</span></label>
        @Html.DropDownListFor(x => x.SmartSystemTypeId, (List<SelectListItem>)ViewBag.SmartSystemTypeList, new { @class = "form-control PackageId_select2", datarequired = "true", onchange = "LoadInstallType(this.value)" })
        <label rel="PackageId" class="label hidden red position-absolute">*@Localize.T("Please Select a system type")</label>
    </div>
    <div class="form-group clearfix">
        <label>@Localize.T("Lead Type")<span class="red">*</span></label>
        @Html.DropDownListFor(x => x.UserType, (List<SelectListItem>)ViewBag.typeuser, new { @class = "form-control" })
    </div>
    <div class="form-group clearfix">
        <label>@Localize.T("Manufacturer")<span class="red">*</span></label>
        <div class="DropLoader" style="display: none;">
            <img style="float: right; left: 285px; position: absolute;" src="~/Content/Tiny/skins/lightgray/img/loader.gif" />
        </div>
        @Html.DropDownListFor(x => x.ManufacturerId, (List<SelectListItem>)ViewBag.ManufacturerList, new { @class = "form-control dropdown_equipment", datarequired = "false" })
        <label rel="PackageId" class="label hidden red position-absolute">*@Localize.T("Please Select An install type")</label>
    </div>
    <div class="form-group clearfix">
        <label>@Localize.T("Install Type")<span class="red">*</span></label>
        <div class="DropLoader" style="display: none;">
            <img style="float: right; left: 285px; position: absolute;" src="~/Content/Tiny/skins/lightgray/img/loader.gif" />
        </div>
        @Html.DropDownListFor(x => x.SmartInstallTypeId, (List<SelectListItem>)ViewBag.SmartInstallTypeList, new { @class = "form-control dropdown_equipment", datarequired = "true" })
        <label rel="PackageId" class="label hidden red position-absolute">*@Localize.T("Please Select An install type")</label>
    </div>


    <div class="form-group clearfix">
        <label>@Localize.T("Package Limit")<span class="red">*</span></label>
        @Html.TextBoxFor(x => x.EquipmentMaxLimit, new { @class = "form-control", @type = "number", datarequired = "true" })
        <label rel="OptionEqpMaxLimit" class="label hidden red position-absolute">*@Localize.T("Package Maximum Limit Required")</label>
    </div>
    <div class="form-group clearfix">
        <label>@Localize.T("Activation Fee")</label>
        <div class="currency_style">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)
                    </span>
                </div>
                @Html.TextBoxFor(x => x.ActivationFee, new { @class = "form-control", @type = "number" ,placeholder = "Activation Fee"})
            </div>
        </div>

        @*<label rel="OptionEqpMaxLimit" class="label hidden red position-absolute">@Localize.T("Package Maximum Limit Required")</label>*@
    </div>
    <div class="form-group clearfix">
        <label>@Localize.T("Min Credit")</label>
        @Html.TextBoxFor(x => x.MinCredit, new { @class = "form-control", @type = "number" ,placeholder = "Min Credit"})
    </div>
    @*<div class="form-group clearfix">
            <label>@Localize.T("Max Credit")</label>
            @Html.TextBoxFor(x => x.MaxCredit, "{0:0,0.00}", new { @class = "form-control", @type = "number" })
        </div>*@
    <div class="form-group clearfix">
        <label>@Localize.T("Non Conforming Fee")</label>
        <div class="currency_style">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)
                    </span>
                </div>
                @Html.TextBoxFor(x => x.ConformingFee, new { @class = "form-control", @type = "number" ,placeholder = "Non Conforming Fee"})
            </div>
        </div>
    </div>
    <div class="form-group clearfix">
        <label>@Localize.T("Non Conforming")</label>
        <input type="checkbox" id="NonConforming" @((Model.NonConforming.HasValue && Model.NonConforming.Value) ? "checked" : "") />
    </div>
    @if (PermissionChekcer.IsPermitted(Permissions.ToolsPermissions.PackageSetupAddCSPrefix))
    {
        <div class="form-group clearfix">
            <label>@Localize.T("CS Prifix")</label>
            @Html.DropDownListFor(x => x.CustomerNumber, (List<SelectListItem>)ViewBag.customerNoPrefixList, new { @class = "form-control dropdown_cusno" })
        </div>
    }
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="save-package-div">
            <button class="btn-saveeidt-package" id="saveEditPackage">@Localize.T("Save & Edit")</button>
        </div>
        <div class="save-package-div">
            <button class="btn-save-package" id="savePackage">@Localize.T("Save")</button>
        </div>
    </footer>
</section>