@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
@model List<HS.Entities.SmartPackage>

<script src="~/Content/Js/PackageSetup/SmartPackageList.js"></script>
<link href="~/Content/Css/PackageSettings/PacakgeListPartial.css" rel="stylesheet" />
<link href="~/Content/Css/PackageSettings/CompanyPackageListPartial.css" rel="stylesheet" />


<style>
  .package_status_div {
      width:auto;
      float:left;
      margin-top: -50px;
  }
  .package_status_div div {
      width:auto;
      float:left;
      font-weight:bold;
      padding:5px 0px;
  }
  .package_status_div #packageStatus {
      width:100px;
      float:left;
      margin-left:10px;
  }
  .com_package_list_table thead tr th {
      padding-left:10px;
      padding-right:10px;
  }
  .packageListTable_inner #packageListTable_filter input {
     
  }
</style>
<script>
   
    var StatusChange = function (e) {
        if ($(this).hasClass("off")) {
            console.log("Activate")
            //call some function
        } else {
            console.log("Deactivate")
            //call some other functions
        }
    }
    var ClonePackage = function (item) {
        var url = domainurl + "/SmartPackageSetup/ClonePackage";
        $.ajax({
            url: url,
            data: { id: item },
            type: "Post",
            dataType: "Json",
            success: function (data) {
                //if (data == true) {
                $(".company-packagelist-div").load("@(AppConfig.DomainSitePath)/SmartPackageSetup/CompanyPackageListPartial");
                OpenRightToLeftModal(domainurl + "/SmartPackageSetup/AddCompanyPackagePartial/?Id=" + data.PackageId+"&From=Clone");
                //}
            }
        });
    }
    var NavigatePageListing = function (pagenumber, order) {
        var searchText = $("#PackageSearch").val();
        var FilterText = $("#packageStatus").val();

        $(".company-packagelist-div").load(domainurl + "/SmartPackageSetup/CompanyPackageListPartial", { PageNumber: pagenumber, SearchText: searchText, Order: order, FilterText: FilterText });
    }
    $(document).ready(function () {
        var pageno = '@ViewBag.PageNumber';
        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            NavigatePageListing(pageno, orderval);
        })
        $('.toggle-demo').bootstrapToggle();
        //$('#toggle-two').bootstrapToggle({
        //    on: 'Enabled',
        //    off: 'Disabled'
        //});
        //$(".toggle-demo").unbind("onchange");
        //var it = $(":checkbox")
        //  .map(function () {
        //      if ($("#status_" + this.id).text() == "True") {
        //          $("#" + this.id).bootstrapToggle('on');
        //      }
        //      else {
        //          $("#" + this.id).bootstrapToggle('off');
        //      }
        //  }).get().join();
        //console.log(it);
        $(".toggle-demo").on("change", function () {
            var pid = $(this).attr("idval");
          
            $.ajax({
                url: "@(AppConfig.DomainSitePath)/SmartPackageSetup/SmartPackageStatusChange",
                data: { id: pid },
                type: "Post",
                dataType: "Json"
            }).done(function () {
                $(".company-packagelist-div").load("@(AppConfig.DomainSitePath)/SmartPackageSetup/CompanyPackageListPartial");
            });
        });
    });
</script>
<div class="packageListTableContainer">
    <div class="packageListTable_inner">
    @if (ViewBag.OutOfNumber == 0)
    {
        @ViewBag.Message;
    }
    else
    {
        <table id="packageListTable"  class="company_pkg_list_table">
            <thead>
                <tr>
                    <th>
                        <div> @Localize.T("Name")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/name"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/name"></i></div>
                    </th>
                  
                    <th>
                        <div> @Localize.T("System Type")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/systype"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/systype"></i></div>
                    </th>
                   
                    <th>
                        <div>@Localize.T("Install Type")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/installtype"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/installtype"></i></div>
                    
                    </th>
                
                    <th>
                        <div>@Localize.T("Activation Fee")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/actfee"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/actfee"></i></div>
                    </th>
              
                    <th class="hidden">
                        <div>@Localize.T("Status")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/status"></i></div>
                    </th>
                 
                    <th class="ad">
                        <div> @Localize.T("Activate/Deactivate")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/status"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/status"></i></div>
                    </th>
                    <th class="ld">
                        <div>@Localize.T("Last Edited")</div>
                        <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/lastupdateddate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/lastupdateddate"></i></div>
                    </th>
                    <th class="ac">@Localize.T("Action")</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="cplp_info_allign">
                            <div class="cplp_device"> @Localize.T("Name") <span>:</span></div>
                            <div class="cplp_information">
                                <a class="edit-package" onclick="EditPackage(@item.Id)" idval="@item.Id">@((string.IsNullOrWhiteSpace(item.UserType) || item.UserType == "-1") ? "" : string.Format("{0} -> ", item.UserType)) @item.PackageName @(string.IsNullOrWhiteSpace(item.PackageCode) ? "" : string.Format("[{0}]", item.PackageCode))</a>
                                <i class="fa fa-eye cursor-pointer" style="float:right" onclick="ManagePackage('@item.PackageId')" title="View Package"></i>
                            </div>
                        </td>
                        <td class="cplp_info_allign">
                            <div class="cplp_device"> @Localize.T("System Type") <span>:</span></div>
                            <div class="cplp_information"> @item.SystemType</div>
                        </td>
                        <td class="cplp_info_allign">
                            <div class="cplp_device">@Localize.T("Install Type") <span>:</span></div>
                            <div class="cplp_information">  @item.InstallType</div>
                        </td>
                        <td class="cplp_info_allign">
                            <div class="cplp_device">@Localize.T("Activation Fee") <span>:</span></div>
                            <div class="cplp_information"> @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.ActivationFee.Value)</div>
                        </td>
                        <td class="cplp_info_allign hidden" id="status_editor_draw_erase_@item.Id">
                            <div class="cplp_device">@Localize.T("Status") <span>:</span></div>
                            <div class="cplp_information"> @item.IsActive</div>
                        </td>
                        <td class="cplp_info_allign">
                            <div class="cplp_device"> @Localize.T("Activate/Deactivate") <span>:</span></div>
                            <div class="cplp_information"> <input type="checkbox" @(item.IsActive.HasValue && item.IsActive.Value == true ? "checked" : "") class="toggle-demo" idval="@item.Id" id="editor_draw_erase_@item.Id" @*onchange="StatusChange(@item.Id)"*@ data-toggle="toggle" data-on="Activate" data-off="Deactivate" data-onstyle="success" data-offstyle="danger"></div>
                        </td>
                        <td class="cplp_info_allign">
                            <div class="cplp_device">@Localize.T("Last Edited") <span>:</span></div>
                            <div class="cplp_information"> @item.LastUpdatedName @HS.Framework.DateTimeExtension.UTCToClientTime(item.LastUpdatedDate.Value).ToString("MM/dd/yy")</div>
                        </td> 
                        <td class="cplp_info_allign" style="cursor:pointer;">
                            <div class="cplp_device">@Localize.T("Action") <span>:</span></div>
                            <div class="cplp_information"><a class="cus-anchor" onclick="ClonePackage('@item.Id')" title="@Localize.T("Clone")" style="margin-right:5px;"><i class="fa fa-clone"></i></a>/<a class="delete-package" idval="@item.Id" style="color:#c9302c; margin-left:5px;" title="@Localize.T("Delete")"><i class="fa fa-trash-o"></i></a></div>
                        </td> 
                    </tr>
                }
            </tbody>
        </table>
        <div class="Activity_pagination_container">
            <div class="Activity_pagination_inner">
                @if (ViewBag.PageCount == 1)
                {
                    <div class="paginationMiddleButtondv" id="pagination">
                        <button class="PaginationButtons disabledBtn">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">1</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons disabledBtn" disabled>Next</button>
                    </div>
                }
                else if (ViewBag.PageCount == 2)
                {
                    <div class="paginationMiddleButtondv" id="pagination">
                        <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigatePageListing(1)">1</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigatePageListing(2)">2</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons" disabled="@(ViewBag.PageNumber == 2 ? "disabled" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 2 ? ViewBag.PageNumber + 1 : ""))">Next</button>
                    </div>
                }
                else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
                {
                    <div class="paginationMiddleButtondv" id="pagination">
                        <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""))">Previous</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigatePageListing(1)">1</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigatePageListing(2)">2</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 3 ? "activeBtn" : "")" onclick="NavigatePageListing(3)">3</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons" disabled="PaginationButtons @(ViewBag.PageNumber == 3 ? "disabled" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 3 ? ViewBag.PageNumber + 1 : ""))">Next</button>
                    </div>
                }
                else if (ViewBag.PageCount > 3)
                {
                    if (ViewBag.PageNumber == 1)
                    {
                        <div class="paginationMiddleButtondv" id="pagination">
                            <button class="PaginationButtons" disabled onclick="NavigatePageListing()">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">Next</button>
                        </div>
                    }
                    else if (ViewBag.PageNumber == ViewBag.PageCount)
                    {
                        <div class="paginationMiddleButtondv">
                            <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))" id="pagination">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 2))" id="pagination">@(ViewBag.PageNumber - 2)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))" id="pagination">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))" id="pagination">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button class="PaginationButtons" disabled onclick="NavigatePageListing()">Next</button>
                        </div>
                    }
                    else
                    {
                        <div class="paginationMiddleButtondv" id="pagination">
                            <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))">Previous</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">Next</button>
                        </div>

                    }
                }
            </div>
            <div class="area_zip_code_pagination_inner">
                @if (ViewBag.PageCount > 0)
                {
                    <div class="paginationtextdv">
                        <span>Showing item @ViewBag.CurrentNumber of @ViewBag.OutOfNumber</span>
                    </div>
                }
            </div>
        </div>
    }

    </div>
</div>