@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.SmartPackageEquipmentService>

<link href="~/Content/Css/PackageSettings/PackageDeviceListPartial.css" rel="stylesheet" />
<script src="~/Content/Js/PackageSetup/SmartPackageDeviceList.js"></script>

<div class="packageDeviceListTableContainer">
    <table id="packageDeviceListTable" style="width:100%">
        <thead>
            <tr>
                <th>@Localize.T("Equipment Name")</th>
                <th>@Localize.T("Package Name")</th>
                <th>@Localize.T("Number of Equipment")</th>
                <th>@Localize.T("Action")</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a class="edit-smart-package-Device" idval="@item.Id">@item.EquipmentName</a></td>
                    <td>@item.PackageName</td>
                    <td>@item.EptNo</td>
                    <td><a class="delete-smart-package-Device" idval="@item.Id" title="@Localize.T("Delete")"><i class="fa fa-trash-o"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

