
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
@model HS.Entities.PackageCommission
<script src="~/Content/Js/Site/Validation.js"></script>
<link href="~/Content/Css/PackageSettings/AddPackageInclude.css" rel="stylesheet" />
@*<script src="~/Content/Js/PackageSetup/AddNewPackageInclude.js"></script>*@
<style>
    .DropLoader {
        width: 91%;
        height: 13%;
        margin-right: 20px;
        position: absolute;
        top: 150px;
        background-color: gray;
        opacity: .6;
        z-index: 10;
    }

        .DropLoader span {
            padding: 25%;
            color: #fff;
        }
</style>
<script>
    var Type = '@Model.Type';
    var CommissionType = '@Model.CommissionType';
    var PackageType = '@Model.PackageType';
    var LeadType = '@Model.LeadType';
    var savePackageCommission = function () {
        console.log("hiiii5");
        var url = "@(AppConfig.DomainSitePath)/SmartPackageSetup/AddCompanyPackageComission/";
        var param = JSON.stringify({
            id: $("#Id").val(),
            Type: $("#Type").val(),
            LeadType: $("#LeadType").val(),
            PackageType: $("#PackageType").val(),
            CommissionType: $("#CommissionType").val(),
            Commission:$("#Commission").val()
        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data == false) {
                    OpenErrorMessageNew("Error!", "Something Wrong!!!");
                }
                else {
                    OpenSuccessMessageNew("", "Package Commission added successfully", function () {
                        $(".company-package-comission-div").load(domainurl + "/SmartPackageSetup/CompanyPackageComission");
                        $(".close").click();
                    });


                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }
    $(document).ready(function () {
        parent.$('.close').click(function () {
            parent.$(".modal-body").html('');
        })
        $("#savePackageCommission").click(function () {
            if (CommonUiValidation()) {
                savePackageCommission();
            }
        })
        if (LeadType != "")
        {
            $("#LeadType").val(LeadType);
        }
        if (CommissionType != "") {
            $("#CommissionType").val(CommissionType);
        }
        if (Type != "") {
            $("#Type").val(Type);
        }
        if (PackageType != "") {
            $("#PackageType").val(PackageType);
        }
    })
</script>
<div class="add_package_include_header">
    @Localize.T("Add Package Commission")
</div>
<div class="container-fluid">
    @Html.HiddenFor(x => x.Id, new { Id = "Id" })
    <div class="form-group clearfix">
        <label>@Localize.T("Type")<span class="red">*</span></label>
        @Html.DropDownListFor(x => x.Type, (List<SelectListItem>)ViewBag.Type, new { @class = "form-control", id = "Type", datarequired = "true" })
        <label rel="Type" class="label hidden red position-absolute">*@Localize.T("Please select type")</label>
    </div>
    <div class="form-group clearfix">
        <label>@Localize.T("Package Type")<span class="red">*</span></label>
        @Html.DropDownListFor(x => x.PackageType, (List<SelectListItem>)ViewBag.PackageType, new { @class = "form-control", id = "PackageType", datarequired = "true" })
        <label rel="PackageType" class="label hidden red position-absolute">*@Localize.T("Please select package type")</label>
    </div>
    <div class="form-group clearfix">
        <label>@Localize.T("Lead Type")<span class="red">*</span></label>
        @Html.DropDownListFor(x => x.LeadType, (List<SelectListItem>)ViewBag.LeadType, new { @class = "form-control", id = "LeadType", datarequired = "true" })
        <label rel="LeadType" class="label hidden red position-absolute">*@Localize.T("Please select lead type")</label>
    </div>
    <div class="form-group clearfix">
        <label>@Localize.T("Commission Type")<span class="red">*</span></label>
        @Html.DropDownListFor(x => x.CommissionType, (List<SelectListItem>)ViewBag.CommissionType, new { @class = "form-control", id = "CommissionType", datarequired = "true" })
        <label rel="CommissionType" class="label hidden red position-absolute">*@Localize.T("Please select commission type")</label>
    </div>
    <div class="form-group clearfix">
        <label>@Localize.T("Commission")<span class="red">*</span></label>
        @Html.TextBoxFor(x => x.Commission, new { @class = "form-control", datarequired = "true", type = "texts", id = "Commission", name = "Commission" })
        <label rel="Commission" class="label hidden red position-absolute">*@Localize.T("Please enter commission")</label>
    </div>

</div>

<section class="footer-section">
    <footer class="footer">
        <div class="save-package-div">
            <button class="btn-save-package-include" id="savePackageCommission">@Localize.T("Save")</button>
        </div>
    </footer>
</section>


