@{
    Layout = null;
}
@model HS.Entities.SmartSystemInstallType
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script src="~/Content/Js/Site/Validation.js"></script>
<script src="~/Content/Js/PackageSetup/AddNewMapSystemInstallType.js"></script>
<link href="~/Content/Css/PackageSettings/AddPackage.css" rel="stylesheet" />
<div class="add_package_settings_header">
    @Localize.T("Map Smart Package Settings")
</div>
<div class="container-fluid">
    @Html.HiddenFor(x => x.Id, new { Id = "Id" })

    <div class="form-group clearfix">
        <label>@Localize.T("System Type")<span class="red">*</span></label>
        @Html.DropDownListFor(x => x.SystemId, (List<SelectListItem>)ViewBag.SmartSystemTypeList, new { @class = "form-control PackageId_select2", datarequired = "true"})
        <label rel="PackageId" class="label hidden red position-absolute">*@Localize.T("Please Select a system type")</label>
    </div>

    <div class="form-group clearfix">
        <label>@Localize.T("Install Type")<span class="red">*</span></label>
        <div class="DropLoader" style="display: none;"><span><img style="float: right; left: 285px; position: absolute;" src="~/Content/Tiny/skins/lightgray/img/loader.gif" /></div>
        @Html.DropDownListFor(x => x.InstallTypeId, (List<SelectListItem>)ViewBag.SmartInstallTypeList, new { @class = "form-control dropdown_equipment", datarequired = "true" })
        <label rel="PackageId" class="label hidden red position-absolute">*@Localize.T("Please Select An install type")</label>
    </div>
</div>

<div class="footer-section">
    <button class="btn" id="saveMapSystem">@Localize.T("Save")</button>
</div>
