
@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@model HS.Entities.SmartPackageEquipmentService
@using Localize = HS.Web.UI.Helper.LanguageHelper

@Styles.Render("~/styles/AddPackageService")
@Scripts.Render("~/scripts/AddPackageService")

<script>
    if ('@ViewBag.Check' == 1) {
        $("#packatab").removeClass("hidden");
    }
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";
</script>

<div class="add_package_optional_header">
    @Localize.T("Package Services")
</div>
<div class="container-fluid">
    @Html.HiddenFor(x => x.Id, new { Id = "Id" })

    <div class="form-group clearfix hidden" id="packatab">
        <label>@Localize.T("Package")<span class="red">*</span></label>
        @Html.DropDownListFor(x => x.PackageId, (List<SelectListItem>)ViewBag.PackageList, new { @class = "form-control PackageId_select2", datarequired = "true", onchange = "InitializeSuburbDropdown($('.dropdown_equipment'), this.value, '2')" })
        <label rel="PackageId" class="label hidden red position-absolute">*@Localize.T("Please Select a Package")</label>
    </div>

    <div class="form-group clearfix">
        <label>@Localize.T("Services")<span class="red">*</span></label>
        @Html.DropDownListFor(x => x.EquipmentId, (List<SelectListItem>)ViewBag.EquipmentList, new { @class = "form-control dropdown_equipment", datarequired = "true" })
        <label rel="PackageId" class="label hidden red position-absolute">*@Localize.T("Please Select An Equipment/Service")</label>
    </div>

    <div class="form-group clearfix">
        <label>@Localize.T("Price")<span class="red">*</span></label>
        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", placeholder = "Price", datarequired = "true" })
        <label rel="Price" class="label hidden red position-absolute">*@Localize.T("Price Required")</label>
    </div>
    <div class="form-group clearfix">
        <label>@Localize.T("Original Price")<span class="red">*</span></label>
        @Html.TextBoxFor(x => x.OriginalPrice, new { @class = "form-control", placeholder = "Original Price", datarequired = "true" })
        <label rel="OriginalPrice" class="label hidden red position-absolute">*@Localize.T("Original Price Required")</label>
    </div>
    <div class="form-group clearfix">
        <label>@Localize.T("Number of Equipment")<span class="red">*</span></label>
        @Html.TextBoxFor(x => x.EptNo, new { @class = "form-control", placeholder = "Number of Equipment", type="number" })
        <label rel="Name" class="label hidden red position-absolute">*@Localize.T("Price Required")</label>
    </div>
    <div>
        <div class="equipment_info_block_information equi_info">
            <table class="ServiceEqTab">
                <thead class="header_text_style">
                    <tr>
                        <th></th>
                        <th class="thead-th-style1 tab-index">@Localize.T("Equipment Name")</th>
                        <th class="thead-th-style1 tab-index">@Localize.T("Price")</th>
                        <th class="thead-th-style1 tab-index">@Localize.T("Action")</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ServiceEquipments != null && Model.ServiceEquipments.Count() > 0)
                    {
                        foreach (var item in Model.ServiceEquipments)
                        {
                            <tr class="HasItem" data-id="@item.EquipmentId">
                                <td valign="top"></td>
                                <td valign="top">
                                    <input type="text" class="ProductName" value="@item.EquipmentName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                                    <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div></div>
                                    <span class="spnProductName">@item.EquipmentName</span>
                                </td>
                                <td valign="top" class="hidden">
                                    <input type="text" value="@item.Quantity" class="txtProductQuantity" />
                                    <span class="spnProductQuantity">@item.Quantity</span>
                                </td>
                                <td valign='top'>
                                  <div class="pAmount">
                                      <div class="input-group-prepend">
                                          <div class="input-group-text">@Currency</div>
                                      </div>
                                      <input type='text' value="@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.EquipmentPrice)" onkeydown="OthersKeyDown(this, event)" class='txtProductAmount' />
                                  </div>
                                   
                                    <span class='spnProductAmount'>@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.EquipmentPrice)</span>
                                </td>
                                <td valign="top" class='tableActions'>
                                    <i class="fa fa-trash-o" aria-hidden="true" title="@Localize.T("Delete")"></i>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td valign="top"></td>
                            <td valign="top">
                                <input type="text" class="ProductName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                                <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div></div>
                                <span class="spnProductName"></span>
                            </td>
                            <td valign="top" class="hidden">
                                <input type="text" class="txtProductQuantity" />
                                <span class="spnProductQuantity"></span>
                            </td>
                            <td valign='top'> 
                                <div class="pAmount">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">@Currency</div>
                                    </div>
                                    <input type='text' onkeydown="OthersKeyDown(this, event)" class='txtProductAmount' />
                                </div> 
                                <span class='spnProductAmount'></span>
                            </td>
                            <td valign="top" class='tableActions'>
                                <i class="fa fa-trash-o" aria-hidden="true" title="@Localize.T("Delete")"></i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="save-package-div">
            <button class="btn-save-package-Optional" id="savePackageServices">@Localize.T("Save")</button>
        </div>
    </footer>
</section>


