
@{
    Layout = null;
}
@model HS.Entities.SalesComission
@using Localize = HS.Web.UI.Helper.LanguageHelper

<link href="~/Content/Select2/select2.css" rel="stylesheet" />
<link href="~/Content/Css/PackageSettings/AddPackageDevice.css" rel="stylesheet" />

<script src="~/Content/Js/Site/Validation.js"></script>
<script src="~/Content/Select2/Select2.min.js"></script>
<script src="~/Content/Js/AddEquipment/EquipmentSelect2.js"></script>
@*<script src="~/Content/Js/PackageSetup/AddNewSalesCommission.js"></script>*@
<script>
    var LoadLeadsType = function (e) {
        if (e == "Inside Sales") {
            $("#leadstypetab").removeClass("hidden");
            $("#leadstypedrpCL").removeClass("hidden");
            $("#leadstypedrpSG").addClass("hidden");

            $("#leadstypedrpCL").val("-1");
            $("#leadstypedrp").val("-1");
            $("#leadstypedrpSG").val("-1");
            $("#leadstypedrp").addClass("hidden");
        }
        if (e == "Outside Sales" || e == "Employee Sales") {
            $("#leadstypetab").removeClass("hidden");
            $("#leadstypedrpCL").addClass("hidden");
            $("#leadstypedrpSG").removeClass("hidden");

            $("#leadstypedrpCL").val("-1");
            $("#leadstypedrp").val("-1");
            $("#leadstypedrp").addClass("hidden");
        }
        if (e == "Tech Install Pay") {
            $("#leadstypetab").addClass("hidden");

            $("#leadstypedrp").val("-1");
            $("#leadstypedrpCL").val("-1");
            $("#leadstypedrpSG").val("-1");
        }
        if (e == "Company Outside") {
            $("#leadstypetab").removeClass("hidden");
            $("#leadstypedrpCL").addClass("hidden");
            $("#leadstypedrpSG").addClass("hidden");

            $("#leadstypedrpCL").val("-1");
            $("#leadstypedrpSG").val("-1");
            $("#leadstypedrp").removeClass("hidden");
        }
    }
    var LoadPackageDeviceList = function () {
        var packageId = $("#packageid").val();
        console.log(packageId);
        OpenSuccessMessageNew("Success!", "Sales Commission saved successfully.", function () {
            if (typeof packageId != 'undefined') {
                var InvoiceLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
                $(".TopToBottomModal .ContentsDiv").html(InvoiceLoaderText);
                setTimeout(function () {
                    $(".TopToBottomModal .ContentsDiv").load(domainurl + "/SmartPackageSetup/SmartServiceView/" + packageId);
                }, 700);
            }
        })
    }
    var saveSalesCommission = function () {
        var url = domainurl + "/SmartPackageSetup/AddCompanySalesCommission/";
        var LeadType = '';
        if ($("#leadstypedrpCL").val() != '-1') {
            LeadType = $("#leadstypedrpCL").val();
        }
        else if ($("#leadstypedrpSG").val() != '-1') {
            LeadType = $("#leadstypedrpSG").val();
        }
        else if ($("#leadstypedrp").val() != '-1') {
            LeadType = $("#leadstypedrp").val();
        }
        var param = JSON.stringify({
            id: $("#Id").val(),
            PackageServiceId: $("#serviceId").val(),
            SalesLocation: $("#SalesLocation").val(),
            LeadType: LeadType,
            AmoutParcent: $("#AmoutParcent").val()
        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                console.log(data);
                if (data == false) {
                    OpenErrorMessageNew("Error!", "Selected Equipment already taken");
                }
                else {
                    LoadPackageDeviceList();
                    OpenRightToLeftModal();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }

    $(document).ready(function () {
        if ('@Model.Id' > 0) {
            $("#AmoutParcent").val('@string.Format("{0:F4}", Model.AmoutParcent)');
        }
        $("#PackageServiceId").val('@ViewBag.PackId');
        if ('@Model.SalesLocation' == "Outside Sales" || '@Model.SalesLocation' == "Employee Sales") {
            $("#leadstypetab").removeClass("hidden");
            $("#leadstypedrpCL").addClass("hidden");
            $("#leadstypedrpSG").removeClass("hidden");

            $("#leadstypedrpCL").val("-1");
            $("#leadstypedrp").val("-1");
            $("#leadstypedrpSG").val('@Model.LeadType');
            $("#leadstypedrp").addClass("hidden");
        }
        if ('@Model.SalesLocation' == "Inside Sales") {
            $("#leadstypetab").removeClass("hidden");
            $("#leadstypedrpSG").addClass("hidden");
            $("#leadstypedrpCL").removeClass("hidden");

            $("#leadstypedrpSG").val("-1");
            $("#leadstypedrp").val("-1");
            $("#leadstypedrpCL").val('@Model.LeadType');
            $("#leadstypedrp").addClass("hidden");
        }
        if ('@Model.SalesLocation' == "Company Outside") {
            $("#leadstypetab").removeClass("hidden");
            $("#leadstypedrpCL").addClass("hidden");
            $("#leadstypedrpSG").addClass("hidden");

            $("#leadstypedrpCL").val("-1");
            $("#leadstypedrpSG").val("-1");
            $("#leadstypedrp").removeClass("hidden");
            $("#leadstypedrp").val('@Model.LeadType');
        }
        parent.$('.close').click(function () {
            parent.$(".modal-body").html('');
        })
        $("#saveSalesCommission").click(function () {
            if (CommonUiValidation()) {
                saveSalesCommission();
            }
        })
    })
</script>

<input type="hidden" name="name" value="@Model.PackageServiceId" id="serviceId" />
<div class="add_package_device_header">
    @Localize.T("Sales Commission")
</div>
<div class="container-fluid">
    @Html.HiddenFor(x => x.Id, new { Id = "Id" })

    <div class="form-group clearfix hidden">
        <label>@Localize.T("Smart Package")<span class="red">*</span></label>
        @Html.DropDownListFor(x => x.PackageServiceId, (List<SelectListItem>)ViewBag.PackageList, new { @class = "form-control PackageId_select2", datarequired = "true" })
        <label rel="PackageId" class="label hidden red position-absolute">*@Localize.T("Please Select A Package")</label>
    </div>

    <div class="form-group clearfix">
        <label>@Localize.T("Sales Location/Installation Pay")<span class="red">*</span></label>
        @Html.DropDownListFor(x => x.SalesLocation, (List<SelectListItem>)ViewBag.SalesLocationList, new { @class = "form-control", datarequired = "true", onchange="LoadLeadsType(this.value)" })
        <label rel="PackageId" class="label hidden red position-absolute">*@Localize.T("Please Select A Sales Location/Installation Pay")</label>
    </div>
    <div class="form-group clearfix hidden" id="leadstypetab">
        <label>@Localize.T("Leads Type")<span class="red">*</span></label>
        @*@Html.TextBoxFor(x => x.LeadType, new { @class = "form-control hidden", datarequired = "false", type = "text"})*@
        <select class="form-control" id="leadstypedrp">
            <option value="-1">Please Select</option>
            <option value="Company Lead">Company Lead</option>
            <option value="Self Generated">Self Generated</option>
        </select>

        <select class="form-control" id="leadstypedrpCL">
            <option value="-1">Please Select</option>
            <option value="Company Lead">Company Lead</option>
        </select>
        <select class="form-control" id="leadstypedrpSG">
            <option value="-1">Please Select</option>
            <option value="Self Generated">Self Generated</option>
        </select>
        <label rel="PackageId" class="label hidden red position-absolute">*@Localize.T("Please Select A Sales Location/Installation Pay")</label>
    </div>
    <div class="form-group clearfix">
        <label>@Localize.T("Commission X Multiple")<span class="red">*</span></label>
        @Html.TextBoxFor(x => x.AmoutParcent, new { @class = "form-control", datarequired = "true", type = "number" })
        <label rel="PackageId" class="label hidden red position-absolute">*@Localize.T("Please Enter an amount")</label>
    </div>
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="save-package-div">
            <button class="btn-save-package-device" id="saveSalesCommission">@Localize.T("Save")</button>
        </div>
    </footer>
</section>

