@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig; 
@model HS.Entities.SmartSystemType
<script src="~/Content/Js/Site/Validation.js"></script>
<script src="~/Content/Select2/Select2.min.js"></script>
<link href="~/Content/Select2/select2.css" rel="stylesheet" />
<link href="~/Content/Css/PackageSettings/AddPackageInclude.css" rel="stylesheet" />
@*<script src="~/Content/Js/PackageSetup/AddNewPackageInclude.js"></script>*@
<style>
    .DropLoader {
        width: 91%;
        height: 13%;
        margin-right: 20px;
        position: absolute;
        top: 150px;
        background-color: gray;
        opacity: .6;
        z-index: 10;
    }

        .DropLoader span {
            padding: 25%;
            color: #fff;
        }
</style>
<script>
    var LoadPackageSystemTypeList = function () {
        console.log("hiiii");
        var packageId = $("#packageid").val();
        OpenSuccessMessageNew("Success!", "Smart Package system type saved successfully.", function () {
            $(".company-package-smart-system-type-list-div").load("@(AppConfig.DomainSitePath)/SmartPackageSetup/CompanyPackageSmartSystemListPartial");
        });
    }
    var savePackageSystemType = function () {
        console.log("hiiii5");
        var url = domainurl + "/SmartPackageSetup/AddCompanySmartSystemType/";
        var param = JSON.stringify({
            id: $("#Id").val(),
            Name: $("#systemname").val()
        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data == false) {
                    OpenErrorMessageNew("Error!", "Something Wrong!!!");
                }
                else {
                    LoadPackageSystemTypeList();
                    OpenRightToLeftModal();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }
    $(document).ready(function () {
        parent.$('.close').click(function () {
            parent.$(".modal-body").html('');
        })
        $("#savePackageSystemType").click(function () {
            if (CommonUiValidation()) {
                savePackageSystemType();
            }
        })

        /*$(".PackageId_select2").select2({})
        $(".EquipmentId_select2").select2({})*/
    })
</script>
<div class="add_package_include_header">
    @Localize.T("Smart Package System Type")
</div>
<div class="container-fluid">
    @Html.HiddenFor(x => x.Id, new { Id = "Id" })
    <div class="form-group clearfix">
        <label>@Localize.T("System Type")<span class="red">*</span></label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", datarequired = "true",type = "texts", id="systemname", name="systemname" ,placeholder ="System Type"})
        <label rel="systemname" class="label hidden red position-absolute">*@Localize.T("Please enter smart system type")</label>
    </div>
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="save-package-div">
            <button class="btn-save-package-include" id="savePackageSystemType">@Localize.T("Save")</button>
        </div>
    </footer>
</section>

