@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;


@model List<HS.Entities.SmartInstallType>

<link href="~/Content/Css/PackageSettings/PacakgeIncludeListPartial.css" rel="stylesheet" />
<script src="~/Content/Js/PackageSetup/PackageIncludeList.js"></script>
<script>
    var DataTablePageSize = 50;
    var PacakgeDeleteId = 0;
    var LoadInstallTypeList = function () {
        var packageId = $("#packageid").val();
        console.log(packageId);
        OpenSuccessMessageNew("Success!", "InstallType deleted successfully.", function () {
            $(".company-package-install-type-list-div").load("@(AppConfig.DomainSitePath)/SmartPackageSetup/CompanyPackageInstallTypeListPartial");
        })
    }
    var table = $('#packageInstallTypeListTable').DataTable({
        "pageLength": DataTablePageSize,
        "destroy": true,
        "language": {
            "emptyTable": "No data available",
            searchPlaceholder: "Search By Install Type"

        }
    });
    var DeleteInstallType = function (PacakgeDeleteId) {
        OpenConfirmationMessageNew("Confirm?", "Are you sure you want to delete this item?", function () {
            $.ajax({
                url: domainurl + "/SmartPackageSetup/DeleteInstallType",
                data: { id: PacakgeDeleteId },
                type: "Post",
                dataType: "Json"
            }).done(function () {
                LoadInstallTypeList();
            });
        });
    }

    var EditInstallType = function (PacakgeDeleteId) {
        OpenRightToLeftModal(domainurl + "/SmartPackageSetup/AddCompanyPackageSmartInstallTypePartial/?Id=" + PacakgeDeleteId);
    }

        $(document).ready(function () {
        $('.dataTables_filter input[type="search"]').css(
            { 'width': '400px', 'display': 'inline-block' }
        );
    })

</script>
<style>
    .delete-install-type {
        color: #2ca01c;
        text-decoration: none;
    }

        .delete-install-type:hover {
            color: #2ca01c !important;
            text-decoration: none;
            cursor: pointer !important;
        }

    .edit-install-type {
        color: #2ca01c;
        font-weight: 600;
    }

        .edit-install-type:hover {
            color: #2ca01c !important;
            cursor: pointer !important;
        }
</style>
<div class="packageInstallTypeListTableContainer">
    <table id="packageInstallTypeListTable">
        <thead>
            <tr>
                <th>@Localize.T("Install Type")</th>
                <th>@Localize.T("Action")</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a class="edit-install-type" idval="@item.Id" onclick="EditInstallType(@item.Id)">@item.Name</a></td>
                    <td><a class="delete-install-type" idval="@item.Id" onclick="DeleteInstallType(@item.Id)" title="@Localize.T("Delete")"><i class="fa fa-trash-o"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

