

@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.CustomerAdditionalContact>


<script src="~/Content/JQuery/jquery-3.2.1.min.js"></script>
<link href="~/Content/Css/Ticket/RescheduleTicketPopup.css" rel="stylesheet" />
<script>
    var IsSoftcheck = '@ViewBag.IsSoftCheck';
    var Bureau = '@ViewBag.Bureau';
    var ContactId = "0";
    var For = '@ViewBag.For';
    $(document).ready(function () {
        $(".ContactItem").change(function() {
            if ($(this).is(':checked')) {
                ContactId = $(this).val();
            }
             console.log(ContactId);
        });

        $("#SendInfo").click(function () {

            //var ContactId = $('input[name="SecondaryContact"]:checked').val();
            if (ContactId == '' || ContactId == 'undefined') {
                ContactId = "0";
            }
            if (For == "CreditCheck") {
                   $(".sewsLoaderContact").removeClass("hidden")
                console.log(IsSoftcheck);
                parent.SendCreditCheckRequest(IsSoftcheck, Bureau, ContactId);
                $(".CloseButtonDiv").click();
            }
            else {
                $(".sewsLoaderContact").removeClass("hidden")
                parent.SendEcontract(ContactId);
                $(".sewsLoader").addClass("hidden")
                $(".CloseButtonDiv").click();
            }


        })
    });
</script>
<script src="~/Content/Js/TIcket/RescheduleTicket.js"></script>
<link href="~/Content/Css/Layout/Loader.css" rel="stylesheet" />
<div class="resch_ticket_header">
    @Localize.T("Contacts")
</div>
<div class="different_address_pop_container">
    <div class="sewsLoaderContact hidden">
        <div class="loader-background"></div>
        <div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>
    </div>
    <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
        <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png" />
    </div>

    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td valign="top">

                    <div class="HasMember">
                        <input type="radio" name="SecondaryContactItem" class="ContactItem" value="@item.Id">
                        <label for="@item.Id">@item.FirstName @item.LastName</label><br>
                    </div>

                </td>
            </tr>
        }

    </table>



</div>
<div class="resch_ticket_footer">

    <button id="SendInfo">
        @if (@ViewBag.For == "CreditCheck")
        {
            <span>Pull Credit Score</span>
        }
        else
        {
            <span>Send Conract</span>
        }

    </button>
</div>



