@{ 
    Layout = null;
}

@model IEnumerable<HS.Entities.CustomerAdditionalContact>
    <link href="~/Content/Css/SmartLeads/SecondaryContactListForCreditCheck.css" rel="stylesheet" />
<script>
    var ContactFor = '@ViewBag.For';
    var EditContact = function (id) {
          OpenRightToLeftModal("/SmartPackageSetup/AddSecondaryCreditCheckContact?Id=" + id);
    }
    $(document).ready(function () {
        $("#addcontact").click(function () {
            OpenRightToLeftModal("/SmartPackageSetup/AddSecondaryCreditCheckContact?For="+ContactFor);

        });
     
    })
</script>

<div class="sec_cont_credit_block">
    <div class="sec_cont_credit_block_header">
       Secondary Contact List For Credit <button class="btn green_button" id="addcontact" title="Add secondary contact for credit"><i class="fa fa-plus"></i></button>
    </div>
    <div class="sec_cont_credit_block_info">
        <table class="table">
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    SSN
                </th>
                <th>
                    City
                </th>
                <th>
                   State
                </th>
                <th>
                   Zip
                </th>
                <th>
                    Street
                </th>
                <th>
                    Date Of Birth
                </th>
                <th>
                    Is Used
                </th>
                @if (ViewBag.For == "CreditCheck")
                {
                    <th>
                        Credit Score
                    </th>
                }

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>

            <td>
                <span><a class="cus-anchor editContact" onclick="EditContact(@item.Id)">@item.FirstName</a></span>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorpCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorpState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorpZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorpAddress)
            </td>
            <td>
                @if (item.DOB != null && item.DOB != new DateTime())
                {
                    <span>@item.DOB.Value.ToString("MM/dd/yyyy")</span>
                }

            </td>

            @if (ViewBag.For == "CreditCheck")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IsCreditUsed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditScore)
                    @if (!string.IsNullOrEmpty(item.ReportPdfLink))
                    {
                        <div><a class="cus-anchor" href="/File/DownloadTicketFile?url=/@item.ReportPdfLink">Download</a></div>
                    }

                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IsSigningUsed)

                </td>
            }
        </tr>
              
            }

        </table>
    </div>
</div>

   




