@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/PackageSettings/PackageSettingsPartial.css" rel="stylesheet" />
<script src="~/Content/Js/PackageSetup/SmartPackageSetupPartial.js"></script>

<div class="page-wrap">
    <div class="container-fluid psp_container">
        <h3>@Localize.T("Smart Package Setup")</h3>
        <div>
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a class="psp_menu_tab psp_device_pad" data-target="#companySmartPackageSettings" data-toggle="tab">@Localize.T("Package")</a></li>
                <li><a class="psp_menu_tab" onclick="OpenIncludedEquipmentTab()" data-target="#companySmartPackageInchudedSettings" data-toggle="tab">@Localize.T("Included Equipment")</a></li>
                <li><a class="psp_menu_tab" onclick="OpenDevicesTab()" data-target="#companySmartPackageDeviceSettings" data-toggle="tab">@Localize.T("Devices")</a></li>
                <li><a class="psp_menu_tab" onclick="OpenOptionalEquipmentTab()" data-target="#companySmartPackageOptionalSettings" data-toggle="tab">@Localize.T("Optional Equipment")</a></li>
                <li><a class="psp_menu_tab" onclick="OpenServicesTab()" data-target="#companySmartPackageServicesSettings" data-toggle="tab">@Localize.T("Services")</a></li>
                <li><a class="psp_menu_tab" onclick="OpenSystemTypeTab()" data-target="#companySmartSystemTypeSettings" data-toggle="tab">@Localize.T("System Type")</a></li>
                <li><a class="psp_menu_tab" onclick="OpenInstallTypeTab()" data-target="#companySmartInstallTypeSettings" data-toggle="tab">@Localize.T("Install Type")</a></li>
                <li><a class="psp_menu_tab" onclick="MapTypeTab()" data-target="#companySmartSystemInstallTypeSettings" data-toggle="tab">@Localize.T("Map Type")</a></li>
                <li><a class="psp_menu_tab" onclick="MapTypeTabManufacturer()" data-target="#companyMapTypeManufacturer" data-toggle="tab">@Localize.T("Map Type Manufacturer")</a></li>
                <li><a class="psp_menu_tab" onclick="MapTypeTabService()" data-target="#companyMapTypeService" data-toggle="tab">@Localize.T("Map Type Service")</a></li>
                <li><a class="psp_menu_tab" onclick="PackageCommissionTab()" data-target="#companySmartPackageComission" data-toggle="tab">@Localize.T("Package Commission")</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="companySmartPackageSettings">

                </div>
                <div class="tab-pane" id="companySmartPackageInchudedSettings">

                </div>
                <div class="tab-pane" id="companySmartPackageDeviceSettings">

                </div>
                <div class="tab-pane" id="companySmartPackageOptionalSettings">

                </div>
                <div class="tab-pane" id="companySmartPackageServicesSettings">

                </div>
                <div class="tab-pane" id="companySmartSystemTypeSettings">

                </div>
                <div class="tab-pane" id="companySmartInstallTypeSettings">

                </div>
                <div class="tab-pane" id="companySmartSystemInstallTypeSettings">

                </div>
                <div class="tab-pane" id="companyMapTypeManufacturer">

                </div>
                <div class="tab-pane" id="companyMapTypeService">

                </div>
                <div class="tab-pane" id="companySmartPackageComission">

                </div>
            </div>
        </div>
    </div>
</div>
