@model List<HS.Entities.CustomerBill>
@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig; 
<script>
    var DataTablePageSize = 50;
    var table = $('#tblBilling').DataTable({
        "pageLength": DataTablePageSize,
        "destroy": true,
        "language": {
            "emptyTable": "No data available"
        }
    });
    $(document).ready(function () {
        parent.$('.close').click(function () {
            parent.$(".modal-body").html('');
        })
        $("#addbilling").click(function () {
            OpenRightToLeftModal("@(AppConfig.DomainSitePath)/Billing/AddBilling/?id=0&customerid=" + customerId);
        })
        $(".item-edit-bill").click(function () {
            var value = $(this).attr('data-id');
            OpenRightToLeftModal("@(AppConfig.DomainSitePath)/Billing/AddBilling/?id=" + value + "&customerid=" + customerId);
        })
    });
</script>
<style>
    .fluid-style{
        padding-left:0;
        padding-right:0;
    }
    .btn-billing{
        float: right;
        margin-top: 15px;
        background-color: #2ca01c;
        color: #ffffff;
        border: 1px solid #2ca01c;
        font-weight: 600;
        width:30%;
        height: 40px;
         -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    }
    .btn-billing:hover{
        background-color: #2ca01c;
        color: #ffffff;
        border: 1px solid #2ca01c;
    }
    #tblBilling{
        width:100% !important;
    }
    .table-header{
        margin-top:30px;
    }
    .item-edit-bill{
        color:#2ca01c;
    }
    
</style>

<div class="container-fluid fluid-style">
    
        <div class="row">
            <div class="col-md-6">
                <h3 class="head-style">@Localize.T("Billing")</h3>
            </div>
            <div class="col-md-6">
                <button class="btn-billing" id="addbilling">@Localize.T("Add Billing")</button>
            </div>
        </div>
    <div class="table-header">
        <table id="tblBilling">
            <thead>
                <tr>
                    <th class="thead-th-style sorting">@Localize.T("Bill Cycle")</th>
                    <th class="thead-th-style sorting">@Localize.T("Bill Amount")</th>
                    <th class="thead-th-style sorting">@Localize.T("Payment Method")</th>
                    <th class="thead-th-style sorting">@Localize.T("Payment Date")</th>
                    <th class="thead-th-style sorting">@Localize.T("Payment Due Date")</th>
                    <th class="thead-th-style sorting">@Localize.T("Action")</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item1 in Model)
                {
                    <tr class="tr-style">
                        <td class="table-body-td-style" valign="top">
                            <span>@item1.BillCycle</span>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <span>@item1.Amount.ToString("#,##0.00")</span>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <span>@item1.PaymentMethod</span>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <span>@item1.PaymentDate.ToString("MM/dd/yy")</span>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <span>@item1.PaymentDueDate.ToString("MM/dd/yy")</span>
                        </td>
                        <td>
                            <a href="javascript:void(0)" class="item-edit-bill" data-id="@item1.Id" id="@item1.CustomerId">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                @Localize.T("Edit")
                            </a>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
