@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.CustomerBill
<script src="~/Content/Js/AddBilling/AddCustomerBill.js"></script>
<link href="~/Content/Css/AddCustomerBill/AddCustomerBill.css" rel="stylesheet" />
<script src="~/Content/Js/Popups/AddCustomerBilling.js"></script>
<style>
    .d-text {
        font-size: 2rem;
        font-weight: 400;
        color: #393a3d;
        margin: 0;
        padding-top: 15px;
    }

    .bill-row {
        margin-top: 20px;
    }

    .bal-style {
        float: right;
        padding-right: 20px;
        margin-top: 10px;
    }

    .cus-title-span {
        font-weight: 600;
        color: #615b5b;
        display: block;
        font-size: 14px;
        -webkit-tap-highlight-color: transparent;
    }

    .total-due {
        font-size: 4.8rem;
        height: 4.8rem;
    }

    .account-collapse {
        margin-top: 20px;
    }

    .toggle-style {
        color: black;
        font-weight: 400;
        font-size: 2rem;
    }

        /*.toggle-style:hover {
            color: green;
        }*/

    .not-style {
        width: 50%;
        height: 50%;
    }

    .nottxt-style {
        font-size: 14px;
        color: black;
        font-weight: 600;
    }

    .cus-txt {
        font-size: 14px;
        color: black;
        font-weight: 600;
    }

    .scroll-body {
        overflow-y: auto;
        max-height: 100vh;
        overflow-x: hidden;
        margin: 0;
        /*overflow-x:hidden;*/
    }

    .invoice-footer {
        background-color: #393a3d;
        padding: 8px 15px;
        position: absolute;
        bottom: 0px;
        width: 100% !important;
    }

    .InvoiceCancelButton, .BillSaveButton {
        background-color: transparent;
    }

    .btnInv {
        color: white;
        border: 1px solid #6b6c72;
         -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 20px;
        padding-right: 20px;
    }

        .btnInv:hover {
            background-color: #545558;
        }

    .SaveAndSendBtn, .SaveOptionsBtn {
        background-color: #2ca01c;
        color: white !important;
        border: 1px solid #6b6c72 !important;
        padding-top: 6px !important;
        padding-bottom: 6px !important;
    }

        .SaveAndSendBtn:hover, .SaveOptionsBtn:hover {
            background-color: #108000 !important;
            color: white !important;
        }

    .cancelbtnDiv {
        width: 20%;
        float: left;
    }

    .SaveaButtonsDiv {
        width: 30%;
        float: right;
        text-align: right;
    }
    .SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }
    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }
    .btn-bill{
        float:right;
        background-color:green;
        color:white;
    }
    .btn-bill:hover{
        color:white;
    }
</style>
<script>
    var paymentdate;
    var duedate;

    @*var customerID = '@ViewBag.CustomerId'*@
    $(document).ready(function () {
        var PaymentMethod = '@(Model != null?Model.PaymentMethod :"")';
        var BillingCycle = '@(Model != null?Model.BillCycle : "")';
        if (PaymentMethod != null && PaymentMethod != '') {
            $("#PaymentMethod").val(PaymentMethod);
        }
        if (BillingCycle != null && BillingCycle != '') {
            $("#BillCycle").val(BillingCycle);
        }
        paymentdate = new Pikaday({
            field: $('.date-payment')[0],
            format: 'MM/DD/YYYY'
        });
        duedate = new Pikaday({
            field: $('.date-due')[0],
            format: 'MM/DD/YYYY'
        });
    });
</script>
<div class="scroll-body">
    <div class="container-fluid">
        <h3 class="d-text">@Localize.T("Customer Billing Information")</h3>
        <div class="form-group clearfix">
            @Html.HiddenFor(x => x.Id, new { id = "Id" })
            <input type="hidden" id="CustomerIdVal" value="@ViewBag.CustomerId" />
            
            <div class="row bill-row">
                <div class="col-md-12">
                    <span class="cus-txt">@Localize.T("Bill Amount")</span>
                    @Html.TextBoxFor(x => x.Amount, new { @class = "form-control", id = "Amount" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding-top:5px;">
                    <span class="cus-txt">@Localize.T("Payment date")</span>
                    @Html.TextBoxFor(x => x.PaymentDate, "{0:MM/dd/yy}", new { @class = "form-control date-payment", @readonly = "read-only", @id = "PaymentDate" })
                </div>
                <div class="col-md-6" style="padding-top:5px;">
                    <span class="cus-txt">@Localize.T("Payment due date")</span>
                    @Html.TextBoxFor(x => x.PaymentDueDate, "{0:MM/dd/yy}", new { @class = "form-control date-due", @readonly = "read-only", @id = "PaymentDueDate" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-top:5px;">
                    <span class="cus-txt">@Localize.T("Payment Method")</span>
                    @Html.DropDownListFor(x => x.PaymentMethod, (List<SelectListItem>)ViewBag.PaymentMethod, new { @class = "form-control", @id = "PaymentMethod" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-top:5px;">
                    <span class="cus-txt">@Localize.T("Billing Cycle")</span>
                    @Html.DropDownListFor(x => x.BillCycle, (List<SelectListItem>)ViewBag.BillCycle, new { @class = "form-control", @id = "BillCycle" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-top:5px;">
                    <span class="cus-txt">@Localize.T("Notes")</span>
                    @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", id = "Note"})
                </div>
            </div>
        </div>
    </div>
</div>
<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn btn-bill" id="BillSaveButton"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
        </div>
    </footer>
</section>
