@{
    ViewBag.Title = "Contact Details";
    Layout = null;
   
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.Contact


@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using System.Configuration
@using HS.Framework
@Styles.Render("~/styles/CustomerDetails")
<script src="~/Content/Js/Contact/ContactDetails.js"></script>

<style>
    .green-tooltip + .tooltip > .tooltip-inner {
        background-color: #2ca01c;
    }

    .red-tooltip + .tooltip > .tooltip-inner {
        background-color: #af0404;
    }

    .OpportunityTab_Load {
        width: 100%;
        float: left;
        padding-top: 10px;
    }
</style>
<script>
    //var CustomerGuid = '@Model.CustomerId';
    var EditContact = function (id) {
        OpenTopToBottomModal("/Contact/AddContact?id=" + id);
    }
    $(document).ready(function () {
        
    });
</script>


<div class="main-container-customer-detail">

    <div class="detail-contents">
        <div class="nav-detail-contents">
            <ul class="nav nav-tabs contact-options-tabs customer_detail_tab_style contact_detail_tab_list" id="myTab">   
                <li class="active ContactDetailTab">
                    <a tabname="#ContactDetailTab" idval="@Model.ContactId" data-target=".TicketTab_Load" data-toggle="tab" onclick="OpenContactDetailTab()">
                        @Localize.T("Contact Detail Tab")
                               
                    </a>
                </li>
                @*<li class="TicketTab">
                    <a tabname="#TicketTab" idval="@Model.CustomerId" data-target=".TicketTab_Load" data-toggle="tab" onclick="OpenCorrespondenceTab()">
                        @Localize.T("Correspondence")

                    </a>
                </li>*@
                <li class="CorrespondenceTab">
                    <a tabname="#CorrespondenceTab" alttabname="#addCorrespondence" idval="@Model.ContactId" data-target=".CorrespondenceTab_Load" data-toggle="tab" onclick="OpenCorrespondenceTab()">
                        @(Localize.T("Correspondence"))
                        @*<span class="CorrespondanceCounter">@(Model.CustomerTabCounts.CorrespondenceCount > 0 ? string.Format("({0})", Model.CustomerTabCounts.CorrespondenceCount) : "")</span>*@
                    </a>
                </li>
                   
            </ul>
            <div class="tab-content tab_Content_contact_items">
                <div class="tab-pane active ContactDetailTab_Load" id="ContactDetailTab">

            
                    <div class="Customer-detailstabcontent">
                        <div class="Customer-details-info-left">
                            <div class="customer-subTab-left-content">

                            
                                    <div class="ci_block">
                                        <div class="ci_header clearfix">
                                            <div style="float:left;">@Localize.T("Contact Info")</div>
                                            <div style="float:right;">
                                                <button title="@Localize.T("Edit contact")" type="button" @*id="editCustomerCustomerDetailsHeader"*@ onclick="EditContact('@Model.Id')" idval="@Model.Id" class="btn edit-button editCustomerCustomerDetailsHeader green_button">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </button>
                                               
                                            </div>
                                        </div>
                                        <div class="ci_info">
                                            <table class="width-100p ci_table">
                                               
                                                    <tr class="info-table-tr">
                                                        <td class="tr-title">@Localize.T("Contact ID") <span>:</span></td>
                                                        <td class="tr-data">@Model.Id
                                                        <td>
                                                    </tr>
                                                    
                                                  
                                                    <tr class="info-table-tr">
                                                        <td class="tr-title">@Localize.T("Name") <span>:</span></td>
                                                        @{ var CustomerFormattedName = "";
                                                            CustomerFormattedName = Model.FirstName + " " + Model.LastName;
                                                        }
                                                        <td class="tr-data">@CustomerFormattedName
                                                        <td>
                                                    </tr>
                                                    @if (!string.IsNullOrEmpty(Model.Title))
                                                    {
                                                        <tr class="info-table-tr">
                                                            <td class="tr-title">@Localize.T("Title") <span>:</span></td>
                                                            <td class="tr-data">@Model.Title
                                                            <td>
                                                        </tr>
                                                    }
                                                    @if (!string.IsNullOrEmpty(Model.Email))
                                                    {
                                                        <tr class="info-table-tr">
                                                            <td class="tr-title">@Localize.T("Email") <span>:</span></td>
                                                            <td class="tr-data">@Model.Email
                                                            <td>
                                                        </tr>
                                                    }
                                            
                                                    @if (!string.IsNullOrEmpty(Model.Mobile))
                                                    {
                                                        <tr class="info-table-tr">
                                                            <td class="tr-title">@Localize.T("Mobile") <span>:</span></td>
                                                            <td class="tr-data">@HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(@Model.Mobile)
                                                        </tr>
                                                    }
                                                    @if (!string.IsNullOrEmpty(Model.Work))
                                                    {
                                                        <tr class="info-table-tr">
                                                            <td class="tr-title">@Localize.T("Work") <span>:</span></td>
                                                            <td class="tr-data">@HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(@Model.Work)
                                                        </tr>
                                                    }
                                                    @if (!string.IsNullOrEmpty(Model.Suffix))
                                                    {
                                                        <tr class="info-table-tr">
                                                            <td class="tr-title">@Localize.T("Suffix") <span>:</span></td>
                                                            <td class="tr-data">@Model.Suffix
                                                        </tr>
                                                    }
                                                    @if (!string.IsNullOrEmpty(Model.Ext))
                                                    {
                                                        <tr class="info-table-tr">
                                                            <td class="tr-title">@Localize.T("Ext") <span>:</span></td>
                                                            <td class="tr-data">@Model.Ext
                                                        </tr>
                                                    }

                                                    @if (!string.IsNullOrEmpty(Model.Role) && Model.Role != "-1")
                                                    {
                                                        <tr class="info-table-tr">
                                                            <td class="tr-title">@Localize.T("Role") <span>:</span></td>
                                                            <td class="tr-data">@Model.Role
                                                        </tr>
                                                    }
                                                    @if (!string.IsNullOrEmpty(Model.Facebook))
                                                    {
                                                        <tr class="info-table-tr">
                                                            <td class="tr-title">@Localize.T("Facebook") <span>:</span></td>
                                                            <td class="tr-data">@Model.Facebook
                                                        </tr>
                                                    }

                                                    @if (!string.IsNullOrEmpty(Model.Twitter))
                                                    {
                                                        <tr class="info-table-tr">
                                                            <td class="tr-title">@Localize.T("Twitter") <span>:</span></td>
                                                            <td class="tr-data">@Model.Twitter
                                                        </tr>
                                                    }
                                                    @if (!string.IsNullOrEmpty(Model.Instagram))
                                                    {
                                                        <tr class="info-table-tr">
                                                            <td class="tr-title">@Localize.T("Instagram") <span>:</span></td>
                                                            <td class="tr-data">@Model.Instagram
                                                        </tr>
                                                    }


                                                @if (!string.IsNullOrEmpty(Model.LinkedIN))
                                                {
                                                    <tr class="info-table-tr">
                                                        <td class="tr-title">@Localize.T("LinkedIN") <span>:</span></td>
                                                        <td class="tr-data">@Model.LinkedIN
                                                    </tr>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.Notes))
                                                {
                                                    <tr class="info-table-tr">
                                                        <td class="tr-title">@Localize.T("Notes") <span>:</span></td>
                                                        <td class="tr-data">@Model.Notes
                                                    </tr>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.ContactType))
                                                {
                                                    <tr class="info-table-tr">
                                                        <td class="tr-title">@Localize.T("Contact Type") <span>:</span></td>
                                                        <td class="tr-data">@Model.ContactType
                                                    </tr>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.ContactOwnerVal))
                                                {
                                                    <tr class="info-table-tr">
                                                        <td class="tr-title">@Localize.T("Contact Owner") <span>:</span></td>
                                                        <td class="tr-data">@Model.ContactOwnerVal
                                                    </tr>
                                                }
                                                @if (Model.CreatedDate != new DateTime())
                                                {
                                                    <tr class="info-table-tr">
                                                        <td class="tr-title">@Localize.T("Created Date") <span>:</span></td>
                                                        <td class="tr-data">@HS.Framework.DateTimeExtension.UTCToClientTime(Model.CreatedDate)
                                                    </tr>
                                                }
                                                 
                                              
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="tab-pane CorrespondenceTab_Load" id="CorrespondenceTab">

                </div>
                </div>
            
            </div>
        </div>
    </div>
                                                                            
                      
                              