@{
    Layout = null;
}
@model List<HS.Entities.LeadCorrespondence>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
<link href="~/Content/Css/Lead/CorrespondenceList.css" rel="stylesheet" />
<script>
    var Contactid = '@ViewBag.ContactId';
    var DataTablePageSize = 50;

    var AddCorrespondenceEmail = function(CusId){
        OpenRightToLeftModal(domainurl + "/Contact/MailToSalesPerson/?id=" + CusId + "&Cid=0");
        history.pushState({ urlpath: window.location.pathname }, window.location.hash, "#addCorrespondence");
    }
    var AddCorrespondenceSms = function(CusId){
        OpenRightToLeftModal(domainurl + "/Contact/SMSToContactPerson/?id=" + CusId + "&Cid=0");
        history.pushState({ urlpath: window.location.pathname }, window.location.hash, "#addCorrespondence");
    }
    $(document).ready(function(){
        var CorrespondenceTable = $('#tblCorrespondence').DataTable({
            "pageLength": DataTablePageSize,
            "destroy": true,
            "language": {
                "emptyTable": "No data available"
            },
            "order": [[1, "desc"]]
        });
        CorrespondenceTable.order([1, 'desc']).draw();
        //$("#btnAddCorrespondenceEmail").click(function () {

        //    OpenRightToLeftModal(domainurl + "/Leads/MailToSalesPerson/?id=" + Leadid + "&Cid=0");
        //});
        //$("#btnAddCorrespondenceSms").click(function () {
        //    OpenRightToLeftModal(domainurl + "/Leads/SMSToSalesPerson/?id=" + Leadid + "&Cid=0");
        //});
        $(".LoadMailOrSms").click(function () {
            var typeval = $(this).attr('data-id');
            if (typeval == "Email") {
                var idval = $(this).attr('idval');
                OpenRightToLeftModal(domainurl + "/Leads/MailToSalesPerson/?id=" + Leadid + "&Cid=" + idval);
            }
            else {
                var idval = $(this).attr('idval');
                OpenRightToLeftModal(domainurl + "/Leads/SMSToSalesPerson/?id=" + Leadid + "&Cid=" + idval);
            }
        })
        $("#tblCorrespondence_wrapper").find('.row').css("margin-left", "0");
        $("#tblCorrespondence_wrapper").find('.row').css("margin-right", "0");
        $("#tblCorrespondence_wrapper").find('.col-sm-12').css("padding-left", "0");
        $("#tblCorrespondence_wrapper").find('.col-sm-12').css("padding-right", "0");
        $("#tblCorrespondence_wrapper").find('.col-sm-7').css("padding-right", "0");
    })
</script>
<div class="page-content-wrap cus-padding-top10p correspondence_list_container">
    <div class="header-section">
        <div class="row row-custom">
            <div class="col-md-12 col-custom-12">
               
                <div class="width-100p text-right correspondence_list_btn_div">
                    <button class="btn btnAddCorrespondence" onclick="AddCorrespondenceEmail(@ViewBag.ContactId)" @*id="btnAddCorrespondenceEmail"*@><i class="fa fa-envelope-o"></i>&nbsp;@Localize.T("Send Email")</button>
                    <button class="btn btnAddCorrespondence" onclick="AddCorrespondenceSms(@ViewBag.ContactId)" @*id="btnAddCorrespondenceSms"*@><i class="fa fa-paper-plane"></i>&nbsp;@Localize.T("Send TEXT MSG")</button>
                </div>
            </div>
        </div>
    </div>
    <div class="Estimate-table">
        <table class="display" id="tblCorrespondence">
            <thead class="table-head-border">
                <tr>
                    <th class="thead-th-style">
                        @Localize.T("Message Type")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Sent On")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Sent To")
                    </th>
                    <th class="thead-th-style">
                        @Localize.T("Subject")
                    </th>
                </tr>
            </thead>
            <tbody>
              
                @foreach (var item in Model)
                {
                    <tr class="tr-style">
                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("Message Type") <span>:</span></div>
                            <div>
                                @if (item.Type == "SMS")
                                {
                                    <span>@Localize.T("TEXT MSG")</span>
                                }
                                else
                                {
                                    <span>@item.Type</span>
                                }
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top" data-order="@item.SentDate.Value.ToString("MM/dd/yy hh:mm tt")">
                            <div>@Localize.T("Sent On") <span>:</span></div>
                            <div>
                                @if (item.SentDate.HasValue)
                                {
                                    <span>@string.Format(item.SentDate.Value.UTCToClientTime().ToString("MM/dd/yy hh:mm tt"))</span>
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("Sent To") <span>:</span></div>
                            <div>
                                @if (item.Type == HS.Web.UI.Helper.LabelHelper.CorrespondenceMessageTyp.Email)
                                {
                                    <span>@item.ToEmail</span>
                                }
                                else
                                {
                                    <span>@HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(@item.ToMobileNo)</span>
                                }
                            </div>
                        </td>
                        <td class="table-body-td-style" valign="top">
                            <div>@Localize.T("Subject") <span>:</span></div>
                            <div>
                                @if (item.Type == HS.Web.UI.Helper.LabelHelper.CorrespondenceMessageTyp.Email)
                                {
                                    <span>@item.Subject</span>
                                }
                                else
                                {
                                    <span>@item.BodyContent</span>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

