@{
    Layout = null;
}
@model HS.Entities.Contact
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var id = '@Model.Id';
    var CustomerGuid = '@Model.ContactId';
    var PrimaryPhone = '@Model.Mobile';
    var SmsToSupplier = function () {
        var customerId = $("#SmsToSupplier").attr('idval2');
        var mailBody = $('.txtAreaMailBody').val();
        var contact = $(".customerCellNO").val();
        var url = domainurl + "/SMS/SMSToSalesPerson";
        if (mailBody == "" || contact == "") {
            OpenErrorMessageNew("Error!", "Please fill mailbody and contact number", "");
        }
        else {
            if ($("#CC_Numbers").val() != "") {
                contact += ";" + $("#CC_Numbers").val();
            }
            $.ajax({
                url: url,
                data: { customerId, mailBody, contact },
                type: "Post",
                dataType: "Json"
            }).done(function (data) {
                if (data.result == true) {
                    $('.close').trigger('click');
                    setTimeout(function () {
                        OpenSuccessMessageNew("Success!", "Text Msg send successfully.");
                        if (typeof (OpenCorrespondenceTab) != "undefined") {
                            OpenCorrespondenceTab();
                        } else {
                            $(".Lead_Send_Email_Tab").load(domainurl + "/Leads/CorrespondenceList/?CustomerId=" + CustomerGuid);
                            parent.$("#CorrespondenceTab").load(domainurl + "/Leads/CorrespondenceList?CustomerId=" + CustomerGuid);
                            LeadDetailTabCount();
                        }
                    }, 600);
                    //setTimeout(function () {
                    //    OpenSuccessMessageNew("Success!", "Text Msg send successfully.", "");
                    //    $(".Lead_Send_Email_Tab").load(domainurl + "/Leads/CorrespondenceList/?CustomerId=" + CustomerGuid);
                    //    parent.$("#CorrespondenceTab").load(domainurl + "/Leads/CorrespondenceList?CustomerId=" + CustomerGuid);
                    //}, 600);
                }
                else {
                    $('.close').trigger('click');
                    setTimeout(function () {
                        OpenErrorMessageNew("", data.message, "");
                    }, 600);
                }
                //parent.LoadLeads(true);
            });
        }
    }
    $(document).ready(function () {
        //$('.selectpicker').selectpicker();
        $("#SmsToSupplier").click(function () {
            SmsToSupplier();
        })
    })
</script>
<style>
    .correspondence-header {
        width: 100%;
        background-color: #f4f5f8;
    }

    .heder-txt {
        font-size: 2rem;
        font-weight: 400;
        color: #393a3d;
        padding: 12px 10px;
    }

    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }

    .SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }

    .btn-sms {
        float: right;
        background-color: green;
        color: white;
    }

        .btn-sms:hover {
            color: white;
        }

    .span_style {
        font-weight: bold;
        margin-top: 10px;
        font-size: 14px;
    }
</style>
<div class="form-group correspondence-header">
    <div class="heder-txt">@Localize.T("New TEXT MSG")</div>
</div>
<div class="container-fluid" style="padding-left:15px;padding-right:15px;">
    <div class="slaesPersonContainer">
        @if (Model.LeadCorrespondence != null)
        {
            <span class="span_style">@Localize.T("Contact Number")</span>
            @Html.TextBoxFor(x => x.LeadCorrespondence.ToMobileNo, new { @class = "form-control", @readonly = "readonly" })
        }
        else
        {
            <span class="span_style">@Localize.T("Contact Number")</span>
            if (!string.IsNullOrWhiteSpace(Model.Work))
            {
                <input type="text" class="form-control customerCellNO" readonly="readonly" value="@Model.Work" />
            }
        
            else if (!string.IsNullOrWhiteSpace(Model.Mobile))
            {
                <input type="text" class="form-control customerCellNO" readonly="readonly" value="@Model.Mobile" />
            }
            else
            {
                <input type="text" class="form-control customerCellNO" readonly="readonly" value="" />
            }
        }
    </div>
    <div class="CC_Container">
        <span class="span_style">@Localize.T("CC Contact number(s)")</span>
        <input type="text" class="form-control" id="CC_Numbers" placeholder="Example: 123-456-7890" />
    </div>
    <div class="form-group clearfix positionRel">
        @if (Model.LeadCorrespondence != null)
        {
            <span class="span_style">@Localize.T("Message Body")</span>
            @Html.TextAreaFor(x => x.LeadCorrespondence.BodyContent, new { @class = "form-control txtAreaMailBody", placeholder = "Please add something to your text msg body" })
        }
        else
        {
            <span class="span_style">@Localize.T("Message Body")</span>
            @Html.TextArea("mailBody", new { @class = "form-control txtAreaMailBody", placeholder = "Please add something to your text msg body" })
        }
    </div>
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            @if (Model.LeadCorrespondence == null)
            {
                <button type="button" id="SmsToSupplier" idval2="@Model.ContactId" idval="@Model.FirstName @Model.LastName" class="btn btn-sms">
                    @Localize.T("Send TEXT MSG")
                </button>
            }
        </div>
    </footer>
</section>


