
@{
    ViewBag.Title = "GetContactFilterList";
    Layout = null;
}
@model IEnumerable<HS.Entities.Contact>
@using Localize = HS.Web.UI.Helper.LanguageHelper
<table class="Contacts_table">
    <thead>
        <tr>
            <th>
                <div>@Localize.T("Name")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/name"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/name"></i></div>
            </th>

            <th>
                <div>@Localize.T("Work")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/work"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/work"></i></div>
            </th>
            <th>
                <div>@Localize.T("Mobile")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/mobile"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/mobile"></i></div>
            </th>

            <th>
                <div>@Localize.T("Email")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/email"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/email"></i></div>
            </th>

            <th>
                <div>@Localize.T("Created By")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/createdby"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/createdby"></i></div>
            </th>

            <th>
                <div>@Localize.T("Created Date")</div>
                <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/createddate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/createddate"></i></div>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="PrintItem" data-id="@item.Id">
                <td>
       
                    <div> <a id="edit" class="cus-anchor" onclick="EditContact(@item.Id)">@item.Name</a></div>
                </td>

                <td>
                  
                    <div>@item.Work</div>
                </td>
                <td>
                 
                    <div>@item.Mobile</div>
                </td>
                <td>
     
                    <div title="@item.Email">@item.Email</div>
                </td>
                <td>
            
                    <div>@item.CreatedByName</div>
                </td>
                <td>
         
                    <div>@item.CreatedDate</div>
                </td>
            </tr>
        }
    </tbody>

</table>



