@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
}
@model HS.Entities.CustomerAppointment

@Styles.Render("~/styles/AddServiceOrder")
@*<style>
    .container-fluid{
        padding-left:0;
        padding-right:0;
    }
</style>*@
<script src="~/Content/Js/Popups/AddWorkOrder.js"></script>
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    
    var WorkDatepicker;
    $(document).ready(function () {
        WorkDatepicker = new Pikaday({ format: 'MM/DD/YYYY', field: $('.AddPickAday_workorder')[0] });
        $('.selectpicker').selectpicker();
    })
</script>
<div class="txt-design">@Localize.T("Add Work Order Appointment")</div>
<div class="container-fluid">
    @Html.HiddenFor(x => x.Id)
    
    <input type="hidden" id="CustomerIdVal" value="@ViewBag.CustomerId" />
    @*@Html.HiddenFor(x => x.AppointID, new { @id = "AppointID" })*@
    <input type="hidden" id="AppointmentId" value="@ViewBag.App" />
     
  
    <div class="form-group clearfix">
        <div class="row">
            <div class="col-md-12">
                <span class="aso_span">@Localize.T("Installer")</span>
                @Html.DropDownListFor(model => model.EmployeeId, (List<SelectListItem>)ViewBag.WorkList, new { @class = "form-control", id = "EmployeeId" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="aso_span">@Localize.T("Helper Tech")</span>
                @Html.DropDownList("ListHelperTech", ViewBag.Technician as List<SelectListItem>, new { @class = "form-control selectpicker", @multiple = "multiple" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="aso_span">@Localize.T("Appointment date")</span>
                @Html.TextBoxFor(model => model.AppointmentDate, "{0:MM/dd/yy}", new { @class = "form-control AddPickAday_workorder",@Value=ViewBag.SelectedDate, daterequired = "true" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span class="aso_span">@Localize.T("Start Time")</span>
                @Html.DropDownListFor(model => model.AppointmentStartTime, (List<SelectListItem>)ViewBag.AppointmentTime, new { @class = "form-control select_search", @style = "width:100%;", id = "AppointmentStartTime", datarequired = "true" })
            </div>

            <div class="col-md-6">
                <span class="aso_span">@Localize.T("End Time")</span>
                @Html.DropDownListFor(model => model.AppointmentEndTime, (List<SelectListItem>)ViewBag.AppointmentTime, new { @class = "form-control select_search custom_z_index", @style = "width:100%;", id = "AppointmentEndTime", datarequired = "true" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="aso_span">@Localize.T("Notes")</span>
                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", id = "Notes" })
            </div>
        </div>
    </div>
</div>
<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn btn-sales SaveWorkOrder" id="SaveWorkOrder" idval1="@ViewBag.CusName"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
        </div>
    </footer>
</section>

