@{
    ViewBag.Title = "Work Order";
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.CustomerAppointment>

@Styles.Render("~/styles/WorkOrder")
@Scripts.Render("~/scripts/WorkOrder")

<div class="header-section-wrap">
    <div class="container-fluid">
        <div class="header-section">
            <div class="row">
                <div class="col-md-6">
                    @*<h3 class="txt-header">@Localize.T("Work Order Appointment")</h3>*@
                </div>
                @*<div class="col-md-6 col-custom-sale">
                        <div class="" id="AddSales" data-toggle="modal" data-target="#sales-modal"></div>
                    </div>*@
            </div>
            <div class="popup-win">
                <div class="modal right fade" id="workorder-modal" role="dialog" aria-labelledby="myModalLabel2">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div id="NewWorkOrder">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
            <div class="snap-content">
                <table id="tblWorkorder" class="work_order_partial_table">
                    <thead class="table-head-border Work_order_hide_for_device">
                        <tr>
                            <th class="thead-th-style sorting">
                                @Localize.T("Installation")
                            </th>
                            <th class="thead-th-style sorting">
                                @Localize.T("Schedule For")
                            </th>
                            <th class="thead-th-style sorting">
                                @Localize.T("User")
                            </th>
                            <th class="thead-th-style sorting">
                                @Localize.T("Completed?")
                            </th>
                            <th class="thead-th-style sorting">
                                @Localize.T("Notes")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="tr-style">
                                <td class="table-body-td-style Work_order_device_row" valign="top">
                                    <div class="Work_order_device_header">@Localize.T("Installation")</div>
                                    <div class="Work_order_device_info">
                                        <a href="javascript:void(0)" class="toptobottomModalworkorder cus-anchor" idval="@item.AppointmentId" id="@item.CustomerId">
                                            <span class="productInstallation">Work Order #@item.Id</span>
                                        </a>
                                    </div>
                                </td>
                                <td class="table-body-td-style Work_order_device_row" valign="top">
                                    <div class="Work_order_device_header">@Localize.T("Schedule For")</div>
                                    <div class="Work_order_device_info">
                                        <a href="javascript:void(0)" class="toptobottomModalworkorder cus-anchor" idval="@item.AppointmentId" id="@item.CustomerId">
                                            @if (item.AppointmentDate.HasValue && item.AppointmentDate.Value != new DateTime())
                                            {
                                                <span>@HS.Framework.DateTimeExtension.UTCToClientTime(item.AppointmentDate.Value).ToString("MM/dd/yy")</span>
                                            }else
                                            {
                                                <span>-</span>
                                            }
                                        </a>
                                    </div>
                                   
                                </td>
                                <td class="table-body-td-style Work_order_device_row" valign="top">
                                    <div class="Work_order_device_header">@Localize.T("User")</div>
                                    <div class="Work_order_device_info">
                                        <span>@item.WorkPerson</span>
                                    </div>
                                </td>
                                <td class="table-body-td-style Work_order_device_row" valign="top">
                                    @{
                                        if (item.Status == false)
                                        {
                                            <div class="Work_order_device_header">@Localize.T("Completed ?")</div>
                                            <div class="Work_order_device_info">
                                                <span class="flase-status">@Localize.T("No")</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="Work_order_device_header">@Localize.T("Completed ?")</div>
                                            <div class="Work_order_device_info">
                                                <span class="true-status">@Localize.T("Yes")</span>
                                            </div>
                                          
                                        }
                                    }
                                    
                                </td>
                                <td class="table-body-td-style Work_order_device_row" valign="top">
                                    <div class="Work_order_device_header">@Localize.T("Notes")</div>
                                    <div class="Work_order_device_info">
                                        <span>@item.Notes</span>
                                    </div>
                                   
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
       

    </div>
</div>