@{
    Layout = null;
}
@model HS.Entities.POListModel
@using HS.Framework
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using POHelper = HS.Web.UI.Helper.LabelHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<link href="~/Content/Css/Inventory/BranchDemandOrderListPartial.css" rel="stylesheet" />
<script>
    var pageno = '@ViewBag.PageNumber';
    var table = $("#tblPO_techDemand").DataTable({
        "ordering": false,
        searching: false, paging: false, info: false
    });
    $(document).ready(function () {
        $(".icon_sort_do").click(function () {
            var orderval = $(this).attr('data-val');
            DOListLoad(1, orderval);
        });
    });
</script>
<div class="branch_demand_order_list_partial_container">
    <table id="tblPO_techDemand">
        <thead class="table-head-border">
            <tr>
                @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                {
                    <th class="th_timeclock">
                        <div> @Localize.T("DO NO.")</div>
                        <div><i class="fa fa-angle-up icon_sort_do" data-val="ascending/dono"></i><i class="fa fa-angle-down icon_sort_do" data-val="descending/dono"></i></div>
                    </th>
                }
                else
                {
                    <th class="th_timeclock_pre">
                        <div>@Localize.T("DO NO.")</div>
                        <div><i class="fa fa-angle-up icon_sort_do" data-val="ascending/dono"></i><i class="fa fa-angle-down icon_sort_do" data-val="descending/dono"></i></div>
                    </th>
                }
                @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                {
                    <th class="th_timeclock">
                        <div> @Localize.T("Technician Details")</div>
                        <div><i class="fa fa-angle-up icon_sort_do" data-val="ascending/techdetails"></i><i class="fa fa-angle-down icon_sort_do" data-val="descending/techdetails"></i></div>
                    </th>
                }
                else
                {
                    <th class="th_timeclock_pre">
                        <div>@Localize.T("Technician Details")</div>
                        <div><i class="fa fa-angle-up icon_sort_do" data-val="ascending/techdetails"></i><i class="fa fa-angle-down icon_sort_do" data-val="descending/techdetails"></i></div>
                    </th>
                }
                @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                {
                    <th class="th_timeclock">
                        <div> @Localize.T("Status")</div>
                        <div><i class="fa fa-angle-up icon_sort_do" data-val="ascending/status"></i><i class="fa fa-angle-down icon_sort_do" data-val="descending/status"></i></div>
                    </th>
                }
                else
                {
                    <th class="th_timeclock_pre">
                        <div>@Localize.T("Status")</div>
                        <div><i class="fa fa-angle-up icon_sort_do" data-val="ascending/status"></i><i class="fa fa-angle-down icon_sort_do" data-val="descending/status"></i></div>
                    </th>
                }
                @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                {
                    <th class="th_timeclock">
                        <div> @Localize.T("Ticket ID")</div>
                        <div><i class="fa fa-angle-up icon_sort_do" data-val="ascending/ticketid"></i><i class="fa fa-angle-down icon_sort_do" data-val="descending/ticketid"></i></div>
                    </th>
                }
                else
                {
                    <th class="th_timeclock_pre">
                        <div>@Localize.T("Ticket ID")</div>
                        <div><i class="fa fa-angle-up icon_sort_do" data-val="ascending/ticketid"></i><i class="fa fa-angle-down icon_sort_do" data-val="descending/ticketid"></i></div>
                    </th>
                }
                @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                {
                    <th class="th_timeclock">
                        <div> @Localize.T("Created Date")</div>
                        <div><i class="fa fa-angle-up icon_sort_do" data-val="ascending/createddate"></i><i class="fa fa-angle-down icon_sort_do" data-val="descending/createddate"></i></div>
                    </th>
                }
                else
                {
                    <th class="th_timeclock_pre">
                        <div>@Localize.T("Created Date")</div>
                        <div><i class="fa fa-angle-up icon_sort_do" data-val="ascending/createddate"></i><i class="fa fa-angle-down icon_sort_do" data-val="descending/createddate"></i></div>
                    </th>
                }
                <th class="th_timeclock_pre">@Localize.T("Action")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PurchaseOrderBranchList)
            {
                <tr>
                    <td class="table-body-td-style">
                        <div>@Localize.T("DO NO.") <span>:</span></div>
                        <div><span class="cus-anchor" onclick="OpenDOById(@item.DOTId)">@item.DemandOrderId</span></div>
                    </td>
                    <td class="table-body-td-style">
                        <div>@Localize.T("Technician Details") <span>:</span></div>
                        <div>
                            <span>@item.TechName</span><br />
                            <span>@item.Email</span>
                        </div>
                    </td>
                    <td class="table-body-td-style">
                        <div>Status<span>:</span></div>
                        <div> @item.Status</div>
                    </td>
                    <td class="table-body-td-style">
                        @if (item.TicketId > 0)
                        {

                            <div>@Localize.T("Ticket ID") <span>:</span></div>
                            <div><a class="cus-anchor" onclick="OpenTicketById(@item.TicketId)" href="javascript:void(0)">@item.TicketId</a></div>
                        }
                    </td>
                    <td class="table-body-td-style">
                        <div>@Localize.T("Created Date") <span>:</span></div>
                        <div> @string.Format(item.CreatedDate.UTCToClientTime().ToString("MM/dd/yy hh:mm tt"))</div>
                    </td>
                    <td class="table-body-td-style cus-anchor">
                        <div>@Localize.T("Action") <span>:</span></div>
                        <div>
                            @if (item.Status != "Completed")
                            {
                                <span onclick="CompleteDoFunc('@item.DemandOrderId')">@Localize.T("Complete DO")</span>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="DOListLoad(@(ViewBag.PageNumber), @(ViewBag.order))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="DOListLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="DOListLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="DOListLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="DOListLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="DOListLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="DOListLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="DOListLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="DOListLoad(3, @(ViewBag.order))">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="DOListLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="DOListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="DOListLoad(@(ViewBag.PageNumber-2), @(ViewBag.order))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="DOListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="DOListLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="DOListLoad()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="DOListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="DOListLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="DOListLoad(@(ViewBag.PageNumber + 2), @(ViewBag.order))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="DOListLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="DOListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="DOListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="DOListLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="DOListLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="DOListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="DOListLoad(@(ViewBag.PageNumber - 1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="DOListLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="DOListLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="DOListLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
        }
    </div>
</div>



