@{
    Layout = null;
    var currentLoggedIn = ((HS.Web.UI.Helper.CustomPrincipal)(User));
}
@model HS.Entities.POListModel
@using HS.Framework
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using POStat = HS.Web.UI.Helper.LabelHelper.PurchaseOrderStatus
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
<script>
    var pageno = '@ViewBag.PageNumber';
    var table = $("#tblPO").DataTable({
        "ordering": false,
        searching: false, paging: false, info: false
    })
    $(document).ready(function () {
        $(".icon_sort_po").click(function () {
            var orderval = $(this).attr('data-val');
            POListLoad(1, orderval);
        });
    })
</script>
<table id="tblPO" class="purchase_order_list_partial_table">
    <thead class="table-head-border">
        <tr>
            @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
            {
                <th class="th_timeclock">
                    <div> @Localize.T("PO NO.")</div>
                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/pono"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/pono"></i></div>
                </th>
            }
            else
            {
                <th class="th_timeclock_pre">
                    <div>@Localize.T("PO NO.")</div>
                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/pono"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/pono"></i></div>
                </th>
            }
            @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
            {
                <th class="th_timeclock">
                    <div> @Localize.T("Vendor Name")</div>
                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/vname"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/vname"></i></div>
                </th>
            }
            else
            {
                <th class="th_timeclock_pre">
                    <div>@Localize.T("Vendor Name")</div>
                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/vname"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/vname"></i></div>
                </th>
            }
            @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
            {
                <th class="th_timeclock">
                    <div>Status</div>
                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/status"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/status"></i></div>
                </th>
            }
            else
            {
                <th class="th_timeclock_pre">
                    <div>Status</div>
                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/status"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/status"></i></div>
                </th>
            }
            @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
            {
                <th class="th_timeclock">
                    <div>Total</div>
                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/total"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/total"></i></div>
                </th>
            }
            else
            {
                <th class="th_timeclock_pre">
                    <div>Total</div>
                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/total"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/total"></i></div>
                </th>
            }

            @if (PermissionChecker.IsPermitted(PermissionList.InventoryPermissions.ShowEstimatorIdFilter))
            {
                if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                {
                    <th class="th_timeclock">
                        <div>Estimate Id</div>
                        <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/estimatorid"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/estimatorid"></i></div>
                    </th>
                }
                else
                {
                    <th class="th_timeclock_pre">
                        <div>Estimate Id</div>
                        <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/estimatorid"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/estimatorid"></i></div>
                    </th>
                }
            }
            else
            {

                if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
                {
                    <th class="th_timeclock">
                        <div>Description</div>
                        <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/status"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/status"></i></div>
                    </th>
                }
                else
                {
                    <th class="th_timeclock_pre">
                        <div>Description</div>
                        <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/status"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/status"></i></div>
                    </th>
                }
            }


            @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
            {
                <th class="th_timeclock">
                    <div> @Localize.T("Created Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/cdate"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/cdate"></i></div>
                </th>
            }
            else
            {
                <th class="th_timeclock_pre">
                    <div>@Localize.T("Created Date")</div>
                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/cdate"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/cdate"></i></div>
                </th>
            }
            @if (ViewBag.order == "ascending/des" || ViewBag.order == "descending/des")
            {
                <th class="th_timeclock">
                    <div> @Localize.T("Created By")</div>
                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/cby"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/cby"></i></div>
                </th>
            }
            else
            {
                <th class="th_timeclock_pre">
                    <div>@Localize.T("Created By")</div>
                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/cby"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/cby"></i></div>
                </th>
            }
            @if (ViewBag.TechnicianColumnPO == true)
            {
                <th class="th_timeclock_pre">
                    <div>@Localize.T("Received For")</div>
                    <div><i class="fa fa-angle-up icon_sort_po" data-val="ascending/technicianName"></i><i class="fa fa-angle-down icon_sort_po" data-val="descending/technicianName"></i></div>
                </th>
            } 
            @if (PermissionChecker.IsPermitted(PermissionList.InventoryPermissions.PurchaseOrderAction))
            {
                <th class="th_timeclock_pre">@Localize.T("Actions")</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PurchaseOrderWarehouseList)
        {
            <tr>
                @{
                    if (PermissionChecker.IsPermitted(PermissionList.InventoryPermissions.PurchaseOrderAction))
                    {
                        <td class="table-body-td-style">
                            <div>@Localize.T("PO NO.") <span>:</span></div>
                            <div><span class="cus-anchor" onclick="OpenPOById(@item.Id)">@item.PurchaseOrderId</span></div>
                        </td>

                    }
                    else
                    {
                        <td class="table-body-td-style">
                            <div>@Localize.T("PO NO.") <span>:</span></div>
                            <div>@item.PurchaseOrderId</div>
                        </td>

                    }
                }

                <td class="table-body-td-style">
                    <div>Vendor Name<span>:</span></div>
                    <div>@item.VendorName</div>
                </td>
                <td class="table-body-td-style">
                    <div>Status<span>:</span></div>
                    <div>@item.Status</div>
                </td>
                <td class="table-body-td-style">
                    <div>Total<span>:</span></div>
                    <div>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.TotalAmount)</div>
                </td>
                <td class="table-body-td-style">
                    <div>Description<span>:</span></div>
                    <div>
                        @{
                            if (item.Description.Length > 20)
                            {
                                <span title="@item.Description">@item.Description.Substring(0, 20).....</span>
                            }
                            else
                            {
                                <span>@item.Description</span>
                            }
                        }
                    </div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("Created Date") <span>:</span></div>
                    <div>@string.Format(item.CreatedDate.UTCToClientTime().ToString("M/d/yyyy h:mm tt"))</div>
                </td>
                <td class="table-body-td-style">
                    <div>@Localize.T("Created By") <span>:</span></div>
                    <div>@item.Name</div>
                </td>
                @if (ViewBag.TechnicianColumnPO == true)
                {
                    <td class="table-body-td-style">
                        <div>@Localize.T("Received For") <span>:</span></div>
                        <div>@item.TechnicianName</div>
                    </td>
                }
                
                @if (PermissionChecker.IsPermitted(PermissionList.InventoryPermissions.PurchaseOrderAction))
                {
                    <td class="table-body-td-style">
                        <div>@Localize.T("Actions") <span>:</span></div>
                        <div>
                            @if (item.Status != POStat.Received)
                            {
                                <span onclick="ReceivePOById(@item.Id)" class="cus-anchor">@Localize.T("Receive Products")</span>
                                <br />
                                <span onclick="DeletePOById(@item.Id)" class="cus-anchor">@Localize.T("Delete ")@Model.PrefixForPurchaseOrderId</span>
                            }
                            @if (item.Status == POStat.Received)
                            {
                                <span onclick="ReceivePOHistoryById('@item.Id')" class="cus-anchor">@Localize.T("Received History")</span>
                            }
                        </div>
                    </td>
                }
            </tr>
                            }
    </tbody>
</table>
<div class="AgentListPagination inv1">
    <div class="paginationContainer">
        @if (ViewBag.PageCount > 0)
        {
            <div class="paginationtextdv"><span>@HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.CurrentNumber) of @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
        }
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton activeBtn" onclick="POListLoad(@(ViewBag.PageNumber), @(ViewBag.order))">1</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons disabledBtn">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="POListLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="POListLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="POListLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==2? "disabledBtn" : "")" onclick="POListLoad(@(ViewBag.PageNumber!=2?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==1?"disabledBtn":"")" onclick="POListLoad(@(ViewBag.PageNumber!=1?ViewBag.PageNumber-1:""), @(ViewBag.order))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==1?"activeBtn":"")" onclick="POListLoad(1, @(ViewBag.order))">1</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==2?"activeBtn":"")" onclick="POListLoad(2, @(ViewBag.order))">2</button>
            </div>
            <div class="NavigatonButtonsDiv">
                <button class="NavigationButton @(ViewBag.PageNumber==3?"activeBtn":"")" onclick="POListLoad(3, @(ViewBag.order))">3</button>
            </div>
            <div class="paginationRightButtondv">
                <button class="PaginationButtons @(ViewBag.PageNumber==3?"disabledBtn":"")" onclick="POListLoad(@(ViewBag.PageNumber!=3?ViewBag.PageNumber+1:""), @(ViewBag.order))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumber-2), @(ViewBag.order))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="POListLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons disabledBtn" onclick="POListLoad()">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumber + 2), @(ViewBag.order))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == 2)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumber-1), @(ViewBag.order))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumber - 1), @(ViewBag.order))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="POListLoad(@(ViewBag.PageNumber), @(ViewBag.order))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="POListLoad(@(ViewBag.PageNumber + 1), @(ViewBag.order))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv">
                    <button class="PaginationButtons" onclick="POListLoad(@(ViewBag.PageNumber+1), @(ViewBag.order))">Next</button>
                </div>
            }
        }
    </div>
</div>

