@{
    Layout = null;
}
@model List<HS.Entities.Employee>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Inventory/TechPurchaseOrderPartial.css" rel="stylesheet" />

<script>
    var EmployeeId = "";
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var TechPOListLoadOwn = function (EmpId, pageNo, order) {
        if (typeof (pageNo) != "undefined") {
            var LoadUrl = domainurl + "/PurchaseOrder/TechPurchaseOrderListPartial/?SearchText=" + encodeURI($(".TechPoSearchText").val()) + "&PageNo=" + pageNo + "&EmployeeId=" + EmpId + "&order=" + order;
            $(".TechPurchaseOrderTableOwn").html(TabsLoaderText);
            $(".TechPurchaseOrderTableOwn").load(LoadUrl);
        }
    }
    var TechPOListLoadOwnRcv = function (EmpId, pageNo, order) {
        if (typeof (pageNo) != "undefined") {
            var LoadUrl = domainurl + "/PurchaseOrder/TechPurchaseOrderListPartial/?SearchTextRcv=" + encodeURI($(".TechPoSearchText").val()) + "&PageNoRcv=" + pageNo + "&EmployeeId=" + EmpId + "&orderrcv=" + order;
            $(".TechPurchaseOrderTableOwn").html(TabsLoaderText);
            $(".TechPurchaseOrderTableOwn").load(LoadUrl, function () {
                $("#TechDORecieveTabli").find('a').click();
            });
        }
    }
    $(document).ready(function () {
        $(".technicianListContentPurchase").click(function () {
            $(".technicianListContentPurchase").each(function () {
                $(this).removeClass("activetechlist");
            });
            $(this).addClass("activetechlist");
            EmployeeId = $(this).attr('idval');
            TechPOListLoadOwn(EmployeeId, 1, null);
             });
            $(".search_inventorytabtechdemandsrchbtn_btn").click(function () {

                console.log("search");
                var SearchText = $(".searchtexttechpurchaseorder_search_text").val();
                //     $(".technician-inventory-list").html(TabsLoaderText);
                $(".tech_purchase_order_container").load(domainurl + "/PurchaseOrder/TechPurchaseOrderPartial?searchtext=" + encodeURI(SearchText));

            });
            $(".searchtexttechpurchaseorder_search_text").keydown(function (e) {
                var SearchText = $(".searchtexttechpurchaseorder_search_text").val();

                if (e.which == 13) {
                    $(".tech_purchase_order_container").load(domainurl + "/PurchaseOrder/TechPurchaseOrderPartial?searchtext=" + encodeURI(SearchText));
                }
            });
       
    });
</script>

<div class="tech_purchase_order_container">
    <div class="service_tracker_search_bar" style="margin-right:10px;margin-top:10px;width:325px;margin-bottom:10px;">
        <div class="input-group add-on convert_cus_div">
            <input value="" class="form-control filterinput border_radius_0 searchtexttechpurchaseorder_search_text" id="searchtext" placeholder="Search">
            <div class="input-group-btn"><button class="btn search_inventorytabtechdemandsrchbtn_btn green_button" id="inventorytabtechdemandsrchbtn" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button></div>
        </div>

        @*<button class="btn convert_cus_div page_filter_btn" id="convert_cus_filterbtn"><span title="Filter" class="glyphicon glyphicon-filter"></span></button>*@
    </div>
    <div class="technicianList">
        <div class="technicianListHeader">
            <div class="techListTitle">@Localize.T("Technician List")</div>
        </div>

        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <div class="technicianListContentPurchase" idval="@item.UserId">
                    <div>@item.FirstName @item.LastName</div>
                    <div>@Localize.T("Email : ") @item.UserName</div>
                </div>
            }
        }
        else
        {
            <div class="NoInventoryDiv">
                <a class="AddTechnician">@Localize.T("No technician found. Please add technician")</a>
            </div>

        }
    </div>
    <div class="TechPurchaseOrderTableOwn">

    </div>

</div>