@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.CreatePurchaseOrder
@using POStat = HS.Web.UI.Helper.LabelHelper.PurchaseOrderStatus
@Styles.Render("~/styles/AddInvoice")
<link href="~/Content/Css/Expense/AddVendorBill.css" rel="stylesheet" />
<script src="~/Content/Tiny/jquery.tinymce.min.js"></script>
<script src="~/Content/Tiny/tinymce.min.js"></script>
<script src="~/Content/Js/TinyInvoice.js"></script>

<script>
    var SupplierAddress;
    var POStatus = '@Model.PurchaseOrderTech.Status';
    var Currency = '@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)';
    var Receiving = @Model.ReceiveNow.ToString().ToLower();
    var OpenTab='@ViewBag.OpenTab';
</script>

<script src="~/Content/Js/PurchaseOrder/AddDemandOrder.js"></script>
<link href="~/Content/Css/Inventory/AddDemandOrder.css" rel="stylesheet" />
<div class="hidden" style="display:none;visibility:hidden;height:0px;">
    @Html.HiddenFor(X => X.PurchaseOrderTech.DemandOrderId)
    @Html.HiddenFor(X => X.PurchaseOrderBranch.DemandOrderId)
</div>
<div class="avb_div_header">
    <div class="header_title_avb">
        Demand Order - @Model.PurchaseOrderTech.DemandOrderId
    </div>
</div>
<div class="add-invoice-container">
    <div class="PoContentScroll">
        <div class="avp_table_info_container add_demand_order_container">
            <div class="width-100p margin-top-15">
                <table class="CustomerInvoiceTab" id="CustomerInvoiceTab">
                    <thead>
                        <tr>
                            <th class="thead-th-style1 tab-index">
                                <span>

                                </span>
                            </th>
                            <th class="thead-th-style1 tab-Product">
                                <span>
                                    @Localize.T("Product/Service")
                                </span>
                            </th>
                            <th class="thead-th-style2 tab-Desc">
                                <span>
                                    @Localize.T("Description")
                                </span>
                            </th>
                            <th class="thead-th-style2 tab-Quantity">
                                <span>
                                    @Localize.T("QTY")
                                </span>
                            </th>
                            <th class="thead-th-style2 tab-Quantity @(Model.ReceiveNow?"":"hidden")">
                                <span>
                                    @Localize.T("Received")
                                </span>
                            </th>
                            <th class="thead-th-style2 tab-Action">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.PurchaseOrderDetail.Count() > 0)
                        {
                            foreach (var item in Model.PurchaseOrderDetail)
                            {
                                <tr data-id="@item.EquipmentId" class="HasItem">
                                    <td valign="top"></td>
                                    <td valign="top">
                                        <input type="text" class="ProductName" value="@item.EquipName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                                        <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                                        <span class="spnProductName">@item.EquipName</span>
                                    </td>
                                    <td valign="top">
                                        <input type="text" onkeydown='OthersKeyDown(this,event)' value="@item.EquipDetail" class="txtProductDesc" />
                                        <span class="spnProductDesc">@item.EquipDetail</span>
                                    </td>
                                    <td valign="top">
                                        <input type="text" onkeydown='OthersKeyDown(this,event)' value="@item.Quantity" class="txtProductQuantity" />
                                        <span class="spnProductQuantity">@item.Quantity</span>
                                    </td>
                                    <td valign="top" class="@(Model.ReceiveNow?"":"hidden")">
                                        <input type="text" onkeydown='OthersKeyDown(this,event)' value="@(item.RecieveQty.HasValue? item.RecieveQty: item.Quantity)" class="txtProductQuantityReceived" />
                                        <span class="spnProductQuantityReceived">@(item.RecieveQty.HasValue ? item.RecieveQty : item.Quantity)</span>
                                    </td>
                                    <td valign="top" class="tableActions">
                                        <i class="fa fa-trash-o" aria-hidden="true" title="@Localize.T("Delete")"></i>
                                    </td>
                                </tr>
                            }
                            if (Model.PurchaseOrderTech.Status != POStat.Received)
                            {
                                <tr>
                                    <td valign="top"></td>
                                    <td valign="top">
                                        <input type="text" class="ProductName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                                        <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                                        <span class="spnProductName"></span>
                                    </td>
                                    <td valign="top">
                                        <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductDesc" />
                                        <span class="spnProductDesc"></span>
                                    </td>
                                    <td valign="top">
                                        <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductQuantity" />
                                        <span class="spnProductQuantity"></span>
                                    </td>
                                    <td valign="top" class="@(Model.ReceiveNow?"":"hidden")">
                                        <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductQuantityReceived" />
                                        <span class="spnProductQuantityReceived"></span>
                                    </td>
                                    <td valign="top" class="tableActions">
                                        <i class="fa fa-trash-o" aria-hidden="true" title="@Localize.T("Delete")"></i>
                                    </td>
                                </tr>
                            }

                        }
                        else
                        {
                            <tr>
                                <td valign="top"></td>
                                <td valign="top">
                                    <input type="text" class="ProductName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                                    <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                                    <span class="spnProductName"></span>
                                </td>
                                <td valign="top">
                                    <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductDesc" />
                                    <span class="spnProductDesc"></span>
                                </td>
                                <td valign="top">
                                    <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductQuantity" />
                                    <span class="spnProductQuantity"></span>
                                </td>
                                <td valign="top" class="@(Model.ReceiveNow?"":"hidden")">
                                    <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductQuantityReceived" />
                                    <span class="spnProductQuantityReceived"></span>
                                </td>
                                <td valign="top" class="tableActions">
                                    <i class="fa fa-trash-o" aria-hidden="true" title="@Localize.T("Delete")"></i>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top"></td>
                                <td valign="top">
                                    <input type="text" class="ProductName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                                    <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                                    <span class="spnProductName"></span>
                                </td>
                                <td valign="top">
                                    <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductDesc" />
                                    <span class="spnProductDesc"></span>
                                </td>
                                <td valign="top">
                                    <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductQuantity" />
                                    <span class="spnProductQuantity"></span>
                                </td>
                                <td valign="top" class="@(Model.ReceiveNow?"":"hidden")">
                                    <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductQuantityReceived" />
                                    <span class="spnProductQuantityReceived"></span>
                                </td>
                                <td valign="top" class="tableActions">
                                    <i class="fa fa-trash-o" aria-hidden="true" title="@Localize.T("Delete")"></i>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="add_demand_order_footer col-md-12">
        @if (Model.PurchaseOrderTech.Status != POStat.Received)
        {
        <button class="btnInv InvoiceCancelButton" onclick="CloseTopToBottomModal()">@Localize.T("Cancel")</button>
        <button class="btnInv InvoiceSaveButton" onclick="SaveDemandOrder(false)"><i class="fa fa-floppy-o"></i> @Localize.T("Save")</button>
        }
        else
        {
            <button class="btnInv InvoiceSaveButton" onclick="CloseTopToBottomModal()"> @Localize.T("Close")</button>
        }
     </div>

    <div class="AddInvoiceLoader hidden">
        <div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>
    </div>
</div>


