@{ 
    Layout = null;
    var totalprice = 0.0;
}
@model HS.Entities.CreatePurchaseOrder
@using DateTimeExt = HS.Framework.DateTimeExtension
<!DOCTYPE html>
<html>
    <head>
        <title>Purchase Order Pdf</title>
    </head>
    <body style="font-family:sans-serif;">
        <div class="container">
            <div class="tblCompanyInfo">
                <table style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td><br /></td></tr>
                        <tr>
                            <td style="width:150px;vertical-align:top;">
                                @if (!string.IsNullOrWhiteSpace(Model.Company.CompanyLogo))
                                {
                                    <img src="@Model.Company.CompanyLogo" style="width:80px; padding-left:40px;" /><br />
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:40px;width:60%">
                                @Html.Raw(Model.CompanyAddressFormat)
                            </td>
                            <td style="float:right; vertical-align:top;width:40%;">
                                <span></span><br /><br />

                            </td>
                        </tr>
                        <tr>
                            <td>
                                @if (string.IsNullOrWhiteSpace(Model.Company.Street))
                                {
                                    <br />
                                }
                                <br />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tblEstimateInfo">
                <table style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width:30%; padding-left:40px;">
                                <b>Billing Address</b>
                                @Html.Raw(Model.PurchaseOrderWarehouse.BillingAddress)
                            </td>
                            <td style="width:30%">
                                <b>Shipping Address</b>
                                @Html.Raw(Model.PurchaseOrderWarehouse.ShippingAddress)
                            </td>
                            <td style="width:40%">
                                <p style="background-color:#4f90bb;height:30px;padding-top:10px;padding-left:10px; color:white"><b>Order ID</b> # @Model.PurchaseOrderWarehouse.PurchaseOrderId</p>
                                <p style="background-color:#4f90bb;height:30px;padding-top:10px;padding-left:10px;color:white"><b>Order Date</b> @Model.PurchaseOrderWarehouse.OrderDate.ToString("MM/dd/yy") </p>
                                @*<p style="background-color:#4f90bb;min-height:30px;padding-top:10px;padding-bottom:10px;padding-left:10px;color:white"><b>Assigned To</b> @string.Join(", ", Model.TicketAssignedUserList.Select(x => x.FullName))</p>
                                <p style="background-color:#4f90bb;min-height:30px;padding-top:10px;padding-bottom:10px;padding-left:10px;color:white"><b>Additional Members</b> @string.Join(", ", Model.TicketUserList.Select(x => x.FullName))</p>*@
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @if (Model.PurchaseOrderDetail != null && Model.PurchaseOrderDetail.Count() > 0)
            {
                <br />
                <br />
                <div style="margin-top:20px;width:100%;">
                    <table style="width:100%;">
                        <thead>
                            <tr style="background-color:#4f90bb; color:white;width:100%">
                                <th style="width:30%;text-align:left;padding-left:40px">Products</th>
                                <th style="width:30%;text-align:left;padding-left:40px">SKU</th>
                                <th style="width:10%;">QTY</th>
                                <th style="width:10%;">Rate</th>
                                <th style="width:10%;">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PurchaseOrderDetail)
                            {
                                totalprice += (item.TotalPrice.HasValue ? item.TotalPrice.Value : 0);
                                <tr>
                                    <td style="padding-left:40px;">
                                        <b>@item.EquipName</b><br />
                                    </td>
                                    <td>
                                        <span>@item.SKU</span>
                                    </td>
                                    <td style="text-align:center">@item.Quantity</td>
                                    <td style="text-align:center">
                                        <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.UnitPrice)</span>
                                    </td>
                                    <td style="text-align:center">
                                        <span>@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.TotalPrice)</span>
                                    </td>
                                </tr>
                               
                            }
                        </tbody>
                    </table>
                </div>
            }
            
            <div style="width:100%;height:50px;border-bottom:1px solid #4f90bb;position:relative;"></div>
            <div style="width:100%;"><span style="float:right;font-weight:600;font-size:16px;">SubTotal: @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(totalprice)</span></div>
            <div style="width:100%;">
                <div style="width:50%;float:left">
                    <p style="padding-left:40px">@Html.Raw(Model.PurchaseOrderWarehouse.Message)</p>
                </div>
                <div style="width:50%;float:right">
                    
                </div>
            </div>
            
        </div>
    </body>
</html>

