@model IEnumerable<HS.Entities.PurchaseOrderDetail>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
@{
    Layout = null;
}
<style>
    .HSBodyContents {
        padding: 50px;
    }

    .purchase_order_list_partial_table tbody tr td div:nth-child(1) {
        display: block;
    }
</style>
<table class="purchase_order_list_partial_table">
    <thead class="table-head-border">
        <tr>
            <th class="th_timeclock">
                <div> @Localize.T("Equipment Name")</div>
            </th>
            <th class="th_timeclock">
                <div> @Localize.T("Received Qty")</div>
            </th>
            <th class="th_timeclock">
                <div> @Localize.T("Received By")</div>
            </th>
            <th class="th_timeclock">
                <div> @Localize.T("Received For")</div>
            </th>
            <th class="th_timeclock">
                <div> @Localize.T("Receive Date")</div>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="table-body-td-style">
                    <div>@item.EquipName</div>
                </td>
                <td class="table-body-td-style">
                    <div>@item.RecieveQty</div>
                </td>
                <td class="table-body-td-style">
                    <div>@item.ReceiveBy</div>
                </td>
                <td class="table-body-td-style">
                    <div>@item.ReceiveFor</div>
                </td>
                <td class="table-body-td-style">
                    <div>@item.RecieveDate.UTCToClientTime().ToShortDateString()</div>
                </td>
            </tr>
        }
    </tbody>
</table>