@{
    Layout = null;
}
@model HS.Entities.CreateCustomerAppoinmentEquipment
@using System.Collections;

<html>
<head>
    <STYLE TYPE="text/css">
        .breakhere {
            page-break-after: always;
        }
    </STYLE>
</head>
<body style="font-family:sans-serif;">

    @{
        Hashtable datatemplate = new Hashtable();
        datatemplate.Add("ComapnyName", Model.CompanyName);
        datatemplate.Add("Address", Model.CompanyAddress);
        datatemplate.Add("Street", Model.CompanyStreet);
        datatemplate.Add("City", Model.CompanyCity);
        datatemplate.Add("State", Model.CompanyState);
        datatemplate.Add("Zip", Model.CompanyZip);
        datatemplate.Add("CompanyPhone", HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(Model.CompanyPhone));
        datatemplate.Add("EmailAddress", Model.CompanyEmail);
        datatemplate.Add("WebAddress", Model.CompanyWebsite);
        datatemplate.Add("SupplierName", Model.SupplierModel != null ? Model.SupplierModel.CompanyName : "");
        datatemplate.Add("SupplierStreet", Model.SupplierModel != null ? Model.SupplierModel.Street : "");
        datatemplate.Add("SupplierCity", Model.SupplierModel != null ? Model.SupplierModel.City : "");
        datatemplate.Add("SupplierState", Model.SupplierModel != null ? Model.SupplierModel.State : "");
        datatemplate.Add("SupplierZip", Model.SupplierModel != null ? Model.SupplierModel.Zipcode : "");
        datatemplate.Add("SupplierPhone", Model.SupplierModel != null ? Model.SupplierModel.Phone : "");
        datatemplate.Add("SupplierEmailAddress", Model.SupplierModel != null ? Model.SupplierModel.EmailAddress : "");
        datatemplate.Add("EmployeeName", Model.TechnicianModel != null ? Model.TechnicianModel.FirstName + " " + Model.TechnicianModel.LastName : "");
        datatemplate.Add("EmployeeStreet", Model.TechnicianModel != null ? Model.TechnicianModel.Street : "");
        datatemplate.Add("EmployeeCity", Model.TechnicianModel != null ? Model.TechnicianModel.City : "");
        datatemplate.Add("EmployeeState", Model.TechnicianModel != null ? Model.TechnicianModel.State : "");
        datatemplate.Add("EmployeeZip", Model.TechnicianModel != null ? Model.TechnicianModel.ZipCode : "");
        datatemplate.Add("EmployeePhone", Model.TechnicianModel != null ? Model.TechnicianModel.Phone : "");
        datatemplate.Add("EmployeeEmailAddress", Model.TechnicianModel != null ? Model.TechnicianModel.Email : "");
        datatemplate.Add("EmployeeComma", Model.TechnicianModel != null && !string.IsNullOrWhiteSpace(Model.TechnicianModel.City) ? "," : "");
        datatemplate.Add("SupplierComma", Model.TechnicianModel != null && !string.IsNullOrWhiteSpace(Model.SupplierModel.City) ? "," : "");
        string CompanyInfo = HS.Web.UI.Helper.LabelHelper.ParserHelper(Model.CompanyInfo, datatemplate);
        string EmployeeInfo = HS.Web.UI.Helper.LabelHelper.ParserHelper(Model.EmployeeInfo, datatemplate);
        string SupplierInfo = HS.Web.UI.Helper.LabelHelper.ParserHelper(Model.SupplierInfo, datatemplate);
    }
    <div class="container">
        <div class="tblCompanyInfo">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td><br /></td></tr>
                    <tr>
                        <td style="width:150px;vertical-align:top;">
                            @if (!string.IsNullOrWhiteSpace(Model.CompanyLogo))
                            {
                                <img src="@Model.CompanyLogo" style="width:80px; padding-left:40px;" /><br />
                            }
                        </td>
                        @*@if (Invitem.Invoice.Status == "Paid")
                            {
                                <td>
                                    <span style="font-size:50px;font-weight:600;color:darkgray;">@Invitem.Invoice.Status.ToUpper()</span>
                                </td>
                            }*@
                    </tr>
                    <tr>
                        <td style="padding-left:40px;width:60%">
                            @Html.Raw(CompanyInfo)
                        </td>
                        @*<td style="float:right; vertical-align:top;width:40%;">
                                @if (!string.IsNullOrWhiteSpace(Invitem.Invoice.EstimateTerm) && Invitem.Invoice.EstimateTerm != "-1" && Invitem.Invoice.EstimateTerm != "Please Select One")
                                {
                                    <span><b>PAYMENT TERMS:</b> @Invitem.Invoice.EstimateTerm</span>
                                }
                            </td>*@
                    </tr>
                    <tr>
                        <td>
                            @if (string.IsNullOrWhiteSpace(Model.CompanyStreet))
                            {
                                <br />
                            }
                            <br />
                            <br />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tblInvoiceInfo">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:30%; padding-left:40px;">
                            @if (Model.TechnicianModel != null)
                            {
                                <b>TECHNICIAN</b>
                                @Html.Raw(EmployeeInfo)
                                <br /><br />
                            }
                            @if (Model.SupplierModel != null)
                            {
                                <b>VENDOR</b>
                                @Html.Raw(SupplierInfo)
                            }
                        </td>
                        <td style="width:30%">
                            @if (Model.ShowShippingAddress
                                && !string.IsNullOrWhiteSpace(Model.ShippingAddress))
                            {
                                <b>SHIP TO</b>
                                @Html.Raw(Model.ShippingAddress)
                            }
                            else if (!Model.ShowShippingAddress)
                            {
                                <b>PICKUP</b>
                            }
                        </td>
                        <td style="width:40%">
                            @if (!string.IsNullOrWhiteSpace(Model.POId))
                            {
                                <p style="background-color:#4f90bb;height:30px;padding-top:10px;padding-left:10px;color:white"><b>Order ID#</b> @Model.POId</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.FullfillmentDate))
                            {
                                <p style="background-color:#4f90bb;height:30px;padding-top:10px;padding-left:10px;color:white"><b>FULLFILLMENT DATE</b> @Model.FullfillmentDate.ToString()</p>
                            }

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div style="margin-top:20px;width:100%;">
            <table style="width:100%; border-collapse:collapse;">
                <thead>
                    <tr style="background-color:#4f90bb; color:white;width:100%; border:1px solid #4f90bb;">
                        @*<th style="width:11.111%; padding:5px 0px; border-right:1px solid #fff;">Warehouse QTY</th>
                            <th style="width:11.111%; padding:5px 0px; border-right:1px solid #fff;">QTY on Hand</th>*@
                        <th style="width:13.111%; padding:5px 0px; border-right:1px solid #fff;">Product SKU</th>
                        <th style="width:13.111%; padding:5px 0px; border-right:1px solid #fff;">Manufacturer</th>
                        <th style="width:13.111%; padding:5px 0px; border-right:1px solid #fff;">Name</th>
                        @*<th style="width:13.111%; padding:5px 0px; border-right:1px solid #fff;">QTY Needed</th>*@
                        <th style="width:15.111%; padding:5px 0px;">Ordering</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CusAppoinmentEquipmentList != null && Model.CusAppoinmentEquipmentList.Count() > 0)
                    {
                        foreach (var item in Model.CusAppoinmentEquipmentList)
                        {
                            <tr style="border-bottom:1px solid #ccc;">
                                @*<td style="text-align:center; padding:5px 0px;">@item.WarehouseQTY</td>
                                    <td style="text-align:center; padding:5px 0px;">@item.QTYOnHand</td>*@
                                <td style="text-align:center; padding:5px 0px;">@item.ProductSKU</td>
                                <td style="text-align:center; padding:5px 0px;">@item.ManufacturerName</td>
                                <td style="text-align:center; padding:5px 0px;">@item.EquipmentName</td>
                                @*<td style="text-align:center; padding:5px 0px;">@item.Quantity</td>*@
                                <td style="text-align:center; padding:5px 0px;">@item.OrderingQuantity</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div style="width:100%;height:50px;border-bottom:1px solid #4f90bb;position:relative;">
        </div>
        <div style="width:100%; float:left;">
            @if (!string.IsNullOrWhiteSpace(Model.CompanyName))
            {
                <div style="width:100%; float:left; margin-top:50px; text-align:center; box-sizing:border-box;">
                    <div style="width:100%; float:left;text-align:center; box-sizing:border-box; font-size:18px;"> Thanks for your business!</div>
                    <div style="width:100%; float:left;text-align:center; box-sizing:border-box;"> @Model.CompanyName</div>
                </div>
            }
        </div>
    </div>
</body>
</html>
