@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.SetupAlarm
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>
    var CreateCustomer = "@HS.Web.UI.Helper.LabelHelper.AlarmCustomerActions.CreateCustomer";
    var CreateCommiment = "@HS.Web.UI.Helper.LabelHelper.AlarmCustomerActions.CreateCommiment";
    var ActiveateCommitment = "@HS.Web.UI.Helper.LabelHelper.AlarmCustomerActions.ActiveateCommitment";
    var AlarmCusId = '@ViewBag.AlarmRefId';
</script>
@Scripts.Render("~/scripts/Alarm")
@Styles.Render("~/styles/Alarm")
<div class="width-100p create_alarm">
    @if (string.IsNullOrEmpty(ViewBag.AlarmRefId))
    {
        if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.AlarmSyncCustomer))
        {
            <div class="customersyncarea">
                <label>Customer Id</label>
                <div class="input-group add-on">


                    <input type="text" id="AlarmSyncId" placeholder="Customer Id" />
                    <div class="input-group-btn"> <button class="btn btn-default syncbtn">@Localize.T("Sync")</button></div>

                </div>
            </div>
        }
            @*<div class="diveditsettings"style="float:right;"> <button class="btn btn-default editsettingsbtn"><i class="fa fa-cog"></i></button></div>*@

            <div class="CreateCustomerDiv width-100p">
                <button class="btn CreateCustomer" @*id="CreateCustomer"*@><i class="fa fa-user-plus"></i> @Localize.T("Create Customer")</button>
                @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.AlarmCustomerCommitment))
                {
                    <button class="btn CreateCommitment" @*id="CreateCommitment"*@><i class="fa fa-handshake-o"></i> @Localize.T("Create Commitment")</button>
                }

                @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.AlarmSettings))
                {
                    <button class="btn btn-default editsettingsbtn"><i class="fa fa-cog"></i></button>

                }

            </div>

        }

        else
        {
            if (Model.CustomerStatus == HS.Web.UI.Helper.LabelHelper.AlarmCustomerStatus.Init)
            {
                @*<div class="diveditsettings" style="float:right;margin-right:60px;"> <button class="btn btn-default editsettingsbtn">@Localize.T("Settings")</button></div>*@

                <div class="CreateCustomerDiv width-100p">
                    <button class="btn CreateCustomer" @*id="CreateCustomer"*@><i class="fa fa-user-plus"></i> @Localize.T("Create Customer")</button>
                    @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.AlarmCustomerCommitment))
                    {
                        <button class="btn CreateCommitment" @*id="CreateCommitment"*@><i class="fa fa-handshake-o"></i> @Localize.T("Create Commitment")</button>
                    }
                    @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.AlarmSettings))
                    {
                        <button class="btn btn-default editsettingsbtn"><i class="fa fa-cog"></i></button>

                    }
                </div>
            }
            if (Model.CustomerStatus == HS.Web.UI.Helper.LabelHelper.AlarmCustomerStatus.Commited)
            {
                <div class="ActivateCommitmentDiv" style="padding-top:10px;">
                    <button class="btn btn-default ActivateCommitment" @*id="ActivateCommitment"*@>@Localize.T("Activate Commitment")</button>

                    @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.AlarmSettings))
                    {
                        <button class="btn btn-default editsettingsbtn"><i class="fa fa-cog"></i></button>

                    }
                </div>

            }
            <div class="ActivateCommitmentDiv"  style="padding-top:10px;">
                <button class="btn btn-default TerminatedLog" @*id="ActivateCommitment"*@>@Localize.T("Termination Log")</button>

                @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.AlarmSettings))
                {
                    <button class="btn btn-default editsettingsbtn"><i class="fa fa-cog"></i></button>

                }
            </div>
            <div class="AlarmComDetailTab_Load">

            </div>
        }

    </div>