@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.Custom.NMCNexusDocument
<script src="~/Content/Js/CityStateZipAutoFill.js"></script>
<link href="~/Content/Css/CityStateZipAutoFill.css" rel="stylesheet" />
<link href="~/Content/Css/API/AddBrinksAccount.css" rel="stylesheet" />
<script>
    var SiteType = '@Model.GetAccountInfo.GetAccountInfo_Response.sitetype_id';
    function FormatePhoneNumber1(Value) {
        var ValueClean = "";
        if (Value != undefined && Value != "" && Value != null) {
            Value = Value.replace(/[-()  ]/g, '');
            if (Value.length == 10) {
                ValueClean = Value.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
                $("#Phone").css({ "border": "1px solid #babec5" });
            }
            else if (Value.length > 10) {
                ValueClean = Value;
                $("#Phone").css({ "border": "1px solid red" });
            }
            else {
                $("#Phone").css({ "border": "1px solid red" });
                ValueClean = Value;
            }
        }
        return ValueClean;
    }
    function FormatePhoneNumber2(Value) {
        var ValueClean = "";
        if (Value != undefined && Value != "" && Value != null) {
            Value = Value.replace(/[-()  ]/g, '');
            if (Value.length == 10) {
                ValueClean = Value.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
                $("#Receiver_Phone").css({ "border": "1px solid #babec5" });
            }
            else if (Value.length > 10) {
                ValueClean = Value;
                $("#Receiver_Phone").css({ "border": "1px solid red" });
            }
            else {
                $("#Receiver_Phone").css({ "border": "1px solid red" });
                ValueClean = Value;
            }
        }
        return ValueClean;
    }
    function FormatePhoneNumber3(Value) {
        var ValueClean = "";
        if (Value != undefined && Value != "" && Value != null) {
            Value = Value.replace(/[-()  ]/g, '');
            if (Value.length == 10) {
                ValueClean = Value.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
                $("#panel_phone").css({ "border": "1px solid #babec5" });
            }
            else if (Value.length > 10) {
                ValueClean = Value;
                $("#panel_phone").css({ "border": "1px solid red" });
            }
            else {
                $("#panel_phone").css({ "border": "1px solid red" });
                ValueClean = Value;
            }
        }
        return ValueClean;
    }
    function FormatePhoneNumberEmg(Value) {
        var ValueClean = "";
        if (Value != undefined && Value != "" && Value != null) {
            Value = Value.replace(/[-()  ]/g, '');
            if (Value.length == 10) {
                ValueClean = Value.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
                $("#Phone1").css({ "border": "1px solid #babec5" });
            }
            else if (Value.length > 10) {
                ValueClean = Value;
                $("#Phone1").css({ "border": "1px solid red" });
            }
            else {
                $("#Phone1").css({ "border": "1px solid red" });
                ValueClean = Value;
            }
        }
        return ValueClean;
    }
    var SubscribeToNmc = function () {
        var url = "/API/AddNmcCustomer/";

        var param = {
            "CsNo": $("#cs_no").val(),
            "Site_name": $("#site_name").val(),
            "Site_addr1": $("#site_addr1").val(),
            "Sitestat_id": $("#sitestat_id").val(),
            "Sitetype_id": $("#sitetype_id").val(),

            "Systype_id": $("#systype_id").val(),

            "Receiver_Phone": $("#Receiver_Phone").val(),
            "panel_phone": $("#panel_phone").val(),
            "phone1": $("#Phone").val(),

            "country_name": $("#Country").val(),
            "panel_location": $("#panel_location").val(),


            "City_name": $("#City").val(),
            "State_id": $("#State").val(),

            "Zip_code": $("#ZipCode").val(),

            "CustomerId": CustomerLoadGuid,

        };
        console.log(param);
        $(".LoaderWorkingDivBrinks").show();
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: JSON.stringify(param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                $(".LoaderWorkingDivBrinks").hide();
                if (typeof (data) != 'undefined') {
                    if (data) {
                        if (data.result) {
                            OpenSuccessMessageNew("Success!", data.message, function () {
                                CloseTopToBottomModal();
                                $(".NMCConnectTab").click();
                            });
                        } else {
                            OpenErrorMessageNew("Error!", data.message, function () {


                            });
                        }
                    } else {
                        OpenErrorMessageNew("Error!", data.message, function () {

                        });
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }
     var Platform = "'NMC'";
    var SubscribeToNmcConfirm = function () {

        OpenConfirmationMessageNew("", "Do you want to place this account online?", function () {
            SubscribeToNmc();
        })
    }
    var NMCZoneValidation = function () {
        if ($("#NMCZoneNumber").val() == "-1" || $("#NMCEventCode").val() == "-1") {
            return false;
        }
        return true;
    }
    $(document).ready(function () {
        if (SiteType != "") {
            $("#sitetype_id").val(SiteType);
        }

        $(".add_brinks_info_container").height(window.innerHeight - 112);
        $(".LoaderWorkingDivBrinks").hide();

        $("#Zonelist").load("/API/CustomerZoneList?CustomerId=" + CustomerLoadGuid + "&&Platform='NMC'");
        $("#Agencylist").load("/API/CustomerAgencylist?CustomerId=" + CustomerLoadGuid + "&&Platform='NMC'");
        $("#SubscribeToNmc").click(function () {

            SubscribeToNmcConfirm();

        });
         $("#Get_Agencies").click(function () {

            var param = {
                "ZipCode": $("#ZipCode").val(),
                 "CustomerId": CustomerLoadGuid,
            };

            console.log(param);
            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: "/API/GetNmcThirdpartyAgencies",
                data: JSON.stringify(param),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    $(".LoaderWorkingDiv").hide();
                    console.log("ayy");
                    if (typeof (data) != 'undefined') {
                        if (data.result == true) {
                            $("#Agencylist").load("/API/CustomerAgencylist?CustomerId=" + CustomerLoadGuid + "&&Platform='NMC'");
                        }
                        else {
                            OpenErrorMessageNew("Error!", data.message, function () {

                            });
                        }


                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $(".loader-div").hide();
                    console.log(errorThrown);
                }
            });


        })
          $("#Phone").keyup(function () {
            var PhoneNumber = $(this).val();
            if (PhoneNumber != undefined && PhoneNumber != null && PhoneNumber != "") {
                var cleanPhoneNumber = FormatePhoneNumber1(PhoneNumber);
                $(this).val(cleanPhoneNumber);
            }
        });
        $("#Receiver_Phone").keyup(function () {
            var PhoneNumber = $(this).val();
            if (PhoneNumber != undefined && PhoneNumber != null && PhoneNumber != "") {
                var cleanPhoneNumber = FormatePhoneNumber2(PhoneNumber);
                $(this).val(cleanPhoneNumber);
            }
        });
        $("#panel_phone").keyup(function () {
            var PhoneNumber = $(this).val();
            if (PhoneNumber != undefined && PhoneNumber != null && PhoneNumber != "") {
                var cleanPhoneNumber = FormatePhoneNumber3(PhoneNumber);
                $(this).val(cleanPhoneNumber);
            }
        });
        $("#Phone1").keyup(function () {
            var PhoneNumber = $(this).val();
            if (PhoneNumber != undefined && PhoneNumber != null && PhoneNumber != "") {
                var cleanPhoneNumber = FormatePhoneNumberEmg(PhoneNumber);
                $(this).val(cleanPhoneNumber);
            }
        });
         $("#Contactlist").load("/API/CustomerEmgContactlist?CustomerId=" + CustomerLoadGuid + "&&Platform='NMC'");
          $("#Contact_Addition").click(function () {
            var Haskey = "False";
            if ($('#Haskey').is(':checked') == true) {
                Haskey = "True";
            }
            var param = {
                "Id":    $("#ContactId").val(),
                "CustomerId": CustomerLoadGuid,
                "FirstName":    $("#FirstName1").val(),
                "LastName": $("#LastName1").val(),
                "Phone": $("#Phone1").val(),
                 "Email": $("#Email").val(),
                "RelationShip": $("#RelationShip").val(),


                "Platform": "NMC"

            };

            console.log(param);
            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: "/Customer/AddEmergencyContact",
                data: JSON.stringify(param),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    $(".LoaderWorkingDiv").hide();
                    if (typeof (data) != 'undefined') {
                        $("#ContactId").val("");
                        $("#FirstName1").val(""),
                        $("#LastName1").val(""),
                        $("#Phone1").val(""),
                        $("#Email").val(""),
                        $("#RelationShip").val("-1"),
                        $("#Contactlist").load("/API/CustomerEmgContactlist?CustomerId=" + CustomerLoadGuid + "&&Platform='NMC'");

                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $(".loader-div").hide();
                    console.log(errorThrown);
                }
            });


          })


        $("#Zode_Addition").click(function () {

            if ($("#NMCEquipLocation").val() == "-1") {
                $("#errorEquipLocation").removeClass("hidden");
            }
            else {
                $("#errorEquipLocation").addClass("hidden");
            }
            if ($("#NMCEquipType").val() == "-1") {
                $("#errorEquipType").removeClass("hidden");
            }
            else {
                $("#errorEquipType").addClass("hidden");
            }
            if ($("#NMCEventCode").val() == "-1") {
                $("#errorEventCode").removeClass("hidden");
            }
            else {
                $("#errorEventCode").addClass("hidden");
            }

            var param = {
                "ID":    $("#ZoneId").val(),
                "CustomerId": CustomerLoadGuid,
                "ZoneNumber": $("#NMCZoneNumber").val(),
                "EventCode": $("#NMCEventCode").val(),
                "Location": $("#NMCEquipLocation").val(),
                "EquipmentType": $("#NMCEquipType").val(),
                "ZoneComment": $("#ZoneComment").val(),
                "Platform": "NMC"

            };
            if (NMCZoneValidation() == true) {
                console.log(param);
                $.ajax({
                    type: "POST",
                    ajaxStart: $(".loader-div").show(),
                    url: "/Customer/AddUccZone",
                    data: JSON.stringify(param),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function (data) {
                        $(".LoaderWorkingDiv").hide();
                        if (typeof (data) != 'undefined') {

                            $("#ZoneId").val("");
                            $("#NMCZoneNumber").val("");
                            $("#NMCEventCode").val("-1");
                            $("#NMCEquipType").val("-1");
                            $("#NMCEquipLocation").val("-1");
                            $("#ZoneComment").val("");
                            $("#Zonelist").load("/API/CustomerZoneList?CustomerId=" + CustomerLoadGuid + "&&Platform='NMC'");

                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $(".loader-div").hide();
                        console.log(errorThrown);
                    }
                });

            }
            else {

            }

        })
        $(window).resize(function () {
            $(".add_brinks_info_container").height(window.innerHeight - 112);
        })
    })
</script>

<div class="LoaderWorkingDivBrinks" style="margin-top:0px">
    @*<div class='uil-ring-css' style='transform:scale(1);'>
            <div></div>
        </div>*@

    @*<div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div>*@
    <div style='position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;'>
        <div class="lds-css ng-scope">
            <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
        </div>
    </div>


</div>

<div class="add_brinks_acc_container">
    <div class="add_brinks_acc_header">
        @Localize.T("Create Account")
    </div>
    <div class="add_brinks_info_container">
        @if (Model.GetAccountInfo != null && Model.GetAccountInfo.GetAccountInfo_Response != null)
        {
            <div class="add_brinks_info_block">
                <div class="add_brinks_info_block_header">@Localize.T("Primary Customer Info")</div>
                <div class="add_brinks_info_block_information ">

                    <div class="form-group">
                        <div class="aba_header">@Localize.T("CS Number")<span>*</span></div>
                        @if (!string.IsNullOrEmpty(Model.GetAccountInfo.GetAccountInfo_Response.Cs_no))
                        {
                            <input type="text" id="cs_no" class="form-control" value="@Model.GetAccountInfo.GetAccountInfo_Response.Cs_no" placeholder="@Localize.T("CS Number")" readonly />
                        }
                        else
                        {
                            <input type="text" id="cs_no" class="form-control" value="" placeholder="@Localize.T("CS Number")" />
                        }

                    </div>
                    <div class="form-group">
                        <div class="aba_header">@Localize.T("Site Name")<span>*</span></div>
                        <input type="text" id="site_name" value="@Model.GetAccountInfo.GetAccountInfo_Response.Site_name" class="form-control" placeholder="@Localize.T("Site Name")" />
                    </div>


                    <div class="form-group">
                        <div class="aba_header">@Localize.T("Site Address")<span>*</span></div>
                        <input type="text" id="site_addr1" value="@Model.GetAccountInfo.GetAccountInfo_Response.Site_addr1" class="form-control" placeholder="@Localize.T("Site Address")" />
                    </div>

                    <div class="form-group">
                        <div class="aba_header">@Localize.T("Receiver Phone")<span>*</span></div>
                        <input type="text" id="Receiver_Phone" value="@Model.GetAccountInfo.GetAccountInfo_Response.receiver_phone" class="form-control" placeholder="@Localize.T("Receiver Phone")" />
                    </div>
                    <div class="form-group">
                        <div class="aba_header">@Localize.T("Panel Phone")<span>*</span></div>
                        <input type="text" id="panel_phone" value="@Model.GetAccountInfo.GetAccountInfo_Response.panel_phone" class="form-control" placeholder="@Localize.T("Panel Phone")" />
                    </div>
                    <div class="form-group">
                        <div class="aba_header">@Localize.T("Phone")<span>*</span></div>
                        <input type="text" id="Phone" value="@Model.GetAccountInfo.GetAccountInfo_Response.phone1" class="form-control" placeholder="@Localize.T("Phone1")" />
                    </div>
                    <div class="form-group">
                        <div class="aba_header">@Localize.T("Panel Location")<span>*</span></div>
                        <input type="text" id="panel_location" value="Front Door" class="form-control" placeholder="@Localize.T("Panel Location")" />
                    </div>
                    <div class="form-group">
                        <div class="aba_header">@Localize.T("Site Type Id")<span>*</span></div>

                        @Html.DropDownList("sitetype_id", (List<SelectListItem>)ViewBag.CustomerType, new { @class = "form-control", id = "sitetype_id" })
                    </div>
                    @*<div class="form-group">
                            <div class="aba_header">@Localize.T("Systype Id")</div>
                            @Html.DropDownList("systype_id", (List<SelectListItem>)ViewBag.CustomerType, new { @class = "form-control", id = "systype_id" })
                        </div>*@
                    @*<div class="form-group">
                            <div class="aba_header">@Localize.T("Sitestat Id")<span>*</span></div>
                            @Html.DropDownList("sitestat_id", (List<SelectListItem>)ViewBag.CustomerType, new { @class = "form-control", id = "sitestat_id" })
                        </div>*@
                    <div class="form-group clearfix">
                        <div class="aba_header">@Localize.T("City")<span>*</span></div>
                        <input type="text" class="form-control" id="City" value="@Model.GetAccountInfo.GetAccountInfo_Response.City_name" placeholder="@Localize.T("City")" />
                    </div>
                    <div class="form-group clearfix">
                        <div class="aba_header">@Localize.T("State")<span>*</span></div>
                        <input type="text" class="form-control" id="State" value="@Model.GetAccountInfo.GetAccountInfo_Response.State_id" placeholder="@Localize.T("State")" />
                    </div>
                    <div class="form-group CityState_insert_div clearfix">
                        <div class="aba_header">@Localize.T("Zip Code")<span>*</span></div>

                        <input type="text" class="" onkeydown="CityStateSearchKeyDown(this,event)" onkeyup="CityStateSearchKeyUp(this,event)" value="@Model.GetAccountInfo.GetAccountInfo_Response.zip_code" id="ZipCode" placeholder="Zip Code" />
                        <div class='tt-menu'>
                            <div class='tt-dataset tt-dataset-autocomplete'> </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="aba_header">@Localize.T("Country Name")<span>*</span></div>
                            <input type="text" class="form-control" id="Country" value="@Model.GetAccountInfo.GetAccountInfo_Response.Country_name" placeholder="@Localize.T("Cs part No")" />
                        </div>*@
                </div>
            </div>
        }
        else
        {
            <div class="add_brinks_info_block">
                <div class="add_brinks_info_block_header">@Localize.T("Primary Customer Info")</div>
                <div class="add_brinks_info_block_information ">

                    <div class="form-group">
                        <div class="aba_header">@Localize.T("CS Number")<span>*</span></div>

                        <input type="text" id="cs_no" class="form-control" value="" placeholder="@Localize.T("CS Number")" />


                    </div>
                    <div class="form-group">
                        <div class="aba_header">@Localize.T("Site Name")<span>*</span></div>
                        <input type="text" id="site_name" value="" class="form-control" placeholder="@Localize.T("Site Name")" />
                    </div>


                    <div class="form-group">
                        <div class="aba_header">@Localize.T("Site Address")<span>*</span></div>
                        <input type="text" id="site_addr1" value="" class="form-control" placeholder="@Localize.T("Site Address")" />
                    </div>

                    <div class="form-group">
                        <div class="aba_header">@Localize.T("Receiver Phone")<span>*</span></div>
                        <input type="text" id="Receiver_Phone" value="" class="form-control" placeholder="@Localize.T("Receiver Phone")" />
                    </div>
                    <div class="form-group">
                        <div class="aba_header">@Localize.T("Panel Phone")<span>*</span></div>
                        <input type="text" id="panel_phone" value="" class="form-control" placeholder="@Localize.T("Panel Phone")" />
                    </div>
                    <div class="form-group">
                        <div class="aba_header">@Localize.T("Phone1")<span>*</span></div>
                        <input type="text" id="Phone1" value="" class="form-control" placeholder="@Localize.T("Phone1")" />
                    </div>
                    <div class="form-group">
                        <div class="aba_header">@Localize.T("Panel Location")<span>*</span></div>
                        <input type="text" id="panel_location" value="Front Door" class="form-control" placeholder="@Localize.T("Panel Location")" />
                    </div>
                    <div class="form-group">
                        <div class="aba_header">@Localize.T("Site Type Id")<span>*</span></div>
                        @Html.DropDownList("sitetype_id", (List<SelectListItem>)ViewBag.CustomerType, new { @class = "form-control", id = "sitetype_id" })
                    </div>
                    @*<div class="form-group">
                            <div class="aba_header">@Localize.T("Systype Id")</div>
                            <input type="text" class="form-control" value="" id="systype_id" placeholder="@Localize.T("Systype Id")" />
                        </div>*@
                    @*<div class="form-group">
                            <div class="aba_header">@Localize.T("Sitestat Id")<span>*</span></div>

                            @Html.DropDownList("sitestat_id", (List<SelectListItem>)ViewBag.CustomerType, new { @class = "form-control", id = "sitestat_id" })
                        </div>*@


                    <div class="form-group clearfix">
                        <div class="aba_header">@Localize.T("City")<span>*</span></div>
                        <input type="text" class="form-control" id="City" value="" placeholder="@Localize.T("City")" />
                    </div>
                    <div class="form-group clearfix">
                        <div class="aba_header">@Localize.T("State")<span>*</span></div>
                        <input type="text" class="form-control" id="State" value="" placeholder="@Localize.T("State")" />
                    </div>
                    <div class="form-group CityState_insert_div clearfix">
                        <div class="aba_header">@Localize.T("Zip Code")<span>*</span></div>

                        <input type="text" class="" onkeydown="CityStateSearchKeyDown(this,event)" onkeyup="CityStateSearchKeyUp(this,event)" value="" id="ZipCode" placeholder="Zip Code" />
                        <div class='tt-menu'>
                            <div class='tt-dataset tt-dataset-autocomplete'> </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="aba_header">@Localize.T("Country Name")<span>*</span></div>
                            <input type="text" class="form-control" id="Country" value="" placeholder="@Localize.T("Cs part No")" />
                        </div>*@

                </div>
            </div>
        }


        <div class="add_brinks_info_block border_brinks">
            <div class="add_brinks_info_block_header">@Localize.T("Contacts")</div>
            <button id="Contact_Addition" class="btn green_button" title="@Localize.T(" Agency")">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("Add Emergency Contact")
            </button>
            <div class="add_brinks_info_block_information ">
                <input type="hidden" class="form-control" value="" placeholder="@Localize.T("First Name")" id="ContactId" />
                <div class="form-group clearfix item_margin">
                    <span class="text-custom">@Localize.T("First Name")</span>
                    <input type="text" class="form-control" value="" placeholder="@Localize.T("First Name")" id="FirstName1" />
                </div>
                <div class="form-group clearfix item_margin">
                    <span class="text-custom">@Localize.T("Last Name")</span>
                    <input type="text" class="form-control" value="" placeholder="@Localize.T("Last Name")" id="LastName1" />
                </div>
                <div class="form-group clearfix item_margin">
                    <span class="text-custom">@Localize.T("Phone")</span>
                    <input type="text" class="form-control emgContactPhone" value="" placeholder="@Localize.T("EC1 Phone No")" id="Phone1" />
                </div>
                <div class="form-group clearfix item_margin">
                    <span class="text-custom">@Localize.T("Email")</span>
                    <input type="text" class="form-control emgContactEmail" value="" placeholder="@Localize.T("Email Address")" id="Email" />
                </div>
                <div class="form-group clearfix item_margin">
                    <span class="text-custom">@Localize.T("Relationship")  </span>
                    @Html.DropDownList("RelationShip", ViewBag.Relationship as List<SelectListItem>, new { @class = "form-control", placeholder = "Relationship", id = "RelationShip" })
                </div>
                <div class="form-group clearfix item_margin add_emergency_contact_check">
                    <div><span class="text-custom">@Localize.T("Has Key")</span></div>
                    <label><input type="radio" id="Haskey" name="Key" value="Y"> Yes</label>
                    <label><input type="radio" id="FHasKey" name="Key" value="N"> No<br></label>
                </div>
                <div id="Contactlist">

                </div>
            </div>

        </div>
        <div class="add_brinks_info_block">
            <div class="add_brinks_info_block_header">@Localize.T("Agencies")</div>
            <div class="add_brinks_info_block_information ">
                <div class="brinks_agencies_btn_div">
                    <button id="Get_Agencies" class="btn green_button" title="@Localize.T("Get agencies by zipcode")">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("Get Agencies")
                    </button>

                </div>

                <div id="Agencylist">

                </div>

            </div>
        </div>
        <div class="add_brinks_info_block">
            <div class="add_brinks_info_block_header">@Localize.T("Zone List")</div>
            <div class="add_brinks_info_block_information ">
                <div class="brinks_agencies_btn_div">
                    <button id="Zode_Addition" class="btn green_button" title="@Localize.T("Add zone")">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" Zone")
                    </button>
                </div>

                <div class="form-group clearfix item_margin">
                    <input type="hidden" class="form-control" value="" placeholder="@Localize.T("ZoneId")" id="ZoneId" />
                    <span class="text-custom">@Localize.T("Zone Number")</span>
                    <input type="number" placeholder="Zone Number" class="form-control" id="NMCZoneNumber" />
                    <label class="label hidden red" id="errorZoneNumber" rel="NMCZoneNumber">*@Localize.T("Select zone number"). </label>
                </div>
                <div class="form-group clearfix item_margin">
                    <span class="text-custom">@Localize.T("Event Code")</span>
                    @Html.DropDownList("NMCEventCode", (List<SelectListItem>)ViewBag.EventCodeList, new { @class = "form-control", id = "NMCEventCode" })
                    <label class="label hidden red" rel="NMCEventCode" id="errorEventCode">*@Localize.T("Select event code"). </label>
                </div>
                <div class="form-group clearfix item_margin">
                    <span class="text-custom">@Localize.T("Event Type")</span>
                    @Html.DropDownList("NMCEquipType", (List<SelectListItem>)ViewBag.EquipTypeList, new { @class = "form-control", id = "NMCEquipType" })
                    <label class="label hidden red" rel="NMCEquipType" id="errorEquipType">*@Localize.T("Select Equip Type"). </label>
                </div>
                <div class="form-group clearfix item_margin">
                    <span class="text-custom">@Localize.T("Location")</span>
                    @Html.DropDownList("NMCEquipLocation", (List<SelectListItem>)ViewBag.NMCEqpLocationList, new { @class = "form-control", id = "NMCEquipLocation" })
                    <label class="label hidden red" rel="NMCEquipLocation" id="errorEquipLocation">*@Localize.T("Select Equip Location"). </label>
                </div>
                <div class="form-group clearfix item_margin">
                    <span class="text-custom">@Localize.T("Comment")</span>
                    <input type="text" placeholder="Location" class="form-control" , id="ZoneComment" />
                </div>

                <div id="Zonelist">

                </div>

            </div>
        </div>
    </div>

</div>



<div class="add_brinks_footer">
    @if (Model.GetAccountInfo != null && Model.GetAccountInfo.GetAccountInfo_Response != null && !string.IsNullOrEmpty(Model.GetAccountInfo.GetAccountInfo_Response.Cs_no))
    {
        <button class="btn" id="SubscribeToNmc"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Update")</button>
    }
    else
    {
        <button class="btn" id="SubscribeToNmc"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save")</button>
    }

</div>