@{
    Layout = null;
}
@model HS.Entities.SmartPackage
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script src="~/Content/Js/Site/Validation.js"></script>
<script>
    @*$("#SmartInstallTypeId").val('@Model.SmartInstallTypeId')*@

    var TwowayTestConfirm = function () {
    OpenConfirmationMessageNew("", "Do you want to place two-way test?", function () {
        TwowayTest();
    });
}
        var TwowayTest = function (syncid) {
        var url = domainurl + '/API/AddTwoWayTest';
        var param = JSON.stringify({
            CSNumber: $("#CANumber").val(),
            CustomerId: CustomerLoadGuid,
            DeviceId: $("#DeviceList").val()
           
        })
                $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: url,
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data.result == true) {
                        OpenSuccessMessageNew("", "", function () { });
                        $(".BrinksTab").click();
                    }
                    else {
                        OpenErrorMessageNew("", data.message, function () {

                        })

                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
    $(document).ready(function () {
        $("#savetwoway").click(function () {
            if (CommonUiValidation()) {
                   TwowayTestConfirm();
            }
         
        })
    })
</script>
<style>
    .PackageArea {
        width:100%;
        float:left;
        overflow-x:hidden;
        overflow-y:auto;
    
    }

        .PackageArea .form-group label {
            margin-bottom: 0px;
        }

        .PackageArea .form-group {
            position: relative;
        }
</style>
<link href="~/Content/Css/PackageSettings/AddPackage.css" rel="stylesheet" />
<div class="add_package_settings_header">
    @Localize.T("Two-Way Test")
</div>
<div class="container-fluid PackageArea">
    <div class="form-group clearfix">
        <label>@Localize.T("CS Number")<span class="red">*</span></label>
  
        <input type="text" id="CANumber" name="CANumber" class="form-control" placeholder="CS Number"  datarequired = "true"/>
        <label rel="CANumber" class="label hidden red position-absolute">*@Localize.T("CS Number Required")</label>
    </div>
    <div class="form-group clearfix">
        <label>@Localize.T("Device Name")<span class="red">*</span></label>
        @Html.DropDownList("DeviceList", (List<SelectListItem>)ViewBag.TestDeviceList, new { @class = "form-control", id = "DeviceList", datarequired = "true",name ="DeviceList" })
        <label rel="DeviceList" class="label hidden red position-absolute">*@Localize.T("Device Name Required")</label>
    </div>

</div>

<section class="footer-section">
    <footer class="footer">
        <div class="save-package-div">
            <button class="btn save-twoway" id="savetwoway">@Localize.T("Save")</button>
        </div>
    </footer>
</section>
