
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.CustomerNoPrefix
<script src="~/Content/Js/CustomerNoPrefix/AddCustomerNoPrefix.js"></script>
<link href="~/Content/Css/CustomerNo/AddCustomerSystemNoPrefix.css" rel="stylesheet" />
<script>
    var TerminateAccount = function () {
        var url = domainurl + '/API/TerminateAgAccount';
                var param = JSON.stringify({
                    TransmitterCode: AGRefId,
                    Category:$("#OOSCategory").val(),
                    OOSDate:$("#OOSStartDate").val(),
                    Comment:$("#Comment").val(),  

                });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.result == true) {
                    OpenSuccessMessageNew("", data.message, function () {
                             $(".close").click()
                            OpenAvantgradDetails();
                    })
                }
                else {
                    OpenErrorMessageNew("", data.message, function () {

                    })

                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
}
    $(document).ready(function () {
        $("#TerminateAccount").click(function () {
            if ($("#OOSCategory").val() == "-1") {
                OpenErrorMessageNew("Please Select an OOS Category.")
            }
            else {
                 OpenConfirmationMessageNew("", "Do you want to Terminate this Account?", function () {
                TerminateAccount();
            })
            }
        })

         OOSStartDatepicker = new Pikaday({
            format: 'MM/DD/YYYY',
            field: $('#OOSStartDate')[0],
            trigger: $('#OOSStartDateCustom')[0],
            firstDay: 1,
            StartDate: new Date()
        });
    });
</script>
<div class="acsnp_header">
    @Localize.T("termination Account")
</div>
<div class="container-fluid acsnp_inner">
    @Html.HiddenFor(x => x.Id)
    <div class="form-group clearfix">
        <span class="content-type">@Localize.T("OOS Category")<span class="red">*</span></span>
        <div class="txt-form">
            @Html.DropDownList("OOSCategory", ViewBag.AgOOSCategoryList as List<SelectListItem>, new { @class = "form-control", datarequired = "true" })
            <label rel="Name" class="label hidden red position-absolute">*@Localize.T("OOS Category Required")</label>
        </div>
    </div>
    <div class="form-group clearfix item_margin">
        <span class="content-type">@Localize.T("OOS Start Date")</span>
        <div class="input_group_for_date add-on" id="OOSStartDateCustom">
            @Html.TextBox("OOSStartDate", "", new { @class = "form-control close-datepicker", Placeholder = "OOS Start Date", id = "OOSStartDate" })
            <div class="input-group-btn">
                <btn class="btn">
                    <i class="fa fa-calendar" aria-hidden="true" style="cursor:pointer;"></i>
                </btn>
            </div>
        </div>
    </div>
    <div class="form-group clearfix">
        <span class="content-type">@Localize.T("Comment")</span>
        <div class="txt-form">
          <input type="text"class="form-control"id="Comment" />
        </div>
    </div>
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn" id="TerminateAccount"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T("Terminate")</button>
        </div>
    </footer>
</section>
