@model IEnumerable<HS.Alarm.AlarmCustomer.PanelDevice>
@{ 
    Layout = null;
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceId)
            </th>
            <th>
                <span>Device Name</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstallDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintainDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partition)
            </th>
            <th>
                <span>Sensor Activity Monitoring</span>
            </th>
            <th>
                <span>Sensor Non Reporting Flag</span>
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ManufacturerSpecificInfo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsSecondaryLoop)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsExistingEquipment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZwaveManufacturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MAC)
                </th>*@
            <th></th>
        </tr>
    </thead>

    <tbody>
     @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebSiteDeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.InstallDate)

            </td>
            <td>

                @Html.DisplayFor(modelItem => item.MaintainDate)

            </td>
            <td>

                @Html.DisplayFor(modelItem => item.StatusDate)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partition)
            </td>
            <td>
                @if (item.MonitoredForNormalActivity == true)
                {
                    <span>On</span>
                }
                else
                {
                    <span>Off</span>
                }
            </td>
            <td>
                @if (item.NonReportingFlag == true)
                {
                    <span>On</span>
                }
                else
                {
                    <span>Off</span>
                }

            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ManufacturerSpecificInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSecondaryLoop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsExistingEquipment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZwaveManufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAC)
                </td>*@

        </tr>
    }
</tbody>

</table>
