
@{
    Layout = null;
}
@model HS.Alarm.AlarmCustomer.CustomerInfo
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>
    var CustomerIdInt = '@ViewBag.CustomerId'
    var IsTerminated = '@Model.IsTerminated';
    var MonitoringPlatform = 'Alarm';
</script>
@Scripts.Render("~/scripts/AlarmDetails")
@Styles.Render("~/styles/AlarmDetails")

@if (Model.IsTerminated == true)
{
    if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.AlarmSyncCustomer))
    {
        <div class="customersyncarea">
            <label>Customer Id</label>
            <div class="input-group add-on">
                <input type="text" id="AlarmSyncId" placeholder="Customer Id" />
                <div class="input-group-btn"> <button class="btn btn-default syncbtn">@Localize.T("Sync")</button></div>
            </div>
        </div>
    }
  
<div class="CreateCustomerDiv width-100p">
    <button class="btn CreateCustomer" @*id="CreateCustomer"*@><i class="fa fa-user-plus"></i> @Localize.T("Create Customer")</button>
    @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.AlarmCustomerCommitment))
    {
        <button class="btn CreateCommitment" @*id="CreateCommitment"*@><i class="fa fa-handshake-o"></i> @Localize.T("Create Commitment")</button>
    }
    @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.AlarmUnassociateCustomer))
    {
    <button class="btn btn-default Unassociate" @*id="TerminateCustomer"*@>@Localize.T("Unassociate Data")</button>
    }

</div>
    <div style="padding-top: 35px;text-align: center;">This account was <span class="terminated">terminated</span> on @Model.TermDate</div>
    <div class="termin_cust_info">
        <div class="termin_cust_info_header">
            @Localize.T("Customer Account Details")
        </div>
        <div class="termin_cust_info_div">
            <div class="termin_cust_info_div_left">
                <table>
                    <tr>
                        <td>@Localize.T("Customer ID"):</td>
                        <td>
                            @Model.CustomerId
                        </td>
                    </tr>
                    <tr>
                        <td>@Localize.T("CS Account Number"):</td>
                        <td>
                            @if (Model.CentralStationInfo != null)
                            {
                                @Model.CentralStationInfo.AccountNumber
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>@Localize.T("First Name"):</td>
                        <td>
                            @Model.FirstName
                        </td>
                    </tr>
                    <tr>
                        <td>@Localize.T("Last Name"):</td>
                        <td>
                            @Model.LastName
                        </td>
                    </tr>
                    <tr>
                        <td>@Localize.T("Website Login"):</td>
                        <td>
                            @Model.LoginName
                        </td>
                    </tr>
                </table>
            </div>
            <div class="termin_cust_info_div_right">
                <table>
                    @if (Model.InstallAddress != null)
                    {
                        <tr>
                            <td>@Localize.T("Install Street"):</td>
                            <td>
                                @Model.InstallAddress.Street1
                            </td>
                        </tr>
                        <tr>
                            <td>@Localize.T("Install City"):</td>
                            <td>
                                @Model.InstallAddress.City
                            </td>
                        </tr>
                        <tr>
                            <td>@Localize.T("Install State"):</td>
                            <td>
                                @Model.InstallAddress.State
                            </td>
                        </tr>
                        <tr>
                            <td>@Localize.T("Install Zip"):</td>
                            <td>
                                @Model.InstallAddress.Zip
                            </td>
                        </tr>
                    }

                    <tr>
                        <td>@Localize.T("Primary Phone"):</td>
                        <td>
                            @Model.PrimaryPhoneNumber
                        </td>
                    </tr>
                    <tr>
                        <td>@Localize.T("Primary Email"):</td>
                        <td>
                            @Model.PrimaryEmail
                        </td>
                    </tr>
                    <tr>
                        <td>@Localize.T("Time Zone"):</td>
                        <td></td>
                    </tr>
                    @if (Model.ServicePlanInfo != null)
                    {
                        <tr>
                            <td><span class="red_text">Most Recent</span> @Localize.T("Service Package"):</td>
                            <td>
                                @Model.ServicePlanInfo.PackageDescription
                            </td>
                        </tr>
                    }

                    <tr>
                        <td>@Localize.T("Join Date"):</td>
                        <td>
                            @Model.JoinDate
                        </td>
                    </tr>
                    <tr>
                        <td><span class="red_text">@Localize.T("Term Date")</span>:</td>
                        <td>
                            @Model.TermDate
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}
else
{
    if (Model.CustomerId > 0)
    {
        <div class="TerminateCustomerDiv">
            <button class="btn btn-danger TerminateCustomer" @*id="TerminateCustomer"*@>@Localize.T("Terminate Customer")</button>

            <button class="btn btn-default ShowEquipments" @*id="TerminateCustomer"*@>@Localize.T("Show Equipment")</button>
            <button class="btn btn-default RunSystemCheck" @*id="TerminateCustomer"*@>@Localize.T("Run System Check")</button>
            <button class="btn btn-default DoSystemCheck" @*id="TerminateCustomer"*@>@Localize.T("Show Result")</button>
            @*@if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.AlarmUnassociateCustomer))
            {*@
                <button class="btn btn-default Unassociate" @*id="TerminateCustomer"*@>@Localize.T("Unassociate Data")</button>
            @*}*@
            <button class="btn Refresh"><i class="fa fa-refresh" aria-hidden="true"></i></button>
        </div>
        <div class="">
            <div class="acd_info_block_container">
                <div class="acd_info_block">
                    <div class="acd_info_header">Customer Information</div>
                    <table>
                        <tr>
                            <td>Customer ID<span>:</span></td>
                            <td>@Model.CustomerId</td>
                        </tr>
                        @if (Model.CentralStationInfo != null)
                        {
                            <tr>
                                <td>Receiver Prefix<span>:</span></td>
                                <td>@Model.CentralStationInfo.AccountPrefix</td>
                            </tr>
                            <tr>
                                <td>CS Account Number<span>:</span></td>
                                <td>@Model.CentralStationInfo.AccountNumber</td>
                            </tr>
                        }

                        <tr>
                            <td>Property Type<span>:</span></td>
                            <td>@Model.PropertyType</td>
                        </tr>
                        @*<tr>
                                <td>Install Type<span>:</span></td>
                                <td>@Model.ty</td>
                            </tr>*@
                        <tr>
                            <td>First Name<span>:</span></td>
                            <td>@Model.FirstName</td>
                        </tr>
                        <tr>
                            <td>Last Name<span>:</span></td>
                            <td>@Model.LastName</td>
                        </tr>
                        <tr>
                            <td>Primary Login Name<span>:</span></td>
                            <td>@Model.LoginName</td>
                        </tr>
                        <tr>
                            <td>Phone Number<span>:</span></td>
                            <td>@Model.PrimaryPhoneNumber</td>
                        </tr>

                        <tr>
                            <td>E-Mail<span>:</span></td>
                            <td>@Model.PrimaryEmail</td>
                        </tr>
                        @*<tr>
                                <td>Time Zone<span>:</span></td>
                                <td>@Model.TermDate</td>
                            </tr>*@

                        <tr>
                            <td>System Description<span>:</span></td>
                            <td>@Model.UnitDescription</td>
                        </tr>
                        <tr>
                            <td><a class="bestPracticeApi cus-anchor">Best Practice<span>:</span></a></td>
                            <td><a>@ViewBag.PracticeCount/6</a></td>
                        </tr>

                        <tr class="practiceData">
                            <td>Email Verified?<span>:</span></td>
                            <td class="email"></td>
                        </tr>
                        <tr class="practiceData">
                            <td>Mobile Contact?<span>:</span></td>
                            <td class="contact"></td>
                        </tr>
                        <tr class="practiceData">
                            <td>Arming Reminder?<span>:</span></td>
                            <td><a class="reminder"></a></td>
                        </tr>
                        <tr class="practiceData">
                            <td>Geo Device?<span>:</span></td>
                            <td><a class="geodevice"></a></td>
                        </tr>
                        <tr class="practiceData">
                            <td>Advanced Device?<span>:</span></td>
                            <td><a class="advancedevice"></a></td>
                        </tr>
                        <tr class="practiceData">
                            <td>Rule/Schedule?<span>:</span></td>
                            <td><a class="rule"></a></td>
                        </tr>

                    </table>
                </div>
                <div class="acd_info_block">
                    <div class="acd_info_header">Panel Information</div>
                    <table>
                        <tr>
                            <td>Panel Type<span>:</span></td>
                            <td>@Model.PanelVersion</td>
                        </tr>
                        @if (Model.ModemInfo != null)
                        {
                            <tr>
                                <td>Network<span>:</span></td>

                                <td>
                                    <span>@Model.ModemInfo.Network (@Model.ModemInfo.RadioNetworkType)</span>
                                </td>
                            </tr>


                            <tr>
                                <td>Alarm.com Serial<span>:</span></td>
                                <td>@Model.ModemInfo.ModemSerial</td>
                            </tr>
                            <tr>
                                <td>Firmware Version<span>:</span></td>
                                <td>@Model.ModemInfo.FirmwareVersion</td>
                            </tr>
                            <tr>
                                <td>Built-In Radios<span>:</span></td>
                                <td>@Model.ModemInfo.RadioNetworkType</td>
                            </tr>

                        }

                    </table>
                </div>
            </div>
            <div class="acd_info_block_container">

                <div class="acd_info_block">
                    <div class="acd_info_header">Dealer Info & Service Package</div>
                    <table>
                        <tr>
                            <td>Alternate ID<span>:</span></td>
                            <td>@Model.DealerCustomerId</td>
                        </tr>
                        <tr>
                            <td>Join Date<span>:</span></td>
                            <td>@Model.JoinDate</td>
                        </tr>
                        <tr>
                            <td>Ready Date<span>:</span></td>
                            <td>@Model.JoinDate</td>
                        </tr>
                        @if (Model.ServicePlanInfo != null)
                        {
                            <tr>
                                <td>Service Package<span>:</span></td>
                                <td>@Model.ServicePlanInfo.PackageDescription</td>
                            </tr>
                        }

                        @*<tr>
                                <td>Creating Rep:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Scheduled Appointment:</td>
                                <td>@Model.FirstName</td>
                            </tr>*@

                    </table>
                </div>
                <div class="acd_info_block">
                    <div class="acd_info_header">System Location</div>
                    <table>
                        @if (Model.InstallAddress != null)
                        {
                            <tr>
                                <td>Install Street<span>:</span></td>
                                <td>@Model.InstallAddress.Street1</td>
                            </tr>
                            <tr>
                                <td>Install City<span>:</span></td>
                                <td>@Model.InstallAddress.City</td>
                            </tr>

                            <tr>
                                <td>Install State<span>:</span></td>
                                <td>@Model.InstallAddress.State</td>
                            </tr>
                            <tr>
                                <td>Install Zip<span>:</span></td>
                                <td>@Model.InstallAddress.Zip</td>
                            </tr>
                            <tr>
                                <td>Install Country<span>:</span></td>
                                <td>@Model.InstallAddress.CountryId</td>
                            </tr>

                        }

                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.AlarmUnassociateCustomer))
        {
            <button class="btn btn-default Unassociate" style="float:left;" @*id="TerminateCustomer"*@>@Localize.T("Unassociate Data")</button>
        }
        <span>No Customer Found. Please Change the Ownership of this customer.</span>
    }

}
