@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@model HS.Entities.Customer
@Styles.Render("~/styles/Alarm")
@{
    Layout = null;
}
<script>
    var BrinksRefId = '@Model.BrinksRefId';


</script>
<script src="~/Content/Js/Brinks/brinks.js"></script>

<div class="width-100p create_alarm">
    @if (string.IsNullOrEmpty(Model.BrinksRefId))
    {
        <div class="customersyncarea">
            <label>CS Number</label>
            <div class="input-group add-on">
                <input type="text" id="BrinksSyncId" />
                @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.BrinksSyncCustomer))
                {
                    <div class="input-group-btn"> <button class="btn btn-default syncbtnBrinks">@Localize.T("Sync")</button></div>
                }
                </div>
        </div>
        <div class="CreateCustomerDiv width-100p">
            <button class="btn CreateTwoWayTest"><i class="fa fa-user-plus"></i> @Localize.T("Two-Way Test")</button>
            @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.BrinksSettings))
            {
                <button class="btn btn-default editbrinkssettingsbtn"><i class="fa fa-cog"></i></button>

            }


        </div>
        <div class="CreateCustomerDiv width-100p">
            <button class="btn CreateCustomerBrinks"><i class="fa fa-user-plus"></i> @Localize.T("Create Account Online")</button>
        </div>
    }
    else
    {

<div class="brinks_top_bar">
    <div class="brinks_top_bar_inner">
        @Html.DropDownList("TestCategory", ViewBag.TestCategoryList as List<SelectListItem>, new { @class = "form-control", placeholder = "Test Category", id = "TestCategory" })


        <select class="form-control" id="testHours">
            <option value="-1">Select Hour</option>
            @for (int i = 0; i < 25; i++)
            {
                <option value="@i">@i</option>
            }
        </select>

        <div class="input-group add-on">
            <select class="form-control" id="testSec">
                <option value="-1">Select Second</option>
                @for (int i = 0; i < 61; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>

            <div class="input-group-btn"> <button class="btn green_button" id="PlaceTest">Place On Test</button></div>
        </div>
    </div>

  @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.BrinksSettings))
            {
                <button class="btn btn-default editbrinkssettingsbtn"><i class="fa fa-cog"></i></button>

            }
</div>

        <div id="BrinksCustomerDetailsLoad">

        </div>
    }
</div>


