@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<style>
    #ThirdPartyAPIsTab > li > a {
        background-color: transparent !important;
    }

    #ThirdPartyAPIsTab > li > a {
        background-color: transparent !important;
        color: #454545;
        border: none !important;
    }

    #ThirdPartyAPIsTab > li {
        border: 1px solid #ccc !important;
    }

        #ThirdPartyAPIsTab > li.active {
            background-color: #2ca01c !important;
        }

    #ThirdPartyAPIsTab > li {
        border: 1px solid #ccc !important;
    }

        #ThirdPartyAPIsTab > li.active > a {
            color: white !important;
        }

    .all_apis_partial_container {
        margin-top: 10px;
    }
</style>
<script>
    var SetLoaderText = function () {
        $(".AlarmComTab_Load").html(TabsLoaderText);
    }
    var OpenAlarmDetails = function()
    {
        var CustomerLoadDiv = ".third_party_api_tabs_" + CustomerLoadGuid;
        $(CustomerLoadDiv + " .BrinksArea_Load").html("");
        $(CustomerLoadDiv + " .UCCArea_Load").html("");
        $(CustomerLoadDiv + " .NMCConnectArea_Load").html("");
        $(CustomerLoadDiv + " .AvantgradArea_Load").html("");
        $(CustomerLoadDiv + " .ISPCArea_Load").html("");

        $(CustomerLoadDiv + " .BrinksArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .BrinksArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .NMCConnectArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .NMCConnectArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .UCCArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .UCCArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .AlarmComTab_Load").removeClass("fade");
        $(CustomerLoadDiv + " .AlarmComTab_Load").addClass("active");

        $(CustomerLoadDiv + " .AvantgradArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .AvantgradArea_Load").addClass("fade");

        
        $(CustomerLoadDiv + " .ISPCArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .ISPCArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .AlarmComTab_Load").load("/API/Alarm/?CustomerId=" + encodeURI(CustomerLoadGuid));
    }
    var OpenBrinksDetails = function () {
        var CustomerLoadDiv = ".third_party_api_tabs_" + CustomerLoadGuid;
        $(CustomerLoadDiv + " .AlarmComTab_Load").html("");
        $(CustomerLoadDiv + " .UCCArea_Load").html("");
        $(CustomerLoadDiv + " .NMCConnectArea_Load").html("");
        $(CustomerLoadDiv + " .AvantgradArea_Load").html("");
        $(CustomerLoadDiv + " .ISPCArea_Load").html("");

        $(CustomerLoadDiv + " .AlarmComTab_Load").removeClass("active");
        $(CustomerLoadDiv + " .AlarmComTab_Load").addClass("fade");

        $(CustomerLoadDiv + " .NMCConnectArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .NMCConnectArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .UCCArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .UCCArea_Load").addClass("fade");

        
        $(CustomerLoadDiv + " .AvantgradArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .AvantgradArea_Load").addClass("fade");

        
        $(CustomerLoadDiv + " .ISPCArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .ISPCArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .BrinksArea_Load").removeClass("fade");
        $(CustomerLoadDiv + " .BrinksArea_Load").addClass("active");
        $(CustomerLoadDiv + " .BrinksArea_Load").load("/API/Brinks/?CustomerId=" + encodeURI(CustomerLoadGuid));
    }
    var OpenUccDetails = function () {
        var CustomerLoadDiv = ".third_party_api_tabs_" + CustomerLoadGuid;
        $(CustomerLoadDiv + " .AlarmComTab_Load").html("");
        $(CustomerLoadDiv + " .BrinksArea_Load").html("");
        $(CustomerLoadDiv + " .NMCConnectArea_Load").html("");
        $(CustomerLoadDiv + " .AvantgradArea_Load").html("");
        $(CustomerLoadDiv + " .ISPCArea_Load").html("");

        $(CustomerLoadDiv + " .AlarmComTab_Load").removeClass("active");
        $(CustomerLoadDiv + " .AlarmComTab_Load").addClass("fade");

        $(CustomerLoadDiv + " .NMCConnectArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .NMCConnectArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .BrinksArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .BrinksArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .AvantgradArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .AvantgradArea_Load").addClass("fade");

        
        $(CustomerLoadDiv + " .ISPCArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .ISPCArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .UCCArea_Load").removeClass("fade");
        $(CustomerLoadDiv + " .UCCArea_Load").addClass("active");
        $(CustomerLoadDiv + " .UCCArea_Load").load("/API/UCC/?CustomerId=" + encodeURI(CustomerLoadGuid));
    }
    var OpenNMCConnectDetails = function () {
        console.log("sdfdsf");
        var CustomerLoadDiv = ".third_party_api_tabs_" + CustomerLoadGuid;
        $(CustomerLoadDiv + " .AlarmComTab_Load").html("");
        $(CustomerLoadDiv + " .BrinksArea_Load").html("");
        $(CustomerLoadDiv + " .UCCArea_Load").html("");
        $(CustomerLoadDiv + " .AvantgradArea_Load").html("");
        $(CustomerLoadDiv + " .ISPCArea_Load").html("");

        $(CustomerLoadDiv + " .AlarmComTab_Load").removeClass("active");
         $(CustomerLoadDiv + " .AlarmComTab_Load").addClass("fade");

        $(CustomerLoadDiv + " .UCCArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .UCCArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .BrinksArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .BrinksArea_Load").addClass("fade");

        
        $(CustomerLoadDiv + " .AvantgradArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .AvantgradArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .ISPCArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .ISPCArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .NMCConnectArea_Load").removeClass("fade");
        $(CustomerLoadDiv + " .NMCConnectArea_Load").addClass("active");
        $(CustomerLoadDiv + " .NMCConnectArea_Load").load("/API/NMCConnect/?CustomerId=" + encodeURI(CustomerLoadGuid));
    }
    var OpenAvantgradDetails  = function () {
        console.log("sdfdsf");
        var CustomerLoadDiv = ".third_party_api_tabs_" + CustomerLoadGuid;
        $(CustomerLoadDiv + " .AlarmComTab_Load").html("");
        $(CustomerLoadDiv + " .BrinksArea_Load").html("");
        $(CustomerLoadDiv + " .UCCArea_Load").html("");
        $(CustomerLoadDiv + " .NMCConnectArea_Load").html("");
        $(CustomerLoadDiv + " .ISPCArea_Load").html("");
        

        $(CustomerLoadDiv + " .AlarmComTab_Load").removeClass("active");
         $(CustomerLoadDiv + " .AlarmComTab_Load").addClass("fade");

        $(CustomerLoadDiv + " .UCCArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .UCCArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .BrinksArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .BrinksArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .NMCConnectArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .NMCConnectArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .ISPCArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .ISPCArea_Load").addClass("fade");
          

        $(CustomerLoadDiv + " .AvantgradArea_Load").removeClass("fade");
        $(CustomerLoadDiv + " .AvantgradArea_Load").addClass("active");
        $(CustomerLoadDiv + " .AvantgradArea_Load").load("/API/Avantgrad/?CustomerId=" + encodeURI(CustomerLoadGuid));
    }
    var OpenISPCDetails = function () {
        console.log("sdfdsf");
        var CustomerLoadDiv = ".third_party_api_tabs_" + CustomerLoadGuid;
        $(CustomerLoadDiv + " .AlarmComTab_Load").html("");
        $(CustomerLoadDiv + " .BrinksArea_Load").html("");
        $(CustomerLoadDiv + " .UCCArea_Load").html("");
        $(CustomerLoadDiv + " .NMCConnectArea_Load").html("");
        $(CustomerLoadDiv + " .AvantgradArea_Load").html("");

        $(CustomerLoadDiv + " .AlarmComTab_Load").removeClass("active");
         $(CustomerLoadDiv + " .AlarmComTab_Load").addClass("fade");

        $(CustomerLoadDiv + " .UCCArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .UCCArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .BrinksArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .BrinksArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .NMCConnectArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .NMCConnectArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .AvantgradArea_Load").removeClass("active");
        $(CustomerLoadDiv + " .AvantgradArea_Load").addClass("fade");

        $(CustomerLoadDiv + " .ISPCArea_Load").removeClass("fade");
        $(CustomerLoadDiv + " .ISPCArea_Load").addClass("active");
        $(CustomerLoadDiv + " .ISPCArea_Load").load("/API/ISPC/?CustomerId=" + encodeURI(CustomerLoadGuid));
    }
    $(document).ready(function () {
        var CustomerLoadDiv = ".third_party_api_tabs_" + CustomerLoadGuid;
        $(CustomerLoadDiv+ " .AlarmComTab_Load").load("/API/Alarm/?CustomerId=" + encodeURI(CustomerLoadGuid));

        $(".AlarmComTab").click(function () {
            OpenAlarmDetails();
        })
        $(".BrinksTab").click(function () {
            OpenBrinksDetails();
        })

        $(".UCCTab").click(function () {
            OpenUccDetails();
        })

        $(".NMCConnectTab").click(function () {
        OpenNMCConnectDetails();
        })
        $(".AvantgradTab").click(function () {
            OpenAvantgradDetails();
        })
          $(".ISPCTab").click(function () {
            OpenISPCDetails();
        })


    });

</script>

<div class="all_apis_partial_container">
    <div class="apis_tabs_header">
        <ul class="nav nav-tabs  clearfix" id="ThirdPartyAPIsTab">
            <li class="active AlarmComTab">
                <a href="#Alarm" data-toggle="tab">@Localize.T("Alarm.com")</a>
            </li>
            @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.ShowBrinksTab))
            {
                <li class="BrinksTab">
                    <a href="#Brinks" data-toggle="tab">@Localize.T("Brinks")</a>
                </li>
            }
            <li class="UCCTab">
                <a href="#Ucc" data-toggle="tab">@Localize.T("UCC")</a>
            </li>
            @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.ShowNMCConnectTab))
            {
                <li class="NMCConnectTab">
                    <a href="#NMCConnect" data-toggle="tab">@Localize.T("NMCConnect")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.ShowAvantgradTab))
            {
                <li class="AvantgradTab">
                    <a href="#Avantgrad" data-toggle="tab">@Localize.T("Avantgrad")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.ShowISPCTab))
            {
                <li class="ISPCTab">
                    <a href="#ISPC" data-toggle="tab">@Localize.T("ISPC Finance")</a>
                </li>
            }
        </ul>
    </div>
    <div class="third_party_api_tabs">
        <div class="nav-detail-contents">
            <div class="tab-content third_party_api_tabs_@ViewBag.CustomerId">
                <div id="Alarm" class="tab-pane fade in active AlarmComTab_Load">

                </div>
                <div id="Brinks" class="tab-pane fade BrinksArea_Load">

                </div>
                <div id="Ucc" class="tab-pane fade UCCArea_Load">

                </div>
                <div id="NMCConnect" class="tab-pane fade NMCConnectArea_Load">

                </div>
                <div id="Avantgrad" class="tab-pane fade AvantgradArea_Load">

                </div>
                <div id="ISPC" class="tab-pane fade ISPCArea_Load">

                </div>
            </div>
        </div>

    </div>
</div>