@{ 
    Layout = null;
}
@model HS.Alarm.AlarmCustomer.CustomerInfo
<link href="~/Content/Css/API/CustomerTermination.css" rel="stylesheet" />
<script>
    @*var CustomerLoadGuid = '@ViewBag.CustomerGuid';*@
    var TarminateCustomer = function () {
        var url = domainurl + '/API/TerminateCustomer';
        var param = JSON.stringify({
            CustomerId: CustomerIdInt,
            Reason: $("#ReasonList").val(),
            CustomerLoadGuid: CustomerLoadGuid
        })
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.result == true) {
                    OpenSuccessMessageNew("", data.message, function () {
                        CloseTopToBottomModal();
                        OpenThirdPartyApiTab();
                    })
                }
                else {
                    OpenErrorMessageNew("", data.message, function () {

                    })

                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    $(document).ready(function () {
        $(".cust_term_inner").height(window.innerHeight - 95);
        $("#terminationMsg").prop("checked", true);
        $("#terminationAcpt").change(function () {
            console.log("dsf")
            if ($("#terminationAcpt").prop("checked") == true) {
                $(".TerminateThisAcc").removeAttr("disabled");
            }
            else {
                $(".TerminateThisAcc").attr("disabled", "disabled");
            }

        })

        $(".TerminateThisAcc").click(function () {
            OpenConfirmationMessageNew("", "Do you want to terminate this customer?", function () {
                TarminateCustomer(CustomerIdInt);
            })
        });

    });
    $(window).resize(function () {
        $(".cust_term_inner").height(window.innerHeight - 95);
    })
</script>
<div class="cust_term_container">
    <div class="cust_term_header">
        Customer Tremination
    </div>
    <div class="cust_term_inner">
        <div class="termination_info">
            <div class="termination_info_header">
                Customer Information
            </div>
            <div class="termination_info_div">
                <div class="form-group clearfix">
                    <label>Alarm.com Customer ID</label>
                    <input type="text" value="@Model.CustomerId" name="Name" placeholder="Alarm.com Customer ID" class="form-control" readonly>
                </div>
                @*<div class="form-group clearfix">
                    <label>Alternate ID</label>
                    <input type="text" value="@Model.DealerCustomerId" name="Name" placeholder="Alternate ID" class="form-control" readonly>
                </div>*@
                <div class="form-group clearfix">
                    <label>First Name</label>
                    <input type="text" value="@Model.FirstName" name="Name" placeholder="First Name" class="form-control" readonly>
                </div>
                <div class="form-group clearfix">
                    <label>Last Name</label>
                    <input type="text" value="@Model.LastName" name="Name" placeholder="Last Name" class="form-control" readonly>
                </div>
                <div class="form-group clearfix">
                    <label>Company Name</label>
                    <input type="text" value="@Model.CompanyName" name="Name" placeholder="Company Name" class="form-control" readonly>
                </div>
                @if (Model.CentralStationInfo != null)
                {
                <div class="form-group clearfix">
                    <label>Monitoring Station Account Number</label>
                    <input type="text" value="@Model.CentralStationInfo.AccountNumber" name="Name" placeholder="Monitoring Station Account Number" class="form-control" readonly>
                </div>
                }
                <div class="form-group clearfix">
                    <label>Website Login</label>
                    <input type="text" value="@Model.LoginName" name="Name" placeholder="Website Login" class="form-control" readonly>
                </div>
                <div class="form-group clearfix">
                    <label>System Address</label>
                    <input type="text" value="@Model.InstallAddress.Zip @Model.InstallAddress.Street1 @Model.InstallAddress.City, @Model.InstallAddress.State" name="Name" placeholder="System Address" class="form-control" readonly>
                </div>
                <div class="form-group clearfix">
                    <label>Account Creation Date</label>
                    <input type="text" value="@Model.JoinDate" name="Name" placeholder="Account Creation Date" class="form-control" readonly>
                </div>
                <div class="form-group clearfix">
                    <label>Alarm.com Serial Number</label>
                    <input type="text" value="@Model.ModemInfo.ModemSerial" name="Name" placeholder="Alarm.com Serial Number" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div class="termination_info_bottom">
            <label>Help us improve our offering by identifying the reason for termination.</label>
            
            <div class="form-group clearfix">
                <label>Reason for Termination (Required)</label>
                @Html.DropDownList("ReasonList", (List<SelectListItem>)ViewBag.TrerminationReason, new { @class = "form-control", datarequired = "false" })
            </div>
            <label><input type="checkbox" id="terminationMsg"> This panel should receive a termination message with contact information to easily reactivate the account.</label>
            <label><input type="checkbox" id="terminationAcpt"> I have reviewed the customer information above to ensure I am terminating the correct account. I am aware this cannot be undone.</label>
            
        </div>
    </div>
    <div class="cust_term_footer">
        <button class="btn TerminateThisAcc" disabled>
            Terminate Account
        </button>
    </div>

</div>