@{ 
    Layout = null;
}
@model IEnumerable<HS.Entities.EmergencyContact>
<script>
    var DeleteContact = function (ContactId) {

        var param = {
            "ContactId": ContactId,
        };

        console.log(param);
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: "/Api/DeleteThirdpartyContact",
            data: JSON.stringify(param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (typeof (data) != 'undefined') {

                    $("#Contactlist").load("/API/CustomerEmgContactlist?CustomerId=" + CustomerLoadGuid + "&&Platform='Brinks'");

                }
            },
            error: function (jqXHR, textStatus, errorThrown) {

                console.log(errorThrown);
            }
        });
    }
    var EditContact = function (ContactId) {
        var param = {
            "ContactId": ContactId,
        };

        console.log(param);
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: "/Api/GetThirdpartyContact",
            data: JSON.stringify(param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (typeof (data) != 'undefined') {
                    $("#ContactId").val(data.result.Id);
                    $("#FirstName1").val(data.result.FirstName),
                    $("#LastName1").val(data.result.LastName),
                    $("#Phone1").val(data.result.Phone)
                    $("#Email").val(data.result.Email)
                    $("#RelationShip").val(data.result.RelationShip)
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {

                console.log(errorThrown);
            }
        });
        //console.log("sdfdsfdsf");
        //var firstname = $("#firstname").val();
        //var lastname = $("#lastname").val();
        //var phone = $("#phone").val();
        

    }


</script>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        @*<th>
            Email
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            Relationship
        </th>
        <th>
            Has Key
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        <a href="javascript:void(0)" class="cus-anchor" onclick="EditContact('@item.Id')">@item.FirstName</a>
    </td>
    <td>
        <span>@item.LastName</span>

    </td>

    <td>
        <span>@item.Phone</span>
    </td>
    @*<td>
        <span>@item.Email</span>
    </td>*@
    <td>
        <span>@item.RelationShipVal</span>
    </td>
    <td>
        <span>@item.HasKey</span>
    </td>
    <td>
        <a class="contact_delete" data-toggle="tooltip" title="" onclick="DeleteContact('@item.Id')" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
    </td>
</tr>
}

</table>
