@{ 
    Layout = null;
}
@model IEnumerable<HS.Entities.CustomerThirdPartyAgency>
<script>
    
    var DeleteAgency = function (AgencyId) {

        var param = {
            "AgencyId": AgencyId,
        };

        console.log(param);
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: "/Api/DeleteThirdpartyAgency",
            data: JSON.stringify(param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (typeof (data) != 'undefined') {
                    $("#AgencyNo").val(""),
                    $("#AgencyName").val(""),
                    $("#agencyType").val(""),
                    $(".agencyPhone1").val(""),
                    $("#PremType").val(""),
                    $("#Agencylist").load("/API/CustomerAgencylist?CustomerId=" + CustomerLoadGuid + "&&Platform="+Platform);

                }
            },
            error: function (jqXHR, textStatus, errorThrown) {

                console.log(errorThrown);
            }
        });
    }

 
</script>
<table class="table">
    <tr>
        <th>
            Agency No
        </th>
        <th>
            Agency Name
        </th>
        <th>
            Agency type
        </th>
        <th>
            Phone
        </th>

        <th>
            Permition Type
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.AgencyNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AgencyName)
    </td>
    <td>
        @if (!string.IsNullOrEmpty(item.AgencytypeVal))
        {
            @Html.DisplayFor(modelItem => item.AgencytypeVal)
        }
        else
        {
            @Html.DisplayFor(modelItem => item.Agencytype)
        }
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>

    <td>
        @if (!string.IsNullOrEmpty(item.PermTypeVal))
        {
            @Html.DisplayFor(modelItem => item.PermTypeVal)
        }
        else
        {
            @Html.DisplayFor(modelItem => item.PermType)
        }

    </td>
    <td>
        <a class="agency_delete" data-toggle="tooltip" title="" onclick="DeleteAgency('@item.Id')" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
    </td>


</tr>
}

</table>
