@model IEnumerable<HS.Alarm.AlarmCustomer.SystemCheckCategoryOutput>
@{ 
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
      
    })

</script>
@if (ViewBag.ErrorMassege == "")
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRunning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TroubleShootingSteps)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TestCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsRunning)
                </td>
                <td>
                    <span>@Html.Raw(item.Message)</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TroubleShootingSteps)
                </td>

            </tr>
        }

    </table>
}
else
{
    <span>@Html.Raw(ViewBag.ErrorMassege)</span>
}


