@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
@model HS.Entities.Custom.UccCredentialsSettings
@using InpTyp = HS.Web.UI.Helper.LabelHelper.GlobalSettingInputType

<link href="~/Content/Css/PackageSettings/AddPackageInclude.css" rel="stylesheet" />
<script>


    var value;
            @*var value;
        var OptionalValue;
        var Editor = "@InpTyp.Editor";
        @*var InputType = "@Model.InputType.ToLower()";*@
        @*var CheckBox = "@InpTyp.CheckBox";
        var searchkey = '@Model.SearchKey';
        var mintime = '@ViewBag.mintime';
        var maxtime = '@ViewBag.maxtime';
        var CheAndTebox = "@InpTyp.CheAndTebox";*@
    @*var Image = '@Model.InputType.ToLower()';
        var SignImage='@Model.InputType.ToLower()';*@

    var SaveGlobalSettingsUccSearchkeyandValue = function () {
                                   console.log("savesee");

            $.ajax(
                {
                    type: "POST",
                    url: domainurl + "/API/SaveGlobalSettingsUCCSearchkeyandValue/",
                    data: {
                        UccUserName: $("#UccUserName").val(),
                        UccPassword: $("#UccPassword").val(),

                        UccSiteGroupNumber: $("#UccSiteGroupNumber").val(),
                        UccInProduction: $("#UccInProduction").prop('checked'),
                  
               
                    },
                    success: function (data) {
                        if (data.result == true) {
                            $(".close").trigger("click");
                            OpenSuccessMessageNew("Success!", data.message, function () { })
                            console.log("done");
                        }
                        else {
                            OpenErrorMessageNew("Failed", data.message, function () { });
                        }


                    }
                });
    }
    $(document).ready(function () {

        $("#SaveGlobalSettingsUccSearchkeyandValue").click(function () {
            console.log("hi");






                    SaveGlobalSettingsUccSearchkeyandValue();


        });
    });
</script>
<div class="add_package_include_header">
    @Localize.T("UCC")
</div>

<div class="add_customer_note_height">
    <div class="container-fluid">




        <div class="add_expense_row">
            <label>@Localize.T("Ucc UserName")</label>
            <input class="form-control" type="text" id="UccUserName" value="@Model.UccUserName" />
        </div>
        <div class="add_expense_row">
            <label>@Localize.T("Ucc Password")</label>
            <input class="form-control" type="text" id="UccPassword" value="@Model.UccPassword" />
        </div>
  

        <div class="add_expense_row">
            <label>@Localize.T("UccSite Group Number")</label>
            <input class="form-control" type="text" id="UccSiteGroupNumber" value="@Model.UccSiteGroupNumber" />
        </div>

        <div class="reminder-text">
            <div>
                <input style="width:30px;height:50px;" type="checkbox" id="UccInProduction" @(Model.UccInProduction == true ? "checked" : "") autocomplete="off">

                @*<input style="width:30px;height:50px;" type="checkbox" id="Hasmultiplevalue" checked="" autocomplete="off">*@
            </div>
            <div style="margin-top:-40px;margin-left:40px;">
                <label for="UccInProduction" style="margin-top:-20px;" class="lbl-CheckBoxText add_reminder_style">Ucc In Production</label>

            </div>
        </div>


    </div>
</div>





<section class="footer-section">
    <footer class="footer">
        <div class="save-package-div">
            <button class="btn-save-package-include" id="SaveGlobalSettingsUccSearchkeyandValue">@Localize.T("Save")</button>
        </div>
    </footer>
</section>

