@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
@*@model IEnumerable<HS.Entities.GlobalSetting>*@
@model HS.Entities.AlamcredentialsSetting
@using InpTyp = HS.Web.UI.Helper.LabelHelper.GlobalSettingInputType

<link href="~/Content/Css/PackageSettings/AddPackageInclude.css" rel="stylesheet" />
<script>
    console.log("hide");
    var hidenseek = '@ViewBag.Hasmultiplevalue';

    var value;
            @*var value;
        var OptionalValue;
        var Editor = "@InpTyp.Editor";
        @*var InputType = "@Model.InputType.ToLower()";*@
        @*var CheckBox = "@InpTyp.CheckBox";
        var searchkey = '@Model.SearchKey';
        var mintime = '@ViewBag.mintime';
        var maxtime = '@ViewBag.maxtime';
        var CheAndTebox = "@InpTyp.CheAndTebox";*@
    @*var Image = '@Model.InputType.ToLower()';
        var SignImage='@Model.InputType.ToLower()';*@

    var SaveSettings = function () {
                                   console.log("savesee");

            $.ajax(
                {
                    type: "POST",
                    url: domainurl + "/API/EditSettings/",
                    data: {
                        AlarmUsername: $("#AlarmUsername").val(),
                        AlarmPassword: $("#AlarmPassword").val(),
                 
                        BrinksAlarmUsername: $("#BrinksAlarmUsername").val(),
                        BrinksAlarmPassword: $("#BrinksAlarmPassword").val(),
                        //Hasmultiplevalue: $("#Hasmultiplevalue").val(),
                        Hasmultiplevalue: $("#Hasmultiplevalue").prop('checked'),
                    },
                    success: function (data) {
                        if (data.result == true) {
                            $(".close").trigger("click");
                            OpenSuccessMessageNew("Success!", data.message, function () { })
                            console.log("done");
                        }
                        else {
                            OpenErrorMessageNew("Failed", data.message, function () { });
                        }
                      
                    
                    }
                });
    }
    $(document).ready(function () {
          console.log("hidenseek");
            if (hidenseek == "false" || hidenseek == "False") {
                console.log("hidenseek2");
                $("#hidenseek").hide();

            }
            else {
                 $("#hidenseek").show();
        }
        $('#Hasmultiplevalue').click(function() {
    if( $(this).is(':checked')) {
        $("#hidenseek").show();
    } else {
        $("#hidenseek").hide();
    }
}); 
        $("#SaveSettings").click(function () {
            console.log("hi");

        


                
                    value = $("#Value").val();
                    SaveSettings();
                
            
        });
    });
</script>
<div class="add_package_include_header">
    @Localize.T("Alarm.Com")
</div>

<div class="add_customer_note_height">
    <div class="container-fluid">




        <div class="add_expense_row">
            <label>@Localize.T("Alarm Username")</label>
            <input class="form-control" type="text" id="AlarmUsername" value="@Model.AlarmUsername" />
        </div>
        <div class="add_expense_row">
            <label>@Localize.T("Alarm Password")</label>
            <input class="form-control" type="text" id="AlarmPassword" value="@Model.AlarmPassword" />
        </div>
        @*<div class="form-group clearfix">
            <div class="row">
                <div class="col-md-12">
                    <span class="content-type">@Localize.T("Alarm Password")</span>
                    <input class="form-control" style="width:150px;" value="@Model.AlarmPassword" id="AlarmPassword" />
                    <br /><label rel="Name" class="label hidden red position-absolute"></label>
                </div>
            </div>
        </div>*@
    <div id="hidenseek">
        <div class="add_expense_row">
            <label>@Localize.T("Brinks Alarm Username")</label>
            <input class="form-control" type="text" id="BrinksAlarmUsername" value="@Model.BrinksAlarmUsername" />
        </div>

        <div class="add_expense_row">
            <label>@Localize.T("Brinks Alarm Password")</label>
            <input class="form-control" type="text" id="BrinksAlarmPassword" value="@Model.BrinksAlarmPassword" />
        </div>
     
    </div>
        <div class="reminder-text">
            <div>
                <input style="width:30px;height:50px;" type="checkbox" id="Hasmultiplevalue" @(Model.Hasmultiplevalue == true ? "checked" : "") autocomplete="off">

                @*<input style="width:30px;height:50px;" type="checkbox" id="Hasmultiplevalue" checked="" autocomplete="off">*@
            </div>
            <div style="margin-top:-40px;margin-left:40px;">
                <label for="Hasmultiplevalue" style="margin-top:-20px;" class="lbl-CheckBoxText add_reminder_style">Has Multiple Alarm User</label>

            </div>
        </div>
    </div>
    </div>






@*<div class="row" style="margin-top:100px;">

    <div class="col-md-6">
        <label>AlarmUsername</label>
        <label style="margin-top:10px;">AlarmPassword</label>
        <label style="margin-top:10px;">BrinksAlarmUsername</label>
        <label style="margin-top:10px;">BrinksAlarmPassword</label>
        <label style="margin-top:10px;">Hasmultiplevalue</label>
    </div>
    <div class="col-md-6">
        <input class="form-control" style="width:150px;" value="@Model.AlarmUsername" id="AlarmUsername" />
        <input class="form-control" style="width:150px;" value="@Model.AlarmPassword" id="AlarmPassword" />
        <div id="hidenseek">
            <input class="form-control" style="width:150px;" value="@Model.BrinksAlarmUsername" id="BrinksAlarmUsername" />
            <input class="form-control" style="width:150px;" value="@Model.BrinksAlarmPassword" id="BrinksAlarmPassword" />
        </div>
    <div class="reminder-text">
    

            <input style="width:20px;height:30px;" type="checkbox" id="Hasmultiplevalue" @(Model.Hasmultiplevalue == true ? "checked" : "") autocomplete="off">
         
         
    </div>
        </div>

  
    </div>*@

<section class="footer-section">
    <footer class="footer">
        <div class="save-package-div">
            <button class="btn-save-package-include" id="SaveSettings">@Localize.T("Save")</button>
        </div>
    </footer>
</section>