@model IEnumerable<HS.Avantguard.com.agmonitoring.devportal.History>
@{
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    })
</script>

<table class="table">
    <tr>
        <th>
            History Date
        </th>

        <th>
            Site Name
        </th>
     
        <th>
            EventCode Description
        </th>
     
        <th>
            Op Act Description
        </th>
     
        <th>
            Call Disposition
        </th>
        <th>
            Signal Code
        </th>

        <th>
            Point Description
        </th>
        <th>
            Comment
        </th>
        <th>
            Alarm Num
        </th>
        <th>
            Area Num
        </th>
        <th>
            Test Num
        </th>
        <th>
            Raw Message
        </th>
        <th>
            Phone
        </th>
  
 
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HistoryDate)
            </td>
           
           
            <td>
                @Html.DisplayFor(modelItem => item.SiteName)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.EventCodeDescription)
            </td>
     
            <td>
                @Html.DisplayFor(modelItem => item.OpActDescription)
            </td>
      
            <td>
                @Html.DisplayFor(modelItem => item.CallDispositionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignalCode)
            </td>
    
            <td>
                @Html.DisplayFor(modelItem => item.PointDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlarmNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RawMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
          
        </tr>
    }

</table>
