@model HS.Entities.Custom.NMCSignalHIstoryResponse.SignalHistory
@{
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}
    <script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    })
    </script>
@if (Model.SignalHistory_Response != null && Model.SignalHistory_Response.Count > 0 && Model.SignalHistory_Response[0].Sig_acct != null)
{
    <table class="table">
        <tr>
            <th>account </th>
            <th>Date </th>
            <th>Code</th>
            <th>Event</th>
            <th>Comment</th>
            <th>Seq. No</th>

        </tr>

        @foreach (var item in Model.SignalHistory_Response)
        {
            <tr>
                <td>@item.Sig_acct</td>
                <td>@item.Sig_date</td>
                <td>@item.Sig_code</td>
                <td>@item.Event</td>
                <td>@item.Eventhistcomment</td>
                <td>@item.Test_seqno</td>
            </tr>
        }

    </table>
}
else
{
<span>No event history found for this account!</span>
}

