@model IEnumerable<HS.Entities.Custom.BrinksEventHistory>
@{
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    })
</script>
<table class="table">
    <tr>
        <th>
           <label>Cs Number</label>
        </th>
        <th>
            <label>Event Date</label>
         
        </th>
        <th>
            <label>Zone ID</label>
           
        </th>
        <th>
            <label>Event ID</label>
    
        </th>
        <th>
            <label>Computed</label>

        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cs_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.event_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zone_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.event_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.computed)
            </td>

        </tr>
    }

</table>
