@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var AppId = '@ViewBag.AppId';
    var CustomerId = CustomerLoadGuid;
    $(".CreateCustomer").click(function () {
        OpenTopToBottomModal(String.format("/API/AvantgradCustomer?CustomerId={0}", CustomerLoadGuid))
    });
    var GetFinanceStatus = function () {

    var url = domainurl + "/SmartLeads/GetIsPcFinanceStatus";
    var param = JSON.stringify({
        CustomerId: CustomerLoadGuid,
        ApplicationId: AppId,

    });
    $.ajax({
        type: "POST",
        ajaxStart: $(".loader-div").show(),
        url: url,
        data: param,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        cache: false,
        success: function (data) {
            console.log(data);
            if (data == false) {
                OpenErrorMessageNew("Error!", "Something Wrong");
            }
            else {
                OpenSuccessMessageNew("Success!", data.Message, function () {
             
                        $("#IsPcDetailsLoad").load("/Api/IsPcDetailInfo?CustomerId=" + CustomerLoadGuid);
                    

                });
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
            $(".loader-div").hide();
            console.log(errorThrown);
        }
    });
    }
    var SendEcontractISPC = function () {
        OpenTopToBottomModal("/API/SendISPCEcontract?CustomerId=" + CustomerLoadGuid );
    }
</script>
<link href="~/Content/Css/AlarmDotCom/alarm.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $(".addFinance_button").click(function () {
            OpenTopToBottomModal("/SmartLeads/AddFinance?CustomerId=" + CustomerLoadGuid+"&from=Customer");
        })
        $("#IsPcDetailsLoad").load("/Api/IsPcDetailInfo?CustomerId=" + CustomerLoadGuid);
    })
</script>
<div class="width-100p create_alarm">
    @if (string.IsNullOrEmpty(ViewBag.AppId))
    {

        <div class="CreateCustomerDiv width-100p">
            <button class="btn addFinance_button"><i class="fa fa-user-plus"></i> @Localize.T("Apply for finance")</button>
        </div>

    }
    else
    {
        <div class="CreateCustomerDiv width-100p">
            <button class="btn addFinance_button"><i class="fa fa-user-plus"></i> @Localize.T("Apply for finance")</button>
        </div>

        <div class="CreateCustomerDiv width-100p">
            <button class="btn" onclick="GetFinanceStatus()"> @Localize.T("Get Finance Status")</button>
        </div>

        <div class="CreateCustomerDiv width-100p">
            <button class="btn" onclick="SendEcontractISPC()">@Localize.T("Send Contract")</button>
        </div>
        //<button class="btn CreateCustomerUCC"><i class="fa fa-user-plus"></i> @Localize.T("Create Customer")</button>
        <div id="IsPcDetailsLoad">

        </div>
    }
</div>


