@model IEnumerable<HS.Entities.Custom.HistoryList>
@{
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    })
</script>
@if (Model != null)
{
  
    <table class="table">
        <tr>
            <th>
                History Date
            </th>

            <th>
                Transmitter Code
            </th>
            <th>
                Site Name
            </th>
            <th>
                Event Code
            </th>
            <th>
                EventCode Description
            </th>
            <th>
                Point
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>


            <th>
                User Name
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SiteNum)
            </th>

        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @if (item.HistoryDate != null && item.HistoryDate != new DateTime())
            {
                <div>@item.HistoryDate</div>
            }

        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TransmitterCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventCodeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SiteNum)
        </td>


    </tr>
        }

    </table>
}
else
{
    <div>@ViewBag.WorningMessage</div>
}

