@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/VehicleManagement/AddNewVehicle.css" rel="stylesheet" />
<script>
    var TransmitterCode = '@ViewBag.TransmitterCode';
    var UpdateSiteContact = function () {

        console.log("sdf");
        var Param = {
            "FirstName1": $("#FirstName1").val(),
            "LastName1": $("#LastName1").val(),
            "Phone1": $("#Phone1").val(),
            "PhoneType1": $("#PhoneType1").val(),

            "FirstName2": $("#FirstName2").val(),
            "LastName2": $("#LastName2").val(),
            "Phone2": $("#Phone2").val(),
            "PhoneType2": $("#PhoneType2").val(),

            "FirstName3": $("#FirstName3").val(),
            "LastName3": $("#LastName3").val(),
            "Phone3": $("#Phone3").val(),
            "PhoneType3": $("#PhoneType3").val(),

            "FirstName4": $("#FirstName4").val(),
            "LastName4": $("#LastName4").val(),
            "Phone4": $("#Phone4").val(),
            "PhoneType4": $("#PhoneType4").val(),
            "TransmitterCode": TransmitterCode
        };
        var url = domainurl + "/API/PushUccSiteContact";
        $.ajax({
            type: "POST",
            ajaxStart: function () { },
            url: url,
            data: JSON.stringify(Param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if(data.result)
                {
                    $(".close").click();
                    OpenSuccessMessageNew("", data.message, function () {
                        $(".UCCArea_Load").load("/API/UCC/?CustomerId=" + encodeURI(CustomerLoadGuid));

                    })
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    $(document).ready(function () {
      
           
    
    })
</script>
<script src="~/Content/Js/VehicleManagement/VehicleDetails.js"></script>

<div class="add_customer_follow_up_header">
    <span>@Localize.T("Site Contacts")</span>
</div>
<div class="add_followup_reminder_container">
    <div class="row">
        <div class="col-md-12 add_followup_reminder_body">
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("EC1 First Name")</span>
                <input type="text" class="form-control" placeholder="@Localize.T("EC1 First Name")" id="FirstName1"/>
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("EC1 Last Name")</span>
                <input type="text" class="form-control" placeholder="@Localize.T("EC1 Last Name")" id="LastName1" />
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("EC1 Phone")</span>
                <input type="text" class="form-control" placeholder="@Localize.T("EC1 Phone No")" id="Phone1" />
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("EC1 Phone Type")</span>
                @Html.DropDownList("PhoneType1", (List<SelectListItem>)ViewBag.PhoneType, new { @class = "form-control", id = "PhoneType1" })
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("EC2 First Name")</span>
                <input type="text" class="form-control" placeholder="@Localize.T("EC2 First Name")" id="FirstName2"/>
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("EC2 Last Name")</span>
                <input type="text" class="form-control" placeholder="@Localize.T("EC2 Last Name")" id="LastName2" />
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("EC2 Phone")</span>
                <input type="text" class="form-control" placeholder="@Localize.T("EC2 Phone")" id="Phone2" />
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("EC2 Phone Type")</span>
                @Html.DropDownList("PhoneType2", (List<SelectListItem>)ViewBag.PhoneType, new { @class = "form-control", id = "PhoneType2" })
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("EC3 First Name")</span>
                <input type="text" class="form-control" placeholder="@Localize.T("EC3 First Name")" id="FirstName3" />
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("EC3 Last Name")</span>
                <input type="text" class="form-control" placeholder="@Localize.T("EC3 Last Name")" id="LastName3" />
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("EC3 Phone")</span>
                <input type="text" class="form-control" placeholder="@Localize.T("EC3 Phone")" id="Phone3"/>
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("EC3 Phone Type")</span>
                @Html.DropDownList("PhoneType3", (List<SelectListItem>)ViewBag.PhoneType, new { @class = "form-control", id = "PhoneType3" })
            </div>

            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("EC4 First Name")</span>
                <input type="text" class="form-control" placeholder="@Localize.T("EC4 First Name")" id="FirstName4" />
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("EC4 Last Name")</span>
                <input type="text" class="form-control" placeholder="@Localize.T("EC4 Last Name")" id="LastName4"/>
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("EC4 Phone")</span>
                <input type="text" class="form-control" placeholder="@Localize.T("EC4 Phone")"  id="Phone4"/>
            </div>
            <div class="form-group clearfix item_margin">
                <span class="text-custom">@Localize.T("EC4 Phone Type")</span>
                @Html.DropDownList("PhoneType4", (List<SelectListItem>)ViewBag.PhoneType, new { @class = "form-control", id = "PhoneType4" })
            </div>
        </div>
    </div>
</div>

<section class="footer-section">
    <footer class="footer">
        <div>
            <button id="UpdateSiteContact" onclick="UpdateSiteContact()" type="button" class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save")</button>
        </div>
    </footer>
</section>

