@{
    Layout = null;
}
@model List<HS.Entities.CredentialSetting>
@using AppConfig = HS.Framework.Utils.AppConfig;
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/Mmrs")
@*@Scripts.Render("~/scripts/Mmrs")*@
<link href="~/Content/Css/CredentialSetting/CredentialSettingPartial.css" rel="stylesheet" />

<script>
    var DataTablePageSize = 50;
    var selectedDeleteId = 0;
    var CredentialrDelete = function () {
        var delitem = selectedDeleteId;
        $.ajax({
            url: "@(AppConfig.DomainSitePath)/CredentialSetting/DeleteCredentialSetting",
            data: { id: delitem },
            type: "Post",
            dataType: "Json",
            success: function (result) {
                if (result) {
                    parent.LoadCredentialSetting(true);
                }
            },

            error: function () {
            }

        });

    }
    $(document).ready(function () {
        parent.$('.close').click(function () {
            parent.$(".modal-body").html('');
        })
        var table = $('#tblCredential').DataTable({
            "pageLength": DataTablePageSize,
            "destroy": true,
            "language": {
                "emptyTable": "No data available"
            }
        });
        $(".LoaderWorkingDiv").hide();
        $(".AddCredentialSetting").click(function () {
            OpenRightToLeftModal("@(AppConfig.DomainSitePath)/CredentialSetting/AddCredentialSetting");
        })


        $('#tblCredential tbody').on('click', 'tr', function () {

            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        $(".item-edit").click(function () {
            var itemId = $(this).attr('data-id');
            OpenRightToLeftModal("@(AppConfig.DomainSitePath)/CredentialSetting/AddCredentialSetting?id=" + itemId);

        });

        $(".item-delete-panel").click(function () {
            selectedDeleteId = $(this).attr("data-id");
            OpenConfirmationMessageNew("Confirm?", "Are you sure you want to delete this item?", CredentialrDelete);
        });

        $(".srch-term-acc").keyup(function () {
            $("#tblCredential_filter input").val($(".srch-term-acc").val());
            $("#tblCredential_filter input").trigger('keyup');
        });
    })
</script>

<div class="page-wrap csp_container">
    <div class="container-fluid">
        <div class="txt-style">
            <span class="csp_header">@Localize.T("Credential Setting Information")</span>
            @if (PermissionChekcer.IsPermitted(Permissions.ToolsPermissions.CredentialSettingsAdd))
            {
                <button class="AddCredentialSetting">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
                </button>
            }
        </div>
        <div class="csp_searchbardiv">
            <div class="input-group add-on">
                <input class="form-control srch-term-acc" placeholder="Find a Account Holder" name="srch-term-acc" @*id="srch-term-acc"*@ type="text">
                <div class="input-group-btn">
                    <button class="btn custom-btn green_button" type="submit" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
        <div class="custom-table">
            <table class="display credential_setting_partial_table" id="tblCredential">
                <thead class="table-head-border csp_header_hide">
                    <tr>
                        <th class="thead-th-style sorting">
                            @Localize.T("Name")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("User Name")
                        </th>
                        <th class="thead-th-style sorting">
                            @Localize.T("Password")
                        </th>
                        <th class="thead-th-style sorting ">
                            @Localize.T("Description")
                        </th>
                        <th class="thead-th-style sorting text-right">
                            @Localize.T("Actions")
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr class="tr-style">
                        <td class="table-body-td-style csp_header_row" valign="top">
                            <label class="csp_device_header">@Localize.T("Name")</label>
                            <span>
                                <a href="javascript:void(0)" class="item-edit name-anchor-style" data-id="@item.Id">

                                    @item.DisplayName
                            </a>
                        </span>
                    </td>
                    <td class="table-body-td-style csp_header_row device_top_mergin" valign="top">
                        <label class="csp_device_header">@Localize.T("User Name")</label>
                        <span class="csp_device_info">@item.UserName</span>
                    </td>
                    <td class="table-body-td-style csp_header_row device_top_mergin" valign="top">
                        <label class="csp_device_header">@Localize.T("Passowrd")</label>
                        <span class="csp_device_info">@item.Password</span>
                    </td>
                    <td class="table-body-td-style csp_header_row device_top_mergin" valign="top">
                        <label class="csp_device_header">@Localize.T("Description")</label>
                        <span class="csp_device_info">@item.Description</span>
                    </td>
                    <td class="table-body-td csp_header_row device_top_mergin" valign="top">
                        <label class="csp_device_header">@Localize.T("Actions")</label>
                        @if (PermissionChekcer.IsPermitted(Permissions.ToolsPermissions.CredentialSettingsDelete))
                        {
                            <a href="javascript:void(0)" class="item-delete-panel csp_device_info" data-id="@item.Id" title="@Localize.T("Delete")">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        }
                    </td>
                </tr>
                }

            </table>
        </div>

    </div>
</div>





