@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<html>
<head>
    @Styles.Render("~/styles/AddFile")
    @*@Scripts.Render("~/scripts/AddFile")*@

    <script>
        var CustomerId = @ViewBag.CustomerId;
        $(document).ready(function () {
            $(".deleteDoc").click(function () {
                OpenConfirmationMessageNew("Confirm?", "Are you sure you want to delete this file?", function () {
                    $(".Upload_Doc").removeClass('hidden');
                    //$(".LoadPreviewDocument").addClass('hidden');
                    //$(".LoadPreviewDocument1").addClass('hidden');
                    $("#UploadCustomerFileBtn").attr('src', '/Content/Icons/blank_thumb_file.png');
                    $(".chooseFilebtn").removeClass("hidden");
                    $(".changeFilebtn").addClass("hidden");
                    $(".deleteDoc").addClass("hidden");
                    $("#Preview_Doc").attr('src', "");
                    $("#Frame_Doc").attr('src', "");
                    $("#UploadSuccessMessage").hide();
                    $("#description").val("");
                    $("#UploadedPath").val('');
                    $(".fileborder").addClass('border_none');
                    $("#UploadCustomerFileBtn").removeClass('otherfileposition');
                });
            })
        })

        $("#description").blur(function () {
            if ($("#description").val() == "") {
                $("#DescriptionError").removeClass("hidden");
            }
            if ($("#description").val() != "") {
                $("#DescriptionError").addClass("hidden");
            }
        })
        $("#UploadedPath").blur(function () {
            if ($("#UploadedPath").val() == "") {
                $("#uploadfileerror").removeClass("hidden");
                $(".fileborder").addClass('red-border');
            }
            if ($("#UploadedPath").val() != "") {
                $("#uploadfileerror").addClass("hidden");
                $(".fileborder").removeClass('red-border');
            }
        })
           $(".close").click(function () {
            location.reload();
        })

    </script>
    <script src="~/Content/JQuery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/JQueryFileUpload/jquery-ui-1.9.2.min.js"></script>
    <script src="~/Content/Js/Site/Validation.js"></script>
    <script src="~/Content/JQueryFileUpload/jquery.fileupload.js"></script>
    <script src="~/Content/JQueryFileUpload/jquery.fileupload-ui.js"></script>
    <script src="~/Content/Js/LeadDocument/LeadFileUpload.js"></script>
    <style>
                div.show-image {
                    position: relative;
                    float: left;
                    /*margin:5px;*/
                }
                    /*div.show-image:hover img{
            opacity:0.5;
        }
        div.show-image:hover iframe{
            opacity:0.5;
        }*/
                    div.show-image input {
                        position: absolute;
                        display: block;
                    }

                        div.show-image input.deleteDoc {
                            top: 0;
                            left: 91%;
                            background-color: #d0d0d0;
                            border-radius: 27px;
                        }
    </style>
</head>
<body>
    <div class="add_file_header_lead">@Localize.T("Upload File")</div>
    <div class="container-fluid">
        <div class="clearfix">
            &nbsp;
        </div>
        <div class="form-group clearfix">
            <span class="">@Localize.T("Allowed file types: doc, docx, xls, xlsx, jpg, jpeg, gif, png, rtf, pdf, txt") </span><br />
            <span class="">@Localize.T("(max file size: 20 mb)")</span>
        </div>
        <div>
            <br />
        </div>
        <div class="txt-form Upload_Doc">
            <div class="col-md-12 padding-left-0">
                <div class="fileborder border_none">
                    <img id="UploadCustomerFileBtn" class="cursor-pointer custom-file" src="~/Content/Icons/blank_thumb_file.png" />
                </div>
                @*<input class="deleteDoc" type="image" src="~/Content/Icons/cross_update.png" />*@
                <div class="deleteDoc cursor-pointer hidden">
                    <img src="~/Content/Icons/cross-image-delete.png" />
                </div>
                <div class="change-picture-logo white-color cursor-pointer text-align-center">
                    <span class="chooseFilebtn"><img src="~/Content/Icons/edit-icon.png" /> @Localize.T("Choose File to Upload")</span>
                    <span class="changeFilebtn hidden"><img src="~/Content/Icons/edit-icon.png" /> @Localize.T("Change File")</span>
                </div>
                @*<div class="" style="margin-top: 15px;">
                    <span id="UploadSuccessMessage" class="hidden">@Localize.T("File Uploaded Successfully..!")</span>
                </div>*@
                <div class="LoadPreviewDocument hidden">
                    <div class="show-image PropertyLogoPreviewPic">
                        <div class="image-delete" data-id="">
                            <img src="~/Content/Icons/cross-image-delete.png" />
                        </div>
                        <img class="Preview_Doc T360image-photo T360image" src="" />
                    </div>
                    <div class="change-picture-logo white-color cursor-pointer text-align-center T360image">
                        <span><img src="~/Content/Icons/edit-icon.png" /> @Localize.T("Change File")</span>
                    </div>
                </div>
                @*<div class="progress-container file-progress" style="display:none">
                    <div class="progress progress-striped active progress-bar">
                        <div class="progress-bar progress-bar-danger" style="width:0%">
                            <span> 0%</span>
                        </div>
                    </div>
                    @*<div class="progress-bar progress-bar-success">
                        <span> 0%</span>
                    </div>
                </div>*@
            </div>

            <div class="col-md-12 progress-container file-progress" style="display:none; padding-left:0; padding-right:0; margin-top: 15px;">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" style="width:0%">
                        <span> 0%</span>
                    </div>
                </div>
            </div>
            <label class="label red position-relative hidden" id="uploadfileerror">*@Localize.T("File required")</label>
        </div>
        @*<div class="LoadPreviewDocument hidden">
            <div class="show-image">
                <img id="Preview_Doc" src=""/>
                <input class="deleteDoc" type="image" src="~/Content/Icons/cross_update.png" />
            </div>
            <div class="change-picture-logo white-color cursor-pointer text-align-center T360image">
                <span><img src="~/Content/Icons/edit-icon.png" /> @Localize.T("Change File")</span>
            </div>
        </div>
        <div class="LoadPreviewDocument1 hidden">
            <div class="show-image">
                <iframe id="Frame_Doc" src="" width="319" height="455"></iframe>
                <input class="deleteDoc" type="image" src="~/Content/Icons/cross_update.png" />
            </div>
        </div>*@<div class="LoadPreviewDocument hidden">
            <div class="show-image">
                <img id="Preview_Doc" src="" />
                <input class="deleteDoc" type="image" title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png" />
            </div>
            <div class="change-picture-logo white-color cursor-pointer text-align-center T360image">
                <span><img src="~/Content/Icons/edit-icon.png" /></span>
            </div>
        </div>
        <div class="LoadPreviewDocument1 hidden">
            <div class="show-image">
                <iframe id="Frame_Doc" src="" width="319" height="455"></iframe>
                <input class="deleteDoc" type="image" title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png" />
            </div>
        </div>


        <span class="content-type">@Localize.T("Tag")</span>
        <div class="txt-form">
            @Html.DropDownList("FileTagList", (List<SelectListItem>)ViewBag.FileTag, new { @class = "form-control", id = "FileTagList" })
        </div>

        <span class="content-type">@Localize.T("Description")</span>
        <div class="txt-form">
            <textarea rows="2" type="text" id="description" name="description" class="content-text" style="line-height:20px; height:60px" datarequired="true" />
            <br /><label rel="description" class="label hidden red position-absolute">*@Localize.T("Description Required")</label>
        </div>
    </div>
    <section class="footer-section">
        <footer class="footer">
            <div class="SaveCancelDiv">
                <button class="btn" id="SaveCustomerFiles"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>

            </div>
        </footer>
    </section>
    <div class="">
        <input type="hidden" id="UploadedPath" value="" />
        <input type="hidden" id="Uploaded_fileSize" value="" />
        <input type="file" name="CustomerFile" class="hidden" id="UploadedFile" />
    </div>
</body>
</html>
