@{
    Layout = null;
}
@model HS.Entities.Package
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script src="~/Content/Js/Site/Validation.js"></script>
<script src="~/Content/Js/PackageSetup/AddNewPackage.js"></script>
<link href="~/Content/Css/PackageSettings/AddPackage.css" rel="stylesheet" />
<div class="add_package_settings_header">
    @Localize.T("Add Package Settings")
</div>
<div class="container-fluid">
    @Html.HiddenFor(x => x.Id, new { Id = "Id" })

    <div class="form-group clearfix">
        <label>@Localize.T("Name")<span class="red">*</span></label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Package Name", datarequired = "true" })
        <label rel="Name" class="label hidden red position-absolute">*@Localize.T("Package Name Required")</label>
    </div>

    <div class="form-group currency_style clearfix">
     
        <label>@Localize.T("Rate")<span class="red">*</span></label>
        @*<div class="input-group-prepend">
            <span class="input-group-text">
                @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)
            </span>
        </div>*@
        <div class="shipping-amount-span currency_style">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        @HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)
                    </span>
                </div>
               @Html.TextBoxFor(x => x.Rate, new { @class = "form-control", placeholder = "Rate", datarequired = "true" })
            </div>
        </div>
        

    </div>
  
    
    
    @*<div class="form-group clearfix">
        <span class="span-style">@Localize.T("Number of Equipment")<span class="red">*</span></span>
        @Html.TextBoxFor(x => xEptNo, new { @class = "form-control", @type = "number", datarequired = "true" })
        <label rel="OptionEqpMaxLimit" class="label hidden red position-absolute">Localize.T("Package Maximum Limit Required")</label>
    </div>*@
</div>

<section class="footer-section">
    <footer class="footer">
      
            <button class="btn-save-package" id="savePackage">@Localize.T("Save")</button>
       
    </footer>
</section>