@{
    Layout = null;
}
@model HS.Entities.PackageDevice
@using Localize = HS.Web.UI.Helper.LanguageHelper

<link href="~/Content/Select2/select2.css" rel="stylesheet" />
<link href="~/Content/Css/PackageSettings/AddPackageDevice.css" rel="stylesheet" />

<script src="~/Content/Js/Site/Validation.js"></script>
<script src="~/Content/Select2/Select2.min.js"></script>
<script src="~/Content/Js/AddEquipment/EquipmentSelect.js"></script>
<script src="~/Content/Js/PackageSetup/AddNewPackageDevice.js"></script>

<div class="add_package_device_header">
    @Localize.T("Package Device")
</div>
<div class="container-fluid">
    @Html.HiddenFor(x => x.Id, new { Id = "Id" })

    <div class="form-group clearfix hidden">
        <label>@Localize.T("Package")<span class="red">*</span></label>
        @Html.DropDownListFor(x => x.PackageId, (List<SelectListItem>)ViewBag.PackageList, new { @class = "form-control PackageId_select2", datarequired = "true", onchange= "InitializeSuburbDropdown($('.dropdown_equipment'), this.value)" })
        <label rel="PackageId" class="label hidden red position-absolute">*@Localize.T("Please Select A Package")</label>
    </div>

    <div class="form-group clearfix">
        <label>@Localize.T("Equipment And Service")<span class="red">*</span></label>
        @Html.DropDownListFor(x => x.EquipmentId, (List<SelectListItem>)ViewBag.EquipmentList, new { @class = "form-control dropdown_equipment", datarequired = "true" })
        <label rel="PackageId" class="label hidden red position-absolute">*@Localize.T("Please Select An Equipment/Service")</label>
    </div>
    @*<div class="form-group clearfix">
        <label>@Localize.T("Number of Equipment")<span class="red">*</span></label>
        @Html.TextBoxFor(x => x.EptNo, new { @class = "form-control", datarequired = "true" , type = "number" })
        <label rel="PackageId" class="label hidden red position-absolute">@Localize.T("Please Select Number of Equipment")</label>
    </div>*@
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="save-package-div">
            <button class="btn-save-package-device" id="savePackageDevice">@Localize.T("Save")</button>
        </div>
    </footer>
</section>

