@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.Package>

<script src="~/Content/Js/PackageSetup/PackageList.js"></script>
<link href="~/Content/Css/PackageSettings/PacakgeListPartial.css" rel="stylesheet" />
<link href="~/Content/Css/PackageSettings/CompanyPackageListPartial.css" rel="stylesheet" />
<div class="packageListTableContainer">
    <table id="packageListTable">
        <thead>
            <tr>
                <th>&nbsp; &nbsp;@Localize.T("Name")</th>
                @*<th>&nbsp; &nbsp;@Localize.T("Limit")</th>
                <th>&nbsp; &nbsp;@Localize.T("Min MMR")</th>*@
                <th>&nbsp; &nbsp;@Localize.T("Rate")</th>
                <th>&nbsp; &nbsp;@Localize.T("Action")</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="cplp_info_allign"><a class="edit-package" idval="@item.Id">@item.Name</a><button class="btn add-package" onclick="ManagePackage(@item.Id)">View Package</button></td>
                    @*<td class="cplp_info_allign">@item.OptionEqpMaxLimit</td>
                    <td class="cplp_info_allign">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.MMRMin)</td>*@
                    <td class="cplp_info_allign">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.Rate)</td>
                    <td class="cplp_info_allign"><a class="delete-package" idval="@item.Id" title="@Localize.T("Delete")"><i class="fa fa-trash-o"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>