@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.PackageOptional>

<script src="~/Content/Js/PackageSetup/PackageOptionalList.js"></script>
<link href="~/Content/Css/PackageSettings/PackageOptionalListPartial.css" rel="stylesheet" />

<div class="packageOptionalListTableContainer">
    <table id="packageOptionalListTable">
        <thead>
            <tr>
                <th>@Localize.T("Equipment Name")</th>
                <th>@Localize.T("Package Name")</th>
                <th>@Localize.T("Action")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="polp_info_style"><a class="edit-package-Optional" idval="@item.Id">@item.IncludedEquipmentName</a></td>
                    <td class="polp_info_style">@item.IncludedPackageName</td>
                    <td class="polp_info_style"><a class="delete-package-Optional" idval="@item.Id" title="@Localize.T("Delete")"><i class="fa fa-trash-o"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>


