@*@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.CustomerSnapshot>

<style>
    .FollowUpHs {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .FollowUpHsContents {
        width: 100%;
    }

    .FollowUpHsLeft {
        width: 30%;
        float: left;
    }

    .FollowUpHsRight {
        width: 70%;
        font-weight: 600;
        float: left;
    }
</style>

<div class="FollowUpHs">
    <span class="FollowUpHsTitle">@Localize.T("Follow Ups")</span>
    <div class="FollowUpHsContents">
        @{ if (Model.Count == 0)
            {
                <span>@Localize.T("Sorry No Follow Ups Available")</span>
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="FollowUpHsLeft">
                        @item.Description
                    </div>

                    <div class="FollowUpHsRight">
                        @item.Logdate
                    </div>
                }
            }
        }
    </div>
</div>*@




@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.CustomerSnapshot>

<style>
    .NoteHs {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        /*border-bottom : 2px solid #ddd;*/
    }

    .NoteHsContents {
        padding-top: 5px;
        width: 100%;
    }

    .NoteHsContentsLeft {
        float: left;
    }

    .NoteHsContentsRight {
        float: left;
    }

    .custom-column {
        padding-left: 0;
        padding-right: 0;
    }

    .NoteHsTitle {
        font-weight: 600;
    }

    .LoadLNotes {
        font-weight: 600;
    }

    .nstyle {
        margin-top: 10px;
    }

    .NoteHsContents table {
        width: 100% !important;
    }
</style>

<div class="NoteHs">
    <span class="NoteHsTitle">@Localize.T("Follow Up History")</span>
    <div class="NoteHsContents">
        @{ if (Model.Count == 0)
            {
                <span>@Localize.T("No Follow Up Data Available")</span>
            }
            else
            {
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="tr-style">
                                <td class="table-body-td-style" valign="top">
                                    <span>@item.Description</span>
                                </td>
                                <td class="table-body-td-style" valign="top">
                                    <span>@item.Logdate</span>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>

            }
        }
    </div>
    <div class="nstyle">
        @*<a href="javascript:void(0)" class="LoadLNotes">Go to Lead Notes</a>*@
    </div>
</div>
