@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper
@Styles.Render("~/styles/Leads")
@Scripts.Render("~/scripts/Leads")
<script>
    var firstdate = '@ViewBag.firstdate';
    var lastdate = '@ViewBag.lastdate';
    var customform = '@ViewBag.CustomFormGeneration';


    $(document).ready(function () {
        $("#AddCustomizeForm").click(function () {
            LoadFormGeneration(0, true);
        })
        if (customform == "true") {
            $(".AddCustomizeForm").removeClass('hidden');
        };
        $(".fixed_header").width($(".leads_container").width());
    });
    $(window).resize(function () {
        setTimeout(function () {
            $(".fixed_header").width($(".leads_container").width());
        }, 50);

    })
</script>

<div class="container-fluid leads_container">

    <div class="clearfix fixed_header custom_top">
        <div class="leads_header_left"><h2>@Localize.T("Leads")</h2></div>
        <div class="leads_header_right">
            <div class="AddNewBtnDiv">
                @if (PermissionChecker.IsPermitted(PermissionList.LeadPermissions.LeadReportExport))
                {
                    <button class="btn lead_report_btn" id="LeadReport" title="Download">
                        <i class="glyphicon glyphicon-download-alt"></i>
                    </button>
                }
                @if (PermissionChecker.IsPermitted(PermissionList.LeadPermissions.LeadCreateV2))
                {
                    <button class="btn customer-new" id="AddNewCustomerv2" type="button" title="@Localize.T("Create new lead")">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>@Localize.T(" New V2")
                    </button>

                }
                @if (PermissionChecker.IsPermitted(PermissionList.LeadPermissions.LeadCreate))
                {
                    <div class="btn-group">
                        <button class="btn customer-new" id="AddNewCustomer" type="button" title="@Localize.T("Create new lead")">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>@Localize.T(" New")
                        </button>

                        @if (PermissionChecker.IsPermitted(PermissionList.LeadPermissions.ImportLeads))
                        {
                            <button data-toggle="dropdown" class="btn dropdown-toggle customer-btn-dropdown" type="button" title="@Localize.T("Import Leads")">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu customer-dropdown-ul-style import_leads_dropdown">
                                <li><a href="javascript:void(0)" onclick="CustomerLeadImportFile()">@Localize.T("Import Leads")</a></li>
                                <li><a href="javascript:void(0)" onclick="AssignToUser()">@Localize.T("Assign Leads")</a></li>
                            </ul>

                        }

                    </div>
                }
            </div>
            <div class="dateviewed">
                @{Html.RenderAction("DateViewPartial", "Customer");}
            </div>
        </div>
    </div>

    <div class="ListContents custom-top">

    </div>
</div>


<div class="ListViewLoader">
    <div>
        <div class="lds-css ng-scope">
            <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
        </div>
    </div>
    @*<div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div>*@
</div>
<div class="displayNone">
    <a href="@(AppConfig.DomainSitePath)/Customer/AddCustomer?lead=true" class="addManufacturerMagnific">@Localize.T("Add New Lead")</a>
</div>
@using AppConfig = HS.Framework.Utils.AppConfig; 