@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.Customer

<script src="~/Content/Js/Site/Validation.js"></script>
<script src="~/Content/Select2/Select2.min.js"></script>
<script src="~/Content/Js/LeadTechcianSetup/LeadTechnicianSetup.js"></script>
<link href="~/Content/Css/LeadTechcianSetup/LeadTechcianSetup.css" rel="stylesheet" />

<div class="technical_call_header">
        @Localize.T("Technician Call Setup")
</div>
<div class="container-fluid">
    <div class="row">
        @Html.HiddenFor(x => x.Id, new { id = "id" })
       
        <div class="col-md-12">
            <div>
                <label>@Localize.T("Tech Call Request")</label>
            </div>
            <div>
                @Html.DropDownListFor(x => x.Installer, (List<SelectListItem>)ViewBag.InstallerList, new { @class = "style-textbox form-control InstallerList-select2", id = "Installer", datarequired = "true", style = "width:100%" })
                <label class="label hidden red absolute" rel="Installer">*@Localize.T("Please select one"). </label>
            </div>
        </div>
    </div>
</div>


<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn btn-save-techcall " id="btnSaveLeadTechnician"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
        </div>
    </footer>
</section>