@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.CustomerSnapshot

<style>
    .JoinHsLeft {
        width: 30%;
        float: left;
        font-weight: 600;
    }

    .JoinHsRight {
        width: 70%;
        float: left;
        
    }

    .JoinHs {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        /*border-bottom : 2px solid #ddd;*/
    }
</style>

<div class="JoinHs">

    @{
        if (Model != null)
        {
            <div class="JoinHsLeft">
                @Localize.T("Created On ")
            </div>

            <div class="JoinHsRight">
                @{
                    if (Model.Description != null)
                    {
                        @Model.Logdate.ToString("MM/dd/yy") @Localize.T("at") @Model.Logdate.ToString("hh:mm tt")
                    }
                    else
                    {
                        Localize.T("No Entry");
                    }
                }
            </div>
                    }
                    else
                    {
                        @Localize.T("Sorry no data available.")
                    }
    }



</div>