@model IEnumerable<HS.Entities.CustomerNote>
@{
    Layout = null;
    var CurrentLoggedInUser = ((HS.Web.UI.Helper.CustomPrincipal)(User));
}
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
<link href="~/Content/Css/CustomerDetails/CustomerAccountActivityDetails.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        //$('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div class="ci_block ci_margin_top">
    <div class="ci_header">
        @Localize.T("Notes Overview")
        @if (PermissionChekcer.IsPermitted(Permissions.LeadPermissions.LeadOverviewNoteAdd))
        {
            <button class="btn customer_contact_add green-tooltip green_button" data-toggle="tooltip" title="@Localize.T("Add Note")" onclick="OpenAddNote()"><i class="fa fa-plus"></i></button>
        }
    </div>
    <div class="ci_info lead_note_box_container">



        @foreach (var item in Model)
        {

            <div class="lead_note_box_details">
                <div class="lead_note_box_row note_text_color">


                    @if (item.IsFollowUp != true && item.IsShedule != true)
                    {
                        if (item.IsPin == true)
                        {
                            <div title="@Html.Raw(item.Notes)"> <i class="fa fa-sticky-note-o" style="color:#2CA01C;"></i> @Html.Raw(item.Notes)</div>
                        }
                        else
                        {
                            <div title="@Html.Raw(item.Notes)"> <i class="fa fa-sticky-note-o"></i> @Html.Raw(item.Notes)</div>
                        }

                    }
                    else
                    {
                        <div title="@item.Notes"><i class="fa fa-clock-o"></i> @item.Notes</div>
                    }


                </div>
                <div class="lead_note_box_row notes_padd">
                    <div class="lead_note_box_title">
                        <div class="note-color" style="background-color:#@item.Color">

                        </div>
                        <div>@item.NoteTypeValue</div>
                    </div>
                    <div class="lead_note_box_data">
                        On @item.CreatedDate.UTCToClientTime().ToString("MM/dd/yy hh:mm tt")
                        <div class="ld_note_profile" title="@item.empName">
                            <div class="user_profile_pic_div">
                                <img src="/EmpShow/W50H50X@(item.CreatedByUid)" />
                            </div>
                            @item.empName
                        </div>
                    </div>
                </div>

            </div>

        }

    </div>
</div>


