@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/AddFile")
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<script>
    var ArrayItemLead = [];
    var ChangeAccessGivenToByUser = function () {
        var url = "/Leads/ChangeAccessGivenToByUser";
        var param = JSON.stringify({ userid: $("#AccessAssignedPersons").val(), ArrayItemLead: ArrayItemLead })

        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                CloseRightToLeftModal();
            },

            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }

    $(document).ready(function () {

        $(".CheckItems").each(function () {
            if ($(this).is(':checked')) {
                ArrayItemLead.push($(this).val());
            }
        });
        
    });

    
</script>

<div class="add_file_header">@Localize.T("Assign Leads")</div>


<div class="container-fluid acsnp_inner">
    <div class="form-group clearfix">
        <span class="content-type">@Localize.T("Assigned To")</span>
        <div class="txt-form">
            @Html.DropDownList("AccessAssignedPersons", ViewBag.AccessAssignedPersons as List<SelectListItem>, new { @class = "form-control AccessAssignedPersons", datarequired = "true" })
        </div>
    </div>
</div>

<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn" id="SaveAssignedTo" onclick="ChangeAccessGivenToByUser()"><i class="fa fa-floppy-o"  aria-hidden="true"></i>@Localize.T(" Save")</button>
        </div>
    </footer>
</section>
