@{
    Layout = null;
}
@model HS.Entities.Customer
@using Localize = HS.Web.UI.Helper.LanguageHelper
<html>
<head>
    @Styles.Render("~/styles/AddLead")
    @Scripts.Render("~/scripts/AddLead")

    <script>
        var CreditScoreVal = '@Model.CreditScore';
        var MonthlyMonitoringFeeVal = '@Model.MonthlyMonitoringFee';
        var NoteVal = '@Model.Note';

        $(document).ready(function () {
            /*$("#State").select2({})
            $("#StatePrevious").select2({})
            $("#LeadSource").select2({})
            $("#Type").select2({})*/
        })
    </script>
    <style>
        .custom-hr-style2 {
            border-top: 1px solid #c7c1c1;
            width: 100%;
            margin: auto;
        }

        .sub-header {
            margin-top: 5px;
            font-size: 15px;
            border: 1px solid #ddd;
            font-weight: 600;
            background: #ddd;
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container contents">
        @Html.HiddenFor(x => x.Id, new { id = "id" })
        <div class="form-group clearfix">
            @{
                if (Model.Id > 0)
                {
                    <span class="add-customer-title">@Localize.T("Edit Lead")</span>
                }
                else
                {
                    <span class="add-customer-title">@Localize.T("Create New Lead")</span>
                }
            }
            
        </div>
        <div class="customer-information-left-div">
            @*<div class="form-group clearfix width-13p">
                <span class="span-style">@Localize.T("Title")</span>
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Title", datarequired = "true", id = "title" })
                <label rel="Name" class="label hidden red position-absolute">@Localize.T("Title Required")</label>
            </div>*@
            <div class="form-group clearfix width-33p">
                <span class="span-style">@Localize.T("First Name ")<span class="red">*</span></span>
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "First Name", datarequired = "true", id = "FirstName" })
                <label rel="Name" class="label hidden red position-absolute">*@Localize.T("First Name Required")</label>
            </div>

            <div class="form-group clearfix width-33p">
                <span class="span-style">@Localize.T("Middle Name ")</span>
                @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control", placeholder = "Middle Name", datarequired = "true", id = "MiddleName" })
                <label rel="Name" class="label hidden red position-absolute">*@Localize.T("Last Name Required")</label>
            </div>
            <div class="form-group clearfix width-33p">
                <span class="span-style">@Localize.T("Last Name ")<span class="red">*</span></span>
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Last Name", datarequired = "true", id = "LastName" })
                <label rel="Name" class="label hidden red position-absolute">*@Localize.T("Last Name Required")</label>
            </div>
           

            <div class="form-group clearfix width-50p">
                <span class="span-style">@Localize.T("Phone No")</span>
                @Html.TextBoxFor(x => x.PrimaryPhone, new { @class = "form-control", datarequired = "true", placeholder = "(xxx-xxx-xxxx)", id = "PrimaryPhone" })
                <label rel="Name" class="label hidden red position-absolute">*@Localize.T("Phone No ")</label>
            </div>

            <div class="form-group clearfix width-50p">
                <span class="span-style">@Localize.T("Date Of Birth")</span>
                @Html.TextBoxFor(x => x.DateofBirth, "{0:MM/dd/yy}", new { @class = "form-control datepicker", placeholder = "Date Of Birth", id = "DateofBirth" })
            </div>

            <div class="form-group clearfix width-100p">
                <span class="span-style">@Localize.T("Email Address")</span>
                @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control tess", datarequired = "true", placeholder = "Email Address", id = "EmailAddress" })
                <label rel="Name" class="label hidden red position-absolute">*@Localize.T("Email Address Required")</label>
            </div>
        </div>

        <div class="customer-information-right-div">
            <div class="form-group clearfix width-50p">
                <span class="span-style">@Localize.T("Business Name")</span>
                @Html.TextBoxFor(x => x.BusinessName, new { @class = "form-control", placeholder = "Business Name", id = "BusinessName" })
            </div>
            <div class="form-group clearfix width-50p">
                <span class="span-style">@Localize.T("Type")</span>     
                @Html.DropDownListFor(x => x.Type, (List<SelectListItem>)ViewBag.CustomerTypeList, new { @class = "form-control", id = "Type", style = "width:100%" })
            </div>  
            <div class="form-group clearfix width-50p">
                <span class="span-style">@Localize.T("Lead Source")</span>
                @Html.DropDownListFor(x => x.LeadSource, (List<SelectListItem>)ViewBag.SourceLead, new { @class = "form-control", placeholder = "Lead Source", id = "LeadSource", style = "width:100%"})
            </div>
            <div class="form-group clearfix width-50p">
                <span class="span-style">@Localize.T("Sales Person")</span>
                @Html.DropDownListFor(x => x.Soldby,(List<SelectListItem>)ViewBag.SalesPersonList, new { @class = "form-control select_search", placeholder = "Lead Source", id = "Soldby" })
            </div>
            <div class="form-group clearfix width-100p">
                <span class="span-style">@Localize.T("Social Security Number (required for credit check)")</span>
                @Html.TextBoxFor(x => x.SSN, new { @class = "form-control", placeholder = "(xxx-xx-xxxx)", id = "SSN" })
            </div>
        </div>

        <hr class="custom-hr-style2">

        <div class="tab-contents width-100p">

            <div class="customer-information-left-div">
                <span class="width-100p sub-header">
                    @Localize.T("Site Address")
                </span>

                <div class="form-group clearfix width-100p">
                    <span class="span-style">@Localize.T("Street")</span>
                    @Html.TextBoxFor(x => x.Street, new { @class = "form-control", placeholder = "Street Address", id = "Street" })
                </div>
                <div class="form-group clearfix width-33p">
                    <span class="span-style">@Localize.T("City")</span>
                    @Html.TextBoxFor(x => x.City, new { @class = "form-control", placeholder = "City", id = "City" })
                </div>
                @*<div class="form-group clearfix width-33p">
                    <span class="span-style">@Localize.T("State")</span>
                    @Html.TextBoxFor(x => x.State, new { @class = "form-control", placeholder = "i.e. NY", id = "State" })
                </div>*@

                <div class="form-group clearfix width-33p">
                    <span class="span-style">@Localize.T("State")</span>
                    @Html.DropDownListFor(x => x.State, (List<SelectListItem>)ViewBag.StateList, new { @class = "form-control", id = "State", style = "width:100%" })
                </div>

                <div class="form-group clearfix width-33p">
                    <span class="span-style">@Localize.T("Zip Code")</span>
                    @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control", placeholder = "Zip Code", id = "ZipCode" })
                </div>

                @*<div class="form-group clearfix width-50p">
                    <span class="span-style">@Localize.T("Country")</span>
                    @Html.TextBoxFor(x => x.Country, new { @class = "form-control", placeholder = "Country", id = "Country" })
                </div>*@
            </div>
            <div class="customer-information-right-div">
                <span class="width-100p sub-header">
                    @Localize.T("Previous Address (If needed for Credit Check)")
                </span>
                <div class="form-group clearfix width-100p">
                    <span class="span-style">@Localize.T("Street")</span>
                    @Html.TextBoxFor(x => x.StreetPrevious, new { @class = "form-control", placeholder = "Street Address" })
                </div>
                <div class="form-group clearfix width-33p">
                    <span class="span-style">@Localize.T("City")</span>
                    @Html.TextBoxFor(x => x.CityPrevious, new { @class = "form-control", placeholder = "City" })
                </div>
                @*<div class="form-group clearfix width-33p">
                    <span class="span-style">@Localize.T("State")</span>
                    @Html.TextBoxFor(x => x.StatePrevious, new { @class = "form-control", placeholder = "i.e. NY" })
                </div>*@
                <div class="form-group clearfix width-33p">
                    <span class="span-style">@Localize.T("State")</span>
                    @Html.DropDownListFor(x => x.StatePrevious, (List<SelectListItem>)ViewBag.StateList, new { @class = "form-control", id = "StatePrevious", style = "width:100%" })
                </div>
                <div class="form-group clearfix width-33p">
                    <span class="span-style">@Localize.T("Zip Code")</span>
                    @Html.TextBoxFor(x => x.ZipCodePrevious, new { @class = "form-control", placeholder = "Zip Code" })
                </div>

                @*<div class="form-group clearfix width-50p">
                    <span class="span-style">@Localize.T("Country")</span>
                    @Html.TextBoxFor(x => x.CountryPrevious, new { @class = "form-control", placeholder = "Country" })
                </div>*@
            </div>


            @*<ul class="nav nav-tabs">

                    <li class="active"><a data-toggle="tab" href="#previousAddress">@Localize.T("Previous Address")</a></li>
                    <li><a data-toggle="tab" href="#syncSSN">@Localize.T("Credit Score")</a></li>
                </ul>

                <div class="tab-content">*@

            @*<div id="previousAddress" class="tab-pane fade in active">
                    <div class="width-50p previousAddressDiv">

                    </div>
                </div>*@

            @*<div id="syncSSN" class="tab-pane fade">

                    <div class="form-group clearfix sync-credit-score-div">
                        <input type="submit" class="form-control sync-credit-score-btn" value="Get Credit Score" />
                    </div>
                </div>*@

            @*<div>

                </div>*@

        </div>
    </div>

    @*</div>*@

    <hr class="style1">

    <div class="SaveCancelDiv">
        <button class="btn btn-success" id="SaveCustomer"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
        <button class="btn btn-danger" id="Cancel"><i class="fa fa-times" aria-hidden="true"></i>@Localize.T(" Cancel")</button>
    </div>
    <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
        <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png" />
    </div>
</body>
</html>
