@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.Customer

@Styles.Render("~/styles/LeadVerifyInfo")
@Scripts.Render("~/scripts/LeadVerifyInfo")

<script>
    var GoogleMapAPIKey = '@ViewBag.GoogleMapAPIKey';
</script>

<link href="~/Content/Css/CityStateZipAutoFill.css" rel="stylesheet" />
<script src="~/Content/Js/Site/Validation.js"></script>
<script src="~/Content/Js/LeadAddressMap/LeadAddressMap.js"></script>
<script src="~/Content/Js/NumberFormet/NumberFormat.js"></script>
<script src="~/Content/Js/CityStateZipAutoFill.js"></script>
<style>
    .txt-check {
        vertical-align: middle;
        color: rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 14px;
        padding-left: 4px;
    }

    .width-36p {
        width: 36%;
        float: left;
    }
</style>
<script>
    var Sfname = '@Model.CustomerSpouse.FirstName';
    var Slname = '@Model.CustomerSpouse.LastName';
    var dat = new Date();
    var month = dat.getMonth() + 1;
    var datval = (month < 10 ? '0' : '') + month + '/' + (dat.getDate() < 10 ? '0' : '') + dat.getDate() + "/" + dat.getFullYear();
    $(document).ready(function () {
        $(".Streetdiv").hide();
        $(".zip-div").hide();
        $(".city-div").hide();
        $(".state-div").hide();
        if (Sfname == "" && Slname == "") {
            $("#SpouseDOB").val("");
            $("#leadspouse").attr('checked', false);
            $(".dob-div").addClass('hidden');
            $(".ssn_div").addClass('hidden');
        }
    })
</script>
<input type="hidden" value="@Model.CustomerSystemInfo.Id" id="sysid" />
<input type="hidden" value="@ViewBag.geo" id="Geo" />
<div class="custom_container">
    <input type="hidden" value="@Model.Id" id="id" />
    <input type="hidden" value="@Model.Latlng" id="latLng" />
    <input type="hidden" value="@Model.Type" id="Type" />
    <input type="hidden" value="@Model.CustomerSpouse.Id" id="SpouseId" />
    <input type="hidden" value="@Model.CustomerSpouse.AddedDate" id="SpouseAddedDate" />
    <div class="form-group">
        <div class="form-group clearfix">
            <div class="add_lead_info_container">
                <div class="add_lead_info_header">
                    @Localize.T("Account Information")
                </div>
                <div class="add_lead_info_details_block">
                    <div class="row">
                        <div class="col-md-3 bottom_pad_for_mobile lead_device_custom">
                            <div>
                                <span class="text-custom">@Localize.T("First Name")</span>
                            </div>
                            <div>
                                @Html.TextBoxFor(x => x.FirstName, new { @class = "style-textbox form-control", id = "FirstName", datarequired = "true", placeholder = "First Name", tabindex = "1" })
                                <label class="label hidden red absolute" rel="FirstName">*@Localize.T("Please enter first name"). </label>
                            </div>
                        </div>
                        <div class="col-md-3 bottom_pad_for_mobile lead_device_custom">
                            <div>
                                <span class="text-custom">@Localize.T("Last Name")</span>
                            </div>
                            <div>
                                @Html.TextBoxFor(x => x.LastName, new { @class = "style-textbox form-control", id = "LastName", datarequired = "true", placeholder = "Last Name", tabindex = "2" })
                                <label class="label hidden red absolute" rel="LastName">*@Localize.T("Please enter last name"). </label>
                            </div>
                        </div>
                        <div class="col-md-3 bottom_pad_for_mobile lead_device_custom">
                            <span class="text-custom">@Localize.T("Install Type")</span>
                            @Html.DropDownListFor(x => x.CustomerSystemInfo, ViewBag.LeadInstallType as List<SelectListItem>, new { @class = "form-control", id = "InstallType", tabindex = "3"})
                        </div>
                        <div class="col-md-3 bottom_pad_for_mobile lead_device_custom">
                            <div>
                                <span class="text-custom">@Localize.T("Business Name")</span>
                            </div>
                            <div>
                                @Html.TextBoxFor(x => x.BusinessName, new { @class = "style-textbox form-control", id = "BusinessName", placeholder = "Business Name", tabindex = "4" })
                            </div>
                        </div>
                    </div>
                    <div class="row margin_top_row">
                        <div class="col-md-3 bottom_pad_for_mobile lead_device_custom">
                            <div>
                                <span class="text-custom">@Localize.T("Street")</span>
                            </div>
                            <div>
                                @Html.TextBoxFor(x => x.Street, new { @class = "style-textbox form-control", id = "Street", placeholder = "Street", tabindex = "5" })
                            </div>
                        </div>
                        <div class="col-md-3 bottom_pad_for_mobile lead_device_custom">
                            <div>
                                <span class="text-custom">@Localize.T("Street Type")</span>
                            </div>
                            <div>
                                @Html.DropDownListFor(x => x.StreetType, ViewBag.LeadStreetType as List<SelectListItem>, new { @class = "style-textbox form-control", placeholder = "Street Type", tabindex = "6" })
                            </div>
                        </div>
                        <div class="col-md-3 bottom_pad_for_mobile lead_device_custom">
                            <div>
                                <span class="text-custom">@Localize.T("Apt/Suite")</span>
                            </div>
                            <div>
                                @Html.TextBoxFor(x => x.Appartment, new { @class = "style-textbox form-control", placeholder = "Apt/Suite", tabindex = "7" })
                            </div>
                        </div>
                        <div class="col-md-3 bottom_pad_for_mobile lead_device_custom">
                            <div>
                                <span class="text-custom">@Localize.T("Doing Business As (dba)")</span>
                            </div>
                            <div>
                                @Html.TextBoxFor(x => x.DBA, new { @class = "style-textbox form-control", placeholder = "DBA", tabindex = "8" })
                            </div>
                        </div>
                    </div>
                    <div class="row margin_top_row">
                        <div class="col-md-3 bottom_pad_for_mobile lead_device_custom">
                            <div>
                                <span class="text-custom">@Localize.T("Cross Street")</span>
                            </div>
                            <div>
                                @Html.TextBoxFor(x => x.CrossStreet, new { @class = "style-textbox form-control", placeholder = "Cross Street", tabindex = "9" })
                            </div>
                        </div>
                        <div class="col-md-3 bottom_pad_for_mobile">
                            <div class="width-60p bottom_pad_for_mobile CityState_insert_div lead_device_custom">
                                <span class="text-custom">@Localize.T("Zip")</span>
                                <input type="text" class="form-control style-textbox" onkeydown="CityStateSearchKeyDown(this,event)" onkeyup="CityStateSearchKeyUp(this,event)" value="@Model.ZipCode" id="ZipCode" placeholder="Zip Code" tabindex=10 />
                                <div class='tt-menu'>
                                    <div class='tt-dataset tt-dataset-autocomplete'> </div>
                                </div>
                            </div>
                            <div class="width-36p bottom_pad_for_mobile lead_device_custom">
                                <span class="text-custom" style="margin-left:10px;">@Localize.T("State")</span>
                                @Html.TextBoxFor(x => x.State, new { @class = "style-textbox form-control stateList-select2", id = "State", style = "width:100%;margin-left:10px;", tabindex = "11" })
                            </div>
                        </div>
                        <div class="col-md-3 bottom_pad_for_mobile lead_device_custom">
                            <span class="text-custom">@Localize.T("City")</span>
                            @Html.TextBoxFor(x => x.City, new { @class = "style-textbox form-control cityList-select2", id = "City", style = "width:100%;text-transform:capitalize", tabindex = "12" })
                        </div>
                        <div class="col-md-3 bottom_pad_for_mobile">
                            <span class="text-custom">@Localize.T("Site Phone")</span>
                            @Html.TextBoxFor(x => x.PrimaryPhone, new { @class = "style-textbox form-control input-phone-format", id = "PrimaryPhn", placeholder = "xxx-xxx-xxxx", dataformat = "phone", tabindex = "13" })
                            <label class="label hidden red absolute" rel="PrimaryPhone">*@Localize.T("Please enter Valid No."). </label>
                        </div>


                    </div>
                    <div class="row margin_top_row">

                        <div class="col-md-3 bottom_pad_for_mobile lead_device_custom">
                            <span class="text-custom">@Localize.T("Cell Phone")</span>
                            @Html.TextBoxFor(x => x.SecondaryPhone, new { @class = "style-textbox form-control input-phone-format", id = "SecondaryPhone", placeholder = "xxx-xxx-xxxx", dataformat = "phone", tabindex = "14" })
                            <label class="label hidden red absolute" rel="PrimaryPhone">*@Localize.T("Please enter Valid No."). </label>
                        </div>
                        <div class="col-md-3 lead_device_custom device_pad_bottom_lead">
                            <div>
                                <span class="text-custom">
                                    @Localize.T("Email")
                                    @if (Model.EmailVerified == true)
                                    { <span style="border: 2px solid #2ca01c; background-color: #2ca01c; height: 80px; border-radius: 30%; width: 80px; color: white;"> &#10004;</span> }
                                    else
                                    { <span style="border: 2px solid #d9534f; background-color: #d9534f; height: 80px; border-radius: 30%; width: 80px; color: white;"> &#10006;</span> }
                                </span>
                            </div>
                            <div>
                                @Html.TextBoxFor(x => x.EmailAddress, new { @class = "style-textbox form-control", id = "EmailAddress", datarequired = "true", placeholder = "Email Address", dataformat = "email", tabindex = "15" })
                                <label class="label hidden red absolute" style="bottom:-22px; left:0px" rel="EmailAddress">*@Localize.T("Please enter Your Valid Email Address"). </label>
                            </div>
                        </div>
                        <div class="col-md-3 clearfix">
                            <span class="text-custom">@Localize.T("Sales Person")</span>
                            @Html.DropDownListFor(x => x.Soldby, ViewBag.SalesPerson as List<SelectListItem>, new { @class = "style-textbox form-control", tabindex = "16" })
                        </div>
                        <div class="col-md-3 clearfix">
                            <span class="text-custom">@Localize.T("Status")</span>
                            @Html.DropDownListFor(x => x.Status, ViewBag.LeadStatus as List<SelectListItem>, new { @class = "style-textbox form-control", tabindex = "17" })
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-xs-12 lead_custom_top_margin">
                    <div class="add_lead_info_container margin_top_row">
                        <div class="add_lead_info_header">
                            @Localize.T("Please Select At Least One")
                        </div>
                        <div class="add_lead_info_details_block">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="text-custom lead-dob">
                                        @Localize.T("Date of Birth")
                                    </span>
                                    @Html.TextBoxFor(x => x.DateofBirth, "{0:MM/dd/yyyy}", new { @class = "form-control dob_lead", id = "DateofBirth", placeholder = "Date of Birth", tabindex = "13" })
                                    <span class="massage-dob-lead">
                                        @Localize.T("Age must be 18+")
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="text-custom">@Localize.T("Social Security Number (required for credit check)")</span>
                                    @Html.TextBoxFor(x => x.SSN, new { @class = "style-textbox form-control", id = "SSN", placeholder = "xxx-xx-xxxx", dataformat = "phone", tabindex = "14" })
                                    <label class="label hidden red absolute" rel="PrimaryPhone">Localize.T("Please enter Valid No."). </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6" style="padding-left: 0;">
                                        <label for="leadspouse" class="label-cbx">
                                            <input type="checkbox" id="leadspouse" @((Model.CustomerSpouse!=null && Model.CustomerSpouse.Id>0)? "checked":"") class="invisible checkitemfortext" autocomplete="off">
                                            <div class="checkbox">
                                                <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                    <polyline points="4 11 8 15 16 6"></polyline>
                                                </svg>
                                            </div>
                                        </label>
                                        <span class="txt-check">@Localize.T("SPOUSE ONLY")</span>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="leadpresent" class="label-cbx">
                                            <input type="checkbox" id="leadpresent" class="invisible checkitemfortext" autocomplete="off">
                                            <div class="checkbox">
                                                <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                    <polyline points="4 11 8 15 16 6"></polyline>
                                                </svg>
                                            </div>
                                        </label>
                                        <span class="txt-check">@Localize.T("Previous Address")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="padding-left:0;padding-right:0;">
                                    <div class="col-md-12" style="padding:0;">
                                        <div class="col-md-6 dob-div @((Model.CustomerSpouse!=null && Model.CustomerSpouse.Id>0)?" ":" hidden")">
                                            <span class="text-custom lead-dob">
                                                @Localize.T("First Name")
                                            </span>
                                            @Html.TextBoxFor(x => x.CustomerSpouse.FirstName, new { @class = "form-control", id = "SpouseFirstName", placeholder = "First Name", tabindex = "13" })
                                        </div>
                                        <div class="col-md-6 ssn_div @((Model.CustomerSpouse!=null && Model.CustomerSpouse.Id>0)?" ":" hidden")">
                                            <span class="text-custom">@Localize.T("Last Name")</span>
                                            @Html.TextBoxFor(x => x.CustomerSpouse.LastName, new { @class = "form-control", id = "SpouseLastName", placeholder = "Last Name", tabindex = "14" })
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="padding:0;">
                                        <div class="col-md-6 dob-div @((Model.CustomerSpouse!=null && Model.CustomerSpouse.Id>0)?" ":" hidden")" style="padding-top:10px;">
                                            <span class="text-custom lead-dob">
                                                @Localize.T("Date of Birth")
                                            </span>
                                            @if (Model.CustomerSpouse.DateofBirth != Convert.ToDateTime("01/01/0001"))
                                            {
                                            @Html.TextBoxFor(x => x.CustomerSpouse.DateofBirth, "{0:MM/dd/yyyy}", new { @class = "form-control", id = "SpouseDOB", placeholder = "Date of Birth", tabindex = "13" })
                                            }
                                            else
                                            {
                                            @Html.TextBox("SpouseDOB", "{0:MM/dd/yyyy}", new { @class = "form-control", placeholder = "Date of Birth", tabindex = "13" })
                                            }
                                            <span class="massage-dob-lead">
                                                @Localize.T("Age must be 18+")
                                            </span>
                                        </div>
                                        <div class="col-md-6 ssn_div @((Model.CustomerSpouse!=null && Model.CustomerSpouse.Id>0)?" ":" hidden")" style="padding-top:10px;">
                                            <span class="text-custom">@Localize.T("Social Security Number")</span>
                                            @Html.TextBoxFor(x => x.CustomerSpouse.SSN, new { @class = "style-textbox form-control", id = "SpouseSSN", placeholder = "xxx-xx-xxxx", tabindex = "14" })
                                            <label class="label hidden red absolute" rel="SpouseSSN">Localize.T("Please enter Valid No."). </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12 Streetdiv" style="padding:0;">
                                        <span class="text-custom">@Localize.T("Street")</span>
                                        @Html.TextBoxFor(x => x.StreetPrevious, new { @class = "style-textbox form-control", id = "StreetPrevious", placeholder = "Street", tabindex = "5" })
                                    </div>
                                    <div class="col-md-4 CityState_insert_div_previous zip-div" style="padding-left:0 !important;padding-right:0;padding-top:6px;">
                                        <span class="text-custom">@Localize.T("Zip")</span>
                                        <input type="text" class="form-control" onkeydown="CityStateSearchKeyDown(this,event)" onkeyup="CityStateSearchKeyUp(this,event)" value="@Model.ZipCodePrevious" id="ZipCodePrevious" placeholder="Zip Code" tabindex=10 />
                                        <div class='tt-menu'>
                                            <div class='tt-dataset tt-dataset-autocomplete'> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 city-div" style="padding-top:6px;">
                                        <span class="text-custom">@Localize.T("City")</span>
                                        @Html.TextBoxFor(x => x.CityPrevious, new { @class = "style-textbox form-control cityList-select2", id = "CityPrevious", style = "width:100%;text-transform:capitalize", placeholder = "City" })
                                    </div>
                                    <div class="col-md-4 state-div" style="padding-top:6px;">
                                        <span class="text-custom">@Localize.T("State")</span>
                                        @Html.TextBoxFor(x => x.StatePrevious, new { @class = "style-textbox form-control stateList-select2", id = "StatePrevious", style = "width:100%", tabindex = "9", placeholder = "State" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>*@
            @*<div class="row">
                <div class="col-md-12 style-h3">
                    <button type="button" class="btn right" id="btnVerify">@Localize.T("Save & Verify")</button>
                </div>
            </div>*@

        </div>
    </div>
</div>
