
@model List<HS.Entities.Lookup>
@{
    Layout = null;
    //int id = int.Parse(Request.QueryString["id"].ToString());
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/UserManagement/ChangeUserGroupPermission.css" rel="stylesheet" />
<script>
    
    $(document).ready(function () {
        $('.add_usergroup_container_smL').height(window.innerHeight - 50);
        $(".Arr_check").click(function(){
            var idval = $(this).attr('data-id');
            var checkval = $(this).prop('checked');
            $.ajax(
            {
                type: "POST",
                url: domainurl + "/Leads/SaveArrivalTime/",
                data: {
                    lid: idval,
                    checkval: checkval
                },
                success: function () {
                    //$('.inventory-popup').dialog('close'); 
                }
            });
        })
    })
</script>
<div class="container-fluid add_usergroup_container">

    <div class="add_acc_fee_head_container">
        <span class="add_acc_fee_head_text">@Localize.T("Change Arrival Time")</span>
    </div>
    <div class="form-group clearfix add_usergroup_container_smL">
        @foreach (var per in Model)
        {
            <label class="containercheck">
                <span class="tesst">@per.DisplayText</span>
                <input type="checkbox" class="Arr_check" data-id="@per.Id" @(per.IsActive.Value ? "checked=\"checked\"" : "") value="@per.Id" />
                <span class="checkmark"></span>
            </label>
            @*if (per.IsActive == true)
            {

            }
            else
            {
                <label class="containercheck">
                    <span class="tesst">@per.DisplayText</span>
                    <input type="checkbox" class="Arr_check" data-id="@per.Id" />
                    <span class="checkmark"></span>
                </label>
            }*@
        }
    </div>
</div>
