@model HS.Entities.LeadServiceSetupCustomModel
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig; 

@*<link href="~/Content/PikDay/css/pikaday.css" rel="stylesheet" />
    <script src="~/Content/PikDay/js/pikaday.js"></script>
    <script src="~/Content/PikDay/js/moment.js"></script>*@
<script src="~/Content/Js/NumberFormet/NumberFormat.js"></script>
<script src="~/Content/Js/Card/CardValidation.js"></script>
<link href="~/Content/Css/Lead/ContactTermPartial.css" rel="stylesheet" />
<script src="~/Content/Js/LeadSetup/ContractTermPartialSetup.js"></script>
@*<script src="~/Content/Js/Popups/AddLeadSetup.js"></script>*@

<script>
    $(document).ready(function () {
        Asofdatepicker = new Pikaday({ format: 'MM/DD/YYYY', field: $('#AsOfDate')[0] });
        $("#MonthlyMonitoringFee").val('@Model.CustomerModel.MonthlyMonitoringFee');
        $("#ActivationFee").val('@Model.CustomerModel.ActivationFee');
        $('#btnaddNewPayment').click(function () {
            $('.divaddnewpayment').removeClass('hidden');
            $('#btnPaymentClose').removeClass('hidden');
        });
        $('#btnPaymentClose').click(function () {
            $('.divaddnewpayment').addClass('hidden');
            $('#btnPaymentClose').addClass('hidden');
        });
        $("#btnPaymentSave").click(function () {
            if (SavePaymentInfoValidation()) {
                AddNewSavePaymentInfo();
            }
        });
        $(".delete_payment_method").click(function () {
            var id = $(this).attr('dataid');
            OpenConfirmationMessageNew("Confirm?", "Do you want to delete this payment method?", function () {
                DeleteLeadPaymentMethod(id);
            });
        });
    });
</script>

@*@Styles.Render("~/styles/LeadVerifyInfo")
    @Scripts.Render("~/scripts/LeadVerifyInfo")*@


<div class="contact_term_partial_window">
    <input id="step" type="hidden" value="3" />
    <input type="hidden" value="@ViewBag.leadcontractid" id="LeadContractId" />
    <input type="hidden" value="@ViewBag.leadcontractcustomerid" id="LeadContractCustomerID" />
    <input type="hidden" value="@ViewBag.leadcontractfirstname" id="LeadContractFirstName" />
    <input type="hidden" value="@ViewBag.leadcontractlastname" id="LeadContractLastName" />
    <input type="hidden" value="@ViewBag.leadcontractstreet" id="LeadContractStreet" />
    <input type="hidden" value="@ViewBag.leadcontractZipCode" id="LeadContractZip" />
    @Html.HiddenFor(x=>x.CustomerModel.PaymentMethod)
    @Html.HiddenFor(x => x.CustomerModel.ActivationFeePaymentMethod)
    <div class="row margin_top_row">
        <div class="col-sm-4 new_margin1">
            <span class="text-custom">@Localize.T("Contract Term")<span class="red">*</span></span>
            @Html.DropDownListFor(x => x.CustomerModel.ContractTeam, (List<SelectListItem>)ViewBag.ContractTerm, new { @class = "form-control", datarequired = "true" })
            @*<label class="label hidden red absolute" rel="ContractTeam">Localize.T("Please Select Contract Team"). </label>*@
        </div>
        <div class="col-sm-4 new_margin1">
            <span class="text-custom">@Localize.T("Monitoring Rate")<span class="red">*</span></span>
            @Html.DropDownListFor(x => x.CustomerModel.MonthlyMonitoringFee, (List<SelectListItem>)ViewBag.MonthlyMonitoringFee, new { @class = "form-control", datarequired = "true" })
            @*<label class="label hidden red absolute" rel="MonthlyMonitoringFee">Localize.T("Please Select Monitoring Fee"). </label>*@
        </div>
        <div class="col-sm-4 new_margin">
            <span class="text-custom">@Localize.T("Activation Fee Amount ")</span>
            @Html.DropDownListFor(x => x.CustomerModel.ActivationFee, (List<SelectListItem>)ViewBag.ActivationFee, new { @class = "form-control" })
        </div>
    </div>
    <div class="row margin_top_row">
        @*<div class="col-sm-4 new_margin">
            <span class="text-custom">@Localize.T("First Billing date") </span>
            @Html.TextBoxFor(x => x.CustomerModel.FirstBilling, new { @class = "form-control", placeholder = "First Billing date", @readonly = "readonly" })
        </div>*@
        <div class="col-sm-4 new_margin">
            <span class="text-custom">@Localize.T("Billing Day Of Month")</span>
            @Html.DropDownListFor(x => x.CustomerModel.BillDay, (List<SelectListItem>)ViewBag.BillingDay, new { @class = "form-control", datarequired = "true" })
             
        </div>
        <div class="col-sm-4 new_margin">
            <span class="text-custom">@Localize.T("Verbal Password")</span>
            @Html.TextBoxFor(x => x.CustomerModel.Passcode, new { @class = "form-control", placeholder = Localize.T("Verbal Password") })
        </div>
    </div>
    <div class="row margin_top_row payment-area new_margin1">
        <div class="col-sm-12">
            <button type="button" class="btn" id="btnaddNewPayment">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>  New Payment
            </button>
            <button type="button" id="btnPaymentClose" class="close hidden" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="divaddnewpayment hidden">
            <div class="col-sm-5 new_margin1 ctp_payment_div_left">
                <span class="text-custom">@Localize.T("Payment Method")</span>
                @Html.DropDownList("AddLeadPaymentMethod", (List<SelectListItem>)ViewBag.MMRPaying, new { @class = "form-control", id= "AddLeadPaymentMethod" })
                <div class="mmr_payment_method_detils">

                    @Html.HiddenFor(x => x.PaymentInfo.Id)

                    <div id="ACHForm">
                        <div class="li_info_block margin_top_row">
                            <div class="li_header">ACH Detail</div>
                            <div class="li_info_details_block">
                                <div class="li_info_details_row custom_row_style">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="text-custom">@Localize.T("Routing No :") </span>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(x => x.PaymentInfo.RoutingNo, new { @class = "form-control", id = "ACH_PaymentInfo_RoutingNo", datarequired = "true" })
                                        </div>
                                    </div>
                                </div>
                                <div class="li_info_details_row custom_row_style">
                                    <div class="row">
                                        <div class="col-md-12 payment_text">
                                            <span class="text-custom">@Localize.T("Account No :") </span>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(x => x.PaymentInfo.AcountNo, new { @class = "form-control", id = "ACH_PaymentInfo_AcountNo", datarequired = "true" })
                                        </div>
                                    </div>
                                </div>
                                <div class="li_info_details_row custom_row_style">
                                    <div class="row">
                                        <div class="col-md-12 payment_text">
                                            <span class="text-custom">@Localize.T("Bank Acc Type :") </span>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(x => x.PaymentInfo.BankAccountType, (List<SelectListItem>)ViewBag.BankAccountType, new { @class = "form-control ACH_PaymentInfo_BankAccountType", id = "ACH_PaymentInfo_BankAccountType", datarequired = "true" })
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="li_info_details_row custom_row_style">
                                    <div class="row">
                                        <div class="col-md-12 payment_text">
                                            <span class="text-custom">@Localize.T("eCheck Type :") </span>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(x => x.PaymentInfo.EcheckType, (List<SelectListItem>)ViewBag.ECheckType, new { @class = "form-control ach_e_check_type", id = "ACH_PaymentInfo_EcheckType", datarequired = "true" })
                                             
                                        </div>
                                    </div>
                                </div>
                                <div class="li_info_details_row custom_row_style">
                                    <div class="row">
                                        <div class="col-md-12 payment_text">
                                            <span class="text-custom">@Localize.T("Account Name :") </span>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(x => x.PaymentInfo.AccountName, new { @class = "form-control", id = "ACH_PaymentInfo_AccountName", datarequired = "true" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div id="CashForm">

                    </div>

                    <div id="CheckForm">
                        <div class="li_info_block margin_top_row">
                            <div class="li_header">@Localize.T("Check No.")</div>
                            <div class="li_info_details_block">
                                <div class="li_info_details_row custom_row_style">
                                    @Html.TextBoxFor(x => x.PaymentInfo.CheckNo, new { @class = "form-control", id = "Check_PaymentInfo_CheckNo", datarequired = "true" })
                                    <label class="label hidden red absolute" id="CardNumberError">*@Localize.T("Please enter Valid No."). </label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="CreditForm">
                        <div class="li_info_block margin_top_row">
                            <div class="li_header">Credit Card info</div>
                            <div class="li_info_details_block">
                                <div class="li_info_details_row custom_row_style">
                                    <div class="row">
                                        <div class="col-sm-3 pading_none">
                                            <input type="radio" id="Credittest1" name="radio-group" value="Master Card">
                                            <label for="Credittest1"><img class="payment-icon-image" src="~/Content/img/mastercard.png" /></label>
                                        </div>
                                        <div class="col-sm-3 pading_none">
                                            <input type="radio" id="Credittest2" name="radio-group" value="Visa Card">
                                            <label for="Credittest2"><img class="payment-icon-image" src="~/Content/img/visa.png" /></label>
                                        </div>
                                        <div class="col-sm-3 pading_none">
                                            <input type="radio" id="Credittest3" name="radio-group" value="AmericanExpress">
                                            <label for="Credittest3"><img class="payment-icon-image" src="~/Content/img/AmericanExpress.png" /></label>
                                        </div>
                                        <div class="col-sm-3 pading_none">
                                        </div>
                                    </div>
                                </div>
                                <div class="li_info_details_row custom_row_style">
                                    <div class="row">
                                        <div class="col-md-12 payment_text">
                                            <span class="text-custom">@Localize.T("Card Type :") </span>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(x => x.PaymentInfo.CardType, new { @class = "form-control", id = "CreditCard_PaymentInfo_CardType", datarequired = "true" })
                                            <label class="label hidden red absolute" id="CardNumberError">*@Localize.T("Please enter Valid No."). </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="li_info_details_row custom_row_style">
                                    <div class="row">
                                        <div class="col-md-12 payment_text">
                                            <span class="text-custom">@Localize.T("Card Number :") </span>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(x => x.PaymentInfo.CardNumber, new { @class = "form-control input-card-format", id = "CreditCard_PaymentInfo_CardNumber", placeholder = "xxxx-xxxx-xxxx-xxxx", dataformat = "card", datarequired = "true", maxlength = "19" })
                                            <label class="label hidden red absolute" id="CardNumber_Error">*@Localize.T("Please enter a valid card number."). </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="li_info_details_row custom_row_style">
                                    <div class="row">
                                        <div class="col-md-12 payment_text">
                                            <span class="text-custom">@Localize.T("Expiration Date :") </span>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(x => x.PaymentInfo.CardExpireDate, new { @class = "form-control ", placeholder = "MM/YY", id = "CreditCard_PaymentInfo_CardExpireDate", dataformat = "cardex", datarequired = "true" })
                                            <label class="label hidden red absolute" id="CardExpireError">*@Localize.T("Please enter Valid Date."). </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="li_info_details_row custom_row_style">
                                    <div class="row">
                                        <div class="col-md-12 payment_text">
                                            <span class="text-custom">@Localize.T("Secuity Code :") </span>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.PasswordFor(x => x.PaymentInfo.CardSecurityCode, new { @class = "form-control", id = "CreditCard_PaymentInfo_CardSecurityCode", dataformat = "security", datarequired = "true" })
                                            <label class="label hidden red absolute" rel="CardSecurityCode">*@Localize.T("Please enter Security Code."). </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="li_info_details_row custom_row_style">
                                    <div class="row">
                                        <div class="col-md-12 payment_text">
                                            <span class="text-custom">@Localize.T("Name on Card :") </span>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(x => x.PaymentInfo.AccountName, new { @class = "form-control", id = "CreditCard_PaymentInfo_AccountName", datarequired = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="DebitForm">
                        <div class="li_info_block margin_top_row">
                            <div class="li_header">Debit Card info</div>
                            <div class="li_info_details_block">
                                <div class="li_info_details_row custom_row_style">
                                    <div class="row">
                                        <div class="col-sm-3 pading_none">
                                            <input type="radio" id="Credittest1" name="radio-group" value="Master Card">
                                            <label for="Credittest1"><img class="payment-icon-image" src="~/Content/img/mastercard.png" /></label>
                                        </div>
                                        <div class="col-sm-3 pading_none">
                                            <input type="radio" id="Credittest2" name="radio-group" value="Visa Card">
                                            <label for="Credittest2"><img class="payment-icon-image" src="~/Content/img/visa.png" /></label>
                                        </div>
                                        <div class="col-sm-3 pading_none">
                                            <input type="radio" id="Credittest3" name="radio-group" value="AmericanExpress">
                                            <label for="Credittest3"><img class="payment-icon-image" src="~/Content/img/AmericanExpress.png" /></label>
                                        </div>
                                        <div class="col-sm-3 pading_none">
                                        </div>
                                    </div>
                                </div>
                                <div class="li_info_details_row custom_row_style">
                                    <div class="row">
                                        <div class="col-md-12 payment_text">
                                            <span class="text-custom">@Localize.T("Card Type :") </span>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(x => x.PaymentInfo.CardType, new { @class = "form-control", id = "DebitCard_PaymentInfo_CardType", datarequired = "true" })
                                            <label class="label hidden red absolute" id="CardNumberError">*@Localize.T("Please enter Valid No."). </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="li_info_details_row custom_row_style">
                                    <div class="row">
                                        <div class="col-md-12 payment_text">
                                            <span class="text-custom">@Localize.T("Card Number :") </span>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(x => x.PaymentInfo.CardNumber, new { @class = "form-control input-card-format", id = "DebitCard_PaymentInfo_CardNumber", placeholder = "xxxx-xxxx-xxxx-xxxx", dataformat = "card", datarequired = "true" ,maxlength = "19" })
                                            <label class="label hidden red absolute" id="CardNumberError">*@Localize.T("Please enter Valid No."). </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="li_info_details_row custom_row_style">
                                    <div class="row">
                                        <div class="col-md-12 payment_text">
                                            <span class="text-custom">@Localize.T("Expiration Date :") </span>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(x => x.PaymentInfo.CardExpireDate, new { @class = "form-control ", placeholder = "MM/YY", id = "DebitCard_PaymentInfo_CardExpireDate", dataformat = "cardex", datarequired = "true" })
                                            <label class="label hidden red absolute" id="CardExpireError">*@Localize.T("Please enter Valid Date."). </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="li_info_details_row custom_row_style">
                                    <div class="row">
                                        <div class="col-md-12 payment_text">
                                            <span class="text-custom">@Localize.T("Secuity Code :") </span>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.PasswordFor(x => x.PaymentInfo.CardSecurityCode, new { @class = "form-control", id = "DebitCard_PaymentInfo_CardSecurityCode", dataformat = "security", datarequired = "true" })
                                            <label class="label hidden red absolute" rel="CardSecurityCode">*@Localize.T("Please enter Security Code."). </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="li_info_details_row custom_row_style">
                                    <div class="row">
                                        <div class="col-md-12 payment_text">
                                            <span class="text-custom">@Localize.T("Name on Card :") </span>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(x => x.PaymentInfo.AccountName, new { @class = "form-control", id = "DebitCard_PaymentInfo_AccountName", datarequired = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="InvoiceForm">

                        <div class="li_info_block margin_top_row">
                            <div class="li_header">@Localize.T("Invoice No.")</div>
                            <div class="li_info_details_block">
                                <div class="li_info_details_row custom_row_style">
                                    <input type="text" />
                                    <label class="label hidden red absolute" id="CardNumberError">*@Localize.T("Please enter Valid No."). </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-7 new_margin1 ctp_payment_div_right">
                <span class="text-custom">Payment For</span><br />
                <span class="ctp_payment_div_chk">
                    <input type="checkbox" @(Model.PaymentInfoList.Where(x => x.PayFor == "MMR").Count() == 0 ? "checked" : "") name="PaymentFor" id="PaymentForMMr" value="MMR"> @Localize.T("MMR")
                    <input type="checkbox" @(Model.PaymentInfoList.Where(x => x.PayFor == "First Month").Count() == 0 ? "checked" : "") checked name="PaymentFor" id="PaymentForFirstMonth" value="First Month"> @Localize.T("First Month")
                    <input type="checkbox" @(Model.PaymentInfoList.Where(x => x.PayFor == "Activation Fee").Count() == 0 ? "checked" : "") checked name="PaymentFor" id="PaymetForActivationFee" value="Activation Fee"> @Localize.T("Activation Fee")
                    <input type="checkbox" @(Model.PaymentInfoList.Where(x => x.PayFor == "Equipment").Count() == 0 ? "checked" : "") checked name="PaymentFor" id="PaymentForEquipment" value="Equipment"> @Localize.T("Equipment")
                </span>
                <button type="button" class="btn right" id="btnPaymentSave">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> @Localize.T("Save")
                </button>


                <div class="txt_form_add_file">
                    <div class="col-md-12 padding-left-0">
                        <img id="UploadCustomerFileBtn" class="cursor-pointer" src="~/Content/Icons/blank_thumb_file.png" />
                        <div class="" style="margin-top: 15px;">
                            <span id="UploadSuccessMessage" class="hidden">@Localize.T("File Uploaded Successfully..!")</span>
                        </div>
                    </div>

                    <div class="col-md-12 progress-container file-progress" style="display:none; padding-left:0; padding-right:0; margin-top: 15px;">
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-success" style="width:0%">
                                <span> 0%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hidden">
                    <input type="hidden" id="UploadedPath" value="" />
                    <input type="file" name="CustomerFile" class="hidden" id="UploadedFile" />
                </div>

            </div>
        </div>
    </div>

    <div class="margin-top-20">
        @if (Model.PaymentInfoList.Count() > 0)
        {
            <div class="col-md-12">
                <table id="TblPaymetList">
                    <thead class="table-head-border eg_contact_hide">
                        <tr>
                            <th class="thead-th-style">
                                @Localize.T("Payment Method")
                            </th>
                            <th class="thead-th-style">
                                @Localize.T("Payment For")
                            </th>
                            <th class="thead-th-style">
                                @Localize.T("Attachment")
                            </th>
                            <th>
                                @Localize.T("Action")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.PaymentInfoList.Count() > 0)
                        {
                            foreach (var item in Model.PaymentInfoList)
                            {
                                <tr class="tr-style">
                                    <td class="table-body-td-style eg_contact_header_row" valign="top">
                                         
                                        <span>@item.PaymentMethod</span>
                                    </td>
                                    <td class="table-body-td-style eg_contact_header_row" valign="top">
                                         
                                        <span>@item.PayFor</span>
                                    </td>

                                    <td class="table-body-td-style eg_contact_header_row" valign="top">
                                        @if (!string.IsNullOrWhiteSpace(item.FileName))
                                        {
                                            @*<img style="max-height:100px;max-width:100px;" src="@item.FileName" />*@

                                            <a target="_blank" class="cus-anchor" href="@item.FileName">@Localize.T("Attachment")</a>
                                        }
                                    </td>
                                    <td>
                                        <button class="style_btn_delete btn-danger delete_payment_method" dataid="@item.Id" title="@Localize.T("Delete")">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

</div>






