@model HS.Entities.EmergencyContact
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;

@Styles.Render("~/styles/LeadVerifyInfo")
@Scripts.Render("~/scripts/LeadVerifyInfo")
<link href="~/Content/Css/Lead/EmergencyContactPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Lead/PackagePartial.css" rel="stylesheet" />
<script>
    var LeadIdEmgList = '@ViewBag.LeadCustomerID';
    var LoadEmergencyContactList = function () {
        $("#EmergencyContactList").load(domainurl + "/Leads/EmergencyContactListPartial?LeadId=" + LeadIdEmgList);
    }
    var LoadAddNewEmergencyContactDiv = function () {
        $("#AddNewEmgContactPartial").show();
        $("#AddNewEmgContactPartial").load(domainurl + "/Leads/AddEmergencyContact?LeadId=" + LeadIdEmgList + "&EmgId=0");
    }
    var EditEmergencyContactDiv = function (emgId) {
        $("#AddNewEmgContactPartial").show();
        $("#AddNewEmgContactPartial").load(domainurl + "/Leads/AddEmergencyContact?LeadId=" + LeadIdEmgList + "&EmgId=" + emgId);
    }
    var HideNewEmgContactPartial = function () {
        $("#AddNewEmgContactPartial").hide();
    }
    $(document).ready(function () {
        LoadEmergencyContactList();
        $("#btnAddNewEmgContact").click(function () {
            LoadAddNewEmergencyContactDiv();
        });
    });
</script>
<div>
    <input id="step" type="hidden" value="4" />
    <input type="hidden" value="@ViewBag.LeadCustomerID" id="LeadCustomerID" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 clearfix right_side_pad">
                <button type="button" class="btn" id="btnAddNewEmgContact">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
                </button>
            </div>

            <div class="col-lg-12" id="AddNewEmgContactPartial">

            </div>
            <div id="EmergencyContactList">

            </div>
        </div>
    </div>
    @*<div class="row btn-top">
            <div class="col-sm-12 right">
                <button type="button" class="btn" id="btnEmergencySavandNex">@Localize.T("Save & Next")</button>
            </div>
        </div>*@
</div>



