@model List<HS.Entities.EmergencyContact>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/UserList")
<link href="~/Content/Css/Lead/EmergencyContactListPartial.css" rel="stylesheet" />

<script>

    var Is_LeadEmergencyDetail_Summary = false;
    var EmrLeadId = '@ViewBag.EmrLeadId';
    var emerarr = [];
    var UpdateEmergencyContactList = function () {
        var url = "/Customer/UpdateEmergencyContactList";
        $(".Has_Id").each(function () {
            console.log("hlww");
            emerarr.push({
                Id: $(this).attr('data-value'),
                CompanyId: $(this).attr('data-com'),
                CustomerId: $(this).attr('data-cus'),
                FirstName: $(this).attr('data-first'),
                LastName: $(this).attr('data-last'),
                RelationShip: $(this).attr('data-rela'),
                Phone: $(this).attr('data-phone'),
                HasKey: $(this).attr('data-key'),
                PhoneType: $(this).attr('data-type'),
                OrderBy: $(this).attr('data-order')
            })
        })
        $.ajax({
            type: "POST",
            ajaxStart: function () { },
            url: url,
            data: JSON.stringify({ emerarr: emerarr }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                // LoadInventory(true);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        })
    }
    var DeleteEmCon = function (DeleteId) {
        OpenConfirmationMessageNew("Confirm?", "Do you want to delete this contact?", function () {
            DeleteEmconById(DeleteId);
        })
    }
    var DeleteEmconById = function (EmConId) {


        $.ajax({
            url: domainurl + "/Customer/DeleteEmergencyContact",
            data: { Id: EmConId },
            type: "Post",
            dataType: "Json",
            success: function (data) {
                if (data.result) {
                    OpenSuccessMessageNew("Success!", data.message, function () {
                        LoadEmergencyContactList();
                    })
                } else {
                    OpenErrorMessageNew("Error!", data.message)
                }
            }
        });
    }

    $(document).ready(function () {
        $(".edit-Emg-Contact").click(function () {
            var EmgContactId = $(this).attr('id-val');
            EditEmergencyContactDiv(EmgContactId);
        });
        $("#TblEmergencyContactList tbody").sortable({
            update: function () {
                var i = 1;
                $("#TblEmergencyContactList tbody tr td.Has_Id").each(function () {
                    $(this).attr('data-order', i);
                    i += 1;
                });
                UpdateEmergencyContactList();
            }
        }).disableSelection();
    });

    var IsSummary =  '@ViewBag.IsSummary'
</script>

<div class="">

    <table id="TblEmergencyContactList" class="emerg_cont_table">
        <thead class="table-head-border eg_contact_hide">
            <tr>
                <th class="thead-th-style">
                    @Localize.T("Name")
                </th>
                @*<th class="thead-th-style">
                        @Localize.T("Cross Street")
                    </th>*@
                <th class="thead-th-style">
                    @Localize.T("Relationship")
                </th>
                <th class="thead-th-style">
                    @Localize.T("Phone No")
                </th>
                @if (ViewBag.HasKey == "true")
                {
                    <th class="thead-th-style">
                        @Localize.T("Has Key")
                    </th>
                }
                @*@if (ViewBag.IsSummary == true)
                {
                    <th class="thead-th-style hidden">
                        @Localize.T("Action")
                    </th>
                }
                else
                {*@

                    <th class="thead-th-style">
                        @Localize.T("Action")
                    </th>
               @* }*@
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                foreach (var EmgContactList in Model)
                {
                    <tr class="tr-style emergency_contact_row_top">
                        <td class="Has_Id hidden" data-value="@EmgContactList.Id" data-com="@EmgContactList.CompanyId" data-cus="@EmgContactList.CustomerId" data-first="@EmgContactList.FirstName" data-last="@EmgContactList.LastName" data-rela="@EmgContactList.RelationShip" data-phone="@EmgContactList.Phone" data-key="@EmgContactList.HasKey" data-type="@EmgContactList.PhoneType" data-order="@EmgContactList.OrderBy"></td>
                        <td class="table-body-td-style eg_contact_header_row" valign="top">
                            <label class="eg_contact_device_header">@Localize.T("Name")</label>
                            <a class="edit-Emg-Contact" id-val="@EmgContactList.Id">@EmgContactList.FirstName @EmgContactList.LastName</a>
                        </td>
                        @*<td class="table-body-td-style eg_contact_header_row" valign="top">
                                <label class="eg_contact_device_header">@Localize.T("Cross Street")</label>
                                @if (EmgContactList.CrossSteet != "")
                                {
                                    <span> @EmgContactList.CrossSteet </span>
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </td>*@
                        <td class="table-body-td-style eg_contact_header_row" valign="top">
                            <label class="eg_contact_device_header">@Localize.T("Relationship")</label>
                            @if (EmgContactList.RelationShip != "")
                            {
                                <span> @EmgContactList.RelationShip </span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td class="table-body-td-style eg_contact_header_row" valign="top">
                            <label class="eg_contact_device_header">@Localize.T("Phone No")</label>
                            @if (EmgContactList.Phone != "")
                            {
                                <span>@(string.IsNullOrWhiteSpace(EmgContactList.PhoneType) ? "" : "(" + @EmgContactList.PhoneType + ")") @HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(EmgContactList.Phone)</span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                            @if (ViewBag.HasKey == "true")
                            {
                            <td class="table-body-td-style eg_contact_header_row" valign="top">
                                <label class="eg_contact_device_header">@Localize.T("Verbal Password")</label>
                                @if (EmgContactList.HasKey != "")
                                {
                                    if (EmgContactList.HasKey == "True")
                                    {
                                        <span>@Localize.T("Yes")</span>
                                    }
                                    else
                                    {
                                        <span>@Localize.T("No")</span>
                                    }
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </td>

                        }
                            @*@if (ViewBag.IsSummary == true)
                            {
                                <td class="table-body-td-style eg_contact_header_row    " valign="top">
                                    <label class="eg_contact_device_header">@Localize.T("Action")</label>
                                    <a class="" data-toggle="tooltip" title="" onclick="DeleteEmCon('@EmgContactList.Id')" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                </td>
                            }
                            else
                            {*@
                                <td class="table-body-td-style eg_contact_header_row" valign="top">
                                    <label class="eg_contact_device_header">@Localize.T("Action")</label>
                                    <a class="" data-toggle="tooltip" title="" onclick="DeleteEmCon('@EmgContactList.Id')" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                </td>
                           @* }*@
                        </tr>
                    }
                }
        </tbody>
    </table>


</div>
