@model HS.Entities.AddLeadEquipment
@{
    Layout = null;
    double TotalPrice = 0;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/Lead/PackagePartial.css" rel="stylesheet" />
<link href="~/Content/Css/LeadEquipment/LeadEquipment.css" rel="stylesheet" />
<link href="~/Content/Css/LeadEquipment/LeadSetupEquipments.css" rel="stylesheet" />
<script src="~/Content/Js/LeadEquipment/LeadEquipment.js"></script>


<script>
    var EquipmentPartialLeadId = @ViewBag.EquipmentPartialLeadId;
</script>
 
<div class="">
    <input id="step" type="hidden" value="2" />
    <table class="LeadEquipmentTab" id="LeadEquipmentTab">
        <thead class="header_text_style">
            <tr>
                <th class="thead-th-style1 tab-index">
                    <span>

                    </span>
                </th>
                <th class="thead-th-style1 tab-Product">
                    <span>
                        @Localize.T("Product / Service")
                    </span>
                </th>
                <th class="thead-th-style2 tab-Quantity">
                    <span>
                        @Localize.T("Quantity")
                    </span>
                </th>
                <th class="thead-th-style2 tab-Rate">
                    <span>
                        @Localize.T("Rate")
                    </span>
                </th>
                <th class="thead-th-style2 tab-Amount">
                    <span>
                        @Localize.T("Retail Price")
                    </span>
                </th>
                <th class="thead-th-style2 tab-Amount">
                    <span>
                        @Localize.T("Your Cost")
                    </span>
                </th>
                <th class="thead-th-style2 tab-Action">

                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.LeadCustomerAppointmentEquipmentList != null)
            {
                foreach (var item in Model.LeadCustomerAppointmentEquipmentList)
                {
                    <tr data-id="@item.EquipmentId" class="HasItem">
                        <td valign="top"></td>
                        <td valign="top">
                            <input type="text" class="ProductName" value="@item.EquipmentServiceName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                            <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                            <span class="spnProductName">@item.EquipmentServiceName</span>
                        </td>
                        <td valign="top">
                            <input type="number" value="@item.Quantity" class="txtProductQuantity" />
                            <span class="spnProductQuantity">@item.Quantity</span>
                        </td>
                        <td valign="top">
                            <input type="text" class="txtProductRate" value="@item.UnitPrice" />
                            <span class="spnProductRate">@item.UnitPrice</span>
                        </td>
                        <td valign="top">
                            <input type="text" class="txtProductAmount" value="@item.TotalPrice" />
                            <span class="spnProductAmount">@item.TotalPrice</span>
                        </td>
                        <td valign="top">
                            <input type="text" class="txtYourAmount" value="@item.TotalPrice" />
                            <span class="spnYourAmount">@item.TotalPrice</span>
                        </td>
                        <td valign="top" class="tableActions">
                            <i class="fa fa-trash-o" aria-hidden="true" title="@Localize.T("Delete")"></i>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td valign="top"></td>
                    <td valign="top">
                        <input type="text" class="ProductName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                        <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                        <span class="spnProductName"></span>
                    </td>
                    <td valign="top">
                        <input type="number" class="txtProductQuantity" />
                        <span class="spnProductQuantity"></span>
                    </td>
                    <td valign="top">
                        <input type="text" class="txtProductRate" />
                        <span class="spnProductRate"></span>
                    </td>
                    <td valign="top">
                        <input type="text" class="txtProductAmount" />
                        <span class="spnProductAmount"></span>
                    </td>
                    <td valign="top">
                        <input type="text" class="txtYourAmount" />
                        <span class="spnYourAmount"></span>
                    </td>
                    <td valign="top" class="tableActions">
                        <i class="fa fa-trash-o" aria-hidden="true" title="@Localize.T("Delete")"></i>
                    </td>
                </tr>
                <tr>
                    <td valign="top"></td>
                    <td valign="top">
                        <input type="text" class="ProductName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                        <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                        <span class="spnProductName"></span>
                    </td>
                    <td valign="top">
                        <input type="number" onkeydown='OthersKeyDown(this,event)' class="txtProductQuantity" />
                        <span class="spnProductQuantity"></span>
                    </td>
                    <td valign="top">
                        <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductRate" />
                        <span class="spnProductRate"></span>
                    </td>
                    <td valign="top">
                        <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductAmount" />
                        <span class="spnProductAmount"></span>
                    </td>
                    <td valign="top">
                        <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtYourAmount" />
                        <span class="spnYourAmount"></span>
                    </td>
                    <td valign="top" class="tableActions">
                        <i class="fa fa-trash-o" aria-hidden="true" title="@Localize.T("Delete")"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="existing-equipments">
    @if (Model.PackageEquipmentsList != null && Model.PackageEquipmentsList.Count > 0)
    {
        <div class="leadsetup_equip_header head_space">
            @Localize.T("Setup Equipment")
        </div>
        <table class="Setup-Equipments-Table">
            <thead>
                <tr>
                    <th>
                        @Localize.T("Product / Service")
                    </th>
                    <th>
                        @Localize.T("Quantity")
                    </th>
                    <th>
                        @Localize.T("Rate")
                    </th>
                    <th>
                        @Localize.T("Retail Price")
                    </th>
                    <th>
                        @Localize.T("Your Price")
                    </th>
                    <th style="width:5%;">

                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.PackageEquipmentsList)
                {
                    <tr class="Equipment_@item.Id">
                        <td>
                            @item.EquipmentServiceName
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            <span>
                                $@String.Format("{0:0.00}", item.EquipmentOldPrice)
                            </span>
                        </td>
                        <td>
                            @{
                                var OldPrice = item.Quantity * item.EquipmentOldPrice;

                                @*var OldPrice = item.Quantity * item.UnitPrice;*@

                                if (OldPrice > item.TotalPrice)
                                {
                                    TotalPrice += OldPrice;

                                        <span class="retail_price">$@String.Format("{0:0.00}", OldPrice)</span> @*<span> @String.Format("{0:0.00}", @item.TotalPrice) </span>*@
                                }
                                else
                                {
                                    TotalPrice += item.TotalPrice;

                                    <span class="">$@String.Format("{0:0.00}", @item.TotalPrice) </span>
                                }

                            }
                        </td>
                        <td>
                            <span class="total_price">$@String.Format("{0:0.00}", @item.TotalPrice)</span>
                        </td>
                        <td valign="top" class="tableActions">
                            @if (item.IsDeletable)
                            {
                                <i class="fa fa-trash-o cursor-pointer" dataid="@item.Id" pdc-id="@item.PDCId" appoinmentId="@item.AppointmentId" equipmentId="@item.EquipmentId" aria-hidden="true"></i>
                            } 
                        </td> 
                    </tr>
                }
                <tr class="BottomTotalTr">
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td class="retail-total">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@String.Format("{0:0.00}", TotalPrice)</td>
                    <td class="sub-total">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@String.Format("{0:0.00}", Model.PackageEquipmentsList.Sum(x => x.TotalPrice))</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        }
</div>
