@{
    Layout = null;
}
@model HS.Entities.CreateInvoice
@using System.Collections;
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<html>
<head>
</head>
@{ string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(Model.Invoice.CompanyId);

    Hashtable datatemplate = new Hashtable();
    datatemplate.Add("ComapnyName", Model.CompanyName);
    datatemplate.Add("Address", Model.CompanyAddress);
    datatemplate.Add("Street", Model.CompanyStreet);
    datatemplate.Add("City", Model.CompanyCity);
    datatemplate.Add("State", Model.CompanyState);
    datatemplate.Add("Zip", Model.CompanyZip);
    datatemplate.Add("CompanyPhone", HS.Web.UI.Helper.LabelHelper.PhoneNumFormat.Format(Model.PhoneNum));
    datatemplate.Add("EmailAddress", Model.CompanyEmail);
    datatemplate.Add("WebAddress", Model.CompanyWebsite);
    datatemplate.Add("CustomerName", Model.CustomerName);
    datatemplate.Add("CustomerStreet", Model.CustomerStreet);
    datatemplate.Add("CustomerCity", Model.CustomerCity);
    datatemplate.Add("CustomerState", Model.CustomerState);
    datatemplate.Add("CustomerZip", Model.CustomerZipCode);
    datatemplate.Add("CustomerAccountNo", Model.CustomerNo);
    string CompanyInfo = HS.Web.UI.Helper.LabelHelper.ParserHelper(Model.CompanyInfo, datatemplate);
    string CustomerInfo  = HS.Web.UI.Helper.LabelHelper.ParserHelper(Model.CustomerInfo, datatemplate);
}
<body style="font-family:sans-serif;">
    <div class="container">
        <div class="tblCompanyInfo">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td><br /></td></tr>
                    <tr>
                        <td style="width:150px;vertical-align:top;">
                            @if (!string.IsNullOrWhiteSpace(Model.CompanyLogo))
                            {
                                <img src="@Model.CompanyLogo" style="width:80px; padding-left:40px;" /><br />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:40px;width:60%;">
                            @Html.Raw(CompanyInfo)
                            @*<h2 style="margin-bottom:0px;">@Model.CompanyName</h2>
                                @if (!string.IsNullOrWhiteSpace(Model.CompanyAddress))
                                {
                                    if (!string.IsNullOrWhiteSpace(Model.CompanyStreet))
                                    {
                                        <span>@Model.CompanyAddress, @Model.CompanyStreet</span><br />
                                    }
                                    else
                                    {
                                        <span>@Model.CompanyAddress</span><br />
                                    }
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.companyStreetInfo))
                                {
                                    <span>@Model.companyStreetInfo</span><br />
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.CompanyEmail))
                                {
                                    <span>@Model.CompanyEmail</span><br />
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.PhoneNum))
                                {
                                    <span>@Model.PhoneNum</span>
                                }*@
                        </td>
                        <td style="float:right; vertical-align:top;width:40%;">
                            @if (Model.ShowCode3InvoiceStaticBox)
                            {
                                <div style="width:350px; float:right; text-align:right; padding:10px; box-sizing:border-box; margin-top:10px; font-size:18px;">
                                    Burg License: B10531001
                                </div>
                            }
                            @if (Model.Invoice.InstallDate.HasValue)
                            {
                                <span><b>INSTALL DATE:</b> @Model.Invoice.InstallDate.Value.ToString("MM/dd/yy")</span><br /><br />

                            }
                            @if (!string.IsNullOrWhiteSpace(Model.Invoice.EstimateTerm) && Model.Invoice.EstimateTerm != "Please Select One" && Model.Invoice.EstimateTerm != "-1")
                            {
                                <span><b>PAYMENT TERMS:</b> @Model.Invoice.EstimateTerm</span><br /><br />
                            }

                            @if (!string.IsNullOrWhiteSpace(Model.Invoice.FinanceCompany) && Model.Invoice.FinanceCompany != "-1" && Model.Invoice.FinanceCompany != "Please Select One" && Model.Invoice.EstimateTerm == "Financing Option")
                            {
                                <span><b>FINANCE COMPANY:</b> @Model.Invoice.FinanceCompany</span>
                            }

                        </td>

                    </tr>
                    <tr><td><br /><br /></td></tr>
                </tbody>
            </table>
        </div>
        @*<h2 style="color:#36aed4">ESTIMATE</h2>
            <div style="width:100%;">
                <div style="width:70%; float:left;">
                    <span><b>Address</b></span><br />
                    <span>@Model.Invoice.BillingAddress</span>
                </div>*@
        <div class="tblEstimateInfo">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:30%; padding-left:40px;">
                            @if (string.IsNullOrWhiteSpace(Model.Invoice.BillingAddress))
                            {
                                <b>BILL TO</b>
                                @Html.Raw(CustomerInfo)
                            }
                            else
                            {
                                <b>BILL TO</b>
                                @Html.Raw(Model.Invoice.BillingAddress)
                            }
                        </td>
                        <td style="width:30%">
                            @if (Model.ShowInvoiceShippingAddress && !string.IsNullOrWhiteSpace(Model.Invoice.ShippingAddress))
                            {
                                <b>SHIP TO</b><br />
                                @Html.Raw(Model.Invoice.ShippingAddress)
                            }
                        </td>
                        <td style="width:40%">
                            <p style="background-color:#4f90bb;height:30px;padding-top:10px;padding-left:10px; color:white"><b>ESTIMATE</b> @Model.Invoice.InvoiceId</p>
                            @if (Model.Invoice.InvoiceDate.HasValue)
                            {
                                <p style="background-color:#4f90bb;height:30px;padding-top:10px;padding-left:10px;color:white"><b>DATE</b> @Model.Invoice.InvoiceDate.Value.ToString("MM/dd/yy")</p>
                            }
                            @if (Model.Invoice.DueDate.HasValue)
                            {
                                <p style="background-color:#4f90bb;height:30px;padding-top:10px;padding-left:10px;color:white"><b>EXPIRATION DATE</b> @Model.Invoice.DueDate.Value.ToString("MM/dd/yy")</p>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <br />
        <div style="margin-top:20px;width:100%;">
            <table style="width:100%; border-collapse:collapse">
                <thead>
                    <tr style="background-color:#4f90bb; color:white;width:100%; border:1px solid #4f90bb;">
                        <th style="width:60.666%;text-align:left;padding:5px 0px 5px 40px; border-right:1px solid #fff;">
                            @*<p style="text-align:left;padding-left:40px">ACTIVITY
                                <span style="padding-left:355px;">QTY</span>
                                <span style="padding-left:156px;">RATE</span>
                                <span style="padding-left:156px;">AMOUNT</span>
                                </p>*@
                            ACTIVITY
                        </th>
                        <th style="width:11.111%; padding:5px 0px; border-right:1px solid #fff;">QTY</th>
                        <th style="width:13.111%; padding:5px 0px; border-right:1px solid #fff;">RATE</th>
                        <th style="width:15.111%; padding:5px 0px;">AMOUNT</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.InvoiceDetailList)
                    {
                        <tr style="border-bottom:1px solid #ccc;">
                            <td style="padding:5px 0px 5px 40px;">
                                @if (!string.IsNullOrWhiteSpace(item.EquipName))
                                {
                                    if (!string.IsNullOrEmpty(item.EquipmentFile.Filename))
                                    {
                                        <img src="@item.EquipmentFile.Filename" alt="Alternate Text" style="width:25px;height:25px" /> <b>@item.EquipName</b><br />
                                    }
                                    else
                                    {
                                        <b>@item.EquipName</b><br />
                                    }
                                }
                                @if (!string.IsNullOrWhiteSpace(item.EquipDetail))
                                {
                                    <span>@item.EquipDetail</span>
                                }
                            </td>
                            <td style="text-align:center; padding:5px 0px;">@item.Quantity</td>
                            <td style="text-align:center; padding:5px 0px;">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.UnitPrice.Value)</td>
                            <td style="text-align:center; padding:5px 0px;">@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)@HS.Web.UI.Helper.LabelHelper.FormatAmount(item.TotalPrice.Value)</td>
                        </tr>
                        @*<tr><td style="width:60.666%;height:50px;border-bottom:1px solid #4f90bb;position:relative;"></td></tr>*@
                    }
                </tbody>
            </table>
        </div>
        <div style="width:100%;height:50px;border-bottom:1px solid #4f90bb;position:relative;">
        </div>
        <div style="width:100%;">
            <div style="width:50%;float:left">
                <p style="padding-left:40px">Estimate Message:&nbsp;@Model.Invoice.InvoiceMessage</p>
                <p style="padding-left:40px">Estimate Memo:&nbsp;@Model.Invoice.Memo</p>
            </div>
            <div style="width:50%;float:left;padding-top:10px;">
                <div style="width:100%">
                    <div style="width:70%;float:left;text-align:right">
                        <span>Estimate Sub Total</span>
                    </div>
                    <div style="width:30%;float:left;text-align:right;">
                        <h3 style="margin:0px;padding-right:10px;">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.SubTotal)</h3>
                    </div>
                </div>
                @if (Model.InvoiceSetting.DiscountSetting)
                {
                    if (Model.Invoice.DiscountType == "percent")
                    {
                        double discountParcent = Model.Invoice.Discountpercent != 0 && Model.Invoice.Discountpercent != null ? Model.Invoice.Discountpercent.Value : 0;
                        <div style="width:100%">
                            <div style="width:70%;float:left;text-align:right">
                                <span>Estimate Discount Percent (@Model.Invoice.Discountpercent%)</span>
                            </div>
                            <div style="width:30%;float:left;text-align:right;">
                                <h3 style="margin:0px;padding-right:10px;">$@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.Discount)</h3>
                            </div>
                        </div>
                        <div style="width:100%">
                            <div style="width:70%;float:left;text-align:right">
                                <span>Subtotal</span>
                            </div>
                            <div style="width:30%;float:left;text-align:right;">

                                <h3 style="margin:0px;padding-right:10px;">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount((Model.SubTotal - Model.Discount))</h3>
                            </div>
                        </div>
                    }

                    if (Model.Invoice.DiscountType == "amount")
                    {
                        double discountamount = Model.Invoice.DiscountAmount != 0 && Model.Invoice.DiscountAmount != null ? Model.Invoice.DiscountAmount.Value : 0;
                        <div style="width:100%">
                            <div style="width:70%;float:left;text-align:right">
                                <span>Estimate Discount Amount</span>
                            </div>

                            <div style="width:30%;float:left;text-align:right;">
                                <h3 style="margin:0px;padding-right:10px;">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(discountamount)</h3>
                            </div>
                        </div>
                        <div style="width:100%">
                            <div style="width:70%;float:left;text-align:right">
                                <span>Subtotal</span>
                            </div>
                            <div style="width:30%;float:left;text-align:right;">

                                <h3 style="margin:0px;padding-right:10px;">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount((Model.SubTotal - Model.Discount))</h3>
                            </div>
                        </div>
                    }
                }
                @if (Model.Invoice.Tax.HasValue && Model.Invoice.Tax > 0)
                {
                    <div style="width:100%">
                        <div style="width:70%;float:left;text-align:right">
                            <span>@Model.Invoice.TaxType</span>
                        </div>

                        <div style="width:30%;float:left;text-align:right;">
                            <h3 style="margin:0px;padding-right:10px;">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.Invoice.Tax.Value)</h3>
                        </div>
                    </div>


                }

                @if (Model.InvoiceSetting.ShippingSetting || Model.InvoiceSetting.DepositSetting)
                {
                    <div style="width:100%">
                        <div style="width:70%;float:left;text-align:right">
                            <span>SubTotal </span>
                        </div>
                        <div style="width:30%;float:left;text-align:right;">
                            @if (Model.Invoice.TotalAmount != null)
                            {
                                <h3 style="margin:0px;padding-right:10px;">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.Invoice.TotalAmount.Value)</h3>
                            }
                            else
                            {
                                <h3 style="margin:0px;padding-right:10px;">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.SubTotal)</h3>
                            }
                        </div>
                    </div>
                }

                @if (Model.InvoiceSetting.ShippingSetting || (Model.Invoice.ShippingCost.HasValue && Model.Invoice.ShippingCost > 0))
                {
                    double shippingcost = Model.Invoice.ShippingCost.HasValue ? Model.Invoice.ShippingCost.Value : 0.0;
                    <div style="width:100%">
                        <div style="width:70%;float:left;text-align:right">
                            <span>Shipping</span>
                        </div>
                        <div style="width:30%;float:left;text-align:right;">
                            <h3 style="margin:0px;padding-right:10px;">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(shippingcost)</h3>
                        </div>
                    </div>

                }


                @if (Model.InvoiceSetting.DepositSetting || (Model.Invoice.Deposit != null && Model.Invoice.Deposit != 0))
                {
                    double depositAmount = Model.Invoice.Deposit.HasValue ? Model.Invoice.Deposit.Value : 0.0;

                    <div style="width:100%">
                        <div style="width:70%;float:left;text-align:right">
                            <span>Estimate Deposit</span>
                        </div>
                        <div style="width:30%;float:left;text-align:right;">
                            <h3 style="margin:0px;padding-right:10px;">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(depositAmount)</h3>
                        </div>
                    </div>


                }

                <div style="width:100%">
                    <div style="width:70%;float:left;text-align:right">
                        <span>Estimate Total</span>
                    </div>
                    <div style="width:30%;float:left;text-align:right;">
                        @if (Model.Invoice.BalanceDue != null)
                        {
                            <h3 style="margin:0px;padding-right:10px;">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.Invoice.BalanceDue.Value)</h3>
                        }
                        else
                        {
                            <h3 style="margin:0px;padding-right:10px;">@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.SubTotal)</h3>
                        }
                    </div>

                </div>


            </div>



        </div>
        <div style="width:100%;float:left;margin-top:15px; text-align:right; padding-right:10px;">
            @if (Model.ShowEstimateMonitoringAmount)
            {
                <span>Monitoring Amount:&nbsp;<b>@Currency@HS.Web.UI.Helper.LabelHelper.FormatAmount(Model.Invoice.MonitoringAmount)</b></span>
            }

            @if (Model.ShowEstimateContractTerm)
            {
                <br />
                if (Model.Invoice.ContractTerm != null && !string.IsNullOrWhiteSpace(Model.Invoice.ContractTerm) && Model.Invoice.ContractTerm == "0")
                {
                    <span style="margin-right:5px;">Contract Term:&nbsp;Month to Month</span>
                }
                else if (Model.Invoice.ContractTerm != null && !string.IsNullOrWhiteSpace(Model.Invoice.ContractTerm) && Model.Invoice.ContractTerm != "-1")
                {
                    <span style="margin-right:10px;">Contract Term:&nbsp;@(Convert.ToInt32(Model.Invoice.ContractTerm) * 12)&nbsp;Month</span>
                }
                else
                {
                    <span style="margin-right:10px;">Contract Term:&nbsp;0&nbsp;Month</span>
                }
            }
            @if (Model.ShowEstimateMonitoringDescription && !string.IsNullOrWhiteSpace(Model.Invoice.MonitoringDescription) && Model.Invoice.MonitoringDescription != "-1")
            {
                <br />
                <span style="margin-right:5px;">Monitoring Description:&nbsp;@Model.Invoice.MonitoringDescription</span>
            }
        </div>
    </div>
    @if (HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.GetEstimateSignaturePermission(Model.Invoice.CompanyId))
    {
        <div style="width:100%;float:left;margin-top:100px;">
            <div style="float:left;width:50%;">
                <img src="@Model.Invoice.Signature" style="width:300px;height:100px;" />
                <div style="width:100%;margin-top:5px;">
                    <span>Signature</span>
                </div>
            </div>
            <div style="float:left;width:50%;">
                <div style="margin-top:100px;">
                    <span>@(Model.Invoice.SignatureDate.HasValue ? Model.Invoice.SignatureDate.Value.ToString("MM/dd/yy") : "")</span>
                    <div style="border:1px solid black;width:300px;"></div>
                </div>
                <div style="width:100%;margin-top:5px;">
                    <span>Date</span>
                </div>
            </div>
        </div>
    }
    @if (Model.ShowOnitWaterTreatment)
    {
        <div style="page-break-after: always;display: block;clear: both;"></div>
        <div style="width:100%; float:left; box-sizing:border-box; font-size:16px;">
            <table style="width:100%; float:left; table-layout:fixed; border-collapse:collapse;">
                <tr>
                    <td style="width:100%; text-align:center; font-size:20px;">
                        ONIT Water LLC PURCHASE AGREEMENT: ADDITIONAL TERMS AND DISCLOSURES
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:15px;">
                        1.  Do not sign the contract before you read it or if it has spaces.
                        <br /> <br />
                        2.  All balances are due and payable upon completion of installation or within 10 days of purchase date unless otherwise agreed in writing and shown on this purchase agreement.  Retention of goods is conditional upon Buyer making full payment of all outstanding balances.
                        <br /> <br />
                        3. FINANCING:  If seller assists Buyer in obtaining financing for the transaction contemplated by this agreement, Buyer acknowledges that Seller’s efforts in securing financing are now a precondition to enforcement of this Agreement.  ONITwater will secure a revolving credit account on the buyer’s behalf from one of our partner lenders.  Terms may vary based on consumer credit.  ONITwater does not benefit in any way from financing charges made by the consumer.  Signing this form constitutes permission being granted to ONITwater to obtain a credit report.
                        <br /> <br />
                        4.  BINDING EFFECT:  Buyer agrees to the terms stated, and gives permission to have a water system installed at seller’s convenience.  Subject to the conditions of Buyers Right to Cancel as stated below.  This Purchase Agreement is complete upon execution by the buyer.
                        <br /> <br />
                        5.  DEFAULT OR CANCELLATION:  In the event of default or cancellation by the Buyer, Buyer hereby agrees to immediately make any goods furnished available to the Seller between 8:00 a.m. and 5:00 p.m., and Buyer hereby consents to Seller’s right to physically remove and be physically present on Buyer’s property for the removal of said goods.  In the event a cancellation is requested after installation is completed, the Buyer will be charged a restocking fee of $1,450.00 to cover installation/uninstallation expenses.  Restocking fee to be paid in full by cashier’s check or money order on the day of removal.  If the equipment is tampered with by anyone other than an authorized ONITwater agent, buyer assumes all liability.
                        <br /> <br />
                        6.  DEFAULT:  If Buyer fails to pay the purchase price, Seller shall be entitled to take possession of the goods and the Buyer agrees to pay Seller’s costs.  Seller’s costs are defined as the cost of installation/uninstallation, the cost of any products furnished by the seller to be used in conjunction with the goods, depreciation and any attorney’s fees or related costs incurred by seller to recover any amounts due to Seller.
                        <br /> <br />
                        7.  Should any sum required by this Purchase Agreement not be paid on the date specified herein, it shall draw interest at the maximum interest rates allowed by law.
                        <br /> <br />
                        9.  Additional equipment may be required if the water supply changes or consumption is increased.
                        <br /> <br />
                        10.  The only equipment that ONITwater sells that removes sodium chloride is reverse osmosis.
                        <br /> <br />
                        11.  HOA requirements are to be stated to ONITwater before installation.  After installation, buyer assumes any liability or changes needed to any permit or HOA issues.
                        <br /> <br />
                        12.  Location of equipment will be determined by the ONITwater Installations Department using Buyers preferences if possible.
                        <br /> <br />
                        13.  This written Purchase Agreement provides all terms of the agreement between the parties and both parties specifically agree that no oral representation of promises have been made or relied upon in causing this Purchase Agreement to be entered into.  The parties further specifically agree that there is not any free trial period for use of the goods furnished to the Buyer.
                        <br /> <br />
                        15.  CERTIFICATION:  Buyer certifies that the application, statements, trade references and financial reports submitted to the Seller are true and correct.

                    </td>
                </tr>
                <tr>
                    <td style="font-weight:bold; text-align:center; border-bottom:3px dotted #000; padding-bottom:10px; padding-top:10px;">
                        Please Note:  Maintenance and replacement requirements are essential for products to perform as represented
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:20px;">
                        BUYERS RIGHT TO CANCEL:  You, the Buyer, may cancel this transaction at any time prior to midnight of the third business day after the date of this transaction.  This is a home solicitation sale, and if you do not want the goods or services, you may cancel this Purchase Agreement by providing written notice to Seller, by certified mail.  This notice must indicate that you do not want the goods or services and must be postmarked before midnight of the third business day after you sign this agreement.  If you cancel this Purchase Agreement, the seller may not keep any part of the cash down payment.  To cancel this agreement send a written cancellation notice by certified mail to:
                        <br />
                        ONITwater LLC  <b style="margin-left:300px;">** I hereby cancel this transaction.</b>
                        <br />
                        8701 W Bedford Euless Rd STE 600
                        <br />
                        Hurst, TX 76053

                    </td>
                </tr>
            </table>
            <table style="width:100%; float:left; table-layout:fixed; border-collapse:collapse;">
                <tr>
                    <td style="width:40%; vertical-align:bottom;"></td>
                    <td style="width:5%; vertical-align:bottom;">
                        Date
                    </td>
                    <td style="width:15%; vertical-align:bottom; border-bottom:1px solid #000; padding-bottom:5px;">
                        @(Model.Invoice.SignatureDate.HasValue ? Model.Invoice.SignatureDate.Value.ToString("MM/dd/yy") : "")
                    </td>
                    <td style="width:12%; vertical-align:bottom;">
                        Buyer’s Signature
                    </td>
                    <td style="width:28%; vertical-align:bottom; border-bottom:1px solid #000; text-align:center; padding-bottom:5px;">
                        <img src="@Model.Invoice.Signature" style="width:150px; height:50px;">
                    </td>
                </tr>
            </table>



        </div>
    }
    @if (Model.ShowThompsonEstimateText)
    {
        <div style="page-break-after: always;display: block;clear: both;"></div>
        <div style="font-size:20px; font-family:Calibri;">
            <div style="width:100%; float:left; padding:0px 30px;">
                <table style="width:100%; float:left; border-collapse:collapse; margin-top:20px;">
                    <tr>
                        <td style="font-size:25px; font-weight:bold; text-align:center;">
                            CONSUMER CREDIT and BACKGROUND REPORT RELEASE FORM <br />
                            PLEASE READ CAREFULLY
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:25px; padding-top:50px;">
                            BY MY SIGNATURE BELOW I AUTHORIZE
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="width:300px; float:left; text-align:center; box-sizing:border-box; border-bottom:1px solid #000; padding-bottom:10px;">
                                <img src="" style="width:170px; height:110px;" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:justify;">
                            to obtain a Consumer Credit Report and/or a Background Report on me. This
                            authorization is valid for purposes of verifying information given pursuant to
                            employment, leasing, rental, business negotiations, or any other lawful purpose covered
                            under the Fair Credit Reporting Act. (FCRA)
                            <br /> <br />
                            The Background Check may contain information available in the Public Domain but may
                            not include interviews with persons other than previous employers or their agents.
                            <br /> <br />
                            By my signature below, I hereby authorize all corporations, former employers, credit
                            agencies, educational institutions, law enforcement agencies, city, state, county and
                            federal courts and agencies, military services and persons to release all information they
                            may have about me including criminal and driving history. This authorization shall be
                            valid in original or copy form.
                        </td>
                    </tr>
                </table>
                <table style="width:100%; float:left; border-collapse:collapse; margin-top:40px;">
                    <tr>
                        <td style="width:155px;">
                            Applicant's Name
                        </td>
                        <td style="border-bottom:1px solid #000;">@Model.CustomerName</td>

                    </tr>
                </table>
                <table style="width:100%; float:left; border-collapse:collapse; margin-top:15px;">
                    <tr>
                        <td style="width:200px;">
                            Social Security Number
                        </td>
                        <td style="border-bottom:1px solid #000;">@Model.CustomerSSN</td>

                    </tr>
                </table>
                <table style="width:100%; float:left; border-collapse:collapse; margin-top:15px;">
                    <tr>
                        <td style="width:110px;">
                            Date of Birth
                        </td>
                        <td style="border-bottom:1px solid #000;">@(Model.CustomerDOB != null && Model.CustomerDOB != new DateTime() ? Model.CustomerDOB.ToString("MM/dd/yy"):"")</td>

                    </tr>
                </table>
                <table style="width:100%; float:left; border-collapse:collapse; margin-top:15px;">
                    <tr>
                        <td style="width:200px;">
                            Current Street Address
                        </td>
                        <td style="border-bottom:1px solid #000;">@Model.CustomerStreet</td>

                    </tr>
                </table>
                <table style="width:100%; float:left; border-collapse:collapse; margin-top:15px;">
                    <tr>
                        <td style="width:170px;">
                            City, State, Zip Code
                        </td>
                        <td style="border-bottom:1px solid #000;">@((!string.IsNullOrWhiteSpace(Model.CustomerCity) ? Model.CustomerCity + ", " : "") + (!string.IsNullOrWhiteSpace(Model.CustomerState) ? Model.CustomerState + ", " : "") + (!string.IsNullOrWhiteSpace(Model.CustomerZipCode) ? Model.CustomerZipCode : ""))</td>

                    </tr>
                </table>
                <table style="width:100%; float:left; border-collapse:collapse; margin-top:15px;">
                    <tr>
                        <td style="width:155px;">
                            Drivers License #
                        </td>
                        <td style="border-bottom:1px solid #000; width:40%;">@Model.CustomerDrivingLicense</td>
                        <td style="width:50px;">
                            State
                        </td>
                        <td style="border-bottom:1px solid #000;">@Model.CustomerState</td>

                    </tr>
                </table>

                <table style="width:100%; float:left; border-collapse:collapse; margin-top:15px;">
                    <tr>
                        <td style="width:90px; vertical-align:bottom;">
                            Signature
                        </td>
                        <td style="border-bottom:1px solid #000; width:40%; text-align:center;">
                            <img src="@Model.Invoice.Signature" style="width:170px; height:110px;" />
                        </td>
                        <td style="width:50px;">
                            &nbsp;
                        </td>
                        <td style="">
                            &nbsp;
                        </td>
                    </tr>
                </table>
                <table style="width:100%; float:left; border-collapse:collapse; margin-top:15px;">
                    <tr>
                        <td style="width:50px;">
                            Date
                        </td>
                        <td style="border-bottom:1px solid #000; width:45%; padding-left:10px;">
                            @(Model.Invoice.SignatureDate.HasValue ? Model.Invoice.SignatureDate.Value.ToString("MM/dd/yy") : "")
                        </td>
                        <td style="width:50px;">
                            &nbsp;
                        </td>
                        <td style="">
                            &nbsp;
                        </td>
                    </tr>
                </table>
                <div style="width:100%; float:left; box-sizing:border-box;font-size:25px; text-align:center; padding-top:50px;">
                    **NOTE: PLEASE INCLUDE A COPY OF A VALID DRIVERS LICENSE**
                </div>

            </div>
        </div>
    }
</body>
</html>
