
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@model HS.Entities.Employee
@Styles.Render("~/styles/UserList")
<link href="~/Content/Css/Lead/EmergencyContactListPartial.css" rel="stylesheet" />

@{
    if (Model != null && (!string.IsNullOrWhiteSpace(Model.FirstName) || !string.IsNullOrWhiteSpace(Model.LastName)))
    {
        <div class="ci_block ci_margin_top">
            <div class="ci_header clearfix">
                @Localize.T("Sales Person Information")
            </div>
            <div class="ci_info" style="padding:10px;">
                <table id="TblcotlList">
                    <thead class="table-head-border eg_contact_hide">
                        <tr>
                            <th class="thead-th-style">
                                @Localize.T("Name")
                            </th>
                            <th class="thead-th-style">
                                @Localize.T("Phone")
                            </th>
                            <th class="thead-th-style">
                                @Localize.T("Email")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-style">
                            @*<td class="table-body-td-style cotl_header_row" valign="top">
                                    <div class="cotl_device_header">@Localize.T("ID")<span>:</span></div>
                                    <div class="cotl_device_info"> <a href="javascript:void(0)" onclick="OpenTicketById(@item.Id)" style="cursor:pointer;color:#2ca01c">@item.Id</a></div>
                                </td>*@

                            <td class="table-body-td-style eg_contact_header_row" valign="top">
                                <div class="cotl_device_header">@Localize.T("Name")<span>:</span></div>
                                <div class="cotl_device_info"> @Model.FirstName @Model.LastName</div>
                            </td>
                            <td class="table-body-td-style eg_contact_header_row" valign="top">
                                <div class="cotl_device_header">@Localize.T("Phone")<span>:</span></div>
                                <div class="cotl_device_info"> @Model.Phone</div>
                            </td>
                            <td class="table-body-td-style eg_contact_header_row" valign="top">
                                <div class="cotl_device_header">@Localize.T("Email")<span>:</span></div>
                                <div class="cotl_device_info">@Model.Email</div>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    }
}



