@{
    Layout = null;
    string DomainURL = (AppConfig.DomainSitePath);
    HS.Facade.GlobalSettingsFacade globalSettings = new HS.Facade.GlobalSettingsFacade();
    var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;
    int emergencyrequired = globalSettings.GetEmergencyContactRequired(CurrentUser.CompanyId.Value);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
@*<link href="~/Content/Css/Shared/breadcrumb.css" rel="stylesheet" />*@
<link href="~/Content/Css/Lead/LeadSetupPartial.css" rel="stylesheet" />

<link href="~/Content/Css/Shared/breadcrumb_style.css" rel="stylesheet" />
<script src="~/Content/MagnificPopUp/jquery.magnific-popup.js"></script>
<script src="~/Content/Js/Popups/AddLeadSetup.js"></script>
<script src="~/Content/Js/LeadSetup/LeadSetup.js"></script>
<script src="~/Content/Js/Layout/Device.js"></script>
<script>
    var LeadIdVal = '@ViewBag.LeadSetupId';
    var LeadId = '@ViewBag.LeadSetupId';
    var LeadGuid = '@ViewBag.LeadGuid';
    var setupClick = '@ViewBag.setupClick';
    var FirstSetup = '@ViewBag.FirstSetup';
    var SecondSetup = '@ViewBag.SecondSetup';
    var ThirdSetup = '@ViewBag.ThirdSetup';
    var FourthSetup = '@ViewBag.FourthSetup';
    var contactreq = '@emergencyrequired';
    var LoaderDom = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var OpenInstallationAgreement = function () {
        $("#InstallationAgreement")[0].click();
    }

    $(document).ready(function () {
        var Popupwidth = 920;
        if (window.innerWidth < 920) {
            Popupwidth = window.innerWidth;
        }
        var idlist = [{ id: ".LoadAgreementPopUp", type: 'iframe', width: Popupwidth, height: 650 }
        ];
        jQuery.each(idlist, function (i, val) {
            magnificPopupObj(val);
        });
        $('.bk-btn').click(function () {
            //history.go(-1);
            //setTimeout(function () {
            //    window.location.reload();
            //}, 100);
            /*LoadLeadVerificationInfo(LeadIdVal, true);*/
            LoadLeadsDetail(LeadIdVal);
        });
        console.log('loader');
        $("#TabsLoaderText").html(LoaderDom);
        if (setupClick == "Equipment") {
            $(".LoadEquipment").addClass('current');
            $("#LoadLeadDetail").load(domainurl + "/Leads/EquipmentPartial?LeadId=" + LeadIdVal);
            $(".LoadEquipment").addClass('activeli');
            $(".LoadPackage").removeClass('activeli');
        }
        else if (setupClick == "Service") {
            $(".LoadService").addClass('current');
            $(".LoadEquipment").addClass('current');
            $("#LoadLeadDetail").load(domainurl + "/Leads/ContactTermtPartial?id=" + LeadIdVal);
            $(".LoadService").addClass('activeli');
            $(".LoadPackage").removeClass('activeli');
        }
        else if (setupClick == "Emergency") {
            $(".LoadService").addClass('current');
            $(".LoadEquipment").addClass('current');
            //$(".LoadEmergency").addClass('current');
            $(".LoadEmergency").addClass('activeli');
            $("#LoadLeadDetail").load(domainurl + "/Leads/EmergencyContactPartial?id=" + LeadIdVal);
            $("#btnSavandNex span").text("Save & Sign");
            $("#btnSavandClose").removeClass('hidden');
            $("#btnPayNow").removeClass('hidden');
            $("#btnsendEcontract").removeClass('hidden');
            $(".LoadEmergency").addClass('activeli');
            $(".LoadPackage").removeClass('activeli');
        } else {
            $("#LoadLeadDetail").load(domainurl + "/Leads/PackagePartial?id=" + LeadIdVal);
        }
        if (FourthSetup == "FourthSetup") {
            $(".LoadService").addClass('current');
            $(".LoadEquipment").addClass('current');
            $(".LoadEmergency").addClass('current');
            $(".LoadPackage").addClass('current');
            //$(".LoadEmergency").addClass('activeli');
        }
        if (ThirdSetup == "ThirdSetup") {
            $(".LoadService").addClass('current');
            $(".LoadEquipment").addClass('current');
            $(".LoadPackage").addClass('current');
            //$(".LoadService").addClass('activeli');
        }
        if (SecondSetup == "SecondSetup") {
            $(".LoadEquipment").addClass('current');
            $(".LoadPackage").addClass('current');
            //$(".LoadEquipment").addClass('activeli');
        }
        if (FirstSetup == "FirstSetup") {
            $(".LoadPackage").addClass('current');
            //$(".LoadPackage").addClass('activeli');
        }
    });
</script>

<div class="custom_container container lead_setup_partial_outer">
    <div class="bk-btn">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>
    @*<div class="bk-btn"><div class="bk-btn-triangle"></div><div class="bk-btn-bar"></div></div>*@


    @*<h2>@Localize.T("Lead Setup")</h2>*@

    <div class="lsp_header_title">@ViewBag.LeadTitle<span class="lead_email_address">@Html.Raw(ViewBag.LeadAddress)</span></div>

    <div class="breadcrumbs">
        <div class="inner">
            <nav>
                <ul class="cf cd-breadcrumb triangle custom-icons">
                    <li class="current lilist LoadPackage PackagedisableClick" id="LoadPackage" data-url="@(DomainURL)/Leads/PackagePartial?id=@ViewBag.LeadSetupId">
                        <a href="javascript:void(0)">
                            <span class="number_hide back_function">@Localize.T("1")</span>
                            <span class="back_function">@Localize.T("Package Option")</span>
                        </a>
                    </li>
                    <li class="lilist LoadEquipment EquipmentdisableClick" id="LoadEquipment" data-url="@(DomainURL)/Leads/EquipmentPartial?LeadId=@ViewBag.LeadSetupId">
                        <a href="javascript:void(0)">
                            <span class="number_hide">@Localize.T("2")</span>
                            <span>@Localize.T("Equipment")</span>
                        </a>
                    </li>
                    <li class="lilist LoadService ServicedisableClick" id="LoadService" data-url="@(DomainURL)/Leads/ContactTermtPartial?id=@ViewBag.LeadSetupId">
                        <a href="javascript:void(0)">
                            <span class="number_hide">@Localize.T("3")</span>
                            <span>@Localize.T("Service")</span>
                        </a>
                    </li>
                    @*<li class="lilist LoadPayment PaymentdisableClick" id="LoadPayment" data-url="/Leads/PaymentPartial?PaymentLeadId=@ViewBag.LeadSetupId">
                            <a href="javascript:void(0)">
                                <span class="number_hide">@Localize.T("4")</span>
                                <span>@Localize.T("Payment Option")</span>
                            </a>
                        </li>*@
                    <li class="lilist LoadEmergency EmergencydisableClick" id="LoadEmergency" data-url="@(DomainURL)/Leads/EmergencyContactPartial?id=@ViewBag.LeadSetupId">
                        <a href="javascript:void(0)">
                            <span class="number_hide">@Localize.T("4")</span>
                            <span>@Localize.T("Emergency Contact")</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    @*<nav>
            <ol class="cd-breadcrumb triangle custom-icons">
                <li class="current lilist LoadPackage PackagedisableClick" id="LoadPackage" data-url="/Leads/PackagePartial?id=@ViewBag.LeadSetupId"><a class="breadcumb_text" href="javascript:void(0)">Package Option</a></li>
                <li class="lilist LoadEquipment EquipmentdisableClick" id="LoadEquipment" data-url="/Leads/EquipmentPartial?LeadId=@ViewBag.LeadSetupId"><a class="breadcumb_text" href="javascript:void(0)">Equipment</a></li>
                <li class="lilist LoadService ServicedisableClick" id="LoadService" data-url="/Leads/ContactTermtPartial?id=@ViewBag.LeadSetupId"><a class="breadcumb_text" href="javascript:void(0)">Service</a></li>
                <li class="lilist LoadPayment PaymentdisableClick" id="LoadPayment" data-url="/Leads/PaymentPartial?PaymentLeadId=@ViewBag.LeadSetupId"><a class="breadcumb_text" href="javascript:void(0)">Payment Option</a></li>
                <li class="lilist LoadEmergency EmergencydisableClick" id="LoadEmergency" data-url="/Leads/EmergencyContactPartial?id=@ViewBag.LeadSetupId"><a class="breadcumb_text" href="javascript:void(0)">Emergency Contact</a></li>
            </ol>
        </nav>*@

    <div class="tab-content" id="LoadLeadDetail">
    </div>


    <div class="row btn-top">
        <div class="lead_setup_bottom_btn_container">
            <button type="button" class="btn" id="btnSavandNex">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> <span>@Localize.T("Save & Next")</span>
            </button>
            <button type="button" class="btn hidden" id="btnSavandClose">
                <i class="fa fa-close" aria-hidden="true"></i> <span>@Localize.T("Save & Close")</span>
            </button>
        </div>

    </div>
</div>
<div class="hidden">
    <a class="LoadAgreementPopUp" style="display:none;" id="InstallationAgreement" href="@(DomainURL)/Leads/GetLeadsForPopUp?LeadId=@ViewBag.LeadSetupId">@Localize.T("Save & Done ")</a>
    <a class="LoadAgreementPopUp1" href="@(DomainURL)/Leads/GetLeadsForIpad?LeadId=@ViewBag.LeadSetupId" target="_blank">@Localize.T("Save & Done ")</a>
</div>
