@model HS.Entities.EmailTextTemplate
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<style>
    .templatetxt-design{
        font-size: 2rem;
        font-weight: 400;
        color: #393a3d;
        padding-bottom: 20px;
    }
    .content-design{
        font-size: 16px;
        font-weight: 600;
        color: #393a3d;
        margin-top:30px;
    }
    .SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }
    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }
    .btn-mailtext{
        float:right;
        background-color:green;
        color:white;
    }
    .btn-mailtext:hover{
        color:white;
    }
</style>
<script src="~/Content/Js/Popups/AddEmailTextTemplate.js"></script>

<div class="container-fluid">
    @Html.HiddenFor(x => x.Id, new { id = "idval"})
    <h3 class="templatetxt-design">@Localize.T("Email Template Information")</h3>
    <span class="content-design">@Localize.T("Email Template Text")</span>
    @Html.TextAreaFor(x => x.TextContent, new { @class = "form-control", id = "TxtContent" })
</div>
<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
            <button class="btn btn-mailtext" id="SaveTextEmail"><i class="fa fa-floppy-o" aria-hidden="true"></i>@Localize.T(" Save")</button>
        </div>
    </footer>
</section>