@model HS.Entities.CustomerExtended
@{ Layout = null;
                List<string> addcontact; }
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
<style>
   

    body {
        font-family: Arial;
    }

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        margin-top: 10px;
    }

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 5px 10px;
            transition: 0.3s;
            border-right: 1px solid #ccc;
        }

            .tab button:hover {
                background-color: #ddd;
            }

            .tab button.active {
                background-color: #2ca01c;
                color: #fff;
            }

    .tabcontent {
        display: none;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-top: none;
    }
    .systemInfo {
        float: right;
        background-color: green;
        color: white;
    }
</style>
<script>
    var CustomerGuidId = '@ViewBag.CustomerId';

    var EditSystemInfo = function (e) {

    };
    var DeleteSystemInfo = function (e) {

    }
    function SystemInfoTab(evt, cityName) {
        var i, tabcontent, tablinks;

        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        if (evt) {
            evt.currentTarget.className += " active";
        }
    }

    $(document).ready(function () {

        $(document).ready(function () {
            $("#Warranty_id").change(function () {
                var CustomerId = CustomerGuidId;
                var warrantyId = $("#Warranty_id").val();
                if (warrantyId === "-1") { 
                    OpenErrorMessageNew("","Please select a valid Warranty.");
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "/Leads/UpdateCustomerExtendedSystemInfo",
                    data: JSON.stringify({
                        CustomerId: CustomerId,
                        Warranty: warrantyId
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function (response) {
                        if (response.result) { 
                            OpenIeateryPopupModal("", "Update successfully"); 
                        } else {
                            console.log("Update failed");
                        }
                    },
                    error: function (error) {
                        console.log("An error occurred:", error);
                    }
                });
            });
            $("#Keypad_id").change(function () {
                var CustomerId = CustomerGuidId;
                var keypadId = $("#Keypad_id").val();
                if (keypadId === "-1") {
                    OpenErrorMessageNew("", "Please select a valid Keypad.");
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "/Leads/UpdateCustomerExtendedSystemInfo",
                    data: JSON.stringify({
                        CustomerId: CustomerId,
                        Keypad: keypadId
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function (response) {
                        if (response.result) {
                            OpenIeateryPopupModal("", "Update successfully");
                        } else {
                            console.log("Update failed");
                        }
                    },
                    error: function (error) {
                        console.log("An error occurred:", error);
                    }
                });
            });
            $("#FrontEnd_id").change(function () {
                var CustomerId = CustomerGuidId; 
                var frontEndId = $("#FrontEnd_id").val();
                if (frontEndId === "-1") {
                    OpenErrorMessageNew("", "Please select a valid Front-End.");
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "/Leads/UpdateCustomerExtendedSystemInfo",
                    data: JSON.stringify({
                        CustomerId: CustomerId,
                        FrontEnd: frontEndId
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function (response) {
                        if (response.result) {
                            OpenIeateryPopupModal("", "Update successfully");
                        } else {
                            console.log("Update failed");
                        }
                    },
                    error: function (error) {
                        console.log("An error occurred:", error);
                    }
                });
            });
            $("#SaveSystemInfo").click(function () {
                var CustomerId = CustomerGuidId;
                var CellserialNo = $("#Cell_Serial_No").val();
                if (CellserialNo === "") {
                    OpenErrorMessageNew("", "Please pull the text field.");
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "/Leads/UpdateCustomerExtendedSystemInfo",
                    data: JSON.stringify({
                        CustomerId: CustomerId,
                        CellSerialNo: CellserialNo
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function (response) {
                        if (response.result) {
                            OpenIeateryPopupModal("", "Update successfully");
                        } else {
                            console.log("Update failed");
                        }
                    },
                    error: function (error) {
                        console.log("An error occurred:", error);
                    }
                });
            });
        });

        document.getElementById('Warranty').style.display = 'block';
        document.getElementsByClassName("tablinks")[0].className += " active";
    });

</script>
<link href="~/Content/Css/Lead/LeadAdditionalInfo.css" rel="stylesheet" />
 
<div class="lead_additional_info_table">
    <div class="tab">
        <button class="tablinks" onclick="SystemInfoTab(event, 'Warranty')">System Information</button>
        @*<button class="tablinks" onclick="SystemInfoTab(event, 'Keypad')">Keypad</button>
        <button class="tablinks" onclick="SystemInfoTab(event, 'FrontEnd')">Front-End</button>*@
    </div>

    <div id="Warranty" class="tabcontent">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="aba_header">@Localize.T("Warranty")<span></span></div>
                    @Html.DropDownListFor(x => x.Warranty, (List<SelectListItem>)ViewBag.WarrantyList, new { @class = "form-control", id = "Warranty_id" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="aba_header">@Localize.T("Keypad")<span></span></div>
                    @Html.DropDownListFor(x => x.Keypad, (List<SelectListItem>)ViewBag.KeypadList, new { @class = "form-control", id = "Keypad_id" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @*<div class="aba_header">@Localize.T("Front-End")<span></span></div>*@
                    <div class="aba_header">@Localize.T("Cell Backup Company")<span></span></div>
                    @Html.DropDownListFor(x => x.FrontEnd, (List<SelectListItem>)ViewBag.FrontEndList, new { @class = "form-control", id = "FrontEnd_id" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="aba_header">@Localize.T("Cell Serial No")<span></span></div>
                    <div class="input-group add-on">
                        @Html.TextBoxFor(x => x.CellSerialNo, new { @class = "form-control", id = "Cell_Serial_No" })
                        <div class="input-group-btn">
                            <button class="btn green_button" id="SaveSystemInfo"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div id="Keypad" class="tabcontent" style="display:none;">
        <div class="aba_header">@Localize.T("Keypad")<span></span></div>
        @Html.DropDownListFor(x =>x.Keypad, (List<SelectListItem>)ViewBag.KeypadList, new { @class = "form-control", id = "Keypad_id" })
    </div>

    <div id="FrontEnd" class="tabcontent" style="display:none;">
        <div class="aba_header">@Localize.T("Front-End")<span></span></div>
        @Html.DropDownListFor(x => x.FrontEnd, (List<SelectListItem>)ViewBag.FrontEndList, new { @class = "form-control", id = "FrontEnd_id" })
    </div>*@

</div>
@*<section class="footer-section">
    <footer class="footer">
        <div class="SaveCancelDiv">
        </div>
    </footer>
</section>*@


