@model IEnumerable<HS.Entities.PaymentInfo>
@{
    Layout = null;
    var count = 0;
}
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
<link href="~/Content/Css/CustomerDetails/CustomerAccountActivityDetails.css" rel="stylesheet" />

<script>
    var customerid = '@ViewBag.customerid';
    $(document).ready(function () {
        $("#btn_addccpaymentcustomer").click(function () {
            OpenRightToLeftModal("/SmartLeads/CCAddViewPaymentMethod?customerid=" + customerid + "&type=Lead");
        })
    });
</script>

<div class="payment_container">
    <button class="btn" id="btn_addccpaymentcustomer"><i class="fa fa-plus"></i> @Localize.T("New")</button>
    <div class="ci_info lead_payment_box_container_cc">
        @{
            if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.ShowPaymentProfileInformation))
                    {
                        if (count % 2 == 0)
                        {
                            <div class="payment_info_overview_container">
                                <div><div class="payment_info_overview_header">@Localize.T("Card Number")<span>:</span></div> <div class="payment_info_overview_info">@string.Concat("".PadLeft(12, '*'), item.CardNumber.Substring(item.CardNumber.Length - 4)) <strong>(@item.CardType.ToUpper())</strong> <i class="fa fa-id-card hover_details_icon" title="@item.CardNumber"></i></div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Expire Date")<span>:</span></div> <div class="payment_info_overview_info">@item.CardExpireDate</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Security Code")<span>:</span></div> <div class="payment_info_overview_info">@string.Concat("".PadLeft(2, '*'), item.CardSecurityCode.Substring(item.CardSecurityCode.Length - 1)) <i class="fa fa-user-secret hover_details_icon" title="@item.CardSecurityCode"></i></div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Account Name")<span>:</span></div><div class="payment_info_overview_info"> @item.AccountName</div></div>
                            </div>
                        }
                        else
                        {
                            <div class="payment_info_overview_container">
                                <div><div class="payment_info_overview_header">@Localize.T("Card Number")<span>:</span></div> <div class="payment_info_overview_info">@string.Concat("".PadLeft(12, '*'), item.CardNumber.Substring(item.CardNumber.Length - 4)) <strong>(@item.CardType.ToUpper())</strong> <i class="fa fa-id-card hover_details_icon" title="@item.CardNumber"></i></div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Expire Date")<span>:</span></div> <div class="payment_info_overview_info">@item.CardExpireDate</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Security Code")<span>:</span></div> <div class="payment_info_overview_info">@string.Concat("".PadLeft(2, '*'), item.CardSecurityCode.Substring(item.CardSecurityCode.Length - 1)) <i class="fa fa-user-secret hover_details_icon" title="@item.CardSecurityCode"></i></div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Account Name")<span>:</span></div> <div class="payment_info_overview_info">@item.AccountName</div></div>
                            </div>
                        }
                    }
                    else
                    {
                        if (count % 2 == 0)
                        {
                            <div class="payment_info_overview_container">
                                <div><div class="payment_info_overview_header">@Localize.T("Card Number")<span>:</span></div> <div class="payment_info_overview_info">@string.Concat("".PadLeft(12, '*'), item.CardNumber.Substring(item.CardNumber.Length - 4)) <strong>(@item.CardType.ToUpper())</strong></div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Expire Date")<span>:</span></div> <div class="payment_info_overview_info">@item.CardExpireDate</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Security Code")<span>:</span></div> <div class="payment_info_overview_info">@string.Concat("".PadLeft(2, '*'), item.CardSecurityCode.Substring(item.CardSecurityCode.Length - 1))</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Account Name")<span>:</span></div><div class="payment_info_overview_info"> @item.AccountName</div></div>
                            </div>
                        }
                        else
                        {
                            <div class="payment_info_overview_container">
                                <div><div class="payment_info_overview_header">@Localize.T("Card Number")<span>:</span></div> <div class="payment_info_overview_info">@string.Concat("".PadLeft(12, '*'), item.CardNumber.Substring(item.CardNumber.Length - 4)) <strong>(@item.CardType.ToUpper())</strong></div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Expire Date")<span>:</span></div> <div class="payment_info_overview_info">@item.CardExpireDate</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Security Code")<span>:</span></div> <div class="payment_info_overview_info">@string.Concat("".PadLeft(2, '*'), item.CardSecurityCode.Substring(item.CardSecurityCode.Length - 1))</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Account Name")<span>:</span></div> <div class="payment_info_overview_info">@item.AccountName</div></div>
                            </div>
                        }
                    }
                    count = count + 1;
                }
            }
        }
    </div>
</div>

