@model IEnumerable<HS.Entities.PaymentInfo>
@{
    Layout = null;
    var count = 0;
}
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
<link href="~/Content/Css/CustomerDetails/CustomerAccountActivityDetails.css" rel="stylesheet" />

<script>
    var customerid = '@ViewBag.customerid';
    $(document).ready(function () {
        $("#btn_addachpaymentcustomer").click(function () {
            OpenRightToLeftModal("/SmartLeads/ACHAddViewPaymentMethod?customerid=" + customerid + "&type=Lead");
        })
    });
</script>

<div class="payment_container">
    <button class="btn" id="btn_addachpaymentcustomer"><i class="fa fa-plus"></i> @Localize.T("New")</button>
    <div class="ci_info_payment">
        @{
            if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.ShowPaymentProfileInformation))
                    {
                        if (count % 2 == 0)
                        {
                            <div class="payment_info_overview_container">
                                <div>
                                    <div class="payment_info_overview_header">@Localize.T("Routing Number")<span>:</span></div>
                                    <div class="payment_info_overview_info">@(item.RoutingNo.Length >= 9 ? string.Concat("".PadLeft(7, '*'), item.RoutingNo.Substring(item.RoutingNo.Length - 2)) : item.RoutingNo) <i class="fa fa-bank hover_details_icon" title="@item.RoutingNo"></i></div>
                                </div>
                                <div><div class="payment_info_overview_header">@Localize.T("Account Number")<span>:</span></div> <div class="payment_info_overview_info">@(item.AcountNo.Length >= 9 ? string.Concat("".PadLeft(7, '*'), item.AcountNo.Substring(item.AcountNo.Length - 2)) : item.AcountNo) <i class="fa fa-bank hover_details_icon" title="@item.AcountNo"></i></div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Bank Account Type")<span>:</span></div><div class="payment_info_overview_info"> @item.BankAccountType</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Account Name")<span>:</span></div> <div class="payment_info_overview_info">@item.AccountName</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Echeck Type")<span>:</span></div> <div class="payment_info_overview_info">@item.EcheckType</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Bank Name")<span>:</span></div> <div class="payment_info_overview_info">@item.BankName</div></div>
                            </div>
                        }
                        else
                        {
                            <div class="payment_info_overview_container left_narginstyle">
                                <div><div class="payment_info_overview_header">@Localize.T("Routing Number")<span>:</span></div> <div class="payment_info_overview_info">@(item.RoutingNo.Length >= 9 ? string.Concat("".PadLeft(7, '*'), item.RoutingNo.Substring(item.RoutingNo.Length - 2)) : item.RoutingNo) <i class="fa fa-bank hover_details_icon" title="@item.RoutingNo"></i></div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Account Number")<span>:</span></div> <div class="payment_info_overview_info">@(item.AcountNo.Length >= 9 ? string.Concat("".PadLeft(7, '*'), item.AcountNo.Substring(item.AcountNo.Length - 2)) : item.AcountNo) <i class="fa fa-bank hover_details_icon" title="@item.AcountNo"></i></div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Bank Account Type")<span>:</span></div> <div class="payment_info_overview_info">@item.BankAccountType</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Account Name")<span>:</span></div> <div class="payment_info_overview_info">@item.AccountName</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Echeck Type")<span>:</span></div> <div class="payment_info_overview_info">@item.EcheckType</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Bank Name")<span>:</span></div> <div class="payment_info_overview_info">@item.BankName</div></div>
                            </div>
                        }
                    }
                    else
                    {
                        if (count % 2 == 0)
                        {
                            <div class="payment_info_overview_container">
                                <div>
                                    <div class="payment_info_overview_header">@Localize.T("Routing Number")<span>:</span></div>
                                    <div class="payment_info_overview_info">@(item.RoutingNo.Length >= 9 ? string.Concat("".PadLeft(7, '*'), item.RoutingNo.Substring(item.RoutingNo.Length - 2)) : item.RoutingNo)</div>
                                </div>
                                <div><div class="payment_info_overview_header">@Localize.T("Account Number")<span>:</span></div> <div class="payment_info_overview_info">@(item.AcountNo.Length >= 9 ? string.Concat("".PadLeft(7, '*'), item.AcountNo.Substring(item.AcountNo.Length - 2)) : item.AcountNo)</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Bank Account Type")<span>:</span></div><div class="payment_info_overview_info"> @item.BankAccountType</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Account Name")<span>:</span></div> <div class="payment_info_overview_info">@item.AccountName</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Echeck Type")<span>:</span></div> <div class="payment_info_overview_info">@item.EcheckType</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Bank Name")<span>:</span></div> <div class="payment_info_overview_info">@item.BankName</div></div>
                            </div>
                        }
                        else
                        {
                            <div class="payment_info_overview_container left_narginstyle">
                                <div><div class="payment_info_overview_header">@Localize.T("Routing Number")<span>:</span></div> <div class="payment_info_overview_info">@(item.RoutingNo.Length >= 9 ? string.Concat("".PadLeft(7, '*'), item.RoutingNo.Substring(item.RoutingNo.Length - 2)) : item.RoutingNo)</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Account Number")<span>:</span></div> <div class="payment_info_overview_info">@(item.AcountNo.Length >= 9 ? string.Concat("".PadLeft(7, '*'), item.AcountNo.Substring(item.AcountNo.Length - 2)) : item.AcountNo)</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Bank Account Type")<span>:</span></div> <div class="payment_info_overview_info">@item.BankAccountType</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Account Name")<span>:</span></div> <div class="payment_info_overview_info">@item.AccountName</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Echeck Type")<span>:</span></div> <div class="payment_info_overview_info">@item.EcheckType</div></div>
                                <div><div class="payment_info_overview_header">@Localize.T("Bank Name")<span>:</span></div> <div class="payment_info_overview_info">@item.BankName</div></div>
                            </div>
                        }
                    }
                    count = count + 1;
                }
            }
        }
    </div>
</div>
