@{
    Layout = null;
}
@model HS.Entities.CustomInitialLeadPackageModel
@using Localize = HS.Web.UI.Helper.LanguageHelper
@*@Styles.Render("~/styles/LeadVerifyInfo")
@Scripts.Render("~/scripts/LeadVerifyInfo")*@
<script src="~/Content/Js/Package/PackagePartial.js"></script>
<link href="~/Content/Css/Lead/PackagePartial.css" rel="stylesheet" />
<script>
    var LeadId = '@ViewBag.CustomerIDForPackageInstall';

    $(document).ready(function () {
        var PackageInitVal = parseInt($("#PackageType").val());
        if (PackageInitVal > 0 && LeadId != null && LeadId > 0) {
            LoadPackageEquipments(PackageInitVal, LeadId);
        }
    });
</script>

<div class="lead_setup_info_container">
    <input id="step" type="hidden" value="1" />
    <div class="row margin_top_row">
            <div class="col-xs-4">
                <div class="col-sm-12">
                    <span class="text-custom">@Localize.T("Install Type")</span>
                </div>
                <div class="col-sm-12">
                    @Html.DropDownListFor(x => x.InstallType, (List<SelectListItem>)ViewBag.Install, new { @class = "form-control", id = "InstallType", datarequired = "true" })
                    @*@if (Model.CustomerSystemInfo != null)
                    {
                        @Html.DropDownListFor(x => x.CustomerSystemInfo.InstallType, (List<SelectListItem>)ViewBag.Install, new { @class = "form-control", id = "InstallType", datarequired = "true" })
                    }
                    else
                    {
                        @Html.DropDownListFor(x => x.InstallType, (List<SelectListItem>)ViewBag.Install, new { @class = "form-control", id = "InstallType", datarequired = "true" })
                    }*@
                    @*<label class="label hidden red absolute" rel="InstallType">Localize.T("Please enter Install Type"). </label>*@
                </div>
            </div>
            <div class="col-xs-4">
                <div class="col-sm-12">
                    <span class="text-custom">@Localize.T("System Type")</span>
                </div>
                <div class="col-sm-12">
                    @Html.DropDownListFor(x => x.PackageSystemType, (List<SelectListItem>)ViewBag.PackageSystemList, new { @class = "form-control", id = "PackageSystemType", datarequired = "true" })
                    @*<label class="label hidden red absolute" rel="PackageSystemType">Localize.T("Please enter Package System Type"). </label>*@
                </div>
            </div>
      
       
            <div class="col-xs-4">
                <div class="col-sm-12">
                    <span class="text-custom">@Localize.T("Packages")</span>
                </div>
                <div class="col-sm-12">
                    @Html.DropDownListFor(x => x.PackageType, (List<SelectListItem>)ViewBag.PackageList, new { @class = "form-control", id = "PackageType", datarequired = "true" })
                    @*<label class="label hidden red absolute" rel="PackageType">Localize.T("Please enter Package Type"). </label>*@
                </div>
            </div>
            @*<div class="col-xs-6">
                <div class="col-sm-12">
                    <span class="text-custom">@Localize.T("MMRRange")</span>
                </div>
                <div class="col-sm-12">
                    @Html.TextBoxFor(x => x.ServiceType, new { @class = "form-control", placeholder = "Service Type" })
                </div>
            </div>*@
            
      
    </div>

    <div class="package-additional-features">

    </div>
</div>



