@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/PackageSettings/PackageSettingsPartial.css" rel="stylesheet" />
<script src="~/Content/Js/PackageSetup/PackageSetupPartial.js"></script>

<div class="page-wrap">
    <div class="container-fluid psp_container">
        <h3>@Localize.T("Package Settings")</h3>
        <div>
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a class="psp_menu_tab psp_device_pad" data-target="#companyPackageSettings" data-toggle="tab">@Localize.T("Package")</a></li>
                <li><a class="psp_menu_tab" data-target="#companyPackageInchudedSettings" data-toggle="tab">@Localize.T("Included Equipment")</a></li>
                <li><a class="psp_menu_tab" data-target="#companyPackageDeviceSettings" data-toggle="tab">@Localize.T("Devices")</a></li>
                <li><a class="psp_menu_tab" data-target="#companyPackageOptionalSettings" data-toggle="tab">@Localize.T("Optional Equipment")</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="companyPackageSettings">

                </div>
                <div class="tab-pane" id="companyPackageInchudedSettings">

                </div>
                <div class="tab-pane" id="companyPackageDeviceSettings">

                </div>
                <div class="tab-pane" id="companyPackageOptionalSettings">

                </div>
            </div>
        </div>
    </div>
</div>