@model HS.Entities.PaymentInfo
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/LeadVerifyInfo")
@Scripts.Render("~/scripts/LeadVerifyInfo")

<script src="~/Content/Js/NumberFormet/NumberFormat.js"></script>
@*<script src="~/Content/Js/Card/jquerymin.js"></script>*@
<script src="~/Content/Js/Card/CardValidation.js"></script>
<link href="~/Content/Css/Lead/PackagePartial.css" rel="stylesheet" />
<link href="~/Content/Css/Lead/PaymentPartial.css" rel="stylesheet" />

<script>
    var LeadIdVal = '@ViewBag.LeadSetupId'

    var CardExValidation = function () {
        var result = true;
        var CardEx = $("#CardExpireDate").val();
        var arry = CardEx.split("/");
        var num = 12;
        var n = num.toString();
        if (jQuery.inArray("0", arry[0]) !== -1) {
            var s = '0';
            var currentmonth = s + (new Date().getMonth() + 1).toString();
        }
        else {
            var currentmonth = (new Date().getMonth() + 1).toString();
        }
        if (arry[0] > n) {
            result = false;
        }
        else {
            if (arry[1] < new Date().getFullYear().toString().substr(-2)) {
                result = false;
            }
            else if (arry[1] == new Date().getFullYear().toString().substr(-2)) {

                if (arry[0] < currentmonth) {
                    result = false;
                }
                else if (arry[0] == currentmonth) {
                    result = true;
                }
                else {
                    result = true;
                }
            }
        }
        return result;
    }
    var IsValidCreditCard = function () {
        var result = $('#CardNumber').validateCreditCard();
        return result.valid;
    }
    var InitialViewLoad = function () {
        var PaymentMethod = $("#BillMethod").val();
        if (PaymentMethod == '-1') {
            NoItemSelect();
        }
        if (PaymentMethod == 'ACH') {
            ACHViewShow();
        }
        if (PaymentMethod == 'EFT') {
            EFTViewShow();
        }       
        if (PaymentMethod == 'Cash') {
            CashViewShow();
        }
        if (PaymentMethod == 'Check') {
            CheckViewShow();
        }
        if (PaymentMethod == 'Credit Card') {
            CreditCardViewShow();
        }
        if (PaymentMethod == 'Debit Card') {
            DebitCardViewShow();
        }
        if (PaymentMethod == 'Invoice') {
            InvoiceViewShow();
        }
    }
    var NoItemSelect = function () {
        $("#EFTForm").hide();
        $("#ACHForm").hide();
        $("#CashForm").hide();
        $("#CheckForm").hide();
        $("#CreditForm").hide();
        $("#DebitForm").hide();
        $("#InvoiceForm").hide();
    }
    var ACHViewShow = function () {
        $("#EFTForm").hide();
        $("#ACHForm").show();
        $("#CashForm").hide();
        $("#CheckForm").hide();
        $("#CreditForm").hide();
        $("#DebitForm").hide();
        $("#InvoiceForm").hide();
    }
    var EFTViewShow = function () {
        $("#EFTForm").show();
        $("#ACHForm").hide();
        $("#CashForm").hide();
        $("#CheckForm").hide();
        $("#CreditForm").hide();
        $("#DebitForm").hide();
        $("#InvoiceForm").hide();
    }
    var CashViewShow = function () {
        $("#EFTForm").hide();
        $("#ACHForm").hide();
        $("#CashForm").show();
        $("#CheckForm").hide();
        $("#CreditForm").hide();
        $("#DebitForm").hide();
        $("#InvoiceForm").hide();
    }   
    var CheckViewShow = function () {
        $("#EFTForm").hide();
        $("#ACHForm").hide();
        $("#CashForm").hide();
        $("#CheckForm").show();
        $("#CreditForm").hide();
        $("#DebitForm").hide();
        $("#InvoiceForm").hide();
    }   
    var CreditCardViewShow = function () {
        $("#EFTForm").hide();
        $("#ACHForm").hide();
        $("#CashForm").hide();
        $("#CheckForm").hide();
        $("#CreditForm").show();
        $("#DebitForm").hide();
        $("#InvoiceForm").hide();
    }
    var DebitCardViewShow = function () {
        $("#EFTForm").hide();
        $("#ACHForm").hide();
        $("#CashForm").hide();
        $("#CheckForm").hide();
        $("#CreditForm").hide();
        $("#DebitForm").show();
        $("#InvoiceForm").hide();
    }
    var InvoiceViewShow = function () {
        $("#EFTForm").hide();
        $("#ACHForm").hide();
        $("#CashForm").hide();
        $("#CheckForm").hide();
        $("#CreditForm").hide();
        $("#DebitForm").hide();
        $("#InvoiceForm").show();
    }

    $(document).ready(function () {
        InitialViewLoad();
        $("#CardExpireDate").blur(function () {
            var resultCheck = CardExValidation();

            if (resultCheck) {
                $("#CardExpireError").addClass("hidden");
            }
            else {
                $("#CardExpireError").removeClass("hidden");
            }
        }); 
        $("#BillMethod").change(function () {

            var PaymentMethod = $("#BillMethod").val();
            if (PaymentMethod == '-1') {
                NoItemSelect();
            }
            if (PaymentMethod == 'ACH') {
                ACHViewShow();
            }
            if (PaymentMethod == 'EFT') {
                EFTViewShow();
            }
            if (PaymentMethod == 'Cash') {
                CashViewShow();
            }
            if (PaymentMethod == 'Check') {
                CheckViewShow();
            }
            if (PaymentMethod == 'Credit Card') {
                CreditCardViewShow();
            }
            if (PaymentMethod == 'Debit Card') {
                DebitCardViewShow();
            }
            if (PaymentMethod == 'Invoice') {
                InvoiceViewShow();
            }
        });
        $("#CardNumber").blur(function () {
            var resultCheck = IsValidCreditCard();
            if (resultCheck) {
                $("#CardNumberError").addClass("hidden");
            }
            else {
                $("#CardNumberError").removeClass("hidden");
            }
        });
        $("#Credittest1").change(function () {
            var Creditval = $("#Credittest1").val();
            $("#CardType").val(Creditval);
        });
        $("#Credittest2").change(function () {
            var Creditval1 = $("#Credittest2").val();
            $("#CardType").val(Creditval1);
        });
        $("#Credittest3").change(function () {
            var Creditval2 = $("#Credittest3").val();
            $("#CardType").val(Creditval2);
        });
        $("#Debittest1").change(function () {
            var Debitval = $("#Debittest1").val();
            $(".DebitType").val(Debitval);
        });
        $("#Debittest2").change(function () {
            var Debitval1 = $("#Debittest2").val();
            $(".DebitType").val(Debitval1);
        });
        $("#Debittest3").change(function () {
            var Debitval2 = $("#Debittest3").val();
            $(".DebitType").val(Debitval2);
        });
    })
</script>
<div class="CustomerDetailLayout">
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.PaymentCustomerId)
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <label>@Localize.T("Billing Method")</label>
            </div>

            <div class="col-sm-12">
                @Html.DropDownListFor(x => x.BillMethod, (List<SelectListItem>)ViewBag.BillingMethod, new { @class = "form-control", datarequired = "true", id = "BillMethod" })
                <label class="label hidden red absolute" rel="BillMethod">*@Localize.T("Please select Payment"). </label>
            </div>
        </div>
    </div>
    <div class="PaymentDisplay">
        <div class="hidden">

        </div>

        <div id="EFTForm">
            <fieldset class="payment_info_field">
                <legend class="payment_info_legend">@Localize.T("EFT")</legend>
                <div class="LoadEFT">
                    <div class="row">
                        <div class="col-md-3 payment_text">
                            <span class="text-custom">@Localize.T("Routing No") </span>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.RoutingNo, new { @class = "form-control", id = "RoutingNo", datarequired = "true" })
                        </div>
                    </div>

                    <div class="row margin_top_row">
                        <div class="col-md-3 payment_text">
                            <span class="text-custom">@Localize.T("Account No") </span>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.AcountNo, new { @class = "form-control", id = "AcountNo", datarequired = "true" })
                        </div>
                    </div>
                    <div class="row margin_top_row">
                        <div class="col-md-3 payment_text">
                            <span class="text-custom">@Localize.T("Bank Acc Type") </span>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.BankAccountType, new { @class = "form-control", id = "BankAccountType", datarequired = "true" })
                        </div>
                    </div>
                    <div class="row margin_top_row">
                        <div class="col-md-3 payment_text">
                            <span class="text-custom">@Localize.T("Account Name") </span>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.AccountName, new { @class = "form-control", id = "AccountName", datarequired = "true" })
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>

        <div id="ACHForm">
            <fieldset class="payment_info_field">
                <legend class="payment_info_legend">@Localize.T("ACH")</legend>
                <div class="LoadACH">
                    <div class="row">
                        <div class="col-md-3 payment_text">
                            <span class="text-custom">@Localize.T("Routing No") </span>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.RoutingNo, new { @class = "form-control", id = "AchRouting", datarequired = "true" })
                        </div>
                    </div>

                    <div class="row margin_top_row">
                        <div class="col-md-3 payment_text">
                            <span class="text-custom">@Localize.T("Account No") </span>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.AcountNo, new { @class = "form-control", id = "AchAcountNo", datarequired = "true" })
                        </div>
                    </div>
                    <div class="row margin_top_row">
                        <div class="col-md-3 payment_text">
                            <span class="text-custom">@Localize.T("Bank Acc Type") </span>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.BankAccountType, new { @class = "form-control", id = "AchBankAccountType", datarequired = "true" })
                        </div>
                    </div>
                    <div class="row margin_top_row">
                        <div class="col-md-3 payment_text">
                            <span class="text-custom">@Localize.T("Account Name") </span>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.AccountName, new { @class = "form-control", id = "AchAccountName", datarequired = "true" })
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>

        <div id="CashForm">

        </div>

        <div id="CheckForm">
            <fieldset class="payment_info_field">
                <legend class="payment_info_legend">@Localize.T("Check")</legend>
                <div class="row margin_top_row">
                    <div class="col-md-3 payment_text">
                        <span class="text-custom">@Localize.T("Check No.") </span>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.CheckNo, new { @class = "form-control", id = "CheckNo", datarequired = "true" })
                        <label class="label hidden red absolute" id="CardNumberError">*@Localize.T("Please enter Valid No."). </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div id="CreditForm">
            <fieldset class="payment_info_field">
                <legend class="payment_info_legend">@Localize.T("Credit Card")</legend>
                <div class="row">
                    <div class="col-sm-4 pading_none">
                        <input type="radio" id="Credittest1" name="radio-group" value="Master Card">
                        <label for="Credittest1"><img class="payment-icon-image" src="~/Content/img/mastercard.png" /></label>
                    </div>

                    <div class="col-sm-4 pading_none">
                        <input type="radio" id="Credittest2" name="radio-group" value="Visa Card">
                        <label for="Credittest2"><img class="payment-icon-image" src="~/Content/img/visa.png" /></label>
                    </div>
                    <div class="col-sm-4 pading_none">
                        <input type="radio" id="Credittest3" name="radio-group" value="AmericanExpress">
                        <label for="Credittest3"><img class="payment-icon-image" src="~/Content/img/AmericanExpress.png" /></label>
                    </div>

                </div>
                <div class="row margin_top_row">
                    <div class="col-md-3 payment_text">
                        <span class="text-custom">@Localize.T("Card Type") </span>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.CardType, new { @class = "form-control", id = "CardType", datarequired = "true" })

                        <label class="label hidden red absolute" id="CardNumberError">*@Localize.T("Please enter Valid No."). </label>
                    </div>
                </div>
                <div class="row margin_top_row">
                    <div class="col-md-3 payment_text">
                        <span class="text-custom">@Localize.T("Card Number") </span>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.CardNumber, new { @class = "form-control input-card-format", id = "CardNumber", placeholder = "xxxx-xxxx-xxxx-xxxx", dataformat = "card", datarequired = "true", maxlength = "19" })

                        <label class="label hidden red absolute" id="CardNumberError">*@Localize.T("Please enter Valid No."). </label>
                    </div>
                </div>
                <div class="row margin_top_row">
                    <div class="col-md-3 payment_text">
                        <span class="text-custom">@Localize.T("Expiration Date") </span>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.CardExpireDate, new { @class = "form-control ", id = "CardExpireDate", placeholder = "MM/YY", dataformat = "cardex", datarequired = "true" })
                        <label class="label hidden red absolute" id="CardExpireError">*@Localize.T("Please enter Valid Date."). </label>
                    </div>
                </div>
                <div class="row margin_top_row">
                    <div class="col-md-3 payment_text">
                        <span class="text-custom">@Localize.T("Secuity Code") </span>
                    </div>
                    <div class="col-md-9">
                        @Html.PasswordFor(x => x.CardSecurityCode, new { @class = "form-control", id = "CardSecurityCode", dataformat = "security", datarequired = "true" })
                        <label class="label hidden red absolute" rel="CardSecurityCode">*@Localize.T("Please enter Security Code."). </label>
                    </div>
                </div>
                <div class="row margin_top_row">
                    <div class="col-md-3 payment_text">
                        <span class="text-custom">@Localize.T("Card Name") </span>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.AccountName, new { @class = "form-control", id = "CreditAccountName", datarequired = "true" })
                    </div>
                </div>
            </fieldset>
        </div>

        <div id="DebitForm">
            <fieldset class="payment_info_field">
                <legend class="payment_info_legend">@Localize.T("Debit Card")</legend>
                <div class="row">
                    <div class="col-sm-4 pading_none">
                        <input type="radio" id="Debittest1" name="radio-group" value="Master Card">
                        <label for="Debittest1"><img class="payment-icon-image" src="~/Content/img/mastercard.png" /></label>
                    </div>

                    <div class="col-sm-4 pading_none">
                        <input type="radio" id="Debittest2" name="radio-group" value="Visa Card">
                        <label for="Debittest2"><img class="payment-icon-image" src="~/Content/img/visa.png" /></label>
                    </div>
                    <div class="col-sm-4 pading_none">
                        <input type="radio" id="Debittest3" name="radio-group" value="Paypal">
                        <label for="Debittest3"><img class="payment-icon-image" src="~/Content/img/paypal.png" /></label>
                    </div>

                </div>
                <div class="row margin_top_row">
                    <div class="col-md-3 payment_text">
                        <span class="text-custom">@Localize.T("Card Type") </span>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.CardType, new { @class = "form-control DebitType", id = "DebitCardType", datarequired = "true" })

                        <label class="label hidden red absolute" id="CardNumberError">*@Localize.T("Please enter Valid No."). </label>
                    </div>
                </div>
                <div class="row margin_top_row">
                    <div class="col-md-3 payment_text">
                        <span class="text-custom">@Localize.T("Card Number") </span>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.CardNumber, new { @class = "form-control input-card-format", id = "DebitCardNo", placeholder = "xxxx-xxxx-xxxx-xxxx", dataformat = "card", datarequired = "true", maxlength = "19" })

                        <label class="label hidden red absolute" id="CardNumberError">*@Localize.T("Please enter Valid No."). </label>
                    </div>
                </div>
                <div class="row margin_top_row">
                    <div class="col-md-3 payment_text">
                        <span class="text-custom">@Localize.T("Expiration Date") </span>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.CardExpireDate, new { @class = "form-control input-cardex-format", id = "DebitExpireDate", placeholder = "MM/YY", dataformat = "cardex", datarequired = "true" })
                        <label class="label hidden red absolute" rel="CardExpireDate">*@Localize.T("Please enter Valid Date."). </label>
                    </div>
                </div>
                <div class="row margin_top_row">
                    <div class="col-md-3 payment_text">
                        <span class="text-custom">@Localize.T("Secuity Code") </span>
                    </div>
                    <div class="col-md-9">
                        @Html.PasswordFor(x => x.CardSecurityCode, new { @class = "form-control", id = "DebitSecurityCode", dataformat = "security", datarequired = "true" })
                        <label class="label hidden red absolute" rel="CardSecurityCode">*@Localize.T("Please enter Security Code."). </label>
                    </div>
                </div>
                <div class="row margin_top_row">
                    <div class="col-md-3 payment_text">
                        <span class="text-custom">@Localize.T("Card Name :") </span>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.AccountName, new { @class = "form-control", id = "DebitCardName", datarequired = "true" })
                    </div>
                </div>
            </fieldset>
        </div>

        <div id="InvoiceForm">
            <fieldset class="payment_info_field">
                <legend class="payment_info_legend">@Localize.T("Invoice")</legend>
                <div class="row margin_top_row">
                    <div class="col-md-3 payment_text">
                        <span class="text-custom">@Localize.T("Invoice No.") </span>
                    </div>
                    <div class="col-md-9">
                        @*@Html.TextBoxFor(x => x.InvoiceAccountNo, new { @class = "form-control", id = "InvoiceAccountNo", datarequired = "true" })*@
                        <label class="label hidden red absolute" id="CardNumberError">*@Localize.T("Please enter Valid No."). </label>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>
</div>



